Repository magento/magento2, pull requests merged in 2018-10, with the labels that each got.

#18168 Fixed issue with lib-line-height mixin failing when value of 'normal'…
  lib/web/css/source/lib/_typography.less
Labels: Area: Lib/Frontend, Partner: Classy Llama, Progress: accept, Release Line: 2.2, partners-contribution

#18311 [Backport] Added integration test for gift message quote merge
  dev/tests/integration/testsuite/Magento/GiftMessage/Observer/SalesEventQuoteMergeTest.php
Labels: Partner: Atwix, Progress: accept, Release Line: 2.2, partners-contribution

#17695 ConfigurableProduct show prices in select options
  app/code/Magento/ConfigurableProduct/view/frontend/web/js/configurable.js
Labels: Area: Frontend, Component: ConfigurableProduct, Progress: accept, Release Line: 2.2

#17982 add error message in else condition
  app/code/Magento/OfflineShipping/Model/Carrier/Freeshipping.php
Labels: Component: OfflineShipping, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.2, partners-contribution

#18354 Fix for parsing attribute options labels, when & used.
  app/code/Magento/Catalog/Controller/Adminhtml/Product/Attribute/Save.php
Labels: Component: Catalog, Progress: accept, Release Line: 2.2

#18149 type casted $qty to float in \Magento\Catalog\Model\Product::setQty()
  app/code/Magento/Catalog/Model/Product.php
Labels: Component: Catalog, Progress: accept, Release Line: 2.3

#18173 Use version_compare to compare version strings correctly
  lib/internal/Magento/Framework/Module/Plugin/DbStatusValidator.php
  lib/internal/Magento/Framework/Test/Unit/Module/Plugin/DbStatusValidatorTest.php
Labels: Component: Framework/Module, Progress: accept, Release Line: 2.3

#18201 [Forwardport] Allow usage of config-global.php when running Integration Tests
  dev/tests/integration/framework/Magento/TestFramework/Application.php
Labels: Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#18209 Introducing a dedicated cron.log file for logging cron related info, …
  app/code/Magento/Cron/etc/di.xml
Labels: Component: Cron, Progress: accept, Release Line: 2.3

#18212 Allow keyboard navigation in browser on product detail pages, by fixi…
  lib/web/fotorama/fotorama.js
  lib/web/fotorama/fotorama.min.js
Labels: Area: Lib/Frontend, Progress: accept, Release Line: 2.3

#18228 [Forwardport] Fix sitemap grid render incorrect base urls for multiple stores
  app/code/Magento/Sitemap/Block/Adminhtml/Grid/Renderer/Link.php
Labels: Component: Sitemap, Partner: Balance Internet, Progress: accept, Release Line: 2.3, partners-contribution

#18231 [Forwardport] Update shipment collection to unserialize `packages` attribute after load
  app/code/Magento/Sales/Model/ResourceModel/Order/Shipment/Collection.php
Labels: Component: Sales, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#18244 Don't set a source model on the attribute when it's not needed. This …
  app/code/Magento/Eav/Model/Entity/Attribute/AbstractAttribute.php
Labels: Component: Eav, Progress: accept, Release Line: 2.3

#18272 [Forwardport] 9830 - Null order in Magento\Sales\Block\Order\PrintShipment.php
  app/code/Magento/Sales/view/frontend/layout/sales_order_print.xml
Labels: Area: Frontend, Component: Sales, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#18288 Fix issue 17152 - prevent email being marked as not sent if email cop…
  app/code/Magento/Sales/Model/Order/Email/Sender.php
Labels: Component: Sales, Event: mm18hr, Progress: accept, Release Line: 2.3

#18290 Fix wrong reference in google analytics module layout xml
  app/code/Magento/GoogleAnalytics/view/frontend/layout/default.xml
Labels: Area: Frontend, Award: bug fix, Component: GoogleAnalytics, Event: mm18hr, Progress: accept, Release Line: 2.3

#18292 Do not use new Phrase in Link Current class
  dev/tests/static/testsuite/Magento/Test/Integrity/Library/DependencyTest.php
  lib/internal/Magento/Framework/View/Element/Html/Link/Current.php
Labels: Component: Framework/View, Progress: accept, Release Line: 2.3

#18295 [Forwardport] fix #17582 ./bin/magento config:show fails with a fatal error
  app/code/Magento/Config/Console/Command/ConfigShow/ValueProcessor.php
Labels: Component: Config, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#18303 [Forwardport] Cast products getStoreId() to int
  app/code/Magento/Catalog/Model/Category.php
  app/code/Magento/Catalog/Model/Product.php
Labels: Component: Catalog, Progress: accept, Release Line: 2.3

#18312 [Forwardport] fix: reset search mini-form when we have no data / an empty response
  app/code/Magento/Search/view/frontend/web/js/form-mini.js
Labels: Area: Frontend, Component: Search, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#18322 Fix for removing the dirs while creating a TAR archive
  lib/internal/Magento/Framework/Archive/Tar.php
Labels: Component: Framework/Archive, Progress: accept, Release Line: 2.3

#18331 Fix throwing error by checkout error processor model
  app/code/Magento/Checkout/view/frontend/web/js/model/error-processor.js
Labels: Area: Frontend, Component: Checkout, Progress: accept, Release Line: 2.3

#18334 [Forwardport] Integration test for swatches types in attribute configuration added
  dev/tests/integration/testsuite/Magento/Swatches/Observer/AddSwatchAttributeTypeObserverTest.php
Labels: Progress: accept, Release Line: 2.3

#18376 Backport 2.2 - Fix issue 17152 - prevent email being marked as not se…
  app/code/Magento/Sales/Model/Order/Email/Sender.php
Labels: Component: Sales, Progress: accept, Release Line: 2.2

#18391 Backport 2.2 - Allow keyboard navigation in browser on product detail…
  lib/web/fotorama/fotorama.js
  lib/web/fotorama/fotorama.min.js
Labels: Area: Lib/Frontend, Progress: accept, Release Line: 2.2

#18400 Admin Login Form > Aliging Label
  app/design/adminhtml/Magento/backend/web/css/source/forms/_extends.less
Labels: Area: Design/Frontend, Partner: Imagination Media, Progress: accept, Release Line: 2.2, partners-contribution

#18415 [Backport] Added unit test for CRON converter plugin
  app/code/Magento/Cron/Test/Unit/Model/System/Config/Initial/ConverterTest.php
Labels: Component: Cron, Partner: Atwix, Progress: accept, Release Line: 2.2, partners-contribution

#18428 [Backport] small misspelling fixed
  app/code/Magento/InstantPurchase/Model/ShippingMethodChoose/CarrierFinder.php
Labels: Component: InstantPurchase, Event: squashtoberfest, Partner: Experius, Progress: accept, Release Line: 2.2, partners-contribution

#18429 [Backport] Fix documentation grammar errors and typos in actions.js
  app/code/Magento/Ui/view/base/web/js/grid/columns/actions.js
Labels: Area: Frontend, Cleanup, Component: Ui, Event: squashtoberfest, Partner: Experius, Progress: accept, Release Line: 2.2, partners-contribution

#18430 [Backport] Fix documentation typos in registry.js
  app/code/Magento/Ui/view/base/web/js/lib/registry/registry.js
Labels: Area: Frontend, Component: Ui, Event: squashtoberfest, Partner: Experius, Progress: accept, Release Line: 2.2, partners-contribution

#18433 [Backport] Improve code quality subscriber new action
  app/code/Magento/Newsletter/Controller/Subscriber/NewAction.php
Labels: Component: Newsletter, Event: squashtoberfest, Partner: Experius, Progress: accept, Release Line: 2.2, partners-contribution

#18166 Fix table rate failing for zip+4 address #17770
  app/code/Magento/OfflineShipping/Model/ResourceModel/Carrier/Tablerate/RateQuery.php
Labels: Component: OfflineShipping, Progress: accept, Release Line: 2.2

#18175 Fix category tree in cart price rule #17493
  app/code/Magento/Catalog/view/adminhtml/web/js/category-checkbox-tree.js
  app/code/Magento/CatalogRule/Controller/Adminhtml/Promo/Widget/CategoriesJson.php
Labels: Area: Frontend, Component: Catalog, Component: CatalogRule, Progress: accept, Release Line: 2.2

#18389 Backport 2.2 - Introducing a dedicated cron.log file for logging cron…
  app/code/Magento/Cron/etc/di.xml
Labels: Component: Cron, Progress: accept, Release Line: 2.2

#18390 Backport 2.2 - Don't set a source model on the attribute when it's no…
  app/code/Magento/Eav/Model/Entity/Attribute/AbstractAttribute.php
Labels: Component: Eav, Progress: accept, Release Line: 2.2

#18403 Fix setup wizard page logo
  setup/view/magento/setup/navigation/side-menu.phtml
Labels: Component: Setup, Partner: Imagination Media, Progress: accept, Release Line: 2.2, partners-contribution

#18422 [BACKPORT] Replace sort callbacks to spaceship operator
  app/code/Magento/Backend/Block/Widget/Button/ButtonList.php
  app/code/Magento/Bundle/Model/Product/Type.php
  app/code/Magento/Config/Model/Config/Structure/Mapper/Sorting.php
  app/code/Magento/Deploy/Model/DeploymentConfig/ImporterPool.php
  app/code/Magento/Paypal/Model/Express/Checkout.php
  app/code/Magento/Sales/Block/Adminhtml/Order/View/Tab/History.php
  app/code/Magento/Sales/Model/Order/Pdf/AbstractPdf.php
  app/code/Magento/Ui/DataProvider/Modifier/Pool.php
  dev/tests/functional/tests/app/Magento/Downloadable/Test/Constraint/AssertDownloadableDuplicateForm.php
Labels: Component: Backend, Component: Bundle, Component: Config, Component: Deploy, Component: Paypal, Component: Sales, Component: Ui, Event: squashtoberfest, Partner: Experius, Progress: accept, Release Line: 2.2, partners-contribution

#18427 [Backport] Fix wrong return type in StockRegistryInterface API
  app/code/Magento/CatalogInventory/Api/StockRegistryInterface.php
Labels: Component: CatalogInventory, Event: squashtoberfest, Partner: Experius, Progress: accept, Release Line: 2.2, partners-contribution

#15683 Added checks to see if the payment is available
  app/code/Magento/Payment/Observer/SalesOrderBeforeSaveObserver.php
  app/code/Magento/Payment/Test/Unit/Observer/SalesOrderBeforeSaveObserverTest.php
  app/code/Magento/Paypal/Plugin/OrderCanInvoice.php
Labels: Component: Payment, Component: Paypal, Progress: accept, Release Line: 2.2

#17803 Make report bugs link optional
  app/code/Magento/Theme/etc/config.xml
  app/code/Magento/Theme/etc/di.xml
  app/code/Magento/Theme/i18n/en_US.csv
  app/code/Magento/Theme/view/adminhtml/ui_component/design_config_form.xml
  app/code/Magento/Theme/view/frontend/layout/default.xml
Labels: Area: Frontend, Component: Theme, Partner: MediaCT, Progress: accept, Release Line: 2.3, partners-contribution

#18204 [Forwardport] Fix currency symbol setting back to default #17567
  app/code/Magento/CurrencySymbol/Model/System/Currencysymbol.php
  app/code/Magento/CurrencySymbol/view/adminhtml/templates/grid.phtml
  app/design/adminhtml/Magento/backend/web/css/source/forms/_fields.less
Labels: Area: Design/Frontend, Area: Frontend, Component: CurrencySymbol, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#18221 Empty option label should always be a space even if attribute is required
  app/code/Magento/Eav/Model/Entity/Attribute/Source/Table.php
Labels: Component: Eav, Progress: accept, Release Line: 2.3

#18257 [Forwardport] Module Catalog: fix issue with custom option price conversion for different base currency on website level
  app/code/Magento/Catalog/Model/ResourceModel/Product/Option/Value.php
Labels: Component: Catalog, Progress: accept, Release Line: 2.3

#18271 Update CategoryProcessor.php
  app/code/Magento/CatalogImportExport/Model/Import/Product/CategoryProcessor.php
Labels: Component: CatalogImportExport, Progress: accept, Release Line: 2.3

#18394 [Forwardport] Fixed issue with lib-line-height mixin failing when value of 'normal'…
  lib/web/css/source/lib/_typography.less
Labels: Area: Lib/Frontend, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#18404 [Forwardport] Implemented 17964: Backend Order creation Authorizenet: If invalid cr…
  app/code/Magento/Sales/view/adminhtml/web/order/create/scripts.js
Labels: Area: Frontend, Component: Sales, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#18405 [2.3] Admin Grid column ordering/positioning not working when single store mode set On
  app/code/Magento/Ui/view/base/web/js/core/renderer/layout.js
Labels: Area: Frontend, Component: Ui, Progress: accept, Release Line: 2.3

#18434 [FORWARDPORT] [FEATURE] [issue-3283] Added Filter Support for Yes/No
  app/code/Magento/Catalog/Model/ResourceModel/Eav/Attribute.php
  app/code/Magento/Catalog/Model/ResourceModel/Product/Indexer/Eav/Source.php
  app/code/Magento/Catalog/view/adminhtml/templates/catalog/product/attribute/js.phtml
  app/code/Magento/LayeredNavigation/Observer/Edit/Tab/Front/ProductAttributeFormBuildFrontTabObserver.php
  app/code/Magento/LayeredNavigation/view/adminhtml/ui_component/product_attribute_add_form.xml
  app/code/Magento/Swatches/view/adminhtml/web/js/product-attributes.js
Labels: Area: Frontend, Component: Catalog, Component: LayeredNavigation, Component: Swatches, Event: squashtoberfest, Partner: Experius, Progress: accept, Release Line: 2.3, partners-contribution

#18439 Use SVG badge
  README.md
Labels: Progress: accept, Release Line: 2.3

#18481 Added validation on maximum quantity allowed in shopping cart
  app/code/Magento/CatalogInventory/view/adminhtml/ui_component/product_form.xml
Labels: Area: Frontend, Component: CatalogInventory, Progress: accept, Release Line: 2.3

#18490 [Sales] Covering the AssignOrderToCustomerObserver by Unit Test
  app/code/Magento/Sales/Test/Unit/Observer/AssignOrderToCustomerObserverTest.php
Labels: Component: Sales, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#18498 [Forwardport] Fix setup wizard page logo
  setup/view/magento/setup/navigation/side-menu.phtml
Labels: Component: Setup, Progress: accept, Release Line: 2.3

#18499 [Forwardport] Fix table rate failing for zip+4 address #17770
  app/code/Magento/OfflineShipping/Model/ResourceModel/Carrier/Tablerate/RateQuery.php
Labels: Component: OfflineShipping, Progress: accept, Release Line: 2.3

#18500 [Forwardport] Fix category tree in cart price rule #17493
  app/code/Magento/Catalog/view/adminhtml/web/js/category-checkbox-tree.js
  app/code/Magento/CatalogRule/Controller/Adminhtml/Promo/Widget/CategoriesJson.php
Labels: Area: Frontend, Component: Catalog, Component: CatalogRule, Progress: accept, Release Line: 2.3

#18505 Fixed typo from filed to field
  app/code/Magento/Catalog/Model/ResourceModel/Category.php
Labels: Component: Catalog, Progress: accept, Release Line: 2.3

#18506 Added missing throw tag for exception to docblock of construct
  app/code/Magento/OfflineShipping/Model/Carrier/Tablerate.php
Labels: Component: OfflineShipping, Progress: accept, Release Line: 2.3

#17968 Fix Customer custom attributes lost after save
  app/code/Magento/Customer/Model/Address.php
  app/code/Magento/Customer/Model/Customer.php
  app/code/Magento/Customer/Model/ResourceModel/CustomerRepository.php
  app/code/Magento/Customer/Test/Unit/Model/CustomerTest.php
  app/code/Magento/Customer/Test/Unit/Model/ResourceModel/CustomerRepositoryTest.php
Labels: Component: Customer, Partner: The Site Up, Progress: accept, Release Line: 2.2, partners-contribution

#18196 Fix for custom product attribute changing 'backend_type' when 'is_user_defined = 1' and get updated/saved in Admin Backend
  app/code/Magento/Catalog/Controller/Adminhtml/Product/Attribute/Save.php
Labels: Component: Catalog, Progress: accept, Release Line: 2.2

#18495 [Backport] Checkout - Fix "Cannot read property 'code' on undefined" issue
  app/code/Magento/Checkout/view/frontend/web/js/view/progress-bar.js
Labels: Area: Frontend, Component: Checkout, Progress: accept, Release Line: 2.2

#18552 [Backport] Added validation on maximum quantity allowed in shopping cart
  app/code/Magento/CatalogInventory/view/adminhtml/ui_component/product_form.xml
Labels: Area: Frontend, Component: CatalogInventory, Progress: accept, Release Line: 2.2

#18556 [Backport] Fixed typo from filed to field
  app/code/Magento/Catalog/Model/ResourceModel/Category.php
Labels: Component: Catalog, Progress: accept, Release Line: 2.2

#18559 [Backport] Covering the AssignOrderToCustomerObserver by Unit Test
  app/code/Magento/Sales/Test/Unit/Observer/AssignOrderToCustomerObserverTest.php
Labels: Component: Sales, Progress: accept, Release Line: 2.2

#18564 [Backport] Empty option Label should always be blank even if attribute is required
  app/code/Magento/Eav/Model/Entity/Attribute/Source/Table.php
Labels: Component: Eav, Progress: accept, Release Line: 2.2

#18160 Fix of saving "clone_field" fields
  app/code/Magento/Config/Model/Config.php
Labels: Component: Config, Progress: accept, Release Line: 2.3

#18370 [Forwardport] ConfigurableProduct show prices in select options
  app/code/Magento/ConfigurableProduct/view/frontend/web/js/configurable.js
Labels: Area: Frontend, Component: ConfigurableProduct, Progress: accept, Release Line: 2.3

#18393 Fix for #12969 - server port detection for errors
  pub/errors/processor.php
Labels: Progress: accept, Release Line: 2.3

#18437 MAGENTO-18131: Fixed EAV attributes values query
  app/code/Magento/Eav/Model/Entity/Collection/AbstractCollection.php
Labels: Component: Eav, Event: Munich CD 2018, Progress: accept, Release Line: 2.3

#18476 Fix Typo in Data\Form\Element\Factory.php
  lib/internal/Magento/Framework/Data/Form/Element/Factory.php
Labels: Component: Framework/Data, Progress: accept, Release Line: 2.3

#18494 Checkout - Fix "Cannot read property 'code' on undefined" issue
  app/code/Magento/Checkout/view/frontend/web/js/view/progress-bar.js
Labels: Area: Frontend, Component: Checkout, Progress: accept, Release Line: 2.3

#18507 [Forwardport] add error message in else condition
  app/code/Magento/OfflineShipping/Model/Carrier/Freeshipping.php
Labels: Component: OfflineShipping, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#18538 [Forwardport] Admin > Footer > Aligning Proportionally
  app/design/adminhtml/Magento/backend/Magento_Backend/web/css/source/module/_footer.less
Labels: Area: Design/Frontend, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#18540 Fixed typo from heght to height for image validation rule
  app/code/Magento/Customer/Model/Metadata/Form/Image.php
  app/code/Magento/Customer/Test/Unit/Model/Metadata/Form/ImageTest.php
  app/code/Magento/Eav/Model/Attribute/Data/Image.php
  app/code/Magento/Eav/Test/Unit/Model/Attribute/Data/ImageTest.php
Labels: Component: Customer, Component: Eav, Progress: accept, Release Line: 2.3

#18561 [2.2] added component status based filtering
  app/code/Magento/Ui/view/base/web/js/core/renderer/layout.js
Labels: Area: Frontend, Component: Ui, Progress: accept, Release Line: 2.2

#18569 [Backport] Make it possible to disable report bugs link
  app/code/Magento/Theme/etc/config.xml
  app/code/Magento/Theme/etc/di.xml
  app/code/Magento/Theme/i18n/en_US.csv
  app/code/Magento/Theme/view/adminhtml/ui_component/design_config_form.xml
  app/code/Magento/Theme/view/frontend/layout/default.xml
Labels: Area: Frontend, Component: Theme, Progress: accept, Release Line: 2.2

#18586 [Backport] Added missing throw tag for exception to docblock of construct
  app/code/Magento/OfflineShipping/Model/Carrier/Tablerate.php
Labels: Component: OfflineShipping, Partner: Atwix, Progress: accept, Release Line: 2.2, partners-contribution

#18593 Calendar icon in advance pricing alignment solved
  app/design/adminhtml/Magento/backend/web/css/source/components/_calendar-temp.less
Labels: Area: Design/Frontend, Progress: accept, Release Line: 2.2

#18659 [Backport] Fix for #12969 - server port detection for errors
  pub/errors/processor.php
Labels: Progress: accept, Release Line: 2.2

#18563 [Backport] Update CategoryProcessor.php
  app/code/Magento/CatalogImportExport/Model/Import/Product/CategoryProcessor.php
Labels: Component: CatalogImportExport, Progress: accept, Release Line: 2.2

#18566 Module Catalog URL Rewrite: fix issue with product URL Rewrites re-generation after changing product URL Key for product with existing url_path attribute value
  app/code/Magento/CatalogUrlRewrite/Observer/ProductProcessUrlRewriteSavingObserver.php
Labels: Component: CatalogUrlRewrite, Progress: accept, Release Line: 2.2

#18658 [Backport] MAGENTO-18131: Fixed EAV attributes values query
  app/code/Magento/Eav/Model/Entity/Collection/AbstractCollection.php
Labels: Component: Eav, Progress: accept, Release Line: 2.2

#18670 Remove unnecessary class import, see #18280
  app/code/Magento/Customer/Model/GroupManagement.php
Labels: Component: Customer, Progress: accept, Release Line: 2.2

#18546 Backend: add missing unit test for ModuleService class
  app/code/Magento/Backend/Test/Unit/Service/V1/ModuleServiceTest.php
Labels: Component: Backend, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#18570 [Forwardport] Fix for custom product attribute changing 'backend_type' when 'is_use…
  app/code/Magento/Catalog/Controller/Adminhtml/Product/Attribute/Save.php
Labels: Component: Catalog, Progress: accept, Release Line: 2.3

#18571 [Forwardport] Fix Customer custom attributes lost after save
  app/code/Magento/Customer/Model/Address.php
  app/code/Magento/Customer/Model/Customer.php
  app/code/Magento/Customer/Model/ResourceModel/CustomerRepository.php
  app/code/Magento/Customer/Test/Unit/Model/CustomerTest.php
  app/code/Magento/Customer/Test/Unit/Model/ResourceModel/CustomerRepositoryTest.php
Labels: Component: Customer, Progress: accept, Release Line: 2.3

#18573 Update documentation for Order#getAppliedRuleIds
  app/code/Magento/Sales/Api/Data/OrderInterface.php
  app/code/Magento/Sales/Api/Data/OrderItemInterface.php
  app/code/Magento/Sales/Model/Order.php
  app/code/Magento/Sales/Model/Order/Item.php
Labels: Component: Sales, Progress: accept, Release Line: 2.3

#18596 Fix empty cart button
  app/code/Magento/Checkout/view/frontend/templates/cart/form.phtml
Labels: Area: Frontend, Component: Checkout, Progress: accept, Release Line: 2.3

#18600 Fix the typo in PHPDoc comment
  app/code/Magento/Backend/Model/Config/SessionLifetime/BackendModel.php
Labels: Component: Backend, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#18608 Replace intval() function by using direct type casting to (int)
  app/code/Magento/Catalog/Block/Adminhtml/Product/Attribute/Set/Main/Formgroup.php
  app/code/Magento/Catalog/Model/ProductLink/CollectionProvider.php
  app/code/Magento/CatalogImportExport/Model/Export/Product.php
  app/code/Magento/Config/Model/Config/Backend/Currency/Cron.php
  app/code/Magento/Config/Model/Config/Backend/Log/Cron.php
  app/code/Magento/Cron/Model/Config/Backend/Product/Alert.php
  app/code/Magento/Cron/Model/Config/Backend/Sitemap.php
  app/code/Magento/Customer/Block/Adminhtml/Edit/Tab/View/PersonalInfo.php
  app/code/Magento/Customer/Model/Renderer/Region.php
  app/code/Magento/Customer/Model/Visitor.php
  app/code/Magento/Directory/Block/Data.php
  app/code/Magento/Eav/Model/ResourceModel/Entity/Attribute.php
  app/code/Magento/Elasticsearch/Model/Adapter/Elasticsearch.php
  app/code/Magento/Elasticsearch/SearchAdapter/Dynamic/DataProvider.php
  app/code/Magento/GroupedProduct/Model/Product/Type/Grouped.php
  app/code/Magento/Paypal/Model/Api/AbstractApi.php
  app/code/Magento/Paypal/Model/Express.php
  app/code/Magento/Paypal/Model/Report/Settlement.php
  app/code/Magento/Persistent/Helper/Data.php
  app/code/Magento/Persistent/Model/Session.php
  app/code/Magento/Quote/Model/Quote.php
  app/code/Magento/Review/Block/Adminhtml/Rating/Detailed.php
  app/code/Magento/Review/Block/Rating/Entity/Detailed.php
  app/code/Magento/Review/Controller/Adminhtml/Product/JsonProductInfo.php
  app/code/Magento/Security/Test/Unit/Model/SecurityCookieTest.php
  app/code/Magento/Tax/Block/Adminhtml/Rate/Toolbar/Save.php
  app/code/Magento/Theme/Block/Html/Pager.php
  app/code/Magento/User/Block/Buttons.php
  app/code/Magento/User/Model/User.php
  app/code/Magento/Wishlist/Helper/Rss.php
  app/code/Magento/Wishlist/Model/ResourceModel/Item/Collection.php
Labels: Component: multiple, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#18638 [Forwardport] Calendar icon in advance pricing alignment solved
  app/design/adminhtml/Magento/backend/web/css/source/components/_calendar-temp.less
Labels: Area: Design/Frontend, Progress: accept, Release Line: 2.3

#15366 15259 : Unable to disable without providing Industry value
  app/code/Magento/Analytics/etc/adminhtml/system.xml
Labels: Component: Analytics, Event: dmcdindia, Progress: accept, Release Line: 2.2

#18424 [BACKPORT] type casted $qty to float in \Magento\Catalog\Model\Produc…
  app/code/Magento/Catalog/Model/Product.php
Labels: Component: Catalog, Event: squashtoberfest, Partner: Experius, Progress: accept, Release Line: 2.2, partners-contribution

#18660 [Backport] Fix of saving "clone_field" fields
  app/code/Magento/Config/Model/Config.php
Labels: Component: Config, Progress: accept, Release Line: 2.2

#18758 [Backport] Fix the typo in PHPDoc comment
  app/code/Magento/Backend/Model/Config/SessionLifetime/BackendModel.php
Labels: Component: Backend, Partner: Atwix, Progress: accept, Release Line: 2.2, partners-contribution

#18535 Fixed issues-18534: 2 wysiwyg on catalog category edit page
  app/code/Magento/Catalog/view/adminhtml/templates/catalog/wysiwyg/js.phtml
Labels: Area: Frontend, Component: Catalog, Progress: accept, Release Line: 2.2

#18597 [Backport] Fix empty cart button
  app/code/Magento/Checkout/view/frontend/templates/cart/form.phtml
Labels: Area: Frontend, Component: Checkout, Progress: accept, Release Line: 2.2

#18643 Fix customer unsubscribed issue
  app/code/Magento/Newsletter/Model/Subscriber.php
Labels: Component: Newsletter, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.2, partners-contribution

#18759 [Backport] Backend: add missing unit test for ModuleService class
  app/code/Magento/Backend/Test/Unit/Service/V1/ModuleServiceTest.php
Labels: Component: Backend, Partner: Atwix, Progress: accept, Release Line: 2.2, partners-contribution

#16940 Resolve incorrect scope code selection when the requested scopeCode is null
  lib/internal/Magento/Framework/App/Config/ScopeCodeResolver.php
Labels: Component: Framework/App, Progress: accept, Release Line: 2.2

#18737 [BUGFIX] GITHUB-18264 Backport of #17799 for the 2.2 branch
  app/code/Magento/Catalog/Model/ResourceModel/Product/Indexer/Price/Query/BaseFinalPrice.php
Labels: Component: Catalog, Progress: accept, Release Line: 2.2

#18019 Adding trimming sku value function to sku backend model.
  app/code/Magento/Catalog/Model/Product/Attribute/Backend/Sku.php
  app/code/Magento/Catalog/Ui/DataProvider/Product/Form/Modifier/General.php
  app/code/Magento/Ui/i18n/en_US.csv
  app/code/Magento/Ui/view/base/web/js/lib/validation/rules.js
  lib/web/i18n/en_US.csv
  lib/web/mage/validation.js
Labels: Area: Frontend, Area: Lib/Frontend, Component: Catalog, Component: Ui, Progress: accept, Release Line: 2.3

#18388 Add class into image builder
  app/code/Magento/Catalog/Block/Product/Image.php
  app/code/Magento/Catalog/Block/Product/ImageFactory.php
  app/code/Magento/Catalog/Test/Unit/Block/Product/ImageFactoryTest.php
  app/code/Magento/Catalog/view/frontend/templates/product/image_with_borders.phtml
Labels: Area: Frontend, Component: Catalog, Progress: accept, Release Line: 2.3

#18412 Fixes #18357 - SQL error when table prefix used.
  app/code/Magento/CheckoutAgreements/Model/ResourceModel/Agreement/Grid/Collection.php
Labels: Component: CheckoutAgreements, Progress: accept, Release Line: 2.3

#18611 Ensure integer values are not quoted as strings
  app/code/Magento/Catalog/Model/Api/SearchCriteria/CollectionProcessor/ConditionProcessor/ProductCategoryCondition.php
  app/code/Magento/Catalog/Model/ProductCategoryList.php
  app/code/Magento/Catalog/Model/ResourceModel/Product/Collection.php
  lib/internal/Magento/Framework/Mview/View.php
Labels: Component: Catalog, Component: Framework/Mview, Progress: accept, Release Line: 2.3

#18622 [BUGFIX] [issue-10205] Always set the entity_type_id for updating pro…
  app/code/Magento/Catalog/Model/Product/Attribute/Repository.php
Labels: Component: Catalog, Event: squashtoberfest, Partner: Experius, Progress: accept, Release Line: 2.3, partners-contribution

#18631 Reference pull request of #18604 for 2.3-develop
  app/code/Magento/Catalog/Pricing/Price/BasePrice.php
Labels: Component: Catalog, Progress: accept, Release Line: 2.3

#18639 Fix SKU limit in import new products
  app/code/Magento/CatalogImportExport/Model/Import/Product/Validator.php
Labels: Component: CatalogImportExport, Progress: accept, Release Line: 2.3

#18679 Set fallback values for email and _website columns to avoid 'undefined index' error in CustomerComposite.php
  app/code/Magento/CustomerImportExport/Model/Import/CustomerComposite.php
Labels: Component: CustomerImportExport, Progress: accept, Release Line: 2.3

#18689 ISSUE-5021 - fixed place order for custom shipping methods with under…
  app/code/Magento/Checkout/Model/PaymentInformationManagement.php
  app/code/Magento/Checkout/Test/Unit/Model/PaymentInformationManagementTest.php
Labels: Component: Checkout, Progress: accept, Release Line: 2.3

#18704 Allow set billing information via API with existing address
  app/code/Magento/Quote/Model/BillingAddressManagement.php
Labels: Component: Quote, Partner: Something Digital, Progress: accept, Release Line: 2.3, partners-contribution

#18714 Fix for Issue #4468 "Unable to insert multiple catalog product list widgets (with pager) in CMS page"
  app/code/Magento/CatalogWidget/Block/Product/ProductsList.php
Labels: Component: CatalogWidget, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#18720 Prevent exception when option text converts to false
  app/code/Magento/Eav/Model/Entity/Attribute/OptionManagement.php
Labels: Component: Eav, Partner: Something Digital, Progress: accept, Release Line: 2.3, partners-contribution

#18725 Fix Useless use of Cat
  dev/travis/before_script.sh
Labels: Progress: accept, Release Line: 2.3

#18751 Language cleanup on mass actions from the Customers grid
  app/code/Magento/Customer/i18n/en_US.csv
  app/code/Magento/Customer/view/adminhtml/ui_component/customer_listing.xml
Labels: Area: Frontend, Component: Customer, Progress: accept, Release Line: 2.3

#18756 Remove Duplicate field
  dev/tests/js/jasmine/assets/gallery/config.json
Labels: Progress: accept, Release Line: 2.3

#18764 Replace intval() function by using direct type casting to (int)
  dev/tests/api-functional/testsuite/Magento/Quote/Api/CartTotalRepositoryTest.php
  dev/tests/functional/lib/Magento/Mtf/Util/Generate/Fixture/SchemaXml.php
  dev/tests/functional/tests/app/Magento/Catalog/Test/Constraint/AssertProductDuplicateForm.php
  dev/tests/functional/tests/app/Magento/Catalog/Test/Handler/CatalogProductSimple/Curl.php
  dev/tests/functional/tests/app/Magento/ConfigurableProduct/Test/Constraint/AssertConfigurableProductDuplicateForm.php
  dev/tests/functional/tests/app/Magento/Store/Test/Handler/StoreGroup/Curl.php
  dev/tests/functional/tests/app/Magento/Store/Test/Handler/Website/Curl.php
  dev/tests/integration/testsuite/Magento/Customer/Block/Adminhtml/Edit/Tab/View/PersonalInfoTest.php
  pub/errors/processor.php
  setup/src/Magento/Setup/Model/PhpReadinessCheck.php
Labels: Component: Setup, Progress: accept, Release Line: 2.3

#18771 Cover \Magento\CheckoutAgreements\Model\ResourceModel\Agreement\Grid\Collection class with Integration test
  dev/tests/integration/testsuite/Magento/CheckoutAgreements/Model/ResourceModel/Grid/CollectionTest.php
Labels: Progress: accept, Release Line: 2.3

#18782 [Forwardport] 15259 : Unable to disable without providing Industry value
  app/code/Magento/Analytics/etc/adminhtml/system.xml
Labels: Component: Analytics, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#18788 Remove useless semicolon statements
  app/code/Magento/Catalog/view/adminhtml/templates/catalog/product/attribute/set/main/tree/attribute.phtml
  app/code/Magento/CatalogSearch/Model/Indexer/Fulltext/Action/Full.php
  app/code/Magento/GiftMessage/Model/ItemRepository.php
  app/code/Magento/GiftMessage/Model/OrderItemRepository.php
  app/code/Magento/GiftMessage/Model/OrderRepository.php
  app/code/Magento/Indexer/Console/Command/IndexerReindexCommand.php
  app/code/Magento/Indexer/Model/DimensionModes.php
  app/code/Magento/Sales/Model/Order/Validation/CanInvoice.php
  app/code/Magento/TaxImportExport/view/adminhtml/templates/importExportHeader.phtml
  app/code/Magento/Theme/Model/Design/Config/Validator.php
  app/code/Magento/Theme/view/frontend/templates/text.phtml
  dev/tests/api-functional/testsuite/Magento/Catalog/Api/ProductCustomOptionRepositoryTest.php
  dev/tests/functional/tests/app/Magento/Cms/Test/Block/Adminhtml/Page/Edit/PageForm.php
  dev/tests/functional/tests/app/Magento/ImportExport/Test/Fixture/Import/File.php
  dev/tests/integration/testsuite/Magento/Deploy/_files/theme.php
  dev/tests/integration/testsuite/Magento/GiftMessage/_files/quote_with_item_message_rollback.php
  dev/tests/static/testsuite/Magento/Test/Integrity/Magento/Backend/ControllerAclTest.php
  lib/internal/Magento/Framework/Indexer/Config/DependencyInfoProvider.php
  lib/internal/Magento/Framework/Setup/OldDbValidator.php
  lib/internal/Magento/Framework/TestFramework/Unit/Autoloader/GeneratedClassesAutoloader.php
Labels: Area: Frontend, Component: Catalog, Component: CatalogSearch, Component: Framework/Indexer, Component: Framework/Setup, Component: Framework/TestFramework, Component: GiftMessage, Component: Indexer, Component: Sales, Component: TaxImportExport, Component: Theme, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#18790 fixed Product Advanced Pricing design issue #18775
  app/code/Magento/Ui/view/base/web/templates/form/field.html
Labels: Area: Frontend, Component: Ui, Progress: accept, Release Line: 2.3

#18792 Remove unnecessary conditional statements
  app/code/Magento/User/Controller/Adminhtml/User/Role/SaveRole.php
Labels: Component: User, Progress: accept, Release Line: 2.3

#18795 [Forwardport] Fix customer unsubscribed issue
  app/code/Magento/Newsletter/Model/Subscriber.php
Labels: Component: Newsletter, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#17971 Don't format Special Price value for Bundle Product
  app/code/Magento/Catalog/Ui/DataProvider/Product/Form/Modifier/Eav.php
Labels: Component: Catalog, Progress: accept, Release Line: 2.2

#18681 [Backport] Set fallback values for email and _website columns to avoid 'undefined index' error in CustomerComposite.php
  app/code/Magento/CustomerImportExport/Model/Import/CustomerComposite.php
Labels: Component: CustomerImportExport, Progress: accept, Release Line: 2.2

#18833 [Backport] Cover \Magento\GiftMessage\Observer\SalesEventQuoteMerge with Unit test
  app/code/Magento/GiftMessage/Test/Unit/Observer/SalesEventQuoteMergeTest.php
Labels: Component: GiftMessage, Partner: Atwix, Progress: accept, Release Line: 2.2, partners-contribution

#18834 [Backport] Cover \Magento\Email\Model\Template\SenderResolver class with Unit test
  app/code/Magento/Email/Test/Unit/Model/Template/SenderResolverTest.php
Labels: Component: Email, Partner: Atwix, Progress: accept, Release Line: 2.2, partners-contribution

#18835 [Backport] Added Unit Test for WindowsSmtpConfig Plugin
  app/code/Magento/Email/Test/Unit/Model/Plugin/WindowsSmtpConfigTest.php
Labels: Component: Email, Partner: Atwix, Progress: accept, Release Line: 2.2, partners-contribution

#18876 [Backport] Fix Useless use of Cat
  dev/travis/before_script.sh
Labels: Progress: accept, Release Line: 2.2

#18591 [Backport] Fix SKU limit in import new products
  app/code/Magento/CatalogImportExport/Model/Import/Product/Validator.php
Labels: Component: CatalogImportExport, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.2, partners-contribution

#18862 [Backport] Adding trimming sku value function to sku backend model.
  app/code/Magento/Catalog/Model/Product/Attribute/Backend/Sku.php
  app/code/Magento/Catalog/Ui/DataProvider/Product/Form/Modifier/General.php
  app/code/Magento/Ui/i18n/en_US.csv
  app/code/Magento/Ui/view/base/web/js/lib/validation/rules.js
  lib/web/i18n/en_US.csv
  lib/web/mage/validation.js
Labels: Area: Frontend, Area: Lib/Frontend, Component: Catalog, Component: Ui, Progress: accept, Release Line: 2.2

#18865 fixed issue #18458 : Alert widget gets close when click anywhere on screen #18576
  app/code/Magento/Ui/view/base/web/js/modal/modal-component.js
  app/code/Magento/Ui/view/base/web/js/modal/modal.js
Labels: Area: Frontend, Component: Ui, Progress: accept, Release Line: 2.2

#18886 [Backport] fixed Translation issue send-friend in send.phtml
  app/code/Magento/SendFriend/view/frontend/templates/send.phtml
Labels: Area: Frontend, Component: SendFriend, Progress: accept, Release Line: 2.2

#18917 Fixed-Global-search icon misaligned
  app/design/adminhtml/Magento/backend/Magento_Backend/web/css/source/module/header/actions-group/_search.less
Labels: Area: Design/Frontend, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.2, partners-contribution

#18874 [Backport] Fixed issue #4468 "Unable to insert multiple catalog product list wid…
  app/code/Magento/CatalogWidget/Block/Product/ProductsList.php
Labels: Component: CatalogWidget, Progress: accept, Release Line: 2.2

#18372 Resolve typo despatch event
  app/code/Magento/CatalogSearch/Model/Indexer/Fulltext/Action/DataProvider.php
Labels: Component: CatalogSearch, Partner: Wagento, Progress: accept, Release Line: 2.2, Release Line: 2.3, partners-contribution

#18870 [Backport] ISSUE-5021 - fixed place order for custom shipping methods with under…
  app/code/Magento/Checkout/Model/PaymentInformationManagement.php
  app/code/Magento/Checkout/Test/Unit/Model/PaymentInformationManagementTest.php
Labels: Component: Checkout, Progress: accept, Release Line: 2.2

#18872 [Backport] Allow set billing information via API with existing address
  app/code/Magento/Quote/Model/BillingAddressManagement.php
Labels: Component: Quote, Progress: accept, Release Line: 2.2

#18419 Fix: Exception Error in Catalog Price Rule while Backend language is not English
  app/code/Magento/CatalogRule/Controller/Adminhtml/Promo/Catalog/Save.php
Labels: Component: CatalogRule, Event: Munich CD 2018, Progress: accept, Release Line: 2.3

#18774 [Forwardport] 17516: added Australian states
  app/code/Magento/Directory/Setup/Patch/Data/AddDataForAustralia.php
Labels: Component: Directory, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#18798 Added form fieldset before html data to \Magento\Framework\Data\Form\Element\Fieldset in getElementHtml() method
  lib/internal/Magento/Framework/Data/Form/Element/Fieldset.php
Labels: Component: Framework/Data, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#18846 Fix for Invalid Unit Test Annotations
  app/code/Magento/Catalog/Test/Unit/Model/Product/Gallery/GalleryManagementTest.php
  app/code/Magento/Catalog/Test/Unit/Model/Product/PriceModifierTest.php
  app/code/Magento/Catalog/Test/Unit/Model/Product/TierPriceManagementTest.php
  app/code/Magento/Checkout/Test/Unit/Model/SidebarTest.php
  app/code/Magento/Downloadable/Test/Unit/Helper/DownloadTest.php
  app/code/Magento/GiftMessage/Test/Unit/Model/Plugin/OrderSaveTest.php
  app/code/Magento/Quote/Test/Unit/Model/GuestCartManagement/Plugin/AuthorizationTest.php
  app/code/Magento/Quote/Test/Unit/Model/Quote/Item/UpdaterTest.php
  app/code/Magento/Quote/Test/Unit/Model/ShippingAddressManagementTest.php
  app/code/Magento/Search/Test/Unit/Model/SynonymGroupRepositoryTest.php
  app/code/Magento/Theme/Test/Unit/Model/Theme/Source/ThemeTest.php
  app/code/Magento/Ui/Test/Unit/Component/Filters/FilterModifierTest.php
  lib/internal/Magento/Framework/App/Test/Unit/ErrorHandlerTest.php
  lib/internal/Magento/Framework/App/Test/Unit/Response/Http/FileFactoryTest.php
  lib/internal/Magento/Framework/App/Test/Unit/ViewTest.php
  lib/internal/Magento/Framework/Profiler/Test/Unit/Driver/Standard/StatTest.php
  setup/src/Magento/Setup/Test/Unit/Module/I18n/Parser/ParserTest.php
Labels: Component: multiple, Event: mm18mx, Progress: accept, Release Line: 2.3

#18851 Fixes theme header logo and icon upload
  app/code/Magento/Theme/view/adminhtml/ui_component/design_config_form.xml
Labels: Area: Frontend, Component: Theme, Partner: Redkiwi, Progress: accept, Release Line: 2.3, partners-contribution

#18856 Fixed - Downloadable products - Downloadable Information - Link design issue
  app/design/adminhtml/Magento/backend/web/css/source/forms/_fields.less
Labels: Area: Design/Frontend, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#18897 Remove duplicated CSS selector
  app/design/frontend/Magento/luma/Magento_Checkout/web/css/source/module/_cart.less
Labels: Area: Design/Frontend, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution
