Repository magento/magento2, pull requests merged in 2018-12, with the labels that each got.

#18849 Autoload for vendor root folders
  app/autoload.php
Labels: Event: mm18mx, Partner: Pengo, Progress: accept, Release Line: 2.3, partners-contribution

#19366 Fixing a test for Magento Newsletter.
  app/code/Magento/Newsletter/Test/Unit/Model/ProblemTest.php
Labels: Component: Newsletter, Progress: accept, Release Line: 2.3

#19419 [Newsletter] #19418 Cannot add additional field to system configuration at desired position
  app/code/Magento/Newsletter/etc/adminhtml/system.xml
Labels: Component: Newsletter, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#19455 min php version fix
  app/bootstrap.php
Labels: Progress: accept, Release Line: 2.3

#18206 Fix for not added attribute, while added it dynamically from product form
  app/code/Magento/Catalog/Controller/Adminhtml/Product/AddAttributeToTemplate.php
Labels: Component: Catalog, Progress: accept, Release Line: 2.3

#18818 Issue #14571 - Wrong column type when creating temporary tables for flat catalog
  app/code/Magento/Catalog/Model/Indexer/Product/Flat/TableBuilder.php
Labels: Component: Catalog, Partner: DEG, Progress: accept, Release Line: 2.3, partners-contribution

#19206 If stock is bellow OutOfStock Threshold, a negative qty is displayed in Product List Page
  app/code/Magento/CatalogInventory/Block/Stockqty/AbstractStockqty.php
Labels: Component: CatalogInventory, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#19261 issue #19205 fixed for 2.3-develop
  app/code/Magento/Bundle/Model/Product/Type.php
Labels: Component: Bundle, Progress: accept, Release Line: 2.3

#19408 Fixed issue - #19346 Import data 2.2.6 Value for 'product_type' attribute contains incorrect value
  app/code/Magento/Catalog/Controller/Adminhtml/Product/Attribute/Validate.php
Labels: Component: Catalog, Partner: Cedcommerce, Progress: accept, Release Line: 2.3, partners-contribution

#19416 19404 fixed newsletter issue
  app/code/Magento/Newsletter/Controller/Subscriber/NewAction.php
Labels: Component: Newsletter, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#18620 18615 updates structure for last_trans_id to match structures for amazon and klarna.
  app/code/Magento/Sales/etc/db_schema.xml
Labels: Component: Sales, Partner: CTI Digital LTD, Progress: accept, Release Line: 2.3, partners-contribution

#19329 chore: remove old CSS fixes for IE
  lib/web/jquery/fileUploader/css/jquery.fileupload-ui.css
  lib/web/prototype/windows/themes/darkX.css
  lib/web/prototype/windows/themes/lighting.css
  lib/web/prototype/windows/themes/mac_os_x.css
  lib/web/prototype/windows/themes/mac_os_x_dialog.css
  lib/web/prototype/windows/themes/nuncio.css
Labels: Area: Lib/Frontend, Progress: accept, Release Line: 2.3

#19331 chore: remove old code for IE9
  lib/web/varien/js.js
Labels: Area: Lib/Frontend, Progress: accept, Release Line: 2.3

#19405 Fix issue 19399 - Add product customization option collapsible design issue
  app/design/adminhtml/Magento/backend/Magento_Backend/web/css/source/module/main/_collapsible-blocks.less
Labels: Area: Design/Frontend, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#19412 remove lib-url-check() function from lib docs LESS
  lib/web/css/docs/source/_utilities.less
Labels: Area: Lib/Frontend, Progress: accept, Release Line: 2.3

#19425 Fix: SalesQuoteSaveAfterObserver fails to update the checkout session quote id when applicable
  app/code/Magento/Checkout/Observer/SalesQuoteSaveAfterObserver.php
  app/code/Magento/Checkout/Test/Unit/Observer/SalesQuoteSaveAfterObserverTest.php
Labels: Component: Checkout, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#19428 fix: remove unused params in categorySubmit invocation
  app/code/Magento/Catalog/view/adminhtml/web/catalog/category/edit.js
Labels: Area: Frontend, Component: Catalog, Progress: accept, Release Line: 2.3

#19437 [Forwardport] Issue #19205 Fixed: Bundle Product Option with input type is checkbox and add to cart with 3 values only 2 values added to cart.
  app/code/Magento/Bundle/Model/Product/Type.php
Labels: Component: Bundle, Progress: accept, Release Line: 2.3

#19462 remove condition from invoice cancel
  app/code/Magento/Sales/Model/Order/Invoice.php
Labels: Component: Sales, Progress: accept, Release Line: 2.3

#19473 Fix issue 19472 - Advance Pricing - Customer Group Price , Select box and Text box alignment issue
  app/design/adminhtml/Magento/backend/web/css/source/forms/_controls.less
Labels: Area: Design/Frontend, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, Reproduced on 2.2.x, partners-contribution

#19288 fixed typos for zero order credit memo feature
  app/code/Magento/Sales/Model/Order.php
  app/code/Magento/Sales/i18n/en_US.csv
Labels: Component: Sales, Partner: Wagento, Progress: accept, Release Line: 2.3, partners-contribution

#19295 Reducing space when there is no message on the page
  app/code/Magento/Customer/view/frontend/templates/address/edit.phtml
  app/code/Magento/Customer/view/frontend/templates/form/register.phtml
  app/design/frontend/Magento/blank/Magento_Customer/web/css/source/_module.less
  app/design/frontend/Magento/luma/Magento_Customer/web/css/source/_module.less
Labels: Area: Design/Frontend, Area: Frontend, Component: Customer, Partner: Imagination Media, Progress: accept, Release Line: 2.3, partners-contribution

#19451 Fix: Attribute Option with zero at the beginning does not work if there is already option with the same number without the zero [REST API]
  app/code/Magento/Catalog/Model/Product/Attribute/OptionManagement.php
Labels: Component: Catalog, Partner: ISM eCompany, Progress: accept, Release Line: 2.3, partners-contribution

#19510 Fixed issue 19509 - Catalog bundle product Bundle Items inconsistent box border
  app/design/adminhtml/Magento/backend/Magento_Backend/web/css/source/module/main/_collapsible-blocks.less
Labels: Area: Design/Frontend, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#19541 Log jobCode when writing to log with no callback for easier debug
  app/code/Magento/Cron/Observer/ProcessCronQueueObserver.php
Labels: Component: Cron, Progress: accept, Release Line: 2.3

#19599 Update readme to use correct module name
  app/code/Magento/ThemeGraphQl/README.md
Labels: Partner: Something Digital, Progress: accept, Release Line: 2.3, partners-contribution

#19601 Deprecated ArrayInterface in favour of ancestor OptionSourceInterface
  lib/internal/Magento/Framework/Option/ArrayInterface.php
Labels: Component: Framework/Option, Progress: accept, Release Line: 2.3

#19249 fix php 7.2 error : Countable interface not implemented
  lib/internal/Magento/Framework/File/Uploader.php
Labels: Component: Framework/File, Progress: accept, Release Line: 2.3

#19569 Fixed issue with Base Currency for website is CND when PayPal Payflow…
  app/code/Magento/Paypal/Model/Payflowpro.php
Labels: Component: Paypal, Progress: accept, Release Line: 2.3

#19617 Additional Cache Management title
  app/code/Magento/Backend/view/adminhtml/templates/system/cache/additional.phtml
Labels: Area: Frontend, Component: Backend, Progress: accept, Release Line: 2.3

#19659 Fix issue #19657- Select Option Space issue into backend
  app/design/adminhtml/Magento/backend/web/css/styles-old.less
Labels: Area: Design/Frontend, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#19568 [Backport] [Newsletter] #19418 Cannot add additional field to system configuration at desired position
  app/code/Magento/Newsletter/etc/adminhtml/system.xml
Labels: Component: Newsletter, Partner: Atwix, Progress: accept, Release Line: 2.2, partners-contribution

#19678 [Backport] Fix: SalesQuoteSaveAfterObserver fails to update the checkout session quote id when applicable
  app/code/Magento/Checkout/Observer/SalesQuoteSaveAfterObserver.php
  app/code/Magento/Checkout/Test/Unit/Observer/SalesQuoteSaveAfterObserverTest.php
Labels: Component: Checkout, Partner: Atwix, Progress: accept, Release Line: 2.2, partners-contribution

#19669 [Backport] fix: remove unused params in categorySubmit invocation
  app/code/Magento/Catalog/view/adminhtml/web/catalog/category/edit.js
Labels: Area: Frontend, Component: Catalog, Progress: accept, Release Line: 2.2

#19493 Fix issue 19492 - Catalog Product - Customizable Options label alignment issue
  app/design/adminhtml/Magento/backend/web/css/source/forms/_fields.less
Labels: Area: Design/Frontend, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#19633 Issue resolved #19607. Page Not Found when deleting Attribute Set #19614
  app/code/Magento/Catalog/Block/Adminhtml/Product/Attribute/Set/Main.php
Labels: Component: Catalog, Progress: accept, Release Line: 2.3

#19640 Fixed icon alignment: Frontend Component theme sort by arrow icon vertical alignment issue. #19639
  app/design/frontend/Magento/blank/Magento_Catalog/web/css/source/module/_toolbar.less
  app/design/frontend/Magento/luma/Magento_Catalog/web/css/source/module/_toolbar.less
Labels: Area: Design/Frontend, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#19673 fix: immediately return value
  app/code/Magento/AdminNotification/Model/ResourceModel/Inbox.php
Labels: Component: AdminNotification, Progress: accept, Release Line: 2.3

#19696 Add EngCom Slack info to README and formatting
  README.md
Labels: Progress: accept, Release Line: 2.3

#19094 19085-Translation-in-tier-price-phtml-not-working
  app/code/Magento/ConfigurableProduct/view/base/templates/product/price/tier_price.phtml
Labels: Area: Frontend, Component: ConfigurableProduct, Partner: ISM eCompany, Progress: accept, Release Line: 2.3, partners-contribution

#19104 fix cipherMethod detection for openssl 1.1.1
  app/code/Magento/Analytics/Model/Cryptographer.php
Labels: Component: Analytics, Progress: accept, Release Line: 2.3

#19341 [Forwardport] Creating custom customer attribute with default value 0 will cause not saving value for customer entity.
  app/code/Magento/Catalog/Model/Product/Attribute/Backend/Boolean.php
  app/code/Magento/Downloadable/Setup/Patch/Data/UpdateLinksExistDefaultAttributeValue.php
  app/code/Magento/Eav/Model/Entity/Attribute/AbstractAttribute.php
  app/code/Magento/Eav/Model/Entity/Attribute/Backend/AbstractBackend.php
Labels: Component: Catalog, Component: Downloadable, Component: Eav, Progress: accept, Release Line: 2.3

#19402 make sure that the removal of the custom_price is properly persisted into database
  app/code/Magento/Quote/Model/Quote/Item/Updater.php
Labels: Component: Quote, Progress: accept, Release Line: 2.3

#19663 Fixed Click for price in home page not work #15922
  app/code/Magento/Msrp/view/base/layout/cms_index_index.xml
  app/code/Magento/Msrp/view/base/templates/product/price/msrp.phtml
  app/code/Magento/Msrp/view/frontend/templates/popup.phtml
Labels: Area: Frontend, Component: Msrp, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#19707 PaymentTokenRepositoryInterface: missing setTotalCount in getList() method
  app/code/Magento/Vault/Model/PaymentTokenRepository.php
Labels: Component: Vault, Progress: accept, Release Line: 2.3

#19709 Add useful debug info for which website has not been found
  app/code/Magento/Store/Model/WebsiteRepository.php
Labels: Component: Store, Progress: accept, Release Line: 2.3

#19751 Fixed #19605 Don't static compile disabled modules
  app/code/Magento/Deploy/Collector/Collector.php
Labels: Community Insider: Cedcommerce, Component: Deploy, Progress: accept, Release Line: 2.3, community-insider-contribution

#19768 fixed Typo error assoctiated -> associated
  app/code/Magento/Ui/view/base/web/js/form/element/checkbox-set.js
Labels: Area: Frontend, Component: Ui, Progress: accept, Release Line: 2.3

#19770 Typo taax -> tax
  app/code/Magento/Tax/view/base/web/js/price/adjustment.js
Labels: Area: Frontend, Component: Tax, Progress: accept, Release Line: 2.3

#19784 Fixed Incorrect class name on Orders and returns page.
  app/code/Magento/Sales/view/frontend/templates/guest/form.phtml
Labels: Area: Frontend, Community Insider: Cedcommerce, Component: Sales, Progress: accept, Release Line: 2.3, community-insider-contribution

#19788 [Forwardport] Fixed - Shipping issue on PayPal Express #14712
  app/code/Magento/Quote/Model/Quote/Address/Total/Shipping.php
Labels: Component: Quote, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#19824 magento/magento2#?: Mark not used blocks, controllers and layout updates which are related to deprecated way of rendering grid for related/coross-sell/upsell products.
  app/code/Magento/Bundle/Controller/Adminhtml/Bundle/Product/Edit/Crosssell.php
  app/code/Magento/Bundle/Controller/Adminhtml/Bundle/Product/Edit/CrosssellGrid.php
  app/code/Magento/Bundle/Controller/Adminhtml/Bundle/Product/Edit/Related.php
  app/code/Magento/Bundle/Controller/Adminhtml/Bundle/Product/Edit/RelatedGrid.php
  app/code/Magento/Bundle/Controller/Adminhtml/Bundle/Product/Edit/Upsell.php
  app/code/Magento/Bundle/Controller/Adminhtml/Bundle/Product/Edit/UpsellGrid.php
  app/code/Magento/Catalog/Block/Adminhtml/Product/Edit/Tab/Crosssell.php
  app/code/Magento/Catalog/Block/Adminhtml/Product/Edit/Tab/Related.php
  app/code/Magento/Catalog/Block/Adminhtml/Product/Edit/Tab/Upsell.php
  app/code/Magento/Catalog/Controller/Adminhtml/Product/Crosssell.php
  app/code/Magento/Catalog/Controller/Adminhtml/Product/CrosssellGrid.php
  app/code/Magento/Catalog/Controller/Adminhtml/Product/Related.php
  app/code/Magento/Catalog/Controller/Adminhtml/Product/RelatedGrid.php
  app/code/Magento/Catalog/Controller/Adminhtml/Product/Upsell.php
  app/code/Magento/Catalog/Controller/Adminhtml/Product/UpsellGrid.php
  app/code/Magento/Catalog/view/adminhtml/layout/catalog_product_crosssell.xml
  app/code/Magento/Catalog/view/adminhtml/layout/catalog_product_crosssellgrid.xml
  app/code/Magento/Catalog/view/adminhtml/layout/catalog_product_related.xml
  app/code/Magento/Catalog/view/adminhtml/layout/catalog_product_relatedgrid.xml
  app/code/Magento/Catalog/view/adminhtml/layout/catalog_product_upsell.xml
  app/code/Magento/Catalog/view/adminhtml/layout/catalog_product_upsellgrid.xml
  app/code/Magento/Downloadable/Controller/Adminhtml/Downloadable/Product/Edit/Crosssell.php
  app/code/Magento/Downloadable/Controller/Adminhtml/Downloadable/Product/Edit/CrosssellGrid.php
  app/code/Magento/Downloadable/Controller/Adminhtml/Downloadable/Product/Edit/Related.php
  app/code/Magento/Downloadable/Controller/Adminhtml/Downloadable/Product/Edit/RelatedGrid.php
  app/code/Magento/Downloadable/Controller/Adminhtml/Downloadable/Product/Edit/Upsell.php
  app/code/Magento/Downloadable/Controller/Adminhtml/Downloadable/Product/Edit/UpsellGrid.php
Labels: Area: Frontend, Component: Bundle, Component: Catalog, Component: Downloadable, Partner: ISM eCompany, Progress: accept, Release Line: 2.3, partners-contribution

#19868 Fix travis tests on 2.3-develop branch
  .travis.yml
Labels: Progress: accept, Release Line: 2.3

#19232 Don't return categoryId from registry if the product doesn't belong in the current category
  app/code/Magento/Catalog/Model/Product.php
  app/code/Magento/Catalog/Test/Unit/Model/ProductTest.php
  dev/tests/integration/testsuite/Magento/Catalog/Model/ProductExternalTest.php
Labels: Component: Catalog, Progress: accept, Release Line: 2.3

#19508 Fix issue 19507 - Frontend Minicart dropdown alignment issue
  app/design/frontend/Magento/luma/Magento_Checkout/web/css/source/module/_minicart.less
Labels: Area: Design/Frontend, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, Reproduced on 2.2.x, partners-contribution

#19766 Update bootstrap.js
  app/code/Magento/Ui/view/base/web/js/lib/knockout/bindings/bootstrap.js
Labels: Area: Frontend, Component: Ui, Progress: accept, Release Line: 2.3, help wanted

#19888 Fixed incorrect spelling : Invocie -> Invoice
  app/code/Magento/Braintree/Test/Mftf/Test/CretateAdminOrderWithOnlinePaymentIncludingTaxAndDiscount.xml
Labels: Component: Braintree, Progress: accept, Release Line: 2.3

#19904 [Forwardport]Fix issue 19902 - Store View label and Dropdown misaligned
  app/design/adminhtml/Magento/backend/Magento_Backend/web/css/source/module/main/actions-bar/_store-switcher.less
Labels: Area: Design/Frontend, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#19918 Fixed Issue #19917 Changed allowDrug to allowDrag
  app/code/Magento/Catalog/view/adminhtml/templates/catalog/product/attribute/set/main.phtml
Labels: Area: Frontend, Community Insider: Cedcommerce, Component: Catalog, Progress: accept, Release Line: 2.3, community-insider-contribution

#19804 [Backport]Fix issue 19796 - Sales Order invoice Update Qty's Button is misaligned
  app/code/Magento/Sales/view/adminhtml/templates/order/invoice/create/items.phtml
Labels: Area: Frontend, Component: Sales, Partner: Krish TechnoLabs, Progress: accept, Progress: on hold, Release Line: 2.2, partners-contribution

#19949 [Backport] Fixed Issue #19917 Changed allowDrug to allowDrag
  app/code/Magento/Catalog/view/adminhtml/templates/catalog/product/attribute/set/main.phtml
Labels: Area: Frontend, Component: Catalog, Progress: accept, Release Line: 2.2

#19967 [Backport] Minor typos corrected.
  app/code/Magento/Backend/Block/Widget/Form/Element/Dependence.php
  app/code/Magento/Bundle/Pricing/Adjustment/Calculator.php
  app/code/Magento/BundleImportExport/Test/Unit/Model/Import/Product/Type/BundleTest.php
Labels: Community Insider: Cedcommerce, Component: Backend, Component: Bundle, Component: BundleImportExport, Progress: accept, Release Line: 2.2, community-insider-contribution

#19968 [Backport] Typo "customet_id" to "customer_id" fixed.
  app/code/Magento/SalesRule/Model/ResourceModel/Coupon/Usage.php
Labels: Community Insider: Cedcommerce, Component: SalesRule, Progress: accept, Release Line: 2.2, community-insider-contribution

#19970 [Backport] Typo taax -> tax
  app/code/Magento/Tax/view/base/web/js/price/adjustment.js
Labels: Area: Frontend, Community Insider: Cedcommerce, Component: Tax, Progress: accept, Release Line: 2.2, community-insider-contribution

#19971 [Backport] Typo corrected Update bound-nodes.js
  app/code/Magento/Ui/view/base/web/js/lib/knockout/extender/bound-nodes.js
Labels: Area: Frontend, Community Insider: Cedcommerce, Component: Ui, Progress: accept, Release Line: 2.2, community-insider-contribution

#19972 [Backport] Update bootstrap.js
  app/code/Magento/Ui/view/base/web/js/lib/knockout/bindings/bootstrap.js
Labels: Area: Frontend, Community Insider: Cedcommerce, Component: Ui, Progress: accept, Release Line: 2.2, community-insider-contribution
