Repository magento/magento2, pull requests merged in 2018-08, with the labels that each got.

#17192 [Backport] Filter test result collection with the cron job code defined in the c…
  dev/tests/integration/testsuite/Magento/Cron/Observer/ProcessCronQueueObserverTest.php
Labels: Release Line: 2.1, accept

#16000 Don't force enable "Use system value" checkboxes
  lib/web/mage/adminhtml/form.js
Labels: Area: Lib/Frontend, Release Line: 2.2, accept

#16594 Fix broken commit in #15040 that accidentally reverted previous changes.
  app/code/Magento/Catalog/view/frontend/templates/product/view/gallery.phtml
Labels: Area: Frontend, Component: Catalog, Release Line: 2.2, accept

#17122 Added missing exception cause for better error handling
  app/code/Magento/Translation/Model/Js/DataProvider.php
Labels: Component: Translation, Release Line: 2.2, accept

#17153 Set proper text-aligh for the <th> element of the Subtotal column in the Creditmemo email
  app/design/frontend/Magento/blank/Magento_Sales/web/css/source/_email.less
  app/design/frontend/Magento/luma/Magento_Sales/web/css/source/_email.less
Labels: Area: Design/Frontend, Release Line: 2.2, accept

#17203 [Backport] Refactored multiples conditions which could be grouped in a single on…
  app/code/Magento/Captcha/Observer/CheckGuestCheckoutObserver.php
  app/code/Magento/Captcha/Observer/CheckRegisterCheckoutObserver.php
  app/code/Magento/Captcha/Observer/CheckUserForgotPasswordBackendObserver.php
  app/code/Magento/Captcha/Observer/CheckUserLoginBackendObserver.php
Labels: Component: Captcha, Release Line: 2.2, accept

#17217 [Backport] Broken Responsive Layout on Top page
  app/design/frontend/Magento/luma/Magento_Theme/web/css/source/_module.less
Labels: Area: Design/Frontend, Release Line: 2.2, accept

#17236 [Backport] Fixed invalid knockoutjs data binding for Braintree PayPal
  app/code/Magento/Braintree/view/frontend/web/template/payment/paypal.html
Labels: Area: Frontend, Component: Braintree, Release Line: 2.2, accept

#17246 [Backport] FIXED: FTP user and password strings urldecoded
  lib/internal/Magento/Framework/System/Ftp.php
Labels: Component: Framework/System, Release Line: 2.2, accept

#17198 [Forwardport] Disable autocomplete for captcha inputs
  app/code/Magento/Captcha/view/frontend/templates/default.phtml
  app/code/Magento/Captcha/view/frontend/web/template/checkout/captcha.html
Labels: Area: Frontend, Component: Captcha, Release Line: 2.3, accept

#17201 [Forwardport] Update template.js
  lib/web/mage/utils/template.js
Labels: Area: Lib/Frontend, Release Line: 2.3, accept

#17206 [Forwardport] Remove spaces around amount span.
  app/code/Magento/Catalog/view/base/templates/product/price/amount/default.phtml
Labels: Area: Frontend, Component: Catalog, Partner: Basecom, Release Line: 2.3, accept, partners-contribution

#17209 [Forwardport] Resolved : Mobile device style groups incorrect order
  lib/web/css/source/lib/_responsive.less
Labels: Area: Lib/Frontend, Partner: Basecom, Release Line: 2.3, partners-contribution

#17228 Fix minor css issues
  lib/internal/Magento/Framework/View/Test/Unit/Url/_files/sourceImport.css
  lib/web/css/docs/docs.css
Labels: Area: Lib/Frontend, Component: Framework/View, Partner: MediaCT, Release Line: 2.3, accept, partners-contribution

#17266 [Forwardport] Replaced deprecated methods.
  app/code/Magento/CatalogRule/Controller/Adminhtml/Promo/Catalog/ApplyRules.php
  app/code/Magento/CatalogRule/Controller/Adminhtml/Promo/Catalog/Delete.php
  app/code/Magento/CatalogRule/Controller/Adminhtml/Promo/Catalog/Edit.php
  app/code/Magento/CatalogRule/Controller/Adminhtml/Promo/Catalog/Save.php
  app/code/Magento/CatalogRule/Plugin/Indexer/Product/Attribute.php
Labels: Component: CatalogRule, Release Line: 2.3, accept

#17293 Fixed a couple of typos
  app/code/Magento/Ui/view/base/web/js/grid/columns/multiselect.js
  app/code/Magento/Ui/view/base/web/js/grid/filters/filters.js
  dev/tests/integration/testsuite/Magento/Tax/Model/TaxRuleRepositoryTest.php
Labels: Area: Frontend, Component: Ui, Release Line: 2.3, accept

#17051 [Forwardport] removed _responsive.less import from gallery.less
  lib/web/mage/gallery/gallery.less
Labels: Area: Lib/Frontend, Partner: Basecom, Release Line: 2.3, accept, partners-contribution

#17103 Code cleanup of lib files
  lib/internal/Magento/Framework/Api/AbstractExtensibleObject.php
  lib/internal/Magento/Framework/Api/AbstractSimpleObject.php
  lib/internal/Magento/Framework/Api/ImageProcessor.php
  lib/internal/Magento/Framework/Api/Search/Document.php
  lib/internal/Magento/Framework/Api/SearchCriteria/CollectionProcessor/FilterProcessor.php
  lib/internal/Magento/Framework/Api/SearchCriteria/CollectionProcessor/JoinProcessor.php
  lib/internal/Magento/Framework/Api/SearchCriteria/CollectionProcessor/SortingProcessor.php
  lib/internal/Magento/Framework/App/ActionFlag.php
  lib/internal/Magento/Framework/App/AreaList.php
  lib/internal/Magento/Framework/App/Config/Initial.php
  lib/internal/Magento/Framework/App/DefaultPath/DefaultPath.php
  lib/internal/Magento/Framework/App/DeploymentConfig.php
  lib/internal/Magento/Framework/App/Http/Context.php
  lib/internal/Magento/Framework/Component/ComponentRegistrar.php
  lib/internal/Magento/Framework/Config/View.php
  lib/internal/Magento/Framework/DB/Adapter/Pdo/Mysql.php
  lib/internal/Magento/Framework/Data/AbstractCriteria.php
  lib/internal/Magento/Framework/Data/AbstractDataObject.php
  lib/internal/Magento/Framework/Data/Collection.php
  lib/internal/Magento/Framework/Data/Structure.php
  lib/internal/Magento/Framework/Event.php
  lib/internal/Magento/Framework/Filesystem/Io/File.php
  lib/internal/Magento/Framework/Filter/AbstractFactory.php
  lib/internal/Magento/Framework/Filter/Input.php
  lib/internal/Magento/Framework/Interception/PluginList/PluginList.php
  lib/internal/Magento/Framework/Message/Collection.php
  lib/internal/Magento/Framework/Model/AbstractExtensibleModel.php
  lib/internal/Magento/Framework/Module/FullModuleList.php
  lib/internal/Magento/Framework/Module/ModuleList.php
  lib/internal/Magento/Framework/Module/ModuleResource.php
  lib/internal/Magento/Framework/Module/PackageInfo.php
  lib/internal/Magento/Framework/Notification/MessageList.php
  lib/internal/Magento/Framework/ObjectManager/Test/Unit/Factory/Fixture/Polymorphous.php
  lib/internal/Magento/Framework/Pricing/Amount/Base.php
  lib/internal/Magento/Framework/Pricing/Price/Pool.php
  lib/internal/Magento/Framework/Search/Response/Aggregation.php
  lib/internal/Magento/Framework/Session/SessionManager.php
  lib/internal/Magento/Framework/Url.php
  lib/internal/Magento/Framework/Validator/Exception.php
  lib/internal/Magento/Framework/View/Asset/PropertyGroup.php
  lib/internal/Magento/Framework/View/BlockPool.php
  lib/internal/Magento/Framework/View/DataSourcePool.php
  lib/internal/Magento/Framework/View/Design/Theme/Validator.php
  lib/internal/Magento/Framework/View/Element/UiComponent/Context.php
  lib/internal/Magento/Framework/View/Element/UiComponent/DataProvider/DataProvider.php
  lib/internal/Magento/Framework/View/Layout/Generic.php
  lib/internal/Magento/Framework/View/Layout/ScheduledStructure.php
  lib/internal/Magento/Framework/View/Page/Config.php
  lib/internal/Magento/Framework/Xml/Generator.php
Labels: Component: multiple, Release Line: 2.2, accept

#17191 [Backport 2.2]Filter test result collection with the cron job code defined in the c…
  dev/tests/integration/testsuite/Magento/Cron/Observer/ProcessCronQueueObserverTest.php
Labels: Release Line: 2.2, accept

#17275 fix #17193 Error with translation of confirmation modal buttons
  app/code/Magento/Ui/view/base/web/js/modal/confirm.js
Labels: Area: Frontend, Component: Ui, Release Line: 2.2, accept

#16619 [Backport] Login with wishlist raise report after logout
  app/code/Magento/Customer/Model/Plugin/CustomerFlushFormKey.php
Labels: Component: Customer, Release Line: 2.1, accept

#16911 [Backport] Fixed extends and removed unnecessary variables
  app/design/frontend/Magento/blank/Magento_Checkout/web/css/source/module/checkout/_tooltip.less
  app/design/frontend/Magento/blank/Magento_Sales/web/css/source/_module.less
  app/design/frontend/Magento/blank/web/css/source/components/_modals_extend.less
  app/design/frontend/Magento/luma/web/css/source/components/_modals_extend.less
Labels: Area: Design/Frontend, Release Line: 2.1, accept

#17335 fix: remove unused ID
  app/code/Magento/Checkout/view/frontend/web/template/billing-address/form.html
Labels: Area: Frontend, Component: Checkout, Release Line: 2.1, accept

#15690 MSI-478: Unskip StockStatusFilterTest
  dev/tests/integration/testsuite/Magento/Catalog/_files/multiselect_attribute.php
  dev/tests/integration/testsuite/Magento/Catalog/_files/product_out_of_stock_with_multiselect_attribute.php
  dev/tests/integration/testsuite/Magento/Catalog/_files/product_out_of_stock_with_multiselect_attribute_rollback.php
  dev/tests/integration/testsuite/Magento/Catalog/_files/products_with_multiselect_attribute_rollback.php
  dev/tests/integration/testsuite/Magento/CatalogSearch/Model/Search/FilterMapper/StockStatusFilterTest.php
  dev/tests/integration/testsuite/Magento/CatalogSearch/Model/Search/FilterMapper/StockStatusFilterWithFullFilterTest.php
  dev/tests/integration/testsuite/Magento/CatalogSearch/Model/Search/FilterMapper/StockStatusFilterWithGeneralFilterTest.php
Labels: Release Line: 2.3, accept

#16894 [Port 2.3] Fixing annotations for some methods.
  lib/internal/Magento/Framework/Acl/AclResource/Config/Converter/Dom.php
  lib/internal/Magento/Framework/Acl/AclResource/Config/SchemaLocator.php
  lib/internal/Magento/Framework/Acl/Loader/ResourceLoader.php
Labels: Back port/Up port, Component: Framework/Acl, Release Line: 2.3, accept

#17329 [Forwardport] Code cleanup of lib files
  lib/internal/Magento/Framework/Api/AbstractExtensibleObject.php
  lib/internal/Magento/Framework/Api/AbstractSimpleObject.php
  lib/internal/Magento/Framework/Api/ImageProcessor.php
  lib/internal/Magento/Framework/Api/Search/Document.php
  lib/internal/Magento/Framework/Api/SearchCriteria/CollectionProcessor/FilterProcessor.php
  lib/internal/Magento/Framework/Api/SearchCriteria/CollectionProcessor/JoinProcessor.php
  lib/internal/Magento/Framework/Api/SearchCriteria/CollectionProcessor/SortingProcessor.php
  lib/internal/Magento/Framework/App/ActionFlag.php
  lib/internal/Magento/Framework/App/AreaList.php
  lib/internal/Magento/Framework/App/Config/Initial.php
  lib/internal/Magento/Framework/App/DefaultPath/DefaultPath.php
  lib/internal/Magento/Framework/App/DeploymentConfig.php
  lib/internal/Magento/Framework/App/Http/Context.php
  lib/internal/Magento/Framework/Component/ComponentRegistrar.php
  lib/internal/Magento/Framework/Config/View.php
  lib/internal/Magento/Framework/DB/Adapter/Pdo/Mysql.php
  lib/internal/Magento/Framework/Data/AbstractCriteria.php
  lib/internal/Magento/Framework/Data/AbstractDataObject.php
  lib/internal/Magento/Framework/Data/Collection.php
  lib/internal/Magento/Framework/Data/Structure.php
  lib/internal/Magento/Framework/Event.php
  lib/internal/Magento/Framework/Filesystem/Io/File.php
  lib/internal/Magento/Framework/Filter/AbstractFactory.php
  lib/internal/Magento/Framework/Filter/Input.php
  lib/internal/Magento/Framework/Interception/PluginList/PluginList.php
  lib/internal/Magento/Framework/Message/Collection.php
  lib/internal/Magento/Framework/Model/AbstractExtensibleModel.php
  lib/internal/Magento/Framework/Module/FullModuleList.php
  lib/internal/Magento/Framework/Module/ModuleList.php
  lib/internal/Magento/Framework/Module/ModuleResource.php
  lib/internal/Magento/Framework/Module/PackageInfo.php
  lib/internal/Magento/Framework/Notification/MessageList.php
  lib/internal/Magento/Framework/ObjectManager/Test/Unit/Factory/Fixture/Polymorphous.php
  lib/internal/Magento/Framework/Pricing/Amount/Base.php
  lib/internal/Magento/Framework/Pricing/Price/Pool.php
  lib/internal/Magento/Framework/Search/Response/Aggregation.php
  lib/internal/Magento/Framework/Session/SessionManager.php
  lib/internal/Magento/Framework/Url.php
  lib/internal/Magento/Framework/Validator/Exception.php
  lib/internal/Magento/Framework/View/Asset/PropertyGroup.php
  lib/internal/Magento/Framework/View/BlockPool.php
  lib/internal/Magento/Framework/View/DataSourcePool.php
  lib/internal/Magento/Framework/View/Design/Theme/Validator.php
  lib/internal/Magento/Framework/View/Element/UiComponent/Context.php
  lib/internal/Magento/Framework/View/Element/UiComponent/DataProvider/DataProvider.php
  lib/internal/Magento/Framework/View/Layout/Generic.php
  lib/internal/Magento/Framework/View/Layout/ScheduledStructure.php
  lib/internal/Magento/Framework/View/Page/Config.php
  lib/internal/Magento/Framework/Xml/Generator.php
Labels: Component: multiple, Release Line: 2.3, accept

#17334 fix: remove unused ID
  app/code/Magento/Checkout/Test/Mftf/Section/CheckoutPaymentSection.xml
  app/code/Magento/Checkout/view/frontend/web/template/billing-address/form.html
Labels: Area: Frontend, Component: Checkout, Release Line: 2.3, accept

#17108 [Backport] Use constant time string comparison in FormKey validator
  lib/internal/Magento/Framework/Data/Form/FormKey/Validator.php
Labels: Component: Framework/Data, Release Line: 2.1, accept

#17379 [Backport] #15308 removed extraneous margin
  app/design/frontend/Magento/luma/Magento_Catalog/web/css/source/module/_listings.less
Labels: Area: Design/Frontend, Release Line: 2.1, accept

#15650 Fixed "Shop By" button disabling broken on the search page #13445
  app/code/Magento/LayeredNavigation/view/frontend/layout/catalogsearch_result_index.xml
Labels: Area: Frontend, Component: LayeredNavigation, Release Line: 2.2, accept

#16354 Remove unnecessary translation of HTML tags
  app/code/Magento/Catalog/Block/Adminhtml/Form/Renderer/Config/YearRange.php
  app/code/Magento/Catalog/i18n/en_US.csv
Labels: Component: Catalog, Release Line: 2.2, accept

#16656 [Fix #16655] Block totalbar not used in invoice create and credit memo create screens
  app/code/Magento/Sales/Block/Adminhtml/Order/Totalbar.php
  app/code/Magento/Sales/view/adminhtml/layout/sales_order_creditmemo_new.xml
  app/code/Magento/Sales/view/adminhtml/layout/sales_order_creditmemo_updateqty.xml
  app/code/Magento/Sales/view/adminhtml/layout/sales_order_invoice_new.xml
  app/code/Magento/Sales/view/adminhtml/layout/sales_order_invoice_updateqty.xml
  app/code/Magento/Sales/view/adminhtml/templates/order/totalbar.phtml
Labels: Area: Frontend, Component: Sales, Release Line: 2.2, accept

#16848 Replace floatval() function by using direct type casting to (float)
  app/code/Magento/Backend/Block/Widget/Grid/Column/Renderer/Currency.php
  app/code/Magento/Backend/Block/Widget/Grid/Column/Renderer/Price.php
  app/code/Magento/Bundle/Pricing/Price/BundleSelectionFactory.php
  app/code/Magento/Catalog/Model/Product/Type/AbstractType.php
  app/code/Magento/Catalog/Model/ResourceModel/Layer/Filter/Price.php
  app/code/Magento/Catalog/Pricing/Price/RegularPrice.php
  app/code/Magento/Catalog/Pricing/Price/TierPrice.php
  app/code/Magento/Catalog/Test/Unit/Model/Layer/Filter/DataProvider/PriceTest.php
  app/code/Magento/CatalogInventory/Model/Stock/Item.php
  app/code/Magento/CatalogRule/Pricing/Price/CatalogRulePrice.php
  app/code/Magento/Checkout/Helper/Data.php
  app/code/Magento/Config/Model/Config/Structure/Mapper/Sorting.php
  app/code/Magento/Directory/Model/Currency.php
  app/code/Magento/GroupedProduct/Pricing/Price/ConfiguredRegularPrice.php
  app/code/Magento/Reports/Block/Adminhtml/Grid/Column/Renderer/Currency.php
  app/code/Magento/Sales/Model/Order/StateResolver.php
  app/code/Magento/Sales/Model/ResourceModel/Order/Handler/State.php
  app/code/Magento/Tax/Helper/Data.php
  app/code/Magento/Ups/Model/Carrier.php
Labels: Component: multiple, Release Line: 2.2, accept

#17189 Don't add empty method to the cart summary
  app/code/Magento/Checkout/view/frontend/templates/cart/methods.phtml
Labels: Area: Frontend, Component: Checkout, Partner: MediaCT, Release Line: 2.2, accept, partners-contribution

#17327 fix: add missing data-th selector for tables
  app/design/frontend/Magento/blank/Magento_Checkout/web/css/source/module/_cart.less
  app/design/frontend/Magento/blank/web/css/source/_extends.less
  app/design/frontend/Magento/luma/Magento_Checkout/web/css/source/module/_cart.less
  app/design/frontend/Magento/luma/Magento_Sales/web/css/source/_module.less
  app/design/frontend/Magento/luma/web/css/source/_extends.less
Labels: Area: Design/Frontend, Release Line: 2.2, accept

#17365 [Backport] Fixed some minor css issue
  lib/internal/Magento/Framework/View/Test/Unit/Url/_files/sourceImport.css
  lib/web/css/docs/docs.css
Labels: Area: Lib/Frontend, Component: Framework/View, Partner: MediaCT, Release Line: 2.2, accept, partners-contribution

#14537 magento/magento2#12250: View.xml is inheriting image sizes from paren…
  app/code/Magento/Catalog/Model/ImageExtractor.php
  lib/internal/Magento/Framework/Config/etc/view.xsd
Labels: Component: Catalog, Component: Framework/Config, Release Line: 2.2

#15335 Fixed issue #13480 - Unable to activate logs after switching from production mode to developer
  app/code/Magento/Deploy/etc/di.xml
Labels: Component: Deploy, Event: dmcdindia, Progress: accept, Release Line: 2.2

#15606 Fix #10687 - Product image roles disappearing
  app/code/Magento/Catalog/Model/ProductRepository/MediaGalleryProcessor.php
Labels: Component: Catalog, Progress: accept, Release Line: 2.2

#15691 Fix #4803: Incorrect return value from Product Attribute Repository
  app/code/Magento/Eav/Api/Data/AttributeInterface.php
Labels: Component: Eav, Progress: accept, Release Line: 2.2

#15720 Convert to string $option->getValue, in order to be compared with oth…
  app/code/Magento/ConfigurableProduct/Model/Quote/Item/CartItemProcessor.php
Labels: Component: ConfigurableProduct, Progress: accept, Release Line: 2.2

#16955 fix: remove disabled attribute on region list
  app/code/Magento/Checkout/view/frontend/web/js/region-updater.js
Labels: Area: Frontend, Area: Lib/Frontend, Component: Checkout, Progress: accept, Release Line: 2.2

#17078 MAGETWO-84608: Cannot perform setup:install if Redis needs a password…
  setup/src/Magento/Setup/Model/ConfigOptionsList/Cache.php
  setup/src/Magento/Setup/Model/ConfigOptionsList/PageCache.php
  setup/src/Magento/Setup/Test/Unit/Model/ConfigOptionsList/CacheTest.php
  setup/src/Magento/Setup/Test/Unit/Model/ConfigOptionsList/PageCacheTest.php
Labels: Component: Setup, Progress: accept, Release Line: 2.2

#17405 [Braintree] Added unit test for instant purchase PayPal token formatter
  app/code/Magento/Braintree/Test/Unit/Model/InstantPurchase/PayPal/TokenFormatterTest.php
Labels: Component: Braintree, Partner: Atwix, Progress: accept, Release Line: 2.2, partners-contribution

#17413 [Backport] [Fix #16655] Block totalbar not used in invoice create and credit memo create screens
  app/code/Magento/Sales/Block/Adminhtml/Order/Totalbar.php
  app/code/Magento/Sales/view/adminhtml/layout/sales_order_creditmemo_new.xml
  app/code/Magento/Sales/view/adminhtml/layout/sales_order_creditmemo_updateqty.xml
  app/code/Magento/Sales/view/adminhtml/layout/sales_order_invoice_new.xml
  app/code/Magento/Sales/view/adminhtml/layout/sales_order_invoice_updateqty.xml
  app/code/Magento/Sales/view/adminhtml/templates/order/totalbar.phtml
Labels: Area: Frontend, Component: Sales, Progress: accept, Release Line: 2.1

#14397 Allows modules with underscores in name to set custom a frontend_model in system.xml
  app/code/Magento/Config/etc/system_file.xsd
Labels: Component: Config, Progress: accept, Release Line: 2.2

#16570 [update] enhance performance on large catalog
  app/code/Magento/Sales/Setup/UpgradeData.php
Labels: Component: Sales, Release Line: 2.2

#17101 Refactory to Magento_Backend module class.
  app/code/Magento/Backend/Helper/Dashboard/Order.php
Labels: Component: Backend, Progress: accept, Release Line: 2.2

#15688 [Backport] Fix #4803: Incorrect return value from Product Attribute Repository
  app/code/Magento/Eav/Api/Data/AttributeInterface.php
Labels: Component: Eav, Progress: accept, Release Line: 2.1

#17439 [Backport] magento/magento2#12250: View.xml is inheriting image sizes from paren…
  app/code/Magento/Catalog/Model/ImageExtractor.php
  lib/internal/Magento/Framework/Config/etc/view.xsd
Labels: Component: Catalog, Component: Framework/Config, Progress: accept, Release Line: 2.1

#15535 FIX for issue #15457 - Bundle Products price range is showing expired…
  app/code/Magento/Bundle/Pricing/Adjustment/DefaultSelectionPriceListProvider.php
Labels: Component: Bundle, Partner: MageSpecialist, Progress: accept, Release Line: 2.2, partners-contribution

#17204 [Forwardport] GoogleAnalytics: Added unit test for order success observer
  app/code/Magento/GoogleAnalytics/Test/Unit/Observer/SetGoogleAnalyticsOnOrderSuccessPageViewObserverTest.php
Labels: Component: GoogleAnalytics, Partner: Basecom, Progress: accept, Release Line: 2.3, partners-contribution

#17312 [Forwardport] Added missing exception cause for better error handling
  app/code/Magento/Translation/Model/Js/DataProvider.php
Labels: Component: Translation, Progress: accept, Release Line: 2.3

#17313 [Forwardport] Don't force enable "Use system value" checkboxes
  lib/web/mage/adminhtml/form.js
Labels: Area: Lib/Frontend, Progress: accept, Release Line: 2.3

#17343 fix: fix Less linter warnings in adminhtml
  app/design/adminhtml/Magento/backend/Magento_Analytics/web/css/source/_module.less
  app/design/adminhtml/Magento/backend/Magento_Backend/web/css/source/_module-old.less
  app/design/adminhtml/Magento/backend/Magento_ConfigurableProduct/web/css/source/module/components/_currency-addon.less
  app/design/adminhtml/Magento/backend/Magento_ConfigurableProduct/web/css/source/module/steps/_bulk-images.less
  app/design/adminhtml/Magento/backend/Magento_ReleaseNotification/web/css/source/_module.less
  app/design/adminhtml/Magento/backend/Magento_Ui/web/css/source/_module-old.less
  app/design/adminhtml/Magento/backend/Magento_VisualMerchandiser/web/css/source/_module.less
  app/design/adminhtml/Magento/backend/web/css/source/_reset.less
  app/design/adminhtml/Magento/backend/web/css/source/actions/_actions-dropdown.less
  app/design/adminhtml/Magento/backend/web/css/source/actions/_actions-switcher.less
  app/design/adminhtml/Magento/backend/web/css/source/components/_file-insertion.less
  app/design/adminhtml/Magento/backend/web/css/source/components/_media-gallery.less
  app/design/adminhtml/Magento/backend/web/css/source/components/_popups.less
  app/design/adminhtml/Magento/backend/web/css/source/forms/_temp.less
  app/design/adminhtml/Magento/backend/web/css/styles-old.less
  app/design/adminhtml/Magento/backend/web/mui/styles/_table.less
Labels: Area: Design/Frontend, Progress: accept, Release Line: 2.3

#17359 [Forwardport] fix #17193 Error with translation of confirmation modal buttons
  app/code/Magento/Ui/view/base/web/js/modal/confirm.js
Labels: Area: Frontend, Component: Ui, Partner: Basecom, Release Line: 2.3, partners-contribution

#17372 [Braintree] Removed unnecessary unsets from models
  app/code/Magento/Braintree/Gateway/Http/Client/TransactionRefund.php
  app/code/Magento/Braintree/Gateway/Http/Client/TransactionSubmitForSettlement.php
  app/code/Magento/Braintree/Gateway/Http/Client/TransactionVoid.php
Labels: Component: Braintree, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#17401 Remove dead code
  app/code/Magento/Cms/Helper/Page.php
Labels: Component: Cms, Progress: accept, Release Line: 2.3

#17406 [Forwardport] fix: add missing data-th selector for tables
  app/design/frontend/Magento/blank/Magento_Checkout/web/css/source/module/_cart.less
  app/design/frontend/Magento/blank/web/css/source/_extends.less
  app/design/frontend/Magento/luma/Magento_Checkout/web/css/source/module/_cart.less
  app/design/frontend/Magento/luma/Magento_Sales/web/css/source/_module.less
  app/design/frontend/Magento/luma/web/css/source/_extends.less
Labels: Area: Design/Frontend, Progress: accept, Release Line: 2.3

#17418 [Forwardport] Fixed "Shop By" button disabling broken on the search page #13445
  app/code/Magento/LayeredNavigation/view/frontend/layout/catalogsearch_result_index.xml
Labels: Area: Frontend, Component: LayeredNavigation, Progress: accept, Release Line: 2.3

#17423 [Forwardport] Replace sort callbacks to spaceship operator
  app/code/Magento/Payment/Helper/Data.php
Labels: Component: Payment, Progress: accept, Release Line: 2.3

#17290 [Backport] Fix bug Magento 2.2.2 password reset strength meter #13429
  app/code/Magento/Customer/view/frontend/web/js/password-strength-indicator.js
Labels: Area: Frontend, Component: Customer, Progress: accept, Release Line: 2.1

#15507 fix: cache count() results for loops
  app/code/Magento/Paypal/Model/Report/Settlement.php
  dev/tests/functional/tests/app/Magento/Catalog/Test/TestCase/Product/AddCompareProductsTest.php
  dev/tests/functional/tests/app/Magento/Checkout/Test/TestCase/ShoppingCartPerCustomerTest.php
  dev/tests/functional/tests/app/Magento/Multishipping/Test/TestStep/FillShippingInformationStep.php
  dev/tests/functional/tests/app/Magento/Sales/Test/Constraint/AssertProductsQtyAfterOrderCancel.php
  dev/tests/integration/testsuite/Magento/Catalog/Model/Layer/Filter/Price/AlgorithmBaseTest.php
  dev/tests/static/framework/tests/unit/testsuite/Magento/Sniffs/Translation/ConstantUsageSniffTest.php
  dev/tests/static/testsuite/Magento/Test/Legacy/ObsoleteCodeTest.php
  lib/internal/Magento/Framework/App/Test/Unit/Language/DictionaryTest.php
  lib/internal/Magento/Framework/Archive.php
  lib/internal/Magento/Framework/Cache/Backend/Memcached.php
  lib/internal/Magento/Framework/Filter/Template.php
  lib/internal/Magento/Framework/System/Ftp.php
  setup/src/Magento/Setup/Module/I18n/Parser/Adapter/Html.php
  setup/src/Magento/Setup/Module/I18n/Parser/Adapter/Js.php
Labels: Component: Framework/App, Component: Framework/Archive, Component: Framework/Cache, Component: Framework/Filter, Component: Framework/System, Component: Paypal, Component: Setup, Progress: accept, Release Line: 2.2

#15329 API annotate IoInterface
  lib/internal/Magento/Framework/Filesystem/Io/IoInterface.php
Labels: Component: Framework/Filesystem, Progress: accept, Release Line: 2.3

#15723 [Forwardport] Fix #4803: Incorrect return value from Product Attribute Repository
  app/code/Magento/Eav/Api/Data/AttributeInterface.php
Labels: Component: Eav, Progress: accept, Release Line: 2.3

#16465 Wrap block title in global translation method.
  app/code/Magento/Theme/view/frontend/templates/html/collapsible.phtml
Labels: Area: Frontend, Component: Theme, Progress: accept, Release Line: 2.3

#16813 [Forwardport] #15588 Fixed incorrect image urls in multistore xml sitemap
  app/code/Magento/Sitemap/Controller/Adminhtml/Sitemap/Generate.php
Labels: Component: Sitemap, Progress: accept, Release Line: 2.3

#17071 Customer Account Navigation: Introduce Spaceship Operator + Strict Types
  app/code/Magento/Customer/Block/Account/Navigation.php
Labels: Component: Customer, Progress: accept, Release Line: 2.3

#17375 Issue #10411 - Change account management to check if store is in website.
  app/code/Magento/Customer/Model/AccountManagement.php
  app/code/Magento/Customer/Test/Unit/Model/AccountManagementTest.php
Labels: Component: Customer, Partner: DEG, Progress: accept, Release Line: 2.3, partners-contribution

#17408 [Forwardport] Don't add empty method to the cart summary
  app/code/Magento/Checkout/view/frontend/templates/cart/methods.phtml
Labels: Area: Frontend, Component: Checkout, Partner: MediaCT, Progress: accept, Release Line: 2.3, partners-contribution

#17414 [Forwardport][Fix #16655] Block totalbar not used in invoice create and credit memo create screens
  app/code/Magento/Sales/Block/Adminhtml/Order/Totalbar.php
  app/code/Magento/Sales/view/adminhtml/layout/sales_order_creditmemo_new.xml
  app/code/Magento/Sales/view/adminhtml/layout/sales_order_creditmemo_updateqty.xml
  app/code/Magento/Sales/view/adminhtml/layout/sales_order_invoice_new.xml
  app/code/Magento/Sales/view/adminhtml/layout/sales_order_invoice_updateqty.xml
  app/code/Magento/Sales/view/adminhtml/templates/order/totalbar.phtml
Labels: Area: Frontend, Component: Sales, Progress: accept, Release Line: 2.3

#17419 [Forwardport] Fix the special price expression.
  app/code/Magento/Catalog/Model/ResourceModel/Product/Indexer/Price/DefaultPrice.php
Labels: Component: Catalog, Progress: accept, Release Line: 2.3

#17426 Fix incorrect image magnifier size bug in Safari
  lib/web/magnifier/magnify.js
Labels: Area: Lib/Frontend, Progress: accept, Release Line: 2.3

#17430 Fix documentation typos in registry.js
  app/code/Magento/Ui/view/base/web/js/lib/registry/registry.js
Labels: Area: Frontend, Component: Ui, Progress: accept, Release Line: 2.3

#17443 Add new element in product page section
  app/code/Magento/Catalog/Test/Mftf/Section/StorefrontProductPageSection.xml
Labels: Component: Catalog, Progress: accept, Release Line: 2.3

#17444 Changed property position at directory country source class
  app/code/Magento/Directory/Model/Config/Source/Country.php
Labels: Component: Directory, Partner: SNOW.DOG, Progress: accept, Release Line: 2.3, partners-contribution

#17462 Fix documentation grammar errors and typos in actions.js
  app/code/Magento/Ui/view/base/web/js/grid/columns/actions.js
Labels: Area: Frontend, Component: Ui, Progress: accept, Release Line: 2.3

#17476 [Backport] Convert to string $option->getValue, in order to be compared with oth…
  app/code/Magento/ConfigurableProduct/Model/Quote/Item/CartItemProcessor.php
Labels: Component: ConfigurableProduct, Progress: accept, Release Line: 2.1

#17383 Magento 2.2.5: Year-to-date dropdown in Stores>Configuration>General>Reports>Dashboard #17289
  app/code/Magento/Reports/Block/Adminhtml/Config/Form/Field/YtdStart.php
Labels: Component: Reports, Event: MM18ID, Progress: accept, Release Line: 2.2

#17102 [Forwardport] Refactory to Magento_Backend module class.
  app/code/Magento/Backend/Helper/Dashboard/Order.php
Labels: Component: Backend, Port, Progress: accept, Release Line: 2.3

#17438 [Forwardport] fix: remove disabled attribute on region list
  app/code/Magento/Checkout/view/frontend/web/js/region-updater.js
Labels: Area: Frontend, Component: Checkout, Progress: accept, Release Line: 2.3

#17448 [Forwardport] Allows modules with underscores in name to set custom a frontend_model in system.xml
  app/code/Magento/Config/etc/system_file.xsd
Labels: Component: Config, Progress: accept, Release Line: 2.3

#17449 [Forwardport] MAGETWO-84608: Cannot perform setup:install if Redis needs a password…
  setup/src/Magento/Setup/Model/ConfigOptionsList/Cache.php
  setup/src/Magento/Setup/Model/ConfigOptionsList/PageCache.php
  setup/src/Magento/Setup/Test/Unit/Model/ConfigOptionsList/CacheTest.php
  setup/src/Magento/Setup/Test/Unit/Model/ConfigOptionsList/PageCacheTest.php
Labels: Component: Setup, Progress: accept, Release Line: 2.3

#17470 small misspelling fixed
  app/code/Magento/InstantPurchase/Model/ShippingMethodChoose/CarrierFinder.php
Labels: Component: InstantPurchase, Progress: accept, Release Line: 2.3

#17472 [Forwardport] [Braintree] Added unit test for instant purchase PayPal token formatter
  app/code/Magento/Braintree/Test/Unit/Model/InstantPurchase/PayPal/TokenFormatterTest.php
Labels: Component: Braintree, Progress: accept, Release Line: 2.3

#17475 [Forwardport] Convert to string $option->getValue, in order to be compared with oth…
  app/code/Magento/ConfigurableProduct/Model/Quote/Item/CartItemProcessor.php
Labels: Component: ConfigurableProduct, Progress: accept, Release Line: 2.3

#13649 Fix possible undefined index when caching config data
  app/code/Magento/Config/App/Config/Type/System.php
Labels: Component: Config, Progress: accept, Release Line: 2.2

#17505 Refactor: remove some code duplication
  app/code/Magento/Ui/view/base/web/js/dynamic-rows/dynamic-rows.js
Labels: Area: Frontend, Component: Ui, Partner: MediaCT, Progress: accept, Release Line: 2.2, partners-contribution

#17515 Solution for User role issue with customer group
  app/code/Magento/Customer/etc/acl.xml
Labels: Component: Customer, Progress: accept, Release Line: 2.2

#17496 [Backport] Magento 2.2.5: Year-to-date dropdown in Stores>Configuration>General>Reports>Dashboard #17289
  app/code/Magento/Reports/Block/Adminhtml/Config/Form/Field/YtdStart.php
Labels: Component: Reports, Progress: accept, Release Line: 2.1

#17495 [Forwardport] Magento 2.2.5: Year-to-date dropdown in Stores>Configuration>General>Reports>Dashboard #17289
  app/code/Magento/Reports/Block/Adminhtml/Config/Form/Field/YtdStart.php
Labels: Component: Reports, Progress: accept, Release Line: 2.3

#17519 Added translation comment tags
  app/code/Magento/Ui/etc/adminhtml/system.xml
  app/code/Magento/Ui/i18n/en_US.csv
  app/code/Magento/Ui/view/base/ui_component/etc/definition.map.xml
  app/code/Magento/WebapiSecurity/etc/adminhtml/system.xml
  app/code/Magento/WebapiSecurity/i18n/en_US.csv
  app/code/Magento/Wishlist/etc/adminhtml/system.xml
  app/code/Magento/Wishlist/i18n/en_US.csv
Labels: Area: Frontend, Component: Ui, Component: WebapiSecurity, Component: Wishlist, Progress: accept, Release Line: 2.3

#17528 [Forwardport] AD-HOC feat (Profiler): Allow supplying complex profiler configuration
  app/bootstrap.php
Labels: Progress: accept, Release Line: 2.3

#17548 Fixed typo in module AdminNotification
  app/code/Magento/AdminNotification/Observer/PredispatchAdminActionControllerObserver.php
Labels: Component: AdminNotification, Partner: MediaCT, Progress: accept, Release Line: 2.3, partners-contribution

#16783 [Backport] Fix the issue with "Shipping address is not set" exception
  app/code/Magento/Multishipping/Controller/Checkout.php
  app/code/Magento/Multishipping/Helper/Url.php
  app/code/Magento/Quote/Model/ShippingMethodManagement.php
  app/code/Magento/Quote/Test/Unit/Model/ShippingMethodManagementTest.php
Labels: Component: Multishipping, Component: Quote, Partner: Atwix, Progress: accept, Release Line: 2.1, partners-contribution

#17366 [Backport] Fixed some minor css issue
  lib/internal/Magento/Framework/View/Test/Unit/Url/_files/sourceImport.css
  lib/web/css/docs/docs.css
Labels: Area: Lib/Frontend, Component: Framework/View, Partner: MediaCT, Progress: accept, Release Line: 2.1, partners-contribution

#14973 Fix unstable session manager
  lib/internal/Magento/Framework/Session/SessionManager.php
Labels: Component: Framework/Session, Progress: accept, Release Line: 2.2

#15369 Fixed review list ajax if product not exist redirect to 404 page #13102
  app/code/Magento/Review/Controller/Product/ListAjax.php
Labels: Component: Review, Event: dmcdindia, Progress: PR Created, Release Line: 2.2, acknowledged, bugfix

#17491 [Backport] Fix incorrect image magnifier size bug in Safari
  lib/web/magnifier/magnify.js
Labels: Area: Lib/Frontend, Progress: accept, Release Line: 2.2

#17526 Fixed undefinded shipping method name issue #17492
  app/code/Magento/Checkout/view/frontend/web/js/view/summary/shipping.js
Labels: Area: Frontend, Component: Checkout, Progress: accept, Release Line: 2.2

#17540 Fix for #15041 Adding a new fieldset to the admin category editor changes the position of the 'General' fieldset
  app/code/Magento/Catalog/view/adminhtml/ui_component/category_form.xml
Labels: Area: Frontend, Component: Catalog, Partner: Atwix, Progress: accept, Release Line: 2.2, partners-contribution

#17552 Fix proxy generation return type
  lib/internal/Magento/Framework/ObjectManager/Code/Generator/Proxy.php
  lib/internal/Magento/Framework/ObjectManager/Test/Unit/Code/Generator/_files/Sample.php
  lib/internal/Magento/Framework/ObjectManager/Test/Unit/Code/Generator/_files/SampleProxy.txt
Labels: Component: Framework/ObjectManager, Partner: Interactiv4, Progress: accept, Release Line: 2.2, partners-contribution

#17590 Braintree: Add unit test for CreditCard/TokenFormatter
  app/code/Magento/Braintree/Test/Unit/Model/InstantPurchase/CreditCard/TokenFormatterTest.php
Labels: Component: Braintree, Partner: Atwix, Progress: accept, Release Line: 2.2, partners-contribution

#17083 [Backport] Make scope parameters of methods to save/delete config optional
  app/code/Magento/Config/Model/ResourceModel/Config.php
  lib/internal/Magento/Framework/App/Config/ConfigResource/ConfigInterface.php
Labels: Component: Config, Component: Framework/App, Progress: accept, Release Line: 2.1

#17543 Link logo in web setup wizard to back-end base URL
  app/design/adminhtml/Magento/backend/web/app/setup/styles/less/pages/_common.less
  setup/pub/styles/setup.css
  setup/view/magento/setup/navigation/side-menu.phtml
Labels: Area: Design/Frontend, Component: Setup, Partner: MediaCT, Progress: accept, Release Line: 2.2, partners-contribution

#17575 Translated validation error messages
  app/code/Magento/CatalogSearch/i18n/en_US.csv
  app/code/Magento/CatalogSearch/view/frontend/templates/advanced/form.phtml
Labels: Area: Frontend, Component: CatalogSearch, Progress: accept, Release Line: 2.2

#17013 Fixed #16929 - Incorrect displaying Product Image Watermarks on Magento 2.2.5
  lib/internal/Magento/Framework/Image/Adapter/Gd2.php
Labels: Component: Framework/Image, Progress: accept, Release Line: 2.2

#17484 Fix sending duplicate emails
  app/code/Magento/Sales/Model/EmailSenderHandler.php
  app/code/Magento/Sales/etc/adminhtml/system.xml
  app/code/Magento/Sales/etc/config.xml
  app/code/Magento/Sales/etc/di.xml
Labels: Component: Sales, Progress: accept, Release Line: 2.2

#17593 Fixing the address checkbox being unchecked on payment step.
  app/code/Magento/Checkout/view/frontend/web/js/view/shipping.js
Labels: Area: Frontend, Component: Checkout, Partner: Atwix, Progress: accept, Release Line: 2.2, partners-contribution

#17602 Fix Custom Attribute Group can not translate in catalog/product page
  app/code/Magento/Catalog/Ui/DataProvider/Product/Form/Modifier/Eav.php
Labels: Component: Catalog, Progress: accept, Release Line: 2.2

#17629 [Backport] Solution for User role issue with customer group
  app/code/Magento/Customer/etc/acl.xml
Labels: Component: Customer, Progress: accept, Release Line: 2.1

#17632 [Backport] Fixed review list ajax if product not exist redirect to 404 page #13102
  app/code/Magento/Review/Controller/Product/ListAjax.php
Labels: Component: Review, Progress: accept, Release Line: 2.1

#17502 [Forwardport] Doesn't work if use date as condition for Catalog Price Rules
  app/code/Magento/CatalogRule/Model/Rule/Condition/Product.php
Labels: Component: CatalogRule, Progress: accept, Release Line: 2.3

#17551 [Forwardport] Fix possible undefined index when caching config data
  app/code/Magento/Config/App/Config/Type/System.php
Labels: Component: Config, Progress: accept, Release Line: 2.3

#17554 [Forwardport] Fix #10687 - Product image roles disappearing
  app/code/Magento/Catalog/Model/ProductRepository.php
Labels: Component: Catalog, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#17562 Fix wrong return type in StockRegistryInterface API
  app/code/Magento/CatalogInventory/Api/StockRegistryInterface.php
Labels: Component: CatalogInventory, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#17571 [Forwardport] Refactor: remove some code duplication
  app/code/Magento/Ui/view/base/web/js/dynamic-rows/dynamic-rows.js
Labels: Area: Frontend, Component: Ui, Partner: MediaCT, Progress: accept, Release Line: 2.3, partners-contribution

#17596 Typo in Magento\Cms\Model\Wysiwyg\Images\Storage function resizeFile()
  app/code/Magento/Cms/Model/Wysiwyg/Images/Storage.php
Labels: Component: Cms, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#17603 [Forwardport] Braintree: Add unit test for CreditCard/TokenFormatter
  app/code/Magento/Braintree/Test/Unit/Model/InstantPurchase/CreditCard/TokenFormatterTest.php
Labels: Component: Braintree, Progress: accept, Release Line: 2.3

#17604 [Forwardport] Fix for #15041 Adding a new fieldset to the admin category editor changes the position of the 'General' fieldset
  app/code/Magento/Catalog/view/adminhtml/ui_component/category_form.xml
Labels: Area: Frontend, Component: Catalog, Progress: accept, Release Line: 2.3

#17610 [Forwardport] Link logo in web setup wizard to back-end base URL
  app/design/adminhtml/Magento/backend/web/app/setup/styles/less/pages/_common.less
  setup/pub/styles/setup.css
  setup/view/magento/setup/navigation/side-menu.phtml
Labels: Area: Design/Frontend, Component: Setup, Partner: MediaCT, Progress: accept, Release Line: 2.3, partners-contribution

#17633 Added unit test for newsletter problem model
  app/code/Magento/Newsletter/Test/Unit/Model/ProblemTest.php
Labels: Component: Newsletter, Partner: Atwix, Progress: accept, Release Line: 2.2, partners-contribution

#17652 Update time12h javascript validation rule to be compatible with js minify
  app/code/Magento/Ui/view/base/web/js/lib/validation/rules.js
Labels: Area: Frontend, Component: Ui, Progress: accept, Release Line: 2.2

#17232 Improve code quality subscriber new action
  app/code/Magento/Newsletter/Controller/Subscriber/NewAction.php
Labels: Component: Newsletter, Partner: MediaCT, Progress: accept, Release Line: 2.3, partners-contribution

#17574 [Forwardport] Solution for User role issue with customer group
  app/code/Magento/Customer/etc/acl.xml
Labels: Component: Customer, Progress: accept, Release Line: 2.3

#17620 [Forwardport] Fix type error in Cart/Totals.
  app/code/Magento/Quote/Model/Cart/CartTotalRepository.php
Labels: Component: Quote, Progress: accept, Release Line: 2.3

#17667 [Backport] Added unit test for newsletter problem model
  app/code/Magento/Newsletter/Test/Unit/Model/ProblemTest.php
Labels: Component: Newsletter, Progress: accept, Release Line: 2.1

#17684 [Backport] Fix Custom Attribute Group can not translate in catalog/product page
  app/code/Magento/Catalog/Ui/DataProvider/Product/Form/Modifier/Eav.php
Labels: Component: Catalog, Partner: Atwix, Progress: accept, Release Line: 2.1, partners-contribution

#17701 Message list component fix: the message type is always error when parameters specified
  app/code/Magento/Ui/view/frontend/web/js/model/messages.js
Labels: Area: Frontend, Component: Ui, Partner: Atwix, Progress: accept, Release Line: 2.2, partners-contribution

#17710 Sales Rule: Add unit tests for model classes
  app/code/Magento/SalesRule/Test/Unit/Model/CouponGeneratorTest.php
  app/code/Magento/SalesRule/Test/Unit/Model/Quote/ChildrenValidationLocatorTest.php
Labels: Component: SalesRule, Partner: Atwix, Progress: accept, Release Line: 2.2, partners-contribution

#17689 [Backport] Update time12h javascript validation rule to be compatible with js minify
  app/code/Magento/Ui/view/base/web/js/lib/validation/rules.js
Labels: Area: Frontend, Component: Ui, Partner: Atwix, Progress: accept, Release Line: 2.1, partners-contribution

#17682 [Backport] CMS: Add missing unit tests for model classes
  app/code/Magento/Cms/Test/Unit/Model/BlockTest.php
Labels: Component: Cms, Partner: Atwix, Progress: accept, Release Line: 2.1, partners-contribution

#17702 [Backport] Message list component fix: the message type is always error when parameters specified
  app/code/Magento/Ui/view/frontend/web/js/model/messages.js
Labels: Area: Frontend, Component: Ui, Partner: Atwix, Progress: accept, Release Line: 2.1, partners-contribution

#17627 Use '.min' in filenames of already minified js files in the Swagger module so they aren't getting minified again in production, fixes #16927 - for Magento 2.3
  app/code/Magento/Swagger/view/frontend/layout/swagger_index_index.xml
  app/code/Magento/Swagger/view/frontend/web/swagger-ui/js/swagger-ui-bundle.min.js
  app/code/Magento/Swagger/view/frontend/web/swagger-ui/js/swagger-ui-standalone-preset.min.js
Labels: Area: Frontend, Component: Swagger, Progress: accept, Release Line: 2.3

#17659 Fix #17579 Typo in Gallery.php
  app/code/Magento/Catalog/Block/Adminhtml/Product/Helper/Form/Gallery.php
Labels: Component: Catalog, Partner: Guapa, Progress: accept, Release Line: 2.3, partners-contribution

#17666 [Forwardport] Added unit test for newsletter problem model
  app/code/Magento/Newsletter/Test/Unit/Model/ProblemTest.php
Labels: Component: Newsletter, Progress: accept, Release Line: 2.3

#17681 [Forwardport] CMS: Add missing unit tests for model classes
  app/code/Magento/Cms/Test/Unit/Model/BlockTest.php
Labels: Component: Cms, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#17683 [Forwardport] Fix Custom Attribute Group can not translate in catalog/product page
  app/code/Magento/Catalog/Ui/DataProvider/Product/Form/Modifier/Eav.php
Labels: Component: Catalog, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#17688 [Forwardport] Update time12h javascript validation rule to be compatible with js minify
  app/code/Magento/Ui/view/base/web/js/lib/validation/rules.js
Labels: Area: Frontend, Component: Ui, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#17694 [Forwardport] Translated validation error messages
  app/code/Magento/CatalogSearch/i18n/en_US.csv
  app/code/Magento/CatalogSearch/view/frontend/templates/advanced/form.phtml
Labels: Area: Frontend, Component: CatalogSearch, Partner: Interactiv4, Progress: accept, Release Line: 2.3, partners-contribution

#17704 [Forwardport] Review: Adding missing unit test for Observer
  app/code/Magento/Review/Test/Unit/Observer/ProcessProductAfterDeleteEventObserverTest.php
Labels: Component: Review, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#17712 [Forwardport] Integration test for reviews delete observer
  dev/tests/integration/testsuite/Magento/Review/Observer/ProcessProductAfterDeleteEventObserverTest.php
Labels: Progress: accept, Release Line: 2.3

#17713 [Forwardport] Translated menu titles
  app/code/Magento/AdminNotification/etc/adminhtml/menu.xml
  app/code/Magento/Braintree/etc/acl.xml
  app/code/Magento/Braintree/etc/adminhtml/menu.xml
  app/code/Magento/Braintree/i18n/en_US.csv
  app/code/Magento/Marketplace/etc/adminhtml/menu.xml
  app/code/Magento/TaxImportExport/etc/acl.xml
  app/code/Magento/TaxImportExport/i18n/en_US.csv
  app/code/Magento/UrlRewrite/etc/adminhtml/menu.xml
Labels: Component: AdminNotification, Component: Braintree, Component: Marketplace, Component: TaxImportExport, Component: UrlRewrite, Progress: accept, Release Line: 2.3

#17717 [Forwardport] Add unit test for Sales Rule model class
  app/code/Magento/SalesRule/Test/Unit/Model/CouponGeneratorTest.php
Labels: Component: SalesRule, Progress: accept, Release Line: 2.3

#17725 [Forwardport] magento/magento2#12250: View.xml is inheriting image sizes from paren…
  app/code/Magento/Catalog/Model/ImageExtractor.php
  lib/internal/Magento/Framework/Config/etc/view.xsd
Labels: Component: Catalog, Component: Framework/Config, Progress: accept, Release Line: 2.3

#17742 [Forwardport] Removed double occurrence of 'it' from sentences.
  app/code/Magento/Paypal/i18n/en_US.csv
  app/code/Magento/Tinymce3/view/base/web/tiny_mce/classes/ControlManager.js
  app/code/Magento/Tinymce3/view/base/web/tiny_mce/classes/html/Styles.js
  app/code/Magento/Tinymce3/view/base/web/tiny_mce/plugins/autosave/editor_plugin_src.js
  app/code/Magento/Tinymce3/view/base/web/tiny_mce/tiny_mce_jquery_src.js
  app/code/Magento/Tinymce3/view/base/web/tiny_mce/tiny_mce_prototype_src.js
  app/code/Magento/Tinymce3/view/base/web/tiny_mce/tiny_mce_src.js
Labels: Component: Paypal, Progress: accept, Release Line: 2.3

#17743 [Forwardport] Correct spelling mistakes in Model and library files.
  lib/internal/Magento/Framework/Code/GeneratedFiles.php
  lib/web/modernizr/modernizr.js
Labels: Area: Lib/Frontend, Component: Framework/Code, Progress: accept, Release Line: 2.3

#17755 [Forwardport] Fixed a couple of spelling mistakes
  app/code/Magento/Signifyd/Test/Unit/Controller/Webhooks/HandlerTest.php
  lib/internal/Magento/Framework/DB/Test/Unit/Adapter/Pdo/MysqlTest.php
Labels: Component: Framework/DB, Component: Signifyd, Progress: accept, Release Line: 2.3

#17703 [Forwardport] Message list component fix: the message type is always error when parameters specified
  app/code/Magento/Ui/view/frontend/web/js/model/messages.js
Labels: Area: Frontend, Component: Ui, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#17721 [Forwardport] Fixed review list ajax if product not exist redirect to 404 page
  app/code/Magento/Review/Controller/Product/ListAjax.php
Labels: Component: Review, Progress: accept, Release Line: 2.3
