Repository magento/magento2, pull requests merged in 2018-06, with the labels that each got.

#15459 [Resolved : UI Component listing action column outside of screen when…
  app/design/adminhtml/Magento/backend/Magento_Ui/web/css/source/module/_data-grid.less
Labels: 2.2-develop, Partner: Wagento, accept, partners-contribution

#15468 Issue 15467 where a configuration sku gets deleted but is still saved…
  app/code/Magento/ConfigurableProduct/Block/Cart/Item/Renderer/Configurable.php
  app/code/Magento/ConfigurableProduct/CustomerData/ConfigurableItem.php
Labels: 2.2-develop, Component: ConfigurableProduct, accept

#15517 Use stored value of method instead of calling same method again.
  app/code/Magento/Directory/view/frontend/templates/currency.phtml
Labels: 2.2-develop, Area: Frontend, Component: Marketplace, accept

#15519 Typo correction
  app/code/Magento/Catalog/Model/Product/Type/AbstractType.php
Labels: 2.2-develop, Component: Catalog, accept

#15549 Fixed typo error
  app/code/Magento/Config/Block/System/Config/Form.php
  app/code/Magento/ConfigurableImportExport/Model/Import/Product/Type/Configurable.php
  app/code/Magento/Customer/Model/Session.php
Labels: 2.2-develop, Component: Config, Component: ConfigurableImportExport, Component: Customer, accept, typo

#15552 Remove extra space and format the code in translation file
  app/code/Magento/Captcha/i18n/en_US.csv
Labels: 2.2-develop, Component: Captcha, accept

#15200 [Port 2.3-develop] Don't recalculate tax for every price on category page
  app/code/Magento/Tax/Model/Config.php
Labels: 2.3-develop, Partner: H&O, Partner: Reach Digital, accept, partners-contribution, port-to-2.3

#15577 [Forwardport] set alignment purchase order form and place order button
  app/design/frontend/Magento/luma/Magento_Checkout/web/css/source/module/checkout/_payments.less
Labels: 2.3-develop, Partner: Interactiv4, accept, partners-contribution

#15607 [Forwardport] Issue 15469: Javascript error dropdowns.js
  lib/web/mage/dropdowns.js
Labels: 2.3-develop, Area: Lib/Frontend, Partner: Atwix, accept, partners-contribution

#15097 Add field to filter to collection
  app/code/Magento/Sales/Setup/UpgradeData.php
Labels: 2.2-develop, accept

#15305 chore: remove extraneous cursor property
  lib/web/css/source/lib/_buttons.less
Labels: 2.2-develop, Area: Frontend, accept

#15477 Variant product image in sidebar wishlist block
  app/code/Magento/Wishlist/CustomerData/Wishlist.php
Labels: 2.2-develop, Component: Wishlist, accept

#15598 [BUGFIX] #15564 Generated admin API token expires immediately
  app/code/Magento/Webapi/Model/Authorization/TokenUserContext.php
Labels: 2.2-develop, Component: Webapi, accept

#15602 set correct annotation
  lib/internal/Magento/Framework/Stdlib/DateTime/Timezone.php
  lib/internal/Magento/Framework/Stdlib/DateTime/TimezoneInterface.php
Labels: 2.2-develop, Component: Framework/Stdlib, Partner: Wagento, accept, partners-contribution

#15537 [Forwardport] Updated font-size variable and standardize #ToDo UI
  app/design/adminhtml/Magento/backend/web/app/setup/styles/less/lib/_buttons.less
Labels: 2.3-develop, accept, forwardport

#15574 [Forwardport] Fix typo in Image::open exception message
  lib/internal/Magento/Framework/Image.php
Labels: 2.3-develop, Component: Framework/Image, Partner: Interactiv4, accept, partners-contribution

#15575 [Forwardport] [fix] typo in method name _exportAddress[s]es
  app/code/Magento/Paypal/Model/Api/Nvp.php
Labels: 2.3-develop, Component: Paypal, Partner: Interactiv4, accept, partners-contribution

#15578 [Forwardport] #12820 - Wrong annotation in _toOptionArray - magento/framework/Data/…
  lib/internal/Magento/Framework/Data/Collection/AbstractDb.php
Labels: 2.3-develop, Component: Framework/Data, Partner: Interactiv4, accept, partners-contribution

#15595 [Forwardport] [fix] dynamical assigned property in webapi
  app/code/Magento/Webapi/Model/Soap/Fault.php
Labels: 2.3-develop, Component: Webapi, accept

#15349 Resolve Knockout non-unique elements id in console error
  app/code/Magento/Checkout/view/frontend/web/template/billing-address/form.html
Labels: 2.2-develop, Partner: Wagento, accept, dmcdindia, partners-contribution

#15585 Fix #13415 : Duplicated elements id
  app/code/Magento/GiftMessage/view/frontend/web/template/gift-message-form.html
Labels: 2.2-develop, Area: Frontend, Component: GiftMessage, accept

#15594 Remove extra semicolon from the files
  app/code/Magento/Multishipping/Test/Unit/Block/Checkout/SuccessTest.php
  app/code/Magento/Tax/Model/Sales/Total/Quote/CommonTaxCollector.php
Labels: 2.2-develop, Component: Multishipping, Component: Tax, accept

#15615 [Backport] Removed comma(,) from translate attribute
  app/code/Magento/Sales/etc/adminhtml/system.xml
Labels: 2.2-develop, Component: Sales, Partner: Atwix, accept, partners-contribution

#15621 fix typo for setCateroryIds
  dev/tests/integration/testsuite/Magento/AdvancedPricingImportExport/_files/create_products.php
  dev/tests/integration/testsuite/Magento/Bundle/_files/multiple_products.php
  dev/tests/integration/testsuite/Magento/Catalog/Model/ResourceModel/_files/website_attribute_sync.php
  dev/tests/integration/testsuite/Magento/Catalog/_files/category_duplicates.php
  dev/tests/integration/testsuite/Magento/Catalog/_files/multiple_products.php
  dev/tests/integration/testsuite/Magento/Catalog/_files/multiple_products_with_non_saleable_product.php
  dev/tests/integration/testsuite/Magento/CatalogImportExport/_files/product_export_data_special_chars.php
  dev/tests/integration/testsuite/Magento/CatalogImportExport/_files/product_export_with_product_links_data.php
Labels: 2.2-develop, Partner: Wagento, accept, partners-contribution

#15645 [Resolved : Menu widget submenu alignment #7897]
  lib/web/css/source/lib/_navigation.less
Labels: 2.2-develop, Area: Lib/Frontend, Partner: Wagento, accept, partners-contribution

#15177 Adding support for variadic arguments' method in generated proxy c…
  lib/internal/Magento/Framework/ObjectManager/Code/Generator/Proxy.php
Labels: 2.3-develop, accept, fra-rz-cd

#15623 Fix translations
  app/code/Magento/Checkout/view/frontend/web/template/minicart/content.html
Labels: 2.3-develop, Area: Frontend, Component: Checkout, accept

#15646 [Forwardport] Fixed typo error
  app/code/Magento/Config/Block/System/Config/Form.php
  app/code/Magento/ConfigurableImportExport/Model/Import/Product/Type/Configurable.php
  app/code/Magento/Customer/Model/Session.php
Labels: 2.3-develop, Component: Config, Component: ConfigurableImportExport, Component: Customer, accept, forwardport

#15658 [Forwardport] Fixed set template syntax issue
  app/code/Magento/Backend/Block/Dashboard.php
  app/code/Magento/Backend/Block/Dashboard/Graph.php
  app/code/Magento/Backend/Block/Dashboard/Grid.php
  app/code/Magento/Backend/Block/Dashboard/Sales.php
  app/code/Magento/Backend/Block/Dashboard/Totals.php
  app/code/Magento/Backend/Block/Page/Copyright.php
  app/code/Magento/Backend/Block/Page/Footer.php
  app/code/Magento/Backend/Block/Page/Header.php
  app/code/Magento/Backend/Block/Store/Switcher/Form/Renderer/Fieldset.php
  app/code/Magento/Backend/Block/Store/Switcher/Form/Renderer/Fieldset/Element.php
Labels: 2.3-develop, Component: Backend, accept, forwardport

#15659 [Forwardport] chore: remove extraneous cursor property
  lib/web/css/source/lib/_buttons.less
Labels: 2.3-develop, Area: Lib/Frontend, accept

#15667 [Forwardport] set correct annotation
  lib/internal/Magento/Framework/Stdlib/DateTime/Timezone.php
  lib/internal/Magento/Framework/Stdlib/DateTime/TimezoneInterface.php
Labels: 2.3-develop, Component: Framework/Stdlib, accept, forwardport

#15670 [Forwardport] Wrong annotation in _toOptionArray - magento/framework/Data/…
  lib/internal/Magento/Framework/Data/Collection/AbstractDb.php
Labels: 2.3-develop, Component: Framework/Data, accept, forwardport

#15682 [Forwardport] Wrong Last orders amount on dashboard #15660
  app/code/Magento/Sales/etc/di.xml
Labels: 2.3-develop, Component: Backend, accept, forwardport

#15616 [Backport] Removed comma(,) from translate attribute
  app/code/Magento/Sales/etc/adminhtml/system.xml
Labels: 2.1-develop, Component: Sales, Partner: Atwix, accept, partners-contribution

#15648 [Backport] Fixed typo error
  app/code/Magento/Config/Block/System/Config/Form.php
  app/code/Magento/ConfigurableImportExport/Model/Import/Product/Type/Configurable.php
  app/code/Magento/Customer/Model/Session.php
Labels: 2.1-develop, Component: Config, Component: ConfigurableImportExport, Component: Customer, accept, backport

#15657 [Backport] Fixed set template syntax issue
  app/code/Magento/Backend/Block/Dashboard.php
  app/code/Magento/Backend/Block/Dashboard/Graph.php
  app/code/Magento/Backend/Block/Dashboard/Grid.php
  app/code/Magento/Backend/Block/Dashboard/Sales.php
  app/code/Magento/Backend/Block/Dashboard/Totals.php
  app/code/Magento/Backend/Block/Page/Copyright.php
  app/code/Magento/Backend/Block/Page/Footer.php
  app/code/Magento/Backend/Block/Page/Header.php
  app/code/Magento/Backend/Block/Store/Switcher/Form/Renderer/Fieldset.php
  app/code/Magento/Backend/Block/Store/Switcher/Form/Renderer/Fieldset/Element.php
Labels: 2.1-develop, Component: Backend, accept, backport

#15668 [Backport] set correct annotation
  lib/internal/Magento/Framework/Stdlib/DateTime/Timezone.php
  lib/internal/Magento/Framework/Stdlib/DateTime/TimezoneInterface.php
Labels: 2.1-develop, Component: Framework/Stdlib, accept, backport

#15669 [Backport] Wrong annotation in _toOptionArray - magento/framework/Data/…
  lib/internal/Magento/Framework/Data/Collection/AbstractDb.php
Labels: 2.1-develop, Component: Framework/Data, accept, backport

#15700 [Backport] Fix HTML syntax in report.phtml error template
  pub/errors/default/report.phtml
Labels: 2.1-develop, Partner: Atwix, accept, partners-contribution

#15702 [Backport] Remove extra space and format the code in translation file
  app/code/Magento/Captcha/i18n/en_US.csv
Labels: 2.1-develop, Component: Captcha, Partner: Atwix, accept, partners-contribution

#15708 [Backport] Typo correction
  app/code/Magento/Catalog/Model/Product/Type/AbstractType.php
Labels: 2.1-develop, Component: Catalog, Partner: Atwix, accept, partners-contribution

#15710 [Backport] Fix dynamical assigned property as it wasn't assigned to an existing one
  app/code/Magento/Webapi/Model/Soap/Fault.php
Labels: 2.1-develop, Component: Webapi, Partner: Atwix, accept, partners-contribution

#15711 [Backport] Use stored value of method instead of calling same method again.
  app/code/Magento/Marketplace/view/adminhtml/templates/partners.phtml
Labels: 2.1-develop, Area: Frontend, Component: Marketplace, Partner: Atwix, accept, partners-contribution

#15714 [Backport] [Resolved : Menu widget submenu alignment #7897]
  lib/web/css/source/lib/_navigation.less
Labels: 2.1-develop, Area: Lib/Frontend, Partner: Atwix, accept, partners-contribution

#15566 Fixxes #15565
  app/code/Magento/Store/Model/PathConfig.php
Labels: 2.2-develop, Component: Store, accept

#15715 [BACKPORT 2.2 #15695] Fixed a couple of typos
  app/code/Magento/Sales/Block/Adminhtml/Order/Create/Sidebar/AbstractSidebar.php
  app/code/Magento/Ui/view/base/web/js/form/components/fieldset.js
  app/code/Magento/Ui/view/base/web/js/form/components/group.js
  setup/pub/angular-sanitize/angular-sanitize.js
  setup/pub/angular-sanitize/angular-sanitize.min.js.map
Labels: 2.2-develop, Area: Frontend, Component: Sales, Component: Setup, Component: Ui, accept

#15718 [Backport 2.2] Fixed return type of wishlist's getImageData in DocBlock
  app/code/Magento/Wishlist/CustomerData/Wishlist.php
Labels: 2.2-develop, Component: Wishlist, Partner: Atwix, accept, backport, partners-contribution

#15365 Trim username on customer account login page
  app/code/Magento/Customer/view/frontend/requirejs-config.js
  app/code/Magento/Customer/view/frontend/templates/form/login.phtml
Labels: 2.2-develop, Area: Frontend, Component: Customer, accept, dmcdindia

#15485 fix: support multiple minisearch widget instances
  app/code/Magento/Search/view/frontend/web/form-mini.js
Labels: 2.2-develop, accept

#15614 [Backport] Fixed product tier pricing pagination issue in admin
  app/code/Magento/Ui/view/base/web/js/dynamic-rows/dynamic-rows.js
Labels: 2.2-develop, Area: Frontend, Component: Ui, Partner: Atwix, accept, partners-contribution

#15765 check if order data is available to incl ec
  app/code/Magento/GoogleAnalytics/view/frontend/web/js/google-analytics.js
Labels: 2.2-develop, Area: Frontend, Component: GoogleAnalytics, Partner: basecom, accept, partner-contribution

#15665 [Forwardport] Wrong invoice prefix in multistore setup due to default store
  app/code/Magento/Sales/Model/ResourceModel/EntityAbstract.php
Labels: 2.3-develop, Component: Sales, accept, forwardport

#15696 [Forwardport] fixed Submitting search form (mini) with enter key fires event handle…
  app/code/Magento/Search/view/frontend/web/form-mini.js
Labels: 2.3-develop, Area: Frontend, Component: Search, accept, forwardport

#15701 [Forwardport] Fix HTML syntax in report.phtml error template
  pub/errors/default/report.phtml
Labels: 2.3-develop, Partner: Atwix, accept, partners-contribution

#15703 [Forwardport] Remove extra space and format the code in translation file
  app/code/Magento/Captcha/i18n/en_US.csv
Labels: 2.3-develop, Component: Captcha, Partner: Atwix, accept, partners-contribution

#15705 [Forwardport] Fix #13415 : Duplicated elements id
  app/code/Magento/GiftMessage/view/frontend/web/template/gift-message-form.html
Labels: 2.3-develop, Area: Frontend, Component: GiftMessage, accept

#15706 [Forwardport] Use stored value of method instead of calling same method again.
  app/code/Magento/Directory/view/frontend/templates/currency.phtml
Labels: 2.3-develop, Area: Frontend, Component: Marketplace, Partner: Atwix, accept, partners-contribution

#15707 [Forwardport] Typo correction
  app/code/Magento/Catalog/Model/Product/Type/AbstractType.php
Labels: 2.3-develop, Component: Catalog, Partner: Atwix, accept, partners-contribution

#15709 [Forwardport] [Resolved : Menu widget submenu alignment #7897]
  lib/web/css/source/lib/_navigation.less
Labels: 2.3-develop, Area: Lib/Frontend, Partner: Atwix, accept, partners-contribution

#15717 Fixed return type of wishlist's getImageData in DocBlock
  app/code/Magento/Wishlist/CustomerData/Wishlist.php
Labels: 2.3-develop, Component: Wishlist, Partner: Atwix, accept, partners-contribution

#15731 [Forwardport] Refactor javascript code of button split widget
  app/code/Magento/Backend/view/adminhtml/templates/widget/button/split.phtml
Labels: 2.3-develop, Area: Frontend, Component: Backend, Partner: Wagento, accept, partners-contribution

#15738 [Forwardport] fix: support multiple minisearch widget instances
  app/code/Magento/Search/view/frontend/web/form-mini.js
Labels: 2.3-develop, Area: Frontend, Component: Search, Partner: Wagento, accept, partners-contribution

#15747 [Forwardport] Refactor JavsScript for UrlRewrite module edit page
  app/code/Magento/UrlRewrite/view/adminhtml/templates/edit.phtml
  app/code/Magento/UrlRewrite/view/adminhtml/web/js/url-rewrite-validation.js
Labels: 2.3-develop, Area: Frontend, Component: UrlRewrite, Partner: Wagento, accept, partners-contribution

#15750 [Forwardport] Added language translation in template files
  app/code/Magento/Braintree/view/adminhtml/templates/form/cc.phtml
  app/code/Magento/Multishipping/i18n/en_US.csv
  app/code/Magento/Multishipping/view/frontend/templates/checkout/results.phtml
  app/code/Magento/Multishipping/view/frontend/templates/checkout/success.phtml
  app/code/Magento/Paypal/view/adminhtml/templates/transparent/form.phtml
Labels: 2.3-develop, Area: Frontend, Component: Braintree, Component: Multishipping, Component: Paypal, Partner: Wagento, accept, partners-contribution

#15757 [Forwardport] Move buttons definition to separate file
  app/code/Magento/Ui/view/base/web/js/form/adapter.js
  app/code/Magento/Ui/view/base/web/js/form/adapter/buttons.js
Labels: 2.3-develop, Area: Frontend, Component: Ui, Partner: Wagento, accept, partners-contribution

#15763 [Forwardport] Function unnecessarily called multiple time
  app/code/Magento/CurrencySymbol/view/adminhtml/templates/grid.phtml
Labels: 2.3-develop, Area: Frontend, Component: CurrencySymbol, accept, forwardport

#15764 [Forwardport] [Resolved : Menu widget submenu alignment]
  lib/web/css/source/lib/_navigation.less
Labels: 2.3-develop, Area: Lib/Frontend, Partner: Wagento, accept, partners-contribution

#15716 [BACKPORT 2.1 #15695] Fixed a couple of typos
  app/code/Magento/Sales/Block/Adminhtml/Order/Create/Sidebar/AbstractSidebar.php
  app/code/Magento/Ui/view/base/web/js/form/components/fieldset.js
  app/code/Magento/Ui/view/base/web/js/form/components/group.js
Labels: 2.1-develop, Area: Frontend, Component: Sales, Component: Ui, accept

#15719 [Backport 2.1] Fixed return type of wishlist's getImageData in DocBlock
  app/code/Magento/Wishlist/CustomerData/Wishlist.php
Labels: 2.1-develop, Component: Wishlist, Partner: Atwix, accept, backport, partners-contribution

#15724 [Backport] Moved css from media #TODO
  app/design/frontend/Magento/luma/Magento_Theme/web/css/source/_module.less
Labels: 2.1-develop, Area: Frontend, accept, backport

#15725 [Backport] Updated font-size variable and standardize #ToDo UI
  app/design/adminhtml/Magento/backend/web/app/setup/styles/less/lib/_buttons.less
Labels: 2.1-develop, Area: Frontend, accept, backport

#15736 [Backwardport] Refactor javascript code of button split widget
  app/code/Magento/Backend/view/adminhtml/templates/widget/button/split.phtml
Labels: 2.1-develop, Area: Frontend, Component: Backend, Partner: Wagento, accept, partners-contribution

#15739 [Backport] fix: support multiple minisearch widget instances
  app/code/Magento/Search/view/frontend/web/form-mini.js
Labels: 2.1-develop, Area: Frontend, Component: Search, Partner: Wagento, accept, partners-contribution

#15805 [Backport] Make necessary space. #5
  app/design/frontend/Magento/luma/Magento_Catalog/web/css/source/module/_listings.less
Labels: 2.1-develop, Partner: Wagento, accept, partners-contribution

#15810 [Backport] fix: support multiple minisearch widget instances
  app/code/Magento/Search/view/frontend/web/form-mini.js
Labels: 2.1-develop, Area: Frontend, Component: Search, accept

#15573 [Backport] Docblock typo fixes
  app/code/Magento/Config/Block/System/Config/Form.php
  app/code/Magento/ConfigurableImportExport/Model/Import/Product/Type/Configurable.php
  app/code/Magento/Customer/Model/Session.php
Labels: 2.1-develop, Component: Config, Component: ConfigurableImportExport, Component: Customer, Partner: Atwix, accept, backport, partners-contribution

#15693 [Backport 2.1] Fix minor issues in ui export converter classes
  app/code/Magento/Ui/Model/Export/ConvertToCsv.php
  app/code/Magento/Ui/Model/Export/ConvertToXml.php
Labels: 2.1-develop, Component: Ui, Partner: Atwix, accept, partners-contribution

#15756 [Backport] Error 500 in Module Manager
  setup/src/Magento/Setup/Model/Grid/Module.php
Labels: 2.1-develop, Component: Setup, Partner: Wagento, accept, partners-contribution

#15814 [Backport] fix typo for setCateroryIds
  dev/tests/integration/testsuite/Magento/AdvancedPricingImportExport/_files/create_products.php
  dev/tests/integration/testsuite/Magento/Catalog/_files/category_duplicates.php
  dev/tests/integration/testsuite/Magento/Catalog/_files/multiple_products.php
  dev/tests/integration/testsuite/Magento/CatalogImportExport/_files/product_export_data.php
  dev/tests/integration/testsuite/Magento/CatalogImportExport/_files/product_export_data_special_chars.php
  dev/tests/integration/testsuite/Magento/CatalogImportExport/_files/product_export_with_product_links_data.php
  dev/tests/integration/testsuite/Magento/ImportExport/_files/product.php
Labels: 2.1-develop, accept

#15816 [BackPort]15319 : misleading data-container in product list
  app/code/Magento/Catalog/view/frontend/templates/product/list.phtml
Labels: 2.1-develop, Area: Frontend, Component: Catalog, accept

#15817 [Backport] Fix typo in Image::open exception message
  lib/internal/Magento/Framework/Image.php
Labels: 2.1-develop, Component: Framework/Image, accept, backport

#15540 fix for Wrong price amount on product page #11717
  lib/internal/Magento/Framework/Locale/Format.php
Labels: 2.3-develop, Component: Framework/Locale, accept

#15558 Fixes in catalog component blocks [2.3-develop]
  app/code/Magento/Catalog/Block/Adminhtml/Category/Tree.php
  app/code/Magento/Catalog/Block/Adminhtml/Category/Widget/Chooser.php
  app/code/Magento/Catalog/Block/Adminhtml/Form/Renderer/Fieldset/Element.php
  app/code/Magento/Catalog/Block/Adminhtml/Product/Attribute/Grid.php
  app/code/Magento/Catalog/Block/Adminhtml/Product/Edit/Tab/Attributes/Search.php
  app/code/Magento/Catalog/Block/Adminhtml/Rss/Grid/Link.php
  app/code/Magento/Catalog/Block/Category/Rss/Link.php
  app/code/Magento/Catalog/Block/Product/AbstractProduct.php
  app/code/Magento/Catalog/Block/Product/View/Options/AbstractOptions.php
  app/code/Magento/Catalog/Block/Rss/Product/Special.php
Labels: 2.3-develop, Component: Catalog, accept

#15572 [Forwardport] Docblock typo fixes
  app/code/Magento/Config/Block/System/Config/Form.php
  app/code/Magento/ConfigurableImportExport/Model/Import/Product/Type/Configurable.php
  app/code/Magento/Customer/Model/Session.php
Labels: 2.3-develop, Component: Config, Component: ConfigurableImportExport, Component: Customer, Partner: Atwix, accept, forwardport, partners-contribution

#15649 [Forwardport] Fixes in config module
  app/code/Magento/Config/Model/Config/Importer.php
  app/code/Magento/Config/Test/Unit/Block/System/Config/Form/Field/ImageTest.php
Labels: 2.3-develop, Component: Config, accept, forwardport

#15692 Fix minor issues in ui export converter classes
  app/code/Magento/Ui/Model/Export/ConvertToCsv.php
  app/code/Magento/Ui/Model/Export/ConvertToXml.php
Labels: 2.3-develop, Component: Ui, Partner: Atwix, accept, partners-contribution

#15695 Fixed a couple of typos
  app/code/Magento/Sales/Block/Adminhtml/Order/Create/Sidebar/AbstractSidebar.php
  app/code/Magento/Ui/view/base/web/js/form/components/fieldset.js
  app/code/Magento/Ui/view/base/web/js/form/components/group.js
  setup/pub/angular-sanitize/angular-sanitize.js
  setup/pub/angular-sanitize/angular-sanitize.min.js.map
Labels: 2.3-develop, Area: Frontend, Component: Sales, Component: Setup, Component: Ui, accept

#15746 [Forwardport] Resolved : UI Component listing action column outside of screen when...
  app/design/adminhtml/Magento/backend/Magento_Ui/web/css/source/module/_data-grid.less
Labels: 2.3-develop, Area: Frontend, accept, forwardport

#15748 [Forwardport] Prevent multiple add-to-cart initializations in case of ajax loaded product listing
  app/code/Magento/Catalog/view/frontend/web/js/catalog-add-to-cart.js
Labels: 2.3-develop, Area: Frontend, Component: Catalog, Partner: Wagento, accept, partners-contribution

#15755 [Forwardport] Error 500 in Module Manager
  setup/src/Magento/Setup/Model/Grid/Module.php
Labels: 2.3-develop, Component: Setup, Partner: Wagento, accept, partners-contribution

#15794 [Forwardport] [Resolved : Styling <select> by changing less variables in Luma theme…
  app/design/frontend/Magento/luma/web/css/source/_forms.less
  app/design/frontend/Magento/luma/web/css/source/_theme.less
  lib/web/css/source/lib/variables/_forms.less
Labels: 2.3-develop, Area: Lib/Frontend, Partner: Wagento, accept, partners-contribution

#15809 [Forwardport] fix: support multiple minisearch widget instances
  app/code/Magento/Search/view/frontend/web/form-mini.js
Labels: 2.3-develop, Area: Frontend, Component: Search, accept

#15853 Fixed return type hinting in DocBlocks for Wishlist module
  app/code/Magento/Wishlist/Block/Rss/EmailLink.php
  app/code/Magento/Wishlist/Block/Rss/Link.php
  app/code/Magento/Wishlist/Helper/Data.php
  app/code/Magento/Wishlist/Plugin/Ui/DataProvider/WishlistSettings.php
Labels: 2.3-develop, Component: Wishlist, Partner: Atwix, accept, partners-contribution

#12314 Prevent layout cache corruption in edge case
  lib/internal/Magento/Framework/View/Model/Layout/Merge.php
Labels: 2.2-develop, Component: Framework/View, accept

#15539 FIX fo rissue #15510 - First PDF download / export after login
  app/code/Magento/Backend/App/AbstractAction.php
Labels: 2.2-develop, Component: Backend, Partner: MageSpecialist, accept, partners-contribution

#15694 [Backport 2.2] Fix minor issues in ui export converter classes
  app/code/Magento/Ui/Model/Export/ConvertToCsv.php
  app/code/Magento/Ui/Model/Export/ConvertToXml.php
Labels: 2.2-develop, Component: Ui, Partner: Atwix, accept, partners-contribution

#15734 [Resolved : Styling <select> by changing less variables in Luma theme…
  app/design/frontend/Magento/luma/web/css/source/_forms.less
  app/design/frontend/Magento/luma/web/css/source/_theme.less
  lib/web/css/source/lib/variables/_forms.less
Labels: 2.2-develop, Area: Lib/Frontend, Partner: Wagento, accept, partners-contribution

#15782 [Backport 2.2]Fix translations
  app/code/Magento/Checkout/view/frontend/web/template/minicart/content.html
Labels: 2.2-develop, Area: Frontend, Component: Checkout, Partner: Atwix, accept, backport, partners-contribution

#15789 Removed unnecessary css.
  app/design/frontend/Magento/luma/web/css/source/_actions-toolbar.less
Labels: 2.2-develop, Area: Frontend, Partner: Wagento, accept, partners-contribution

#15791 Removed unused class from forms less file.
  lib/web/css/source/lib/_forms.less
Labels: 2.2-develop, Area: Lib/Frontend, Partner: Wagento, accept, partners-contribution

#15795 Remove double semicolon from the style sheets.
  dev/tests/integration/testsuite/Magento/Framework/View/_files/Magento/ModuleA/view/adminhtml/product/product.css
  lib/web/extjs/resources/css/ytheme-magento.css
Labels: 2.2-develop, Area: Lib/Frontend, accept

#15825 Fixed set template syntax issue
  app/code/Magento/Bundle/Block/Adminhtml/Catalog/Product/Composite/Fieldset/Options/Type/Checkbox.php
  app/code/Magento/Bundle/Block/Adminhtml/Catalog/Product/Composite/Fieldset/Options/Type/Multi.php
  app/code/Magento/Bundle/Block/Adminhtml/Catalog/Product/Composite/Fieldset/Options/Type/Radio.php
  app/code/Magento/Bundle/Block/Adminhtml/Catalog/Product/Composite/Fieldset/Options/Type/Select.php
  app/code/Magento/Bundle/Block/Adminhtml/Catalog/Product/Edit/Tab/Bundle.php
  app/code/Magento/Bundle/Block/Adminhtml/Catalog/Product/Edit/Tab/Bundle/Option.php
  app/code/Magento/Bundle/Block/Adminhtml/Catalog/Product/Edit/Tab/Bundle/Option/Search.php
  app/code/Magento/Bundle/Block/Adminhtml/Catalog/Product/Edit/Tab/Bundle/Option/Selection.php
  app/code/Magento/Bundle/Block/Catalog/Product/View/Type/Bundle/Option/Checkbox.php
  app/code/Magento/Bundle/Block/Catalog/Product/View/Type/Bundle/Option/Multi.php
  app/code/Magento/Bundle/Block/Catalog/Product/View/Type/Bundle/Option/Radio.php
  app/code/Magento/Bundle/Block/Catalog/Product/View/Type/Bundle/Option/Select.php
Labels: 2.2-develop, Component: Bundle, accept

#15840 [Backport] Fix for issue 911 found on MSI project - Cannot read property source_… #14
  app/code/Magento/Ui/view/base/web/js/dynamic-rows/dynamic-rows-grid.js
Labels: 2.2-develop, Area: Frontend, Component: Ui, Partner: Wagento, accept, partners-contribution

#15854 [Backport 2.2] Fixed return type hinting in DocBlocks for Wishlist module
  app/code/Magento/Wishlist/Block/Rss/EmailLink.php
  app/code/Magento/Wishlist/Block/Rss/Link.php
  app/code/Magento/Wishlist/Helper/Data.php
  app/code/Magento/Wishlist/Plugin/Ui/DataProvider/WishlistSettings.php
Labels: 2.2-develop, Component: Wishlist, Partner: Atwix, accept, backport, partners-contribution

#15871 chore: remove unused less import
  lib/web/css/docs/source/docs.less
Labels: 2.2-develop, Area: Lib/Frontend, accept

#15767 [Backport] FIX fo rissue #15510 - First PDF download / export after login
  app/code/Magento/Backend/App/AbstractAction.php
Labels: 2.1-develop, Component: Backend, Partner: Wagento, accept, partners-contribution

#15776 [Backport] Added additional headers for avoiding customer data caching
  app/code/Magento/Customer/Controller/Section/Load.php
Labels: 2.1-develop, Component: Customer, Partner: Atwix, accept, backport, partners-contribution

#15796 [Backport] [Resolved : Styling <select> by changing less variables in Luma theme…
  app/design/frontend/Magento/luma/web/css/source/_forms.less
  app/design/frontend/Magento/luma/web/css/source/_theme.less
  lib/web/css/source/lib/variables/_forms.less
Labels: 2.1-develop, Area: Lib/Frontend, Partner: Wagento, accept, partners-contribution

#15797 [Backport] Removed unnecessary css. #3
  app/design/frontend/Magento/luma/web/css/source/_actions-toolbar.less
Labels: 2.1-develop, Area: Frontend, Partner: Wagento, accept, partners-contribution

#15801 [Backport] Prevent multiple add-to-cart initializations in case of ajax loaded product listing
  app/code/Magento/Catalog/view/frontend/web/js/catalog-add-to-cart.js
Labels: 2.1-develop, Area: Frontend, Component: Catalog, Partner: Wagento, accept, partners-contribution

#15841 [Backport] Fix for issue 911 found on MSI project - Cannot read property source_… #15
  app/code/Magento/Ui/view/base/web/js/dynamic-rows/dynamic-rows-grid.js
Labels: 2.1-develop, Area: Frontend, Component: Ui, Partner: Wagento, accept, partners-contribution

#15855 [Backport 2.1] Fixed return type hinting in DocBlocks for Wishlist module
  app/code/Magento/Wishlist/Block/Rss/EmailLink.php
  app/code/Magento/Wishlist/Block/Rss/Link.php
  app/code/Magento/Wishlist/Helper/Data.php
Labels: 2.1-develop, Component: Wishlist, Partner: Atwix, accept, backport, partners-contribution

#12626 Fixed condition with usage "hack" isPostRequest method
  app/code/Magento/Contact/Controller/Index/Post.php
  app/code/Magento/Contact/Test/Unit/Controller/Index/PostTest.php
  dev/tests/integration/testsuite/Magento/Contact/Controller/IndexTest.php
  lib/internal/Magento/Framework/App/HttpRequestInterface.php
  lib/internal/Magento/Framework/App/Request/Http.php
Labels: 2.2-develop, Component: Contact, Component: Framework/App, accept

#15322 ISSUE-11477 - fixed Swagger response for searchCriteria
  app/code/Magento/Webapi/Model/Rest/Swagger/Generator.php
Labels: 2.2-develop, Component: Webapi, WroCD, accept

#15661 Fixed Wrong order amount on dashboard on Last orders listing when having more than one website with different currencies
  app/code/Magento/Backend/Block/Widget/Grid/Column/Renderer/Currency.php
Labels: 2.2-develop, Component: Backend, accept

#15689 #15588 Fixed incorrect image urls in multistore xml sitemap
  app/code/Magento/Sitemap/Controller/Adminhtml/Sitemap/Generate.php
Labels: 2.2-develop, Component: Sitemap, Partner: Guapa, accept, partners-contribution

#15826 Add missing table aliases to fields mapping for Customer Group filter…
  app/code/Magento/Customer/etc/di.xml
Labels: 2.2-develop, Component: Customer, accept

#15847 [Up-port] check if order data is available to incl ec
  app/code/Magento/GoogleAnalytics/view/frontend/web/js/google-analytics.js
Labels: 2.3-develop, Area: Frontend, Component: GoogleAnalytics, accept, partners-contribution

#15867 [Forwardport] Update webapi.xml to fix typo
  app/code/Magento/Checkout/etc/webapi.xml
Labels: 2.3-develop, Component: Checkout, Partner: Atwix, accept, partners-contribution

#15903 [Forwardport] Complete the fix for cache issue due to the currencies with no symbol
  app/code/Magento/Catalog/Block/Category/Plugin/PriceBoxTags.php
  app/code/Magento/Catalog/Test/Unit/Block/Category/Plugin/PriceBoxTagsTest.php
Labels: 2.3-develop, Component: Catalog, Partner: Atwix, accept, partners-contribution

#15911 [Forwardport] Remove double semicolon from the style sheets.
  dev/tests/integration/testsuite/Magento/Framework/View/_files/Magento/ModuleA/view/adminhtml/product/product.css
  lib/web/extjs/resources/css/ytheme-magento.css
Labels: 2.3-develop, Area: Lib/Frontend, accept, forwardport

#15912 [Forwardport] Fixed set template syntax issue
  app/code/Magento/Bundle/Block/Adminhtml/Catalog/Product/Composite/Fieldset/Options/Type/Checkbox.php
  app/code/Magento/Bundle/Block/Adminhtml/Catalog/Product/Composite/Fieldset/Options/Type/Multi.php
  app/code/Magento/Bundle/Block/Adminhtml/Catalog/Product/Composite/Fieldset/Options/Type/Radio.php
  app/code/Magento/Bundle/Block/Adminhtml/Catalog/Product/Composite/Fieldset/Options/Type/Select.php
  app/code/Magento/Bundle/Block/Adminhtml/Catalog/Product/Edit/Tab/Bundle.php
  app/code/Magento/Bundle/Block/Adminhtml/Catalog/Product/Edit/Tab/Bundle/Option.php
  app/code/Magento/Bundle/Block/Adminhtml/Catalog/Product/Edit/Tab/Bundle/Option/Search.php
  app/code/Magento/Bundle/Block/Adminhtml/Catalog/Product/Edit/Tab/Bundle/Option/Selection.php
  app/code/Magento/Bundle/Block/Catalog/Product/View/Type/Bundle/Option/Checkbox.php
  app/code/Magento/Bundle/Block/Catalog/Product/View/Type/Bundle/Option/Multi.php
  app/code/Magento/Bundle/Block/Catalog/Product/View/Type/Bundle/Option/Radio.php
  app/code/Magento/Bundle/Block/Catalog/Product/View/Type/Bundle/Option/Select.php
Labels: 2.3-develop, Component: Bundle, accept, forwardport

#15921 [Forwardport] chore: remove unused less import
  lib/web/css/docs/source/docs.less
Labels: 2.3-develop, Area: Lib/Frontend, accept

#15290 [Backport] Fix typo in database column comment
  app/code/Magento/Catalog/Setup/InstallSchema.php
Labels: 2.1-develop, Component: Catalog, Partner: Atwix, accept, backport, partners-contribution

#15866 [Backport] Update webapi.xml to fix typo
  app/code/Magento/Checkout/etc/webapi.xml
Labels: 2.1-develop, 2.3-develop, Component: Checkout, Partner: Atwix, accept, partners-contribution

#15887 [Backport-2.1] Added language translation in template files
  app/code/Magento/Braintree/i18n/en_US.csv
  app/code/Magento/Braintree/view/adminhtml/templates/form/cc.phtml
  app/code/Magento/Paypal/i18n/en_US.csv
  app/code/Magento/Paypal/view/adminhtml/templates/transparent/form.phtml
Labels: 2.1-develop, Area: Frontend, Component: Braintree, Component: Paypal, accept, backport

#15920 [Backport] chore: remove unused less import
  lib/web/css/docs/source/docs.less
Labels: 2.1-develop, Area: Lib/Frontend, accept

#15924 [Backport] Added spanish Bolivia locale to allowedLocales list
  lib/internal/Magento/Framework/Locale/Config.php
Labels: 2.1-develop, Component: Framework/Locale, Partner: Atwix, accept, partners-contribution

#15925 [Backport] Format code
  app/code/Magento/Review/etc/adminhtml/menu.xml
Labels: 2.1-develop, Component: Review, Partner: Atwix, accept, partners-contribution

#15926 [Backport] precision for price overriding by js
  app/code/Magento/Catalog/view/base/web/js/price-utils.js
Labels: 2.1-develop, Area: Frontend, Component: Catalog, Partner: Atwix, accept, partners-contribution

#15927 [Backport] [#14089] Add Malaysian Locale Code
  lib/internal/Magento/Framework/Locale/Config.php
Labels: 2.1-develop, Component: Framework/Locale, Partner: Atwix, accept, partners-contribution

#15888 Correct typo correction js files
  app/code/Magento/Catalog/view/frontend/web/js/storage-manager.js
  app/code/Magento/Ui/view/base/web/js/form/element/file-uploader.js
Labels: 2.2-develop, Area: Frontend, Component: Catalog, Component: Ui, accept

#15891 Remove parameter from method calling
  app/code/Magento/UrlRewrite/Block/Catalog/Product/Edit.php
Labels: 2.2-develop, Component: UrlRewrite, accept

#15892 Wrong annotation in _toOptionArray : lib\internal\Magento\Framework\D…
  lib/internal/Magento/Framework/Data/SearchResultProcessor.php
Labels: 2.2-develop, Component: Framework/Data, accept

#15933 Do not display anchor if admin submenu has no children
  app/code/Magento/Backend/Block/Menu.php
Labels: 2.1-develop, Component: Backend, Partner: Atwix, accept, partners-contribution

#15943 [Backport] Wrong annotation in _toOptionArray : lib\internal\Magento\Framework\D…
  lib/internal/Magento/Framework/Data/SearchResultProcessor.php
Labels: 2.1-develop, Component: Framework/Data, accept

#15945 [Backport] ISSUE-11477 - fixed Swagger response for searchCriteria - added zero …
  app/code/Magento/Webapi/Model/Rest/Swagger/Generator.php
Labels: 2.1-develop, Component: Webapi, accept

#15949 [Backport]No need to pass method parameter as method definition does not requir…
  app/code/Magento/UrlRewrite/Block/Catalog/Product/Edit.php
Labels: 2.1-develop, Component: UrlRewrite, accept

#15944 [Forwardport] Wrong annotation in _toOptionArray : lib\internal\Magento\Framework\D…
  lib/internal/Magento/Framework/Data/SearchResultProcessor.php
Labels: 2.3-develop, Component: Framework/Data, accept

#15946 [Forwardport] ISSUE-11477 - fixed Swagger response for searchCriteria - added zero …
  app/code/Magento/Webapi/Model/Rest/Swagger/Generator.php
Labels: 2.3-develop, Component: Webapi, accept

#15948 [Forwardport]No need to pass method parameter as method definition does not requir…
  app/code/Magento/UrlRewrite/Block/Catalog/Product/Edit.php
Labels: 2.3-develop, Component: UrlRewrite, accept

#15643 [Backport] Fixed Purchased Order Form button should visible properly
  app/design/frontend/Magento/luma/Magento_Checkout/web/css/source/module/checkout/_payments.less
Labels: 2.1-develop, Area: Design/Frontend, accept, backport

#15880 [Backport] [Resolved : limiter float too generic]
  app/design/frontend/Magento/blank/Magento_Catalog/web/css/source/module/_toolbar.less
  app/design/frontend/Magento/luma/Magento_Catalog/web/css/source/module/_toolbar.less
Labels: 2.1-develop, Area: Design/Frontend, Partner: Wagento, accept, partners-contribution

#15915 [Backport] Fixes in catalog component blocks [2.1-develop]
  app/code/Magento/Catalog/Block/Adminhtml/Category/Tree.php
  app/code/Magento/Catalog/Block/Adminhtml/Category/Widget/Chooser.php
  app/code/Magento/Catalog/Block/Adminhtml/Form/Renderer/Fieldset/Element.php
  app/code/Magento/Catalog/Block/Adminhtml/Product/Attribute/Grid.php
  app/code/Magento/Catalog/Block/Adminhtml/Product/Edit/Tab/Attributes/Search.php
  app/code/Magento/Catalog/Block/Adminhtml/Rss/Grid/Link.php
  app/code/Magento/Catalog/Block/Category/Rss/Link.php
  app/code/Magento/Catalog/Block/Product/AbstractProduct.php
  app/code/Magento/Catalog/Block/Product/View/Options/AbstractOptions.php
  app/code/Magento/Catalog/Block/Rss/Product/Special.php
Labels: 2.1-develop, Component: Catalog, Partner: Wagento, accept, partners-contribution

#15917 [Backport] [Resolved : Changing @tab-content__border variable has no effect in B…
  app/design/frontend/Magento/blank/web/css/source/_sections.less
  app/design/frontend/Magento/blank/web/css/source/_variables.less
Labels: 2.1-develop, Area: Design/Frontend, Partner: Wagento, accept, partners-contribution

#16024 [Backport 2.1] Wishlist: Remove unnecessary parameter from invoking toHtml() method
  app/code/Magento/Wishlist/view/frontend/templates/item/list.phtml
Labels: 2.1-develop, Area: Frontend, Component: Wishlist, Partner: Atwix, accept, backport, partners-contribution

#16026 Fixed a minor styling issue in page footer in order to align the columns indentations
  app/design/frontend/Magento/luma/Magento_Theme/web/css/source/_module.less
Labels: 2.1-develop, Area: Design/Frontend, Partner: Atwix, accept, partners-contribution

#16043 [Backport] fix for dropdown toggle icon in cart
  app/design/frontend/Magento/blank/web/css/source/_extends.less
Labels: 2.1-develop, Area: Design/Frontend, Partner: Wagento, accept, partners-contribution

#15879 [Forwardport] [Resolved : limiter float too generic]
  app/design/frontend/Magento/blank/Magento_Catalog/web/css/source/module/_toolbar.less
  app/design/frontend/Magento/luma/Magento_Catalog/web/css/source/module/_toolbar.less
Labels: 2.3-develop, Area: Design/Frontend, Partner: Wagento, accept, partners-contribution

#15884 [Forwardport 2.3] Trim username on customer account login page
  app/code/Magento/Customer/view/frontend/templates/form/login.phtml
  app/code/Magento/Customer/view/frontend/web/js/trim-username.js
Labels: 2.3-develop, Area: Frontend, Component: Customer, accept
