Repository magento/magento2, pull requests merged in 2018-07, with the labels that each got.

#16467 [Backport] Fix $useCache for container child blocks
  lib/internal/Magento/Framework/View/Layout.php
Labels: 2.1-develop, Component: Framework/View, accept, backport

#16253 Make configfixture meaningful in ProcessCronQueueObserverTest
  dev/tests/integration/testsuite/Magento/Cron/Observer/ProcessCronQueueObserverTest.php
Labels: 2.3-develop, accept

#16376 [Forwardport] Add UpdatedAtListProvider to NotSyncedDataProvider for invoice grid
  app/code/Magento/Sales/etc/di.xml
Labels: 2.3-develop, Component: Sales, Partner: H&O, Partner: Reach Digital, accept, forwardport, partners-contribution, port-to-2.3

#16475 [Backport] Declare module namespace before template path name(Magento_Sales::order/info.phtml).
  app/code/Magento/Sales/Block/Order/Info.php
Labels: 2.1-develop, Component: Sales, accept

#15592 Use the timeout when querying Elasticsearch
  app/code/Magento/Elasticsearch/Model/Client/Elasticsearch.php
Labels: 2.3-develop, Component: Elasticsearch, Partner: Something Digital, partners-contribution

#16429 [Forwardport] Fix for #8222
  lib/web/mage/collapsible.js
Labels: 2.3-develop, Area: Lib/Frontend, accept, forwardport

#16476 [Forwardport] Declare module namespace before template path name(Magento_Sales::order/info.phtml).
  app/code/Magento/Sales/Block/Order/Info.php
Labels: 2.3-develop, Component: Sales, accept

#16481 Declare module namespace before template path name(Magento_Sales::order/creditmemo.phtml).
  app/code/Magento/Sales/Block/Order/Creditmemo.php
Labels: 2.3-develop, Component: Sales, accept

#12920 #8810 - REST API - Attribute option creation -> no ID returned
  app/code/Magento/Catalog/Api/ProductAttributeOptionManagementInterface.php
  app/code/Magento/Eav/Api/AttributeOptionManagementInterface.php
  app/code/Magento/Eav/Model/Entity/Attribute/OptionManagement.php
  app/code/Magento/Eav/Test/Unit/Model/Entity/Attribute/OptionManagementTest.php
  dev/tests/api-functional/testsuite/Magento/Catalog/Api/ProductAttributeOptionManagementInterfaceTest.php
  dev/tests/api-functional/testsuite/Magento/Catalog/Api/ProductSwatchAttributeOptionManagementInterfaceTest.php
Labels: 2.3-develop, Component: Framework/Webapi, Partner: Wagento, Reproduced on 2.1.x, Reproduced on 2.2.x, Reproduced on 2.3.x, accept, bugfix, partners-contribution

#16387 [Forwardport] Login with wishlist raise report after logout.
  app/code/Magento/Customer/Model/Plugin/CustomerFlushFormKey.php
Labels: 2.3-develop, Component: Customer, Partner: ISM eCompany, accept

#16086 Fix false cache_lifetime usage in xml layouts
  lib/internal/Magento/Framework/View/Element/AbstractBlock.php
Labels: 2.2-develop, Component: Framework/View, Partner: Atwix, accept, partners-contribution

#16372 Wishlist update item issue
  app/code/Magento/Wishlist/Model/Wishlist.php
Labels: 2.2-develop, Component: Wishlist, Partner: Atwix, partners-contribution

#16386 Login with wishlist raise report after logout.
  app/code/Magento/Customer/Model/Plugin/CustomerFlushFormKey.php
Labels: 2.2-develop, Component: Customer, Partner: ISM eCompany, accept

#16438 Credit memo email template file: fixing incorrect object type error
  app/code/Magento/Sales/view/frontend/templates/email/items/creditmemo/default.phtml
Labels: 2.2-develop, Area: Frontend, Component: Sales, accept

#16458 Add missing showInStore attributes
  app/code/Magento/Braintree/etc/adminhtml/system.xml
Labels: 2.2-develop, Component: Braintree, accept

#16477 Fix for #14593 (second try #16431)
  app/code/Magento/Checkout/view/frontend/web/js/sidebar.js
Labels: 2.2-develop, Area: Frontend, Component: Ui, accept

#16472 Improve comment message
  lib/internal/Magento/Framework/Exception/AbstractAggregateException.php
Labels: 2.2-develop, Component: Framework/Exception, accept

#16489 Properly hyphenate "third-party"
  app/code/Magento/Backend/etc/adminhtml/system.xml
  app/code/Magento/Backend/i18n/en_US.csv
  app/code/Magento/Backend/view/adminhtml/ui_component/design_config_form.xml
Labels: 2.2-develop, Area: Frontend, Component: Backend, Partner: Classy Llama, accept, partners-contribution

#16495 Fixed spell issue in library
  app/code/Magento/Catalog/Model/Product/Gallery/Processor.php
  lib/internal/Magento/Framework/Code/GeneratedFiles.php
  lib/web/modernizr/modernizr.js
Labels: 2.2-develop, Area: Lib/Frontend, Component: Catalog, Component: Framework/Code, accept

#16392 [Backport]Fixes updating wishlist item if an item object is passed instead its id.
  app/code/Magento/Wishlist/Model/Wishlist.php
Labels: 2.1-develop, Component: Wishlist, Partner: Atwix, partners-contribution

#16491 Fix for #8222
  lib/web/mage/collapsible.js
Labels: 2.1-develop, Area: Lib/Frontend, accept

#15732 [Forwardport] Resolve Knockout non-unique elements id in console error
  app/code/Magento/Checkout/view/frontend/web/template/billing-address/form.html
Labels: 2.3-develop, Area: Frontend, Component: Checkout, Partner: Wagento, accept, partners-contribution

#16391 [Forwardport] Fixes updating wishlist item if an item object is passed instead its id.
  app/code/Magento/Wishlist/Model/Wishlist.php
Labels: 2.3-develop, Component: Wishlist, Partner: Atwix, accept, partners-contribution

#16484 Declare module namespace before template path name(Magento_Sales::order/history.phtml).
  app/code/Magento/Sales/Block/Order/History.php
Labels: 2.3-develop, Component: Sales, accept

#16508 MSI-1411: Add new rule to copy paste detector blacklist to avoid cove…
  dev/tests/static/testsuite/Magento/Test/Php/_files/phpcpd/blacklist/common.txt
Labels: 2.3-develop, Partner: Atwix, accept, partners-contribution

#16459 [Forwardport] Add missing showInStore attributes
  app/code/Magento/Braintree/etc/adminhtml/system.xml
Labels: 2.3-develop, Component: Braintree, accept

#16521 [Forwardport : Changed password placeholder text in checkout page]
  app/code/Magento/Checkout/i18n/en_US.csv
  app/code/Magento/Checkout/view/frontend/web/template/form/element/email.html
Labels: 2.3-develop, Area: Frontend, Component: Checkout, Partner: Wagento, accept, partners-contribution

#16586 [Backport] Declare module namespace before template path name(Magento_Sales::order/creditmemo.phtml).
  app/code/Magento/Sales/Block/Order/Creditmemo.php
Labels: 2.1-develop, Component: Sales, accept

#15909 [Backport] Fix for Wrong price amount on product page
  lib/internal/Magento/Framework/Locale/Format.php
Labels: 2.2-develop, Component: Framework/Locale, accept

#16517 Fix responsive tables showing broken heading
  lib/web/css/source/lib/_tables.less
Labels: 2.2-develop, Area: Lib/Frontend, accept

#16524 Clear converted file data
  app/code/Magento/Ui/Model/Export/ConvertToCsv.php
  app/code/Magento/Ui/Model/Export/ConvertToXml.php
Labels: 2.2-develop, Component: Ui, accept

#16549 Corrected function comment
  setup/src/Magento/Setup/Module/Di/Code/Reader/ClassesScanner.php
Labels: 2.2-develop, Component: Setup, accept

#16553 Update mini-cart checkout translations
  app/code/Magento/Checkout/i18n/en_US.csv
Labels: 2.2-develop, Component: Checkout, Partner: H&O, Partner: Reach Digital, accept, partners-contribution

#16557 Updated SynonymGroup.xml
  dev/tests/functional/tests/app/Magento/Search/Test/Fixture/SynonymGroup.xml
Labels: 2.2-develop, accept, improvement

#16504 [Forwardport] Admin controller product set save refactor
  app/code/Magento/Catalog/Controller/Adminhtml/Product/Set/Save.php
Labels: 2.3-develop, Component: Catalog, accept

#16537 Issue in adding the wishlist of "zero price" product
  app/code/Magento/Catalog/Pricing/Price/RegularPrice.php
Labels: 2.3-develop, Component: Catalog, accept

#16546 Properly hyphenate "third-party"
  app/code/Magento/Backend/etc/adminhtml/system.xml
  app/code/Magento/Backend/i18n/en_US.csv
  app/code/Magento/Backend/view/adminhtml/ui_component/design_config_form.xml
Labels: 2.3-develop, Area: Frontend, Component: Backend, accept

#16573 Setting deploy mode to production with --skip-compilation flag should…
  setup/src/Magento/Setup/Console/CompilerPreparation.php
Labels: 2.3-develop, Component: Setup, accept

#16143 Variable as a method parameter might be overridden by the loop
  app/code/Magento/Bundle/Model/Product/Type.php
Labels: 2.2-develop, Component: Bundle, accept, improvement

#16474 [FIX] dev:di:info duplicates plugin info
  app/code/Magento/Developer/Model/Di/PluginList.php
Labels: 2.2-develop, Component: Developer, Partner: Vaimo, accept, bugfix, partners-contribution

#16493 [Backport] Prevent layout cache corruption in edge case
  lib/internal/Magento/Framework/View/Model/Layout/Merge.php
Labels: 2.1-develop, Component: Framework/View, accept

#16601 [2.1-develop][BackPort] Fixed backwards incompatible change to Transport variable event parameters
  app/code/Magento/Sales/Model/Order/Email/Sender/OrderSender.php
Labels: 2.1-develop, Component: Sales, accept

#16634 [Backport] Updated SynonymGroup.xml
  dev/tests/functional/tests/app/Magento/Search/Test/Fixture/SynonymGroup.xml
Labels: 2.1-develop, accept

#16643 [Backport] Variable as a method parameter might be overridden by the loop
  app/code/Magento/Bundle/Model/Product/Type.php
Labels: 2.1-develop, Component: Bundle, accept, backport

#16665 [Backport] 7399-clickableOverlay-less-fix - added pointer-events rule to .modal-…
  app/design/frontend/Magento/blank/web/css/source/components/_modals_extend.less
  app/design/frontend/Magento/luma/web/css/source/components/_modals_extend.less
Labels: 2.1-develop, Area: Design/Frontend, accept

#16667 [Backport] Improve retrieval of first array element
  app/code/Magento/Rule/Model/Action/AbstractAction.php
  app/code/Magento/Rule/Model/Condition/Combine.php
Labels: 2.1-develop, Component: Rule, accept

#16671 [Backport] Removed unused class from forms less file.
  lib/web/css/source/lib/_forms.less
Labels: 2.1-develop, Area: Lib/Frontend, accept

#16348 [Port 2.3] Captcha: Added integration tests for checking customer login attempts cleanup
  dev/tests/integration/testsuite/Magento/Captcha/Observer/ResetAttemptForFrontendAccountEditObserverTest.php
  dev/tests/integration/testsuite/Magento/Captcha/Observer/ResetAttemptForFrontendObserverTest.php
  dev/tests/integration/testsuite/Magento/Captcha/_files/failed_logins_frontend.php
  dev/tests/integration/testsuite/Magento/Captcha/_files/failed_logins_frontend_rollback.php
Labels: 2.3-develop, Back port/Up port, Partner: Atwix, accept, partners-contribution

#16600 [2.3-develop][ForwardPort] Fixed backwards incompatible change to Transport variable event parameters
  app/code/Magento/Sales/Model/Order/Email/Sender/OrderSender.php
Labels: 2.3-develop, Component: Sales, accept

#16607 Add spelling correction: formatedPrice to formattedPrice
  app/code/Magento/Catalog/Block/Product/View/Options/AbstractOptions.php
  app/code/Magento/Catalog/Block/Product/View/Price.php
  app/code/Magento/Catalog/Model/Product.php
  app/code/Magento/Catalog/Model/Product/Type/Price.php
  app/code/Magento/Catalog/view/adminhtml/templates/catalog/product/composite/fieldset/options/type/date.phtml
  app/code/Magento/Catalog/view/adminhtml/templates/catalog/product/composite/fieldset/options/type/file.phtml
  app/code/Magento/Catalog/view/adminhtml/templates/catalog/product/composite/fieldset/options/type/text.phtml
  app/code/Magento/Catalog/view/frontend/templates/product/view/options/type/date.phtml
  app/code/Magento/Catalog/view/frontend/templates/product/view/options/type/file.phtml
  app/code/Magento/Catalog/view/frontend/templates/product/view/options/type/text.phtml
Labels: 2.3-develop, Area: Frontend, Component: Catalog, Partner: MediaCT, accept, partners-contribution

#16611 [Forwardport] Removed extra code
  app/code/Magento/Ui/Model/Export/ConvertToCsv.php
  app/code/Magento/Ui/Model/Export/ConvertToXml.php
Labels: 2.3-develop, Component: Ui, accept

#16623 [Forwardport] Fix for #14593 (second try #16431)
  app/code/Magento/Checkout/view/frontend/web/js/sidebar.js
Labels: 2.3-develop, Area: Frontend, Component: Ui, accept

#16638 [Forwardport] Update checkout translations
  app/code/Magento/Checkout/i18n/en_US.csv
Labels: 2.3-develop, Component: Checkout, Partner: H&O, Partner: Reach Digital, accept, forwardport, partners-contribution

#16642 [Forwardport] Variable as a method parameter might be overridden by the loop
  app/code/Magento/Bundle/Model/Product/Type.php
Labels: 2.3-develop, Component: Bundle, accept, forwardport

#16659 [Forwardport] dev:di:info duplicates plugin info
  app/code/Magento/Developer/Model/Di/PluginList.php
Labels: 2.3-develop, Component: Developer, accept, bugfix, forwardport

#16664 [Forwardport] 7399-clickableOverlay-less-fix - added pointer-events rule to .modal-…
  app/design/frontend/Magento/blank/web/css/source/components/_modals_extend.less
  app/design/frontend/Magento/luma/web/css/source/components/_modals_extend.less
Labels: 2.3-develop, Area: Design/Frontend, accept

#16670 [Forwardport] Removed unused class from forms less file.
  lib/web/css/source/lib/_forms.less
Labels: 2.3-develop, Area: Lib/Frontend, accept

#16585 [Backport] Remove the timezone from the date when retrieving the current month from a UTC timestamp.
  app/code/Magento/Reports/Model/ResourceModel/Report/Collection.php
Labels: 2.1-develop, Component: Reports, accept

#16632 [Backport] Small refactoring to better code readability
  app/code/Magento/Backend/Block/Widget/Form/Element/Dependence.php
Labels: 2.1-develop, Component: Backend, accept

#16720 [Backport] Fix for #12081: missing translations in the js-translations.json
  app/code/Magento/Translation/etc/di.xml
Labels: 2.1-develop, Component: Translation, accept

#16731 [Backport] Removed extra code
  app/code/Magento/Ui/Model/Export/ConvertToCsv.php
  app/code/Magento/Ui/Model/Export/ConvertToXml.php
Labels: 2.1-develop, Component: Ui, accept

#16588 [Forwardport] Fix of invalid price for integer currencies when amount less than group size
  lib/internal/Magento/Framework/Locale/Format.php
Labels: 2.3-develop, Component: Framework/Locale, accept

#16613 Update Israeli ZIP code mask, 7 digits instead of 5 ,according to the…
  app/code/Magento/Directory/etc/zip_codes.xml
Labels: 2.3-develop, Component: Directory, accept

#16630 [Forwardport] Small refactoring to better code readability
  app/code/Magento/Backend/Block/Widget/Form/Element/Dependence.php
Labels: 2.3-develop, Component: Backend, accept

#16687 [Forwardport] Corrected function comment
  setup/src/Magento/Setup/Module/Di/Code/Reader/ClassesScanner.php
Labels: 2.3-develop, Component: Setup, accept

#16698 Declare module namespace before template path in Magento_Sales and Magento_Paypal
  app/code/Magento/Paypal/Block/Adminhtml/Billing/Agreement/View/Form.php
  app/code/Magento/Paypal/Block/Adminhtml/Billing/Agreement/View/Tab/Info.php
  app/code/Magento/Paypal/Block/Adminhtml/System/Config/Payflowlink/Advanced.php
  app/code/Magento/Paypal/Block/Adminhtml/System/Config/Payflowlink/Info.php
  app/code/Magento/Paypal/Block/Hosted/Pro/Form.php
  app/code/Magento/Paypal/Block/Iframe.php
  app/code/Magento/Paypal/Block/Payflow/Advanced/Form.php
  app/code/Magento/Paypal/Block/Payflow/Link/Form.php
  app/code/Magento/Sales/Block/Adminhtml/Order/Address/Form.php
  app/code/Magento/Sales/Block/Adminhtml/Order/Create/Totals/Grandtotal.php
  app/code/Magento/Sales/Block/Adminhtml/Order/Create/Totals/Shipping.php
  app/code/Magento/Sales/Block/Adminhtml/Order/Create/Totals/Subtotal.php
  app/code/Magento/Sales/Block/Adminhtml/Order/Create/Totals/Tax.php
  app/code/Magento/Sales/Block/Adminhtml/Order/Details.php
  app/code/Magento/Sales/Block/Adminhtml/Order/View/Form.php
  app/code/Magento/Sales/Block/Adminhtml/Order/View/Tab/History.php
  app/code/Magento/Sales/Block/Adminhtml/Rss/Order/Grid/Link.php
  app/code/Magento/Sales/Block/Order/Info/Buttons.php
  app/code/Magento/Sales/Block/Order/Info/Buttons/Rss.php
  app/code/Magento/Sales/Block/Order/Invoice.php
  app/code/Magento/Sales/Block/Order/View.php
Labels: 2.3-develop, Component: Paypal, Component: Sales, accept

#16701 Declare module namespace before template path in all other modules
  app/code/Magento/AdvancedSearch/Block/SearchData.php
  app/code/Magento/Catalog/Block/Adminhtml/Product/Attribute/Set/Main/Tree/Attribute.php
  app/code/Magento/Eav/Block/Adminhtml/Attribute/Edit/Js.php
  app/code/Magento/OfflinePayments/Block/Form/Banktransfer.php
  app/code/Magento/OfflinePayments/Block/Form/Cashondelivery.php
  app/code/Magento/Payment/Block/Info/Instructions.php
  app/code/Magento/ProductAlert/Block/Email/Price.php
  app/code/Magento/ProductAlert/Block/Email/Stock.php
  app/code/Magento/Rss/Block/Feeds.php
  app/code/Magento/Shipping/Block/Adminhtml/Order/Packaging/Grid.php
  app/code/Magento/Shipping/Block/Order/Shipment.php
  app/code/Magento/Signifyd/Block/Fingerprint.php
  app/code/Magento/UrlRewrite/Block/Catalog/Category/Tree.php
  app/code/Magento/UrlRewrite/Block/Selector.php
  app/code/Magento/User/Block/Role/Tab/Edit.php
  app/code/Magento/Weee/Block/Renderer/Weee/Tax.php
  app/code/Magento/Widget/Block/Adminhtml/Widget/Instance/Edit/Tab/Main/Layout.php
  app/code/Magento/Wishlist/Block/Rss/EmailLink.php
  app/code/Magento/Wishlist/Block/Share/Email/Items.php
Labels: 2.3-develop, Component: multiple, accept

#11554 Improve attribute checking
  app/code/Magento/CatalogImportExport/Model/Import/Product/Type/AbstractType.php
Labels: 2.2-develop, Component: CatalogImportExport, accept

#16271 Covered Magento\Checkout\Model\Cart\CollectQuote by Unit Test
  app/code/Magento/Checkout/Test/Unit/Model/Cart/CollectQuoteTest.php
Labels: 2.2-develop, Component: Checkout, Partner: Atwix, accept, partners-contribution

#16584 [Backport] Remove the timezone from the date when retrieving the current month from a UTC timestamp.
  app/code/Magento/Reports/Model/ResourceModel/Report/Collection.php
Labels: 2.2-develop, Component: Reports, accept

#16590 Fix of invalid price for integer currencies when amount less than group size
  lib/internal/Magento/Framework/Locale/Format.php
Labels: 2.2-develop, Component: Framework/Locale, accept

#16645 Updated Magento_Newsletter's block file.
  app/code/Magento/Newsletter/Block/Adminhtml/Template/Edit.php
Labels: 2.2-develop, Component: Newsletter, accept

#16646 Corrected Magento_Framework's test xml file.
  dev/tests/integration/testsuite/Magento/Framework/View/_files/layout_directives_test/group.xml
Labels: 2.2-develop, accept

#16669 Prevent servers being slammed from many search suggestion requests
  app/code/Magento/Search/view/frontend/web/form-mini.js
Labels: 2.2-develop, Area: Frontend, Component: Search, accept

#16675 Prevent running SQL query on every item in the database when the quote is empty
  app/code/Magento/Quote/Model/ResourceModel/Quote/Item/Collection.php
Labels: 2.2-develop, Component: Quote, accept

#16678 Improved code and remove unnecessary space
  app/code/Magento/Catalog/Pricing/Price/ConfiguredRegularPrice.php
Labels: 2.2-develop, Component: Catalog, accept

#16690 Added translation function for Magento_Braintree module's template file.
  app/code/Magento/Braintree/view/frontend/templates/paypal/button.phtml
Labels: 2.2-develop, Area: Frontend, Component: Braintree, accept

#16691 Added 'title' attribute to 'img' tag in knockout template files.
  app/code/Magento/Braintree/view/frontend/web/template/payment/paypal.html
  app/code/Magento/Captcha/view/frontend/web/template/checkout/captcha.html
  app/code/Magento/Catalog/view/adminhtml/web/template/image-preview.html
  app/code/Magento/Catalog/view/base/web/template/product/list/columns/image.html
  app/code/Magento/Catalog/view/base/web/template/product/list/columns/image_with_borders.html
  app/code/Magento/Checkout/view/frontend/web/template/summary/item/details/thumbnail.html
Labels: 2.2-develop, Area: Frontend, Component: Braintree, Component: Captcha, Component: Catalog, Component: Checkout, accept

#16711 Fixed typo in SynonymGroupRepositoryInterface
  app/code/Magento/Search/Api/SynonymGroupRepositoryInterface.php
Labels: 2.2-develop, Component: Search, accept

#16550 [Backport #16458] Add missing showInStore attributes
  app/code/Magento/Braintree/etc/adminhtml/system.xml
Labels: 2.1-develop, Component: Braintree, accept

#16760 [Backport] Declare module namespace before template path in Magento_Sales and Magento_Paypal
  app/code/Magento/Paypal/Block/Adminhtml/Billing/Agreement/View/Form.php
  app/code/Magento/Paypal/Block/Adminhtml/Billing/Agreement/View/Tab/Info.php
  app/code/Magento/Paypal/Block/Adminhtml/System/Config/Payflowlink/Advanced.php
  app/code/Magento/Paypal/Block/Adminhtml/System/Config/Payflowlink/Info.php
  app/code/Magento/Paypal/Block/Hosted/Pro/Form.php
  app/code/Magento/Paypal/Block/Iframe.php
  app/code/Magento/Paypal/Block/Payflow/Advanced/Form.php
  app/code/Magento/Paypal/Block/Payflow/Link/Form.php
  app/code/Magento/Sales/Block/Adminhtml/Order/Address/Form.php
  app/code/Magento/Sales/Block/Adminhtml/Order/Create/Totals/Grandtotal.php
  app/code/Magento/Sales/Block/Adminhtml/Order/Create/Totals/Shipping.php
  app/code/Magento/Sales/Block/Adminhtml/Order/Create/Totals/Subtotal.php
  app/code/Magento/Sales/Block/Adminhtml/Order/Create/Totals/Tax.php
  app/code/Magento/Sales/Block/Adminhtml/Order/Details.php
  app/code/Magento/Sales/Block/Adminhtml/Order/View/Form.php
  app/code/Magento/Sales/Block/Adminhtml/Order/View/Tab/History.php
  app/code/Magento/Sales/Block/Adminhtml/Rss/Order/Grid/Link.php
  app/code/Magento/Sales/Block/Order/Info/Buttons.php
  app/code/Magento/Sales/Block/Order/Info/Buttons/Rss.php
  app/code/Magento/Sales/Block/Order/Invoice.php
  app/code/Magento/Sales/Block/Order/View.php
Labels: 2.1-develop, Component: Paypal, Component: Sales, accept

#16175 Admin tabs order not working properly
  app/code/Magento/Backend/Block/Widget/Tabs.php
Labels: 2.2-develop, Component: Backend, accept

#16408 Fixed type hints and docs for Downloadable Samples block
  app/code/Magento/Downloadable/Block/Catalog/Product/Samples.php
Labels: 2.2-develop, Component: Downloadable, accept

#16414 Fixing a Mistype Error
  app/code/Magento/Dhl/Model/Carrier.php
  app/code/Magento/Shipping/Model/Carrier/AbstractCarrier.php
  app/code/Magento/Shipping/Model/Carrier/AbstractCarrierInterface.php
  app/code/Magento/Shipping/Model/Carrier/AbstractCarrierOnline.php
  app/code/Magento/Shipping/Model/Shipping.php
  app/code/Magento/Shipping/Test/Unit/Model/Carrier/AbstractCarrierOnlineTest.php
Labels: 2.2-develop, Component: Dhl, Component: Shipping, accept

#16554 Fix docBlock for hasInvoices(), hasShipments(), hasCreditmemos()
  app/code/Magento/Sales/Model/Order.php
Labels: 2.2-develop, Component: Sales, Partner: Comwrap, accept, partners-contribution

#16566 Smallest codestyle fix in Option/Type/Text.php
  app/code/Magento/Catalog/Model/Product/Option/Type/Text.php
Labels: 2.2-develop, Component: Catalog, accept

#16680 Captcha: Added unit test for CheckGuestCheckoutObserver
  app/code/Magento/Captcha/Test/Unit/Observer/CheckGuestCheckoutObserverTest.php
Labels: 2.2-develop, Component: Captcha, Partner: Atwix, accept, partners-contribution

#16685 Updated security issues details
  README.md
Labels: 2.2-develop, accept

#16704 Add sort order to user agent rules table headers
  app/code/Magento/Backend/view/adminhtml/ui_component/design_config_form.xml
Labels: 2.2-develop, Area: Frontend, Component: Backend, accept

#16716 fix _utilities.less font-size issue
  lib/web/css/source/lib/_utilities.less
Labels: 2.2-develop, Area: Lib/Frontend, accept

#16726 [Backport 2.3] Add spelling correction: formatedPrice to formattedPrice
  app/code/Magento/Catalog/Block/Product/View/Options/AbstractOptions.php
  app/code/Magento/Catalog/Block/Product/View/Price.php
  app/code/Magento/Catalog/Model/Product.php
  app/code/Magento/Catalog/Model/Product/Type/Price.php
  app/code/Magento/Catalog/view/adminhtml/templates/catalog/product/composite/fieldset/options/type/date.phtml
  app/code/Magento/Catalog/view/adminhtml/templates/catalog/product/composite/fieldset/options/type/file.phtml
  app/code/Magento/Catalog/view/adminhtml/templates/catalog/product/composite/fieldset/options/type/text.phtml
  app/code/Magento/Catalog/view/frontend/templates/product/view/options/type/date.phtml
  app/code/Magento/Catalog/view/frontend/templates/product/view/options/type/file.phtml
  app/code/Magento/Catalog/view/frontend/templates/product/view/options/type/text.phtml
Labels: 2.2-develop, Area: Frontend, Component: Catalog, Partner: MediaCT, accept, partners-contribution

#16732 Resolved : no navigation-level0-item__hover__color #15848
  lib/web/css/source/lib/_navigation.less
  lib/web/css/source/lib/variables/_navigation.less
Labels: 2.2-develop, Area: Lib/Frontend, Partner: Wagento, accept, partners-contribution

#14380 [Backport 2.1] Issue 14351: Product import doesn't change `Enable Qty Increments` field
  app/code/Magento/CatalogImportExport/Model/Import/Product.php
Labels: 2.1-develop, Component: CatalogImportExport, Partner: Convert, accept, backport, bugfix, partners-contribution

#16526 [Backport : Changed password placeholder text in checkout page]
  app/code/Magento/Checkout/i18n/en_US.csv
  app/code/Magento/Checkout/view/frontend/web/template/form/element/email.html
Labels: 2.1-develop, Area: Frontend, Component: Checkout, Partner: Wagento, partners-contribution

#16761 [Backport] Fix function unnecessarily called multiple time
  app/code/Magento/CurrencySymbol/view/adminhtml/templates/grid.phtml
Labels: 2.1-develop, Area: Frontend, Component: CurrencySymbol

#13569 Correctly save Product Custom Option values
  app/code/Magento/Catalog/Model/Product/Option.php
  app/code/Magento/Catalog/Model/Product/Option/Value.php
Labels: 2.2-develop, Component: Catalog, Partner: H&O, Partner: Reach Digital, accept, partners-contribution

#14379 [Backport 2.2] Issue 14351: Product import doesn't change `Enable Qty Increments` field
  app/code/Magento/CatalogImportExport/Model/Import/Product.php
Labels: 2.2-develop, Component: CatalogImportExport, Partner: Convert, accept, backport, bugfix, partners-contribution

#16599 Fixed backwards incompatible change to Transport variable event parameters
  app/code/Magento/Sales/Model/Order/Email/Sender/OrderSender.php
Labels: 2.2-develop, Component: Sales

#16748 Remove commented code & remove space
  app/code/Magento/Backend/Block/Widget/Grid/Column/Filter/Datetime.php
  app/code/Magento/Backend/Block/Widget/Grid/Massaction/AbstractMassaction.php
  app/code/Magento/Backend/Block/Widget/Grid/Massaction/Extended.php
Labels: 2.2-develop, Component: Backend, accept

#16766 fix #16764 Rating Star issue on Product detail Page.
  lib/web/css/source/lib/_rating.less
Labels: 2.2-develop, Area: Lib/Frontend

#16755 [backport] #16716 fix _utilities.less font-size issue
  lib/web/css/source/lib/_utilities.less
Labels: 2.1-develop, Area: Lib/Frontend, accept

#16825 [Backport] Fixed type hints and docs for Downloadable Samples block
  app/code/Magento/Downloadable/Block/Catalog/Product/Samples.php
Labels: 2.1-develop, Component: Downloadable, accept

#16836 [Backport] Fixed typo in SynonymGroupRepositoryInterface
  app/code/Magento/Search/Api/SynonymGroupRepositoryInterface.php
Labels: 2.1-develop, Component: Search, accept

#16831 [Backport] Magento_Sales integration tests: fix invoice_list fixture var tags
  dev/tests/integration/testsuite/Magento/Sales/_files/invoice_list.php
Labels: 2.2-develop, accept

#16839 [backport] fix #16764 Rating Star issue on Product detail Page.
  lib/web/css/source/lib/_rating.less
Labels: 2.1-develop, Area: Lib/Frontend, accept

#16842 [Backport] chore: remove extraneous cursor property
  lib/web/css/source/lib/_buttons.less
Labels: 2.1-develop, Area: Lib/Frontend, accept

#16846 [Backport] Create ability to set is_visible_on_front to order status history comment
  app/code/Magento/Sales/Model/Order.php
Labels: 2.1-develop, Component: Sales, accept

#16770 [Backport] Added translation function for Magento_Braintree module's template file.
  app/code/Magento/Braintree/view/frontend/templates/paypal/button.phtml
Labels: 2.1-develop, Area: Frontend, Component: Braintree

#16828 [Backport] FIX for apparently random API failures while using array types
  lib/internal/Magento/Framework/Reflection/TypeProcessor.php
Labels: 2.1-develop, Component: Framework/Reflection, accept

#16835 [Backport] Smallest codestyle fix in Option/Type/Text.php
  app/code/Magento/Catalog/Model/Product/Option/Type/Text.php
Labels: 2.1-develop, Component: Catalog, accept

#16363 [Forwardport] Fix case mismatch call (class/method)
  app/code/Magento/AdvancedPricingImportExport/Test/Unit/Model/Export/AdvancedPricingTest.php
  app/code/Magento/Analytics/Test/Unit/Block/Adminhtml/System/Config/AdditionalCommentTest.php
  app/code/Magento/Analytics/Test/Unit/Block/Adminhtml/System/Config/CollectionTimeLabelTest.php
  app/code/Magento/Analytics/Test/Unit/Block/Adminhtml/System/Config/SubscriptionStatusLabelTest.php
  app/code/Magento/Analytics/Test/Unit/Block/Adminhtml/System/Config/VerticalTest.php
  app/code/Magento/Braintree/Gateway/Response/CardDetailsHandler.php
  app/code/Magento/Braintree/Gateway/Response/VaultDetailsHandler.php
  app/code/Magento/Braintree/Model/Ui/ConfigProvider.php
  app/code/Magento/Braintree/Test/Unit/Gateway/Config/ConfigTest.php
  app/code/Magento/Catalog/Test/Unit/Controller/Adminhtml/Product/ShowUpdateResultTest.php
  app/code/Magento/Checkout/Setup/Patch/Data/PrepareInitialCheckoutConfiguration.php
  app/code/Magento/Customer/Test/Unit/Model/Customer/DataProviderTest.php
  app/code/Magento/Eav/Test/Unit/Model/ResourceModel/Attribute/CollectionTest.php
  app/code/Magento/Newsletter/Model/ResourceModel/Problem/Collection.php
  app/code/Magento/Newsletter/Model/ResourceModel/Queue/Collection.php
  app/code/Magento/OfflineShipping/Model/ResourceModel/Carrier/Tablerate.php
  app/code/Magento/Quote/Test/Unit/Model/GuestCart/GuestCartManagementTest.php
  app/code/Magento/Sales/Controller/Adminhtml/Order/Unhold.php
  app/code/Magento/Sales/Test/Unit/Block/Order/Create/TotalsTest.php
  app/code/Magento/SalesRule/Model/ResourceModel/Rule.php
  app/code/Magento/Shipping/Model/Shipping/Labels.php
  app/code/Magento/Tax/Test/Unit/Model/TaxClass/Type/CustomerTest.php
  app/code/Magento/Theme/Test/Unit/Controller/Adminhtml/System/Design/Theme/UploadJsTest.php
  app/code/Magento/User/Test/Unit/Model/ResourceModel/UserTest.php
  lib/internal/Magento/Framework/App/Test/Unit/BootstrapTest.php
  lib/internal/Magento/Framework/Composer/Test/Unit/DependencyCheckerTest.php
  lib/internal/Magento/Framework/File/Size.php
  lib/internal/Magento/Framework/Image/Adapter/Gd2.php
  lib/internal/Magento/Framework/Indexer/Action/Base.php
  lib/internal/Magento/Framework/RequireJs/Config.php
  lib/internal/Magento/Framework/View/Element/UiComponent/Config/FileCollector/AggregatedFileCollector.php
  lib/internal/Magento/Framework/View/Model/Layout/Merge.php
  lib/internal/Magento/Framework/View/Page/Config/Reader/Head.php
  lib/internal/Magento/Framework/View/Test/Unit/Element/Html/Link/CurrentTest.php
  lib/internal/Magento/Framework/View/Test/Unit/LayoutTest.php
  setup/src/Magento/Setup/Model/PhpReadinessCheck.php
Labels: 2.3-develop, Cleanup, Component: multiple, accept, forwardport, improvement

#16745 [Forwardport] typo in private method name getUniq[ue]ImageIndex
  app/code/Magento/MediaStorage/Service/ImageResize.php
Labels: 2.3-develop, Component: MediaStorage, Partner: Atwix, accept, partners-contribution

#16756 [forwardport] #16716 fix _utilities.less font-size issue
  lib/web/css/source/lib/_utilities.less
Labels: 2.3-develop, Area: Lib/Frontend, accept

#16773 Improved code and remove unnecessary space
  app/code/Magento/Catalog/Pricing/Price/ConfiguredRegularPrice.php
Labels: 2.3-develop, Component: Catalog, accept

#16815 [Forwardport] Covered Magento\Checkout\Model\Cart\CollectQuote by Unit Test
  app/code/Magento/Checkout/Test/Unit/Model/Cart/CollectQuoteTest.php
Labels: 2.3-develop, Component: Checkout, accept

#16824 [Forwardport] Fixed type hints and docs for Downloadable Samples block
  app/code/Magento/Downloadable/Block/Catalog/Product/Samples.php
Labels: 2.3-develop, Component: Downloadable, accept

#16874 [Forwardport] Remove commented code & remove space
  app/code/Magento/Backend/Block/Widget/Grid/Column/Filter/Datetime.php
  app/code/Magento/Backend/Block/Widget/Grid/Massaction/AbstractMassaction.php
  app/code/Magento/Backend/Block/Widget/Grid/Massaction/Extended.php
Labels: 2.3-develop, Component: Backend, accept

#16797 [Backport] Resolved : no navigation-level0-item__hover__color #15848
  lib/web/css/source/lib/_navigation.less
  lib/web/css/source/lib/variables/_navigation.less
Labels: 2.1-develop, Area: Lib/Frontend, Partner: Wagento, accept, partners-contribution

#16803 [Forwardport] magento/magento2#16685 Updated security issues details
  README.md
Labels: 2.3-develop, accept

#16829 [Forwardport] Fix responsive tables showing broken heading
  lib/web/css/source/lib/_tables.less
Labels: 2.3-develop, Area: Lib/Frontend, accept

#16834 [Forwardport] Smallest codestyle fix in Option/Type/Text.php
  app/code/Magento/Catalog/Model/Product/Option/Type/Text.php
Labels: 2.3-develop, Component: Catalog, accept

#16838 [Forwardport] Correctly save Product Custom Option values
  app/code/Magento/Catalog/Model/Product/Option.php
  app/code/Magento/Catalog/Model/Product/Option/Value.php
Labels: 2.3-develop, Component: Catalog, Partner: H&O, Partner: Reach Digital, accept, forwardport, partners-contribution

#16811 [Backport] FIXED - appended payment code to ID field to make it unique
  app/code/Magento/Checkout/view/frontend/web/template/billing-address/form.html
Labels: 2.1-develop, Area: Frontend, Component: Checkout, accept

#16830 [Backport] Fix responsive tables showing broken heading
  lib/web/css/source/lib/_tables.less
Labels: 2.1-develop, Area: Lib/Frontend, accept

#16877 [Backport 2.1] Captcha: Added unit test for CheckGuestCheckoutObserver
  app/code/Magento/Captcha/Test/Unit/Observer/CheckGuestCheckoutObserverTest.php
Labels: 2.1-develop, Back port/Up port, Component: Captcha, Partner: Atwix, accept, partners-contribution

#16801 [Backport] magento/magento2#16184: Fix type error in payment void method
  app/code/Magento/Authorizenet/Model/Directpost.php
Labels: 2.1-develop, Component: Authorizenet, accept

#16812 [Backport] Issue 15467 where a configuration sku gets deleted but is still saved…
  app/code/Magento/ConfigurableProduct/Block/Cart/Item/Renderer/Configurable.php
  app/code/Magento/ConfigurableProduct/CustomerData/ConfigurableItem.php
Labels: 2.1-develop, Component: ConfigurableProduct, accept

#16923 [Backport] Fix docBlock for hasInvoices(), hasShipments(), hasCreditmemos()
  app/code/Magento/Sales/Model/Order.php
Labels: 2.1-develop, Component: Sales, Partner: Atwix, accept, partners-contribution

#16435 Add generated code to the psr-0 autoloader section so when optimizing…
  composer.json
Labels: 2.2-develop

#16595 Trim issue on customer confirmation form
  app/code/Magento/Customer/view/frontend/templates/form/confirmation.phtml
Labels: 2.2-develop, Area: Frontend, Component: Customer, accept

#16861 Add Confirm Modal Width
  lib/web/css/source/components/_modals.less
Labels: 2.2-develop, Area: Lib/Frontend, accept

#16872 Remove extra spaces from Magento/Ui
  app/code/Magento/Ui/view/base/web/templates/form/components/collection.html
  app/code/Magento/Ui/view/base/web/templates/form/element/checkbox-set.html
  app/code/Magento/Ui/view/base/web/templates/form/field.html
  app/code/Magento/Ui/view/base/web/templates/grid/editing/bulk.html
  app/code/Magento/Ui/view/base/web/templates/grid/editing/row.html
  app/code/Magento/Ui/view/base/web/templates/grid/sticky/sticky.html
  app/code/Magento/Ui/view/base/web/templates/group/group.html
Labels: 2.2-develop, Area: Frontend, Component: Ui, accept

#16609 [Forwardport] Create ability to set is_visible_on_front to order status history comment
  app/code/Magento/Sales/Model/Order.php
Labels: 2.3-develop, Component: Sales, accept

#16715 [Port 2.3] Add indexes to timestamp field in oauth_nonce
  app/code/Magento/Integration/etc/db_schema.xml
  app/code/Magento/Integration/etc/db_schema_whitelist.json
Labels: 2.3-develop, Back port/Up port, Component: Integration, Partner: Atwix, accept, partners-contribution

#16741 [Forwardport] [Fix] forgot to add lowercase conversion on grouped product assignation
  app/code/Magento/GroupedImportExport/Test/Unit/Model/Import/Product/Type/GroupedTest.php
Labels: 2.3-develop, Component: GroupedImportExport, Partner: Wagento, accept, partners-contribution

#16796 [Forwardport] Resolved : no navigation-level0-item__hover__color #15848
  lib/web/css/source/lib/_navigation.less
  lib/web/css/source/lib/variables/_navigation.less
Labels: 2.3-develop, Area: Lib/Frontend, Partner: Wagento, accept, partners-contribution

#16814 [Forwardport] 15863: [Forwardport] Refactored javascript code of admin notification modal popup
  app/code/Magento/AdminNotification/view/adminhtml/templates/system/messages/popup.phtml
  app/code/Magento/AdminNotification/view/adminhtml/web/js/system/messages/popup.js
Labels: 2.3-develop, Area: Frontend, Component: AdminNotification, accept

#16926 Fixed typo mistake in testsuite
  dev/tests/integration/testsuite/Magento/AdvancedPricingImportExport/_files/create_products.php
  dev/tests/integration/testsuite/Magento/Bundle/_files/multiple_products.php
  dev/tests/integration/testsuite/Magento/Catalog/Model/ResourceModel/_files/website_attribute_sync.php
  dev/tests/integration/testsuite/Magento/Catalog/_files/category_duplicates.php
  dev/tests/integration/testsuite/Magento/Catalog/_files/multiple_mixed_products.php
  dev/tests/integration/testsuite/Magento/Catalog/_files/multiple_products.php
  dev/tests/integration/testsuite/Magento/Catalog/_files/multiple_products_with_few_out_of_stock.php
  dev/tests/integration/testsuite/Magento/Catalog/_files/products_with_layered_navigation_attribute.php
  dev/tests/integration/testsuite/Magento/CatalogImportExport/_files/product_export_with_product_links_data.php
  dev/tests/integration/testsuite/Magento/ImportExport/_files/product.php
  dev/tests/integration/testsuite/Magento/Swatches/_files/products_with_layered_navigation_swatch.php
Labels: 2.3-develop, accept

#16932 Removed unused interface reference
  app/code/Magento/Customer/Model/Visitor.php
Labels: 2.3-develop, Component: Customer, Partner: SNOW.DOG, accept, partners-contribution

#16769 [Forwardport] Added 'title' attribute to 'img' tag in knockout template files.
  app/code/Magento/Braintree/view/frontend/web/template/payment/paypal.html
  app/code/Magento/Captcha/view/frontend/web/template/checkout/captcha.html
  app/code/Magento/Catalog/view/adminhtml/web/template/image-preview.html
  app/code/Magento/Catalog/view/base/web/template/product/list/columns/image.html
  app/code/Magento/Catalog/view/base/web/template/product/list/columns/image_with_borders.html
  app/code/Magento/Checkout/view/frontend/web/template/summary/item/details/thumbnail.html
Labels: 2.3-develop, Area: Frontend, Component: Braintree, Component: Captcha, Component: Catalog, Component: Checkout, accept

#16875 Remove unused comments from _initDiscount() function
  app/code/Magento/Tax/Block/Sales/Order/Tax.php
Labels: 2.3-develop, Component: Tax, accept

#16876 FIXED: FTP user and password strings urldecoded
  lib/internal/Magento/Framework/System/Ftp.php
Labels: 2.3-develop, Component: Framework/System, accept

#16892 [Forwardport] Fix for #12081: missing translations in the js-translations.json
  app/code/Magento/Translation/etc/di.xml
Labels: 2.3-develop, Component: Translation, accept

#16962 [Forwardport] Add Confirm Modal Width
  lib/web/css/source/components/_modals.less
Labels: 2.3-develop, Area: Lib/Frontend, accept

#16920 [Backport] Admin tabs order not working properly
  app/code/Magento/Backend/Block/Widget/Tabs.php
Labels: 2.1-develop, Component: Backend, accept

#16945 [Backport] Fix Sort by Product Name
  app/code/Magento/CatalogSearch/Model/ResourceModel/Fulltext/Collection.php
Labels: 2.1-develop, Back port/Up port, Component: CatalogSearch, accept

#16579 removed _responsive.less import from gallery.less
  lib/web/mage/gallery/gallery.less
Labels: 2.2-develop, Area: Lib/Frontend

#16707 Update regex in ControllerAclTest
  dev/tests/static/testsuite/Magento/Test/Integrity/Magento/Backend/ControllerAclTest.php
Labels: 2.2-develop

#16785 Avoid undefined index warning when using uppercase reserved word
  dev/tests/static/framework/Magento/Sniffs/NamingConventions/ReservedWordsSniff.php
Labels: 2.2-develop, accept

#16840 Log when Magento is in maintenance mode
  lib/internal/Magento/Framework/App/Bootstrap.php
Labels: 2.2-develop, Component: Framework/App, accept
