Repository magento/magento2, pull requests merged in 2018-11, with the labels that each got.

#18873 [Backport] Prevent exception when option text converts to false
  app/code/Magento/Eav/Model/Entity/Attribute/OptionManagement.php
Labels: Component: Eav, Progress: accept, Release Line: 2.2

#18967 fixed - Magento 2.2.6 Default values are not rendering on Wishlist product edit page
  app/code/Magento/ConfigurableProduct/view/frontend/web/js/options-updater.js
Labels: Area: Frontend, Component: ConfigurableProduct, Progress: accept, Release Line: 2.2

#18908 [Backport] fixed - Unable to select payment method according to country of the address at checkout time
  app/code/Magento/Checkout/view/frontend/web/js/model/shipping-save-processor/default.js
Labels: Area: Frontend, Component: Checkout, Progress: accept, Release Line: 2.2

#18462 [forwardport 2.3] fix Fatal Error when save configurable product in Magento 2.2.5 #18082 #18461
  app/code/Magento/ConfigurableProduct/Controller/Adminhtml/Product/Initialization/Helper/Plugin/Configurable.php
Labels: Component: ConfigurableProduct, Partner: Interactiv4, Release Line: 2.3, partners-contribution

#18650 issue fixed -Wrong order total in customer information orders tab in admin panel
  app/code/Magento/Customer/Block/Adminhtml/Edit/Tab/Orders.php
Labels: Component: Customer, Progress: accept, Release Line: 2.3

#18810 magento-engcom/import-export-improvements#51: fix for uploader filepath
  app/code/Magento/CatalogImportExport/Model/Import/Uploader.php
Labels: Component: CatalogImportExport, Progress: accept, Release Line: 2.3

#18968 Fix numeric translation keys being dissolved by array_merge
  lib/internal/Magento/Framework/App/Language/Dictionary.php
Labels: Component: Framework/App, Progress: accept, Release Line: 2.3

#18988 [Forwardport] #17890: show correct text swatch values per store view
  app/code/Magento/Swatches/Helper/Data.php
Labels: Component: Swatches, Progress: accept, Release Line: 2.3

#18991 magento/magento2#10440: [Forwardport] Missing $debugHintsPath when sending email via command.
  app/code/Magento/Developer/etc/di.xml
  app/code/Magento/Developer/etc/frontend/di.xml
Labels: Component: Developer, Progress: accept, Release Line: 2.3

#19010 Fix for Internet Explorer 11: Edit customer in backend leads sometimes to a "loading circle" and error object does not support method "includes"
  app/code/Magento/Ui/view/base/web/js/form/element/country.js
Labels: Area: Frontend, Component: Ui, Progress: accept, Release Line: 2.3

#19026 magento/magento2#18256: Reset password throws error since 2.2.6.
  app/code/Magento/Customer/Model/AccountManagement.php
Labels: Component: Customer, Progress: accept, Release Line: 2.3

#19029 18901-Forgot-password-form-should-not-available-while-customer-is-log…
  app/code/Magento/Customer/Controller/Account/ForgotPassword.php
Labels: Component: Customer, Partner: ISM eCompany, Progress: accept, Release Line: 2.3, partners-contribution

#19040 [Forwardport] save downloadable product links for order items
  app/code/Magento/Downloadable/etc/events.xml
Labels: Component: Downloadable, Partner: ISM eCompany, Progress: accept, Release Line: 2.3, partners-contribution

#19048 WYSIWYG unable to set default value in ui component
  app/code/Magento/Ui/view/base/web/js/form/element/wysiwyg.js
Labels: Area: Frontend, Component: Ui, Progress: accept, Release Line: 2.3

#19050 Add/update newsletter messages in translation file
  app/code/Magento/Newsletter/i18n/en_US.csv
Labels: Component: Newsletter, Partner: MediaCT, Progress: accept, Release Line: 2.3, partners-contribution

#19066 Add additional check if password hash is empty in auth process
  app/code/Magento/Customer/Model/Authentication.php
Labels: Component: Customer, Progress: accept, Release Line: 2.3

#16887 Fix blocked a frame with origin
  app/code/Magento/PageCache/view/frontend/web/js/page-cache.js
Labels: Area: Frontend, Component: PageCache, Release Line: 2.2, bug report

#18857 Fixed - Default tax region/state appears in customer & order data #16684
  app/code/Magento/Checkout/view/frontend/web/js/model/new-customer-address.js
Labels: Area: Frontend, Component: Checkout, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.2, partners-contribution

#18964 Backport [PR 18772] Remove unnecesary "header" block redeclaration
  app/design/frontend/Magento/luma/Magento_Customer/layout/default.xml
Labels: Area: Design/Frontend, Progress: accept, Release Line: 2.2

#19012 #18348 - In admin, last swatch option set to default upon save
  app/code/Magento/Swatches/view/adminhtml/web/js/product-attributes.js
Labels: Area: Frontend, Component: Swatches, Progress: accept, Release Line: 2.2

#19036 magento/magento2#18323: Order confirmation email for guest checkout d…
  app/code/Magento/Downloadable/etc/events.xml
Labels: Component: Downloadable, Partner: ISM eCompany, Progress: accept, Release Line: 2.2, partners-contribution

#18985 [Backport] Added form fieldset before html data to \Magento\Framework\Data\Form\Element\Fieldset in getElementHtml() method
  lib/internal/Magento/Framework/Data/Form/Element/Fieldset.php
Labels: Component: Framework/Data, Partner: Atwix, Progress: accept, Release Line: 2.2, partners-contribution

#19002 [Backport] Remove duplicated CSS selector
  app/design/frontend/Magento/luma/Magento_Checkout/web/css/source/module/_cart.less
Labels: Area: Design/Frontend, Partner: Atwix, Progress: accept, Release Line: 2.2, partners-contribution

#19044 [2.2-develop] magento/magento2#14007: "Use in Layered Navigation: Filterable (no results)" property confuse for Price filter
  app/code/Magento/LayeredNavigation/Observer/Edit/Tab/Front/ProductAttributeFormBuildFrontTabObserver.php
Labels: Component: LayeredNavigation, Partner: ISM eCompany, Progress: accept, Progress: on hold, Release Line: 2.2, partners-contribution

#19074 [Backport] Fix for #12399: Exception Error in Catalog Price Rule while Backend language is not English
  app/code/Magento/CatalogRule/Controller/Adminhtml/Promo/Catalog/Save.php
Labels: Component: CatalogRule, Partner: TechDivision, Progress: accept, Release Line: 2.2

#18294 Update colinmollenhour/cache-backend-redis from version 1.10.5 to 1.10.6
  composer.json
  composer.lock
Labels: Partner: Classy Llama, Progress: accept, Release Line: 2.3, partners-contribution

#18637 fixed issue regarding referer url of compare page during adding product to wishlist
  app/code/Magento/Catalog/Block/Product/Compare/ListCompare.php
Labels: Component: Catalog, Progress: accept, Release Line: 2.3

#18727 MAGE_DIRS overwrite fix in pub/index.php
  pub/index.php
Labels: Partner: Webgriffe, Progress: accept, Release Line: 2.3, partners-contribution

#18900 fixed - can't import external http to https redirecting images by default csv import
  lib/internal/Magento/Framework/Filesystem/Driver/Http.php
Labels: Component: Framework/Filesystem, Event: squashtoberfest, Progress: accept, Release Line: 2.3, Reproduced on 2.3.x

#18986 [Forwardport] Prevent rendering of "Ship here" button to select a shipping item if it is already selected
  app/code/Magento/Checkout/view/frontend/web/template/shipping-address/address-renderer/default.html
  app/design/frontend/Magento/blank/Magento_Checkout/web/css/source/module/checkout/_shipping.less
Labels: Area: Design/Frontend, Area: Frontend, Component: Checkout, Progress: accept, Release Line: 2.3

#18998 Fix translations of category design theme not being applied
  app/code/Magento/Catalog/Model/Design.php
  dev/tests/integration/testsuite/Magento/Catalog/Model/DesignTest.php
Labels: Component: Catalog, Progress: accept, Release Line: 2.3

#19018 [2.3-develop] magento/magento2#17833: Child theme does not inherit translations fr…
  lib/internal/Magento/Framework/Translate.php
Labels: Component: Framework/Translate, Partner: ISM eCompany, Progress: accept, Release Line: 2.3, partners-contribution

#19037 [2.3-develop] magento/magento2#14007: "Use in Layered Navigation: Filterable (no results)" property confuse for Price filter
  app/code/Magento/LayeredNavigation/Observer/Edit/Tab/Front/ProductAttributeFormBuildFrontTabObserver.php
Labels: Component: LayeredNavigation, Partner: ISM eCompany, Progress: accept, Release Line: 2.3, partners-contribution

#19087 magento/magento2#19071: Password strength indicator shows No Password…
  app/code/Magento/Customer/view/frontend/web/js/password-strength-indicator.js
Labels: Area: Frontend, Component: Customer, Partner: ISM eCompany, Progress: accept, Release Line: 2.3, partners-contribution

#18461 fix Fatal Error when save configurable product in Magento 2.2.5 #18082
  app/code/Magento/ConfigurableProduct/Controller/Adminhtml/Product/Initialization/Helper/Plugin/Configurable.php
Labels: Component: ConfigurableProduct, Partner: Interactiv4, Progress: accept, Release Line: 2.2, partners-contribution

#18649 [Backport] Issue Fixed: Missing Fixed Product Tax total on PDF
  app/code/Magento/Weee/Model/Sales/Pdf/Weee.php
Labels: Component: Weee, Progress: accept, Release Line: 2.2

#18815 [Backoport] Issue Fixed: Backups error from User Roles Permission 2.2.6
  app/code/Magento/Backup/Controller/Adminhtml/Index.php
Labels: Component: Backup, Progress: accept, Progress: on hold, Release Line: 2.2

#19073 magento/magento2#19071: Password strength indicator shows No Password…
  app/code/Magento/Customer/view/frontend/web/js/password-strength-indicator.js
Labels: Area: Frontend, Component: Customer, Partner: ISM eCompany, Port, Progress: accept, Release Line: 2.2, partners-contribution

#19089 magento/magento#18901: Forgot password form should not available while customer is logged in.
  app/code/Magento/Customer/Controller/Account/ForgotPassword.php
Labels: Component: Customer, Partner: ISM eCompany, Progress: accept, Release Line: 2.2, partners-contribution

#19105 magento/magento2#18840: Invalid Unit Test Annotations.
  app/code/Magento/Catalog/Test/Unit/Model/Product/Gallery/GalleryManagementTest.php
  app/code/Magento/Catalog/Test/Unit/Model/Product/PriceModifierTest.php
  app/code/Magento/Catalog/Test/Unit/Model/Product/TierPriceManagementTest.php
  app/code/Magento/Checkout/Test/Unit/Model/SidebarTest.php
  app/code/Magento/Downloadable/Test/Unit/Helper/DownloadTest.php
  app/code/Magento/GiftMessage/Test/Unit/Model/Plugin/OrderSaveTest.php
  app/code/Magento/Quote/Test/Unit/Model/GuestCartManagement/Plugin/AuthorizationTest.php
  app/code/Magento/Quote/Test/Unit/Model/Quote/Item/UpdaterTest.php
  app/code/Magento/Quote/Test/Unit/Model/ShippingAddressManagementTest.php
  app/code/Magento/Search/Test/Unit/Model/SynonymGroupRepositoryTest.php
  app/code/Magento/Theme/Test/Unit/Model/Theme/Source/ThemeTest.php
  app/code/Magento/Ui/Test/Unit/Component/Filters/FilterModifierTest.php
  lib/internal/Magento/Framework/App/Test/Unit/ErrorHandlerTest.php
  lib/internal/Magento/Framework/App/Test/Unit/Response/Http/FileFactoryTest.php
  lib/internal/Magento/Framework/App/Test/Unit/ViewTest.php
  lib/internal/Magento/Framework/Profiler/Test/Unit/Driver/Standard/StatTest.php
  setup/src/Magento/Setup/Test/Unit/Module/I18n/Parser/ParserTest.php
Labels: Component: multiple, Partner: ISM eCompany, Progress: accept, Release Line: 2.2, partners-contribution

#19110 [Backport] Add additional check if password hash is empty in auth process
  app/code/Magento/Customer/Model/Authentication.php
Labels: Component: Customer, Partner: ISM eCompany, Progress: accept, Release Line: 2.2, partners-contribution

#15961 14294 - Fixes 'back' functionality after switching a store view.
  app/code/Magento/Store/view/frontend/templates/switch/languages.phtml
Labels: Area: Frontend, Component: Store, Progress: accept, Release Line: 2.3

#18814 Replace erroneous usage of unsData method
  app/code/Magento/GroupedProduct/Model/Product/Type/Grouped.php
  app/code/Magento/GroupedProduct/Test/Unit/Model/Product/Type/GroupedTest.php
  app/code/Magento/Reports/Model/Product/Index/AbstractIndex.php
  dev/tests/integration/testsuite/Magento/Newsletter/Controller/ManageTest.php
Labels: Progress: accept, Release Line: 2.3

#18816 Issue #18150 fixed: Reference Pull Request of #18815 for 2.3-develop
  app/code/Magento/Backup/Controller/Adminhtml/Index.php
Labels: Component: Backup, Progress: accept, Release Line: 2.3

#19061 Fixed Product Tax total on PDF for 2.3, Reference of PL #18649
  app/code/Magento/Weee/Model/Sales/Pdf/Weee.php
Labels: Component: Weee, Progress: accept, Release Line: 2.3

#17854 Fix translations of category design theme not being applied
  app/code/Magento/Catalog/Model/Design.php
  dev/tests/integration/testsuite/Magento/Catalog/Model/DesignTest.php
Labels: Component: Catalog, Progress: accept, Release Line: 2.2

#18743 Fixed tierprice discount not calculated correctly if has specialprice
  app/code/Magento/Catalog/Model/Product/Attribute/Backend/Tierprice.php
Labels: Component: Catalog, Progress: accept, Release Line: 2.2

#18959 fixed js translation
  app/code/Magento/Tax/view/frontend/web/js/view/checkout/summary/tax.js
Labels: Area: Frontend, Component: Tax, Partner: Basecom, Progress: accept, Release Line: 2.2, partners-contribution

#19118 [Backport] Add/update newsletter messages in translation file
  app/code/Magento/Newsletter/i18n/en_US.csv
Labels: Component: Newsletter, Partner: MediaCT, Progress: accept, Release Line: 2.2, partners-contribution

#18906 Add missing unit test for WishlistSettings plugin
  app/code/Magento/Wishlist/Test/Unit/Plugin/Ui/DataProvider/WishlistSettingsTest.php
Labels: Component: Wishlist, Partner: Atwix, Release Line: 2.3, partners-contribution

#19103 [Weee] Covering the \Magento\Weee observers by Unit Tests
  app/code/Magento/Weee/Test/Unit/Observer/AddPaymentWeeeItemTest.php
  app/code/Magento/Weee/Test/Unit/Observer/SetWeeeRendererInFormObserverTest.php
Labels: Component: Weee, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#19130 [Quote] API: Fixed issue "Can not update cart with a reserved order number like 000000651"
  app/code/Magento/Quote/Api/Data/CartInterface.php
Labels: Component: Quote, Partner: Atwix, Progress: needs update, Release Line: 2.3, partners-contribution

#19143 Allow to read HTTP/2 response header in curl client.
  lib/internal/Magento/Framework/HTTP/Client/Curl.php
Labels: Component: Framework/HTTP, Progress: accept, Release Line: 2.3

#19175 [Captcha] Covering the CheckUserLoginBackendObserver by Unit Test
  app/code/Magento/Captcha/Test/Unit/Observer/CheckUserLoginBackendObserverTest.php
Labels: Component: Captcha, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#19185 Fix PHP Notice due to magento/magento2#18727
  pub/index.php
Labels: Progress: accept, Release Line: 2.3

#19194 Travis integration tests timeout fix
  dev/travis/before_script.sh
Labels: Progress: accept, Release Line: 2.3

#19027 #18979 - API: Bundle Product Option Repository Delete method removes incorrect option
  app/code/Magento/Bundle/Model/OptionRepository.php
  app/code/Magento/Bundle/Test/Unit/Model/OptionRepositoryTest.php
Labels: Component: Bundle, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#19170 magento/magento2#5929: [Forwardport] Saving Product does not update URL rewrite.
  app/code/Magento/CatalogUrlRewrite/Observer/ProductProcessUrlRewriteSavingObserver.php
  dev/tests/integration/testsuite/Magento/CatalogUrlRewrite/Observer/ProductProcessUrlRewriteSavingObserverTest.php
Labels: Component: CatalogUrlRewrite, Progress: accept, Release Line: 2.3

#19174 magento/magento2#18939: [Forwardport] fixed js translation.
  app/code/Magento/Tax/i18n/en_US.csv
  app/code/Magento/Tax/view/frontend/web/js/view/checkout/summary/tax.js
Labels: Area: Frontend, Component: Tax, Progress: accept, Release Line: 2.3

#19179 [Forwardport] Fixed tierprice discount not calculated correctly if has specialprice
  app/code/Magento/Catalog/Model/Product/Attribute/Backend/Tierprice.php
Labels: Component: Catalog, Partner: Basecom, Progress: accept, Release Line: 2.3, partners-contribution

#17889 Fixed child items showing on My Account order view
  app/code/Magento/Sales/Block/Order/Items.php
Labels: Component: Sales, Partner: Atwix, Progress: accept, Release Line: 2.2, partners-contribution

#19113 [2.2 backport] fix cipherMethod detection for openssl 1.1.1
  app/code/Magento/Analytics/Model/Cryptographer.php
Labels: Component: Analytics, Progress: accept, Progress: on hold, Release Line: 2.2

#19216 [Backport] Covering the \Magento\Weee observers by Unit Tests
  app/code/Magento/Weee/Test/Unit/Observer/AddPaymentWeeeItemTest.php
  app/code/Magento/Weee/Test/Unit/Observer/SetWeeeRendererInFormObserverTest.php
Labels: Component: Weee, Partner: Atwix, Progress: accept, Release Line: 2.2, partners-contribution

#19217 [Backport] Covering the CheckUserLoginBackendObserver by Unit Test
  app/code/Magento/Captcha/Test/Unit/Observer/CheckUserLoginBackendObserverTest.php
Labels: Component: Captcha, Partner: Atwix, Progress: accept, Release Line: 2.2, partners-contribution

#19240 [Backport] Add missing unit test for WishlistSettings plugin
  app/code/Magento/Wishlist/Test/Unit/Plugin/Ui/DataProvider/WishlistSettingsTest.php
Labels: Component: Wishlist, Progress: accept, Release Line: 2.2

#19260 Issue #19205 Fixed: Bundle Product Option with input type is checkbox and add to cart with 3 values only 2 values added to cart.
  app/code/Magento/Bundle/Model/Product/Type.php
Labels: Component: Bundle, Progress: accept, Progress: on hold, Release Line: 2.2

#18773 small performance improvement on product listing
  app/code/Magento/Review/Model/Review.php
Labels: Component: Review, Progress: accept, Release Line: 2.3

#18987 magento/magento2#17638: [Forwardport] Bundle Special Prices not correctly rounded.
  app/code/Magento/Catalog/Ui/DataProvider/Product/Form/Modifier/Eav.php
Labels: Component: Catalog, Progress: accept, Release Line: 2.3

#19009 missing use statement in layout generator
  lib/internal/Magento/Framework/View/Layout/Generator/Block.php
Labels: Component: Framework/View, Progress: accept, Release Line: 2.3

#19155 19082-Fatal-error-Uncaught-Error-Cannot-call-abstract-method-Magento-…
  app/code/Magento/Catalog/Controller/Product/Compare.php
Labels: Component: Catalog, Partner: ISM eCompany, Progress: accept, Release Line: 2.3, partners-contribution

#19171 magento/magento2#16887: [Forwardport] Fix blocked a frame with origin.
  app/code/Magento/PageCache/view/frontend/web/js/page-cache.js
Labels: Area: Frontend, Component: PageCache, Progress: accept, Release Line: 2.3

#19203 magento/magento2#13095: [Forwardport] No locale for Swedish (Finland).
  lib/internal/Magento/Framework/Locale/Config.php
Labels: Component: Framework/Locale, Progress: accept, Release Line: 2.3

#19204 [UI] Fix selection of all items which are not visible in ui grid
  app/code/Magento/Ui/view/base/web/js/grid/massactions.js
Labels: Area: Frontend, Component: Ui, Progress: accept, Release Line: 2.3

#19254 [Forwardport] Fixed child items showing on My Account order view
  app/code/Magento/Sales/Block/Order/Items.php
Labels: Component: Sales, Progress: accept, Release Line: 2.3

#19264 Fix the issue: Content overlaps the "close" button
  lib/web/css/source/components/_modals.less
Labels: Area: Lib/Frontend, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#18960 local themes should be added to git repo
  .gitignore
Labels: Partner: Basecom, Progress: accept, Release Line: 2.2, partners-contribution

#18609 Binding to event collapsible scroll
  lib/web/mage/collapsible.js
Labels: Area: Lib/Frontend, Progress: accept, Release Line: 2.3

#18703 Changed get product way in blocks with related products
  app/code/Magento/Catalog/Block/Product/ProductList/Crosssell.php
  app/code/Magento/Catalog/Block/Product/ProductList/Related.php
  app/code/Magento/Catalog/Block/Product/ProductList/Upsell.php
Labels: Component: Catalog, Progress: accept, Release Line: 2.3

#18888 Fixed rating issue website wise
  app/code/Magento/Review/Model/ResourceModel/Rating.php
Labels: Component: Review, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#19024 Add-validation-new-from-date-less-than-new-to-date-in-SCV-product-import
  app/code/Magento/CatalogImportExport/Model/Import/Product.php
  app/code/Magento/CatalogImportExport/Model/Import/Product/RowValidatorInterface.php
Labels: Component: CatalogImportExport, Partner: ISM eCompany, Progress: accept, Release Line: 2.3, partners-contribution

#19053 Magento backend Notifications counter round icon small cut from right side
  app/design/adminhtml/Magento/backend/Magento_Backend/web/css/source/module/header/actions-group/_notifications.less
Labels: Area: Design/Frontend, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#19183 [Captcha] Integration tests for wrong captcha
  dev/tests/integration/testsuite/Magento/Captcha/Observer/CaseCheckOnFrontendUnsuccessfulMessageWhenCaptchaFailedTest.php
Labels: Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#19213 Fix dependency between Elasticsearch configuration fields
  app/code/Magento/Elasticsearch/etc/adminhtml/system.xml
Labels: Component: Elasticsearch, Progress: accept, Release Line: 2.3

#19277 Remove cart edit link extra space
  app/code/Magento/Checkout/view/frontend/templates/cart/item/renderer/actions/edit.phtml
Labels: Area: Frontend, Component: Checkout, Progress: accept, Release Line: 2.3

#19299 Fix styling issue for order items table
  app/code/Magento/Sales/view/frontend/templates/order/items.phtml
  app/design/frontend/Magento/luma/Magento_Sales/web/css/source/_module.less
Labels: Area: Design/Frontend, Area: Frontend, Component: Sales, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#19326 fix: remove old code in tabs, always set tabindex to 0 when tabs are …
  lib/web/mage/tabs.js
Labels: Area: Lib/Frontend, Progress: accept, Release Line: 2.3

#19068 Using Media Image custom attribute type could not display on frontend. #19054
  app/code/Magento/Eav/Model/Entity/Attribute.php
Labels: Component: Eav, Progress: accept, Release Line: 2.2

#19336 [Backport] small performance improvement on product listing
  app/code/Magento/Review/Model/Review.php
Labels: Component: Review, Progress: accept, Release Line: 2.2

#19337 [Backport] 19082-Fatal-error-Uncaught-Error-Cannot-call-abstract-method-Magento-…
  app/code/Magento/Catalog/Controller/Product/Compare.php
Labels: Component: Catalog, Partner: ISM eCompany, Progress: accept, Release Line: 2.2, partners-contribution

#19338 [Backport] missing use statement in layout generator
  lib/internal/Magento/Framework/View/Layout/Generator/Block.php
Labels: Component: Framework/View, Progress: accept, Release Line: 2.2

#18621 18615 updates structure for last_trans_id to be varchar 255 which is …
  app/code/Magento/Sales/Setup/UpgradeSchema.php
  app/code/Magento/Sales/etc/module.xml
Labels: Component: Sales, Partner: CTI Digital LTD, Progress: accept, Release Line: 2.2, partners-contribution

#19296 Fix issue 19286 - Wrong pager style
  app/design/frontend/Magento/luma/web/css/source/_extends.less
Labels: Area: Design/Frontend, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.2, partners-contribution

#19355 [Backport] Changed get product way in blocks with related products
  app/code/Magento/Catalog/Block/Product/ProductList/Crosssell.php
  app/code/Magento/Catalog/Block/Product/ProductList/Related.php
  app/code/Magento/Catalog/Block/Product/ProductList/Upsell.php
Labels: Component: Catalog, Progress: accept, Release Line: 2.2

#19357 [Backport] #13157 - Last Ordered Items block - bad js code
  app/code/Magento/Sales/view/frontend/templates/reorder/sidebar.phtml
  app/code/Magento/Sales/view/frontend/web/js/view/last-ordered-items.js
Labels: Area: Frontend, Component: Sales, Progress: accept, Release Line: 2.2

#19023 [2.2 develop] [backport #19018] [issue #17833] child theme does not inherit translations from parent theme
  lib/internal/Magento/Framework/Translate.php
Labels: Component: Framework/Translate, Partner: ISM eCompany, Progress: accept, Release Line: 2.2, partners-contribution

#19358 [Backport] Fix the issue with repetitive "tbody" tag for order items table
  app/code/Magento/Sales/view/frontend/templates/order/items.phtml
  app/design/frontend/Magento/luma/Magento_Sales/web/css/source/_module.less
Labels: Area: Design/Frontend, Area: Frontend, Component: Sales, Progress: accept, Release Line: 2.2

#19365 Fixing a test for Magento Newsletter.
  app/code/Magento/Newsletter/Test/Unit/Model/ProblemTest.php
Labels: Component: Newsletter, Progress: accept, Release Line: 2.2

#18899 [Backport] fixed - can't import external http to https redirecting images by default csv import
  lib/internal/Magento/Framework/Filesystem/Driver/Http.php
Labels: Component: Framework/Filesystem, Event: squashtoberfest, Progress: accept, Release Line: 2.2

#19356 [Backport] Magento backend Notifications counter round icon small cut from right side
  app/design/adminhtml/Magento/backend/Magento_Backend/web/css/source/module/header/actions-group/_notifications.less
Labels: Area: Design/Frontend, Progress: accept, Release Line: 2.2

#19364 [Backport] fix: remove old code in tabs, always set tabindex to 0 when tabs are …
  lib/web/mage/tabs.js
Labels: Area: Lib/Frontend, Progress: accept, Release Line: 2.2

#19374 back-port-pull-19024
  app/code/Magento/CatalogImportExport/Model/Import/Product.php
  app/code/Magento/CatalogImportExport/Model/Import/Product/RowValidatorInterface.php
Labels: Component: CatalogImportExport, Partner: ISM eCompany, Progress: accept, Release Line: 2.2, partners-contribution

#19298 [Forwardport] Fix issue port 19286 - Wrong pager style
  app/design/frontend/Magento/luma/web/css/source/_extends.less
Labels: Area: Design/Frontend, Partner: Krish TechnoLabs, Port, Progress: accept, Release Line: 2.3, partners-contribution

#19318 [Forwardport] Fixed child items showing on My Account order view
  app/code/Magento/Sales/Block/Order/Items.php
Labels: Component: Sales, Partner: Basecom, Progress: accept, Release Line: 2.3, partners-contribution

#19332 chore: remove unused code in admin view of catalog
  app/code/Magento/Catalog/view/adminhtml/web/catalog/product/composite/configure.js
Labels: Area: Frontend, Component: Catalog, Progress: accept, Release Line: 2.3

#19350 [Forwardport] local themes should be added to git repo
  .gitignore
Labels: Partner: Basecom, Progress: accept, Release Line: 2.3, partners-contribution

#19014 [Backport] #17813 - Huge "product_data_storage" in localStorage hangs the shop
  app/code/Magento/Catalog/view/frontend/web/js/product/storage/data-storage.js
  app/code/Magento/Catalog/view/frontend/web/js/product/storage/ids-storage.js
  app/code/Magento/Catalog/view/frontend/web/js/product/storage/storage-service.js
  dev/tests/js/jasmine/tests/app/code/Magento/Catalog/frontend/js/product/storage/data-storage.test.js
  dev/tests/js/jasmine/tests/app/code/Magento/Catalog/frontend/js/product/storage/ids-storage.test.js
Labels: Area: Frontend, Component: Catalog, Progress: accept, Release Line: 2.2

#19422 Fix for incorrectly escapeHtml'd JSON in commit b8f78cc6
  app/code/Magento/Cms/view/adminhtml/templates/browser/content/uploader.phtml
Labels: Area: Frontend, Component: Cms, Progress: accept, Release Line: 2.2

#19426 [Backport] Fixing the customer subscribing from different stores
  app/code/Magento/Newsletter/Model/Plugin/CustomerPlugin.php
  app/code/Magento/Newsletter/Test/Unit/Model/Plugin/CustomerPluginTest.php
Labels: Component: Newsletter, Partner: Atwix, Progress: accept, Release Line: 2.2, partners-contribution

#19427 [Backport] Adding integration tests for wrong captcha
  dev/tests/integration/testsuite/Magento/Captcha/Observer/CaseCheckOnFrontendUnsuccessfulMessageWhenCaptchaFailedTest.php
Labels: Partner: Atwix, Progress: accept, Release Line: 2.2, partners-contribution

#19239 [Backport] Allow to read HTTP/2 response header.
  lib/internal/Magento/Framework/HTTP/Client/Curl.php
Labels: Component: Framework/HTTP, Progress: accept, Release Line: 2.2

#19430 Fixed issue with Base Currency for website is CND when PayPal Payflow Pro is charging in USD
  app/code/Magento/Paypal/Model/Payflowpro.php
Labels: Component: Paypal, Progress: accept, Release Line: 2.2

#19447 [Backport] chore: remove unused code in admin view of catalog
  app/code/Magento/Catalog/view/adminhtml/web/catalog/product/composite/configure.js
Labels: Area: Frontend, Component: Catalog, Progress: accept, Release Line: 2.2
