Repository magento/magento2, pull requests merged in 2018-09, with the labels that each got.

#17839 [Backport] [Search] Unit test for SynonymAnalyzer model. 2.1 back port.
  app/code/Magento/Search/Test/Unit/Model/SynonymAnalyzerTest.php
Labels: Component: Search, Partner: Atwix, Progress: accept, Release Line: 2.1, partners-contribution

#17385 Remove leading Countrycode from EU-VAT-Numbers
  app/code/Magento/Customer/Model/Vat.php
Labels: Component: Customer, Progress: accept, Release Line: 2.2

#17739 Search: Add unit test for PopularSearchTerms model
  app/code/Magento/Search/Test/Unit/Model/PopularSearchTermsTest.php
Labels: Component: Search, Partner: Atwix, Progress: accept, Release Line: 2.2, partners-contribution

#17773 Fix for ProductLink - setterName was incorrectly being set
  app/code/Magento/Catalog/Model/ProductLink/Repository.php
  app/code/Magento/GroupedProduct/Model/Product/Initialization/Helper/ProductLinks/Plugin/Grouped.php
Labels: Component: Catalog, Component: GroupedProduct, Progress: accept, Release Line: 2.2

#17876 Sales: Add unit test for validator model class
  app/code/Magento/Sales/Test/Unit/Model/ValidatorTest.php
Labels: Component: Sales, Partner: Atwix, Progress: accept, Release Line: 2.2, partners-contribution

#17877 Resolved : Wishlist icon cut on Shopping cart page in mobile view #17851
  app/design/frontend/Magento/luma/Magento_Wishlist/web/css/source/_module.less
Labels: Area: Design/Frontend, Partner: Wagento, Progress: accept, Release Line: 2.2, partners-contribution

#17840 API-functional test for Search
  dev/tests/api-functional/testsuite/Magento/Search/Api/SearchTest.php
Labels: Partner: Atwix, Progress: accept, Release Line: 2.2, partners-contribution

#17912 [Backport] Resolved : Wishlist icon cut on Shopping cart page in mobile view #17851 #28
  app/design/frontend/Magento/luma/Magento_Wishlist/web/css/source/_module.less
Labels: Area: Design/Frontend, Partner: Wagento, Progress: accept, Release Line: 2.1, partners-contribution

#17870 Fix - Next Page button triggered when filtering Customer grid
  app/code/Magento/Backend/view/adminhtml/templates/widget/grid.phtml
Labels: Area: Frontend, Component: Backend, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.2, partners-contribution

#17940 [Backport] Sales: Add unit test for validator model class
  app/code/Magento/Sales/Test/Unit/Model/ValidatorTest.php
Labels: Component: Sales, Partner: Atwix, Progress: accept, Release Line: 2.1, partners-contribution

#17883 Update for pull request #17774 - now using SimpleDataObjectConverter:…
  app/code/Magento/Catalog/Model/ProductLink/Repository.php
  app/code/Magento/GroupedProduct/Model/Product/Initialization/Helper/ProductLinks/Plugin/Grouped.php
Labels: Component: Catalog, Component: GroupedProduct, Progress: accept, Release Line: 2.1

#16800 [2.2-dev] Move functions.php into Framework
  app/bootstrap.php
  app/functions.php
  dev/tests/unit/framework/bootstrap.php
  lib/internal/Magento/Framework/Phrase/__.php
  lib/internal/Magento/Framework/registration.php
Labels: Component: Framework/Phrase, Progress: accept, Release Line: 2.2

#17733 [Forwardport] Replace floatval() function by using direct type casting to (float)
  app/code/Magento/Backend/Block/Widget/Grid/Column/Renderer/Currency.php
  app/code/Magento/Backend/Block/Widget/Grid/Column/Renderer/Price.php
  app/code/Magento/Bundle/Pricing/Price/BundleSelectionFactory.php
  app/code/Magento/Catalog/Model/Product/Type/AbstractType.php
  app/code/Magento/Catalog/Model/ResourceModel/Layer/Filter/Price.php
  app/code/Magento/Catalog/Pricing/Price/RegularPrice.php
  app/code/Magento/Catalog/Pricing/Price/TierPrice.php
  app/code/Magento/Catalog/Test/Unit/Model/Layer/Filter/DataProvider/PriceTest.php
  app/code/Magento/CatalogInventory/Model/Stock/Item.php
  app/code/Magento/CatalogRule/Pricing/Price/CatalogRulePrice.php
  app/code/Magento/Checkout/Helper/Data.php
  app/code/Magento/Config/Model/Config/Structure/Mapper/Sorting.php
  app/code/Magento/Directory/Model/Currency.php
  app/code/Magento/GroupedProduct/Pricing/Price/ConfiguredRegularPrice.php
  app/code/Magento/Reports/Block/Adminhtml/Grid/Column/Renderer/Currency.php
  app/code/Magento/Sales/Model/Order/StateResolver.php
  app/code/Magento/Sales/Model/ResourceModel/Order/Handler/State.php
  app/code/Magento/Tax/Helper/Data.php
  app/code/Magento/Ups/Model/Carrier.php
Labels: Component: multiple, Progress: accept, Release Line: 2.3

#17772 [Forwardport] Fix for ProductLink - setterName was incorrectly being set
  app/code/Magento/Catalog/Model/ProductLink/Repository.php
  app/code/Magento/GroupedProduct/Model/Product/Initialization/Helper/ProductLinks/Plugin/Grouped.php
Labels: Component: Catalog, Component: GroupedProduct, Progress: accept, Release Line: 2.3

#17650 Use route ID when creating secret keys in backend menus instead of route name
  app/code/Magento/Backend/Block/Menu.php
Labels: Component: Backend, Progress: accept, Release Line: 2.3

#17765 [Forwardport] Clean code
  app/code/Magento/Analytics/ReportXml/ReportProvider.php
  app/code/Magento/Backend/App/DefaultPath.php
  app/code/Magento/Backend/Model/Menu/Builder.php
  app/code/Magento/Backup/Helper/Data.php
  app/code/Magento/BundleImportExport/Model/Export/RowCustomizer.php
  app/code/Magento/Captcha/Observer/CaptchaStringResolver.php
  app/code/Magento/Catalog/Block/Product/View/Gallery.php
  app/code/Magento/Catalog/Cron/FrontendActionsFlush.php
  app/code/Magento/Catalog/Helper/Image.php
  app/code/Magento/Catalog/Helper/Output.php
  app/code/Magento/Catalog/Model/Api/SearchCriteria/CollectionProcessor/ConditionProcessor/ConditionBuilder/NativeAttributeCondition.php
  app/code/Magento/Catalog/Model/Config.php
  app/code/Magento/Catalog/Model/Product/Option.php
  app/code/Magento/Catalog/Model/Product/Option/Type/DefaultType.php
  app/code/Magento/Catalog/Model/Product/Option/Validator/Pool.php
  app/code/Magento/Catalog/Model/Product/Type.php
  app/code/Magento/Catalog/Ui/Component/FilterFactory.php
  app/code/Magento/Catalog/Ui/Component/Listing/Columns.php
  app/code/Magento/Catalog/Ui/DataProvider/Product/Form/Modifier/Eav.php
  app/code/Magento/CatalogImportExport/Model/Import/Product/CategoryProcessor.php
  app/code/Magento/CatalogImportExport/Model/Import/Product/SkuProcessor.php
  app/code/Magento/CatalogImportExport/Model/Import/Product/StoreResolver.php
  app/code/Magento/CatalogInventory/Block/Adminhtml/Form/Field/Customergroup.php
  app/code/Magento/CatalogInventory/Model/StockRegistryStorage.php
  app/code/Magento/CatalogRule/Observer/RulePricesStorage.php
  lib/internal/Magento/Framework/DataObject/Copy/Config.php
  lib/internal/Magento/Framework/View/Page/Config/Structure.php
  lib/internal/Magento/Framework/View/TemplateEngine/Xhtml/Compiler.php
  setup/src/Magento/Setup/Fixtures/ImagesFixture.php
  setup/src/Magento/Setup/Module/Setup/SetupCache.php
Labels: Component: multiple, Progress: accept, Release Line: 2.3

#17768 [Forwardport] Fix proxy generation return type
  lib/internal/Magento/Framework/ObjectManager/Test/Unit/Code/Generator/_files/Sample.php
  lib/internal/Magento/Framework/ObjectManager/Test/Unit/Code/Generator/_files/SampleProxy.txt
Labels: Component: Framework/ObjectManager, Progress: accept, Release Line: 2.3

#17837 [Forwardport] [Search] Unit test for SynonymAnalyzer model
  app/code/Magento/Search/Test/Unit/Model/SynonymAnalyzerTest.php
Labels: Component: Search, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#17848 Fix for invalid JSON if image label contains HTML markup, example &quot;
  app/code/Magento/ProductVideo/view/adminhtml/templates/helper/gallery.phtml
Labels: Area: Frontend, Component: ProductVideo, Partner: Guapa, Progress: accept, Release Line: 2.3, partners-contribution

#17874 [Forwardport] Fix - Next Page button triggered when filtering Customer grid
  app/code/Magento/Backend/view/adminhtml/templates/widget/grid.phtml
Labels: Area: Frontend, Component: Backend, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#17911 [Forwardport] Resolved : Wishlist icon cut on Shopping cart page in mobile view #17851 #27
  app/design/frontend/Magento/luma/Magento_Wishlist/web/css/source/_module.less
Labels: Area: Design/Frontend, Partner: Wagento, Progress: accept, Release Line: 2.3, partners-contribution

#17921 [Forwardport] Remove leading Countrycode from EU-VAT-Numbers
  app/code/Magento/Customer/Model/Vat.php
Labels: Component: Customer, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#17922 [Forwardport] API-functional test for Search
  dev/tests/api-functional/testsuite/Magento/Search/Api/SearchTest.php
Labels: Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#17938 Replace sort callbacks to spaceship operator
  lib/internal/Magento/Framework/App/RouterList.php
  lib/internal/Magento/Framework/Config/Reader.php
  lib/internal/Magento/Framework/MessageQueue/Config/CompositeReader.php
  lib/internal/Magento/Framework/MessageQueue/Config/Reader/Xml/CompositeConverter.php
  lib/internal/Magento/Framework/ObjectManager/Helper/Composite.php
Labels: Component: Framework/App, Component: Framework/Config, Component: Framework/ObjectManager, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#17941 [Forwardport] Sales: Add unit test for validator model class
  app/code/Magento/Sales/Test/Unit/Model/ValidatorTest.php
Labels: Component: Sales, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#17946 [2.3] changed intval($val) to (int) $val, since `(int) $val ` is faster.
  app/code/Magento/Backend/Block/Widget/Button/ButtonList.php
  app/code/Magento/Backend/Model/Menu.php
  app/code/Magento/Backup/Model/Config/Backend/Cron.php
  app/code/Magento/Bundle/Model/Product/Type.php
  app/code/Magento/Catalog/Block/Adminhtml/Product/Edit/Action/Attribute/Tab/Inventory.php
  app/code/Magento/Catalog/Block/Product/ProductList/Upsell.php
  app/code/Magento/Catalog/Model/Indexer/Category/Flat/AbstractAction.php
  app/code/Magento/Catalog/Model/Product/Image.php
Labels: Component: Backend, Component: Backup, Component: Bundle, Component: Catalog, Progress: accept, Release Line: 2.3

#17608 [Forwardport] Fix unstable session manager
  lib/internal/Magento/Framework/Session/SessionManager.php
Labels: Component: Framework/Session, Progress: accept, Release Line: 2.3

#17858 [Forwardport] Update issue templates for Magento 2 GitHub project
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/developer-experience-issue.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#18003 fix notice undefined shipment: revert locale inside loop
  app/code/Magento/Sales/Model/Order/Pdf/Shipment.php
Labels: Component: Sales, Progress: accept, Release Line: 2.3

#17477 [Forwardport] Fixed issue #13480 - Unable to activate logs after switching from production mode to developer
  app/code/Magento/Deploy/etc/di.xml
Labels: Component: Deploy, Progress: accept, Release Line: 2.3

#17623 [Forwardport] Fixed #16929 - Incorrect displaying Product Image Watermarks on Magento 2.2.5
  lib/internal/Magento/Framework/Image/Adapter/Gd2.php
Labels: Component: Framework/Image, Progress: accept, Release Line: 2.3

#17628 [Forwardport] Fixing the address checkbox being unchecked on payment step.
  app/code/Magento/Checkout/view/frontend/web/js/view/shipping.js
Labels: Area: Frontend, Component: Checkout, Progress: accept, Release Line: 2.3

#17697 [Forwardport] Fixed undefinded shipping method name issue #17492
  app/code/Magento/Checkout/view/frontend/web/js/view/summary/shipping.js
Labels: Area: Frontend, Component: Checkout, Progress: accept, Release Line: 2.3

#17857 [Forwardport] Fixes black background for png images in wysiwyg editors.
  lib/internal/Magento/Framework/Image/Adapter/Gd2.php
Labels: Component: Framework/Image, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#18023 [Forwardport] Search: Add unit test for PopularSearchTerms model
  app/code/Magento/Search/Test/Unit/Model/PopularSearchTermsTest.php
Labels: Component: Search, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#16775 [Forwardport] #7903 correct the position of the datepicker when you scroll
  app/design/adminhtml/Magento/backend/web/css/source/forms/fields/_control-table.less
Labels: Area: Design/Frontend, Partner: Wagento, Progress: accept, Release Line: 2.2, partners-contribution

#16776 [Forwardport] #7903 correct the position of the datepicker when you scroll
  app/design/adminhtml/Magento/backend/web/css/source/forms/fields/_control-table.less
Labels: Area: Design/Frontend, Partner: Wagento, Progress: accept, Release Line: 2.3, partners-contribution

#18020 Replace floatval() function by using direct type casting to (float)
  dev/tests/functional/lib/Magento/Mtf/Constraint/AbstractAssertForm.php
  dev/tests/functional/tests/app/Magento/Catalog/Test/Block/Product/View/CustomOptions.php
  dev/tests/functional/tests/app/Magento/CatalogRule/Test/Constraint/AssertCatalogPriceRuleForm.php
  dev/tests/functional/tests/app/Magento/Downloadable/Test/Handler/DownloadableProduct/Webapi.php
  dev/tests/functional/tests/app/Magento/Reports/Test/Constraint/AssertSalesReportIntervalResult.php
  dev/tests/functional/tests/app/Magento/Reports/Test/Constraint/AssertSalesReportTotalResult.php
  dev/tests/integration/testsuite/Magento/Catalog/Model/ProductTest.php
  lib/internal/Magento/Framework/Filter/Template/Tokenizer/Variable.php
  lib/internal/Magento/Framework/Setup/Declaration/Schema/Dto/Factories/Real.php
Labels: Component: Framework/Filter, Component: Framework/Setup, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#18035 [2.3] Changed intval($val) to (int) $val, since it is faster:
  app/code/Magento/Bundle/Model/Product/Type.php
  app/code/Magento/Catalog/Block/Product/Widget/NewWidget.php
  app/code/Magento/Catalog/Model/Category.php
  app/code/Magento/Catalog/Model/ImageExtractor.php
  app/code/Magento/Catalog/Model/Product/Compare/Item.php
  app/code/Magento/Catalog/Model/Product/Option/Type/Date.php
  app/code/Magento/Catalog/Model/Product/Option/Validator/DefaultValidator.php
  app/code/Magento/Catalog/Model/Product/PriceModifier.php
  app/code/Magento/Catalog/Model/Product/TierPriceManagement.php
  app/code/Magento/Catalog/Model/Product/Type.php
  app/code/Magento/Catalog/Model/ResourceModel/Category.php
  app/code/Magento/Catalog/Model/ResourceModel/Category/Flat.php
  app/code/Magento/CatalogInventory/Model/Quote/Item/QuantityValidator/Initializer/Option.php
  app/code/Magento/CatalogInventory/Model/StockStateProvider.php
  app/code/Magento/CatalogWidget/Block/Product/ProductsList.php
  app/code/Magento/Config/Block/System/Config/Form/Field/Datetime.php
  app/code/Magento/Config/Block/System/Config/Form/Field/Notification.php
Labels: Component: Bundle, Component: Catalog, Component: CatalogInventory, Component: CatalogWidget, Component: Config, Progress: accept, Release Line: 2.3

#18047 Added integration test for gift message quote merge
  dev/tests/integration/testsuite/Magento/GiftMessage/Observer/SalesEventQuoteMergeTest.php
Labels: Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#18049 Code improvement of lib files
  lib/internal/Magento/Framework/Amqp/Config.php
  lib/internal/Magento/Framework/App/Cache/State.php
  lib/internal/Magento/Framework/Data/Form/Element/Editor.php
  lib/internal/Magento/Framework/GraphQl/Schema/Type/Entity/DefaultMapper.php
  lib/internal/Magento/Framework/GraphQl/Schema/Type/Enum/DefaultDataMapper.php
  lib/internal/Magento/Framework/MessageQueue/Config.php
  lib/internal/Magento/Framework/MessageQueue/Consumer/Config/Env/Reader.php
  lib/internal/Magento/Framework/Setup/Declaration/Schema/Dto/Schema.php
  lib/internal/Magento/Framework/Setup/Declaration/Schema/Dto/Table.php
Labels: Component: Framework/Amqp, Component: Framework/App, Component: Framework/Data, Component: Framework/Setup, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#18072 Sales: add missing unit tests for model classes
  app/code/Magento/Sales/Test/Unit/Model/ValidatorResultMergerTest.php
  app/code/Magento/Sales/Test/Unit/Model/ValidatorResultTest.php
Labels: Component: Sales, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#17679 Update shipment collection to unserialize `packages` attribute after load
  app/code/Magento/Sales/Model/ResourceModel/Order/Shipment/Collection.php
Labels: Component: Sales, Progress: accept, Release Line: 2.2

#17993 fix #17582 ./bin/magento config:show fails with a fatal error
  app/code/Magento/Config/Console/Command/ConfigShow/ValueProcessor.php
Labels: Component: Config, Event: mm18pl, Progress: accept, Release Line: 2.2

#18000 Fix sitemap grid render incorrect base urls for multiple stores
  app/code/Magento/Sitemap/Block/Adminhtml/Grid/Renderer/Link.php
Labels: Component: Sitemap, Partner: Balance Internet, Progress: accept, Release Line: 2.2, partners-contribution

#18055 fix: reset search mini-form when we have no data / an empty response
  app/code/Magento/Search/view/frontend/web/js/form-mini.js
Labels: Area: Frontend, Component: Search, Progress: accept, Release Line: 2.2

#18097 [Backport] Fix import grouped products #12853
  app/code/Magento/GroupedImportExport/Model/Import/Product/Type/Grouped.php
Labels: Component: GroupedImportExport, Progress: accept, Release Line: 2.2

#18098 Fix shipping discount failed to apply during place order
  app/code/Magento/Tax/Model/Sales/Total/Quote/Tax.php
Labels: Component: Tax, Partner: Ampersand, Progress: accept, Release Line: 2.2, partners-contribution

#18102 Replace sort callbacks to spaceship operator
  app/code/Magento/Backend/Block/Widget/Button/ButtonList.php
  app/code/Magento/Bundle/Model/Product/Type.php
  app/code/Magento/Config/Model/Config/Structure/Mapper/Sorting.php
  app/code/Magento/Deploy/Model/DeploymentConfig/ImporterPool.php
  app/code/Magento/Paypal/Model/Express/Checkout.php
  app/code/Magento/Sales/Block/Adminhtml/Order/View/Tab/History.php
  app/code/Magento/Sales/Model/Order/Pdf/AbstractPdf.php
  app/code/Magento/Ui/DataProvider/Modifier/Pool.php
  dev/tests/functional/tests/app/Magento/Downloadable/Test/Constraint/AssertDownloadableDuplicateForm.php
  lib/internal/Magento/Framework/Communication/Config/CompositeReader.php
Labels: Component: Backend, Component: Bundle, Component: Config, Component: Deploy, Component: Framework/Communication, Component: Paypal, Component: Sales, Component: Ui, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#18117 Change sort order for customer group options
  app/code/Magento/Customer/Model/GroupManagement.php
Labels: Component: Customer, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#18136 [2.3] Update labels section in README.md
  README.md
Labels: Progress: accept, Release Line: 2.3

#18142 Replace intval() function by using direct type casting to (int) where no default value is needed
  lib/internal/Magento/Framework/DB/Adapter/Pdo/Mysql.php
  lib/internal/Magento/Framework/DB/Helper.php
  lib/internal/Magento/Framework/DB/Query.php
  lib/internal/Magento/Framework/DB/Query/BatchIterator.php
  lib/internal/Magento/Framework/DB/Query/BatchRangeIterator.php
  lib/internal/Magento/Framework/DB/Sql/LimitExpression.php
  lib/internal/Magento/Framework/Data/Argument/Interpreter/ArrayType.php
  lib/internal/Magento/Framework/Data/Collection.php
  lib/internal/Magento/Framework/Exception/LocalizedException.php
  lib/internal/Magento/Framework/HTTP/Client/Curl.php
  lib/internal/Magento/Framework/HTTP/Client/Socket.php
  lib/internal/Magento/Framework/Image.php
  lib/internal/Magento/Framework/Mail/Test/Unit/Template/TransportBuilderTest.php
  lib/internal/Magento/Framework/MessageQueue/Config/CompositeReader.php
  lib/internal/Magento/Framework/MessageQueue/Config/Reader/Xml/CompositeConverter.php
  lib/internal/Magento/Framework/Setup/Declaration/Schema/Db/MySQL/Definition/Columns/Integer.php
  lib/internal/Magento/Framework/Setup/SchemaListenerDefinition/TextBlobDefinition.php
  lib/internal/Magento/Framework/System/Ftp.php
  lib/internal/Magento/Framework/View/Element/UiComponent/Context.php
  lib/internal/Magento/Framework/Webapi/ErrorProcessor.php
Labels: Component: Framework/DB, Component: Framework/Data, Component: Framework/Exception, Component: Framework/HTTP, Component: Framework/Image, Component: Framework/Mail, Component: Framework/Setup, Component: Framework/System, Component: Framework/View, Component: Framework/Webapi, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#17984 Implemeted MAGETWO-81170: Missing $debugHintsPath when sending email …
  app/code/Magento/Developer/etc/di.xml
  app/code/Magento/Developer/etc/frontend/di.xml
Labels: Component: Developer, Progress: accept, Release Line: 2.2

#18225 Module Catalog: fix issue with custom option price conversion for different base currency on website level
  app/code/Magento/Catalog/Model/ResourceModel/Product/Option/Value.php
Labels: Component: Catalog, Progress: accept, Release Line: 2.2

#16351 Magento_Sales integration tests: Fix addresses in order_list fixture
  dev/tests/integration/testsuite/Magento/Sales/_files/order_list.php
Labels: Progress: accept, Release Line: 2.3

#18141 [Forwardport] Update time12h javascript validation rule to be compatible with js minify
  lib/web/mage/validation.js
Labels: Area: Lib/Frontend, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#18187 Replace sort callbacks to spaceship operator in vendor files
  app/code/Magento/Backend/Block/Widget/Button/ButtonList.php
  app/code/Magento/Bundle/Model/Product/Type.php
  app/code/Magento/Config/Model/Config/Structure/Mapper/Sorting.php
  app/code/Magento/Deploy/Model/DeploymentConfig/ImporterPool.php
  app/code/Magento/Paypal/Model/Express/Checkout.php
  app/code/Magento/Sales/Block/Adminhtml/Order/View/Tab/History.php
  app/code/Magento/Sales/Model/Order/Pdf/AbstractPdf.php
  app/code/Magento/Ui/DataProvider/Modifier/Pool.php
  dev/tests/functional/tests/app/Magento/Downloadable/Test/Constraint/AssertDownloadableDuplicateForm.php
Labels: Component: Backend, Component: Bundle, Component: Config, Component: Deploy, Component: Paypal, Component: Sales, Component: Ui, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#18198 [Forwardport] [remove] rich snippet declaration on grouped product
  app/code/Magento/GroupedProduct/view/base/templates/product/price/final_price.phtml
Labels: Area: Frontend, Component: GroupedProduct, Progress: accept, Release Line: 2.3

#18202 [Forwardport] Current password autocomplete for admin login
  app/code/Magento/Backend/view/adminhtml/templates/admin/login.phtml
Labels: Area: Frontend, Component: Backend, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#18203 [Forwardport] [2.2] return $this from setters in Analytics/ReportXml/DB/SelectBuilder.php
  app/code/Magento/Analytics/ReportXml/DB/SelectBuilder.php
  app/code/Magento/Analytics/Test/Unit/ReportXml/DB/SelectBuilderTest.php
Labels: Component: Analytics, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#18211 [Forwardport] [CatalogUrlRewrite] Covering the CategoryProcessUrlRewriteMovingObserver by Unit Test
  app/code/Magento/CatalogUrlRewrite/Test/Unit/Observer/CategoryProcessUrlRewriteMovingObserverTest.php
Labels: Component: CatalogUrlRewrite, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#18086 Cast products "getStoreId()" to int, closes #18079
  app/code/Magento/Catalog/Model/Category.php
  app/code/Magento/Catalog/Model/Product.php
Labels: Component: Catalog, Progress: accept, Release Line: 2.2

#18215 fix wysiwyg editor not decoding base64 filenames special chars
  lib/web/mage/adminhtml/wysiwyg/tiny_mce/setup.js
Labels: Area: Lib/Frontend, Progress: accept, Release Line: 2.2

#18280 [Backport] Change sort order for customer group options
  app/code/Magento/Customer/Model/GroupManagement.php
Labels: Component: Customer, Partner: Atwix, Progress: accept, Release Line: 2.2, partners-contribution
