Repository magento/magento2, pull requests merged in 2019-01, with the labels that each got.

#18912 [Backport] Fixed subscribe to newsletter if you already have an account issue
  app/code/Magento/Newsletter/Controller/Subscriber/NewAction.php
  dev/tests/integration/testsuite/Magento/Newsletter/Controller/SubscriberTest.php
Labels: Component: Newsletter, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.2, partners-contribution

#19690 [Backport] Additional Cache Management title
  app/code/Magento/Backend/view/adminhtml/templates/system/cache/additional.phtml
Labels: Area: Frontend, Component: Backend, Progress: accept, Release Line: 2.2

#19911 [Backport] fixed store wise product filter issue
  app/code/Magento/Eav/Model/Entity/Collection/AbstractCollection.php
Labels: Community Insider: Cedcommerce, Component: Eav, Progress: accept, Release Line: 2.2, community-insider-contribution

#19945 [Backport] issue 18941
  app/code/Magento/Store/Test/Unit/Url/Plugin/RouteParamsResolverTest.php
  app/code/Magento/Store/Url/Plugin/RouteParamsResolver.php
  dev/tests/integration/testsuite/Magento/Store/Model/StoreTest.php
Labels: Component: Store, Progress: accept, Release Line: 2.2

#19056 Fix issue 19052- Position order showing before the text box
  app/design/adminhtml/Magento/backend/Magento_Catalog/web/css/source/_module.less
Labels: Area: Design/Frontend, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.2, partners-contribution

#19889 [Backport]Fix issue 19507 - Frontend Minicart dropdown alignment issue
  app/design/frontend/Magento/luma/Magento_Checkout/web/css/source/module/_minicart.less
Labels: Area: Design/Frontend, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.2, partners-contribution

#19910 [Backport] fixed Notification page Select Visible items issue
  app/code/Magento/Backend/Block/Widget/Grid/Massaction/AbstractMassaction.php
Labels: Community Insider: Cedcommerce, Component: Backend, Progress: accept, Release Line: 2.2, community-insider-contribution

#19928 [Backport] [Review] Integration tests for not allowed review submission
  dev/tests/integration/testsuite/Magento/Review/Controller/CaseCheckAddingProductReviewTest.php
  dev/tests/integration/testsuite/Magento/Review/_files/disable_config.php
Labels: Partner: Atwix, Progress: accept, Release Line: 2.2, partners-contribution

#19646 Area Frontend: Fixed checkbox alignment account information page.
  lib/web/css/source/lib/_forms.less
Labels: Area: Lib/Frontend, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#19752 Fixed Typo error avaialble -> available
  app/code/Magento/Usps/Model/Carrier.php
Labels: Community Insider: Cedcommerce, Component: Usps, Progress: accept, Release Line: 2.3, community-insider-contribution

#19792 Fixed 19791: Logo vertical misalignment.
  app/design/adminhtml/Magento/backend/Magento_Backend/web/css/source/module/_menu.less
Labels: Area: Design/Frontend, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#19799 Fix issue 19796 - Sales Order invoice Update Qty's Button is misaligned
  app/code/Magento/Sales/view/adminhtml/templates/order/invoice/create/items.phtml
Labels: Area: Frontend, Component: Sales, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#19900 Fix negative credit memo #19899
  app/code/Magento/Sales/Model/Order/CreditmemoFactory.php
Labels: Component: Sales, Partner: Mediotype, Progress: accept, Release Line: 2.3, partners-contribution

#19914 Move website_name column into columnSet
  app/code/Magento/Sales/view/adminhtml/layout/sales_order_create_customer_block.xml
Labels: Area: Frontend, Component: Sales, Progress: accept, Release Line: 2.3

#19926 fixed issue #19925 Close button overlapping in shipping address label whenever any user adding new shipping address in mobile view in checkout
  app/design/frontend/Magento/luma/web/css/source/components/_modals_extend.less
Labels: Area: Design/Frontend, Community Insider: Cedcommerce, Progress: accept, Release Line: 2.3, community-insider-contribution

#19929 Refactoring in Magento_SalesRule
  app/code/Magento/SalesRule/Controller/Adminhtml/Promo/Quote/Generate.php
  app/code/Magento/SalesRule/Model/CouponRepository.php
  app/code/Magento/SalesRule/Model/Data/Rule.php
  app/code/Magento/SalesRule/Model/Plugin/QuoteConfigProductAttributes.php
  app/code/Magento/SalesRule/Model/ResourceModel/ReadHandler.php
  app/code/Magento/SalesRule/Model/ResourceModel/SaveHandler.php
  app/code/Magento/SalesRule/Model/Rule/Action/Discount/CartFixed.php
  app/code/Magento/SalesRule/Model/Rule/Metadata/ValueProvider.php
  app/code/Magento/SalesRule/Model/RuleRepository.php
  app/code/Magento/SalesRule/Setup/Patch/Data/ConvertSerializedDataToJson.php
  app/code/Magento/SalesRule/Setup/Patch/Data/FillSalesRuleProductAttributeTable.php
  app/code/Magento/SalesRule/Setup/Patch/Data/PrepareRuleModelSerializedData.php
  app/code/Magento/SalesRule/Test/Unit/Block/Adminhtml/Promo/Quote/Edit/DeleteButtonTest.php
  app/code/Magento/SalesRule/Test/Unit/Model/ResourceModel/ReadHandlerTest.php
  app/code/Magento/SalesRule/Test/Unit/Model/ResourceModel/Rule/DateApplierTest.php
Labels: Component: SalesRule, Partner: ISM eCompany, Progress: accept, Release Line: 2.3, partners-contribution

#19941 issue resolved:Undefined Variable $itemsOrderItemId
  app/code/Magento/Shipping/Block/Adminhtml/Order/Packaging.php
Labels: Community Insider: Cedcommerce, Component: Shipping, Progress: accept, Release Line: 2.3, community-insider-contribution

#19978 Set correct email message encoding
  app/code/Magento/Email/Model/Transport.php
Labels: Component: Email, Progress: accept, Release Line: 2.3

#19981 Fix issue 19887 creating new shipment: getting all trackers.
  app/code/Magento/Sales/view/frontend/templates/email/shipment/track.phtml
Labels: Area: Frontend, Component: Sales, Progress: accept, Release Line: 2.3

#20005 Minor Typo fix in AbstractFilter.php
  app/code/Magento/Catalog/Model/Layer/Filter/AbstractFilter.php
Labels: Component: Catalog, Progress: accept, Release Line: 2.3

#20022 [Fixed Radio alignment issue on Cart page #20021]
  app/design/frontend/Magento/luma/Magento_Checkout/web/css/source/module/_cart.less
Labels: Area: Design/Frontend, Partner: Wagento, Progress: accept, Release Line: 2.3, partners-contribution

#20046 Added constants to unit codes to make it easier to reuse it if necessary
  app/code/Magento/Directory/Model/Config/Source/WeightUnit.php
Labels: Component: Directory, Progress: accept, Release Line: 2.3

#20050 Add missing throws to PHPDoc
  app/code/Magento/Catalog/Api/CategoryLinkRepositoryInterface.php
Labels: Component: Catalog, Partner: Something Digital, Progress: accept, Release Line: 2.3, partners-contribution

#19643 Fixed issue 19642- Catalog product action multi select search label icon alignment issue
  app/design/adminhtml/Magento/backend/web/css/source/actions/_actions-multiselect.less
Labels: Area: Design/Frontend, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#19803 Fixed 19800 Contact us : design improvement
  app/code/Magento/Contact/view/frontend/web/css/source/_module.less
Labels: Area: Frontend, Component: Contact, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#20042 magento/magento2#12549: Payment method option is not showing under shopping cart rules condition tab.
  app/code/Magento/SalesRule/Model/Rule/Condition/Address.php
Labels: Component: SalesRule, Progress: accept, Release Line: 2.3

#20080 [Backport] Fixed Incorrect class name on Orders and returns page.
  app/code/Magento/Sales/view/frontend/templates/guest/form.phtml
Labels: Area: Frontend, Community Insider: Cedcommerce, Component: Sales, Progress: accept, Release Line: 2.2, community-insider-contribution

#20081 [Backport] Fixed issue - #19346 Import data 2.2.6 Value for 'product_type' attribute contains incorrect value
  app/code/Magento/Catalog/Controller/Adminhtml/Product/Attribute/Validate.php
Labels: Community Insider: Cedcommerce, Component: Catalog, Progress: accept, Release Line: 2.2, community-insider-contribution

#20083 [Backport] fixed issue #19925 Close button overlapping in shipping address label whenever any user adding new shipping address in mobile view in checkout
  app/design/frontend/Magento/luma/web/css/source/components/_modals_extend.less
Labels: Area: Design/Frontend, Community Insider: Cedcommerce, Progress: accept, Release Line: 2.2, community-insider-contribution

#17387 increase length of sequence_table column in sales_sequence_meta table
  app/code/Magento/SalesSequence/etc/db_schema.xml
Labels: Component: SalesSequence, Progress: accept, Release Line: 2.3

#19954 Typo corrected in class name UpdateBundleRelatedEntityTytpes -> UpdateBundleRelatedEntityTypes
  app/code/Magento/Bundle/Setup/Patch/Data/UpdateBundleRelatedEntityTypes.php
Labels: Community Insider: Cedcommerce, Component: Bundle, Progress: accept, Release Line: 2.3, community-insider-contribution

#20082 [Backport] issue resolved:Undefined Variable $itemsOrderItemId
  app/code/Magento/Shipping/Block/Adminhtml/Order/Packaging.php
Labels: Community Insider: Cedcommerce, Component: Shipping, Progress: accept, Release Line: 2.2, community-insider-contribution

#19817 Fixed 19816 Catalog category merchandiser product list missing move cursor in til…
  app/design/adminhtml/Magento/backend/Magento_VisualMerchandiser/web/css/source/_module.less
Labels: Area: Design/Frontend, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#20096 [Forwardport] Using Media Image custom attribute type could not display on frontend. #19054
  app/code/Magento/Eav/Model/Entity/Attribute.php
Labels: Component: Eav, Progress: accept, Release Line: 2.3

#20127 Product image failure when importing through CSV #20098
  app/code/Magento/CatalogImportExport/Model/Import/Uploader.php
Labels: Community Insider: Cedcommerce, Component: CatalogImportExport, Progress: accept, Release Line: 2.3, community-insider-contribution

#20132 Review-Details-Detailed-Rating-misaligned
  app/design/adminhtml/Magento/backend/Magento_Review/web/css/source/_module.less
Labels: Area: Design/Frontend, Progress: accept, Release Line: 2.3

#20160 issus fixed #20158 Store switcher not aligned proper in tab view
  app/design/frontend/Magento/luma/Magento_Theme/web/css/source/_module.less
Labels: Area: Design/Frontend, Progress: accept, Release Line: 2.3

#20168 Changes for Product-per-row-not-proper-on-listing-page
  app/design/frontend/Magento/luma/Magento_Catalog/web/css/source/module/_listings.less
Labels: Area: Design/Frontend, Partner: Two Jay, Progress: accept, Release Line: 2.3, partners-contribution

#20233 Fix issue 20232 : Backend order credit card detail check box misaligned
  app/code/Magento/Braintree/view/adminhtml/templates/form/cc.phtml
Labels: Area: Frontend, Component: Braintree, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#20236 Correct spelling
  app/code/Magento/Ui/view/base/web/js/grid/editing/record.js
Labels: Area: Frontend, Component: Ui, Partner: Krish TechnoLabs, Progress: needs update, Release Line: 2.3, partners-contribution

#20208 magento/magento2:#19101 - API REST and Reserved Order Id
  app/code/Magento/Quote/Api/Data/CartInterface.php
Labels: Component: Quote, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.2, partners-contribution

#20219 Changes-Hamburger-Icon-was-available-on-a-page
  app/design/frontend/Magento/luma/Magento_Theme/web/css/source/_module.less
Labels: Area: Design/Frontend, Partner: Two Jay, Progress: accept, Release Line: 2.2, partners-contribution

#20183 2.2 develop pr port 18888
  app/code/Magento/Review/Model/ResourceModel/Rating.php
Labels: Component: Review, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.2, partners-contribution

#20185 [Backport] Move website_name column into columnSet
  app/code/Magento/Sales/view/adminhtml/layout/sales_order_create_customer_block.xml
Labels: Area: Frontend, Component: Sales, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.2, partners-contribution

#20286 [Backport] Don't return categoryId from registry if the product doesn't belong in the current category
  app/code/Magento/Catalog/Model/Product.php
  app/code/Magento/Catalog/Test/Unit/Model/ProductTest.php
  dev/tests/integration/testsuite/Magento/Catalog/Model/ProductExternalTest.php
Labels: Community Insider: Cedcommerce, Component: Catalog, Progress: accept, Release Line: 2.2, community-insider-contribution

#20298 ISSUE-20296: "@magentoDataIsolation" is used instead of "@magentoDbIsolation" in some integration tests.
  dev/tests/integration/testsuite/Magento/CatalogImportExport/Model/Import/ProductTest.php
Labels: Progress: accept, Release Line: 2.2

#20325 [Backport] issus fixed #20158 Store switcher not aligned proper in tab view
  app/design/frontend/Magento/luma/Magento_Theme/web/css/source/_module.less
Labels: Area: Design/Frontend, Community Insider: Cedcommerce, Progress: accept, Release Line: 2.2, community-insider-contribution

#20328 [Backport] Fix issue 20232 : Backend order credit card detail check box misaligned
  app/code/Magento/Braintree/view/adminhtml/templates/form/cc.phtml
Labels: Area: Frontend, Community Insider: Cedcommerce, Component: Braintree, Progress: accept, Release Line: 2.2, community-insider-contribution

#20329 [Backport] Product image failure when importing through CSV #20098
  app/code/Magento/CatalogImportExport/Model/Import/Uploader.php
Labels: Community Insider: Cedcommerce, Component: CatalogImportExport, Progress: accept, Release Line: 2.2, community-insider-contribution

#20353 Fixed#20352: displaying html content for file type option on order view admin area
  app/code/Magento/Sales/view/adminhtml/templates/items/column/name.phtml
Labels: Area: Frontend, Component: Sales, Progress: accept, Release Line: 2.2

#19812 Fixed The ui-component field validation error not opening accordion tab that owns the field (field does not get focused)
  app/code/Magento/Ui/view/base/web/js/form/components/fieldset.js
  app/code/Magento/Ui/view/base/web/js/form/element/abstract.js
Labels: Area: Frontend, Component: Ui, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#20207 Meassage icon is not proper aligned
  app/design/adminhtml/Magento/backend/web/css/source/components/_messages.less
Labels: Area: Design/Frontend, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#20224 'review-text-is-not-show-uniformly' :: add your review text is not sh…
  app/design/frontend/Magento/luma/Magento_Review/web/css/source/_module.less
Labels: Area: Design/Frontend, Progress: accept, Release Line: 2.3

#20241 Fixed - Admin - dropdown toggle arrow not working on closing #20240
  app/code/Magento/Ui/view/base/web/templates/grid/filters/elements/ui-select.html
  app/design/adminhtml/Magento/backend/web/css/source/forms/_controls.less
Labels: Area: Design/Frontend, Area: Frontend, Component: Ui, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#20258 Missing echo of php vars in widget template file - tabshoriz.phtml
  app/code/Magento/Backend/view/adminhtml/templates/widget/tabshoriz.phtml
Labels: Area: Frontend, Component: Backend, Progress: accept, Release Line: 2.3

#20283 Adjusted documentation for ReadInterface to reflect Exception
  lib/internal/Magento/Framework/Filesystem/Directory/ReadInterface.php
Labels: Component: Framework/Filesystem, Progress: accept, Release Line: 2.3

#20297 update-button-issue-while-updating-billing-and-shipping-address
  app/design/frontend/Magento/blank/web/css/source/_forms.less
  app/design/frontend/Magento/luma/web/css/source/_forms.less
Labels: Area: Design/Frontend, Partner: Two Jay, Progress: accept, Release Line: 2.3, partners-contribution

#20306 issue fixed #20304 No space between step title and saved address in c…
  app/design/frontend/Magento/luma/Magento_Checkout/web/css/source/module/checkout/_checkout.less
Labels: Area: Design/Frontend, Progress: accept, Release Line: 2.3

#19964 [Backport] Fix the issue with reset password when customer has address from not allowed country
  app/code/Magento/Customer/Model/AccountManagement.php
Labels: Component: Customer, Partner: Atwix, Progress: accept, Release Line: 2.2, partners-contribution

#19984 [Backport] Remove unneeded, also mistyped, saveHandler from CatalogSearch indexer declaration
  app/code/Magento/CatalogSearch/etc/indexer.xml
Labels: Component: CatalogSearch, Partner: Atwix, Progress: accept, Release Line: 2.2, partners-contribution

#20206 9130 remove the negative qty block.
  app/code/Magento/CatalogInventory/Block/Stockqty/AbstractStockqty.php
Labels: Component: CatalogInventory, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.2, partners-contribution

#19400 [Backport]Fix-issue-19399-Add product customization option collapsible design issue
  app/design/adminhtml/Magento/backend/Magento_Backend/web/css/source/module/main/_collapsible-blocks.less
Labels: Area: Design/Frontend, Partner: Krish TechnoLabs, Port, Progress: accept, Release Line: 2.2, partners-contribution

#20272 Fixed-Review-Details-Detailed-Rating-misaligned
  app/design/adminhtml/Magento/backend/Magento_Review/web/css/source/_module.less
Labels: Area: Design/Frontend, Partner: Two Jay, Progress: accept, Release Line: 2.2, partners-contribution

#20369 'Fixes-for-customer-login-page-input-field' :: On customer login page…
  app/design/frontend/Magento/blank/Magento_Customer/web/css/source/_module.less
  app/design/frontend/Magento/luma/Magento_Customer/web/css/source/_module.less
Labels: Area: Design/Frontend, Partner: Two Jay, Progress: accept, Release Line: 2.2, partners-contribution

#20433 [Backport] Missing echo of php vars in widget template file - tabshoriz.phtml
  app/code/Magento/Backend/view/adminhtml/templates/widget/tabshoriz.phtml
Labels: Area: Frontend, Community Insider: Cedcommerce, Component: Backend, Progress: accept, Release Line: 2.2, community-insider-contribution

#20439 [Backport] Meassage icon is not proper aligned
  app/design/adminhtml/Magento/backend/web/css/source/components/_messages.less
Labels: Area: Design/Frontend, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.2, partners-contribution

#19986 Issue fixed #19985 Send email confirmation popup close button area ov…
  app/design/adminhtml/Magento/backend/web/css/source/components/_modals_extend.less
Labels: Area: Design/Frontend, Progress: accept, Release Line: 2.3

#20018 remove extra dot on "How to run Magento" docs in phpserver/README.md
  phpserver/README.md
Labels: Progress: accept, Release Line: 2.3

#20094 [Forwardport] Fix issue 19052- Position order showing before the text box
  app/design/adminhtml/Magento/backend/Magento_Catalog/web/css/source/_module.less
Labels: Area: Design/Frontend, Progress: accept, Release Line: 2.3

#20195 Bundle-Product-add-to-cart-button-misaligned-on-tab-portrait ::Bundle…
  app/design/frontend/Magento/luma/Magento_Bundle/web/css/source/_module.less
Labels: Area: Design/Frontend, Progress: accept, Release Line: 2.3

#20247 wishlist-patch : remove the comment from wishlist product.
  app/code/Magento/Wishlist/Controller/Index/Update.php
Labels: Component: Wishlist, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#20248 Magento widgets source models forced to use deprecated interface #20064
  lib/internal/Magento/Framework/Option/ArrayPool.php
Labels: Community Insider: Cedcommerce, Component: Framework/Option, Progress: accept, Release Line: 2.3, community-insider-contribution

#20252 Fixed Issue #20121 Cancel order increases stock although "Set Items' Status to be In Stock When Order is Cancelled" is set to No
  app/code/Magento/CatalogInventory/Observer/CancelOrderItemObserver.php
Labels: Community Insider: Cedcommerce, Component: CatalogInventory, Progress: accept, Release Line: 2.3, community-insider-contribution

#20260 issue fixed #20259 Store switcher not sliding up and down, only dropd…
  app/design/frontend/Magento/blank/web/css/source/_navigation.less
Labels: Area: Design/Frontend, Progress: accept, Release Line: 2.3

#20301 issue fixed #20299 Order item details label not aligned in mobile view
  app/design/frontend/Magento/luma/Magento_Checkout/web/css/source/module/_cart.less
Labels: Area: Design/Frontend, Progress: accept, Release Line: 2.3

#20336 Correct spell in JS files
  app/code/Magento/Ui/view/base/web/js/grid/editing/client.js
  app/code/Magento/Ui/view/base/web/js/grid/editing/editor.js
  app/code/Magento/Ui/view/base/web/js/grid/editing/record.js
Labels: Area: Frontend, Component: Ui, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#20374 Order-view-invoices :: Order view invoices template not display prope…
  app/design/adminhtml/Magento/backend/Magento_Sales/web/css/source/module/_order.less
Labels: Area: Design/Frontend, Progress: accept, Release Line: 2.3

#20400 'wishlist-page-edit-remove-item-misalign' :: On wish list page edit, …
  app/design/frontend/Magento/blank/Magento_Wishlist/web/css/source/_module.less
  app/design/frontend/Magento/luma/Magento_Wishlist/web/css/source/_module.less
Labels: Area: Design/Frontend, Progress: accept, Release Line: 2.3

#20425 Removed Unnecessary slash in namespace in di.xml
  app/code/Magento/Catalog/etc/adminhtml/di.xml
  app/code/Magento/CheckoutAgreements/etc/di.xml
  app/code/Magento/Elasticsearch/etc/di.xml
  app/code/Magento/ImportExport/etc/adminhtml/di.xml
  app/code/Magento/Indexer/etc/di.xml
  app/code/Magento/Sales/etc/webapi_rest/di.xml
  app/code/Magento/Sales/etc/webapi_soap/di.xml
  app/code/Magento/SalesRule/etc/di.xml
  app/code/Magento/Theme/etc/di.xml
Labels: Community Insider: Cedcommerce, Component: Catalog, Component: CheckoutAgreements, Component: Elasticsearch, Component: ImportExport, Component: Indexer, Component: Sales, Component: SalesRule, Component: Theme, Progress: accept, Release Line: 2.3, community-insider-contribution

#19377 Back port pull #19094
  app/code/Magento/ConfigurableProduct/view/base/templates/product/price/tier_price.phtml
Labels: Area: Frontend, Component: ConfigurableProduct, Partner: ISM eCompany, Progress: accept, Progress: on hold, Release Line: 2.2, partners-contribution

#20184 [Backport] Fix issue 19887 creating new shipment: getting all trackers.
  app/code/Magento/Sales/view/frontend/templates/email/shipment/track.phtml
Labels: Area: Frontend, Component: Sales, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.2, partners-contribution

#20505 [Backport] Added constants to unit codes to make it easier to reuse it if necessary
  app/code/Magento/Directory/Model/Config/Source/WeightUnit.php
Labels: Component: Directory, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.2, partners-contribution

#20509 [Backport] Added required error message.
  lib/internal/Magento/Framework/Serialize/Serializer/Json.php
Labels: Component: Framework/Serialize, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.2, partners-contribution

#20522 [Backport] Add useful debug info for which website has not been found
  app/code/Magento/Store/Model/WebsiteRepository.php
Labels: Component: Store, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.2, partners-contribution

#20541 [Backport] Issue fixed #19985 Send email confirmation popup close button area ov…
  app/design/adminhtml/Magento/backend/web/css/source/components/_modals_extend.less
Labels: Area: Design/Frontend, Community Insider: Cedcommerce, Progress: accept, Release Line: 2.2, community-insider-contribution

#19372 fixed Negative order amount in dashboard - #18754
  app/code/Magento/Reports/Model/ResourceModel/Order/Collection.php
Labels: Component: Reports, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#20231 Fix #20229-Fatal error on product-compare page when attributes not configured
  app/code/Magento/Catalog/view/frontend/templates/product/compare/list.phtml
Labels: Area: Frontend, Community Insider: Cedcommerce, Component: Catalog, Progress: accept, Release Line: 2.3, community-insider-contribution

#20349 Fixed #19258 Incorrect orders updated
  app/code/Magento/Ui/Component/MassAction/Filter.php
Labels: Community Insider: Cedcommerce, Component: Ui, Progress: accept, Release Line: 2.3, community-insider-contribution

#20407 Tier price on configurable product sorting sometimes wrong
  app/code/Magento/Catalog/Model/ResourceModel/Product/Collection.php
Labels: Component: Catalog, Partner: ISM eCompany, Progress: accept, Release Line: 2.3, partners-contribution

#18185 Floating point overflows in checkout totals fixed
  app/code/Magento/Quote/Model/Quote/Address/Total.php
Labels: Component: Quote, Progress: accept, Release Line: 2.3

#20177 magento/magento2#15950: Magento2 CSV product import qty and is_in_stock not working correct.
  app/code/Magento/CatalogImportExport/Model/Import/Product.php
  dev/tests/integration/testsuite/Magento/CatalogImportExport/Model/Import/ProductTest.php
  dev/tests/integration/testsuite/Magento/CatalogImportExport/Model/Import/_files/products_to_import_with_backorders_disabled_and_not_0_qty.csv
Labels: Component: CatalogImportExport, Progress: accept, Release Line: 2.2

#20114 Fixed issue #20113 Widget option labels are misalinged
  app/design/adminhtml/Magento/backend/web/css/styles-old.less
Labels: Area: Design/Frontend, Community Insider: Cedcommerce, Progress: accept, Release Line: 2.3, community-insider-contribution

#20142 Fixed issue #19942 Success message is not showing when creating invoice & shipment simultaniously
  app/code/Magento/Sales/Controller/Adminhtml/Order/Invoice/Save.php
Labels: Community Insider: Cedcommerce, Component: Sales, Progress: accept, Release Line: 2.3, community-insider-contribution

#20196 Confirmation-pop-up-at-mobile-view-not-proper
  lib/web/css/source/components/_modals.less
Labels: Area: Lib/Frontend, Partner: Two Jay, Progress: accept, Release Line: 2.3, partners-contribution

#20262 My-Accounttele-phone-field-require-no-validation-appear
  app/code/Magento/Customer/view/frontend/templates/widget/telephone.phtml
Labels: Area: Frontend, Component: Customer, Partner: Two Jay, Progress: accept, Release Line: 2.3, partners-contribution

#20281 Apply-discount-code-placeholder-get-cut ::Apply discount code placeho…
  app/design/frontend/Magento/luma/Magento_Checkout/web/css/source/module/_cart.less
Labels: Area: Design/Frontend, Partner: Two Jay, Progress: accept, Release Line: 2.3, partners-contribution

#20344 Fixed #20282 Module Catalog Url Rewrite: Permanent Redirect for old URL is missed when product was imported
  app/code/Magento/CatalogUrlRewrite/Observer/AfterImportDataObserver.php
Labels: Community Insider: Cedcommerce, Component: CatalogUrlRewrite, Progress: accept, Release Line: 2.3, community-insider-contribution

#20354 Issue#20277 fixed for 2.3.x
  app/code/Magento/Sales/Controller/Download/DownloadCustomOption.php
Labels: Component: Sales, Progress: accept, Release Line: 2.3

#20368 issue fixed #20367 In Compare Products page showing horizontal scroll…
  app/design/frontend/Magento/luma/Magento_Catalog/web/css/source/_module.less
Labels: Area: Design/Frontend, Community Insider: Cedcommerce, Progress: accept, Release Line: 2.3, community-insider-contribution

#20410 #20409 Fixed Unnecessary slash in namespace
  app/code/Magento/CatalogInventory/etc/di.xml
Labels: Community Insider: Cedcommerce, Component: CatalogInventory, Progress: accept, Release Line: 2.3, community-insider-contribution

#20421 Fixes incorrect where condition when deleting swatch option, it delet…
  app/code/Magento/Swatches/Model/ResourceModel/Swatch.php
Labels: Component: Swatches, Progress: accept, Release Line: 2.3

#20501 recent-order-product-title-misaligned
  app/design/frontend/Magento/blank/Magento_Catalog/web/css/source/_module.less
  app/design/frontend/Magento/luma/Magento_Catalog/web/css/source/_module.less
Labels: Area: Design/Frontend, Partner: Two Jay, Progress: accept, Release Line: 2.3, partners-contribution

#20519 bundle-product-radio-button-misalign
  app/design/frontend/Magento/luma/Magento_Bundle/web/css/source/_module.less
Labels: Area: Design/Frontend, Partner: Two Jay, Progress: accept, Release Line: 2.3, partners-contribution

#20582 correct spelling
  app/code/Magento/Catalog/Api/Data/ProductRender/ImageInterface.php
Labels: Component: Catalog, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#20612 minicart-three-digit-quantity-cutoff
  app/design/frontend/Magento/blank/Magento_Checkout/web/css/source/module/_minicart.less
  app/design/frontend/Magento/luma/Magento_Checkout/web/css/source/module/_minicart.less
Labels: Area: Design/Frontend, Partner: Two Jay, Progress: accept, Release Line: 2.3, partners-contribution

#20508 [Backport] Fix negative credit memo #19899
  app/code/Magento/Sales/Model/Order/CreditmemoFactory.php
Labels: Component: Sales, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.2, partners-contribution

#20547 [Backport] Fixed Issue #20121 Cancel order increases stock although "Set Items' Status to be In Stock When Order is Cancelled" is set to No
  app/code/Magento/CatalogInventory/Observer/CancelOrderItemObserver.php
Labels: Community Insider: Cedcommerce, Component: CatalogInventory, Progress: accept, Release Line: 2.2, community-insider-contribution

#20638 [Backport] Floating point overflows in checkout totals fixed
  app/code/Magento/Quote/Model/Quote/Address/Total.php
Labels: Community Insider: Cedcommerce, Component: Quote, Progress: accept, Release Line: 2.2, community-insider-contribution

#20647 [Backport] fixed Negative order amount in dashboard
  app/code/Magento/Reports/Model/ResourceModel/Order/Collection.php
Labels: Component: Reports, Partner: Two Jay, Progress: accept, Release Line: 2.2, partners-contribution

#20059 Typo Fixed in code.
  app/code/Magento/Catalog/Block/Adminhtml/Product/Edit/Tabs.php
  app/code/Magento/Catalog/Test/Unit/Model/ProductTest.php
Labels: Component: Catalog, Progress: accept, Release Line: 2.3

#20144 Fixed apply discount button alignment on checkout page
  app/design/frontend/Magento/luma/Magento_Checkout/web/css/source/module/checkout/_payment-options.less
Labels: Area: Design/Frontend, Community Insider: Cedcommerce, Progress: accept, Release Line: 2.3, community-insider-contribution

#20218 Wishlist-alignment-issue-at-mobile
  app/design/frontend/Magento/blank/Magento_MultipleWishlist/web/css/source/_module.less
  app/design/frontend/Magento/blank/Magento_Wishlist/web/css/source/_module.less
  app/design/frontend/Magento/luma/Magento_MultipleWishlist/web/css/source/_module.less
  app/design/frontend/Magento/luma/Magento_Wishlist/web/css/source/_module.less
Labels: Area: Design/Frontend, Partner: Two Jay, Progress: accept, Release Line: 2.3, partners-contribution

#20605 Gift-option-message-overlap-edit-and-remove-button ::Gift option mess…
  app/design/frontend/Magento/luma/Magento_GiftMessage/web/css/source/_module.less
Labels: Area: Design/Frontend, Partner: Two Jay, Progress: accept, Release Line: 2.3, partners-contribution

#20615 Fixed Minicart close button overlapping
  app/design/frontend/Magento/luma/web/css/source/components/_modals_extend.less
Labels: Area: Design/Frontend, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#20625 Update Filter.php fix issue #20624
  app/code/Magento/ImportExport/Block/Adminhtml/Export/Filter.php
Labels: Community Insider: Cedcommerce, Component: ImportExport, Progress: accept, Release Line: 2.3, community-insider-contribution

#20630 Empty block rendering in My Account page sidebar fixed using designing changes.
  app/design/frontend/Magento/luma/Magento_Customer/web/css/source/_module.less
Labels: Area: Design/Frontend, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#19655 Fixed - Shipping issue on PayPal Express #14712
  app/code/Magento/Quote/Model/Quote/Address/Total/Shipping.php
Labels: Component: Quote, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.2, partners-contribution

#20270 [Backport] Fixed-Widget-option-labels-are-misalinged
  app/design/adminhtml/Magento/backend/web/css/styles-old.less
Labels: Area: Design/Frontend, Partner: Two Jay, Progress: accept, Release Line: 2.2, partners-contribution

#20418 [Backport] issue fixed #20304 No space between step title and saved address in c…
  app/design/frontend/Magento/luma/Magento_Checkout/web/css/source/module/checkout/_checkout.less
Labels: Area: Design/Frontend, Community Insider: Cedcommerce, Progress: accept, Release Line: 2.2, community-insider-contribution

#20613 [Backport] admin-order-info-issue2.2
  app/code/Magento/Sales/view/adminhtml/templates/order/view/info.phtml
Labels: Area: Frontend, Component: Sales, Partner: Two Jay, Progress: accept, Progress: on hold, Release Line: 2.2, partners-contribution

#20739 [Backport] issue fixed #20563 Go to shipping information, Update qty & Addresses…
  app/design/frontend/Magento/luma/Magento_Multishipping/web/css/source/_module.less
Labels: Area: Design/Frontend, Partner: Two Jay, Progress: accept, Release Line: 2.2, partners-contribution

#20744 [Backport] recent-order-product-title-misaligned
  app/design/frontend/Magento/blank/Magento_Catalog/web/css/source/_module.less
  app/design/frontend/Magento/luma/Magento_Catalog/web/css/source/_module.less
Labels: Area: Design/Frontend, Partner: Two Jay, Progress: accept, Release Line: 2.2, partners-contribution
