Repository magento/magento2, pull requests merged in 2019-12, with the labels that each got.

#25867 Cover Change Encryption key By MFTF Test.
  app/code/Magento/EncryptionKey/Test/Mftf/ActionGroup/AdminEncryptionKeyChangeKeyAutoActionGroup.xml
  app/code/Magento/EncryptionKey/Test/Mftf/ActionGroup/AdminEncryptionKeyChangeKeyManualActionGroup.xml
  app/code/Magento/EncryptionKey/Test/Mftf/ActionGroup/AdminEncryptionKeyNavigateToChangePageActionGroup.xml
  app/code/Magento/EncryptionKey/Test/Mftf/Data/AdminEncryptionKeyData.xml
  app/code/Magento/EncryptionKey/Test/Mftf/Page/AdminEncryptionKeyChangeFormPage.xml
  app/code/Magento/EncryptionKey/Test/Mftf/Section/AdminEncryptionKeyChangeFormSection.xml
  app/code/Magento/EncryptionKey/Test/Mftf/Test/AdminEncryptionKeyAutoGenerateKeyTest.xml
  app/code/Magento/EncryptionKey/Test/Mftf/Test/AdminEncryptionKeyManualGenerateKeyTest.xml
Labels: Auto-Tests: Covered, Award: MFTF test coverage, Component: EncryptionKey, Progress: accept, Release Line: 2.3, Technology Partner: Magestore, tech-partners-contribution

#25809 DataExtractor unit tests coverage
  app/code/Magento/MediaGallery/Test/Unit/Model/DataExtractorTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: MediaGallery, Event: cd-cologne19, Progress: accept, Release Line: 2.3

#25704 Tests for: magento/magento2#25600, magento/magento2#25528, magento/magento2#25613, magento/magento2#25606.
  app/code/Magento/Catalog/Test/Mftf/Test/StorefrontForthLevelCategoryTest.xml
  app/code/Magento/Catalog/Test/Unit/Model/Product/Image/ParamsBuilderTest.php
  app/code/Magento/Checkout/Test/Mftf/Section/StorefrontMiniCartSection.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/NoErrorForMiniCartItemEditTest.xml
  lib/internal/Magento/Framework/App/Test/Unit/FrontControllerTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: App, Component: Catalog, Component: Checkout, Component: ConfigurableProduct, Progress: accept, Release Line: 2.3

#25770 delete code which doesn't have any sense here
  app/code/Magento/Catalog/view/frontend/templates/product/listing.phtml
Labels: Area: Frontend, Auto-Tests: Covered, Component: Catalog, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#25760 Update system.xml
  app/code/Magento/Analytics/etc/adminhtml/system.xml
Labels: Area: Frontend, Auto-Tests: Not Required, Component: Analytics, Partner: i95Dev, Progress: accept, Release Line: 2.3, partners-contribution

#25756 Tests for: magento/magento2#25102, magento/magento2#25251, magento/magento2#25584.
  app/code/Magento/CardinalCommerce/Test/Mftf/Page/AdminThreeDSecurePage.xml
  app/code/Magento/CardinalCommerce/Test/Mftf/Section/AdminCardinalCommerceSection.xml
  app/code/Magento/CardinalCommerce/Test/Mftf/Test/AdminCardinalCommerceSettingsHiddenTest.xml
  app/code/Magento/Directory/Test/Mftf/Page/AdminCurrencySetupPage.xml
  app/code/Magento/Directory/Test/Mftf/Section/AdminScheduledImportSettingsSection.xml
  app/code/Magento/Directory/Test/Mftf/Test/AdminScheduledImportSettingsHiddenTest.xml
  app/code/Magento/Signifyd/Test/Mftf/Page/AdminFraudProtectionPage.xml
  app/code/Magento/Signifyd/Test/Mftf/Section/AdminSignifydConfigurationSection.xml
  app/code/Magento/Signifyd/Test/Mftf/Test/AdminSignifydConfigDependentOnActiveFieldTest.xml
Labels: Auto-Tests: Covered, Award: test coverage, Component: CardinalCommerce, Component: Directory, Component: Signifyd, Progress: accept, Release Line: 2.3

#25749 Resolve wrong Cursor icon when hover in "Images And Videos" small, thumbnail ... options
  app/design/adminhtml/Magento/backend/web/css/source/components/_media-gallery.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Progress: accept, Release Line: 2.3, Technology Partner: Magestore, tech-partners-contribution

#25729 Need margin bottom to new Widget in Checkout/Cart Summary box
  app/design/frontend/Magento/blank/Magento_Checkout/web/css/source/module/_cart.less
  app/design/frontend/Magento/luma/Magento_Checkout/web/css/source/module/_cart.less
Labels: Area: Design/Frontend, Area: Lib/Frontend, Auto-Tests: Not Required, Partner: Webjump, Progress: accept, Release Line: 2.3, Reproduced on 2.3.x, partners-contribution

#25693 Fix document elements check to prevent WYSIWYG error on IE
  lib/web/mage/adminhtml/wysiwyg/tiny_mce/plugins/magentovariable/editor_plugin.js
  lib/web/mage/adminhtml/wysiwyg/tiny_mce/plugins/magentowidget/editor_plugin.js
Labels: Area: Lib/Frontend, Auto-Tests: Covered, Partner: creativestyle, Progress: accept, Release Line: 2.3, partners-contribution

#25869 Prevent RequireJS from adding .min.js suffix to external files
  lib/internal/Magento/Framework/RequireJs/Config.php
  lib/internal/Magento/Framework/RequireJs/Test/Unit/ConfigTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: category of expertise, Award: test coverage, Component: RequireJs, Partner: creativestyle, Progress: accept, Release Line: 2.3, partners-contribution

#25713 [Shipping] Cover Helper Data by Unit Test
  app/code/Magento/Shipping/Test/Unit/Helper/DataTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: Shipping, Progress: accept, Release Line: 2.3, Technology Partner: Magestore, tech-partners-contribution

#25905 [Checkout] Cover DirectoryData by Unit Test
  app/code/Magento/Checkout/Test/Unit/CustomerData/DirectoryDataTest.php
Labels: Auto-Tests: Covered, Component: Checkout, Progress: accept, Release Line: 2.4, Technology Partner: Magestore, tech-partners-contribution

#25604 Moving Ui message.js hide speed and timeout into variables for easier…
  app/code/Magento/Ui/view/frontend/web/js/view/messages.js
Labels: Area: Frontend, Auto-Tests: Not Required, Component: Ui, Progress: accept, Release Line: 2.4

#25541 Removes hardcoded references to country selector component
  app/code/Magento/Checkout/view/frontend/web/js/view/shipping.js
  app/code/Magento/Ui/view/base/web/js/form/element/post-code.js
  app/code/Magento/Ui/view/base/web/js/form/element/region.js
  dev/tests/js/jasmine/tests/app/code/Magento/Checkout/frontend/js/view/shipping.test.js
  dev/tests/js/jasmine/tests/app/code/Magento/Ui/base/js/form/element/post-code.test.js
  dev/tests/js/jasmine/tests/app/code/Magento/Ui/base/js/form/element/region.test.js
Labels: Area: Frontend, Auto-Tests: Covered, Award: test coverage, Component: Checkout, Component: Ui, Partner: creativestyle, Progress: accept, Release Line: 2.4, partners-contribution

#25939 [ProductAlert] Cover Helper Data by Unit Test
  app/code/Magento/ProductAlert/Test/Unit/Helper/DataTest.php
Labels: Auto-Tests: Covered, Component: ProductAlert, Progress: accept, Release Line: 2.4, Technology Partner: Magestore, tech-partners-contribution

#25928 [Variable] Cover Variable Data Model by Unit Test
  app/code/Magento/Variable/Test/Unit/Model/Variable/DataTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: Variable, Progress: accept, Release Line: 2.4, Technology Partner: Magestore, tech-partners-contribution

#25913 [Backend] Covering the Backend Grid Decoding Helper by UnitTest
  app/code/Magento/Backend/Test/Unit/Helper/JsTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: Backend, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#25822 MFTF: Extract Action Groups to separate files - magento/module-import-export
  app/code/Magento/ImportExport/Test/Mftf/ActionGroup/AdminCheckDataForImportProductActionGroup.xml
  app/code/Magento/ImportExport/Test/Mftf/ActionGroup/AdminImportProductsActionGroup.xml
  app/code/Magento/ImportExport/Test/Mftf/ActionGroup/AdminImportProductsWithCheckValidationResultActionGroup.xml
Labels: Auto-Tests: Covered, Component: ImportExport, Event: cd-cologne19, Partner: Strix, Progress: accept, Release Line: 2.4, partners-contribution

#25803 MFTF: Extract Action Groups to separate files - magento/module-shipping
  app/code/Magento/Shipping/Test/Mftf/ActionGroup/AdminChangeTableRatesShippingMethodStatusActionGroup.xml
  app/code/Magento/Shipping/Test/Mftf/ActionGroup/AdminImportFileTableRatesShippingMethodActionGroup.xml
Labels: Auto-Tests: Covered, Component: Shipping, Event: cd-cologne19, Partner: Strix, Progress: accept, Release Line: 2.4, partners-contribution

#25791 MFTF: Extract Action Groups to separate files - magento/module-widget
  app/code/Magento/Widget/Test/Mftf/ActionGroup/AdminCreateDynamicBlocksRotatorWidgetActionGroup.xml
  app/code/Magento/Widget/Test/Mftf/ActionGroup/AdminCreateProductLinkWidgetActionGroup.xml
  app/code/Magento/Widget/Test/Mftf/ActionGroup/AdminCreateProductsListWidgetActionGroup.xml
  app/code/Magento/Widget/Test/Mftf/ActionGroup/AdminCreateWidgetActionGroup.xml
  app/code/Magento/Widget/Test/Mftf/ActionGroup/AdminDeleteWidgetActionGroup.xml
  app/code/Magento/Widget/Test/Mftf/ActionGroup/AdminFillSpecificPageWidgetMainFieldsActionGroup.xml
Labels: Auto-Tests: Covered, Component: Widget, Event: cd-cologne19, Partner: Strix, Progress: accept, Release Line: 2.4, partners-contribution

#25792 MFTF: Extract Action Groups to separate files - magento/module-variable
  app/code/Magento/Variable/Test/Mftf/ActionGroup/CreateCustomVariableActionGroup.xml
  app/code/Magento/Variable/Test/Mftf/ActionGroup/DeleteCustomVariableActionGroup.xml
Labels: Auto-Tests: Covered, Component: Variable, Event: cd-cologne19, Partner: Strix, Progress: accept, Release Line: 2.4, partners-contribution

#25765 Magento#25739: fixed issue "grunt clean does not clean generated folder"
  dev/tools/grunt/configs/clean.js
  dev/tools/grunt/configs/path.js
Labels: Auto-Tests: Not Required, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#25655 Add escaping on meta properties for open graph
  app/code/Magento/Catalog/view/frontend/templates/product/view/opengraph/general.phtml
Labels: Area: Frontend, Auto-Tests: Not Required, Award: bug fix, Component: Catalog, Partner: Fisheye, Progress: accept, Release Line: 2.4, partners-contribution

#25952 Resolve queue_consumer.xml doesn't allow numbers in handler class issue25731
  lib/internal/Magento/Framework/MessageQueue/Test/Unit/Consumer/Config/XsdTest.php
  lib/internal/Magento/Framework/MessageQueue/etc/consumer.xsd
Labels: Auto-Tests: Covered, Award: bug fix, Component: MessageQueue, Progress: accept, Release Line: 2.4, Technology Partner: Magestore, tech-partners-contribution

#25942 Resolve Email address mismatch with text in iPad(768) view issue25935
  app/design/frontend/Magento/blank/Magento_Customer/web/css/source/_module.less
  app/design/frontend/Magento/luma/Magento_Customer/web/css/source/_module.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Progress: accept, Release Line: 2.4, Technology Partner: Magestore, tech-partners-contribution

#25995 Updating wee -> weee in Magento_Weee README
  app/code/Magento/Weee/README.md
Labels: Auto-Tests: Not Required, Cleanup, Component: Weee, Progress: accept, Release Line: 2.4

#25984 [Customer] Cover CustomerData\Customer and CustomerData\JsLayoutDataProviderPool by Unit Test
  app/code/Magento/Customer/Test/Unit/CustomerData/CustomerTest.php
  app/code/Magento/Customer/Test/Unit/CustomerData/JsLayoutDataProviderPoolTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: Customer, Progress: accept, Release Line: 2.4, Technology Partner: Magestore, tech-partners-contribution

#25982 [Catalog] Cover Price Validation Result class by Unit Test
  app/code/Magento/Catalog/Test/Unit/Model/Product/Price/Validation/ResultTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: Catalog, Progress: accept, Release Line: 2.4, Technology Partner: Magestore, tech-partners-contribution

#25954 Refactor: Add method hints to Tracking Status
  app/code/Magento/Shipping/Model/Tracking/Result/Status.php
Labels: Auto-Tests: Not Required, Cleanup, Component: Shipping, Partner: Strix, Progress: accept, Release Line: 2.4, partners-contribution

#25924 Resolve A "500 (Internal Server Error)" appears in Developer Console if Delete the image that is added to Page Content issue25893
  app/code/Magento/Cms/Controller/Adminhtml/Wysiwyg/Directive.php
  app/code/Magento/Cms/Test/Unit/Controller/Adminhtml/Wysiwyg/DirectiveTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: Cms, Progress: accept, Release Line: 2.4, Technology Partner: Magestore, tech-partners-contribution

#25723 Fix #24713 - Symbol of the Belarusian currency BYR is outdated
  app/code/Magento/Dhl/Test/Unit/Model/_files/countries.xml
  app/code/Magento/Dhl/etc/countries.xml
  app/code/Magento/Directory/etc/config.xml
  app/code/Magento/GraphQl/etc/schema.graphqls
  lib/internal/Magento/Framework/Locale/Config.php
  lib/internal/Magento/Framework/Locale/Test/Unit/ConfigTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: Dhl, Component: Directory, Component: GraphQL, Component: Locale, Progress: accept, Release Line: 2.4

#25699 magento/magento2#23481: Billing/Shipping Address edit form design update from order backend
  app/code/Magento/Sales/Block/Adminhtml/Order/Address/Form.php
  app/code/Magento/Sales/view/adminhtml/templates/order/address/form.phtml
Labels: Area: Frontend, Auto-Tests: Not Required, Component: Sales, Progress: accept, Release Line: 2.4

#25262 Allow autoplay for vimeo thumb click
  app/code/Magento/ProductVideo/view/frontend/web/js/load-player.js
Labels: Area: Frontend, Auto-Tests: Not Required, Component: ProductVideo, Progress: accept, Release Line: 2.4, Squashtoberfest 2019

#26016 [DownloadableImportExport] Cover Helper Data by Unit Test
  app/code/Magento/DownloadableImportExport/Test/Unit/Helper/DataTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: DownloadableImportExport, Progress: accept, Release Line: 2.4, Technology Partner: Magestore, tech-partners-contribution

#25997 [Newsletter] Refactor code and Cover Model/Observer class by Unit Test
  app/code/Magento/Newsletter/Model/Observer.php
  app/code/Magento/Newsletter/Test/Unit/Model/ObserverTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: Newsletter, Progress: accept, Release Line: 2.4, Technology Partner: Magestore, tech-partners-contribution

#25992 Cover magento/magento2#25556 with jasmine test
  dev/tests/js/jasmine/tests/lib/mage/browser.test.js
Labels: Auto-Tests: Covered, Award: test coverage, Progress: accept, Release Line: 2.4

#25973 [Removed spacing in submenu on hover desktop]
  lib/web/css/source/lib/_navigation.less
  lib/web/css/source/lib/variables/_navigation.less
Labels: Area: Lib/Frontend, Auto-Tests: Not Required, Cleanup, Partner: Wagento, Progress: accept, Release Line: 2.4, partners-contribution

#25624 Add right arrow to show some items have children
  app/design/adminhtml/Magento/backend/web/css/source/_actions.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Partner: Fisheye, Progress: accept, Release Line: 2.4, partners-contribution

#26069 [CMS] Improving the test coverage for UrlBuilder ViewModel
  app/code/Magento/Cms/Test/Unit/ViewModel/Page/Grid/UrlBuilderTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: Cms, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#26067 [Msrp] Cover MsrpPriceCalculator by Unit Test
  app/code/Magento/Msrp/Test/Unit/Pricing/MsrpPriceCalculatorTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: Msrp, Progress: accept, Release Line: 2.4, Technology Partner: Magestore, tech-partners-contribution

#26063 [Theme] Reverting removed container class
  app/code/Magento/Theme/view/adminhtml/page_layout/admin-2columns-left.xml
Labels: Area: Frontend, Auto-Tests: Not Required, Award: bug fix, Component: Theme, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#26057 [Contact] covered Model Config by Unit Test
  app/code/Magento/Contact/Test/Unit/Model/ConfigTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: Contact, Partner: Ziffity, Progress: accept, Release Line: 2.4, partners-contribution

#26050 [Catalog] covered product ViewModel AddToCompareAvailability by Unit Test
  app/code/Magento/Catalog/Test/Unit/ViewModel/Product/Checker/AddToCompareAvailabilityTest.php
Labels: Auto-Tests: Covered, Component: Catalog, Partner: Ziffity, Progress: accept, Release Line: 2.4, partners-contribution

#26045 [Downloadable] Cover Helper Data by Unit Test
  app/code/Magento/Downloadable/Test/Unit/Helper/DataTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: Downloadable, Progress: accept, Release Line: 2.4, Technology Partner: Magestore, tech-partners-contribution

#26042 [Catalog] Cover Component/FilterFactory by Unit Test
  app/code/Magento/Catalog/Test/Unit/Ui/Component/FilterFactoryTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: Catalog, Progress: accept, Release Line: 2.4, Technology Partner: Magestore, tech-partners-contribution

#26043 [Persistent] Cover CustomerData by Unit Test
  app/code/Magento/Persistent/Test/Unit/CustomerData/PersistentTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: Persistent, Progress: accept, Release Line: 2.4, Technology Partner: Magestore, tech-partners-contribution

#26034 MAGETWO-95866 Add horizontal scroll if elements extend menu's width
  app/design/adminhtml/Magento/backend/Magento_Backend/web/css/source/module/_menu.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Partner: creativestyle, Progress: accept, Release Line: 2.4, partners-contribution

#26060 [Backend] Cover Dashboard Helper Data by Unit Test
  app/code/Magento/Backend/Test/Unit/Helper/Dashboard/DataTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: Backend, Progress: accept, Release Line: 2.4, Technology Partner: Magestore, tech-partners-contribution

#26058 Fixed typo: "reviwGrid" to "reviewGrid"
  app/code/Magento/Review/Block/Adminhtml/Grid.php
  app/code/Magento/Review/Test/Mftf/Section/AdminReviewGridSection.xml
  dev/tests/functional/tests/app/Magento/Review/Test/Block/Adminhtml/Customer/Edit/Tab/Reviews.php
  dev/tests/functional/tests/app/Magento/Review/Test/Block/Adminhtml/Grid.php
  dev/tests/functional/tests/app/Magento/Review/Test/Page/Adminhtml/ReviewIndex.xml
  dev/tests/integration/testsuite/Magento/Customer/Controller/Adminhtml/IndexTest.php
Labels: Auto-Tests: Covered, Component: Review, Progress: accept, Release Line: 2.4

#26059 [Downloadable] Cover the Observer SetHasDownloadableProductsObserver by Unit Test
  app/code/Magento/Downloadable/Test/Unit/Observer/SetHasDownloadableProductsObserverTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: Downloadable, Progress: accept, Release Line: 2.4, Technology Partner: Magestore, tech-partners-contribution

#26011 Fixed the issue 25930
  app/design/adminhtml/Magento/backend/web/css/source/components/_messages.less
Labels: Area: Design/Frontend, Area: Frontend, Auto-Tests: Not Required, Partner: i95Dev, Progress: accept, Release Line: 2.4, partners-contribution

#26004 [Backend] Cover action admin/dashboard/ajaxBlock by Integration Test
  dev/tests/integration/testsuite/Magento/Backend/Controller/Adminhtml/Dashboard/AjaxBlockTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Progress: accept, Release Line: 2.4, Technology Partner: Magestore, tech-partners-contribution

#26082 [GiftMessage] Cover Observer SalesEventOrderItemToQuoteItemObserver by Unit Test
  app/code/Magento/GiftMessage/Test/Unit/Observer/SalesEventOrderItemToQuoteItemObserverTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: GiftMessage, Progress: accept, Release Line: 2.4, Technology Partner: Magestore, tech-partners-contribution

#26076 [Search] Cover SynonymActions Column by Unit Test
  app/code/Magento/Search/Test/Unit/Ui/Component/Listing/Column/SynonymActionsTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: Search, Progress: accept, Release Line: 2.4, Technology Partner: Magestore, tech-partners-contribution

#26068 [GoogleAnalytics] covered Helper Data by Unit Test
  app/code/Magento/GoogleAnalytics/Test/Unit/Helper/DataTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: GoogleAnalytics, Partner: Ziffity, Progress: accept, Release Line: 2.4, partners-contribution

#26009 Refactor: Add information about the path that is not allowed
  app/code/Magento/MediaStorage/App/Media.php
  app/code/Magento/MediaStorage/Test/Unit/App/MediaTest.php
Labels: Auto-Tests: Covered, Award: special achievement, Award: test coverage, Component: MediaStorage, Partner: Strix, Progress: accept, Release Line: 2.4, partners-contribution

#25759 fixed issue 25433
  app/design/adminhtml/Magento/backend/web/css/source/forms/fields/_control-table.less
Labels: Area: Design/Frontend, Area: Frontend, Auto-Tests: Not Required, Award: bug fix, Partner: i95Dev, Progress: accept, Release Line: 2.4, partners-contribution

#25846 MFTF: Extract Action Groups to separate files - magento/module-catalog-import-export
  app/code/Magento/CatalogImportExport/Test/Mftf/ActionGroup/AdminExportActionGroup.xml
  app/code/Magento/CatalogImportExport/Test/Mftf/ActionGroup/DeleteAllExportedFilesActionGroup.xml
  app/code/Magento/CatalogImportExport/Test/Mftf/ActionGroup/DeleteExportedFileActionGroup.xml
  app/code/Magento/CatalogImportExport/Test/Mftf/ActionGroup/DownloadFileByRowIndexActionGroup.xml
  app/code/Magento/CatalogImportExport/Test/Mftf/ActionGroup/ExportAllProductsActionGroup.xml
  app/code/Magento/CatalogImportExport/Test/Mftf/ActionGroup/ExportProductsFilterByAttributeActionGroup.xml
  app/code/Magento/CatalogImportExport/Test/Mftf/Test/AdminExportBundleProductTest.xml
  app/code/Magento/CatalogImportExport/Test/Mftf/Test/AdminExportGroupedProductWithSpecialPriceTest.xml
  app/code/Magento/CatalogImportExport/Test/Mftf/Test/AdminExportImportConfigurableProductWithImagesTest.xml
  app/code/Magento/CatalogImportExport/Test/Mftf/Test/AdminExportSimpleAndConfigurableProductsWithCustomOptionsTest.xml
  app/code/Magento/CatalogImportExport/Test/Mftf/Test/AdminExportSimpleProductAndConfigurableProductsWithAssignedImagesTest.xml
  app/code/Magento/CatalogImportExport/Test/Mftf/Test/AdminExportSimpleProductAssignedToMainWebsiteAndConfigurableProductAssignedToCustomWebsiteTest.xml
  app/code/Magento/CatalogImportExport/Test/Mftf/Test/AdminExportSimpleProductWithCustomAttributeTest.xml
Labels: Auto-Tests: Covered, Component: CatalogImportExport, Event: cd-cologne19, Partner: Strix, Progress: accept, Release Line: 2.4, partners-contribution

#25844 MFTF: Extract Action Groups to separate files - magento/module-catalog-rule
  app/code/Magento/CatalogRule/Test/Mftf/ActionGroup/AdminCreateCatalogPriceRuleWithConditionActionGroup.xml
  app/code/Magento/CatalogRule/Test/Mftf/ActionGroup/AdminCreateMultipleWebsiteCatalogPriceRuleActionGroup.xml
  app/code/Magento/CatalogRule/Test/Mftf/ActionGroup/AdminFillCatalogRuleConditionActionGroup.xml
  app/code/Magento/CatalogRule/Test/Mftf/ActionGroup/ApplyCatalogPriceRulesActionGroup.xml
  app/code/Magento/CatalogRule/Test/Mftf/ActionGroup/CatalogPriceRuleActionGroup.xml
  app/code/Magento/CatalogRule/Test/Mftf/ActionGroup/CreateCatalogPriceRuleActionGroup.xml
  app/code/Magento/CatalogRule/Test/Mftf/ActionGroup/CreateCatalogPriceRuleConditionWithAttributeActionGroup.xml
  app/code/Magento/CatalogRule/Test/Mftf/ActionGroup/CreateCatalogPriceRuleViaTheUiActionGroup.xml
  app/code/Magento/CatalogRule/Test/Mftf/ActionGroup/NewCatalogPriceRuleByUIWithConditionIsCategoryActionGroup.xml
  app/code/Magento/CatalogRule/Test/Mftf/ActionGroup/NewCatalogPriceRuleByUIWithConditionIsSKUActionGroup.xml
  app/code/Magento/CatalogRule/Test/Mftf/ActionGroup/NewCatalogPriceRuleWithInvalidDataActionGroup.xml
  app/code/Magento/CatalogRule/Test/Mftf/ActionGroup/OpenCatalogPriceRuleActionGroup.xml
  app/code/Magento/CatalogRule/Test/Mftf/ActionGroup/RemoveCatalogPriceRuleActionGroup.xml
  app/code/Magento/CatalogRule/Test/Mftf/ActionGroup/SelectGeneralCustomerGroupActionGroup.xml
  app/code/Magento/CatalogRule/Test/Mftf/ActionGroup/SelectNotLoggedInCustomerGroupActionGroup.xml
  app/code/Magento/CatalogRule/Test/Mftf/Test/AdminApplyCatalogRuleForConfigurableProductWithSpecialPricesTest.xml
  app/code/Magento/CatalogRule/Test/Mftf/Test/AdminCreateCatalogPriceRuleTest.xml
  app/code/Magento/CatalogRule/Test/Mftf/Test/AdminDeleteCatalogPriceRuleEntityTest.xml
  app/code/Magento/CatalogRule/Test/Mftf/Test/AdminDeleteCatalogPriceRuleTest.xml
  app/code/Magento/CatalogRule/Test/Mftf/Test/AdminEnableAttributeIsUndefinedCatalogPriceRuleTest.xml
  app/code/Magento/CatalogRule/Test/Mftf/Test/ApplyCatalogRuleForSimpleAndConfigurableProductTest.xml
  app/code/Magento/CatalogRule/Test/Mftf/Test/ApplyCatalogRuleForSimpleProductAndFixedMethodTest.xml
  app/code/Magento/CatalogRule/Test/Mftf/Test/ApplyCatalogRuleForSimpleProductForNewCustomerGroupTest.xml
  app/code/Magento/CatalogRule/Test/Mftf/Test/ApplyCatalogRuleForSimpleProductWithCustomOptionsTest.xml
  app/code/Magento/CatalogRule/Test/Mftf/Test/CatalogPriceRuleAndCustomerGroupMembershipArePersistedUnderLongTermCookieTest.xml
  app/code/Magento/CatalogRule/Test/Mftf/Test/StorefrontInactiveCatalogRuleTest.xml
  app/code/Magento/CatalogRuleConfigurable/Test/Mftf/Test/AdminApplyCatalogRuleForConfigurableProductWithAssignedSimpleProductsTest.xml
  app/code/Magento/CatalogRuleConfigurable/Test/Mftf/Test/AdminApplyCatalogRuleForConfigurableProductWithOptionsTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/StorefrontSortingByPriceForConfigurableWithCatalogRuleAppliedTest.xml
Labels: Auto-Tests: Covered, Component: CatalogRule, Component: CatalogRuleConfigurable, Component: ConfigurableProduct, Event: cd-cologne19, Partner: Strix, Progress: accept, Release Line: 2.4, partners-contribution

#25842 MFTF: Extract Action Groups to separate files - magento/module-catalog-search
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontCustomerSearchBundleProductsByKeywordsTest.xml
  app/code/Magento/CatalogSearch/Test/Mftf/ActionGroup/AdminCatalogSearchTermActionGroup.xml
  app/code/Magento/CatalogSearch/Test/Mftf/ActionGroup/AssertSearchTermNotInGridActionGroup.xml
  app/code/Magento/CatalogSearch/Test/Mftf/ActionGroup/AssertSearchTermNotOnFrontendActionGroup.xml
  app/code/Magento/CatalogSearch/Test/Mftf/ActionGroup/AssertSearchTermOnFrontendActionGroup.xml
  app/code/Magento/CatalogSearch/Test/Mftf/ActionGroup/AssertSearchTermSaveSuccessMessageActionGroup.xml
  app/code/Magento/CatalogSearch/Test/Mftf/ActionGroup/AssertSearchTermSuccessDeleteMessageActionGroup.xml
  app/code/Magento/CatalogSearch/Test/Mftf/ActionGroup/GoToStoreViewAdvancedCatalogSearchActionGroup.xml
  app/code/Magento/CatalogSearch/Test/Mftf/ActionGroup/StorefrontAddToCartFromQuickSearchActionGroup.xml
  app/code/Magento/CatalogSearch/Test/Mftf/ActionGroup/StorefrontAdvancedCatalogSearchByDescriptionActionGroup.xml
  app/code/Magento/CatalogSearch/Test/Mftf/ActionGroup/StorefrontAdvancedCatalogSearchByProductNameActionGroup.xml
  app/code/Magento/CatalogSearch/Test/Mftf/ActionGroup/StorefrontAdvancedCatalogSearchByProductNameAndDescriptionActionGroup.xml
  app/code/Magento/CatalogSearch/Test/Mftf/ActionGroup/StorefrontAdvancedCatalogSearchByProductNameAndPriceActionGroup.xml
  app/code/Magento/CatalogSearch/Test/Mftf/ActionGroup/StorefrontAdvancedCatalogSearchByProductSkuActionGroup.xml
  app/code/Magento/CatalogSearch/Test/Mftf/ActionGroup/StorefrontAdvancedCatalogSearchByShortDescriptionActionGroup.xml
  app/code/Magento/CatalogSearch/Test/Mftf/ActionGroup/StorefrontCatalogSearchActionGroup.xml
  app/code/Magento/CatalogSearch/Test/Mftf/ActionGroup/StorefrontCheckAdvancedSearchResultActionGroup.xml
  app/code/Magento/CatalogSearch/Test/Mftf/ActionGroup/StorefrontCheckQuickSearchActionGroup.xml
  app/code/Magento/CatalogSearch/Test/Mftf/ActionGroup/StorefrontCheckQuickSearchStringActionGroup.xml
  app/code/Magento/CatalogSearch/Test/Mftf/ActionGroup/StorefrontCheckSearchIsEmptyActionGroup.xml
  app/code/Magento/CatalogSearch/Test/Mftf/ActionGroup/StorefrontOpenAdvancedSearchActionGroup.xml
  app/code/Magento/CatalogSearch/Test/Mftf/ActionGroup/StorefrontOpenProductFromQuickSearchActionGroup.xml
  app/code/Magento/CatalogSearch/Test/Mftf/ActionGroup/StorefrontQuickSearchCheckProductNameInGridActionGroup.xml
  app/code/Magento/CatalogSearch/Test/Mftf/ActionGroup/StorefrontQuickSearchCheckProductNameNotInGridActionGroup.xml
  app/code/Magento/CatalogSearch/Test/Mftf/ActionGroup/StorefrontQuickSearchRelatedSearchTermsAppearsActionGroup.xml
  app/code/Magento/CatalogSearch/Test/Mftf/ActionGroup/StorefrontQuickSearchSeeProductByNameActionGroup.xml
  app/code/Magento/CatalogSearch/Test/Mftf/ActionGroup/StorefrontQuickSearchTooShortStringActionGroup.xml
  app/code/Magento/CatalogSearch/Test/Mftf/ActionGroup/StorefrontSelectSearchFilterCategoryActionGroup.xml
  app/code/Magento/CatalogSearch/Test/Mftf/Test/AdminCreateSearchTermEntityTest.xml
  app/code/Magento/CatalogSearch/Test/Mftf/Test/AdminDeleteSearchTermTest.xml
  app/code/Magento/CatalogSearch/Test/Mftf/Test/SearchEntityResultsTest.xml
  app/code/Magento/Elasticsearch6/Test/Mftf/Test/StorefrontElasticsearch6SearchInvalidValueTest.xml
  app/code/Magento/Search/Test/Mftf/Test/AdminMassDeleteSearchTermEntityTest.xml
Labels: Auto-Tests: Covered, Component: Bundle, Component: CatalogSearch, Event: cd-cologne19, Partner: Strix, Progress: accept, Release Line: 2.4, partners-contribution

#25836 MFTF: Extract Action Groups to separate files - magento/module-cms
  app/code/Magento/Catalog/Test/Mftf/Test/AdminAddImageToWYSIWYGCatalogTest.xml
  app/code/Magento/CatalogWidget/Test/Mftf/Test/CatalogProductListWidgetOperatorsTest.xml
  app/code/Magento/CatalogWidget/Test/Mftf/Test/CatalogProductListWidgetOrderTest.xml
  app/code/Magento/Cms/Test/Mftf/ActionGroup/AddStoreViewToCmsPageActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/ActionGroup/AssertCMSPageContentActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/ActionGroup/AssertStoreFrontCMSPageActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/ActionGroup/AttachImageActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/ActionGroup/CMSActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/ActionGroup/ClearWidgetsForCMSHomePageContentWYSIWYGDisabledActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/ActionGroup/ClearWidgetsFromCMSContentActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/ActionGroup/ClickBrowseBtnOnUploadPopupActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/ActionGroup/CreateImageFolderActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/ActionGroup/CreateNewPageWithAllValuesActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/ActionGroup/CreateNewPageWithAllValuesAndContentActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/ActionGroup/DeleteCMSBlockActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/ActionGroup/DeleteImageActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/ActionGroup/FillOutUploadImagePopupActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/ActionGroup/NavigateToCreatedCMSBlockPageActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/ActionGroup/NavigateToCreatedCMSPageActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/ActionGroup/NavigateToStorefrontForCreatedPageActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/ActionGroup/SaveAndCloseCMSBlockWithSplitButtonActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/ActionGroup/SaveAndContinueEditCmsPageActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/ActionGroup/SaveCMSBlockActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/ActionGroup/SaveCmsPageActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/ActionGroup/SaveImageActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/ActionGroup/SelectImageFromMediaStorageActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/ActionGroup/SetLayoutActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/ActionGroup/VerifyMagentoEntityActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/ActionGroup/VerifyMediaGalleryStorageActionsActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/ActionGroup/VerifyOversizeValidationMsgActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/ActionGroup/VerifyTinyMCEActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/ActionGroup/VerifyWrongExtensionValidationMsgActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminAddImageToCMSPageTinyMCE3Test.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminAddImageToWYSIWYGBlockTest.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminAddImageToWYSIWYGCMSTest.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminAddVariableToWYSIWYGBlockTest.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminAddWidgetToWYSIWYGBlockTest.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminCreateCmsPageTest.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminMediaGalleryPopupUploadImagesWithoutErrorTest.xml
  app/code/Magento/Cms/Test/Mftf/Test/CheckOrderOfProdsInWidgetOnCMSPageTest.xml
  app/code/Magento/Cms/Test/Mftf/Test/StoreViewLanguageCorrectSwitchTest.xml
  app/code/Magento/Newsletter/Test/Mftf/Test/AdminAddImageToWYSIWYGNewsletterTest.xml
  app/code/Magento/Theme/Test/Mftf/Test/AdminDesignConfigMediaGalleryImageUploadTest.xml
  app/code/Magento/UrlRewrite/Test/Mftf/Test/AdminCreateCustomCMSPageUrlRewriteAndAddPermanentRedirectTest.xml
  app/code/Magento/UrlRewrite/Test/Mftf/Test/AdminCreateCustomCMSPageUrlRewriteAndAddTemporaryRedirectTest.xml
Labels: Auto-Tests: Covered, Component: Catalog, Component: CatalogWidget, Component: Cms, Event: cd-cologne19, Partner: Strix, Progress: accept, Release Line: 2.4, partners-contribution

#25820 MFTF: Extract Action Groups to separate files - magento/module-indexer
  app/code/Magento/Elasticsearch/Test/Mftf/Test/ProductQuickSearchUsingElasticSearchTest.xml
  app/code/Magento/Indexer/Test/Mftf/ActionGroup/UpdateIndexerByScheduleActionGroup.xml
  app/code/Magento/Indexer/Test/Mftf/ActionGroup/UpdateIndexerOnSaveActionGroup.xml
Labels: Auto-Tests: Covered, Component: Elasticsearch, Component: Indexer, Event: cd-cologne19, Partner: Strix, Progress: accept, Release Line: 2.4, partners-contribution

#26157 Remove blank space at the end of label
  app/code/Magento/Cron/etc/adminhtml/system.xml
  app/code/Magento/Cron/i18n/en_US.csv
Labels: Auto-Tests: Not Required, Component: Cron, Progress: accept, Release Line: 2.4

#26160 Changing the data type for quote column customer_note
  app/code/Magento/Quote/etc/db_schema.xml
Labels: Auto-Tests: Not Required, Component: Quote, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.4, bugfix, partners-contribution

#26154 [LayeredNavigation] Covering the ProductAttributeGridBuildObserver for LayeredNavigation …
  app/code/Magento/LayeredNavigation/Test/Unit/Observer/Grid/ProductAttributeGridBuildObserverTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: LayeredNavigation, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#26150 [CatalogInventory] Covering the InvalidatePriceIndexUponConfigChangeObserver for Catalog…
  app/code/Magento/CatalogInventory/Test/Unit/Observer/InvalidatePriceIndexUponConfigChangeObserverTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: CatalogInventory, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#26148 [Bundle] Covering the SetAttributeTabBlockObserver for Bundles by Unit Test
  app/code/Magento/Bundle/Test/Unit/Observer/SetAttributeTabBlockObserverTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: Bundle, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#26140 [ImportExport] Cover Export Source Model by Unit Test
  app/code/Magento/ImportExport/Test/Unit/Model/Source/Export/EntityTest.php
  app/code/Magento/ImportExport/Test/Unit/Model/Source/Export/FormatTest.php
Labels: Component: ImportExport, Progress: accept, Release Line: 2.4, Technology Partner: Magestore, tech-partners-contribution

#26096 [Checkout] Covering the ResetQuoteAddresses by Unit Test
  app/code/Magento/Checkout/Test/Unit/Plugin/ResetQuoteAddressesTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: Checkout, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#26028 Refactor: Remove deprecated methods
  lib/internal/Magento/Framework/App/DeploymentConfig/Reader.php
Labels: Auto-Tests: Not Required, Cleanup, Component: App, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#26131 Reduce sleep time for Unit Test of Consumer to 0 seconds
  app/code/Magento/MessageQueue/Test/Unit/Model/ConsumerRunnerTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: category of expertise, Component: MessageQueue, Partner: Strix, Progress: accept, Release Line: 2.4, partners-contribution

#26126 [WeeeGraphQl] Covering the FixedProductTax
  app/code/Magento/WeeeGraphQl/Test/Unit/FixedProductTaxTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: WeeeGraphQl, Partner: Strix, Progress: accept, Release Line: 2.4, partners-contribution

#25315 Error in vendor/magento/module-shipping/Model/Config/Source/Allmethod…
  app/code/Magento/Shipping/Model/Config/Source/Allmethods.php
  app/code/Magento/Shipping/Test/Unit/Model/Config/Source/AllmethodsTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: Shipping, Partner: Interactiv4, Progress: accept, Release Line: 2.4, Squashtoberfest 2019, partners-contribution

#26173 Added Fix for 26164
  app/design/frontend/Magento/luma/Magento_Checkout/web/css/source/module/_cart.less
Labels: Area: Design/Frontend, Area: Frontend, Auto-Tests: Not Required, Partner: i95Dev, Progress: accept, Release Line: 2.4, partners-contribution

#26170 Fixed Special Price class not added in configurable product page
  app/code/Magento/Swatches/view/base/web/js/swatch-renderer.js
  dev/tests/js/jasmine/tests/app/code/Magento/Swatches/view/frontend/web/js/swatch-renderer.test.js
Labels: Area: Frontend, Auto-Tests: Covered, Component: Swatches, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.4, partners-contribution

#25876 Advance the order state to processing when a capture notification is received
  app/code/Magento/Sales/Model/Order/Payment/State/RegisterCaptureNotificationCommand.php
  app/code/Magento/Sales/Test/Unit/Model/Order/Payment/State/RegisterCaptureNotificationCommandTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: Sales, Progress: accept, Release Line: 2.4, Reproduced on 2.3.x

#25428 Fixed model save and ObjectManager usage
  app/code/Magento/Email/Controller/Adminhtml/Email/Template/Save.php
Labels: Auto-Tests: Covered, Component: Email, Partner: Zilker Technology, Progress: accept, Release Line: 2.4, partners-contribution
