Repository magento/magento2, pull requests merged in 2019-11, with the labels that each got.

#25361 [Email] Unit Test to cover Sender and Template Type Renderer
  app/code/Magento/Email/Test/Unit/Block/Adminhtml/Template/Render/SenderTest.php
  app/code/Magento/Email/Test/Unit/Block/Adminhtml/Template/Render/TypeTest.php
Labels: Auto-Tests: Not Required, Component: Email, Progress: accept, Release Line: 2.3, Squashtoberfest 2019

#25336 Prevent adding form keys to forms with external action URLs
  lib/web/mage/common.js
Labels: Area: Lib/Frontend, Auto-Tests: Not Required, Award: bug fix, Partner: creativestyle, Progress: accept, Release Line: 2.3, Squashtoberfest 2019, partners-contribution

#25296 Fixes unstable email integration tests, by decoding the raw contents …
  dev/tests/integration/testsuite/Magento/Newsletter/Model/SubscriberTest.php
  dev/tests/integration/testsuite/Magento/ProductAlert/Model/EmailTest.php
  dev/tests/integration/testsuite/Magento/ProductAlert/Model/ObserverTest.php
  dev/tests/integration/testsuite/Magento/Wishlist/Controller/IndexTest.php
Labels: Auto-Tests: Not Required, Progress: accept, Release Line: 2.3, Squashtoberfest 2019

#25443 Restore checkboxes alignment in admin data grids
  app/design/adminhtml/Magento/backend/Magento_Ui/web/css/source/module/_data-grid.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Partner: creativestyle, Progress: accept, Release Line: 2.3, partners-contribution

#25435 Allow modal triggers to be added after module initialization
  app/code/Magento/Ui/view/base/web/js/modal/modal.js
Labels: Area: Frontend, Auto-Tests: Not Required, Award: bug fix, Award: category of expertise, Component: Ui, Partner: creativestyle, Progress: accept, Release Line: 2.3, partners-contribution

#25422 [Persistent] Cover Session Helper by Unit Test
  app/code/Magento/Persistent/Test/Unit/Helper/SessionTest.php
Labels: Auto-Tests: Covered, Component: Persistent, Progress: accept, Release Line: 2.3

#25393 fix additional product options tooltip visibility
  app/design/frontend/Magento/luma/Magento_Sales/web/css/source/_module.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Award: bug fix, Partner: Basecom, Progress: accept, Release Line: 2.3, Squashtoberfest 2019, partners-contribution

#25382 [GiftMessage] Covering the SalesEventOrderToQuoteObserver by Unit Test
  app/code/Magento/GiftMessage/Test/Unit/Observer/SalesEventOrderToQuoteObserverTest.php
Labels: Auto-Tests: Not Required, Component: GiftMessage, Partner: Atwix, Progress: accept, Release Line: 2.3, Squashtoberfest 2019, partners-contribution

#25368 View details toggle arrow not in single line for config product check…
  app/design/frontend/Magento/luma/Magento_Checkout/web/css/source/module/_minicart.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Community Insider: Cedcommerce, Progress: accept, Release Line: 2.3, Squashtoberfest 2019, community-insider-contribution

#25357 Fixed Magento installation with MySQL 8.
  app/code/Magento/CatalogSearch/Setup/Patch/Data/SetInitialSearchWeightForAttributes.php
Labels: Auto-Tests: Not Required, Component: CatalogSearch, Progress: accept, Release Line: 2.3, Squashtoberfest 2019, mysql 8 compatibility

#25204 Fixed broken resources page when acl has quote (') in title.
  app/code/Magento/Integration/view/adminhtml/templates/resourcetree.phtml
  app/code/Magento/User/view/adminhtml/templates/role/edit.phtml
Labels: Area: Frontend, Auto-Tests: Not Required, Component: Integration, Component: User, Progress: accept, Release Line: 2.3, Squashtoberfest 2019

#24994 Fixing #24807 - Changed accordion transition method when closing
  lib/web/mage/accordion.js
Labels: Area: Lib/Frontend, Auto-Tests: Not Required, Progress: accept, Release Line: 2.3, Squashtoberfest 2019

#24771 #15959 Extension attributes of quote on checkout page
  app/code/Magento/Checkout/Model/DefaultConfigProvider.php
Labels: Auto-Tests: Not Required, Award: bug fix, Component: Checkout, Partner: Balance Internet, Progress: accept, Release Line: 2.3, partners-contribution

#24552 Fix elastic alias doubled index if exception was thrown
  app/code/Magento/Elasticsearch/Model/Adapter/Elasticsearch.php
Labels: Auto-Tests: Not Required, Award: bug fix, Award: complex, Component: Elasticsearch, Progress: accept, Release Line: 2.3

#25419 add scroll to top
  app/design/adminhtml/Magento/backend/web/js/theme.js
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Award: bug fix, Partner: Basecom, Progress: accept, Release Line: 2.3, Squashtoberfest 2019, partners-contribution

#25416 README > Welcome section title
  README.md
Labels: Auto-Tests: Not Required, Cleanup, Partner: Imagination Media, Progress: accept, Release Line: 2.3, Squashtoberfest 2019, partners-contribution

#25409 [Review] Unit Test to cover Helper Data (Magento\Review\Helper\Data)
  app/code/Magento/Review/Test/Unit/Helper/DataTest.php
Labels: Auto-Tests: Not Required, Component: Review, Progress: accept, Release Line: 2.3

#25309 Fix: #20379 Calendar icon not aligned inside the textbox in Add Design Change page
  app/code/Magento/Theme/view/adminhtml/page_layout/admin-2columns-left.xml
Labels: Area: Frontend, Auto-Tests: Not Required, Award: bug fix, Component: Theme, Partner: Interactiv4, Progress: accept, Release Line: 2.3, Squashtoberfest 2019, partners-contribution

#25263 Fixed improper ObjectManager usage and respective unit tests
  app/code/Magento/Email/Model/Template/Filter.php
  app/code/Magento/Email/Test/Unit/Model/Template/FilterTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: Email, Partner: Zilker Technology, Progress: accept, Release Line: 2.3, Squashtoberfest 2019, partners-contribution

#25524 Fix issue #25517: Product item rating stars overlaps a hovered item on category page is…
  app/design/frontend/Magento/luma/Magento_Catalog/web/css/source/module/_listings.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Cleanup, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, bugfix, partners-contribution

#25519 [Instant Purchase] Unit test for CustomerData/InstantPurchase
  app/code/Magento/InstantPurchase/Test/Unit/CustomerData/InstantPurchaseTest.php
Labels: Auto-Tests: Not Required, Cleanup, Component: InstantPurchase, Progress: accept, Release Line: 2.3

#25504 [Instant Purchase] Cover Button block with Unit Test
  app/code/Magento/InstantPurchase/Test/Unit/Block/ButtonTest.php
Labels: Auto-Tests: Not Required, Component: InstantPurchase, Progress: accept, Release Line: 2.3

#25456 added fix to ticket 25455
  app/code/Magento/Backup/etc/adminhtml/system.xml
  app/code/Magento/Catalog/etc/adminhtml/system.xml
  app/code/Magento/Developer/etc/adminhtml/system.xml
  app/code/Magento/Dhl/etc/adminhtml/system.xml
  app/code/Magento/Paypal/etc/adminhtml/system.xml
  app/code/Magento/Sales/etc/adminhtml/system.xml
  app/code/Magento/Signifyd/etc/adminhtml/system.xml
  app/code/Magento/Ups/etc/adminhtml/system.xml
  dev/tests/integration/testsuite/Magento/Config/Model/Config/Structure/Reader/_files/config.xml
Labels: Auto-Tests: Not Required, Component: Backup, Component: Catalog, Component: Developer, Component: Dhl, Component: Paypal, Component: Sales, Component: Signifyd, Component: Ups, Partner: i95Dev, Progress: accept, Release Line: 2.3, partners-contribution

#25424 Updated theme preview images
  app/design/frontend/Magento/blank/media/preview.jpg
  app/design/frontend/Magento/luma/media/preview.jpg
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Partner: Zilker Technology, Progress: accept, Release Line: 2.3, partners-contribution

#25358 Fix magnifier image zoom and positioning regression
  lib/web/mage/gallery/gallery.less
Labels: Area: Lib/Frontend, Auto-Tests: Not Required, Partner: creativestyle, Progress: accept, Release Line: 2.3, Squashtoberfest 2019, partners-contribution

#25306 [Forward Port] magento/magento2#12205: Stock inventory reindex bug.
  app/code/Magento/CatalogInventory/Model/ResourceModel/Indexer/Stock/DefaultStock.php
Labels: Auto-Tests: Not Required, Award: bug fix, Component: CatalogInventory, Progress: accept, Release Line: 2.3, Squashtoberfest 2019

#25354 Added backticks to table names in mysql schema reader.
  lib/internal/Magento/Framework/Setup/Declaration/Schema/Db/MySQL/DbSchemaReader.php
Labels: Auto-Tests: Not Required, Component: Setup, Progress: extended testing, Release Line: 2.3, Squashtoberfest 2019

#25584 [Signifyd] Making system configs dependent by Active field
  app/code/Magento/Signifyd/etc/adminhtml/system.xml
Labels: Auto-Tests: Not Required, Component: Signifyd, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#25582 Covering the AllowedQuantity by Unit Test
  app/code/Magento/Wishlist/Test/Unit/ViewModel/AllowedQuantityTest.php
Labels: Auto-Tests: Covered, Component: Wishlist, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#25606 Fix JS error on cart configure page for configurable products
  app/code/Magento/Msrp/view/base/web/js/msrp.js
Labels: Area: Frontend, Auto-Tests: Not Required, Component: Msrp, Progress: accept, Release Line: 2.3

#25600 Log InvalidRequestException from FrontController validation failure to debug log
  lib/internal/Magento/Framework/App/FrontController.php
Labels: Auto-Tests: Not Required, Component: App, Progress: accept, Release Line: 2.3

#25597 Resolve No margin between checkbox and icon when choose category in condition in Cart/Catalog Rule issue25596
  app/design/adminhtml/Magento/backend/web/css/styles-old.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Award: bug fix, Progress: accept, Release Line: 2.3

#25585 M2C-21765 Output N/A if attribute has no value in Compare List
  app/code/Magento/Catalog/view/frontend/templates/product/compare/list.phtml
Labels: Area: Frontend, Auto-Tests: Not Required, Award: bug fix, Component: Catalog, Partner: creativestyle, Progress: accept, Release Line: 2.3, partners-contribution

#25629 Reverted PR 25022
  app/design/adminhtml/Magento/backend/web/css/source/forms/_controls.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Partner: Zilker Technology, Progress: accept, Release Line: 2.3, partners-contribution

#25623 #25043 - Since 2.3.3 Store logo automatic resize on mobile/smaller displays does not respect aspect ratio
  app/design/frontend/Magento/blank/Magento_Theme/web/css/source/_module.less
  app/design/frontend/Magento/luma/Magento_Theme/web/css/source/_module.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Award: bug fix, Partner: Webjump, Progress: accept, Release Line: 2.3, Reproduced on 2.3.x, partners-contribution

#25613 Navigation menu 4th level/category does not appear consistently #25589
  lib/web/jquery/ui-modules/menu.js
Labels: Area: Lib/Frontend, Auto-Tests: Not Required, Award: bug fix, Partner: Webjump, Progress: accept, Release Line: 2.3, partners-contribution

#25682 ISSUE 25680 Fixes console error on index page
  app/code/Magento/Swagger/view/frontend/layout/swagger_index_index.xml
Labels: Area: Frontend, Auto-Tests: Not Required, Award: bug fix, Component: Swagger, Progress: accept, Release Line: 2.3

#25673 magento/magento2#: Remove redundant use=“optional” from INDEXER XSD schema
  lib/internal/Magento/Framework/Indexer/etc/indexer.xsd
Labels: Auto-Tests: Not Required, Cleanup, Component: Indexer, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#25666 magento/magento2#25652: Arrows (.fotorama__thumb__arr) don't work in product gallery
  lib/web/mage/gallery/gallery.less
Labels: Area: Lib/Frontend, Auto-Tests: Not Required, Award: bug fix, Progress: accept, Release Line: 2.3

#25692 Remove UserLockedException catch.
  app/code/Magento/Customer/Controller/Account/LoginPost.php
Labels: Auto-Tests: Covered, Component: Customer, Progress: accept, Release Line: 2.3

#25688 [Downloadable Product] Cover Data Samples Modifier by Unit Test
  app/code/Magento/Downloadable/Test/Unit/Ui/DataProvider/Product/Form/Modifier/Data/SamplesTest.php
Labels: Auto-Tests: Covered, Component: Downloadable, Progress: accept, Release Line: 2.3, Technology Partner: Magestore, tech-partners-contribution

#25662 Resolve Wrong message in confirmation popup when delete customer group issue25661
  app/code/Magento/Customer/Test/Mftf/ActionGroup/AdminDeleteCustomerGroupActionGroup.xml
  app/code/Magento/Customer/Test/Mftf/Data/CustomerGroupData.xml
  app/code/Magento/Customer/Ui/Component/Listing/Column/GroupActions.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: Customer, Progress: accept, Release Line: 2.3, Technology Partner: Magestore, tech-partners-contribution

#25472 Fix issue #22240: Running cron jobs fails if database name is too long
  lib/internal/Magento/Framework/Lock/Backend/Database.php
  lib/internal/Magento/Framework/Lock/Test/Unit/Backend/DatabaseTest.php
Labels: Auto-Tests: Covered, Component: Lock, Progress: accept, Release Line: 2.3

#25559 Changing confirm password field class
  app/code/Magento/Customer/view/frontend/templates/form/edit.phtml
Labels: Area: Frontend, Auto-Tests: Not Required, Cleanup, Component: Customer, Partner: Imagination Media, Progress: accept, Release Line: 2.3, partners-contribution

#25552 Fix escape less calc
  lib/web/css/source/lib/_navigation.less
Labels: Area: Lib/Frontend, Auto-Tests: Not Required, Award: bug fix, Partner: MediaCT, Progress: accept, Release Line: 2.3, partners-contribution

#25530 #25529: Fixed the wrong condition to output "Shipping Method Title"
  app/code/Magento/Checkout/view/frontend/web/js/view/summary/shipping.js
Labels: Area: Frontend, Auto-Tests: Not Required, Award: bug fix, Component: Checkout, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#25515 M2C-22619 Fix Tabs widget with Accordion
  lib/web/mage/tabs.js
Labels: Area: Lib/Frontend, Auto-Tests: Covered, Partner: creativestyle, Progress: accept, Release Line: 2.3, partners-contribution

#25719 ASI #Issue-723 Fixed the issue: "Image preview should be closed when the page is changed"
  app/code/Magento/Ui/view/base/web/js/grid/columns/image-preview.js
Labels: Area: Frontend, Auto-Tests: Covered, Component: Ui, Partner: Atwix, Progress: ready for testing, Release Line: 2.3, partners-contribution

#25706 [Tax] Cover Tax CustomerData by Unit Test
  app/code/Magento/Tax/Test/Unit/CustomerData/CheckoutTotalsJsLayoutDataProviderTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: Tax, Progress: accept, Release Line: 2.3, Technology Partner: Magestore, tech-partners-contribution

#25702 [ImportExport] Cover Helper Data by Unit Test
  app/code/Magento/ImportExport/Test/Unit/Helper/DataTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: ImportExport, Progress: accept, Release Line: 2.3, Technology Partner: Magestore, tech-partners-contribution

#25686 Unit Test to cover class \Magento\Captcha\CustomerData\Captcha
  app/code/Magento/Captcha/Test/Unit/CustomerData/CaptchaTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: Captcha, Progress: accept, Release Line: 2.3, Technology Partner: Magestore, tech-partners-contribution

#25313 feature/25312 Add Colombian regions
  app/code/Magento/Directory/Setup/Patch/Data/AddDataForColombia.php
Labels: Auto-Tests: Not Required, Component: Directory, Partner: Interactiv4, Progress: accept, Release Line: 2.3, Squashtoberfest 2019, partners-contribution

#25720 [Customer] Cover Customer Navigation Block by Unit Test
  app/code/Magento/Customer/Test/Unit/Block/Account/NavigationTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: Customer, Progress: accept, Release Line: 2.3, Technology Partner: Magestore, tech-partners-contribution

#25611 Added keyboard navigation for Adobe Stock image previews
  app/code/Magento/Ui/view/base/web/js/grid/columns/image-preview.js
Labels: Area: Frontend, Auto-Tests: Covered, Component: Ui, Partner: Zilker Technology, Progress: accept, Release Line: 2.3, partners-contribution

#25533 Telephone Widget > Template > Removing this and helper
  app/code/Magento/Customer/view/frontend/templates/widget/telephone.phtml
Labels: Area: Frontend, Auto-Tests: Covered, Component: Customer, Partner: Imagination Media, Progress: accept, Release Line: 2.3, partners-contribution

#25328 Correct spelling
  app/code/Magento/Sales/Model/ResourceModel/Status/Collection.php
Labels: Auto-Tests: Not Required, Cleanup, Component: Sales, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, Squashtoberfest 2019, partners-contribution
