Repository magento/magento2, pull requests merged in 2019-05, with the labels that each got.

#22020 Non existing file, when adding image to gallery with move option. Fix for #21978
  app/code/Magento/Catalog/Model/Product/Gallery/Processor.php
Labels: Award: bug fix, Component: Catalog, Progress: accept, Release Line: 2.3

#22260 Disabling "Display on Product Details Page" the button is shown anyway.
  app/code/Magento/Paypal/Model/SmartButtonConfig.php
  app/code/Magento/Paypal/Test/Unit/Model/_files/expected_config.php
  app/code/Magento/Paypal/view/frontend/web/js/in-context/product-express-checkout.js
Labels: Area: Frontend, Component: Paypal, Progress: accept, Release Line: 2.3

#22287 #222249 configurable product images wrong sorting fix
  app/code/Magento/Swatches/view/frontend/web/js/swatch-renderer.js
Labels: Area: Frontend, Award: bug fix, Component: Swatches, Progress: accept, Release Line: 2.3

#22532 fixed issue 22527 wishlist and compare icon alignment
  app/design/frontend/Magento/blank/Magento_Catalog/web/css/source/module/_listings.less
  app/design/frontend/Magento/luma/Magento_Catalog/web/css/source/module/_listings.less
Labels: Area: Design/Frontend, Award: bug fix, Progress: accept, Release Line: 2.3

#22288 [BACKPORT] #222249 configurable product images wrong sorting fix
  app/code/Magento/Swatches/view/frontend/web/js/swatch-renderer.js
Labels: Area: Frontend, Component: Swatches, Port, Progress: accept, Release Line: 2.2

#22536 [Bakport] Adding product from wishlist not adding to cart showing warning message.
  app/code/Magento/Wishlist/Block/Customer/Wishlist/Item/Column/Cart.php
Labels: Component: Wishlist, Partner: Krish TechnoLabs, Port, Progress: accept, Release Line: 2.2, partners-contribution

#22543 [Backport] [Fixed] Checkout Section: Shipping step is getting skipped when customer hitting direct payment step URL
  app/code/Magento/Checkout/view/frontend/web/js/view/payment.js
Labels: Area: Frontend, Component: Checkout, Partner: Krish TechnoLabs, Port, Progress: accept, Release Line: 2.2, partners-contribution

#22551 [Backport] Shortening currency list in Configuration->General (replace PR #20397)
  app/code/Magento/Config/Model/Config/Source/Locale/Currency.php
Labels: Component: Config, Partner: Two Jay, Port, Progress: accept, Release Line: 2.2, partners-contribution

#22413 Checkout Totals Sort Order fields can't be empty and should be a number.
  app/code/Magento/Sales/etc/adminhtml/system.xml
  app/code/Magento/Weee/etc/adminhtml/system.xml
Labels: Component: Sales, Component: Weee, Partner: Mediotype, Port, Progress: accept, Release Line: 2.2, partners-contribution

#22579 [Backport] Non existing file, when adding image to gallery with move option. Fix for #21978
  app/code/Magento/Catalog/Model/Product/Gallery/Processor.php
Labels: Component: Catalog, Partner: Two Jay, Port, Progress: accept, Release Line: 2.2, partners-contribution

#22582 [Backport] Alignment Issue While Editing Order Data containing Downlodable Products with "Links can be purchased separately" enabled in Admin Section
  app/code/Magento/Downloadable/view/adminhtml/templates/product/composite/fieldset/downloadable.phtml
Labels: Area: Frontend, Cleanup, Component: Downloadable, Port, Progress: accept, Release Line: 2.2

#22423 Store view specific labels cut in left navigation menu #22406
  app/design/adminhtml/Magento/backend/Magento_Backend/web/css/source/module/main/_store-scope.less
  app/design/adminhtml/Magento/backend/web/css/styles-old.less
Labels: Area: Design/Frontend, Cleanup, Progress: accept, Release Line: 2.3, Reproduced on 2.3.x

#22561 [Catalog|Eav] Revert change of PR magento/magento2#13302 not included into revert commit
  app/code/Magento/Catalog/Model/ResourceModel/Product/Collection.php
  app/code/Magento/Eav/Test/Unit/Model/Entity/Collection/AbstractCollectionTest.php
Labels: Cleanup, Component: Catalog, Component: Eav, Progress: accept, Release Line: 2.3

#22594 Fixed typo issue
  lib/web/css/docs/source/_responsive.less
Labels: Area: Lib/Frontend, Cleanup, Progress: accept, Release Line: 2.3

#22599 Correct spelling
  app/code/Magento/Catalog/Ui/DataProvider/Product/ProductRenderCollectorComposite.php
Labels: Cleanup, Component: Catalog, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#22621 Resolved Typo
  lib/web/css/docs/source/_breadcrumbs.less
Labels: Area: Lib/Frontend, Cleanup, Progress: accept, Release Line: 2.3

#22016 Magento Catalog - fix custom option type text price conversion for mu…
  app/code/Magento/Catalog/Model/ResourceModel/Product/Option.php
Labels: Component: Catalog, Progress: accept, Release Line: 2.2

#22535 [Backport] Fix configurable dropdown showing tax incorrectly in 2.3-develop
  app/code/Magento/ConfigurableProduct/view/frontend/web/js/configurable.js
Labels: Area: Frontend, Component: ConfigurableProduct, Partner: Two Jay, Progress: accept, Release Line: 2.2, partners-contribution

#21550 [Backport] Fixed curl adapter to properly set http version based on $http_ver argument
  lib/internal/Magento/Framework/HTTP/Adapter/Curl.php
Labels: Component: HTTP, Partner: Mediotype, Progress: accept, Release Line: 2.2, partners-contribution

#22559 Fix MySQL syntax error on indexation with certain attribute codes
  app/code/Magento/Catalog/Model/Indexer/Product/Flat/FlatTableBuilder.php
Labels: Component: Catalog, Partner: Itonomy, Progress: accept, Release Line: 2.2

#19767 Prevent display of token when save for later is not selected
  app/code/Magento/Vault/Observer/AfterPaymentSaveObserver.php
  app/code/Magento/Vault/Test/Unit/Observer/AfterPaymentSaveObserverTest.php
Labels: Component: Vault, Partner: Something Digital, Progress: accept, Release Line: 2.3, partners-contribution

#21992 #21473: Form element validation is not triggered when validation rules…
  app/code/Magento/Ui/view/base/web/js/form/element/abstract.js
Labels: Area: Frontend, Community Insider: Magecom, Component: Ui, Progress: accept, Release Line: 2.3, community-insider-contribution

#22493 Update credit-card-number-validator.js
  app/code/Magento/Payment/view/base/web/js/model/credit-card-validation/credit-card-number-validator.js
Labels: Area: Frontend, Component: Payment, Progress: accept, Release Line: 2.3

#22643 Fixed typo issue and added missing header in customer sales order grid
  app/code/Magento/Customer/Block/Adminhtml/Edit/Tab/Orders.php
  app/code/Magento/Customer/i18n/en_US.csv
Labels: Cleanup, Component: Customer, Event: dmcdindia1, Progress: accept, Release Line: 2.3

#22656 issues #22647 fixed, In customer account create page word not readable, should use '-' after break to new line In mobile view
  app/design/frontend/Magento/luma/Magento_Theme/web/css/source/_module.less
Labels: Area: Design/Frontend, Cleanup, Community Insider: Cedcommerce, Progress: accept, Release Line: 2.3, community-insider-contribution

#22720 Fixed:#22395
  app/code/Magento/Config/Console/Command/ConfigSetCommand.php
Labels: Award: bug fix, Community Insider: Cedcommerce, Component: Config, Progress: accept, Release Line: 2.3, community-insider-contribution

#22560 Fix undefined methods 'addClass' and `removeClass` on a PrototypeJS Element
  app/code/Magento/Catalog/view/adminhtml/templates/catalog/product/attribute/js.phtml
Labels: Area: Frontend, Award: bug fix, Component: Catalog, Progress: accept, Release Line: 2.3

#22606 Fix Exception While Creating an Order in the Admin
  app/code/Magento/SalesRule/Model/Quote/Address/Total/ShippingDiscount.php
Labels: Component: SalesRule, Progress: accept, Release Line: 2.3

#22628 Add a missting colon in the pdf page.
  app/code/Magento/Sales/Model/Order/Pdf/AbstractPdf.php
Labels: Component: Sales, Progress: accept, Release Line: 2.3

#22644 Issue fixed #22636 arrow toggle not changing only showing to down It should be toggle as every where is working
  app/design/adminhtml/Magento/backend/Magento_Backend/web/css/source/module/main/_collapsible-blocks.less
Labels: Area: Design/Frontend, Award: bug fix, Community Insider: Cedcommerce, Progress: accept, Release Line: 2.3, community-insider-contribution

#22664 Fixed Typo Error
  lib/web/css/docs/source/_rating.less
Labels: Area: Lib/Frontend, Cleanup, Community Insider: Cedcommerce, Event: dmcdindia1, Progress: accept, Release Line: 2.3, community-insider-contribution

#22734 Ignores allure-results in git.
  dev/tests/integration/.gitignore
  dev/tests/static/.gitignore
  dev/tests/unit/.gitignore
Labels: Progress: accept, Release Line: 2.3

#22758 Correct spelling
  app/code/Magento/Catalog/Model/ResourceModel/Product/Collection.php
Labels: Cleanup, Component: Catalog, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#21748 [Backport] Custom option type select - Allow modify list of single selection option types
  app/code/Magento/Catalog/Model/Product/Option/Type/Select.php
  app/code/Magento/Catalog/etc/di.xml
Labels: Component: Catalog, Progress: accept, Release Line: 2.2

#22655 Fixed Issue #22640
  app/code/Magento/Tax/Block/Adminhtml/Rate/Form.php
Labels: Area: Frontend, Community Insider: Cedcommerce, Component: Tax, Progress: accept, Release Line: 2.3, community-insider-contribution

#22657 404 not found form validation url when updating quantity in cart page
  app/code/Magento/Checkout/view/frontend/templates/cart/form.phtml
Labels: Area: Frontend, Community Insider: Cedcommerce, Component: Checkout, Progress: accept, Release Line: 2.3, Reproduced on 2.1.x, Reproduced on 2.2.x, Reproduced on 2.3.x, community-insider-contribution

#22739 Revert "Magento backend catalog cost without currency symbol" as Cost…
  app/code/Magento/Catalog/view/adminhtml/ui_component/product_listing.xml
Labels: Area: Frontend, Component: Catalog, Progress: accept, Release Line: 2.3

#22791 Fixed issue #22788
  app/code/Magento/Sales/view/frontend/templates/email/shipment/track.phtml
Labels: Area: Frontend, Community Insider: Cedcommerce, Component: Sales, Progress: accept, Release Line: 2.3, community-insider-contribution

#21917 Prevent duplicate variation error during import of configurable products with numerical SKUs
  app/code/Magento/ConfigurableImportExport/Model/Import/Product/Type/Configurable.php
  app/code/Magento/ConfigurableImportExport/Test/Unit/Model/Import/Product/Type/ConfigurableTest.php
Labels: Component: ConfigurableImportExport, Partner: XSARUS, Progress: accept, Release Line: 2.3, partners-contribution

#22463 Set timezone on DateTime object not in constructor
  lib/internal/Magento/Framework/Stdlib/DateTime/Timezone.php
  lib/internal/Magento/Framework/Stdlib/Test/Unit/DateTime/TimezoneTest.php
Labels: Component: Stdlib, Partner: Fisheye, Progress: accept, Release Line: 2.3, partners-contribution

#22575 Fix for update products via csv file (fix for 22028)
  app/code/Magento/Catalog/Model/ResourceModel/Product/Indexer/Price/Query/BaseFinalPrice.php
Labels: Component: Catalog, Progress: accept, Release Line: 2.3

#22794 fixed issue #21558 - Navigation issue of review from product listing
  app/code/Magento/Review/view/frontend/web/js/process-reviews.js
Labels: Area: Frontend, Component: Review, Progress: accept, Release Line: 2.3

#22844 Allow to specify a field to be checked in the response
  app/code/Magento/AdvancedSearch/view/adminhtml/web/js/testconnection.js
Labels: Area: Frontend, Component: AdvancedSearch, Partner: Space 48, Progress: accept, Release Line: 2.3, partners-contribution

#22801 [Backport] #21473: Form element validation is not triggered when validation rules…
  app/code/Magento/Ui/view/base/web/js/form/element/abstract.js
Labels: Area: Frontend, Component: Ui, Partner: Two Jay, Progress: accept, Release Line: 2.2, partners-contribution

#22836 [Backport] Fixed:#22395
  app/code/Magento/Config/Console/Command/ConfigSetCommand.php
Labels: Community Insider: Cedcommerce, Component: Config, Event: imagine2019, Progress: accept, Release Line: 2.2, community-insider-contribution

#22557 [Backport] Fix the invalid currency error in credit card payment of PayPal Payflow Pro or Payments Pro
  app/code/Magento/Paypal/Model/Payflow/Service/Request/SecureToken.php
Labels: Component: Paypal, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.2, partners-contribution

#22907 [Backport] 404 not found form validation url when updating quantity in cart page
  app/code/Magento/Checkout/view/frontend/templates/cart/form.phtml
Labels: Area: Frontend, Component: Checkout, Progress: accept, Release Line: 2.2

#22906 [Backport] Fixed issue #22788
  app/code/Magento/Sales/view/frontend/templates/email/shipment/track.phtml
Labels: Area: Frontend, Component: Sales, Progress: accept, Release Line: 2.2

#22908 [Backport] Fixed Issue #22640
  app/code/Magento/Tax/Block/Adminhtml/Rate/Form.php
Labels: Component: Tax, Progress: accept, Release Line: 2.2

#21676 [2.2][Backport] Database Media Storage - Design Config Save functions to be Database Media Storage aware
  app/code/Magento/Theme/Model/Design/Backend/File.php
  app/code/Magento/Theme/Test/Unit/Model/Design/Backend/FileTest.php
Labels: Component: Theme, Progress: accept, Release Line: 2.2

#22180 [Backport] Resolved undefined index issue for import adapter
  app/code/Magento/ImportExport/Model/Import/Entity/AbstractEntity.php
Labels: Component: ImportExport, Partner: Two Jay, Port, Progress: accept, Release Line: 2.2, partners-contribution

#22186 22127: check that products is set
  app/code/Magento/ConfigurableProduct/Model/ResourceModel/Product/Type/Configurable/Product/Collection.php
Labels: Award: bug fix, Component: ConfigurableProduct, Partner: Brandung, Progress: accept, Release Line: 2.3, partners-contribution

#22418 Patch the prototype pollution vulnerability in jQuery < 3.4.0 (CVE-2019-11358)
  lib/web/jquery.js
  lib/web/jquery/jquery.min.js
Labels: Area: Lib/Frontend, Progress: accept, Release Line: 2.3

#22724 Fixed issue #22639: Without select attribute click on add attribute it display all selected when add attribute again.
  app/code/Magento/Catalog/Ui/DataProvider/Product/Form/Modifier/Attributes.php
Labels: Award: bug fix, Component: Catalog, Progress: accept, Release Line: 2.3, cdwebkul

#22742 issue #22676 fixed - Compare Products counter, and My Wish List count…
  app/design/frontend/Magento/luma/web/css/source/_extends.less
Labels: Area: Design/Frontend, Award: bug fix, Progress: accept, Release Line: 2.3

#22850 only show customer account sections if payment method is active
  app/code/Magento/Paypal/view/frontend/layout/customer_account.xml
  app/code/Magento/Vault/view/frontend/layout/customer_account.xml
Labels: Area: Frontend, Award: bug fix, Component: Paypal, Component: Vault, Partner: Basecom, Progress: accept, Release Line: 2.3, partners-contribution

#22854 fix #4628 font-face mixin add fromat option
  lib/web/css/source/lib/_typography.less
Labels: Area: Lib/Frontend, Award: bug fix, Event: imagine2019, Partner: Vaimo, Progress: accept, Release Line: 2.3, partners-contribution

#22868 fix date calculation for report's years interval
  app/code/Magento/Reports/Model/ResourceModel/Report/Collection.php
Labels: Component: Reports, Progress: accept, Release Line: 2.3

#21397 Fixed Validation messages missing from datepicker form elements
  app/code/Magento/Cms/view/adminhtml/ui_component/cms_page_form.xml
  app/code/Magento/Ui/view/base/web/js/lib/validation/rules.js
Labels: Area: Frontend, Award: bug fix, Component: Cms, Component: Ui, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#22823 [Shipping] Adjusting the Contact Us Xpath
  app/code/Magento/Shipping/Block/Tracking/Popup.php
Labels: Award: bug fix, Component: Shipping, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#22830 Removing "if" block and making code more legible
  app/code/Magento/Wishlist/Helper/Data.php
Labels: Cleanup, Component: Wishlist, Progress: accept, Release Line: 2.3

#22889 Replace hardcoded CarierCode from createShippingMethod()
  app/code/Magento/OfflineShipping/Model/Carrier/Tablerate.php
Labels: Component: OfflineShipping, Partner: integer_net GmbH, Progress: accept, Release Line: 2.3, partners-contribution

#22922 [BUGFIX] Set correct cron instance for catalog_product_frontend_actio…
  app/code/Magento/Catalog/etc/crontab.xml
Labels: Component: Catalog, Partner: Experius, Progress: accept, Release Line: 2.3, partners-contribution

#22607 Implement Better Error Handling and Fix Waits on Null PIDs in Parallel SCD Execution
  app/code/Magento/Deploy/Process/Queue.php
Labels: Award: bug fix, Award: special achievement, Component: Deploy, Partner: Mediotype, Progress: accept, Release Line: 2.3, partners-contribution

#22795 fixed issue #22736 - Cursor position not in right side of search keyword in mobile
  app/code/Magento/Search/view/frontend/web/js/form-mini.js
Labels: Area: Frontend, Component: Search, Progress: accept, Release Line: 2.3

#22876 Fixed issue #22875 Billing Agreements page title need to be improved
  app/code/Magento/Paypal/Controller/Billing/Agreement/Index.php
Labels: Community Insider: Cedcommerce, Component: Paypal, Progress: accept, Release Line: 2.3, community-insider-contribution

#22307 Varnish health check failing due to presence of id_prefix in env.php
  pub/health_check.php
Labels: Award: bug fix, Progress: accept, Release Line: 2.3

#22444 magento/magento2#22317: PR#22321 fix.
  dev/tests/static/framework/Magento/Sniffs/Annotation/AnnotationFormatValidator.php
  dev/tests/static/framework/Magento/Sniffs/Annotation/MethodAnnotationStructureSniff.php
  dev/tests/static/framework/Magento/Sniffs/Annotation/MethodArgumentsSniff.php
Labels: Progress: accept, Release Line: 2.3

#22513 Fixed #22396 config:set fails with JSON values
  app/code/Magento/CatalogInventory/Helper/Minsaleqty.php
  app/code/Magento/CatalogInventory/Test/Unit/Helper/MinsaleqtyTest.php
Labels: Award: bug fix, Community Insider: Cedcommerce, Component: CatalogInventory, Progress: accept, Release Line: 2.3, community-insider-contribution

#22520 Fixed #22506: Search suggestion panel overlapping on advance reporting button
  app/design/adminhtml/Magento/backend/Magento_Backend/web/css/source/module/header/actions-group/_search.less
Labels: Area: Design/Frontend, Progress: accept, Release Line: 2.3

#22760 [Forwardport] Magento Catalog - fix custom option type text price conversion for mu…
  app/code/Magento/Catalog/Model/ResourceModel/Product/Option.php
Labels: Component: Catalog, Progress: accept, Release Line: 2.3

#22893 #22869 - defaulting customer storeId fix
  app/code/Magento/Customer/Model/ResourceModel/CustomerRepository.php
  app/code/Magento/Customer/Test/Unit/Model/ResourceModel/CustomerRepositoryTest.php
Labels: Award: bug fix, Component: Customer, Progress: accept, Release Line: 2.3

#22926 Store view label not in the middle of panel
  app/design/adminhtml/Magento/backend/Magento_Backend/web/css/source/module/main/actions-bar/_store-switcher.less
Labels: Area: Design/Frontend, Cleanup, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#22947 phpcs error on rule classes - must be of the type integer
  dev/tests/static/framework/Magento/Sniffs/Annotation/ClassAnnotationStructureSniff.php
  dev/tests/static/framework/Magento/Sniffs/Annotation/MethodAnnotationStructureSniff.php
  dev/tests/static/framework/Magento/Sniffs/Annotation/MethodArgumentsSniff.php
Labels: Progress: testing in progress, Release Line: 2.3

#22610 [Backport] Implement Better Error Handling and Fix Waits on Null PIDs in Parallel SCD Execution
  app/code/Magento/Deploy/Process/Queue.php
Labels: Component: Deploy, Partner: Mediotype, Port, Progress: accept, Release Line: 2.2, partners-contribution

#22991 [Backport] Fixed issue #22639: Without select attribute click on add attribute it display all selected when add attribute again.
  app/code/Magento/Catalog/Ui/DataProvider/Product/Form/Modifier/Attributes.php
Labels: Component: Catalog, Port, Progress: accept, Release Line: 2.2

#23009 [Backport] - fixed-Discount-Code-improvement-21214
  app/design/frontend/Magento/luma/Magento_Checkout/web/css/source/module/checkout/_checkout.less
  app/design/frontend/Magento/luma/Magento_Checkout/web/css/source/module/checkout/_payment-options.less
Labels: Area: Design/Frontend, Partner: Krish TechnoLabs, Port, Progress: accept, Release Line: 2.2, partners-contribution

#23002 [Backport] Fixed Validation messages missing from datepicker form elements
  app/code/Magento/Cms/view/adminhtml/ui_component/cms_page_form.xml
  app/code/Magento/Ui/view/base/web/js/lib/validation/rules.js
Labels: Area: Frontend, Component: Cms, Component: Ui, Partner: Krish TechnoLabs, Port, Progress: accept, Release Line: 2.2, partners-contribution

#22902 Fix for update products via csv file (fix for 22028)
  app/code/Magento/Catalog/Model/ResourceModel/Product/Indexer/Price/Query/BaseFinalPrice.php
Labels: Component: Catalog, Port, Progress: accept, Release Line: 2.2

#23019 [Backport] [Shipping] Adjusting the Contact Us Xpath
  app/code/Magento/Shipping/Block/Tracking/Popup.php
Labels: Component: Shipping, Partner: Atwix, Port, Progress: accept, Release Line: 2.2, partners-contribution

#22581 [Backport] #21747 Fix catalog_product_flat_data attribute value for store during indexer
  app/code/Magento/Catalog/Model/Indexer/Product/Flat/TableBuilder.php
Labels: Component: Catalog, Port, Progress: accept, Release Line: 2.2

#22387 Checkout totals order in specific store
  app/code/Magento/Checkout/Model/Layout/AbstractTotalsProcessor.php
Labels: Award: bug fix, Component: Checkout, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#22718 Resolved issue coupon codes don't work anymore #18183
  app/code/Magento/SalesRule/etc/db_schema.xml
Labels: Award: bug fix, Component: SalesRule, Progress: accept, Release Line: 2.3

#22914 #22899 Fix the issue with Incorrect return type at getListByCustomerId in PaymentTokenManagementInterface
  app/code/Magento/Vault/Api/PaymentTokenManagementInterface.php
Labels: Cleanup, Component: Vault, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#22687 #22686 Shipment view fixed for Fatal error.
  app/code/Magento/Shipping/view/adminhtml/templates/view/items.phtml
Labels: Area: Frontend, Award: bug fix, Community Insider: Cedcommerce, Component: Shipping, Event: dmcdindia1, Progress: accept, Release Line: 2.3, community-insider-contribution

#22772 Fixed issue #22767: Not clear logic for loading CMS Pages with setStoreId function
  app/code/Magento/Cms/Model/Block.php
  app/code/Magento/Cms/Model/Page.php
Labels: Cleanup, Component: Cms, Progress: accept, Release Line: 2.3

#22931 [Fixed-20788: Listing page no equal spacing in product in list view]
  app/design/frontend/Magento/blank/Magento_Swatches/web/css/source/_module.less
Labels: Area: Design/Frontend, Cleanup, Partner: Wagento, Progress: accept, Release Line: 2.3, partners-contribution

#22965 Simplify if else catalog search full text data provider
  app/code/Magento/CatalogSearch/Model/Indexer/Fulltext/Action/DataProvider.php
Labels: Cleanup, Component: CatalogSearch, Progress: accept, Release Line: 2.3

#23011 Fix typehint
  app/code/Magento/Store/Model/StoreManager.php
  app/code/Magento/Store/Model/StoreManagerInterface.php
Labels: Cleanup, Component: Store, Progress: accept, Release Line: 2.3

#22915 [Backport] #22899 Fix the issue with Incorrect return type at getListByCustomerId in PaymentTokenManagementInterface
  app/code/Magento/Vault/Api/PaymentTokenManagementInterface.php
Labels: Cleanup, Component: Vault, Partner: Atwix, Progress: accept, Release Line: 2.2, partners-contribution

#23020 Remove direct use of object manager
  app/code/Magento/Cms/Controller/Adminhtml/Page/Index.php
Labels: Component: Cms, Progress: accept, Release Line: 2.3

#23033 Issue fix #23030: Swatch change Image does not slide to first Image
  app/code/Magento/Swatches/view/frontend/web/js/swatch-renderer.js
Labels: Area: Frontend, Award: bug fix, Community Insider: Cedcommerce, Component: Swatches, Progress: accept, Release Line: 2.3, community-insider-contribution

#23035 [Validator] Fix wrong behaviour of validation scroll
  lib/web/mage/validation.js
Labels: Area: Lib/Frontend, Award: bug fix, Progress: accept, Release Line: 2.3

#22895 [Backport] #22869 - defaulting customer storeId fix
  app/code/Magento/Customer/Model/ResourceModel/CustomerRepository.php
  app/code/Magento/Customer/Test/Unit/Model/ResourceModel/CustomerRepositoryTest.php
Labels: Component: Customer, Port, Progress: accept, Release Line: 2.2

#22071 Make sure 'last' class is set on top menu
  app/code/Magento/Theme/Block/Html/Topmenu.php
Labels: Award: bug fix, Component: Theme, Partner: MediaCT, Progress: accept, Release Line: 2.3, partners-contribution
