Repository magento/magento2, pull requests merged in 2019-07, with the labels that each got.

#23048 #22998 : failing order creation with api when no address email is provided
  app/code/Magento/Sales/Model/Order/Address.php
Labels: Component: Sales, Progress: accept, Release Line: 2.3

#23390 Changed logic so that _scrollToTopIfVisible is called only if element is in viewport. Previously it was called only when the element was outside it.
  lib/web/mage/collapsible.js
Labels: Area: Lib/Frontend, Auto-Tests: Not Required, Progress: accept, Release Line: 2.3

#23536 [Backport] #23377 Fixed Mini cart loader not working first time issue
  app/code/Magento/Checkout/view/frontend/templates/cart/minicart.phtml
Labels: Area: Frontend, Auto-Tests: Not Covered, Component: Checkout, Partner: Krish TechnoLabs, Port, Progress: accept, Release Line: 2.2, partners-contribution

#23537 [Backport-2.2] Plain Text Emails are now sent with correct MIME Encoding
  lib/internal/Magento/Framework/Mail/Message.php
  lib/internal/Magento/Framework/Mail/Test/Unit/MessageTest.php
Labels: Auto-Tests: Covered, Component: Mail, Port, Progress: accept, Release Line: 2.2

#23566 [Backport] Fixed Credit memo submit button(refund) stays disable after validation fails & unable to enable button issue.
  app/code/Magento/Sales/view/adminhtml/templates/order/creditmemo/create/totals/adjustments.phtml
Labels: Area: Frontend, Component: Sales, Partner: Krish TechnoLabs, Port, Progress: accept, Release Line: 2.2, partners-contribution

#23573 [Backport] issue #22676 fixed - Compare Products counter, and My Wish List count…
  app/design/frontend/Magento/luma/web/css/source/_extends.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Partner: Krish TechnoLabs, Port, Progress: accept, Release Line: 2.2, partners-contribution

#23574 [Backport] #23038 Decimal qty with Increment is with specific values are not adding in cart
  lib/web/mage/validation.js
Labels: Area: Lib/Frontend, Auto-Tests: Not Covered, Partner: Krish TechnoLabs, Port, Progress: accept, Release Line: 2.2, partners-contribution

#23523 Issue #23522 UPS shipping booking and label generation gives error when shipper's street given more than 35 chars
  app/code/Magento/Ups/Model/Carrier.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: Ups, Progress: accept, Release Line: 2.3

#23528 move breakpoint by -1px to make nav work correctly at viewport 768
  lib/web/mage/menu.js
Labels: Area: Lib/Frontend, Auto-Tests: Not Covered, Award: bug fix, Progress: accept, Release Line: 2.3

#23532 Correct array type hints in Visibility model
  app/code/Magento/Catalog/Model/Product/Visibility.php
Labels: Cleanup, Component: Catalog, Partner: Something Digital, Progress: accept, Release Line: 2.3, partners-contribution

#23535 [2.3] Plain Text Emails are now sent with correct MIME Encoding
  lib/internal/Magento/Framework/Mail/Message.php
  lib/internal/Magento/Framework/Mail/Test/Unit/MessageTest.php
Labels: Auto-Tests: Covered, Component: Mail, Progress: accept, Release Line: 2.3

#23541 fix validation class for max-words
  lib/web/mage/validation.js
Labels: Area: Lib/Frontend, Progress: accept, Release Line: 2.3

#23547 [Backport] move breakpoint by -1px to make nav work correctly at viewport 768
  lib/web/mage/menu.js
Labels: Area: Lib/Frontend, Auto-Tests: Not Covered, Port, Progress: accept, Release Line: 2.2

#23579 [Backport] [Ui] Calling the always action on opening and closing the modal.
  app/code/Magento/Ui/view/base/web/js/modal/alert.js
Labels: Area: Frontend, Component: Ui, Partner: Atwix, Port, Progress: accept, Release Line: 2.2, partners-contribution

#21128 Fix issue 21126 : Import design break issue resolved
  lib/web/mage/validation.js
Labels: Area: Design/Frontend, Area: Lib/Frontend, Award: bug fix, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#22213 Date column ui component locale date format
  app/code/Magento/Ui/view/base/web/js/grid/columns/date.js
Labels: Area: Frontend, Auto-Tests: Not Required, Component: Ui, Partner: Vaimo, Progress: accept, Release Line: 2.3, partners-contribution

#23457 Update CartTotalRepository.php
  app/code/Magento/Quote/Model/Cart/CartTotalRepository.php
Labels: Auto-Tests: Not Required, Cleanup, Component: Quote, Progress: accept, Release Line: 2.3

#23474 Fixed tooltip missing at store view lable in Cms page and Cms block
  app/code/Magento/Cms/view/adminhtml/ui_component/cms_block_form.xml
  app/code/Magento/Cms/view/adminhtml/ui_component/cms_page_form.xml
Labels: Area: Frontend, Award: bug fix, Component: Cms, Progress: accept, Release Line: 2.3

#23477 Added quantity validation on Shipping Multiple Address Page
  app/code/Magento/Multishipping/view/frontend/templates/checkout/addresses.phtml
Labels: Area: Frontend, Auto-Tests: Not Covered, Award: bug fix, Component: Multishipping, Progress: accept, Release Line: 2.3

#23494 Removed editor from phone and zipcode
  app/code/Magento/Customer/view/adminhtml/ui_component/customer_listing.xml
Labels: Area: Frontend, Auto-Tests: Not Covered, Award: bug fix, Component: Customer, Progress: accept, Release Line: 2.3

#23310 magento/magento-2#23222: setup:upgrade should return failure when app…
  setup/src/Magento/Setup/Console/Command/UpgradeCommand.php
Labels: Auto-Tests: Not Covered, Component: Setup, Progress: accept, Release Line: 2.3

#23360 #23354 : Data saving problem error showing when leave blank qty and update it
  app/code/Magento/Multishipping/view/frontend/templates/checkout/addresses.phtml
Labels: Area: Frontend, Auto-Tests: Not Covered, Award: bug fix, Component: Multishipping, Progress: accept, Release Line: 2.3

#23427 23424: fixed search with 0
  app/code/Magento/CatalogSearch/Ui/DataProvider/Product/AddFulltextFilterToCollection.php
  app/code/Magento/Ui/Component/Filters/Type/Search.php
Labels: Award: bug fix, Community Insider: Magecom, Component: CatalogSearch, Component: Ui, Progress: accept, Release Line: 2.3, community-insider-contribution

#23496 Resolved + character issue in custom widget
  lib/internal/Magento/Framework/Filter/Template/Tokenizer/AbstractTokenizer.php
Labels: Component: Filter, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#20849 Fix truncateString
  app/code/Magento/Sales/Block/Adminhtml/Items/Column/Name.php
Labels: Award: bug fix, Component: Sales, Progress: accept, Release Line: 2.2

#15383 issue fixed #8258 - assign indices for all array inputs so that validation works properly
  dev/tests/functional/tests/app/Magento/CheckoutAgreements/Test/Block/Adminhtml/Block/Agreement/Edit/AgreementsForm.xml
  dev/tests/functional/tests/app/Magento/Customer/Test/Block/Form/CustomerForm.php
  dev/tests/functional/tests/app/Magento/Newsletter/Test/Block/Adminhtml/Queue/Edit/QueueForm.xml
  dev/tests/functional/tests/app/Magento/Reports/Test/Block/Adminhtml/Sales/Coupons/Filter.xml
  dev/tests/functional/tests/app/Magento/Reports/Test/Block/Adminhtml/Sales/TaxRule/Filter.xml
  dev/tests/functional/tests/app/Magento/Review/Test/Block/Adminhtml/Rating/Edit/RatingForm.xml
  dev/tests/functional/tests/app/Magento/Sales/Test/Block/Adminhtml/Report/Filter/Form.xml
  dev/tests/functional/tests/app/Magento/Widget/Test/Block/Adminhtml/Widget/Instance/Edit/Tab/ParametersType/RecentlyComparedProducts.xml
  dev/tests/functional/tests/app/Magento/Widget/Test/Block/Adminhtml/Widget/Instance/Edit/Tab/ParametersType/RecentlyViewedProducts.xml
  dev/tests/functional/tests/app/Magento/Widget/Test/Block/Adminhtml/WidgetForm.xml
  lib/web/mage/validation.js
  lib/web/mage/validation/validation.js
Labels: Area: Lib/Frontend, Progress: accept, Release Line: 2.3

#22658 Fixed #22545 Status downloadable product stays pending after succesfu…
  app/code/Magento/Downloadable/Observer/SaveDownloadableOrderItemObserver.php
Labels: Community Insider: Cedcommerce, Component: Downloadable, Progress: accept, Release Line: 2.3, community-insider-contribution

#23438 [Backport] Fix issue with incorrect payment translation in sales emails
  app/code/Magento/Sales/Model/Order/Creditmemo/Sender/EmailSender.php
  app/code/Magento/Sales/Model/Order/Email/Sender/CreditmemoCommentSender.php
  app/code/Magento/Sales/Model/Order/Email/Sender/CreditmemoSender.php
  app/code/Magento/Sales/Model/Order/Email/Sender/InvoiceCommentSender.php
  app/code/Magento/Sales/Model/Order/Email/Sender/InvoiceSender.php
  app/code/Magento/Sales/Model/Order/Email/Sender/OrderCommentSender.php
  app/code/Magento/Sales/Model/Order/Email/Sender/ShipmentCommentSender.php
  app/code/Magento/Sales/Model/Order/Email/Sender/ShipmentSender.php
  app/code/Magento/Sales/Model/Order/Invoice/Sender/EmailSender.php
  app/code/Magento/Sales/Model/Order/Shipment/Sender/EmailSender.php
Labels: Component: Sales, Port, Progress: accept, Release Line: 2.2

#23614 [Backport] Removed editor from phone and zipcode
  app/code/Magento/Customer/view/adminhtml/ui_component/customer_listing.xml
Labels: Area: Frontend, Component: Customer, Partner: Krish TechnoLabs, Port, Progress: accept, Release Line: 2.2, partners-contribution

#23226 Spacing issue for Gift message section in my account
  app/design/frontend/Magento/luma/Magento_Sales/web/css/source/_module.less
Labels: Area: Design/Frontend, Cleanup, Progress: accept, Release Line: 2.3

#23272 hide or show the select for regions instead of enabling/disabling in customer registration
  app/code/Magento/Checkout/view/frontend/web/js/region-updater.js
Labels: Area: Frontend, Component: Checkout, Progress: accept, Release Line: 2.3

#23593 A small fix to improve format customer acl xml.
  app/code/Magento/Customer/etc/acl.xml
Labels: Auto-Tests: Not Required, Cleanup, Component: Customer, Progress: accept, Release Line: 2.3

#23607 Default filter for reports set to past month
  app/code/Magento/Reports/Block/Adminhtml/Grid.php
Labels: Component: Reports, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#23603 [Backport] Issue #23522 UPS shipping booking and label generation gives error when shipper's street given more than 35 chars
  app/code/Magento/Ups/Model/Carrier.php
Labels: Auto-Tests: Not Covered, Component: Ups, Port, Progress: accept, Release Line: 2.2

#23612 [Backport] #23354 : Data saving problem error showing when leave blank qty and update it
  app/code/Magento/Multishipping/view/frontend/templates/checkout/addresses.phtml
Labels: Area: Frontend, Component: Multishipping, Partner: Krish TechnoLabs, Port, Progress: accept, Release Line: 2.2, partners-contribution

#23444 Fix missing attribute_id condition from filter
  app/code/Magento/Catalog/Ui/DataProvider/Product/ProductCollection.php
Labels: Award: bug fix, Component: Catalog, Progress: accept, Release Line: 2.3

#23657 [Backport] Spacing issue for Gift message section in my account
  app/design/frontend/Magento/luma/Magento_Sales/web/css/source/_module.less
Labels: Area: Design/Frontend, Partner: Krish TechnoLabs, Port, Progress: accept, Release Line: 2.2, partners-contribution

#23658 [Backport] [Fixed] Reset feature does not clear the date
  app/code/Magento/Ui/view/base/web/js/form/form.js
Labels: Area: Frontend, Component: Ui, Partner: Krish TechnoLabs, Port, Progress: accept, Release Line: 2.2, partners-contribution

#22510 [Backport] Fixed magento text swatch switches product image even if attribute feature is disabled
  app/code/Magento/Swatches/Block/Product/Renderer/Configurable.php
  app/code/Magento/Swatches/view/frontend/web/js/swatch-renderer.js
Labels: Area: Frontend, Auto-Tests: Not Covered, Component: Swatches, Partner: Krish TechnoLabs, Port, Progress: accept, Release Line: 2.2, partners-contribution

#23358 magento/magento2#23345: Creditmemo getOrder() method loads order incorrectly.
  app/code/Magento/Sales/Model/Order/Creditmemo.php
  app/code/Magento/Sales/Test/Unit/Model/Order/CreditmemoTest.php
Labels: Auto-Tests: Covered, Component: Sales, Progress: accept, Release Line: 2.3

#23459 magento/magento2#22814: Product stock alert - unsubscribe not working
  app/code/Magento/ProductAlert/Controller/Unsubscribe/Stock.php
Labels: Auto-Tests: Not Covered, Cleanup, Component: ProductAlert, Partner: ISM eCompany, Progress: accept, Release Line: 2.3, improvement, partners-contribution

#23598 [2.3] magento catalog:images:resize now Database Media Storage mode aware
  app/code/Magento/MediaStorage/Service/ImageResize.php
  app/code/Magento/MediaStorage/Test/Unit/Service/ImageResizeTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: MediaStorage, Progress: accept, Release Line: 2.3

#23650 [2.2][Backport] Transfer Encoding of emails changed to QUOTED-PRINTABLE
  dev/tests/integration/testsuite/Magento/Customer/Controller/AccountTest.php
  dev/tests/integration/testsuite/Magento/Newsletter/Model/SubscriberTest.php
  dev/tests/integration/testsuite/Magento/Sales/Controller/Adminhtml/Order/Create/SaveTest.php
  dev/tests/integration/testsuite/Magento/Sales/Controller/Adminhtml/Order/Creditmemo/AddCommentTest.php
  dev/tests/integration/testsuite/Magento/Sales/Controller/Adminhtml/Order/Creditmemo/SaveTest.php
  dev/tests/integration/testsuite/Magento/Sales/Controller/Adminhtml/Order/EmailTest.php
  dev/tests/integration/testsuite/Magento/Sales/Controller/Adminhtml/Order/Invoice/AddCommentTest.php
  dev/tests/integration/testsuite/Magento/Sales/Controller/Adminhtml/Order/Invoice/EmailTest.php
  dev/tests/integration/testsuite/Magento/Sales/Controller/Adminhtml/Order/Invoice/SaveTest.php
  dev/tests/integration/testsuite/Magento/Sales/Model/Order/CreateTest.php
  dev/tests/integration/testsuite/Magento/Shipping/Controller/Adminhtml/Order/Shipment/AddCommentTest.php
  dev/tests/integration/testsuite/Magento/Shipping/Controller/Adminhtml/Order/Shipment/SaveTest.php
  lib/internal/Magento/Framework/Mail/Message.php
  lib/internal/Magento/Framework/Mail/Test/Unit/MessageTest.php
Labels: Component: Mail, Port, Progress: accept, Release Line: 2.2

#14344 Fix generating product URL rewrites for anchor categories
  app/code/Magento/CatalogUrlRewrite/Model/Product/AnchorUrlRewriteGenerator.php
Labels: Component: CatalogUrlRewrite, Event: distributed-cd, Port, Progress: accept, Release Line: 2.2, bugfix

#23291 Optimized dev:urn-catalog:generate for PHPStorm
  app/code/Magento/Developer/Model/XmlCatalog/Format/PhpStorm.php
Labels: Community Insider: Elgentos, Component: Developer, Progress: accept, Release Line: 2.3, community-insider-contribution

#23592 [Unit] Fix broken unit tests
  app/code/Magento/Paypal/Test/Unit/Model/Payflow/TransparentTest.php
  app/code/Magento/Reports/Model/ResourceModel/Product/Collection.php
  app/code/Magento/Reports/Test/Unit/Model/ResourceModel/Product/CollectionTest.php
  app/code/Magento/Vault/Test/Unit/Model/Method/VaultTest.php
  dev/tests/static/framework/Magento/TestFramework/Dependency/Route/RouteMapper.php
  lib/internal/Magento/Framework/App/Utility/Files.php
Labels: Component: App, Component: Paypal, Component: Reports, Component: Vault, Progress: accept, Release Line: 2.3

#23649 [2.3] Transfer Encoding of emails changed to QUOTED-PRINTABLE
  dev/tests/integration/testsuite/Magento/Customer/Controller/AccountTest.php
  dev/tests/integration/testsuite/Magento/Newsletter/Model/SubscriberTest.php
  dev/tests/integration/testsuite/Magento/Sales/Controller/Adminhtml/Order/Create/SaveTest.php
  dev/tests/integration/testsuite/Magento/Sales/Controller/Adminhtml/Order/Creditmemo/AddCommentTest.php
  dev/tests/integration/testsuite/Magento/Sales/Controller/Adminhtml/Order/Creditmemo/SaveTest.php
  dev/tests/integration/testsuite/Magento/Sales/Controller/Adminhtml/Order/EmailTest.php
  dev/tests/integration/testsuite/Magento/Sales/Controller/Adminhtml/Order/Invoice/AddCommentTest.php
  dev/tests/integration/testsuite/Magento/Sales/Controller/Adminhtml/Order/Invoice/EmailTest.php
  dev/tests/integration/testsuite/Magento/Sales/Controller/Adminhtml/Order/Invoice/SaveTest.php
  dev/tests/integration/testsuite/Magento/Sales/Model/Order/CreateTest.php
  dev/tests/integration/testsuite/Magento/Shipping/Controller/Adminhtml/Order/Shipment/AddCommentTest.php
  dev/tests/integration/testsuite/Magento/Shipping/Controller/Adminhtml/Order/Shipment/SaveTest.php
  lib/internal/Magento/Framework/Mail/Message.php
  lib/internal/Magento/Framework/Mail/Test/Unit/MessageTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: Mail, Progress: accept, Release Line: 2.3

#23652 Add missing getClass() to image.phtml so it is more like image_with_borders.phtml
  app/code/Magento/Catalog/view/frontend/templates/product/image.phtml
Labels: Area: Frontend, Auto-Tests: Not Required, Component: Catalog, Progress: accept, Release Line: 2.3

#23710 [2.3] Improve Database Media Storage Configuration settings usability
  app/code/Magento/MediaStorage/etc/adminhtml/system.xml
Labels: Component: MediaStorage, Progress: accept, Release Line: 2.3

#23735 Fixed typo in deploy module README.md
  app/code/Magento/Deploy/README.md
Labels: Auto-Tests: Not Required, Cleanup, Component: Deploy, Progress: accept, Release Line: 2.3

#22717 Getting 404 url while updating quantity on multiple address cart page
  app/code/Magento/Multishipping/view/frontend/templates/checkout/addresses.phtml
Labels: Area: Frontend, Community Insider: Cedcommerce, Component: Multishipping, Progress: accept, Release Line: 2.3, community-insider-contribution

#23166 Fix 22085
  app/design/frontend/Magento/blank/Magento_Swatches/web/css/source/_module.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Partner: Ranosys Technologies, Progress: accept, Release Line: 2.3, partners-contribution

#23524 remove html tag from option html from order page
  app/code/Magento/Sales/view/adminhtml/templates/items/column/name.phtml
Labels: Area: Frontend, Auto-Tests: Not Covered, Component: Sales, Progress: accept, Release Line: 2.3

#22891 Check if setting is disabled on default scope
  app/code/Magento/Config/Model/Config/Reader/Source/Deployed/SettingChecker.php
  app/code/Magento/Config/Test/Unit/Model/Config/Reader/Source/Deployed/SettingCheckerTest.php
Labels: Auto-Tests: Not Covered, Component: Config, Progress: accept, Release Line: 2.3

#23099 fix customer data race condition when bundling is enabled
  app/code/Magento/Customer/view/frontend/web/js/customer-data.js
Labels: Area: Frontend, Auto-Tests: Not Required, Component: Customer, Partner: Brandung, Progress: accept, Release Line: 2.3, partners-contribution

#23688 Resolve "Automatically Invoice All Items" is "Yes" but no invoice is created (Zero Subtotal Checkout)
  app/code/Magento/OfflinePayments/etc/config.xml
Labels: Award: bug fix, Component: OfflinePayments, Progress: accept, Release Line: 2.3

#23753 Add Magento\ConfigurableProduct\Pricing\Price\PriceResolverInterface to di.xml in issue23717
  app/code/Magento/ConfigurableProduct/etc/di.xml
Labels: Auto-Tests: Not Required, Component: ConfigurableProduct, Progress: accept, Release Line: 2.3

#22984 magento/magento2#14071: Not able to change a position of last two rel…
  app/code/Magento/Catalog/Test/Mftf/Test/AdminSimpleSetEditRelatedProductsTest.xml
  app/code/Magento/Ui/view/base/web/templates/dynamic-rows/templates/grid.html
Labels: Area: Frontend, Award: bug fix, Component: Catalog, Component: Ui, Partner: ISM eCompany, Progress: accept, Release Line: 2.3, partners-contribution

#23666 magento/magento2#: Fix storeId param type in the EmailNotification::newAccount, EmailNotificationInterface::newAccount methods
  app/code/Magento/Customer/Model/EmailNotification.php
  app/code/Magento/Customer/Model/EmailNotificationInterface.php
Labels: Auto-Tests: Not Required, Cleanup, Component: Customer, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#23681 Resolve Frontend Label For Custom Order Status not Editable in Magento Admin in Single Store Mode
  app/code/Magento/Sales/Block/Adminhtml/Order/Status/NewStatus/Form.php
Labels: Award: bug fix, Component: Sales, Progress: accept, Release Line: 2.3

#23752 [2.3] Database Media Storage : PDF Logo file now database aware
  app/code/Magento/Sales/Model/Order/Pdf/AbstractPdf.php
  app/code/Magento/Sales/Test/Unit/Model/Order/Pdf/InvoiceTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: Sales, Progress: accept, Release Line: 2.3

#23779 Resolve "Discount Amount" field is validated after the page load without any action from user in Create New Catalog Rule form issue23777
  app/code/Magento/CatalogRule/view/adminhtml/ui_component/catalog_rule_form.xml
Labels: Area: Frontend, Award: bug fix, Component: CatalogRule, Progress: accept, Release Line: 2.3

#23787 Fix for PHP_CodeSniffer error after app:config:dump
  lib/internal/Magento/Framework/App/DeploymentConfig/Writer/PhpFormatter.php
Labels: Component: App, Progress: accept, Release Line: 2.3

#23790 magento/magento2#23789: CommentLevelsSniff works incorrect with @magento_import statement.
  dev/tests/static/framework/Magento/Sniffs/Less/CommentLevelsSniff.php
Labels: Progress: accept, Release Line: 2.3

#23794 Remove duplicate declaration
  app/code/Magento/Backend/Block/Page/RequireJs.php
Labels: Component: Backend, Progress: accept, Release Line: 2.3

#23803 Resolve Toggle icon not working in create configuration Product creation Page issue 22702
  app/design/adminhtml/Magento/backend/Magento_Backend/web/css/source/module/main/_collapsible-blocks.less
Labels: Area: Design/Frontend, Area: Frontend, Auto-Tests: Not Required, Award: bug fix, Progress: accept, Release Line: 2.3
