Repository magento/magento2, pull requests merged in 2019-04, with the labels that each got.

#21944 [Backport] Fixed calculation of 'Total' column under "Last Orders" listing on the admin dashboard
  app/code/Magento/Reports/Model/ResourceModel/Order/Collection.php
Labels: Component: Reports, Partner: Atwix, Port, Progress: accept, Release Line: 2.2, partners-contribution

#22039 [Backport] Added custom_options file upload directory to .gitignore.
  .gitignore
Labels: Partner: Two Jay, Port, Progress: accept, Release Line: 2.2, partners-contribution

#22069 [Backport] Add argument to show filter text in URL rewrite grid after click on back button
  app/code/Magento/UrlRewrite/view/adminhtml/layout/adminhtml_url_rewrite_index.xml
Labels: Area: Frontend, Component: UrlRewrite, Partner: Two Jay, Port, Progress: accept, Release Line: 2.2, partners-contribution

#21512 [Backport] Fix: Cart is emptied when enter is pressed after changing product quantity
  app/code/Magento/Checkout/view/frontend/web/js/shopping-cart.js
Labels: Area: Frontend, Component: Checkout, Port, Progress: accept, Release Line: 2.2

#22037 [Backport] Root exception not logged on QuoteManagement::submitQuote
  app/code/Magento/Quote/Model/QuoteManagement.php
Labels: Component: Quote, Partner: TechDivision, Port, Progress: accept, Release Line: 2.2, partners-contribution

#22086 [Backport] Fix eav form foreach error #21134
  app/code/Magento/Eav/Model/Form.php
Labels: Component: Eav, Partner: Mediotype, Port, Progress: accept, Release Line: 2.2, partners-contribution

#19765 Resolved undefined index issue for import adapter
  app/code/Magento/ImportExport/Model/Import/Entity/AbstractEntity.php
Labels: Component: ImportExport, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#21896 Contact us layout in I-pad not proper
  app/code/Magento/Contact/view/frontend/web/css/source/_module.less
Labels: Area: Frontend, Component: Contact, Partner: Two Jay, Progress: accept, Release Line: 2.3, partners-contribution

#21927 Removing obsolete non-English translation files, these aren't transla…
  app/code/Magento/Developer/i18n/de_DE.csv
  app/code/Magento/Developer/i18n/es_ES.csv
  app/code/Magento/Developer/i18n/fr_FR.csv
  app/code/Magento/Developer/i18n/nl_NL.csv
  app/code/Magento/Developer/i18n/pt_BR.csv
  app/code/Magento/Developer/i18n/zh_Hans_CN.csv
  app/code/Magento/Msrp/i18n/de_DE.csv
  app/code/Magento/Msrp/i18n/es_ES.csv
  app/code/Magento/Msrp/i18n/fr_FR.csv
  app/code/Magento/Msrp/i18n/nl_NL.csv
  app/code/Magento/Msrp/i18n/pt_BR.csv
  app/code/Magento/Msrp/i18n/zh_Hans_CN.csv
  app/code/Magento/ProductVideo/i18n/de_DE.csv
  app/code/Magento/ProductVideo/i18n/es_ES.csv
  app/code/Magento/ProductVideo/i18n/fr_FR.csv
  app/code/Magento/ProductVideo/i18n/nl_NL.csv
  app/code/Magento/ProductVideo/i18n/pt_BR.csv
  app/code/Magento/ProductVideo/i18n/zh_Hans_CN.csv
  app/code/Magento/Search/i18n/de_DE.csv
  app/code/Magento/Search/i18n/es_ES.csv
  app/code/Magento/Search/i18n/fr_FR.csv
  app/code/Magento/Search/i18n/nl_NL.csv
  app/code/Magento/Search/i18n/pt_BR.csv
  app/code/Magento/Search/i18n/zh_Hans_CN.csv
  app/code/Magento/Swatches/i18n/de_DE.csv
  app/code/Magento/Swatches/i18n/es_ES.csv
  app/code/Magento/Swatches/i18n/fr_FR.csv
  app/code/Magento/Swatches/i18n/nl_NL.csv
  app/code/Magento/Swatches/i18n/pt_BR.csv
  app/code/Magento/Swatches/i18n/zh_Hans_CN.csv
  app/code/Magento/Ui/i18n/de_DE.csv
  app/code/Magento/Ui/i18n/es_ES.csv
  app/code/Magento/Ui/i18n/fr_FR.csv
  app/code/Magento/Ui/i18n/nl_NL.csv
  app/code/Magento/Ui/i18n/pt_BR.csv
  app/code/Magento/Ui/i18n/zh_Hans_CN.csv
Labels: Component: Developer, Component: Msrp, Component: ProductVideo, Component: Search, Component: Swatches, Progress: accept, Release Line: 2.3

#21940 [UI] Adjusting the Magento_Ui typos
  app/code/Magento/Ui/view/base/web/js/lib/core/storage/local.js
  app/code/Magento/Ui/view/base/web/js/lib/knockout/template/renderer.js
  app/code/Magento/Ui/view/base/web/js/lib/logger/logger-utils.js
  app/code/Magento/Ui/view/base/web/js/lib/validation/validator.js
  app/code/Magento/Ui/view/base/web/js/lib/view/utils/dom-observer.js
Labels: Area: Frontend, Cleanup, Component: Ui, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#22026 Removed two time zlib.output_compression on section
  pub/.htaccess
Labels: Cleanup, Progress: accept, Release Line: 2.3

#22055 Correct spelling
  lib/internal/Magento/Framework/Config/ConfigOptionsListConstants.php
Labels: Cleanup, Component: Config, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#22056 Spelling Correction
  CHANGELOG.md
Labels: Cleanup, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#22075 Add space after asterisk to show as list
  app/code/Magento/Paypal/README.md
Labels: Cleanup, Component: Paypal, Progress: accept, Release Line: 2.3

#18933 Update typeReferenceBlock definition
  lib/internal/Magento/Framework/View/Layout/etc/elements.xsd
Labels: Component: View, Progress: accept, Release Line: 2.3

#21008 [Widget] Fixing the multidimensional array as value for the widget's parameter
  app/code/Magento/Widget/Block/Adminhtml/Widget/Options.php
  lib/internal/Magento/Framework/Data/Form/Element/Label.php
Labels: Award: bug fix, Component: Data, Component: Widget, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#21545 Ensure `__toString()` catches all error types
  app/code/Magento/Ui/TemplateEngine/Xhtml/Result.php
Labels: Component: Ui, Progress: accept, Release Line: 2.3

#21754 Fixes nested array for used products cache key
  app/code/Magento/ConfigurableProduct/Model/Product/Type/Configurable.php
Labels: Component: ConfigurableProduct, Progress: accept, Release Line: 2.3

#21818 Remove all marketing get params on Varnish to minimize the cache objects
  app/code/Magento/PageCache/etc/varnish4.vcl
  app/code/Magento/PageCache/etc/varnish5.vcl
Labels: Component: PageCache, Progress: accept, Release Line: 2.3

#21928 Set minimum qty 1 after cast to int
  app/code/Magento/CatalogInventory/Model/StockStateProvider.php
Labels: Award: bug fix, Component: CatalogInventory, Progress: accept, Release Line: 2.3

#21948 Fixed WhiteSpace issue in product grid
  app/design/frontend/Magento/luma/Magento_Catalog/web/css/source/module/_listings.less
Labels: Area: Design/Frontend, Award: bug fix, Progress: accept, Release Line: 2.3

#21966 Remove timestap from current date when saving product special price from date
  app/code/Magento/Catalog/Observer/SetSpecialPriceStartDate.php
Labels: Component: Catalog, Partner: H&O, Progress: accept, Release Line: 2.3, partners-contribution

#22054 fix strpos args order
  dev/tests/api-functional/testsuite/Magento/Analytics/Api/LinkProviderTest.php
Labels: Progress: accept, Release Line: 2.3

#20951 Direct STDERR output when listing crontab to /dev/null
  lib/internal/Magento/Framework/Crontab/CrontabManager.php
  lib/internal/Magento/Framework/Crontab/Test/Unit/CrontabManagerTest.php
Labels: Component: Crontab, Progress: accept, Release Line: 2.3

#21999 #21998 Magento/ImportExport/Model/Import has _coreConfig declared dyn…
  app/code/Magento/ImportExport/Model/Import.php
Labels: Cleanup, Component: ImportExport, Progress: accept, Release Line: 2.3

#22081 phpcs error on rule classes - must be of the type integer
  dev/tests/static/framework/Magento/Sniffs/Annotation/AnnotationFormatValidator.php
  dev/tests/static/framework/Magento/Sniffs/Annotation/ClassAnnotationStructureSniff.php
Labels: Cleanup, Progress: accept, Release Line: 2.3

#21819 [Backport] Remove all marketing get params on Varnish to minimize the cache objects
  app/code/Magento/PageCache/etc/varnish4.vcl
  app/code/Magento/PageCache/etc/varnish5.vcl
Labels: Component: PageCache, Port, Progress: accept, Release Line: 2.2

#22070 [Backport] Populate label elements for street address fields in checkout
  app/code/Magento/Checkout/Block/Checkout/AttributeMerger.php
  app/design/frontend/Magento/blank/Magento_Customer/web/css/source/_module.less
  app/design/frontend/Magento/luma/Magento_Customer/web/css/source/_module.less
Labels: Area: Design/Frontend, Component: Checkout, Partner: Two Jay, Port, Progress: accept, Release Line: 2.2, partners-contribution

#20392 Backport. Success message is not showing when creating invoice & shipment simultaniously #
  app/code/Magento/Sales/view/frontend/email/shipment_new.html
  app/code/Magento/Sales/view/frontend/email/shipment_new_guest.html
  app/code/Magento/Sales/view/frontend/layout/sales_email_order_shipment_track.xml
  app/design/frontend/Magento/luma/Magento_Sales/email/shipment_new.html
  app/design/frontend/Magento/luma/Magento_Sales/email/shipment_new_guest.html
Labels: Area: Design/Frontend, Area: Frontend, Component: Sales, Partner: ISM eCompany, Port, Progress: accept, Release Line: 2.2, partners-contribution

#21945 [Backport] Trigger contentUpdate on reviews load
  app/code/Magento/Review/view/frontend/web/js/process-reviews.js
Labels: Area: Frontend, Component: Review, Partner: Atwix, Port, Progress: accept, Release Line: 2.2, partners-contribution

#22140 Backport for Magento 2.2 - Fixes variables in configuration not being…
  app/code/Magento/Config/Block/System/Config/Form.php
Labels: Component: Config, Port, Progress: accept, Release Line: 2.2

#21083 Turn on edit mode for product repository when adding children
  app/code/Magento/ConfigurableProduct/Model/LinkManagement.php
Labels: Award: bug fix, Component: ConfigurableProduct, Progress: accept, Release Line: 2.3

#21540 Move Magento\Framework\HTTP\ClientInterface preference to app/etc/di.xml
  app/code/Magento/ReleaseNotification/etc/di.xml
  app/etc/di.xml
Labels: Component: ReleaseNotification, Partner: Vaimo, Progress: accept, Release Line: 2.3, partners-contribution

#21932 Admin-Order-Create-Set-Save-address-checkbox-true-as-default-#106
  app/code/Magento/Sales/view/adminhtml/templates/order/create/form/address.phtml
Labels: Area: Frontend, Component: Sales, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#22002 Removed unwanted interface implementation
  app/code/Magento/Backend/Controller/Adminhtml/Dashboard/ProductsViewed.php
  dev/tests/integration/testsuite/Magento/Backend/Controller/Adminhtml/Dashboard/ProductsViewedTest.php
Labels: Component: Backend, Progress: accept, Release Line: 2.3

#22135 Fix broken link in README.md
  README.md
Labels: Award: bug fix, Cleanup, Progress: accept, Release Line: 2.3

#18980 [Backport] Fix for currency update in crontab area
  app/code/Magento/Directory/Model/CurrencyConfig.php
  app/code/Magento/Directory/Test/Unit/Model/CurrencyConfigTest.php
  dev/tests/integration/testsuite/Magento/Directory/Model/CurrencyConfigTest.php
Labels: Component: Directory, Port, Progress: accept, Release Line: 2.2

#20844 [Backport] Fixed Minicart close button overlapping
  app/design/frontend/Magento/luma/web/css/source/components/_modals_extend.less
Labels: Area: Design/Frontend, Partner: Krish TechnoLabs, Port, Progress: accept, Release Line: 2.2, partners-contribution

#22181 [Backport] Contact us layout in I-pad not proper
  app/code/Magento/Contact/view/frontend/web/css/source/_module.less
Labels: Area: Frontend, Component: Contact, Partner: Two Jay, Port, Progress: accept, Release Line: 2.2, partners-contribution

#22232 [Backport]Magento should create log if an observer not implement ObserverInterface
  lib/internal/Magento/Framework/Event/Invoker/InvokerDefault.php
  lib/internal/Magento/Framework/Event/Test/Unit/Invoker/InvokerDefaultTest.php
Labels: Component: Event, Port, Progress: accept, Release Line: 2.2

#21821 Aligning tooltip action on dashboard
  app/design/adminhtml/Magento/backend/web/css/source/forms/fields/_field-tooltips.less
Labels: Area: Design/Frontend, Partner: Imagination Media, Progress: accept, Release Line: 2.3, partners-contribution

#22046 FIX for issue #21916 - Elasticsearch6 generation does not exist
  lib/internal/Magento/Framework/Code/Generator.php
  lib/internal/Magento/Framework/Code/Test/Unit/GeneratorTest.php
Labels: Award: bug fix, Award: special achievement, Component: Code, Partner: MageSpecialist, Progress: accept, Release Line: 2.3, partners-contribution

#22091 Fixed assignment of the guest customer to the guest group when 'Automatic Assignment by VAT ID' is enabled
  app/code/Magento/Quote/Observer/Frontend/Quote/Address/CollectTotalsObserver.php
  app/code/Magento/Quote/Test/Unit/Observer/Frontend/Quote/Address/CollectTotalsObserverTest.php
Labels: Component: Quote, Progress: accept, Release Line: 2.3

#22117 Previous scrolling to invalid form element is not being canceled on h…
  lib/web/mage/validation.js
Labels: Area: Lib/Frontend, Award: bug fix, Progress: accept, Release Line: 2.3

#22128 Fixes issue - #21824. "save_parameters_in_session" set to true for admin user grid
  app/code/Magento/User/view/adminhtml/layout/adminhtml_user_grid_block.xml
Labels: Area: Frontend, Award: bug fix, Component: User, Progress: accept, Release Line: 2.3

#22151 Update PatchApplierTest.php - Corrected Spelling
  lib/internal/Magento/Framework/Setup/Test/Unit/Patch/PatchApplierTest.php
Labels: Cleanup, Component: Setup, Progress: accept, Release Line: 2.3

#22171 unregister phar only when appropriate
  app/bootstrap.php
Labels: Progress: accept, Release Line: 2.3

#22184 Removing incorrect less selector '.abs-cleafix', it has a typo + it i…
  app/design/adminhtml/Magento/backend/web/css/source/forms/_temp.less
Labels: Area: Design/Frontend, Cleanup, Progress: accept, Release Line: 2.3

#22195 22166: updated README to follow-up the switch from Bugcrowd to hackerone
  README.md
Labels: Cleanup, Progress: accept, Release Line: 2.3

#22201 Correct spelling
  app/code/Magento/Bundle/Block/Checkout/Cart/Item/Renderer.php
Labels: Cleanup, Component: Bundle, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#22205 Translated exception message
  app/code/Magento/Braintree/Controller/Paypal/PlaceOrder.php
Labels: Component: Braintree, Progress: accept, Release Line: 2.3

#22207 Translate comment tag in DHL config settings
  app/code/Magento/Dhl/etc/adminhtml/system.xml
  app/code/Magento/Dhl/i18n/en_US.csv
Labels: Component: Dhl, Progress: accept, Release Line: 2.3

#22210 Typography_change
  app/code/Magento/Bundle/Block/Adminhtml/Catalog/Product/Edit/Tab/Attributes/Extend.php
Labels: Cleanup, Component: Bundle, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#22239 Spelling Correction
  CHANGELOG.md
Labels: Cleanup, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#22258 Use proper variables for tooltip styles on tablet devices
  app/design/frontend/Magento/blank/Magento_Checkout/web/css/source/module/checkout/_tooltip.less
Labels: Area: Design/Frontend, Progress: accept, Release Line: 2.3

#19530 Fixed fatal error if upgrading from Magento v2.0.0 to v2.3 and non system attributes missing
  app/code/Magento/ConfigurableProduct/Setup/Patch/Data/InstallInitialConfigurableAttributes.php
Labels: Component: ConfigurableProduct, Progress: accept, Release Line: 2.3

#21501 Same product quantity not increment when added with guest user. #21375
  app/code/Magento/Quote/Model/Quote/Item/Compare.php
Labels: Component: Quote, Progress: accept, Release Line: 2.3

#22220 Remove an unused variable from order_list fixture in the integration test suite.
  dev/tests/integration/testsuite/Magento/Sales/_files/order_list.php
Labels: Cleanup, Partner: Vaimo, Progress: accept, Release Line: 2.3, partners-contribution

#20107 [2.2] Add support for validation message callback
  app/code/Magento/Ui/view/base/web/js/lib/validation/validator.js
Labels: Area: Frontend, Component: Ui, Partner: HumanElement, Port, Progress: accept, Release Line: 2.2, partners-contribution

#21203 [Backport] icon text showing feature
  lib/web/css/source/lib/_icons.less
Labels: Area: Lib/Frontend, Partner: Krish TechnoLabs, Port, Progress: accept, Release Line: 2.2, partners-contribution

#21946 [Backport] Secure errors directory
  nginx.conf.sample
  pub/errors/.htaccess
Labels: Partner: Two Jay, Port, Progress: accept, Release Line: 2.2, partners-contribution

#22078 [backport] issue - 21507 Change photo only if user swipe horizontally
  lib/web/fotorama/fotorama.js
  lib/web/fotorama/fotorama.min.js
Labels: Area: Lib/Frontend, Port, Progress: accept, Release Line: 2.2

#22174 WYSIWYG Image-Popup is not working correctly with multipleEditors
  lib/web/mage/adminhtml/wysiwyg/tiny_mce/setup.js
Labels: Area: Lib/Frontend, Progress: accept, Release Line: 2.2

#22250 [Backport] Fix gallery event observer
  lib/web/mage/gallery/gallery.js
Labels: Area: Lib/Frontend, Port, Progress: accept, Release Line: 2.2

#22267 magento2-22238: removed backward incompatible change from the options…
  app/code/Magento/Catalog/Block/Product/View/Options/Type/Select.php
Labels: Component: Catalog, Partner: Atwix, Progress: accept, Release Line: 2.2, partners-contribution

#18443 [Backport][2.2] Reworked gallery.phtml to move generation of gallery json strings to own block functions
  app/code/Magento/Catalog/Block/Product/View/GalleryOptions.php
  app/code/Magento/Catalog/Test/Unit/Block/Product/View/GalleryOptionsTest.php
  app/code/Magento/Catalog/view/frontend/layout/catalog_product_view.xml
  app/code/Magento/Catalog/view/frontend/templates/product/view/gallery.phtml
  dev/tests/integration/testsuite/Magento/Catalog/Block/Product/View/GalleryTest.php
Labels: Area: Frontend, Component: Catalog, Port, Progress: accept, Release Line: 2.2

#22295 [Backport] Turn on edit mode for product repository when adding children
  app/code/Magento/ConfigurableProduct/Model/LinkManagement.php
Labels: Component: ConfigurableProduct, Partner: Two Jay, Port, Progress: accept, Release Line: 2.2, partners-contribution

#20378 12386: Order Status resets to default Status after Partial Refund.
  app/code/Magento/Sales/Model/Order/Payment.php
  app/code/Magento/Sales/Model/RefundOrder.php
  app/code/Magento/Sales/Test/Unit/Model/Order/PaymentTest.php
  app/code/Magento/Sales/Test/Unit/Model/RefundOrderTest.php
  dev/tests/api-functional/testsuite/Magento/Sales/Service/V1/RefundOrderTest.php
  dev/tests/integration/testsuite/Magento/Sales/Controller/Adminhtml/Order/Creditmemo/SaveTest.php
  dev/tests/integration/testsuite/Magento/Sales/_files/order_with_invoice_and_custom_status.php
  dev/tests/integration/testsuite/Magento/Sales/_files/order_with_invoice_and_custom_status_rollback.php
Labels: Component: Sales, Progress: accept, Release Line: 2.3

#21869 Fix importFromArray by setting _isCollectionLoaded to true after import
  app/code/Magento/Eav/Model/Entity/Collection/AbstractCollection.php
Labels: Award: bug fix, Component: Eav, Partner: MageSpecialist, Progress: accept, Release Line: 2.3, partners-contribution

#22031 Fixed typo error in sales grid at admin
  app/code/Magento/Sales/view/adminhtml/ui_component/sales_order_creditmemo_grid.xml
  app/code/Magento/Sales/view/adminhtml/ui_component/sales_order_shipment_grid.xml
  app/code/Magento/Sales/view/adminhtml/ui_component/sales_order_view_creditmemo_grid.xml
  app/code/Magento/Sales/view/adminhtml/ui_component/sales_order_view_shipment_grid.xml
Labels: Area: Frontend, Cleanup, Component: Sales, Progress: accept, Release Line: 2.3

#22160 Remove duplicate styling
  app/design/frontend/Magento/blank/Magento_Catalog/web/css/source/_module.less
Labels: Area: Design/Frontend, Cleanup, Partner: MediaCT, Progress: accept, Release Line: 2.3, partners-contribution

#22197 Fix > Exception #0 (BadMethodCallException): Missing required argument $msrpPriceCalculators of Magento\Msrp\Pricing\MsrpPriceCalculator.
  app/code/Magento/Msrp/Pricing/MsrpPriceCalculator.php
Labels: Award: bug fix, Component: Msrp, Progress: accept, Release Line: 2.3

#22340 Fixed Value of created_at and updated_at columns
  app/code/Magento/Ui/etc/db_schema.xml
Labels: Award: bug fix, Community Insider: Cedcommerce, Component: Ui, Progress: accept, Release Line: 2.3, community-insider-contribution

#22357 Correct spelling
  app/design/adminhtml/Magento/backend/web/css/source/forms/_fields.less
Labels: Area: Design/Frontend, Cleanup, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#22072 [Backport] Bug fix for #21753 (2.2-develop)
  app/code/Magento/Downloadable/Observer/SaveDownloadableOrderItemObserver.php
Labels: Component: Downloadable, Port, Progress: accept, Release Line: 2.2

#21968 Layered Navigation: “Equalize product count” not working as expected
  app/code/Magento/CatalogSearch/Model/Layer/Filter/Decimal.php
Labels: Award: bug fix, Component: CatalogSearch, Progress: accept, Release Line: 2.3

#22133 setAttributeSetFilter accepts both integer and integer-array
  app/code/Magento/Eav/Model/ResourceModel/Entity/Attribute/Collection.php
Labels: Cleanup, Component: Eav, Progress: accept, Release Line: 2.3

#22154 Fiexed 22152 - Click on search icon it does not working on admin grid sticky header
  app/code/Magento/Ui/view/base/web/js/grid/search/search.js
  app/code/Magento/Ui/view/base/web/templates/grid/search/search.html
Labels: Area: Frontend, Award: bug fix, Component: Ui, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#22200 fatalErrorHandler returns 500 only on fatal errors
  pub/health_check.php
Labels: Progress: accept, Release Line: 2.3

#22226 Remove all marketing get params on Varnish to minimize the cache objects (added facebook and bronto parameter)
  app/code/Magento/PageCache/etc/varnish4.vcl
  app/code/Magento/PageCache/etc/varnish5.vcl
Labels: Component: PageCache, Progress: accept, Release Line: 2.3

#22265 Show the correct subtotal amount for partial creditmemo email
  app/code/Magento/Sales/view/frontend/templates/email/items/creditmemo/default.phtml
Labels: Area: Frontend, Award: bug fix, Component: Sales, Progress: accept, Release Line: 2.3

#22281 Fixed "Please specify the admin custom URL" error on app:config:import CLI command
  app/code/Magento/Config/Model/Config/Backend/Admin/Usecustom.php
Labels: Award: bug fix, Component: Config, Partner: Mediotype, Progress: accept, Release Line: 2.3, partners-contribution

#22298 Alignment Issue While Editing Order Data containing Downlodable Products with "Links can be purchased separately" enabled in Admin Section
  app/code/Magento/Downloadable/view/adminhtml/templates/product/composite/fieldset/downloadable.phtml
Labels: Area: Frontend, Cleanup, Component: Downloadable, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#22318 #21747 Fix catalog_product_flat_data attribute value for store during indexer
  app/code/Magento/Catalog/Model/Indexer/Product/Flat/TableBuilder.php
Labels: Award: bug fix, Community Insider: Magecom, Component: Catalog, Event: cdkyiv2019, Progress: accept, Release Line: 2.3, community-insider-contribution

#22320 Removed redundant Gallery subscription for catalog rules
  app/code/Magento/CatalogRule/etc/mview.xml
Labels: Component: CatalogRule, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#22332 Fixes a less compilation error: '.no-link a' isn't defined when .emai…
  app/design/frontend/Magento/blank/Magento_Sales/web/css/source/_email.less
  app/design/frontend/Magento/luma/Magento_Sales/web/css/source/_email.less
Labels: Area: Design/Frontend, Award: bug fix, Progress: accept, Release Line: 2.3

#22339 Spelling Mistake in Setup > Patch
  lib/internal/Magento/Framework/Setup/Patch/DependentPatchInterface.php
Labels: Cleanup, Component: Setup, Progress: accept, Release Line: 2.3

#22362 [Fixed] Category Update without "name" cannot be saved in scope "all" with REST API
  app/code/Magento/Catalog/Api/Data/CategoryInterface.php
Labels: Award: bug fix, Component: Catalog, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#22282 [Backport] Fixed "Please specify the admin custom URL" error on app:config:import CLI command
  app/code/Magento/Config/Model/Config/Backend/Admin/Usecustom.php
Labels: Component: Config, Partner: Mediotype, Port, Progress: accept, Release Line: 2.2, partners-contribution

#22422 Backport - Fix importFromArray by setting _isCollectionLoaded to true after import #21869
  app/code/Magento/Eav/Model/Entity/Collection/AbstractCollection.php
Labels: Component: Eav, Partner: MageSpecialist, Port, Progress: accept, Release Line: 2.2, partners-contribution

#22440 [Backport] [Fixed] Category Update without "name" cannot be saved in scope "all" with REST API
  app/code/Magento/Catalog/Api/Data/CategoryInterface.php
Labels: Component: Catalog, Partner: Krish TechnoLabs, Port, Progress: accept, Release Line: 2.2, partners-contribution

#22441 [Backport] Fiexed 22152 - Click on search icon it does not working on admin grid sticky header
  app/code/Magento/Ui/view/base/web/js/grid/search/search.js
  app/code/Magento/Ui/view/base/web/templates/grid/search/search.html
Labels: Area: Frontend, Component: Ui, Partner: Krish TechnoLabs, Port, Progress: accept, Release Line: 2.2, partners-contribution

#22448 [Backport] Translated exception message
  app/code/Magento/Braintree/Controller/Paypal/PlaceOrder.php
Labels: Component: Braintree, Port, Progress: accept, Release Line: 2.2

#22451 [Backport] Translate comment tag in DHL config settings
  app/code/Magento/Dhl/etc/adminhtml/system.xml
  app/code/Magento/Dhl/i18n/en_US.csv
Labels: Component: Dhl, Port, Progress: accept, Release Line: 2.2

#20174 Fix issues inserting Widgets with nested WYSIWYGs
  lib/web/mage/adminhtml/wysiwyg/widget.js
Labels: Area: Lib/Frontend, Progress: accept, Release Line: 2.3

#21756 Fixes race condition when building merged css/js file during simultaneous requests
  lib/internal/Magento/Framework/View/Asset/MergeStrategy/Direct.php
  lib/internal/Magento/Framework/View/Test/Unit/Asset/MergeStrategy/DirectTest.php
Labels: Component: View, Partner: Crimson Agility, Progress: accept, Release Line: 2.3, partners-contribution

#21816 #21779 Adminhtml textarea field doesn't accept maxlength
  lib/internal/Magento/Framework/Data/Form/Element/Textarea.php
  lib/internal/Magento/Framework/Data/Test/Unit/Form/Element/TextareaTest.php
Labels: Community Insider: Magecom, Component: Data, Progress: accept, Release Line: 2.3, community-insider-contribution

#22233 [Fixed] Full Tax Summary missing calculation Admin create order
  app/code/Magento/Sales/view/adminhtml/templates/order/create/totals/tax.phtml
Labels: Area: Frontend, Component: Sales, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#22263 Prevented /Magento/Sales/Model/Service/InvoiceService.php incorrectly…
  app/code/Magento/Sales/Model/Service/InvoiceService.php
Labels: Award: bug fix, Component: Sales, Progress: accept, Release Line: 2.3

#22420 Correct spelling
  app/code/Magento/Catalog/Model/Product/Gallery/CreateHandler.php
Labels: Cleanup, Component: Catalog, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#22421 Spelling correction
  CHANGELOG.md
Labels: Cleanup, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#22453 [Backport]Layered Navigation: “Equalize product count” not working as expected
  app/code/Magento/CatalogSearch/Model/Layer/Filter/Decimal.php
Labels: Component: CatalogSearch, Port, Progress: accept, Release Line: 2.2

#21979 [Component Rule] Revert es6 variable declarations
  app/code/Magento/Rule/view/adminhtml/web/rules.js
Labels: Area: Frontend, Component: Rule, Progress: accept, Release Line: 2.3

#22033 Add multibyte support for attributeSource getOptionId method
  app/code/Magento/Eav/Model/Entity/Attribute/Source/AbstractSource.php
Labels: Award: bug fix, Component: Eav, Partner: Interactiv4, Progress: accept, Release Line: 2.3, partners-contribution

#22082 Remove fotorama.min.js
  lib/web/fotorama/fotorama.min.js
Labels: Area: Lib/Frontend, Progress: accept, Release Line: 2.3

#22089 Fotorama - disabling swipe on the item with class "disableSwipe"
  lib/web/fotorama/fotorama.js
Labels: Area: Lib/Frontend, Progress: accept, Release Line: 2.3

#22291 Fixed #22223 Missing/Wrong data display on downloadable report table …
  app/code/Magento/Reports/Model/ResourceModel/Product/Downloads/Collection.php
Labels: Award: bug fix, Community Insider: Cedcommerce, Component: Reports, Progress: accept, Release Line: 2.3, community-insider-contribution

#22364 Fix buttonId for credit memo button on admin invoice view
  app/code/Magento/Sales/Block/Adminhtml/Order/Invoice/View.php
Labels: Component: Sales, Progress: accept, Release Line: 2.3

#22108 [Backport] #21786 Fix the issue with asynchronous email sending for the sales entities
  app/code/Magento/Sales/Model/Order/Creditmemo/Sender/EmailSender.php
  app/code/Magento/Sales/Model/Order/Email/Sender/CreditmemoSender.php
  app/code/Magento/Sales/Model/Order/Email/Sender/InvoiceSender.php
  app/code/Magento/Sales/Model/Order/Email/Sender/ShipmentSender.php
  app/code/Magento/Sales/Model/Order/Invoice/Sender/EmailSender.php
  app/code/Magento/Sales/Model/Order/Shipment/Sender/EmailSender.php
  app/code/Magento/Sales/Test/Unit/Model/Order/Creditmemo/Sender/EmailSenderTest.php
  app/code/Magento/Sales/Test/Unit/Model/Order/Email/Sender/CreditmemoSenderTest.php
  app/code/Magento/Sales/Test/Unit/Model/Order/Email/Sender/InvoiceSenderTest.php
  app/code/Magento/Sales/Test/Unit/Model/Order/Email/Sender/ShipmentSenderTest.php
  app/code/Magento/Sales/Test/Unit/Model/Order/Invoice/Sender/EmailSenderTest.php
  app/code/Magento/Sales/Test/Unit/Model/Order/Shipment/Sender/EmailSenderTest.php
Labels: Component: Sales, Partner: Atwix, Port, Progress: accept, Release Line: 2.2, partners-contribution

#22465 [Backport] [Fixed] Full Tax Summary missing calculation Admin create order
  app/code/Magento/Sales/view/adminhtml/templates/order/create/totals/tax.phtml
Labels: Area: Frontend, Component: Sales, Partner: Krish TechnoLabs, Port, Progress: accept, Release Line: 2.2, partners-contribution

#22473 [Backport] Qty box visibility issue in wishlist when product is out of stock
  app/code/Magento/Wishlist/view/frontend/templates/item/column/cart.phtml
  app/code/Magento/Wishlist/view/frontend/templates/item/column/comment.phtml
Labels: Area: Frontend, Component: Wishlist, Partner: Krish TechnoLabs, Port, Progress: accept, Release Line: 2.2, partners-contribution

#22378 [Backport] Same product quantity not increment when added with guest user. #21375
  app/code/Magento/Quote/Model/Quote/Item/Compare.php
Labels: Component: Quote, Partner: Two Jay, Port, Progress: accept, Release Line: 2.2, partners-contribution

#22415 filter config values on testSuiteStart
  dev/tests/integration/framework/Magento/TestFramework/Isolation/DeploymentConfig.php
Labels: Award: bug fix, Progress: accept, Release Line: 2.2

#22464 [Backport] Remove all marketing get params on Varnish to minimize the cache objects (added facebook and bronto parameter)
  app/code/Magento/PageCache/etc/varnish4.vcl
  app/code/Magento/PageCache/etc/varnish5.vcl
Labels: Component: PageCache, Port, Progress: accept, Release Line: 2.2

#22178 #21737 Duplicating product with translated url keys over multiple sto…
  app/code/Magento/Catalog/Model/Product/Copier.php
  app/code/Magento/Catalog/Test/Unit/Model/Product/CopierTest.php
Labels: Award: bug fix, Component: Catalog, Progress: accept, Release Line: 2.3

#22324 Adding a validation before adding or executing layout generator class.
  lib/internal/Magento/Framework/View/Layout/GeneratorPool.php
Labels: Component: View, Progress: accept, Release Line: 2.3

#22475 Fixed Dependency on Backup Settings Configuration
  app/code/Magento/Backup/etc/adminhtml/system.xml
Labels: Community Insider : Emipro, Component: Backup, Progress: accept, Release Line: 2.3, community-insider-contribution

#22358 [Backport] Previous scrolling to invalid form element is not being canceled on h…
  lib/web/mage/validation.js
Labels: Area: Lib/Frontend, Partner: Two Jay, Port, Progress: accept, Release Line: 2.2, partners-contribution

#22499 [Backport] Fixed Dependency on Backup Settings Configuration
  app/code/Magento/Backup/etc/adminhtml/system.xml
Labels: Community Insider : Emipro, Component: Backup, Port, Progress: accept, Release Line: 2.2, community-insider-contribution

#22285 make return_path_email and set_return_path configurable on website and store scope as well
  app/code/Magento/Backend/etc/adminhtml/system.xml
Labels: Component: Backend, Progress: accept, Release Line: 2.3

#22411 Checkout Totals Sort Order fields can't be empty and should be a number
  app/code/Magento/Sales/etc/adminhtml/system.xml
  app/code/Magento/Weee/etc/adminhtml/system.xml
Labels: Component: Sales, Component: Weee, Partner: Mediotype, Progress: accept, Release Line: 2.3, partners-contribution

#22424 PUT /V1/products/:sku/media/:entryId does not change the file
  app/code/Magento/Catalog/Model/Product/Gallery/GalleryManagement.php
Labels: Award: bug fix, Component: Catalog, Progress: accept, Release Line: 2.3

#22446 Removes usage of classes which don't exist from DB migration scripts.
  app/code/Magento/Catalog/Setup/CategorySetup.php
  app/code/Magento/Customer/Setup/Patch/Data/MigrateStoresAllowedCountriesToWebsite.php
Labels: Cleanup, Component: Catalog, Component: Customer, Progress: accept, Release Line: 2.3

#22456 Fixed issue of drop-down arrow direction in cart price rule
  app/design/adminhtml/Magento/backend/web/css/styles-old.less
Labels: Area: Design/Frontend, Cleanup, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#22470 Correct spelling
  app/code/Magento/Catalog/Model/ResourceModel/Product/Collection.php
Labels: Cleanup, Component: Catalog, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#22276 only trigger livereload by .css files
  dev/tools/grunt/configs/watch.js
Labels: Award: bug fix, Partner: Basecom, Progress: accept, Release Line: 2.3, partners-contribution

#22302 #22299: Cms block cache key does not contain the store id
  app/code/Magento/Cms/Block/Block.php
Labels: Award: bug fix, Component: Cms, Progress: accept, Release Line: 2.3

#19653 Adding product from wishlist not adding to cart showing warning message.
  app/code/Magento/Wishlist/Block/Customer/Wishlist/Item/Column/Cart.php
Labels: Award: bug fix, Component: Wishlist, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#20842 REST products update category_ids cannot be removed
  app/code/Magento/Catalog/Model/ProductRepository.php
  app/code/Magento/Catalog/Model/ProductRepository/MediaGalleryProcessor.php
  app/code/Magento/Catalog/Test/Unit/Model/ProductRepositoryTest.php
Labels: Award: complex, Component: Catalog, Partner: ISM eCompany, Progress: accept, Release Line: 2.3, partners-contribution

#21486 Fix for issue #21477 sets CURRENT_TIMESTAMP on updated_at fields
  app/code/Magento/Integration/etc/db_schema.xml
  app/code/Magento/Quote/etc/db_schema.xml
Labels: Community Insider: Cream, Component: Integration, Component: Quote, Progress: accept, Release Line: 2.3, community-insider-contribution

#21549 Fixed curl adapter to properly set http version based on $http_ver argument
  lib/internal/Magento/Framework/HTTP/Adapter/Curl.php
Labels: Award: bug fix, Component: HTTP, Partner: Mediotype, Progress: accept, Release Line: 2.3, partners-contribution

#19913 [#19908] locale in rest calls is always default locale
  app/code/Magento/Webapi/Controller/PathProcessor.php
  app/code/Magento/Webapi/Test/Unit/Controller/PathProcessorTest.php
  app/code/Magento/WebapiAsync/Test/Unit/Controller/PathProcessorTest.php
  dev/tests/integration/testsuite/Magento/Webapi/Controller/PathProcessorTest.php
Labels: Award: bug fix, Component: Webapi, Component: WebapiAsync, Progress: accept, Release Line: 2.3

#22230 Shortening currency list in Configuration->General (replace PR #20397)
  app/code/Magento/Config/Model/Config/Source/Locale/Currency.php
Labels: Award: bug fix, Component: Config, Progress: accept, Release Line: 2.3

#22399 Fix the invalid currency error in credit card payment of PayPal Payflow Pro or Payments Pro
  app/code/Magento/Paypal/Model/Payflow/Service/Request/SecureToken.php
Labels: Award: bug fix, Component: Paypal, Progress: accept, Release Line: 2.3

#22405 [Fixed] Checkout Section: Shipping step is getting skipped when customer hitting direct payment step URL
  app/code/Magento/Checkout/view/frontend/web/js/view/payment.js
Labels: Area: Frontend, Award: bug fix, Component: Checkout, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#22523 [Backport] Fixed #22223 Missing/Wrong data display on downloadable report table …
  app/code/Magento/Reports/Model/ResourceModel/Product/Downloads/Collection.php
Labels: Community Insider: Cedcommerce, Component: Reports, Port, Progress: accept, Release Line: 2.2, community-insider-contribution

#22533 [Backport] PUT /V1/products/:sku/media/:entryId does not change the file
  app/code/Magento/Catalog/Model/Product/Gallery/GalleryManagement.php
Labels: Component: Catalog, Partner: Krish TechnoLabs, Port, Progress: accept, Release Line: 2.2, partners-contribution

#22534 [Backport] #22299: Cms block cache key does not contain the store id
  app/code/Magento/Cms/Block/Block.php
Labels: Component: Cms, Partner: Two Jay, Port, Progress: accept, Release Line: 2.2, partners-contribution
