Repository magento/magento2, pull requests merged in 2019-09, with the labels that each got.

#24283 Resolve undefined variable in cleanFileExtensions() function
  app/code/Magento/Catalog/Model/Product/Option.php
Labels: Auto-Tests: Not Covered, Cleanup, Component: Catalog, Progress: accept, Release Line: 2.3

#24285 magento/magento2#: Replace deprecated methods in back-end controllers of Magento/Customer
  app/code/Magento/Customer/Controller/Adminhtml/Index.php
  app/code/Magento/Customer/Controller/Adminhtml/Index/MassAssignGroup.php
  app/code/Magento/Customer/Controller/Adminhtml/Index/MassDelete.php
  app/code/Magento/Customer/Controller/Adminhtml/Index/MassSubscribe.php
  app/code/Magento/Customer/Controller/Adminhtml/Index/MassUnsubscribe.php
  app/code/Magento/Customer/Controller/Adminhtml/Index/ResetPassword.php
  app/code/Magento/Customer/Controller/Adminhtml/Index/Save.php
  app/code/Magento/Customer/Controller/Adminhtml/Locks/Unlock.php
  app/code/Magento/Customer/Test/Unit/Controller/Adminhtml/Index/MassAssignGroupTest.php
  app/code/Magento/Customer/Test/Unit/Controller/Adminhtml/Index/MassDeleteTest.php
  app/code/Magento/Customer/Test/Unit/Controller/Adminhtml/Index/MassSubscribeTest.php
  app/code/Magento/Customer/Test/Unit/Controller/Adminhtml/Index/MassUnsubscribeTest.php
  app/code/Magento/Customer/Test/Unit/Controller/Adminhtml/Index/ResetPasswordTest.php
  app/code/Magento/Customer/Test/Unit/Controller/Adminhtml/Index/SaveTest.php
  app/code/Magento/Customer/Test/Unit/Controller/Adminhtml/Locks/UnlockTest.php
  dev/tests/integration/testsuite/Magento/Customer/Controller/Adminhtml/Index/MassSubscribeTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: Customer, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#24369 Correct spelling
  app/code/Magento/GiftMessage/Helper/Message.php
Labels: Cleanup, Component: GiftMessage, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#24254 Fixed issue #21450
  app/code/Magento/Catalog/view/frontend/web/js/catalog-add-to-cart.js
Labels: Area: Frontend, Award: bug fix, Component: Catalog, Partner: Ranosys Technologies, Progress: accept, Release Line: 2.3, partners-contribution

#24286 Resolve undefined variable in ReviewPayment class
  app/code/Magento/Sales/Controller/Adminhtml/Order/ReviewPayment.php
Labels: Auto-Tests: Not Covered, Component: Sales, Progress: accept, Release Line: 2.3

#24367 magento/magento2#24362 Remove page layout definition from modules
  app/code/Magento/InstantPurchase/view/frontend/layout/catalog_product_view.xml
  app/code/Magento/Msrp/view/frontend/layout/catalog_product_view.xml
  app/code/Magento/ProductVideo/view/frontend/layout/catalog_product_view.xml
Labels: Area: Frontend, Auto-Tests: Not Required, Award: bug fix, Component: InstantPurchase, Component: Msrp, Component: ProductVideo, Progress: accept, Release Line: 2.3

#24396 fixed design issue on sales order view page frontend #24395
  app/code/Magento/Sales/view/frontend/templates/order/items.phtml
Labels: Area: Frontend, Award: bug fix, Component: Sales, Partner: Webkul, Progress: accept, Release Line: 2.3

#24406 Remove excess line before method body
  lib/internal/Magento/Framework/View/Design/FileResolution/Fallback/Resolver/Simple.php
Labels: Auto-Tests: Not Required, Cleanup, Component: View, Progress: accept, Release Line: 2.3

#24420 magento/magento2#: Magento_Config module. Fix content in read file
  app/code/Magento/Config/README.md
Labels: Component: Config, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#24053 ISSUE #23042: Update stock status on CSV Product import if quantity is 0
  app/code/Magento/CatalogImportExport/Model/Import/Product.php
Labels: Component: CatalogImportExport, Progress: accept, Release Line: 2.3

#24255 Fix #7200 - Configurable Products dropdown not showing pricing
  app/code/Magento/ConfigurableProduct/view/frontend/web/js/configurable.js
Labels: Area: Frontend, Auto-Tests: Not Required, Award: bug fix, Component: ConfigurableProduct, Progress: accept, Release Line: 2.3

#24403 Resolve Vat ID not being included in Shipping Address issue24402
  app/code/Magento/Customer/Model/Address/CustomerAddressDataFormatter.php
Labels: Component: Customer, Progress: accept, Release Line: 2.3

#24425 resolve {{config path='trans_email/ident_support/email'}} does not display support email issue24419
  app/code/Magento/Variable/etc/di.xml
Labels: Component: Variable, Progress: accept, Release Line: 2.3

#24093 Move WYSIWYG adapter to adminhtml theme Ui module
  app/code/Magento/Theme/view/base/layout/default.xml
  app/code/Magento/Ui/view/base/layout/default.xml
Labels: Area: Frontend, Component: Theme, Component: Ui, Progress: accept, Release Line: 2.3

#24282 Resolve undefined variable when call getPdf() in app/code/Magento/Sales/Model/Order/Pdf/Creditmemo.php
  app/code/Magento/Sales/Model/Order/Pdf/Creditmemo.php
Labels: Auto-Tests: Not Covered, Component: Sales, Progress: accept, Release Line: 2.3

#24336 #2228; Encode xml entities in tag attributes
  lib/internal/Magento/Framework/Simplexml/Element.php
Labels: Award: bug fix, Community Insider: Magecom, Component: Simplexml, Progress: accept, Release Line: 2.3, community-insider-contribution

#24358 Add number validation for sitemap file limits
  app/code/Magento/Sitemap/etc/adminhtml/system.xml
Labels: Component: Sitemap, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#24397 Resolve "New Block" form still show "Store View" field in "Single Store Mode" issue24387
  app/code/Magento/Cms/view/adminhtml/ui_component/cms_block_form.xml
  app/code/Magento/Store/Ui/Component/Form/Field/StoreView.php
Labels: Area: Frontend, Auto-Tests: Not Covered, Award: bug fix, Component: Cms, Component: Store, Progress: accept, Release Line: 2.3

#24437 [EncryptionKey] Fixing the encryption key switching field
  app/code/Magento/EncryptionKey/Block/Adminhtml/Crypt/Key/Form.php
Labels: Auto-Tests: Not Covered, Award: bug fix, Component: EncryptionKey, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#24447 magento/magento2#: Incorrect annotation in the Magento/Framework/MessageQueue/etc/queue.xsd schema
  lib/internal/Magento/Framework/MessageQueue/etc/queue.xsd
Labels: Auto-Tests: Not Required, Cleanup, Component: MessageQueue, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#24308 Resolved edit configurable product from cart doesn't show selected swatch options #24306
  app/code/Magento/Swatches/view/frontend/web/js/swatch-renderer.js
Labels: Area: Frontend, Component: Swatches, Partner: Webkul, Progress: accept, Release Line: 2.3

#24318 #23990: Reset not working properly in Add review from admin
  app/code/Magento/Review/Block/Adminhtml/Add.php
  app/code/Magento/Review/view/adminhtml/web/js/rating.js
Labels: Area: Frontend, Component: Review, Progress: accept, Release Line: 2.3

#24359 Fixed the Spacing issue in grid
  app/design/adminhtml/Magento/backend/web/css/source/forms/_controls.less
Labels: Area: Design/Frontend, Partner: i95Dev, Progress: accept, Release Line: 2.3, partners-contribution

#24399 Remove "Add Review" if System has no Product issue24310
  app/code/Magento/Review/Block/Adminhtml/Main.php
  app/code/Magento/Review/Test/Unit/Block/Adminhtml/MainTest.php
Labels: Award: bug fix, Component: Review, Progress: accept, Release Line: 2.3

#24449 Resolve Scope icon and store view specific label text alignment issue (issue24440)
  app/code/Magento/Sales/Block/Adminhtml/Order/Status/NewStatus/Form.php
  app/design/adminhtml/Magento/backend/Magento_Backend/web/css/source/module/main/_store-scope.less
Labels: Area: Design/Frontend, Award: bug fix, Component: Sales, Progress: accept, Release Line: 2.3

#24451 #24441 : Minicart height calculated incorrectly when child items contain margins
  app/code/Magento/Checkout/view/frontend/web/js/sidebar.js
Labels: Area: Frontend, Award: bug fix, Component: Checkout, Progress: accept, Release Line: 2.3

#24489 magento/magento2#: Fix release notification README
  app/code/Magento/ReleaseNotification/README.md
Labels: Cleanup, Component: ReleaseNotification, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#24077 Added changes to make product price level field disabled when alert are enabled
  app/code/Magento/Bundle/Ui/DataProvider/Product/Form/Modifier/BundlePrice.php
Labels: Component: Bundle, Partner: i95Dev, Progress: accept, Release Line: 2.3, partners-contribution

#24274 Resolve error when call getRssUrl() method
  app/code/Magento/Wishlist/Helper/Data.php
  app/code/Magento/Wishlist/Test/Unit/Helper/DataTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: Wishlist, Progress: accept, Release Line: 2.3

#24457 Fix for bug: If multiple children had the same sort order only one of…
  app/code/Magento/Catalog/Block/Product/View/Details.php
Labels: Auto-Tests: Not Covered, Award: bug fix, Component: Catalog, Progress: accept, Release Line: 2.3

#24467 Fix issue with "Apply Discount Code" input hidden, when code is applied
  app/code/Magento/Checkout/view/frontend/templates/cart/coupon.phtml
Labels: Area: Frontend, Auto-Tests: Not Covered, Component: Checkout, Progress: accept, Release Line: 2.3

#24476 Fix lib-button-as-link not using color argument
  lib/web/css/source/lib/_buttons.less
Labels: Area: Lib/Frontend, Partner: Something Digital, Progress: accept, Release Line: 2.3, partners-contribution

#24478 add validation greater than zero number for MySQL Message Queue Cleanup
  app/code/Magento/MysqlMq/etc/adminhtml/system.xml
Labels: Auto-Tests: Not Covered, Component: MysqlMq, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#24461 Mark Elasticsearch 6 configs as sensitive
  app/code/Magento/Elasticsearch6/etc/di.xml
Labels: Auto-Tests: Not Required, Award: bug fix, Component: Elasticsearch, Progress: accept, Release Line: 2.3

#24477 Excludes Magento_Tinymce3 scripts from the bundling, saves about 3.7 …
  app/design/adminhtml/Magento/backend/etc/view.xml
  app/design/frontend/Magento/blank/etc/view.xml
  app/design/frontend/Magento/luma/etc/view.xml
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Progress: accept, Release Line: 2.3

#24501 #23205 'Stored Payment Methods' section in customer dashboard incorrectly depends on Braintree being enabled
  app/code/Magento/Vault/view/frontend/layout/customer_account.xml
Labels: Area: Frontend, Auto-Tests: Not Covered, Award: bug fix, Component: Vault, Event: cdwebkul, Partner: Webkul, Progress: accept, Release Line: 2.3

#24502 #24410 catalogProductTierPriceManagementV1GetListGet call fails badly when querying parent product
  app/code/Magento/Catalog/Model/Product/TierPriceManagement.php
Labels: Auto-Tests: Not Covered, Award: bug fix, Component: Catalog, Event: cdwebkul, Partner: Webkul, Progress: accept, Release Line: 2.3

#24510 fixed Not able to update decimal quantity from cart details page. #24509
  app/code/Magento/Checkout/view/frontend/templates/cart/item/default.phtml
Labels: Area: Frontend, Auto-Tests: Not Covered, Award: bug fix, Component: Checkout, Event: cdwebkul, Partner: Webkul, Progress: accept, Release Line: 2.3

#24514 Unit Test to Cover Magento_Version Module
  app/code/Magento/Version/Test/Unit/Controller/Index/IndexTest.php
Labels: Component: Version, Progress: accept, Release Line: 2.3

#24183 Resolve model Rss extends wrong class
  app/code/Magento/Review/Model/Rss.php
Labels: Auto-Tests: Not Required, Component: Review, Progress: accept, Release Line: 2.3

#24614 Update Magento_Backup module ReadMe
  app/code/Magento/Backup/README.md
Labels: Auto-Tests: Not Required, Component: Backup, Partner: Space 48, Progress: accept, Release Line: 2.3, partners-contribution

#24613 Update Magento_Backend module ReadMe
  app/code/Magento/Backend/README.md
Labels: Auto-Tests: Not Required, Component: Backend, Partner: Space 48, Progress: accept, Release Line: 2.3, partners-contribution

#24589 Notification counter design issue #23473
  app/design/adminhtml/Magento/backend/Magento_Backend/web/css/source/module/header/actions-group/_notifications.less
Labels: Area: Design/Frontend, Area: Frontend, Auto-Tests: Not Required, Event: mm19br, Progress: accept, Release Line: 2.3, improvement

#24577 Add digits validation for Bulk Actions,Full Page Cache(TTL), Environment Update Time system configuration
  app/code/Magento/AsynchronousOperations/etc/adminhtml/system.xml
  app/code/Magento/MediaStorage/etc/adminhtml/system.xml
  app/code/Magento/PageCache/etc/adminhtml/system.xml
Labels: Auto-Tests: Not Required, Component: AsynchronousOperations, Component: MediaStorage, Component: PageCache, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#24277 Update Magento_Analytics ReadMe
  app/code/Magento/Analytics/README.md
Labels: Auto-Tests: Not Required, Component: Analytics, Partner: Space 48, Progress: accept, Release Line: 2.3, partners-contribution

#24643 Resolve No error message when click "Import Tax Rates" without select file issue24642
  app/code/Magento/TaxImportExport/i18n/en_US.csv
  app/code/Magento/TaxImportExport/view/adminhtml/templates/importExport.phtml
Labels: Area: Frontend, Auto-Tests: Not Covered, Component: TaxImportExport, Progress: accept, Release Line: 2.3

#24622 fix for the #24618 Magento/Braintree/view/frontend/web/js/view/payment/method-renderer/paypal.js accessing undefined variables
  app/code/Magento/Braintree/view/frontend/web/js/view/payment/method-renderer/paypal.js
Labels: Area: Frontend, Auto-Tests: Not Required, Component: Braintree, Progress: accept, Release Line: 2.3

#24605 Fixes problem with wrong image URL in sitemap
  app/code/Magento/Sitemap/Controller/Adminhtml/Sitemap/Generate.php
Labels: Auto-Tests: Not Covered, Component: Sitemap, Event: mm19pl, Partner: creativestyle, Progress: accept, Release Line: 2.3, partners-contribution

#24530 Fix the false directory path comparison failure, which causes incorrect error message for no writable permission.
  lib/internal/Magento/Framework/Filesystem/Directory/PathValidator.php
  lib/internal/Magento/Framework/Filesystem/Test/Unit/Directory/PathValidatorTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: Filesystem, Progress: accept, Release Line: 2.3

#24300 Adding out of stock items to wishlist shows success message but fails #21519
  app/code/Magento/Wishlist/Model/Wishlist.php
  app/code/Magento/Wishlist/Test/Unit/Model/WishlistTest.php
Labels: Auto-Tests: Covered, Component: Wishlist, Partner: Wolf Sellers, Progress: accept, Release Line: 2.3, partners-contribution

#24679 Update Magento_Braintree module ReadMe
  app/code/Magento/Braintree/README.md
Labels: Auto-Tests: Not Required, Component: Braintree, Partner: Space 48, Progress: accept, Release Line: 2.3, partners-contribution

#24675 Fix the error message of folder not writable.
  lib/internal/Magento/Framework/Filesystem/Directory/Write.php
Labels: Auto-Tests: Not Required, Award: bug fix, Component: Filesystem, Progress: accept, Release Line: 2.3

#24638 Consistent capitalization of the word 'ID' in comments of db_schema.xml files
  app/code/Magento/AdminNotification/etc/db_schema.xml
  app/code/Magento/AdvancedSearch/etc/db_schema.xml
  app/code/Magento/Bundle/etc/db_schema.xml
  app/code/Magento/Catalog/etc/db_schema.xml
  app/code/Magento/CatalogInventory/etc/db_schema.xml
  app/code/Magento/CatalogRule/etc/db_schema.xml
  app/code/Magento/CheckoutAgreements/etc/db_schema.xml
  app/code/Magento/Config/etc/db_schema.xml
  app/code/Magento/Cron/etc/db_schema.xml
  app/code/Magento/Customer/etc/db_schema.xml
  app/code/Magento/Directory/etc/db_schema.xml
  app/code/Magento/Eav/etc/db_schema.xml
  app/code/Magento/GiftMessage/etc/db_schema.xml
  app/code/Magento/GoogleOptimizer/etc/db_schema.xml
  app/code/Magento/ImportExport/etc/db_schema.xml
  app/code/Magento/Indexer/etc/db_schema.xml
  app/code/Magento/Integration/etc/db_schema.xml
  app/code/Magento/NewRelicReporting/etc/db_schema.xml
  app/code/Magento/Newsletter/etc/db_schema.xml
  app/code/Magento/OfflineShipping/etc/db_schema.xml
  app/code/Magento/Paypal/etc/db_schema.xml
  app/code/Magento/Persistent/etc/db_schema.xml
  app/code/Magento/ProductAlert/etc/db_schema.xml
  app/code/Magento/Quote/etc/db_schema.xml
  app/code/Magento/Reports/etc/db_schema.xml
  app/code/Magento/Review/etc/db_schema.xml
  app/code/Magento/Sales/etc/db_schema.xml
  app/code/Magento/SalesRule/etc/db_schema.xml
  app/code/Magento/SalesSequence/etc/db_schema.xml
  app/code/Magento/Search/etc/db_schema.xml
  app/code/Magento/Security/etc/db_schema.xml
  app/code/Magento/Sitemap/etc/db_schema.xml
  app/code/Magento/Store/etc/db_schema.xml
  app/code/Magento/Tax/etc/db_schema.xml
  app/code/Magento/Theme/etc/db_schema.xml
  app/code/Magento/Translation/etc/db_schema.xml
  app/code/Magento/Ui/etc/db_schema.xml
  app/code/Magento/UrlRewrite/etc/db_schema.xml
  app/code/Magento/User/etc/db_schema.xml
  app/code/Magento/Variable/etc/db_schema.xml
  app/code/Magento/Vault/etc/db_schema.xml
  app/code/Magento/Weee/etc/db_schema.xml
  app/code/Magento/Widget/etc/db_schema.xml
  app/code/Magento/Wishlist/etc/db_schema.xml
Labels: Auto-Tests: Not Required, Cleanup, Component: multiple, Progress: accept, Release Line: 2.3

#24602 Fix whats this scroll top
  app/code/Magento/Persistent/view/frontend/templates/remember_me.phtml
  app/code/Magento/Persistent/view/frontend/web/template/remember-me.html
Labels: Area: Frontend, Auto-Tests: Not Required, Component: Persistent, Progress: accept, Release Line: 2.3

#24661 Replaced usage of ObjectManager with Constructor DI of Factory class
  app/code/Magento/Catalog/Controller/Adminhtml/Category/Add.php
Labels: Auto-Tests: Not Required, Component: Catalog, Partner: Zilker Technology, Progress: accept, Release Line: 2.3, partners-contribution

#24634 fixed getting error in console while selecting all downloadable links #24633
  app/code/Magento/Downloadable/Test/Mftf/Section/StorefrontDownloadableProductSection.xml
  app/code/Magento/Downloadable/Test/Mftf/Test/SelectAllDownloadableLinksDownloadableProductTest.xml
  app/code/Magento/Wishlist/view/frontend/web/js/add-to-wishlist.js
Labels: Area: Frontend, Auto-Tests: Covered, Award: MFTF test coverage, Award: bug fix, Component: Downloadable, Component: Wishlist, Progress: accept, Release Line: 2.3

#24030 24025 add caching for magento product version
  lib/internal/Magento/Framework/App/ProductMetadata.php
Labels: Auto-Tests: Covered, Component: App, Partner: Brandung, Progress: accept, Release Line: 2.3, partners-contribution

#23767 #23766 - fix pattern validation on form submit
  lib/web/mage/validation.js
Labels: Area: Lib/Frontend, Auto-Tests: Not Required, Progress: accept, Release Line: 2.3

#24694 #23880 - Fix for doubled paypal xml node
  app/code/Magento/Paypal/etc/config.xml
Labels: Auto-Tests: Not Required, Award: bug fix, Component: Paypal, Progress: accept, Release Line: 2.3

#24674 Inefficient Usage of Factories
  app/code/Magento/Catalog/Controller/Adminhtml/Product/Set/Edit.php
Labels: Auto-Tests: Not Covered, Component: Catalog, Partner: Zilker Technology, Progress: accept, Release Line: 2.3, partners-contribution

#24542 Require missing "doctrine/instantiator" dependency
  lib/internal/Magento/Framework/MessageQueue/composer.json
Labels: Auto-Tests: Not Required, Component: MessageQueue, Progress: accept, Release Line: 2.3

#24741 Resolve Suggested Terms Yes/No not in camel case #24739
  app/code/Magento/Search/view/adminhtml/layout/search_term_grid_block.xml
Labels: Area: Frontend, Auto-Tests: Not Required, Award: bug fix, Component: Search, Progress: accept, Release Line: 2.3

#24734 magento/magento2#24043: Better exception handling during cli commands.
  lib/internal/Magento/Framework/Console/Cli.php
  lib/internal/Magento/Framework/Console/Test/Unit/CliTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: Console, Progress: accept, Release Line: 2.3

#24728 Fixed LayeredNavigation color filter show only loader for out of stock product
  app/code/Magento/Catalog/view/frontend/templates/product/list.phtml
Labels: Area: Frontend, Auto-Tests: Not Required, Component: Catalog, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution
