Repository magento/magento2, pull requests merged in 2019-03, with the labels that each got.

#20339 issue fixed #20337 Option Title breaking in two line because applying…
  app/design/adminhtml/Magento/backend/web/css/source/forms/_fields.less
Labels: Area: Design/Frontend, Community Insider: Cedcommerce, Progress: accept, Release Line: 2.3, community-insider-contribution

#20578 Added original exception as the cause to the new exception on product delete error
  app/code/Magento/Catalog/Model/ProductRepository.php
Labels: Component: Catalog, Progress: accept, Release Line: 2.3

#20858 Update details.phtml
  app/code/Magento/Catalog/view/frontend/templates/product/view/details.phtml
Labels: Area: Frontend, Component: Catalog, Progress: accept, Release Line: 2.3

#21105 Fixed pagination issue in admin review grid
  lib/web/mage/adminhtml/grid.js
Labels: Area: Lib/Frontend, Partner: ISM eCompany, Progress: accept, Release Line: 2.3, partners-contribution

#21302 Misconfigured aria-labelledby for product tabs
  app/code/Magento/Catalog/view/frontend/templates/product/view/details.phtml
Labels: Area: Frontend, Component: Catalog, Progress: accept, Release Line: 2.3

#21330 Change comment to "database"
  setup/src/Magento/Setup/Validator/DbValidator.php
Labels: Component: Setup, Progress: accept, Release Line: 2.3

#21395 As low as displays incorrect pricing on category page, tax appears to be added twice #21383
  app/code/Magento/Catalog/Pricing/Price/MinimalTierPriceCalculator.php
Labels: Award: bug fix, Component: Catalog, Progress: accept, Release Line: 2.3

#21421 Improve swatch table overflow handling
  app/code/Magento/Swatches/view/adminhtml/web/css/swatches.css
Labels: Area: Frontend, Component: Swatches, Progress: accept, Release Line: 2.3

#21426 fixes-for-product-page-product-in-website-multi-store-view-not-displa…
  app/design/adminhtml/Magento/backend/web/css/source/forms/fields/_control-table.less
Labels: Area: Design/Frontend, Partner: Two Jay, Progress: accept, Release Line: 2.3, partners-contribution

#21429 Correct spelling
  app/code/Magento/Ui/view/base/web/js/lib/view/utils/bindings.js
Labels: Area: Frontend, Component: Ui, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#21431 Fix grammar
  app/code/Magento/Backend/etc/adminhtml/system.xml
Labels: Component: Backend, Progress: accept, Release Line: 2.3

#21151 Database Rollback not working M2.3.0
  app/code/Magento/Backup/Model/Db.php
  app/code/Magento/Backup/Model/ResourceModel/Table/GetListTables.php
  app/code/Magento/Backup/Model/ResourceModel/View/GetListViews.php
  app/code/Magento/Backup/Model/ResourceModel/View/GetViewsBackup.php
Labels: Award: complex, Award: special achievement, Component: Backup, Partner: TechDivision, Progress: accept, Release Line: 2.3, partners-contribution

#20316 Change product_price_value in cart data section based on tax settings
  app/code/Magento/Tax/Plugin/Checkout/CustomerData/Cart.php
Labels: Component: Tax, Partner: H&O, Progress: accept, Release Line: 2.3, partners-contribution

#20482 [TASK] Remove translation of attribute store label in getAdditionalData
  app/code/Magento/Catalog/Block/Product/View/Attributes.php
Labels: Component: Catalog, Partner: Netz98, Progress: accept, Release Line: 2.3, partners-contribution

#21094 Also populate the storesCache when importing product only on storevie…
  app/code/Magento/CatalogUrlRewrite/Observer/AfterImportDataObserver.php
Labels: Component: CatalogUrlRewrite, Progress: accept, Release Line: 2.3

#21275 Static tests: forbid 'or' instead of '||' #21062.
  dev/tests/static/framework/Magento/ruleset.xml
Labels: Partner: ISM eCompany, Progress: ready for testing, Release Line: 2.3, partners-contribution

#21338 [Catalog] [MediaStorage] Fix watermark in media application
  app/code/Magento/MediaStorage/Service/ImageResize.php
Labels: Component: MediaStorage, Release Line: 2.3

#21443 Fixed #21425 Date design change show not correctly value in backend
  app/code/Magento/Backend/Block/System/Design/Edit/Tab/General.php
Labels: Community Insider: Cedcommerce, Component: Backend, Release Line: 2.3, community-insider-contribution

#21513 [Backport] Fixed #15059 Cannot reorder from the first try
  app/code/Magento/Sales/Model/AdminOrder/Create.php
Labels: Community Insider: Cedcommerce, Component: Sales, Progress: ready for testing, Release Line: 2.2, community-insider-contribution

#21537 [Backport] Fixed pagination issue in admin review grid
  lib/web/mage/adminhtml/grid.js
Labels: Area: Lib/Frontend, Partner: ISM eCompany, Progress: ready for testing, Release Line: 2.2, partners-contribution

#20818 14857: prevent cache drop for frontend caches on sitemap generation
  app/code/Magento/Robots/Model/Config/Value.php
  app/code/Magento/Sitemap/Model/Sitemap.php
Labels: Component: Robots, Component: Sitemap, Partner: TechDivision, Release Line: 2.3, partners-contribution

#21079 Fixes for product tabbing issue
  lib/web/mage/tabs.js
Labels: Area: Lib/Frontend, Partner: Two Jay, Progress: ready for testing, Release Line: 2.3, partners-contribution

#21303 Fix-issue-21292 Google Analytics isAnonymizedIpActive always true
  app/code/Magento/GoogleAnalytics/Block/Ga.php
  app/code/Magento/GoogleAnalytics/Helper/Data.php
Labels: Component: GoogleAnalytics, Progress: ready for testing, Release Line: 2.3

#21455 Infinite redirects in Magento admin #21454
  app/code/Magento/Backend/App/Request/BackendValidator.php
Labels: Component: Backend, Progress: ready for testing, Release Line: 2.3

#21527 [Backport] As low as displays incorrect pricing on category page, tax appears to be added twice #21383
  app/code/Magento/Catalog/Pricing/Price/MinimalTierPriceCalculator.php
Labels: Component: Catalog, Partner: Atwix, Progress: accept, Release Line: 2.2, partners-contribution

#17668 Adding property mapper for product eav attribute -> search weight.
  app/code/Magento/CatalogSearch/Model/ResourceModel/Setup/PropertyMapper.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/ResourceModel/Setup/PropertyMapperTest.php
  app/code/Magento/CatalogSearch/etc/di.xml
Labels: Component: CatalogSearch, Progress: accept, Release Line: 2.3

#18705 Correct child node load when multiple calls to CategoryManagement::ge…
  app/code/Magento/Catalog/Model/Category/Tree.php
  app/code/Magento/Catalog/Test/Unit/Model/Category/TreeTest.php
Labels: Award: bug fix, Component: Catalog, Partner: Something Digital, Progress: accept, Release Line: 2.3, partners-contribution

#19637 Fixed Issue #19632 - Backend Marketing Cart Price Rule Label Alignment Issue
  app/design/adminhtml/Magento/backend/Magento_Backend/web/css/source/module/main/_store-scope.less
Labels: Area: Design/Frontend, Cleanup, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#20239 Fixed issue #20187 Downloadble Price duplicate issue
  app/code/Magento/Downloadable/view/frontend/layout/catalog_product_view_type_downloadable.xml
Labels: Area: Frontend, Community Insider: Cedcommerce, Component: Downloadable, Progress: accept, Release Line: 2.3, community-insider-contribution

#20484 Fix performance leak in salesrule collection
  app/code/Magento/SalesRule/Model/ResourceModel/Rule/Collection.php
Labels: Award: bug fix, Component: SalesRule, Partner: TechDivision, Release Line: 2.3, partners-contribution

#21170 Fix issue with custom option file uploading
  lib/internal/Magento/Framework/Filesystem/DirectoryList.php
Labels: Component: Filesystem, Progress: accept, Release Line: 2.3

#21462 URL rewrite fix while product website update using mass action
  app/code/Magento/CatalogUrlRewrite/Observer/ProductToWebsiteChangeObserver.php
Labels: Award: bug fix, Component: CatalogUrlRewrite, Progress: accept, Release Line: 2.3

#21503 Remove setting of page title from Form/Register block and add title to customer_account_create layout
  app/code/Magento/Customer/Block/Form/Register.php
  app/code/Magento/Customer/view/frontend/layout/customer_account_create.xml
Labels: Area: Frontend, Component: Customer, Partner: Basecom, Progress: accept, Release Line: 2.3, partners-contribution

#19551 [Backport] Resolved upgrade issue if manufacturer attribute missing [Magento 2.2]
  app/code/Magento/ConfigurableProduct/Setup/InstallData.php
  app/code/Magento/ConfigurableProduct/Setup/UpgradeData.php
Labels: Component: ConfigurableProduct, Port, Progress: accept, Release Line: 2.2

#21531 [Backport] Update details.phtml
  app/code/Magento/Catalog/view/frontend/templates/product/view/details.phtml
Labels: Area: Frontend, Component: Catalog, Partner: Two Jay, Port, Progress: accept, Release Line: 2.2, partners-contribution

#21532 [Backport] Misconfigured aria-labelledby for product tabs
  app/code/Magento/Catalog/view/frontend/templates/product/view/details.phtml
Labels: Area: Frontend, Component: Catalog, Partner: Two Jay, Port, Progress: accept, Release Line: 2.2, partners-contribution

#21570 [Backport] Change product_price_value in cart data section based on tax settings
  app/code/Magento/Tax/Plugin/Checkout/CustomerData/Cart.php
Labels: Component: Tax, Partner: Krish TechnoLabs, Port, Progress: accept, Release Line: 2.2, partners-contribution

#19376 19276 - Fixed price renderer issue
  app/code/Magento/Swatches/view/frontend/web/js/swatch-renderer.js
Labels: Area: Frontend, Award: bug fix, Component: Swatches, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#20391 Success message is not showing when creating invoice & shipment simultaniously #19942
  app/code/Magento/Sales/view/frontend/email/shipment_new.html
  app/code/Magento/Sales/view/frontend/email/shipment_new_guest.html
  app/code/Magento/Sales/view/frontend/layout/sales_email_order_shipment_track.xml
  app/design/frontend/Magento/luma/Magento_Sales/email/shipment_new.html
  app/design/frontend/Magento/luma/Magento_Sales/email/shipment_new_guest.html
Labels: Area: Design/Frontend, Area: Frontend, Component: Sales, Partner: ISM eCompany, Progress: accept, Release Line: 2.3, partners-contribution

#21498 Setting default sorting #21493
  app/code/Magento/Customer/Block/Adminhtml/Edit/Tab/Orders.php
  app/code/Magento/Customer/Block/Adminhtml/Edit/Tab/View/Cart.php
Labels: Award: bug fix, Component: Customer, Progress: accept, Release Line: 2.3

#21509 Fix: Cart is emptied when enter is pressed after changing product quantity
  app/code/Magento/Checkout/view/frontend/web/js/shopping-cart.js
Labels: Area: Frontend, Award: bug fix, Component: Checkout, Progress: accept, Release Line: 2.3

#21652 [Backport] Fix issue with custom option file uploading
  lib/internal/Magento/Framework/Filesystem/DirectoryList.php
Labels: Component: Filesystem, Partner: Two Jay, Progress: accept, Release Line: 2.2, partners-contribution

#19098 2.2.6 Use batches and direct queries to fix sales address upgrade
  app/code/Magento/Sales/Setup/UpgradeData.php
Labels: Award: bug fix, Component: Sales, Progress: accept, Release Line: 2.2

#21691 [Backport][Admin] Made configurable product variations table cell label hidden
  app/code/Magento/ConfigurableProduct/Ui/DataProvider/Product/Form/Modifier/ConfigurablePanel.php
Labels: Component: ConfigurableProduct, Partner: Atwix, Port, Progress: accept, Release Line: 2.2, partners-contribution

#21694 [Backport] Setting default sorting #21493
  app/code/Magento/Customer/Block/Adminhtml/Edit/Tab/Orders.php
  app/code/Magento/Customer/Block/Adminhtml/Edit/Tab/View/Cart.php
Labels: Component: Customer, Partner: Krish TechnoLabs, Port, Progress: accept, Release Line: 2.2, partners-contribution

#21695 [Backport] 19276 - Fixed price renderer issue
  app/code/Magento/Swatches/view/frontend/web/js/swatch-renderer.js
Labels: Area: Frontend, Component: Swatches, Partner: Krish TechnoLabs, Port, Progress: accept, Release Line: 2.2, partners-contribution

#21699 [Backport] 20484 - Fix performance leak in salesrule collection
  app/code/Magento/SalesRule/Model/ResourceModel/Rule/Collection.php
Labels: Component: SalesRule, Partner: TechDivision, Port, Progress: accept, Release Line: 2.2, partners-contribution

#20429 'fixes-for-#20414' :: Recent orders grid not aligned from left in mob…
  app/design/frontend/Magento/luma/Magento_Sales/web/css/source/_module.less
Labels: Area: Design/Frontend, Cleanup, Partner: Two Jay, Progress: accept, Release Line: 2.3, partners-contribution

#20938 Fixed Massaction design with submenu on grid pages
  app/design/adminhtml/Magento/backend/web/css/source/actions/_actions-select.less
Labels: Area: Design/Frontend, Event: mm19in, Progress: accept, Release Line: 2.3

#21074 Added space above error message.
  app/design/frontend/Magento/luma/Magento_Catalog/web/css/source/_module.less
  app/design/frontend/Magento/luma/Magento_GroupedProduct/web/css/source/_module.less
Labels: Area: Design/Frontend, Cleanup, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#21611 Advanced-Search-layout-not-proper
  app/design/frontend/Magento/blank/Magento_Customer/web/css/source/_module.less
  app/design/frontend/Magento/luma/Magento_Customer/web/css/source/_module.less
Labels: Area: Design/Frontend, Partner: Two Jay, Progress: accept, Release Line: 2.3, partners-contribution

#21638 Minicart search logo not vertically aligned
  app/design/frontend/Magento/luma/Magento_CatalogSearch/web/css/source/_module.less
  app/design/frontend/Magento/luma/Magento_Checkout/web/css/source/module/_minicart.less
  app/design/frontend/Magento/luma/Magento_Theme/web/css/source/_module.less
Labels: Area: Design/Frontend, Cleanup, Partner: Two Jay, Progress: accept, Release Line: 2.3, partners-contribution

#21685 Spelling Correction
  CHANGELOG.md
Labels: Cleanup, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#21701 Fix Broken Tax Rate Search Filter Admin grid #21521
  app/code/Magento/Tax/etc/di.xml
Labels: Component: Tax, Progress: accept, Release Line: 2.3

#21716 [DB] Remove unused variable
  lib/internal/Magento/Framework/DB/Adapter/Pdo/Mysql.php
Labels: Cleanup, Component: DB, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#21189 Fix/issue 18761
  app/code/Magento/AdvancedPricingImportExport/Model/Import/AdvancedPricing.php
Labels: Award: bug fix, Component: AdvancedPricingImportExport, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#21582 Fixed Whitespace issues for related, cross and upsell grids
  app/design/frontend/Magento/luma/Magento_Catalog/web/css/source/module/_listings.less
Labels: Area: Design/Frontend, Cleanup, Partner: Two Jay, Progress: accept, Release Line: 2.3, partners-contribution

#21600 Fixed typo mistake
  lib/internal/Magento/Framework/App/FrontControllerInterface.php
Labels: Cleanup, Component: App, Progress: accept, Release Line: 2.3

#21683 Correct spelling
  app/code/Magento/Catalog/Block/Adminhtml/Product/Attribute/Edit/Tab/Advanced.php
Labels: Cleanup, Component: Catalog, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#21731 Fixed wrong proxing in the inventory observer
  app/code/Magento/CatalogInventory/etc/di.xml
Labels: Award: bug fix, Component: CatalogInventory, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#21740 Removed extra whitespaces
  app/code/Magento/Eav/Block/Adminhtml/Attribute/Edit/Main/AbstractMain.php
  app/code/Magento/Eav/Setup/EavSetup.php
  app/code/Magento/Eav/Test/Unit/Model/Entity/Attribute/Source/BooleanTest.php
Labels: Cleanup, Component: Eav, Progress: accept, Release Line: 2.3

#21763 Spelling Correction
  CHANGELOG.md
Labels: Cleanup, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#20785 [Forwardport] Use batches and direct queries to fix sales address upgrade
  app/code/Magento/Sales/Setup/Patch/Data/FillQuoteAddressIdInSalesOrderAddress.php
Labels: Component: Sales, Port, Progress: accept, Release Line: 2.3

#20840 Missed form validation in Admin Order Address Edit route sales/order/address
  app/code/Magento/Customer/Test/Mftf/Data/AddressData.xml
  app/code/Magento/Customer/Test/Mftf/Data/CustomerData.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminSubmitsOrderWithAndWithoutFieldsValidationTest.xml
Labels: Component: Customer, Component: Sales, Partner: ISM eCompany, Progress: accept, Release Line: 2.3, partners-contribution

#21782 Edited headings to be more consistent
  README.md
Labels: Progress: accept, Release Line: 2.3

#21469 Update price-bundle.js so that correct tier price is calculated while displaying in bundle product
  app/code/Magento/Bundle/view/base/web/js/price-bundle.js
Labels: Area: Frontend, Award: bug fix, Component: Bundle, Progress: accept, Release Line: 2.3

#21751 fix #21750 remove translation of product attribute label
  app/code/Magento/Catalog/view/frontend/templates/product/view/attributes.phtml
Labels: Area: Frontend, Award: bug fix, Component: Catalog, Partner: Vaimo, Progress: accept, Release Line: 2.3, partners-contribution

#21774 MSI: Add deprecation message to CatalogInventory SPIs
  app/code/Magento/CatalogInventory/Model/Spi/StockRegistryProviderInterface.php
  app/code/Magento/CatalogInventory/Model/Spi/StockStateProviderInterface.php
Labels: Component: CatalogInventory, Partner: Strix, Progress: accept, Release Line: 2.3, partners-contribution

#21785 [Forwardport] [Checkout] Fix clearing admin quote address when removing all items
  app/code/Magento/Checkout/etc/di.xml
  app/code/Magento/Checkout/etc/frontend/di.xml
  dev/tests/integration/testsuite/Magento/Checkout/Plugin/Model/Quote/ResetQuoteAddressesTest.php
Labels: Component: Checkout, Partner: Atwix, Port, Progress: accept, Release Line: 2.3, lvivcd19, partners-contribution

#21791 #19835 Fix admin header buttons flicker
  app/code/Magento/Backend/view/adminhtml/templates/pageactions.phtml
  app/design/adminhtml/Magento/backend/Magento_Backend/web/css/source/module/main/_actions-bar.less
  lib/web/mage/backend/floating-header.js
Labels: Area: Design/Frontend, Area: Frontend, Area: Lib/Frontend, Cleanup, Component: Backend, Event: kharkivcd19, Progress: accept, Release Line: 2.3

#21826 Flying Fists of Kung Fu Cleanup
  app/code/Magento/Authorizenet/Model/Directpost/Request.php
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateVirtualProductWithCustomOptionsSuiteAndImportOptionsTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockWithCustomOptionsTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithRegularPriceInStockWithCustomOptionsVisibleInSearchOnlyTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/ActionGroup/AdminConfigurableProductActionGroup.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminCreateConfigurableProductWithTwoOptionsAssignedToCategoryTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminCreateConfigurableProductWithTwoOptionsWithoutAssignedToCategoryTest.xml
Labels: Cleanup, Component: Authorizenet, Component: Catalog, Component: ConfigurableProduct, Progress: accept, Release Line: 2.3

#21051 Fix broken admin order after emptying order and readding items
  app/code/Magento/Checkout/etc/di.xml
  app/code/Magento/Checkout/etc/frontend/di.xml
  dev/tests/integration/testsuite/Magento/Checkout/Plugin/Model/Quote/ResetQuoteAddressesTest.php
Labels: Component: Checkout, Progress: accept, Release Line: 2.2, Release Line: 2.3

#21662 [Backport] Fixed: #21278, Add sort order on downloadable links
  app/code/Magento/Downloadable/Ui/DataProvider/Product/Form/Modifier/Links.php
  app/code/Magento/Downloadable/Ui/DataProvider/Product/Form/Modifier/Samples.php
Labels: Component: Downloadable, Partner: Krish TechnoLabs, Port, Progress: accept, Release Line: 2.2, partners-contribution

#21698 [Backport] 20818 - prevent cache drop for frontend caches on sitemap generation
  app/code/Magento/Robots/Model/Config/Value.php
  app/code/Magento/Sitemap/Model/Sitemap.php
Labels: Component: Robots, Component: Sitemap, Partner: TechDivision, Port, Progress: accept, Release Line: 2.2, partners-contribution

#21793 [Backport] Fixed wrong proxing in the inventory observer
  app/code/Magento/CatalogInventory/etc/di.xml
Labels: Component: CatalogInventory, Partner: Atwix, Port, Progress: accept, Release Line: 2.2, lvivcd19, partners-contribution

#21800 [Backport] Disable dropdown in JavaScript and CSS Settings in developer configur…
  app/code/Magento/Backend/etc/adminhtml/system.xml
Labels: Component: Backend, Port, Progress: accept, Release Line: 2.2

#21802 [Backport] #13612 Fixed-Quantity_and_stock_status when visibility set to storefront throwing exception
  app/code/Magento/Eav/Model/Entity/Attribute/Source/AbstractSource.php
Labels: Component: Eav, Partner: Two Jay, Port, Progress: accept, Release Line: 2.2, partners-contribution

#21037 [Backport] Added RewriteBase directive template in .htaccess file into pub/media folder
  pub/media/.htaccess
Labels: Cleanup, Progress: accept, Release Line: 2.2

#21872 [Backport] [TASK] Remove translation of attribute store label in getA…
  app/code/Magento/Catalog/Block/Product/View/Attributes.php
Labels: Component: Catalog, Partner: Krish TechnoLabs, Port, Progress: accept, Release Line: 2.2, partners-contribution

#21543 [BP] static tests forbid or instead of 21062
  dev/tests/static/framework/Magento/ruleset.xml
Labels: Partner: ISM eCompany, Progress: accept, Release Line: 2.2, partners-contribution

#21661 [backport] Improve swatch table overflow handling
  app/code/Magento/Swatches/view/adminhtml/web/css/swatches.css
Labels: Area: Frontend, Component: Swatches, Port, Progress: accept, Release Line: 2.2

#21376 Fixed Inline block edit identifier validation
  app/code/Magento/Cms/view/adminhtml/ui_component/cms_block_listing.xml
Labels: Area: Frontend, Award: bug fix, Component: Cms, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#21693 Fix #21692 #21752 - logic in constructor of address validator and Locale Resolver check
  app/code/Magento/Sales/Model/Order/Address/Validator.php
  lib/internal/Magento/Framework/Locale/Format.php
  lib/internal/Magento/Framework/Locale/Resolver.php
Labels: Award: bug fix, Component: Locale, Component: Sales, Progress: accept, Release Line: 2.3

#21815 Fill data_hash from BULK response with correct data
  app/code/Magento/AsynchronousOperations/Model/MassSchedule.php
Labels: Component: AsynchronousOperations, Progress: accept, Release Line: 2.3

#21843 Fix typo
  lib/internal/Magento/Framework/Oauth/Oauth.php
Labels: Cleanup, Component: Oauth, Progress: accept, Release Line: 2.3

#21851 [Frontend] Fixing the accessibility standards violation
  lib/web/css/source/lib/_resets.less
Labels: Area: Lib/Frontend, Cleanup, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#21884 Correct spelling
  lib/internal/Magento/Framework/Setup/OldDbValidator.php
  lib/web/mage/adminhtml/globals.js
Labels: Area: Lib/Frontend, Cleanup, Component: Setup, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#21844 [Backport] Update price-bundle.js so that correct tier price is calculated while displaying in bundle product
  app/code/Magento/Bundle/view/base/web/js/price-bundle.js
Labels: Area: Frontend, Component: Bundle, Partner: Two Jay, Port, Progress: accept, Release Line: 2.2, partners-contribution

#21864 [Backport] fix #21750 remove translation of product attribute label
  app/code/Magento/Catalog/view/frontend/templates/product/view/attributes.phtml
Labels: Area: Frontend, Component: Catalog, Partner: Krish TechnoLabs, Port, Progress: accept, Release Line: 2.2, partners-contribution

#20212 Secure errors directory
  nginx.conf.sample
  pub/errors/.htaccess
Labels: Award: bug fix, Partner: integer_net GmbH, Progress: accept, Release Line: 2.3, partners-contribution

#21283 Fixed calculation of 'Total' column under "Last Orders" listing on the admin dashboard
  app/code/Magento/Reports/Model/ResourceModel/Order/Collection.php
Labels: Award: bug fix, Component: Reports, Progress: accept, Release Line: 2.3

#21825 When setting `background` for labels explicitly the labels in admin will
  app/design/adminhtml/Magento/backend/web/css/source/forms/_fields.less
Labels: Area: Design/Frontend, Progress: accept, Release Line: 2.3

#21880 magento/magento2#21001 - fix unit tests, by passing currency to numbe…
  lib/internal/Magento/Framework/Locale/Test/Unit/FormatTest.php
Labels: Award: bug fix, Component: Locale, Event: snowdog-oss, Progress: accept, Release Line: 2.3

#21899 Trigger contentUpdate on reviews load
  app/code/Magento/Review/view/frontend/web/js/process-reviews.js
Labels: Area: Frontend, Component: Review, Progress: accept, Release Line: 2.3

#21432 [Backport] Checkout - Fix JS error Cannot read property 'quoteData' of undefined
  app/code/Magento/Checkout/view/frontend/web/js/model/quote.js
Labels: Area: Frontend, Component: Checkout, Partner: Two Jay, Port, Progress: accept, Release Line: 2.2, partners-contribution

#21918 [Backport] Fix gallery full-screen triggers
  lib/web/mage/gallery/gallery.js
Labels: Area: Lib/Frontend, Port, Progress: accept, Release Line: 2.2

#19871 Added custom_options file upload directory to .gitignore.
  .gitignore
Labels: Progress: accept, Release Line: 2.3

#21697 Root exception not logged on QuoteManagement::submitQuote
  app/code/Magento/Quote/Model/QuoteManagement.php
Labels: Component: Quote, Partner: TechDivision, Progress: accept, Release Line: 2.3, partners-contribution

#21919 Fix gallery full-screen triggers
  lib/web/mage/gallery/gallery.js
Labels: Area: Lib/Frontend, Progress: accept, Release Line: 2.3

#21921 Correct spelling
  app/code/Magento/Ui/view/base/web/js/lib/core/storage/local.js
Labels: Area: Frontend, Cleanup, Component: Ui, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#21561 [Backport] Issue Fixed: #8086: Multiline admin field is broken
  app/code/Magento/Config/Model/Config.php
Labels: Community Insider: Cedcommerce, Component: Config, Port, Progress: accept, Release Line: 2.2, community-insider-contribution

#21939 [Backport] Fixed Inline block edit identifier validation
  app/code/Magento/Cms/view/adminhtml/ui_component/cms_block_listing.xml
Labels: Area: Frontend, Component: Cms, Partner: Krish TechnoLabs, Port, Progress: accept, Release Line: 2.2, partners-contribution

#18067 Fixes variables in configuration fields not being replaced with actual value…
  app/code/Magento/Config/Block/System/Config/Form.php
Labels: Component: Config, Progress: accept, Release Line: 2.3

#20898 Fixed #13319 , Incorrect method return value in \Magento\Shipping\Model\Carrier\AbstractCarrier::getTotalNumOfBoxes()
  app/code/Magento/Shipping/Model/Carrier/AbstractCarrier.php
Labels: Community Insider: Cedcommerce, Component: Shipping, Event: mm19in, Progress: accept, Release Line: 2.3, community-insider-contribution

#21484 Populate label elements for street address fields in checkout
  app/code/Magento/Checkout/Block/Checkout/AttributeMerger.php
  app/design/frontend/Magento/blank/Magento_Customer/web/css/source/_module.less
  app/design/frontend/Magento/luma/Magento_Customer/web/css/source/_module.less
Labels: Area: Design/Frontend, Component: Checkout, Progress: accept, Release Line: 2.3

#21749 Sitemap Generation - Product URL check null fix
  app/code/Magento/Sitemap/Model/ResourceModel/Catalog/Product.php
Labels: Component: Sitemap, Progress: accept, Release Line: 2.3

#21834 Add argument to show filter text in URL rewrite grid after click on back button
  app/code/Magento/UrlRewrite/view/adminhtml/layout/adminhtml_url_rewrite_index.xml
Labels: Area: Frontend, Component: UrlRewrite, Progress: accept, Release Line: 2.3
