Repository magento/magento2, pull requests merged in 2019-08, with the labels that each got.

#23840 Fix regular expression comment on function isNameValid() in ImageContentValidator.php
  lib/internal/Magento/Framework/Api/ImageContentValidator.php
Labels: Auto-Tests: Not Required, Cleanup, Component: Api, Progress: accept, Release Line: 2.3

#23845 Add custom added url key to decoded directive string in WYSIWYG editor
  lib/web/mage/adminhtml/wysiwyg/tiny_mce/tinymce4Adapter.js
Labels: Area: Lib/Frontend, Partner: H&O, Progress: accept, Release Line: 2.3, partners-contribution

#23866 additional check for correct version of sodium
  lib/internal/Magento/Framework/Encryption/Encryptor.php
Labels: Auto-Tests: Not Required, Component: Encryption, Progress: accept, Release Line: 2.3

#23901 Resolve Report->Product->Downloads has wrong ACL issue 23900
  app/code/Magento/Reports/Controller/Adminhtml/Report/Product/Downloads.php
Labels: Component: Reports, Progress: accept, Release Line: 2.3

#23905 Resolve No auto-focus after validation at "Create Configurations" button => User can not see the error message issue23904
  app/code/Magento/ConfigurableProduct/view/adminhtml/web/js/components/modal-configurable.js
Labels: Area: Frontend, Component: ConfigurableProduct, Progress: accept, Release Line: 2.3

#23917 Resolve Missing Validation at some Payment Method Settings issue 23916
  app/code/Magento/Authorizenet/etc/adminhtml/system.xml
  app/code/Magento/AuthorizenetAcceptjs/etc/adminhtml/system.xml
  app/code/Magento/OfflinePayments/etc/adminhtml/system.xml
Labels: Component: Authorizenet, Component: AuthorizenetAcceptjs, Component: OfflinePayments, Progress: accept, Release Line: 2.3

#23919 class ApplyAttributesUpdate should use \Magento\Catalog\Model\Product\Type::TYPE_BUNDLE instead of fixing "bundle"
  app/code/Magento/Bundle/Setup/Patch/Data/ApplyAttributesUpdate.php
Labels: Auto-Tests: Not Required, Cleanup, Component: Bundle, Progress: accept, Release Line: 2.3

#23933 Fix display of decimal quantities for wishlist items
  app/code/Magento/Wishlist/view/frontend/templates/item/column/cart.phtml
Labels: Area: Frontend, Auto-Tests: Not Required, Award: bug fix, Component: Wishlist, Partner: Basecom, Progress: accept, Release Line: 2.3, partners-contribution

#23772 Correct Css selector paypal payment method.
  app/design/adminhtml/Magento/backend/web/css/styles-old.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Progress: accept, Release Line: 2.3

#23817 Resolve Incorrect base currency in order grid for historical orders issue 23805
  app/code/Magento/Sales/Test/Unit/Ui/Component/Listing/Column/PriceTest.php
  app/code/Magento/Sales/Test/Unit/Ui/Component/Listing/Column/PurchasedPriceTest.php
  app/code/Magento/Sales/Ui/Component/Listing/Column/Price.php
  app/code/Magento/Sales/Ui/Component/Listing/Column/PurchasedPrice.php
Labels: Component: Sales, Progress: accept, Release Line: 2.3

#23868 magento/magento2#: Add description for the --type option of 'setup:db-declaration:generate-patch' command.
  app/code/Magento/Developer/Console/Command/GeneratePatchCommand.php
Labels: Auto-Tests: Not Required, Cleanup, Component: Developer, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#23871 [Catalog] Fix user value verification when adding product with multiselect custom option to cart
  app/code/Magento/Catalog/Model/Product/Option/Type/Select.php
Labels: Auto-Tests: Not Covered, Award: bug fix, Component: Catalog, Progress: accept, Release Line: 2.3

#23896 Resolve No validation "Minimum Qty" on "Minimum Qty Allowed in Shopping Cart" field
  app/code/Magento/CatalogInventory/Block/Adminhtml/Form/Field/Minsaleqty.php
Labels: Component: CatalogInventory, Progress: accept, Release Line: 2.3

#21831 Change the "main" function in NonComposerComponentRegistration.php to closure to avoid naming conflicts.
  app/etc/NonComposerComponentRegistration.php
Labels: Progress: accept, Release Line: 2.3

#23968 "New Tax Rate" missing validation => data is automatically changed when saving issue 23967
  app/code/Magento/Tax/Block/Adminhtml/Rate/Form.php
  app/code/Magento/Tax/Test/Mftf/Data/TaxRateData.xml
  app/code/Magento/Tax/Test/Mftf/Section/AdminTaxRateFormSection.xml
  app/code/Magento/Tax/Test/Mftf/Test/AdminCreateTaxRateInvalidPostcodeTestLength.xml
Labels: Award: bug fix, Component: Tax, Progress: accept, Release Line: 2.3

#23988 fix: escapeUrl("0") should return "0", not ""
  lib/internal/Magento/Framework/Escaper.php
  lib/internal/Magento/Framework/Test/Unit/EscaperTest.php
Labels: Award: bug fix, Component: Escaper, Component: Test, Progress: accept, Release Line: 2.3

#24039 Add missing sentence delete category in the CSV file of catalog module
  app/code/Magento/Catalog/i18n/en_US.csv
Labels: Area: Frontend, Auto-Tests: Not Required, Cleanup, Component: Catalog, Progress: accept, Release Line: 2.3

#24041 Resolve Dupplicate Label in Sales->Transactions at Backend (issue 24040)
  app/code/Magento/Paypal/etc/config.xml
Labels: Component: Paypal, Progress: accept, Release Line: 2.3

#23792 FIX: set correct page number for customer grid indexer iterator
  app/code/Magento/Customer/Model/Indexer/Source.php
Labels: Component: Customer, Progress: accept, Release Line: 2.3, bugfix

#23898 Fixed #23897 Sales Configuration in the Minimum Amount field have not proper validation
  app/code/Magento/Sales/etc/adminhtml/system.xml
Labels: Auto-Tests: Not Required, Award: bug fix, Component: Sales, Progress: accept, Release Line: 2.3

#23902 Resolved Bundle Product Show Incorrect Price if bundle options has on…
  app/code/Magento/Bundle/view/frontend/templates/catalog/product/view/type/bundle/option/multi.phtml
Labels: Area: Frontend, Component: Bundle, Progress: accept, Release Line: 2.3

#23913 [2.3] magento catalog:images:resize now Database Media Storage mode aware (Again!)
  app/code/Magento/MediaStorage/Service/ImageResize.php
  dev/tests/integration/testsuite/Magento/Catalog/_files/product_image.php
  dev/tests/integration/testsuite/Magento/Catalog/_files/product_image_rollback.php
  dev/tests/integration/testsuite/Magento/MediaStorage/Console/Command/ImageResizeCommandTest.php
  dev/tests/integration/testsuite/Magento/MediaStorage/_files/database_mode.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: MediaStorage, Progress: accept, Release Line: 2.3

#23983 Fixed #23982 Sales Configuration in the 'Orders Cron Settings' the field 'Pending Payment Order Lifetime (minutes)' have not proper validation
  app/code/Magento/Sales/etc/adminhtml/system.xml
Labels: Component: Sales, Progress: accept, Release Line: 2.3

#23801 Resolved Can not save "CMS Block" with empty content issue 23800
  app/code/Magento/Cms/view/adminhtml/ui_component/cms_block_form.xml
Labels: Area: Frontend, Award: bug fix, Component: Cms, Progress: accept, Release Line: 2.3

#23283 Cache Elasticsearch field mappers per entity
  app/code/Magento/Elasticsearch/Model/Adapter/FieldMapper/FieldMapperResolver.php
Labels: Auto-Tests: Not Required, Component: Elasticsearch, Progress: accept, Release Line: 2.3

#23406 Tax in sales order email is displayed after grand total row
  app/code/Magento/Tax/Block/Sales/Order/Tax.php
Labels: Auto-Tests: Not Covered, Award: bug fix, Component: Tax, Progress: accept, Release Line: 2.3

#24079 Resolve app/code/Magento/Customer/view/frontend/templates/address/grid.phtml call non-exist function getBackUrl (issue 24058)
  app/code/Magento/Customer/view/frontend/templates/address/grid.phtml
Labels: Area: Frontend, Auto-Tests: Not Required, Award: bug fix, Component: Customer, Progress: accept, Release Line: 2.3

#23747 Resolve Field "Billing ZIP Code" shows and disappears immediately in "Orders and Returns" form
  app/code/Magento/Sales/view/frontend/templates/guest/form.phtml
Labels: Area: Frontend, Auto-Tests: Not Required, Award: bug fix, Component: Sales, Progress: accept, Release Line: 2.3

#23985 No validation "Sort Order" in "New Rating" form issue 23984
  app/code/Magento/Review/Block/Adminhtml/Rating/Edit/Tab/Form.php
Labels: Component: Review, Progress: accept, Release Line: 2.3

#24028 Remove sr-only from subscribe button newsletter form
  app/code/Magento/Newsletter/view/frontend/templates/subscribe.phtml
Labels: Area: Frontend, Auto-Tests: Not Covered, Component: Newsletter, Progress: accept, Release Line: 2.3

#23576 Bakend: AbstractBlock parent construct should be called at the end
  app/code/Magento/Backend/Block/AbstractBlock.php
Labels: Auto-Tests: Not Required, Component: Backend, Progress: accept, Release Line: 2.3

#23954 Resolve "Merge On Conflict" missing the Label in "New Synonym Group" form issue23953
  app/code/Magento/Search/view/adminhtml/ui_component/search_synonyms_form.xml
Labels: Area: Frontend, Component: Search, Progress: accept, Release Line: 2.3

#24086 Fixed critical error 'Undefined constant formName'
  app/code/Magento/Catalog/view/adminhtml/templates/catalog/product/helper/gallery.phtml
Labels: Area: Frontend, Component: Catalog, Progress: accept, Release Line: 2.3

#24088 Database Media Storage : Fixed error in database deleteFolder function. Now correctly deletes folder
  app/code/Magento/MediaStorage/Model/ResourceModel/File/Storage/Database.php
  dev/tests/integration/testsuite/Magento/MediaStorage/Helper/File/Storage/DatabaseTest.php
  dev/tests/integration/testsuite/Magento/MediaStorage/_files/database_mode.php
Labels: Auto-Tests: Covered, Component: MediaStorage, Progress: accept, Release Line: 2.3

#24097 Resolve "Integrations" Grid missing header label (issue 24096)
  app/code/Magento/Integration/view/adminhtml/layout/adminhtml_integration_grid_block.xml
Labels: Area: Frontend, Award: bug fix, Component: Integration, Progress: accept, Release Line: 2.3

#24099 Resolve No asterisk symbol (required entry) when changing "Encryption Key" (issue 24098)
  app/code/Magento/EncryptionKey/Block/Adminhtml/Crypt/Key/Form.php
Labels: Award: bug fix, Component: EncryptionKey, Progress: accept, Release Line: 2.3

#24101 Resolve "Number of results" and "Number of Uses" in edit "Search Term" missing validate number (issue 24100)
  app/code/Magento/Search/Block/Adminhtml/Term/Edit/Form.php
Labels: Auto-Tests: Not Covered, Award: bug fix, Component: Search, Progress: accept, Release Line: 2.3

#23856 Fixed #23852 Magento 2.3 Customer Configuration in the Online Customer Options have not proper validation
  app/code/Magento/Customer/etc/adminhtml/system.xml
Labels: Auto-Tests: Not Covered, Component: Customer, Progress: accept, Release Line: 2.3

#23862 [Lib] Fix previous attempts to correct wrong behaviour of collapsible library
  lib/web/mage/collapsible.js
Labels: Area: Lib/Frontend, Progress: accept, Release Line: 2.3

#24044 issue/24043: add better exception handling for cli commands
  lib/internal/Magento/Framework/Console/Cli.php
Labels: Auto-Tests: Not Covered, Component: Console, Partner: H&O, Progress: accept, Release Line: 2.3, partners-contribution

#24129 Update Magento_AdminNotification module ReadMe
  app/code/Magento/AdminNotification/README.md
Labels: Auto-Tests: Not Required, Component: AdminNotification, Partner: Space 48, Progress: accept, Release Line: 2.3, partners-contribution

#24138 Resolve No validation Email in Store->Configurations->Sales->Sales Emails (issue 24137)
  app/code/Magento/Sales/etc/adminhtml/system.xml
Labels: Auto-Tests: Not Required, Award: bug fix, Component: Sales, Progress: accept, Release Line: 2.3

#23687 Resolve Warning during search in catalog by multiple custom option values. Warning should not be generated in log
  app/code/Magento/CatalogSearch/Model/Layer/Filter/Attribute.php
Labels: Auto-Tests: Not Required, Award: bug fix, Component: CatalogSearch, Progress: accept, Release Line: 2.3

#23698 Resolve Searching "Categories" is wrong in New Product form when pressing 1 character issue 23697
  app/code/Magento/Ui/view/base/web/js/form/element/ui-select.js
Labels: Area: Frontend, Auto-Tests: Not Required, Award: bug fix, Component: Ui, Progress: accept, Release Line: 2.3

#24078 Resolve Account sidebar current tab is not marked as Active (issue 24068)
  lib/internal/Magento/Framework/View/Element/Html/Link/Current.php
Labels: Auto-Tests: Not Required, Award: bug fix, Component: View, Progress: accept, Release Line: 2.3

#24119 Resolve Missing "expand/collapse" icon in paypal setting (issue 24118)
  app/code/Magento/Paypal/view/adminhtml/web/styles.css
Labels: Area: Frontend, Auto-Tests: Not Required, Award: bug fix, Component: Paypal, Progress: accept, Release Line: 2.3

#13580 [Forward Port 2.3] Increase flag_data size
  setup/src/Magento/Setup/Model/Installer.php
Labels: Auto-Tests: Not Required, Component: Setup, Progress: accept, Release Line: 2.3

#23430 #23429 wrap url rewrite regeneration into transaction to keep existing urls form deletion
  app/code/Magento/UrlRewrite/Model/Storage/DbStorage.php
Labels: Award: bug fix, Component: UrlRewrite, Progress: accept, Release Line: 2.3

#23762 Fix quote fixture.
  dev/tests/integration/testsuite/Magento/Sales/_files/quote.php
Labels: Partner: ISM eCompany, Progress: accept, Release Line: 2.3, partners-contribution

#24142 fix function return type
  lib/internal/Magento/Framework/Data/Collection.php
Labels: Auto-Tests: Not Required, Component: Data, Progress: accept, Release Line: 2.3

#24145 Update Admin Notification ReadMe (https)
  app/code/Magento/AdminNotification/README.md
Labels: Auto-Tests: Not Required, Cleanup, Component: AdminNotification, Partner: Space 48, Progress: accept, Release Line: 2.3, partners-contribution

#24146 Update Magento_AdvancedPricingImportExport ReadMe
  app/code/Magento/AdvancedPricingImportExport/README.md
Labels: Auto-Tests: Not Required, Cleanup, Component: AdvancedPricingImportExport, Partner: Space 48, Progress: accept, Release Line: 2.3, partners-contribution

#20877 Improve bundle load speeds
  app/code/Magento/Tax/Observer/GetPriceConfigurationObserver.php
  app/code/Magento/Tax/Test/Unit/Observer/GetPriceConfigurationObserverTest.php
Labels: Auto-Tests: Covered, Award: special achievement, Component: Tax, Progress: accept, Release Line: 2.3

#23690 Resolve API create /V1/products/attribute-sets/groups ("sort_order" and "attribute_group_code") not changing.
  app/code/Magento/Catalog/Model/ProductAttributeGroupRepository.php
Labels: Auto-Tests: Not Covered, Award: bug fix, Component: Catalog, Progress: accept, Release Line: 2.3

#23774 #23705 : Css selector [role="button"] in related products javascript is not specific enough
  app/code/Magento/Catalog/view/frontend/templates/product/list/items.phtml
  app/code/Magento/Catalog/view/frontend/web/js/related-products.js
Labels: Area: Frontend, Component: Catalog, Progress: accept, Release Line: 2.3

#24140 Resolve "Action" column is not the last column in "Design Configuration" (issue 24139)
  app/code/Magento/Theme/view/adminhtml/ui_component/design_config_listing.xml
Labels: Area: Frontend, Auto-Tests: Not Required, Award: bug fix, Component: Theme, Progress: accept, Release Line: 2.3

#21064 Fix $attributes default value
  app/code/Magento/Catalog/Block/Product/ImageFactory.php
Labels: Auto-Tests: Not Covered, Component: Catalog, Progress: accept, Release Line: 2.3

#23894 Replace annoying multi-line warning with short message + context
  app/code/Magento/Eav/Model/ResourceModel/ReadHandler.php
Labels: Auto-Tests: Not Required, Component: Eav, Partner: Strix, Progress: accept, Release Line: 2.3, partners-contribution

#24054 Issues #22338 - Override price-box.js using mix-in Firefox
  app/code/Magento/Catalog/view/frontend/templates/product/view/form.phtml
Labels: Area: Frontend, Component: Catalog, Progress: accept, Release Line: 2.3

#24114 Allow TinyMCE to save content with inline style tags
  lib/web/mage/adminhtml/wysiwyg/tiny_mce/plugins/magentovariable/editor_plugin.js
  lib/web/mage/adminhtml/wysiwyg/tiny_mce/plugins/magentowidget/editor_plugin.js
  lib/web/mage/adminhtml/wysiwyg/tiny_mce/tinymce4Adapter.js
Labels: Area: Lib/Frontend, Award: bug fix, Progress: accept, Release Line: 2.3

#23059 Validated input text fields to enter only blank spaces
  app/code/Magento/CatalogSearch/Model/Advanced.php
Labels: Area: Frontend, Auto-Tests: Not Covered, Award: bug fix, Component: CatalogSearch, Progress: accept, Release Line: 2.3

#24109 Update _icons.less
  lib/web/css/source/lib/_icons.less
Labels: Area: Lib/Frontend, Auto-Tests: Not Required, Progress: accept, Release Line: 2.3

#24111 MFTF Low stock reports sections and page.
  app/code/Magento/Reports/Test/Mftf/Page/LowStockReportPage.xml
  app/code/Magento/Reports/Test/Mftf/Section/LowStockProductGridSection.xml
  app/code/Magento/Reports/Test/Mftf/Section/LowStockReportMainSection.xml
Labels: Component: Reports, Progress: accept, Release Line: 2.3

#24117 magento/magento2#24116: Webapi schema generation fail in case when Ge…
  app/code/Magento/Webapi/Model/Rest/Swagger/Generator.php
Labels: Auto-Tests: Not Covered, Component: Webapi, Partner: ISM eCompany, Progress: accept, Release Line: 2.3, partners-contribution

#23848 magento/magento2#23847: Command "setup:db-declaration:generate-patch" does not add revert() method to patch
  app/code/Magento/Developer/Console/Command/GeneratePatchCommand.php
  app/code/Magento/Developer/Console/Command/patch_template.php.dist
  app/code/Magento/Developer/Console/Command/template_revert_function.php.dist
Labels: Auto-Tests: Not Covered, Award: special achievement, Component: Developer, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#23693 Resolve Timezone scopeDate method isn't implemented fully
  lib/internal/Magento/Framework/Stdlib/DateTime/Timezone.php
Labels: Award: bug fix, Component: Stdlib, Progress: accept, Release Line: 2.3

#23918 Extract handles from layout updates before layout merge step.
  lib/internal/Magento/Framework/View/Model/Layout/Merge.php
Labels: Auto-Tests: Not Covered, Award: bug fix, Community Insider: Magecom, Component: View, Progress: accept, Release Line: 2.3, community-insider-contribution

#24155 Resolve No validate "Sort Order" in Widget Form (issue 24154)
  app/code/Magento/Widget/Block/Adminhtml/Widget/Instance/Edit/Tab/Main.php
Labels: Award: bug fix, Component: Widget, Progress: accept, Release Line: 2.3

#24150 Add .editorconfig file
  .editorconfig
Labels: Progress: accept, Release Line: 2.3

#24165 Resolve "HTTP Strict Transport Security" has the Outdate Url issue24164
  app/code/Magento/Backend/etc/adminhtml/system.xml
Labels: Auto-Tests: Not Required, Cleanup, Component: Backend, Progress: accept, Release Line: 2.3

#24167 getStoreValuesForForm($empty = false, $all = false) has bad logic (undefine variable)
  app/code/Magento/Store/Model/System/Store.php
Labels: Auto-Tests: Not Required, Component: Store, Progress: accept, Release Line: 2.3

#24170 resolve "Layered Navigation Price Step" must validate number issue24169
  app/code/Magento/Catalog/view/adminhtml/ui_component/category_form.xml
Labels: Area: Frontend, Award: bug fix, Component: Catalog, Progress: accept, Release Line: 2.3

#24171 Resolve undefined variable in getAvailableWidget(...) function
  app/code/Magento/Widget/Model/Widget/Config.php
Labels: Component: Widget, Progress: accept, Release Line: 2.3

#24173 Resolve "Service->Oauth Settings" has no number validation issue24172
  app/code/Magento/Integration/etc/adminhtml/system.xml
Labels: Award: bug fix, Component: Integration, Progress: accept, Release Line: 2.3

#24178 Update Magento_Amqp ReadMe
  app/code/Magento/Amqp/README.md
Labels: Auto-Tests: Not Required, Cleanup, Component: Amqp, Partner: Space 48, Progress: accept, Release Line: 2.3, partners-contribution

#23253 Fixed issue #21650
  app/code/Magento/Ui/view/base/web/js/lib/validation/rules.js
  dev/tests/js/jasmine/tests/app/code/Magento/Ui/base/js/lib/validation/rules.test.js
Labels: Area: Frontend, Award: bug fix, Component: Ui, Partner: Ranosys Technologies, Progress: accept, Release Line: 2.3, partners-contribution

#23372 Use variadics instead of func_get_args()
  lib/internal/Magento/Framework/Phrase/__.php
Labels: Auto-Tests: Not Required, Component: Phrase, Progress: accept, Release Line: 2.3

#23621 Media gallery loaded twice
  lib/web/mage/adminhtml/browser.js
  lib/web/mage/adminhtml/wysiwyg/tiny_mce/tinymce4Adapter.js
Labels: Area: Lib/Frontend, Auto-Tests: Not Covered, Progress: accept, Release Line: 2.3

#24163 Resolve Comment "Warning!" in "Allow Symlinks" should have red color like other notices (issue 24162)
  app/code/Magento/Backend/etc/adminhtml/system.xml
  app/code/Magento/Backend/i18n/en_US.csv
Labels: Auto-Tests: Not Required, Component: Backend, Progress: accept, Release Line: 2.3

#24174 "Admin Session Lifetime" should use JS validate (to optimize UI/UX)
  app/code/Magento/Backend/etc/adminhtml/system.xml
Labels: Component: Backend, Progress: accept, Release Line: 2.3

#24176 Update AdvancedSearch ReadMe
  app/code/Magento/AdvancedSearch/README.md
Labels: Auto-Tests: Not Required, Cleanup, Component: AdvancedSearch, Partner: Space 48, Progress: accept, Release Line: 2.3, partners-contribution

#24182 Resolve undefine variable in _createUserRole function
  app/code/Magento/User/Model/ResourceModel/User.php
Labels: Award: bug fix, Component: User, Progress: accept, Release Line: 2.3

#24195 fix lost the table prefix in setup
  setup/src/Magento/Setup/Model/Installer.php
Labels: Component: Setup, Progress: accept, Release Line: 2.3

#24205 Resolve Some Fields in "Currency Setup" must have validate number issue24204
  app/code/Magento/Directory/etc/adminhtml/system.xml
Labels: Award: bug fix, Component: Directory, Progress: accept, Release Line: 2.3

#24226 Remove redundant file
  bin-magento.yml
Labels: Progress: accept, Release Line: 2.3

#23300 Use class name as type hint instead of self.
  app/code/Magento/Catalog/Model/Indexer/Category/Product/Action/Full.php
Labels: Component: Catalog, Partner: JH, Progress: accept, Release Line: 2.3, partners-contribution

#24244 Update access_denied.phtml
  app/code/Magento/Backend/view/adminhtml/templates/admin/access_denied.phtml
Labels: Area: Frontend, Auto-Tests: Not Required, Component: Backend, Progress: accept, Release Line: 2.3

#24280 Update Magento_Authorization ReadMe
  app/code/Magento/Authorization/README.md
Labels: Auto-Tests: Not Required, Component: Authorization, Partner: Space 48, Progress: accept, Release Line: 2.3, partners-contribution

#22003 Do not validate length and input rule if attribute value is required but empty
  app/code/Magento/Eav/Model/Attribute/Data/Text.php
Labels: Component: Eav, Progress: accept, Release Line: 2.3

#23325 Fix unexpected diff between builds in generated/metadata directory
  setup/src/Magento/Setup/Module/Di/App/Task/Operation/Area.php
Labels: Auto-Tests: Not Covered, Award: bug fix, Component: Setup, Progress: accept, Release Line: 2.3

#24104 Resolve Console error when clicking select all at "Newsletter Problems Report" (issue 24102)
  app/code/Magento/Newsletter/view/adminhtml/templates/problem/list.phtml
Labels: Area: Frontend, Award: bug fix, Component: Newsletter, Progress: accept, Release Line: 2.3

#24242 "Save Product" with the invalid data must scroll to the error message issue24241
  app/code/Magento/Ui/view/base/web/js/form/client.js
Labels: Area: Frontend, Award: bug fix, Component: Ui, Progress: accept, Release Line: 2.3

#24249 Resolve Mass Delete Subscribers doesn't have "confirm" message issue24248
  app/code/Magento/Newsletter/i18n/en_US.csv
  app/code/Magento/Newsletter/view/adminhtml/layout/newsletter_subscriber_block.xml
Labels: Area: Frontend, Auto-Tests: Not Covered, Award: bug fix, Component: Newsletter, Progress: accept, Release Line: 2.3

#24252 Correct the return of type of function _columnBrake in module-theme block topMenu.php
  app/code/Magento/Theme/Block/Html/Topmenu.php
Labels: Award: bug fix, Component: Theme, Progress: accept, Release Line: 2.3

#24265 Correction in the shipping method if it is empty it no longer shows t…
  app/code/Magento/Checkout/view/frontend/web/js/view/shipping-information.js
Labels: Area: Frontend, Award: bug fix, Component: Checkout, Event: cd19latam, Partner: Wolf Sellers, Progress: accept, Release Line: 2.3, partners-contribution

#24278 Update Magento_AsynchronousOperations ReadMe
  app/code/Magento/AsynchronousOperations/README.md
Labels: Auto-Tests: Not Required, Component: AsynchronousOperations, Partner: Space 48, Progress: accept, Release Line: 2.3, partners-contribution

#24326 Update Magento_AuthorizenetAcceptjs Readme
  app/code/Magento/AuthorizenetAcceptjs/README.md
Labels: Auto-Tests: Not Required, Component: AuthorizenetAcceptjs, Partner: Space 48, Progress: accept, Release Line: 2.3, partners-contribution

#24327 Update Magento_AuthorizenetCardinal ReadMe
  app/code/Magento/AuthorizenetCardinal/README.md
Labels: Auto-Tests: Not Required, Component: AuthorizenetCardinal, Partner: Space 48, Progress: accept, Release Line: 2.3, partners-contribution

#24328 Update Magento_AuthorizenetGraphQl ReadMe
  app/code/Magento/AuthorizenetGraphQl/README.md
Labels: Auto-Tests: Not Required, Component: AuthorizenetGraphQl, Partner: Space 48, Progress: accept, Release Line: 2.3, partners-contribution

#24341 Correct spelling
  app/code/Magento/SalesRule/view/adminhtml/templates/promo/salesrulejs.phtml
Labels: Area: Frontend, Cleanup, Component: SalesRule, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#23085 Minimize complexity for customer address import model
  app/code/Magento/CustomerImportExport/Model/Import/Address.php
Labels: Auto-Tests: Not Covered, Component: CustomerImportExport, Progress: accept, Release Line: 2.3

#24193 Use appropriate label for store switch
  app/code/Magento/Backend/i18n/en_US.csv
  app/code/Magento/Backend/view/adminhtml/templates/store/switcher.phtml
Labels: Area: Frontend, Auto-Tests: Not Required, Component: Backend, Progress: accept, Release Line: 2.3

#24213 Resolve Virtual Quote shouldn't display "Shipping & Handling" total when Create New Order
  app/code/Magento/Quote/Model/Quote/Address/Total/Shipping.php
Labels: Component: Quote, Progress: accept, Release Line: 2.3

#24237 Resolved File type custom option value not showing properly in minicart
  app/code/Magento/Checkout/view/frontend/web/template/minicart/item/default.html
Labels: Area: Frontend, Component: Checkout, Progress: accept, Release Line: 2.3

#24294 Resolve No validate number when create Website, Store View issue24293
  app/code/Magento/Backend/Block/System/Store/Edit/Form/Store.php
  app/code/Magento/Backend/Block/System/Store/Edit/Form/Website.php
Labels: Component: Backend, Progress: accept, Release Line: 2.3

#24211 added fix for the ticket #24210
  app/design/adminhtml/Magento/backend/web/js/theme.js
Labels: Area: Design/Frontend, Award: bug fix, Partner: i95Dev, Progress: accept, Release Line: 2.3, partners-contribution

#24272 Resolve error when call getExchangeRates() and setExchangeRates(...) in Magento\Directory\Api\Data\ExchangeRateInterface
  app/code/Magento/Directory/Model/Data/ExchangeRate.php
Labels: Component: Directory, Progress: accept, Release Line: 2.3

#24276 Update Magento_AmqpStore ReadMe
  app/code/Magento/AmqpStore/README.md
Labels: Auto-Tests: Not Required, Component: AmqpStore, Partner: Space 48, Progress: accept, Release Line: 2.3, partners-contribution

#24296 Resolve All shipping method (Flat Rate, Table Rate,...) has No validate number (Sort Order) issue24295
  app/code/Magento/Dhl/etc/adminhtml/system.xml
  app/code/Magento/Fedex/etc/adminhtml/system.xml
  app/code/Magento/OfflineShipping/etc/adminhtml/system.xml
  app/code/Magento/Ups/etc/adminhtml/system.xml
  app/code/Magento/Usps/etc/adminhtml/system.xml
Labels: Component: Dhl, Component: Fedex, Component: OfflineShipping, Component: Ups, Component: Usps, Progress: accept, Release Line: 2.3
