Repository magento/magento2, pull requests merged in 2019-10, with the labels that each got.

#24783 magento/magento2#23295: Reset Password Confirmation Link Email Not St…
  app/code/Magento/Customer/Model/EmailNotification.php
  app/code/Magento/Customer/Test/Unit/Model/EmailNotificationTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Community Insider: Magecom, Component: Customer, Progress: accept, Release Line: 2.3, community-insider-contribution

#24761 Resolved Issue #24740
  app/design/adminhtml/Magento/backend/web/css/source/forms/_fields.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Award: bug fix, Partner: Zilker Technology, Progress: accept, Release Line: 2.3, partners-contribution

#24755 Fix for CLI Backup doesn't work properly when directory is a symlink …
  lib/internal/Magento/Framework/Backup/Archive/Tar.php
Labels: Auto-Tests: Not Required, Component: Backup, Progress: accept, Release Line: 2.3

#24753 Fixed swatch-renderer js console error on edit cart product
  app/code/Magento/Swatches/view/frontend/web/js/swatch-renderer.js
Labels: Area: Frontend, Auto-Tests: Not Required, Component: Swatches, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#20181 magento/magento2#15775: [Forwardport] Incorrect return type getList() in CustomerRepository.
  app/code/Magento/AsynchronousOperations/Model/OperationSearchResults.php
  app/code/Magento/AsynchronousOperations/etc/di.xml
  app/code/Magento/Catalog/Model/CategoryAttributeSearchResults.php
  app/code/Magento/Catalog/Model/CategorySearchResults.php
  app/code/Magento/Catalog/Model/ProductAttributeSearchResults.php
  app/code/Magento/Catalog/Model/ProductSearchResults.php
  app/code/Magento/Catalog/etc/di.xml
  app/code/Magento/Cms/Model/BlockSearchResults.php
  app/code/Magento/Cms/Model/PageSearchResults.php
  app/code/Magento/Cms/etc/di.xml
  app/code/Magento/Customer/Model/AddressSearchResults.php
  app/code/Magento/Customer/Model/CustomerSearchResults.php
  app/code/Magento/Customer/Model/GroupSearchResults.php
  app/code/Magento/Customer/etc/di.xml
  app/code/Magento/Eav/Model/AttributeGroupSearchResults.php
  app/code/Magento/Eav/Model/AttributeSearchResults.php
  app/code/Magento/Eav/Model/AttributeSetSearchResults.php
  app/code/Magento/Eav/etc/di.xml
  app/code/Magento/Quote/Api/Data/CartSearchResultsInterface.php
  app/code/Magento/Quote/Model/CartSearchResults.php
  app/code/Magento/Quote/etc/di.xml
  app/code/Magento/SalesRule/Model/CouponSearchResult.php
  app/code/Magento/SalesRule/Model/RuleSearchResult.php
  app/code/Magento/SalesRule/etc/di.xml
  app/code/Magento/Signifyd/Model/CaseSearchResults.php
  app/code/Magento/Signifyd/etc/di.xml
  app/code/Magento/Tax/Model/TaxClassSearchResults.php
  app/code/Magento/Tax/Model/TaxRateSearchResults.php
  app/code/Magento/Tax/Model/TaxRuleSearchResults.php
  app/code/Magento/Tax/etc/di.xml
  app/code/Magento/Ui/Model/BookmarkSearchResults.php
  app/code/Magento/Ui/etc/di.xml
  app/code/Magento/Vault/Model/PaymentTokenSearchResults.php
  app/code/Magento/Vault/etc/di.xml
  lib/internal/Magento/Framework/Api/SearchResults.php
  lib/internal/Magento/Framework/Api/SearchResultsInterface.php
Labels: Auto-Tests: Not Required, Component: AsynchronousOperations, Component: Catalog, Component: Cms, Component: Customer, Component: Eav, Component: Quote, Component: SalesRule, Component: Signifyd, Component: Tax, Progress: accept, Release Line: 2.3

#24804 Fixed Issue #24803
  app/code/Magento/Email/Test/Mftf/ActionGroup/EmailTemplateActionGroup.xml
  app/code/Magento/Email/i18n/en_US.csv
  app/code/Magento/Email/view/adminhtml/templates/template/edit.phtml
Labels: Area: Frontend, Auto-Tests: Not Required, Cleanup, Component: Email, Partner: Zilker Technology, Progress: accept, Release Line: 2.3, Squashtoberfest 2019, partners-contribution

#24790 Add valid mail port validation
  app/code/Magento/Backend/etc/adminhtml/system.xml
Labels: Auto-Tests: Not Required, Component: Backend, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#24720 Added unique key on eav_attribute_option_value table
  app/code/Magento/Eav/etc/db_schema.xml
  app/code/Magento/Eav/etc/db_schema_whitelist.json
Labels: Auto-Tests: Not Required, Award: bug fix, Component: Eav, Partner: Elogic, Progress: accept, Release Line: 2.3, partners-contribution

#24680 Update Magento_BraintreeGraphQl module ReadMe
  app/code/Magento/BraintreeGraphQl/README.md
Labels: Auto-Tests: Not Required, Component: BraintreeGraphQl, Partner: Space 48, Progress: accept, Release Line: 2.3, partners-contribution

#24891 Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: Auto-Tests: Not Required, Cleanup, Progress: accept, Release Line: 2.3, Squashtoberfest 2019

#24890 Fix small typo
  dev/tests/integration/testsuite/Magento/Braintree/Controller/Adminhtml/Invoice/CreateTest.php
Labels: Auto-Tests: Not Required, Cleanup, Progress: accept, Release Line: 2.3, Squashtoberfest 2019

#24872 Remove useless semicolons
  dev/tests/integration/testsuite/Magento/Catalog/_files/product_simple_with_non_latin_url_key.php
  dev/tests/integration/testsuite/Magento/Multishipping/Fixtures/quote_with_configurable_product.php
  lib/internal/Magento/Framework/Lock/Backend/Database.php
Labels: Auto-Tests: Not Required, Cleanup, Component: Lock, Progress: accept, Release Line: 2.3, Squashtoberfest 2019

#24864 Updated ReadMe, Corrected some Grammatical Mistakes
  README.md
Labels: Auto-Tests: Not Required, Cleanup, Progress: accept, Release Line: 2.3, Squashtoberfest 2019

#24858 Added integration test for Magento\Sales\Cron\CleanExpiredQuotes class.
  dev/tests/integration/testsuite/Magento/Sales/Cron/CleanExpiredQuotesTest.php
  dev/tests/integration/testsuite/Magento/Sales/_files/quotes.php
  dev/tests/integration/testsuite/Magento/Sales/_files/quotes_rollback.php
Labels: Auto-Tests: Covered, Progress: accept, Release Line: 2.3, Squashtoberfest 2019

#24851 Remove unnecessary parentheses
  lib/web/mage/popup-window.js
Labels: Area: Lib/Frontend, Auto-Tests: Not Required, Cleanup, Progress: accept, Release Line: 2.3, Squashtoberfest 2019

#24853 Update AbstractForm.php
  lib/internal/Magento/Framework/Data/Form/AbstractForm.php
Labels: Auto-Tests: Not Required, Cleanup, Component: Data, Progress: accept, Release Line: 2.3, Squashtoberfest 2019

#24848 Change array to object
  app/code/Magento/Checkout/view/frontend/web/js/model/cart/estimate-service.js
  app/code/Magento/Checkout/view/frontend/web/js/model/shipping-rate-service.js
  app/code/Magento/Checkout/view/frontend/web/js/model/shipping-save-processor.js
Labels: Area: Frontend, Auto-Tests: Not Required, Cleanup, Component: Checkout, Progress: accept, Release Line: 2.3, Squashtoberfest 2019

#24829 [SendFriend] Covering the CaptchaValidator by Unit Tests
  app/code/Magento/SendFriend/Test/Unit/Model/CaptchaValidatorTest.php
Labels: Auto-Tests: Covered, Component: SendFriend, Partner: Atwix, Progress: accept, Release Line: 2.3, Squashtoberfest 2019, partners-contribution

#24831 Fixed #24722: Advanced price export file is empty
  app/code/Magento/AdvancedPricingImportExport/Model/Export/AdvancedPricing.php
Labels: Auto-Tests: Not Required, Award: bug fix, Component: AdvancedPricingImportExport, Progress: accept, Release Line: 2.3, Squashtoberfest 2019

#24792 #async-import/issues/207: Provide the ability to check errors in WebAPI tests in a single approach for different adapters (SOAP/REST)
  dev/tests/api-functional/framework/Magento/TestFramework/TestCase/WebapiAbstract.php
Labels: Auto-Tests: Not Required, Progress: accept, Release Line: 2.3

#24659 Fix error in configurables
  app/code/Magento/ConfigurableProduct/Model/Product/Type/VariationMatrix.php
  app/code/Magento/ConfigurableProduct/Test/Unit/Model/Product/Type/VariationMatrixTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: ConfigurableProduct, Progress: accept, Release Line: 2.3

#24913 Resolved issue #12855
  app/code/Magento/Sales/Test/Mftf/Test/AdminCreateOrderAddProductCheckboxTest.xml
  app/design/adminhtml/Magento/backend/Magento_Sales/web/css/source/module/_order.less
Labels: Area: Design/Frontend, Auto-Tests: Covered, Award: MFTF test coverage, Award: bug fix, Award: test coverage, Component: Sales, Partner: Zilker Technology, Progress: accept, Release Line: 2.3, Squashtoberfest 2019, partners-contribution

#24907 [#24903] Fix Type error in DynamicStorage
  app/code/Magento/CatalogUrlRewrite/Model/Storage/DynamicStorage.php
Labels: Auto-Tests: Not Required, Cleanup, Component: CatalogUrlRewrite, Progress: accept, Release Line: 2.3, Squashtoberfest 2019

#24881 Make email preview responsive (#23754)
  app/design/adminhtml/Magento/backend/web/css/styles-old.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Award: bug fix, Progress: accept, Release Line: 2.3, Squashtoberfest 2019

#24888 Replace deprecated "nobr" element
  lib/web/css/docs/layout.html
  lib/web/css/docs/responsive.html
  lib/web/css/docs/source/_layout.less
  lib/web/css/docs/source/_responsive.less
  lib/web/css/docs/source/_variables.less
  lib/web/css/docs/variables.html
Labels: Area: Lib/Frontend, Auto-Tests: Not Required, Progress: accept, Release Line: 2.3, Squashtoberfest 2019

#24883 Replace deprecated "big" element
  app/code/Magento/Sales/view/adminhtml/templates/order/details.phtml
  app/code/Magento/Sales/view/adminhtml/templates/order/totals/due.phtml
  app/code/Magento/Sales/view/adminhtml/templates/order/totals/grand.phtml
Labels: Area: Frontend, Auto-Tests: Not Required, Component: Sales, Progress: accept, Release Line: 2.3, Squashtoberfest 2019

#24852 Correctly check if the type is undefined
  lib/web/mage/decorate.js
Labels: Area: Lib/Frontend, Auto-Tests: Not Required, Progress: accept, Release Line: 2.3, Squashtoberfest 2019

#24850 Correctly check the behaviourType
  app/code/Magento/Ui/view/base/web/js/form/components/insert-listing.js
Labels: Area: Frontend, Auto-Tests: Not Required, Component: Ui, Progress: accept, Release Line: 2.3, Squashtoberfest 2019

#24832 Added cdata to comment
  app/code/Magento/Backend/etc/adminhtml/system.xml
Labels: Auto-Tests: Not Required, Award: bug fix, Component: Backend, Partner: Trezo, Progress: accept, Release Line: 2.3, Squashtoberfest 2019, partners-contribution

#24817 #24452 Category Admin UI does not save tree changes unless OK button is clicked
  app/code/Magento/Catalog/view/adminhtml/templates/catalog/category/tree.phtml
Labels: Area: Frontend, Auto-Tests: Not Required, Community Insider: Magecom, Component: Catalog, Progress: accept, Release Line: 2.3, Squashtoberfest 2019, community-insider-contribution

#25049 Revert changes in 20042 PR
  app/code/Magento/SalesRule/Model/Rule/Condition/Address.php
Labels: Auto-Tests: Not Required, Component: SalesRule, Progress: accept, Release Line: 2.3, Squashtoberfest 2019

#24966 Updated 'self signup' link to join Community Engineering Slack
  README.md
Labels: Auto-Tests: Not Required, Progress: accept, Release Line: 2.3, Squashtoberfest 2019

#24973 Fixed: Method chaining broken Module_Catalog Product Collection
  app/code/Magento/Catalog/Model/ResourceModel/Product/Collection.php
Labels: Auto-Tests: Not Required, Award: bug fix, Component: Catalog, Progress: accept, Release Line: 2.3, Squashtoberfest 2019

#24900 Static Content Deploy - Cleanup array_merge() in loop + don't format log message if logs are disabled
  app/code/Magento/Deploy/Package/Package.php
  app/code/Magento/Deploy/Service/DeployPackage.php
Labels: Auto-Tests: Not Required, Cleanup, Component: Deploy, Progress: accept, Release Line: 2.3, Squashtoberfest 2019

#24904 Static Content Deploy - Get rid of in_array(array_keys($array))
  lib/internal/Magento/Framework/View/Asset/PreProcessor/AlternativeSource.php
  lib/internal/Magento/Framework/View/Asset/PreProcessor/FileNameResolver.php
Labels: Auto-Tests: Covered, Component: View, Progress: accept, Release Line: 2.3, Squashtoberfest 2019

#24833 Fix #22747 - JavaScript modules contain unnecessary define checks
  app/code/Magento/Authorizenet/view/adminhtml/web/js/direct-post.js
  app/code/Magento/Backend/view/adminhtml/web/js/translate.js
  app/code/Magento/Catalog/view/frontend/web/js/gallery.js
  app/code/Magento/Catalog/view/frontend/web/product/view/validation.js
  app/code/Magento/Payment/view/base/web/js/model/credit-card-validation/validator.js
  lib/web/mage/backend/button.js
  lib/web/mage/backend/form.js
  lib/web/mage/backend/menu.js
  lib/web/mage/backend/suggest.js
  lib/web/mage/backend/tabs.js
  lib/web/mage/backend/tree-suggest.js
  lib/web/mage/backend/validation.js
  lib/web/mage/calendar.js
  lib/web/mage/cookies.js
  lib/web/mage/decorate.js
  lib/web/mage/edit-trigger.js
  lib/web/mage/loader_old.js
  lib/web/mage/mage.js
  lib/web/mage/template.js
  lib/web/mage/translate-inline-vde.js
  lib/web/mage/translate-inline.js
  lib/web/mage/validation.js
  lib/web/mage/validation/validation.js
  lib/web/mage/webapi.js
  lib/web/mage/zoom.js
Labels: Area: Frontend, Area: Lib/Frontend, Auto-Tests: Not Required, Cleanup, Component: Authorizenet, Component: Backend, Component: Catalog, Component: Payment, Progress: accept, Release Line: 2.3, Squashtoberfest 2019

#25102 "Scheduled Import Settings" should hide fields when "Enabled" is "No" issue25101
  app/code/Magento/Directory/etc/adminhtml/system.xml
Labels: Auto-Tests: Not Required, Component: Directory, Progress: accept, Release Line: 2.3, Squashtoberfest 2019

#25094 [Shipping] Changing the tracking number confirmation modal style
  app/code/Magento/Shipping/Test/Mftf/ActionGroup/AdminDeleteTrackingNumberActionGroup.xml
  app/code/Magento/Shipping/Test/Mftf/Section/AdminShipmentTrackingSection.xml
  app/code/Magento/Shipping/Test/Mftf/Test/AdminCheckTheConfirmationPopupTest.xml
  app/code/Magento/Shipping/view/adminhtml/templates/order/tracking/view.phtml
Labels: Area: Frontend, Auto-Tests: Covered, Award: MFTF test coverage, Component: Shipping, Partner: Atwix, Progress: accept, Release Line: 2.3, Squashtoberfest 2019, partners-contribution

#25022 Fixed #24840 Drop down icon invisible for a moment if not select value and click on Load Template
  app/design/adminhtml/Magento/backend/web/css/source/forms/_controls.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Community Insider: Cedcommerce, Progress: accept, Release Line: 2.3, Squashtoberfest 2019, community-insider-contribution

#24405 #12371 allows to add handlers via di
  app/code/Magento/Catalog/Helper/Output.php
Labels: Auto-Tests: Not Required, Component: Catalog, Progress: accept, Release Line: 2.3

#25034 Resolve "New Accounts Report" should disable the sort ability of "New Account" columns (because it can not run) #25033
  app/code/Magento/Reports/view/adminhtml/layout/reports_report_customer_accounts_grid.xml
Labels: Area: Frontend, Auto-Tests: Not Required, Component: Reports, Progress: accept, Release Line: 2.3, Squashtoberfest 2019

#25024 Quality Assurance > Missing PHPDoc comment
  app/code/Magento/AuthorizenetAcceptjs/Test/Unit/Gateway/ConfigTest.php
  app/code/Magento/AuthorizenetAcceptjs/Test/Unit/Gateway/Request/AddressDataBuilderTest.php
  app/code/Magento/AuthorizenetAcceptjs/Test/Unit/Gateway/Response/PaymentReviewStatusHandlerTest.php
  app/code/Magento/Catalog/Test/Unit/Model/Category/FileInfoTest.php
  app/code/Magento/Catalog/Test/Unit/Model/ProductTest.php
  app/code/Magento/Checkout/Test/Unit/Model/Cart/RequestQuantityProcessorTest.php
  app/code/Magento/ImportExport/Test/Unit/Model/ImportTest.php
  app/code/Magento/LayeredNavigation/Test/Unit/Block/NavigationTest.php
  app/code/Magento/Sales/Test/Unit/Model/OrderTest.php
  app/code/Magento/Sales/Test/Unit/Model/ResourceModel/Order/Handler/StateTest.php
  app/code/Magento/Search/Test/Unit/Model/Search/PageSizeProviderTest.php
  app/functions.php
  lib/internal/Magento/Framework/Encryption/Test/Unit/Adapter/McryptTest.php
  lib/internal/Magento/Framework/Encryption/Test/Unit/KeyValidatorTest.php
  lib/internal/Magento/Framework/Indexer/Test/Unit/MultiDimensionProviderTest.php
  lib/internal/Magento/Framework/Serialize/Test/Unit/Serializer/JsonHexTagTest.php
  setup/src/Magento/Setup/Test/Unit/Console/Command/ModuleConfigStatusCommandTest.php
  setup/src/Magento/Setup/Test/Unit/Controller/EnvironmentTest.php
Labels: Component: multiple, Progress: accept, Release Line: 2.3, Squashtoberfest 2019

#24981 Fixed required class is missing in load template
  app/code/Magento/Email/view/adminhtml/templates/template/edit.phtml
Labels: Area: Frontend, Auto-Tests: Not Required, Community Insider: Cedcommerce, Component: Email, Progress: accept, Release Line: 2.3, Squashtoberfest 2019, community-insider-contribution

#25015 fixed #24652
  app/code/Magento/Checkout/view/frontend/layout/checkout_index_index.xml
  app/code/Magento/Checkout/view/frontend/web/js/view/payment.js
  app/code/Magento/Checkout/view/frontend/web/js/view/shipping.js
Labels: Area: Frontend, Auto-Tests: Not Required, Award: bug fix, Component: Checkout, Event: cdwebkul, Progress: accept, Release Line: 2.3, Squashtoberfest 2019

#24988 When we throw error from event observer then getting error like Undefined variable: data
  app/code/Magento/SalesRule/Controller/Adminhtml/Promo/Quote/Save.php
Labels: Auto-Tests: Not Required, Component: SalesRule, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, Squashtoberfest 2019, partners-contribution

#24983 Fix GraphQL schema @cache declaration argument typo
  app/code/Magento/GraphQl/etc/schema.graphqls
Labels: Auto-Tests: Not Required, Cleanup, Component: GraphQL, Progress: accept, Release Line: 2.3, Squashtoberfest 2019

#24969 Issue #23465 display double quote in order id field in order CSV export time
  app/code/Magento/Ui/Model/Export/MetadataProvider.php
  app/code/Magento/Ui/Test/Unit/Model/Export/MetadataProviderTest.php
Labels: Auto-Tests: Covered, Component: Ui, Progress: accept, Release Line: 2.3

#24975 Cast changelogBatchSize to int
  lib/internal/Magento/Framework/Mview/View.php
Labels: Component: Mview, Partner: H&O, Progress: accept, Release Line: 2.3, Squashtoberfest 2019, partners-contribution

#24810 Rest API, endpoint products-render-info and image generation
  app/code/Magento/Catalog/Ui/DataProvider/Product/Listing/Collector/Image.php
Labels: Auto-Tests: Not Required, Component: Catalog, Progress: accept, Release Line: 2.3, Squashtoberfest 2019

#24686 Static Content Deploy - Optimize files scanning performance
  lib/internal/Magento/Framework/App/Utility/Files.php
Labels: Auto-Tests: Covered, Award: complex, Award: test coverage, Component: App, Progress: accept, Release Line: 2.3

#25200 fixed #24598
  app/design/frontend/Magento/luma/Magento_GiftMessage/web/css/source/_module.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Cleanup, Progress: accept, Release Line: 2.3, Squashtoberfest 2019

#25176 Fixed: Unable to override @submenu-desktop__padding
  lib/web/css/source/lib/_navigation.less
Labels: Area: Lib/Frontend, Auto-Tests: Not Required, Award: bug fix, Progress: accept, Release Line: 2.3, Squashtoberfest 2019

#25169 Add missing spaces in CSS calc function
  dev/tests/integration/testsuite/Magento/Framework/View/_files/static/theme/web/css/styles.css
Labels: Auto-Tests: Not Required, Cleanup, Progress: accept, Release Line: 2.3, Squashtoberfest 2019

#25170 Remove unnecessary code in resolveShippingRates method
  app/code/Magento/Checkout/view/frontend/web/js/model/checkout-data-resolver.js
Labels: Area: Frontend, Auto-Tests: Not Required, Component: Checkout, Progress: accept, Release Line: 2.3, Squashtoberfest 2019

#25164 Optimize config data traversal in Store/Config/Placeholder
  app/code/Magento/Store/Model/Config/Placeholder.php
  app/code/Magento/Store/Test/Unit/Model/Config/PlaceholderTest.php
Labels: Auto-Tests: Covered, Award: complex, Award: test coverage, Component: Store, Progress: accept, Release Line: 2.3, Squashtoberfest 2019

#25160 Corrects the list of regions in Belgium + an introduction to the complex Belgium geographical regions
  app/code/Magento/Directory/Setup/Patch/Data/AddDataForBelgium.php
Labels: Auto-Tests: Not Required, Award: category of expertise, Component: Directory, Progress: accept, Release Line: 2.3, Squashtoberfest 2019

#25149 Resolved Issue #25135
  app/design/adminhtml/Magento/backend/Magento_Sales/web/css/source/module/_order.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Award: bug fix, Partner: Zilker Technology, Progress: accept, Release Line: 2.3, Squashtoberfest 2019, partners-contribution

#25145 Removed box-shadow on clicking disabled swatch option
  app/code/Magento/Swatches/view/frontend/web/js/swatch-renderer.js
  app/design/frontend/Magento/blank/Magento_Swatches/web/css/source/_module.less
Labels: Area: Design/Frontend, Area: Frontend, Auto-Tests: Not Required, Award: bug fix, Component: Swatches, Partner: Zilker Technology, Progress: accept, Release Line: 2.3, Squashtoberfest 2019, partners-contribution

#25109 Resolve "Collapse All | Expand All" in Media Gallery has wrong Cursor Icon issue25108
  app/code/Magento/Cms/Block/Adminhtml/Wysiwyg/Images/Content.php
  app/code/Magento/Cms/view/adminhtml/web/css/source/_module.less
Labels: Area: Frontend, Auto-Tests: Not Required, Award: bug fix, Component: Cms, Progress: accept, Release Line: 2.3, Squashtoberfest 2019

#25100 Fix phpdoc in ItemConverter.php
  app/code/Magento/Quote/Model/Cart/Totals/ItemConverter.php
Labels: Auto-Tests: Not Required, Cleanup, Component: Quote, Progress: accept, Release Line: 2.3, Squashtoberfest 2019

#25058 Resolve "Customer First Name" and "Customer Last Name" should display empty instead of "----" in Newsletter Subscribers issue25057
  app/code/Magento/Newsletter/view/adminhtml/layout/newsletter_subscriber_block.xml
Labels: Area: Frontend, Auto-Tests: Not Required, Award: bug fix, Component: Newsletter, Progress: accept, Release Line: 2.3, Squashtoberfest 2019

#25051 Fixed issue #25039 Product detail did not scroll to review tab after click on 'Review' anchor link
  app/code/Magento/Review/view/frontend/web/js/process-reviews.js
Labels: Area: Frontend, Auto-Tests: Not Required, Award: bug fix, Community Insider: Cedcommerce, Component: Review, Progress: accept, Release Line: 2.3, Squashtoberfest 2019, community-insider-contribution

#24892 Cache disabled after run "composer update" command
  lib/internal/Magento/Framework/App/ObjectManagerFactory.php
  lib/internal/Magento/Framework/Code/GeneratedFiles.php
  lib/internal/Magento/Framework/Code/Test/Unit/GeneratedFilesTest.php
Labels: Auto-Tests: Covered, Award: category of expertise, Award: complex, Award: test coverage, Component: App, Component: Code, Partner: Interactiv4, Progress: accept, Release Line: 2.3, Squashtoberfest 2019, partners-contribution

#24714 Removed ObjectManager::get() usage
  app/code/Magento/Catalog/Controller/Adminhtml/Category.php
  app/code/Magento/Catalog/Controller/Adminhtml/Category/CategoriesJson.php
  app/code/Magento/Catalog/Controller/Adminhtml/Category/Edit.php
  app/code/Magento/Catalog/Controller/Adminhtml/Category/Save.php
  app/code/Magento/Catalog/Controller/Adminhtml/Product/Action/Attribute/Save.php
  app/code/Magento/Catalog/Controller/Adminhtml/Product/Action/Attribute/Validate.php
  app/code/Magento/Catalog/Controller/Adminhtml/Product/AddAttributeToTemplate.php
  app/code/Magento/Catalog/Controller/Adminhtml/Product/Attribute/Validate.php
  app/code/Magento/Catalog/Controller/Adminhtml/Product/Duplicate.php
  app/code/Magento/Catalog/Controller/Adminhtml/Product/Edit.php
  app/code/Magento/Catalog/Controller/Adminhtml/Product/Gallery/Upload.php
  app/code/Magento/Catalog/Controller/Adminhtml/Product/MassStatus.php
  app/code/Magento/Catalog/Controller/Adminhtml/Product/Save.php
  app/code/Magento/Catalog/Controller/Adminhtml/Product/Wysiwyg.php
  app/code/Magento/Catalog/Controller/Category/View.php
  app/code/Magento/Catalog/Controller/Product/View.php
  app/code/Magento/Catalog/Test/Unit/Controller/Adminhtml/Category/EditTest.php
  app/code/Magento/Catalog/Test/Unit/Controller/Adminhtml/Product/MassStatusTest.php
  app/code/Magento/Catalog/Test/Unit/Controller/Category/ViewTest.php
Labels: Auto-Tests: Not Required, Award: special achievement, Award: test coverage, Component: Catalog, Partner: Zilker Technology, Progress: accept, Release Line: 2.3, partners-contribution

#25265 Fix #23031: Check data\schema patch aliases
  lib/internal/Magento/Framework/Setup/Patch/PatchApplier.php
  lib/internal/Magento/Framework/Setup/Test/Unit/Patch/PatchApplierTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Community Insider: Magecom, Component: Setup, Progress: accept, Release Line: 2.3, Squashtoberfest 2019, community-insider-contribution

#25251 [CardinalCommerce] Making system configs dependent by Enabled field
  app/code/Magento/CardinalCommerce/etc/adminhtml/system.xml
Labels: Auto-Tests: Not Required, Component: CardinalCommerce, Partner: Atwix, Progress: accept, Release Line: 2.3, Squashtoberfest 2019, partners-contribution

#25241 Other PayPal Payment Solutions Title Not design like other and alignm…
  app/code/Magento/Paypal/view/adminhtml/web/styles.css
Labels: Area: Frontend, Auto-Tests: Not Required, Cleanup, Community Insider: Cedcommerce, Component: Paypal, Progress: accept, Release Line: 2.3, Squashtoberfest 2019, community-insider-contribution

#25233 Fix fullscreen gallery image swiping for touch devices
  lib/web/magnifier/magnify.js
Labels: Area: Lib/Frontend, Auto-Tests: Not Required, Award: bug fix, Partner: creativestyle, Progress: accept, Release Line: 2.3, Squashtoberfest 2019, partners-contribution

#25206 Resovled issue #25137
  app/design/frontend/Magento/blank/Magento_Checkout/web/css/source/module/_minicart.less
  app/design/frontend/Magento/luma/Magento_Checkout/web/css/source/module/_minicart.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Partner: Zilker Technology, Progress: accept, Release Line: 2.3, Squashtoberfest 2019, partners-contribution

#25208 Subscribed to Newsletter Label and respective checkbox not aligned pr…
  app/design/adminhtml/Magento/backend/web/css/styles-old.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Cleanup, Community Insider: Cedcommerce, Progress: accept, Release Line: 2.3, Squashtoberfest 2019, community-insider-contribution

#25037 Resolve "Shopping Cart Summary" in backend is different from frontend , and not following the setting #25036
  app/code/Magento/Sales/Block/Adminhtml/Order/Create/Sidebar/AbstractSidebar.php
  app/code/Magento/Sales/Block/Adminhtml/Order/Create/Sidebar/Cart.php
  app/code/Magento/Sales/Test/Mftf/Test/AddSimpleProductToOrderFromShoppingCartTest.xml
Labels: Auto-Tests: Covered, Award: bug fix, Component: Sales, Progress: accept, Release Line: 2.3, Squashtoberfest 2019

#24918 Replaced Model Save with Service Contract
  app/code/Magento/Sales/Controller/Adminhtml/Invoice/AbstractInvoice/View.php
  app/code/Magento/Sales/Controller/Adminhtml/Order/Invoice/AddComment.php
  app/code/Magento/Sales/Test/Unit/Controller/Adminhtml/Order/Invoice/AddCommentTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: Sales, Partner: Zilker Technology, Progress: accept, Release Line: 2.3, Squashtoberfest 2019, partners-contribution

#24875 Use attribute IDs when getting configurable child products if specified (#24483)
  app/code/Magento/ConfigurableProduct/Model/Product/Type/Configurable.php
  dev/tests/integration/testsuite/Magento/ConfigurableProduct/Model/Product/Type/ConfigurableTest.php
  dev/tests/integration/testsuite/Magento/ConfigurableProduct/_files/product_configurable_with_metadescription.php
  dev/tests/integration/testsuite/Magento/ConfigurableProduct/_files/product_configurable_with_metadescription_rollback.php
Labels: Auto-Tests: Covered, Component: ConfigurableProduct, Progress: accept, Release Line: 2.3, Squashtoberfest 2019

#25329 [Sitemap] MFTF to cover Create-Delete sitemap
  app/code/Magento/Sitemap/Test/Mftf/ActionGroup/AdminMarketingSiteDeleteByNameActionGroup.xml
  app/code/Magento/Sitemap/Test/Mftf/ActionGroup/AdminMarketingSiteMapFillFormActionGroup.xml
  app/code/Magento/Sitemap/Test/Mftf/ActionGroup/AdminMarketingSiteMapNavigateNewActionGroup.xml
  app/code/Magento/Sitemap/Test/Mftf/ActionGroup/AssertSiteMapCreateSuccessActionGroup.xml
  app/code/Magento/Sitemap/Test/Mftf/ActionGroup/AssertSiteMapDeleteSuccessActionGroup.xml
  app/code/Magento/Sitemap/Test/Mftf/Data/SitemapData.xml
  app/code/Magento/Sitemap/Test/Mftf/Page/AdminMarketingSiteMapGridPage.xml
  app/code/Magento/Sitemap/Test/Mftf/Page/AdminMarketingSiteMapNewPage.xml
  app/code/Magento/Sitemap/Test/Mftf/Section/AdminMarketingSiteMapEditActionSection.xml
  app/code/Magento/Sitemap/Test/Mftf/Section/AdminMarketingSiteMapGridSection.xml
  app/code/Magento/Sitemap/Test/Mftf/Test/AdminMarketingSiteMapCreateNewTest.xml
Labels: Auto-Tests: Not Required, Award: MFTF test coverage, Component: Sitemap, Progress: accept, Release Line: 2.3, Squashtoberfest 2019

#25331 [CmsUrlRewrite] Unit Test to cover Magento\CmsUrlRewrite\Model\CmsPageUrlPathGenerator class
  app/code/Magento/CmsUrlRewrite/Test/Unit/Model/CmsPageUrlPathGeneratorTest.php
Labels: Auto-Tests: Not Required, Award: test coverage, Component: CmsUrlRewrite, Progress: accept, Release Line: 2.3, Squashtoberfest 2019

#25317 CSV Import "Download Sample File" contains useless integer weight
  app/code/Magento/ImportExport/Files/Sample/catalog_product.csv
Labels: Auto-Tests: Not Required, Component: ImportExport, Partner: Interactiv4, Progress: accept, Release Line: 2.3, Squashtoberfest 2019, partners-contribution

#25305 [AdvancedSearch] Unit Test to cover Recommendations DataProvider
  app/code/Magento/AdvancedSearch/Test/Unit/Model/Recommendations/DataProviderTest.php
Labels: Auto-Tests: Covered, Component: AdvancedSearch, Progress: accept, Release Line: 2.3, Squashtoberfest 2019

#25298 [[SalesRule] Unit Test to cover ShippingDiscount Total
  app/code/Magento/SalesRule/Test/Unit/Model/Quote/Address/Total/ShippingDiscountTest.php
Labels: Auto-Tests: Covered, Component: SalesRule, Progress: accept, Release Line: 2.3, Squashtoberfest 2019

#25290 [CardinalCommerce Module] Unit Test to cover JwtParser class
  app/code/Magento/CardinalCommerce/Test/Unit/Model/Response/JwtParserTest.php
Labels: Auto-Tests: Covered, Component: CardinalCommerce, Progress: accept, Release Line: 2.3, Squashtoberfest 2019

#25286 Unit test to cover ChangeQuoteControl Class
  app/code/Magento/Quote/Test/Unit/Model/ChangeQuoteControlTest.php
Labels: Auto-Tests: Covered, Component: Quote, Progress: accept, Release Line: 2.3, Squashtoberfest 2019

#25283 Fixed MFTF deprecation errors
  app/code/Magento/Backend/Test/Mftf/Test/AdminCheckLocaleAndDeveloperConfigInDeveloperModeTest.xml
  app/code/Magento/Backend/Test/Mftf/Test/AdminCheckLocaleAndDeveloperConfigInProductionModeTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/DisplayRefreshCacheAfterChangingCategoryPageLayoutTest.xml
  app/code/Magento/Customer/Test/Mftf/Test/AdminProductBackRedirectNavigateFromCustomerViewCartProduct.xml
  app/code/Magento/ImportExport/Test/Mftf/Test/AdminProductImportCSVFileCorrectDifferentFilesTest.xml
  app/code/Magento/Swatches/Test/Mftf/Test/AdminDisablingSwatchTooltipsTest.xml
  app/code/Magento/Weee/Test/Mftf/Test/AdminFixedTaxValSavedForSpecificWebsiteTest.xml
Labels: Auto-Tests: Not Required, Component: Backend, Component: Catalog, Component: Customer, Component: ImportExport, Component: Swatches, Component: Weee, Partner: Zilker Technology, Progress: accept, Release Line: 2.3, Squashtoberfest 2019, partners-contribution

#25273 Fixed Typo: Changed Function name checkRequredFields to checkRequiredFields
  app/code/Magento/Customer/Model/Address/Validator/General.php
Labels: Auto-Tests: Not Required, Cleanup, Component: Customer, Progress: accept, Release Line: 2.3, Squashtoberfest 2019

#25248 magento/magento2#: Add better explanation for the “Images File Directory” option
  app/code/Magento/ImportExport/Block/Adminhtml/Import/Edit/Form.php
  app/code/Magento/ImportExport/i18n/en_US.csv
Labels: Auto-Tests: Not Required, Component: ImportExport, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#25184 Fix label being cutoff in Newsletter registration
  app/design/frontend/Magento/blank/Magento_Newsletter/web/css/source/_module.less
  app/design/frontend/Magento/luma/Magento_Newsletter/web/css/source/_module.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Progress: accept, Release Line: 2.3, Squashtoberfest 2019
