Repository magento/magento2, pull requests merged in 2019-02, with the labels that each got.

#20428 checkout-page-shipping-title::Shipping method title overlapping on ed…
  app/design/frontend/Magento/blank/Magento_Checkout/web/css/source/module/checkout/_sidebar-shipping-information.less
Labels: Area: Design/Frontend, Partner: Two Jay, Progress: accept, Release Line: 2.3, partners-contribution

#20469 Fixed-Product-page-tabbing-content-misalignment-in-mobile-view :: Pro…
  app/design/frontend/Magento/blank/web/css/source/_sections.less
  app/design/frontend/Magento/luma/web/css/source/_sections.less
Labels: Area: Design/Frontend, Partner: Two Jay, Progress: accept, Release Line: 2.3, partners-contribution

#20488 tooltip-dropdown-pointer :: Tooltip dropdown pointer not proper on ta…
  app/design/frontend/Magento/blank/Magento_Checkout/web/css/source/module/checkout/_tooltip.less
Labels: Area: Design/Frontend, Partner: Two Jay, Progress: accept, Release Line: 2.3, partners-contribution

#20581 Time-fields-misaligned-in-iPad-landscape-view ::Time fields misaligne…
  app/design/adminhtml/Magento/backend/Magento_Backend/web/css/source/module/main/_collapsible-blocks.less
Labels: Area: Design/Frontend, Partner: Two Jay, Progress: accept, Release Line: 2.3, partners-contribution

#20634 Fixed Issue #20631 Console error on checkout after changing the allowed countries from admin
  app/code/Magento/Ui/view/base/web/js/form/element/post-code.js
Labels: Area: Frontend, Community Insider: Cedcommerce, Component: Ui, Progress: accept, Release Line: 2.3, community-insider-contribution

#20653 Fix typehint
  app/code/Magento/Quote/Model/Quote.php
Labels: Component: Quote, Progress: accept, Release Line: 2.3

#20759 Code Cleanup : Typo Fixed enabed -> enabled
  app/code/Magento/Cms/Test/Mftf/Test/AdminAddWidgetToWYSIWYGWithCMSPageLinkTypeTest.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminAddWidgetToWYSIWYGWithCatalogProductListTypeTest.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminAddWidgetToWYSIWYGWithRecentlyComparedProductsTypeTest.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminAddWidgetToWYSIWYGWithRecentlyViewedProductsTypeTest.xml
Labels: Component: Cms, Progress: accept, Release Line: 2.3

#19612 [Backport] Fix: Attribute Option with zero at the beginning does not work if there is already option with the same number without the zero [REST API]
  app/code/Magento/Catalog/Model/Product/Attribute/OptionManagement.php
Labels: Component: Catalog, Partner: ISM eCompany, Progress: accept, Release Line: 2.2, partners-contribution

#19667 [Backport] chore: remove old code for IE9
  lib/web/varien/js.js
Labels: Area: Lib/Frontend, Progress: accept, Release Line: 2.2

#20784 [Backport] Gift-option-message-overlap-edit-and-remove-button-2.2
  app/design/frontend/Magento/luma/Magento_GiftMessage/web/css/source/_module.less
Labels: Area: Design/Frontend, Partner: Two Jay, Progress: accept, Progress: on hold, Release Line: 2.2, partners-contribution

#20837 [Backport] Fixed apply discount button alignment on checkout page
  app/design/frontend/Magento/luma/Magento_Checkout/web/css/source/module/checkout/_payment-options.less
Labels: Area: Design/Frontend, Partner: Two Jay, Progress: accept, Release Line: 2.2, partners-contribution

#20863 [Backport] Update Filter.php fix issue #20624
  app/code/Magento/ImportExport/Block/Adminhtml/Export/Filter.php
Labels: Community Insider: Cedcommerce, Component: ImportExport, Progress: accept, Release Line: 2.2, community-insider-contribution

#20886 [Backport] #20409 Fixed Unnecessary slash in namespace
  app/code/Magento/CatalogInventory/etc/di.xml
Labels: Community Insider: Cedcommerce, Component: CatalogInventory, Progress: accept, Release Line: 2.2, community-insider-contribution

#20929 resolve typo errors for js record.js
  app/code/Magento/Ui/view/base/web/js/dynamic-rows/record.js
Labels: Area: Frontend, Component: Ui, Partner: Wagento, Progress: accept, Release Line: 2.2, partners-contribution

#20540 [Backport] issue fixed #20259 Store switcher not sliding up and down, only dropd…
  app/design/frontend/Magento/blank/web/css/source/_navigation.less
Labels: Area: Design/Frontend, Community Insider: Cedcommerce, Progress: accept, Release Line: 2.2, community-insider-contribution

#19760 Fix for making subcategories appear in breadcrumbs (Backport)
  app/code/Magento/Catalog/ViewModel/Product/Breadcrumbs.php
Labels: Component: Catalog, Progress: accept, Release Line: 2.2

#20443 [Backport] Fixed-Shipping-method-title-overlapping-on-edit-icon-in-mobile
  app/design/frontend/Magento/luma/Magento_Checkout/web/css/source/module/checkout/_order-summary.less
Labels: Area: Design/Frontend, Partner: Two Jay, Progress: accept, Release Line: 2.2, partners-contribution

#20737 [Backport] Fixed #20282 Module Catalog Url Rewrite: Permanent Redirect for old URL is missed when product was imported
  app/code/Magento/CatalogUrlRewrite/Observer/AfterImportDataObserver.php
Labels: Community Insider: Cedcommerce, Component: CatalogUrlRewrite, Progress: accept, Release Line: 2.2, community-insider-contribution

#20738 [Backport] minicart-three-digit-quantity-cutoff
  app/design/frontend/Magento/blank/Magento_Checkout/web/css/source/module/_minicart.less
  app/design/frontend/Magento/luma/Magento_Checkout/web/css/source/module/_minicart.less
Labels: Area: Design/Frontend, Partner: Two Jay, Progress: accept, Release Line: 2.2, partners-contribution

#20885 [Backport] Fixed Issue #20631 Console error on checkout after changing the allowed countries from admin
  app/code/Magento/Ui/view/base/web/js/form/element/post-code.js
Labels: Area: Frontend, Component: Ui, Partner: Two Jay, Progress: accept, Release Line: 2.2, partners-contribution

#20490 [Backport] Fixed-checkout-tooltip-dropdown
  app/design/frontend/Magento/blank/Magento_Checkout/web/css/source/module/checkout/_tooltip.less
Labels: Area: Design/Frontend, Partner: Two Jay, Progress: accept, Release Line: 2.2, partners-contribution

#20510 [Backport] Fixed The ui-component field validation error not opening accordion tab that owns the field (field does not get focused)
  app/code/Magento/Ui/view/base/web/js/form/components/fieldset.js
  app/code/Magento/Ui/view/base/web/js/form/element/abstract.js
Labels: Area: Frontend, Component: Ui, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.2, partners-contribution

#20554 [Backport] Fixed-Bundle-Product-add-to-cart-button-misaligned-2.2
  app/design/frontend/Magento/luma/Magento_Bundle/web/css/source/_module.less
Labels: Area: Design/Frontend, Partner: Two Jay, Progress: accept, Release Line: 2.2, partners-contribution

#20586 [Backport] Fixed-Apply-discount-code-placeholder-2.2
  app/design/frontend/Magento/luma/Magento_Checkout/web/css/source/module/_cart.less
Labels: Area: Design/Frontend, Partner: Two Jay, Progress: accept, Release Line: 2.2, partners-contribution

#20602 [Backport] Time-fields-misaligned-in-iPad-landscape-view ::Time fields misaligne-2.2
  app/design/adminhtml/Magento/backend/Magento_Backend/web/css/source/module/main/_collapsible-blocks.less
Labels: Area: Design/Frontend, Partner: Two Jay, Progress: accept, Release Line: 2.2, partners-contribution

#20745 [Backport] Fixes incorrect where condition when deleting swatch option, it delet…
  app/code/Magento/Swatches/Model/ResourceModel/Swatch.php
Labels: Component: Swatches, Partner: Two Jay, Progress: accept, Release Line: 2.2, partners-contribution

#20776 Fixed issue #19942 in 2.2
  app/code/Magento/Sales/Controller/Adminhtml/Order/Invoice/Save.php
Labels: Community Insider: Cedcommerce, Component: Sales, Progress: accept, Release Line: 2.2, community-insider-contribution

#20782 [Backport] My account page title extra space on mobile 2.2
  app/design/frontend/Magento/blank/Magento_Customer/web/css/source/_module.less
  app/design/frontend/Magento/luma/Magento_Customer/web/css/source/_module.less
Labels: Area: Design/Frontend, Partner: Two Jay, Progress: accept, Release Line: 2.2, partners-contribution

#20257 [Backport]changes-add-your-review-text-is-not-show-uniformly-in-Mobile-view
  app/design/frontend/Magento/luma/Magento_Review/web/css/source/_module.less
Labels: Area: Design/Frontend, Partner: Two Jay, Progress: accept, Release Line: 2.2, partners-contribution

#20159 Fixed issue #20157 On advanced search page Price field misaligned on mobile view
  app/design/frontend/Magento/luma/Magento_CatalogSearch/web/css/source/_module.less
Labels: Area: Design/Frontend, Community Insider: Cedcommerce, Progress: accept, Release Line: 2.3, community-insider-contribution

#20383 issue fixed #20382
  app/code/Magento/Checkout/view/frontend/web/template/minicart/content.html
Labels: Area: Design/Frontend, Area: Frontend, Community Insider: Cedcommerce, Component: Checkout, Progress: accept, Release Line: 2.3, community-insider-contribution

#20565 Number of Lines in a Street Address not setting to default when you checked Use system value in Magento 2.1.7 #13675
  app/code/Magento/Customer/Model/Config/Backend/Address/Street.php
Labels: Component: Customer, Partner: ISM eCompany, Progress: accept, Release Line: 2.3, partners-contribution

#20770 Fix Model\Widget#getConfigAsObject losing it's type declaration
  app/code/Magento/Widget/Model/Widget.php
Labels: Component: Widget, Progress: accept, Release Line: 2.3

#20803 [Backend] Fixed the dashboard statistics refreshing button
  app/code/Magento/Backend/Controller/Adminhtml/Dashboard/RefreshStatistics.php
Labels: Area: Frontend, Component: Backend, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#20861 Fixed Checkbox radio shadow 20859
  lib/web/css/source/lib/_resets.less
Labels: Area: Lib/Frontend, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#21030 Rename LESS var names to 'darker' vs 'darkie'
  app/design/adminhtml/Magento/backend/Magento_Sales/web/css/source/module/order/_order-comments.less
  app/design/adminhtml/Magento/backend/Magento_Staging/web/css/source/module/_staging-preview.less
  app/design/adminhtml/Magento/backend/web/app/setup/styles/less/components/tooltips/_tooltips.less
  app/design/adminhtml/Magento/backend/web/app/setup/styles/less/lib/_variables.less
  app/design/adminhtml/Magento/backend/web/app/updater/styles/less/pages/_extension-manager.less
  app/design/adminhtml/Magento/backend/web/css/source/_tabs.less
  app/design/adminhtml/Magento/backend/web/css/source/_typography.less
  app/design/adminhtml/Magento/backend/web/css/source/components/_file-uploader.less
  app/design/adminhtml/Magento/backend/web/css/source/forms/_temp.less
  app/design/adminhtml/Magento/backend/web/css/source/variables/_colors.less
  app/design/adminhtml/Magento/backend/web/css/source/variables/_data-grid.less
  setup/view/styles/lib/variables/_colors.less
Labels: Area: Design/Frontend, Component: Setup, Partner: Something Digital, Progress: accept, Release Line: 2.3, partners-contribution

#19845 Curl - allow setting HTTP version
  lib/internal/Magento/Framework/HTTP/Adapter/Curl.php
Labels: Component: Framework/HTTP, Partner: ISM eCompany, Progress: accept, Release Line: 2.3, partners-contribution

#20403 Fixed-Schedule-Update-Form-filed-misalign
  app/design/adminhtml/Magento/backend/web/css/source/forms/_fields.less
Labels: Area: Design/Frontend, Partner: Two Jay, Progress: accept, Release Line: 2.3, partners-contribution

#20493 Widget-left-navigation-block
  app/design/adminhtml/Magento/backend/Magento_Backend/web/css/source/module/main/_page-nav.less
Labels: Area: Design/Frontend, Partner: Two Jay, Progress: accept, Release Line: 2.3, partners-contribution

#20607 Add filter for `NOT FIND_IN_SET` sql conditions
  lib/internal/Magento/Framework/DB/Adapter/Pdo/Mysql.php
Labels: Component: Framework/DB, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, improvement, partners-contribution

#20610 admin-order-info-issue
  app/code/Magento/Sales/view/adminhtml/templates/order/view/info.phtml
Labels: Area: Frontend, Component: Sales, Partner: Two Jay, Progress: accept, Release Line: 2.3, partners-contribution

#20749 Correct spelling
  app/code/Magento/Catalog/Block/Adminhtml/Form/Renderer/Fieldset/Element.php
Labels: Component: Catalog, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#20756 cms-page-top-spacing-issue :: changes to remove top spacing on Cms pa…
  app/design/frontend/Magento/luma/Magento_Theme/web/css/source/_module.less
Labels: Area: Design/Frontend, Partner: Two Jay, Progress: accept, Release Line: 2.3, partners-contribution

#20791 Fixed issue 20790 wishlist icons
  app/design/frontend/Magento/luma/Magento_Wishlist/web/css/source/_module.less
Labels: Area: Design/Frontend, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#20876 [backport] Exceptions when search product with sku like "42-"
  lib/internal/Magento/Framework/Search/Adapter/Mysql/Query/Builder/Match.php
Labels: Component: Framework/Search, Progress: accept, Progress: on hold, Release Line: 2.2

#21078 [Backport] Fixed - Lifetime update syntax error #13309
  lib/internal/Magento/Framework/Cache/Backend/Database.php
Labels: Component: Framework/Cache, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.2, partners-contribution

#21110 [Backport][CMS] Improving the uploaded images styling view
  app/code/Magento/Cms/view/adminhtml/templates/browser/content/files.phtml
  app/design/adminhtml/Magento/backend/web/css/source/components/_file-insertion.less
  app/design/adminhtml/Magento/backend/web/css/source/components/_popups.less
Labels: Area: Design/Frontend, Area: Frontend, Component: Cms, Partner: Atwix, Progress: accept, Release Line: 2.2, partners-contribution

#21081 [Backport] MAGETWO-95819: Customer registration fields not translated
  app/code/Magento/Customer/Model/Metadata/AttributeMetadataCache.php
  app/code/Magento/Customer/Test/Unit/Model/Metadata/AttributeMetadataCacheTest.php
Labels: Component: Customer, Progress: accept, Release Line: 2.2

#20566 [Backport] Number of Lines in a Street Address not setting to default when you checked Use system value
  app/code/Magento/Customer/Model/Config/Backend/Address/Street.php
Labels: Component: Customer, Partner: ISM eCompany, Progress: accept, Release Line: 2.2, partners-contribution

#20845 [Backport] Empty block rendering in My Account page sidebar fixed using designing changes.
  app/design/frontend/Magento/luma/Magento_Customer/web/css/source/_module.less
Labels: Area: Design/Frontend, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.2, partners-contribution

#21123 [Backport] Add filter for `NOT FIND_IN_SET` sql conditions
  lib/internal/Magento/Framework/DB/Adapter/Pdo/Mysql.php
Labels: Component: Framework/DB, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.2, partners-contribution

#21124 [Backport] issue fixed #20382
  app/code/Magento/Checkout/view/frontend/web/template/minicart/content.html
Labels: Area: Frontend, Community Insider: Cedcommerce, Component: Checkout, Progress: accept, Release Line: 2.2, community-insider-contribution

#18981 Fix for currency update in crontab area
  app/code/Magento/Directory/Model/CurrencyConfig.php
  app/code/Magento/Directory/Test/Unit/Model/CurrencyConfigTest.php
  dev/tests/integration/testsuite/Magento/Directory/Model/CurrencyConfigTest.php
Labels: Component: Directory, Progress: accept, Release Line: 2.3

#20155 My-account-page-Recently-Ordered-check-box-misaligned-on-tab-portrait…
  app/design/frontend/Magento/luma/Magento_Sales/web/css/source/_module.less
Labels: Area: Design/Frontend, Partner: Two Jay, Progress: accept, Release Line: 2.3, partners-contribution

#20548 Fixes incorrect country code being used for Greek VAT numbers, should…
  app/code/Magento/Customer/Model/Vat.php
Labels: Component: Customer, Progress: accept, Release Line: 2.3

#20801 Fixes-for-account-my-recent-reviews-alignment
  app/design/frontend/Magento/luma/Magento_Review/web/css/source/_module.less
Labels: Area: Design/Frontend, Partner: Two Jay, Progress: accept, Release Line: 2.3, partners-contribution

#20817 Orders-and-Returns-layout-not-proper
  app/design/frontend/Magento/blank/Magento_Customer/web/css/source/_module.less
  app/design/frontend/Magento/luma/Magento_Customer/web/css/source/_module.less
Labels: Area: Design/Frontend, Partner: Two Jay, Release Line: 2.3, partners-contribution

#20820 [Reports] Fixed refreshing the reports statistics
  app/code/Magento/Reports/Controller/Adminhtml/Report/Statistics/RefreshLifetime.php
Labels: Component: Reports, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#20829 Fixed issue #20828 Newsletter Problem Grid Filter issue
  app/code/Magento/Newsletter/view/adminhtml/layout/newsletter_problem_block.xml
Labels: Area: Frontend, Community Insider: Cedcommerce, Component: Newsletter, Progress: accept, Release Line: 2.3, community-insider-contribution

#20874 Email to a Friend form not full responsive and remove link not positi…
  app/design/frontend/Magento/luma/Magento_SendFriend/web/css/source/_module.less
Labels: Area: Design/Frontend, Community Insider: Cedcommerce, Progress: accept, Release Line: 2.3, community-insider-contribution

#20907 Magento backend catalog cost without currency symbol
  app/code/Magento/Catalog/view/adminhtml/ui_component/product_listing.xml
Labels: Area: Frontend, Component: Catalog, Event: mm19in, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#20913 Solved swagger response of product attribute option is_default
  app/code/Magento/Directory/Model/ResourceModel/Country/Collection.php
Labels: Component: Directory, Event: mm19in, Partner: Wagento, Progress: accept, Release Line: 2.3, partners-contribution

#20914 Fixed issue #20911 In admin login password forgot password page wrong css used to make it vertially aling middle
  app/design/adminhtml/Magento/backend/web/css/source/forms/_temp.less
Labels: Area: Design/Frontend, Community Insider: Cedcommerce, Event: mm19in, Progress: accept, Release Line: 2.3, community-insider-contribution

#20930 Fixed Issue #20908 error message icon alignment mm19in
  app/design/adminhtml/Magento/backend/web/css/source/components/_messages.less
Labels: Area: Design/Frontend, Event: mm19in, Progress: accept, Release Line: 2.3

#20956 Admin store view label not alignment
  app/design/adminhtml/Magento/backend/Magento_Backend/web/css/source/module/main/actions-bar/_store-switcher.less
Labels: Area: Design/Frontend, Partner: Two Jay, Progress: accept, Release Line: 2.3, partners-contribution

#20962 Extra space from left in top message section (Notification section)
  app/design/adminhtml/Magento/backend/Magento_AdminNotification/web/css/source/_module.less
Labels: Area: Design/Frontend, Community Insider: Cedcommerce, Fixed in 2.3.x, Progress: accept, Release Line: 2.3, community-insider-contribution

#20967 Fixed redirection issue in Admin-> Content -> Schedule
  app/code/Magento/Backend/Controller/Adminhtml/System/Design/Save.php
Labels: Component: Backend, Partner: ISM eCompany, Progress: accept, Release Line: 2.3, partners-contribution

#20990 Solve custom option dropdown issue
  app/code/Magento/Catalog/Ui/DataProvider/Product/Form/Modifier/CustomOptions.php
Labels: Component: Catalog, Partner: Wagento, Progress: accept, Release Line: 2.3, partners-contribution

#20995 Removing comma from construct params
  app/code/Magento/Customer/Model/ResourceModel/Group.php
Labels: Component: Customer, Progress: accept, Release Line: 2.3

#21028 [Checkout] Covering the successfully adding a valid coupon to cart by an integra…
  dev/tests/integration/testsuite/Magento/Checkout/Controller/Cart/Index/CouponPostTest.php
Labels: Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#21029 Add missing php doc engineresolver class
  app/code/Magento/Search/Model/EngineResolver.php
Labels: Component: Search, Partner: ISM eCompany, Progress: accept, Release Line: 2.3, partners-contribution

#21031 Removing unnecessary php doc param from UiComponentGenerator constructor
  app/code/Magento/Ui/Model/UiComponentGenerator.php
Labels: Component: Ui, Partner: ISM eCompany, Progress: accept, Release Line: 2.3, partners-contribution

#21035 Issue Fixed #21034: Invalid return type in docstring
  lib/internal/Magento/Framework/HTTP/PhpEnvironment/Request.php
Labels: Community Insider: Cedcommerce, Component: Framework/HTTP, Progress: accept, Release Line: 2.3, community-insider-contribution

#21036 Added RewriteBase directive template in .htaccess file into pub/media folder
  pub/media/.htaccess
Labels: Progress: accept, Release Line: 2.3

#21047 [Forwardport] resolve typo errors for js record.js
  app/code/Magento/Ui/view/base/web/js/dynamic-rows/record.js
Labels: Area: Frontend, Component: Ui, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#21054 Add missing php doc cookie class
  app/code/Magento/Cookie/Helper/Cookie.php
Labels: Component: Cookie, Partner: ISM eCompany, Progress: accept, Release Line: 2.3, partners-contribution

#21084 Removing extra comma from construct params
  app/code/Magento/Quote/Model/ResourceModel/Quote.php
Labels: Component: Quote, Progress: accept, Release Line: 2.3

#20821 [Backport] Fixing the styling issue on customizable options
  app/design/adminhtml/Magento/backend/Magento_Backend/web/css/source/module/main/_collapsible-blocks.less
Labels: Area: Design/Frontend, Partner: Atwix, Progress: accept, Release Line: 2.2, partners-contribution

#21155 [Backport] [Checkout] Covering the successfully adding a valid coupon to cart by an integra…
  dev/tests/integration/testsuite/Magento/Checkout/Controller/Cart/Index/CouponPostTest.php
Labels: Partner: Atwix, Progress: accept, Release Line: 2.2, partners-contribution

#18706 icon text showing feature
  lib/web/css/source/lib/_icons.less
Labels: Area: Lib/Frontend, Progress: accept, Release Line: 2.3

#19546 Fix typo in SQL join when joining custom option prices for price indexer
  app/code/Magento/Catalog/Model/ResourceModel/Product/Indexer/Price/CustomOptionPriceModifier.php
  app/code/Magento/Catalog/Model/ResourceModel/Product/Indexer/Price/DefaultPrice.php
Labels: Component: Catalog, Progress: accept, Release Line: 2.3

#20011 Issue fix #20010 Wrong price amount in opengraph
  app/code/Magento/Catalog/view/frontend/templates/product/view/opengraph/general.phtml
Labels: Area: Frontend, Community Insider: Cedcommerce, Component: Catalog, Progress: accept, Release Line: 2.3, community-insider-contribution

#20092 Fix error on logo upload for Transactional Emails (#20091)
  app/code/Magento/Email/view/adminhtml/ui_component/design_config_form.xml
Labels: Area: Frontend, Component: Email, Progress: accept, Release Line: 2.3

#20556 Fixed issue #20555 Meta Keywords/Meta Description are input field in product form while they are defined as textarea
  app/code/Magento/Catalog/Ui/DataProvider/Product/Form/Modifier/General.php
Labels: Component: Catalog, Progress: accept, Release Line: 2.3

#21055 added min=0 to qty field product detail page
  app/code/Magento/Catalog/view/frontend/templates/product/view/addtocart.phtml
  app/code/Magento/Checkout/view/frontend/templates/cart/item/configure/updatecart.phtml
Labels: Area: Frontend, Component: Catalog, Component: Checkout, Partner: ISM eCompany, Progress: accept, Release Line: 2.3, partners-contribution

#21120 Correct spelling
  app/code/Magento/Catalog/Block/Ui/ProductViewCounter.php
Labels: Component: Catalog, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#20404 [Backport] Changes-Schedule-Update-Form-filed-misalign-2.2
  app/design/adminhtml/Magento/backend/web/css/source/forms/_fields.less
Labels: Area: Design/Frontend, Partner: Two Jay, Progress: accept, Release Line: 2.2, partners-contribution

#20616 [Backport] Fixed admin multiselect and select ui arrow toggle issue
  app/code/Magento/Ui/view/base/web/templates/grid/filters/elements/ui-select.html
  app/design/adminhtml/Magento/backend/web/css/source/forms/_controls.less
Labels: Area: Design/Frontend, Area: Frontend, Component: Ui, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.2, partners-contribution

#21114 [Backport] Fixed issue #20157 On advanced search page Price field misaligned on mobile view
  app/design/frontend/Magento/luma/Magento_CatalogSearch/web/css/source/_module.less
Labels: Area: Design/Frontend, Partner: Two Jay, Progress: accept, Release Line: 2.2, partners-contribution

#21160 [Backport] Fixed redirection issue in Admin-> Content -> Schedule
  app/code/Magento/Backend/Controller/Adminhtml/System/Design/Save.php
Labels: Component: Backend, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.2, partners-contribution

#21161 [Backport] Extra space from left in top message section (Notification section)
  app/design/adminhtml/Magento/backend/Magento_AdminNotification/web/css/source/_module.less
Labels: Area: Design/Frontend, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.2, partners-contribution

#21163 [Backport] Orders-and-Returns-layout-not-proper
  app/design/frontend/Magento/blank/Magento_Customer/web/css/source/_module.less
  app/design/frontend/Magento/luma/Magento_Customer/web/css/source/_module.less
Labels: Area: Design/Frontend, Partner: Two Jay, Progress: accept, Release Line: 2.2, partners-contribution

#21169 [Backport] Fixes incorrect country code being used for Greek VAT numbers, should…
  app/code/Magento/Customer/Model/Vat.php
Labels: Component: Customer, Partner: Two Jay, Progress: accept, Release Line: 2.2, partners-contribution

#20027 hardcoded table name
  app/code/Magento/Directory/Model/ResourceModel/Currency.php
Labels: Component: Directory, Progress: accept, Release Line: 2.3

#20115 Fixed Issue #19891 ,Added checks of type_id
  app/code/Magento/Catalog/Controller/Adminhtml/Product/Attribute/Validate.php
Labels: Community Insider: Cedcommerce, Component: Catalog, Progress: accept, Release Line: 2.3, community-insider-contribution

#20499 Fix typo in _resets.less
  lib/web/css/source/lib/_resets.less
Labels: Area: Lib/Frontend, Progress: accept, Release Line: 2.3

#20887 Removed github oauth token in sample file. The token is a personal to…
  auth.json.sample
Labels: Progress: accept, Release Line: 2.3

#21096 Updated sprintf usage; Simplified isset usage
  app/code/Magento/Catalog/Model/Indexer/Category/Flat/AbstractAction.php
  app/code/Magento/Catalog/Model/ResourceModel/Product/LinkedProductSelectBuilderByBasePrice.php
Labels: Component: Catalog, Progress: accept, Release Line: 2.3

#21097 Apply PHP-CS-Fixer "braces" fixes on `if` and `foreach` statements
  app/code/Magento/Bundle/view/adminhtml/templates/catalog/product/edit/tab/attributes/extend.phtml
  app/code/Magento/Swatches/view/frontend/templates/product/layered/renderer.phtml
  app/code/Magento/Ui/view/base/templates/stepswizard.phtml
Labels: Area: Frontend, Component: Bundle, Component: Swatches, Component: Ui, Progress: accept, Release Line: 2.3

#21100 [Sales] Improves the UX by scrolling down the customer to the Recent Orders
  app/code/Magento/Sales/view/frontend/templates/reorder/sidebar.phtml
Labels: Area: Frontend, Component: Sales, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#21129 Remove unused reference on wishlist ConvertSerializedData controller
  app/code/Magento/Wishlist/Controller/Index/Fromcart.php
  app/code/Magento/Wishlist/Setup/Patch/Data/ConvertSerializedData.php
Labels: Component: Wishlist, Partner: ISM eCompany, Progress: accept, Release Line: 2.3, partners-contribution

#18866 [Backport] Fixes #18357 - SQL error when table prefix used.
  app/code/Magento/CheckoutAgreements/Model/ResourceModel/Agreement/Grid/Collection.php
Labels: Component: CheckoutAgreements, Progress: accept, Release Line: 2.2

#20476 [Backport]Fixed-Product-page-tabbing-content-misalignment-in-mobile-view-2-2 ::…
  app/design/frontend/Magento/blank/web/css/source/_sections.less
  app/design/frontend/Magento/luma/web/css/source/_sections.less
Labels: Area: Design/Frontend, Partner: Two Jay, Progress: accept, Release Line: 2.2, partners-contribution

#21157 [Backport] Magento backend catalog cost without currency symbol
  app/code/Magento/Catalog/view/adminhtml/ui_component/product_listing.xml
Labels: Area: Frontend, Component: Catalog, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.2, partners-contribution

#21159 [Backport] Solve custom option dropdown issue
  app/code/Magento/Catalog/Ui/DataProvider/Product/Form/Modifier/CustomOptions.php
Labels: Component: Catalog, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.2, partners-contribution

#21162 [Backport] Fixed issue #20911 In admin login password forgot password page wrong css used to make it vertially aling middle
  app/design/adminhtml/Magento/backend/web/css/source/forms/_temp.less
Labels: Area: Design/Frontend, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.2, partners-contribution

#21172 [Backport] Fixes-for-account-my-recent-reviews-alignment-2.2
  app/design/frontend/Magento/luma/Magento_Review/web/css/source/_module.less
Labels: Area: Design/Frontend, Partner: Two Jay, Progress: accept, Release Line: 2.2, partners-contribution

#21198 [Backport] added min=0 to qty field product detail page
  app/code/Magento/Catalog/view/frontend/templates/product/view/addtocart.phtml
  app/code/Magento/Checkout/view/frontend/templates/cart/item/configure/updatecart.phtml
Labels: Area: Frontend, Component: Catalog, Component: Checkout, Partner: Two Jay, Progress: accept, Release Line: 2.2, partners-contribution

#21199 [Backport] Fixed issue #20555 Meta Keywords/Meta Description are input field in product form while they are defined as textarea
  app/code/Magento/Catalog/Ui/DataProvider/Product/Form/Modifier/General.php
Labels: Component: Catalog, Partner: Two Jay, Progress: accept, Release Line: 2.2, partners-contribution

#20529 [Backport] Fixed-Widget-left-navigation-block-2.2
  app/design/adminhtml/Magento/backend/Magento_Backend/web/css/source/module/main/_page-nav.less
Labels: Area: Design/Frontend, Partner: Two Jay, Progress: accept, Release Line: 2.2, partners-contribution

#20165 issue fixed #20163 On iPhone5 device newsletter subscription input bo…
  app/design/frontend/Magento/luma/Magento_Newsletter/web/css/source/_module.less
Labels: Area: Design/Frontend, Community Insider: Cedcommerce, Progress: accept, Release Line: 2.3, community-insider-contribution

#20466 view-order-price-subtotal-alignment-not-proper-mobile
  app/design/frontend/Magento/blank/Magento_Sales/web/css/source/_module.less
Labels: Area: Design/Frontend, Partner: Two Jay, Progress: accept, Release Line: 2.3, partners-contribution

#20847 Fixed validation strategy label in import form
  app/code/Magento/ImportExport/Block/Adminhtml/Import/Edit/Form.php
  app/code/Magento/ImportExport/i18n/en_US.csv
Labels: Component: ImportExport, Progress: accept, Release Line: 2.3

#20895 Entered data missing when entering the wrong date for from, to in cart rule
  app/code/Magento/SalesRule/Controller/Adminhtml/Promo/Quote/Save.php
  app/code/Magento/SalesRule/Model/Rule/DataProvider.php
Labels: Community Insider: Cedcommerce, Component: SalesRule, Event: mm19in, Progress: accept, Release Line: 2.3, community-insider-contribution

#20896 Fixed #17861 Customer Name Prefix shows white space when extra separator is addes
  app/code/Magento/Customer/Model/Options.php
Labels: Community Insider: Cedcommerce, Component: Customer, Event: mm19in, Progress: accept, Release Line: 2.3, community-insider-contribution

#20902 Fixed #17564 Magento 2 inline edit date issues in admin grid with Ui Component
  app/code/Magento/Ui/view/base/web/js/form/element/date.js
Labels: Area: Frontend, Community Insider: Cedcommerce, Component: Ui, Event: mm19in, Progress: accept, Release Line: 2.3, community-insider-contribution

#20963 bundle-product-table-data-grouped-alignment :: Bundle product table d…
  app/design/frontend/Magento/luma/Magento_GroupedProduct/web/css/source/_module.less
Labels: Area: Design/Frontend, Partner: Two Jay, Progress: accept, Release Line: 2.3, partners-contribution

#21009 issue fixed #20919 Email label and email field not aligned from left …
  app/design/adminhtml/Magento/backend/Magento_Sales/web/css/source/module/order/_order-account.less
Labels: Area: Design/Frontend, Community Insider: Cedcommerce, Progress: accept, Release Line: 2.3, community-insider-contribution

#21038 quantity-not-center-align-on-review-order
  app/design/frontend/Magento/luma/Magento_Multishipping/web/css/source/_module.less
Labels: Area: Design/Frontend, Partner: Two Jay, Progress: accept, Release Line: 2.3, partners-contribution

#21071 Fixed Luma theme my account Order status tabs 21070
  app/design/frontend/Magento/luma/Magento_Sales/web/css/source/_module.less
Labels: Area: Design/Frontend, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#21102 [Catalog] Fixing compare block product removing action from sidebar
  app/design/frontend/Magento/luma/Magento_Catalog/web/css/source/_module.less
Labels: Area: Design/Frontend, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#21145 Fixed #21144 Can't change customer group when placing an admin order
  app/code/Magento/Sales/Block/Adminhtml/Order/Create/Form/Account.php
Labels: Component: Sales, Progress: accept, Release Line: 2.3

#21165 Fix tests breaking when upgrading from 2.2 to 2.3
  app/code/Magento/Sales/Test/Mftf/Section/AdminOrderFormActionSection.xml
Labels: Component: Sales, Partner: Mediotype, Progress: accept, Release Line: 2.3, partners-contribution

#18852 Changes cache hosts warning / critical levels and continue on multiple hosts
  app/code/Magento/CacheInvalidate/Model/PurgeCache.php
  lib/internal/Magento/Framework/Cache/InvalidateLogger.php
Labels: Component: CacheInvalidate, Component: Framework/Cache, Partner: Redkiwi, Progress: accept, Release Line: 2.3, partners-contribution

#19608 Fixed Custom option price calculation is wrong with multi currency when option price type is percentage
  app/code/Magento/Catalog/Block/Product/View/Options.php
Labels: Component: Catalog, Progress: accept, Release Line: 2.3

#20495 #18347 - Element 'css', attribute 'as': The attribute 'as' is not allowed. (CSS preloading)
  lib/internal/Magento/Framework/View/Layout/etc/head.xsd
Labels: Component: Framework/View, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#20923 Fixed issue if there are multiple skus in catalog rule condition combination
  app/code/Magento/Rule/Model/Condition/Product/AbstractProduct.php
Labels: Component: Rule, Event: mm19in, Progress: accept, Release Line: 2.3

#21093 Removed useless sprintf and removed code no longer needed
  app/code/Magento/Downloadable/Model/ResourceModel/Link.php
Labels: Component: Downloadable, Progress: accept, Release Line: 2.3

#21166 [Backport] Email to a Friend form not full responsive and remove link not positi…
  app/design/frontend/Magento/luma/Magento_SendFriend/web/css/source/_module.less
Labels: Area: Design/Frontend, Partner: Two Jay, Progress: accept, Release Line: 2.2, partners-contribution

#21224 [Backport] [Sales] Improves the UX by scrolling down the customer to the Recent Orders
  app/code/Magento/Sales/view/frontend/templates/reorder/sidebar.phtml
Labels: Area: Frontend, Component: Sales, Partner: Atwix, Progress: accept, Release Line: 2.2, partners-contribution

#21238 [Backport] [Catalog] Fixing compare block product removing action from sidebar
  app/design/frontend/Magento/luma/Magento_Catalog/web/css/source/_module.less
Labels: Area: Design/Frontend, Partner: Atwix, Progress: accept, Release Line: 2.2, partners-contribution

#21239 [Backport] Fixed #21144 Can't change customer group when placing an admin order
  app/code/Magento/Sales/Block/Adminhtml/Order/Create/Form/Account.php
Labels: Component: Sales, Partner: Two Jay, Progress: accept, Release Line: 2.2, partners-contribution

#21240 [Backport] quantity-not-center-align-on-review-order
  app/design/frontend/Magento/luma/Magento_Multishipping/web/css/source/_module.less
Labels: Area: Design/Frontend, Partner: Two Jay, Progress: accept, Release Line: 2.2, partners-contribution

#21245 [Backport] Fixed #17861 Customer Name Prefix shows white space when extra separator is addes
  app/code/Magento/Customer/Model/Options.php
Labels: Component: Customer, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.2, partners-contribution

#21250 [Backport] Fixed Luma theme my account Order status tabs 21070
  app/design/frontend/Magento/luma/Magento_Sales/web/css/source/_module.less
Labels: Area: Design/Frontend, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.2, partners-contribution

#21249 Add missing short description on MoveToWishlist
  app/code/Magento/Wishlist/Block/Cart/Item/Renderer/Actions/MoveToWishlist.php
Labels: Component: Wishlist, Partner: ISM eCompany, Release Line: 2.3, partners-contribution

#20539 [Backport] issue fixed #20299 Order item details label not aligned in mobile view
  app/design/frontend/Magento/luma/Magento_Checkout/web/css/source/module/_cart.less
Labels: Area: Design/Frontend, Community Insider: Cedcommerce, Progress: accept, Release Line: 2.2, community-insider-contribution

#21261 [Backport] #18347 - Element 'css', attribute 'as': The attribute 'as' is not allowed. (CSS preloading)
  lib/internal/Magento/Framework/View/Layout/etc/head.xsd
Labels: Component: Framework/View, Partner: Two Jay, Progress: accept, Release Line: 2.2, partners-contribution

#21263 [Backport] Fixed Custom option price calculation is wrong with multi currency when option price type is percentage
  app/code/Magento/Catalog/Block/Product/View/Options.php
Labels: Component: Catalog, Partner: Two Jay, Progress: accept, Release Line: 2.2, partners-contribution

#21269 [Backport] Fixed issue if there are multiple skus in catalog rule condition combination
  app/code/Magento/Rule/Model/Condition/Product/AbstractProduct.php
Labels: Component: Rule, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.2, partners-contribution

#21273 [Backport] Special price date from issue resolve
  app/code/Magento/Catalog/Controller/Adminhtml/Product/Initialization/Helper.php
Labels: Component: Catalog, Progress: accept, Release Line: 2.2

#21282 [Backport] hardcoded table name
  app/code/Magento/Directory/Model/ResourceModel/Currency.php
Labels: Community Insider : Emipro, Component: Directory, Progress: accept, Release Line: 2.2, community-insider-contribution

#21287 [Backport] Small refactor of getFrontName
  lib/internal/Magento/Framework/View/Context.php
Labels: Component: Framework/View, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.2, partners-contribution

#19566 Minimum Qty Allowed in Shopping Cart not working on related product
  app/code/Magento/Checkout/Model/Cart.php
Labels: Component: Checkout, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#19679 #19575 magentoDataFixture should allow to use Module Prefix - Integrations Test
  dev/tests/integration/framework/Magento/TestFramework/Annotation/DataFixture.php
Labels: Partner: TechDivision, Progress: accept, Release Line: 2.3, partners-contribution

#20839 Checkout shipping tooltip 20838
  app/design/frontend/Magento/blank/Magento_Checkout/web/css/source/module/checkout/_tooltip.less
Labels: Area: Design/Frontend, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#21197 [Ui] Fixing the changing state of dropdown's icon
  app/code/Magento/Ui/view/base/web/templates/grid/filters/elements/ui-select-optgroup.html
  app/code/Magento/Ui/view/base/web/templates/grid/filters/elements/ui-select.html
  app/design/adminhtml/Magento/backend/web/css/source/actions/_actions-multiselect.less
Labels: Area: Design/Frontend, Area: Frontend, Component: Ui, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#21227 remove-duplicated-media
  app/design/frontend/Magento/luma/Magento_Wishlist/web/css/source/_module.less
Labels: Area: Design/Frontend, Partner: Two Jay, Progress: accept, Release Line: 2.3, partners-contribution

#20781 [Backport] cms-page-top-spacing-issue-2.2
  app/design/frontend/Magento/luma/Magento_Theme/web/css/source/_module.less
Labels: Area: Design/Frontend, Partner: Two Jay, Progress: accept, Release Line: 2.2, partners-contribution

#21242 [Backport] bundle-product-table-data-grouped-alignment :: Bundle product table d…
  app/design/frontend/Magento/luma/Magento_GroupedProduct/web/css/source/_module.less
Labels: Area: Design/Frontend, Partner: Two Jay, Progress: accept, Release Line: 2.2, partners-contribution
