Repository magento/magento2, pull requests merged in 2019-06, with the labels that each got.

#23058 [Backport] Checkout totals order in specific store
  app/code/Magento/Checkout/Model/Layout/AbstractTotalsProcessor.php
Labels: Component: Checkout, Partner: Krish TechnoLabs, Port, Progress: accept, Release Line: 2.2, partners-contribution

#23086 [Backport] Fix wrong behavior of validation scroll
  lib/web/mage/validation.js
Labels: Area: Lib/Frontend, Port, Progress: accept, Release Line: 2.2

#22821 Customer Account Forgot Password page title fix
  app/code/Magento/Customer/view/frontend/layout/customer_account_forgotpassword.xml
Labels: Area: Frontend, Cleanup, Component: Customer, Progress: accept, Release Line: 2.3

#22884 Show exception message during SCD failure
  app/code/Magento/Deploy/Service/DeployPackage.php
Labels: Cleanup, Component: Deploy, Progress: accept, Release Line: 2.3

#23036 [Framework] Reassign fields variable after converting to array
  lib/internal/Magento/Framework/Model/ResourceModel/Db/AbstractDb.php
Labels: Award: bug fix, Component: Model, Progress: accept, Release Line: 2.3

#23040 Don't create a new account-nav block - use existing instead.
  app/design/frontend/Magento/luma/Magento_Customer/layout/customer_account.xml
Labels: Area: Design/Frontend, Award: bug fix, Progress: accept, Release Line: 2.3

#23046 Add more descriptive exception when data patch fails to apply.
  lib/internal/Magento/Framework/Setup/Patch/PatchApplier.php
Labels: Cleanup, Component: Setup, Progress: accept, Release Line: 2.3

#23067 Create Security.md file to show on GitHub Security/Policy page
  SECURITY.md
Labels: Cleanup, Progress: accept, Release Line: 2.3

#23114 [Backport] Show exception message during SCD failure
  app/code/Magento/Deploy/Service/DeployPackage.php
Labels: Component: Deploy, Port, Progress: accept, Release Line: 2.2

#23119 [Backport] #22686 Shipment view fixed for Fatal error.
  app/code/Magento/Shipping/view/adminhtml/templates/view/items.phtml
Labels: Area: Frontend, Community Insider: Cedcommerce, Component: Shipping, Port, Progress: accept, Release Line: 2.2, community-insider-contribution

#23151 [Backport] Fixed #22506: Search suggestion panel overlapping on advance reporting button
  app/design/adminhtml/Magento/backend/Magento_Backend/web/css/source/module/header/actions-group/_search.less
Labels: Area: Design/Frontend, Partner: Krish TechnoLabs, Port, Progress: accept, Release Line: 2.2, partners-contribution

#22336 fix clean_cache plugin flush mode
  lib/internal/Magento/Framework/App/Cache/FlushCacheByTags.php
  lib/internal/Magento/Framework/App/Test/Unit/Cache/FlushCacheByTagsTest.php
Labels: Award: bug fix, Component: App, Progress: accept, Release Line: 2.3

#22426 Fixed wrong url redirect when edit product review from Customer view page
  app/code/Magento/Review/Block/Adminhtml/Edit/Form.php
  app/code/Magento/Review/Controller/Adminhtml/Product/Save.php
Labels: Component: Review, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#22521 Fixed 22511
  app/code/Magento/Catalog/Observer/SetSpecialPriceStartDate.php
Labels: Award: bug fix, Component: Catalog, Progress: accept, Release Line: 2.3

#22834 #16445 - getRegionHtmlSelect does not have configuration - resolved
  app/code/Magento/Directory/Block/Data.php
Labels: Component: Directory, Progress: accept, Release Line: 2.3

#23081 Fix missing whitespace in mobile navigation for non-English websites
  lib/web/mage/menu.js
Labels: Area: Lib/Frontend, Progress: accept, Release Line: 2.3

#23158 [Backport] Don't create a new account-nav block - use existing instead.
  app/design/frontend/Magento/luma/Magento_Customer/layout/customer_account.xml
Labels: Area: Design/Frontend, Partner: Atwix, Port, Progress: accept, Release Line: 2.2, partners-contribution

#23163 [Backport] Replace hardcoded CarierCode from createShippingMethod()
  app/code/Magento/OfflineShipping/Model/Carrier/Tablerate.php
Labels: Component: OfflineShipping, Partner: Krish TechnoLabs, Port, Progress: accept, Release Line: 2.2, partners-contribution

#23164 [Backport] Fix missing whitespace in mobile navigation for non-English websites
  lib/web/mage/menu.js
Labels: Area: Lib/Frontend, Partner: Krish TechnoLabs, Port, Progress: accept, Release Line: 2.2, partners-contribution

#22341 Apply coupoun and scroll top to check. applied successfully or not
  app/code/Magento/Sales/view/adminhtml/web/order/create/scripts.js
Labels: Area: Frontend, Component: Sales, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#22646 Fixed Issue #22087
  app/code/Magento/Reports/Model/ResourceModel/Product/Sold/Collection.php
Labels: Award: bug fix, Community Insider: Cedcommerce, Component: Reports, Progress: accept, Release Line: 2.3, community-insider-contribution

#20848 Partial docs fixes in Newsletter module
  app/code/Magento/Newsletter/Block/Adminhtml/Problem.php
  app/code/Magento/Newsletter/Controller/Adminhtml/Subscriber/MassDelete.php
  app/code/Magento/Newsletter/Controller/Manage/Save.php
  app/code/Magento/Newsletter/Controller/Subscriber/Confirm.php
  app/code/Magento/Newsletter/Model/Subscriber.php
Labels: Cleanup, Component: Newsletter, Partner: ISM eCompany, Progress: accept, Release Line: 2.3, partners-contribution

#21605 [2.3] Database Media Storage - Admin Product Edit Page handles recreates images correctly when pub/media/catalog is cleared.
  app/code/Magento/Catalog/Block/Adminhtml/Product/Helper/Form/Gallery/Content.php
  app/code/Magento/Catalog/Test/Unit/Block/Adminhtml/Product/Helper/Form/Gallery/ContentTest.php
Labels: Award: bug fix, Component: Catalog, Progress: accept, Release Line: 2.3

#21876 $product->getUrlInStore() does not allow to override the scope in backend context
  app/code/Magento/Backend/Model/Url.php
  dev/tests/integration/testsuite/Magento/Catalog/Model/Product/UrlTest.php
Labels: Award: bug fix, Component: Backend, Progress: accept, Release Line: 2.3

#23007 [Fixed] Reset feature does not clear the date
  app/code/Magento/Ui/view/base/web/js/form/form.js
Labels: Area: Frontend, Component: Ui, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#23148 [Backport] Customer Account Forgot Password page title fix
  app/code/Magento/Customer/view/frontend/layout/customer_account_forgotpassword.xml
Labels: Area: Frontend, Component: Customer, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.2, partners-contribution

#21606 [2.2][Backport] Database Media Storage - Admin Product Edit Page handles recreates images correctly when pub/media/catalog is cleared.
  app/code/Magento/Catalog/Block/Adminhtml/Product/Helper/Form/Gallery/Content.php
  app/code/Magento/Catalog/Test/Unit/Block/Adminhtml/Product/Helper/Form/Gallery/ContentTest.php
Labels: Component: Catalog, Progress: accept, Release Line: 2.2

#22637 Fixed #22484 Customer address States are duplicated in backend
  app/code/Magento/Ui/Component/Form/Element/AbstractOptionsField.php
Labels: Award: bug fix, Community Insider: Cedcommerce, Component: Ui, Progress: accept, Release Line: 2.3, community-insider-contribution

#23140 magento/magento2#23138: Magento_Theme. Incorrect configuration file location
  app/code/Magento/Theme/etc/adminhtml/system.xml
Labels: Component: Theme, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#23179 Fix for translation function
  app/code/Magento/Catalog/view/adminhtml/templates/catalog/category/tree.phtml
  app/code/Magento/Catalog/view/adminhtml/templates/catalog/product/helper/gallery.phtml
Labels: Area: Frontend, Component: Catalog, Progress: accept, Release Line: 2.3, bugfix

#22704 Fixed #22004 can't update attribute for all product
  app/code/Magento/Ui/view/base/web/js/grid/massactions.js
Labels: Area: Frontend, Award: bug fix, Community Insider: Cedcommerce, Component: Ui, Progress: accept, Release Line: 2.3, community-insider-contribution

#23121 [Backport] #23053 : sendfriend verifies product visibility instead of status
  app/code/Magento/SendFriend/Controller/Product.php
  app/code/Magento/SendFriend/Test/Unit/Controller/Product/SendTest.php
Labels: Component: SendFriend, Port, Progress: accept, Release Line: 2.2

#23195 Backport apply coupoun and scroll top to check. applied successfully or not
  app/code/Magento/Sales/view/adminhtml/web/order/create/scripts.js
Labels: Area: Frontend, Component: Sales, Partner: Krish TechnoLabs, Port, Progress: accept, Release Line: 2.2, partners-contribution

#22942 Fixed issue #18337
  app/code/Magento/Search/view/frontend/templates/form.mini.phtml
  app/code/Magento/Search/view/frontend/web/js/form-mini.js
Labels: Area: Frontend, Award: bug fix, Component: Search, Partner: Ranosys, Progress: accept, Release Line: 2.3, partners-contribution

#23216 Fixed #23213 Static content deploy showing percentage symbol two times in progress bar
  app/code/Magento/Deploy/Console/ConsoleLogger.php
Labels: Cleanup, Community Insider: Cedcommerce, Component: Deploy, Progress: accept, Release Line: 2.3, community-insider-contribution

#23244 Update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: Auto-Tests: Not Required, Cleanup, Partner: Space 48, Progress: accept, Release Line: 2.3, partners-contribution

#23248 fix tooltip toggle selector typo
  app/design/frontend/Magento/blank/web/css/source/_tooltips.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Cleanup, Partner: Vaimo, Progress: accept, Release Line: 2.3, partners-contribution

#23250 Fixed #23238 Apply button act like remove button while create new order from admin
  app/code/Magento/Sales/view/adminhtml/templates/order/create/coupons/form.phtml
Labels: Area: Frontend, Award: bug fix, Community Insider: Cedcommerce, Component: Sales, Progress: accept, Release Line: 2.3, community-insider-contribution

#23129 #22934 Improved sitemap product generation logic
  app/code/Magento/Sitemap/Model/ResourceModel/Catalog/Product.php
Labels: Award: bug fix, Component: Sitemap, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#23201 MFTF: Use AdminLoginActionGroup for AdminLoginTest - easiest use of ActionGroup
  app/code/Magento/Backend/Test/Mftf/Test/AdminLoginTest.xml
Labels: Component: Backend, Partner: Strix, Progress: accept, Release Line: 2.3, partners-contribution

#23100 Resolve issue with improper EAV attribute join statement
  app/code/Magento/Catalog/Model/Indexer/Product/Flat/Action/Eraser.php
Labels: Component: Catalog, Progress: accept, Release Line: 2.3

#23267 Add filter index for ID column in adminhtml user grid
  app/code/Magento/User/view/adminhtml/layout/adminhtml_user_grid_block.xml
Labels: Area: Frontend, Auto-Tests: Not Required, Award: bug fix, Component: User, Partner: H&O, Progress: accept, Release Line: 2.3, partners-contribution

#23286 Fixed Credit memo submit button(refund) stays disable after validation fails & unable to enable button issue.
  app/code/Magento/Sales/view/adminhtml/templates/order/creditmemo/create/totals/adjustments.phtml
Labels: Area: Frontend, Auto-Tests: Not Covered, Component: Sales, Progress: accept, Release Line: 2.3

#23292 revert Properly transliterate German Umlauts
  lib/internal/Magento/Framework/Filter/Test/Unit/TranslitTest.php
  lib/internal/Magento/Framework/Filter/Test/Unit/TranslitUrlTest.php
  lib/internal/Magento/Framework/Filter/Translit.php
Labels: Auto-Tests: Not Required, Component: Filter, Progress: accept, Release Line: 2.3

#23307 [Ui] Allow to define listing configuration via ui component xml
  app/code/Magento/ConfigurableProduct/view/adminhtml/web/js/variations/paging/sizes.js
  app/code/Magento/Ui/Component/Paging.php
  app/code/Magento/Ui/Test/Unit/Component/PagingTest.php
  app/code/Magento/Ui/view/base/web/js/grid/paging/paging.js
  app/code/Magento/Ui/view/base/web/js/grid/paging/sizes.js
  lib/internal/Magento/Framework/View/Layout/Generator/UiComponent.php
Labels: Area: Frontend, Auto-Tests: Covered, Award: special achievement, Component: ConfigurableProduct, Component: Ui, Component: View, Progress: accept, Release Line: 2.3

#23335 Correct spelling
  app/code/Magento/Ui/Block/Wrapper.php
Labels: Cleanup, Component: Ui, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#22675 Fixed #20038 loading icon disappearing before background process completes for Braintree payment in Admin
  app/code/Magento/Braintree/view/adminhtml/web/js/braintree.js
Labels: Area: Frontend, Auto-Tests: Not Required, Award: bug fix, Component: Braintree, Progress: accept, Release Line: 2.3

#23174 Move Quote related Plugins to correct module
  app/code/Magento/Quote/etc/webapi_rest/di.xml
  app/code/Magento/Quote/etc/webapi_soap/di.xml
  app/code/Magento/Sales/etc/webapi_rest/di.xml
  app/code/Magento/Sales/etc/webapi_soap/di.xml
Labels: Auto-Tests: Not Required, Component: Quote, Component: Sales, Progress: accept, Release Line: 2.3

#23347 Fixes incorrect file reference in a comment in a .htaccess file.
  pub/media/.htaccess
Labels: Cleanup, Progress: accept, Release Line: 2.3

#23252 [Backport] Fixed Issue #22087
  app/code/Magento/Reports/Model/ResourceModel/Product/Sold/Collection.php
Labels: Component: Reports, Partner: Krish TechnoLabs, Port, Progress: accept, Release Line: 2.2, partners-contribution

#23277 [Backport] Fixed #22396 config:set fails with JSON values
  app/code/Magento/CatalogInventory/Helper/Minsaleqty.php
  app/code/Magento/CatalogInventory/Test/Unit/Helper/MinsaleqtyTest.php
Labels: Community Insider: Cedcommerce, Component: CatalogInventory, Port, Progress: accept, Release Line: 2.2, community-insider-contribution

#23328 [Backport] Remove fotorama.min.js
  lib/web/fotorama/fotorama.min.js
Labels: Area: Lib/Frontend, Auto-Tests: Not Required, Port, Progress: accept, Release Line: 2.2

#22800 fixed issue #22638 - Asterisk(*) sign position does not consistent in admin
  app/design/adminhtml/Magento/backend/web/css/source/forms/_extends.less
Labels: Area: Design/Frontend, Progress: accept, Release Line: 2.3

#22910 Do an empty check instead of isset check on image removed
  app/code/Magento/Catalog/Model/ProductRepository/MediaGalleryProcessor.php
Labels: Component: Catalog, Partner: MediaCT, Progress: accept, Release Line: 2.3, partners-contribution

#23218 Fixed #22266: 404 message for product alerts when not logged in
  app/code/Magento/ProductAlert/Controller/Add/Price.php
  app/code/Magento/ProductAlert/Controller/Add/Stock.php
  app/code/Magento/ProductAlert/view/frontend/templates/product/view.phtml
Labels: Area: Frontend, Award: bug fix, Component: ProductAlert, Partner: MediaCT, Progress: accept, Release Line: 2.3, partners-contribution

#23247 Fixed 23230 : Sticky header floating under top when there is no buttons in the toolbar
  app/code/Magento/Ui/view/base/web/js/grid/toolbar.js
Labels: Area: Frontend, Auto-Tests: Not Required, Component: Ui, Progress: accept, Release Line: 2.3

#23338 Fix issue with incorrect payment translation in sales emails
  app/code/Magento/Sales/Model/Order/Creditmemo/Sender/EmailSender.php
  app/code/Magento/Sales/Model/Order/Email/Sender/CreditmemoCommentSender.php
  app/code/Magento/Sales/Model/Order/Email/Sender/CreditmemoSender.php
  app/code/Magento/Sales/Model/Order/Email/Sender/InvoiceCommentSender.php
  app/code/Magento/Sales/Model/Order/Email/Sender/InvoiceSender.php
  app/code/Magento/Sales/Model/Order/Email/Sender/OrderCommentSender.php
  app/code/Magento/Sales/Model/Order/Email/Sender/ShipmentCommentSender.php
  app/code/Magento/Sales/Model/Order/Email/Sender/ShipmentSender.php
  app/code/Magento/Sales/Model/Order/Invoice/Sender/EmailSender.php
  app/code/Magento/Sales/Model/Order/Shipment/Sender/EmailSender.php
Labels: Auto-Tests: Not Covered, Component: Sales, Progress: accept, Release Line: 2.3

#23366 Correct spelling
  app/code/Magento/Bundle/Block/Adminhtml/Catalog/Product/Edit/Tab/Attributes/Extend.php
Labels: Auto-Tests: Not Required, Cleanup, Component: Bundle, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.3, partners-contribution

#23367 #23346: 'Test Connection' button is over-spanned
  app/code/Magento/AdvancedSearch/view/adminhtml/templates/system/config/testconnection.phtml
Labels: Area: Frontend, Auto-Tests: Not Required, Cleanup, Component: AdvancedSearch, Progress: accept, Release Line: 2.3

#23149 [Backport] Fixed issue #22767: Not clear logic for loading CMS Pages with setStoreId function
  app/code/Magento/Cms/Model/Block.php
  app/code/Magento/Cms/Model/Page.php
Labels: Auto-Tests: Not Required, Component: Cms, Partner: Krish TechnoLabs, Port, Progress: accept, Release Line: 2.2, partners-contribution

#23150 [Backport] Issue fixed #22636 arrow toggle not changing only showing to down It should be toggle as every where is working
  app/design/adminhtml/Magento/backend/Magento_Backend/web/css/source/module/main/_collapsible-blocks.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Partner: Krish TechnoLabs, Port, Progress: accept, Release Line: 2.2, partners-contribution

#23152 [Backport] Remove timestap from current date when saving product special price from date
  app/code/Magento/Catalog/Observer/SetSpecialPriceStartDate.php
Labels: Auto-Tests: Not Required, Component: Catalog, Partner: Krish TechnoLabs, Port, Progress: accept, Release Line: 2.2, partners-contribution

#23331 [Backport] Fixed issue #18337
  app/code/Magento/Search/view/frontend/templates/form.mini.phtml
  app/code/Magento/Search/view/frontend/web/js/form-mini.js
Labels: Area: Frontend, Auto-Tests: Not Required, Component: Search, Partner: AYKO, Port, Progress: accept, Release Line: 2.2, partners-contribution

#23332 [Backport] Fixed #23238 Apply button act like remove button while create new order from admin
  app/code/Magento/Sales/view/adminhtml/templates/order/create/coupons/form.phtml
Labels: Area: Frontend, Component: Sales, Partner: Krish TechnoLabs, Port, Progress: accept, Release Line: 2.2, partners-contribution

#23352 [Backport] fixed issue #22736 - Cursor position not in right side of search keyword in mobile
  app/code/Magento/Search/view/frontend/web/js/form-mini.js
Labels: Area: Frontend, Auto-Tests: Not Required, Component: Search, Partner: Krish TechnoLabs, Port, Progress: accept, Release Line: 2.2, partners-contribution

#23375 [Backport for #23307] Allow to define listing configuration via ui component xml
  app/code/Magento/ConfigurableProduct/view/adminhtml/web/js/variations/paging/sizes.js
  app/code/Magento/Ui/Component/Paging.php
  app/code/Magento/Ui/Test/Unit/Component/PagingTest.php
  app/code/Magento/Ui/view/base/web/js/grid/paging/paging.js
  app/code/Magento/Ui/view/base/web/js/grid/paging/sizes.js
  lib/internal/Magento/Framework/View/Layout/Generator/UiComponent.php
Labels: Area: Frontend, Auto-Tests: Covered, Component: ConfigurableProduct, Component: Ui, Component: View, Port, Progress: accept, Release Line: 2.2

#22671 Change exportButton option cvs
  app/code/Magento/Ui/view/base/ui_component/etc/definition.xml
Labels: Area: Frontend, Auto-Tests: Not Required, Component: Ui, Progress: accept, Release Line: 2.3

#23240 Refactor: Improve mview code readability
  lib/internal/Magento/Framework/Mview/View.php
Labels: Auto-Tests: Not Required, Component: Mview, Partner: Strix, Progress: accept, Release Line: 2.3, partners-contribution

#23280 Ensure page is loaded after order click actions
  app/code/Magento/Backend/Test/Mftf/Test/AdminDashboardWithChartsChart.xml
  app/code/Magento/Catalog/Test/Mftf/Test/StorefrontPurchaseProductWithCustomOptionsWithLongValuesTitle.xml
  app/code/Magento/CatalogInventory/Test/Mftf/Test/AssociatedProductToConfigurableOutOfStockTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontCustomerCheckoutTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontGuestCheckoutTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/ProductsQtyReturnAfterOrderCancelTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCreateInvoiceTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/CreditMemoTotalAfterShippingDiscountTest.xml
Labels: Component: Backend, Component: Catalog, Component: CatalogInventory, Component: Checkout, Component: ConfigurableProduct, Component: Sales, Progress: accept, Release Line: 2.3

#23306 FS/23038 Decimal qty with Increment is with specific values are not adding in cart
  lib/web/mage/validation.js
Labels: Area: Lib/Frontend, Progress: accept, Release Line: 2.3

#23312 Added function to check against running/pending/successful cron tasks
  app/code/Magento/Cron/Observer/ProcessCronQueueObserver.php
Labels: Auto-Tests: Not Covered, Component: Cron, Partner: Pinpoint, Progress: accept, Release Line: 2.3, partners-contribution

#22116 Fix magento root package identification for metapackage installation
  dev/tests/integration/testsuite/Magento/Framework/Composer/ComposerInformationTest.php
  dev/tests/integration/testsuite/Magento/Framework/Composer/_files/testFromClone/composer.lock
  dev/tests/integration/testsuite/Magento/Framework/Composer/_files/testFromCreateProject/composer.lock
  dev/tests/integration/testsuite/Magento/Framework/Composer/_files/testSkeleton/composer.lock
  lib/internal/Magento/Framework/Composer/ComposerInformation.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: Composer, Progress: accept, Release Line: 2.3

#23234 [Ui] Calling the always action on opening and closing the modal.
  app/code/Magento/Ui/view/base/web/js/modal/alert.js
Labels: Area: Frontend, Award: bug fix, Component: Ui, Partner: Atwix, Progress: accept, Release Line: 2.3, partners-contribution

#23353 Get review entity id by code instead hard-coded.
  app/code/Magento/Review/Controller/Adminhtml/Product/Post.php
  app/code/Magento/Review/Test/Unit/Controller/Adminhtml/Product/PostTest.php
Labels: Auto-Tests: Not Required, Component: Review, Partner: MageSpecialist, Progress: accept, Release Line: 2.3, partners-contribution

#23393 Fixed issue #21974
  app/code/Magento/Analytics/Test/Mftf/Section/AdminConfigAdvancedReportingSection.xml
  app/design/adminhtml/Magento/backend/Magento_Backend/web/css/source/module/main/_collapsible-blocks.less
  lib/internal/Magento/Framework/Data/Form/Element/Time.php
Labels: Area: Design/Frontend, Auto-Tests: Covered, Award: bug fix, Component: Analytics, Component: Data, Partner: Ranosys, Progress: accept, Release Line: 2.3, partners-contribution

#23394 Fixed issue #23377
  app/code/Magento/Checkout/view/frontend/templates/cart/minicart.phtml
Labels: Area: Frontend, Auto-Tests: Not Covered, Award: bug fix, Component: Checkout, Partner: Ranosys, Progress: accept, Release Line: 2.3, partners-contribution

#23403 Remove rogue closing tag from store-switcher template
  app/code/Magento/Backend/view/adminhtml/templates/store/switcher.phtml
Labels: Area: Frontend, Auto-Tests: Not Required, Cleanup, Component: Backend, Progress: accept, Release Line: 2.3
