Repository magento/magento2, pull requests merged in 2020-02, with the labels that each got.

#26628 Fixed #26513
  app/code/Magento/Quote/Model/Quote/Item.php
Labels: Auto-Tests: Not Required, Cleanup, Community Insider: Cedcommerce, Component: Quote, Event: mm20in, Progress: accept, Release Line: 2.4, community-insider-contribution

#26614 #26612 Fix failure on Coupon Apply procedure when loading mask still visible
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontApplyPromoCodeDuringCheckoutTest.xml
  app/code/Magento/SalesRule/Test/Mftf/ActionGroup/StorefrontApplyDiscountCodeActionGroup.xml
Labels: Auto-Tests: Covered, Award: bug fix, Component: Checkout, Component: SalesRule, Partner: Mediotype, Progress: accept, Release Line: 2.4, partners-contribution

#26558 [Csp] Covering the model classes by Unit Tests
  app/code/Magento/Csp/Test/Unit/Model/Mode/ConfigManagerTest.php
  app/code/Magento/Csp/Test/Unit/Model/PolicyRendererPoolTest.php
Labels: Auto-Tests: Covered, Component: Csp, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#26540 Added action group for cms block duplication test
  app/code/Magento/Cms/Test/Mftf/ActionGroup/SaveAndDuplicateCMSBlockWithSplitButtonActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/ActionGroup/VerifyCmsBlockSaveSplitButtonActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminCreateCmsBlockTest.xml
Labels: Auto-Tests: Covered, Component: Cms, Partner: Ziffity, Progress: accept, Release Line: 2.4, partners-contribution

#26537 Covered admin cms block creatation with MFTF test
  app/code/Magento/Cms/Test/Mftf/ActionGroup/VerifyCmsBlockSaveSplitButtonActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminCreateCmsBlockTest.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminSaveAndCloseCmsBlockTest.xml
Labels: Auto-Tests: Covered, Award: MFTF test coverage, Component: Cms, Partner: Ziffity, Progress: accept, Release Line: 2.4, partners-contribution

#26490 Fixed type issue. Create unit test for customer data model
  app/code/Magento/Customer/Model/Data/Customer.php
  app/code/Magento/Customer/Test/Unit/Model/Data/CustomerTest.php
Labels: Auto-Tests: Covered, Component: Customer, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#26480 Bugfix #26479 Exception when Autoloader was not registered properly
  lib/internal/Magento/Framework/Autoload/AutoloaderRegistry.php
Labels: Auto-Tests: Covered, Component: Autoload, Partner: Mediotype, Progress: accept, Release Line: 2.4, partners-contribution

#26478 Unit Test for Magento\Fedex\Plugin\Block\DataProviders\Tracking\ChangeTitle
  app/code/Magento/Fedex/Test/Unit/Plugin/Block/DataProviders/Tracking/ChangeTitleTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: Fedex, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#26434 Fix typo in sitemap product collection docblock
  app/code/Magento/Sitemap/Model/ResourceModel/Catalog/Product.php
Labels: Auto-Tests: Not Required, Cleanup, Component: Sitemap, Progress: accept, Release Line: 2.4

#26327 Fix the wrong behavior of validation scroll on the iPhone X
  lib/web/mage/validation.js
Labels: Area: Lib/Frontend, Auto-Tests: Covered, Award: bug fix, Progress: accept, Release Line: 2.4

#26071 #26065 isSaleable cache and optimize result for configurable products
  app/code/Magento/ConfigurableProduct/Model/Product/Type/Configurable.php
  app/code/Magento/ConfigurableProduct/Test/Unit/Model/Product/Type/ConfigurableTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Progress: accept

#26296 Add Visual Code catalog generator
  app/code/Magento/Developer/Model/XmlCatalog/Format/VsCode.php
Labels: Auto-Tests: Covered, Component: Developer, Progress: accept, Release Line: 2.4

#25966 [Fixed Radio alignment issue]
  app/design/frontend/Magento/luma/Magento_Checkout/web/css/source/module/checkout/_shipping.less
Labels: Area: Design/Frontend, Area: Frontend, Auto-Tests: Covered, Event: mm20in, Partner: Wagento, Progress: accept, Release Line: 2.4, partners-contribution

#25764 Cleanup, refactor and cover with tests section-config module
  app/code/Magento/Customer/view/frontend/web/js/section-config.js
  dev/tests/js/jasmine/tests/app/code/Magento/Customer/frontend/js/section-config.test.js
Labels: Area: Frontend, Auto-Tests: Covered, Award: complex, Component: Customer, Partner: creativestyle, Progress: accept, Release Line: 2.4, partners-contribution

#26634 Xml fixes for Magento_AdvancedPricingImportExport module
  app/code/Magento/AdvancedPricingImportExport/etc/module.xml
Labels: Auto-Tests: Not Required, Cleanup, Component: AdvancedPricingImportExport, Event: mm20in, Progress: accept, Release Line: 2.4

#26611 #26610 Fix failing CI due to invalid variable handler
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminAddingNewOptionsWithImagesAndPricesToConfigurableProductTest.xml
Labels: Auto-Tests: Covered, Award: bug fix, Component: ConfigurableProduct, Partner: Mediotype, Progress: accept, Release Line: 2.4, partners-contribution

#26525 Unit test for Magento\Reports\Observer\EventSaver
  app/code/Magento/Reports/Test/Unit/Observer/EventSaverTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: Reports, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#26487 Unit test for Magento\Fedex\Plugin\Block\Tracking\PopupDeliveryDate
  app/code/Magento/Fedex/Test/Unit/Plugin/Block/Tracking/PopupDeliveryDateTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: Fedex, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#26641 Correct doc url added to README
  phpserver/README.md
Labels: Auto-Tests: Not Required, Cleanup, Event: mm20in, Progress: accept, Release Line: 2.4, good first issue

#26579 Unit test for Magento\Reports\Observer\CheckoutCartAddProductObserver
  app/code/Magento/Reports/Test/Unit/Observer/CheckoutCartAddProductObserverTest.php
Labels: Auto-Tests: Covered, Component: Reports, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#26568 Action group added for existing test
  app/code/Magento/Cms/Test/Mftf/ActionGroup/AdminNavigateToPageGridActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/ActionGroup/CreateNewPageWithBasicValuesActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/ActionGroup/VerifyCreatedCmsPageActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminCreateCmsPageTest.xml
Labels: Auto-Tests: Covered, Component: Cms, Partner: Ziffity, Progress: accept, Release Line: 2.4, partners-contribution

#26430 Unit Test for Magento\Sitemap\Model\Config\Backend\Priority
  app/code/Magento/Sitemap/Test/Unit/Model/Config/Backend/PriorityTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: Sitemap, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#26399 Issue #26332 BeforeOrderPaymentSaveObserver override payment instructions
  app/code/Magento/OfflinePayments/Observer/BeforeOrderPaymentSaveObserver.php
  app/code/Magento/OfflinePayments/Test/Unit/Observer/BeforeOrderPaymentSaveObserverTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: OfflinePayments, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#25742 Http adapter curl missing delete method
  lib/internal/Magento/Framework/HTTP/Adapter/Curl.php
Labels: Auto-Tests: Not Required, Award: bug fix, Component: HTTP, Progress: accept, Release Line: 2.4

#26378 26375 braintree payment address issue
  app/code/Magento/Braintree/view/frontend/web/js/view/payment/method-renderer/cc-form.js
Labels: Area: Frontend, Auto-Tests: Not Required, Award: bug fix, Cleanup, Component: Braintree, Progress: accept, Release Line: 2.4

#26423 Update getCustomer method in order class
  app/code/Magento/Sales/Model/Order.php
Labels: Auto-Tests: Not Required, Award: bug fix, Cleanup, Component: Sales, Progress: accept, Release Line: 2.4, Technology Partner: dotdigital, tech-partners-contribution

#26339 Module xml extra end tag removed
  app/code/Magento/AdvancedPricingImportExport/etc/module.xml
  app/code/Magento/Dhl/etc/module.xml
  app/code/Magento/Rss/etc/module.xml
  app/code/Magento/Translation/etc/module.xml
  app/code/Magento/Ups/etc/module.xml
Labels: Auto-Tests: Not Required, Cleanup, Component: AdvancedPricingImportExport, Component: Dhl, Component: Rss, Component: Translation, Component: Ups, Partner: Wagento, Progress: accept, Release Line: 2.4, partners-contribution

#26782 Module_Cms MFTF test improvements
  app/code/Magento/Cms/Test/Mftf/Test/AdminConfigDefaultCMSPageLayoutFromConfigurationSettingTest.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminCreateCmsPageTest.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminCreateDuplicatedCmsPageTest.xml
Labels: Auto-Tests: Covered, Award: MFTF test coverage, Component: Cms, Partner: Ziffity, Progress: accept, Release Line: 2.4, partners-contribution

#26781 Code hygeine in bundle option graphql resolver
  app/code/Magento/BundleGraphQl/Model/Resolver/Options/Collection.php
Labels: Auto-Tests: Not Required, Cleanup, Component: BundleGraphQl, Partner: Aligent Consulting, Progress: accept, Release Line: 2.4, partners-contribution

#26764 LoadCssAsync html format fixed for critical css
  app/code/Magento/Theme/Controller/Result/AsyncCssPlugin.php
  app/code/Magento/Theme/Test/Unit/Controller/Result/AsyncCssPluginTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: Theme, Partner: Ziffity, Progress: accept, Release Line: 2.4, partners-contribution

#26715 Unit test for \Magento\Captcha\Observer\ResetAttemptForBackendObserver and ResetAttemptForFrontendObserver
  app/code/Magento/Captcha/Test/Unit/Observer/ResetAttemptForBackendObserverTest.php
  app/code/Magento/Captcha/Test/Unit/Observer/ResetAttemptForFrontendObserverTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: Captcha, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#26820 [Theme] Covered Unit Test for \Magento\Theme\Controller\Result\JsFooterPlugin
  app/code/Magento/Theme/Test/Unit/Controller/Result/JsFooterPluginTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: Theme, Partner: Ziffity, Progress: accept, Release Line: 2.4, partners-contribution

#26816 Unit Test for \Magento\Directory\Block\Adminhtml\Frontend\Currency\Base
  app/code/Magento/Directory/Test/Unit/Block/Adminhtml/Frontend/Currency/BaseTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: Directory, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#26771 Removed unnecessary function argument
  app/code/Magento/Sales/Model/Order.php
Labels: Auto-Tests: Not Required, Cleanup, Component: Sales, Partner: Ziffity, Progress: accept, Release Line: 2.4, partners-contribution

#26857 Issue/26843: Fix es_US Spanish (United States ) Locale is not support…
  lib/internal/Magento/Framework/Locale/Config.php
Labels: Auto-Tests: Not Required, Award: bug fix, Component: Locale, Progress: accept, Release Line: 2.4

#26844 Unit Tests for observers from Magento_Reports
  app/code/Magento/Reports/Test/Unit/Observer/SendfriendProductObserverTest.php
  app/code/Magento/Reports/Test/Unit/Observer/WishlistAddProductObserverTest.php
  app/code/Magento/Reports/Test/Unit/Observer/WishlistShareObserverTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: Reports, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#26846 magento/magento2#: GraphQL. setPaymentMethodOnCart mutation. Extend list of required parameters for testSetPaymentMethodWithoutRequiredParameters
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Customer/SetPaymentMethodOnCartTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Guest/SetPaymentMethodOnCartTest.php
Labels: Auto-Tests: Covered, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#26835 Unit test for Magento\Downloadable\Model\Sample\DeleteHandler
  app/code/Magento/Downloadable/Test/Unit/Model/Sample/DeleteHandlerTest.php
Labels: Auto-Tests: Not Required, Award: test coverage, Component: Downloadable, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#26839 Unit test for \Magento\MediaGallery\Plugin\Wysiwyg\Images\Storage
  app/code/Magento/MediaGallery/Test/Unit/Plugin/Wysiwyg/Images/StorageTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: MediaGallery, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#26769 Fix return type in ResetAttemptForFrontendObserver and ResetAttemptForBackendObserver
  app/code/Magento/Captcha/Observer/ResetAttemptForBackendObserver.php
  app/code/Magento/Captcha/Observer/ResetAttemptForFrontendObserver.php
Labels: Auto-Tests: Not Required, Cleanup, Component: Captcha, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#26768 Marginal space validation
  app/code/Magento/Cms/Test/Mftf/ActionGroup/AdminFillCmsBlockFormActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminCreateCmsBlockTest.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminCreateCmsBlockWithMarginalSpaceTest.xml
  app/code/Magento/Cms/view/adminhtml/ui_component/cms_block_listing.xml
Labels: Area: Frontend, Auto-Tests: Covered, Award: MFTF test coverage, Component: Cms, Partner: Ziffity, Progress: accept, Release Line: 2.4, partners-contribution

#26712 Unit test for \Magento\Captcha\Observer\CheckUserForgotPasswordBackendObserver
  app/code/Magento/Captcha/Test/Unit/Observer/CheckUserForgotPasswordBackendObserverTest.php
Labels: Award: test coverage, Component: Captcha, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#26688 Use '===' operator to check if file was written.
  dev/tests/integration/testsuite/Magento/Framework/Filesystem/Driver/FileTest.php
  dev/tests/integration/testsuite/Magento/Framework/Filesystem/Io/FileTest.php
  lib/internal/Magento/Framework/Filesystem/Driver/File.php
  lib/internal/Magento/Framework/Filesystem/Driver/Http.php
  lib/internal/Magento/Framework/Filesystem/Io/File.php
  lib/internal/Magento/Framework/Filesystem/Test/Unit/Driver/HttpTest.php
Labels: Auto-Tests: Covered, Component: Filesystem, Progress: accept, Release Line: 2.4

#26659 [26054-Do not duplicate SEO meta data when duplicating a product]
  app/code/Magento/Catalog/Model/Product/Copier.php
  app/code/Magento/Catalog/Test/Unit/Model/Product/CopierTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: Catalog, Event: mm20in, Partner: Wagento, Progress: accept, Release Line: 2.4, partners-contribution

#26398 Move additional dependencies from private getters to constructor - Magento_Captcha
  app/code/Magento/Captcha/Observer/CheckContactUsFormObserver.php
  app/code/Magento/Captcha/Test/Unit/Observer/CheckContactUsFormObserverTest.php
Labels: Auto-Tests: Covered, Cleanup, Component: Captcha, Partner: Fast White Cat, Progress: accept, Release Line: 2.4, partners-contribution

#26317 #26314: fixed logic for updating map price for selected swatch
  app/code/Magento/Msrp/view/base/web/js/msrp.js
  app/code/Magento/Swatches/view/base/web/js/swatch-renderer.js
Labels: Area: Frontend, Auto-Tests: Covered, Award: bug fix, Component: Msrp, Component: Swatches, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#24612 Fix for the issue #24547 Magento\Customer\Model\Account\Redirect::setRedirectCookie() not properly working
  app/code/Magento/Customer/Model/Account/Redirect.php
  app/code/Magento/Customer/Test/Unit/Model/Account/RedirectTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: Customer, Progress: accept, Release Line: 2.4

#26904 [Layout] Adding 'article' as an additional supported layout tag
  dev/tests/integration/testsuite/Magento/Framework/View/LayoutTest.php
  lib/internal/Magento/Framework/View/Layout/Generator/Container.php
  lib/internal/Magento/Framework/View/Test/Unit/Layout/Generator/ContainerTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: View, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#26899 Unit test for Magento\Vault\Plugin\PaymentVaultAttributesLoad
  app/code/Magento/Vault/Test/Unit/Plugin/PaymentVaultAttributesLoadTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: Vault, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#26897 Swatches options: eliminate objects instantiation since only their data needed
  app/code/Magento/Swatches/Helper/Data.php
  app/code/Magento/Swatches/Test/Unit/Helper/DataTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: Swatches, Progress: accept, Release Line: 2.4

#26894 Unit test for Magento\GiftMessage\Model\Plugin\MergeQuoteItems
  app/code/Magento/GiftMessage/Test/Unit/Model/Plugin/MergeQuoteItemsTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: GiftMessage, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#26878 [NewRelicReporting] Covering the New Relic plugins by Unit Tests
  app/code/Magento/NewRelicReporting/Test/Unit/Plugin/HttpPluginTest.php
  app/code/Magento/NewRelicReporting/Test/Unit/Plugin/StatePluginTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: NewRelicReporting, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#26869 Update MockObject class in Widget module
  app/code/Magento/Widget/Test/Unit/Block/Adminhtml/Widget/Catalog/Category/ChooserTest.php
  app/code/Magento/Widget/Test/Unit/Block/Adminhtml/Widget/Instance/Edit/Chooser/AbstractContainerTest.php
  app/code/Magento/Widget/Test/Unit/Block/Adminhtml/Widget/Instance/Edit/Tab/PropertiesTest.php
  app/code/Magento/Widget/Test/Unit/Controller/Adminhtml/Widget/Instance/CategoriesTest.php
  app/code/Magento/Widget/Test/Unit/Controller/Adminhtml/Widget/LoadOptionsTest.php
  app/code/Magento/Widget/Test/Unit/Helper/ConditionsTest.php
  app/code/Magento/Widget/Test/Unit/Model/Config/FileResolverTest.php
  app/code/Magento/Widget/Test/Unit/Model/NamespaceResolverTest.php
  app/code/Magento/Widget/Test/Unit/Model/ResourceModel/Layout/AbstractTestCase.php
  app/code/Magento/Widget/Test/Unit/Model/ResourceModel/Layout/Link/CollectionTest.php
  app/code/Magento/Widget/Test/Unit/Model/ResourceModel/Layout/Update/CollectionTest.php
  app/code/Magento/Widget/Test/Unit/Model/ResourceModel/Widget/Instance/Options/ThemesTest.php
  app/code/Magento/Widget/Test/Unit/Model/Template/FilterEmulateTest.php
  app/code/Magento/Widget/Test/Unit/Model/Template/FilterTest.php
  app/code/Magento/Widget/Test/Unit/Model/Widget/InstanceTest.php
  app/code/Magento/Widget/Test/Unit/Model/WidgetTest.php
Labels: Auto-Tests: Not Required, Component: Widget, Partner: Monsoon, Progress: accept, Release Line: 2.4, partners-contribution

#26868 Update MockObject class in Wishlist module
  app/code/Magento/Wishlist/Test/Unit/Block/Adminhtml/Widget/Grid/Column/Filter/TextTest.php
  app/code/Magento/Wishlist/Test/Unit/Block/Cart/Item/Renderer/Actions/MoveToWishlistTest.php
  app/code/Magento/Wishlist/Test/Unit/Block/Customer/SidebarTest.php
  app/code/Magento/Wishlist/Test/Unit/Block/Customer/Wishlist/Item/OptionsTest.php
  app/code/Magento/Wishlist/Test/Unit/Block/Item/ConfigureTest.php
  app/code/Magento/Wishlist/Test/Unit/Block/Rss/EmailLinkTest.php
  app/code/Magento/Wishlist/Test/Unit/Block/Rss/LinkTest.php
  app/code/Magento/Wishlist/Test/Unit/Controller/Index/AllcartTest.php
  app/code/Magento/Wishlist/Test/Unit/Controller/Index/CartTest.php
  app/code/Magento/Wishlist/Test/Unit/Controller/Index/FromcartTest.php
  app/code/Magento/Wishlist/Test/Unit/Controller/Index/IndexTest.php
  app/code/Magento/Wishlist/Test/Unit/Controller/Index/PluginTest.php
  app/code/Magento/Wishlist/Test/Unit/Controller/Index/RemoveTest.php
  app/code/Magento/Wishlist/Test/Unit/Controller/Index/SendTest.php
  app/code/Magento/Wishlist/Test/Unit/Controller/Index/ShareTest.php
  app/code/Magento/Wishlist/Test/Unit/Controller/Index/UpdateItemOptionsTest.php
  app/code/Magento/Wishlist/Test/Unit/Controller/Index/UpdateTest.php
  app/code/Magento/Wishlist/Test/Unit/Controller/Shared/AllcartTest.php
  app/code/Magento/Wishlist/Test/Unit/Controller/Shared/CartTest.php
  app/code/Magento/Wishlist/Test/Unit/CustomerData/WishlistTest.php
  app/code/Magento/Wishlist/Test/Unit/DataProvider/Product/Collector/ButtonTest.php
  app/code/Magento/Wishlist/Test/Unit/Helper/DataTest.php
  app/code/Magento/Wishlist/Test/Unit/Helper/RssTest.php
  app/code/Magento/Wishlist/Test/Unit/Model/ConfigTest.php
  app/code/Magento/Wishlist/Test/Unit/Model/ItemCarrierTest.php
  app/code/Magento/Wishlist/Test/Unit/Model/ItemTest.php
  app/code/Magento/Wishlist/Test/Unit/Model/LocaleQuantityProcessorTest.php
  app/code/Magento/Wishlist/Test/Unit/Model/Product/AttributeValueProviderTest.php
  app/code/Magento/Wishlist/Test/Unit/Model/ResourceModel/Item/CollectionTest.php
  app/code/Magento/Wishlist/Test/Unit/Model/Rss/WishlistTest.php
  app/code/Magento/Wishlist/Test/Unit/Model/WishlistTest.php
  app/code/Magento/Wishlist/Test/Unit/Observer/AddToCartTest.php
  app/code/Magento/Wishlist/Test/Unit/Observer/CartUpdateBeforeTest.php
  app/code/Magento/Wishlist/Test/Unit/Observer/CustomerLoginTest.php
  app/code/Magento/Wishlist/Test/Unit/Observer/CustomerLogoutTest.php
  app/code/Magento/Wishlist/Test/Unit/Plugin/Ui/DataProvider/WishlistSettingsTest.php
  app/code/Magento/Wishlist/Test/Unit/Pricing/ConfiguredPrice/ConfigurableProductTest.php
  app/code/Magento/Wishlist/Test/Unit/Pricing/ConfiguredPrice/DownloadableTest.php
  app/code/Magento/Wishlist/Test/Unit/Pricing/Render/ConfiguredPriceBoxTest.php
Labels: Auto-Tests: Not Required, Component: Wishlist, Partner: Monsoon, Progress: accept, Release Line: 2.4, partners-contribution

#26863 TierPriceBox toHtml method should be return with string
  app/code/Magento/ConfigurableProduct/Pricing/Render/TierPriceBox.php
  app/code/Magento/ConfigurableProduct/Test/Unit/Pricing/Render/TierPriceBoxTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: ConfigurableProduct, Progress: accept, Release Line: 2.4

#26790 Disabled flat: cast $attributeId as (int) in selects
  app/code/Magento/Eav/Model/Entity/Collection/AbstractCollection.php
  app/code/Magento/Eav/Test/Unit/Model/Entity/Collection/AbstractCollectionStub.php
  app/code/Magento/Eav/Test/Unit/Model/Entity/Collection/AbstractCollectionTest.php
Labels: Auto-Tests: Covered, Component: Eav, Progress: accept, Release Line: 2.4

#26761 [Analytics] Code refactor & covered unit test in Analytics/ReportXml/QueryFactory
  app/code/Magento/Analytics/ReportXml/QueryFactory.php
  app/code/Magento/Analytics/Test/Unit/ReportXml/QueryFactoryTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: Analytics, Partner: Ziffity, Progress: accept, Release Line: 2.4, partners-contribution

#26710 [Customer] Fixing the code style for account edit template and Integration test
  app/code/Magento/Customer/view/frontend/templates/form/edit.phtml
  dev/tests/integration/testsuite/Magento/Customer/Controller/AccountTest.php
Labels: Area: Frontend, Auto-Tests: Not Required, Component: Customer, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#26701 Date incorrect on pdf invoice issue26675
  lib/internal/Magento/Framework/Stdlib/DateTime/Timezone.php
  lib/internal/Magento/Framework/Stdlib/Test/Unit/DateTime/TimezoneTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: Stdlib, Progress: accept, Release Line: 2.4, Technology Partner: Magestore, tech-partners-contribution

#26650 issue-#25675 Added fix for #25675 issue to the 2.4 Magento version
  app/code/Magento/CatalogInventory/Model/Quote/Item/QuantityValidator/QuoteItemQtyList.php
  app/code/Magento/CatalogInventory/Test/Unit/Model/Quote/Item/QuantityValidator/QuoteItemQtyListTest.php
Labels: Auto-Tests: Covered, Community Insider: Magecom, Event: mm20in, Progress: accept, community-insider-contribution

#26617 Unit Test for Magento\LayeredNavigation\Observer\Edit\Tab\Front\ProductAttributeFormBuildFrontTabObserver
  app/code/Magento/LayeredNavigation/Test/Unit/Observer/Edit/Tab/Front/ProductAttributeFormBuildFrontTabObserverTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: LayeredNavigation, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#26584 #26583 Tier pricing save percent showing logic updated in product detail page
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AssertStorefrontProductDetailPageFinalPriceActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AssertStorefrontProductDetailPageNameActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AssertStorefrontProductDetailPageTierPriceActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/Data/TierPriceData.xml
  app/code/Magento/Catalog/Test/Mftf/Test/StoreFrontSimpleProductWithSpecialAndTierDiscountPriceTest.xml
  app/code/Magento/Catalog/view/base/templates/product/price/tier_prices.phtml
  dev/tests/integration/testsuite/Magento/Catalog/Pricing/Render/CombinationWithDifferentTypePricesTest.php
Labels: Area: Frontend, Auto-Tests: Covered, Award: bug fix, Component: Catalog, Partner: Ziffity, Progress: accept, Release Line: 2.4, partners-contribution

#26523 [#25963] Fixed grids export: option labels are taken from grid filters and columns now.
  app/code/Magento/Sales/Model/ResourceModel/Order/Invoice/Grid/Collection.php
  app/code/Magento/Sales/Test/Unit/Ui/Component/DataProvider/DocumentTest.php
  app/code/Magento/Sales/Ui/Component/DataProvider/Document.php
  app/code/Magento/Sales/etc/di.xml
  app/code/Magento/Ui/Model/Export/MetadataProvider.php
  app/code/Magento/Ui/Test/Unit/Model/Export/MetadataProviderTest.php
Labels: Auto-Tests: Covered, Component: Sales, Component: Ui, Progress: accept, Release Line: 2.4

#26418 [Fixed Compare Products section not showing in mobile view under 767px]
  app/design/frontend/Magento/blank/Magento_Catalog/web/css/source/_module.less
  app/design/frontend/Magento/luma/Magento_Catalog/web/css/source/_module.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Event: mm20in, Partner: Wagento, Progress: accept, Release Line: 2.4, partners-contribution

#25806 Reflection: Fix null as first return type
  lib/internal/Magento/Framework/Reflection/Test/Unit/Fixture/TSample.php
  lib/internal/Magento/Framework/Reflection/Test/Unit/Fixture/TSampleInterface.php
  lib/internal/Magento/Framework/Reflection/Test/Unit/TypeProcessorTest.php
  lib/internal/Magento/Framework/Reflection/TypeProcessor.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: Reflection, Progress: accept, Release Line: 2.4

#25626 Fix translation retrieval
  app/code/Magento/Translation/Test/Unit/Model/Js/DataProviderTest.php
  app/code/Magento/Translation/etc/di.xml
Labels: Auto-Tests: Covered, Award: test coverage, Component: Translation, Progress: accept, Release Line: 2.4

#25426 Ui: log exception correctly
  app/code/Magento/Ui/TemplateEngine/Xhtml/Result.php
  app/code/Magento/Ui/Test/Unit/TemplateEngine/Xhtml/ResultTest.php
Labels: Auto-Tests: Covered, Component: Ui, Progress: accept, Release Line: 2.4

#25417 README > Improving the apresentation
  README.md
Labels: Auto-Tests: Not Required, Partner: Le Site, Progress: accept, Release Line: 2.4, Squashtoberfest 2019, partners-contribution

#25321 Changing input phone type to tel in Contact, Error Report and Customer widget pages
  app/code/Magento/Contact/view/frontend/templates/form.phtml
  app/code/Magento/Customer/view/frontend/templates/widget/telephone.phtml
  pub/errors/default/report.phtml
Labels: Area: Frontend, Auto-Tests: Covered, Component: Contact, Component: Customer, Partner: Le Site, Progress: accept, Release Line: 2.4, Squashtoberfest 2019, improvement, partners-contribution

#24976 Fix doc block for $queueIterator Magento\Framework\MessageQueue\Topology\Config
  lib/internal/Magento/Framework/MessageQueue/Topology/Config.php
Labels: Auto-Tests: Not Required, Component: MessageQueue, Partner: Elogic, Progress: accept, Release Line: 2.4, Squashtoberfest 2019, partners-contribution

#22296 Fix #14958 - remove sales sequence data on store view delete
  app/code/Magento/SalesSequence/Model/ResourceModel/Meta.php
  app/code/Magento/SalesSequence/Model/Sequence/DeleteByStore.php
  app/code/Magento/SalesSequence/Observer/SequenceRemovalObserver.php
  app/code/Magento/SalesSequence/Test/Unit/Model/Sequence/DeleteByStoreTest.php
  app/code/Magento/SalesSequence/etc/events.xml
  dev/tests/integration/framework/Magento/TestFramework/Application.php
  dev/tests/integration/testsuite/Magento/Catalog/Model/Product/UrlTest.php
  dev/tests/integration/testsuite/Magento/Store/Model/StoreTest.php
Labels: Auto-Tests: Covered, Component: SalesSequence, Partner: Fast White Cat, Progress: accept, Release Line: 2.4, partners-contribution

#26833 magento/magento2#: GraphQL. MergeCarts mutation. Add additional API-functional test cases
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Customer/MergeCartsTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#26772 Clean up 'isset' coding style
  app/code/Magento/Bundle/Helper/Data.php
  app/code/Magento/Catalog/Block/Adminhtml/Product/Edit/Tab/Price/Group/AbstractGroup.php
  app/code/Magento/Catalog/Model/Product/Attribute/Source/Status.php
  app/code/Magento/Catalog/Model/Product/Gallery/EntryResolver.php
  app/code/Magento/Catalog/Model/Product/Visibility.php
  app/code/Magento/Catalog/Model/ProductLink/Converter/ConverterPool.php
  app/code/Magento/Catalog/Model/ProductLink/Link.php
  app/code/Magento/Checkout/Block/Checkout/AttributeMerger.php
  app/code/Magento/Config/Model/Config/Structure/AbstractElement.php
  app/code/Magento/Config/Model/Config/Structure/Element/Field.php
  app/code/Magento/Config/Model/Config/Structure/Element/Section.php
  app/code/Magento/Customer/Ui/Component/ColumnFactory.php
  app/code/Magento/Customer/Ui/Component/FilterFactory.php
  app/code/Magento/Customer/Ui/Component/Listing/AttributeRepository.php
  app/code/Magento/Customer/Ui/Component/Listing/Column/ValidationRules.php
  app/code/Magento/Customer/Ui/Component/Listing/Columns.php
  app/code/Magento/Deploy/Model/Mode.php
  app/code/Magento/Deploy/Package/Package.php
  app/code/Magento/Deploy/Package/PackagePool.php
  app/code/Magento/Deploy/Service/DeployStaticContent.php
  app/code/Magento/Deploy/Source/SourcePool.php
  app/code/Magento/Dhl/Model/Carrier.php
  app/code/Magento/Dhl/Test/Unit/Model/CarrierTest.php
  app/code/Magento/Eav/Model/Api/SearchCriteria/CollectionProcessor/FilterProcessor.php
  app/code/Magento/Eav/Model/Config.php
  app/code/Magento/Eav/Model/Entity/Attribute/Source/AbstractSource.php
  app/code/Magento/Eav/Model/Entity/Setup/PropertyMapperAbstract.php
  app/code/Magento/Eav/Model/Entity/Type.php
  app/code/Magento/Eav/Model/TypeLocator/SimpleType.php
  app/code/Magento/ImportExport/Model/Export/Config.php
  app/code/Magento/Payment/Gateway/Data/Order/AddressAdapter.php
  app/code/Magento/Payment/Gateway/Data/Quote/AddressAdapter.php
  app/code/Magento/Payment/Model/Info.php
  app/code/Magento/Paypal/Model/AbstractIpn.php
  app/code/Magento/Paypal/Model/Config.php
  app/code/Magento/Paypal/Model/Info.php
  app/code/Magento/Paypal/Model/Payflow/AvsEmsCodeMapper.php
  app/code/Magento/Paypal/Model/Payflow/CvvEmsCodeMapper.php
  app/code/Magento/Paypal/Model/Payflowpro.php
  app/code/Magento/Store/Model/Config/Processor/Fallback.php
  app/code/Magento/Store/Test/Unit/Model/InformationTest.php
  app/code/Magento/Theme/Model/Theme/ThemePackageInfo.php
  app/code/Magento/Ui/Component/AbstractComponent.php
  app/code/Magento/Ui/Config/Reader/Definition/Data.php
  app/code/Magento/Ui/DataProvider/AbstractDataProvider.php
  app/code/Magento/Ui/Model/Manager.php
  app/code/Magento/Ups/Model/Carrier.php
  app/code/Magento/Ups/Test/Unit/Model/CarrierTest.php
  app/code/Magento/User/Block/Role/Tab/Edit.php
  app/code/Magento/Usps/Test/Unit/Model/CarrierTest.php
  dev/tests/static/framework/Magento/TestFramework/Inspection/AbstractCommand.php
Labels: Auto-Tests: Not Required, Cleanup, Component: Bundle, Component: Catalog, Component: Checkout, Component: Config, Component: Customer, Component: Deploy, Component: Dhl, Component: Eav, Component: ImportExport, Progress: accept, Release Line: 2.4

#25858 FIX #25856 / Group Ordered Products report by SKU
  app/code/Magento/Reports/Model/ResourceModel/Product/Sold/Collection.php
  app/code/Magento/Reports/Test/Mftf/ActionGroup/AdminGenerateProductsOrderedReportActionGroup.xml
  app/code/Magento/Reports/Test/Mftf/Page/SoldReportPage.xml
  app/code/Magento/Reports/Test/Mftf/Section/SoldReportMainSection.xml
  app/code/Magento/Reports/Test/Mftf/Test/AdminReportsOrderedGroupedBySkuTest.xml
  app/code/Magento/Reports/Test/Unit/Model/ResourceModel/Product/Sold/Collection/CollectionTest.php
  app/code/Magento/Reports/etc/db_schema_whitelist.json
Labels: Auto-Tests: Covered, Award: MFTF test coverage, Award: test coverage, Component: Reports, Partner: Mediotype, Partner: Strix, Progress: accept, Release Line: 2.4, partners-contribution

#26995 Fix typo in description node.
  app/code/Magento/Sales/Test/Mftf/ActionGroup/AdminAssertProductQtyInGridActionGroup.xml
  app/code/Magento/Sales/Test/Mftf/ActionGroup/NavigateToNewOrderPageExistingCustomerActionGroup.xml
Labels: Auto-Tests: Not Required, Cleanup, Component: Sales, Progress: accept, Release Line: 2.4

#26982 Remove app/functions.php
  app/functions.php
  dev/tests/integration/testsuite/Magento/Framework/Composer/_files/testFromCreateProject/composer.lock
  dev/tests/integration/testsuite/Magento/Framework/Composer/_files/testSkeleton/composer.lock
  dev/tests/integration/testsuite/Magento/Setup/Model/_files/testSkeleton/composer.lock
Labels: Auto-Tests: Not Required, Cleanup, Partner: Fast White Cat, Progress: accept, Release Line: 2.4, partners-contribution

#26974 Fix: #26973 Fatal error when Product Image size is not defined
  app/code/Magento/Catalog/Block/Product/ImageFactory.php
  app/code/Magento/Catalog/Test/Unit/Block/Product/ImageFactoryTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: Catalog, Partner: Mediotype, Progress: accept, Release Line: 2.4, partners-contribution

#26947 Unit test for AssignCouponDataAfterOrderCustomerAssignObserver
  app/code/Magento/SalesRule/Test/Unit/Observer/AssignCouponDataAfterOrderCustomerAssignObserverTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: SalesRule, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#26944 Unit test for CatalogProductCompareClearObserver
  app/code/Magento/Reports/Test/Unit/Observer/CatalogProductCompareClearObserverTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: Reports, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#26932 Fix #26917 Tax rate zip/post range check box alignment issue
  app/code/Magento/Tax/Block/Adminhtml/Rate/Form.php
  app/design/adminhtml/Magento/backend/Magento_Tax/web/css/source/_module.less
Labels: Area: Design/Frontend, Area: Frontend, Auto-Tests: Not Required, Award: bug fix, Component: Tax, Partner: Ziffity, Progress: accept, Release Line: 2.4, partners-contribution

#26928 Module_Cms MFTF test improvements
  app/code/Magento/Cms/Test/Mftf/ActionGroup/AdminSaveAndDuplicateCMSPageWithSplitButtonActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/ActionGroup/AssertAdminCmsPageSaveSplitButtonActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminCreateDuplicatedCmsPageTest.xml
Labels: Auto-Tests: Not Required, Award: MFTF test coverage, Component: Cms, Partner: Ziffity, Progress: accept, Release Line: 2.4, partners-contribution

#26912 Unit test for ProductProcessUrlRewriteRemovingObserver
  app/code/Magento/CatalogUrlRewrite/Test/Unit/Observer/ProductProcessUrlRewriteRemovingObserverTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: CatalogUrlRewrite, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#26862 Removed disabled products from low stock report grid
  app/code/Magento/Catalog/Test/Mftf/Data/ProductData.xml
  app/code/Magento/Reports/Block/Adminhtml/Product/Lowstock/Grid.php
  app/code/Magento/Reports/Test/Mftf/ActionGroup/AdminLowStockReportFilterProductActionGroup.xml
  app/code/Magento/Reports/Test/Mftf/Test/AdminReportsLowStockDisableProductTest.xml
Labels: Auto-Tests: Covered, Award: bug fix, Component: Catalog, Component: Reports, Partner: Ziffity, Progress: accept, Release Line: 2.4, partners-contribution

#26821 Reduce requirements for parameter in catalog product type factory
  app/code/Magento/Catalog/Model/Product/Type.php
Labels: Auto-Tests: Not Required, Cleanup, Component: Catalog, Partner: Monsoon, Progress: accept, Release Line: 2.4, partners-contribution

#26755 Fix wrong type of argument appendSummaryFieldsToCollection
  app/code/Magento/Review/Model/ResourceModel/Review/Summary.php
  app/code/Magento/Review/Observer/CatalogProductListCollectionAppendSummaryFieldsObserver.php
  app/code/Magento/Review/Test/Unit/Observer/CatalogProductListCollectionAppendSummaryFieldsObserverTest.php
Labels: Auto-Tests: Not Required, Component: Review, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#26697 Update the product model custom option methods PHPdoc
  app/code/Magento/Catalog/Model/Product.php
Labels: Auto-Tests: Covered, Cleanup, Component: Catalog, Partner: Monsoon, Progress: accept, Release Line: 2.4, partners-contribution

#26586 Improve exception message
  app/code/Magento/Checkout/Model/ShippingInformationManagement.php
  app/code/Magento/Checkout/Test/Unit/Model/ShippingInformationManagementTest.php
  dev/tests/integration/testsuite/Magento/Checkout/Api/GuestShippingInformationManagementTest.php
  dev/tests/integration/testsuite/Magento/Checkout/Api/ShippingInformationManagementTest.php
Labels: Auto-Tests: Covered, Component: Checkout, Partner: Imagination Media, Progress: accept, Release Line: 2.4, partners-contribution

#26230 Activated "Pending Reviews" menu item when merchant opens 'Pending Reviews' section
  app/code/Magento/Review/Controller/Adminhtml/Product/Pending.php
  app/code/Magento/Review/Test/Mftf/ActionGroup/AdminAssertClassElementRelativeIdActionGroup.xml
  app/code/Magento/Review/Test/Mftf/Data/AdminMenuData.xml
  app/code/Magento/Review/Test/Mftf/Test/AdminMarketingPendingReviewsNavigateMenuActiveTest.xml
Labels: Auto-Tests: Covered, Award: MFTF test coverage, Award: bug fix, Component: Review, Progress: accept, Release Line: 2.4

#26090 Fixed issue 25910 choose drop down not close when open another
  app/code/Magento/Swatches/Test/Mftf/Section/AdminManageSwatchSection.xml
  app/code/Magento/Swatches/Test/Mftf/Test/AdminCheckColorUploadChooserVisualSwatchTest.xml
  app/code/Magento/Swatches/view/adminhtml/web/js/visual.js
Labels: Area: Frontend, Auto-Tests: Covered, Award: MFTF test coverage, Component: Swatches, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#25895 Change tag name
  app/code/Magento/Sales/Test/Mftf/Section/StorefrontOrderDetailsSection.xml
  app/code/Magento/Sales/Test/Mftf/Test/CreateInvoiceAndCheckInvoiceOrderTest.xml
  app/code/Magento/Sales/view/frontend/templates/order/order_date.phtml
Labels: Area: Frontend, Auto-Tests: Covered, Award: bug fix, Component: Sales, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#25349 Fixed issue when escape key is pressed to close prompt
  app/code/Magento/Ui/view/base/web/js/modal/modal.js
  app/code/Magento/Ui/view/base/web/js/modal/prompt.js
Labels: Area: Frontend, Auto-Tests: Not Required, Award: bug fix, Component: Ui, Progress: accept, Release Line: 2.4, Squashtoberfest 2019

#25161 fixed confusing grammar in the backend formatDate() function
  app/code/Magento/Eav/Model/Entity/Attribute/Backend/Datetime.php
Labels: Auto-Tests: Not Required, Cleanup, Component: Eav, Progress: accept, Release Line: 2.4, Squashtoberfest 2019

#26979 #26800 Fixed Undefined variable in ProductLink/Management
  app/code/Magento/Catalog/Api/ProductLinkManagementInterface.php
  app/code/Magento/Catalog/Model/ProductLink/Management.php
  app/code/Magento/Catalog/Test/Unit/Model/ProductLink/ManagementTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Cleanup, Component: Catalog, Partner: Ziffity, Progress: accept, Release Line: 2.4, partners-contribution

#26842 Unit test for Magento\Catalog\Observer\SetSpecialPriceStartDate has added
  app/code/Magento/Catalog/Test/Unit/Observer/SetSpecialPriceStartDateTest.php
Labels: Auto-Tests: Covered, Component: Catalog, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#26615 Add missing annotations to MFTF tests
  app/code/Magento/CardinalCommerce/Test/Mftf/Test/AdminCardinalCommerceSettingsHiddenTest.xml
  app/code/Magento/CatalogUrlRewrite/Test/Mftf/Test/StorefrontCategoryAccessibleWhenSuffixIsNullTest.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminCmsPageMassActionTest.xml
  app/code/Magento/Directory/Test/Mftf/Test/AdminScheduledImportSettingsHiddenTest.xml
  app/code/Magento/Newsletter/Test/Mftf/Test/AdminNameEmptyForGuestTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCreateOrderWithDateTimeOptionUITest.xml
  app/code/Magento/UrlRewrite/Test/Mftf/Test/AdminDeleteCmsPageUrlRewriteWithPermanentRedirectTest.xml
  app/code/Magento/UrlRewrite/Test/Mftf/Test/AdminUpdateCmsPageRewriteEntityWithPermanentReirectTest.xml
Labels: Auto-Tests: Not Required, Award: bug fix, Component: CardinalCommerce, Component: CatalogUrlRewrite, Component: Cms, Component: Directory, Component: Newsletter, Component: Sales, Component: UrlRewrite, Progress: accept, Release Line: 2.4, Technology Partner: dotdigital, tech-partners-contribution

#25311 Add afterGetList method in CustomerRepository plugin to retrieve is_s…
  app/code/Magento/Newsletter/Model/Plugin/CustomerPlugin.php
  app/code/Magento/Newsletter/etc/extension_attributes.xml
  dev/tests/api-functional/testsuite/Magento/Customer/Api/CustomerRepositoryTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: Newsletter, Partner: Interactiv4, Progress: accept, Release Line: 2.4, Squashtoberfest 2019, partners-contribution

#27054 Cleanup ObjectManager usage - Magento_Authorization
  app/code/Magento/Authorization/Model/Acl/Loader/Role.php
  app/code/Magento/Authorization/Model/Acl/Loader/Rule.php
  app/code/Magento/Authorization/Model/ResourceModel/Rules.php
  app/code/Magento/Authorization/Test/Unit/Model/Acl/Loader/RoleTest.php
  app/code/Magento/Authorization/Test/Unit/Model/Acl/Loader/RuleTest.php
  app/code/Magento/Authorization/Test/Unit/Model/ResourceModel/RulesTest.php
Labels: Auto-Tests: Covered, Cleanup, Component: Authorization, Partner: Fast White Cat, Progress: accept, Release Line: 2.4, partners-contribution

#27048 #27044 Integration Test to cover `$storeId` on Category Repository `get()`
  dev/tests/integration/testsuite/Magento/Catalog/Model/CategoryRepositoryTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Partner: Mediotype, Progress: accept, Release Line: 2.4, partners-contribution

#27041 FIX: responsiveness for images
  lib/web/css/source/lib/_resets.less
Labels: Area: Lib/Frontend, Auto-Tests: Not Required, Award: bug fix, Progress: accept, Release Line: 2.4

#27021 Unit test for \Magento\MediaGallery\Plugin\Product\Gallery\Processor
  app/code/Magento/MediaGallery/Test/Unit/Plugin/Product/Gallery/ProcessorTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: MediaGallery, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#27010 Unit test for UpdateElementTypesObserver
  app/code/Magento/Weee/Test/Unit/Observer/UpdateElementTypesObserverTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: Weee, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#26779 Fix failure for missing product on Storefront
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateSimpleProductTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/VerifyCategoryProductAndProductCategoryPartialReindexTest.xml
Labels: Auto-Tests: Covered, Component: Catalog, Partner: Mediotype, Progress: accept, Release Line: 2.4, partners-contribution

#26765 Fix #17933 - Bank Transfer Payment Instructions switch back to default
  app/code/Magento/OfflinePayments/Observer/BeforeOrderPaymentSaveObserver.php
  app/code/Magento/OfflinePayments/Test/Unit/Observer/BeforeOrderPaymentSaveObserverTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: OfflinePayments, Partner: Fast White Cat, Progress: accept, Release Line: 2.4, partners-contribution

#26548 issue/26384 Fix store switcher when using different base url on stores
  app/code/Magento/Store/Controller/Store/Redirect.php
  app/code/Magento/Store/Test/Unit/Controller/Store/RedirectTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: Store, Progress: accept, Release Line: 2.4

#25359 Fix #25243
  app/code/Magento/Ui/view/frontend/web/js/model/messages.js
  dev/tests/js/jasmine/tests/app/code/Magento/Ui/frontend/js/model/messages.test.js
Labels: Area: Frontend, Auto-Tests: Covered, Award: bug fix, Community Insider: Magecom, Component: Ui, Progress: accept, Release Line: 2.4, Squashtoberfest 2019, community-insider-contribution

#24003 Fixes less compilation problems in the Magento/luma theme
  app/design/frontend/Magento/luma/Magento_AdvancedCheckout/web/css/source/_module.less
  app/design/frontend/Magento/luma/Magento_CatalogSearch/web/css/source/_module.less
  app/design/frontend/Magento/luma/Magento_Checkout/web/css/source/module/checkout/_estimated-total.less
  app/design/frontend/Magento/luma/Magento_Checkout/web/css/source/module/checkout/fields/_file-uploader.less
  app/design/frontend/Magento/luma/Magento_Downloadable/web/css/source/_module.less
  app/design/frontend/Magento/luma/Magento_GiftMessage/web/css/source/_module.less
  app/design/frontend/Magento/luma/Magento_Sales/web/css/source/_module.less
Labels: Area: Design/Frontend, Area: Lib/Frontend, Auto-Tests: Not Required, Award: bug fix, Progress: accept, Release Line: 2.4
