Repository magento/magento2, pull requests merged in 2020-06, with the labels that each got.

#28466 Remove redundant argument in method useProductItem
  app/code/Magento/Catalog/Block/Product/Compare/ListCompare.php
  app/code/Magento/Catalog/Helper/Product/Compare.php
  app/code/Magento/Sales/Block/Adminhtml/Order/Create/Sidebar/Compared.php
  app/code/Magento/Sales/Block/Adminhtml/Order/Create/Sidebar/Pcompared.php
  dev/tests/integration/testsuite/Magento/Catalog/Controller/Product/CompareTest.php
Labels: Auto-Tests: Covered, Cleanup, Component: Catalog, Component: Sales, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#28450 [integration] Refactoring AdvancedPricingImportExport fixture
  dev/tests/integration/testsuite/Magento/AdvancedPricingImportExport/_files/create_products.php
  dev/tests/integration/testsuite/Magento/AdvancedPricingImportExport/_files/product_with_second_website.php
Labels: Auto-Tests: Covered, Cleanup, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S4, partners-contribution

#28449 [Integration] Refactoring AdminNotification fixture
  dev/tests/integration/testsuite/Magento/AdminNotification/_files/notifications.php
Labels: Auto-Tests: Covered, Cleanup, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#28418 MFTF: Refactoring AdminUrlRewritesForProductInAnchorCategoriesTestWithConfi…
  app/code/Magento/UrlRewrite/Test/Mftf/ActionGroup/AdminSearchUrlRewriteByRequestPathActionGroup.xml
  app/code/Magento/UrlRewrite/Test/Mftf/ActionGroup/AssertAdminRequestPathInUrlRewriteGrigActionGroup.xml
  app/code/Magento/UrlRewrite/Test/Mftf/ActionGroup/AssertAdminRequestPathIsNotFoundInUrlRewriteGrigActionGroup.xml
  app/code/Magento/UrlRewrite/Test/Mftf/Test/AdminUrlRewritesForProductInAnchorCategoriesTest/AdminUrlRewritesForProductInAnchorCategoriesTestAllStoreViewWithConfigurationTurnedOffTest.xml
  app/code/Magento/UrlRewrite/Test/Mftf/Test/AdminUrlRewritesForProductInAnchorCategoriesTest/AdminUrlRewritesForProductInAnchorCategoriesTestWithConfigurationTurnedOffTest.xml
Labels: Auto-Tests: Covered, Component: UrlRewrite, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#28408 MFTF: Refactoring AdminUrlRewritesForProductInAnchorCategoriesTest
  app/code/Magento/UrlRewrite/Test/Mftf/ActionGroup/AdminSearchUrlRewriteByRequestPathActionGroup.xml
  app/code/Magento/UrlRewrite/Test/Mftf/ActionGroup/AssertAdminRequestPathInUrlRewriteGrigActionGroup.xml
  app/code/Magento/UrlRewrite/Test/Mftf/Test/AdminUrlRewritesForProductInAnchorCategoriesTest/AdminUrlRewritesForProductInAnchorCategoriesTest.xml
  app/code/Magento/UrlRewrite/Test/Mftf/Test/AdminUrlRewritesForProductInAnchorCategoriesTest/AdminUrlRewritesForProductInAnchorCategoriesTestAllStoreViewTest.xml
Labels: Auto-Tests: Covered, Component: UrlRewrite, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#28391 Refactoring create product with several websites and check url rewrites test
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminSubmitCategoriesPopupActionGroup.xml
  app/code/Magento/UrlRewrite/Test/Mftf/ActionGroup/AssertAdminStoreValueIsSetForUrlRewriteActionGroup.xml
  app/code/Magento/UrlRewrite/Test/Mftf/Test/AdminCreateProductWithSeveralWebsitesAndCheckURLRewritesTest.xml
Labels: Auto-Tests: Covered, Component: Catalog, Component: UrlRewrite, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#28361 MFTF: Refactoring AdminUpdateCustomURLRewritesPermanentTest
  app/code/Magento/UrlRewrite/Test/Mftf/ActionGroup/AssertStorefrontUrlRewriteSuccessOutsideRedirectActionGroup.xml
  app/code/Magento/UrlRewrite/Test/Mftf/Test/AdminUpdateCustomURLRewritesPermanentTest.xml
Labels: Auto-Tests: Covered, Award: category of expertise, Component: UrlRewrite, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#28304 magento/magento2#: Add additional test coverage to “updateCustomer” mutation
  dev/tests/api-functional/testsuite/Magento/GraphQl/Customer/UpdateCustomerTest.php
Labels: Auto-Tests: Covered, Award: category of expertise, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#28287 Action Groups for Check exist/not exist Category in Category list on Product Edit page.
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminProductFormCategoryExistInCategoryListActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminProductFormCategoryNotExistInCategoryListActionGroup.xml
Labels: Auto-Tests: Covered, Component: Catalog, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3

#28034 magento/magento2#: GraphQL. Mutation: sendEmailToFriend. Test coverage for “Please provide Email of sender.”
  dev/tests/api-functional/testsuite/Magento/GraphQl/SendFriend/SendFriendTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Partner: Atwix, Priority: P3, Progress: accept, QA: Ready to add to Regression Scope, Release Line: 2.4, Severity: S2, partners-contribution

#27956 GraphQL GiftMessageGraphQl add coverage for cart
  app/code/Magento/GiftMessageGraphQl/Model/Resolver/Cart/GiftMessage.php
  app/code/Magento/GiftMessageGraphQl/README.md
  app/code/Magento/GiftMessageGraphQl/composer.json
  app/code/Magento/GiftMessageGraphQl/etc/module.xml
  app/code/Magento/GiftMessageGraphQl/etc/schema.graphqls
  app/code/Magento/GiftMessageGraphQl/registration.php
  composer.json
  dev/tests/api-functional/testsuite/Magento/GraphQl/GiftMessage/Cart/GiftMessageTest.php
Labels: Auto-Tests: Covered, Award: category of expertise, Award: test coverage, Component: GiftMessageGraphQl, Partner: Atwix, Priority: P3, Progress: accept, Project: GraphQL, Release Line: 2.4, Severity: S3, partners-contribution

#27903 Improve performance of InterfaceValidator
  lib/internal/Magento/Framework/Interception/Code/InterfaceValidator.php
Labels: Auto-Tests: Covered, Award: category of expertise, Award: special achievement, Component: Interception, Partner: Mediotype, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S2, partners-contribution

#27902 Improve Interceptor generator
  dev/tests/integration/testsuite/Magento/Framework/Code/_expected/SourceClassWithNamespaceInterceptor.php.sample
  dev/tests/static/testsuite/Magento/Test/Php/_files/phpstan/blacklist/common.txt
  lib/internal/Magento/Framework/Interception/Code/Generator/Interceptor.php
  lib/internal/Magento/Framework/Interception/Test/Unit/Code/Generator/_files/Interceptor.txt
  lib/internal/Magento/Framework/Interception/Test/Unit/Code/Generator/_files/TInterceptor.txt
Labels: Auto-Tests: Covered, Award: category of expertise, Award: special achievement, Component: Interception, Partner: Mediotype, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#27871 Prevent product gallery elements from blinking when they load
  lib/web/mage/gallery/gallery.js
  lib/web/mage/gallery/gallery.less
Labels: Area: Lib/Frontend, Auto-Tests: Not Required, Award: bug fix, Partner: creativestyle, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#27839 [MFTF] Fixed file name violations
  app/code/Magento/Backend/Test/Mftf/Test/AdminDashboardWithChartsTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminMassDeleteBundleProductsTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/ConfigurableOptionTextInputLengthValidationHintTest.xml
  app/code/Magento/Customer/Test/Mftf/Data/ExtensionAttributeSimpleData.xml
  app/code/Magento/Downloadable/Test/Mftf/Test/AdminCreateDownloadableProductSwitchToSimpleTest.xml
  app/code/Magento/GroupedProduct/Test/Mftf/Test/StorefrontAdvanceCatalogSearchGroupedProductBySkuWithHyphenTest.xml
  app/code/Magento/Security/Test/Mftf/Test/AdminLoginAdminUserWithInvalidExpirationTest.xml
  app/code/Magento/Security/Test/Mftf/Test/AdminLoginAdminUserWithValidExpirationTest.xml
Labels: Auto-Tests: Covered, Component: Backend, Component: Bundle, Component: Catalog, Component: Customer, Component: Downloadable, Component: GroupedProduct, Component: Security, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3

#27690 Fix handling of mixins for modules with no dependencies defined
  dev/tests/js/jasmine/tests/lib/mage/requirejs/mixins.test.js
  lib/web/mage/requirejs/mixins.js
Labels: Area: Lib/Frontend, Auto-Tests: Covered, Award: bug fix, Award: test coverage, Partner: creativestyle, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#27619 Load storage polyfill conditionally
  app/code/Magento/Theme/view/base/requirejs-config.js
  app/code/Magento/Theme/view/frontend/layout/default_head_blocks.xml
  lib/web/mage/polyfill.js
Labels: Area: Frontend, Area: Lib/Frontend, Area: Perf/Frontend, Auto-Tests: Not Required, Award: complex, Component: Theme, Event: Global-Contribution-Day, Partner: creativestyle, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2, partners-contribution

#27618 [PERF Improvements]Load polyfills for browsers that don't support certain features
  app/code/Magento/Ui/view/base/requirejs-config.js
  app/code/Magento/Ui/view/base/web/js/lib/core/events.js
  app/code/Magento/Ui/view/base/web/js/lib/knockout/extender/bound-nodes.js
  app/code/Magento/Ui/view/base/web/js/lib/registry/registry.js
  app/code/Magento/Ui/view/base/web/js/lib/view/utils/dom-observer.js
  app/code/Magento/Ui/view/base/web/js/lib/view/utils/raf.js
Labels: Area: Frontend, Area: Perf/Frontend, Auto-Tests: Not Required, Award: category of expertise, Award: complex, Component: Ui, Event: Global-Contribution-Day, Partner: creativestyle, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#27586 magento/magento2#27337: GraphQl. Add a mutation for subscribe feature
  app/code/Magento/Newsletter/Model/ResourceModel/Subscriber.php
  app/code/Magento/Newsletter/i18n/en_US.csv
  app/code/Magento/NewsletterGraphQl/Model/Resolver/SubscribeEmailToNewsletter.php
  app/code/Magento/NewsletterGraphQl/Model/SubscribeEmailToNewsletter/Validation.php
  app/code/Magento/NewsletterGraphQl/README.md
  app/code/Magento/NewsletterGraphQl/composer.json
  app/code/Magento/NewsletterGraphQl/etc/graphql/di.xml
  app/code/Magento/NewsletterGraphQl/etc/module.xml
  app/code/Magento/NewsletterGraphQl/etc/schema.graphqls
  app/code/Magento/NewsletterGraphQl/registration.php
  composer.json
  dev/tests/api-functional/testsuite/Magento/GraphQl/Newsletter/Customer/SubscribeEmailToNewsletterTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Newsletter/Guest/SubscribeEmailToNewsletterTest.php
  dev/tests/integration/testsuite/Magento/Newsletter/_files/guest_subscriber.php
  dev/tests/integration/testsuite/Magento/Newsletter/_files/guest_subscriber_rollback.php
Labels: Auto-Tests: Covered, Award: category of expertise, Award: complex, Award: test coverage, Component: Newsletter, Component: NewsletterGraphQl, Event: Global-Contribution-Day, Partner: Atwix, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#27481 Fixed issue #19481: After composer installation sample data can't be installed from command line
  app/code/Magento/SampleData/Console/Command/SampleDataDeployCommand.php
  app/code/Magento/SampleData/Test/Unit/Console/Command/AbstractSampleDataCommandTest.php
  app/code/Magento/SampleData/Test/Unit/Console/Command/SampleDataDeployCommandTest.php
  app/code/Magento/SampleData/Test/Unit/Console/Command/SampleDataRemoveCommandTest.php
  lib/internal/Magento/Framework/Exception/InvalidArgumentException.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: Exception, Component: SampleData, Partner: Atwix, Priority: P2, Progress: accept, QA: Added to Regression Scope, QA: Ready to add to Regression Scope, Release Line: 2.4, Severity: S1, partners-contribution

#27373 magento/magento2#: Remove oauthUserContext from app/code/Magento/GraphQl/etc/graphql/di.xml
  app/code/Magento/GraphQl/etc/graphql/di.xml
Labels: Auto-Tests: Not Required, Award: category of expertise, Component: GraphQL, Partner: Atwix, Priority: P1, Progress: accept, Release Line: 2.4, Severity: S1, partners-contribution

#27356 Fix duplicated footer in Magento_Customer emails
  app/code/Magento/Customer/view/frontend/email/change_email.html
  app/code/Magento/Customer/view/frontend/email/change_email_and_password.html
  app/code/Magento/Customer/view/frontend/email/password_reset.html
Labels: Area: Frontend, Auto-Tests: Not Required, Component: Customer, Event: Global-Contribution-Day, Partner: creativestyle, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#27357 Newsletter subscription emails should also use paragraph tags
  app/code/Magento/Newsletter/view/frontend/email/subscr_success.html
  app/code/Magento/Newsletter/view/frontend/email/unsub_success.html
Labels: Area: Frontend, Auto-Tests: Covered, Component: Newsletter, Event: Global-Contribution-Day, Partner: creativestyle, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#27260 Clean expired quotes - Fix out of memory on huge quotes list
  app/code/Magento/Sales/Cron/CleanExpiredQuotes.php
  dev/tests/integration/testsuite/Magento/Sales/Cron/CleanExpiredQuotesTest.php
  dev/tests/integration/testsuite/Magento/Sales/_files/quotes_big_amount.php
  dev/tests/integration/testsuite/Magento/Sales/_files/quotes_big_amount_rollback.php
Labels: Auto-Tests: Covered, Component: Sales, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Reproduced on 2.4.x, Severity: S2

#28467 [Integration] Refactoring some fixtures for cms module
  dev/tests/integration/testsuite/Magento/Cms/_files/block.php
  dev/tests/integration/testsuite/Magento/Cms/_files/block_default_store.php
  dev/tests/integration/testsuite/Magento/Cms/_files/home_with_custom_handle.php
  dev/tests/integration/testsuite/Magento/Cms/_files/noroute.php
  dev/tests/integration/testsuite/Magento/Cms/_files/pages.php
  dev/tests/integration/testsuite/Magento/Cms/_files/pages_with_layout_xml.php
  dev/tests/integration/testsuite/Magento/Cms/_files/pages_with_layout_xml_rollback.php
  dev/tests/integration/testsuite/Magento/Cms/_files/two_cms_page_with_same_url_for_different_stores.php
Labels: Auto-Tests: Covered, Cleanup, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S4, partners-contribution

#28407 MFTF: Refactoring AdminUrlRewritesForProductsWithConfigurationTurnedOffTest
  app/code/Magento/UrlRewrite/Test/Mftf/Test/AdminUrlRewritesForProductInAnchorCategoriesTest/AdminUrlRewritesForProductsWithConfigurationTurnedOffTest.xml
Labels: Auto-Tests: Covered, Component: UrlRewrite, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#28547 'Ship Here' in CamelCase as that's how it is written elsewhere
  app/code/Magento/Checkout/view/frontend/layout/checkout_index_index.xml
Labels: Area: Frontend, Auto-Tests: Not Required, Cleanup, Component: Checkout, Partner: MediaCT, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#28222 [Wishlist] Giving the possibility to set/update item description on item update
  app/code/Magento/Wishlist/Model/Wishlist.php
  dev/tests/integration/testsuite/Magento/Wishlist/Model/WishlistTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: Wishlist, Partner: Atwix, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#28015 Fix #28011 - remove page number from query on layered navigation swatch filter
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AssertStorefrontCategoryCurrentPageIsNthActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/StorefrontNavigateCategoryNextPageActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/Section/StorefrontCategoryBottomToolbarSection.xml
  app/code/Magento/Swatches/Block/LayeredNavigation/RenderLayered.php
  app/code/Magento/Swatches/Test/Mftf/ActionGroup/AddTextSwatchToProductActionGroup.xml
  app/code/Magento/Swatches/Test/Mftf/Test/StorefrontRedirectToFirstPageOnFilteringBySwatchTest.xml
  app/code/Magento/Swatches/Test/Unit/Block/LayeredNavigation/RenderLayeredTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: Catalog, Component: Swatches, Partner: Fast White Cat, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2, partners-contribution

#28631 Refactoring admin update category name with store view test
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminChangeCategoryNameActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/StorefrontAssertCategoryNameIsNotShownInMenuActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/StorefrontAssertCategoryNameIsShownInMenuActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateCategoryNameWithStoreViewTest.xml
  app/code/Magento/Store/Test/Mftf/ActionGroup/StorefrontSwitchStoreActionGroup.xml
Labels: Auto-Tests: Covered, Component: Catalog, Component: Store, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#28629 Refactoring admin create category test
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateCategoryTest/AdminCreateCategoryTest.xml
Labels: Auto-Tests: Covered, Cleanup, Component: Catalog, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#28498 [Integration] Refactoring some customer fixtures
  dev/tests/integration/testsuite/Magento/Customer/_files/import_export/customer.php
  dev/tests/integration/testsuite/Magento/Customer/_files/import_export/customer_with_addresses.php
  dev/tests/integration/testsuite/Magento/Customer/_files/import_export/customers.php
  dev/tests/integration/testsuite/Magento/Customer/_files/import_export/customers_for_address_import.php
Labels: Auto-Tests: Covered, Cleanup, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S4, partners-contribution

#28496 [Integration] Refactoring CheckoutAgreements fixtures
  dev/tests/integration/testsuite/Magento/CheckoutAgreements/_files/agreement_active_with_html_content.php
  dev/tests/integration/testsuite/Magento/CheckoutAgreements/_files/agreement_active_with_html_content_rollback.php
  dev/tests/integration/testsuite/Magento/CheckoutAgreements/_files/agreement_inactive_with_text_content.php
  dev/tests/integration/testsuite/Magento/CheckoutAgreements/_files/agreement_inactive_with_text_content_rollback.php
  dev/tests/integration/testsuite/Magento/CheckoutAgreements/_files/multi_agreements_active_with_text.php
  dev/tests/integration/testsuite/Magento/CheckoutAgreements/_files/multi_agreements_active_with_text_rollback.php
Labels: Auto-Tests: Covered, Cleanup, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S4, partners-contribution

#28417 Frontend customer account order list
  app/code/Magento/Customer/Test/Mftf/ActionGroup/CreateCustomerOrderActionGroup.xml
  app/code/Magento/Customer/Test/Mftf/Section/StorefrontCustomerOrderSection.xml
  app/code/Magento/Customer/Test/Mftf/Test/StorefrontCustomerAccountOrderListTest.xml
  app/code/Magento/Quote/Test/Mftf/Data/CustomerCartData.xml
  app/code/Magento/Quote/Test/Mftf/Data/CustomerCartItemData.xml
  app/code/Magento/Quote/Test/Mftf/Metadata/CustomerCartItemMeta.xml
  app/code/Magento/Quote/Test/Mftf/Metadata/CustomerCartMeta.xml
  app/code/Magento/Theme/Block/Html/Pager.php
  app/code/Magento/Theme/Test/Unit/Block/Html/PagerTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: Customer, Component: Quote, Component: Theme, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#28606 MFTF: Replace redundant Xpath for `@id` attribute with CSS selector
  app/code/Magento/Backend/Test/Mftf/Section/AdminMenuSection.xml
  app/code/Magento/Bundle/Test/Mftf/Section/BundleStorefrontSection.xml
  app/code/Magento/Bundle/Test/Mftf/Section/StorefrontBundledSection.xml
  app/code/Magento/Captcha/Test/Mftf/Section/CaptchaFormsDisplayingSection.xml
  app/code/Magento/Catalog/Test/Mftf/Section/AdminProductFormSection/ProductDescriptionWYSIWYGToolbarSection.xml
  app/code/Magento/Catalog/Test/Mftf/Section/AdminProductFormSection/ProductWYSIWYGSection.xml
  app/code/Magento/Cms/Test/Mftf/Section/CmsPagesPageActionsSection.xml
  app/code/Magento/Cms/Test/Mftf/Section/TinyMCESection/MediaGallerySection.xml
Labels: Auto-Tests: Covered, Component: Backend, Component: Bundle, Component: Captcha, Component: Catalog, Component: Cms, Partner: Mediotype, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#28601 MFTF: Deprecate ActionGroup that should no longer be used
  app/code/Magento/User/Test/Mftf/ActionGroup/LoginNewUserActionGroup.xml
Labels: Auto-Tests: Not Required, Component: User, Partner: Mediotype, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#28264 replaced deprecated addWarning method with addWarningMessage method …
  app/code/Magento/Security/Model/Plugin/Auth.php
  app/code/Magento/Security/Test/Unit/Model/Plugin/AuthTest.php
Labels: Auto-Tests: Covered, Cleanup, Component: Security, Partner: Ziffity, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2, partners-contribution

#27854 fixed validation for bundle checkbox options
  app/code/Magento/Bundle/Test/Mftf/ActionGroup/AssertStorefrontBundleValidationMessageActionGroup.xml
  app/code/Magento/Bundle/Test/Mftf/ActionGroup/AssertStorefrontBundleValidationMessagesCountActionGroup.xml
  app/code/Magento/Bundle/Test/Mftf/ActionGroup/StorefrontAddToTheCartButtonActionGroup.xml
  app/code/Magento/Bundle/Test/Mftf/Section/StorefrontBundledSection.xml
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontBundleCheckBoxOptionValidationTest.xml
  app/code/Magento/Bundle/view/frontend/templates/catalog/product/view/type/bundle/option/checkbox.phtml
Labels: Area: Frontend, Auto-Tests: Covered, Award: MFTF test coverage, Award: bug fix, Component: Bundle, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#27451 [Catalog] Unable to open the product from sidebar's Compare Products block
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/StorefrontClickOnProductFromSidebarCompareListActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/Test/StorefrontRemoveProductFromCompareSidebarTest.xml
  app/design/frontend/Magento/blank/Magento_Catalog/web/css/source/_module.less
  app/design/frontend/Magento/luma/Magento_Catalog/web/css/source/_module.less
Labels: Area: Design/Frontend, Auto-Tests: Covered, Award: MFTF test coverage, Award: bug fix, Component: Catalog, Partner: Atwix, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2, partners-contribution

#27339 Fix bug 26449: Configurable product attribute issue
  app/code/Magento/Catalog/Test/Mftf/Test/StorefrontCheckNoAppearDefaultOptionConfigurableProductTest.xml
  app/code/Magento/ConfigurableProduct/Plugin/Model/ResourceModel/Product.php
  app/code/Magento/ConfigurableProduct/Test/Mftf/ActionGroup/AdminAddOptionsToAttributeWithDefaultLayeredNavigationActionGroup.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/ActionGroup/AdminFillBasicValueConfigurableProductActionGroup.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/ActionGroup/AdminGotoSelectValueAttributePageActionGroup.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/ActionGroup/AdminSelectValueFromAttributeActionGroup.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/ActionGroup/AdminSetQuantityToEachSkusConfigurableProductActionGroup.xml
  app/code/Magento/ConfigurableProduct/Test/Unit/Plugin/Model/ResourceModel/ProductTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: Catalog, Component: ConfigurableProduct, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S1

#27338 [WebApi test] Disallow setting extension attributes as data array
  dev/tests/api-functional/testsuite/Magento/Quote/Api/GuestShipmentEstimationWithExtensionAttributesTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S2

#27106 Fixed issue #27099 - Newsletter Input width issue
  app/design/frontend/Magento/blank/Magento_Newsletter/web/css/source/_module.less
  app/design/frontend/Magento/luma/Magento_Newsletter/web/css/source/_module.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Partner: Krish TechnoLabs, Priority: P4, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#28615 Addressing Discriminatory Language in Technology
  app/code/Magento/Catalog/Model/FilterProductCustomAttribute.php
  app/code/Magento/CatalogInventory/etc/di.xml
  app/code/Magento/Eav/Model/Validator/Attribute/Data.php
  app/code/Magento/Eav/Test/Unit/Model/Validator/Attribute/DataTest.php
  app/code/Magento/Elasticsearch/etc/di.xml
  app/code/Magento/Fedex/etc/wsdl/RateService_v10.wsdl
  app/code/Magento/Fedex/etc/wsdl/RateService_v9.wsdl
  app/code/Magento/Fedex/etc/wsdl/ShipService_v10.wsdl
  app/code/Magento/Fedex/etc/wsdl/ShipService_v9.wsdl
  app/code/Magento/ImportExport/Model/Import/AbstractEntity.php
  app/code/Magento/MediaGallery/Model/Directory/Command/CreateByPaths.php
  app/code/Magento/MediaGallery/Model/Directory/Command/DeleteByPaths.php
  app/code/Magento/MediaGallery/Model/Directory/Config/Converter.php
  app/code/Magento/MediaGallery/Model/Directory/ExcludedPatternsConfig.php
  app/code/Magento/MediaGallery/Model/Directory/IsExcluded.php
  app/code/Magento/MediaGallery/Test/Unit/Model/Directory/IsExcludedTest.php
  app/code/Magento/MediaGallery/etc/di.xml
  app/code/Magento/MediaGallery/etc/directory.xml
  app/code/Magento/MediaGalleryApi/Api/IsPathExcludedInterface.php
  app/code/Magento/MediaGalleryApi/Model/ExcludedPatternsConfigInterface.php
  app/code/Magento/MediaGalleryApi/etc/directory.xsd
  app/code/Magento/MediaGalleryCatalog/etc/directory.xml
  app/code/Magento/Sales/Model/ResourceModel/Order/Rss/OrderStatus.php
  app/code/Magento/SampleData/README.md
  app/code/Magento/Search/Model/SearchEngine/Validator.php
  app/code/Magento/Search/Test/Unit/Model/SearchEngine/ValidatorTest.php
  app/code/Magento/Tinymce3/view/base/web/tiny_mce/plugins/lists/editor_plugin_src.js
  app/code/Magento/User/Test/Mftf/Test/AdminCreateActiveUserEntityTest.xml
  app/code/Magento/User/Test/Mftf/Test/AdminCreateInactiveUserEntityTest.xml
  dev/tests/integration/framework/Magento/TestFramework/Workaround/Cleanup/StaticProperties.php
  dev/tests/integration/testsuite/Magento/MediaGallery/Model/IsExcludedTest.php
  dev/tests/static/testsuite/Magento/Test/Integrity/ClassesTest.php
Labels: Auto-Tests: Not Required, Component: multiple, Partner: Mediotype, Priority: P1, Progress: ready for testing, Release Line: 2.4, Severity: S4, partners-contribution

#28768 [17] Merge api-proto with develop #71
  dev/tests/api-functional/testsuite/Magento/Webapi/JoinDirectivesTest.php
  dev/tests/integration/framework/Magento/TestFramework/Application.php
  dev/tests/integration/framework/Magento/TestFramework/Db/DymanicTables/CategoryProductIndexTables.php
  dev/tests/integration/framework/Magento/TestFramework/Db/DynamicTables.php
  dev/tests/integration/framework/Magento/TestFramework/TestCase/AbstractBackendController.php
  dev/tests/integration/testsuite/Magento/Catalog/Controller/Adminhtml/Product/Set/SaveTest.php
  dev/tests/integration/testsuite/Magento/Indexer/_files/reindex.php
  dev/tests/integration/testsuite/Magento/Sales/_files/quote.php
  dev/tests/integration/testsuite/Magento/Wishlist/_files/wishlist.php
  dev/tests/setup-integration/framework/Magento/TestFramework/SetupApplication.php
  dev/tests/static/framework/Magento/TestFramework/Dependency/DbRule.php
  dev/tests/static/testsuite/Magento/Test/Php/LiveCodeTest.php
Labels: Catalog Storefront, Progress: pending review

#28735 Fix #26504 - Broken reference errors pilling up logs
  lib/internal/Magento/Framework/View/Layout/GeneratorPool.php
Labels: Auto-Tests: Not Required, Award: bug fix, Component: View, Partner: Fast White Cat, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#28725 MFTF: Refactoring admin check out of stock product is visible in category test
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminSetManageStockConfigActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminSetMaxAllowedQtyForProductActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminSetMinAllowedQtyForProductActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminSetNotifyBelowQtyValueActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminSetQtyUsesDecimalsConfigActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminSetStockStatusConfigActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCheckOutOfStockProductIsNotVisibleInCategoryTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCheckOutOfStockProductIsVisibleInCategoryTest.xml
Labels: Auto-Tests: Covered, Component: Catalog, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#28332 Update Customer data with REST API
  app/code/Magento/Customer/Model/Plugin/UpdateCustomer.php
  app/code/Magento/Customer/etc/webapi_rest/di.xml
  dev/tests/api-functional/testsuite/Magento/Customer/Api/CustomerRepositoryTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: Customer, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#27549 [MFTF] Check visibility block only x product left for simple product
  app/code/Magento/Catalog/Test/Mftf/Data/CatalogInventoryConfigData.xml
  app/code/Magento/Catalog/Test/Mftf/Section/StorefrontProductPageSection.xml
  app/code/Magento/Catalog/Test/Mftf/Test/StorefrontOnlyXProductLeftForSimpleProductsTest.xml
Labels: Auto-Tests: Covered, Award: MFTF test coverage, Component: Catalog, Partner: Atwix, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#28714 magento/magento2#28564: Handle empty masked quote id return case
  app/code/Magento/QuoteGraphQl/Model/Resolver/CustomerCart.php
Labels: Auto-Tests: Not Required, Component: QuoteGraphQl, Partner: Comwrap, Progress: accept, Project: GraphQL, Release Line: 2.4, partners-contribution

#28647 magento/magento2#28568:GraphQL query returns admin option value label…
  app/code/Magento/CatalogGraphQl/DataProvider/Product/LayeredNavigation/AttributeOptionProvider.php
  app/code/Magento/CatalogGraphQl/DataProvider/Product/LayeredNavigation/Builder/Attribute.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Catalog/ProductAttributeStoreOptionsTest.php
  dev/tests/integration/testsuite/Magento/Catalog/_files/products_with_layered_navigation_attribute_store_options.php
  dev/tests/integration/testsuite/Magento/Catalog/_files/products_with_layered_navigation_attribute_store_options_rollback.php
Labels: Component: CatalogGraphQl, Progress: accept, Project: GraphQL, Release Line: 2.4

#28641 MFTF: Sharing Wishlist with more than allowed emails qty test
  app/code/Magento/Wishlist/Test/Mftf/Test/StorefrontShareWishlistWithMoreThanMaximumAllowedEmailsQtyTest.xml
Labels: Auto-Tests: Covered, Award: MFTF test coverage, Component: Wishlist, Partner: Atwix, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#28632 MFTF: Admin Deletes Customer's Wishlist Item Test
  app/code/Magento/Customer/Test/Mftf/ActionGroup/AdminCustomerDeleteWishlistItemActionGroup.xml
  app/code/Magento/Customer/Test/Mftf/ActionGroup/AdminCustomerFindWishlistItemActionGroup.xml
  app/code/Magento/Customer/Test/Mftf/ActionGroup/AdminNavigateCustomerWishlistTabActionGroup.xml
  app/code/Magento/Customer/Test/Mftf/ActionGroup/AssertAdminCustomerNoItemsInWishlistActionGroup.xml
  app/code/Magento/Customer/Test/Mftf/Section/AdminCustomerWishlistSection.xml
  app/code/Magento/Wishlist/Test/Mftf/Test/AdminDeleteCustomerWishListItemTest.xml
Labels: Auto-Tests: Covered, Award: MFTF test coverage, Component: Customer, Component: Wishlist, Partner: Atwix, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#28635 MFTF: Storefront Disabled Customer Wishlist Functionality Test
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/StorefrontAssertProductPageAddToWishlistButtonIsNotPresentActionGroup.xml
  app/code/Magento/Customer/Test/Mftf/ActionGroup/StorefrontAssertCustomerSidebarItemIsNotPresentActionGroup.xml
  app/code/Magento/Wishlist/Test/Mftf/Test/StorefrontDisabledCustomerWishlistFunctionalityTest.xml
Labels: Auto-Tests: Covered, Award: MFTF test coverage, Component: Catalog, Component: Customer, Component: Wishlist, Partner: Atwix, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#28457 MFTF: Refactoring admin url rewrite multiple storeviews product import with config turned off test
  app/code/Magento/UrlRewrite/Test/Mftf/ActionGroup/AssertAdminTargetPathIsNotFoundInUrlRewriteGrigActionGroup.xml
  app/code/Magento/UrlRewrite/Test/Mftf/Test/AdminCheckUrlRewritesCorrectlyGeneratedForMultipleStoreviewsDuringProductImportTest/AdminUrlRewriteMultipleStoreviewsProductImportWithConfigTurnedOffTest.xml
Labels: Auto-Tests: Covered, Award: category of expertise, Component: UrlRewrite, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#28826 Fix integration test Magento\Elasticsearch6\Controller\QuickSearchTest
  dev/tests/integration/testsuite/Magento/Elasticsearch6/Controller/QuickSearchTest.php
Labels: Auto-Tests: Covered, Catalog Storefront, Progress: ready for testing, Severity: S4

#28044 fixed negative children_count after deleting categories
  app/code/Magento/Catalog/Model/ResourceModel/Category/AggregateCount.php
  app/code/Magento/Catalog/Test/Unit/Model/ResourceModel/Category/AggregateCountTest.php
  dev/tests/integration/testsuite/Magento/Catalog/Model/CategoryTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: Catalog, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#27616 Load appropriate slider widget on demand to improve performance
  app/code/Magento/Ui/view/base/web/js/lib/knockout/bindings/range.js
  lib/web/mage/touch-slider.js
Labels: Area: Frontend, Area: Lib/Frontend, Area: Perf/Frontend, Auto-Tests: Not Required, Award: complex, Component: Ui, Event: Global-Contribution-Day, Partner: creativestyle, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2, partners-contribution

#27064 Customer attribute frontend labels not using the store label values on the frontend
  app/code/Magento/Customer/Block/DataProviders/AddressAttributeData.php
  dev/tests/integration/testsuite/Magento/Customer/Block/Form/RegisterTest.php
  dev/tests/integration/testsuite/Magento/Customer/_files/attribute_city_store_label_address.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: Customer, Partner: Balance Internet, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S1, partners-contribution

#28798 Introduce observers to track deleted entities
  app/code/Magento/MediaContentCatalog/Observer/CategoryDelete.php
  app/code/Magento/MediaContentCatalog/Observer/ProductDelete.php
  app/code/Magento/MediaContentCatalog/etc/di.xml
  app/code/Magento/MediaContentCatalog/etc/events.xml
  app/code/Magento/MediaContentCms/Observer/BlockDelete.php
  app/code/Magento/MediaContentCms/Observer/PageDelete.php
  app/code/Magento/MediaContentCms/etc/di.xml
  app/code/Magento/MediaContentCms/etc/events.xml
Labels: Auto-Tests: Covered, Component: MediaContentCatalog, Component: MediaContentCms, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S2

#28605 MFTF: Remove risky test that does not have implementation
  app/code/Magento/AdminAnalytics/Test/Mftf/Test/TrackingScriptTest.xml
Labels: Auto-Tests: Not Required, Component: AdminAnalytics, Partner: Mediotype, Priority: P4, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S4, partners-contribution

#28213 magento/magento2#26089: Customer Sharing Options not respected in REST API.
  app/code/Magento/Customer/Model/Plugin/CustomerAuthorization.php
  dev/tests/api-functional/testsuite/Magento/Customer/Api/CustomerSharingOptionsTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: Customer, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S1

#28004 Fix #27985 CMS page link active on current page
  lib/internal/Magento/Framework/View/Element/Html/Link/Current.php
  lib/internal/Magento/Framework/View/Test/Unit/Element/Html/Link/CurrentTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: View, Partner: Ziffity, Priority: P4, Progress: accept, Release Line: 2.4, Severity: S4, partners-contribution

#27860 Don't load datepicker module until it is actually needed
  app/code/Magento/Theme/view/frontend/templates/js/calendar.phtml
  app/code/Magento/Ui/view/base/web/js/lib/knockout/bindings/datepicker.js
  dev/tests/js/jasmine/tests/app/code/Magento/Ui/base/js/lib/ko/bind/datepicker.test.js
Labels: Area: Frontend, Area: Perf/Frontend, Auto-Tests: Covered, Component: Theme, Component: Ui, Partner: creativestyle, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2, improvement, partners-contribution

#28739 Close prompt immediately after click ok instead of wait ajax request
  lib/web/mage/adminhtml/browser.js
Labels: Area: Lib/Frontend, Auto-Tests: Covered, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S4

#28515 Changed array creation to be in line with the class
  app/code/Magento/Sales/Model/Order/Pdf/Items/Invoice/DefaultInvoice.php
Labels: Auto-Tests: Not Required, Cleanup, Component: Sales, Progress: accept, Release Line: 2.4

#28460 Product CSV import error report file missing
  app/code/Magento/ImportExport/Model/Export/Adapter/Csv.php
  dev/tests/integration/testsuite/Magento/ImportExport/Model/Export/Adapter/CsvTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: ImportExport, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#28421 Error when creating a store view if there are CMS pages with the same URL key
  app/code/Magento/CmsUrlRewrite/Plugin/Cms/Model/Store/View.php
  dev/tests/integration/testsuite/Magento/CmsUrlRewrite/Plugin/Cms/Model/Store/ViewTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: CmsUrlRewrite, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#28351 Generated code is not consistent with Magento requirements and Coding Standard
  app/code/Magento/Developer/Console/Command/patch_template.php.dist
Labels: Auto-Tests: Not Required, Cleanup, Component: Developer, Partner: Mediotype, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#27965 #27962 Migrate Plugin out of Framework (to Theme module)
  app/code/Magento/Store/etc/di.xml
  app/code/Magento/Theme/Plugin/LoadDesignPlugin.php
  app/code/Magento/Theme/Test/Unit/Plugin/LoadDesignPluginTest.php
  app/code/Magento/Theme/etc/di.xml
Labels: Auto-Tests: Not Required, Award: bug fix, Component: Store, Component: Theme, Partner: Mediotype, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#27567 #27091 Removed array print while setup upgrade
  setup/src/Magento/Setup/Model/Installer.php
  setup/src/Magento/Setup/Test/Unit/Model/InstallerTest.php
Labels: Auto-Tests: Covered, Cleanup, Component: Setup, Event: Global-Contribution-Day, Partner: Ziffity, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#27429 Add ACL role ID to category tree cache id
  app/code/Magento/Catalog/Test/Unit/Ui/DataProvider/Product/Form/Modifier/CategoriesTest.php
  app/code/Magento/Catalog/Ui/DataProvider/Product/Form/Modifier/Categories.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: Catalog, Partner: Aligent Consulting, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S1, bugfix, partners-contribution

#28727 MFTF: Replace repetitive actions with Action Groups for AdminCheckSubCategoryIsNotVisibleInNavigationMenuTest and ProductAvailableAfterEnablingSubCategoriesTest
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminEnableCategoryActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCheckSubCategoryIsNotVisibleInNavigationMenuTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/ProductAvailableAfterEnablingSubCategoriesTest.xml
Labels: Auto-Tests: Covered, Cleanup, Component: Catalog, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#28679 MFTF: Refactoring the test AdminCreateCategoryWithCustomRootCategoryTest
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/StorefrontSwitchStoreActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateCategoryWithCustomRootCategoryTest.xml
Labels: Auto-Tests: Covered, Component: Catalog, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#28401 MFTF: Refactoring AdminGenerateUrlRewritesForProductInCategoriesSwitchOffTest
  app/code/Magento/UrlRewrite/Test/Mftf/Test/AdminGenerateUrlRewritesForProductInCategoriesSwitchOffTest.xml
Labels: Auto-Tests: Covered, Component: UrlRewrite, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#27369 Fixed issue 27051: Saving an attribute with backend_type static
  app/code/Magento/Catalog/Controller/Adminhtml/Product/Attribute/Save.php
  app/code/Magento/Catalog/Test/Unit/Controller/Adminhtml/Product/Attribute/SaveTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: Catalog, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#28483 Rest API Magento 2.4 order update overwrites existing item information
  app/code/Magento/Sales/Model/Order/ItemRepository.php
  dev/tests/api-functional/testsuite/Magento/Sales/Service/V1/OrderHoldTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: Sales, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#28877 Fix for failures of ontegration test Adminhtml/Export/File/DeleteTest.php
  app/code/Magento/Bundle/Test/Mftf/Test/AdminShouldBeAbleToMassUpdateAttributesForBundleProductsTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminMassProductPriceUpdateTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminMassUpdateProductAttributesGlobalScopeTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminMassUpdateProductAttributesStoreViewScopeTest.xml
  app/code/Magento/CatalogImportExport/Test/Mftf/Test/AdminExportBundleProductTest.xml
  app/code/Magento/CatalogImportExport/Test/Mftf/Test/AdminExportGroupedProductWithSpecialPriceTest.xml
  app/code/Magento/CatalogImportExport/Test/Mftf/Test/AdminExportImportConfigurableProductWithImagesTest.xml
  app/code/Magento/CatalogImportExport/Test/Mftf/Test/AdminExportSimpleAndConfigurableProductsWithCustomOptionsTest.xml
  app/code/Magento/CatalogImportExport/Test/Mftf/Test/AdminExportSimpleProductAndConfigurableProductsWithAssignedImagesTest.xml
  app/code/Magento/CatalogImportExport/Test/Mftf/Test/AdminExportSimpleProductAssignedToMainWebsiteAndConfigurableProductAssignedToCustomWebsiteTest.xml
  app/code/Magento/CatalogImportExport/Test/Mftf/Test/AdminExportSimpleProductWithCustomAttributeTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminConfigurableProductUpdateTest.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/AdminCreateCartPriceRuleForGeneratedCouponTest.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/StorefrontAutoGeneratedCouponCodeTest.xml
  dev/tests/integration/testsuite/Magento/ImportExport/Controller/Adminhtml/Export/File/DeleteTest.php
Labels: Progress: pending review

#27617 Cleanup base theme JavaScript modules
  app/design/frontend/Magento/blank/Magento_Theme/requirejs-config.js
  app/design/frontend/Magento/blank/Magento_Theme/web/js/responsive.js
  app/design/frontend/Magento/blank/Magento_Theme/web/js/theme.js
  lib/web/mage/ie-class-fixer.js
Labels: Area: Design/Frontend, Area: Lib/Frontend, Area: Perf/Frontend, Auto-Tests: Not Required, Cleanup, Event: Global-Contribution-Day, Partner: creativestyle, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2, partners-contribution

#28822 Unable to create customer token via REST
  app/code/Magento/Customer/Model/CustomerRegistry.php
  dev/tests/api-functional/testsuite/Magento/Integration/Model/CustomerTokenServiceTest.php
Labels: Auto-Tests: Covered, Component: Customer, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#28855 magento/magento2#27952: missing store_name in GraphQL resolver - adde…
  app/code/Magento/Store/Api/Data/StoreConfigInterface.php
  app/code/Magento/Store/Model/Data/StoreConfig.php
  app/code/Magento/Store/Model/Service/StoreConfigManager.php
  app/code/Magento/StoreGraphQl/Model/Resolver/Store/StoreConfigDataProvider.php
  app/code/Magento/StoreGraphQl/etc/graphql/di.xml
  dev/tests/api-functional/testsuite/Magento/GraphQl/Store/StoreConfigResolverTest.php
Labels: Component: Store, Component: StoreGraphQl, PAP, Progress: accept, Project: GraphQL, Release Line: 2.4

#28745 28628 price range wildcards
  app/code/Magento/Catalog/Model/Layer/Filter/Price/Render.php
  app/code/Magento/CatalogSearch/Model/Layer/Filter/Price.php
  app/code/Magento/Elasticsearch/SearchAdapter/Aggregation/Builder/Dynamic.php
  app/code/Magento/Elasticsearch/SearchAdapter/Dynamic/DataProvider.php
  app/code/Magento/Elasticsearch/Test/Unit/SearchAdapter/Dynamic/DataProviderTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Catalog/ProductSearchTest.php
  dev/tests/integration/testsuite/Magento/LayeredNavigation/Block/Navigation/Category/Bundle/PriceFilterTest.php
  dev/tests/integration/testsuite/Magento/LayeredNavigation/Block/Navigation/Category/Configurable/PriceFilterTest.php
  dev/tests/integration/testsuite/Magento/LayeredNavigation/Block/Navigation/Category/PriceFilterTest.php
  dev/tests/integration/testsuite/Magento/LayeredNavigation/Block/Navigation/Search/Bundle/PriceFilterTest.php
  lib/internal/Magento/Framework/Search/Dynamic/Algorithm/Improved.php
Labels: Component: Catalog, Component: CatalogSearch, Component: Elasticsearch, Component: Search, PAP, Progress: accept, Project: GraphQL, Release Line: 2.4

#28743 magento/magento2#28580: False positive behavior of testQueryCustomAtt…
  dev/tests/api-functional/testsuite/Magento/GraphQl/Catalog/ProductViewTest.php
  dev/tests/integration/testsuite/Magento/Catalog/_files/product_simple_with_custom_attribute.php
Labels: Partner: Comwrap, Progress: accept, Project: GraphQL, Release Line: 2.4, partners-contribution

#28713 GraphQL CORS Headers
  app/code/Magento/GraphQl/Controller/HttpResponse/Cors/CorsAllowCredentialsHeaderProvider.php
  app/code/Magento/GraphQl/Controller/HttpResponse/Cors/CorsAllowHeadersHeaderProvider.php
  app/code/Magento/GraphQl/Controller/HttpResponse/Cors/CorsAllowMethodsHeaderProvider.php
  app/code/Magento/GraphQl/Controller/HttpResponse/Cors/CorsAllowOriginHeaderProvider.php
  app/code/Magento/GraphQl/Controller/HttpResponse/Cors/CorsMaxAgeHeaderProvider.php
  app/code/Magento/GraphQl/Model/Cors/Configuration.php
  app/code/Magento/GraphQl/Model/Cors/ConfigurationInterface.php
  app/code/Magento/GraphQl/etc/adminhtml/system.xml
  app/code/Magento/GraphQl/etc/config.xml
  app/code/Magento/GraphQl/etc/di.xml
  app/code/Magento/GraphQl/etc/graphql/di.xml
  dev/tests/api-functional/testsuite/Magento/GraphQl/CorsHeadersTest.php
Labels: Component: GraphQL, PAP, Progress: accept, Project: GraphQL, Release Line: 2.4

#28710 28584 fixed issue category query does not handle fragments
  app/code/Magento/CatalogGraphQl/Model/AttributesJoiner.php
  app/code/Magento/CatalogGraphQl/Model/Category/DepthCalculator.php
  app/code/Magento/CatalogGraphQl/Model/Resolver/Categories.php
  app/code/Magento/CatalogGraphQl/Model/Resolver/Product/ProductFieldsSelector.php
  app/code/Magento/CatalogGraphQl/Model/Resolver/Products/DataProvider/CategoryTree.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Catalog/CategoryListTest.php
Labels: Component: CatalogGraphQl, PAP, Partner: Comwrap, Progress: accept, Project: GraphQL, Release Line: 2.4, partners-contribution

#28506 magento/magento2#: GraphQl. setPaymentMethodAndPlaceOrder. Remove redundant logic.
  app/code/Magento/QuoteGraphQl/Model/Resolver/SetPaymentAndPlaceOrder.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Customer/SetPaymentMethodAndPlaceOrderTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Guest/SetPaymentMethodAndPlaceOrderTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: QuoteGraphQl, Partner: Atwix, Progress: accept, Project: GraphQL, Release Line: 2.4, partners-contribution

#28492 magento/magento2#: GraphQl. setShippingAddressesOnCart. Test coverage for `The shipping address must contain either "customer_address_id" or "address".` error.
  app/code/Magento/QuoteGraphQl/Model/Cart/SetShippingAddressesOnCart.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Customer/SetShippingAddressOnCartTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: QuoteGraphQl, Partner: Atwix, Progress: accept, Project: GraphQL, Release Line: 2.4, partners-contribution

#28487 magento/magento2#28481: GraphQl. updateCustomer allows to set any INT value in gender argument
  app/code/Magento/CustomerGraphQl/Api/ValidateCustomerDataInterface.php
  app/code/Magento/CustomerGraphQl/Model/Customer/ValidateCustomerData.php
  app/code/Magento/CustomerGraphQl/Model/Customer/ValidateCustomerData/ValidateEmail.php
  app/code/Magento/CustomerGraphQl/Model/Customer/ValidateCustomerData/ValidateGender.php
  app/code/Magento/CustomerGraphQl/Model/Customer/ValidateCustomerData/ValidateRequiredArguments.php
  app/code/Magento/CustomerGraphQl/etc/graphql/di.xml
  dev/tests/api-functional/testsuite/Magento/GraphQl/Customer/UpdateCustomerTest.php
Labels: Component: CustomerGraphQl, Partner: Atwix, Progress: accept, Project: GraphQL, Release Line: 2.4, partners-contribution

#27349 magento/magento2#: GraphQl. Remove a redundant logic in “SetShippingMethodsOnCart” mutation resolver
  app/code/Magento/QuoteGraphQl/Model/Cart/SetShippingMethodsOnCart.php
Labels: Auto-Tests: Covered, Component: QuoteGraphQl, Partner: Atwix, Priority: P3, Progress: accept, Project: GraphQL, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution
