Repository magento/magento2, pull requests merged in 2020-07, with the labels that each got.

#28991 [MFTF] use actionGroup go to new product attribute page
  app/code/Magento/Backend/Test/Mftf/Test/AdminAttributeTextSwatchesCanBeFiledTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateDropdownProductAttributeTest.xml
  app/code/Magento/Swatches/Test/Mftf/Test/AdminCheckColorUploadChooserVisualSwatchTest.xml
  app/code/Magento/Swatches/Test/Mftf/Test/AdminCreateImageSwatchTest.xml
  app/code/Magento/Swatches/Test/Mftf/Test/AdminCreateTextSwatchTest.xml
  app/code/Magento/Swatches/Test/Mftf/Test/AdminCreateVisualSwatchWithNonValidOptionsTest.xml
  app/code/Magento/Swatches/Test/Mftf/Test/StorefrontFilterByImageSwatchTest.xml
  app/code/Magento/Swatches/Test/Mftf/Test/StorefrontFilterByTextSwatchTest.xml
  app/code/Magento/Swatches/Test/Mftf/Test/StorefrontFilterByVisualSwatchTest.xml
  app/code/Magento/Swatches/Test/Mftf/Test/StorefrontSeeProductImagesMatchingProductSwatchesTest.xml
Labels: Auto-Tests: Covered, Component: Backend, Component: Catalog, Component: Swatches, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#28972 MFTF: Admin Delete Newsletter Subscriber
  app/code/Magento/Newsletter/Test/Mftf/ActionGroup/AdminMarketingDeleteNewsletterSubscriberFromGridActionGroup.xml
  app/code/Magento/Newsletter/Test/Mftf/ActionGroup/AdminMarketingFindNewsletterSubscribersInGridActionGroup.xml
  app/code/Magento/Newsletter/Test/Mftf/ActionGroup/AssertAdminDeletedNewsletterSubscriberIsNotInGridActionGroup.xml
  app/code/Magento/Newsletter/Test/Mftf/Section/AdminNewsletterSubscriberGridSection.xml
  app/code/Magento/Newsletter/Test/Mftf/Test/AdminMarketingDeleteNewsletterSubscriberTest.xml
Labels: Auto-Tests: Covered, Award: MFTF test coverage, Component: Newsletter, Partner: Atwix, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#28869 MFTF: Replace repetitive actions with Action Groups in testes
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminCreateCategoryWithInactiveIncludeInMenuActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminCreateInactiveCategoryActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AssertAdminCategoryIsInactiveActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateCategoryWithInactiveCategoryTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateCategoryWithInactiveIncludeInMenuTest.xml
Labels: Auto-Tests: Covered, Component: Catalog, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#28810 Fix shipping address id getter misspelling
  app/code/Magento/Sales/Model/ResourceModel/Order/Handler/Address.php
  app/code/Magento/Sales/Test/Unit/Model/ResourceModel/Order/Handler/AddressTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: Sales, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#28696 Removed unused class imports
  app/code/Magento/Customer/Setup/Patch/Data/AddCustomerUpdatedAtAttribute.php
  app/code/Magento/Customer/Setup/Patch/Data/AddNonSpecifiedGenderAttributeOption.php
  app/code/Magento/Customer/Setup/Patch/Data/AddSecurityTrackingAttributes.php
  app/code/Magento/Customer/Setup/Patch/Data/ConvertValidationRulesFromSerializedToJson.php
  app/code/Magento/Customer/Setup/Patch/Data/DefaultCustomerGroupsAndAttributes.php
  app/code/Magento/Customer/Setup/Patch/Data/MigrateStoresAllowedCountriesToWebsite.php
  app/code/Magento/Customer/Setup/Patch/Data/RemoveCheckoutRegisterAndUpdateAttributes.php
  app/code/Magento/Customer/Setup/Patch/Data/UpdateAutocompleteOnStorefrontConfigPath.php
  app/code/Magento/Customer/Setup/Patch/Data/UpdateCustomerAttributeInputFilters.php
  app/code/Magento/Customer/Setup/Patch/Data/UpdateIdentifierCustomerAttributesVisibility.php
  app/code/Magento/Customer/Setup/Patch/Data/UpdateVATNumber.php
  app/code/Magento/Customer/Setup/Patch/Data/UpgradePasswordHashAndAddress.php
Labels: Cleanup, Component: Customer, Partner: Atwix, Priority: P4, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S4, partners-contribution

#28956 [MFTF] use action group go to attribute grid page
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateCustomProductAttributeWithDropdownFieldTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateDatetimeProductAttributeTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateDropdownProductAttributeVisibleInStorefrontAdvancedSearchFormTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateMultipleSelectProductAttributeVisibleInStorefrontAdvancedSearchFormTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateProductAttributeFromProductPageTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminDeleteSystemProductAttributeTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminEditTextEditorProductAttributeTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminProductGridFilteringByDateAttributeTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminProductStatusAttributeDisabledByDefaultTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/CreateProductAttributeEntityTest/CreateProductAttributeEntityDateTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/CreateProductAttributeEntityTest/CreateProductAttributeEntityDropdownTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/CreateProductAttributeEntityTest/CreateProductAttributeEntityDropdownWithSingleQuoteTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/CreateProductAttributeEntityTest/CreateProductAttributeEntityMultiSelectTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/CreateProductAttributeEntityTest/CreateProductAttributeEntityPriceTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/CreateProductAttributeEntityTest/CreateProductAttributeEntityTextFieldTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminConfigurableProductCreateTest/AdminCreateConfigurableProductAfterGettingIncorrectSKUMessageTest.xml
  app/code/Magento/Elasticsearch6/Test/Mftf/Test/StorefrontElasticsearchSearchInvalidValueTest.xml
  app/code/Magento/Swatches/Test/Mftf/Test/AdminCreateVisualSwatchTest.xml
  app/code/Magento/Swatches/Test/Mftf/Test/AdminDisablingSwatchTooltipsTest.xml
Labels: Auto-Tests: Covered, Component: Catalog, Component: ConfigurableProduct, Component: Elasticsearch, Component: Swatches, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#28942 [MFTF] Use action group for logout
  app/code/Magento/Bundle/Test/Mftf/Test/AdminAddDefaultImageBundleProductTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminAttributeSetSelectionTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminBasicBundleProductAttributesTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminDeleteABundleProductTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminEditRelatedBundleProductTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminFilterProductListByBundleProductTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminMassDeleteBundleProductsTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminRemoveDefaultImageBundleProductTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/BundleProductWithTierPriceInCartTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/CurrencyChangingBundleProductInCartTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/MassEnableDisableBundleProductsTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/NewBundleProductSelectionTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontAdminEditDataTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontBundleAddToCartSuccessTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontBundleCartTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontBundleProductShownInCategoryListAndGridTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontCustomerSelectAndSetBundleOptionsTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontEditBundleProductTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontGoToDetailsPageWhenAddingToCartTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminAddDefaultImageSimpleProductTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminAddDefaultImageVirtualProductTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateCategoryFromProductPageTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminMassChangeProductsStatusTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminMassUpdateProductAttributesMissingRequiredFieldTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminMassUpdateProductAttributesStoreViewScopeTest/AdminMassUpdateProductAttributesStoreViewScopeTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminRemoveDefaultImageSimpleProductTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminRemoveDefaultImageVirtualProductTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminSimpleSetEditRelatedProductsTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/SimpleProductTwoCustomOptionsTest.xml
  app/code/Magento/CatalogRule/Test/Mftf/Test/AdminApplyCatalogRuleByCategoryTest.xml
  app/code/Magento/CatalogRule/Test/Mftf/Test/AdminCreateCatalogPriceRuleTest/AdminCreateCatalogPriceRuleByPercentTest.xml
  app/code/Magento/CatalogRule/Test/Mftf/Test/AdminCreateCatalogPriceRuleTest/AdminCreateCatalogPriceRuleWithInvalidDataTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminAddDefaultImageConfigurableTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminRelatedProductsTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminRemoveDefaultImageConfigurableTest.xml
  app/code/Magento/Downloadable/Test/Mftf/Test/AdminAddDefaultImageDownloadableProductTest.xml
  app/code/Magento/Downloadable/Test/Mftf/Test/AdminRemoveDefaultImageDownloadableProductTest.xml
  app/code/Magento/GroupedProduct/Test/Mftf/Test/AdminAddDefaultImageGroupedProductTest.xml
  app/code/Magento/GroupedProduct/Test/Mftf/Test/AdminRemoveDefaultImageGroupedProductTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCreateOrderWithMinimumAmountEnabledTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/StorefrontTaxQuoteCartTest/StorefrontTaxQuoteCartGuestSimpleTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/StorefrontTaxQuoteCartTest/StorefrontTaxQuoteCartGuestVirtualTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/StorefrontTaxQuoteCartTest/StorefrontTaxQuoteCartLoggedInSimpleTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/StorefrontTaxQuoteCartTest/StorefrontTaxQuoteCartLoggedInVirtualTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/StorefrontTaxQuoteCheckoutTest/StorefrontTaxQuoteCheckoutGuestSimpleTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/StorefrontTaxQuoteCheckoutTest/StorefrontTaxQuoteCheckoutGuestVirtualTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/StorefrontTaxQuoteCheckoutTest/StorefrontTaxQuoteCheckoutLoggedInSimpleTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/StorefrontTaxQuoteCheckoutTest/StorefrontTaxQuoteCheckoutLoggedInVirtualTest.xml
  app/code/Magento/UrlRewrite/Test/Mftf/Test/AdminUrlRewritesForProductAfterImportTest.xml
Labels: Auto-Tests: Covered, Component: Bundle, Component: Catalog, Component: CatalogRule, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#28941 [MFTF] Use action group go to ProductCatalogPage
  app/code/Magento/Bundle/Test/Mftf/Test/MassEnableDisableBundleProductsTest.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminProductCatalogPageOpenActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateSimpleProductWithCountryOfManufactureAttributeSKUMaskTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateVirtualProductFillingRequiredFieldsOnlyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateVirtualProductOutOfStockWithTierPriceTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateVirtualProductWithCustomOptionsSuiteAndImportOptionsTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateVirtualProductWithTierPriceTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateVirtualProductWithoutManageStockTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminGridPageNumberAfterSaveAndCloseActionTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductNameToVerifyDataOverridingOnStoreViewLevelTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductPriceToVerifyDataOverridingOnStoreViewLevelTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductTieredPriceTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockDisabledProductTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockEnabledFlatTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockNotVisibleIndividuallyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockUnassignFromCategoryTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockVisibleInCatalogAndSearchTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockVisibleInCatalogOnlyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockVisibleInSearchOnlyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockWithCustomOptionsTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceOutOfStockTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithRegularPriceInStockVisibleInCategoryOnlyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithRegularPriceInStockWithCustomOptionsVisibleInSearchOnlyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithRegularPriceOutOfStockVisibleInCategoryAndSearchTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithRegularPriceOutOfStockVisibleInCategoryOnlyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithRegularPriceOutOfStockVisibleInSearchOnlyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithSpecialPriceInStockVisibleInCategoryAndSearchTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithSpecialPriceOutOfStockVisibleInCategoryAndSearchTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithTierPriceInStockVisibleInCategoryOnlyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithTierPriceOutOfStockVisibleInCategoryAndSearchTest.xml
  app/code/Magento/CatalogUrlRewrite/Test/Mftf/Test/AdminUrlForProductRewrittenCorrectlyTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminCheckConfigurableProductAttributeValueUniquenessTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminCreateConfigurableProductBasedOnParentSkuTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/StorefrontConfigurableProductChildSearchTest.xml
  app/code/Magento/Elasticsearch6/Test/Mftf/Test/StorefrontElasticsearchSearchInvalidValueTest.xml
  app/code/Magento/PageCache/Test/Mftf/Test/AdminFrontendAreaSessionMustNotAffectAdminAreaTest.xml
Labels: Auto-Tests: Not Required, Component: Bundle, Component: Catalog, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#28872 MFTF: Newsletter Guest Subscription With Disallowed Option Test
  app/code/Magento/Newsletter/Test/Mftf/ActionGroup/StorefrontCreateNewSubscriberActionGroup.xml
  app/code/Magento/Newsletter/Test/Mftf/ActionGroup/StorefrontCreateNewsletterSubscriberActionGroup.xml
  app/code/Magento/Newsletter/Test/Mftf/Section/NewsletterTemplateSection/BasicFrontendNewsletterFormSection.xml
  app/code/Magento/Newsletter/Test/Mftf/Test/StorefrontNewsletterGuestSubscriptionWithDisallowedOptionTest.xml
  app/code/Magento/Newsletter/Test/Mftf/Test/VerifyRegistredLinkDisplayedForGuestSubscriptionNoTest.xml
  app/code/Magento/Ui/Test/Mftf/ActionGroup/StorefrontAssertErrorMessageActionGroup.xml
  app/code/Magento/Ui/Test/Mftf/Section/StorefrontMessagesSection.xml
Labels: Auto-Tests: Covered, Award: MFTF test coverage, Component: Newsletter, Component: Ui, Partner: Atwix, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#28854 [MFTF] Use action group for adding to cart
  app/code/Magento/Captcha/Test/Mftf/Test/CaptchaFormsDisplayingTest/CaptchaWithDisabledGuestCheckoutTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminAddInStockProductToTheCartTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockWithCustomOptionsTest.xml
  app/code/Magento/CatalogRule/Test/Mftf/Test/AdminCreateCatalogPriceRuleTest/AdminCreateCatalogPriceRuleByPercentTest.xml
  app/code/Magento/CatalogRule/Test/Mftf/Test/AdminDeleteCatalogPriceRuleEntityTest/AdminDeleteCatalogPriceRuleEntityFromConfigurableProductTest.xml
  app/code/Magento/Customer/Test/Mftf/Test/StorefrontCheckTaxAddingValidVATIdTest.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/AdminCreateCartPriceRuleEmptyFromDateTest.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/AdminCreateCartPriceRuleForCouponCodeTest.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/AdminCreateCartPriceRuleForGeneratedCouponTest.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/CartPriceRuleForConfigurableProductTest.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/StorefrontCartPriceRuleCountryTest.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/StorefrontCartPriceRulePostcodeTest.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/StorefrontCartPriceRuleQuantityTest.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/StorefrontCartPriceRuleStateTest.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/StorefrontCartPriceRuleSubtotalTest.xml
Labels: Auto-Tests: Not Required, Component: Captcha, Component: Catalog, Component: CatalogRule, Component: Customer, Component: SalesRule, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#28832 #28829 Fixing multiple typos
  app/code/Magento/Authorization/Test/Unit/Model/ResourceModel/RulesTest.php
  app/code/Magento/Bundle/Test/Unit/Controller/Adminhtml/Product/Initialization/Helper/Plugin/BundleTest.php
  app/code/Magento/Cms/Test/Unit/Model/PageRepository/ValidationCompositeTest.php
  app/code/Magento/ConfigurableProduct/Test/Unit/Plugin/Product/Initialization/CleanConfigurationTmpImagesTest.php
  app/code/Magento/Cookie/Test/Unit/Helper/CookieTest.php
  app/code/Magento/Customer/Model/ResourceModel/Address/Grid/Collection.php
  app/code/Magento/Customer/Model/ResourceModel/Grid/Collection.php
  app/code/Magento/Paypal/Model/Api/Nvp.php
  dev/tests/integration/testsuite/Magento/Captcha/Observer/ResetAttemptForFrontendObserverTest.php
  dev/tests/integration/testsuite/Magento/Sales/CustomerData/LastOrderedItemsTest.php
  dev/tests/integration/testsuite/Magento/Setup/Console/Command/_files/root/lib/internal/Magento/Framework/Test/Unit/View/Element/UiComponentFactoryTest.php
  lib/internal/Magento/Framework/App/Utility/Files.php
  lib/internal/Magento/Framework/Locale/Test/Unit/CurrencyTest.php
Labels: Auto-Tests: Not Required, Cleanup, Component: App, Component: Authorization, Component: Bundle, Component: Cms, Component: ConfigurableProduct, Component: Cookie, Component: Customer, Component: Locale, Component: Paypal, Component: Test, Priority: P4, Progress: accept, Release Line: 2.4, Severity: S4

#26534 Scoped identity at product alert email
  app/code/Magento/ProductAlert/Model/Email.php
  dev/tests/integration/testsuite/Magento/ProductAlert/Model/EmailTest.php
  dev/tests/integration/testsuite/Magento/Store/_files/second_store_with_second_identity.php
  dev/tests/integration/testsuite/Magento/Store/_files/second_store_with_second_identity_rollback.php
Labels: Auto-Tests: Covered, Component: ProductAlert, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#28898 Sample Files for Unsalable Products Redirect Instead of Download
  app/code/Magento/Downloadable/Controller/Download/Sample.php
  app/code/Magento/Downloadable/Test/Mftf/Data/ProductData.xml
  app/code/Magento/Downloadable/Test/Mftf/Test/VerifyOutOfStockDownloadableProductSamplesAreAccessibleTest.xml
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: Downloadable, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#28852 [MFTF] Remove redundant cron run
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateInactiveFlatCategoryAndUpdateAsInactiveTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateInactiveFlatCategoryTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateInactiveInMenuFlatCategoryTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateFlatCategoryAndAddProductsTest.xml
  app/code/Magento/CatalogRule/Test/Mftf/Test/ApplyCatalogPriceRuleByProductAttributeTest.xml
Labels: Auto-Tests: Covered, Cleanup, Component: Catalog, Component: CatalogRule, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#28812 MFTF: Sharing Wishlist with more than allowed Text Length Limit
  app/code/Magento/Wishlist/Test/Mftf/Test/StorefrontShareWishlistWithMoreThanMaximumAllowedTextLengthLimitTest.xml
Labels: Auto-Tests: Covered, Award: MFTF test coverage, Component: Wishlist, Partner: Atwix, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#28650 Remove redundant init method
  app/code/Magento/AdvancedPricingImportExport/Model/Import/AdvancedPricing/Validator/TierPrice.php
  app/code/Magento/AdvancedPricingImportExport/Model/Import/AdvancedPricing/Validator/TierPriceType.php
  app/code/Magento/AdvancedPricingImportExport/Model/Import/AdvancedPricing/Validator/Website.php
Labels: Auto-Tests: Not Required, Component: AdvancedPricingImportExport, Partner: Atwix, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S4, partners-contribution

#28904 magento/magento2#26107: Exception message on cart with no shipment items
  app/code/Magento/QuoteGraphQl/Model/Cart/AssignShippingAddressToCart.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Customer/SetShippingAddressOnCartTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Guest/SetShippingAddressOnCartTest.php
Labels: Component: QuoteGraphQl, PAP, Progress: accept, Project: GraphQL, Release Line: 2.4

#28794 magento/magento2#28569:Multi-store: Missing store codes in relation t…
  app/code/Magento/Store/Model/ResourceModel/StoreWebsiteRelation.php
  app/code/Magento/Store/Model/Service/StoreConfigManager.php
  app/code/Magento/StoreGraphQl/Model/Resolver/AvailableStoresResolver.php
  app/code/Magento/StoreGraphQl/Model/Resolver/Store/StoreConfigDataProvider.php
  app/code/Magento/StoreGraphQl/etc/schema.graphqls
  dev/tests/api-functional/testsuite/Magento/GraphQl/Store/AvailableStoreConfigTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Store/StoreConfigResolverTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: category of expertise, Award: test coverage, Component: Store, Component: StoreGraphQl, PAP, Progress: accept, Project: GraphQL, Release Line: 2.4

#27882 Adding Product Reviews GraphQl support
  app/code/Magento/Review/Model/Review/Config.php
  app/code/Magento/ReviewGraphQl/Mapper/ReviewDataMapper.php
  app/code/Magento/ReviewGraphQl/Model/DataProvider/AggregatedReviewsDataProvider.php
  app/code/Magento/ReviewGraphQl/Model/DataProvider/CustomerReviewsDataProvider.php
  app/code/Magento/ReviewGraphQl/Model/DataProvider/ProductReviewsDataProvider.php
  app/code/Magento/ReviewGraphQl/Model/DataProvider/ReviewRatingsDataProvider.php
  app/code/Magento/ReviewGraphQl/Model/Resolver/CreateProductReview.php
  app/code/Magento/ReviewGraphQl/Model/Resolver/Customer/Reviews.php
  app/code/Magento/ReviewGraphQl/Model/Resolver/Product/RatingSummary.php
  app/code/Magento/ReviewGraphQl/Model/Resolver/Product/Review/AverageRating.php
  app/code/Magento/ReviewGraphQl/Model/Resolver/Product/Review/RatingBreakdown.php
  app/code/Magento/ReviewGraphQl/Model/Resolver/Product/ReviewCount.php
  app/code/Magento/ReviewGraphQl/Model/Resolver/Product/Reviews.php
  app/code/Magento/ReviewGraphQl/Model/Resolver/ProductReviewRatingValueMetadata.php
  app/code/Magento/ReviewGraphQl/Model/Resolver/ProductReviewRatingsMetadata.php
  app/code/Magento/ReviewGraphQl/Model/Review/AddReviewToProduct.php
  app/code/Magento/ReviewGraphQl/README.md
  app/code/Magento/ReviewGraphQl/composer.json
  app/code/Magento/ReviewGraphQl/etc/module.xml
  app/code/Magento/ReviewGraphQl/etc/schema.graphqls
  app/code/Magento/ReviewGraphQl/registration.php
  composer.json
  dev/tests/api-functional/testsuite/Magento/GraphQl/Review/CreateProductReviewsTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Review/GetProductReviewsTest.php
  dev/tests/integration/testsuite/Magento/Review/_files/customer_review_with_rating_rollback.php
  dev/tests/integration/testsuite/Magento/Review/_files/different_reviews_rollback.php
  dev/tests/integration/testsuite/Magento/Review/_files/set_position_and_add_store_to_all_ratings.php
  dev/tests/integration/testsuite/Magento/Review/_files/set_position_and_add_store_to_all_ratings_rollback.php
Labels: Auto-Tests: Covered, Award: advanced, Award: category of expertise, Award: complex, Award: special achievement, Award: test coverage, Component: Review, Component: ReviewGraphQl, Partner: Atwix, Progress: accept, Project: GraphQL, Release Line: 2.4, partners-contribution

#29054 Remove duplicated var customer.name from email template
  app/code/Magento/Customer/view/frontend/email/password_reset.html
Labels: Area: Frontend, Auto-Tests: Not Required, Cleanup, Component: Customer, Partner: creativestyle, Priority: P4, Progress: accept, Release Line: 2.4, Severity: S4, partners-contribution

#29002 [MFTF] Use action group for QuickSearch
  app/code/Magento/Bundle/Test/Mftf/Test/AdminDeleteBundleDynamicProductTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminDeleteBundleFixedProductTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminDeleteProductWithCustomOptionTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminDeleteSimpleProductTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminDeleteVirtualProductTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminDeleteConfigurableProductTest.xml
  app/code/Magento/Downloadable/Test/Mftf/Test/AdminDeleteDownloadableProductTest.xml
  app/code/Magento/GroupedProduct/Test/Mftf/Test/AdminDeleteGroupedProductTest.xml
  app/code/Magento/Search/Test/Mftf/ActionGroup/StoreFrontQuickSearchActionGroup.xml
Labels: Auto-Tests: Not Required, Component: Bundle, Component: Catalog, Component: ConfigurableProduct, Component: Downloadable, Component: GroupedProduct, Component: Search, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#28959 [MFTF] use action group to click save button
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminProductFormSaveButtonClickActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateCustomProductAttributeWithDropdownFieldTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateProductAttributeFromProductPageTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateProductAttributeRequiredTextFieldTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateSimpleProductWithCountryOfManufactureAttributeSKUMaskTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateVirtualProductFillingRequiredFieldsOnlyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateVirtualProductOutOfStockWithTierPriceTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateVirtualProductWithCustomOptionsSuiteAndImportOptionsTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateVirtualProductWithTierPriceTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateVirtualProductWithoutManageStockTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminMoveProductBetweenCategoriesTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductNameToVerifyDataOverridingOnStoreViewLevelTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductPriceToVerifyDataOverridingOnStoreViewLevelTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductTieredPriceTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockDisabledProductTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockEnabledFlatTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockNotVisibleIndividuallyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockUnassignFromCategoryTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockVisibleInCatalogAndSearchTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockVisibleInCatalogOnlyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockVisibleInSearchOnlyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockWithCustomOptionsTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceOutOfStockTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithRegularPriceInStockVisibleInCategoryOnlyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithRegularPriceInStockWithCustomOptionsVisibleInSearchOnlyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithRegularPriceOutOfStockVisibleInCategoryAndSearchTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithRegularPriceOutOfStockVisibleInCategoryOnlyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithRegularPriceOutOfStockVisibleInSearchOnlyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithSpecialPriceInStockVisibleInCategoryAndSearchTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithSpecialPriceOutOfStockVisibleInCategoryAndSearchTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithTierPriceInStockVisibleInCategoryOnlyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithTierPriceOutOfStockVisibleInCategoryAndSearchTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/StorefrontPrintOrderGuestTest.xml
Labels: Auto-Tests: Covered, Component: Catalog, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#28955 [MFTF] use action group go to home page
  app/code/Magento/CatalogSearch/Test/Mftf/Test/MinimalQueryLengthForCatalogSearchTest.xml
  app/code/Magento/CatalogSearch/Test/Mftf/Test/SearchEntityResultsTest/QuickSearchAndAddToCartBundleDynamicTest.xml
  app/code/Magento/CatalogSearch/Test/Mftf/Test/SearchEntityResultsTest/QuickSearchAndAddToCartBundleFixedTest.xml
  app/code/Magento/CatalogSearch/Test/Mftf/Test/SearchEntityResultsTest/QuickSearchAndAddToCartConfigurableTest.xml
  app/code/Magento/CatalogSearch/Test/Mftf/Test/SearchEntityResultsTest/QuickSearchAndAddToCartDownloadableTest.xml
  app/code/Magento/CatalogSearch/Test/Mftf/Test/SearchEntityResultsTest/QuickSearchAndAddToCartGroupedTest.xml
  app/code/Magento/CatalogSearch/Test/Mftf/Test/SearchEntityResultsTest/QuickSearchAndAddToCartTest.xml
  app/code/Magento/CatalogSearch/Test/Mftf/Test/SearchEntityResultsTest/QuickSearchAndAddToCartVirtualTest.xml
  app/code/Magento/CatalogSearch/Test/Mftf/Test/SearchEntityResultsTest/QuickSearchEmptyResultsTest.xml
  app/code/Magento/CatalogSearch/Test/Mftf/Test/SearchEntityResultsTest/QuickSearchProductBySkuTest.xml
  app/code/Magento/CatalogSearch/Test/Mftf/Test/SearchEntityResultsTest/QuickSearchTwoProductsWithSameWeightTest.xml
  app/code/Magento/CatalogSearch/Test/Mftf/Test/StorefrontQuickSearchConfigurableChildrenTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontPersistentDataForGuestCustomerWithPhysicalQuoteTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/StorefrontConfigurableProductChildSearchTest.xml
  app/code/Magento/Downloadable/Test/Mftf/Test/LinkDownloadableProductFromGuestToCustomerTest.xml
  app/code/Magento/Elasticsearch/Test/Mftf/Test/ProductQuickSearchUsingElasticSearchTest.xml
  app/code/Magento/Persistent/Test/Mftf/Test/ShippingQuotePersistedForGuestTest.xml
  app/code/Magento/Persistent/Test/Mftf/Test/StorefrontVerifyShoppingCartPersistenceUnderLongTermCookieTest.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/StorefrontCategoryRulesShouldApplyToComplexProductsTest.xml
Labels: Component: CatalogSearch, Component: Checkout, Component: ConfigurableProduct, Component: Downloadable, Component: Elasticsearch, Component: Persistent, Component: SalesRule, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, partners-contribution

#28932 Implemented UrlFilterApplier component
  app/code/Magento/Catalog/Test/Mftf/Test/AdminProductGridUrlFilterApplierTest.xml
  app/code/Magento/Catalog/view/adminhtml/layout/catalog_product_index.xml
  app/code/Magento/Catalog/view/adminhtml/templates/product/grid/url_filter_applier.phtml
  app/code/Magento/Cms/Test/Mftf/Section/BlockPageActionsSection.xml
  app/code/Magento/Cms/Test/Mftf/Section/CmsPagesPageActionsSection.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminCmsBlockGridUrlFilterApplierTest.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminCmsPageGridUrlFilterApplierTest.xml
  app/code/Magento/Cms/view/adminhtml/layout/cms_block_index.xml
  app/code/Magento/Cms/view/adminhtml/layout/cms_page_index.xml
  app/code/Magento/Cms/view/adminhtml/templates/url_filter_applier.phtml
  app/code/Magento/Ui/view/base/web/js/grid/url-filter-applier.js
  dev/tests/js/jasmine/tests/app/code/Magento/Ui/base/js/grid/url-filter-applier.test.js
Labels: Area: Frontend, Auto-Tests: Covered, Component: Catalog, Component: Cms, Component: Ui, Priority: P1, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S1

#28925 [MFTF] use action group for go to orders grid page
  app/code/Magento/Backend/Test/Mftf/Test/AdminDashboardWithChartsTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/OnePageCheckoutAsCustomerUsingDefaultAddressTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/OnePageCheckoutAsCustomerUsingNewAddressTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/OnePageCheckoutAsCustomerUsingNonDefaultAddressTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/OnePageCheckoutUsingSignInLinkTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/OnePageCheckoutWithAllProductTypesTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontCheckoutWithDifferentShippingAndBillingAddressAndProductWithTierPricesTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontCheckoutWithDifferentShippingAndBillingAddressAndRegisterCustomerAfterCheckoutTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontCheckoutWithSpecialPriceProductsTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontCustomerCheckoutOnLoginWhenGuestCheckoutIsDisabledTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontCustomerCheckoutWithNewCustomerRegistrationAndDisableGuestCheckoutTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontGuestCheckoutUsingFreeShippingAndTaxesTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontGuestCheckoutWithCouponAndZeroSubtotalTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontProductQuantityChangesInBackendAfterCustomerCheckoutTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontUKCustomerCheckoutWithCouponTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontUKGuestCheckoutWithConditionProductQuantityEqualsToOrderedQuantityTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontUSCustomerCheckoutWithCouponAndBankTransferPaymentMethodTest.xml
  app/code/Magento/Fedex/Test/Mftf/Test/AdminCreatingShippingLabelTest.xml
  app/code/Magento/Multishipping/Test/Mftf/Test/StorefrontProcessMultishippingCheckoutWhenCartPageIsOpenedInAnotherTabTest.xml
  app/code/Magento/Sales/Test/Mftf/ActionGroup/AdminOrdersPageOpenActionGroup.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCancelTheCreatedOrderWithCheckMoneyOrderPaymentMethodTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCancelTheCreatedOrderWithProductQtyWithoutStockDecreaseTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCorrectnessInvoicedItemInBundleProductTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminMassOrdersCancelCompleteAndClosedTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminMassOrdersCancelProcessingAndClosedTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminMassOrdersHoldOnCompleteTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminMassOrdersHoldOnPendingAndProcessingTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminMassOrdersReleasePendingOrderTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminMassOrdersUpdateCancelPendingOrderTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminOrdersReleaseInUnholdStatusTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminSubmitsOrderPaymentMethodValidationTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminSubmitsOrderWithAndWithoutEmailTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminSubmitsOrderWithAndWithoutFieldsValidationTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AssignCustomOrderStatusNotVisibleOnStorefrontTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/CreateInvoiceAndCheckInvoiceOrderTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/CreateInvoiceWithCashOnDeliveryPaymentMethodTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/CreateInvoiceWithShipmentAndCheckInvoicedOrderTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/CreateInvoiceWithZeroSubtotalCheckoutTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/CreditMemoTotalAfterShippingDiscountTest.xml
Labels: Auto-Tests: Not Required, Component: Backend, Component: Checkout, Component: Fedex, Component: Multishipping, Component: Sales, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#28903 Create or update customer don't validate customer group id
  app/code/Magento/Customer/Model/ResourceModel/CustomerRepository.php
  app/code/Magento/Customer/Test/Unit/Model/ResourceModel/CustomerRepositoryTest.php
  app/code/Magento/Customer/i18n/en_US.csv
  dev/tests/api-functional/testsuite/Magento/Customer/Api/CustomerRepositoryTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: Customer, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#28839 Discount applying on Shipping Amount for the rule 'Buy X get Y free (discount amount is Y)'
  app/code/Magento/SalesRule/Model/Rule/Action/Discount/BuyXGetY.php
  app/code/Magento/SalesRule/Model/Validator.php
  app/code/Magento/SalesRule/Test/Mftf/Test/AdminCreateBuyXGetYFreeWithApplyShippingAmountTest.xml
Labels: Auto-Tests: Covered, Award: bug fix, Component: SalesRule, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S1

#28799 fix Rest-API updating product stock_item deletes downloadable product data
  app/code/Magento/Downloadable/Model/Link/UpdateHandler.php
  app/code/Magento/Downloadable/Model/Sample/UpdateHandler.php
  app/code/Magento/Downloadable/Test/Unit/Model/Link/UpdateHandlerTest.php
  app/code/Magento/Downloadable/Test/Unit/Model/Sample/UpdateHandlerTest.php
  dev/tests/api-functional/testsuite/Magento/Downloadable/Api/ProductRepositoryTest.php
Labels: Component: Downloadable, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#28797 Fixed 'Undefined class constant' error when interceptor is generated.
  app/code/Magento/Theme/Block/Html/Title.php
Labels: Auto-Tests: Not Required, Component: Theme, Priority: P4, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#28752 "Create Permanent Redirect for URLs if URL Key Changed" for categories
  app/code/Magento/Catalog/Test/Mftf/Section/AdminProductSEOSection.xml
  app/code/Magento/CatalogUrlRewrite/Plugin/Catalog/Block/Adminhtml/Category/Tab/Attributes.php
  app/code/Magento/CatalogUrlRewrite/Test/Mftf/Data/GenerateCategoryProductUrlRewriteConfigData.xml
  app/code/Magento/CatalogUrlRewrite/Test/Mftf/Test/AdminVerifyCheckboxIsDisabledCreatePermanentRedirectSetNoTest.xml
  app/code/Magento/CatalogUrlRewrite/Test/Unit/Plugin/Catalog/Block/Adminhtml/Category/Tab/AttributesTest.php
Labels: Auto-Tests: Covered, Award: MFTF test coverage, Award: bug fix, Award: test coverage, Component: Catalog, Component: CatalogUrlRewrite, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#28749 Move localstorage polyfill to frontend
  app/code/Magento/Theme/view/base/requirejs-config.js
  app/code/Magento/Theme/view/frontend/requirejs-config.js
Labels: Area: Frontend, Auto-Tests: Not Required, Component: Theme, Priority: P1, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S1

#28549 Cli config show returns `Configuration ... doesn't exist` if value is 0 or empty string
  app/code/Magento/Config/App/Config/Source/RuntimeConfigSource.php
  app/code/Magento/Config/Console/Command/ConfigShowCommand.php
  app/code/Magento/Config/Test/Unit/App/Config/Source/RuntimeConfigSourceTest.php
  app/code/Magento/Config/Test/Unit/Console/Command/ConfigShowCommandTest.php
  dev/tests/integration/testsuite/Magento/Config/Console/Command/ConfigShowCommandTest.php
Labels: Auto-Tests: Covered, Cleanup, Component: Config, Priority: P4, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#28366 Fix Images in grid is not correctly aligned after clear filters
  app/code/Magento/Ui/view/base/web/js/grid/columns/image.js
  app/code/Magento/Ui/view/base/web/js/grid/masonry.js
  app/code/Magento/Ui/view/base/web/templates/grid/columns/image.html
  dev/tests/js/jasmine/tests/app/code/Magento/Ui/base/js/grid/masonry.test.js
Labels: Area: Frontend, Auto-Tests: Covered, Component: Ui, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#27516 [Fixed #26191] Need To Change Label In Totals Block in Order View Page
  app/code/Magento/Sales/Block/Adminhtml/Order/Totals.php
  app/code/Magento/Sales/Model/Order.php
  app/code/Magento/Sales/i18n/en_US.csv
  dev/tests/integration/testsuite/Magento/Sales/Block/Adminhtml/Order/TotalsTest.php
Labels: Award: bug fix, Component: Sales, Partner: Ranosys Technologies, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, help wanted, partners-contribution

#26660 Added The return of Post Value when an Integration Exception is thrown while Save Action
  app/code/Magento/Integration/Controller/Adminhtml/Integration/Save.php
  app/code/Magento/Integration/Test/Mftf/ActionGroup/AssertAdminIntegrationNameInFormActionGroup.xml
  app/code/Magento/Integration/Test/Mftf/Test/AdminCreateIntegrationEntityWithDuplicatedNameTest.xml
Labels: Auto-Tests: Covered, Award: MFTF test coverage, Community Insider: Cedcommerce, Component: Integration, Event: mm20in, Partner: Cedcommerce, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, community-insider-contribution, partners-contribution

#29144 Add metadata to the test image
  dev/tests/acceptance/tests/_data/gif.gif
  dev/tests/acceptance/tests/_data/magento3.jpg
  dev/tests/acceptance/tests/_data/png.png
Labels: Auto-Tests: Covered, Priority: P3, Progress: accept, Release Line: 2.4

#29071 Introduce SearchAssets service
  app/code/Magento/MediaGallery/Model/ResourceModel/GetAssetsBySearchCriteria.php
  app/code/Magento/MediaGallery/Model/SearchAssets.php
  app/code/Magento/MediaGallery/etc/di.xml
  app/code/Magento/MediaGalleryApi/Api/SearchAssetsInterface.php
  dev/tests/integration/testsuite/Magento/MediaGallery/Model/SearchAssetsTest.php
  dev/tests/integration/testsuite/Magento/MediaGallery/_files/media_asset.php
Labels: Auto-Tests: Covered, Component: MediaGallery, Component: MediaGalleryApi, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2, Triage: Done

#29053 [MFTF] add Action Group for submit invoice
  app/code/Magento/Backend/Test/Mftf/Test/AdminDashboardWithChartsTest.xml
  app/code/Magento/CatalogInventory/Test/Mftf/Test/AssociatedProductToConfigurableOutOfStockTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/ProductsQtyReturnAfterOrderCancelTest.xml
  app/code/Magento/Reports/Test/Mftf/Test/CancelOrdersInOrderSalesReportTest.xml
  app/code/Magento/Sales/Test/Mftf/ActionGroup/AdminInvoiceClickSubmitActionGroup.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCreateCreditMemoBankTransferPaymentTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCreateCreditMemoPartialRefundTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCreateCreditMemoWithCashOnDeliveryTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCreateCreditMemoWithPurchaseOrderTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCreateInvoiceTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/CreateInvoiceAndCheckInvoiceOrderTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/CreateInvoiceWithCashOnDeliveryPaymentMethodTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/CreateInvoiceWithShipmentAndCheckInvoicedOrderTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/CreateInvoiceWithZeroSubtotalCheckoutTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/CreditMemoTotalAfterShippingDiscountTest.xml
Labels: Auto-Tests: Not Required, Component: Backend, Component: CatalogInventory, Component: ConfigurableProduct, Component: Reports, Component: Sales, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#29179 [MFTF] Fix static tests in MFTF
  app/code/Magento/CatalogUrlRewrite/Test/Mftf/Test/AdminVerifyCheckboxIsDisabledCreatePermanentRedirectSetNoTest.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/AdminCreateBuyXGetYFreeWithApplyShippingAmountTest.xml
Labels: Component: CatalogUrlRewrite, Component: SalesRule, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3

#28210 #257: create new id_v2 option
  app/code/Magento/BundleGraphQl/Model/Resolver/Options/BundleItemOptionUid.php
  app/code/Magento/BundleGraphQl/etc/schema.graphqls
  app/code/Magento/CatalogGraphQl/Model/Resolver/Product/CustomizableEnteredOptionValueUid.php
  app/code/Magento/CatalogGraphQl/Model/Resolver/Product/CustomizableSelectedOptionValueUid.php
  app/code/Magento/CatalogGraphQl/etc/schema.graphqls
  app/code/Magento/ConfigurableProductGraphQl/Model/Resolver/Variant/Attributes.php
  app/code/Magento/ConfigurableProductGraphQl/Model/Resolver/Variant/Attributes/ConfigurableAttributeUid.php
  app/code/Magento/ConfigurableProductGraphQl/etc/schema.graphqls
  app/code/Magento/DownloadableGraphQl/Resolver/Product/DownloadableLinksValueUid.php
  app/code/Magento/DownloadableGraphQl/etc/schema.graphqls
  dev/tests/api-functional/testsuite/Magento/GraphQl/Catalog/Options/Uid/CustomizableOptionsUidTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/ConfigurableProduct/Options/Uid/CustomizableValueUidTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/DownloadableProduct/Options/Uid/DownloadableLinksValueUidTest.php
Labels: Auto-Tests: Covered, Award: advanced, Award: category of expertise, Award: test coverage, Component: BundleGraphQl, Component: CatalogGraphQl, Component: ConfigurableProductGraphQl, Component: DownloadableGraphQl, Partner: Atwix, Progress: accept, Project: GraphQL, Release Line: 2.4, partners-contribution

#29149 Generetae thumbnails only if image have bigger size then defined in configuration, to aviod stretched images
  app/code/Magento/Cms/Model/Wysiwyg/Images/Storage.php
  dev/tests/integration/testsuite/Magento/Cms/Model/Wysiwyg/Images/StorageTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: Cms, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S4

#29143 [MFTF] use ActionGroup for assertion in productGridCell
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateAndSwitchProductType/AdminCreateSimpleProductSwitchToVirtualTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateAndSwitchProductType/AdminCreateVirtualProductSwitchToSimpleTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminProductTypeSwitchingOnEditingTest/AdminDownloadableProductTypeSwitchingToSimpleProductTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminProductTypeSwitchingOnEditingTest/AdminVirtualProductTypeSwitchingToDownloadableProductTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/EndToEndB2CAdminTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminConfigurableProductSearchTest/AdminConfigurableProductSearchTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminCreateAndSwitchProductType/AdminCreateConfigurableProductSwitchToSimpleTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminCreateAndSwitchProductType/AdminCreateConfigurableProductSwitchToVirtualTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminCreateAndSwitchProductType/AdminCreateDownloadableProductSwitchToConfigurableTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminCreateAndSwitchProductType/AdminCreateSimpleProductSwitchToConfigurableTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminCreateAndSwitchProductType/AdminCreateVirtualProductSwitchToConfigurableTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminCreateConfigurableProductBasedOnParentSkuTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminCreateConfigurableProductWithTwoOptionsAssignedToCategoryTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminCreateConfigurableProductWithTwoOptionsWithoutAssignedToCategoryTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminProductTypeSwitchingOnEditingTest/AdminVirtualProductTypeSwitchingToConfigurableProductTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/ProductsQtyReturnAfterOrderCancelTest.xml
  app/code/Magento/Downloadable/Test/Mftf/Test/AdminCreateDownloadableProductSwitchToSimpleTest.xml
  app/code/Magento/Downloadable/Test/Mftf/Test/AdminProductTypeSwitchingOnEditingTest/AdminSimpleProductTypeSwitchingToDownloadableProductTest.xml
Labels: Auto-Tests: Covered, Component: Catalog, Component: ConfigurableProduct, Component: Downloadable, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#29001 Configurable Product Links Validation Bug when int value is 0
  app/code/Magento/ConfigurableProduct/Model/Plugin/ProductRepositorySave.php
  app/code/Magento/ConfigurableProduct/Test/Unit/Model/Plugin/ProductRepositorySaveTest.php
  dev/tests/api-functional/testsuite/Magento/ConfigurableProduct/Api/ProductRepositoryTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: ConfigurableProduct, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#28838 Initialize toolbar.js once
  app/code/Magento/Catalog/view/frontend/web/js/product/list/toolbar.js
  dev/tests/js/jasmine/tests/app/code/Magento/Catalog/frontend/js/product/list/toolbar.test.js
Labels: Area: Frontend, Auto-Tests: Covered, Component: Catalog, Partner: creativestyle, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#28890 #26121 - special price & tier price are coming in base currency
  app/code/Magento/CatalogCustomerGraphQl/Model/Resolver/PriceTiers.php
  app/code/Magento/CatalogGraphQl/Model/Resolver/Product/SpecialPrice.php
  app/code/Magento/CatalogGraphQl/etc/schema.graphqls
  dev/tests/api-functional/testsuite/Magento/GraphQl/CatalogCustomer/PriceTiersTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/CatalogCustomer/SpecialPriceTest.php
  dev/tests/integration/testsuite/Magento/Catalog/_files/simple_product_with_tier_prices_for_multiple_groups.php
  dev/tests/integration/testsuite/Magento/Catalog/_files/simple_product_with_tier_prices_for_multiple_groups_rollback.php
Labels: Component: CatalogCustomerGraphQl, Component: CatalogGraphQl, PAP, Partner: Comwrap, Progress: accept, Project: GraphQL, Release Line: 2.4, partners-contribution

#29156 [MFTF] Use ActionGroup for asserting product sku
  app/code/Magento/Catalog/Test/Mftf/Test/AdminAddInStockProductToTheCartTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCheckConfigurableProductPriceWithDisabledChildProductTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateCustomProductAttributeWithDropdownFieldTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateProductAttributeFromProductPageTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateVirtualProductOutOfStockWithTierPriceTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateVirtualProductWithCustomOptionsSuiteAndImportOptionsTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateVirtualProductWithoutManageStockTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminDeleteConfigurableChildProductsTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductTieredPriceTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockEnabledFlatTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockVisibleInCatalogAndSearchTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockVisibleInCatalogOnlyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockVisibleInSearchOnlyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockWithCustomOptionsTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceOutOfStockTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithRegularPriceInStockVisibleInCategoryOnlyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithRegularPriceInStockWithCustomOptionsVisibleInSearchOnlyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithRegularPriceOutOfStockVisibleInCategoryAndSearchTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithRegularPriceOutOfStockVisibleInCategoryOnlyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithRegularPriceOutOfStockVisibleInSearchOnlyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithSpecialPriceInStockVisibleInCategoryAndSearchTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithSpecialPriceOutOfStockVisibleInCategoryAndSearchTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithTierPriceInStockVisibleInCategoryOnlyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithTierPriceOutOfStockVisibleInCategoryAndSearchTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/StorefrontProductNameWithDoubleQuoteTest/StorefrontProductNameWithDoubleQuoteTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/StorefrontProductNameWithDoubleQuoteTest/StorefrontProductNameWithHTMLEntitiesTest.xml
  app/code/Magento/CatalogRule/Test/Mftf/Test/AdminDeleteCatalogPriceRuleTest.xml
  app/code/Magento/ImportExport/Test/Mftf/Test/AdminURLKeyWorksWhenUpdatingProductThroughImportingCSVTest.xml
Labels: Auto-Tests: Covered, Cleanup, Component: Catalog, Component: CatalogRule, Component: ImportExport, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, Triage: Done, partners-contribution

#29058 Added GetAssetIdByContentFieldInterface and implementations
  app/code/Magento/MediaContent/etc/di.xml
  app/code/Magento/MediaContentApi/Api/GetAssetIdsByContentFieldInterface.php
  app/code/Magento/MediaContentApi/Model/Composite/GetAssetIdsByContentField.php
  app/code/Magento/MediaContentApi/Model/GetAssetIdsByContentFieldInterface.php
  app/code/Magento/MediaContentCatalog/Model/ResourceModel/GetAssetIdsByCategoryStore.php
  app/code/Magento/MediaContentCatalog/Model/ResourceModel/GetAssetIdsByEavContentField.php
  app/code/Magento/MediaContentCatalog/Model/ResourceModel/GetAssetIdsByProductStore.php
  app/code/Magento/MediaContentCatalog/composer.json
  app/code/Magento/MediaContentCatalog/etc/di.xml
  app/code/Magento/MediaContentCms/Model/ResourceModel/GetAssetIdsByBlockStore.php
  app/code/Magento/MediaContentCms/Model/ResourceModel/GetAssetIdsByContentField.php
  app/code/Magento/MediaContentCms/Model/ResourceModel/GetAssetIdsByPageStore.php
  app/code/Magento/MediaContentCms/etc/di.xml
  dev/tests/integration/testsuite/Magento/MediaContentCatalog/Model/ResourceModel/GetAssetIdsByContentFieldTest.php
  dev/tests/integration/testsuite/Magento/MediaContentCms/Model/ResourceModel/GetAssetIdsByContentFieldTest.php
Labels: Auto-Tests: Covered, Component: MediaContent, Component: MediaContentApi, Component: MediaContentCatalog, Component: MediaContentCms, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S2

#29004 [MFTF] use ActionGroup go to AdminTaxRuleGridPage
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontCustomerCheckoutTest/StorefrontCustomerCheckoutTestWithMultipleAddressesAndTaxRatesTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontGuestCheckoutUsingFreeShippingAndTaxesTest.xml
  app/code/Magento/Customer/Test/Mftf/Test/StorefrontCheckTaxAddingValidVATIdTest.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/StorefrontCartTotalValueWithFullDiscountUsingCartRuleTest.xml
  app/code/Magento/Tax/Test/Mftf/ActionGroup/AdminTaxRuleGridOpenPageActionGroup.xml
  app/code/Magento/Tax/Test/Mftf/Test/AdminCheckCreditMemoTotalsTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/AdminCreateDefaultsTaxRuleTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/AdminCreateTaxRateAllPostCodesTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/AdminCreateTaxRateLargeRateTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/AdminCreateTaxRateSpecificPostcodeTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/AdminCreateTaxRateWiderZipCodeRangeTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/AdminCreateTaxRateZipCodeRangeTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/AdminCreateTaxRuleWithCustomerAndProductTaxClassTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/AdminCreateTaxRuleWithNewAndExistingTaxRateAndCustomerAndProductTaxClassTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/AdminCreateTaxRuleWithNewTaxClassesAndTaxRateTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/AdminCreateTaxRuleWithZipRangeTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/AdminDeleteTaxRuleTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/AdminUpdateDefaultTaxRuleTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/AdminUpdateTaxRuleWithCustomClassesTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/AdminUpdateTaxRuleWithFixedZipUtahTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/DeleteTaxRateEntityTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/StorefrontTaxQuoteCartTest/StorefrontTaxQuoteCartGuestSimpleTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/StorefrontTaxQuoteCartTest/StorefrontTaxQuoteCartGuestVirtualTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/StorefrontTaxQuoteCartTest/StorefrontTaxQuoteCartLoggedInSimpleTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/StorefrontTaxQuoteCartTest/StorefrontTaxQuoteCartLoggedInVirtualTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/StorefrontTaxQuoteCheckoutTest/StorefrontTaxQuoteCheckoutGuestSimpleTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/StorefrontTaxQuoteCheckoutTest/StorefrontTaxQuoteCheckoutGuestVirtualTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/StorefrontTaxQuoteCheckoutTest/StorefrontTaxQuoteCheckoutLoggedInSimpleTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/StorefrontTaxQuoteCheckoutTest/StorefrontTaxQuoteCheckoutLoggedInVirtualTest.xml
Labels: Auto-Tests: Not Required, Component: Checkout, Component: Customer, Component: SalesRule, Component: Tax, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, Triage: Done, partners-contribution

#28891 README > Removing extra space
  README.md
Labels: Auto-Tests: Not Required, Partner: Le Site, Priority: P4, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S4, partners-contribution

#28285 Fix #26427 - Admin config section not expanded when fields are required.
  app/code/Magento/Config/Test/Mftf/ActionGroup/AdminConfigCollapseStorefrontTabActionGroup.xml
  app/code/Magento/Config/Test/Mftf/ActionGroup/AdminConfigExpandStorefrontTabActionGroup.xml
  app/code/Magento/Config/Test/Mftf/ActionGroup/AdminConfigFillInputFieldActionGroup.xml
  app/code/Magento/Config/Test/Mftf/ActionGroup/AdminOpenStoreConfigCatalogPageActionGroup.xml
  app/code/Magento/Config/Test/Mftf/Section/CatalogSection/CatalogSection.xml
  app/code/Magento/Config/Test/Mftf/Test/AdminConfigCollapsedFieldsetValidationTest.xml
  app/code/Magento/Config/view/adminhtml/templates/system/config/edit.phtml
Labels: Area: Frontend, Auto-Tests: Covered, Award: MFTF test coverage, Award: bug fix, Component: Config, Partner: Fast White Cat, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#29162 [MFTF] created ActionGroup to go to AdminSystemStorePage
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateRootCategoryAndSubcategoriesTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminDeleteProductsImageInCaseOfMultipleStoresTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminDeleteRootCategoryAssignedToStoreTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminMassUpdateProductStatusStoreViewScopeTest/AdminMassUpdateProductStatusStoreViewScopeTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminMultipleWebsitesUseDefaultValuesTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateCategoryAndCheckDefaultUrlKeyOnStoreViewTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/DeleteCategoriesTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/SaveProductWithCustomOptionsSecondWebsiteTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/ConfigurableProductPriceAdditionalStoreViewTest.xml
  app/code/Magento/Customer/Test/Mftf/Test/AllowedCountriesRestrictionApplyOnBackendTest.xml
  app/code/Magento/Store/Test/Mftf/ActionGroup/AdminSystemStoreOpenPageActionGroup.xml
  app/code/Magento/Store/Test/Mftf/Test/AdminCreateStoreViewTest.xml
Labels: Auto-Tests: Covered, Component: Catalog, Component: ConfigurableProduct, Component: Customer, Component: Store, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#29077 FIX: blocky moving inside magnifier
  lib/web/magnifier/magnifier.js
Labels: Area: Lib/Frontend, Auto-Tests: Not Required, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#28999 [MFTF] Use actionGroup go to CatalogRulePage
  app/code/Magento/CatalogRule/Test/Mftf/Test/AdminApplyCatalogRuleByCategoryTest.xml
  app/code/Magento/CatalogRule/Test/Mftf/Test/AdminDeleteCatalogPriceRuleEntityTest/AdminDeleteCatalogPriceRuleEntityFromConfigurableProductTest.xml
  app/code/Magento/CatalogRule/Test/Mftf/Test/AdminDeleteCatalogPriceRuleEntityTest/AdminDeleteCatalogPriceRuleEntityFromSimpleProductTest.xml
  app/code/Magento/CatalogRule/Test/Mftf/Test/AdminDeleteCatalogPriceRuleTest.xml
  app/code/Magento/CatalogRule/Test/Mftf/Test/AdminEnableAttributeIsUndefinedCatalogPriceRuleTest.xml
  app/code/Magento/CatalogRule/Test/Mftf/Test/ApplyCatalogPriceRuleByProductAttributeTest.xml
  app/code/Magento/CatalogRule/Test/Mftf/Test/ApplyCatalogRuleForSimpleAndConfigurableProductTest.xml
  app/code/Magento/CatalogRule/Test/Mftf/Test/ApplyCatalogRuleForSimpleProductAndFixedMethodTest.xml
  app/code/Magento/CatalogRule/Test/Mftf/Test/ApplyCatalogRuleForSimpleProductForNewCustomerGroupTest.xml
  app/code/Magento/CatalogRule/Test/Mftf/Test/ApplyCatalogRuleForSimpleProductWithCustomOptionsTest.xml
Labels: Auto-Tests: Covered, Cleanup, Component: CatalogRule, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#28922 Deploy all used locales
  app/code/Magento/Deploy/Package/LocaleResolver.php
  app/code/Magento/Deploy/Package/PackagePool.php
  app/code/Magento/Deploy/Test/Unit/Package/LocaleResolverTest.php
  setup/src/Magento/Setup/Console/Command/DeployStaticContentCommand.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: complex, Award: test coverage, Component: Deploy, Component: Setup, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#28856 Issue 28656 inline translation rest api
  dev/tests/integration/testsuite/Magento/Translation/Model/InlineParserTest.php
  lib/internal/Magento/Framework/Translate/Inline.php
  lib/internal/Magento/Framework/Translate/Test/Unit/InlineTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: Translate, Partner: Blue Acorn iCi, Priority: P1, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S1, partners-contribution

#27340 Fix issue 27162 sort order link incorrect compare
  app/code/Magento/Customer/Block/Account/Navigation.php
  app/code/Magento/Customer/Test/Unit/Block/Account/NavigationTest.php
  app/code/Magento/Customer/view/frontend/layout/customer_account.xml
  app/code/Magento/Customer/view/frontend/layout/default.xml
  app/code/Magento/Customer/view/frontend/templates/account/link/authorization.phtml
  app/code/Magento/Customer/view/frontend/templates/account/link/my-account.phtml
  app/code/Magento/Downloadable/view/frontend/layout/customer_account.xml
  app/code/Magento/Newsletter/view/frontend/layout/customer_account.xml
  app/code/Magento/Paypal/view/frontend/layout/customer_account.xml
  app/code/Magento/Review/view/frontend/layout/customer_account.xml
  app/code/Magento/Sales/view/frontend/layout/customer_account.xml
  app/code/Magento/Vault/view/frontend/layout/customer_account.xml
  app/code/Magento/Wishlist/view/frontend/layout/customer_account.xml
  app/code/Magento/Wishlist/view/frontend/layout/default.xml
Labels: Area: Frontend, Auto-Tests: Covered, Award: bug fix, Component: Customer, Component: Downloadable, Component: Newsletter, Component: Paypal, Component: Review, Component: Sales, Component: Vault, Component: Wishlist, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#27221 Store longer X-Forwarded-For header
  app/code/Magento/Sales/etc/db_schema.xml
  dev/tests/integration/testsuite/Magento/Sales/Model/ResourceModel/OrderTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: Sales, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#27377 Speedup bin/magento
  dev/tests/integration/testsuite/Magento/Setup/Model/ConfigOptionsListCollectorTest.php
  lib/internal/Magento/Framework/Module/DependencyChecker.php
  lib/internal/Magento/Framework/Module/Test/Unit/DependencyCheckerTest.php
  setup/src/Magento/Setup/Model/ConfigOptionsListCollector.php
Labels: Auto-Tests: Covered, Award: advanced, Award: bug fix, Award: category of expertise, Component: Module, Component: Setup, Progress: pending review, Release Line: 2.4

#29207 #1391: SaveAssetsKeywordsInterface to delete obsolete keywords
  app/code/Magento/MediaGallery/Model/ResourceModel/Keyword/SaveAssetLinks.php
  app/code/Magento/MediaGallery/Model/ResourceModel/Keyword/SaveAssetsKeywords.php
  app/code/Magento/MediaGallery/Test/Unit/Model/ResourceModel/Keyword/SaveAssetLinksTest.php
  dev/tests/integration/testsuite/Magento/MediaGallery/Model/ResourceModel/AssetKeywordsTest.php
Labels: Auto-Tests: Covered, Component: MediaGallery, Priority: P1, Progress: accept, Release Line: 2.4, Severity: S2

#29137 #28270 Showed tier price for pre selected swatch via cart edit
  app/code/Magento/ConfigurableProduct/Test/Mftf/ActionGroup/StorefrontUpdateCartItemEditParametersProductActionGroup.xml
  app/code/Magento/Swatches/Test/Mftf/ActionGroup/StorefrontAddProductWithSwatchesTextOptionToTheCartActionGroup.xml
  app/code/Magento/Swatches/Test/Mftf/Section/StorefrontProductInfoMainSection.xml
  app/code/Magento/Swatches/Test/Mftf/Test/StorefrontConfigurableProductSwatchUpdateCartItemTierPriceTest.xml
  app/code/Magento/Swatches/view/base/web/js/swatch-renderer.js
Labels: Area: Frontend, Auto-Tests: Not Required, Component: ConfigurableProduct, Component: Swatches, Partner: Ziffity, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#29134 [MFTF] use AdminNavigateNewCustomerActionGroup to go to new customer page
  app/code/Magento/Customer/Test/Mftf/Test/AdminCreateCustomerRetailerWithoutAddressTest.xml
  app/code/Magento/Customer/Test/Mftf/Test/AdminCreateCustomerWithCustomGroupTest.xml
  app/code/Magento/Customer/Test/Mftf/Test/AdminCreateCustomerWithPrefixTest.xml
  app/code/Magento/Customer/Test/Mftf/Test/AdminCreateCustomerWithoutAddressTest.xml
  app/code/Magento/Customer/Test/Mftf/Test/AdminCreateNewCustomerTest.xml
  app/code/Magento/Customer/Test/Mftf/Test/AdminVerifyCreateCustomerRequiredFieldsTest.xml
Labels: Auto-Tests: Not Required, Component: Customer, Partner: Atwix, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#29133 [MFTF] Use AdminExpandCategoryTreeActionGroup for ExpandTree click
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCheckInactiveAndNotIncludeInMenuCategoryAndSubcategoryIsNotVisibleInNavigationTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCheckInactiveCategoryAndSubcategoryIsNotVisibleInNavigationMenuTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCheckInactiveIncludeInMenuCategoryAndSubcategoryIsNotVisibleInNavigationTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCheckPaginationInStorefrontTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateCategoryWithFiveNestingTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateInactiveFlatCategoryAndUpdateAsInactiveTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateInactiveFlatCategoryTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateInactiveInMenuFlatCategoryTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminDeleteRootCategoryAssignedToStoreTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminMoveAnchoredCategoryToDefaultCategoryTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminMoveCategoryAndCheckUrlRewritesTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminMoveCategoryFromParentAnchoredCategoryTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminMoveCategoryToAnotherPositionInCategoryTreeTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateCategoryAndCheckDefaultUrlKeyOnStoreViewTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateCategoryAndMakeInactiveTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateCategoryWithInactiveIncludeInMenuTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateCategoryWithProductsTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateFlatCategoryAndAddProductsTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateFlatCategoryIncludeInNavigationTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateFlatCategoryNameAndDescriptionTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockUnassignFromCategoryTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateTopCategoryUrlWithNoRedirectTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateTopCategoryUrlWithRedirectTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/EndToEndB2CAdminTest.xml
Labels: Auto-Tests: Not Required, Component: Catalog, Partner: Atwix, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#29066 fix Custom Admin Domain and Internal Redirects
  app/code/Magento/Store/App/Response/Redirect.php
  app/code/Magento/Store/Test/Unit/App/Response/RedirectTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: Store, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S1

#29007 [MFTF] create AdminTaxRateGridOpenPageActionGroup
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontCustomerCheckoutTest/StorefrontCustomerCheckoutTestWithMultipleAddressesAndTaxRatesTest.xml
  app/code/Magento/Customer/Test/Mftf/Test/StorefrontCheckTaxAddingValidVATIdTest.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/StorefrontCartTotalValueWithFullDiscountUsingCartRuleTest.xml
  app/code/Magento/Tax/Test/Mftf/ActionGroup/AdminTaxRateGridOpenPageActionGroup.xml
  app/code/Magento/Tax/Test/Mftf/Test/AdminCreateTaxRateAllPostCodesTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/AdminCreateTaxRateInvalidPostcodeTestLengthTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/AdminCreateTaxRateLargeRateTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/AdminCreateTaxRateSpecificPostcodeTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/AdminCreateTaxRateWiderZipCodeRangeTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/AdminCreateTaxRateZipCodeRangeTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/DeleteTaxRateEntityTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/StorefrontTaxQuoteCartTest/StorefrontTaxQuoteCartGuestSimpleTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/StorefrontTaxQuoteCartTest/StorefrontTaxQuoteCartGuestVirtualTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/StorefrontTaxQuoteCartTest/StorefrontTaxQuoteCartLoggedInSimpleTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/StorefrontTaxQuoteCartTest/StorefrontTaxQuoteCartLoggedInVirtualTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/StorefrontTaxQuoteCheckoutTest/StorefrontTaxQuoteCheckoutGuestSimpleTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/StorefrontTaxQuoteCheckoutTest/StorefrontTaxQuoteCheckoutGuestVirtualTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/StorefrontTaxQuoteCheckoutTest/StorefrontTaxQuoteCheckoutLoggedInSimpleTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/StorefrontTaxQuoteCheckoutTest/StorefrontTaxQuoteCheckoutLoggedInVirtualTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/Update01TaxRateEntityTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/Update100TaxRateEntityTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/Update1299TaxRateEntityTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/UpdateAnyRegionTaxRateEntityTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/UpdateDecimalTaxRateEntityTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/UpdateLargeTaxRateEntityTest.xml
Labels: Auto-Tests: Covered, Component: Checkout, Component: Customer, Component: SalesRule, Component: Tax, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#29000 [MFTF] Use action group to click AdminProductGridSection.firstRow
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontAdminEditDataTest.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminProductGridSectionClickFirstRowActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateCategoryFromProductPageTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminProductGridFilteringByDateAttributeTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminCheckConfigurableProductAttributeValueUniquenessTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminCheckValidatorConfigurableProductTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminConfigurableProductOutOfStockTest/AdminConfigurableProductChildrenOutOfStockTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminConfigurableProductOutOfStockTest/AdminConfigurableProductOutOfStockAndDeleteCombinationTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminConfigurableProductUpdateAttributeTest/AdminConfigurableProductUpdateAttributeTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminCreateConfigurableProductWithCreatingCategoryAndAttributeTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminCreateConfigurableProductWithDisabledChildrenProductsTest.xml
  app/code/Magento/Downloadable/Test/Mftf/Test/AdminCreateDownloadableProductWithDefaultSetLinksTest.xml
  app/code/Magento/Downloadable/Test/Mftf/Test/AdminCreateDownloadableProductWithGroupPriceTest.xml
  app/code/Magento/Downloadable/Test/Mftf/Test/AdminCreateDownloadableProductWithManageStockTest.xml
  app/code/Magento/Downloadable/Test/Mftf/Test/AdminCreateDownloadableProductWithOutOfStockStatusTest.xml
  app/code/Magento/Downloadable/Test/Mftf/Test/AdminCreateDownloadableProductWithSpecialPriceTest.xml
  app/code/Magento/Downloadable/Test/Mftf/Test/AdminCreateDownloadableProductWithoutFillingQuantityAndStockTest.xml
  app/code/Magento/Downloadable/Test/Mftf/Test/AdminCreateDownloadableProductWithoutTaxClassIdTest.xml
  app/code/Magento/Quote/Test/Mftf/Test/StorefrontGuestCheckoutDisabledProductTest.xml
Labels: Auto-Tests: Not Required, Component: Bundle, Component: Catalog, Component: ConfigurableProduct, Component: Downloadable, Component: Quote, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#28963 Remove unneccessary `overflowed` class from minicart sidebar widget
  app/code/Magento/Checkout/view/frontend/web/js/sidebar.js
  app/code/Magento/Checkout/view/frontend/web/template/summary/cart-items.html
Labels: Area: Frontend, Auto-Tests: Not Required, Component: Checkout, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#28906 Remove over complicated setup for closing minicart dropdown
  app/code/Magento/Checkout/view/frontend/web/js/view/minicart.js
  app/code/Magento/Checkout/view/frontend/web/template/minicart/content.html
Labels: Area: Frontend, Auto-Tests: Not Required, Component: Checkout, Priority: P4, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S4

#28895 Fix issue extend match class in style-old admin
  app/design/adminhtml/Magento/backend/web/css/styles-old.less
  app/design/adminhtml/Magento/backend/web/mui/styles/_table.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Award: bug fix, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#28639 Cleanup duplicate html class
  app/code/Magento/Sales/view/frontend/templates/order/print/shipment.phtml
  dev/tests/integration/testsuite/Magento/Sales/Block/Order/PrintOrder/ShipmentTest.php
Labels: Area: Frontend, Auto-Tests: Not Required, Cleanup, Component: Sales, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, Severity: S4

#28594 Added configuration to enable/disable Clear Shopping Cart action in storefront
  app/code/Magento/Checkout/Test/Mftf/ActionGroup/AdminOpenSalesCheckoutConfigPageActionGroup.xml
  app/code/Magento/Checkout/Test/Mftf/ActionGroup/AdminSelectClearShoppingCartConfigurationActionGroup.xml
  app/code/Magento/Checkout/Test/Mftf/ActionGroup/StorefrontClearShoppingCartActionGroup.xml
  app/code/Magento/Checkout/Test/Mftf/Data/ConfigData.xml
  app/code/Magento/Checkout/Test/Mftf/Page/AdminCheckoutConfigPage.xml
  app/code/Magento/Checkout/Test/Mftf/Section/AdminCheckoutConfigSection.xml
  app/code/Magento/Checkout/Test/Mftf/Section/CheckoutCartProductSection.xml
  app/code/Magento/Checkout/Test/Mftf/Test/ClearShoppingCartEnableDisableConfigurationTest.xml
  app/code/Magento/Checkout/ViewModel/Cart.php
  app/code/Magento/Checkout/etc/adminhtml/system.xml
  app/code/Magento/Checkout/etc/config.xml
  app/code/Magento/Checkout/i18n/en_US.csv
  app/code/Magento/Checkout/view/frontend/layout/checkout_cart_index.xml
  app/code/Magento/Checkout/view/frontend/templates/cart/form.phtml
  app/code/Magento/Checkout/view/frontend/web/js/shopping-cart.js
  app/design/frontend/Magento/luma/Magento_Checkout/web/css/source/module/_cart.less
  app/design/frontend/Magento/luma/web/css/source/_extends.less
  dev/tests/integration/testsuite/Magento/Checkout/ViewModel/CartTest.php
Labels: Area: Design/Frontend, Area: Frontend, Component: Checkout, Issue: Ready for Work, PAP B2B Team 1, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, Test Plan, partners-contribution, project: B2B
