Repository magento/magento2, pull requests merged in 2020-04, with the labels that each got.

#27509 [MFTF] fixed test `AdminLoginWithRestrictPermissionTest`
  app/code/Magento/Backend/Test/Mftf/Test/AdminLoginWithRestrictPermissionTest.xml
Labels: Auto-Tests: Covered, Component: Backend, Progress: accept, Release Line: 2.4

#27462 Implement ActionInterface for /search/term/popular
  app/code/Magento/Search/Controller/Term/Popular.php
  app/code/Magento/Search/Test/Unit/Controller/Term/PopularTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: Search, Partner: Fast White Cat, Progress: accept, Release Line: 2.4, improvement, partners-contribution

#27427 Implement ActionInterface for /swagger/
  app/code/Magento/Swagger/Controller/Index/Index.php
  app/code/Magento/Swagger/Test/Unit/Controller/Index/IndexTest.php
Labels: Auto-Tests: Covered, Component: Swagger, Partner: Mediotype, Progress: accept, Release Line: 2.4, improvement, partners-contribution

#27425 Implement ActionInterface for /version/
  app/code/Magento/Version/Controller/Index/Index.php
  app/code/Magento/Version/Test/Unit/Controller/Index/IndexTest.php
Labels: Auto-Tests: Covered, Component: Version, Partner: Mediotype, Progress: accept, Release Line: 2.4, improvement, partners-contribution

#27413 Add follow symlinks to support linked folders
  dev/tests/integration/testsuite/Magento/Framework/Filesystem/Driver/FileTest.php
  lib/internal/Magento/Framework/Filesystem/Driver/File.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: Filesystem, Progress: accept, Release Line: 2.4

#27365 Fix issue 16315: Product save with onthefly index ignores website assignments
  app/code/Magento/Catalog/Model/Indexer/Product/Flat/Action/Row.php
  app/code/Magento/Catalog/Test/Unit/Model/Indexer/Product/Flat/Action/RowTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: Catalog, Progress: accept, Release Line: 2.4

#27257 Save Asynchronous Operations with one Batch improvement
  app/code/Magento/AsynchronousOperations/Api/SaveMultipleOperationsInterface.php
  app/code/Magento/AsynchronousOperations/Model/BulkManagement.php
  app/code/Magento/AsynchronousOperations/Model/MassSchedule.php
  app/code/Magento/AsynchronousOperations/Model/OperationManagement.php
  app/code/Magento/AsynchronousOperations/Model/ResourceModel/Operation.php
  app/code/Magento/AsynchronousOperations/Model/ResourceModel/Operation/OperationRepository.php
  app/code/Magento/AsynchronousOperations/Model/SaveMultipleOperations.php
  app/code/Magento/AsynchronousOperations/etc/di.xml
  app/code/Magento/WebapiAsync/Model/OperationRepository.php
  dev/tests/integration/testsuite/Magento/AsynchronousOperations/Model/SaveMultipleOperationsTest.php
Labels: Auto-Tests: Covered, Award: advanced, Award: category of expertise, Award: test coverage, Component: AsynchronousOperations, Component: WebapiAsync, Partner: Comwrap, Progress: accept, Release Line: 2.4, partners-contribution

#26763 fix: prevent undefined index error - closes #26762
  setup/src/Magento/Setup/Model/ConfigOptionsList/DriverOptions.php
Labels: Auto-Tests: Not Required, Award: bug fix, Component: Setup, Progress: accept, Release Line: 2.4

#26736 {ASI} : SortBy component added
  app/code/Magento/Ui/view/base/web/js/grid/sortBy.js
  app/code/Magento/Ui/view/base/web/templates/grid/sortBy.html
  app/design/adminhtml/Magento/backend/Magento_Ui/web/css/source/module/_masonry-grid.less
  dev/tests/js/jasmine/tests/app/code/Magento/Ui/base/js/grid/sortBy.test.js
Labels: Area: Design/Frontend, Area: Frontend, Auto-Tests: Covered, Component: Ui, Progress: accept, Release Line: 2.4

#26618 Correct docblock CartTotalRepository get method
  app/code/Magento/Quote/Model/Cart/CartTotalRepository.php
  app/code/Magento/Quote/Test/Unit/Model/Cart/CartTotalRepositoryTest.php
Labels: Cleanup, Component: Quote, Progress: accept, Release Line: 2.4

#26417 translate.js Not shows empty values
  dev/tests/js/jasmine/tests/lib/mage/translate.test.js
  lib/web/mage/translate.js
Labels: Area: Lib/Frontend, Auto-Tests: Covered, Component: Translation, Progress: accept

#27493 Fix the minicart items actions alignment for tablet and desktop devices
  app/design/frontend/Magento/blank/Magento_Checkout/web/css/source/module/_minicart.less
  app/design/frontend/Magento/luma/Magento_Checkout/web/css/source/module/_minicart.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Award: bug fix, Cleanup, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#27492 Fixed tests for Magento\Framework\Stdlib\DateTime\DateTime
  lib/internal/Magento/Framework/Stdlib/Test/Unit/DateTime/DateTimeTest.php
Labels: Auto-Tests: Covered, Component: Stdlib, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#27399 Fixed the wrong behavior for a prompt modal when a user clicks on the modal overlay
  app/code/Magento/Ui/view/base/web/js/modal/prompt.js
  dev/tests/js/jasmine/tests/app/code/Magento/Ui/base/js/modal/prompt.test.js
Labels: Area: Frontend, Auto-Tests: Covered, Component: Ui, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#26397 Cleanup ObjectManager usage - Magento_Bundle
  app/code/Magento/Braintree/Test/Unit/Gateway/Response/PayPal/VaultDetailsHandlerTest.php
  app/code/Magento/Braintree/Test/Unit/Gateway/Response/VaultDetailsHandlerTest.php
  app/code/Magento/Bundle/Block/Catalog/Product/View/Type/Bundle.php
  app/code/Magento/Bundle/Model/LinkManagement.php
  app/code/Magento/Bundle/Model/Product/SaveHandler.php
  app/code/Magento/Bundle/Model/ResourceModel/Indexer/Stock.php
  app/code/Magento/Bundle/Model/ResourceModel/Option.php
  app/code/Magento/Bundle/Model/Sales/Order/Pdf/Items/AbstractItems.php
  app/code/Magento/Bundle/Model/Sales/Order/Pdf/Items/Creditmemo.php
  app/code/Magento/Bundle/Model/Sales/Order/Pdf/Items/Invoice.php
  app/code/Magento/Bundle/Model/Sales/Order/Pdf/Items/Shipment.php
  app/code/Magento/Bundle/Pricing/Adjustment/Calculator.php
  app/code/Magento/Bundle/Pricing/Price/BundleOptionPrice.php
  app/code/Magento/Bundle/Pricing/Price/FinalPrice.php
  app/code/Magento/Bundle/Test/Unit/Model/LinkManagementTest.php
  app/code/Magento/Bundle/Test/Unit/Model/Sales/Order/Pdf/Items/AbstractItemsTest.php
  app/code/Magento/Bundle/Test/Unit/Pricing/Price/BundleOptionsTest.php
  app/code/Magento/Bundle/Test/Unit/Pricing/Price/FinalPriceTest.php
  app/code/Magento/Newsletter/Test/Unit/Model/Plugin/CustomerPluginTest.php
  app/code/Magento/WeeeGraphQl/Test/Unit/FixedProductTaxTest.php
  app/code/Magento/WishlistGraphQl/Test/Unit/CustomerWishlistResolverTest.php
Labels: Auto-Tests: Covered, Cleanup, Component: Braintree, Component: Bundle, Component: Newsletter, Component: WeeeGraphQl, Component: WishlistGraphQl, Partner: Fast White Cat, Progress: accept, Release Line: 2.4, partners-contribution

#26100 Fixed 24990: link doesn't redirect to dashboard
  app/code/Magento/Backend/Test/Mftf/ActionGroup/AdminClickLogoActionGroup.xml
  app/code/Magento/Backend/Test/Mftf/ActionGroup/AdminNavigateToSetupWizardPageActionGroup.xml
  app/code/Magento/Backend/Test/Mftf/Page/AdminSetupWizardPage.xml
  app/code/Magento/Backend/Test/Mftf/Section/AdminMenuSection.xml
  app/code/Magento/Backend/Test/Mftf/Test/AdminRedirectToAdminPanelOnLogoClickFromWizardPageTest.xml
  setup/src/Magento/Setup/Controller/Navigation.php
  setup/view/magento/setup/navigation/side-menu.phtml
Labels: Auto-Tests: Covered, Award: MFTF test coverage, Award: bug fix, Component: Backend, Component: Setup, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#27545 Fix XML Schema Location
  dev/tests/acceptance/tests/_suite/WYSIWYGDisabledSuite.xml
  dev/tests/acceptance/tests/_suite/suite.xml.sample
Labels: Auto-Tests: Not Required, Cleanup, Progress: accept, Release Line: 2.4

#27544 Fix incorrect alignment element in login container theme blank
  app/design/frontend/Magento/blank/Magento_Customer/web/css/source/_module.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Event: Global-Contribution-Day, Progress: ready for testing, Release Line: 2.4

#27526 [MFTF] using StorefrontOpenHomePageActionGroup for navigation to Home Page
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontBundleProductShownInCategoryListAndGridTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontCustomerSearchBundleProductsByKeywordsTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontGoToDetailsPageWhenAddingToCartTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCheckCustomAttributeValuesAfterProductSaveTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateRootCategoryAndSubcategoriesTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateVirtualProductWithTierPriceTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminMoveAnchoredCategoryTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminMoveProductBetweenCategoriesTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminProductCustomURLKeyPreservedWhenAssignedToCategoryWithoutCustomURLKeyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/DeleteCategoriesTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/EndToEndB2CGuestUserTest/EndToEndB2CGuestUserMysqlTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/EndToEndB2CGuestUserTest/EndToEndB2CGuestUserTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/StoreFrontRecentlyViewedAtStoreLevelTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/StoreFrontRecentlyViewedAtStoreViewLevelTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/StorefrontCategoryHighlightedAndProductDisplayedTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/StorefrontForthLevelCategoryTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/StorefrontPurchaseProductCustomOptionsDifferentStoreViewsTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/VerifyChildCategoriesShouldNotIncludeInMenuTest.xml
  app/code/Magento/CatalogSearch/Test/Mftf/Test/AdminCreateSearchTermEntityTest.xml
  app/code/Magento/CatalogSearch/Test/Mftf/Test/StorefrontUpdateSearchTermEntityTest.xml
  app/code/Magento/CatalogUrlRewrite/Test/Mftf/Test/RewriteStoreLevelUrlKeyOfChildCategoryTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/ShoppingCartAndMiniShoppingCartPerCustomerTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminCreateConfigurableProductWithTwoOptionsAssignedToCategoryTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminCreateConfigurableProductWithTwoOptionsWithoutAssignedToCategoryTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/StorefrontConfigurableProductWithFileCustomOptionTest.xml
  app/code/Magento/Customer/Test/Mftf/Test/AdminCustomerSubscribeNewsletterPerWebsiteTest.xml
  app/code/Magento/Downloadable/Test/Mftf/Test/AdminCreateDownloadableProductAndAssignItToCustomStoreTest.xml
  app/code/Magento/Elasticsearch/Test/Mftf/Test/StorefrontProductQuickSearchWithDecimalAttributeUsingElasticSearchTest.xml
  app/code/Magento/Elasticsearch6/Test/Mftf/Test/StorefrontElasticsearch6SearchInvalidValueTest.xml
  app/code/Magento/LayeredNavigation/Test/Mftf/Test/ShopByButtonInMobileTest.xml
  app/code/Magento/Newsletter/Test/Mftf/Test/AdminNameEmptyForGuestTest.xml
  app/code/Magento/Persistent/Test/Mftf/Test/ShippingQuotePersistedForGuestTest.xml
  app/code/Magento/Search/Test/Mftf/Test/AdminMassDeleteSearchTermEntityTest.xml
  app/code/Magento/Store/Test/Mftf/ActionGroup/AssertStorefrontStoreNotVisibleInFooterActionGroup.xml
  app/code/Magento/Store/Test/Mftf/ActionGroup/AssertStorefrontStoreVisibleInFooterActionGroup.xml
  app/code/Magento/Store/Test/Mftf/ActionGroup/AssertStorefrontStoreVisibleInHeaderActionGroup.xml
  app/code/Magento/Store/Test/Mftf/Test/AdminDeleteStoreViewTest.xml
  app/code/Magento/Store/Test/Mftf/Test/AdminUpdateStoreViewTest.xml
  app/code/Magento/UrlRewrite/Test/Mftf/Test/AdminCheckUrlRewritesInCatalogCategoriesAfterChangingUrlKeyForStoreViewAndMovingCategoryTest.xml
Labels: Auto-Tests: Not Required, Component: Bundle, Component: Catalog, Component: CatalogSearch, Component: CatalogUrlRewrite, Component: Checkout, Component: ConfigurableProduct, Component: Customer, Component: Downloadable, Component: Elasticsearch, Component: LayeredNavigation, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#27521 PhpUnit 8 Migration - AdminNotification
  app/code/Magento/AdminNotification/Test/Unit/Block/Grid/Renderer/ActionsTest.php
  app/code/Magento/AdminNotification/Test/Unit/Block/Grid/Renderer/NoticeTest.php
  app/code/Magento/AdminNotification/Test/Unit/Block/Grid/Renderer/SeverityTest.php
  app/code/Magento/AdminNotification/Test/Unit/Block/ToolbarEntryTest.php
  app/code/Magento/AdminNotification/Test/Unit/Model/FeedTest.php
  app/code/Magento/AdminNotification/Test/Unit/Model/NotificationServiceTest.php
  app/code/Magento/AdminNotification/Test/Unit/Model/System/Message/CacheOutdatedTest.php
  app/code/Magento/AdminNotification/Test/Unit/Model/System/Message/Media/Synchronization/ErrorTest.php
  app/code/Magento/AdminNotification/Test/Unit/Model/System/Message/SecurityTest.php
  lib/internal/Magento/Framework/TestFramework/Unit/Listener/GarbageCleanup.php
  lib/internal/Magento/Framework/TestFramework/Unit/Listener/ReplaceObjectManager.php
Labels: Auto-Tests: Covered, Component: AdminNotification, Component: TestFramework, Progress: accept, Release Line: 2.4

#27497 [bugfix] The store logo is missing when using the Magento_blank theme
  app/design/frontend/Magento/blank/Magento_Theme/layout/default.xml
  app/design/frontend/Magento/blank/Magento_Theme/web/css/source/_module.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Award: bug fix, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#27495 Make the header switcher styles more flexible
  app/design/frontend/Magento/blank/Magento_Theme/web/css/source/_module.less
  app/design/frontend/Magento/luma/Magento_Theme/web/css/source/_module.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Award: bug fix, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#27463 Implement ActionInterface for /checkout/sidebar/removeItem
  app/code/Magento/Checkout/Controller/Sidebar/RemoveItem.php
  app/code/Magento/Checkout/Test/Unit/Controller/Sidebar/RemoveItemTest.php
Labels: Auto-Tests: Covered, Component: Checkout, Partner: Fast White Cat, Progress: accept, Release Line: 2.4, partners-contribution

#27295 Fix the error that is wrong link title of a downloadable product when enabling "Use Default Value"
  app/code/Magento/Downloadable/Model/Link/Builder.php
  app/code/Magento/Downloadable/Model/Sample/Builder.php
  app/code/Magento/Downloadable/Test/Unit/Model/Link/BuilderTest.php
  app/code/Magento/Downloadable/Test/Unit/Model/Sample/BuilderTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: Downloadable, Progress: accept, Release Line: 2.4

#26900 Removed references to '%context%' (dead code)
  lib/internal/Magento/Framework/RequireJs/Config.php
  lib/internal/Magento/Framework/RequireJs/Test/Unit/ConfigTest.php
Labels: Auto-Tests: Covered, Cleanup, Component: RequireJs, Progress: accept, Release Line: 2.4

#26801 Prevent resizing an image if it was already resized before
  app/code/Magento/MediaStorage/Service/ImageResize.php
  app/code/Magento/MediaStorage/Test/Unit/Service/ImageResizeTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: MediaStorage, Progress: accept, Release Line: 2.4

#27519 PhpUnit 8 Migration - Framework & AdminAnalytics
  app/code/Magento/AdminAnalytics/Test/Unit/Condition/CanViewNotificationTest.php
  dev/tests/static/testsuite/Magento/Test/Legacy/_files/obsolete_classes.php
Labels: Auto-Tests: Covered, Component: AdminAnalytics, Event: Global-Contribution-Day, Progress: accept, Release Line: 2.4

#27322 MFTF: Add `<magentoCron` instruction - Magento: Backend / Braintree / Captcha
  app/code/Magento/Backend/Test/Mftf/Test/AdminDashboardWithChartsChart.xml
  app/code/Magento/Braintree/Test/Mftf/Test/BraintreeCreditCardOnCheckoutTest.xml
  app/code/Magento/Braintree/Test/Mftf/Test/CreateAnAdminOrderUsingBraintreePaymentTest.xml
  app/code/Magento/Braintree/Test/Mftf/Test/CretateAdminOrderWithOnlinePaymentIncludingTaxAndDiscountTest.xml
  app/code/Magento/Captcha/Test/Mftf/Test/CaptchaFormsDisplayingTest/CaptchaWithDisabledGuestCheckoutTest.xml
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: Backend, Component: Braintree, Component: Captcha, Partner: Mediotype, Progress: accept, Release Line: 2.4, partners-contribution

#27321 MFTF: Add `<magentoCron` instruction - Magento_Bundle
  app/code/Magento/Bundle/Test/Mftf/ActionGroup/AdminCreateApiDynamicBundleProductActionGroup.xml
  app/code/Magento/Bundle/Test/Mftf/ActionGroup/AdminCreateApiDynamicBundleProductAllOptionTypesActionGroup.xml
  app/code/Magento/Bundle/Test/Mftf/ActionGroup/AdminCreateApiFixedBundleProductActionGroup.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminAddBundleItemsTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminAddBundleProductToCartFromWishListPageTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminAddDefaultImageBundleProductTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminAddDefaultVideoBundleProductTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminDeleteABundleProductTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminDeleteBundleDynamicProductTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminDeleteBundleFixedProductTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminEditRelatedBundleProductTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminFilterProductListByBundleProductTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminMassDeleteBundleProducts.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminProductBundleCreationTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminRemoveDefaultImageBundleProductTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminRemoveDefaultVideoBundleProductTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminShouldBeAbleToMassUpdateAttributesForBundleProductsTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/BundleProductFixedPricingTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/BundleProductWithTierPriceInCartTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/CurrencyChangingBundleProductInCartTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/EnableDisableBundleProductStatusTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/MassEnableDisableBundleProductsTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/NewProductsListWidgetBundleProductTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontAddBundleOptionsToCartTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontAdminEditDataTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontBundleCartTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontBundleProductDetailsTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontBundleProductShownInCategoryListAndGridTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontCustomerSelectAndSetBundleOptionsTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontEditBundleProductTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontGoToDetailsPageWhenAddingToCartTest.xml
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: Bundle, Partner: Mediotype, Progress: accept, Release Line: 2.4, partners-contribution

#27652 Fix An error occurred during delete folder from a media gallery.
  lib/web/mage/adminhtml/browser.js
Labels: Area: Lib/Frontend, Auto-Tests: Covered, P1, Progress: accept, Release Line: 2.4

#27627 magento/magento2#27500 - Replace deprecated constructs from OfflinePa…
  app/code/Magento/OfflinePayments/Test/Unit/Block/Form/AbstractInstructionTest.php
  app/code/Magento/OfflinePayments/Test/Unit/Block/Info/CheckmoTest.php
  app/code/Magento/OfflinePayments/Test/Unit/Model/BanktransferTest.php
  app/code/Magento/OfflinePayments/Test/Unit/Model/CashondeliveryTest.php
  app/code/Magento/OfflinePayments/Test/Unit/Model/CheckmoConfigProviderTest.php
  app/code/Magento/OfflinePayments/Test/Unit/Model/CheckmoTest.php
  app/code/Magento/OfflinePayments/Test/Unit/Model/InstructionsConfigProviderTest.php
  app/code/Magento/OfflinePayments/Test/Unit/Model/PurchaseorderTest.php
  app/code/Magento/OfflinePayments/Test/Unit/Observer/BeforeOrderPaymentSaveObserverTest.php
Labels: Auto-Tests: Covered, Component: OfflinePayments, Progress: accept, Release Line: 2.4

#27597 magento/partners-magento2ee#171 Cover reported Admin Log bug with MFTF tests
  app/code/Magento/Cms/Test/Mftf/ActionGroup/AdminCmsPageUpdateTitleActionGroup.xml
  app/code/Magento/Ui/Test/Mftf/ActionGroup/AdminAssertGridNotEmptyActionGroup.xml
  app/code/Magento/Ui/Test/Mftf/ActionGroup/AdminUiGridSelectFilterOptionActionGroup.xml
  app/code/Magento/Ui/Test/Mftf/Section/AdminDataGridFilterSection.xml
Labels: Auto-Tests: Not Required, Component: Cms, Component: Ui, Event: Global-Contribution-Day, P2, Partner: Mediotype, Progress: accept, Release Line: 2.4, partners-contribution

#27563 [MFTF] Set correct url for CmsPageEditPage
  app/code/Magento/Cms/Test/Mftf/ActionGroup/ClearWidgetsForCMSHomePageContentWYSIWYGDisabledActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/ActionGroup/ClearWidgetsFromCMSContentActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/Page/AdminCmsPageEditPage.xml
  app/code/Magento/Cms/Test/Mftf/Page/CmsPageEditPage.xml
Labels: Auto-Tests: Covered, Component: Cms, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#27491 Cleanup ObjectManager usage - Magento_Developer
  app/code/Magento/Developer/Console/Command/GeneratePatchCommand.php
  app/code/Magento/Developer/Model/Css/PreProcessor/FileGenerator/PublicationDecorator.php
  app/code/Magento/Developer/Model/TemplateEngine/Plugin/DebugHints.php
  app/code/Magento/Developer/Model/View/Asset/PreProcessor/PreprocessorStrategy.php
  app/code/Magento/Developer/Model/XmlCatalog/Format/PhpStorm.php
  app/code/Magento/Developer/Test/Unit/Model/TemplateEngine/Plugin/DebugHintsTest.php
  app/code/Magento/Developer/Test/Unit/Model/View/Asset/PreProcessor/PreprocessorStrategyTest.php
Labels: Auto-Tests: Covered, Cleanup, Component: Developer, P2, Partner: Fast White Cat, Progress: accept, Release Line: 2.4, S3, partners-contribution

#27343 13851 Added improvements for credit memo total fields
  app/code/Magento/Sales/Block/Adminhtml/Order/Creditmemo/Create/Adjustments.php
  app/code/Magento/Sales/Model/Order/CreditmemoFactory.php
  app/code/Magento/Sales/Test/Mftf/ActionGroup/AssertAdminCreditMemoNewPageTotalsActionGroup.xml
  app/code/Magento/Sales/Test/Mftf/ActionGroup/AssertAdminCreditMemoViewPageTotalsActionGroup.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCheckNewCreditMemoTotalsForFranceTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCreateCreditMemoWithCashOnDeliveryTest.xml
  app/code/Magento/Sales/view/adminhtml/templates/order/creditmemo/create/totals/adjustments.phtml
Labels: Area: Frontend, Auto-Tests: Covered, Award: MFTF test coverage, Award: bug fix, Component: Sales, P1, Partner: Atwix, Progress: accept, Release Line: 2.4, S1, partners-contribution

#26988 #26986 REST API Pagination issue
  app/code/Magento/Catalog/Model/ResourceModel/Product/Collection.php
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AssertStorefrontNoProductsFoundActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/Data/CatalogStorefrontConfigData.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminMoveProductBetweenCategoriesTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminProductCategoryIndexerInUpdateOnScheduleModeTest.xml
  app/code/Magento/Catalog/view/frontend/web/js/product/list/toolbar.js
  app/code/Magento/Elasticsearch/Model/ResourceModel/Fulltext/Collection/SearchCriteriaResolver.php
  app/code/Magento/Elasticsearch6/Test/Mftf/Test/StorefrontProductQuickSearchUsingElasticSearch6Test.xml
  app/code/Magento/Elasticsearch6/Test/Mftf/Test/StorefrontProductQuickSearchUsingElasticSearch6WithNotAvailablePageTest.xml
  dev/tests/api-functional/testsuite/Magento/Catalog/Api/ProductRepositoryInterfaceTest.php
  dev/tests/api-functional/testsuite/Magento/ProductVideo/ProductVideoExternalSourceTest.php
  lib/internal/Magento/Framework/Data/Collection.php
Labels: Area: Frontend, Auto-Tests: Covered, Award: bug fix, Award: category of expertise, Award: complex, Award: test coverage, Component: Catalog, Component: Data, Component: Elasticsearch, P1, Partner: Mediotype, Progress: accept, Release Line: 2.4, S2, partners-contribution

#26926 Fix hard-code scope store string
  app/code/Magento/Customer/Model/EmailNotification.php
  app/code/Magento/Customer/Test/Unit/Model/EmailNotificationTest.php
Labels: Auto-Tests: Covered, Component: Customer, P2, Progress: accept, Release Line: 2.4, S2

#26036 Fixes phpcs errors and warnings for Magento\Framework\Image
  dev/tests/static/testsuite/Magento/Test/Php/_files/phpstan/blacklist/common.txt
  lib/internal/Magento/Framework/Image/Adapter/AbstractAdapter.php
  lib/internal/Magento/Framework/Image/Adapter/AdapterInterface.php
  lib/internal/Magento/Framework/Image/Adapter/Config.php
  lib/internal/Magento/Framework/Image/Adapter/ConfigInterface.php
  lib/internal/Magento/Framework/Image/Adapter/Gd2.php
  lib/internal/Magento/Framework/Image/Adapter/ImageMagick.php
  lib/internal/Magento/Framework/Image/Adapter/UploadConfigInterface.php
  lib/internal/Magento/Framework/Image/AdapterFactory.php
  lib/internal/Magento/Framework/Image/Factory.php
  lib/internal/Magento/Framework/View/Element/BlockFactory.php
  lib/internal/Magento/Framework/View/Element/UiComponent/SubjectInterface.php
Labels: Auto-Tests: Not Required, Component: Image, Component: View, Event: Global-Contribution-Day, P2, Partner: creativestyle, Progress: accept, Release Line: 2.4, S2, partners-contribution

#27671 [MFTF] Use Action Group to click on minicart
  app/code/Magento/Bundle/Test/Mftf/Test/CurrencyChangingBundleProductInCartTest.xml
  app/code/Magento/Captcha/Test/Mftf/Test/CaptchaFormsDisplayingTest/CaptchaWithDisabledGuestCheckoutTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminAddInStockProductToTheCartTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminConfigureProductImagePlaceholderTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockWithCustomOptionsTest.xml
  app/code/Magento/CatalogRule/Test/Mftf/Test/AdminDeleteCatalogPriceRuleEntityTest/AdminDeleteCatalogPriceRuleEntityFromConfigurableProductTest.xml
  app/code/Magento/CatalogRule/Test/Mftf/Test/AdminDeleteCatalogPriceRuleEntityTest/AdminDeleteCatalogPriceRuleEntityFromSimpleProductTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/NoErrorCartCheckoutForProductsDeletedFromMiniCartTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/ShoppingCartAndMiniShoppingCartPerCustomerTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StoreFrontUpdateShoppingCartWhileUpdateMinicartTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontAddBundleDynamicProductToShoppingCartTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontAddConfigurableProductToShoppingCartTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontAddDownloadableProductToShoppingCartTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontAddGroupedProductToShoppingCartTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontAddTwoBundleMultiSelectOptionsToTheShoppingCartTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontDeleteBundleProductFromMiniShoppingCartTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontDeleteDownloadableProductFromMiniShoppingCartTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontDeleteSimpleAndVirtualProductFromMiniShoppingCartTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontDeleteSimpleProductFromMiniShoppingCartTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontProductNameMinicartOnCheckoutPageDifferentStoreViewsTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/ZeroSubtotalOrdersWithProcessingStatusTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/NoErrorForMiniCartItemEditTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCreateInvoiceTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/CreditMemoTotalAfterShippingDiscountTest.xml
Labels: Auto-Tests: Not Required, Component: Bundle, Component: Captcha, Component: Catalog, Component: CatalogRule, Component: Checkout, Component: ConfigurableProduct, Component: Sales, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#27552 Fix issue with loading mask on Admin Checkout
  app/code/Magento/Sales/Test/Mftf/ActionGroup/OrderSelectFlatRateShippingActionGroup.xml
Labels: Auto-Tests: Covered, Award: bug fix, Component: Sales, Partner: Mediotype, Progress: accept, Release Line: 2.4, partners-contribution

#27547 Fix type hint for Select::where
  lib/internal/Magento/Framework/DB/Select.php
Labels: Auto-Tests: Not Required, Cleanup, Component: DB, Event: Global-Contribution-Day, P3, Progress: accept, Release Line: 2.4, S3

#27676 [MFTF] Added new actionGroup to click on first row on order grid
  app/code/Magento/Backend/Test/Mftf/Test/AdminDashboardWithChartsChart.xml
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontAddBundleProductWithZeroPriceToShoppingCartTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/StorefrontPurchaseProductCustomOptionsDifferentStoreViewsTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/StorefrontPurchaseProductWithCustomOptionsWithLongValuesTitleTest.xml
  app/code/Magento/CatalogInventory/Test/Mftf/Test/AssociatedProductToConfigurableOutOfStockTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontApplyPromoCodeDuringCheckoutTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontGuestCheckoutTest/StorefrontGuestCheckoutTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/ZeroSubtotalOrdersWithProcessingStatusTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/ProductsQtyReturnAfterOrderCancelTest.xml
  app/code/Magento/Fedex/Test/Mftf/Test/AdminCreatingShippingLabelTest.xml
  app/code/Magento/Sales/Test/Mftf/ActionGroup/AdminOrderGridClickFirstRowActionGroup.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCorrectnessInvoicedItemInBundleProductTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCreateInvoiceTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/CreditMemoTotalAfterShippingDiscountTest.xml
Labels: Auto-Tests: Not Required, Component: Backend, Component: Bundle, Component: Catalog, Component: CatalogInventory, Component: Checkout, Component: ConfigurableProduct, Component: Fedex, Component: Sales, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#27522 PhpUnit 8 Migration - Amqp
  app/code/Magento/Amqp/Test/Unit/Setup/ConfigOptionsListTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: Amqp, Progress: accept, Release Line: 2.4

#27448 Sitemap Observer Unit Test improvement: Expect email notification to send, and simplify setup a bit.
  app/code/Magento/Sitemap/Test/Unit/Model/ObserverTest.php
Labels: Auto-Tests: Covered, Component: Sitemap, Partner: Vaimo, Progress: accept, Release Line: 2.4, partners-contribution

#27824 #27500 Prepare CatalogUrlRewrite module Tests for PHPUnit 8
  app/code/Magento/CatalogUrlRewrite/Test/Unit/Model/Category/CanonicalUrlRewriteGeneratorTest.php
  app/code/Magento/CatalogUrlRewrite/Test/Unit/Model/Category/ChildrenCategoriesProviderTest.php
  app/code/Magento/CatalogUrlRewrite/Test/Unit/Model/Category/ChildrenUrlRewriteGeneratorTest.php
  app/code/Magento/CatalogUrlRewrite/Test/Unit/Model/Category/CurrentUrlRewritesRegeneratorTest.php
  app/code/Magento/CatalogUrlRewrite/Test/Unit/Model/Category/Plugin/Category/MoveTest.php
  app/code/Magento/CatalogUrlRewrite/Test/Unit/Model/Category/Plugin/Category/RemoveTest.php
  app/code/Magento/CatalogUrlRewrite/Test/Unit/Model/Category/Plugin/Category/UpdateUrlPathTest.php
  app/code/Magento/CatalogUrlRewrite/Test/Unit/Model/Category/Plugin/StorageTest.php
  app/code/Magento/CatalogUrlRewrite/Test/Unit/Model/Category/Plugin/Store/GroupTest.php
  app/code/Magento/CatalogUrlRewrite/Test/Unit/Model/Category/Plugin/Store/ViewTest.php
  app/code/Magento/CatalogUrlRewrite/Test/Unit/Model/CategoryBasedProductRewriteGeneratorTest.php
  app/code/Magento/CatalogUrlRewrite/Test/Unit/Model/CategoryProductUrlPathGeneratorTest.php
  app/code/Magento/CatalogUrlRewrite/Test/Unit/Model/CategoryUrlPathGeneratorTest.php
  app/code/Magento/CatalogUrlRewrite/Test/Unit/Model/CategoryUrlRewriteGeneratorTest.php
  app/code/Magento/CatalogUrlRewrite/Test/Unit/Model/Map/DataCategoryHashMapTest.php
  app/code/Magento/CatalogUrlRewrite/Test/Unit/Model/Map/DataCategoryUrlRewriteDatabaseMapTest.php
  app/code/Magento/CatalogUrlRewrite/Test/Unit/Model/Map/DataCategoryUsedInProductsHashMapTest.php
  app/code/Magento/CatalogUrlRewrite/Test/Unit/Model/Map/DataProductHashMapTest.php
  app/code/Magento/CatalogUrlRewrite/Test/Unit/Model/Map/DataProductUrlRewriteDatabaseMapTest.php
  app/code/Magento/CatalogUrlRewrite/Test/Unit/Model/Map/HashMapPoolTest.php
  app/code/Magento/CatalogUrlRewrite/Test/Unit/Model/Map/UrlRewriteFinderTest.php
  app/code/Magento/CatalogUrlRewrite/Test/Unit/Model/ObjectRegistryTest.php
  app/code/Magento/CatalogUrlRewrite/Test/Unit/Model/Product/AnchorUrlRewriteGeneratorTest.php
  app/code/Magento/CatalogUrlRewrite/Test/Unit/Model/Product/CanonicalUrlRewriteGeneratorTest.php
  app/code/Magento/CatalogUrlRewrite/Test/Unit/Model/Product/CategoriesUrlRewriteGeneratorTest.php
  app/code/Magento/CatalogUrlRewrite/Test/Unit/Model/Product/CurrentUrlRewritesRegeneratorTest.php
  app/code/Magento/CatalogUrlRewrite/Test/Unit/Model/ProductScopeRewriteGeneratorTest.php
  app/code/Magento/CatalogUrlRewrite/Test/Unit/Model/ProductUrlPathGeneratorTest.php
  app/code/Magento/CatalogUrlRewrite/Test/Unit/Model/ProductUrlRewriteGeneratorTest.php
  app/code/Magento/CatalogUrlRewrite/Test/Unit/Model/UrlRewriteBunchReplacerTest.php
  app/code/Magento/CatalogUrlRewrite/Test/Unit/Observer/AfterImportDataObserverTest.php
  app/code/Magento/CatalogUrlRewrite/Test/Unit/Observer/CategoryProcessUrlRewriteMovingObserverTest.php
  app/code/Magento/CatalogUrlRewrite/Test/Unit/Observer/CategoryProcessUrlRewriteSavingObserverTest.php
  app/code/Magento/CatalogUrlRewrite/Test/Unit/Observer/CategoryUrlPathAutogeneratorObserverTest.php
  app/code/Magento/CatalogUrlRewrite/Test/Unit/Observer/ClearProductUrlsObserverTest.php
  app/code/Magento/CatalogUrlRewrite/Test/Unit/Observer/ProductProcessUrlRewriteSavingObserverTest.php
  app/code/Magento/CatalogUrlRewrite/Test/Unit/Observer/ProductUrlKeyAutogeneratorObserverTest.php
  app/code/Magento/CatalogUrlRewrite/Test/Unit/Observer/UrlRewriteHandlerTest.php
  app/code/Magento/CatalogUrlRewrite/Test/Unit/Plugin/Webapi/Controller/Rest/InputParamsResolverTest.php
  app/code/Magento/CatalogUrlRewrite/Test/Unit/Service/V1/StoreViewServiceTest.php
  app/code/Magento/CatalogUrlRewrite/Test/Unit/Ui/DataProvider/Product/Form/Modifier/ProductUrlRewriteTest.php
Labels: Auto-Tests: Covered, Component: CatalogUrlRewrite, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27825 #27500 Prepare DownloadableImportExport module Tests for PHPUnit 8
  app/code/Magento/DownloadableImportExport/Test/Unit/Helper/DataTest.php
  app/code/Magento/DownloadableImportExport/Test/Unit/Model/Import/Product/Type/DownloadableTest.php
Labels: Auto-Tests: Covered, Component: DownloadableImportExport, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27821 #27500 Prepare BundleImportExport module Tests for PHPUnit 8
  app/code/Magento/BundleImportExport/Test/Unit/Model/Export/Product/RowCustomizerTest.php
  app/code/Magento/BundleImportExport/Test/Unit/Model/Import/Product/Type/Bundle/RelationsDataSaverTest.php
  app/code/Magento/BundleImportExport/Test/Unit/Model/Import/Product/Type/BundleTest.php
Labels: Auto-Tests: Covered, Component: BundleImportExport, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27820 #27500 Prepare GroupedImportExport module Tests for PHPUnit 8
  app/code/Magento/GroupedImportExport/Test/Unit/Model/Export/Product/RowCustomizerTest.php
  app/code/Magento/GroupedImportExport/Test/Unit/Model/Import/Product/Type/Grouped/LinksTest.php
  app/code/Magento/GroupedImportExport/Test/Unit/Model/Import/Product/Type/GroupedTest.php
Labels: Component: GroupedImportExport, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27819 #27500 Prepare Weee module Tests for PHPUnit 8
  app/code/Magento/Weee/Test/Unit/App/Action/ContextPluginTest.php
  app/code/Magento/Weee/Test/Unit/Block/Element/Weee/TaxTest.php
  app/code/Magento/Weee/Test/Unit/Block/Item/Price/RendererTest.php
  app/code/Magento/Weee/Test/Unit/Helper/DataTest.php
  app/code/Magento/Weee/Test/Unit/Model/Attribute/Backend/Weee/TaxTest.php
  app/code/Magento/Weee/Test/Unit/Model/ConfigTest.php
  app/code/Magento/Weee/Test/Unit/Model/ResourceModel/Attribute/Backend/Weee/TaxTest.php
  app/code/Magento/Weee/Test/Unit/Model/ResourceModel/TaxTest.php
  app/code/Magento/Weee/Test/Unit/Model/TaxTest.php
  app/code/Magento/Weee/Test/Unit/Model/Total/Creditmemo/WeeeTest.php
  app/code/Magento/Weee/Test/Unit/Model/Total/Invoice/WeeeTest.php
  app/code/Magento/Weee/Test/Unit/Model/Total/Quote/WeeeTaxTest.php
  app/code/Magento/Weee/Test/Unit/Model/Total/Quote/WeeeTest.php
  app/code/Magento/Weee/Test/Unit/Model/WeeeConfigProviderTest.php
  app/code/Magento/Weee/Test/Unit/Observer/AddPaymentWeeeItemTest.php
  app/code/Magento/Weee/Test/Unit/Observer/AfterAddressSaveTest.php
  app/code/Magento/Weee/Test/Unit/Observer/CustomerLoggedInTest.php
  app/code/Magento/Weee/Test/Unit/Observer/GetPriceConfigurationObserverTest.php
  app/code/Magento/Weee/Test/Unit/Observer/SetWeeeRendererInFormObserverTest.php
  app/code/Magento/Weee/Test/Unit/Observer/UpdateProductOptionsObserverTest.php
  app/code/Magento/Weee/Test/Unit/Plugin/Catalog/Controller/Adminhtml/Product/Initialization/Helper/ProcessTaxAttributeTest.php
  app/code/Magento/Weee/Test/Unit/Plugin/Ui/DataProvider/WeeeSettingsTest.php
  app/code/Magento/Weee/Test/Unit/Pricing/AdjustmentTest.php
  app/code/Magento/Weee/Test/Unit/Pricing/Render/AdjustmentTest.php
  app/code/Magento/Weee/Test/Unit/Pricing/Render/TaxAdjustmentTest.php
  app/code/Magento/Weee/Test/Unit/Pricing/TaxAdjustmentTest.php
  app/code/Magento/Weee/Test/Unit/Ui/DataProvider/Product/Form/Modifier/Manager/WebsiteTest.php
  app/code/Magento/Weee/Test/Unit/Ui/DataProvider/Product/Form/Modifier/WeeeTest.php
  app/code/Magento/Weee/Test/Unit/Ui/DataProvider/Product/Listing/Collector/WeeeTest.php
Labels: Auto-Tests: Covered, Award: category of expertise, Component: Weee, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27817 #27500 Prepare GroupedProduct module Tests for PHPUnit 8
  app/code/Magento/GroupedProduct/Test/Unit/Block/Adminhtml/Order/Create/SidebarTest.php
  app/code/Magento/GroupedProduct/Test/Unit/Block/Adminhtml/Product/Composite/Fieldset/GroupedTest.php
  app/code/Magento/GroupedProduct/Test/Unit/Block/Cart/Item/Renderer/GroupedTest.php
  app/code/Magento/GroupedProduct/Test/Unit/Block/Product/Grouped/AssociatedProducts/ListAssociatedProductsTest.php
  app/code/Magento/GroupedProduct/Test/Unit/Block/Product/Grouped/AssociatedProductsTest.php
  app/code/Magento/GroupedProduct/Test/Unit/Block/Product/View/Type/GroupedTest.php
  app/code/Magento/GroupedProduct/Test/Unit/Block/Stockqty/Type/GroupedTest.php
  app/code/Magento/GroupedProduct/Test/Unit/Controller/Adminhtml/Edit/PopupTest.php
  app/code/Magento/GroupedProduct/Test/Unit/Helper/Product/Configuration/Plugin/GroupedTest.php
  app/code/Magento/GroupedProduct/Test/Unit/Model/Product/Cart/Configuration/Plugin/GroupedTest.php
  app/code/Magento/GroupedProduct/Test/Unit/Model/Product/CatalogPriceTest.php
  app/code/Magento/GroupedProduct/Test/Unit/Model/Product/CopyConstructor/GroupedTest.php
  app/code/Magento/GroupedProduct/Test/Unit/Model/Product/Initialization/Helper/ProductLinks/Plugin/GroupedTest.php
  app/code/Magento/GroupedProduct/Test/Unit/Model/Product/Type/Grouped/PriceTest.php
  app/code/Magento/GroupedProduct/Test/Unit/Model/Product/Type/GroupedTest.php
  app/code/Magento/GroupedProduct/Test/Unit/Model/Product/Type/PluginTest.php
  app/code/Magento/GroupedProduct/Test/Unit/Model/ProductTest.php
  app/code/Magento/GroupedProduct/Test/Unit/Model/ResourceModel/Product/Link/RelationPersisterTest.php
  app/code/Magento/GroupedProduct/Test/Unit/Model/Sales/AdminOrder/Product/Quote/Plugin/InitializerTest.php
  app/code/Magento/GroupedProduct/Test/Unit/Model/Wishlist/Product/ItemTest.php
  app/code/Magento/GroupedProduct/Test/Unit/Pricing/Price/ConfiguredPriceTest.php
  app/code/Magento/GroupedProduct/Test/Unit/Pricing/Price/FinalPriceTest.php
  app/code/Magento/GroupedProduct/Test/Unit/Ui/DataProvider/Product/Form/Modifier/CustomOptionsTest.php
  app/code/Magento/GroupedProduct/Test/Unit/Ui/DataProvider/Product/Form/Modifier/GroupedTest.php
  app/code/Magento/GroupedProduct/Test/Unit/Ui/DataProvider/Product/GroupedProductDataProviderTest.php
Labels: Auto-Tests: Covered, Component: GroupedProduct, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27576 [AdvancedSearch] Fix PHPUnit 8 compatibility issues
  app/code/Magento/AdvancedSearch/Test/Unit/Block/SearchDataTest.php
  app/code/Magento/AdvancedSearch/Test/Unit/Controller/Adminhtml/Search/System/Config/TestConnectionTest.php
  app/code/Magento/AdvancedSearch/Test/Unit/Model/Client/ClientResolverTest.php
  app/code/Magento/AdvancedSearch/Test/Unit/Model/Indexer/Fulltext/Plugin/CustomerGroupTest.php
  app/code/Magento/AdvancedSearch/Test/Unit/Model/Recommendations/DataProviderTest.php
  app/code/Magento/AdvancedSearch/Test/Unit/Model/ResourceModel/IndexTest.php
  app/code/Magento/AdvancedSearch/Test/Unit/Model/SuggestedQueriesTest.php
Labels: Auto-Tests: Covered, Component: AdvancedSearch, Event: Global-Contribution-Day, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#27577 magento/magento2#27500 Replace deprecated constructs from Cron PHPUnit.
  app/code/Magento/Cron/Test/Unit/Console/Command/CronCommandTest.php
  app/code/Magento/Cron/Test/Unit/Console/Command/CronInstallCommandTest.php
  app/code/Magento/Cron/Test/Unit/Console/Command/CronRemoveCommandTest.php
  app/code/Magento/Cron/Test/Unit/Model/Config/Converter/DbTest.php
  app/code/Magento/Cron/Test/Unit/Model/Config/Converter/XmlTest.php
  app/code/Magento/Cron/Test/Unit/Model/Config/Reader/DbTest.php
  app/code/Magento/Cron/Test/Unit/Model/Config/Reader/XmlTest.php
  app/code/Magento/Cron/Test/Unit/Model/Config/SchemaLocatorTest.php
  app/code/Magento/Cron/Test/Unit/Model/Config/XsdTest.php
  app/code/Magento/Cron/Test/Unit/Model/ConfigTest.php
  app/code/Magento/Cron/Test/Unit/Model/Groups/Config/Converter/XmlTest.php
  app/code/Magento/Cron/Test/Unit/Model/ScheduleTest.php
  app/code/Magento/Cron/Test/Unit/Model/System/Config/Initial/ConverterTest.php
  app/code/Magento/Cron/Test/Unit/Observer/ProcessCronQueueObserverTest.php
Labels: Auto-Tests: Covered, Component: Cron, Event: Global-Contribution-Day, Partner: Mediotype, Progress: accept, Release Line: 2.4, partners-contribution

#27826 #27500 Prepare CatalogInventory module Tests for PHPUnit 8
  app/code/Magento/CatalogInventory/Test/Unit/Api/StockConfigurationTest.php
  app/code/Magento/CatalogInventory/Test/Unit/Api/StockRegistryTest.php
  app/code/Magento/CatalogInventory/Test/Unit/Api/StockStateTest.php
  app/code/Magento/CatalogInventory/Test/Unit/Block/Adminhtml/Form/Field/StockTest.php
  app/code/Magento/CatalogInventory/Test/Unit/Block/Plugin/ProductViewTest.php
  app/code/Magento/CatalogInventory/Test/Unit/Block/QtyincrementsTest.php
  app/code/Magento/CatalogInventory/Test/Unit/Block/Stockqty/DefaultStockqtyTest.php
  app/code/Magento/CatalogInventory/Test/Unit/Helper/MinsaleqtyTest.php
  app/code/Magento/CatalogInventory/Test/Unit/Helper/StockTest.php
  app/code/Magento/CatalogInventory/Test/Unit/Model/AddStockStatusToCollectionTest.php
  app/code/Magento/CatalogInventory/Test/Unit/Model/Adminhtml/Stock/ItemTest.php
  app/code/Magento/CatalogInventory/Test/Unit/Model/Config/Backend/ManagestockTest.php
  app/code/Magento/CatalogInventory/Test/Unit/Model/ConfigurationTest.php
  app/code/Magento/CatalogInventory/Test/Unit/Model/Indexer/ProductPriceIndexFilterTest.php
  app/code/Magento/CatalogInventory/Test/Unit/Model/Indexer/Stock/Action/FullTest.php
  app/code/Magento/CatalogInventory/Test/Unit/Model/Indexer/Stock/Action/RowTest.php
  app/code/Magento/CatalogInventory/Test/Unit/Model/Indexer/Stock/Action/RowsTest.php
  app/code/Magento/CatalogInventory/Test/Unit/Model/Indexer/Stock/CacheCleanerTest.php
  app/code/Magento/CatalogInventory/Test/Unit/Model/Indexer/Stock/Plugin/StoreGroupTest.php
  app/code/Magento/CatalogInventory/Test/Unit/Model/Plugin/AfterProductLoadTest.php
  app/code/Magento/CatalogInventory/Test/Unit/Model/Plugin/ProductLinksTest.php
  app/code/Magento/CatalogInventory/Test/Unit/Model/Product/CopyConstructor/CatalogInventoryTest.php
  app/code/Magento/CatalogInventory/Test/Unit/Model/Quote/Item/QuantityValidator/Initializer/OptionTest.php
  app/code/Magento/CatalogInventory/Test/Unit/Model/Quote/Item/QuantityValidator/Initializer/QtyProcessorTest.php
  app/code/Magento/CatalogInventory/Test/Unit/Model/Quote/Item/QuantityValidator/Initializer/QuantityValidatorTest.php
  app/code/Magento/CatalogInventory/Test/Unit/Model/Quote/Item/QuantityValidator/Initializer/StockItemTest.php
  app/code/Magento/CatalogInventory/Test/Unit/Model/Quote/Item/QuantityValidator/QuoteItemQtyListTest.php
  app/code/Magento/CatalogInventory/Test/Unit/Model/ResourceModel/Product/StockStatusBaseSelectProcessorTest.php
  app/code/Magento/CatalogInventory/Test/Unit/Model/ResourceModel/StockTest.php
  app/code/Magento/CatalogInventory/Test/Unit/Model/Source/StockTest.php
  app/code/Magento/CatalogInventory/Test/Unit/Model/Spi/StockRegistryProviderTest.php
  app/code/Magento/CatalogInventory/Test/Unit/Model/Spi/StockStateProviderTest.php
  app/code/Magento/CatalogInventory/Test/Unit/Model/Stock/ItemTest.php
  app/code/Magento/CatalogInventory/Test/Unit/Model/Stock/StockItemCheckerTest.php
  app/code/Magento/CatalogInventory/Test/Unit/Model/Stock/StockItemRepositoryTest.php
  app/code/Magento/CatalogInventory/Test/Unit/Model/Stock/StockRepositoryTest.php
  app/code/Magento/CatalogInventory/Test/Unit/Model/Stock/StockStatusRepositoryTest.php
  app/code/Magento/CatalogInventory/Test/Unit/Model/StockManagementTest.php
  app/code/Magento/CatalogInventory/Test/Unit/Model/StockRegistryTest.php
  app/code/Magento/CatalogInventory/Test/Unit/Model/StockTest.php
  app/code/Magento/CatalogInventory/Test/Unit/Observer/AddInventoryDataObserverTest.php
  app/code/Magento/CatalogInventory/Test/Unit/Observer/AddStockItemsObserverTest.php
  app/code/Magento/CatalogInventory/Test/Unit/Observer/CheckoutAllSubmitAfterObserverTest.php
  app/code/Magento/CatalogInventory/Test/Unit/Observer/InvalidatePriceIndexUponConfigChangeObserverTest.php
  app/code/Magento/CatalogInventory/Test/Unit/Observer/UpdateItemsStockUponConfigChangeObserverTest.php
  app/code/Magento/CatalogInventory/Test/Unit/Ui/Component/Product/Form/Element/UseConfigSettingsTest.php
  app/code/Magento/CatalogInventory/Test/Unit/Ui/DataProvider/Product/Form/Modifier/AdvancedInventoryTest.php
Labels: Auto-Tests: Covered, Component: CatalogInventory, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27818 #27500 Prepare CatalogSearch module Tests for PHPUnit 8
  app/code/Magento/CatalogSearch/Test/Unit/Block/Plugin/FrontTabPluginTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Block/ResultTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Controller/Advanced/ResultTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/Adapter/Aggregation/AggregationResolverTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/Adapter/Aggregation/Checker/Query/CatalogViewTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/Adapter/Mysql/Aggregation/DataProvider/QueryBuilderTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/Adapter/Mysql/Aggregation/DataProviderTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/Adapter/Mysql/Dynamic/DataProviderTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/Adapter/Mysql/Field/ResolverTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/Adapter/Mysql/Filter/AliasResolverTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/Adapter/Mysql/Filter/PreprocessorTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/Adapter/OptionsTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/Advanced/Request/BuilderTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/AdvancedTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/Attribute/SearchWeightTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/Autocomplete/DataProviderTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/Indexer/Fulltext/Action/FullTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/Indexer/Fulltext/Plugin/AttributeTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/Indexer/Fulltext/Plugin/CategoryTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/Indexer/Fulltext/Plugin/Product/ActionTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/Indexer/Fulltext/Plugin/ProductTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/Indexer/Fulltext/Plugin/Store/GroupTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/Indexer/Fulltext/Plugin/Store/ViewTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/Indexer/FulltextTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/Indexer/IndexStructureFactoryTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/Indexer/IndexSwitcherProxyTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/Indexer/IndexerHandlerFactoryTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/Indexer/Plugin/StockedProductsFilterPluginTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/Indexer/Scope/IndexSwitcherTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/Layer/Catalog/ItemCollectionProviderTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/Layer/Filter/AttributeTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/Layer/Filter/CategoryTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/Layer/Filter/DecimalTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/Layer/Filter/PriceTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/Layer/Search/Plugin/CollectionFilterTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/ResourceModel/Advanced/CollectionTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/ResourceModel/AdvancedTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/ResourceModel/BaseCollection.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/ResourceModel/EngineProviderTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/ResourceModel/EngineTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/ResourceModel/Fulltext/CollectionTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/ResourceModel/FulltextTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/ResourceModel/Setup/PropertyMapperTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/Search/BaseSelectStrategy/StrategyMapperTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/Search/CustomAttributeFilterCheckTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/Search/FilterMapper/ExclusionStrategyTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/Search/FilterMapper/FilterContextTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/Search/FilterMapper/TermDropdownStrategyTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/Search/IndexBuilderTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/Search/Indexer/IndexStructureTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/Search/QueryChecker/FullTextSearchCheckTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/Search/ReaderPluginTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/Search/RequestGenerator/DecimalTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/Search/RequestGenerator/GeneralTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/Search/RequestGenerator/GeneratorResolverTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/Search/RequestGeneratorTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/Search/SelectContainer/SelectContainerBuilderTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/Search/TableMapperTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Plugin/EnableEavIndexerTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Ui/DataProvider/Product/AddFulltextFilterToCollectionTest.php
Labels: Auto-Tests: Covered, Award: category of expertise, Component: CatalogSearch, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27637 [Contact] Fix PHPUnit 8 compatibility issues
  app/code/Magento/Contact/Test/Unit/Block/ContactFormTest.php
  app/code/Magento/Contact/Test/Unit/Controller/Index/IndexTest.php
  app/code/Magento/Contact/Test/Unit/Controller/Index/PostTest.php
  app/code/Magento/Contact/Test/Unit/Controller/IndexTest.php
  app/code/Magento/Contact/Test/Unit/Controller/Stub/IndexStub.php
  app/code/Magento/Contact/Test/Unit/Helper/DataTest.php
  app/code/Magento/Contact/Test/Unit/Model/ConfigTest.php
  app/code/Magento/Contact/Test/Unit/Model/MailTest.php
  app/code/Magento/Contact/Test/Unit/Model/System/Config/Backend/LinksTest.php
Labels: Auto-Tests: Covered, Component: Contact, Partner: Ziffity, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27816 #27500 Prepare CardinalCommerce module Tests for PHPUnit 8
  app/code/Magento/CardinalCommerce/Test/Unit/Model/JwtManagementTest.php
  app/code/Magento/CardinalCommerce/Test/Unit/Model/Response/JwtParserTest.php
  app/code/Magento/CardinalCommerce/Test/Unit/Model/Response/JwtPayloadValidatorTest.php
Labels: Auto-Tests: Covered, Component: CardinalCommerce, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27646 [Variable] Fix PHPUnit 8 compatibility issues
  app/code/Magento/Variable/Test/Unit/Controller/Adminhtml/System/Variable/ValidateTest.php
  app/code/Magento/Variable/Test/Unit/Model/Source/VariablesTest.php
  app/code/Magento/Variable/Test/Unit/Model/Variable/ConfigTest.php
  app/code/Magento/Variable/Test/Unit/Model/Variable/DataTest.php
  app/code/Magento/Variable/Test/Unit/Model/VariableTest.php
Labels: Auto-Tests: Not Required, Award: category of expertise, Component: Variable, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#27815 #27500 Prepare EncryptionKey module Tests for PHPUnit 8
  app/code/Magento/EncryptionKey/Test/Unit/Controller/Adminhtml/Crypt/Key/SaveTest.php
  app/code/Magento/EncryptionKey/Test/Unit/Model/ResourceModel/Key/ChangeTest.php
Labels: Auto-Tests: Covered, Component: EncryptionKey, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27814 #27500 Prepare AdvancedPricingImportExport module Tests for PHPUnit 8
  app/code/Magento/AdvancedPricingImportExport/Test/Unit/Model/Export/AdvancedPricingTest.php
  app/code/Magento/AdvancedPricingImportExport/Test/Unit/Model/Import/AdvancedPricing/Validator/TierPriceTest.php
  app/code/Magento/AdvancedPricingImportExport/Test/Unit/Model/Import/AdvancedPricing/Validator/TierPriceTypeTest.php
  app/code/Magento/AdvancedPricingImportExport/Test/Unit/Model/Import/AdvancedPricing/Validator/WebsiteTest.php
  app/code/Magento/AdvancedPricingImportExport/Test/Unit/Model/Import/AdvancedPricing/ValidatorTest.php
  app/code/Magento/AdvancedPricingImportExport/Test/Unit/Model/Import/AdvancedPricingTest.php
  app/code/Magento/AdvancedPricingImportExport/Test/Unit/Model/Indexer/Product/Price/Plugin/ImportTest.php
Labels: Auto-Tests: Covered, Component: AdvancedPricingImportExport, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27702 #27500 PHPUnit 8 for module CatalogWidget
  app/code/Magento/CatalogWidget/Test/Unit/Block/Product/ProductsListTest.php
  app/code/Magento/CatalogWidget/Test/Unit/Block/Product/Widget/ConditionsTest.php
  app/code/Magento/CatalogWidget/Test/Unit/Controller/Adminhtml/Product/Widget/ConditionsTest.php
  app/code/Magento/CatalogWidget/Test/Unit/Model/Rule/Condition/CombineTest.php
  app/code/Magento/CatalogWidget/Test/Unit/Model/Rule/Condition/ProductTest.php
  app/code/Magento/CatalogWidget/Test/Unit/Model/RuleTest.php
Labels: Auto-Tests: Covered, Component: CatalogWidget, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27812 #27500 Prepare Amqp module Tests for PHPUnit 8
  app/code/Magento/Amqp/Test/Unit/Setup/ConfigOptionsListTest.php
Labels: Auto-Tests: Covered, Component: Amqp, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27703 #27500 PHPUnit 8 for module AdminAnalytics
  app/code/Magento/AdminAnalytics/Test/Unit/Condition/CanViewNotificationTest.php
Labels: Auto-Tests: Not Required, Cleanup, Component: AdminAnalytics, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27704 #27500 PHPUnit 8 for module Marketplace
  app/code/Magento/Marketplace/Test/Unit/Block/PartnersTest.php
  app/code/Magento/Marketplace/Test/Unit/Controller/Index/IndexTest.php
  app/code/Magento/Marketplace/Test/Unit/Controller/Partners/IndexTest.php
  app/code/Magento/Marketplace/Test/Unit/Helper/CacheTest.php
  app/code/Magento/Marketplace/Test/Unit/Model/PartnersTest.php
Labels: Auto-Tests: Covered, Cleanup, Component: Marketplace, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27810 #27500 Prepare NewRelicReporting module Tests for PHPUnit 8
  app/code/Magento/NewRelicReporting/Test/Unit/Model/Apm/DeploymentsTest.php
  app/code/Magento/NewRelicReporting/Test/Unit/Model/CounterTest.php
  app/code/Magento/NewRelicReporting/Test/Unit/Model/Cron/ReportCountsTest.php
  app/code/Magento/NewRelicReporting/Test/Unit/Model/Cron/ReportModulesInfoTest.php
  app/code/Magento/NewRelicReporting/Test/Unit/Model/Cron/ReportNewRelicCronTest.php
  app/code/Magento/NewRelicReporting/Test/Unit/Model/CronEventTest.php
  app/code/Magento/NewRelicReporting/Test/Unit/Model/CronTest.php
  app/code/Magento/NewRelicReporting/Test/Unit/Model/Module/CollectTest.php
  app/code/Magento/NewRelicReporting/Test/Unit/Model/Observer/CheckConfigTest.php
  app/code/Magento/NewRelicReporting/Test/Unit/Model/Observer/ReportConcurrentAdminsTest.php
  app/code/Magento/NewRelicReporting/Test/Unit/Model/Observer/ReportConcurrentAdminsToNewRelicTest.php
  app/code/Magento/NewRelicReporting/Test/Unit/Model/Observer/ReportConcurrentUsersTest.php
  app/code/Magento/NewRelicReporting/Test/Unit/Model/Observer/ReportConcurrentUsersToNewRelicTest.php
  app/code/Magento/NewRelicReporting/Test/Unit/Model/Observer/ReportOrderPlacedTest.php
  app/code/Magento/NewRelicReporting/Test/Unit/Model/Observer/ReportOrderPlacedToNewRelicTest.php
  app/code/Magento/NewRelicReporting/Test/Unit/Model/Observer/ReportProductDeletedTest.php
  app/code/Magento/NewRelicReporting/Test/Unit/Model/Observer/ReportProductDeletedToNewRelicTest.php
  app/code/Magento/NewRelicReporting/Test/Unit/Model/Observer/ReportProductSavedTest.php
  app/code/Magento/NewRelicReporting/Test/Unit/Model/Observer/ReportProductSavedToNewRelicTest.php
  app/code/Magento/NewRelicReporting/Test/Unit/Model/Observer/ReportSystemCacheFlushTest.php
  app/code/Magento/NewRelicReporting/Test/Unit/Model/Observer/ReportSystemCacheFlushToNewRelicTest.php
  app/code/Magento/NewRelicReporting/Test/Unit/Plugin/CommandPluginTest.php
  app/code/Magento/NewRelicReporting/Test/Unit/Plugin/HttpPluginTest.php
  app/code/Magento/NewRelicReporting/Test/Unit/Plugin/StatPluginTest.php
  app/code/Magento/NewRelicReporting/Test/Unit/Plugin/StatePluginTest.php
Labels: Auto-Tests: Not Required, Component: NewRelicReporting, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27705 #27500 PHPUnit 8 for module Persistent
  app/code/Magento/Persistent/Test/Unit/Block/Header/AdditionalTest.php
  app/code/Magento/Persistent/Test/Unit/CustomerData/PersistentTest.php
  app/code/Magento/Persistent/Test/Unit/Helper/DataTest.php
  app/code/Magento/Persistent/Test/Unit/Helper/SessionTest.php
  app/code/Magento/Persistent/Test/Unit/Model/Checkout/ConfigProviderPluginTest.php
  app/code/Magento/Persistent/Test/Unit/Model/Checkout/GuestPaymentInformationManagementPluginTest.php
  app/code/Magento/Persistent/Test/Unit/Model/FactoryTest.php
  app/code/Magento/Persistent/Test/Unit/Model/Layout/DepersonalizePluginTest.php
  app/code/Magento/Persistent/Test/Unit/Model/ObserverTest.php
  app/code/Magento/Persistent/Test/Unit/Model/Plugin/CustomerDataTest.php
  app/code/Magento/Persistent/Test/Unit/Model/QuoteManagerTest.php
  app/code/Magento/Persistent/Test/Unit/Model/SessionTest.php
  app/code/Magento/Persistent/Test/Unit/Observer/ApplyBlockPersistentDataObserverTest.php
  app/code/Magento/Persistent/Test/Unit/Observer/ApplyPersistentDataObserverTest.php
  app/code/Magento/Persistent/Test/Unit/Observer/CheckExpirePersistentQuoteObserverTest.php
  app/code/Magento/Persistent/Test/Unit/Observer/ClearExpiredCronJobObserverTest.php
  app/code/Magento/Persistent/Test/Unit/Observer/CustomerAuthenticatedEventObserverTest.php
  app/code/Magento/Persistent/Test/Unit/Observer/EmulateCustomerObserverTest.php
  app/code/Magento/Persistent/Test/Unit/Observer/EmulateQuoteObserverTest.php
  app/code/Magento/Persistent/Test/Unit/Observer/MakePersistentQuoteGuestObserverTest.php
  app/code/Magento/Persistent/Test/Unit/Observer/PreventClearCheckoutSessionObserverTest.php
  app/code/Magento/Persistent/Test/Unit/Observer/RefreshCustomerDataTest.php
  app/code/Magento/Persistent/Test/Unit/Observer/RemoveGuestPersistenceOnEmptyCartObserverTest.php
  app/code/Magento/Persistent/Test/Unit/Observer/RemovePersistentCookieOnRegisterObserverTest.php
  app/code/Magento/Persistent/Test/Unit/Observer/RenewCookieObserverTest.php
  app/code/Magento/Persistent/Test/Unit/Observer/SetCheckoutSessionPersistentDataObserverTest.php
  app/code/Magento/Persistent/Test/Unit/Observer/SetQuotePersistentDataObserverTest.php
  app/code/Magento/Persistent/Test/Unit/Observer/SetRememberMeCheckedStatusObserverTest.php
  app/code/Magento/Persistent/Test/Unit/Observer/SynchronizePersistentInfoObserverTest.php
  app/code/Magento/Persistent/Test/Unit/Observer/SynchronizePersistentOnLogoutObserverTest.php
  app/code/Magento/Persistent/Test/Unit/Observer/UpdateCustomerCookiesObserverTest.php
Labels: Auto-Tests: Covered, Award: category of expertise, Component: Persistent, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27809 #27500 Prepare Captcha module Tests for PHPUnit 8
  app/code/Magento/Captcha/Test/Unit/Controller/Refresh/IndexTest.php
  app/code/Magento/Captcha/Test/Unit/Cron/DeleteExpiredImagesTest.php
  app/code/Magento/Captcha/Test/Unit/CustomerData/CaptchaTest.php
  app/code/Magento/Captcha/Test/Unit/Helper/Adminhtml/DataTest.php
  app/code/Magento/Captcha/Test/Unit/Helper/DataTest.php
  app/code/Magento/Captcha/Test/Unit/Model/CaptchaFactoryTest.php
  app/code/Magento/Captcha/Test/Unit/Model/Cart/ConfigPluginTest.php
  app/code/Magento/Captcha/Test/Unit/Model/Checkout/ConfigProviderTest.php
  app/code/Magento/Captcha/Test/Unit/Model/Config/FontTest.php
  app/code/Magento/Captcha/Test/Unit/Model/Config/Form/BackendTest.php
  app/code/Magento/Captcha/Test/Unit/Model/Config/Form/FrontendTest.php
  app/code/Magento/Captcha/Test/Unit/Model/Customer/Plugin/AjaxLoginTest.php
  app/code/Magento/Captcha/Test/Unit/Model/DefaultTest.php
  app/code/Magento/Captcha/Test/Unit/Observer/CaptchaStringResolverTest.php
  app/code/Magento/Captcha/Test/Unit/Observer/CheckContactUsFormObserverTest.php
  app/code/Magento/Captcha/Test/Unit/Observer/CheckForgotpasswordObserverTest.php
  app/code/Magento/Captcha/Test/Unit/Observer/CheckUserCreateObserverTest.php
  app/code/Magento/Captcha/Test/Unit/Observer/CheckUserEditObserverTest.php
  app/code/Magento/Captcha/Test/Unit/Observer/CheckUserForgotPasswordBackendObserverTest.php
  app/code/Magento/Captcha/Test/Unit/Observer/CheckUserLoginBackendObserverTest.php
  app/code/Magento/Captcha/Test/Unit/Observer/CheckUserLoginObserverTest.php
Labels: Auto-Tests: Covered, Component: Captcha, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27706 #27500 PHPUnit 8 for module TaxImportExport
  app/code/Magento/TaxImportExport/Test/Unit/Controller/Adminhtml/Rate/ExportPostTest.php
Labels: Auto-Tests: Covered, Component: TaxImportExport, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27808 #27500 Prepare Usps module Tests for PHPUnit 8
  app/code/Magento/Usps/Test/Unit/Helper/DataTest.php
  app/code/Magento/Usps/Test/Unit/Model/CarrierTest.php
  app/code/Magento/Usps/Test/Unit/Model/Source/GenericTest.php
  app/code/Magento/Usps/Test/Unit/Model/_files/return_shipment_request_data.php
Labels: Auto-Tests: Covered, Component: Usps, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27707 #27500 PHPUnit 8 for module Version
  app/code/Magento/Version/Test/Unit/Controller/Index/IndexTest.php
Labels: Auto-Tests: Covered, Component: Version, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27807 #27500 Prepare CatalogRule module Tests for PHPUnit 8
  app/code/Magento/CatalogRule/Test/Unit/Block/Adminhtml/Edit/DeleteButtonTest.php
  app/code/Magento/CatalogRule/Test/Unit/Block/Adminhtml/Edit/GenericButtonTest.php
  app/code/Magento/CatalogRule/Test/Unit/Cron/DailyCatalogUpdateTest.php
  app/code/Magento/CatalogRule/Test/Unit/Helper/DataTest.php
  app/code/Magento/CatalogRule/Test/Unit/Model/CatalogRuleRepositoryTest.php
  app/code/Magento/CatalogRule/Test/Unit/Model/Data/Condition/ConverterTest.php
  app/code/Magento/CatalogRule/Test/Unit/Model/Indexer/AbstractIndexerTest.php
  app/code/Magento/CatalogRule/Test/Unit/Model/Indexer/IndexBuilder/ProductLoaderTest.php
  app/code/Magento/CatalogRule/Test/Unit/Model/Indexer/IndexerTableSwapperTest.php
  app/code/Magento/CatalogRule/Test/Unit/Model/Indexer/Product/ProductRuleIndexerTest.php
  app/code/Magento/CatalogRule/Test/Unit/Model/Indexer/ProductPriceCalculatorTest.php
  app/code/Magento/CatalogRule/Test/Unit/Model/Indexer/ReindexRuleGroupWebsiteTest.php
  app/code/Magento/CatalogRule/Test/Unit/Model/Indexer/ReindexRuleProductPriceTest.php
  app/code/Magento/CatalogRule/Test/Unit/Model/Indexer/ReindexRuleProductTest.php
  app/code/Magento/CatalogRule/Test/Unit/Model/Indexer/Rule/RuleProductIndexerTest.php
  app/code/Magento/CatalogRule/Test/Unit/Model/Indexer/RuleProductPricesPersistorTest.php
  app/code/Magento/CatalogRule/Test/Unit/Model/Product/PriceModifierTest.php
  app/code/Magento/CatalogRule/Test/Unit/Model/ResourceModel/ReadHandlerTest.php
  app/code/Magento/CatalogRule/Test/Unit/Model/ResourceModel/SaveHandlerTest.php
  app/code/Magento/CatalogRule/Test/Unit/Model/Rule/Condition/MappableConditionProcessorTest.php
  app/code/Magento/CatalogRule/Test/Unit/Model/Rule/Condition/ProductTest.php
  app/code/Magento/CatalogRule/Test/Unit/Model/Rule/CustomerGroupsOptionsProviderTest.php
  app/code/Magento/CatalogRule/Test/Unit/Model/Rule/DataProviderTest.php
  app/code/Magento/CatalogRule/Test/Unit/Model/Rule/JobTest.php
  app/code/Magento/CatalogRule/Test/Unit/Model/Rule/WebsitesOptionsProviderTest.php
  app/code/Magento/CatalogRule/Test/Unit/Model/RuleTest.php
  app/code/Magento/CatalogRule/Test/Unit/Observer/AddDirtyRulesNoticeTest.php
  app/code/Magento/CatalogRule/Test/Unit/Observer/ProcessAdminFinalPriceObserverTest.php
  app/code/Magento/CatalogRule/Test/Unit/Plugin/Indexer/CategoryTest.php
  app/code/Magento/CatalogRule/Test/Unit/Plugin/Indexer/CustomerGroupTest.php
  app/code/Magento/CatalogRule/Test/Unit/Plugin/Indexer/ImportExportTest.php
  app/code/Magento/CatalogRule/Test/Unit/Plugin/Indexer/Product/Save/ApplyRulesAfterReindexTest.php
  app/code/Magento/CatalogRule/Test/Unit/Plugin/Indexer/Product/Save/ApplyRulesTest.php
  app/code/Magento/CatalogRule/Test/Unit/Plugin/Indexer/WebsiteTest.php
  app/code/Magento/CatalogRule/Test/Unit/Plugin/Model/Product/ActionTest.php
  app/code/Magento/CatalogRule/Test/Unit/Pricing/Price/CatalogRulePriceTest.php
Labels: Auto-Tests: Covered, Award: category of expertise, Component: CatalogRule, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27709 #27500 PHPUnit 8 for module SwaggerWebapi
  app/code/Magento/SwaggerWebapi/Test/Unit/Model/SchemaType/RestTest.php
Labels: Auto-Tests: Covered, Cleanup, Component: SwaggerWebapi, Partner: Mediotype, Progress: accept, Release Line: 2.4, partners-contribution

#27806 #27500 Prepare ProductVideo module Tests for PHPUnit 8
  app/code/Magento/ProductVideo/Test/Unit/Block/Adminhtml/Product/Edit/NewVideoTest.php
  app/code/Magento/ProductVideo/Test/Unit/Block/Product/View/GalleryTest.php
  app/code/Magento/ProductVideo/Test/Unit/Controller/Adminhtml/Product/Gallery/RetrieveImageTest.php
  app/code/Magento/ProductVideo/Test/Unit/Helper/MediaTest.php
  app/code/Magento/ProductVideo/Test/Unit/Model/Plugin/Catalog/Product/Gallery/CreateHandlerTest.php
  app/code/Magento/ProductVideo/Test/Unit/Model/Plugin/Catalog/Product/Gallery/ReadHandlerTest.php
  app/code/Magento/ProductVideo/Test/Unit/Model/Product/Attribute/Media/ExternalVideoEntryConverterTest.php
  app/code/Magento/ProductVideo/Test/Unit/Model/Product/Attribute/Media/VideoEntryTest.php
  app/code/Magento/ProductVideo/Test/Unit/Observer/ChangeTemplateObserverTest.php
Labels: Auto-Tests: Covered, Component: ProductVideo, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27711 #27500 PHPUnit 8 for module CustomerGraphQL
  app/code/Magento/CustomerGraphQl/Test/Unit/Model/Resolver/RevokeCustomerTokenTest.php
Labels: Auto-Tests: Covered, Component: CustomerGraphQl, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27712 #27500 PHPUnit 8 for module Elasticsearch6
  app/code/Magento/Elasticsearch6/Test/Unit/Model/Adapter/FieldMapper/Product/FieldProvider/FieldName/Resolver/DefaultResolverTest.php
  app/code/Magento/Elasticsearch6/Test/Unit/Model/Client/ElasticsearchTest.php
Labels: Auto-Tests: Covered, Component: Elasticsearch, Partner: Mediotype, Progress: extended testing, Release Line: 2.4, partners-contribution

#27805 #27500 Prepare SalesSequence module Tests for PHPUnit 8
  app/code/Magento/SalesSequence/Test/Unit/Model/BuilderTest.php
  app/code/Magento/SalesSequence/Test/Unit/Model/ManagerTest.php
  app/code/Magento/SalesSequence/Test/Unit/Model/ResourceModel/MetaTest.php
  app/code/Magento/SalesSequence/Test/Unit/Model/ResourceModel/ProfileTest.php
  app/code/Magento/SalesSequence/Test/Unit/Model/Sequence/DeleteByStoreTest.php
  app/code/Magento/SalesSequence/Test/Unit/Model/SequenceTest.php
Labels: Auto-Tests: Covered, Component: SalesSequence, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27804 #27500 Prepare Backup module Tests for PHPUnit 8
  app/code/Magento/Backup/Test/Unit/Controller/Adminhtml/Index/CreateTest.php
  app/code/Magento/Backup/Test/Unit/Controller/Adminhtml/Index/DownloadTest.php
  app/code/Magento/Backup/Test/Unit/Controller/Adminhtml/Index/RollbackTest.php
  app/code/Magento/Backup/Test/Unit/Cron/SystemBackupTest.php
  app/code/Magento/Backup/Test/Unit/Helper/DataTest.php
  app/code/Magento/Backup/Test/Unit/Model/BackupFactoryTest.php
  app/code/Magento/Backup/Test/Unit/Model/BackupTest.php
  app/code/Magento/Backup/Test/Unit/Model/Fs/CollectionTest.php
Labels: Auto-Tests: Covered, Component: Backup, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27713 #27500 PHPUnit 8 for module DHL
  app/code/Magento/Dhl/Test/Unit/Model/CarrierTest.php
  app/code/Magento/Dhl/Test/Unit/Model/Validator/ResponseErrorProcessorTest.php
  app/code/Magento/Dhl/Test/Unit/Model/Validator/XmlValidatorTest.php
  app/code/Magento/Dhl/Test/Unit/Model/_files/dhl_quote_request_data.php
  app/code/Magento/Dhl/Test/Unit/Model/_files/dhl_quote_response_rates.php
Labels: Auto-Tests: Covered, Component: Dhl, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27802 #27500 Prepare GraphQlCache module Tests for PHPUnit 8
  app/code/Magento/GraphQlCache/Test/Unit/Model/CacheableQueryHandlerTest.php
Labels: Auto-Tests: Covered, Component: GraphQlCache, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27714 #27500 Prepare ConfigurableImportExport module Tests for PHPUnit 8
  app/code/Magento/ConfigurableImportExport/Test/Unit/Model/Export/RowCustomizerTest.php
  app/code/Magento/ConfigurableImportExport/Test/Unit/Model/Import/Product/Type/ConfigurableTest.php
Labels: Auto-Tests: Covered, Component: ConfigurableImportExport, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27715 #27500 Prepare SendFriend module Tests for PHPUnit 8
  app/code/Magento/SendFriend/Test/Unit/Block/Plugin/Catalog/Product/ViewTest.php
  app/code/Magento/SendFriend/Test/Unit/Block/SendTest.php
  app/code/Magento/SendFriend/Test/Unit/Model/CaptchaValidatorTest.php
  app/code/Magento/SendFriend/Test/Unit/Model/SendFriendTest.php
Labels: Auto-Tests: Not Required, Component: SendFriend, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27710 #27500 PHPUnit 8 for module WishlistGraphQL
  app/code/Magento/WishlistGraphQl/Test/Unit/CustomerWishlistResolverTest.php
Labels: Auto-Tests: Covered, Cleanup, Component: WishlistGraphQl, Partner: Mediotype, Progress: accept, Release Line: 2.4, partners-contribution

#27716 #27500 Prepare GoogleAnalytics module Tests for PHPUnit 8
  app/code/Magento/GoogleAnalytics/Test/Unit/Block/GaTest.php
  app/code/Magento/GoogleAnalytics/Test/Unit/Helper/DataTest.php
  app/code/Magento/GoogleAnalytics/Test/Unit/Observer/SetGoogleAnalyticsOnOrderSuccessPageViewObserverTest.php
Labels: Auto-Tests: Covered, Cleanup, Component: GoogleAnalytics, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27800 #27500 Prepare Security module Tests for PHPUnit 8
  app/code/Magento/Security/Test/Unit/Block/Adminhtml/Session/ActivityTest.php
  app/code/Magento/Security/Test/Unit/Controller/Adminhtml/Session/ActivityTest.php
  app/code/Magento/Security/Test/Unit/Controller/Adminhtml/Session/LogoutAllTest.php
  app/code/Magento/Security/Test/Unit/Model/AdminSessionInfoTest.php
  app/code/Magento/Security/Test/Unit/Model/AdminSessionsManagerTest.php
  app/code/Magento/Security/Test/Unit/Model/Config/Source/ResetMethodTest.php
  app/code/Magento/Security/Test/Unit/Model/ConfigTest.php
  app/code/Magento/Security/Test/Unit/Model/Plugin/AccountManagementTest.php
  app/code/Magento/Security/Test/Unit/Model/Plugin/AuthSessionTest.php
  app/code/Magento/Security/Test/Unit/Model/Plugin/AuthTest.php
  app/code/Magento/Security/Test/Unit/Model/Plugin/LoginControllerTest.php
  app/code/Magento/Security/Test/Unit/Model/Plugin/UserValidationRulesTest.php
  app/code/Magento/Security/Test/Unit/Model/ResourceModel/AdminSessionInfo/CollectionTest.php
  app/code/Magento/Security/Test/Unit/Model/ResourceModel/AdminSessionInfoTest.php
  app/code/Magento/Security/Test/Unit/Model/ResourceModel/PasswordResetRequestEvent/CollectionFactoryTest.php
  app/code/Magento/Security/Test/Unit/Model/ResourceModel/PasswordResetRequestEvent/CollectionTest.php
  app/code/Magento/Security/Test/Unit/Model/ResourceModel/PasswordResetRequestEventTest.php
  app/code/Magento/Security/Test/Unit/Model/SecurityChecker/FrequencyTest.php
  app/code/Magento/Security/Test/Unit/Model/SecurityChecker/QuantityTest.php
  app/code/Magento/Security/Test/Unit/Model/SecurityCookieTest.php
  app/code/Magento/Security/Test/Unit/Model/SecurityManagerTest.php
  app/code/Magento/Security/Test/Unit/Model/UserExpiration/ValidatorTest.php
  app/code/Magento/Security/Test/Unit/Observer/AdminUserAuthenticateBeforeTest.php
  app/code/Magento/Security/Test/Unit/Observer/AfterAdminUserSaveTest.php
Labels: Component: Security, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27717 #27500 Prepare StoreGraphQl module Tests for PHPUnit 8
  app/code/Magento/StoreGraphQl/Test/Unit/StoreValidatorTest.php
Labels: Auto-Tests: Covered, Component: StoreGraphQl, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27718 #27500 Prepare Authorization module Tests for PHPUnit 8
  app/code/Magento/Authorization/Test/Unit/Model/Acl/AclRetrieverTest.php
  app/code/Magento/Authorization/Test/Unit/Model/Acl/Loader/RoleTest.php
  app/code/Magento/Authorization/Test/Unit/Model/Acl/Loader/RuleTest.php
  app/code/Magento/Authorization/Test/Unit/Model/CompositeUserContextTest.php
  app/code/Magento/Authorization/Test/Unit/Model/ResourceModel/RulesTest.php
Labels: Auto-Tests: Covered, Component: Authorization, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27719 #27500 Prepare CatalogGraphQl module Tests for PHPUnit 8
  app/code/Magento/CatalogGraphQl/Test/Unit/Model/Resolver/Product/Price/DiscountTest.php
Labels: Auto-Tests: Not Required, Cleanup, Component: CatalogGraphQl, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27798 #27500 Prepare UrlRewrite module Tests for PHPUnit 8
  app/code/Magento/UrlRewrite/Test/Unit/Block/Catalog/Edit/FormTest.php
  app/code/Magento/UrlRewrite/Test/Unit/Controller/RouterTest.php
  app/code/Magento/UrlRewrite/Test/Unit/Helper/UrlRewriteTest.php
  app/code/Magento/UrlRewrite/Test/Unit/Model/Exception/UrlAlreadyExistsExceptionTest.php
  app/code/Magento/UrlRewrite/Test/Unit/Model/MergeDataProviderTest.php
  app/code/Magento/UrlRewrite/Test/Unit/Model/Message/UrlRewriteExceptionMessageFactoryTest.php
  app/code/Magento/UrlRewrite/Test/Unit/Model/ResourceModel/UrlRewriteCollectionTest.php
  app/code/Magento/UrlRewrite/Test/Unit/Model/Storage/AbstractStorageTest.php
  app/code/Magento/UrlRewrite/Test/Unit/Model/Storage/DbStorageTest.php
  app/code/Magento/UrlRewrite/Test/Unit/Model/UrlRewriteTest.php
  app/code/Magento/UrlRewrite/Test/Unit/Service/V1/Data/UrlRewriteTest.php
Labels: Auto-Tests: Covered, Component: UrlRewrite, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27720 #27500 Prepare CheckoutAgreements module Tests for PHPUnit 8
  app/code/Magento/CatalogRuleConfigurable/Test/Unit/Plugin/CatalogRule/Model/Rule/ConfigurableProductHandlerTest.php
  app/code/Magento/CheckoutAgreements/Test/Unit/Block/AgreementsTest.php
  app/code/Magento/CheckoutAgreements/Test/Unit/Model/AgreementModeOptionsTest.php
  app/code/Magento/CheckoutAgreements/Test/Unit/Model/AgreementTest.php
  app/code/Magento/CheckoutAgreements/Test/Unit/Model/AgreementsConfigProviderTest.php
  app/code/Magento/CheckoutAgreements/Test/Unit/Model/AgreementsProviderTest.php
  app/code/Magento/CheckoutAgreements/Test/Unit/Model/AgreementsValidatorTest.php
  app/code/Magento/CheckoutAgreements/Test/Unit/Model/Api/SearchCriteria/CollectionProcessor/FilterProcessor/StoreFilterTest.php
  app/code/Magento/CheckoutAgreements/Test/Unit/Model/Checkout/Plugin/GuestValidationTest.php
  app/code/Magento/CheckoutAgreements/Test/Unit/Model/Checkout/Plugin/ValidationTest.php
  app/code/Magento/CheckoutAgreements/Test/Unit/Model/CheckoutAgreementsListTest.php
  app/code/Magento/CheckoutAgreements/Test/Unit/Model/CheckoutAgreementsRepositoryTest.php
Labels: Auto-Tests: Covered, Component: CatalogRuleConfigurable, Component: CheckoutAgreements, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27722 #27500 Prepare WeeeGraphQl module Tests for PHPUnit 8
  app/code/Magento/WeeeGraphQl/Test/Unit/FixedProductTaxTest.php
Labels: Auto-Tests: Not Required, Cleanup, Component: WeeeGraphQl, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27797 #27500 Prepare Reports module Tests for PHPUnit 8
  app/code/Magento/Reports/Test/Unit/Block/Adminhtml/Grid/AbstractGridTest.php
  app/code/Magento/Reports/Test/Unit/Block/Adminhtml/Sales/Coupons/GridTest.php
  app/code/Magento/Reports/Test/Unit/Block/Adminhtml/Sales/Grid/Column/Renderer/DateTest.php
  app/code/Magento/Reports/Test/Unit/Block/Product/ComparedTest.php
  app/code/Magento/Reports/Test/Unit/Block/Product/ViewedTest.php
  app/code/Magento/Reports/Test/Unit/Controller/Adminhtml/Report/AbstractControllerTest.php
  app/code/Magento/Reports/Test/Unit/Controller/Adminhtml/Report/Customer/AccountsTest.php
  app/code/Magento/Reports/Test/Unit/Controller/Adminhtml/Report/Customer/ExportAccountsCsvTest.php
  app/code/Magento/Reports/Test/Unit/Controller/Adminhtml/Report/Customer/ExportAccountsExcelTest.php
  app/code/Magento/Reports/Test/Unit/Controller/Adminhtml/Report/Customer/ExportOrdersCsvTest.php
  app/code/Magento/Reports/Test/Unit/Controller/Adminhtml/Report/Customer/ExportOrdersExcelTest.php
  app/code/Magento/Reports/Test/Unit/Controller/Adminhtml/Report/Customer/ExportTotalsCsvTest.php
  app/code/Magento/Reports/Test/Unit/Controller/Adminhtml/Report/Customer/ExportTotalsExcelTest.php
  app/code/Magento/Reports/Test/Unit/Controller/Adminhtml/Report/Customer/OrdersTest.php
  app/code/Magento/Reports/Test/Unit/Controller/Adminhtml/Report/Customer/TotalsTest.php
  app/code/Magento/Reports/Test/Unit/Controller/Adminhtml/Report/Product/DownloadsTest.php
  app/code/Magento/Reports/Test/Unit/Controller/Adminhtml/Report/Product/ExportDownloadsCsvTest.php
  app/code/Magento/Reports/Test/Unit/Controller/Adminhtml/Report/Product/ExportDownloadsExcelTest.php
  app/code/Magento/Reports/Test/Unit/Controller/Adminhtml/Report/Product/ExportLowstockCsvTest.php
  app/code/Magento/Reports/Test/Unit/Controller/Adminhtml/Report/Product/ExportLowstockExcelTest.php
  app/code/Magento/Reports/Test/Unit/Controller/Adminhtml/Report/Product/ExportSoldCsvTest.php
  app/code/Magento/Reports/Test/Unit/Controller/Adminhtml/Report/Product/ExportSoldExcelTest.php
  app/code/Magento/Reports/Test/Unit/Controller/Adminhtml/Report/Product/ExportViewedCsvTest.php
  app/code/Magento/Reports/Test/Unit/Controller/Adminhtml/Report/Product/ExportViewedExcelTest.php
  app/code/Magento/Reports/Test/Unit/Controller/Adminhtml/Report/Product/LowstockTest.php
  app/code/Magento/Reports/Test/Unit/Controller/Adminhtml/Report/Product/SoldTest.php
  app/code/Magento/Reports/Test/Unit/Controller/Adminhtml/Report/Product/ViewedTest.php
  app/code/Magento/Reports/Test/Unit/Helper/DataTest.php
  app/code/Magento/Reports/Test/Unit/Model/Plugin/LogTest.php
  app/code/Magento/Reports/Test/Unit/Model/Product/Index/ComparedTest.php
  app/code/Magento/Reports/Test/Unit/Model/ResourceModel/Event/CollectionTest.php
  app/code/Magento/Reports/Test/Unit/Model/ResourceModel/EventTest.php
  app/code/Magento/Reports/Test/Unit/Model/ResourceModel/HelperTest.php
  app/code/Magento/Reports/Test/Unit/Model/ResourceModel/Order/CollectionTest.php
  app/code/Magento/Reports/Test/Unit/Model/ResourceModel/Product/CollectionTest.php
  app/code/Magento/Reports/Test/Unit/Model/ResourceModel/Product/Sold/Collection/CollectionTest.php
  app/code/Magento/Reports/Test/Unit/Model/ResourceModel/Quote/CollectionTest.php
  app/code/Magento/Reports/Test/Unit/Model/ResourceModel/Report/Collection/AbstractCollectionTest.php
  app/code/Magento/Reports/Test/Unit/Model/ResourceModel/Report/CollectionTest.php
  app/code/Magento/Reports/Test/Unit/Model/ResourceModel/Report/Product/ViewedTest.php
  app/code/Magento/Reports/Test/Unit/Model/ResourceModel/Report/Quote/CollectionTest.php
  app/code/Magento/Reports/Test/Unit/Model/ResourceModel/Review/Customer/CollectionTest.php
  app/code/Magento/Reports/Test/Unit/Model/ResourceModel/Review/Product/CollectionTest.php
  app/code/Magento/Reports/Test/Unit/Observer/CatalogProductCompareAddProductObserverTest.php
  app/code/Magento/Reports/Test/Unit/Observer/CatalogProductViewObserverTest.php
  app/code/Magento/Reports/Test/Unit/Observer/CheckoutCartAddProductObserverTest.php
  app/code/Magento/Reports/Test/Unit/Observer/CustomerLoginObserverTest.php
  app/code/Magento/Reports/Test/Unit/Observer/CustomerLogoutObserverTest.php
  app/code/Magento/Reports/Test/Unit/Observer/EventSaverTest.php
  app/code/Magento/Reports/Test/Unit/Observer/SendfriendProductObserverTest.php
  app/code/Magento/Reports/Test/Unit/Observer/WishlistAddProductObserverTest.php
  app/code/Magento/Reports/Test/Unit/Observer/WishlistShareObserverTest.php
Labels: Auto-Tests: Not Required, Component: Reports, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27723 #27500 Prepare CacheInvalidate module Tests for PHPUnit 8
  app/code/Magento/CacheInvalidate/Test/Unit/Model/PurgeCacheTest.php
  app/code/Magento/CacheInvalidate/Test/Unit/Model/SocketFactoryTest.php
  app/code/Magento/CacheInvalidate/Test/Unit/Observer/FlushAllCacheObserverTest.php
  app/code/Magento/CacheInvalidate/Test/Unit/Observer/InvalidateVarnishObserverTest.php
Labels: Auto-Tests: Covered, Cleanup, Component: CacheInvalidate, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27724 #27500 Prepare LayeredNavigation module Tests for PHPUnit 8
  app/code/Magento/LayeredNavigation/Test/Unit/Block/NavigationTest.php
  app/code/Magento/LayeredNavigation/Test/Unit/Model/Aggregation/StatusTest.php
  app/code/Magento/LayeredNavigation/Test/Unit/Observer/Grid/ProductAttributeGridBuildObserverTest.php
Labels: Auto-Tests: Not Required, Component: LayeredNavigation, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27791 #27500 Prepare PageCache module Tests for PHPUnit 8
  app/code/Magento/PageCache/Test/Unit/App/CacheIdentifierPluginTest.php
  app/code/Magento/PageCache/Test/Unit/Block/Controller/StubBlock.php
  app/code/Magento/PageCache/Test/Unit/Block/JavascriptTest.php
  app/code/Magento/PageCache/Test/Unit/Controller/Adminhtml/PageCache/ExportVarnishConfigTest.php
  app/code/Magento/PageCache/Test/Unit/Controller/Block/EsiTest.php
  app/code/Magento/PageCache/Test/Unit/Controller/Block/RenderTest.php
  app/code/Magento/PageCache/Test/Unit/Helper/DataTest.php
  app/code/Magento/PageCache/Test/Unit/Model/App/FrontController/BuiltinPluginTest.php
  app/code/Magento/PageCache/Test/Unit/Model/App/FrontController/VarnishPluginTest.php
  app/code/Magento/PageCache/Test/Unit/Model/App/PageCachePluginTest.php
  app/code/Magento/PageCache/Test/Unit/Model/App/Response/HttpPluginTest.php
  app/code/Magento/PageCache/Test/Unit/Model/Cache/ServerTest.php
  app/code/Magento/PageCache/Test/Unit/Model/Cache/TypeTest.php
  app/code/Magento/PageCache/Test/Unit/Model/ConfigTest.php
  app/code/Magento/PageCache/Test/Unit/Model/Controller/Result/BuiltinPluginTest.php
  app/code/Magento/PageCache/Test/Unit/Model/Controller/Result/VarnishPluginTest.php
  app/code/Magento/PageCache/Test/Unit/Model/DepersonalizeCheckerTest.php
  app/code/Magento/PageCache/Test/Unit/Model/Layout/DepersonalizePluginTest.php
  app/code/Magento/PageCache/Test/Unit/Model/Layout/LayoutPluginTest.php
  app/code/Magento/PageCache/Test/Unit/Model/System/Config/Backend/AccessListTest.php
  app/code/Magento/PageCache/Test/Unit/Observer/FlushAllCacheTest.php
  app/code/Magento/PageCache/Test/Unit/Observer/FlushCacheByTagsTest.php
  app/code/Magento/PageCache/Test/Unit/Observer/FlushFormKeyTest.php
  app/code/Magento/PageCache/Test/Unit/Observer/InvalidateCacheTest.php
  app/code/Magento/PageCache/Test/Unit/Observer/ProcessLayoutRenderElementTest.php
Labels: Auto-Tests: Not Required, Component: PageCache, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27725 #27500 Prepare Robots module Tests for PHPUnit 8
  app/code/Magento/Robots/Test/Unit/Block/DataTest.php
  app/code/Magento/Robots/Test/Unit/Controller/Index/IndexTest.php
  app/code/Magento/Robots/Test/Unit/Controller/RouterTest.php
  app/code/Magento/Robots/Test/Unit/Model/Config/ValueTest.php
  app/code/Magento/Robots/Test/Unit/Model/RobotsTest.php
Labels: Auto-Tests: Not Required, Component: Robots, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27726 #27500 Prepare Ups module Tests for PHPUnit 8
  app/code/Magento/Ups/Test/Unit/Helper/ConfigTest.php
  app/code/Magento/Ups/Test/Unit/Model/CarrierTest.php
  app/code/Magento/Ups/Test/Unit/Model/Config/Backend/UpsUrlTest.php
Labels: Auto-Tests: Not Required, Component: Ups, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27727 #27500 Prepare RequireJs module Tests for PHPUnit 8
  app/code/Magento/RequireJs/Test/Unit/Block/Html/Head/ConfigTest.php
  app/code/Magento/RequireJs/Test/Unit/Model/FileManagerTest.php
Labels: Auto-Tests: Not Required, Component: RequireJs, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27729 #27500 Prepare WebapiAsync module Tests for PHPUnit 8
  app/code/Magento/WebapiAsync/Test/Unit/Controller/PathProcessorTest.php
  app/code/Magento/WebapiAsync/Test/Unit/Controller/RestTest.php
  app/code/Magento/WebapiAsync/Test/Unit/Model/ConfigTest.php
  app/code/Magento/WebapiAsync/Test/Unit/Model/ServiceConfig/ConverterTest.php
  app/code/Magento/WebapiAsync/Test/Unit/Model/ServiceConfig/ReaderTest.php
  app/code/Magento/WebapiAsync/Test/Unit/Model/ServiceConfig/SchemaLocatorTest.php
  app/code/Magento/WebapiAsync/Test/Unit/Model/ServiceConfig/_files/Converter/webapi_async.php
  app/code/Magento/WebapiAsync/Test/Unit/Model/ServiceConfig/_files/Reader/webapi_async.php
  app/code/Magento/WebapiAsync/Test/Unit/Model/ServiceConfigTest.php
Labels: Auto-Tests: Covered, Cleanup, Component: WebapiAsync, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27730 #27500 Prepare VaultGraphQl module Tests for PHPUnit 8
  app/code/Magento/VaultGraphQl/Test/Unit/Model/Resolver/DeletePaymentTokenTest.php
Labels: Auto-Tests: Covered, Cleanup, Component: VaultGraphQl, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27728 #27500 Prepare GoogleAdwords module Tests for PHPUnit 8
  app/code/Magento/GoogleAdwords/Test/Unit/Helper/DataTest.php
  app/code/Magento/GoogleAdwords/Test/Unit/Model/Config/Source/ValueTypeTest.php
  app/code/Magento/GoogleAdwords/Test/Unit/Model/Filter/UppercaseTitleTest.php
  app/code/Magento/GoogleAdwords/Test/Unit/Model/Validator/FactoryTest.php
  app/code/Magento/GoogleAdwords/Test/Unit/Observer/SetConversionValueObserverTest.php
Labels: Auto-Tests: Covered, Cleanup, Component: GoogleAdwords, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27731 #27500 Prepare SwaggerWebapiAsync module Tests for PHPUnit 8
  app/code/Magento/SwaggerWebapiAsync/Test/Unit/Model/SchemaType/AsyncTest.php
Labels: Auto-Tests: Covered, Component: SwaggerWebapiAsync, Partner: Mediotype, Progress: accept, Release Line: 2.4, partners-contribution

#27732 #27500 Prepare GroupedCatalogInventory module Tests for PHPUnit 8
  app/code/Magento/GroupedCatalogInventory/Test/Unit/Plugin/OutOfStockFilterTest.php
Labels: Auto-Tests: Not Required, Component: GroupedCatalogInventory, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27733 #27500 Prepare Elasticsearch7 module Tests for PHPUnit 8
  app/code/Magento/Elasticsearch7/Test/Unit/Model/Client/ElasticsearchTest.php
Labels: Auto-Tests: Covered, Component: Elasticsearch, Partner: Mediotype, Progress: extended testing, Release Line: 2.4, partners-contribution

#27734 #27500 Prepare Csp module Tests for PHPUnit 8
  app/code/Magento/Csp/Test/Unit/Model/Mode/ConfigManagerTest.php
  app/code/Magento/Csp/Test/Unit/Model/PolicyRendererPoolTest.php
Labels: Auto-Tests: Not Required, Component: Csp, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27735 #27500 Prepare InstantPurchase module Tests for PHPUnit 8
  app/code/Magento/InstantPurchase/Test/Unit/Block/ButtonTest.php
  app/code/Magento/InstantPurchase/Test/Unit/CustomerData/InstantPurchaseTest.php
  app/code/Magento/InstantPurchase/Test/Unit/Model/Ui/CustomerAddressesFormatterTest.php
  app/code/Magento/InstantPurchase/Test/Unit/Model/Ui/ShippingMethodFormatterTest.php
Labels: Auto-Tests: Not Required, Cleanup, Component: InstantPurchase, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27737 #27500 Prepare Swagger module Tests for PHPUnit 8
  app/code/Magento/Swagger/Test/Unit/Block/IndexTest.php
Labels: Auto-Tests: Covered, Component: Swagger, Partner: Mediotype, Progress: extended testing, Release Line: 2.4, partners-contribution

#27742 #27500 Prepare SampleData module Tests for PHPUnit 8
  app/code/Magento/SampleData/Test/Unit/Console/Command/AbstractSampleDataCommandTest.php
  app/code/Magento/SampleData/Test/Unit/Console/Command/SampleDataDeployCommandTest.php
  app/code/Magento/SampleData/Test/Unit/Console/Command/SampleDataRemoveCommandTest.php
  app/code/Magento/SampleData/Test/Unit/Model/DependencyTest.php
Labels: Auto-Tests: Not Required, Component: SampleData, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27744 #27500 Prepare Rss module Tests for PHPUnit 8
  app/code/Magento/Rss/Test/Unit/App/Action/Plugin/BackendAuthenticationTest.php
  app/code/Magento/Rss/Test/Unit/Block/FeedsTest.php
  app/code/Magento/Rss/Test/Unit/Controller/Adminhtml/Feed/IndexTest.php
  app/code/Magento/Rss/Test/Unit/Controller/Feed/IndexTest.php
  app/code/Magento/Rss/Test/Unit/Model/RssManagerTest.php
  app/code/Magento/Rss/Test/Unit/Model/RssTest.php
  app/code/Magento/Rss/Test/Unit/Model/UrlBuilderTest.php
Labels: Auto-Tests: Covered, Component: Rss, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27745 #27500 Prepare Indexer module Tests for PHPUnit 8
  app/code/Magento/Indexer/Test/Unit/App/IndexerTest.php
  app/code/Magento/Indexer/Test/Unit/Block/Backend/ContainerTest.php
  app/code/Magento/Indexer/Test/Unit/Block/Backend/Grid/Column/Renderer/ScheduledTest.php
  app/code/Magento/Indexer/Test/Unit/Block/Backend/Grid/Column/Renderer/StatusTest.php
  app/code/Magento/Indexer/Test/Unit/Block/Backend/Grid/Column/Renderer/UpdatedTest.php
  app/code/Magento/Indexer/Test/Unit/Block/Backend/Grid/ItemsUpdaterTest.php
  app/code/Magento/Indexer/Test/Unit/Console/Command/AbstractIndexerCommandCommonSetup.php
  app/code/Magento/Indexer/Test/Unit/Console/Command/IndexerInfoCommandTest.php
  app/code/Magento/Indexer/Test/Unit/Console/Command/IndexerReindexCommandTest.php
  app/code/Magento/Indexer/Test/Unit/Console/Command/IndexerResetStateCommandTest.php
  app/code/Magento/Indexer/Test/Unit/Console/Command/IndexerSetDimensionsModeCommandTest.php
  app/code/Magento/Indexer/Test/Unit/Console/Command/IndexerSetModeCommandTest.php
  app/code/Magento/Indexer/Test/Unit/Console/Command/IndexerShowDimensionsModeCommandTest.php
  app/code/Magento/Indexer/Test/Unit/Console/Command/IndexerShowModeCommandTest.php
  app/code/Magento/Indexer/Test/Unit/Console/Command/IndexerStatusCommandTest.php
  app/code/Magento/Indexer/Test/Unit/Controller/Adminhtml/Indexer/ListActionTest.php
  app/code/Magento/Indexer/Test/Unit/Controller/Adminhtml/Indexer/MassChangelogTest.php
  app/code/Magento/Indexer/Test/Unit/Controller/Adminhtml/Indexer/MassInvalidateTest.php
  app/code/Magento/Indexer/Test/Unit/Controller/Adminhtml/Indexer/MassOnTheFlyTest.php
  app/code/Magento/Indexer/Test/Unit/Model/CacheContextTest.php
  app/code/Magento/Indexer/Test/Unit/Model/Config/DataTest.php
  app/code/Magento/Indexer/Test/Unit/Model/ConfigTest.php
  app/code/Magento/Indexer/Test/Unit/Model/Indexer/AbstractProcessorStub.php
  app/code/Magento/Indexer/Test/Unit/Model/Indexer/AbstractProcessorTest.php
  app/code/Magento/Indexer/Test/Unit/Model/Indexer/CollectionTest.php
  app/code/Magento/Indexer/Test/Unit/Model/Indexer/DependencyDecoratorTest.php
  app/code/Magento/Indexer/Test/Unit/Model/Indexer/StateTest.php
  app/code/Magento/Indexer/Test/Unit/Model/IndexerTest.php
  app/code/Magento/Indexer/Test/Unit/Model/Message/InvalidTest.php
  app/code/Magento/Indexer/Test/Unit/Model/Mview/View/StateTest.php
  app/code/Magento/Indexer/Test/Unit/Model/Processor/CleanCacheTest.php
  app/code/Magento/Indexer/Test/Unit/Model/ProcessorTest.php
  app/code/Magento/Indexer/Test/Unit/Model/ResourceModel/AbstractResourceStub.php
  app/code/Magento/Indexer/Test/Unit/Model/ResourceModel/AbstractResourceTest.php
  app/code/Magento/Indexer/Test/Unit/Model/ResourceModel/Indexer/State/CollectionTest.php
  app/code/Magento/Indexer/Test/Unit/Model/ResourceModel/Indexer/StateTest.php
  app/code/Magento/Indexer/Test/Unit/Model/ResourceModel/Mview/View/State/CollectionTest.php
  app/code/Magento/Indexer/Test/Unit/Model/ResourceModel/Mview/View/StateTest.php
  app/code/Magento/Indexer/Test/Unit/Ui/DataProvider/Indexer/DataCollectionTest.php
Labels: Auto-Tests: Covered, Award: category of expertise, Component: Indexer, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27746 #27500 Prepare MediaStorage module Tests for PHPUnit 8
  app/code/Magento/MediaStorage/Test/Unit/App/MediaTest.php
  app/code/Magento/MediaStorage/Test/Unit/Helper/File/MediaTest.php
  app/code/Magento/MediaStorage/Test/Unit/Helper/File/Storage/DatabaseTest.php
  app/code/Magento/MediaStorage/Test/Unit/Helper/File/StorageTest.php
  app/code/Magento/MediaStorage/Test/Unit/Model/Asset/Plugin/CleanMergedJsCssTest.php
  app/code/Magento/MediaStorage/Test/Unit/Model/Config/Source/Storage/Media/DatabaseTest.php
  app/code/Magento/MediaStorage/Test/Unit/Model/File/Storage/ConfigTest.php
  app/code/Magento/MediaStorage/Test/Unit/Model/File/Storage/Directory/DatabaseTest.php
  app/code/Magento/MediaStorage/Test/Unit/Model/File/Storage/MediaTest.php
  app/code/Magento/MediaStorage/Test/Unit/Model/File/Storage/RequestTest.php
  app/code/Magento/MediaStorage/Test/Unit/Model/File/Storage/ResponseTest.php
  app/code/Magento/MediaStorage/Test/Unit/Model/File/Storage/SynchronizationTest.php
  app/code/Magento/MediaStorage/Test/Unit/Model/ResourceModel/File/Storage/FileTest.php
  app/code/Magento/MediaStorage/Test/Unit/Service/ImageResizeTest.php
Labels: Auto-Tests: Covered, Component: MediaStorage, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27747 #27500 Prepare ProductAlert module Tests for PHPUnit 8
  app/code/Magento/ProductAlert/Test/Unit/Block/Email/StockTest.php
  app/code/Magento/ProductAlert/Test/Unit/Block/Product/View/PriceTest.php
  app/code/Magento/ProductAlert/Test/Unit/Block/Product/View/StockTest.php
  app/code/Magento/ProductAlert/Test/Unit/Block/Product/ViewTest.php
  app/code/Magento/ProductAlert/Test/Unit/Controller/Unsubscribe/PriceTest.php
  app/code/Magento/ProductAlert/Test/Unit/Helper/DataTest.php
  app/code/Magento/ProductAlert/Test/Unit/Model/ObserverTest.php
Labels: Auto-Tests: Covered, Component: ProductAlert, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27760 #27500 Prepare AsynchronousOperations module Tests for PHPUnit 8
  app/code/Magento/AsynchronousOperations/Test/Unit/Block/Adminhtml/Bulk/Details/BackButtonTest.php
  app/code/Magento/AsynchronousOperations/Test/Unit/Block/Adminhtml/Bulk/Details/DoneButtonTest.php
  app/code/Magento/AsynchronousOperations/Test/Unit/Block/Adminhtml/Bulk/Details/RetryButtonTest.php
  app/code/Magento/AsynchronousOperations/Test/Unit/Controller/Adminhtml/Bulk/DetailsTest.php
  app/code/Magento/AsynchronousOperations/Test/Unit/Controller/Adminhtml/Bulk/RetryTest.php
  app/code/Magento/AsynchronousOperations/Test/Unit/Controller/Adminhtml/Index/IndexTest.php
  app/code/Magento/AsynchronousOperations/Test/Unit/Controller/Adminhtml/Notification/DismissTest.php
  app/code/Magento/AsynchronousOperations/Test/Unit/Controller/Cron/BulkCleanupTest.php
  app/code/Magento/AsynchronousOperations/Test/Unit/Model/AccessValidatorTest.php
  app/code/Magento/AsynchronousOperations/Test/Unit/Model/BulkDescription/OptionsTest.php
  app/code/Magento/AsynchronousOperations/Test/Unit/Model/BulkManagementTest.php
  app/code/Magento/AsynchronousOperations/Test/Unit/Model/BulkStatusTest.php
  app/code/Magento/AsynchronousOperations/Test/Unit/Model/Entity/BulkSummaryMapperTest.php
  app/code/Magento/AsynchronousOperations/Test/Unit/Model/Operation/DetailsTest.php
  app/code/Magento/AsynchronousOperations/Test/Unit/Model/OperationManagementTest.php
  app/code/Magento/AsynchronousOperations/Test/Unit/Model/OperationStatusValidatorTest.php
  app/code/Magento/AsynchronousOperations/Test/Unit/Model/ResourceModel/Operation/CreateTest.php
  app/code/Magento/AsynchronousOperations/Test/Unit/Model/ResourceModel/System/Message/Collection/Synchronized/PluginTest.php
  app/code/Magento/AsynchronousOperations/Test/Unit/Model/StatusMapperTest.php
  app/code/Magento/AsynchronousOperations/Test/Unit/Ui/Component/AdminNotification/PluginTest.php
  app/code/Magento/AsynchronousOperations/Test/Unit/Ui/Component/Listing/Column/ActionsTest.php
  app/code/Magento/AsynchronousOperations/Test/Unit/Ui/Component/Listing/Column/NotificationActionsTest.php
  app/code/Magento/AsynchronousOperations/Test/Unit/Ui/Component/Listing/Column/NotificationDismissActionsTest.php
  app/code/Magento/AsynchronousOperations/Test/Unit/Ui/Component/Operation/DataProviderTest.php
Labels: Auto-Tests: Covered, Component: AsynchronousOperations, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27756 #27500 Prepare Translation module Tests for PHPUnit 8
  app/code/Magento/Translation/Test/Unit/App/Config/Type/TranslationTest.php
  app/code/Magento/Translation/Test/Unit/Block/JsTest.php
  app/code/Magento/Translation/Test/Unit/Console/Command/UninstallLanguageCommandTest.php
  app/code/Magento/Translation/Test/Unit/Model/FileManagerTest.php
  app/code/Magento/Translation/Test/Unit/Model/Inline/CacheManagerTest.php
  app/code/Magento/Translation/Test/Unit/Model/Inline/ConfigTest.php
  app/code/Magento/Translation/Test/Unit/Model/Inline/FileTest.php
  app/code/Magento/Translation/Test/Unit/Model/Inline/ParserTest.php
  app/code/Magento/Translation/Test/Unit/Model/Js/Config/Source/StrategyTest.php
  app/code/Magento/Translation/Test/Unit/Model/Js/ConfigTest.php
  app/code/Magento/Translation/Test/Unit/Model/Js/DataProviderTest.php
  app/code/Magento/Translation/Test/Unit/Model/Json/PreProcessorTest.php
  app/code/Magento/Translation/Test/Unit/Model/Source/InitialTranslationSourceTest.php
Labels: Auto-Tests: Covered, Component: Translation, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27755 #27500 Prepare Msrp module Tests for PHPUnit 8
  app/code/Magento/Msrp/Test/Unit/Helper/DataTest.php
  app/code/Magento/Msrp/Test/Unit/Model/Product/Attribute/Source/Type/PriceTest.php
  app/code/Magento/Msrp/Test/Unit/Observer/Frontend/Quote/SetCanApplyMsrpObserverTest.php
  app/code/Magento/Msrp/Test/Unit/Pricing/MsrpPriceCalculatorTest.php
  app/code/Magento/Msrp/Test/Unit/Pricing/Price/MsrpPriceTest.php
  app/code/Magento/Msrp/Test/Unit/Ui/DataProvider/Product/Form/Modifier/MsrpTest.php
  app/code/Magento/Msrp/Test/Unit/Ui/DataProvider/Product/Listing/Collector/MsrpPriceTest.php
Labels: Auto-Tests: Covered, Component: Msrp, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27748 #27500 Prepare Downloadable module Tests for PHPUnit 8
  app/code/Magento/Downloadable/Test/Unit/Block/Adminhtml/Catalog/Product/Edit/Tab/Downloadable/LinksTest.php
  app/code/Magento/Downloadable/Test/Unit/Block/Adminhtml/Catalog/Product/Edit/Tab/Downloadable/SamplesTest.php
  app/code/Magento/Downloadable/Test/Unit/Block/Adminhtml/Sales/Items/Column/Downloadable/NameTest.php
  app/code/Magento/Downloadable/Test/Unit/Block/Catalog/Product/LinksTest.php
  app/code/Magento/Downloadable/Test/Unit/Block/Sales/Order/Email/Items/DownloadableTest.php
  app/code/Magento/Downloadable/Test/Unit/Block/Sales/Order/Email/Items/Order/DownloadableTest.php
  app/code/Magento/Downloadable/Test/Unit/Block/Sales/Order/Item/Renderer/DownloadableTest.php
  app/code/Magento/Downloadable/Test/Unit/Controller/Adminhtml/Downloadable/File/UploadTest.php
  app/code/Magento/Downloadable/Test/Unit/Controller/Adminhtml/Downloadable/Product/Edit/LinkTest.php
  app/code/Magento/Downloadable/Test/Unit/Controller/Adminhtml/Downloadable/Product/Edit/SampleTest.php
  app/code/Magento/Downloadable/Test/Unit/Controller/Adminhtml/Product/Initialization/Helper/Plugin/DownloadableTest.php
  app/code/Magento/Downloadable/Test/Unit/Controller/Download/LinkSampleTest.php
  app/code/Magento/Downloadable/Test/Unit/Controller/Download/LinkTest.php
  app/code/Magento/Downloadable/Test/Unit/Controller/Download/SampleTest.php
  app/code/Magento/Downloadable/Test/Unit/Helper/Catalog/Product/ConfigurationTest.php
  app/code/Magento/Downloadable/Test/Unit/Helper/DataTest.php
  app/code/Magento/Downloadable/Test/Unit/Helper/DownloadTest.php
  app/code/Magento/Downloadable/Test/Unit/Helper/FileTest.php
  app/code/Magento/Downloadable/Test/Unit/Model/File/ContentValidatorTest.php
  app/code/Magento/Downloadable/Test/Unit/Model/Link/BuilderTest.php
  app/code/Magento/Downloadable/Test/Unit/Model/Link/ContentValidatorTest.php
  app/code/Magento/Downloadable/Test/Unit/Model/Link/CreateHandlerTest.php
  app/code/Magento/Downloadable/Test/Unit/Model/Link/UpdateHandlerTest.php
  app/code/Magento/Downloadable/Test/Unit/Model/LinkRepositoryTest.php
  app/code/Magento/Downloadable/Test/Unit/Model/Product/CopyConstructor/DownloadableTest.php
  app/code/Magento/Downloadable/Test/Unit/Model/Product/CopyConstructor/_files/expected_data.php
  app/code/Magento/Downloadable/Test/Unit/Model/Product/TypeHandler/LinkTest.php
  app/code/Magento/Downloadable/Test/Unit/Model/Product/TypeHandler/SampleTest.php
  app/code/Magento/Downloadable/Test/Unit/Model/Product/TypeTest.php
  app/code/Magento/Downloadable/Test/Unit/Model/Product/TypeTransitionManager/Plugin/DownloadableTest.php
  app/code/Magento/Downloadable/Test/Unit/Model/ProductOptionProcessorTest.php
  app/code/Magento/Downloadable/Test/Unit/Model/Quote/Item/CartItemProcessorTest.php
  app/code/Magento/Downloadable/Test/Unit/Model/Sales/Order/Pdf/Items/CreditmemoTest.php
  app/code/Magento/Downloadable/Test/Unit/Model/Sample/BuilderTest.php
  app/code/Magento/Downloadable/Test/Unit/Model/Sample/ContentValidatorTest.php
  app/code/Magento/Downloadable/Test/Unit/Model/Sample/CreateHandlerTest.php
  app/code/Magento/Downloadable/Test/Unit/Model/Sample/DeleteHandlerTest.php
  app/code/Magento/Downloadable/Test/Unit/Model/Sample/UpdateHandlerTest.php
  app/code/Magento/Downloadable/Test/Unit/Model/SampleRepositoryTest.php
  app/code/Magento/Downloadable/Test/Unit/Observer/IsAllowedGuestCheckoutObserverTest.php
  app/code/Magento/Downloadable/Test/Unit/Observer/SaveDownloadableOrderItemObserverTest.php
  app/code/Magento/Downloadable/Test/Unit/Observer/SetHasDownloadableProductsObserverTest.php
  app/code/Magento/Downloadable/Test/Unit/Observer/SetLinkStatusObserverTest.php
  app/code/Magento/Downloadable/Test/Unit/Pricing/Price/LinkPriceTest.php
  app/code/Magento/Downloadable/Test/Unit/Ui/DataProvider/Product/Form/Modifier/CompositeTest.php
  app/code/Magento/Downloadable/Test/Unit/Ui/DataProvider/Product/Form/Modifier/Data/LinksTest.php
  app/code/Magento/Downloadable/Test/Unit/Ui/DataProvider/Product/Form/Modifier/Data/SamplesTest.php
  app/code/Magento/Downloadable/Test/Unit/Ui/DataProvider/Product/Form/Modifier/DownloadablePanelTest.php
  app/code/Magento/Downloadable/Test/Unit/Ui/DataProvider/Product/Form/Modifier/LinksTest.php
  app/code/Magento/Downloadable/Test/Unit/Ui/DataProvider/Product/Form/Modifier/SamplesTest.php
  app/code/Magento/Downloadable/Test/Unit/_files/download_mock.php
Labels: Auto-Tests: Covered, Component: Downloadable, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27789 #27500 Prepare CurrencySymbol module Tests for PHPUnit 8
  app/code/Magento/CurrencySymbol/Test/Unit/Block/Adminhtml/System/Currency/Rate/MatrixTest.php
  app/code/Magento/CurrencySymbol/Test/Unit/Block/Adminhtml/System/Currency/Rate/ServicesTest.php
  app/code/Magento/CurrencySymbol/Test/Unit/Block/Adminhtml/System/CurrencyTest.php
  app/code/Magento/CurrencySymbol/Test/Unit/Block/Adminhtml/System/CurrencysymbolTest.php
  app/code/Magento/CurrencySymbol/Test/Unit/Controller/Adminhtml/System/Currency/SaveRatesTest.php
  app/code/Magento/CurrencySymbol/Test/Unit/Controller/Adminhtml/System/Currencysymbol/IndexTest.php
  app/code/Magento/CurrencySymbol/Test/Unit/Controller/Adminhtml/System/Currencysymbol/SaveTest.php
  app/code/Magento/CurrencySymbol/Test/Unit/Model/System/CurrencysymbolTest.php
  app/code/Magento/CurrencySymbol/Test/Unit/Observer/CurrencyDisplayOptionsTest.php
Labels: Auto-Tests: Covered, Component: CurrencySymbol, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27788 #27500 Prepare Fedex module Tests for PHPUnit 8
  app/code/Magento/Fedex/Test/Unit/Model/CarrierTest.php
  app/code/Magento/Fedex/Test/Unit/Model/Source/GenericTest.php
  app/code/Magento/Fedex/Test/Unit/Plugin/Block/DataProviders/Tracking/ChangeTitleTest.php
  app/code/Magento/Fedex/Test/Unit/Plugin/Block/Tracking/PopupDeliveryDateTest.php
Labels: Auto-Tests: Covered, Component: Fedex, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27787 #27500 Prepare Rule module Tests for PHPUnit 8
  app/code/Magento/Rule/Test/Unit/Model/AbstractModelTest.php
  app/code/Magento/Rule/Test/Unit/Model/ActionFactoryTest.php
  app/code/Magento/Rule/Test/Unit/Model/Condition/AbstractConditionTest.php
  app/code/Magento/Rule/Test/Unit/Model/Condition/CombineTest.php
  app/code/Magento/Rule/Test/Unit/Model/Condition/Product/AbstractProductTest.php
  app/code/Magento/Rule/Test/Unit/Model/Condition/Sql/BuilderTest.php
  app/code/Magento/Rule/Test/Unit/Model/Condition/Sql/ExpressionTest.php
  app/code/Magento/Rule/Test/Unit/Model/ConditionFactoryTest.php
  app/code/Magento/Rule/Test/Unit/Model/Renderer/ActionsTest.php
  app/code/Magento/Rule/Test/Unit/Model/Renderer/ConditionsTest.php
Labels: Auto-Tests: Covered, Component: Rule, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27786 #27500 Prepare MediaGallery module Tests for PHPUnit 8
  app/code/Magento/MediaGallery/Test/Unit/Model/Asset/Command/DeleteByDirectoryPathTest.php
  app/code/Magento/MediaGallery/Test/Unit/Model/Asset/Command/DeleteByPathTest.php
  app/code/Magento/MediaGallery/Test/Unit/Model/Asset/Command/GetByIdExceptionDuringMediaAssetInitializationTest.php
  app/code/Magento/MediaGallery/Test/Unit/Model/Asset/Command/GetByIdExceptionNoSuchEntityTest.php
  app/code/Magento/MediaGallery/Test/Unit/Model/Asset/Command/GetByIdExceptionOnGetDataTest.php
  app/code/Magento/MediaGallery/Test/Unit/Model/Asset/Command/GetByIdSuccessfulTest.php
  app/code/Magento/MediaGallery/Test/Unit/Model/Asset/Command/SaveTest.php
  app/code/Magento/MediaGallery/Test/Unit/Model/Keyword/Command/GetAssetKeywordsTest.php
  app/code/Magento/MediaGallery/Test/Unit/Model/Keyword/Command/SaveAssetKeywordsTest.php
  app/code/Magento/MediaGallery/Test/Unit/Model/Keyword/Command/SaveAssetLinksTest.php
  app/code/Magento/MediaGallery/Test/Unit/Plugin/Product/Gallery/ProcessorTest.php
  app/code/Magento/MediaGallery/Test/Unit/Plugin/Wysiwyg/Images/StorageTest.php
Labels: Auto-Tests: Covered, Component: MediaGallery, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27785 #27500 Prepare Wishlist module Tests for PHPUnit 8
  app/code/Magento/Wishlist/Test/Unit/Block/Adminhtml/Widget/Grid/Column/Filter/TextTest.php
  app/code/Magento/Wishlist/Test/Unit/Block/Cart/Item/Renderer/Actions/MoveToWishlistTest.php
  app/code/Magento/Wishlist/Test/Unit/Block/Customer/SidebarTest.php
  app/code/Magento/Wishlist/Test/Unit/Block/Customer/Wishlist/Item/OptionsTest.php
  app/code/Magento/Wishlist/Test/Unit/Block/Item/ConfigureTest.php
  app/code/Magento/Wishlist/Test/Unit/Block/Rss/EmailLinkTest.php
  app/code/Magento/Wishlist/Test/Unit/Block/Rss/LinkTest.php
  app/code/Magento/Wishlist/Test/Unit/Controller/Index/AllcartTest.php
  app/code/Magento/Wishlist/Test/Unit/Controller/Index/CartTest.php
  app/code/Magento/Wishlist/Test/Unit/Controller/Index/FromcartTest.php
  app/code/Magento/Wishlist/Test/Unit/Controller/Index/IndexTest.php
  app/code/Magento/Wishlist/Test/Unit/Controller/Index/PluginTest.php
  app/code/Magento/Wishlist/Test/Unit/Controller/Index/RemoveTest.php
  app/code/Magento/Wishlist/Test/Unit/Controller/Index/SendTest.php
  app/code/Magento/Wishlist/Test/Unit/Controller/Index/ShareTest.php
  app/code/Magento/Wishlist/Test/Unit/Controller/Index/UpdateItemOptionsTest.php
  app/code/Magento/Wishlist/Test/Unit/Controller/Index/UpdateTest.php
  app/code/Magento/Wishlist/Test/Unit/Controller/Shared/AllcartTest.php
  app/code/Magento/Wishlist/Test/Unit/Controller/Shared/CartTest.php
  app/code/Magento/Wishlist/Test/Unit/Controller/WishlistProviderTest.php
  app/code/Magento/Wishlist/Test/Unit/CustomerData/WishlistTest.php
  app/code/Magento/Wishlist/Test/Unit/DataProvider/Product/Collector/ButtonTest.php
  app/code/Magento/Wishlist/Test/Unit/Helper/DataTest.php
  app/code/Magento/Wishlist/Test/Unit/Helper/RssTest.php
  app/code/Magento/Wishlist/Test/Unit/Model/AuthenticationStateTest.php
  app/code/Magento/Wishlist/Test/Unit/Model/ConfigTest.php
  app/code/Magento/Wishlist/Test/Unit/Model/ItemCarrierTest.php
  app/code/Magento/Wishlist/Test/Unit/Model/ItemTest.php
  app/code/Magento/Wishlist/Test/Unit/Model/LocaleQuantityProcessorTest.php
  app/code/Magento/Wishlist/Test/Unit/Model/Product/AttributeValueProviderTest.php
  app/code/Magento/Wishlist/Test/Unit/Model/ResourceModel/Item/CollectionTest.php
  app/code/Magento/Wishlist/Test/Unit/Model/Rss/WishlistTest.php
  app/code/Magento/Wishlist/Test/Unit/Model/WishlistCleanerTest.php
  app/code/Magento/Wishlist/Test/Unit/Model/WishlistTest.php
  app/code/Magento/Wishlist/Test/Unit/Observer/AddToCartTest.php
  app/code/Magento/Wishlist/Test/Unit/Observer/CartUpdateBeforeTest.php
  app/code/Magento/Wishlist/Test/Unit/Observer/CustomerLoginTest.php
  app/code/Magento/Wishlist/Test/Unit/Observer/CustomerLogoutTest.php
  app/code/Magento/Wishlist/Test/Unit/Plugin/Model/ResourceModel/ProductTest.php
  app/code/Magento/Wishlist/Test/Unit/Plugin/Ui/DataProvider/WishlistSettingsTest.php
  app/code/Magento/Wishlist/Test/Unit/Pricing/ConfiguredPrice/ConfigurableProductTest.php
  app/code/Magento/Wishlist/Test/Unit/Pricing/ConfiguredPrice/DownloadableTest.php
  app/code/Magento/Wishlist/Test/Unit/Pricing/Render/ConfiguredPriceBoxTest.php
  app/code/Magento/Wishlist/Test/Unit/ViewModel/AllowedQuantityTest.php
Labels: Auto-Tests: Covered, Award: category of expertise, Component: Wishlist, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27783 #27500 Prepare Swatches module Tests for PHPUnit 8
  app/code/Magento/Swatches/Test/Unit/Block/Adminhtml/Attribute/Edit/Options/AbstractSwatchTest.php
  app/code/Magento/Swatches/Test/Unit/Block/Adminhtml/Attribute/Edit/Options/TextTest.php
  app/code/Magento/Swatches/Test/Unit/Block/Adminhtml/Attribute/Edit/Options/VisualTest.php
  app/code/Magento/Swatches/Test/Unit/Block/Adminhtml/Product/Attribute/Edit/FormTest.php
  app/code/Magento/Swatches/Test/Unit/Block/LayeredNavigation/RenderLayeredTest.php
  app/code/Magento/Swatches/Test/Unit/Block/Product/Renderer/Listing/ConfigurableTest.php
  app/code/Magento/Swatches/Test/Unit/Controller/Adminhtml/Iframe/ShowTest.php
  app/code/Magento/Swatches/Test/Unit/Controller/Ajax/MediaTest.php
  app/code/Magento/Swatches/Test/Unit/Helper/DataTest.php
  app/code/Magento/Swatches/Test/Unit/Helper/MediaTest.php
  app/code/Magento/Swatches/Test/Unit/Model/AttributesListTest.php
  app/code/Magento/Swatches/Test/Unit/Model/ConvertSwatchAttributeFrontendInputTest.php
  app/code/Magento/Swatches/Test/Unit/Model/Form/Element/AbstractSwatchTest.php
  app/code/Magento/Swatches/Test/Unit/Model/Plugin/ConfigurableTest.php
  app/code/Magento/Swatches/Test/Unit/Model/Plugin/EavAttributeTest.php
  app/code/Magento/Swatches/Test/Unit/Model/Plugin/FilterRendererTest.php
  app/code/Magento/Swatches/Test/Unit/Model/Plugin/ProductImageTest.php
  app/code/Magento/Swatches/Test/Unit/Model/Plugin/ProductTest.php
  app/code/Magento/Swatches/Test/Unit/Model/SwatchAttributeCodesTest.php
  app/code/Magento/Swatches/Test/Unit/Model/SwatchAttributeTypeTest.php
  app/code/Magento/Swatches/Test/Unit/Model/SwatchAttributesProviderTest.php
  app/code/Magento/Swatches/Test/Unit/Observer/AddFieldsToAttributeObserverTest.php
  app/code/Magento/Swatches/Test/Unit/Observer/AddSwatchAttributeTypeObserverTest.php
  app/code/Magento/Swatches/Test/Unit/Plugin/Catalog/CacheInvalidateTest.php
Labels: Auto-Tests: Not Required, Component: Swatches, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27781 #27500 Prepare SalesInventory module Tests for PHPUnit 8
  app/code/Magento/SalesInventory/Test/Unit/Model/Order/ReturnProcessorTest.php
  app/code/Magento/SalesInventory/Test/Unit/Model/Order/ReturnValidatorTest.php
  app/code/Magento/SalesInventory/Test/Unit/Model/Plugin/Order/ReturnToStockInvoiceTest.php
  app/code/Magento/SalesInventory/Test/Unit/Model/Plugin/Order/ReturnToStockOrderTest.php
  app/code/Magento/SalesInventory/Test/Unit/Model/Plugin/Order/Validation/InvoiceRefundCreationArgumentsTest.php
  app/code/Magento/SalesInventory/Test/Unit/Model/Plugin/Order/Validation/OrderRefundCreationArgumentsTest.php
  app/code/Magento/SalesInventory/Test/Unit/Observer/RefundOrderInventoryObserverTest.php
Labels: Auto-Tests: Covered, Component: SalesInventory, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27779 #27500 Prepare AdminNotification module Tests for PHPUnit 8
  app/code/Magento/AdminNotification/Test/Unit/Block/Grid/Renderer/ActionsTest.php
  app/code/Magento/AdminNotification/Test/Unit/Block/Grid/Renderer/NoticeTest.php
  app/code/Magento/AdminNotification/Test/Unit/Block/Grid/Renderer/SeverityTest.php
  app/code/Magento/AdminNotification/Test/Unit/Block/ToolbarEntryTest.php
  app/code/Magento/AdminNotification/Test/Unit/Model/FeedTest.php
  app/code/Magento/AdminNotification/Test/Unit/Model/NotificationServiceTest.php
  app/code/Magento/AdminNotification/Test/Unit/Model/System/Message/CacheOutdatedTest.php
  app/code/Magento/AdminNotification/Test/Unit/Model/System/Message/Media/Synchronization/ErrorTest.php
  app/code/Magento/AdminNotification/Test/Unit/Model/System/Message/SecurityTest.php
  app/code/Magento/AdminNotification/Test/Unit/Observer/PredispatchAdminActionControllerObserverTest.php
Labels: Auto-Tests: Not Required, Component: AdminNotification, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27776 #27500 Prepare MessageQueue module Tests for PHPUnit 8
  app/code/Magento/MessageQueue/Test/Unit/Console/StartConsumerCommandTest.php
  app/code/Magento/MessageQueue/Test/Unit/Model/ConsumerRunnerTest.php
  app/code/Magento/MessageQueue/Test/Unit/Model/Cron/ConsumersRunnerTest.php
  app/code/Magento/MessageQueue/Test/Unit/Model/ResourceModel/LockTest.php
  app/code/Magento/MessageQueue/Test/Unit/_files/pid_consumer_functions_mocks.php
Labels: Auto-Tests: Covered, Component: MessageQueue, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27772 #27500 Prepare Webapi module Tests for PHPUnit 8
  app/code/Magento/Webapi/Test/Unit/Controller/PathProcessorTest.php
  app/code/Magento/Webapi/Test/Unit/Controller/Rest/ParamOverriderCustomerIdTest.php
  app/code/Magento/Webapi/Test/Unit/Controller/Rest/ParamsOverriderTest.php
  app/code/Magento/Webapi/Test/Unit/Controller/Rest/RequestValidatorTest.php
  app/code/Magento/Webapi/Test/Unit/Controller/Rest/Router/RouteTest.php
  app/code/Magento/Webapi/Test/Unit/Controller/Rest/RouterTest.php
  app/code/Magento/Webapi/Test/Unit/Controller/RestTest.php
  app/code/Magento/Webapi/Test/Unit/Controller/SoapTest.php
  app/code/Magento/Webapi/Test/Unit/ExceptionTest.php
  app/code/Magento/Webapi/Test/Unit/Model/Authorization/GuestUserContextTest.php
  app/code/Magento/Webapi/Test/Unit/Model/Authorization/OauthUserContextTest.php
  app/code/Magento/Webapi/Test/Unit/Model/Authorization/TokenUserContextTest.php
  app/code/Magento/Webapi/Test/Unit/Model/Config/ClassReflectorTest.php
  app/code/Magento/Webapi/Test/Unit/Model/Config/ConverterTest.php
  app/code/Magento/Webapi/Test/Unit/Model/Config/TestServiceForClassReflector.php
  app/code/Magento/Webapi/Test/Unit/Model/Config/_files/webapi.php
  app/code/Magento/Webapi/Test/Unit/Model/ConfigTest.php
  app/code/Magento/Webapi/Test/Unit/Model/DataObjectProcessorTest.php
  app/code/Magento/Webapi/Test/Unit/Model/Plugin/ManagerTest.php
  app/code/Magento/Webapi/Test/Unit/Model/Rest/Swagger/GeneratorTest.php
  app/code/Magento/Webapi/Test/Unit/Model/Soap/FaultTest.php
  app/code/Magento/Webapi/Test/Unit/Model/Soap/ServerTest.php
  app/code/Magento/Webapi/Test/Unit/Model/Soap/Wsdl/ComplexTypeStrategyTest.php
  app/code/Magento/Webapi/Test/Unit/Model/Soap/Wsdl/GeneratorTest.php
  app/code/Magento/Webapi/Test/Unit/Model/Soap/WsdlFactoryTest.php
  app/code/Magento/Webapi/Test/Unit/Model/WebapiRoleLocatorTest.php
  app/code/Magento/Webapi/Test/Unit/Model/_files/acl.php
  app/code/Magento/Webapi/Test/Unit/_files/soap_fault/soap_fault_expected_xmls.php
Labels: Auto-Tests: Not Required, Component: Webapi, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27771 #27500 Prepare Checkout module Tests for PHPUnit 8
  app/code/Magento/Checkout/Test/Unit/Block/Cart/AbstractCartTest.php
  app/code/Magento/Checkout/Test/Unit/Block/Cart/CartTotalsProcessorTest.php
  app/code/Magento/Checkout/Test/Unit/Block/Cart/GridTest.php
  app/code/Magento/Checkout/Test/Unit/Block/Cart/Item/Renderer/Actions/EditTest.php
  app/code/Magento/Checkout/Test/Unit/Block/Cart/Item/Renderer/Actions/GenericTest.php
  app/code/Magento/Checkout/Test/Unit/Block/Cart/Item/Renderer/Actions/RemoveTest.php
  app/code/Magento/Checkout/Test/Unit/Block/Cart/Item/Renderer/ActionsTest.php
  app/code/Magento/Checkout/Test/Unit/Block/Cart/Item/RendererTest.php
  app/code/Magento/Checkout/Test/Unit/Block/Cart/LayoutProcessorTest.php
  app/code/Magento/Checkout/Test/Unit/Block/Cart/LinkTest.php
  app/code/Magento/Checkout/Test/Unit/Block/Cart/ShippingTest.php
  app/code/Magento/Checkout/Test/Unit/Block/Cart/SidebarTest.php
  app/code/Magento/Checkout/Test/Unit/Block/Checkout/AttributeMergerTest.php
  app/code/Magento/Checkout/Test/Unit/Block/Checkout/DirectoryDataProcessorTest.php
  app/code/Magento/Checkout/Test/Unit/Block/Checkout/LayoutProcessorTest.php
  app/code/Magento/Checkout/Test/Unit/Block/Checkout/TotalsProcessorTest.php
  app/code/Magento/Checkout/Test/Unit/Block/Item/Price/RendererTest.php
  app/code/Magento/Checkout/Test/Unit/Block/LinkTest.php
  app/code/Magento/Checkout/Test/Unit/Block/Onepage/SuccessTest.php
  app/code/Magento/Checkout/Test/Unit/Block/OnepageTest.php
  app/code/Magento/Checkout/Test/Unit/Block/Shipping/PriceTest.php
  app/code/Magento/Checkout/Test/Unit/Controller/Account/CreateTest.php
  app/code/Magento/Checkout/Test/Unit/Controller/Cart/AddTest.php
  app/code/Magento/Checkout/Test/Unit/Controller/Cart/ConfigureTest.php
  app/code/Magento/Checkout/Test/Unit/Controller/Cart/IndexTest.php
  app/code/Magento/Checkout/Test/Unit/Controller/Index/IndexTest.php
  app/code/Magento/Checkout/Test/Unit/Controller/OnepageTest.php
  app/code/Magento/Checkout/Test/Unit/Controller/Sidebar/RemoveItemTest.php
  app/code/Magento/Checkout/Test/Unit/Controller/Sidebar/UpdateItemQtyTest.php
  app/code/Magento/Checkout/Test/Unit/Controller/Stub/OnepageStub.php
  app/code/Magento/Checkout/Test/Unit/CustomerData/CartTest.php
  app/code/Magento/Checkout/Test/Unit/CustomerData/DefaultItemTest.php
  app/code/Magento/Checkout/Test/Unit/CustomerData/DirectoryDataTest.php
  app/code/Magento/Checkout/Test/Unit/CustomerData/ItemPoolTest.php
  app/code/Magento/Checkout/Test/Unit/Helper/CartTest.php
  app/code/Magento/Checkout/Test/Unit/Helper/DataTest.php
  app/code/Magento/Checkout/Test/Unit/Helper/ExpressRedirectTest.php
  app/code/Magento/Checkout/Test/Unit/Model/AgreementsValidatorTest.php
  app/code/Magento/Checkout/Test/Unit/Model/Cart/CheckoutSummaryConfigProviderTest.php
  app/code/Magento/Checkout/Test/Unit/Model/Cart/CollectQuoteTest.php
  app/code/Magento/Checkout/Test/Unit/Model/Cart/ImageProviderTest.php
  app/code/Magento/Checkout/Test/Unit/Model/Cart/RequestInfoFilterCompositeTest.php
  app/code/Magento/Checkout/Test/Unit/Model/Cart/RequestInfoFilterTest.php
  app/code/Magento/Checkout/Test/Unit/Model/Cart/RequestQuantityProcessorTest.php
  app/code/Magento/Checkout/Test/Unit/Model/CartTest.php
  app/code/Magento/Checkout/Test/Unit/Model/CompositeConfigProviderTest.php
  app/code/Magento/Checkout/Test/Unit/Model/Config/Source/Cart/SummaryTest.php
  app/code/Magento/Checkout/Test/Unit/Model/GuestPaymentInformationManagementTest.php
  app/code/Magento/Checkout/Test/Unit/Model/GuestShippingInformationManagementTest.php
  app/code/Magento/Checkout/Test/Unit/Model/Layout/DepersonalizePluginTest.php
  app/code/Magento/Checkout/Test/Unit/Model/PaymentInformationManagementTest.php
  app/code/Magento/Checkout/Test/Unit/Model/Session/SuccessValidatorTest.php
  app/code/Magento/Checkout/Test/Unit/Model/SessionTest.php
  app/code/Magento/Checkout/Test/Unit/Model/ShippingInformationManagementTest.php
  app/code/Magento/Checkout/Test/Unit/Model/SidebarTest.php
  app/code/Magento/Checkout/Test/Unit/Model/Type/OnepageTest.php
  app/code/Magento/Checkout/Test/Unit/Observer/LoadCustomerQuoteObserverTest.php
  app/code/Magento/Checkout/Test/Unit/Observer/SalesQuoteSaveAfterObserverTest.php
  app/code/Magento/Checkout/Test/Unit/Observer/UnsetAllObserverTest.php
  app/code/Magento/Checkout/Test/Unit/Plugin/ResetQuoteAddressesTest.php
Labels: Auto-Tests: Not Required, Award: category of expertise, Component: Checkout, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27770 #27500 Prepare User module Tests for PHPUnit 8
  app/code/Magento/User/Test/Unit/Block/Role/EditTest.php
  app/code/Magento/User/Test/Unit/Block/Role/Grid/UserTest.php
  app/code/Magento/User/Test/Unit/Block/Role/Tab/EditTest.php
  app/code/Magento/User/Test/Unit/Block/Role/Tab/InfoTest.php
  app/code/Magento/User/Test/Unit/Block/Role/Tab/UsersTest.php
  app/code/Magento/User/Test/Unit/Block/User/Edit/Tab/RolesTest.php
  app/code/Magento/User/Test/Unit/Console/UnlockAdminAccountCommandTest.php
  app/code/Magento/User/Test/Unit/Controller/Adminhtml/User/DeleteTest.php
  app/code/Magento/User/Test/Unit/Controller/Adminhtml/User/Role/DeleteTest.php
  app/code/Magento/User/Test/Unit/Helper/DataTest.php
  app/code/Magento/User/Test/Unit/Model/Authorization/AdminSessionUserContextTest.php
  app/code/Magento/User/Test/Unit/Model/Backend/Config/ObserverConfigTest.php
  app/code/Magento/User/Test/Unit/Model/Plugin/AuthorizationRoleTest.php
  app/code/Magento/User/Test/Unit/Model/ResourceModel/UserTest.php
  app/code/Magento/User/Test/Unit/Model/UserTest.php
  app/code/Magento/User/Test/Unit/Model/UserValidationRulesTest.php
  app/code/Magento/User/Test/Unit/Observer/Backend/AuthObserverTest.php
  app/code/Magento/User/Test/Unit/Observer/Backend/ForceAdminPasswordChangeObserverTest.php
  app/code/Magento/User/Test/Unit/Observer/Backend/TrackAdminNewPasswordObserverTest.php
Labels: Auto-Tests: Covered, Component: User, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27768 #27500 Prepare MysqlMq module Tests for PHPUnit 8
  app/code/Magento/MysqlMq/Test/Unit/Model/ConnectionTypeResolverTest.php
  app/code/Magento/MysqlMq/Test/Unit/Model/Driver/Bulk/ExchangeTest.php
  app/code/Magento/MysqlMq/Test/Unit/Model/QueueManagementTest.php
  app/code/Magento/MysqlMq/Test/Unit/Model/ResourceModel/QueueTest.php
  app/code/Magento/MysqlMq/Test/Unit/Setup/RecurringTest.php
Labels: Auto-Tests: Covered, Component: MysqlMq, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27767 #27500 Prepare Email module Tests for PHPUnit 8
  app/code/Magento/Email/Test/Unit/Block/Adminhtml/Template/Edit/FormTest.php
  app/code/Magento/Email/Test/Unit/Block/Adminhtml/Template/EditTest.php
  app/code/Magento/Email/Test/Unit/Block/Adminhtml/Template/Grid/Renderer/ActionTest.php
  app/code/Magento/Email/Test/Unit/Block/Adminhtml/Template/Grid/Renderer/SenderTest.php
  app/code/Magento/Email/Test/Unit/Block/Adminhtml/Template/Grid/Renderer/TypeTest.php
  app/code/Magento/Email/Test/Unit/Block/Adminhtml/Template/PreviewTest.php
  app/code/Magento/Email/Test/Unit/Block/Adminhtml/Template/Render/SenderTest.php
  app/code/Magento/Email/Test/Unit/Block/Adminhtml/Template/Render/TypeTest.php
  app/code/Magento/Email/Test/Unit/Block/Adminhtml/TemplateTest.php
  app/code/Magento/Email/Test/Unit/Controller/Adminhtml/Email/Template/EditTest.php
  app/code/Magento/Email/Test/Unit/Controller/Adminhtml/Email/Template/IndexTest.php
  app/code/Magento/Email/Test/Unit/Controller/Adminhtml/Email/Template/PreviewTest.php
  app/code/Magento/Email/Test/Unit/Model/AbstractTemplateTest.php
  app/code/Magento/Email/Test/Unit/Model/BackendTemplateTest.php
  app/code/Magento/Email/Test/Unit/Model/Mail/TransportInterfacePluginTest.php
  app/code/Magento/Email/Test/Unit/Model/Plugin/WindowsSmtpConfigTest.php
  app/code/Magento/Email/Test/Unit/Model/Template/Config/ConverterTest.php
  app/code/Magento/Email/Test/Unit/Model/Template/Config/FileIteratorTest.php
  app/code/Magento/Email/Test/Unit/Model/Template/Config/FileResolverTest.php
  app/code/Magento/Email/Test/Unit/Model/Template/Config/ReaderTest.php
  app/code/Magento/Email/Test/Unit/Model/Template/Config/SchemaLocatorTest.php
  app/code/Magento/Email/Test/Unit/Model/Template/Config/XsdTest.php
  app/code/Magento/Email/Test/Unit/Model/Template/Config/_files/email_templates_merged.php
  app/code/Magento/Email/Test/Unit/Model/Template/ConfigTest.php
  app/code/Magento/Email/Test/Unit/Model/Template/Css/ProcessorTest.php
  app/code/Magento/Email/Test/Unit/Model/Template/FilterTest.php
  app/code/Magento/Email/Test/Unit/Model/Template/SenderResolverTest.php
  app/code/Magento/Email/Test/Unit/Model/TemplateTest.php
  app/code/Magento/Email/Test/Unit/ViewModel/Template/Preview/FormTest.php
Labels: Auto-Tests: Covered, Award: category of expertise, Component: Email, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27765 #27500 Prepare ReleaseNotification module Tests for PHPUnit 8
  app/code/Magento/ReleaseNotification/Test/Unit/Controller/Notification/MarkUserNotifiedTest.php
  app/code/Magento/ReleaseNotification/Test/Unit/Model/Condition/CanViewNotificationTest.php
  app/code/Magento/ReleaseNotification/Test/Unit/Model/ContentProvider/Http/HttpContentProviderTest.php
  app/code/Magento/ReleaseNotification/Test/Unit/Model/ContentProvider/Http/UrlBuilderTest.php
Labels: Auto-Tests: Covered, Component: ReleaseNotification, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27764 #27500 Prepare SalesRule module Tests for PHPUnit 8
  app/code/Magento/SalesRule/Test/Unit/Block/Adminhtml/Promo/Quote/Edit/DeleteButtonTest.php
  app/code/Magento/SalesRule/Test/Unit/Block/Adminhtml/Promo/Quote/Edit/GenericButtonTest.php
  app/code/Magento/SalesRule/Test/Unit/Block/Adminhtml/Promo/Quote/Edit/ResetButtonTest.php
  app/code/Magento/SalesRule/Test/Unit/Block/Adminhtml/Promo/Quote/Edit/SaveAndContinueButtonTest.php
  app/code/Magento/SalesRule/Test/Unit/Block/Adminhtml/Promo/Quote/Edit/SaveButtonTest.php
  app/code/Magento/SalesRule/Test/Unit/Block/Rss/DiscountsTest.php
  app/code/Magento/SalesRule/Test/Unit/Controller/Adminhtml/Promo/Quote/ExportCouponsCsvTest.php
  app/code/Magento/SalesRule/Test/Unit/Controller/Adminhtml/Promo/Quote/ExportCouponsXmlTest.php
  app/code/Magento/SalesRule/Test/Unit/Controller/Adminhtml/Promo/Quote/GenerateTest.php
  app/code/Magento/SalesRule/Test/Unit/Cron/AggregateSalesReportCouponsDataTest.php
  app/code/Magento/SalesRule/Test/Unit/Helper/CouponTest.php
  app/code/Magento/SalesRule/Test/Unit/Model/Converter/ToDataModelTest.php
  app/code/Magento/SalesRule/Test/Unit/Model/Converter/ToModelTest.php
  app/code/Magento/SalesRule/Test/Unit/Model/Coupon/CodegeneratorTest.php
  app/code/Magento/SalesRule/Test/Unit/Model/Coupon/MassgeneratorTest.php
  app/code/Magento/SalesRule/Test/Unit/Model/CouponGeneratorTest.php
  app/code/Magento/SalesRule/Test/Unit/Model/CouponRepositoryTest.php
  app/code/Magento/SalesRule/Test/Unit/Model/CouponTest.php
  app/code/Magento/SalesRule/Test/Unit/Model/DeltaPriceRoundTest.php
  app/code/Magento/SalesRule/Test/Unit/Model/Plugin/QuoteConfigProductAttributesTest.php
  app/code/Magento/SalesRule/Test/Unit/Model/Plugin/ResourceModel/RuleTest.php
  app/code/Magento/SalesRule/Test/Unit/Model/Plugin/RuleTest.php
  app/code/Magento/SalesRule/Test/Unit/Model/Quote/Address/Total/ShippingDiscountTest.php
  app/code/Magento/SalesRule/Test/Unit/Model/Quote/ChildrenValidationLocatorTest.php
  app/code/Magento/SalesRule/Test/Unit/Model/Quote/DiscountTest.php
  app/code/Magento/SalesRule/Test/Unit/Model/ResourceModel/ReadHandlerTest.php
  app/code/Magento/SalesRule/Test/Unit/Model/ResourceModel/Report/CollectionTest.php
  app/code/Magento/SalesRule/Test/Unit/Model/ResourceModel/Report/RuleTest.php
  app/code/Magento/SalesRule/Test/Unit/Model/ResourceModel/Rule/DateApplierTest.php
  app/code/Magento/SalesRule/Test/Unit/Model/ResourceModel/RuleTest.php
  app/code/Magento/SalesRule/Test/Unit/Model/ResourceModel/SaveHandlerTest.php
  app/code/Magento/SalesRule/Test/Unit/Model/Rss/DiscountsTest.php
  app/code/Magento/SalesRule/Test/Unit/Model/Rule/Action/Discount/ByPercentTest.php
  app/code/Magento/SalesRule/Test/Unit/Model/Rule/Action/Discount/CartFixedTest.php
  app/code/Magento/SalesRule/Test/Unit/Model/Rule/Action/Discount/ToPercentTest.php
  app/code/Magento/SalesRule/Test/Unit/Model/Rule/Action/SimpleActionOptionsProviderTest.php
  app/code/Magento/SalesRule/Test/Unit/Model/Rule/Condition/ProductTest.php
  app/code/Magento/SalesRule/Test/Unit/Model/Rule/DataProviderTest.php
  app/code/Magento/SalesRule/Test/Unit/Model/Rule/Metadata/ValueProviderTest.php
  app/code/Magento/SalesRule/Test/Unit/Model/Rule/Metadata/_files/MetaData.php
  app/code/Magento/SalesRule/Test/Unit/Model/RuleRepositoryTest.php
  app/code/Magento/SalesRule/Test/Unit/Model/RuleTest.php
  app/code/Magento/SalesRule/Test/Unit/Model/RulesApplierTest.php
  app/code/Magento/SalesRule/Test/Unit/Model/System/Config/Source/Coupon/FormatTest.php
  app/code/Magento/SalesRule/Test/Unit/Model/UtilityTest.php
  app/code/Magento/SalesRule/Test/Unit/Model/Validator/PoolTest.php
  app/code/Magento/SalesRule/Test/Unit/Model/ValidatorTest.php
  app/code/Magento/SalesRule/Test/Unit/Model/_files/quote_item_downloadable.php
  app/code/Magento/SalesRule/Test/Unit/Model/_files/quote_item_simple.php
  app/code/Magento/SalesRule/Test/Unit/Observer/AddSalesRuleNameToOrderObserverTest.php
  app/code/Magento/SalesRule/Test/Unit/Observer/CatalogAttributeDeleteAfterObserverTest.php
  app/code/Magento/SalesRule/Test/Unit/Observer/CatalogAttributeSaveAfterObserverTest.php
  app/code/Magento/SalesRule/Test/Unit/Observer/CouponCodeValidationTest.php
Labels: Auto-Tests: Covered, Award: category of expertise, Component: SalesRule, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27763 #27500 Prepare Developer module Tests for PHPUnit 8
  app/code/Magento/Developer/Test/Unit/Block/Adminhtml/System/Config/WorkflowTypeTest.php
  app/code/Magento/Developer/Test/Unit/Console/Command/DevTestsRunCommandTest.php
  app/code/Magento/Developer/Test/Unit/Console/Command/ProfilerDisableCommandTest.php
  app/code/Magento/Developer/Test/Unit/Console/Command/ProfilerEnableCommandTest.php
  app/code/Magento/Developer/Test/Unit/Console/Command/QueryLogDisableCommandTest.php
  app/code/Magento/Developer/Test/Unit/Console/Command/QueryLogEnableCommandTest.php
  app/code/Magento/Developer/Test/Unit/Console/Command/SourceThemeDeployCommandTest.php
  app/code/Magento/Developer/Test/Unit/Console/Command/TablesWhitelistGenerateCommandTest.php
  app/code/Magento/Developer/Test/Unit/Console/Command/TemplateHintsStatusCommandTest.php
  app/code/Magento/Developer/Test/Unit/Console/Command/XmlCatalogGenerateCommandTest.php
  app/code/Magento/Developer/Test/Unit/Console/Command/XmlConverterCommandTest.php
  app/code/Magento/Developer/Test/Unit/Helper/DataTest.php
  app/code/Magento/Developer/Test/Unit/Model/Config/Backend/AllowedIpsTest.php
  app/code/Magento/Developer/Test/Unit/Model/Config/Backend/WorkflowTypeTest.php
  app/code/Magento/Developer/Test/Unit/Model/Config/Source/WorkflowTypeTest.php
  app/code/Magento/Developer/Test/Unit/Model/Css/PreProcessor/FileGenerator/PublicationDecoratorTest.php
  app/code/Magento/Developer/Test/Unit/Model/Di/InformationTest.php
  app/code/Magento/Developer/Test/Unit/Model/Logger/Handler/DebugTest.php
  app/code/Magento/Developer/Test/Unit/Model/Logger/Handler/SyslogTest.php
  app/code/Magento/Developer/Test/Unit/Model/TemplateEngine/Decorator/DebugHintsTest.php
  app/code/Magento/Developer/Test/Unit/Model/TemplateEngine/Plugin/DebugHintsTest.php
  app/code/Magento/Developer/Test/Unit/Model/View/Asset/PreProcessor/FrontendCompilationTest.php
  app/code/Magento/Developer/Test/Unit/Model/View/Asset/PreProcessor/PreprocessorStrategyTest.php
  app/code/Magento/Developer/Test/Unit/Model/View/Page/Config/ClientSideLessCompilation/RendererTest.php
  app/code/Magento/Developer/Test/Unit/Model/View/Page/Config/RendererFactoryTest.php
  app/code/Magento/Developer/Test/Unit/Model/XmlCatalog/Format/VsCodeTest.php
  dev/tests/static/testsuite/Magento/Test/Php/_files/phpstan/blacklist/common.txt
Labels: Auto-Tests: Covered, Component: Developer, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27762 #27500 Prepare Vault module Tests for PHPUnit 8
  app/code/Magento/Vault/Test/Unit/Block/Customer/AccountTokensTest.php
  app/code/Magento/Vault/Test/Unit/Model/AccountPaymentTokenFactoryTest.php
  app/code/Magento/Vault/Test/Unit/Model/CreditCardTokenFactoryTest.php
  app/code/Magento/Vault/Test/Unit/Model/CustomerTokenManagementTest.php
  app/code/Magento/Vault/Test/Unit/Model/Method/VaultTest.php
  app/code/Magento/Vault/Test/Unit/Model/PaymentMethodListTest.php
  app/code/Magento/Vault/Test/Unit/Model/PaymentTokenManagementTest.php
  app/code/Magento/Vault/Test/Unit/Model/PaymentTokenRepositoryTest.php
  app/code/Magento/Vault/Test/Unit/Model/Ui/Adminhtml/TokensConfigProviderTest.php
  app/code/Magento/Vault/Test/Unit/Model/Ui/TokensConfigProviderTest.php
  app/code/Magento/Vault/Test/Unit/Model/Ui/VaultConfigProviderTest.php
  app/code/Magento/Vault/Test/Unit/Observer/AfterPaymentSaveObserverTest.php
  app/code/Magento/Vault/Test/Unit/Observer/PaymentTokenAssignerTest.php
  app/code/Magento/Vault/Test/Unit/Observer/VaultEnableAssignerTest.php
  app/code/Magento/Vault/Test/Unit/Plugin/PaymentVaultConfigurationProcessTest.php
Labels: Auto-Tests: Covered, Component: Vault, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27754 #27500 Prepare CmsUrlRewrite module Tests for PHPUnit 8
  app/code/Magento/CmsUrlRewrite/Test/Unit/Model/CmsPageUrlPathGeneratorTest.php
  app/code/Magento/CmsUrlRewrite/Test/Unit/Model/CmsPageUrlRewriteGeneratorTest.php
  app/code/Magento/CmsUrlRewrite/Test/Unit/Observer/ProcessUrlRewriteSavingObserverTest.php
  app/code/Magento/CmsUrlRewrite/Test/Unit/Plugin/Cms/Model/ResourceModel/PageTest.php
Labels: Auto-Tests: Covered, Component: CmsUrlRewrite, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27752 #27500 Prepare GiftMessage module Tests for PHPUnit 8
  app/code/Magento/GiftMessage/Test/Unit/Block/Cart/GiftOptionsTest.php
  app/code/Magento/GiftMessage/Test/Unit/Block/Cart/Item/Renderer/Actions/GiftOptionsTest.php
  app/code/Magento/GiftMessage/Test/Unit/Block/Cart/Item/Renderer/Actions/ItemIdProcessorTest.php
  app/code/Magento/GiftMessage/Test/Unit/Helper/MessageTest.php
  app/code/Magento/GiftMessage/Test/Unit/Model/CartRepositoryTest.php
  app/code/Magento/GiftMessage/Test/Unit/Model/CompositeConfigProviderTest.php
  app/code/Magento/GiftMessage/Test/Unit/Model/GiftMessageConfigProviderTest.php
  app/code/Magento/GiftMessage/Test/Unit/Model/GiftMessageManagerTest.php
  app/code/Magento/GiftMessage/Test/Unit/Model/GuestCartRepositoryTest.php
  app/code/Magento/GiftMessage/Test/Unit/Model/GuestItemRepositoryTest.php
  app/code/Magento/GiftMessage/Test/Unit/Model/ItemRepositoryTest.php
  app/code/Magento/GiftMessage/Test/Unit/Model/OrderItemRepositoryTest.php
  app/code/Magento/GiftMessage/Test/Unit/Model/Plugin/OrderGetTest.php
  app/code/Magento/GiftMessage/Test/Unit/Model/Plugin/OrderSaveTest.php
  app/code/Magento/GiftMessage/Test/Unit/Model/Plugin/QuoteItemTest.php
  app/code/Magento/GiftMessage/Test/Unit/Model/SaveTest.php
  app/code/Magento/GiftMessage/Test/Unit/Model/Type/Plugin/MultishippingTest.php
  app/code/Magento/GiftMessage/Test/Unit/Model/Type/Plugin/OnepageTest.php
  app/code/Magento/GiftMessage/Test/Unit/Observer/MultishippingEventCreateOrdersObserverTest.php
  app/code/Magento/GiftMessage/Test/Unit/Observer/SalesEventOrderToQuoteObserverTest.php
  app/code/Magento/GiftMessage/Test/Unit/Observer/SalesEventQuoteMergeTest.php
  app/code/Magento/GiftMessage/Test/Unit/Observer/SalesEventQuoteSubmitBeforeObserverTest.php
  app/code/Magento/GiftMessage/Test/Unit/Ui/DataProvider/Product/Modifier/GiftMessageTest.php
Labels: Auto-Tests: Covered, Component: GiftMessage, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27749 #27500 Prepare Review module Tests for PHPUnit 8
  app/code/Magento/Review/Test/Unit/Block/Adminhtml/MainTest.php
  app/code/Magento/Review/Test/Unit/Block/Adminhtml/Rating/Edit/Tab/FormTest.php
  app/code/Magento/Review/Test/Unit/Block/Adminhtml/Rss/Grid/LinkTest.php
  app/code/Magento/Review/Test/Unit/Block/Adminhtml/RssTest.php
  app/code/Magento/Review/Test/Unit/Block/Customer/RecentTest.php
  app/code/Magento/Review/Test/Unit/Block/FormTest.php
  app/code/Magento/Review/Test/Unit/Block/Product/ListViewTest.php
  app/code/Magento/Review/Test/Unit/Block/Product/ReviewTest.php
  app/code/Magento/Review/Test/Unit/Controller/Adminhtml/Product/PostTest.php
  app/code/Magento/Review/Test/Unit/Controller/Product/PostTest.php
  app/code/Magento/Review/Test/Unit/Helper/Action/PagerTest.php
  app/code/Magento/Review/Test/Unit/Helper/DataTest.php
  app/code/Magento/Review/Test/Unit/Model/RatingTest.php
  app/code/Magento/Review/Test/Unit/Model/ResourceModel/Review/CollectionTest.php
  app/code/Magento/Review/Test/Unit/Model/ResourceModel/Review/Product/CollectionTest.php
  app/code/Magento/Review/Test/Unit/Model/ResourceModel/Review/Summary/CollectionTest.php
  app/code/Magento/Review/Test/Unit/Model/ReviewSummaryTest.php
  app/code/Magento/Review/Test/Unit/Model/ReviewTest.php
  app/code/Magento/Review/Test/Unit/Model/RssTest.php
  app/code/Magento/Review/Test/Unit/Observer/PredispatchReviewObserverTest.php
  app/code/Magento/Review/Test/Unit/Observer/ProcessProductAfterDeleteEventObserverTest.php
  app/code/Magento/Review/Test/Unit/Ui/Component/Listing/Columns/ReviewActionsTest.php
  app/code/Magento/Review/Test/Unit/Ui/Component/Listing/Columns/StatusTest.php
  app/code/Magento/Review/Test/Unit/Ui/Component/Listing/Columns/TypeTest.php
  app/code/Magento/Review/Test/Unit/Ui/Component/Listing/Columns/VisibilityTest.php
  app/code/Magento/Review/Test/Unit/Ui/DataProvider/Product/Form/Modifier/ReviewTest.php
  app/code/Magento/Review/Test/Unit/Ui/DataProvider/Product/ReviewDataProviderTest.php
Labels: Auto-Tests: Covered, Award: category of expertise, Component: Review, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27658 [Cookie] Fix PHPUnit 8 compatibility issues
  app/code/Magento/Cookie/Test/Unit/Block/RequireCookieTest.php
  app/code/Magento/Cookie/Test/Unit/Controller/Index/NoCookiesTest.php
  app/code/Magento/Cookie/Test/Unit/Helper/CookieTest.php
  app/code/Magento/Cookie/Test/Unit/Model/Config/Backend/DomainTest.php
  app/code/Magento/Cookie/Test/Unit/Model/Config/Backend/LifetimeTest.php
  app/code/Magento/Cookie/Test/Unit/Model/Config/Backend/PathTest.php
Labels: Auto-Tests: Covered, Component: Cookie, Partner: Ziffity, Progress: accept, Release Line: 2.4, partners-contribution

#27796 #27500 Prepare Shipping module Tests for PHPUnit 8
  app/code/Magento/Shipping/Test/Unit/Block/Adminhtml/Order/TrackingTest.php
  app/code/Magento/Shipping/Test/Unit/Controller/Adminhtml/Order/Shipment/AddCommentTest.php
  app/code/Magento/Shipping/Test/Unit/Controller/Adminhtml/Order/Shipment/AddTrackTest.php
  app/code/Magento/Shipping/Test/Unit/Controller/Adminhtml/Order/Shipment/CreateLabelTest.php
  app/code/Magento/Shipping/Test/Unit/Controller/Adminhtml/Order/Shipment/EmailTest.php
  app/code/Magento/Shipping/Test/Unit/Controller/Adminhtml/Order/Shipment/GetShippingItemsGridTest.php
  app/code/Magento/Shipping/Test/Unit/Controller/Adminhtml/Order/Shipment/NewActionTest.php
  app/code/Magento/Shipping/Test/Unit/Controller/Adminhtml/Order/Shipment/PrintLabelTest.php
  app/code/Magento/Shipping/Test/Unit/Controller/Adminhtml/Order/Shipment/PrintPackageTest.php
  app/code/Magento/Shipping/Test/Unit/Controller/Adminhtml/Order/Shipment/RemoveTrackTest.php
  app/code/Magento/Shipping/Test/Unit/Controller/Adminhtml/Order/Shipment/SaveTest.php
  app/code/Magento/Shipping/Test/Unit/Controller/Adminhtml/Order/Shipment/ViewTest.php
  app/code/Magento/Shipping/Test/Unit/Controller/Adminhtml/Order/ShipmentLoaderTest.php
  app/code/Magento/Shipping/Test/Unit/Helper/CarrierTest.php
  app/code/Magento/Shipping/Test/Unit/Helper/DataTest.php
  app/code/Magento/Shipping/Test/Unit/Model/Carrier/AbstractCarrierOnlineTest.php
  app/code/Magento/Shipping/Test/Unit/Model/Config/Source/AllmethodsTest.php
  app/code/Magento/Shipping/Test/Unit/Model/InfoTest.php
  app/code/Magento/Shipping/Test/Unit/Model/Order/TrackTest.php
  app/code/Magento/Shipping/Test/Unit/Model/Rate/CarrierResultTest.php
  app/code/Magento/Shipping/Test/Unit/Model/Rate/PackageResultTest.php
  app/code/Magento/Shipping/Test/Unit/Model/ShipmentNotifierTest.php
  app/code/Magento/Shipping/Test/Unit/Model/ShipmentTest.php
  app/code/Magento/Shipping/Test/Unit/Model/Shipping/LabelGeneratorTest.php
  app/code/Magento/Shipping/Test/Unit/Model/Shipping/LabelsTest.php
  app/code/Magento/Shipping/Test/Unit/Model/ShippingTest.php
  app/code/Magento/Shipping/Test/Unit/Model/Simplexml/ElementTest.php
Labels: Auto-Tests: Covered, Component: Shipping, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27775 #27500 Prepare Sitemap module Tests for PHPUnit 8
  app/code/Magento/Sitemap/Test/Unit/Block/RobotsTest.php
  app/code/Magento/Sitemap/Test/Unit/Controller/Adminhtml/Sitemap/SaveTest.php
  app/code/Magento/Sitemap/Test/Unit/Model/Config/Backend/PriorityTest.php
  app/code/Magento/Sitemap/Test/Unit/Model/Config/Backend/RobotsTest.php
  app/code/Magento/Sitemap/Test/Unit/Model/EmailNotificationTest.php
  app/code/Magento/Sitemap/Test/Unit/Model/ItemProvider/CategoryTest.php
  app/code/Magento/Sitemap/Test/Unit/Model/ItemProvider/CmsPageTest.php
  app/code/Magento/Sitemap/Test/Unit/Model/ItemProvider/CompositeTest.php
  app/code/Magento/Sitemap/Test/Unit/Model/ItemProvider/ProductTest.php
  app/code/Magento/Sitemap/Test/Unit/Model/ItemProvider/StoreUrlTest.php
  app/code/Magento/Sitemap/Test/Unit/Model/ObserverTest.php
  app/code/Magento/Sitemap/Test/Unit/Model/ResourceModel/Cms/PageTest.php
  app/code/Magento/Sitemap/Test/Unit/Model/SitemapConfigReaderTest.php
  app/code/Magento/Sitemap/Test/Unit/Model/SitemapTest.php
Labels: Auto-Tests: Covered, Component: Sitemap, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27780 #27500 Prepare GoogleOptimizer module Tests for PHPUnit 8
  app/code/Magento/GoogleOptimizer/Test/Unit/Block/Code/CategoryTest.php
  app/code/Magento/GoogleOptimizer/Test/Unit/Block/Code/ProductTest.php
  app/code/Magento/GoogleOptimizer/Test/Unit/Helper/CodeTest.php
  app/code/Magento/GoogleOptimizer/Test/Unit/Helper/DataTest.php
  app/code/Magento/GoogleOptimizer/Test/Unit/Helper/FormTest.php
  app/code/Magento/GoogleOptimizer/Test/Unit/Model/Plugin/Catalog/Product/Category/DataProviderTest.php
  app/code/Magento/GoogleOptimizer/Test/Unit/Observer/Category/DeleteCategoryGoogleExperimentScriptObserverTest.php
  app/code/Magento/GoogleOptimizer/Test/Unit/Observer/Category/SaveGoogleExperimentScriptObserverTest.php
  app/code/Magento/GoogleOptimizer/Test/Unit/Observer/CmsPage/DeleteCmsGoogleExperimentScriptObserverTest.php
  app/code/Magento/GoogleOptimizer/Test/Unit/Observer/CmsPage/SaveGoogleExperimentScriptObserverTest.php
  app/code/Magento/GoogleOptimizer/Test/Unit/Observer/Product/DeleteProductGoogleExperimentScriptObserverTest.php
  app/code/Magento/GoogleOptimizer/Test/Unit/Observer/Product/SaveGoogleExperimentScriptObserverTest.php
  app/code/Magento/GoogleOptimizer/Test/Unit/Ui/DataProvider/Product/Form/Modifier/GoogleOptimizerTest.php
Labels: Auto-Tests: Covered, Component: GoogleOptimizer, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27757 #27500 Prepare Multishipping module Tests for PHPUnit 8
  app/code/Magento/Multishipping/Test/Unit/Block/Checkout/Address/SelectTest.php
  app/code/Magento/Multishipping/Test/Unit/Block/Checkout/Billing/ItemsTest.php
  app/code/Magento/Multishipping/Test/Unit/Block/Checkout/OverviewTest.php
  app/code/Magento/Multishipping/Test/Unit/Block/Checkout/Payment/InfoTest.php
  app/code/Magento/Multishipping/Test/Unit/Block/Checkout/ShippingTest.php
  app/code/Magento/Multishipping/Test/Unit/Block/Checkout/StateTest.php
  app/code/Magento/Multishipping/Test/Unit/Block/Checkout/SuccessTest.php
  app/code/Magento/Multishipping/Test/Unit/Controller/Checkout/Address/EditAddressTest.php
  app/code/Magento/Multishipping/Test/Unit/Controller/Checkout/Address/EditBillingTest.php
  app/code/Magento/Multishipping/Test/Unit/Controller/Checkout/Address/EditShippingTest.php
  app/code/Magento/Multishipping/Test/Unit/Controller/Checkout/Address/NewBillingTest.php
  app/code/Magento/Multishipping/Test/Unit/Controller/Checkout/Address/NewShippingTest.php
  app/code/Magento/Multishipping/Test/Unit/Controller/Checkout/Address/ShippingSavedTest.php
  app/code/Magento/Multishipping/Test/Unit/Helper/DataTest.php
  app/code/Magento/Multishipping/Test/Unit/Model/Cart/CartTotalRepositoryPluginTest.php
  app/code/Magento/Multishipping/Test/Unit/Model/Cart/Controller/CartPluginTest.php
  app/code/Magento/Multishipping/Test/Unit/Model/Checkout/Type/Multishipping/PlaceOrderDefaultTest.php
  app/code/Magento/Multishipping/Test/Unit/Model/Checkout/Type/Multishipping/PlaceOrderFactoryTest.php
  app/code/Magento/Multishipping/Test/Unit/Model/Checkout/Type/Multishipping/PlaceOrderPoolTest.php
  app/code/Magento/Multishipping/Test/Unit/Model/Checkout/Type/Multishipping/PluginTest.php
  app/code/Magento/Multishipping/Test/Unit/Model/Checkout/Type/MultishippingTest.php
  app/code/Magento/Multishipping/Test/Unit/Model/Payment/Method/Specification/EnabledTest.php
  app/code/Magento/Multishipping/Test/Unit/Plugin/DisableMultishippingModeTest.php
Labels: Auto-Tests: Covered, Component: Multishipping, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, partners-contribution

#27777 #27500 Prepare Variable module Tests for PHPUnit 8
  app/code/Magento/Variable/Test/Unit/Controller/Adminhtml/System/Variable/ValidateTest.php
  app/code/Magento/Variable/Test/Unit/Model/ResourceModel/Variable/CollectionTest.php
  app/code/Magento/Variable/Test/Unit/Model/Source/VariablesTest.php
  app/code/Magento/Variable/Test/Unit/Model/Variable/ConfigTest.php
  app/code/Magento/Variable/Test/Unit/Model/Variable/DataTest.php
  app/code/Magento/Variable/Test/Unit/Model/VariableTest.php
Labels: Auto-Tests: Covered, Component: Variable, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, To Review, partners-contribution

#27721 #27500 Prepare CatalogRuleConfigurable module Tests for PHPUnit 8
  app/code/Magento/CatalogRuleConfigurable/Test/Unit/Plugin/CatalogRule/Model/Rule/ConfigurableProductHandlerTest.php
  app/code/Magento/CatalogRuleConfigurable/Test/Unit/Plugin/CatalogRule/Model/Rule/ValidationTest.php
Labels: Auto-Tests: Covered, Component: CatalogRuleConfigurable, Partner: Mediotype, Progress: ready for testing, Release Line: 2.4, To Review, partners-contribution

#27795 #27500 Prepare Deploy module Tests for PHPUnit 8
  app/code/Magento/Deploy/Test/Unit/App/Mode/ConfigProviderTest.php
  app/code/Magento/Deploy/Test/Unit/Console/Command/App/ConfigImport/ProcessorTest.php
  app/code/Magento/Deploy/Test/Unit/Console/Command/App/ConfigImportCommandTest.php
  app/code/Magento/Deploy/Test/Unit/Console/Command/App/ConfigStatusCommandTest.php
  app/code/Magento/Deploy/Test/Unit/Console/Command/App/SensitiveConfigSet/CollectorFactoryTest.php
  app/code/Magento/Deploy/Test/Unit/Console/Command/App/SensitiveConfigSet/InteractiveCollectorTest.php
  app/code/Magento/Deploy/Test/Unit/Console/Command/App/SensitiveConfigSet/SensitiveConfigSetFacadeTest.php
  app/code/Magento/Deploy/Test/Unit/Console/Command/App/SensitiveConfigSet/SimpleCollectorTest.php
  app/code/Magento/Deploy/Test/Unit/Console/Command/App/SensitiveConfigSetCommandTest.php
  app/code/Magento/Deploy/Test/Unit/Console/Command/ApplicationDumpCommandTest.php
  app/code/Magento/Deploy/Test/Unit/Console/Command/SetModeCommandTest.php
  app/code/Magento/Deploy/Test/Unit/Console/Command/ShowModeCommandTest.php
  app/code/Magento/Deploy/Test/Unit/Console/CommandListTest.php
  app/code/Magento/Deploy/Test/Unit/Console/InputValidatorTest.php
  app/code/Magento/Deploy/Test/Unit/Model/ConfigWriterTest.php
  app/code/Magento/Deploy/Test/Unit/Model/DeploymentConfig/ChangeDetectorTest.php
  app/code/Magento/Deploy/Test/Unit/Model/DeploymentConfig/DataCollectorTest.php
  app/code/Magento/Deploy/Test/Unit/Model/DeploymentConfig/Hash/GeneratorTest.php
  app/code/Magento/Deploy/Test/Unit/Model/DeploymentConfig/HashTest.php
  app/code/Magento/Deploy/Test/Unit/Model/DeploymentConfig/ImporterFactoryTest.php
  app/code/Magento/Deploy/Test/Unit/Model/DeploymentConfig/ImporterPoolTest.php
  app/code/Magento/Deploy/Test/Unit/Model/DeploymentConfig/ValidatorFactoryTest.php
  app/code/Magento/Deploy/Test/Unit/Model/FilesystemTest.php
  app/code/Magento/Deploy/Test/Unit/Model/ModeTest.php
  app/code/Magento/Deploy/Test/Unit/Model/Plugin/ConfigChangeDetectorTest.php
  app/code/Magento/Deploy/Test/Unit/Process/QueueTest.php
  app/code/Magento/Deploy/Test/Unit/Service/DeployStaticContentTest.php
  app/code/Magento/Deploy/Test/Unit/Service/DeployTranslationsDictionaryTest.php
  app/code/Magento/Deploy/Test/Unit/Service/MinifyTemplatesTest.php
  app/code/Magento/Deploy/Test/Unit/Strategy/CompactDeployTest.php
Labels: Auto-Tests: Covered, Component: Deploy, Partner: Mediotype, Progress: pending review, Release Line: 2.4, partners-contribution

#27761 #27500 Prepare Directory module Tests for PHPUnit 8
  app/code/Magento/Directory/Test/Unit/Block/Adminhtml/Frontend/Currency/BaseTest.php
  app/code/Magento/Directory/Test/Unit/Block/CurrencyTest.php
  app/code/Magento/Directory/Test/Unit/Block/DataTest.php
  app/code/Magento/Directory/Test/Unit/Helper/DataTest.php
  app/code/Magento/Directory/Test/Unit/Model/AllowedCountriesTest.php
  app/code/Magento/Directory/Test/Unit/Model/Config/Source/AllRegionTest.php
  app/code/Magento/Directory/Test/Unit/Model/Config/Source/CountryTest.php
  app/code/Magento/Directory/Test/Unit/Model/Country/Postcode/Config/ConverterTest.php
  app/code/Magento/Directory/Test/Unit/Model/Country/Postcode/Config/DataTest.php
  app/code/Magento/Directory/Test/Unit/Model/Country/Postcode/Config/ReaderTest.php
  app/code/Magento/Directory/Test/Unit/Model/Country/Postcode/Config/SchemaLocatorTest.php
  app/code/Magento/Directory/Test/Unit/Model/Country/Postcode/ConfigTest.php
  app/code/Magento/Directory/Test/Unit/Model/Country/Postcode/ValidatorTest.php
  app/code/Magento/Directory/Test/Unit/Model/CountryInformationAcquirerTest.php
  app/code/Magento/Directory/Test/Unit/Model/CountryTest.php
  app/code/Magento/Directory/Test/Unit/Model/Currency/DefaultLocatorTest.php
  app/code/Magento/Directory/Test/Unit/Model/Currency/Import/ConfigTest.php
  app/code/Magento/Directory/Test/Unit/Model/Currency/Import/CurrencyConverterApiTest.php
  app/code/Magento/Directory/Test/Unit/Model/Currency/Import/FactoryTest.php
  app/code/Magento/Directory/Test/Unit/Model/Currency/Import/FixerIoTest.php
  app/code/Magento/Directory/Test/Unit/Model/Currency/Import/Source/ServiceTest.php
  app/code/Magento/Directory/Test/Unit/Model/CurrencyConfigTest.php
  app/code/Magento/Directory/Test/Unit/Model/CurrencyInformationAcquirerTest.php
  app/code/Magento/Directory/Test/Unit/Model/CurrencyTest.php
  app/code/Magento/Directory/Test/Unit/Model/PriceCurrencyTest.php
  app/code/Magento/Directory/Test/Unit/Model/ResourceModel/Country/CollectionTest.php
  app/code/Magento/Directory/Test/Unit/Model/ResourceModel/Region/CollectionTest.php
  app/code/Magento/Directory/Test/Unit/Model/TopDestinationCountriesTest.php
  app/code/Magento/Directory/Test/Unit/_files/zip_codes.php
Labels: Auto-Tests: Covered, Component: Directory, Partner: Mediotype, Release Line: 2.4, partners-contribution

#27701 #27638 Fix fatal errors in Unit Tests
  app/code/Magento/Catalog/Test/Unit/Model/Product/CopierTest.php
  app/code/Magento/Catalog/Test/Unit/Model/Product/Website/ReadHandlerTest.php
  app/code/Magento/Catalog/Test/Unit/Model/Product/Website/SaveHandlerTest.php
  app/code/Magento/Catalog/Test/Unit/Model/ProductRepositoryTest.php
  app/code/Magento/ConfigurableProduct/Test/Unit/Model/LinkManagementTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: Catalog, Component: ConfigurableProduct, Partner: Mediotype, Progress: accept, Release Line: 2.4, partners-contribution

#27689 [MFTF] Using action group to go to admin category page
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontBundleProductShownInCategoryListAndGridTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminAddImageToWYSIWYGCatalogTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCheckInactiveAndNotIncludeInMenuCategoryAndSubcategoryIsNotVisibleInNavigationTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCheckInactiveCategoryAndSubcategoryIsNotVisibleInNavigationMenuTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCheckInactiveIncludeInMenuCategoryAndSubcategoryIsNotVisibleInNavigationTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCheckPaginationInStorefrontTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCheckSubCategoryIsNotVisibleInNavigationMenuTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateCategoryTest/AdminCategoryFormDisplaySettingsUIValidationTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateCategoryTest/AdminConfigDefaultCategoryLayoutFromConfigurationSettingTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateCategoryTest/AdminCreateCategoryTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateCategoryWithAnchorFieldTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateCategoryWithCustomRootCategoryTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateCategoryWithFiveNestingTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateCategoryWithInactiveCategoryTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateCategoryWithInactiveIncludeInMenuTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateCategoryWithNoAnchorFieldTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateCategoryWithProductsGridFilterTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateCategoryWithRequiredFieldsTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateInactiveFlatCategoryAndUpdateAsInactiveTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateInactiveFlatCategoryTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateInactiveInMenuFlatCategoryTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateRootCategoryAndSubcategoriesTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateRootCategoryRequiredFieldsTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminDeleteRootCategoryAssignedToStoreTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminDeleteRootCategoryTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminDeleteRootSubCategoryTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminFilteringCategoryProductsUsingScopeSelectorTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminMoveAnchoredCategoryTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminMoveAnchoredCategoryToDefaultCategoryTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminMoveCategoryAndCheckUrlRewritesTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminMoveCategoryFromParentAnchoredCategoryTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminMoveCategoryToAnotherPositionInCategoryTreeTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminRequiredFieldsHaveRequiredFieldIndicatorTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateCategoryAndCheckDefaultUrlKeyOnStoreViewTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateCategoryAndMakeInactiveTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateCategoryNameWithStoreViewTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateCategoryStoreUrlKeyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateCategoryUrlKeyWithStoreViewTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateCategoryWithInactiveIncludeInMenuTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateCategoryWithProductsTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateFlatCategoryAndAddProductsTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateFlatCategoryIncludeInNavigationTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateFlatCategoryNameAndDescriptionTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockUnassignFromCategoryTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateTopCategoryUrlWithNoRedirectTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateTopCategoryUrlWithRedirectTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/DeleteCategoriesTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/EndToEndB2CAdminTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/ProductAvailableAfterEnablingSubCategoriesTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/VerifyChildCategoriesShouldNotIncludeInMenuTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/VerifyTinyMCEv4IsNativeWYSIWYGOnCatalogTest.xml
  app/code/Magento/Swatches/Test/Mftf/Test/StorefrontSwatchAttributesDisplayInWidgetCMSTest.xml
Labels: Auto-Tests: Covered, Component: Bundle, Component: Catalog, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#27685 Removed a duplicate variable in Magento\QuoteGraphQl\Model\Resolver\Cart and in \Magento\QuoteGraphQl\Model\Resolver\SetBillingAddressOnCart
  app/code/Magento/QuoteGraphQl/Model/Resolver/Cart.php
  app/code/Magento/QuoteGraphQl/Model/Resolver/SetBillingAddressOnCart.php
Labels: Auto-Tests: Not Required, Cleanup, Component: QuoteGraphQl, Partner: Optaros, Progress: accept, Release Line: 2.4, partners-contribution

#27677 [MFTF] Removed redundant ActionGroup
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminOpenCategoriesPageActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminCreateDisabledCmsBlockEntityAndAssignToCategoryTest.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminCreateEnabledCmsBlockEntityAndAssignToCategoryTest.xml
Labels: Auto-Tests: Not Required, Component: Catalog, Component: Cms, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#27603 Fix zoom on search input #27506
  app/design/frontend/Magento/blank/Magento_CatalogSearch/web/css/source/_module.less
  app/design/frontend/Magento/luma/Magento_CatalogSearch/web/css/source/_module.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Award: bug fix, Event: Global-Contribution-Day, P3, Partner: creativestyle, Progress: accept, Release Line: 2.4, S3, partners-contribution

#27325 MFTF: Fix failing CMS tests due to PageBuilder conflict
  app/code/Magento/Catalog/Test/Mftf/Test/StoreFrontRecentlyViewedAtStoreViewLevelTest.xml
  app/code/Magento/Cms/Test/Mftf/ActionGroup/AdminEditCMSPageContentActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/ActionGroup/AdminInsertRecentlyViewedWidgetActionGroup.xml
Labels: Auto-Tests: Covered, Component: Catalog, Component: Cms, Partner: Mediotype, Progress: accept, Release Line: 2.4, partners-contribution
