Repository magento/magento2, pull requests merged in 2020-10, with the labels that each got.

#30180 Fix docblock annotation for PublisherInterface message
  lib/internal/Magento/Framework/MessageQueue/PublisherInterface.php
Labels: Auto-Tests: Not Required, Cleanup, Component: MessageQueue, Priority: P4, Progress: accept, Release Line: 2.4, Severity: S4

#29466 [BUG] Admin order create validate vat confirm box
  app/code/Magento/Sales/view/adminhtml/web/order/create/scripts.js
  dev/tests/js/jasmine/tests/app/code/Magento/Sales/adminhtml/js/order/create/scripts.test.js
Labels: Area: Frontend, Auto-Tests: Covered, Component: Sales, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Risk: low, Severity: S3

#28588 #274 Admin Global Search: Search categories
  app/code/Magento/CatalogSearch/Model/Search/Category.php
  app/code/Magento/CatalogSearch/Test/Mftf/Test/AdminCategorySearchTest.xml
  app/code/Magento/CatalogSearch/etc/di.xml
  app/code/Magento/Search/Test/Mftf/ActionGroup/AdminSetGlobalSearchValueActionGroup.xml
  app/code/Magento/Search/Test/Mftf/Section/AdminGlobalSearchSection.xml
Labels: Auto-Tests: Covered, Component: CatalogSearch, Component: Search, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S4

#29751 magento/magento2#29372: Wrong tags are set for CategoryList query
  dev/tests/integration/testsuite/Magento/GraphQlCache/Controller/Catalog/CategoryListCacheTest.php
  dev/tests/integration/testsuite/Magento/GraphQlCache/Controller/Catalog/CategoryListMultipleIdsCacheTest.php
  dev/tests/integration/testsuite/Magento/GraphQlCache/Controller/Catalog/CategoryListSingleIdCacheTest.php
Labels: PAP, Partner: Comwrap, Priority: P2, Progress: accept, Project: GraphQL, Release Line: 2.4, partners-contribution

#30222 [MFTF] Create AdminOpenCartPriceRulesPageActionGroup
  app/code/Magento/Catalog/Test/Mftf/Test/CheckTierPricingOfProductsTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/ZeroSubtotalOrdersWithProcessingStatusTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/CreditMemoTotalAfterShippingDiscountTest.xml
  app/code/Magento/SalesRule/Test/Mftf/ActionGroup/AdminOpenCartPriceRulesPageActionGroup.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/AdminCreateBuyXGetYFreeTest.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/AdminCreateCartPriceRuleAndVerifyRuleConditionAndFreeShippingIsAppliedTest.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/AdminCreateCartPriceRuleAndVerifyRuleConditionIsNotAppliedTest.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/AdminCreateCartPriceRuleEmptyFromDateTest.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/AdminCreateCartPriceRuleForCouponCodeTest.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/AdminCreateCartPriceRuleForGeneratedCouponTest.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/AdminCreateCartPriceRuleForMatchingSubtotalAndVerifyRuleConditionIsAppliedTest.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/AdminCreateCartPriceRuleWithMatchingCategoryAndVerifyRuleConditionIsAppliedTest.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/AdminCreateCartPriceRuleWithMatchingTotalWeightAndVerifyRuleConditionIsAppliedTest.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/AdminCreateFixedAmountDiscountTest.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/AdminCreateFixedAmountWholeCartDiscountTest.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/AdminCreateInvalidRuleTest.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/AdminCreatePercentOfProductPriceTest.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/CartPriceRuleForConfigurableProductTest.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/StorefrontAutoGeneratedCouponCodeTest.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/StorefrontCartPriceRuleCountryTest.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/StorefrontCartPriceRuleForBundleProductTest.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/StorefrontCartPriceRulePostcodeTest.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/StorefrontCartPriceRuleQuantityTest.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/StorefrontCartPriceRuleStateTest.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/StorefrontCartPriceRuleSubtotalTest.xml
Labels: Auto-Tests: Covered, Component: Catalog, Component: Checkout, Component: Sales, Component: SalesRule, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Risk: low, Severity: S3, partners-contribution

#28809 Add Imagick CMYK to SRGB conversion
  lib/internal/Magento/Framework/Image/Adapter/ImageMagick.php
  lib/internal/Magento/Framework/Image/Test/Unit/Adapter/ImageMagickTest.php
Labels: Auto-Tests: Covered, Component: Image, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Risk: medium, Severity: S3

#28385 [Fixed] - resolve issue with filter visibility with column visibility in grid
  app/code/Magento/Bundle/view/adminhtml/ui_component/bundle_product_listing.xml
  app/code/Magento/Cms/view/adminhtml/ui_component/cms_block_listing.xml
  app/code/Magento/Cms/view/adminhtml/ui_component/cms_page_listing.xml
  app/code/Magento/ConfigurableProduct/view/adminhtml/ui_component/configurable_associated_product_listing.xml
  app/code/Magento/GroupedProduct/view/adminhtml/ui_component/grouped_product_listing.xml
  app/code/Magento/Sales/Test/Mftf/ActionGroup/AdminSelectFieldToColumnActionGroup.xml
  app/code/Magento/Sales/Test/Mftf/Section/AdminOrdersGridSection.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminVerifyFieldToFilterOnOrdersGridTest.xml
  app/code/Magento/Sales/view/adminhtml/ui_component/sales_order_creditmemo_grid.xml
  app/code/Magento/Sales/view/adminhtml/ui_component/sales_order_grid.xml
  app/code/Magento/Sales/view/adminhtml/ui_component/sales_order_invoice_grid.xml
  app/code/Magento/Sales/view/adminhtml/ui_component/sales_order_shipment_grid.xml
  app/code/Magento/Sales/view/adminhtml/ui_component/sales_order_view_creditmemo_grid.xml
  app/code/Magento/Sales/view/adminhtml/ui_component/sales_order_view_invoice_grid.xml
  app/code/Magento/Sales/view/adminhtml/ui_component/sales_order_view_shipment_grid.xml
  app/code/Magento/Search/view/adminhtml/ui_component/search_synonyms_grid.xml
Labels: Area: Frontend, Auto-Tests: Covered, Component: Bundle, Component: Cms, Component: ConfigurableProduct, Component: GroupedProduct, Component: Sales, Component: Search, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Risk: low, Severity: S3

#27940 Avoid exception when config.xml nodes exist for not-installed payment methods
  app/code/Magento/Payment/Model/PaymentMethodList.php
  dev/tests/integration/_files/Magento/TestModuleFakePaymentMethod/etc/config.xml
Labels: Auto-Tests: Covered, Component: Payment, Partner: Fisheye, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Risk: medium, Severity: S3, partners-contribution

#30065 Input type datetime is used in lib styles
  lib/web/css/source/lib/_forms.less
Labels: Area: Lib/Frontend, Auto-Tests: Not Required, Award: bug fix, Priority: P4, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Risk: low, Severity: S4, Triage: Dev.Experience

#30008 Fix missing escape Url method
  app/code/Magento/Widget/view/adminhtml/templates/instance/edit/layout.phtml
  dev/tests/integration/testsuite/Magento/Widget/Block/Adminhtml/Widget/Instance/Edit/Tab/Main/LayoutTest.php
Labels: Area: Frontend, Auto-Tests: Covered, Component: Widget, Priority: P1, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#29726 Allow specify font type when declare custom font
  lib/web/css/source/lib/_typography.less
Labels: Area: Lib/Frontend, Auto-Tests: Not Required, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, Triage: Dev.Experience

#28389 Add a head.additional block to adminhtml layout
  app/code/Magento/Backend/view/adminhtml/layout/default.xml
  app/code/Magento/Backend/view/adminhtml/templates/page/container.phtml
Labels: Area: Frontend, Auto-Tests: Not Required, Component: Backend, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, Triage: Dev.Experience, improvement

#28216 Replace hard-coded list of category attributes
  app/code/Magento/Catalog/Model/Category/DataProvider.php
  app/code/Magento/Catalog/Test/Unit/Model/Category/DataProviderTest.php
  app/code/Magento/Catalog/etc/di.xml
  dev/tests/integration/testsuite/Magento/CatalogUrlRewrite/Plugin/Catalog/Block/Adminhtml/Category/Tab/AttributesTest.php
Labels: Auto-Tests: Covered, Component: Catalog, Partner: Fisheye, Priority: P1, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Risk: medium, Severity: S2, partners-contribution

#25412 Admin > Advanced Report > Changing link
  app/code/Magento/Analytics/Model/ReportUrlProvider.php
  app/code/Magento/Analytics/Test/Mftf/ActionGroup/AssertAdminAdvancedReportingPageUrlActionGroup.xml
  app/code/Magento/Analytics/Test/Unit/Model/ReportUrlProviderTest.php
  app/code/Magento/Analytics/etc/config.xml
  dev/tests/integration/testsuite/Magento/Analytics/Controller/Adminhtml/Reports/ShowTest.php
Labels: Auto-Tests: Covered, Component: Analytics, Partner: Le Site, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, Squashtoberfest 2019, partners-contribution

#29885 Prevent flushing same tags several times
  lib/internal/Magento/Framework/Indexer/CacheContext.php
  lib/internal/Magento/Framework/Indexer/Test/Unit/CacheContextTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: Indexer, Partner: Vaimo, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Risk: medium, Severity: S3, partners-contribution

#27092 Adding failure callback to ui file uploader
  app/code/Magento/Ui/view/base/web/js/form/element/file-uploader.js
  dev/tests/js/jasmine/tests/app/code/Magento/Ui/base/js/form/element/file-uploader.test.js
Labels: Area: Frontend, Auto-Tests: Covered, Component: Ui, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#30230 30179: resetPassword mutation returns generic error
  app/code/Magento/CustomerGraphQl/Model/Resolver/ResetPassword.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Customer/ResetPasswordTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: CustomerGraphQl, PAP, Partner: Kensium Solutions LLC, Progress: ready for testing, Project: GraphQL, Release Line: 2.4, partners-contribution

#30118 Search should be disabled from products query when general configuration chooses to disabled it
  app/code/Magento/CatalogGraphQl/Model/Resolver/Products.php
Labels: Component: CatalogGraphQl, PAP, Partner: Comwrap, Progress: ready for testing, Project: GraphQL, Release Line: 2.4, partners-contribution

#30019 Add to Cart mutations in GraphQl should consider Catalog Permissions
  app/code/Magento/QuoteGraphQl/Model/CartItem/DataProvider/Processor/ItemDataCompositeProcessor.php
  app/code/Magento/QuoteGraphQl/Model/CartItem/DataProvider/Processor/ItemDataProcessorInterface.php
  app/code/Magento/QuoteGraphQl/Model/Resolver/AddProductsToCart.php
  app/code/Magento/QuoteGraphQl/etc/di.xml
Labels: Component: QuoteGraphQl, PAP, Partner: Comwrap, Progress: needs update, Project: GraphQL, Release Line: 2.4, partners-contribution

#29998 magento/magento2#29926: Prices should be possibly hidden from products query results
  app/code/Magento/CatalogCustomerGraphQl/Model/Resolver/PriceTiers.php
  app/code/Magento/CatalogGraphQl/Model/Resolver/Product/PriceRange.php
  app/code/Magento/CatalogGraphQl/Model/Resolver/Product/SpecialPrice.php
Labels: Component: CatalogCustomerGraphQl, Component: CatalogGraphQl, PAP, Partner: Comwrap, Progress: ready for testing, Project: GraphQL, Release Line: 2.4, partners-contribution

#30358 Added correct block class for frontend viewModel reference example.
  lib/internal/Magento/Framework/View/Element/Template.php
Labels: Auto-Tests: Not Required, Cleanup, Component: View, Priority: P4, Progress: accept, Release Line: 2.4, Severity: S4

#30333 Clean code and remove whitespace in markup layered navigation filters
  app/code/Magento/LayeredNavigation/view/frontend/templates/layer/filter.phtml
Labels: Area: Frontend, Auto-Tests: Not Required, Award: bug fix, Component: LayeredNavigation, Priority: P4, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#30318 Fix exception which is thrown on search results page
  app/code/Magento/Search/Model/SynonymAnalyzer.php
  app/code/Magento/Search/Test/Unit/Model/SynonymAnalyzerTest.php
  dev/tests/integration/testsuite/Magento/Search/Model/SynonymAnalyzerTest.php
Labels: Auto-Tests: Covered, Component: Search, Partner: Blue Acorn iCi, Priority: P1, Progress: accept, Release Line: 2.4, Severity: S1, partners-contribution

#30062 Feature/formatting json yaml
  .editorconfig
  dev/tests/acceptance/staticRuleset.json
  dev/tools/grunt/configs/autoprefixer.json
  dev/tools/grunt/configs/concat.json
  dev/tools/grunt/configs/cssmin.json
  dev/tools/grunt/configs/eslint.json
  dev/tools/grunt/configs/jscs.json
  dev/tools/grunt/configs/mage-minify.json
  dev/tools/grunt/configs/styledocco.json
  grunt-config.json.sample
  package.json.sample
Labels: Auto-Tests: Not Required, Priority: P4, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Risk: low, Severity: S4, Triage: Dev.Experience, improvement

#29773 Add font weight heavy variable
  lib/web/css/source/lib/variables/_typography.less
Labels: Area: Lib/Frontend, Auto-Tests: Not Required, Priority: P4, Progress: accept, Release Line: 2.4, Severity: S4

#26713 Product images are being duplicated on import
  app/code/Magento/CatalogImportExport/Model/Import/Product.php
  dev/tests/integration/testsuite/Magento/CatalogImportExport/Model/Import/ProductTest.php
  dev/tests/integration/testsuite/Magento/CatalogImportExport/Model/Import/_files/import_media_additional_long_name_image.csv
Labels: Auto-Tests: Covered, Component: CatalogImportExport, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#30320 Fix #11175 - i18n:collect-phrases -m can't find many important magento phrases
  setup/src/Magento/Setup/Module/I18n/Parser/Adapter/Html.php
  setup/src/Magento/Setup/Test/Unit/Module/I18n/Parser/Adapter/HtmlTest.php
  setup/src/Magento/Setup/Test/Unit/Module/I18n/Parser/Adapter/_files/email.html
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: Setup, Partner: Fast White Cat, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#30167 Set correct discount package value for tablerate
  app/code/Magento/OfflineShipping/Model/Carrier/Tablerate.php
  app/code/Magento/OfflineShipping/Test/Mftf/Test/SalesRuleDiscountIsAppliedOnPackageValueForTableRateTest.xml
  app/code/Magento/Shipping/Test/Mftf/Data/TableRatesShippingMethodData.xml
Labels: Auto-Tests: Covered, Award: MFTF test coverage, Award: bug fix, Component: OfflineShipping, Component: Shipping, Partner: Redkiwi, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#30023 Fix URL generation for new store when it created with setup:config:import
  app/code/Magento/Deploy/Console/Command/App/ConfigImportCommand.php
  app/code/Magento/Deploy/Test/Unit/Console/Command/App/ConfigImportCommandTest.php
  app/code/Magento/Deploy/etc/di.xml
Labels: Auto-Tests: Covered, Component: Deploy, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#27574 Fix wrong position of button list when load "New Attribute" page
  app/code/Magento/Catalog/Block/Adminhtml/Product/Attribute/Edit.php
Labels: Auto-Tests: Not Required, Component: Catalog, Event: Global-Contribution-Day, Priority: P4, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, Technology Partner: Magestore, tech-partners-contribution

#27454 Add missing order_data array to EmailSender classes
  app/code/Magento/Sales/Model/Order/Creditmemo/Sender/EmailSender.php
  app/code/Magento/Sales/Model/Order/Invoice/Sender/EmailSender.php
  app/code/Magento/Sales/Model/Order/Shipment/Sender/EmailSender.php
  app/code/Magento/Sales/Test/Unit/Model/Order/Creditmemo/Sender/EmailSenderTest.php
  app/code/Magento/Sales/Test/Unit/Model/Order/Invoice/Sender/EmailSenderTest.php
  app/code/Magento/Sales/Test/Unit/Model/Order/Shipment/Sender/EmailSenderTest.php
Labels: Auto-Tests: Covered, Component: Sales, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#30458 [Fixed-30452] - Design issue in minicart item remove confirmation modal
  lib/web/css/source/components/_modals.less
Labels: Area: Lib/Frontend, Auto-Tests: Not Required, Priority: P4, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S4

#30454 Remove incorrect use important in swatches option text
  app/design/frontend/Magento/blank/Magento_Swatches/web/css/source/_module.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Priority: P4, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S4

#30405 26133: Fixed - Coupon code text field not display in proper width in …
  app/design/frontend/Magento/luma/Magento_Checkout/web/css/source/module/_cart.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Event: dmcdindia2020, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#30355 Fix #30296 - Wrong ip value in sendfriend_log table
  app/code/Magento/SendFriend/Model/ResourceModel/SendFriend.php
  dev/tests/integration/testsuite/Magento/SendFriend/Model/SendFriendTest.php
  lib/internal/Magento/Framework/HTTP/PhpEnvironment/RemoteAddress.php
  lib/internal/Magento/Framework/HTTP/Test/Unit/PhpEnvironment/RemoteAddressTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: HTTP, Component: SendFriend, Partner: Fast White Cat, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2, partners-contribution

#30554 Fix mistake in stale.yml file formatting
  .github/stale.yml
Labels: Auto-Tests: Not Required, Progress: accept, Release Line: 2.4

#30340 Allow to cache search results
  app/code/Magento/PageCache/etc/varnish4.vcl
  app/code/Magento/PageCache/etc/varnish5.vcl
  app/code/Magento/PageCache/etc/varnish6.vcl
Labels: Auto-Tests: Not Required, Award: bug fix, Component: PageCache, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#29868 Remove wrong tags
  app/code/Magento/AdminNotification/Block/ToolbarEntry.php
  app/code/Magento/AdminNotification/Model/Feed.php
  app/code/Magento/AdminNotification/Model/InboxInterface.php
  app/code/Magento/AdminNotification/Model/NotificationService.php
  app/code/Magento/AdminNotification/Model/ResourceModel/Grid/Collection.php
  app/code/Magento/AdminNotification/Model/ResourceModel/Inbox/Collection.php
  app/code/Magento/AdminNotification/Model/ResourceModel/Inbox/Collection/Unread.php
  app/code/Magento/AdminNotification/Observer/PredispatchAdminActionControllerObserver.php
  app/code/Magento/AdvancedSearch/Block/Adminhtml/Search/Edit.php
  app/code/Magento/AdvancedSearch/Block/Adminhtml/Search/Grid.php
  app/code/Magento/AdvancedSearch/Model/ResourceModel/Recommendations.php
  app/code/Magento/CatalogInventory/Model/Indexer/Stock/AbstractAction.php
  app/code/Magento/CatalogInventory/Model/Indexer/Stock/Action/Row.php
  app/code/Magento/CatalogInventory/Model/Indexer/Stock/Action/Rows.php
  app/code/Magento/CatalogInventory/Model/Indexer/Stock/CacheCleaner.php
  app/code/Magento/CatalogInventory/Model/Indexer/Stock/Processor.php
  app/code/Magento/CatalogInventory/Test/Unit/Model/Indexer/Stock/Action/FullTest.php
  app/code/Magento/CatalogInventory/Test/Unit/Model/Indexer/Stock/Action/RowTest.php
  app/code/Magento/CatalogInventory/Test/Unit/Model/Indexer/Stock/Action/RowsTest.php
  app/code/Magento/CatalogInventory/Test/Unit/Model/Indexer/Stock/Plugin/StoreGroupTest.php
  app/code/Magento/Sales/Block/Adminhtml/Order/View.php
Labels: Auto-Tests: Not Required, Cleanup, Component: AdminNotification, Component: AdvancedSearch, Component: CatalogInventory, Component: Sales, Partner: Atwix, Priority: P4, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S4, partners-contribution

#28928 [vcl] don't explicitly hash the host header
  app/code/Magento/PageCache/etc/varnish4.vcl
  app/code/Magento/PageCache/etc/varnish5.vcl
  app/code/Magento/PageCache/etc/varnish6.vcl
Labels: Auto-Tests: Not Required, Award: category of expertise, Cleanup, Component: PageCache, Priority: P4, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S4, Triage: Dev.Experience

#28172 Issue #27925, moved the submit button to the inside of the <form>
  app/code/Magento/Checkout/Test/Mftf/ActionGroup/CheckoutSelectPurchaseOrderPaymentActionGroup.xml
  app/code/Magento/Checkout/Test/Mftf/Section/CheckoutPaymentSection.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontCheckoutWithPurchaseOrderNumberPressKeyEnterTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontCheckoutWithPurchaseOrderNumberTest.xml
  app/code/Magento/OfflinePayments/view/frontend/web/template/payment/purchaseorder-form.html
  app/design/frontend/Magento/luma/Magento_Checkout/web/css/source/module/checkout/_payments.less
Labels: Area: Design/Frontend, Area: Frontend, Auto-Tests: Covered, Component: Checkout, Component: OfflinePayments, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Risk: low, Severity: S2

#28157 Fix #24091 - Selected configurable product attribute options are not displaying in wishlist page.
  app/code/Magento/Swatches/Test/Mftf/ActionGroup/AddVisualSwatchToProductWithOutCreatedActionGroup.xml
  app/code/Magento/Swatches/Test/Mftf/ActionGroup/StorefrontSelectVisualSwatchOptionOnCategoryPageActionGroup.xml
  app/code/Magento/Swatches/Test/Mftf/Section/StorefrontCategoryPageProductInfoSection.xml
  app/code/Magento/Wishlist/Block/AddToWishlist.php
  app/code/Magento/Wishlist/Test/Mftf/ActionGroup/StorefrontCustomerAddProductToWishlistCategoryPageActionGroup.xml
  app/code/Magento/Wishlist/Test/Mftf/Test/StorefrontCheckOptionsConfigurableProductInWishlistTest.xml
  app/code/Magento/Wishlist/view/frontend/layout/catalog_category_view.xml
  app/code/Magento/Wishlist/view/frontend/layout/catalogsearch_result_index.xml
  app/code/Magento/Wishlist/view/frontend/web/js/add-to-wishlist.js
Labels: Area: Frontend, Auto-Tests: Covered, Component: Swatches, Component: Wishlist, Partner: Fast White Cat, Priority: P2, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2, Severity: S3, partners-contribution

#27672 Fixed creating shipping labels in part-shipment
  app/code/Magento/Shipping/view/adminhtml/templates/order/packaging/popup.phtml
  dev/tests/integration/testsuite/Magento/Shipping/Block/Adminhtml/Order/AddToPackageTest.php
  dev/tests/integration/testsuite/Magento/Shipping/_files/shipping_with_carrier_data.php
  dev/tests/integration/testsuite/Magento/Shipping/_files/shipping_with_carrier_data_rollback.php
Labels: Area: Frontend, Auto-Tests: Covered, Component: Shipping, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#30502 add --no-tablespaces parameters to mysqldump
  dev/tests/integration/framework/Magento/TestFramework/Db/Mysql.php
  lib/internal/Magento/Framework/Crontab/Test/Unit/CrontabManagerTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: Crontab, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3

#30493 Fixed placeholder translation in Magento UI grid search component
  app/code/Magento/Ui/view/base/web/js/grid/search/search.js
Labels: Area: Frontend, Auto-Tests: Not Required, Award: bug fix, Component: Ui, Priority: P4, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S4

#30453 Fix missing escape less calc
  app/design/adminhtml/Magento/backend/Magento_Sales/web/css/source/module/order/_payment-shipping.less
  app/design/adminhtml/Magento/backend/web/css/source/forms/_fields.less
  app/design/frontend/Magento/luma/Magento_Sales/web/css/source/_module.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Award: bug fix, Priority: P4, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S4

#30402 #30388 : fix js error on edit review page
  app/code/Magento/Review/Block/Adminhtml/Edit.php
Labels: Auto-Tests: Not Required, Component: Review, Event: dmcdindia2020, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#29911 Check if copy method is copy before sending comment email
  app/code/Magento/Sales/Model/Order/Email/NotifySender.php
  app/code/Magento/Sales/Test/Unit/Model/Order/Email/Sender/AbstractSenderTest.php
  app/code/Magento/Sales/Test/Unit/Model/Order/Email/Sender/CreditmemoCommentSenderTest.php
  app/code/Magento/Sales/Test/Unit/Model/Order/Email/Sender/InvoiceCommentSenderTest.php
  app/code/Magento/Sales/Test/Unit/Model/Order/Email/Sender/ShipmentCommentSenderTest.php
Labels: Auto-Tests: Covered, Component: Sales, Partner: Reach Digital, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#29196 Avoids endless loop of indexers being marked as invalid
  app/code/Magento/Indexer/Console/Command/IndexerReindexCommand.php
  app/code/Magento/Indexer/Model/Processor.php
  app/code/Magento/Indexer/Model/Processor/MakeSharedIndexValid.php
  app/code/Magento/Indexer/Test/Unit/Console/Command/IndexerReindexCommandTest.php
  app/code/Magento/Indexer/Test/Unit/Model/ProcessorTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: category of expertise, Award: test coverage, Component: Indexer, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2, Triage: Dev.Experience

#28917 AppState emulateAreaCode was not respected by file collector
  lib/internal/Magento/Framework/View/File/Collector/Base.php
  lib/internal/Magento/Framework/View/Test/Unit/File/Collector/BaseTest.php
Labels: Auto-Tests: Not Required, Component: View, Partner: eComero, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, Triage: Dev.Experience, partners-contribution

#26967 Fix for queue numeric argument conversion
  dev/tests/integration/testsuite/Magento/Framework/MessageQueue/TopologyTest.php
  lib/internal/Magento/Framework/Amqp/Test/Unit/Topology/ArgumentProcessorTest.php
  lib/internal/Magento/Framework/Amqp/Topology/ArgumentProcessor.php
Labels: Auto-Tests: Covered, Component: Amqp, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Risk: medium, Severity: S3, Triage: Dev.Experience, has dependency

#30579 Updated string with Static key.
  app/code/Magento/Quote/Model/Quote/Address.php
Labels: Auto-Tests: Not Required, Cleanup, Component: Quote, Priority: P4, Progress: accept, Release Line: 2.4, Severity: S4

#30570 Make sure the depends definition works for custom widgets. Also conve…
  lib/web/mage/adminhtml/form.js
Labels: Area: Lib/Frontend, Auto-Tests: Not Required, Award: bug fix, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#30538 checkout_index_index.xml file code improvement.
  app/code/Magento/Checkout/view/frontend/layout/checkout_index_index.xml
Labels: Area: Frontend, Auto-Tests: Not Required, Component: Checkout, Priority: P4, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S4

#30530 XSD URN format
  dev/tests/api-functional/_files/Magento/TestModuleDefaultHydrator/etc/extension_attributes.xml
  dev/tests/api-functional/_files/Magento/TestModuleDefaultHydrator/etc/module.xml
  dev/tests/integration/testsuite/Magento/Framework/View/_files/UiComponent/theme/theme.xml
  dev/tests/integration/testsuite/Magento/Framework/View/_files/static/theme/theme.xml
Labels: Auto-Tests: Not Required, Cleanup, Priority: P4, Progress: accept, Release Line: 2.4, Severity: S4

#30521 MessageValidator fails on hash arrays that dont have 0 element
  lib/internal/Magento/Framework/MessageQueue/MessageValidator.php
  lib/internal/Magento/Framework/MessageQueue/Test/Unit/MessageValidatorTest.php
Labels: Auto-Tests: Covered, Component: MessageQueue, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S2, Triage: Dev.Experience

#30322 Fix array to string conversion error when saving row system config with defaults
  app/code/Magento/Config/Model/Config/Backend/Serialized.php
  app/code/Magento/Config/Test/Unit/Model/Config/Backend/SerializedTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: Config, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#30317 MFTF: Replace repetitive actions with Action Groups in CheckStaticBlocksTest
  app/code/Magento/Cms/Test/Mftf/ActionGroup/AdminOpenCmsBlocksGridActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/ActionGroup/AdminPressAddNewCmsBlockButtonActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/ActionGroup/AdminPressSaveCmsBlockButtonActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/ActionGroup/AdminSelectCMSBlockStoreViewActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/ActionGroup/AssertAdminProperUrlIsShownActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/Test/CheckStaticBlocksTest.xml
Labels: Auto-Tests: Not Required, Cleanup, Component: Cms, Partner: Atwix, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#30198 remove spaces caused patching problem in Product/View
  app/code/Magento/Catalog/Helper/Product/View.php
Labels: Auto-Tests: Not Required, Cleanup, Component: Catalog, Priority: P4, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S4
