Repository magento/magento2, pull requests merged in 2020-08, with the labels that each got.

#29290 #1618: Duplicated items in Used in Entities filters
  app/code/Magento/Ui/view/base/web/js/form/element/ui-select.js
Labels: Area: Frontend, Auto-Tests: Covered, Component: Ui, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S4

#29271 Unit Test / Bugfix / Inverted Expected value with actual one
  app/code/Magento/Newsletter/Test/Unit/Model/SubscriptionManagerTest.php
Labels: Auto-Tests: Covered, Component: Newsletter, Partner: Blue Acorn iCi, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S4, partners-contribution

#29244 Fix unit tests with PHPUnit 9 errors
  app/code/Magento/Captcha/Test/Unit/Model/Customer/Plugin/AjaxLoginTest.php
  app/code/Magento/Developer/Test/Unit/Console/Command/XmlCatalogGenerateCommandTest.php
  app/code/Magento/Persistent/Test/Unit/Model/QuoteManagerTest.php
  app/code/Magento/Quote/Test/Unit/Model/Quote/Address/Total/SubtotalTest.php
  app/code/Magento/Sales/Test/Unit/Model/Order/CreditmemoFactoryTest.php
  lib/internal/Magento/Framework/Pricing/Test/Unit/Adjustment/CollectionTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: Captcha, Component: Developer, Component: Persistent, Component: Pricing, Component: Quote, Component: Sales, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3

#29139 Fix: CustomerAddressId missing for backend orders
  app/code/Magento/Quote/Model/CustomerManagement.php
  app/code/Magento/Quote/Test/Unit/Model/CustomerManagementTest.php
  dev/tests/integration/testsuite/Magento/Quote/Model/CustomerManagementTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: Quote, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#29135 [MFTF] use actionGroup click next button on checkout
  app/code/Magento/Catalog/Test/Mftf/Test/StorefrontPurchaseProductCustomOptionsDifferentStoreViewsTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/StorefrontPurchaseProductWithCustomOptionsTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/StorefrontPurchaseProductWithCustomOptionsWithLongValuesTitleTest.xml
  app/code/Magento/CatalogInventory/Test/Mftf/Test/AssociatedProductToConfigurableOutOfStockTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/AddressStateFieldForUKCustomerRemainOptionAfterRefreshTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/OnePageCheckoutAsCustomerUsingNewAddressTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontCustomerCheckoutWithoutRegionTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontOnePageCheckoutDataWhenChangeQtyTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/StorefrontOrderPagerDisplayedTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/StorefrontOrderPagerIsAbsentTest.xml
  app/code/Magento/Shipping/Test/Mftf/Test/StorefrontDisplayTableRatesShippingMethodForAETest.xml
  app/code/Magento/Tax/Test/Mftf/Test/StorefrontTaxQuoteCheckoutTest/StorefrontTaxQuoteCheckoutGuestSimpleTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/StorefrontTaxQuoteCheckoutTest/StorefrontTaxQuoteCheckoutLoggedInSimpleTest.xml
Labels: Auto-Tests: Covered, Component: Catalog, Component: CatalogInventory, Component: Checkout, Component: Sales, Component: Shipping, Component: Tax, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#28992 PageCache / Layout: Avoid multiple calls and config fetch
  app/code/Magento/PageCache/Model/Config.php
  app/code/Magento/PageCache/Model/Layout/LayoutPlugin.php
Labels: Auto-Tests: Not Required, Component: PageCache, Partner: Blue Acorn iCi, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S1, improvement, partners-contribution

#28975 improve NonComposerComponentRegistration
  app/etc/NonComposerComponentRegistration.php
Labels: Auto-Tests: Not Required, Cleanup, Priority: P4, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S4

#28930 Support cron expressions like `3/10 * * * *` and handle hyphen expres…
  app/code/Magento/Cron/Model/Schedule.php
  app/code/Magento/Cron/Test/Unit/Model/ScheduleTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: Cron, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#28842 Cover form email component in checkout page with jasmine test
  dev/tests/js/jasmine/tests/app/code/Magento/Checkout/frontend/js/view/form/element/email.test.js
Labels: Auto-Tests: Covered, Award: test coverage, Component: Checkout, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S4

#27537 Add validation phone field on checkout page
  app/code/Magento/Checkout/Block/Checkout/LayoutProcessor.php
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontOnePageCheckoutPhoneValidationTest.xml
  app/code/Magento/Checkout/view/frontend/layout/checkout_index_index.xml
  app/code/Magento/Customer/Test/Mftf/Data/AddressData.xml
Labels: Area: Frontend, Auto-Tests: Covered, Component: Checkout, Component: Customer, Partner: Atwix, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#26032 #7213 prevent pointless session start in webapi scope
  app/code/Magento/Customer/etc/webapi_rest/di.xml
  app/code/Magento/PageCache/etc/di.xml
  app/code/Magento/PageCache/etc/frontend/di.xml
  app/code/Magento/PageCache/etc/graphql/di.xml
  app/code/Magento/User/etc/webapi_rest/di.xml
  dev/tests/api-functional/testsuite/Magento/Webapi/RestSessionCookieTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: Customer, Component: PageCache, Component: User, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#23972 fixed disabled guest checkout issue in case of downloadable product
  app/code/Magento/Downloadable/Observer/IsAllowedGuestCheckoutObserver.php
  app/code/Magento/Downloadable/Test/Mftf/Data/CatalogConfigData.xml
  app/code/Magento/Downloadable/Test/Mftf/Data/LinkData.xml
  app/code/Magento/Downloadable/Test/Mftf/Test/LinkDownloadableProductFromGuestToCustomerTest.xml
  app/code/Magento/Downloadable/Test/Unit/Observer/IsAllowedGuestCheckoutObserverTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: Downloadable, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2, partners-contribution

#29206 #28947 Fix scope reset on new synonym form
  app/code/Magento/Search/Test/Mftf/ActionGroup/AdminFillNewSearchSynonymsActionGroup.xml
  app/code/Magento/Search/Test/Mftf/ActionGroup/AdminNavigateToNewSearchSynonymsPageActionGroup.xml
  app/code/Magento/Search/Test/Mftf/Data/SearchSynonymsData.xml
  app/code/Magento/Search/Test/Mftf/Section/AdminSearchSynonymsGridSection.xml
  app/code/Magento/Search/Test/Mftf/Section/AdminSearchSynonymsNewSection.xml
  app/code/Magento/Search/Test/Mftf/Test/AdminNewSearchSynonymsFormResetTest.xml
  app/code/Magento/Search/view/adminhtml/ui_component/search_synonyms_form.xml
Labels: Area: Frontend, Auto-Tests: Covered, Award: MFTF test coverage, Component: Search, Partner: Ziffity, Priority: P4, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S4, partners-contribution

#29142 [MFTF] Create new ActionGroup for saving product
  app/code/Magento/Bundle/Test/Mftf/Test/AdminAddBundleItemsTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminAttributeSetSelectionTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminBasicBundleProductAttributesTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminCreateAndEditBundleProductOptionsNegativeTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminDeleteABundleProductTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminEditRelatedBundleProductTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminFilterProductListByBundleProductTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminMassDeleteBundleProductsTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminProductBundleCreationTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/BundleProductFixedPricingTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/EnableDisableBundleProductStatusTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/MassEnableDisableBundleProductsTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/NewProductsListWidgetBundleProductTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontBundleProductDetailsTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontBundleProductShownInCategoryListAndGridTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontGoToDetailsPageWhenAddingToCartTest.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminProductFormSaveActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AddToCartCrossSellTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminAddImageToWYSIWYGProductTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminAddInStockProductToTheCartTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminApplyTierPriceToProductTest/AdminApplyTierPriceToProductTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCheckConfigurableProductPriceWithDisabledChildProductTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateCategoryWithProductsGridFilterTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateProductDuplicateUrlkeyTest/AdminCreateProductDuplicateUrlkeyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateSimpleProductTest/AdminCreateSimpleProductNegativePriceTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateSimpleProductTest/AdminCreateSimpleProductZeroPriceTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminEditTextEditorProductAttributeTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminSimpleProductImagesTest/AdminSimpleProductImagesTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminSimpleProductImagesTest/AdminSimpleProductRemoveImagesTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminSimpleProductSetEditContentTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminSimpleSetEditRelatedProductsTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminSortingByWebsitesTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/NewProductsListWidgetSimpleProductTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/NewProductsListWidgetVirtualProductTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/SaveProductWithCustomOptionsSecondWebsiteTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/StorefrontPurchaseProductCustomOptionsDifferentStoreViewsTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/TieredPricingAndQuantityIncrementsWorkWithDecimalinventoryTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/VerifyTinyMCEv4IsNativeWYSIWYGOnProductTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontProductNameMinicartOnCheckoutPageDifferentStoreViewsTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminAssertNoticeThatExistingSkuAutomaticallyChangedWhenSavingProductWithSameSkuTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminCheckValidatorConfigurableProductTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminConfigurableProductCreateTest/AdminCreateConfigurableProductAfterGettingIncorrectSKUMessageTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminConfigurableProductLongSkuTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminConfigurableProductOutOfStockTest/AdminConfigurableProductChildrenOutOfStockTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminConfigurableProductOutOfStockTest/AdminConfigurableProductOutOfStockAndDeleteCombinationTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminConfigurableProductUpdateTest/AdminConfigurableProductAddConfigurationTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminConfigurableProductUpdateTest/AdminConfigurableProductDisableAnOptionTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminConfigurableProductUpdateTest/AdminConfigurableProductRemoveAnOptionTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminConfigurableProductUpdateTest/AdminConfigurableProductRemoveConfigurationTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/NewProductsListWidgetConfigurableProductTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/ProductsQtyReturnAfterOrderCancelTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/StorefrontConfigurableProductChildSearchTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/StorefrontConfigurableProductWithFileCustomOptionTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/StorefrontVerifyConfigurableProductLayeredNavigationTest.xml
  app/code/Magento/Downloadable/Test/Mftf/Test/NewProductsListWidgetDownloadableProductTest.xml
  app/code/Magento/Elasticsearch6/Test/Mftf/Test/StorefrontElasticsearchSearchInvalidValueTest.xml
  app/code/Magento/GroupedProduct/Test/Mftf/Test/NewProductsListWidgetGroupedProductTest.xml
  app/code/Magento/ProductVideo/Test/Mftf/Test/YoutubeVideoWindowOnProductPageTest.xml
  app/code/Magento/Swatches/Test/Mftf/Test/StorefrontSwatchProductWithFileCustomOptionTest.xml
  app/code/Magento/Wishlist/Test/Mftf/Test/StorefrontAddMultipleStoreProductsToWishlistTest.xml
Labels: Auto-Tests: Not Required, Component: Bundle, Component: Catalog, Partner: Atwix, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#29402 Remove MFTF dependency to adobe stock module
  app/code/Magento/MediaGalleryUi/Test/Mftf/ActionGroup/AdminEnhancedMediaGalleryDeleteGridViewActionGroup.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/ActionGroup/AdminMediaGalleryEnhancedEnableActionGroup.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/Page/AdminMediaGalleryConfigSystemPage.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/Section/AdminConfigSystemSection.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/Section/AdminEnhancedMediaGalleryActionsSection.xml
Labels: Auto-Tests: Covered, Component: MediaGalleryUi, Priority: P0, Progress: accept, Project: ASI, Release Line: 2.4, Severity: S0

#29238 magento/magento2-page-builder#543: Content Product Attributes Default…
  app/code/Magento/Catalog/Setup/Patch/Data/UpdateProductDescriptionOrder.php
  app/code/Magento/Catalog/Test/Mftf/Test/AdminAddImageToWYSIWYGProductTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/VerifyTinyMCEv4IsNativeWYSIWYGOnProductTest.xml
Labels: Component: Catalog, Partner: Vaimo, Progress: accept, Release Line: 2.4, Test Plan

#29422 Fix Replace nestead query with separate queries in the entity filter processor
  app/code/Magento/MediaGalleryUi/Model/SearchCriteria/CollectionProcessor/FilterProcessor/Entity.php
  app/code/Magento/MediaGalleryUi/Model/SearchCriteria/CollectionProcessor/FilterProcessor/Keyword.php
Labels: Auto-Tests: Covered, Component: MediaGalleryUi, Priority: P3, Progress: accept, Project: ASI, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#29412 1716: Use Magento naming approach for FolderTree class
  app/code/Magento/MediaGalleryUi/Controller/Adminhtml/Directories/GetTree.php
  app/code/Magento/MediaGalleryUi/Model/Directories/GetFolderTree.php
  app/code/Magento/MediaGalleryUi/etc/di.xml
Labels: Auto-Tests: Covered, Component: MediaGalleryUi, Priority: P3, Progress: accept, Project: ASI, Release Line: 2.4, Severity: S3

#29405 Move Source filter to MediaGalleryUi module
  app/code/Magento/MediaGalleryUi/Test/Mftf/Test/AdminMediaGalleryFilterImagesBySourceTest.xml
  app/code/Magento/MediaGalleryUi/Ui/Component/Listing/Columns/Source/Options.php
  app/code/Magento/MediaGalleryUi/view/adminhtml/ui_component/media_gallery_listing.xml
  app/code/Magento/MediaGalleryUi/view/adminhtml/ui_component/standalone_media_gallery_listing.xml
Labels: Area: Frontend, Auto-Tests: Covered, Component: MediaGalleryUi, Priority: P1, Progress: accept, Project: ASI, QA: Added to Regression Scope, Release Line: 2.4, Severity: S1

#29404 #1691: Add filter placeholders and Display mode options to category grid
  app/code/Magento/MediaGalleryCatalogUi/view/adminhtml/ui_component/media_gallery_category_listing.xml
  app/code/Magento/MediaGalleryCatalogUi/view/adminhtml/web/css/source/_module.less
Labels: Area: Frontend, Auto-Tests: Covered, Component: MediaGalleryCatalogUi, Priority: P3, Progress: accept, Project: ASI, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#29401 #1714: Change access level for metadata model functions to private
  app/code/Magento/MediaGalleryMetadata/Model/Jpeg/ReadFile.php
  app/code/Magento/MediaGalleryMetadata/Model/Png/Segment/WriteXmp.php
Labels: Auto-Tests: Covered, Component: MediaGalleryMetadata, Priority: P1, Progress: accept, Project: ASI, Release Line: 2.4, Severity: S3

#29399 #1713: Extract image extension from constant of SaveImageInformation to DI configuration
  app/code/Magento/MediaGalleryIntegration/Plugin/SaveImageInformation.php
  app/code/Magento/MediaGalleryIntegration/etc/adminhtml/di.xml
Labels: Auto-Tests: Covered, Component: MediaGalleryIntegration, Priority: P2, Progress: accept, Project: ASI, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#29396 Apply review suggestion to the media modules
  app/code/Magento/MediaContentSynchronizationApi/Api/SynchronizerInterface.php
  app/code/Magento/MediaContentSynchronizationApi/Model/SynchronizerPool.php
  app/code/Magento/MediaContentSynchronizationCatalog/Model/Synchronizer/Category.php
  app/code/Magento/MediaContentSynchronizationCatalog/Model/Synchronizer/Product.php
  app/code/Magento/MediaContentSynchronizationCms/Model/Synchronizer/Block.php
  app/code/Magento/MediaContentSynchronizationCms/Model/Synchronizer/Page.php
  app/code/Magento/MediaGalleryMetadata/Model/File/ExtractMetadata.php
  app/code/Magento/MediaGallerySynchronization/Model/CreateAssetFromFile.php
  app/code/Magento/MediaGallerySynchronization/Model/GetContentHash.php
  app/code/Magento/MediaGallerySynchronization/Test/Integration/Model/GetContentHashTest.php
  app/code/Magento/MediaGallerySynchronization/etc/di.xml
  app/code/Magento/MediaGallerySynchronizationApi/Model/GetContentHashInterface.php
  app/code/Magento/MediaGalleryUi/Ui/Component/Listing/Filters/Options/UsedIn.php
  app/code/Magento/MediaGalleryUi/etc/adminhtml/di.xml
Labels: Auto-Tests: Covered, Component: MediaContentSynchronizationApi, Component: MediaContentSynchronizationCatalog, Component: MediaContentSynchronizationCms, Component: MediaGalleryMetadata, Component: MediaGallerySynchronization, Component: MediaGallerySynchronizationApi, Component: MediaGalleryUi, Priority: P1, Progress: accept, Project: ASI, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#29393 #1667: [MFTF] Add a column with an edit link to the Category grid - MFTF coverage
  app/code/Magento/MediaGalleryCatalogUi/Test/Mftf/ActionGroup/AdminAssertCategoryPageTitleActionGroup.xml
  app/code/Magento/MediaGalleryCatalogUi/Test/Mftf/ActionGroup/AdminEditCategoryInGridPageActionGroup.xml
  app/code/Magento/MediaGalleryCatalogUi/Test/Mftf/Section/AdminMediaGalleryCatalogUiCategoryGridSection.xml
  app/code/Magento/MediaGalleryCatalogUi/Test/Mftf/Test/AdminMediaGalleryCatalogUiEditCategoryGridPageTest.xml
Labels: Component: MediaGalleryCatalogUi, Priority: P2, Progress: accept, Project: ASI, Release Line: 2.4, Severity: S2

#29392 MFTF tests coverage for Used In links && fix bug with category grid urlFIlterApplie
  app/code/Magento/MediaGalleryCatalogUi/Test/Mftf/Test/AdminMediaGalleryCatalogUiVerifyUsedInLinkCategoryGridTest.xml
  app/code/Magento/MediaGalleryCatalogUi/view/adminhtml/layout/media_gallery_catalog_category_index.xml
  app/code/Magento/MediaGalleryCatalogUi/view/adminhtml/templates/url_filter_applier.phtml
  app/code/Magento/MediaGalleryUi/Test/Mftf/ActionGroup/AdminEnhancedMediaGalleryClickEntityUsedInActionGroup.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/Section/AdminEnhancedMediaGalleryViewDetailsSection.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/Test/AdminEnhancedMediaGalleryVerifyAssetFilterTest.xml
  app/code/Magento/Ui/view/base/web/js/form/element/ui-select.js
  app/code/Magento/Ui/view/base/web/templates/grid/filters/elements/ui-select.html
Labels: Area: Frontend, Auto-Tests: Covered, Component: MediaGalleryCatalogUi, Component: MediaGalleryUi, Component: Ui, Priority: P2, Progress: accept, Project: ASI, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#29386 [MFTF] Usage already defined action groups
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminSubmitAdvancedInventoryFormActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminAddInStockProductToTheCartTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateVirtualProductWithoutManageStockTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockEnabledFlatTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/TieredPricingAndQuantityIncrementsWorkWithDecimalinventoryTest.xml
Labels: Auto-Tests: Covered, Cleanup, Component: Catalog, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#29385 [MFTF] Use action group for search in product grid
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/SearchProductGridByKeywordActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateVirtualProductWithTierPriceTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithRegularPriceInStockVisibleInCategoryOnlyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithRegularPriceInStockWithCustomOptionsVisibleInSearchOnlyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithRegularPriceOutOfStockVisibleInCategoryAndSearchTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithRegularPriceOutOfStockVisibleInCategoryOnlyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithRegularPriceOutOfStockVisibleInSearchOnlyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithSpecialPriceInStockVisibleInCategoryAndSearchTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithSpecialPriceOutOfStockVisibleInCategoryAndSearchTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithTierPriceInStockVisibleInCategoryOnlyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithTierPriceOutOfStockVisibleInCategoryAndSearchTest.xml
Labels: Auto-Tests: Covered, Cleanup, Component: Catalog, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#29341 Refactor ResourceConnection.php
  lib/internal/Magento/Framework/App/ResourceConnection.php
Labels: Auto-Tests: Covered, Cleanup, Component: App, Partner: Blue Acorn iCi, Priority: P4, Progress: accept, Release Line: 2.4, Severity: S4, partners-contribution

#29331 Fix robots.txt not store specific
  app/code/Magento/Sitemap/Block/Robots.php
  app/code/Magento/Sitemap/Test/Unit/Block/RobotsTest.php
  dev/tests/integration/testsuite/Magento/Sitemap/Block/RobotsTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: Sitemap, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#29300 [2.4] [ISSUE-29299] Fix Build-in README installation command.
  phpserver/README.md
Labels: Auto-Tests: Not Required, Cleanup, Partner: Vaimo, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S4, partners-contribution

#29285 Delete tests images after tests execution
  app/code/Magento/Catalog/Test/Mftf/Test/AdminAddImageToWYSIWYGCatalogTest.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminAddImageToCMSPageTinyMCE3Test.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminAddImageToWYSIWYGBlockTest.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminAddImageToWYSIWYGCMSTest.xml
  app/code/Magento/Newsletter/Test/Mftf/Test/AdminAddImageToWYSIWYGNewsletterTest.xml
Labels: Auto-Tests: Not Required, Component: Catalog, Component: Cms, Component: Newsletter, Priority: P1, Progress: accept, Project: ASI, Release Line: 2.4, Severity: S2

#29222 Remove backup menu if the backup feature is disabled
  app/code/Magento/Backup/Test/Mftf/ActionGroup/AdminAssertBackupLinkAbsentInMenuActionGroup.xml
  app/code/Magento/Backup/Test/Mftf/Test/AdminSystemBackupMenuTest.xml
  app/code/Magento/Backup/etc/adminhtml/menu.xml
Labels: Auto-Tests: Covered, Component: Backup, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S4, Technology Partner: Magestore, tech-partners-contribution

#29199 Resolve Field "Number of Symbols" in CAPTCHA settings has missing range validation
  app/code/Magento/Captcha/etc/adminhtml/system.xml
Labels: Auto-Tests: Not Required, Component: Captcha, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, Technology Partner: Magestore, tech-partners-contribution

#29035 Adds missing return value in afterSave plugin.
  app/code/Magento/CmsUrlRewrite/Plugin/Cms/Model/Store/View.php
  app/code/Magento/CmsUrlRewrite/Test/Unit/Plugin/Cms/Model/Store/ViewTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: CmsUrlRewrite, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S1

#29023 Credit Memo with Zero Total: Order Status "Complete" and not "Closed"
  app/code/Magento/Catalog/Test/Mftf/Data/ProductData.xml
  app/code/Magento/Sales/Model/Order.php
  app/code/Magento/Sales/Test/Mftf/Test/AdminCreateCreditMemoWithZeroPriceCheckOrderStatusTest.xml
Labels: Auto-Tests: Covered, Component: Catalog, Component: Sales, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S1

#28993 [MFTF] use action group to save categories
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontVerifyDynamicBundleProductPricesForCombinationOfOptionsTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminAddImageToWYSIWYGCatalogTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCheckInactiveAndNotIncludeInMenuCategoryAndSubcategoryIsNotVisibleInNavigationTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCheckInactiveCategoryAndSubcategoryIsNotVisibleInNavigationMenuTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCheckInactiveIncludeInMenuCategoryAndSubcategoryIsNotVisibleInNavigationTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCheckPaginationInStorefrontTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateCategoryWithAnchorFieldTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateCategoryWithFiveNestingTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateCategoryWithNoAnchorFieldTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateCategoryWithProductsGridFilterTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateCategoryWithRequiredFieldsTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateInactiveFlatCategoryAndUpdateAsInactiveTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateInactiveFlatCategoryTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateInactiveInMenuFlatCategoryTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateRootCategoryRequiredFieldsTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminMoveAnchoredCategoryToDefaultCategoryTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminMoveCategoryAndCheckUrlRewritesTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminMoveCategoryFromParentAnchoredCategoryTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminMoveCategoryToAnotherPositionInCategoryTreeTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminMoveProductBetweenCategoriesTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateCategoryAndCheckDefaultUrlKeyOnStoreViewTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateCategoryAndMakeInactiveTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateCategoryStoreUrlKeyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateCategoryWithInactiveIncludeInMenuTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateCategoryWithProductsTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateFlatCategoryAndAddProductsTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateFlatCategoryIncludeInNavigationTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateFlatCategoryNameAndDescriptionTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateTopCategoryUrlWithNoRedirectTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateTopCategoryUrlWithRedirectTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/DeleteCategoriesTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/VerifyTinyMCEv4IsNativeWYSIWYGOnCatalogTest.xml
  app/code/Magento/CatalogWidget/Test/Mftf/Test/CatalogProductListWidgetOperatorsTest.xml
Labels: Auto-Tests: Covered, Component: Bundle, Component: Catalog, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#28989 [MFTF] Use ActionGroup to click done on the Search Categories popup
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminSubmitCategoriesPopupActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateVirtualProductOutOfStockWithTierPriceTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateVirtualProductWithCustomOptionsSuiteAndImportOptionsTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateVirtualProductWithTierPriceForGeneralGroupTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateVirtualProductWithTierPriceTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateVirtualProductWithoutManageStockTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminMoveProductBetweenCategoriesTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductTieredPriceTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockEnabledFlatTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockNotVisibleIndividuallyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockUnassignFromCategoryTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockVisibleInCatalogAndSearchTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockVisibleInCatalogOnlyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockVisibleInSearchOnlyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockWithCustomOptionsTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceOutOfStockTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithRegularPriceInStockVisibleInCategoryOnlyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithRegularPriceInStockWithCustomOptionsVisibleInSearchOnlyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithRegularPriceOutOfStockVisibleInCategoryOnlyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithSpecialPriceInStockVisibleInCategoryAndSearchTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithSpecialPriceOutOfStockVisibleInCategoryAndSearchTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithTierPriceInStockVisibleInCategoryAndSearchTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithTierPriceInStockVisibleInCategoryOnlyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithTierPriceOutOfStockVisibleInCategoryAndSearchTest.xml
Labels: Auto-Tests: Covered, Component: Catalog, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#28902 Fixing bug with non-existent customer group breaking quote
  app/code/Magento/Checkout/Test/Mftf/Test/OnePageCheckoutAsCustomerUsingNonExistentCustomerGroupTest.xml
  app/code/Magento/Quote/Model/Quote.php
  app/code/Magento/Quote/Test/Unit/Model/QuoteTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: Checkout, Component: Quote, Partner: Guidance Solutions, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#28608 Update code to reduce redundancy and simplify readability
  lib/internal/Magento/Framework/App/Request/Http.php
Labels: Auto-Tests: Not Required, Component: App, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#28250 Multiple arguments in module:status command
  setup/src/Magento/Setup/Console/Command/ModuleStatusCommand.php
Labels: Auto-Tests: Not Required, Component: Setup, Partner: Ziffity, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S4, partners-contribution

#28137 #24353 Fix Varnish 6 Too many restarts issue
  app/code/Magento/PageCache/etc/varnish6.vcl
Labels: Component: PageCache, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#27977 Complex message added for add to cart success message
  app/code/Magento/Checkout/Controller/Cart/Addgroup.php
  app/code/Magento/Wishlist/Controller/Index/Cart.php
  app/code/Magento/Wishlist/Test/Mftf/ActionGroup/StorefrontCustomerAddProductToCartFromWishlistUsingSidebarActionGroup.xml
  app/code/Magento/Wishlist/Test/Unit/Controller/Index/CartTest.php
  dev/tests/integration/testsuite/Magento/Wishlist/Controller/Index/CartTest.php
Labels: Auto-Tests: Covered, Component: Checkout, Component: Wishlist, Partner: Ziffity, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#27905 PHPStan add support of magic methods of Data Object.
  dev/tests/static/framework/Magento/PhpStan/Reflection/Php/DataObjectClassReflectionExtension.php
  dev/tests/static/framework/Magento/PhpStan/Reflection/Php/DataObjectMethodReflection.php
  dev/tests/static/framework/Magento/TestFramework/CodingStandard/Tool/PhpStan.php
  dev/tests/static/framework/tests/unit/testsuite/Magento/PhpStan/Formatters/FilteredErrorFormatterTest.php
  dev/tests/static/framework/tests/unit/testsuite/Magento/PhpStan/Reflection/DataObject/Fixtures/ClassWithCorrectUsageOfDataObject.php
  dev/tests/static/framework/tests/unit/testsuite/Magento/PhpStan/Reflection/DataObject/Fixtures/ClassWithIncorrectUsageOfDataObject.php
  dev/tests/static/framework/tests/unit/testsuite/Magento/PhpStan/Reflection/DataObject/Fixtures/ClassWithSessionManagerUsage.php
  dev/tests/static/framework/tests/unit/testsuite/Magento/PhpStan/Reflection/DataObject/Fixtures/config.neon
  dev/tests/static/framework/tests/unit/testsuite/Magento/PhpStan/Reflection/DataObject/MagicMethodsTest.php
  dev/tests/static/testsuite/Magento/Test/Php/_files/phpstan/phpstan.neon
Labels: Auto-Tests: Covered, Award: MFTF test coverage, Award: advanced, Partner: Vaimo, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#27582 magento/magneto2#27570: fixed issue withsue with store id for cash on…
  app/code/Magento/Sales/Model/Order/Payment/Info.php
  app/code/Magento/Sales/Test/Unit/Model/Order/Payment/InfoTest.php
  app/code/Magento/Sales/Test/Unit/Model/Order/PaymentTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: Sales, Event: Global-Contribution-Day, Partner: Vaimo, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#29441 1710: Dynamically identify the root categoryId for category grid
  app/code/Magento/MediaGalleryCatalogUi/Ui/Component/Listing/Columns/Path.php
Labels: Auto-Tests: Covered, Component: MediaGalleryCatalogUi, Priority: P2, Progress: accept, Project: ASI, Release Line: 2.4, Severity: S2

#29438 Refactor massactionView, remove adobe-stock references
  app/code/Magento/MediaGalleryUi/Test/Mftf/ActionGroup/AdminEnhancedMediaGalleryEnableMassActionModeActionGroup.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/Section/AdminEnhancedMediaGalleryMassActionSection.xml
  app/code/Magento/MediaGalleryUi/view/adminhtml/web/css/source/_module.less
  app/code/Magento/MediaGalleryUi/view/adminhtml/web/js/grid/columns/image.js
  app/code/Magento/MediaGalleryUi/view/adminhtml/web/js/grid/massaction/massactionView.js
  app/code/Magento/MediaGalleryUi/view/adminhtml/web/js/grid/massaction/massactions.js
  app/code/Magento/MediaGalleryUi/view/adminhtml/web/template/grid/columns/image.html
  app/code/Magento/MediaGalleryUi/view/adminhtml/web/template/grid/massactions/cancelButton.html
  app/code/Magento/MediaGalleryUi/view/adminhtml/web/template/grid/massactions/massactionButtons.html
  app/code/Magento/MediaGalleryUi/view/adminhtml/web/template/image/image-details.html
Labels: Area: Frontend, Auto-Tests: Covered, Component: MediaGalleryUi, Priority: P1, Progress: accept, Project: ASI, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#29424 #1709: Modified date is not updated when Editing image Tags the second time
  app/code/Magento/MediaGallery/Model/ResourceModel/Keyword/SaveAssetLinks.php
  app/code/Magento/MediaGallery/Test/Unit/Model/ResourceModel/Keyword/SaveAssetLinksTest.php
Labels: Auto-Tests: Covered, Component: MediaGallery, Priority: P2, Progress: accept, Project: ASI, Release Line: 2.4, Severity: S2

#29367 Fix urlFilterApplier for filter values as array
  app/code/Magento/MediaGalleryCatalogUi/Ui/Component/Listing/Filters/UsedInProducts.php
  app/code/Magento/MediaGalleryCatalogUi/view/adminhtml/ui_component/media_gallery_listing.xml
  app/code/Magento/MediaGalleryCatalogUi/view/adminhtml/ui_component/standalone_media_gallery_listing.xml
  app/code/Magento/MediaGalleryCmsUi/Ui/Component/Listing/Filters/UsedInBlocks.php
  app/code/Magento/MediaGalleryCmsUi/Ui/Component/Listing/Filters/UsedInPages.php
  app/code/Magento/MediaGalleryCmsUi/composer.json
  app/code/Magento/MediaGalleryCmsUi/view/adminhtml/ui_component/media_gallery_listing.xml
  app/code/Magento/MediaGalleryCmsUi/view/adminhtml/ui_component/standalone_media_gallery_listing.xml
  app/code/Magento/MediaGallerySynchronization/Console/Command/Synchronize.php
  app/code/Magento/MediaGalleryUi/Controller/Adminhtml/Asset/Search.php
  app/code/Magento/MediaGalleryUi/view/adminhtml/web/css/source/_module.less
  app/code/Magento/MediaGalleryUi/view/adminhtml/web/js/image/image-details.js
  app/code/Magento/MediaGalleryUi/view/adminhtml/web/template/image/image-details.html
  app/code/Magento/Ui/view/base/web/js/grid/url-filter-applier.js
  dev/tests/js/jasmine/tests/app/code/Magento/Ui/base/js/grid/url-filter-applier.test.js
Labels: Area: Frontend, Auto-Tests: Covered, Award: test coverage, Component: MediaGalleryCatalogUi, Component: MediaGalleryCmsUi, Component: MediaGallerySynchronization, Component: MediaGalleryUi, Component: Ui, Priority: P1, Progress: accept, Project: ASI, QA: Added to Regression Scope, Release Line: 2.4, Severity: S1

#29451 :speech_balloon: fix typo in php doc
  app/code/Magento/Downloadable/Block/Sales/Order/Email/Items/Downloadable.php
Labels: Auto-Tests: Not Required, Cleanup, Component: Downloadable, Priority: P4, Progress: accept, Release Line: 2.4, Severity: S4

#29305 ScopeConfigInterface can be more than a string
  dev/tests/integration/framework/Magento/TestFramework/Annotation/ConfigFixture.php
Labels: Auto-Tests: Not Required, Award: bug fix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3

#29272 Unit Test / Deprecate / ObjectManager Helper
  lib/internal/Magento/Framework/TestFramework/Unit/Helper/ObjectManager.php
Labels: Auto-Tests: Not Required, Component: TestFramework, Partner: Blue Acorn iCi, Priority: P4, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S4, improvement, partners-contribution

#28480 Fix duplicate css when enable critical path
  app/code/Magento/Theme/Controller/Result/AsyncCssPlugin.php
  app/code/Magento/Theme/Test/Unit/Controller/Result/AsyncCssPluginTest.php
  app/code/Magento/Theme/etc/frontend/di.xml
  app/code/Magento/Theme/view/frontend/layout/default_head_blocks.xml
  app/code/Magento/Theme/view/frontend/templates/html/main_css_preloader.phtml
  app/code/Magento/Theme/view/frontend/templates/js/css_rel_preload.phtml
  dev/tests/integration/testsuite/Magento/Framework/Interception/PluginListGeneratorTest.php
Labels: Area: Frontend, Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: Theme, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#28238 Prefix dropdown in checkout doesn't select empty value by default if required
  app/code/Magento/Customer/Model/Options.php
  dev/tests/integration/testsuite/Magento/Customer/Model/OptionsTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: Customer, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#26256 GH-26255: Refactor CacheInvalidate sendPurgeRequest to fix incorrect tag splitting
  app/code/Magento/CacheInvalidate/Model/PurgeCache.php
  app/code/Magento/CacheInvalidate/Observer/FlushAllCacheObserver.php
  app/code/Magento/CacheInvalidate/Observer/InvalidateVarnishObserver.php
  app/code/Magento/CacheInvalidate/Test/Unit/Model/PurgeCacheTest.php
  app/code/Magento/CacheInvalidate/Test/Unit/Observer/FlushAllCacheObserverTest.php
  app/code/Magento/CacheInvalidate/Test/Unit/Observer/InvalidateVarnishObserverTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: CacheInvalidate, Partner: Aligent Consulting, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S1, partners-contribution

#29493 #1742: Cover SynchronizeFilesInterface with integration test
  app/code/Magento/MediaGallerySynchronization/Test/Integration/Model/SynchronizeFilesTest.php
  app/code/Magento/MediaGallerySynchronization/Test/Integration/_files/magento_metadata.jpg
Labels: Component: MediaGallerySynchronization, Priority: P3, Progress: accept, Project: ASI, Release Line: 2.4, Severity: S3

#29449 Simplified media gallery AssetDetailsProvider implementation
  app/code/Magento/MediaGalleryCatalogUi/etc/adminhtml/di.xml
  app/code/Magento/MediaGalleryCmsUi/etc/adminhtml/di.xml
  app/code/Magento/MediaGalleryUi/Model/AssetDetailsProvider/CreatedAt.php
  app/code/Magento/MediaGalleryUi/Model/AssetDetailsProvider/Height.php
  app/code/Magento/MediaGalleryUi/Model/AssetDetailsProvider/Size.php
  app/code/Magento/MediaGalleryUi/Model/AssetDetailsProvider/Type.php
  app/code/Magento/MediaGalleryUi/Model/AssetDetailsProvider/UpdatedAt.php
  app/code/Magento/MediaGalleryUi/Model/AssetDetailsProvider/UsedIn.php
  app/code/Magento/MediaGalleryUi/Model/AssetDetailsProvider/Width.php
  app/code/Magento/MediaGalleryUi/Model/AssetDetailsProviderInterface.php
  app/code/Magento/MediaGalleryUi/Model/AssetDetailsProviderPool.php
  app/code/Magento/MediaGalleryUi/Model/GetAssetDetails.php
  app/code/Magento/MediaGalleryUi/Model/GetAssetUsageDetails.php
  app/code/Magento/MediaGalleryUi/Model/GetDetailsByAssetId.php
  app/code/Magento/MediaGalleryUi/etc/di.xml
Labels: Auto-Tests: Covered, Component: MediaGalleryCatalogUi, Component: MediaGalleryCmsUi, Component: MediaGalleryUi, Priority: P2, Progress: accept, Project: ASI, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#29427 [MFTF] Add new AdminSelectAndDeleteProductsActionGroup
  app/code/Magento/Bundle/Test/Mftf/Test/AdminDeleteABundleProductTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminMassDeleteBundleProductsTest.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminDeleteAllProductsFromGridActionGroup.xml
Labels: Auto-Tests: Covered, Component: Bundle, Component: Catalog, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#28642 Improve html markup thumbnail image
  app/code/Magento/Ui/view/base/web/templates/grid/cells/thumbnail.html
Labels: Area: Frontend, Auto-Tests: Not Required, Component: Ui, Priority: P4, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S4, improvement

#28599 Fix failing / warnings in unit tests
  app/code/Magento/CatalogImportExport/Test/Unit/Model/Export/ProductTest.php
  app/code/Magento/Developer/Test/Unit/Console/Command/XmlCatalogGenerateCommandTest.php
  app/code/Magento/ProductVideo/Test/Unit/Model/Product/Attribute/Media/ExternalVideoEntryConverterTest.php
  app/code/Magento/Quote/Test/Unit/Model/Quote/Address/Total/SubtotalTest.php
Labels: Auto-Tests: Covered, Award: category of expertise, Component: CatalogImportExport, Component: Developer, Component: ProductVideo, Component: Quote, Partner: Blue Acorn iCi, Partner: Mediotype, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#27758 refactored code
  app/code/Magento/CatalogInventory/Model/StockState.php
Labels: Auto-Tests: Not Required, Cleanup, Component: CatalogInventory, Priority: P4, Progress: accept, Release Line: 2.4, Severity: S4

#26175 Static properties serialization fix.
  dev/tests/integration/framework/Magento/TestFramework/Serialize/Serializer.php
  dev/tests/integration/framework/Magento/TestFramework/Workaround/Cleanup/StaticProperties.php
Labels: Auto-Tests: Not Required, Award: bug fix, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#29492 Extract images from content only when new media gallery enabled
  app/code/Magento/MediaContentApi/Model/Config.php
  app/code/Magento/MediaContentCatalog/Observer/Category.php
  app/code/Magento/MediaContentCatalog/Observer/CategoryDelete.php
  app/code/Magento/MediaContentCatalog/Observer/Product.php
  app/code/Magento/MediaContentCatalog/Observer/ProductDelete.php
  app/code/Magento/MediaContentCms/Observer/Block.php
  app/code/Magento/MediaContentCms/Observer/BlockDelete.php
  app/code/Magento/MediaContentCms/Observer/Page.php
  app/code/Magento/MediaContentCms/Observer/PageDelete.php
  dev/tests/integration/testsuite/Magento/MediaContentCatalog/Model/ResourceModel/GetAssetIdsByContentFieldTest.php
  dev/tests/integration/testsuite/Magento/MediaContentCatalog/_files/product_with_asset.php
  dev/tests/integration/testsuite/Magento/MediaContentCms/Model/ResourceModel/GetAssetIdsByContentFieldTest.php
Labels: Auto-Tests: Covered, Component: MediaContentApi, Component: MediaContentCatalog, Component: MediaContentCms, Priority: P3, Progress: accept, Project: ASI, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#29490 Fix used in entities of the same type are displayed separately in delete warning
  app/code/Magento/MediaGalleryUi/view/adminhtml/web/js/action/deleteImageWithDetailConfirmation.js
Labels: Area: Frontend, Auto-Tests: Covered, Component: MediaGalleryUi, Priority: P2, Progress: accept, Project: ASI, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#29485 [MFTF] Created ActionGroup for click addProductsToOption button
  app/code/Magento/Bundle/Test/Mftf/ActionGroup/AdminClickAddProductToOptionActionGroup.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminAddBundleItemsTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminAddDefaultImageBundleProductTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminDeleteABundleProductTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminFilterProductListByBundleProductTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminMassDeleteBundleProductsTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminProductBundleCreationTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminRemoveDefaultImageBundleProductTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/BundleProductFixedPricingTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/EnableDisableBundleProductStatusTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/MassEnableDisableBundleProductsTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/NewProductsListWidgetBundleProductTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontAdminEditDataTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontBundleProductDetailsTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontBundleProductShownInCategoryListAndGridTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontEditBundleProductTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontGoToDetailsPageWhenAddingToCartTest.xml
Labels: Auto-Tests: Covered, Component: Bundle, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#29484 magento/adobe-stock-integration#1746: Corrected placeholders
  app/code/Magento/MediaGalleryUi/view/adminhtml/web/template/image/image-edit.html
  app/code/Magento/Ui/view/base/web/templates/grid/filters/elements/ui-select.html
Labels: Area: Frontend, Auto-Tests: Covered, Component: MediaGalleryUi, Component: Ui, Priority: P1, Progress: accept, Project: ASI, QA: Added to Regression Scope, Release Line: 2.4, Severity: S1

#29475 Fix new iTxt && zTxt segment creation for PNG image XMP && IPTC segments
  app/code/Magento/MediaGalleryMetadata/Model/Png/Segment/WriteIptc.php
  app/code/Magento/MediaGalleryMetadata/Model/Png/Segment/WriteXmp.php
Labels: Auto-Tests: Covered, Component: MediaGalleryMetadata, Priority: P1, Progress: accept, Project: ASI, QA: Added to Regression Scope, Release Line: 2.4, Severity: S1

#29472 [MFTF] Add new ActionGroup
  app/code/Magento/Backend/Test/Mftf/Test/AdminDashboardWithChartsTest.xml
  app/code/Magento/Checkout/Test/Mftf/ActionGroup/StorefrontCheckoutClickNextButtonActionGroup.xml
  app/code/Magento/Checkout/Test/Mftf/Test/CheckCheckoutSuccessPageTest/CheckCheckoutSuccessPageAsRegisterCustomerTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/ConfiguringInstantPurchaseFunctionalityTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/DefaultBillingAddressShouldBeCheckedOnPaymentPageTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/EditShippingAddressOnePageCheckoutTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StoreFrontFreeShippingRecalculationAfterCouponCodeAddedTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontCheckoutWithDifferentShippingAndBillingAddressAndProductWithTierPricesTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontCheckoutWithDifferentShippingAndBillingAddressAndRegisterCustomerAfterCheckoutTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontCheckoutWithSpecialPriceProductsTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontCustomerCheckoutOnLoginWhenGuestCheckoutIsDisabledTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontCustomerCheckoutTest/StorefrontCustomerCheckoutTestWithMultipleAddressesAndTaxRatesTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontCustomerCheckoutTest/StorefrontCustomerCheckoutTestWithRestrictedCountriesForPaymentTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontCustomerCheckoutWithNewCustomerRegistrationAndDisableGuestCheckoutTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontCustomerPlaceOrderWithNewAddressesThatWasEditedTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontGuestCheckoutUsingFreeShippingAndTaxesTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontProductQuantityChangesInBackendAfterCustomerCheckoutTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontUKGuestCheckoutWithConditionProductQuantityEqualsToOrderedQuantityTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontUSCustomerCheckoutWithCouponAndBankTransferPaymentMethodTest.xml
  app/code/Magento/Paypal/Test/Mftf/Test/StorefrontPaypalSmartButtonInCheckoutPageTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCreateInvoiceTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/CreditMemoTotalAfterShippingDiscountTest.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/StorefrontAutoGeneratedCouponCodeTest.xml
Labels: Component: Backend, Component: Checkout, Component: Paypal, Component: Sales, Component: SalesRule, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#29455 fix RSS Feed - first load not working
  app/code/Magento/Rss/Model/Rss.php
  app/code/Magento/Rss/Test/Mftf/Page/StorefrontRssPage.xml
  app/code/Magento/Rss/Test/Mftf/Section/StorefrontRssListSection.xml
  app/code/Magento/Rss/Test/Mftf/Test/RssListTest.xml
  app/code/Magento/Rss/Test/Unit/Model/RssTest.php
  dev/tests/integration/testsuite/Magento/Rss/Controller/Feed/IndexTest.php
Labels: Auto-Tests: Covered, Award: MFTF test coverage, Award: bug fix, Award: test coverage, Component: Rss, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#29398 #1684: Login failed error contains HTML tags
  app/code/Magento/MediaGalleryUi/view/adminhtml/web/js/grid/messages.js
  app/code/Magento/MediaGalleryUi/view/adminhtml/web/template/grid/messages.html
  dev/tests/js/jasmine/tests/app/code/Magento/MediaGalleryUi/adminhtml/js/grid/messages.test.js
Labels: Area: Frontend, Auto-Tests: Covered, Component: MediaGalleryUi, Priority: P2, Progress: accept, Project: ASI, Release Line: 2.4, Severity: S3

#29376 Checkout / Sales Rules / Get rid of redundant DB query
  app/code/Magento/Rule/Model/Condition/Product/AbstractProduct.php
  app/code/Magento/SalesRule/Test/Unit/Model/Rule/Condition/ProductTest.php
Labels: Auto-Tests: Not Required, Award: bug fix, Award: category of expertise, Component: Rule, Component: SalesRule, Partner: Blue Acorn iCi, Priority: P1, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2, partners-contribution

#29291 Add back extension point for adding some html to the category page
  app/code/Magento/Catalog/view/frontend/templates/product/list.phtml
  app/code/Magento/Swatches/view/frontend/templates/product/listing/renderer.phtml
Labels: Area: Frontend, Auto-Tests: Not Required, Award: bug fix, Component: Catalog, Component: Swatches, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#29214 Fix Issues 29213
  app/code/Magento/Backend/Block/Widget/Grid/Column/Filter/Price.php
  app/code/Magento/Backend/Test/Unit/Block/Widget/Grid/Column/Filter/PriceTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: Backend, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#29202 Reduce TierPriceManagement class complexity by quick refactor
  app/code/Magento/Catalog/Model/Product/TierPriceManagement.php
  app/code/Magento/Catalog/Test/Unit/Model/Product/TierPriceManagementTest.php
Labels: Auto-Tests: Covered, Component: Catalog, Partner: Blue Acorn iCi, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, Triage: Dev.Experience, partners-contribution

#28923 improve and make more strict autoload.php
  app/autoload.php
Labels: Auto-Tests: Covered, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, Triage: Dev.Experience, improvement

#29576 Add suport of reading PNG JPEG Exif metadata
  app/code/Magento/MediaGalleryMetadata/Model/GetIptcMetadata.php
  app/code/Magento/MediaGalleryMetadata/Model/Jpeg/Segment/ReadExif.php
  app/code/Magento/MediaGalleryMetadata/Model/Jpeg/Segment/ReadIptc.php
  app/code/Magento/MediaGalleryMetadata/Model/Jpeg/Segment/ReadXmp.php
  app/code/Magento/MediaGalleryMetadata/Model/Png/Segment/ReadExif.php
  app/code/Magento/MediaGalleryMetadata/Model/Png/Segment/ReadXmp.php
  app/code/Magento/MediaGalleryMetadata/Test/Integration/Model/ExtractMetadataTest.php
  app/code/Magento/MediaGalleryMetadata/Test/_files/empty_iptc.jpeg
  app/code/Magento/MediaGalleryMetadata/Test/_files/exif-image.jpeg
  app/code/Magento/MediaGalleryMetadata/Test/_files/exif_image.png
  app/code/Magento/MediaGalleryMetadata/Test/_files/macos-preview.png
  app/code/Magento/MediaGalleryMetadata/etc/di.xml
Labels: Auto-Tests: Covered, Component: MediaGalleryMetadata, Priority: P3, Progress: accept, Project: ASI, Release Line: 2.4, Severity: S3

#29511 #29496 :- UI : Time field element in admin
  lib/internal/Magento/Framework/Data/Form/Element/Time.php
Labels: Auto-Tests: Not Required, Award: bug fix, Component: Data, Priority: P4, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S4

#29494 #1748: Some category grid columns are empty
  app/code/Magento/MediaGalleryCatalogUi/Test/Mftf/ActionGroup/AdminAssertCategoryGridPageDetailsActionGroup.xml
  app/code/Magento/MediaGalleryCatalogUi/Test/Mftf/Section/AdminMediaGalleryCatalogUiCategoryGridSection.xml
  app/code/Magento/MediaGalleryCatalogUi/Ui/Component/Listing/Columns/InMenu.php
  app/code/Magento/MediaGalleryCatalogUi/Ui/Component/Listing/Columns/IsActive.php
  app/code/Magento/MediaGalleryCatalogUi/view/adminhtml/ui_component/media_gallery_category_listing.xml
Labels: Area: Frontend, Auto-Tests: Covered, Component: MediaGalleryCatalogUi, Priority: P2, Progress: accept, Project: ASI, Release Line: 2.4, Severity: S2

#29491 #1712: Remove DataObject usage from OpenDialogUrl provider
  app/code/Magento/MediaGalleryIntegration/Plugin/NewMediaGalleryOpenDialogUrl.php
  app/code/Magento/MediaGalleryIntegration/Test/Integration/Model/OpenDialogUrlTest.php
  app/code/Magento/MediaGalleryIntegration/composer.json
  app/code/Magento/MediaGalleryIntegration/etc/adminhtml/di.xml
  app/code/Magento/Ui/Component/Form/Element/DataType/Media/OpenDialogUrl.php
Labels: Auto-Tests: Covered, Component: MediaGalleryIntegration, Component: Ui, Priority: P3, Progress: accept, Project: ASI, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#29483 fix fatal error when exception was thrown
  lib/internal/Magento/Framework/Stdlib/DateTime/Timezone.php
  lib/internal/Magento/Framework/Stdlib/Test/Unit/DateTime/TimezoneTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: Stdlib, Priority: P1, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#29461 #1727: Introduce internal class wrapping SplFileInfo
  app/code/Magento/MediaGallerySynchronization/Model/CreateAssetFromFile.php
  app/code/Magento/MediaGallerySynchronization/Model/Filesystem/FileInfo.php
  app/code/Magento/MediaGallerySynchronization/Model/Filesystem/GetFileInfo.php
  app/code/Magento/MediaGallerySynchronization/Model/GetAssetFromPath.php
  app/code/Magento/MediaGallerySynchronization/Model/SynchronizeFiles.php
  app/code/Magento/MediaGallerySynchronization/Test/Integration/Model/Filesystem/GetFileInfoTest.php
Labels: Auto-Tests: Covered, Component: MediaGallerySynchronization, Priority: P3, Progress: accept, Project: ASI, Release Line: 2.4, Severity: S3

#29458 magento/web-api-test-recursive-array-comparison
  dev/tests/api-functional/framework/Magento/TestFramework/Helper/CompareArraysRecursively.php
  dev/tests/api-functional/testsuite/Magento/Catalog/Api/CategoryManagementTest.php
Labels: Auto-Tests: Covered, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#29452 Fix date timestamp typo ( Created and Modified date are different for newly saved Image Preview)
  app/code/Magento/MediaGallerySynchronization/Model/CreateAssetFromFile.php
  app/code/Magento/MediaGalleryUi/Model/UpdateAsset.php
  app/code/Magento/MediaGalleryUi/Test/Mftf/ActionGroup/AssertAdminEnhancedMediaGalleryImageCreatedAtNotEqualsUpdatedAtTimeActionGroup.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/ActionGroup/AssertAdminEnhancedMediaGalleryUploadedImageDateTimeEqualsActionGroup.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/Section/AdminEnhancedMediaGalleryViewDetailsSection.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/Test/AdminStandaloneMediaGalleryEditImageDetailsTest.xml
Labels: Auto-Tests: Covered, Award: MFTF test coverage, Component: MediaGallerySynchronization, Component: MediaGalleryUi, Priority: P2, Progress: accept, Project: ASI, QA: Added to Regression Scope, Release Line: 2.4, Severity: S1

#29435 #1711: Use product model instead of data object for catalog image helper init
  app/code/Magento/MediaGalleryCatalogUi/Test/Mftf/ActionGroup/AdminAssertCategoryGridPageDetailsActionGroup.xml
  app/code/Magento/MediaGalleryCatalogUi/Test/Mftf/Section/AdminMediaGalleryCatalogUiCategoryGridSection.xml
  app/code/Magento/MediaGalleryCatalogUi/Ui/Component/Listing/Columns/Thumbnail.php
  app/code/Magento/MediaGalleryCatalogUi/etc/adminhtml/di.xml
  app/code/Magento/MediaGalleryCatalogUi/view/adminhtml/web/images/category/placeholder/image.jpg
Labels: Auto-Tests: Covered, Component: MediaGalleryCatalogUi, Priority: P3, Progress: accept, Project: ASI, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#29433 Reorganize Media Gallery stores configuration UI
  app/code/Magento/MediaGalleryUi/Model/Config/MediaGallery/Yesno.php
  app/code/Magento/MediaGalleryUi/etc/adminhtml/system.xml
Labels: Auto-Tests: Covered, Component: MediaGalleryUi, Priority: P3, Progress: accept, Project: ASI, Release Line: 2.4, Severity: S3

#29429 Fix ui-select options placeholders for url-filter-applier
  app/code/Magento/MediaGalleryCatalogUi/Test/Mftf/ActionGroup/AssertAdminMediaGalleryAssetFilterPlaceHolderActionGroup.xml
  app/code/Magento/MediaGalleryCatalogUi/Test/Mftf/Section/AdminMediaGalleryCatalogUiCategoryGridSection.xml
  app/code/Magento/MediaGalleryCatalogUi/Test/Mftf/Test/AdminMediaGalleryCatalogUiUsedInProductFilterTest.xml
  app/code/Magento/MediaGalleryCatalogUi/Test/Mftf/Test/AdminMediaGalleryCatalogUiVerifyUsedInLinkCategoryGridTest.xml
  app/code/Magento/MediaGalleryCatalogUi/Ui/Component/Listing/Filters/UsedInProducts.php
  app/code/Magento/MediaGalleryCmsUi/Ui/Component/Listing/Filters/UsedInBlocks.php
  app/code/Magento/MediaGalleryCmsUi/Ui/Component/Listing/Filters/UsedInPages.php
  app/code/Magento/MediaGalleryUi/Controller/Adminhtml/Asset/Search.php
  app/code/Magento/MediaGalleryUi/Test/Mftf/ActionGroup/AdminAssertMediaGalleryFilterPlaceholderActionGroup.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/Section/AdminEnhancedMediaGalleryFiltersSection.xml
  app/code/Magento/MediaGalleryUi/Ui/Component/Listing/Filters/Asset.php
  app/code/Magento/MediaGalleryUi/view/adminhtml/web/js/image/image-actions.js
  app/code/Magento/MediaGalleryUi/view/adminhtml/web/template/grid/filters/elements/ui-select.html
Labels: Area: Frontend, Auto-Tests: Covered, Component: MediaGalleryCatalogUi, Component: MediaGalleryCmsUi, Component: MediaGalleryUi, Priority: P1, Progress: accept, Project: ASI, QA: Added to Regression Scope, Release Line: 2.4, Severity: S1

#29413 Fix #24060 - Terms and Conditions label doesn't fit longer texts
  app/design/frontend/Magento/blank/Magento_Checkout/web/css/source/module/checkout/_checkout-agreements.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Partner: Fast White Cat, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S4, partners-contribution

#29410 Changed misunderstanding title
  app/code/Magento/Checkout/i18n/en_US.csv
  app/code/Magento/Checkout/view/frontend/layout/checkout_onepage_failure.xml
  app/code/Magento/Multishipping/i18n/en_US.csv
Labels: Area: Frontend, Auto-Tests: Covered, Award: bug fix, Component: Checkout, Component: Multishipping, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#29400 #1703: The deleted tags are not removed from Tags drop-down until the web page is refreshed
  app/code/Magento/MediaGalleryUi/Test/Mftf/ActionGroup/AdminMediaGalleryEditAssetRemoveKeywordActionGroup.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/ActionGroup/AssetAdminEnhancedMediaGalleryAssetDetailsKeywordsAbsentActionGroup.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/Section/AdminEnhancedMediaGalleryEditDetailsSection.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/Test/AdminEnhancedMediaGalleryVerifyUpdatedTagsTest.xml
  app/code/Magento/MediaGalleryUi/view/adminhtml/web/js/image/image-actions.js
  app/code/Magento/MediaGalleryUi/view/adminhtml/web/js/image/image-edit.js
Labels: Area: Frontend, Auto-Tests: Covered, Component: MediaGalleryUi, Priority: P2, Progress: accept, Project: ASI, QA: Added to Regression Scope, Release Line: 2.4, Severity: S4

#27478 improve exception handling in Layout render
  lib/internal/Magento/Framework/View/Layout.php
  lib/internal/Magento/Framework/View/Test/Unit/LayoutTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: View, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, Triage: Dev.Experience

#29670 Minor refactoring to AccessChangeQuoteControl and it's Unit Tests
  app/code/Magento/Quote/Model/QuoteRepository/Plugin/AccessChangeQuoteControl.php
  app/code/Magento/Quote/Test/Unit/Model/QuoteRepository/Plugin/AccessChangeQuoteControlTest.php
Labels: Auto-Tests: Covered, Cleanup, Component: Quote, Partner: Blue Acorn iCi, Priority: P4, Progress: accept, Release Line: 2.4, Severity: S4, partners-contribution

#29669 ChangeQuoteControl minor refactor
  app/code/Magento/Quote/Model/ChangeQuoteControl.php
  app/code/Magento/Quote/Test/Unit/Model/ChangeQuoteControlTest.php
Labels: Auto-Tests: Covered, Cleanup, Component: Quote, Partner: Blue Acorn iCi, Priority: P4, Progress: accept, Release Line: 2.4, Severity: S4, partners-contribution

#29636 [MFTF] AdminMediaGalleryCatalogUiEditCategoryGridPageTest failing randomly
  app/code/Magento/MediaGalleryCatalogUi/Test/Mftf/ActionGroup/AdminEditCategoryInGridPageActionGroup.xml
  app/code/Magento/MediaGalleryCatalogUi/Test/Mftf/Section/AdminMediaGalleryCatalogUiCategoryGridSection.xml
  app/code/Magento/MediaGalleryCatalogUi/Test/Mftf/Test/AdminMediaGalleryCatalogUiEditCategoryGridPageTest.xml
Labels: Auto-Tests: Covered, Component: MediaGalleryCatalogUi, Priority: P1, Progress: accept, Project: ASI, Release Line: 2.4, Severity: S1

#29630 [MFTF] Add new AdminOrderClickSubmitOrderActionGroup
  app/code/Magento/Catalog/Test/Mftf/Test/StorefrontPurchaseProductWithCustomOptionsTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/NoOptionAvailableToConfigureDisabledProductTest.xml
  app/code/Magento/Reports/Test/Mftf/Test/AdminReportsOrderedGroupedBySkuTest.xml
  app/code/Magento/Sales/Test/Mftf/ActionGroup/AdminOrderClickSubmitOrderActionGroup.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminAvailabilityCreditMemoWithNoPaymentTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCancelTheCreatedOrderWithBankTransferPaymentMethodTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCancelTheCreatedOrderWithCashOnDeliveryPaymentMethodTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCancelTheCreatedOrderWithCheckMoneyOrderPaymentMethodTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCancelTheCreatedOrderWithProductQtyWithoutStockDecreaseTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCancelTheCreatedOrderWithPurchaseOrderPaymentMethodTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCancelTheCreatedOrderWithZeroSubtotalCheckoutTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCreateCreditMemoWithPurchaseOrderTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCreateOrderWithBundleProductTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCreateOrderWithMinimumAmountEnabledTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminFreeShippingNotAvailableIfMinimumOrderAmountNotMatchOrderTotalTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminHoldCreatedOrderTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminSubmitConfigurableProductOrderTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/CheckXSSVulnerabilityDuringOrderCreationTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/CreateOrderFromEditCustomerPageTest.xml
  app/code/Magento/Shipping/Test/Mftf/Test/AdminCreatePartialShipmentEntityTest.xml
  app/code/Magento/Shipping/Test/Mftf/Test/AdminCreateShipmentEntityTest.xml
Labels: Auto-Tests: Covered, Component: Catalog, Component: ConfigurableProduct, Component: Reports, Component: Sales, Component: Shipping, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#29564 Refactor Category Link: Replace deprecated interface, clean the code
  app/code/Magento/Catalog/Model/CategoryLink.php
Labels: Auto-Tests: Covered, Component: Catalog, Partner: Blue Acorn iCi, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#29518 Refactor not needed before and around plugins
  app/code/Magento/Catalog/Model/Indexer/Category/Flat/Plugin/StoreGroup.php
  app/code/Magento/Catalog/Model/Indexer/Category/Product/Plugin/StoreGroup.php
  app/code/Magento/Catalog/Model/Indexer/Category/Product/Plugin/StoreView.php
  app/code/Magento/Catalog/Model/Indexer/Product/Eav/Plugin/StoreView.php
  app/code/Magento/Catalog/Model/Indexer/Product/Flat/Plugin/Store.php
  app/code/Magento/Catalog/Model/Indexer/Product/Flat/Plugin/StoreGroup.php
  app/code/Magento/Catalog/Test/Unit/Model/Indexer/Category/Flat/Plugin/StoreGroupTest.php
  app/code/Magento/Catalog/Test/Unit/Model/Indexer/Category/Flat/Plugin/StoreViewTest.php
  app/code/Magento/Catalog/Test/Unit/Model/Indexer/Category/Product/Plugin/StoreGroupTest.php
  app/code/Magento/Catalog/Test/Unit/Model/Indexer/Category/Product/Plugin/StoreViewTest.php
  app/code/Magento/Catalog/Test/Unit/Model/Indexer/Product/Eav/Plugin/StoreViewTest.php
  app/code/Magento/Catalog/Test/Unit/Model/Indexer/Product/Flat/Plugin/StoreGroupTest.php
  app/code/Magento/Catalog/Test/Unit/Model/Indexer/Product/Flat/Plugin/StoreTest.php
  app/code/Magento/CatalogInventory/Model/Indexer/Stock/Plugin/StoreGroup.php
  app/code/Magento/CatalogInventory/Test/Unit/Model/Indexer/Stock/Plugin/StoreGroupTest.php
  app/code/Magento/CatalogSearch/Model/Indexer/Fulltext/Plugin/Store/Group.php
  app/code/Magento/CatalogSearch/Model/Indexer/Fulltext/Plugin/Store/View.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/Indexer/Fulltext/Plugin/Store/GroupTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/Indexer/Fulltext/Plugin/Store/ViewTest.php
  app/code/Magento/Theme/Model/Indexer/Design/Config/Plugin/Store.php
  app/code/Magento/Theme/Test/Unit/Model/Indexer/Design/Config/Plugin/StoreTest.php
Labels: Auto-Tests: Covered, Component: Catalog, Component: CatalogInventory, Component: CatalogSearch, Component: Theme, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#29459 [MFTF]Add new ActionGroup
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontGuestCheckoutUsingFreeShippingAndTaxesTest.xml
  app/code/Magento/Tax/Test/Mftf/ActionGroup/AdminClickAddTaxRuleButtonActionGroup.xml
  app/code/Magento/Tax/Test/Mftf/Test/AdminCreateDefaultsTaxRuleTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/AdminCreateTaxRateLargeRateTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/AdminCreateTaxRateSpecificPostcodeTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/AdminCreateTaxRateWiderZipCodeRangeTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/AdminCreateTaxRateZipCodeRangeTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/AdminCreateTaxRuleWithCustomerAndProductTaxClassTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/AdminCreateTaxRuleWithNewAndExistingTaxRateAndCustomerAndProductTaxClassTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/AdminCreateTaxRuleWithNewTaxClassesAndTaxRateTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/AdminCreateTaxRuleWithZipRangeTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/DeleteTaxRateEntityTest.xml
Labels: Auto-Tests: Covered, Component: Checkout, Component: Tax, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#29339 community-features#252 Create static test for action controllers.
  dev/tests/static/framework/Magento/TestFramework/Utility/AddedFiles.php
  dev/tests/static/framework/Magento/TestFramework/Utility/ChildrenClassesSearch.php
  dev/tests/static/framework/Magento/TestFramework/Utility/FilesSearch.php
  dev/tests/static/framework/tests/unit/testsuite/Magento/TestFramework/Utility/ChildrenClassesSearch/A.php
  dev/tests/static/framework/tests/unit/testsuite/Magento/TestFramework/Utility/ChildrenClassesSearch/B.php
  dev/tests/static/framework/tests/unit/testsuite/Magento/TestFramework/Utility/ChildrenClassesSearch/C.php
  dev/tests/static/framework/tests/unit/testsuite/Magento/TestFramework/Utility/ChildrenClassesSearch/D.php
  dev/tests/static/framework/tests/unit/testsuite/Magento/TestFramework/Utility/ChildrenClassesSearch/E.php
  dev/tests/static/framework/tests/unit/testsuite/Magento/TestFramework/Utility/ChildrenClassesSearch/F.php
  dev/tests/static/framework/tests/unit/testsuite/Magento/TestFramework/Utility/ChildrenClassesSearch/ZInterface.php
  dev/tests/static/framework/tests/unit/testsuite/Magento/TestFramework/Utility/ChildrenClassesSearchTest.php
  dev/tests/static/framework/tests/unit/testsuite/Magento/TestFramework/Utility/FilesSearchTest.php
  dev/tests/static/framework/tests/unit/testsuite/Magento/TestFramework/Utility/_files/changed_files_some_name_test.txt
  dev/tests/static/testsuite/Magento/Test/Legacy/Magento/Framework/App/Action/AbstractActionTest.php
  dev/tests/static/testsuite/Magento/Test/Php/LiveCodeTest.php
Labels: Auto-Tests: Not Required, Award: advanced, Award: test coverage, Partner: Vaimo, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#29316 Fix for magento/magento2#29315: \Magento\Config\Model\Config\Source\Email\Tem…
  app/code/Magento/Config/Model/Config/Source/Email/Template.php
  app/code/Magento/Config/Test/Unit/Model/Config/Source/Email/TemplateTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: Config, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#29693 improve test AccountTest
  dev/tests/integration/testsuite/Magento/Customer/Controller/AccountTest.php
Labels: Auto-Tests: Covered, Priority: P4, Progress: accept, Release Line: 2.4, Severity: S4, improvement

#29682 Revert "Add validation phone field on checkout page"
  app/code/Magento/Checkout/Block/Checkout/LayoutProcessor.php
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontOnePageCheckoutPhoneValidationTest.xml
  app/code/Magento/Checkout/view/frontend/layout/checkout_index_index.xml
  app/code/Magento/Customer/Test/Mftf/Data/AddressData.xml
Labels: Area: Frontend, Component: Checkout, Component: Customer, Priority: P1, Progress: accept, Release Line: 2.4, Severity: S1

#29703 Fixed the wrong code style in return type declaration
  app/code/Magento/Captcha/CustomerData/Captcha.php
Labels: Auto-Tests: Not Required, Component: Captcha, Partner: Atwix, Priority: P4, Progress: accept, Release Line: 2.4, Severity: S4, partners-contribution

#29510 #28422 :- Newsletter subscription confirmation email never sent again
  app/code/Magento/Newsletter/Model/SubscriptionManager.php
  app/code/Magento/Newsletter/Test/Unit/Model/SubscriptionManagerTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: Newsletter, Priority: P1, Progress: ready for testing, QA: Added to Regression Scope, Release Line: 2.4, Severity: S1

#29474 fix Same store name overriding in the store view grid filter
  app/code/Magento/Catalog/Test/Mftf/Section/AdminProductGridFilterSection.xml
  app/code/Magento/Store/Test/Mftf/ActionGroup/AdminCheckStoreViewOptionsActionGroup.xml
  app/code/Magento/Store/Test/Mftf/Data/StoreData.xml
  app/code/Magento/Store/Test/Mftf/Section/AdminStoresGridSection/AdminStoresGridSection.xml
  app/code/Magento/Store/Test/Mftf/Test/AdminCreateDuplicateNameStoreViewTest.xml
  app/code/Magento/Store/Ui/Component/Listing/Column/Store/Options.php
  dev/tests/integration/testsuite/Magento/Store/Ui/Component/Listing/Column/Store/OptionsTest.php
Labels: Auto-Tests: Covered, Component: Catalog, Component: Store, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#29460 [MFTF] Add ActionGroup for clicking edit link on customer grid
  app/code/Magento/Customer/Test/Mftf/ActionGroup/AdminClickFirstRowEditLinkOnCustomerGridActionGroup.xml
  app/code/Magento/Customer/Test/Mftf/Test/AdminCreateCustomerRetailerWithoutAddressTest.xml
  app/code/Magento/Customer/Test/Mftf/Test/AdminCreateCustomerWithCountryPolandTest.xml
  app/code/Magento/Customer/Test/Mftf/Test/AdminCreateCustomerWithCountryUSATest.xml
  app/code/Magento/Customer/Test/Mftf/Test/AdminCreateCustomerWithCustomGroupTest.xml
  app/code/Magento/Customer/Test/Mftf/Test/AdminCreateCustomerWithPrefixTest.xml
  app/code/Magento/Customer/Test/Mftf/Test/AdminCreateCustomerWithoutAddressTest.xml
  app/code/Magento/Customer/Test/Mftf/Test/AdminCreateNewCustomerOnStorefrontSignupNewsletterTest.xml
  app/code/Magento/Customer/Test/Mftf/Test/AdminCreateNewCustomerTest.xml
  app/code/Magento/Customer/Test/Mftf/Test/AdminCustomerSubscribeNewsletterPerWebsiteTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AddConfigurableProductToOrderFromShoppingCartTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AddSimpleProductToOrderFromShoppingCartTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/MoveLastOrderedConfigurableProductOnOrderPageTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/MoveLastOrderedSimpleProductOnOrderPageTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/MoveRecentlyViewedBundleFixedProductOnOrderPageTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/MoveRecentlyViewedConfigurableProductOnOrderPageTest.xml
  app/code/Magento/Swatches/Test/Mftf/Test/AdminSetUpWatermarkForSwatchImageTest.xml
Labels: Auto-Tests: Covered, Component: Customer, Component: Sales, Component: Swatches, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S4, partners-contribution

#29042 MFTF: Enabling Email To Friend Functionality. Assert Options
  app/code/Magento/Backend/Test/Mftf/ActionGroup/AdminNavigateToEmailToFriendSettingsActionGroup.xml
  app/code/Magento/Backend/Test/Mftf/ActionGroup/AssertAdminEmailToFriendOptionsAvailableActionGroup.xml
  app/code/Magento/Backend/Test/Mftf/Page/AdminConfigurationEmailToFriendPage.xml
  app/code/Magento/Backend/Test/Mftf/Test/AdminCatalogEmailToFriendSettingsTest.xml
  app/code/Magento/Config/Test/Mftf/Section/AdminEmailToFriendSection.xml
Labels: Auto-Tests: Covered, Award: MFTF test coverage, Component: Backend, Component: Config, Partner: Atwix, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#28816 #28802: Fix typo retires => retries
  setup/src/Magento/Setup/Model/ConfigOptionsList/Session.php
Labels: Auto-Tests: Not Required, Cleanup, Component: Setup, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S4

#28548 Use Variable for border-radius
  app/design/frontend/Magento/blank/web/css/source/_extends.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Cleanup, Priority: P4, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S4

#28512 Grammar fixes in Registry.php PHPDoc
  lib/internal/Magento/Framework/Registry.php
Labels: Component: Registry, Priority: P4, Progress: accept, Release Line: 2.4, Severity: S4

#27494 Implement ActionInterface for wishlist/shared
  app/code/Magento/Wishlist/Controller/Shared/Allcart.php
  app/code/Magento/Wishlist/Controller/Shared/Cart.php
  app/code/Magento/Wishlist/Test/Unit/Controller/Shared/AllcartTest.php
  app/code/Magento/Wishlist/Test/Unit/Controller/Shared/CartTest.php
Labels: Auto-Tests: Covered, Component: Wishlist, Partner: Blue Acorn iCi, Partner: Mediotype, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, improvement, partners-contribution

#29684 Correctly revert default mode after mass image deletion
  app/code/Magento/MediaGalleryUi/Test/Mftf/ActionGroup/AdminEnhancedMediaGalleryAssertMassActionModeNotActiveActionGroup.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/Test/AdminEnhancedMediaGalleryDeleteImagesInBulkTest.xml
  app/code/Magento/MediaGalleryUi/view/adminhtml/web/js/grid/massaction/massactions.js
Labels: Area: Frontend, Auto-Tests: Covered, Award: bug fix, Component: MediaGalleryUi, Priority: P2, Progress: accept, Project: ASI, Release Line: 2.4, Severity: S2

#29633 FIx text and images are displayed cropped if folder has long name && Filters isn`t applied on the "Category"
  app/code/Magento/Catalog/Test/Mftf/Test/AdminProductGridUrlFilterApplierTest.xml
  app/code/Magento/MediaGalleryCatalogUi/Test/Mftf/Test/AdminMediaGalleryCatalogUiVerifyUsedInLinkCategoryGridTest.xml
  app/code/Magento/MediaGalleryUi/view/adminhtml/web/css/source/_module.less
  app/code/Magento/Ui/view/base/web/js/grid/url-filter-applier.js
  dev/tests/js/jasmine/tests/app/code/Magento/Ui/base/js/grid/url-filter-applier.test.js
Labels: Area: Frontend, Auto-Tests: Covered, Component: Catalog, Component: MediaGalleryCatalogUi, Component: MediaGalleryUi, Component: Ui, Priority: P1, Progress: accept, Project: ASI, QA: Added to Regression Scope, Release Line: 2.4, Severity: S1

#29639 #1387: "Uncaught TypeError: Cannot read property 'complete' of undefined" appears in dev console if save Previewed image as a new View and open this View on another page
  app/code/Magento/Ui/view/base/web/js/grid/columns/image-preview.js
  dev/tests/js/jasmine/tests/app/code/Magento/Ui/base/js/grid/columns/image-preview.test.js
Labels: Area: Frontend, Auto-Tests: Covered, Component: Ui, Priority: P3, Progress: accept, Project: ASI, QA: Added to Regression Scope, Release Line: 2.4, Severity: S4

#29632 #1760: Media Gallery Page opened successfully if "Enhanced Media Gallery" disabled
  app/code/Magento/Backend/Test/Mftf/ActionGroup/AssertAdminPageIs404ActionGroup.xml
  app/code/Magento/MediaGalleryUi/Controller/Adminhtml/Media/Index.php
  app/code/Magento/MediaGalleryUi/Test/Mftf/Suite/MediaGalleryUiDisabledSuite.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/Test/AdminStandaloneMediaGalleryDisabledTest.xml
Labels: Auto-Tests: Covered, Component: Backend, Component: MediaGalleryUi, Priority: P2, Progress: accept, Project: ASI, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#29482 [MFTF] Add test coverage for AdminAnalytics module
  app/code/Magento/AdminAnalytics/Test/Mftf/Test/AdminCheckAnalyticsTrackingTest.xml
Labels: Auto-Tests: Covered, Component: AdminAnalytics, Partner: Atwix, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S4, partners-contribution

#29353 Fix #29194 Update tier price div visibility
  app/code/Magento/ConfigurableProduct/Test/Mftf/Section/StorefrontProductInfoMainSection.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminCreateConfigurableProductWithTierPriceForOneItemTest.xml
  app/code/Magento/ConfigurableProduct/view/frontend/web/js/configurable.js
Labels: Area: Frontend, Auto-Tests: Covered, Component: ConfigurableProduct, Partner: Ziffity, Priority: P2, Progress: accept, QA: Ready to add to Regression Scope, Release Line: 2.4, Severity: S2, partners-contribution

#29269 Issue 25595 - multiple address virtual product error at checkout fixe…
  app/code/Magento/Checkout/Test/Mftf/ActionGroup/StorefrontAssertCheckoutErrorMessageActionGroup.xml
  app/code/Magento/Checkout/Test/Mftf/Section/CheckoutCartMessageSection.xml
  app/code/Magento/Multishipping/Model/Checkout/Type/Multishipping.php
  app/code/Magento/Multishipping/Test/Mftf/ActionGroup/StorefrontRemoveProductOnCheckoutActionGroup.xml
  app/code/Magento/Multishipping/Test/Mftf/Section/MultishippingSection/MultishippingSection.xml
  app/code/Magento/Multishipping/Test/Mftf/Test/StorefrontCheckoutWithWithVirtualProductTest.xml
  app/code/Magento/Multishipping/etc/config.xml
  app/code/Magento/Multishipping/i18n/en_US.csv
Labels: Auto-Tests: Covered, Component: Checkout, Component: Multishipping, Partner: Blue Acorn iCi, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2, partners-contribution

#28163 Fix #13401 - Multi-Store: "Store View" sort order values are not reflected in front-end store-switcher
  app/code/Magento/Catalog/Test/Mftf/Section/StorefrontFooterSection.xml
  app/code/Magento/Store/Block/Switcher.php
  app/code/Magento/Store/Test/Mftf/ActionGroup/AdminCreateStoreViewFillSortOrderActionGroup.xml
  app/code/Magento/Store/Test/Mftf/Test/StorefrontCheckSortOrderStoreViewTest.xml
  app/code/Magento/Store/Test/Unit/Block/SwitcherTest.php
Labels: Auto-Tests: Covered, Component: Catalog, Component: Store, Partner: Fast White Cat, Priority: P3, Progress: accept, QA: Ready to add to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#27696 Initialize inline translations module only when they are enabled
  app/code/Magento/Catalog/Test/Mftf/Section/AdminCategorySidebarTreeSection.xml
  app/code/Magento/Translation/view/frontend/requirejs-config.js
  lib/web/mage/translate-inline.js
  lib/web/mage/utils/misc.js
  lib/web/mage/utils/objects.js
Labels: Area: Frontend, Area: Lib/Frontend, Area: Perf/Frontend, Auto-Tests: Not Required, Award: bug fix, Award: category of expertise, Component: Catalog, Component: Translation, Partner: creativestyle, Priority: P2, Progress: accept, QA: Ready to add to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#27691 fixed condition when can show password input. Fixed logic for pulling…
  app/code/Magento/Checkout/Test/Mftf/ActionGroup/AssertStorefrontVisiblePasswordFieldForUnregisteredEmailOnCheckoutActionGroup.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontVisiblePasswordFieldForUnregisteredEmailOnCheckoutTest.xml
  app/code/Magento/Checkout/view/frontend/web/js/view/form/element/email.js
Labels: Area: Frontend, Auto-Tests: Covered, Award: MFTF test coverage, Award: bug fix, Component: Checkout, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3

#26081 Fix #26080
  app/code/Magento/MessageQueue/etc/di.xml
  app/etc/di.xml
Labels: Auto-Tests: Not Required, Community Insider: Magecom, Component: MessageQueue, Priority: P2, Progress: accept, QA: Ready to add to Regression Scope, Release Line: 2.4, Severity: S2, community-insider-contribution

#29411 1523: Switching between Views does not change the selected folder. [Media Gallery]
  app/code/Magento/MediaGallery/Model/Directory/Command/CreateByPaths.php
  app/code/Magento/MediaGalleryUi/Model/Directories/GetFolderTree.php
  app/code/Magento/MediaGalleryUi/Test/Mftf/ActionGroup/AssertFolderIsChangedActionGroup.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/Test/AdminMediaGallerySwitchingBetweenViewsTest.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/Test/AdminMediaGalleryUploadCategoryImageTest.xml
  app/code/Magento/MediaGalleryUi/Ui/Component/DirectoryTree.php
  app/code/Magento/MediaGalleryUi/etc/di.xml
  app/code/Magento/MediaGalleryUi/view/adminhtml/ui_component/media_gallery_listing.xml
  app/code/Magento/MediaGalleryUi/view/adminhtml/ui_component/standalone_media_gallery_listing.xml
  app/code/Magento/MediaGalleryUi/view/adminhtml/web/js/action/deleteImageWithDetailConfirmation.js
  app/code/Magento/MediaGalleryUi/view/adminhtml/web/js/directory/directories.js
  app/code/Magento/MediaGalleryUi/view/adminhtml/web/js/directory/directoryTree.js
Labels: Area: Frontend, Auto-Tests: Covered, Component: MediaGallery, Component: MediaGalleryUi, Priority: P3, Progress: accept, Project: ASI, QA: Added to Regression Scope, Release Line: 2.4, Severity: S4

#29210 Static font name for loading fonts
  app/design/frontend/Magento/blank/web/css/source/_typography.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Partner: MediaCT, Priority: P3, Progress: accept, QA: Ready to add to Regression Scope, Release Line: 2.4, Severity: S2, Triage: Dev.Experience, partners-contribution
