Repository magento/magento2, pull requests merged in 2020-09, with the labels that each got.

#29783 Fix filter placeholders for ui-select filter (frontend implementation)
  app/code/Magento/Catalog/view/adminhtml/web/js/components/product-ui-select.js
  app/code/Magento/MediaGalleryCatalogUi/Controller/Adminhtml/Product/GetSelected.php
  app/code/Magento/MediaGalleryCatalogUi/Ui/Component/Listing/Filters/UsedInProducts.php
  app/code/Magento/MediaGalleryCatalogUi/view/adminhtml/ui_component/media_gallery_category_listing.xml
  app/code/Magento/MediaGalleryCatalogUi/view/adminhtml/ui_component/media_gallery_listing.xml
  app/code/Magento/MediaGalleryCatalogUi/view/adminhtml/ui_component/standalone_media_gallery_listing.xml
  app/code/Magento/MediaGalleryCmsUi/Controller/Adminhtml/Block/GetSelected.php
  app/code/Magento/MediaGalleryCmsUi/Controller/Adminhtml/Page/GetSelected.php
  app/code/Magento/MediaGalleryCmsUi/Ui/Component/Listing/Filters/UsedInBlocks.php
  app/code/Magento/MediaGalleryCmsUi/Ui/Component/Listing/Filters/UsedInPages.php
  app/code/Magento/MediaGalleryCmsUi/composer.json
  app/code/Magento/MediaGalleryCmsUi/view/adminhtml/ui_component/media_gallery_listing.xml
  app/code/Magento/MediaGalleryCmsUi/view/adminhtml/ui_component/standalone_media_gallery_listing.xml
  app/code/Magento/MediaGalleryUi/Controller/Adminhtml/Asset/GetSelected.php
  app/code/Magento/MediaGalleryUi/Ui/Component/Listing/Filters/Asset.php
  app/code/Magento/MediaGalleryUi/view/adminhtml/ui_component/cms_block_listing.xml
  app/code/Magento/MediaGalleryUi/view/adminhtml/ui_component/cms_page_listing.xml
  app/code/Magento/MediaGalleryUi/view/adminhtml/ui_component/product_listing.xml
  app/code/Magento/Ui/view/base/web/js/grid/filters/elements/ui-select.js
Labels: Area: Frontend, Auto-Tests: Covered, Component: Catalog, Component: MediaGalleryCatalogUi, Component: MediaGalleryCmsUi, Component: MediaGalleryUi, Component: Ui, Priority: P1, Progress: extended testing, Project: ASI, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#29774 Change the position of the main action buttons on View Details
  app/code/Magento/MediaGalleryUi/view/adminhtml/templates/image_details.phtml
  app/code/Magento/MediaGalleryUi/view/adminhtml/templates/image_details_standalone.phtml
Labels: Area: Frontend, Auto-Tests: Not Required, Component: MediaGalleryUi, Priority: P2, Progress: accept, Project: ASI, QA: Added to Regression Scope, Release Line: 2.4, Severity: S4

#29772 [MFTF] Sorting in media gallery
  app/code/Magento/MediaGalleryUi/Test/Mftf/ActionGroup/AdminEnhancedMediaGalleryClickSortActionGroup.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/ActionGroup/AssertAdminEnhancedMediaGallerySortByActionGroup.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/Section/AdminEnhancedMediaGalleryGridImagePositionSection.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/Section/AdminEnhancedMediaGallerySortBySection.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/Test/AdminMediaGallerySortByDirectoryAscendingTest.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/Test/AdminMediaGallerySortByDirectoryDescendingTest.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/Test/AdminMediaGallerySortByNameAToZTest.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/Test/AdminMediaGallerySortByNameZToATest.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/Test/AdminMediaGallerySortByNewestFirstTest.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/Test/AdminMediaGallerySortByOldestFirstTest.xml
Labels: Auto-Tests: Covered, Component: MediaGalleryUi, Priority: P3, Progress: accept, Project: ASI, Release Line: 2.4, Severity: S3

#29753 Remove area emulation from media-content:sync command
  app/code/Magento/MediaContentSynchronization/Console/Command/Synchronize.php
Labels: Auto-Tests: Covered, Component: MediaContentSynchronization, Priority: P2, Progress: accept, Project: ASI, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#29743 MediaGalleryMetadata Skip segment reader if there is any kind of exception
  app/code/Magento/MediaGalleryMetadata/Model/File/ExtractMetadata.php
Labels: Auto-Tests: Covered, Component: MediaGalleryMetadata, Priority: P1, Progress: accept, Project: ASI, Release Line: 2.4, Severity: S1

#29742 MediaGallery Set path column as text type
  app/code/Magento/MediaGallery/etc/db_schema.xml
  app/code/Magento/MediaGallery/etc/db_schema_whitelist.json
Labels: Auto-Tests: Covered, Component: MediaGallery, Priority: P1, Progress: accept, Project: ASI, QA: Added to Regression Scope, Release Line: 2.4, Severity: S1

#29799 Add elasticsearch params to integration tests config
  dev/tests/integration/etc/install-config-mysql.php.dist
Labels: Auto-Tests: Not Required, Priority: P4, Progress: accept, Release Line: 2.4, Severity: S4

#29634 [MFTF] Added some ActionGroups to Analytics module
  app/code/Magento/Analytics/Test/Mftf/ActionGroup/AdminOpenConfigGeneralAnalyticsPageActionGroup.xml
  app/code/Magento/Analytics/Test/Mftf/ActionGroup/AssertAdminAdvancedReportingPageUrlActionGroup.xml
  app/code/Magento/Analytics/Test/Mftf/Test/AdminAdvancedReportingButtonTest.xml
  app/code/Magento/Analytics/Test/Mftf/Test/AdminAdvancedReportingNavigateMenuTest.xml
  app/code/Magento/Analytics/Test/Mftf/Test/AdminConfigurationBlankIndustryTest.xml
  app/code/Magento/Analytics/Test/Mftf/Test/AdminConfigurationEnableDisableAnalyticsTest.xml
  app/code/Magento/Analytics/Test/Mftf/Test/AdminConfigurationIndustryTest.xml
  app/code/Magento/Analytics/Test/Mftf/Test/AdminConfigurationTimeToSendDataTest.xml
Labels: Auto-Tests: Covered, Component: Analytics, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#29348 [MFTF] Test scenario for "Apply shopping cart rule to a single bundle item" (#28921)
  app/code/Magento/SalesRule/Test/Mftf/Test/CartPriceRuleForBundleProductTest.xml
Labels: Auto-Tests: Covered, Component: SalesRule, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#28413 Fix Downloadable product after refund
  app/code/Magento/Catalog/Test/Mftf/Test/VerifyCategoryProductAndProductCategoryPartialReindexTest.xml
  app/code/Magento/Customer/Test/Mftf/ActionGroup/AdminCustomerFindWishlistItemActionGroup.xml
  app/code/Magento/Downloadable/Observer/SetLinkStatusObserver.php
  app/code/Magento/Downloadable/Test/Mftf/ActionGroup/StorefrontNotAssertDownloadableProductLinkInCustomerAccountActionGroup.xml
  app/code/Magento/Downloadable/Test/Mftf/Section/StorefrontCustomerDownloadableProductsSection.xml
  app/code/Magento/Downloadable/Test/Mftf/Test/StorefrontAccountDownloadableProductLinkAfterPartialRefundTest.xml
  app/code/Magento/Downloadable/Test/Unit/Observer/SetLinkStatusObserverTest.php
  app/code/Magento/Wishlist/Test/Mftf/Test/AdminDeleteCustomerWishListItemTest.xml
Labels: Auto-Tests: Covered, Component: Catalog, Component: Customer, Component: Downloadable, Component: Wishlist, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S1

#27609 Test coverage for PR #27357 (E-mail templates)
  dev/tests/integration/testsuite/Magento/Newsletter/Model/SubscriberTest.php
Labels: Area: Frontend, Auto-Tests: Covered, Award: test coverage, Event: Global-Contribution-Day, Partner: Blue Acorn iCi, Partner: Mediotype, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S4, partners-contribution

#27579 Fix #27523: throw informative errors in setup:db:generate-patch
  app/code/Magento/Developer/Console/Command/GeneratePatchCommand.php
  app/code/Magento/Developer/Test/Unit/Console/Command/GeneratePatchCommandTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Community Insider: Magecom, Component: Developer, Event: Global-Contribution-Day, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2, community-insider-contribution

#28915 Fix ApiFunctional TestFramework GraphQL headers parsing
  dev/tests/api-functional/framework/Magento/TestFramework/TestCase/GraphQl/Client.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/CorsHeadersTest.php
Labels: Auto-Tests: Covered, Award: bug fix, PAP, Progress: accept, Project: GraphQL, Release Line: 2.4

#29832 [MFTF] use ActionGroup for navigation to checkout page
  app/code/Magento/Persistent/Test/Mftf/Test/GuestCheckoutWithEnabledPersistentTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/StorefrontTaxQuoteCheckoutTest/StorefrontTaxQuoteCheckoutGuestSimpleTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/StorefrontTaxQuoteCheckoutTest/StorefrontTaxQuoteCheckoutGuestVirtualTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/StorefrontTaxQuoteCheckoutTest/StorefrontTaxQuoteCheckoutLoggedInSimpleTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/StorefrontTaxQuoteCheckoutTest/StorefrontTaxQuoteCheckoutLoggedInVirtualTest.xml
Labels: Auto-Tests: Not Required, Component: Persistent, Component: Tax, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#29830 [MFTF] add new AdminOpenAdminThreeDSecurePageActionGroup
  app/code/Magento/CardinalCommerce/Test/Mftf/ActionGroup/AdminOpenAdminThreeDSecurePageActionGroup.xml
Labels: Auto-Tests: Not Required, Component: CardinalCommerce, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#29829 [MFTF] add new AdminOpenWebConfigurationPageActionGroup
  app/code/Magento/Backend/Test/Mftf/ActionGroup/AdminOpenWebConfigurationPageActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateCategoryTest/AdminConfigDefaultCategoryLayoutFromConfigurationSettingTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateSimpleProductTest/AdminConfigDefaultProductLayoutFromConfigurationSettingTest.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminConfigDefaultCMSPageLayoutFromConfigurationSettingTest.xml
Labels: Auto-Tests: Not Required, Component: Backend, Component: Catalog, Component: Cms, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#29828 [MFTF] add new AdminOpenGeneralConfigurationPageActionGroup
  app/code/Magento/Backend/Test/Mftf/ActionGroup/AdminOpenGeneralConfigurationPageActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/Test/StorefrontSpecialPriceForDifferentTimezonesForWebsitesTest.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/AdminCreateCartPriceRuleEmptyFromDateTest.xml
Labels: Auto-Tests: Not Required, Component: Backend, Component: Catalog, Component: SalesRule, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#29820 [MFTF] Added new ActionGroup for clicking AddToCart button
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontGoToDetailsPageWhenAddingToCartTest.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/StorefrontClickAddToCartButtonActionGroup.xml
  app/code/Magento/Checkout/Test/Mftf/Test/AddressStateFieldForUKCustomerRemainOptionAfterRefreshTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/AddressStateFieldShouldNotAcceptJustIntegerValuesTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/NoErrorCartCheckoutForProductsDeletedFromMiniCartTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontCustomerCheckoutTest/StorefrontCustomerCheckoutTestWithMultipleAddressesAndTaxRatesTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontCustomerCheckoutTest/StorefrontCustomerCheckoutTestWithRestrictedCountriesForPaymentTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontGuestCheckoutTest/StorefrontGuestCheckoutTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontGuestCheckoutTest/StorefrontGuestCheckoutTestWithRestrictedCountriesForPaymentTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontVerifySecureURLRedirectCheckoutTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/StorefrontConfigurableProductViewTest/StorefrontConfigurableProductAddToCartTest.xml
  app/code/Magento/Multishipping/Test/Mftf/Test/StorefrontVerifySecureURLRedirectMultishippingTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCreateInvoiceTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/CreditMemoTotalAfterShippingDiscountTest.xml
Labels: Auto-Tests: Not Required, Component: Bundle, Component: Catalog, Component: Checkout, Component: ConfigurableProduct, Component: Multishipping, Component: Sales, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#29821 [MFTF] use AdminOpenCreateNewCMSPageActionGroup for navigation to create new cms page
  app/code/Magento/Cms/Test/Mftf/ActionGroup/AdminOpenCreateNewCMSPageActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminAddImageToCMSPageTinyMCE3Test.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminAddVariableToWYSIWYGCMSTest.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminAddWidgetToWYSIWYGWithCMSPageLinkTypeTest.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminAddWidgetToWYSIWYGWithCMSStaticBlockTypeTest.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminAddWidgetToWYSIWYGWithCatalogCategoryLinkTypeTest.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminAddWidgetToWYSIWYGWithCatalogProductLinkTypeTest.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminAddWidgetToWYSIWYGWithCatalogProductListTypeTest.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminAddWidgetToWYSIWYGWithRecentlyComparedProductsTypeTest.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminAddWidgetToWYSIWYGWithRecentlyViewedProductsTypeTest.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminConfigDefaultCMSPageLayoutFromConfigurationSettingTest.xml
  app/code/Magento/Tinymce3/Test/Mftf/Test/AdminSwitchWYSIWYGOptionsTest.xml
Labels: Auto-Tests: Not Required, Component: Cms, Component: Tinymce, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#28343 Added missing aclResource attribute to Backend Header AdminNotification Toolbar Block
  app/code/Magento/AdminNotification/Test/Mftf/Section/AdminNotificationToolbarSection.xml
  app/code/Magento/AdminNotification/Test/Mftf/Test/AdminSystemNotificationToolbarBlockAclTest.xml
  app/code/Magento/AdminNotification/view/adminhtml/layout/default.xml
Labels: Area: Frontend, Auto-Tests: Covered, Award: MFTF test coverage, Component: AdminNotification, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#27269 #26288 Throw an exception when a customer does not exist requests password reset
  app/code/Magento/Customer/Model/ForgotPasswordToken/GetCustomerByToken.php
  app/code/Magento/Customer/Test/Unit/Model/ForgotPasswordToken/GetCustomerByTokenTest.php
  dev/tests/integration/testsuite/Magento/Customer/Model/ForgotPasswordToken/GetCustomerByTokenTest.php
Labels: Auto-Tests: Covered, Component: Customer, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#27129 Improve performance of "in" condition on some version of MySQl
  app/code/Magento/Bundle/Model/ResourceModel/Selection/Collection.php
  app/code/Magento/BundleGraphQl/Model/Resolver/Links/Collection.php
  app/code/Magento/Catalog/Model/Indexer/Category/Flat/AbstractAction.php
  app/code/Magento/Catalog/Model/Indexer/Category/Flat/Action/Rows.php
  app/code/Magento/Catalog/Model/Indexer/Category/Product/AbstractAction.php
  app/code/Magento/Catalog/Model/Indexer/Category/Product/Action/Full.php
  app/code/Magento/Catalog/Model/Indexer/Product/Category/Action/Rows.php
  app/code/Magento/Catalog/Model/Indexer/Product/Flat/FlatTableBuilder.php
  app/code/Magento/Catalog/Model/Indexer/Product/Flat/Table/Builder.php
  app/code/Magento/Catalog/Model/Indexer/Product/Flat/TableBuilder.php
  app/code/Magento/Catalog/Model/Indexer/Product/Price/AbstractAction.php
  app/code/Magento/Catalog/Model/Product/Attribute/AttributeSetFinder.php
  app/code/Magento/Catalog/Model/Product/Price/PricePersistence.php
  app/code/Magento/Catalog/Model/Product/Price/TierPricePersistence.php
  app/code/Magento/Catalog/Model/ResourceModel/AbstractResource.php
  app/code/Magento/Catalog/Model/ResourceModel/Category.php
  app/code/Magento/Catalog/Model/ResourceModel/Category/Flat.php
  app/code/Magento/Catalog/Model/ResourceModel/Collection/AbstractCollection.php
  app/code/Magento/Catalog/Model/ResourceModel/Product.php
  app/code/Magento/Catalog/Model/ResourceModel/Product/Collection.php
  app/code/Magento/Catalog/Model/ResourceModel/Product/Gallery.php
  app/code/Magento/Catalog/Model/ResourceModel/Product/Indexer/Price/DefaultPrice.php
  app/code/Magento/Catalog/Model/ResourceModel/Product/Indexer/Price/TierPrice.php
  app/code/Magento/Catalog/Model/ResourceModel/Product/Link/Product/Collection.php
  app/code/Magento/Catalog/Model/ResourceModel/Product/Website.php
  app/code/Magento/CatalogInventory/Model/Indexer/ProductPriceIndexFilter.php
  app/code/Magento/CatalogInventory/Model/Indexer/Stock/CacheCleaner.php
  app/code/Magento/CatalogInventory/Model/ResourceModel/Stock.php
  app/code/Magento/CatalogInventory/Model/ResourceModel/Stock/Status.php
  app/code/Magento/CatalogRule/Model/Indexer/ProductPriceIndexModifier.php
  app/code/Magento/CatalogRuleConfigurable/Plugin/CatalogRule/Model/ConfigurableProductsProvider.php
  app/code/Magento/CatalogSearch/Model/Indexer/Fulltext/Action/DataProvider.php
  app/code/Magento/CatalogSearch/Model/Indexer/Fulltext/Action/Full.php
  app/code/Magento/CatalogSearch/Model/ResourceModel/Fulltext.php
  app/code/Magento/CatalogSearch/Model/ResourceModel/Search/Collection.php
  app/code/Magento/ConfigurableProduct/Model/ResourceModel/Product/Indexer/Price/Configurable.php
  app/code/Magento/ConfigurableProduct/Model/ResourceModel/Product/Type/Configurable.php
  app/code/Magento/ConfigurableProduct/Model/ResourceModel/Product/Type/Configurable/Attribute/Collection.php
  app/code/Magento/ConfigurableProduct/Model/ResourceModel/Product/Type/Configurable/Product/Collection.php
  app/code/Magento/Eav/Model/Entity/Collection/AbstractCollection.php
  app/code/Magento/Eav/Model/ResourceModel/Entity/Attribute.php
  app/code/Magento/Eav/Model/ResourceModel/Entity/Attribute/Collection.php
  app/code/Magento/Eav/Model/ResourceModel/ReadHandler.php
  lib/internal/Magento/Framework/DB/Select.php
Labels: Auto-Tests: Not Required, Award: advanced, Award: bug fix, Component: Bundle, Component: BundleGraphQl, Component: Catalog, Component: CatalogInventory, Component: CatalogRule, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S1

#29875 #1796: [MFTF] Unskip AdminMediaGalleryUploadCategoryImageTest
  app/code/Magento/MediaGalleryUi/Test/Mftf/ActionGroup/AdminMediaGalleryAssertImageInGridActionGroup.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/ActionGroup/AdminOpenMediaGalleryFromCategoryImageUploaderActionGroup.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/Test/AdminMediaGalleryUploadCategoryImageTest.xml
Labels: Auto-Tests: Covered, Component: MediaGalleryUi, Priority: P2, Progress: accept, Project: ASI, Release Line: 2.4, Severity: S2

#29869 #1797: The vertical image is not centered in Category image preview
  app/code/Magento/MediaGalleryUi/Test/Mftf/ActionGroup/AdminEnhancedMediaGalleryAssertImagesDeletedInBulkActionGroup.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/Test/AdminEnhancedMediaGalleryDeleteImagesInBulkTest.xml
  app/design/adminhtml/Magento/backend/web/css/source/components/_image-uploader.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Component: MediaGalleryUi, Priority: P4, Progress: accept, Project: ASI, QA: Added to Regression Scope, Release Line: 2.4, Severity: S4

#29836 [MFTF] add AssertStorefrontCustomerLogoutSuccessPageActionGroup
  app/code/Magento/Customer/Test/Mftf/ActionGroup/AssertStorefrontCustomerLogoutSuccessPageActionGroup.xml
  app/code/Magento/Persistent/Test/Mftf/Test/StorefrontCorrectWelcomeMessageAfterCustomerIsLoggedOutTest.xml
  app/code/Magento/Persistent/Test/Mftf/Test/StorefrontVerifyShoppingCartPersistenceUnderLongTermCookieTest.xml
Labels: Auto-Tests: Not Required, Component: Customer, Component: Persistent, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#29831 [MFTF] add new AdminOpenCatalogSearchTermIndexPageActionGroup
  app/code/Magento/CatalogSearch/Test/Mftf/ActionGroup/AdminOpenCatalogSearchTermIndexPageActionGroup.xml
  app/code/Magento/CatalogSearch/Test/Mftf/Test/StorefrontUpdateSearchTermEntityTest.xml
  app/code/Magento/Search/Test/Mftf/Test/AdminMassDeleteSearchTermEntityTest.xml
  app/code/Magento/Search/Test/Mftf/Test/StorefrontVerifySearchSuggestionByProductDescriptionTest.xml
  app/code/Magento/Search/Test/Mftf/Test/StorefrontVerifySearchSuggestionByProductNameTest.xml
  app/code/Magento/Search/Test/Mftf/Test/StorefrontVerifySearchSuggestionByProductShortDescriptionTest.xml
  app/code/Magento/Search/Test/Mftf/Test/StorefrontVerifySearchSuggestionByProductSkuTest.xml
  app/code/Magento/Search/Test/Mftf/Test/StorefrontVerifySearchTermEntityRedirectTest.xml
Labels: Auto-Tests: Not Required, Component: CatalogSearch, Component: Search, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#29822 [MFTF] Add new AdminOpenIndexManagementPageActionGroup
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateInactiveFlatCategoryAndUpdateAsInactiveTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateInactiveFlatCategoryTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateInactiveInMenuFlatCategoryTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminMoveProductBetweenCategoriesTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateFlatCategoryAndAddProductsTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateFlatCategoryIncludeInNavigationTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateFlatCategoryNameAndDescriptionTest.xml
  app/code/Magento/Indexer/Test/Mftf/ActionGroup/AdminOpenIndexManagementPageActionGroup.xml
Labels: Auto-Tests: Not Required, Component: Catalog, Component: Indexer, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#29044 Improvements webfont loading for theme
  app/design/frontend/Magento/blank/web/css/source/_icons.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#28349 Replaced deprecated method addError with addErrorMessage
  app/code/Magento/Customer/Observer/AfterAddressSaveObserver.php
  app/code/Magento/Customer/Test/Unit/Observer/AfterAddressSaveObserverTest.php
  app/code/Magento/Downloadable/Controller/Adminhtml/Downloadable/Product/Edit/Link.php
  app/code/Magento/Downloadable/Controller/Adminhtml/Downloadable/Product/Edit/Sample.php
  app/code/Magento/Downloadable/Controller/Download/Link.php
  app/code/Magento/Downloadable/Controller/Download/LinkSample.php
  app/code/Magento/Downloadable/Test/Unit/Controller/Adminhtml/Downloadable/Product/Edit/SampleTest.php
  app/code/Magento/Downloadable/Test/Unit/Controller/Download/LinkTest.php
  app/code/Magento/ImportExport/Controller/Adminhtml/Export/Export.php
  app/code/Magento/ImportExport/Controller/Adminhtml/Export/GetFilter.php
  app/code/Magento/ImportExport/Controller/Adminhtml/Import/Download.php
  app/code/Magento/ImportExport/Controller/Adminhtml/Import/Validate.php
  app/code/Magento/ImportExport/Test/Unit/Controller/Adminhtml/Import/ValidateTest.php
  app/code/Magento/Indexer/Controller/Adminhtml/Indexer/MassChangelog.php
  app/code/Magento/Indexer/Controller/Adminhtml/Indexer/MassInvalidate.php
  app/code/Magento/Indexer/Controller/Adminhtml/Indexer/MassOnTheFly.php
  app/code/Magento/Indexer/Test/Unit/Controller/Adminhtml/Indexer/MassChangelogTest.php
  app/code/Magento/Indexer/Test/Unit/Controller/Adminhtml/Indexer/MassInvalidateTest.php
  app/code/Magento/Indexer/Test/Unit/Controller/Adminhtml/Indexer/MassOnTheFlyTest.php
  app/code/Magento/Integration/Controller/Adminhtml/Integration/Delete.php
  app/code/Magento/Integration/Controller/Adminhtml/Integration/Edit.php
  app/code/Magento/Integration/Controller/Adminhtml/Integration/PermissionsDialog.php
  app/code/Magento/Integration/Controller/Adminhtml/Integration/Save.php
  app/code/Magento/Integration/Controller/Adminhtml/Integration/TokensDialog.php
  app/code/Magento/Integration/Controller/Adminhtml/Integration/TokensExchange.php
  app/code/Magento/Integration/Test/Unit/Controller/Adminhtml/Integration/DeleteTest.php
  app/code/Magento/Integration/Test/Unit/Controller/Adminhtml/Integration/EditTest.php
  app/code/Magento/Integration/Test/Unit/Controller/Adminhtml/Integration/SaveTest.php
  app/code/Magento/Multishipping/Controller/Checkout.php
  app/code/Magento/Multishipping/Controller/Checkout/AddressesPost.php
  app/code/Magento/Multishipping/Controller/Checkout/Overview.php
  app/code/Magento/Multishipping/Controller/Checkout/OverviewPost.php
  app/code/Magento/Multishipping/Controller/Checkout/ShippingPost.php
  app/code/Magento/NewRelicReporting/Model/Observer/CheckConfig.php
  app/code/Magento/NewRelicReporting/Test/Unit/Model/Observer/CheckConfigTest.php
  app/code/Magento/Newsletter/Controller/Adminhtml/Queue/Save.php
  app/code/Magento/Newsletter/Controller/Adminhtml/Subscriber/MassDelete.php
  app/code/Magento/Newsletter/Controller/Adminhtml/Subscriber/MassUnsubscribe.php
  app/code/Magento/Newsletter/Controller/Adminhtml/Template/Delete.php
  app/code/Magento/Newsletter/Controller/Adminhtml/Template/Save.php
  app/code/Magento/Newsletter/Controller/Manage/Save.php
  app/code/Magento/Newsletter/Test/Unit/Controller/Manage/SaveTest.php
Labels: Auto-Tests: Covered, Cleanup, Component: Customer, Component: Downloadable, Component: ImportExport, Component: Indexer, Component: Integration, Component: Multishipping, Partner: Ziffity, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S4, partners-contribution

#27386 Aria-atomic="true" missing on error container
  app/code/Magento/SalesRule/Test/Mftf/Section/DiscountSection.xml
  app/code/Magento/Theme/Test/Mftf/Test/StoreFrontCheckNotificationMessageContainerTest.xml
  app/code/Magento/Theme/view/frontend/templates/messages.phtml
  app/code/Magento/Ui/view/frontend/web/template/messages.html
Labels: Area: Frontend, Auto-Tests: Covered, Component: SalesRule, Component: Theme, Component: Ui, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#29921 Fixed saving asset keywords links with db prefix
  app/code/Magento/MediaGallery/Model/ResourceModel/Keyword/SaveAssetLinks.php
  app/code/Magento/MediaGallery/Test/Unit/Model/ResourceModel/Keyword/SaveAssetLinksTest.php
Labels: Auto-Tests: Covered, Component: MediaGallery, Priority: P1, Progress: accept, Project: ASI, Release Line: 2.4, Severity: S1

#29896 Move "Add Selected" button to be the last in Old Media Gallery
  app/code/Magento/Cms/Block/Adminhtml/Wysiwyg/Images/Content.php
Labels: Auto-Tests: Not Required, Component: Cms, Priority: P3, Progress: accept, Project: ASI, Release Line: 2.4, Severity: S3

#29724 #29704 :- Submit search button in form-mini should be disabled until minimum search length is reached
  app/code/Magento/Search/Test/Mftf/ActionGroup/AssertStorefrontVerifySearchButtonIsDisabledActionGroup.xml
  app/code/Magento/Search/Test/Mftf/ActionGroup/AssertStorefrontVerifySearchButtonIsEnabledActionGroup.xml
  app/code/Magento/Search/Test/Mftf/ActionGroup/StoreFrontFillSearchActionGroup.xml
  app/code/Magento/Search/Test/Mftf/Test/StorefrontVerifySearchButtonDisabledTillMinimumSearchLengthHitTest.xml
  app/code/Magento/Search/Test/Mftf/Test/StorefrontVerifySearchButtonEnabledAfterMinimumSearchLengthHitTest.xml
  app/code/Magento/Search/view/frontend/web/js/form-mini.js
Labels: Area: Frontend, Auto-Tests: Covered, Award: MFTF test coverage, Award: bug fix, Component: Search, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#28653 Removed unused construct parameters
  app/code/Magento/AdvancedPricingImportExport/Model/Import/AdvancedPricing.php
  app/code/Magento/AdvancedPricingImportExport/Test/Unit/Model/Import/AdvancedPricingTest.php
Labels: Auto-Tests: Not Required, Component: AdvancedPricingImportExport, Partner: Atwix, Priority: P4, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S4, partners-contribution

#29913 Removed redundant less styles navigation in blank theme
  app/design/frontend/Magento/blank/web/css/source/_navigation.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Cleanup, Priority: P4, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S4

#29861 Fix issue with saving filters from url-applier to default view of bookmark
  app/code/Magento/Ui/view/base/web/js/grid/url-filter-applier.js
Labels: Area: Frontend, Auto-Tests: Covered, Component: Ui, Priority: P2, Progress: accept, Project: ASI, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#29856 removed redundant and clean code less
  app/design/adminhtml/Magento/backend/Magento_ConfigurableProduct/web/css/source/module/components/_currency-addon.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Cleanup, Priority: P4, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S4

#29771 Remove space between textarea field in contact form
  app/code/Magento/Contact/view/frontend/templates/form.phtml
Labels: Area: Frontend, Auto-Tests: Not Required, Cleanup, Component: Contact, Priority: P4, Progress: accept, Release Line: 2.4, Severity: S4

#29278 Resolve Can not export Coupon Code to CSV,XML issue29277
  app/code/Magento/SalesRule/Controller/Adminhtml/Promo/Quote/ExportCouponsCsv.php
  app/code/Magento/SalesRule/Controller/Adminhtml/Promo/Quote/ExportCouponsXml.php
  dev/tests/integration/testsuite/Magento/SalesRule/Controller/Adminhtml/Promo/Quote/ExportCoupons/ExportCouponsCsvTest.php
  dev/tests/integration/testsuite/Magento/SalesRule/Controller/Adminhtml/Promo/Quote/ExportCoupons/ExportCouponsXmlTest.php
Labels: Auto-Tests: Covered, Component: SalesRule, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, Technology Partner: Magestore, tech-partners-contribution

#29276 Redirect to "Options" config path more accurate (in Currency Rate form)
  app/code/Magento/CurrencySymbol/Block/Adminhtml/System/Currency.php
  app/code/Magento/CurrencySymbol/Test/Mftf/ActionGroup/AdminNavigateToCurrencyRatesOptionActionGroup.xml
  app/code/Magento/CurrencySymbol/Test/Mftf/Section/AdminCurrencyRatesSection.xml
  app/code/Magento/CurrencySymbol/Test/Mftf/Test/AdminCurrencyOptionsSystemConfigExpandedTabTest.xml
  app/code/Magento/CurrencySymbol/Test/Unit/Block/Adminhtml/System/CurrencyTest.php
Labels: Auto-Tests: Covered, Component: CurrencySymbol, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S4, Technology Partner: Magestore, tech-partners-contribution

#27896 ui select list visible even though it is disabled
  app/code/Magento/Ui/view/base/web/js/form/element/ui-select.js
  dev/tests/js/jasmine/tests/app/code/Magento/Ui/base/js/form/ui-select.test.js
Labels: Area: Frontend, Auto-Tests: Covered, Component: Ui, Partner: Ziffity, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Risk: low, Severity: S2, partners-contribution

#29947 #1801: User is not scrolled up to the "Login failed. Please check if the Secret Key..." error, and can miss the message
  app/code/Magento/MediaGalleryUi/view/adminhtml/web/js/grid/columns/image.js
Labels: Area: Frontend, Auto-Tests: Not Required, Component: MediaGalleryUi, Priority: P3, Progress: accept, Project: ASI, Release Line: 2.4, Severity: S4

#29925 Fix #29879 Breadcrump Undefined class constant 'XML_PATH_CATEGORY_URL_SUFFIX'
  app/code/Magento/Catalog/ViewModel/Product/Breadcrumbs.php
Labels: Auto-Tests: Not Required, Component: Catalog, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S2

#29906 fix category image is not removed from tmp folder after category save
  app/code/Magento/MediaGalleryCatalogIntegration/Plugin/SaveBaseCategoryImageInformation.php
  app/code/Magento/MediaGalleryCatalogIntegration/Test/Mftf/Test/AdminUploadSameImageDeleteFromTemporaryFolderTest.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/ActionGroup/AdminAssertMediaGalleryEmptyActionGroup.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/ActionGroup/AdminEnhancedMediaGalleryExpandCatalogTmpFolderActionGroup.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/ActionGroup/AdminMediaGalleryFolderSelectByFullPathActionGroup.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/ActionGroup/AssertAdminEnhancedMediaGallerySortByActionGroup.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/Section/AdminMediaGalleryGridSection.xml
Labels: Auto-Tests: Covered, Component: MediaGalleryCatalogIntegration, Component: MediaGalleryUi, Priority: P2, Progress: accept, Project: ASI, Release Line: 2.4, Severity: S2

#29863 Fixed critical error: The following tag(s) are not allowed: img
  app/code/Magento/Sales/view/frontend/templates/order/creditmemo/items/renderer/default.phtml
  app/code/Magento/Sales/view/frontend/templates/order/invoice/items/renderer/default.phtml
  app/code/Magento/Sales/view/frontend/templates/order/items/renderer/default.phtml
  app/code/Magento/Sales/view/frontend/templates/order/shipment/items/renderer/default.phtml
Labels: Area: Frontend, Auto-Tests: Not Required, Award: bug fix, Component: Sales, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#29006 Unable to insert widget with text value which contains }} string
  app/code/Magento/CatalogWidget/Test/Mftf/ActionGroup/AdminFillCatalogProductsListWidgetTitleActionGroup.xml
  app/code/Magento/CatalogWidget/Test/Mftf/ActionGroup/StorefrontAssertWidgetTitleActionGroup.xml
  app/code/Magento/CatalogWidget/Test/Mftf/Section/CatalogWidgetSection/InsertWidgetSection.xml
  app/code/Magento/Cms/Test/Mftf/Test/StoreFrontWidgetTitleWithReservedCharsTest.xml
  app/code/Magento/Widget/Model/Widget.php
Labels: Auto-Tests: Covered, Component: CatalogWidget, Component: Cms, Component: Widget, Priority: P1, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#28687 clear errors when apply new filters
  app/code/Magento/Ui/Test/Mftf/Test/AdminGridFilterRemoveErrorMessageBeforeApplyFiltersTest.xml
  app/code/Magento/Ui/view/base/web/js/grid/filters/filters.js
Labels: Area: Frontend, Auto-Tests: Covered, Component: Ui, Partner: Pinpoint, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2, partners-contribution

#27832 Old price excluding TAX shown correct on Product Page
  app/code/Magento/Catalog/Block/Product/View.php
  app/code/Magento/ConfigurableProduct/Block/Product/View/Type/Configurable.php
  app/code/Magento/ConfigurableProduct/Model/Product/Type/Configurable/Variations/Prices.php
  app/code/Magento/ConfigurableProduct/Test/Unit/Block/Product/View/Type/ConfigurableTest.php
  app/code/Magento/ConfigurableProduct/Test/Unit/Model/Product/Type/Configurable/Variations/PricesTest.php
  app/code/Magento/Tax/Pricing/Render/Adjustment.php
  app/code/Magento/Tax/view/base/templates/pricing/adjustment.phtml
  dev/tests/integration/testsuite/Magento/Swatches/Block/Product/Renderer/Configurable/PriceTest.php
Labels: Area: Frontend, Auto-Tests: Covered, Component: Catalog, Component: ConfigurableProduct, Component: Tax, Partner: Bluebird Day, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2, partners-contribution

#27602 Order Invoice create page doesn't show order items properly for bundle product Fixed Issue #27350
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontBundlePlaceOrderWithMultipleOptionsSuccessTest.xml
  app/code/Magento/Bundle/view/adminhtml/templates/sales/invoice/create/items/renderer.phtml
  app/code/Magento/Sales/Test/Mftf/Section/AdminInvoiceItemsSection.xml
Labels: Area: Frontend, Auto-Tests: Covered, Community Insider: Cedcommerce, Component: Bundle, Component: Sales, Event: Global-Contribution-Day, Partner: Cedcommerce, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2, community-insider-contribution, partners-contribution

#27391 magento/magento2#: Add a new index for `cron_schedule` table
  app/code/Magento/Cron/etc/db_schema.xml
  app/code/Magento/Cron/etc/db_schema_whitelist.json
Labels: Auto-Tests: Not Required, Component: Cron, Partner: Atwix, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#26877 Product not exist fix when attempt to get an image
  app/code/Magento/Catalog/Helper/Image.php
  app/code/Magento/Catalog/Test/Unit/Helper/ImageTest.php
Labels: Auto-Tests: Covered, Component: Catalog, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S1

#29889 Introduced MediaGalleryRenditions and MediaGalleryRenditionsApi modules
  app/code/Magento/MediaGalleryRenditions/LICENSE.txt
  app/code/Magento/MediaGalleryRenditions/LICENSE_AFL.txt
  app/code/Magento/MediaGalleryRenditions/Model/Config.php
  app/code/Magento/MediaGalleryRenditions/Model/GenerateRenditions.php
  app/code/Magento/MediaGalleryRenditions/Model/GetRenditionPath.php
  app/code/Magento/MediaGalleryRenditions/Model/Queue/FetchRenditionPathsBatches.php
  app/code/Magento/MediaGalleryRenditions/Model/Queue/GetFilesIterator.php
  app/code/Magento/MediaGalleryRenditions/Model/Queue/ScheduleRenditionsUpdate.php
  app/code/Magento/MediaGalleryRenditions/Model/Queue/UpdateRenditions.php
  app/code/Magento/MediaGalleryRenditions/Plugin/RemoveRenditions.php
  app/code/Magento/MediaGalleryRenditions/Plugin/SetRenditionPath.php
  app/code/Magento/MediaGalleryRenditions/Plugin/UpdateRenditionsOnConfigChange.php
  app/code/Magento/MediaGalleryRenditions/README.md
  app/code/Magento/MediaGalleryRenditions/Test/Integration/Model/ExtractAssetsFromContentWithRenditionTest.php
  app/code/Magento/MediaGalleryRenditions/Test/Integration/Model/GenerateRenditionsTest.php
  app/code/Magento/MediaGalleryRenditions/Test/Integration/Model/GetRenditionPathTest.php
  app/code/Magento/MediaGalleryRenditions/Test/_files/magento_large_image.jpg
  app/code/Magento/MediaGalleryRenditions/Test/_files/magento_medium_image.jpg
  app/code/Magento/MediaGalleryRenditions/composer.json
  app/code/Magento/MediaGalleryRenditions/etc/adminhtml/system.xml
  app/code/Magento/MediaGalleryRenditions/etc/communication.xml
  app/code/Magento/MediaGalleryRenditions/etc/config.xml
  app/code/Magento/MediaGalleryRenditions/etc/di.xml
  app/code/Magento/MediaGalleryRenditions/etc/media_content.xml
  app/code/Magento/MediaGalleryRenditions/etc/module.xml
  app/code/Magento/MediaGalleryRenditions/etc/queue_consumer.xml
  app/code/Magento/MediaGalleryRenditions/etc/queue_publisher.xml
  app/code/Magento/MediaGalleryRenditions/etc/queue_topology.xml
  app/code/Magento/MediaGalleryRenditions/registration.php
  app/code/Magento/MediaGalleryRenditionsApi/Api/GenerateRenditionsInterface.php
  app/code/Magento/MediaGalleryRenditionsApi/Api/GetRenditionPathInterface.php
  app/code/Magento/MediaGalleryRenditionsApi/LICENSE.txt
  app/code/Magento/MediaGalleryRenditionsApi/LICENSE_AFL.txt
  app/code/Magento/MediaGalleryRenditionsApi/README.md
  app/code/Magento/MediaGalleryRenditionsApi/composer.json
  app/code/Magento/MediaGalleryRenditionsApi/etc/module.xml
  app/code/Magento/MediaGalleryRenditionsApi/registration.php
  composer.json
  composer.lock
Labels: Auto-Tests: Covered, Component: MediaGalleryRenditions, Component: MediaGalleryRenditionsApi, Priority: P2, Progress: accept, Project: ASI, Release Line: 2.4, Severity: S2

#29543 Support batches processing for media gallery synchronization queue messages
  app/code/Magento/MediaContentSynchronization/Model/Consume.php
  app/code/Magento/MediaContentSynchronization/Model/Publish.php
  app/code/Magento/MediaContentSynchronization/Model/SynchronizeIdentities.php
  app/code/Magento/MediaContentSynchronization/Test/Integration/Model/PublisherTest.php
  app/code/Magento/MediaContentSynchronization/composer.json
  app/code/Magento/MediaContentSynchronization/etc/communication.xml
  app/code/Magento/MediaContentSynchronization/etc/di.xml
  app/code/Magento/MediaContentSynchronizationApi/Api/SynchronizeIdentitiesInterface.php
  app/code/Magento/MediaContentSynchronizationApi/Model/SynchronizeIdentitiesPool.php
  app/code/Magento/MediaContentSynchronizationApi/composer.json
  app/code/Magento/MediaContentSynchronizationCatalog/Model/Synchronizer/SynchronizeIdentities.php
  app/code/Magento/MediaContentSynchronizationCatalog/Test/Integration/Model/Synchronizer/SynchronizeIdentitiesTest.php
  app/code/Magento/MediaContentSynchronizationCatalog/etc/di.xml
  app/code/Magento/MediaContentSynchronizationCms/Model/Synchronizer/SynchronizeIdentities.php
  app/code/Magento/MediaContentSynchronizationCms/Test/Integration/Model/Synchronizer/SynchronizeIdentitiesTest.php
  app/code/Magento/MediaContentSynchronizationCms/etc/di.xml
  app/code/Magento/MediaGallerySynchronization/Model/Consume.php
  app/code/Magento/MediaGallerySynchronization/Model/Publish.php
Labels: Auto-Tests: Covered, Component: MediaContentSynchronization, Component: MediaContentSynchronizationApi, Component: MediaContentSynchronizationCatalog, Component: MediaContentSynchronizationCms, Component: MediaGallerySynchronization, Priority: P3, Progress: accept, Project: ASI, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#29833 [MFTF] Removed redundant action group
  app/code/Magento/Cms/Test/Mftf/ActionGroup/AdminOpenCmsPageActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/ActionGroup/AdminOpentCmsBlockActionGroup.xml
Labels: Auto-Tests: Not Required, Cleanup, Component: Cms, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Risk: low, Severity: S3, partners-contribution

#28896 Remove related products that not exist in map list.
  app/code/Magento/RelatedProductGraphQl/Model/Resolver/Batch/AbstractLikedProducts.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/RelatedProduct/GetRelatedProductsTest.php
  dev/tests/integration/testsuite/Magento/Catalog/_files/products_related_disabled.php
  dev/tests/integration/testsuite/Magento/Catalog/_files/products_related_disabled_rollback.php
Labels: Auto-Tests: Covered, Component: RelatedProductGraphQl, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#27857 Fixed wrong customer group assign to order 26976
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontCustomerCheckoutTest/StorefrontCustomerCheckoutWithCustomerGroupTest.xml
  app/code/Magento/Quote/Observer/Frontend/Quote/Address/CollectTotalsObserver.php
  app/code/Magento/Quote/Test/Unit/Observer/Frontend/Quote/Address/CollectTotalsObserverTest.php
  dev/tests/integration/testsuite/Magento/Quote/Observer/Frontend/Quote/Address/CollectTotalsObserverTest.php
Labels: Auto-Tests: Covered, Component: Checkout, Component: Quote, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#30006 #1829: Duplicated items in Asset filter on Entities grids
  app/code/Magento/MediaGalleryUi/view/adminhtml/ui_component/cms_block_listing.xml
  app/code/Magento/MediaGalleryUi/view/adminhtml/ui_component/cms_page_listing.xml
  app/code/Magento/MediaGalleryUi/view/adminhtml/ui_component/product_listing.xml
Labels: Area: Frontend, Auto-Tests: Covered, Component: MediaGalleryUi, Priority: P2, Progress: accept, Project: ASI, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#29993 Update minimum required php version in bootstrap.php
  app/bootstrap.php
Labels: Auto-Tests: Not Required, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S4

#29959 Fix saving default directory in the default bookmark of media gallery
  app/code/Magento/MediaGalleryUi/Test/Mftf/Test/AdminMediaGalleryDefaultViewWithoutFiltersTest.xml
  app/code/Magento/MediaGalleryUi/view/adminhtml/web/js/directory/directoryTree.js
Labels: Area: Frontend, Auto-Tests: Covered, Component: MediaGalleryUi, Priority: P2, Progress: accept, Project: ASI, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#29909 #1795: [MFTF] Unskip AdminMediaGalleryCatalogUiUsedInProductFilterTest
  app/code/Magento/MediaGalleryCatalogUi/Test/Mftf/Test/AdminMediaGalleryCatalogUiUsedInProductFilterTest.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/Test/AdminMediaGallerySortByDirectoryAscendingTest.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/Test/AdminMediaGallerySortByDirectoryDescendingTest.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/Test/AdminMediaGallerySortByNameAToZTest.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/Test/AdminMediaGallerySortByNameZToATest.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/Test/AdminMediaGallerySortByNewestFirstTest.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/Test/AdminMediaGallerySortByOldestFirstTest.xml
Labels: Auto-Tests: Not Required, Component: MediaGalleryCatalogUi, Component: MediaGalleryUi, Priority: P2, Progress: accept, Project: ASI, Release Line: 2.4, Severity: S2

#29688 Set of improvements for LoginAsCustomer modules
  app/code/Magento/LoginAsCustomer/Model/Config.php
  app/code/Magento/LoginAsCustomerAdminUi/Model/Config/Source/StoreViewLogin.php
  app/code/Magento/LoginAsCustomerAdminUi/Plugin/Button/ToolbarPlugin.php
  app/code/Magento/LoginAsCustomerAssistance/Block/Adminhtml/NotAllowedPopup.php
  app/code/Magento/LoginAsCustomerAssistance/Model/Config.php
  app/code/Magento/LoginAsCustomerAssistance/Plugin/CustomerDataValidatePlugin.php
  app/code/Magento/LoginAsCustomerAssistance/Plugin/CustomerExtractorPlugin.php
  app/code/Magento/LoginAsCustomerFrontendUi/Plugin/InvalidateExpiredSessionPlugin.php
  app/code/Magento/LoginAsCustomerPageCache/Plugin/PageCache/Model/Config/DisablePageCacheIfNeededPlugin.php
  app/code/Magento/LoginAsCustomerSales/Plugin/AdminAddCommentOnOrderPlacementPlugin.php
Labels: Auto-Tests: Not Required, Component: LoginAsCustomer, Component: LoginAsCustomerAdminUi, Component: LoginAsCustomerAssistance, Component: LoginAsCustomerFrontendUi, Component: LoginAsCustomerPageCache, Component: LoginAsCustomerSales, Partner: Blue Acorn iCi, Priority: P3, Progress: accept, Project: Login as Customer, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#29415 #29354 :- Login as Customer storefront banner is not sticky
  app/code/Magento/LoginAsCustomer/Test/Mftf/ActionGroup/AssertStorefrontStickyLoginAsCustomerNotificationBannerActionGroup.xml
  app/code/Magento/LoginAsCustomer/Test/Mftf/Test/StorefrontStickyLoginAsCustomerNotificationBannerTest.xml
  app/code/Magento/LoginAsCustomerFrontendUi/view/frontend/templates/html/notices.phtml
  app/code/Magento/LoginAsCustomerFrontendUi/view/frontend/web/css/source/_module.less
Labels: Area: Frontend, Auto-Tests: Covered, Award: MFTF test coverage, Award: bug fix, Component: LoginAsCustomer, Component: LoginAsCustomerFrontendUi, Priority: P4, Progress: accept, Project: Login as Customer, QA: Added to Regression Scope, Release Line: 2.4, Severity: S4

#29967 The "three dots" context menu is not closed after unsuccessful licensing from Media Gallery
  app/code/Magento/MediaGalleryUi/Test/Mftf/ActionGroup/AssertAdminMediaGalleryContextMenuOpenedActionGroup.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/Section/AdminEnhancedMediaGalleryImageActionsSection.xml
  app/code/Magento/MediaGalleryUi/view/adminhtml/web/js/grid/columns/image.js
Labels: Area: Frontend, Auto-Tests: Covered, Component: MediaGalleryUi, Priority: P3, Progress: accept, Project: ASI, Release Line: 2.4, Severity: S4

#29929 [MFTF] add new AdminDeleteTaxRateActionGroup
  app/code/Magento/Tax/Test/Mftf/ActionGroup/AdminDeleteTaxRateActionGroup.xml
  app/code/Magento/Tax/Test/Mftf/ActionGroup/AdminFilterTaxRateByCodeActionGroup.xml
  app/code/Magento/Tax/Test/Mftf/Test/AdminCreateTaxRateAllPostCodesTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/AdminCreateTaxRateLargeRateTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/AdminCreateTaxRateSpecificPostcodeTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/AdminCreateTaxRateWiderZipCodeRangeTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/AdminCreateTaxRateZipCodeRangeTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/DeleteTaxRateEntityTest.xml
  app/code/Magento/Ui/Test/Mftf/Section/AdminDataGridTableSection.xml
Labels: Auto-Tests: Covered, Component: Tax, Component: Ui, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Risk: low, Severity: S3, partners-contribution

#29895 #1794: [MFTF] Unskip AdminMediaGalleryCatalogUiVerifyUsedInLinkCategoryGridTest
  app/code/Magento/MediaGalleryCatalogUi/Test/Mftf/ActionGroup/AssertAdminCategoryGridPageImageColumnActionGroup.xml
  app/code/Magento/MediaGalleryCatalogUi/Test/Mftf/Section/AdminMediaGalleryCatalogUiCategoryGridSection.xml
  app/code/Magento/MediaGalleryCatalogUi/Test/Mftf/Test/AdminMediaGalleryCatalogUiVerifyUsedInLinkCategoryGridTest.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/Data/AdminEnhancedMediaGalleryImageData.xml
Labels: Auto-Tests: Covered, Component: MediaGalleryCatalogUi, Component: MediaGalleryUi, Priority: P2, Progress: accept, Project: ASI, Release Line: 2.4, Severity: S2

#27446 Convert MSRP currency of configurable product options
  app/code/Magento/ConfigurableProduct/Block/Product/View/Type/Configurable.php
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/StorefrontConfigurableProductViewTest/StorefrontConfigurableProductMSRPCovertTest.xml
  app/code/Magento/Msrp/Test/Mftf/ActionGroup/AdminSetAdvancedPricingActionGroup.xml
Labels: Auto-Tests: Covered, Component: ConfigurableProduct, Component: Msrp, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#26527 issue/26526 Fix orderRepository does not check if there are no extens…
  app/code/Magento/Sales/Model/OrderRepository.php
  app/code/Magento/Sales/Test/Unit/Model/OrderRepositoryTest.php
Labels: Auto-Tests: Covered, Component: Sales, Partner: H&O, Partner: Reach Digital, Priority: P1, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S1, partners-contribution

#30076 Reduced html content of image details templates
  app/code/Magento/MediaGalleryUi/view/adminhtml/templates/image_details.phtml
  app/code/Magento/MediaGalleryUi/view/adminhtml/templates/image_details_standalone.phtml
  app/code/Magento/MediaGalleryUi/view/adminhtml/templates/image_edit_details.phtml
  app/code/Magento/MediaGalleryUi/view/adminhtml/templates/image_edit_details_standalone.phtml
  app/code/Magento/MediaGalleryUi/view/adminhtml/web/template/image/actions.html
Labels: Area: Frontend, Auto-Tests: Covered, Component: MediaGalleryUi, Priority: P3, Progress: accept, Project: ASI, QA: Added to Regression Scope, Release Line: 2.4, Risk: low, Severity: S3

#30044 #1832: Rename renditions stores config fieldset and add comments
  app/code/Magento/MediaGalleryRenditions/etc/adminhtml/system.xml
Labels: Auto-Tests: Not Required, Component: MediaGalleryRenditions, Priority: P2, Progress: accept, Project: ASI, Release Line: 2.4, Risk: low, Severity: S2

#29979 fix incorrect image size when rendition is inserted
  app/code/Magento/Catalog/Test/Mftf/Section/AdminCategoryContentSection.xml
  app/code/Magento/MediaGalleryRenditions/Test/Mftf/Test/AdminMediaGalleryInsertLargeImageFileSizeTest.xml
  app/code/Magento/MediaGalleryUi/Controller/Adminhtml/Image/OnInsert.php
  app/code/Magento/MediaGalleryUi/Model/InsertImageData.php
  app/code/Magento/MediaGalleryUi/Model/InsertImageData/GetInsertImageData.php
  app/code/Magento/MediaGalleryUi/Model/InsertImageDataInterface.php
  app/code/Magento/MediaGalleryUi/Test/Mftf/ActionGroup/AdminAssertImageUploadFileSizeActionGroup.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/ActionGroup/AdminMediaGalleryClickAddSelectedActionGroup.xml
  app/code/Magento/MediaGalleryUi/Ui/Component/Listing/Columns/Url.php
  app/code/Magento/MediaGalleryUi/etc/di.xml
  app/code/Magento/MediaGalleryUi/view/adminhtml/web/js/grid/columns/image/insertImageAction.js
Labels: Area: Frontend, Auto-Tests: Covered, Component: Catalog, Component: MediaGalleryRenditions, Component: MediaGalleryUi, Priority: P3, Progress: accept, Project: ASI, Release Line: 2.4, Risk: low, Severity: S3

#29934 Fix gallery rendering on page load so current breakpoint configuration isn't replaced by any other configuration
  dev/tests/js/jasmine/tests/lib/mage/gallery/gallery.test.js
  lib/web/mage/gallery/gallery.js
Labels: Area: Lib/Frontend, Auto-Tests: Covered, Award: bug fix, Award: test coverage, Partner: SNOW.DOG, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2, partners-contribution

#29542 Fix Parameter Tokenizer omitting first char of key
  dev/tests/integration/testsuite/Magento/Framework/Filter/Template/Tokenizer/ParameterTest.php
  lib/internal/Magento/Framework/Filter/Template/Tokenizer/AbstractTokenizer.php
  lib/internal/Magento/Framework/Filter/Template/Tokenizer/Parameter.php
Labels: Auto-Tests: Covered, Component: Filter, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#29274 Update Curl to respect case-insensitive headers
  lib/internal/Magento/Framework/HTTP/Client/Curl.php
  lib/internal/Magento/Framework/HTTP/Test/Unit/Client/CurlTest.php
  lib/internal/Magento/Framework/HTTP/Test/Unit/Client/_files/curl_headers.txt
Labels: Auto-Tests: Covered, Award: bug fix, Award: special achievement, Award: test coverage, Component: HTTP, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#25510 Fix for issue 25147 - Totals information management module - only set carrier/method code if set in address
  app/code/Magento/Checkout/Model/TotalsInformationManagement.php
  app/code/Magento/Checkout/Test/Unit/Model/TotalsInformationManagementTest.php
Labels: Auto-Tests: Covered, Component: Checkout, Partner: AYKO, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S2

#25405 Fix inability to place PayPal guest order when Automatic Assignment to Customer Group is enabled
  app/code/Magento/Quote/Observer/Frontend/Quote/Address/CollectTotalsObserver.php
  dev/tests/integration/testsuite/Magento/Paypal/Model/Express/CheckoutTest.php
  dev/tests/integration/testsuite/Magento/Quote/Observer/Frontend/Quote/Address/CollectTotalsObserverTest.php
Labels: Auto-Tests: Covered, Component: Quote, Partner: creativestyle, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2, partners-contribution

#30042 #1827: Improve AdminMediaGalleryUploadCategoryImageTest
  app/code/Magento/MediaGalleryUi/Test/Mftf/ActionGroup/AdminMediaGalleryExpandFolderActionGroup.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/Section/AdminMediaGalleryFolderSection.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/Test/AdminMediaGalleryUploadCategoryImageTest.xml
Labels: Auto-Tests: Covered, Component: MediaGalleryUi, Priority: P2, Progress: accept, Project: ASI, Release Line: 2.4, Severity: S2

#29931 [MFTF] add new AdminOpenCatalogProductPageActionGroup
  app/code/Magento/Bundle/Test/Mftf/Test/AdminAddBundleItemsTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminAttributeSetSelectionTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminBasicBundleProductAttributesTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminDeleteABundleProductTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/BundleProductFixedPricingTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/NewBundleProductSelectionTest.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminOpenCatalogProductPageActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/GoToProductCatalogPageActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateAndSwitchProductType/AdminCreateSimpleProductSwitchToVirtualTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateNewAttributeFromProductPageTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminMoveProductBetweenCategoriesTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminProductTypeSwitchingOnEditingTest/AdminDownloadableProductTypeSwitchingToSimpleProductTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminProductTypeSwitchingOnEditingTest/AdminVirtualProductTypeSwitchingToDownloadableProductTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminSortingByWebsitesTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminVerifyProductOrderTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminCreateAndSwitchProductType/AdminCreateDownloadableProductSwitchToConfigurableTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminProductTypeSwitchingOnEditingTest/AdminConfigurableProductTypeSwitchingToVirtualProductTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminProductTypeSwitchingOnEditingTest/AdminSimpleProductTypeSwitchingToConfigurableProductTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminProductTypeSwitchingOnEditingTest/AdminVirtualProductTypeSwitchingToConfigurableProductTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/ProductsQtyReturnAfterOrderCancelTest.xml
  app/code/Magento/Downloadable/Test/Mftf/Test/AdminProductTypeSwitchingOnEditingTest/AdminSimpleProductTypeSwitchingToDownloadableProductTest.xml
Labels: Auto-Tests: Not Required, Component: Bundle, Component: Catalog, Component: ConfigurableProduct, Component: Downloadable, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Risk: low, Severity: S3, partners-contribution

#29835 [MFTF] use action group to go to customer account
  app/code/Magento/Checkout/Test/Mftf/Test/OnePageCheckoutWithAllProductTypesTest.xml
  app/code/Magento/Customer/Test/Mftf/Test/StorefrontClearAllCompareProductsTest.xml
  app/code/Magento/Persistent/Test/Mftf/Test/StorefrontVerifyShoppingCartPersistenceUnderLongTermCookieTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCreateCreditMemoBankTransferPaymentTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCreateCreditMemoPartialRefundTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCreateCreditMemoWithCashOnDeliveryTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCreateCreditMemoWithPurchaseOrderTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AssignCustomOrderStatusNotVisibleOnStorefrontTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/CreateInvoiceAndCheckInvoiceOrderTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/CreateInvoiceWithCashOnDeliveryPaymentMethodTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/CreateInvoiceWithShipmentAndCheckInvoicedOrderTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/CreateInvoiceWithZeroSubtotalCheckoutTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/StorefrontOrderPagerDisplayedTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/StorefrontOrderPagerIsAbsentTest.xml
Labels: Auto-Tests: Not Required, Component: Checkout, Component: Customer, Component: Persistent, Component: Sales, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Risk: low, Severity: S3, partners-contribution

#29834 [MFTF] removed redundant action group
  app/code/Magento/Cms/Test/Mftf/ActionGroup/AdminNavigateToPageGridActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminCreateCmsPageTest.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminDeleteCmsPageTest.xml
  app/code/Magento/MediaGalleryCmsUi/Test/Mftf/Test/AdminMediaGalleryCmsUiUsedInPagesFilterTest.xml
Labels: Auto-Tests: Not Required, Component: Cms, Component: MediaGalleryCmsUi, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Risk: low, Severity: S3, partners-contribution

#26470 magento/magento2#7720
  app/code/Magento/Catalog/Model/ProductRepository.php
  app/code/Magento/Catalog/Test/Unit/Model/ProductRepositoryTest.php
  dev/tests/integration/testsuite/Magento/Catalog/Model/ProductRepositoryTest.php
  dev/tests/integration/testsuite/Magento/ConfigurableProduct/Block/Product/View/Type/MultiStoreConfigurableViewOnProductPageTest.php
Labels: Auto-Tests: Covered, Component: Catalog, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#30081 [MFTF] deprecated GoToAttributeGridPageActionGroup
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminOpenAttributeSetGridPageActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/GoToAttributeGridPageActionGroup.xml
  app/code/Magento/CatalogSearch/Test/Mftf/Test/StorefrontQuickSearchConfigurableChildrenTest.xml
Labels: Auto-Tests: Covered, Cleanup, Component: Catalog, Component: CatalogSearch, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Risk: low, Severity: S3, partners-contribution

#30014 Modal content with good message format for newlines
  app/code/Magento/User/i18n/en_US.csv
  app/code/Magento/User/view/adminhtml/templates/role/users_grid_js.phtml
  app/code/Magento/User/view/adminhtml/templates/user/roles_grid_js.phtml
Labels: Area: Frontend, Auto-Tests: Not Required, Component: User, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S4

#29968 Grid search selectall issue
  app/code/Magento/Customer/Test/Mftf/Section/AdminCustomerGridMainActionsSection.xml
  app/code/Magento/Customer/Test/Mftf/Test/AdminGridSearchSelectAllTest.xml
  app/code/Magento/Customer/Test/Mftf/Test/AdminGridSelectAllOnPageTest.xml
  app/code/Magento/Ui/Test/Mftf/ActionGroup/AdminGridSelectAllActionGroup.xml
  app/code/Magento/Ui/view/base/web/js/grid/columns/multiselect.js
  dev/tests/js/jasmine/tests/app/code/Magento/Ui/base/js/grid/columns/multiselect.test.js
Labels: Area: Frontend, Auto-Tests: Covered, Component: Customer, Component: Ui, Priority: P1, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S1

#29671 Removed fileinfo extension dependency from CMS module
  app/code/Magento/Cms/Model/Wysiwyg/Images/Storage.php
  dev/tests/integration/testsuite/Magento/Cms/Model/Wysiwyg/Images/StorageTest.php
  lib/internal/Magento/Framework/File/Mime.php
  lib/internal/Magento/Framework/File/Test/Unit/MimeTest.php
  lib/internal/Magento/Framework/File/Test/Unit/_files/magento
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: Cms, Component: File, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#29486 System configuration Validation for Customer/Admin Token life time
  app/code/Magento/Integration/Test/Mftf/Page/AdminConfigServicesOauthPage.xml
  app/code/Magento/Integration/Test/Mftf/Section/AdminConfigAccessTokenExpirationSection.xml
  app/code/Magento/Integration/Test/Mftf/Test/AdminConfigSaveEmptySettingsTest.xml
  app/code/Magento/Integration/etc/adminhtml/system.xml
Labels: Auto-Tests: Covered, Award: MFTF test coverage, Award: bug fix, Component: Integration, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#30030 [MFTF] Create StorefrontClickRefundTabCustomerOrderViewActionGroup
  app/code/Magento/Sales/Test/Mftf/ActionGroup/StorefrontClickRefundTabCustomerOrderViewActionGroup.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCreateCreditMemoBankTransferPaymentTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCreateCreditMemoPartialRefundTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCreateCreditMemoWithCashOnDeliveryTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCreateCreditMemoWithPurchaseOrderTest.xml
Labels: Auto-Tests: Covered, Component: Sales, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#28117 RequireJS resolver sometimes fails to detect blocked resources
  lib/web/mage/requirejs/resolver.js
Labels: Area: Lib/Frontend, Auto-Tests: Not Required, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2, Triage: Dev.Experience, help wanted

#30095 Added configuration for Stale Issue bot
  .github/stale.yml
Labels: Auto-Tests: Not Required, Priority: P2, Progress: accept, Release Line: 2.4, Risk: low, Severity: S4

#30057 #1833: Add ability to disable renditions functionality to stores configuration
  app/code/Magento/MediaGalleryRenditions/Model/Config.php
  app/code/Magento/MediaGalleryRenditions/Plugin/SetRenditionPath.php
  app/code/Magento/MediaGalleryRenditions/Plugin/UpdateRenditionsOnConfigChange.php
  app/code/Magento/MediaGalleryRenditions/etc/adminhtml/system.xml
  app/code/Magento/MediaGalleryRenditions/etc/config.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/ActionGroup/AdminMediaGalleryRenditionsEnableActionGroup.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/Data/AdobeStockConfigData.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/Section/AdminConfigSystemSection.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/Suite/MediaGalleryUiDisabledSuite.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/Suite/MediaGalleryUiSuite.xml
Labels: Auto-Tests: Covered, Component: MediaGalleryRenditions, Component: MediaGalleryUi, Priority: P2, Progress: accept, Project: ASI, Release Line: 2.4, Severity: S2

#30034 #1830: Stabilize AdminMediaGalleryCatalogUiVerifyUsedInLinkProductGridTest and AdminMediaGalleryCatalogUiUsedInCategoryFilterTest
  app/code/Magento/MediaGalleryCatalogUi/Test/Mftf/Test/AdminMediaGalleryCatalogUiUsedInCategoryFilterTest.xml
  app/code/Magento/MediaGalleryCatalogUi/Test/Mftf/Test/AdminMediaGalleryCatalogUiVerifyUsedInLinkProductGridTest.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/Test/AdminMediaGalleryDeleteImageWithWarningPopupTest.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/Test/AdminMediaGalleryStoreViewCategoryFilterTest.xml
Labels: Auto-Tests: Covered, Component: MediaGalleryCatalogUi, Component: MediaGalleryUi, Priority: P2, Progress: accept, Project: ASI, Release Line: 2.4, Severity: S2

#29972 Update zip_codes.xml
  app/code/Magento/Directory/etc/zip_codes.xml
  dev/tests/integration/testsuite/Magento/Directory/Model/Country/Postcode/ValidatorTest.php
Labels: Auto-Tests: Covered, Component: Directory, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Risk: low, Severity: S3

#29814 Fix of Asynchronous opetations status issue
  app/code/Magento/AsynchronousOperations/etc/db_schema.xml
  dev/tests/integration/testsuite/Magento/Catalog/Model/Attribute/Backend/ConsumerTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: AsynchronousOperations, Partner: Comwrap, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2, partners-contribution

#29794 Fix issue product name in minicart render wrong with special characters
  app/code/Magento/Checkout/view/frontend/layout/checkout_cart_sidebar_item_renderers.xml
  app/code/Magento/Checkout/view/frontend/web/js/view/cart-item-renderer.js
  app/code/Magento/Checkout/view/frontend/web/template/minicart/item/default.html
Labels: Area: Frontend, Auto-Tests: Not Required, Award: bug fix, Component: Checkout, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Risk: low, Severity: S2

#29081 Fix for wildcard section reload being broken by section-config refacor
  app/code/Magento/Customer/view/frontend/web/js/customer-data.js
  dev/tests/js/jasmine/tests/app/code/Magento/Customer/frontend/js/customer-data.test.js
  dev/tests/js/jasmine/tests/app/code/Magento/Multishipping/frontend/js/multi-shipping.test.js
  lib/web/jquery/jquery.storageapi.min.js
Labels: Area: Frontend, Area: Lib/Frontend, Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: Customer, Component: Multishipping, Partner: Blue Acorn iCi, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Risk: low, Severity: S3, help wanted, partners-contribution

#29080 UPS Shipment Tracking: Show "Delivered On" only when package has actually been delivered
  app/code/Magento/Ups/Plugin/Block/DataProviders/Tracking/ChangeTitle.php
  app/code/Magento/Ups/Test/Unit/Plugin/Block/DataProviders/Tracking/ChangeTitleTest.php
  app/code/Magento/Ups/etc/di.xml
Labels: Component: Ups, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#28818 Improvement PageLayout Config Builder. Added save in cache config files.
  app/code/Magento/Theme/Model/PageLayout/Config/Builder.php
  app/code/Magento/Theme/Test/Unit/Model/PageLayout/Config/BuilderTest.php
Labels: Component: Theme, Partner: Guidance Solutions, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#28164 Prevent side effect on category objects store_id and url_key on save
  app/code/Magento/CatalogUrlRewrite/Model/CategoryUrlRewriteGenerator.php
  app/code/Magento/CatalogUrlRewrite/Test/Unit/Model/CategoryUrlRewriteGeneratorTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: CatalogUrlRewrite, Partner: integer_net GmbH, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, Triage: Dev.Experience, partners-contribution

#27980 Fix SQL query quoting/casting when type is passed to where function
  lib/internal/Magento/Framework/DB/Adapter/Pdo/Mysql.php
  lib/internal/Magento/Framework/DB/Select.php
Labels: Auto-Tests: Not Required, Component: DB, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S4, improvement

#30077 Prevent "Overwrite the existing configuration for ...?" question
  setup/src/Magento/Setup/Console/Command/ConfigSetCommand.php
Labels: Auto-Tests: Not Required, Award: bug fix, Component: Setup, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Risk: low, Severity: S3

#28663 change error to code is reserved key instead of code already exists
  app/code/Magento/Catalog/Controller/Adminhtml/Product/Attribute/Validate.php
  app/code/Magento/Catalog/Test/Mftf/Data/ProductAttributeData.xml
  app/code/Magento/Catalog/Test/Mftf/Test/CreateProductAttributeEntityTest/CreateProductAttributeEntityWithReservedKeysTest.xml
  app/code/Magento/Catalog/i18n/en_US.csv
Labels: Auto-Tests: Covered, Component: Catalog, Partner: Pinpoint, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Risk: low, Severity: S4, partners-contribution

#28491 Fix setup upgrade command re enables caches
  setup/src/Magento/Setup/Console/Command/UpgradeCommand.php
  setup/src/Magento/Setup/Model/Installer.php
  setup/src/Magento/Setup/Test/Unit/Model/InstallerTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: Setup, Partner: Pinpoint, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Risk: medium, Severity: S3, help wanted, partners-contribution

#27953 Fixed Issue 12225: Tier pricing tax shows only including tax
  app/code/Magento/Catalog/Pricing/Price/TierPrice.php
  app/code/Magento/ConfigurableProduct/Block/Product/View/Type/Configurable.php
  app/code/Magento/ConfigurableProduct/Test/Mftf/ActionGroup/StorefrontAssertExcludingTierPriceActionGroup.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Section/StorefrontProductInfoMainSection.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminConfigurableProductWithTierPriceWithTaxTest.xml
  app/code/Magento/ConfigurableProduct/view/base/templates/product/price/tier_price.phtml
Labels: Area: Design/Frontend, Area: Frontend, Auto-Tests: Covered, Component: Catalog, Component: ConfigurableProduct, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#30153 [Performance] Fix array merge in loop
  app/code/Magento/AdvancedPricingImportExport/Model/Export/AdvancedPricing.php
  app/code/Magento/AsynchronousOperations/Model/OperationProcessor.php
  app/code/Magento/Bundle/Test/Unit/Pricing/Adjustment/CalculatorTest.php
  app/code/Magento/BundleImportExport/Model/Import/Product/Type/Bundle.php
  app/code/Magento/Catalog/Model/Indexer/Product/Flat/TableBuilder.php
  app/code/Magento/Catalog/Test/Unit/Model/ResourceModel/Product/CategoryLinkTest.php
  app/code/Magento/CatalogImportExport/Model/Export/Product.php
  app/code/Magento/CatalogImportExport/Model/Import/Product.php
  app/code/Magento/Config/Model/Config.php
  app/code/Magento/Config/Model/Config/Structure.php
  app/code/Magento/Deploy/Package/Processor/PreProcessor/Css.php
  app/code/Magento/MediaContentApi/Model/Composite/GetAssetIdsByContentField.php
  app/code/Magento/Sales/Model/AdminOrder/Create.php
  app/code/Magento/Tax/Model/Sales/Total/Quote/CommonTaxCollector.php
  app/code/Magento/Ui/Model/Manager.php
  dev/tests/integration/framework/Magento/TestFramework/Annotation/AbstractDataFixture.php
  dev/tests/integration/framework/Magento/TestFramework/Annotation/AppIsolation.php
  dev/tests/integration/framework/Magento/TestFramework/Annotation/DbIsolation.php
  dev/tests/integration/framework/Magento/TestFramework/Workaround/Override/Config/RelationsCollector.php
  dev/tests/integration/testsuite/Magento/Customer/Model/Config/Source/Group/MultiselectTest.php
  dev/tests/integration/testsuite/Magento/CustomerImportExport/Model/Import/AddressTest.php
  dev/tests/integration/testsuite/Magento/GraphQlCache/Controller/Catalog/DeepNestedCategoriesAndProductsTest.php
  dev/tests/static/framework/Magento/TestFramework/Dependency/Route/RouteMapper.php
  dev/tests/static/testsuite/Magento/Test/Integrity/ComposerTest.php
  dev/tests/static/testsuite/Magento/Test/Integrity/Dependency/DeclarativeSchemaDependencyProvider.php
  dev/tests/static/testsuite/Magento/Test/Integrity/DependencyTest.php
  dev/tests/static/testsuite/Magento/Test/Integrity/Magento/Framework/Api/ExtensibleInterfacesTest.php
  dev/tests/static/testsuite/Magento/Test/Integrity/PublicCodeTest.php
  dev/tests/static/testsuite/Magento/Test/Php/LiveCodeTest.php
  lib/internal/Magento/Framework/App/Utility/Files.php
  lib/internal/Magento/Framework/Composer/ComposerInformation.php
  lib/internal/Magento/Framework/Console/Cli.php
  lib/internal/Magento/Framework/Search/Dynamic/Algorithm.php
  setup/src/Magento/Setup/Model/ConfigGenerator.php
  setup/src/Magento/Setup/Model/ConfigOptionsList.php
Labels: Area: Frontend, Auto-Tests: Covered, Award: category of expertise, Component: multiple, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Risk: low, Severity: S3

#30069 Stabilize CMS Page asset links tests
  app/code/Magento/MediaGalleryCmsUi/Test/Mftf/Test/AdminMediaGalleryAssertUsedInLinkBlocksGridTest.xml
  app/code/Magento/MediaGalleryCmsUi/Test/Mftf/Test/AdminMediaGalleryAssertUsedInLinkPagesGridTest.xml
  app/code/Magento/MediaGalleryCmsUi/Test/Mftf/Test/AdminMediaGalleryCmsUiUsedInPagesFilterTest.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/ActionGroup/AdminOpenMediaGalleryFromPageNoEditorActionGroup.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/Section/AdminEnhancedMediaGalleryViewDetailsSection.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/Test/AdminEnhancedMediaGalleryDuplicatedImagesTest.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/Test/AdminMediaGalleryAddCategoryImageTest.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/Test/AdminMediaGalleryDisabledContentFilterTest.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/Test/AdminMediaGalleryViewDetailsTest.xml
  app/code/Magento/MediaGalleryUi/Test/Mftf/Test/AdminStandaloneMediaGalleryViewDetailsTest.xml
Labels: Auto-Tests: Covered, Component: MediaGalleryCmsUi, Component: MediaGalleryUi, Priority: P3, Progress: accept, Project: ASI, Release Line: 2.4, Risk: low, Severity: S3

#30011 Directory and filename must be no more than 255 characters in length
  app/code/Magento/CatalogImportExport/Model/Import/Uploader.php
  app/code/Magento/CatalogImportExport/Test/Unit/Model/Import/UploaderTest.php
  lib/internal/Magento/Framework/File/Test/Unit/UploaderTest.php
  lib/internal/Magento/Framework/File/Uploader.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: CatalogImportExport, Component: File, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Risk: medium, Severity: S3

#29015 Module catalog, Attribute Repository code validation regex
  app/code/Magento/Catalog/Model/Product/Attribute/Repository.php
  dev/tests/api-functional/testsuite/Magento/Catalog/Api/ProductAttributeRepositoryTest.php
Labels: Auto-Tests: Covered, Component: Catalog, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Risk: low, Severity: S3

#28379 ISSUE-27397 - Fix phrase handling in widget validation
  app/code/Magento/Widget/Controller/Adminhtml/Widget/Instance/Validate.php
  app/code/Magento/Widget/Test/Unit/Controller/Adminhtml/Widget/Instance/ValidateTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: Widget, Partner: Blue Acorn iCi, Partner: Mediotype, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Risk: low, Severity: S3, partners-contribution

#27869 \Magento\Framework\Filesystem\Io\File::read() should be able to accept resource in second argument
  lib/internal/Magento/Framework/Filesystem/Io/File.php
  lib/internal/Magento/Framework/Filesystem/Test/Unit/Io/FileTest.php
Labels: Auto-Tests: Covered, Component: Filesystem, Partner: Webjump, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Risk: high, Severity: S3, partners-contribution

#27585 Remove redundant fieldset in sale rule form
  app/code/Magento/SalesRule/view/adminhtml/ui_component/sales_rule_form.xml
Labels: Area: Frontend, Auto-Tests: Not Required, Component: SalesRule, Event: Global-Contribution-Day, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Risk: low, Severity: S3, Technology Partner: Magestore, tech-partners-contribution

#30096 magento/partners-magento2b2b#322: Unskip StorefrontProductListWidgetWithSharedCatalogTest
  app/code/Magento/Widget/Test/Mftf/ActionGroup/AdminCreateCatalogProductsListWidgetActionGroup.xml
  app/code/Magento/Widget/Test/Mftf/ActionGroup/AdminCreateProductsListWidgetActionGroup.xml
  app/code/Magento/Widget/Test/Mftf/Section/AdminNewWidgetSection.xml
Labels: Component: Widget, Progress: accept, Release Line: 2.4, project: B2B

#30075 magento/partners-magento2b2b#312: Edit Account Information Page Shows…
  app/code/Magento/Customer/Test/Mftf/ActionGroup/StorefrontVerifyCustomerAccountInformationActionGroup.xml
Labels: Component: Customer, PAP B2B Team 1, Priority: P3, Progress: accept, Release Line: 2.4, Risk: low, Severity: S3, project: B2B

#30028 [B2B] 284 - Blank Theme multiselect arrows are too small
  app/design/frontend/Magento/blank/Magento_B2b/web/css/source/actions/_actions-select.less
Labels: Area: Design/Frontend, Area: Frontend, PAP, PAP B2B Team 1, Progress: ready for testing, Release Line: 2.4, partners-contribution, project: B2B

#30007 115 users can see sales orders from other company
  app/code/Magento/Sales/Block/Order/Recent.php
  app/code/Magento/Sales/CustomerData/LastOrderedItems.php
Labels: Component: Sales, Progress: testing in progress, Release Line: 2.4, project: B2B

#30182 Fix PHPDoc param attribute is not always a string
  app/code/Magento/Sales/Model/ResourceModel/EntityAbstract.php
Labels: Auto-Tests: Not Required, Cleanup, Component: Sales, Priority: P4, Progress: accept, Release Line: 2.4, Severity: S4

#30170 Fix compatibility with phpunit 9.3 in integration and api functional tests
  dev/tests/api-functional/testsuite/Magento/WebApiTest.php
  dev/tests/integration/testsuite/Magento/IntegrationTest.php
Labels: Auto-Tests: Covered, Award: category of expertise, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#30160 Return correct type
  lib/internal/Magento/Framework/Logger/Monolog.php
Labels: Auto-Tests: Not Required, Cleanup, Component: Logger, Priority: P4, Progress: accept, Release Line: 2.4, Severity: S4

#30139 Bugfix/wrong size attributes in image with border
  app/code/Magento/Catalog/etc/view.xml
  app/code/Magento/Catalog/view/frontend/templates/product/image_with_borders.phtml
  app/design/frontend/Magento/blank/Magento_Catalog/web/css/source/_module.less
  app/design/frontend/Magento/luma/Magento_Catalog/web/css/source/_module.less
  app/design/frontend/Magento/luma/web/css/critical.css
Labels: Area: Design/Frontend, Area: Frontend, Auto-Tests: Not Required, Component: Catalog, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Risk: low, Severity: S3

#30120 Cleaned up duplicate variable assignments in the same line
  app/code/Magento/CatalogSearch/Test/Unit/Model/Layer/Filter/CategoryTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/Layer/Filter/DecimalTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/Layer/Filter/PriceTest.php
  app/code/Magento/Reports/Block/Adminhtml/Grid.php
  app/code/Magento/Sales/Model/Order/Payment.php
  app/code/Magento/Tax/Model/Calculation/AbstractAggregateCalculator.php
  app/code/Magento/Tax/Model/Calculation/UnitBaseCalculator.php
Labels: Auto-Tests: Not Required, Cleanup, Component: CatalogSearch, Component: Reports, Component: Sales, Component: Tax, Partner: MRM Commerce, Priority: P4, Progress: accept, Release Line: 2.4, Severity: S4, partners-contribution

#30109 incorrect method description
  app/code/Magento/Quote/Model/Cart/Totals/ItemConverter.php
Labels: Auto-Tests: Not Required, Cleanup, Component: Quote, Partner: Born Group, Priority: P4, Progress: accept, Release Line: 2.4, Severity: S4, partners-contribution

#30049 MFTF: Replace repetitive actions with Action Groups in AdminUpdateCategoryAndMakeInactiveTest and VerifyChildCategoriesShouldNotIncludeInMenuTest
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminDisableActiveCategoryActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminDisableIncludeInMenuConfigActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminIncludeInMenuExcludedCategoryActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AssertAdminCategoryIncludedToMenuActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AssertAdminCategoryIsEnabledActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AssertAdminCategoryIsNotIncludeInMenuActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AssertAdminCategoryPageTitleActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateCategoryAndMakeInactiveTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/VerifyChildCategoriesShouldNotIncludeInMenuTest.xml
Labels: Auto-Tests: Not Required, Component: Catalog, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Risk: low, Severity: S3, partners-contribution

#29722 Add Regions for Uruguay.
  app/code/Magento/Directory/Setup/Patch/Data/AddDataForUruguay.php
Labels: Auto-Tests: Not Required, Component: Directory, Partner: Blue Acorn iCi, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Risk: low, Severity: S3, partners-contribution

#28995 honor queue_consumer.xml maxMessages
  app/code/Magento/MessageQueue/Model/Cron/ConsumersRunner.php
  dev/tests/integration/testsuite/Magento/MessageQueue/Model/Cron/ConsumersRunnerTest.php
Labels: Auto-Tests: Covered, Component: MessageQueue, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Risk: low, Severity: S3

#30217 MFTF: Replace repetitive actions with Action Groups in AdminUpdateStoreGroupAcceptAlertAndVerifyStoreViewFormTest, AdminUpdateStoreGroupAndVerifyStoreViewFormTest and AdminUpdateStoreViewTest
  app/code/Magento/Store/Test/Mftf/ActionGroup/AdminOpenFirstRowInStoresGridActionGroup.xml
  app/code/Magento/Store/Test/Mftf/ActionGroup/AdminOpenStoreInFirstRowInStoresGridActionGroup.xml
  app/code/Magento/Store/Test/Mftf/Test/AdminUpdateStoreGroupAcceptAlertAndVerifyStoreViewFormTest.xml
  app/code/Magento/Store/Test/Mftf/Test/AdminUpdateStoreGroupAndVerifyStoreViewFormTest.xml
  app/code/Magento/Store/Test/Mftf/Test/AdminUpdateStoreViewTest.xml
Labels: Auto-Tests: Not Required, Component: Store, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#30172 fixing arguments for method in getStatusByState
  app/code/Magento/Sales/Model/ResourceModel/Order/Status.php
Labels: Auto-Tests: Covered, Component: Sales, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#30108 improve visual counter review with parentheses in blank theme
  app/design/frontend/Magento/blank/Magento_Review/web/css/source/_module.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Priority: P4, Progress: accept, Release Line: 2.4, Severity: S4, improvement

#29205 #29174 Add save_rewrites_history to categories via API
  app/code/Magento/CatalogUrlRewrite/Plugin/Model/CategorySetSaveRewriteHistory.php
  app/code/Magento/CatalogUrlRewrite/etc/webapi_rest/di.xml
  dev/tests/api-functional/testsuite/Magento/Catalog/Api/CategoryRepositoryTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: CatalogUrlRewrite, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2, help wanted

#28676 BUG - Prevent Magento from Creating incorrect URLs for category/products when Store View has modified URL keys
  app/code/Magento/CatalogUrlRewrite/Model/ProductScopeRewriteGenerator.php
  app/code/Magento/CatalogUrlRewrite/Test/Mftf/Test/StorefrontCategoryUrlRewriteDifferentStoreTest.xml
  app/code/Magento/CatalogUrlRewrite/Test/Unit/Model/ProductScopeRewriteGeneratorTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: CatalogUrlRewrite, Partner: Vaimo, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Risk: low, Severity: S3, partners-contribution

#28516 Rewrote Magento\Framework\DB\Adapter\Pdo\Mysql->isTableExists
  dev/tests/integration/testsuite/Magento/MediaStorage/Console/Command/ImageResizeCommandTest.php
  dev/tests/integration/testsuite/Magento/MediaStorage/Helper/File/Storage/DatabaseTest.php
  lib/internal/Magento/Framework/DB/Adapter/Pdo/Mysql.php
Labels: Area: Perf/Frontend, Auto-Tests: Not Required, Component: DB, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2, Triage: Dev.Experience

#28177 Add collapsible nav in customer account theme blank
  app/design/frontend/Magento/blank/Magento_Customer/layout/customer_account.xml
  app/design/frontend/Magento/blank/Magento_Theme/web/css/source/_module.less
  app/design/frontend/Magento/blank/Magento_Theme/web/css/source/module/_collapsible_navigation.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S4, improvement

#27939 magento/magento2#: Remove a redundant getMappedNums from a loop
  lib/internal/Magento/Framework/GraphQl/Query/EnumLookup.php
  lib/internal/Magento/Framework/GraphQl/Test/Unit/Query/EnumLookupTest.php
Labels: Auto-Tests: Covered, Award: category of expertise, Award: test coverage, Component: GraphQL, Partner: Atwix, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#27581 Refactor moveFileFromTmp to not use a static method call
  app/code/Magento/Catalog/Model/ImageUploader.php
  lib/internal/Magento/Framework/File/Name.php
  lib/internal/Magento/Framework/Test/Unit/File/NameTest.php
  lib/internal/Magento/Framework/Test/Unit/_files/name.txt
  lib/internal/Magento/Framework/Test/Unit/_files/name_1.txt
Labels: Auto-Tests: Covered, Award: test coverage, Component: Catalog, Component: File, Component: Test, Event: Global-Contribution-Day, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#27077 Update FlushCacheByTags to use after plugins instead of around plugins
  lib/internal/Magento/Framework/App/Cache/FlushCacheByTags.php
  lib/internal/Magento/Framework/App/Test/Unit/Cache/FlushCacheByTagsTest.php
Labels: Auto-Tests: Covered, Component: App, Partner: Blue Acorn iCi, Partner: Mediotype, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, Technology Partner: Vertex, partners-contribution, tech-partners-contribution
