Repository magento/magento2, pull requests merged in 2020-01, with the labels that each got.

#26225 Hotfix for Invalid date format in Functional and hotfix for failing Integration Tests
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateDatetimeProductAttributeTest.xml
  dev/tests/integration/testsuite/Magento/Reports/Model/ResourceModel/Report/Product/Viewed/CollectionTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: Catalog, Partner: Strix, Progress: accept, Release Line: 2.4, partners-contribution

#26182 Fix for footer newsletter input field length in IE/Edge
  app/design/frontend/Magento/luma/Magento_Newsletter/web/css/source/_module.less
Labels: Area: Design/Frontend, Area: Frontend, Auto-Tests: Not Required, Partner: i95Dev, Progress: accept, Release Line: 2.4, partners-contribution

#26130 Fix #25390 - UPS carrier model getting error when creating plugin in to Magento 2.3.3 compatibility
  app/code/Magento/Ups/Model/Carrier.php
Labels: Auto-Tests: Covered, Component: Ups, Progress: accept, Release Line: 2.4

#25640 set correct pram like in BlockRepository implementation
  app/code/Magento/Cms/Api/BlockRepositoryInterface.php
Labels: Auto-Tests: Not Required, Component: Cms, Partner: Basecom, Progress: accept, Release Line: 2.4, partners-contribution

#25452 Elastic Search 5 Indexing Performance Issue with product mapper
  app/code/Magento/Elasticsearch/Model/Adapter/BatchDataMapper/ProductDataMapper.php
Labels: Auto-Tests: Not Required, Award: bug fix, Award: complex, Component: Elasticsearch, Progress: accept, Release Line: 2.4

#26273 MFTF: Replace <amOnPage> with <actionGroup> for Admin log out
  app/code/Magento/Backend/Test/Mftf/ActionGroup/AdminLogoutActionGroup.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/PriceRuleCategoryNestingTest.xml
  app/code/Magento/Wishlist/Test/Mftf/Test/AdminCustomerWishListShareOptionsInputValidationTest.xml
Labels: Auto-Tests: Covered, Award: category of expertise, Component: Backend, Component: SalesRule, Component: Wishlist, Partner: Strix, Progress: accept, Release Line: 2.4, partners-contribution

#26268 Fix #14001 - M2.2.3 directory_country_region_name locale fix? 8bytes zh_Hans_CN(11bytes) ca_ES_VALENCIA(14bytes)
  app/code/Magento/Directory/etc/db_schema.xml
Labels: Auto-Tests: Covered, Component: Directory, Partner: Fast White Cat, Progress: accept, Release Line: 2.4, partners-contribution

#26264 Issue 23521
  app/code/Magento/Downloadable/Test/Unit/Helper/DownloadTest.php
  app/code/Magento/Downloadable/Test/Unit/_files/download_mock.php
Labels: Auto-Tests: Covered, Component: Downloadable, Progress: accept, Release Line: 2.4

#26259 Fix invalid XML Schema location
  app/code/Magento/Captcha/Test/Mftf/Section/CaptchaFormsDisplayingSection.xml
  app/code/Magento/Catalog/Test/Mftf/Metadata/image_content-meta.xml
  app/code/Magento/Sales/Test/Mftf/ActionGroup/FilterOrderStatusByLabelAndCodeActionGroup.xml
  app/code/Magento/Sales/Test/Mftf/ActionGroup/SelectActionForOrdersActionGroup.xml
  app/code/Magento/Sales/Test/Mftf/Page/StorefrontCustomerSignOutPage.xml
  app/code/Magento/Sales/Test/Mftf/Page/StorefrontSalesOrderPrintPage.xml
  app/code/Magento/Sales/Test/Mftf/Section/SalesOrderPrintSection.xml
  app/code/Magento/Store/Test/Mftf/Data/StorePaymentMethodsData.xml
  app/code/Magento/Store/Test/Mftf/Data/StoreShippingMethodsData.xml
  app/code/Magento/Store/Test/Mftf/Metadata/store_payment_methods-meta.xml
  app/code/Magento/Store/Test/Mftf/Metadata/store_shipping_methods-meta.xml
  app/code/Magento/Tax/Test/Mftf/Section/AdminTaxReportsSection.xml
Labels: Auto-Tests: Covered, Cleanup, Component: Captcha, Component: Catalog, Component: Sales, Component: Store, Component: Tax, Partner: Strix, Progress: accept, Release Line: 2.4, partners-contribution

#26237 Added Fix for 25936
  app/design/frontend/Magento/luma/Magento_Catalog/web/css/source/_module.less
Labels: Area: Design/Frontend, Area: Frontend, Auto-Tests: Not Required, Cleanup, Partner: i95Dev, Progress: accept, Release Line: 2.4, partners-contribution

#26234 [Align some space between input and update button Minicart]
  app/design/frontend/Magento/blank/Magento_Checkout/web/css/source/module/_minicart.less
  app/design/frontend/Magento/luma/Magento_Checkout/web/css/source/module/_minicart.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Cleanup, Partner: Wagento, Progress: accept, Release Line: 2.4, partners-contribution

#26215 Disabled the sorting option in status column on cache grid
  app/code/Magento/Backend/view/adminhtml/layout/adminhtml_cache_block.xml
Labels: Area: Frontend, Auto-Tests: Not Required, Component: Backend, Partner: Ziffity, Progress: accept, Release Line: 2.4, partners-contribution

#26183 Added Fix for - 26181
  app/design/frontend/Magento/luma/Magento_Catalog/web/css/source/module/_listings.less
Labels: Area: Design/Frontend, Area: Frontend, Auto-Tests: Not Required, Partner: i95Dev, Progress: accept, Release Line: 2.4, partners-contribution

#26169 Added Fix for issue 26168
  app/design/frontend/Magento/luma/Magento_Checkout/web/css/source/module/checkout/_payments.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Cleanup, Partner: i95Dev, Progress: accept, Release Line: 2.4, partners-contribution

#25250 Implement catching for all Errors - ref Magento issue #23350
  lib/internal/Magento/Framework/App/Bootstrap.php
Labels: Auto-Tests: Not Required, Component: App, Progress: accept, Release Line: 2.4, Squashtoberfest 2019

#26290 [Fixed Jump Datepicker issue in Catalog Price Rule]
  app/design/adminhtml/Magento/backend/web/css/source/components/_calendar-temp.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Partner: Wagento, Progress: accept, Release Line: 2.4, partners-contribution

#26263 Fix #14913 - bookmark views become uneditable after deleting the first bookmark view
  app/code/Magento/Ui/view/base/web/templates/grid/controls/bookmarks/bookmarks.html
  app/code/Magento/Ui/view/base/web/templates/grid/controls/bookmarks/view.html
Labels: Area: Frontend, Auto-Tests: Not Required, Component: Ui, Partner: Fast White Cat, Progress: accept, Release Line: 2.4, partners-contribution

#26048 Fixed spelling and adjusted white spaces
  app/code/Magento/Catalog/Api/Data/ProductRender/FormattedPriceInfoInterface.php
Labels: Auto-Tests: Not Required, Cleanup, Component: Catalog, Progress: accept, Release Line: 2.4

#26359 Remove Filename Normalization in Delete Controller
  app/code/Magento/Cms/Controller/Adminhtml/Wysiwyg/Images/DeleteFiles.php
  dev/tests/integration/testsuite/Magento/Cms/Controller/Adminhtml/Wysiwyg/Images/DeleteFilesTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: Cms, Partner: Something Digital, Progress: needs update, Release Line: 2.4, partners-contribution

#26354 Make WYSIWYG configuration options depend on wysiwyg being enabled
  app/code/Magento/Catalog/etc/adminhtml/system.xml
  app/code/Magento/Cms/etc/adminhtml/system.xml
Labels: Auto-Tests: Covered, Component: Catalog, Component: Cms, Partner: Fast White Cat, Progress: accept, Release Line: 2.4, partners-contribution

#26312 magento/magento2#: Unit test for \Magento\Review\Observer\CatalogProductListCollectionAppendSummaryFieldsObserver
  app/code/Magento/Review/Test/Unit/Observer/CatalogProductListCollectionAppendSummaryFieldsObserverTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: Review, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#26311 [CurrencySymbol] Fixing the redirect after saving the currency symbols
  app/code/Magento/CurrencySymbol/Controller/Adminhtml/System/Currencysymbol/Save.php
  app/code/Magento/CurrencySymbol/Test/Unit/Controller/Adminhtml/System/Currencysymbol/SaveTest.php
Labels: Auto-Tests: Covered, Component: CurrencySymbol, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#26269 Fix #7065 - page.main.title is translating title
  app/code/Magento/Theme/Block/Html/Title.php
  app/code/Magento/Theme/Test/Unit/Block/Html/TitleTest.php
  app/code/Magento/Theme/etc/config.xml
  app/code/Magento/Theme/etc/di.xml
  app/code/Magento/Theme/view/adminhtml/ui_component/design_config_form.xml
Labels: Area: Frontend, Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: Theme, Partner: Fast White Cat, Progress: accept, Release Line: 2.4, partners-contribution

#26238 [Correct both Menu spacing issue]
  app/design/frontend/Magento/blank/web/css/source/_navigation.less
Labels: Area: Design/Frontend, Area: Frontend, Auto-Tests: Not Required, Cleanup, Partner: Wagento, Progress: accept, Release Line: 2.4, partners-contribution

#25716 add check if attribute value is possible to be set as configurable option
  app/code/Magento/ConfigurableProduct/view/frontend/web/js/configurable.js
  dev/tests/js/jasmine/tests/app/code/Magento/ConfigurableProduct/view/frontend/js/configurable.test.js
Labels: Area: Frontend, Auto-Tests: Covered, Component: ConfigurableProduct, Progress: accept, Release Line: 2.4

#25333 Fixed issue magento#25278:Incorrect @return type at getSourceModel in…
  app/code/Magento/Catalog/Model/ResourceModel/Eav/Attribute.php
Labels: Auto-Tests: Not Required, Component: Catalog, Progress: accept, Release Line: 2.4, Squashtoberfest 2019

#26395 HotFix: Failing Magento EE check on Layered Navigation
  app/code/Magento/Catalog/Test/Mftf/Test/AdminMoveAnchoredCategoryTest.xml
Labels: Auto-Tests: Covered, Award: bug fix, Component: Catalog, Partner: Mediotype, Progress: accept, Release Line: 2.4, partners-contribution

#26320 MFTF: Extract Action Groups to separate files - magento/module-sales
  app/code/Magento/Sales/Test/Mftf/ActionGroup/AdminOrderActionOnGridActionGroup.xml
  app/code/Magento/Sales/Test/Mftf/ActionGroup/AdminTwoOrderActionOnGridActionGroup.xml
Labels: Auto-Tests: Covered, Cleanup, Component: Sales, Partner: Mediotype, Progress: accept, Release Line: 2.4, partners-contribution

#26319 MFTF: Extract Action Groups to separate files - magento/module-catalog
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminAssignImageRolesActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminAssignImageRolesIfUnassignedActionGroup.xml
Labels: Auto-Tests: Covered, Cleanup, Component: Catalog, Partner: Mediotype, Progress: accept, Release Line: 2.4, partners-contribution

#26424 Add to Compare link does not show in mobile view under 640px in blank theme
  app/design/frontend/Magento/blank/Magento_Catalog/web/css/source/_module.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Partner: creativestyle, Progress: accept, Release Line: 2.4, partners-contribution

#26402 magento/magento2#: Unit test for \Magento\AdminNotification\Observer\PredispatchAdminActionControllerObserver
  app/code/Magento/AdminNotification/Test/Unit/Observer/PredispatchAdminActionControllerObserverTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: AdminNotification, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#26365 Add to Compare link not showing in mobile view under 640px
  app/design/frontend/Magento/luma/Magento_Catalog/web/css/source/_module.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Partner: Wagento, Progress: accept, Release Line: 2.4, partners-contribution

#26495 Fix confusing phpdoc in curl client
  lib/internal/Magento/Framework/HTTP/Client/Curl.php
Labels: Auto-Tests: Not Required, Cleanup, Component: HTTP, Progress: accept, Release Line: 2.4

#26464 magento/magento2#: GraphQl. RevokeCustomerToken. Test coverage.
  app/code/Magento/CustomerGraphQl/Test/Unit/Model/Resolver/RevokeCustomerTokenTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: CustomerGraphQl, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#26452 magento/magento2#: GraphQl. DeletePaymentToken. Remove redundant validation logic. Test coverage.
  app/code/Magento/VaultGraphQl/Model/Resolver/DeletePaymentToken.php
  app/code/Magento/VaultGraphQl/Test/Unit/Model/Resolver/DeletePaymentTokenTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: VaultGraphQl, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution
