Repository magento/magento2, pull requests merged in 2020-11, with the labels that each got.

#30689 #30473 fixed image url for category if url rewrite are disabled
  app/code/Magento/CatalogGraphQl/Model/Resolver/Category/Image.php
Labels: Award: bug fix, Component: CatalogGraphQl, Progress: needs update, Project: GraphQL, Release Line: 2.4

#30633 [GRAPHQL] Made the attribute `destination_cart_id` for mergeCarts mutation not required.
  app/code/Magento/QuoteGraphQl/Model/Resolver/MergeCarts.php
  app/code/Magento/QuoteGraphQl/etc/schema.graphqls
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Customer/MergeCartsTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: QuoteGraphQl, Event: MageCONF CD 2020, Partner: Atwix, Priority: P1, Progress: ready for testing, Project: GraphQL, Release Line: 2.4, partners-contribution

#30619 [GraphQl] Excluding the disabled parent category from the category breadcrumbs
  app/code/Magento/CatalogGraphQl/Model/Resolver/Category/DataProvider/Breadcrumbs.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Catalog/CategoryTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: CatalogGraphQl, Event: MageCONF CD 2020, Partner: Atwix, Priority: P1, Progress: ready for testing, Project: GraphQL, Release Line: 2.4, Severity: S3, partners-contribution

#30375 30349: Product filter with category_id does not work as expected - fi…
  app/code/Magento/CatalogGraphQl/Model/Resolver/Products/DataProvider/ProductSearch.php
  app/code/Magento/CatalogGraphQl/Model/Resolver/Products/SearchCriteria/CollectionProcessor/FilterProcessor/CategoryFilter.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Catalog/ProductSearchTest.php
Labels: Auto-Tests: Covered, Component: CatalogGraphQl, PAP, Partner: Kensium Solutions LLC, Priority: P2, Progress: accept, Project: GraphQL, Release Line: 2.4, Severity: S1, partners-contribution

#30368 magento/partners-magento2b2b#325: Automate Currency availability test for Company Credit
  dev/tests/integration/testsuite/Magento/Store/_files/second_website_with_base_second_currency.php
  dev/tests/integration/testsuite/Magento/Store/_files/second_website_with_base_second_currency_rollback.php
Labels: Auto-Tests: Not Required, Progress: accept, Release Line: 2.4, project: B2B

#30763 Region field visible for Country when "Allow to Choose State if It is Optional for Country" is disabled
  app/code/Magento/Ui/view/base/web/js/form/element/region.js
  dev/tests/js/jasmine/tests/app/code/Magento/Ui/base/js/form/element/region.test.js
Labels: Area: Frontend, Auto-Tests: Covered, Component: Ui, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#30359 MFTF: Admin Delete CMS Block Test
  app/code/Magento/Cms/Test/Mftf/ActionGroup/AdminDeleteCMSBlockFromGridActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/ActionGroup/AdminOpenCMSBlocksGridActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/ActionGroup/AdminSearchCMSBlockInGridByIdentifierActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/ActionGroup/AssertAdminCMSBlockIsNotInGridActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/Section/AdminBlockGridSection.xml
  app/code/Magento/Cms/Test/Mftf/Section/BlockPageActionsSection.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminDeleteCmsBlockTest.xml
Labels: Auto-Tests: Not Required, Award: MFTF test coverage, Component: Cms, Partner: Atwix, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#30223 [MFTF] add ReloadPageActionGroup
  app/code/Magento/Backend/Test/Mftf/Test/AdminExpireAdminSessionTest.xml
  app/code/Magento/Backend/Test/Mftf/Test/AdminExpireCustomerSessionTest.xml
  app/code/Magento/Captcha/Test/Mftf/Test/CaptchaFormsDisplayingTest/CaptchaWithDisabledGuestCheckoutTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminProductCategoryIndexerInUpdateOnScheduleModeTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/StorefrontCatalogNavigationMenuUIDesktopTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/AddressStateFieldForUKCustomerRemainOptionAfterRefreshTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/AdminCheckConfigsChangesIsNotAffectedStartedCheckoutProcessTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontGuestCheckoutUsingFreeShippingAndTaxesTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontPersistentDataForGuestCustomerWithPhysicalQuoteTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontUpdatePriceInShoppingCartAfterProductSaveTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/StorefrontVisibilityOfDuplicateProductTest.xml
  app/code/Magento/Customer/Test/Mftf/Test/AdminCreateCustomerTest.xml
  app/code/Magento/PageCache/Test/Mftf/Test/AdminFrontendAreaSessionMustNotAffectAdminAreaTest.xml
  app/code/Magento/Persistent/Test/Mftf/Test/CheckShoppingCartBehaviorAfterSessionExpiredTest.xml
  app/code/Magento/Quote/Test/Mftf/Test/StorefrontGuestCheckoutDisabledProductTest.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/AdminCreateCartPriceRuleForGeneratedCouponTest.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/StorefrontAutoGeneratedCouponCodeTest.xml
  app/code/Magento/Swatches/Test/Mftf/Test/AdminDisablingSwatchTooltipsTest.xml
  app/code/Magento/Translation/Test/Mftf/Test/StorefrontInlineTranslationOnCheckoutTest.xml
  app/code/Magento/Ui/Test/Mftf/ActionGroup/ReloadPageActionGroup.xml
Labels: Auto-Tests: Covered, Component: multiple, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#28147 Introduce separate BlockByIdentifier class to get Layout Block based on CMS Block Identifier
  app/code/Magento/Cms/Block/Block.php
  app/code/Magento/Cms/Block/BlockByIdentifier.php
  app/code/Magento/Cms/Test/Unit/Block/BlockByIdentifierTest.php
Labels: Auto-Tests: Covered, Component: Cms, Event: MageCONF CD 2020, Partner: Blue Acorn iCi, Partner: Mediotype, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#27972 ISSUE-27954: Forgot password save user only one column
  app/code/Magento/Customer/Model/ForgotPasswordToken/ConfirmCustomerByToken.php
  app/code/Magento/Customer/Model/ForgotPasswordToken/GetCustomerByToken.php
  app/code/Magento/Customer/Test/Unit/Model/ForgotPasswordToken/ConfirmCustomerByTokenTest.php
  dev/tests/integration/testsuite/Magento/Customer/Model/ForgotPasswordToken/ConfirmCustomerByTokenTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: Customer, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#27674 Backend: focus search field when pressing forwardslash - '/'
  app/code/Magento/Backend/Test/Mftf/Section/AdminHeaderSection.xml
  app/code/Magento/Backend/Test/Mftf/Test/AdminSearchHotkeyTest.xml
  app/code/Magento/Ui/view/base/web/js/lib/key-codes.js
  app/design/adminhtml/Magento/backend/web/js/theme.js
Labels: Area: Design/Frontend, Area: Frontend, Auto-Tests: Covered, Award: MFTF test coverage, Award: bug fix, Component: Backend, Component: Ui, Priority: P4, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S4

#26966 Passing arguments for queues as expected
  lib/internal/Magento/Framework/MessageQueue/Test/Unit/Topology/Config/QueueConfigItem/DataMapperTest.php
  lib/internal/Magento/Framework/MessageQueue/Topology/Config/QueueConfigItem/DataMapper.php
Labels: Auto-Tests: Covered, Component: MessageQueue, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, Triage: Dev.Experience

#26401 Add Event Prefix And Object To The Catalog Product Option Value Collection
  app/code/Magento/Catalog/Model/ResourceModel/Product/Option/Value/Collection.php
Labels: Auto-Tests: Not Required, Component: Catalog, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Risk: low, Severity: S3, Triage: Dev.Experience

#30895 Removed duplicated action group - AdminOpenCMSBlocksGridActionGroup
  app/code/Magento/Cms/Test/Mftf/ActionGroup/AdminOpenCMSBlocksGridActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminDeleteCmsBlockTest.xml
Labels: Auto-Tests: Covered, Component: Cms, Priority: P2, Progress: extended testing, Release Line: 2.4, Severity: S2

#30793 Fix PHPdoc comment to be accurate
  app/code/Magento/CatalogImportExport/Model/Export/Product.php
Labels: Auto-Tests: Not Required, Cleanup, Component: CatalogImportExport, Priority: P4, Progress: accept, Release Line: 2.4, Severity: S4

#30774 Replace 'static::' with 'self::' when accessing private const.
  app/code/Magento/Backend/Model/Dashboard/Period.php
  app/code/Magento/Backend/ViewModel/ChartDisabled.php
  app/code/Magento/Catalog/Model/Config/LayerCategoryConfig.php
  app/code/Magento/DownloadableImportExport/Model/Import/Product/Type/Downloadable.php
Labels: Auto-Tests: Not Required, Award: bug fix, Component: Backend, Component: Catalog, Component: DownloadableImportExport, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#30681 Fix acl.xml inconsistency. LoginAsCustomerAssistance
  app/code/Magento/LoginAsCustomerAssistance/etc/acl.xml
Labels: Auto-Tests: Not Required, Component: LoginAsCustomerAssistance, Priority: P4, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S4

#30632 magento/magento2#24730: Fix Frontend Invoice PDF configured Logo image
  app/code/Magento/Sales/Model/Order/Invoice/GetLogoFile.php
  app/code/Magento/Sales/view/frontend/layout/sales_order_printinvoice.xml
  dev/tests/integration/testsuite/Magento/Sales/Model/Order/Invoice/GetLogoFileTest.php
Labels: Area: Frontend, Component: Sales, Event: MageCONF CD 2020, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S2

#30411 magento/magento2#30408: solved multishipping cart item subtotal updat…
  app/code/Magento/Multishipping/Test/Mftf/Section/MultishippingSection/MultishippingSection.xml
  app/code/Magento/Multishipping/Test/Mftf/Test/StorefrontCheckoutSubtotalAfterQuantityUpdateTest.xml
  app/code/Magento/Multishipping/etc/frontend/di.xml
Labels: Auto-Tests: Covered, Component: Multishipping, Event: dmcdindia2020, Partner: Wagento, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2, partners-contribution

#30400 Fixed Redirect to the store view when trying to save attribute on product creation page
  app/code/Magento/Catalog/Test/Mftf/Section/AdminCreateNewProductAttributeSection.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminVerifyCreateCloseCreateCustomProductAttributeTest.xml
  app/code/Magento/Ui/view/base/web/js/form/components/insert.js
Labels: Area: Frontend, Auto-Tests: Covered, Award: test coverage, Component: Catalog, Component: Ui, Event: dmcdindia2020, Partner: Cedcommerce, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S1, Severity: S2, partners-contribution

#30391 #30255: Fixed "The coupon code has been accepted." message remains after a Coupon Code was removed
  app/code/Magento/Sales/Controller/Adminhtml/Order/Create.php
  app/code/Magento/Sales/Test/Mftf/ActionGroup/AdminRemoveCouponFromOrderActionGroup.xml
  app/code/Magento/Sales/Test/Mftf/Section/AdminOrderFormItemsSection.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCreateOrderToVerifyApplyAndRemoveCouponCodeTest.xml
  app/code/Magento/Sales/i18n/en_US.csv
Labels: Area: Frontend, Auto-Tests: Covered, Award: bug fix, Component: Sales, Event: dmcdindia2020, Partner: Cedcommerce, Priority: P2, Progress: accept, Progress: extended testing, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#30114 Fix #30073 - Store specific text swatch attribute option label with v…
  app/code/Magento/Swatches/Model/Plugin/EavAttribute.php
  app/code/Magento/Swatches/Test/Unit/Model/Plugin/EavAttributeTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: Swatches, Partner: Fast White Cat, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2, partners-contribution

#30010 #30009 Resolve regression from CSP updates
  app/code/Magento/Widget/Test/Mftf/ActionGroup/AdminCreateSpecificEntityWidgetActionGroup.xml
  app/code/Magento/Widget/Test/Mftf/Data/WidgetsData.xml
  app/code/Magento/Widget/Test/Mftf/Section/AdminNewWidgetSection.xml
  app/code/Magento/Widget/Test/Mftf/Test/AdminContentWidgetsDisplayOnSpecificEntitiesTest.xml
  app/code/Magento/Widget/view/adminhtml/templates/instance/edit/layout.phtml
Labels: Area: Frontend, Auto-Tests: Covered, Award: test coverage, Component: Widget, Partner: Blue Acorn iCi, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#29986 Fix wrong typo function name
  app/code/Magento/Ui/view/base/web/js/form/element/ui-select.js
Labels: Area: Frontend, Auto-Tests: Not Required, Cleanup, Component: Ui, Priority: P4, Progress: ready for testing, QA: Added to Regression Scope, Release Line: 2.4, Severity: S4

#29923 Fixed issue 29920 - "Item in Cart" not pluralized correctly
  app/code/Magento/Checkout/Test/Mftf/Section/CheckoutCartSummarySection.xml
  app/code/Magento/Checkout/Test/Mftf/Section/StorefrontMinicartSection.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontAddProductWithAllTypesOfCustomOptionToTheShoppingCartTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontGuestCheckoutTest/StorefrontCheckoutSummaryItemsInCartLabelPluralizedTest.xml
  app/code/Magento/Checkout/view/frontend/web/template/minicart/content.html
  app/code/Magento/Checkout/view/frontend/web/template/summary/cart-items.html
Labels: Area: Frontend, Auto-Tests: Covered, Award: MFTF test coverage, Award: bug fix, Component: Checkout, Partner: Krish TechnoLabs, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#27379 Use Logger implementation based on deployment configuration
  app/etc/di.xml
  dev/tests/integration/etc/di/preferences/ce.php
  dev/tests/integration/framework/Magento/TestFramework/Application.php
  dev/tests/integration/framework/Magento/TestFramework/ObjectManager.php
  dev/tests/integration/framework/Magento/TestFramework/ObjectManagerFactory.php
  dev/tests/integration/testsuite/Magento/Catalog/Controller/Adminhtml/Product/Set/SaveTest.php
  dev/tests/integration/testsuite/Magento/Catalog/Controller/Product/ViewTest.php
  dev/tests/integration/testsuite/Magento/Developer/Model/Logger/Handler/DebugTest.php
  dev/tests/integration/testsuite/Magento/Framework/Code/Generator/AutoloaderTest.php
  dev/tests/integration/testsuite/Magento/Paypal/Controller/Payflow/SilentPostTest.php
  dev/tests/integration/testsuite/Magento/Store/App/Config/Source/InitialConfigSourceTest.php
  dev/tests/integration/testsuite/Magento/Swatches/Controller/Adminhtml/Product/AttributeTest.php
  dev/tests/static/testsuite/Magento/Test/Php/_files/phpstan/blacklist/common.txt
  lib/internal/Magento/Framework/App/Config/ConfigSourceAggregated.php
  lib/internal/Magento/Framework/Logger/Handler/Base.php
  lib/internal/Magento/Framework/Logger/LoggerProxy.php
  lib/internal/Magento/Framework/Logger/Test/Unit/LoggerProxyTest.php
Labels: Auto-Tests: Covered, Award: category of expertise, Award: test coverage, Component: App, Component: Logger, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, improvement

#30690 magento/magento2:#29479:Returns GraphQL impementation
  app/code/Magento/Eav/Model/ResourceModel/Entity/Attribute/OptionValueProvider.php
  app/code/Magento/SalesGraphQl/Model/Formatter/Order.php
  app/code/Magento/SalesGraphQl/Model/Resolver/CustomerOrders.php
  app/code/Magento/Shipping/Model/Tracking/Result/Error.php
  app/code/Magento/Shipping/Model/Tracking/Result/Status.php
  lib/internal/Magento/Framework/GraphQl/Query/Uid.php
Labels: Component: GraphQL, Component: SalesGraphQl, Component: Shipping, PAP, Progress: review, Project: GraphQL, Release Line: 2.4

#30630 [GraphQL] Add possibility to filter categories by parent_id
  app/code/Magento/CatalogGraphQl/etc/schema.graphqls
  dev/tests/api-functional/testsuite/Magento/GraphQl/Catalog/CategoriesQuery/CategoriesFilterTest.php
Labels: Auto-Tests: Covered, Component: CatalogGraphQl, Event: MageCONF CD 2020, Partner: Atwix, Priority: P2, Progress: ready for testing, Project: GraphQL, Release Line: 2.4, partners-contribution

#30749 MC-23904: Can't Refund Invoice Without 0 Quantities Through REST API
  app/code/Magento/Sales/Model/Order/Creditmemo/Validation/QuantityValidator.php
  app/code/Magento/Sales/Test/Unit/Model/Order/Creditmemo/Validation/QuantityValidatorTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: category of expertise, Award: test coverage, Component: Sales, Priority: P1, Progress: accept, Progress: extended testing, QA: Added to Regression Scope, Release Line: 2.4, Severity: S1

#30746 MC-38593: Complex products children ids are not cached in Type class leading to multiple unnecessary db requests
  app/code/Magento/Bundle/Model/Plugin/Frontend/ProductIdentitiesExtender.php
  app/code/Magento/Bundle/Model/Plugin/Product.php
  app/code/Magento/Bundle/Model/Plugin/ProductIdentitiesExtender.php
  app/code/Magento/Bundle/Test/Unit/Model/Plugin/Frontend/ProductIdentitiesExtenderTest.php
  app/code/Magento/Bundle/Test/Unit/Model/Plugin/ProductIdentitiesExtenderTest.php
  app/code/Magento/Bundle/etc/di.xml
  app/code/Magento/Bundle/etc/frontend/di.xml
  app/code/Magento/ConfigurableProduct/Model/Plugin/ProductIdentitiesExtender.php
  app/code/Magento/ConfigurableProduct/Test/Unit/Model/Plugin/ProductIdentitiesExtenderTest.php
  dev/tests/integration/testsuite/Magento/Bundle/Model/Plugin/Frontend/ProductIdentitiesExtenderTest.php
Labels: Component: Bundle, Priority: P1, Progress: ready for testing, Release Line: 2.4, Severity: S1

#30727 Fixes customer edit issue when there is a newsletter queue associated with it.
  app/code/Magento/Customer/Block/Adminhtml/Edit/Tab/Newsletter/Grid/Renderer/Action.php
  app/code/Magento/Newsletter/Model/ResourceModel/Queue/Collection.php
  dev/tests/integration/testsuite/Magento/Customer/Block/Adminhtml/Edit/Tab/NewsletterTest.php
  dev/tests/integration/testsuite/Magento/Newsletter/Model/ResourceModel/Queue/CollectionTest.php
Labels: Auto-Tests: Covered, Component: Customer, Component: Newsletter, Priority: P1, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S1, bugfix

#30825 Move default session lifetime from encryption module to security module
  app/code/Magento/EncryptionKey/etc/config.xml
  app/code/Magento/Security/etc/config.xml
Labels: Auto-Tests: Not Required, Award: bug fix, Component: EncryptionKey, Component: Security, Priority: P4, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S4

#30777 [MFTF] Add AdminOpenCurrencyRatesPageActionGroup
  app/code/Magento/CurrencySymbol/Test/Mftf/ActionGroup/AdminOpenCurrencyRatesPageActionGroup.xml
  app/code/Magento/CurrencySymbol/Test/Mftf/Test/AdminCurrencyConverterAPIConfigurationTest.xml
  app/code/Magento/CurrencySymbol/Test/Mftf/Test/AdminOrderRateDisplayWhenChooseThreeAllowedCurrenciesTest.xml
Labels: Auto-Tests: Covered, Component: CurrencySymbol, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#30528 [MFTF] Add StorefrontCheckoutClickSaveAddressButtonActionGroup
  app/code/Magento/Checkout/Test/Mftf/ActionGroup/StorefrontCheckoutClickSaveAddressButtonActionGroup.xml
  app/code/Magento/Checkout/Test/Mftf/Test/DefaultBillingAddressShouldBeCheckedOnPaymentPageTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/EditShippingAddressOnePageCheckoutTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/OnePageCheckoutAsCustomerUsingNewAddressTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontCustomerPlaceOrderWithNewAddressesThatWasEditedTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/StorefrontTaxQuoteCheckoutTest/StorefrontTaxQuoteCheckoutLoggedInSimpleTest.xml
Labels: Auto-Tests: Covered, Component: Checkout, Component: Tax, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#30525 [MFTF] Add new AdminClickAddProductToggleAndSelectProductTypeActionGroup
  app/code/Magento/Bundle/Test/Mftf/Test/NewProductsListWidgetBundleProductTest.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminClickAddProductToggleAndSelectProductTypeActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateAttributeSetEntityTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateProductDuplicateUrlkeyTest/AdminCreateProductDuplicateUrlkeyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateSimpleProductWithCountryOfManufactureAttributeSKUMaskTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateVirtualProductFillingRequiredFieldsOnlyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateVirtualProductOutOfStockWithTierPriceTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateVirtualProductWithCustomOptionsSuiteAndImportOptionsTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateVirtualProductWithTierPriceTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateVirtualProductWithoutManageStockTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminDeleteProductAttributeTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminMultipleWebsitesUseDefaultValuesTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminProductStatusAttributeDisabledByDefaultTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminRequiredFieldsHaveRequiredFieldIndicatorTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/NewProductsListWidgetVirtualProductTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/SaveProductWithCustomOptionsSecondWebsiteTest.xml
  app/code/Magento/Downloadable/Test/Mftf/Test/NewProductsListWidgetDownloadableProductTest.xml
  app/code/Magento/GroupedProduct/Test/Mftf/Test/NewProductsListWidgetGroupedProductTest.xml
  app/code/Magento/Swatches/Test/Mftf/Test/AdminCreateVisualSwatchTest.xml
  app/code/Magento/Swatches/Test/Mftf/Test/AdminDisablingSwatchTooltipsTest.xml
Labels: Auto-Tests: Covered, Component: Bundle, Component: Catalog, Component: Downloadable, Component: GroupedProduct, Component: Swatches, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#30090 Speedup static content deploy for specific theme
  app/code/Magento/Deploy/Console/DeployStaticOptions.php
  app/code/Magento/Deploy/Console/InputValidator.php
  app/code/Magento/Deploy/Strategy/QuickDeploy.php
  app/code/Magento/Deploy/Strategy/StandardDeploy.php
  dev/tests/integration/testsuite/Magento/Framework/View/Asset/MinifierTest.php
Labels: Auto-Tests: Covered, Component: Deploy, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Risk: medium, Severity: S3

#30866 MC-38105: Unable to set native session handler that is different from the one define in php.ini
  dev/tests/integration/testsuite/Magento/Framework/Session/SessionManagerTest.php
  lib/internal/Magento/Framework/Session/SessionManager.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: Session, Priority: P1, Progress: accept, Release Line: 2.4, Severity: S1

#30928 MC-38788: setup:upgrade not possible in after installing Sample Data Magento
  app/code/Magento/Elasticsearch/Model/Adapter/Elasticsearch.php
  dev/tests/integration/testsuite/Magento/Elasticsearch/Model/Adapter/ElasticsearchTest.php
Labels: Auto-Tests: Covered, Component: Elasticsearch, Priority: P1, Progress: accept, Release Line: 2.4, Severity: S1

#30529 [MFTF] Add StorefrontClickProceedToCheckoutActionGroup
  app/code/Magento/Checkout/Test/Mftf/ActionGroup/StorefrontClickProceedToCheckoutActionGroup.xml
  app/code/Magento/Checkout/Test/Mftf/Test/OnePageCheckoutAsCustomerUsingDefaultAddressTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/OnePageCheckoutAsCustomerUsingNewAddressTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/OnePageCheckoutAsCustomerUsingNonDefaultAddressTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/OnePageCheckoutAsCustomerUsingNonExistentCustomerGroupTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/OnePageCheckoutUsingSignInLinkTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/OnePageCheckoutWithAllProductTypesTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontCheckoutWithDifferentShippingAndBillingAddressAndCreateCustomerAfterCheckoutTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontCheckoutWithDifferentShippingAndBillingAddressAndProductWithTierPricesTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontCheckoutWithDifferentShippingAndBillingAddressAndRegisterCustomerAfterCheckoutTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontCheckoutWithSpecialPriceProductsTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontCustomerCheckoutOnLoginWhenGuestCheckoutIsDisabledTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontCustomerCheckoutWithNewCustomerRegistrationAndDisableGuestCheckoutTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontCustomerLoginDuringCheckoutTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontGuestCheckoutUsingFreeShippingAndTaxesTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontGuestCheckoutWithCouponAndZeroSubtotalTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontOnePageCheckoutDataWhenChangeQtyTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontPersistentDataForGuestCustomerWithPhysicalQuoteTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontProductNameMinicartOnCheckoutPageDifferentStoreViewsTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontProductQuantityChangesInBackendAfterCustomerCheckoutTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontRefreshPageDuringGuestCheckoutTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontUKCustomerCheckoutWithCouponTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontUKGuestCheckoutWithConditionProductQuantityEqualsToOrderedQuantityTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontUSCustomerCheckoutWithCouponAndBankTransferPaymentMethodTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontVerifyGuestCheckoutUsingFreeShippingAndTaxesTest.xml
  app/code/Magento/Downloadable/Test/Mftf/Test/StorefrontAccountDownloadableProductLinkAfterPartialRefundTest.xml
  app/code/Magento/LoginAsCustomer/Test/Mftf/Test/StorefrontLoginAsCustomerBannerPresentOnAllPagesInSessionTest.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/StorefrontAutoGeneratedCouponCodeTest.xml
Labels: Auto-Tests: Covered, Component: Checkout, Component: Downloadable, Component: LoginAsCustomer, Component: SalesRule, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#30662 Add path verification to Mediagallery uploader plugin
  app/code/Magento/MediaGalleryIntegration/Plugin/SaveImageInformation.php
  dev/tests/integration/testsuite/Magento/Framework/File/UploaderTest.php
Labels: Auto-Tests: Covered, Component: MediaGalleryIntegration, Priority: P1, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S1

#30779 [MFTF] Added AdminClickGetShippingMethodsAndRatesActionGroup and AdminSelectFixedShippingMethodActionGroup
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/NoOptionAvailableToConfigureDisabledProductTest.xml
  app/code/Magento/Sales/Test/Mftf/ActionGroup/AdminClickGetShippingMethodsAndRatesActionGroup.xml
  app/code/Magento/Sales/Test/Mftf/ActionGroup/AdminSelectFixedShippingMethodActionGroup.xml
  app/code/Magento/Sales/Test/Mftf/Test/CreateInvoiceAndCheckInvoiceOrderTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/CreateInvoiceWithCashOnDeliveryPaymentMethodTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/CreateInvoiceWithShipmentAndCheckInvoicedOrderTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/CreateOrderFromEditCustomerPageTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/MoveLastOrderedConfigurableProductOnOrderPageTest.xml
Labels: Auto-Tests: Covered, Component: ConfigurableProduct, Component: Sales, Partner: Atwix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#30614 Prevent multiple quotations of the same word
  app/code/Magento/Search/Model/SynonymAnalyzer.php
  app/code/Magento/Search/Test/Unit/Model/SynonymAnalyzerTest.php
Labels: Auto-Tests: Covered, Component: Search, Event: MageCONF CD 2020, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#29692 Allow ignored columns for mview to be specified at the subscription level
  lib/internal/Magento/Framework/Mview/Test/Unit/View/SubscriptionTest.php
  lib/internal/Magento/Framework/Mview/View/Subscription.php
Labels: Auto-Tests: Covered, Component: Mview, Partner: Aligent Consulting, Priority: P1, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#30807 MC-30626: Custom Option with Percent price is converted to a currency twice
  app/code/Magento/Catalog/Block/Product/View/Options/AbstractOptions.php
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AssertStorefrontCustomOptionCheckboxByPriceActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/Data/ProductData.xml
  app/code/Magento/Catalog/Test/Mftf/Test/StorefrontCheckCustomOptionPriceDifferentCurrencyTest.xml
Labels: Auto-Tests: Covered, Award: MFTF test coverage, Award: bug fix, Component: Catalog, Priority: P2, Progress: extended testing, QA: Added to Regression Scope, Release Line: 2.4, Severity: S1

#30947 MC-38993: Magento\Authorization\Model\ResourceModel\Rules missing update method
  app/code/Magento/Authorization/Model/Rules.php
  dev/tests/static/testsuite/Magento/Test/Legacy/_files/obsolete_methods.php
Labels: Auto-Tests: Not Required, Award: bug fix, Component: Authorization, Priority: P1, Progress: extended testing, Release Line: 2.4, Severity: S1
