Repository magento/magento2, pull requests merged in 2020-05, with the labels that each got.

#28048 Correct height for media gallery images
  app/code/Magento/Cms/view/adminhtml/templates/browser/content/files.phtml
  app/design/adminhtml/Magento/backend/web/css/source/components/_file-insertion.less
Labels: Area: Design/Frontend, Area: Frontend, Auto-Tests: Not Required, Component: Cms, Progress: accept, Release Line: 2.4

#27948 ASI: Fix observers
  app/code/Magento/MediaContent/etc/di.xml
  app/code/Magento/MediaContentApi/Model/Composite/GetEntityContents.php
  app/code/Magento/MediaContentApi/Model/GetEntityContentsInterface.php
  app/code/Magento/MediaContentApi/Model/SearchPatternConfigInterface.php
  app/code/Magento/MediaContentApi/etc/di.xml
  app/code/Magento/MediaContentCatalog/Model/ResourceModel/GetEntityContent.php
  app/code/Magento/MediaContentCatalog/Observer/Category.php
  app/code/Magento/MediaContentCatalog/Observer/Product.php
  app/code/Magento/MediaContentCatalog/composer.json
  app/code/Magento/MediaContentCatalog/etc/di.xml
  dev/tests/integration/testsuite/Magento/Catalog/_files/product_multiwebsite_different_description.php
  dev/tests/integration/testsuite/Magento/Catalog/_files/product_multiwebsite_different_description_rollback.php
  dev/tests/integration/testsuite/Magento/MediaContentCatalog/Model/ResourceModel/GetEntityContentTest.php
  dev/tests/integration/testsuite/Magento/MediaContentCatalog/_files/category_with_asset.php
  dev/tests/integration/testsuite/Magento/MediaContentCatalog/_files/category_with_asset_rollback.php
  dev/tests/integration/testsuite/Magento/MediaContentCatalog/_files/product_with_asset.php
  dev/tests/integration/testsuite/Magento/MediaContentCatalog/_files/product_with_asset_rollback.php
  dev/tests/integration/testsuite/Magento/MediaContentCms/_files/block_with_asset.php
  dev/tests/integration/testsuite/Magento/MediaContentCms/_files/block_with_asset_rollback.php
  dev/tests/integration/testsuite/Magento/MediaContentCms/_files/page_with_asset.php
  dev/tests/integration/testsuite/Magento/MediaContentCms/_files/page_with_asset_rollback.php
Labels: Auto-Tests: Covered, Component: MediaContent, Component: MediaContentApi, Component: MediaContentCatalog, Progress: accept, Release Line: 2.4

#27662 MC-33148: A link to resend a confirmation email is not clickable
  app/code/Magento/Catalog/Helper/Output.php
  app/code/Magento/Customer/Controller/Account/Confirm.php
  app/code/Magento/Customer/Controller/Account/LoginPost.php
  app/code/Magento/Customer/Test/Unit/Controller/Account/ConfirmTest.php
  app/code/Magento/Customer/Test/Unit/Controller/Account/LoginPostTest.php
  app/code/Magento/Customer/etc/frontend/di.xml
  app/code/Magento/Customer/view/frontend/templates/messages/confirmAccountErrorMessage.phtml
  dev/tests/integration/testsuite/Magento/Catalog/Helper/OutputTest.php
  dev/tests/integration/testsuite/Magento/Customer/Controller/Account/LoginPostTest.php
Labels: Area: Frontend, Auto-Tests: Covered, Component: Catalog, Component: Customer, Priority: P1, Progress: accept, Release Line: 2.4, Severity: S1

#26704 covered mftf test to create new search term
  app/code/Magento/AdvancedSearch/Test/Mftf/ActionGroup/AdminFillSearchTermActionGroup.xml
  app/code/Magento/AdvancedSearch/Test/Mftf/ActionGroup/AdminOpenNewSearchTermsPageActionGroup.xml
  app/code/Magento/AdvancedSearch/Test/Mftf/ActionGroup/AdminSaveSearchTermActionGroup.xml
  app/code/Magento/AdvancedSearch/Test/Mftf/Data/SearchTermsData.xml
  app/code/Magento/AdvancedSearch/Test/Mftf/Page/AdminSearchTermsFormPage.xml
  app/code/Magento/AdvancedSearch/Test/Mftf/Section/AdminSearchTermsPageFormFieldsSection.xml
  app/code/Magento/AdvancedSearch/Test/Mftf/Test/AdminAddSearchTermTest.xml
Labels: Auto-Tests: Covered, Award: MFTF test coverage, Award: category of expertise, Component: AdvancedSearch, Partner: Ziffity, Progress: accept, Release Line: 2.4, partners-contribution

#26474 Adjusted TransportBuilder prepareMessage method to support text/plain…
  lib/internal/Magento/Framework/Mail/Template/TransportBuilder.php
Labels: Progress: pending review

#27572 Fix widget recent view product not fit in mobile view
  app/design/frontend/Magento/blank/Magento_Catalog/web/css/source/_widgets.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Award: bug fix, Event: Global-Contribution-Day, Priority: P2, Progress: Added to Regression Testing, Progress: accept, Release Line: 2.4, Severity: S3

#27455 #23440 fix Refund for bundle product without receiving product back e…
  app/code/Magento/Sales/Model/Order/CreditmemoFactory.php
  app/code/Magento/Sales/Test/Mftf/ActionGroup/AdminOpenAndFillCreditMemoRefundBundleWithQtyActionGroup.xml
  app/code/Magento/Sales/Test/Mftf/Section/AdminCreditMemoItemsSection.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCreateCreditmemoWithBundleProductTest.xml
  app/code/Magento/Sales/Test/Unit/Model/Order/CreditmemoFactoryTest.php
Labels: Auto-Tests: Covered, Award: MFTF test coverage, Award: bug fix, Component: Sales, Priority: P2, Progress: Added to Regression Testing, Progress: accept, Release Line: 2.4, Severity: S1

#27359 Issue 27358
  app/code/Magento/CatalogSearch/Test/Mftf/ActionGroup/StorefrontAssertUnableSearchNegativeForPriceFieldActionGroup.xml
  app/code/Magento/CatalogSearch/Test/Mftf/Data/MessageAndHintData.xml
  app/code/Magento/CatalogSearch/Test/Mftf/Section/StorefrontCatalogSearchAdvancedFormSection.xml
  app/code/Magento/CatalogSearch/Test/Mftf/Test/StorefrontCheckUnableAdvancedSearchWithNegativePriceTest.xml
  app/code/Magento/CatalogSearch/view/frontend/templates/advanced/form.phtml
Labels: Area: Frontend, Auto-Tests: Covered, Award: bug fix, Component: CatalogSearch, Partner: Krish TechnoLabs, Priority: P2, Progress: Added to Regression Testing, Progress: accept, Release Line: 2.4, Severity: S2, partners-contribution

#27876 Add GraphQL mutations for Reset password for MyAccount
  app/code/Magento/CustomerGraphQl/Model/Resolver/RequestPasswordResetEmail.php
  app/code/Magento/CustomerGraphQl/Model/Resolver/ResetPassword.php
  app/code/Magento/CustomerGraphQl/etc/graphql/di.xml
  app/code/Magento/CustomerGraphQl/etc/schema.graphqls
  dev/tests/api-functional/testsuite/Magento/GraphQl/Customer/RequestPasswordResetEmailTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Customer/ResetPasswordTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Customer/StoreConfigTest.php
Labels: Auto-Tests: Covered, Award: category of expertise, Award: test coverage, Component: CustomerGraphQl, Partner: Atwix, Priority: P1, Progress: accept, Release Line: 2.4, Severity: S1, partners-contribution

#27414 Resolved Cannot create shipment for remaining items
  app/code/Magento/Sales/Model/Order/Item.php
  app/code/Magento/Sales/Test/Unit/Model/Order/ItemTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: Sales, Priority: P1, Progress: accept, Release Line: 2.4, Severity: S1

#27622 Prevent leaking of variables to global scope
  lib/internal/Magento/Framework/RequireJs/Config.php
  lib/internal/Magento/Framework/RequireJs/Test/Unit/ConfigTest.php
Labels: Auto-Tests: Not Required, Component: RequireJs, Event: Global-Contribution-Day, Partner: creativestyle, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2, improvement, partners-contribution

#27270 Adjust mechanism that moves all scripts to the end of the page
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminCreateSimpleProductActionGroup.xml
  app/code/Magento/Sales/Test/Mftf/Data/DeveloperConfigData.xml
  app/code/Magento/Sales/Test/Mftf/Test/StorefrontCreateOrdersWithMoveJSCodeBottomTest.xml
  app/code/Magento/Theme/Controller/Result/JsFooterPlugin.php
  app/code/Magento/Theme/Test/Unit/Controller/Result/JsFooterPluginTest.php
  app/code/Magento/Theme/etc/frontend/di.xml
Labels: Auto-Tests: Covered, Award: bug fix, Award: category of expertise, Component: Catalog, Component: Sales, Component: Theme, Partner: creativestyle, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2, partners-contribution

#28168 Update Issue and PR templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/developer-experience-issue.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Auto-Tests: Not Required, Priority: P4, Progress: accept, Release Line: 2.4, Severity: S4

#28150 Invalidate product index after change product position in the category
  app/code/Magento/Catalog/Model/ResourceModel/Category.php
  dev/tests/integration/testsuite/Magento/Catalog/Model/Indexer/Category/ProductTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: Catalog, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S2

#28113 LoginToStorefrontActionGroup action group is utilize in existing MFTF
  app/code/Magento/Catalog/Test/Mftf/Test/StorefrontPurchaseProductWithCustomOptionsWithLongValuesTitleTest.xml
  app/code/Magento/Customer/Test/Mftf/Test/StorefrontDeleteCustomerAddressTest.xml
  app/code/Magento/Customer/Test/Mftf/Test/StorefrontPersistedCustomerLoginTest.xml
  app/code/Magento/Wishlist/Test/Mftf/Test/ConfigurableProductChildImageShouldBeShownOnWishListTest.xml
  app/code/Magento/Wishlist/Test/Mftf/Test/StorefrontDeletePersistedWishlistTest.xml
Labels: Auto-Tests: Not Required, Award: MFTF test coverage, Component: Catalog, Component: Customer, Component: Wishlist, Partner: Ziffity, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#27957 Feature bulgarian country regions
  app/code/Magento/Directory/Setup/Patch/Data/AddDataForBulgaria.php
  dev/tests/integration/testsuite/Magento/Directory/Model/RegionTest.php
Labels: Auto-Tests: Covered, Component: Directory, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#26572 Improve developer experience: RuntimeException thrown by AbstractFactory::createObject now contains the reason.
  lib/internal/Magento/Framework/ObjectManager/Factory/AbstractFactory.php
  lib/internal/Magento/Framework/ObjectManager/Test/Unit/Factory/CompiledTest.php
Labels: Auto-Tests: Covered, Component: ObjectManager, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S4

#28174 Added missing translation for modal title & buttons on admin
  app/code/Magento/CatalogInventory/i18n/en_US.csv
  app/code/Magento/CatalogInventory/view/adminhtml/ui_component/product_form.xml
  app/code/Magento/Customer/i18n/en_US.csv
  app/code/Magento/Customer/view/base/ui_component/customer_form.xml
Labels: Area: Frontend, Auto-Tests: Not Required, Component: CatalogInventory, Component: Customer, Partner: Ziffity, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#28108 Can't translate FPT text on checkout/cart page
  app/code/Magento/Weee/view/frontend/layout/checkout_index_index.xml
Labels: Area: Frontend, Auto-Tests: Not Required, Award: bug fix, Component: Weee, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#28112 MFTF: Admin Deletes CMS Page
  app/code/Magento/Cms/Test/Mftf/ActionGroup/AdminDeleteCmsPageFromGridActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/ActionGroup/AdminSearchCmsPageInGridByUrlKeyActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/ActionGroup/AssertAdminCmsPageIsNotInGridActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/Section/CmsPagesPageActionsSection.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminDeleteCmsPageTest.xml
  app/code/Magento/Widget/Test/Mftf/Test/ProductsListWidgetTest.xml
Labels: Auto-Tests: Covered, Award: MFTF test coverage, Component: Cms, Component: Widget, Partner: Atwix, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#27828 Remove unwanted styles for email preview
  app/code/Magento/Email/view/adminhtml/layout/adminhtml_email_template_preview.xml
Labels: Area: Frontend, Auto-Tests: Not Required, Award: bug fix, Component: Email, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3

#27642 Fix 27633 duplicate property style
  app/design/adminhtml/Magento/backend/Magento_Ui/web/css/source/module/_data-grid.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Award: bug fix, Priority: P4, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S4

#27134 Handling exception on individual callback
  lib/internal/Magento/Framework/Model/ResourceModel/AbstractResource.php
  lib/internal/Magento/Framework/Model/Test/Unit/ResourceModel/AbstractResourceTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: Model, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3

#28084 Fix inconsistent visual labels form login in theme blank
  app/design/frontend/Magento/blank/Magento_Customer/web/css/source/_module.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Cleanup, Priority: P4, Progress: accept, Release Line: 2.4, Severity: S4

#28083 Fix issue button used action-primary class changed color if click outside
  app/design/frontend/Magento/blank/web/css/source/_buttons.less
  app/design/frontend/Magento/luma/web/css/source/_buttons.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Award: bug fix, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3

#28039 StorefrontLoginWithIncorrectCredentialsTest refactored
  app/code/Magento/Customer/Test/Mftf/Test/StorefrontLoginWithIncorrectCredentialsTest.xml
Labels: Auto-Tests: Not Required, Award: MFTF test coverage, Component: Customer, Partner: Ziffity, Progress: accept, Release Line: 2.4, partners-contribution

#28032 Fix icon advance attributes properties not change
  app/code/Magento/ConfigurableProduct/view/adminhtml/web/template/variations/steps/summary-grid.html
  app/design/adminhtml/Magento/backend/Magento_Backend/web/css/source/module/main/_collapsible-blocks.less
Labels: Area: Design/Frontend, Area: Frontend, Auto-Tests: Not Required, Award: bug fix, Component: ConfigurableProduct, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S4

#27670 [MFTF] remove redundunt ActionGroup
  app/code/Magento/SalesRule/Test/Mftf/ActionGroup/StorefrontClickOnMiniCartActionGroup.xml
Labels: Auto-Tests: Not Required, Component: SalesRule, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#27990 Fixed #26118 Cms Block Graphql Scope wise Data issue
  app/code/Magento/CmsGraphQl/Model/Resolver/DataProvider/Block.php
Labels: Community Insider: Cedcommerce, Component: Cms, Progress: needs update, Release Line: 2.4, community-insider-contribution

#28300 Fix issue when db_prefix is used
  app/code/Magento/MediaGallery/Model/Keyword/Command/GetAssetKeywords.php
  app/code/Magento/MediaGallery/Model/ResourceModel/Keyword/GetAssetsKeywords.php
Labels: Auto-Tests: Covered, Component: MediaGallery, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4

#28220 Set property to false to avoid state being ignored on bookmark
  app/code/Magento/Ui/view/base/web/js/grid/columns/image-preview.js
  dev/tests/js/jasmine/tests/app/code/Magento/Ui/base/js/grid/columns/image-preview.test.js
Labels: Area: Frontend, Auto-Tests: Covered, Component: Ui, Progress: accept, Release Line: 2.4

#28219 Provide pathId param on browser.js
  app/code/Magento/Ui/view/base/web/js/form/element/image-uploader.js
  dev/tests/js/jasmine/tests/app/code/Magento/Ui/base/js/form/element/image-uploader.test.js
  dev/tests/js/jasmine/tests/lib/mage/browser.test.js
  lib/web/mage/adminhtml/browser.js
Labels: Area: Frontend, Area: Lib/Frontend, Auto-Tests: Covered, Component: Ui, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4

#28140 Fixed the problem with products create/update via REST API requests when request body data is sent as "xml"
  app/code/Magento/Catalog/Model/Product/Webapi/Rest/RequestTypeBasedDeserializer.php
  app/code/Magento/Catalog/Test/Unit/Model/Product/Webapi/Rest/RequestTypeBasedDeserializerTest.php
  app/code/Magento/Catalog/etc/webapi_rest/di.xml
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: Catalog, Partner: Comwrap, Priority: P1, Progress: accept, Release Line: 2.4, Severity: S1, partners-contribution
