Repository magento/magento2, pull requests merged in 2020-03, with the labels that each got.

#27114 magento/magento2#: Remove a redundant PHP5 directives from .htaccess
  .htaccess
Labels: Auto-Tests: Not Required, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#27057 Removed redundant method _beforeToHtml
  app/code/Magento/Newsletter/Block/Adminhtml/Subscriber.php
Labels: Auto-Tests: Not Required, Cleanup, Component: Newsletter, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#27033 Catalog image lazy load
  app/code/Magento/Catalog/view/frontend/templates/product/image.phtml
  app/code/Magento/Catalog/view/frontend/templates/product/image_with_borders.phtml
Labels: Area: Frontend, Auto-Tests: Not Required, Component: Catalog, Progress: accept, Release Line: 2.4

#26907 Open separate page when click 'View' in CMS pages(Grid)
  app/code/Magento/Cms/Test/Unit/Ui/Component/Listing/Column/PageActionsTest.php
  app/code/Magento/Cms/Ui/Component/Listing/Column/PageActions.php
  app/code/Magento/Widget/Test/Mftf/Test/ProductsListWidgetTest.xml
Labels: Auto-Tests: Covered, Component: Cms, Component: Widget, Partner: ISM eCompany, Progress: accept, Release Line: 2.4, partners-contribution

#26619 Cover CartTotalRepositoryPlugin by unit test and correct docblock
  app/code/Magento/Multishipping/Model/Cart/CartTotalRepositoryPlugin.php
  app/code/Magento/Multishipping/Test/Unit/Model/Cart/CartTotalRepositoryPluginTest.php
  app/code/Magento/Multishipping/view/frontend/layout/multishipping_checkout_customer_address.xml
Labels: Area: Frontend, Auto-Tests: Covered, Component: Multishipping, Progress: accept, Release Line: 2.4

#26778 Eliminate the need for inheritance for action controllers.
  app/code/Magento/Backend/App/AbstractAction.php
  app/code/Magento/Backend/App/Action/Plugin/LoadDesignPlugin.php
  app/code/Magento/Backend/etc/adminhtml/di.xml
  app/code/Magento/Captcha/Observer/CheckUserForgotPasswordBackendObserver.php
  app/code/Magento/Captcha/Test/Unit/Observer/CheckUserForgotPasswordBackendObserverTest.php
  app/code/Magento/Catalog/Controller/Adminhtml/Product/MassDelete.php
  app/code/Magento/Customer/Model/App/Action/ContextPlugin.php
  app/code/Magento/Customer/Model/Plugin/CustomerNotification.php
  app/code/Magento/Customer/Model/Visitor.php
  app/code/Magento/Customer/Test/Unit/Model/App/Action/ContextPluginTest.php
  app/code/Magento/Customer/Test/Unit/Model/Plugin/CustomerNotificationTest.php
  app/code/Magento/Customer/Test/Unit/Model/VisitorTest.php
  app/code/Magento/Customer/etc/di.xml
  app/code/Magento/Customer/etc/frontend/di.xml
  app/code/Magento/Store/App/Action/Plugin/StoreCheck.php
  app/code/Magento/Store/Test/Unit/App/Action/Plugin/StoreCheckTest.php
  app/code/Magento/Store/etc/di.xml
  app/code/Magento/Tax/Model/App/Action/ContextPlugin.php
  app/code/Magento/Tax/Test/Unit/App/Action/ContextPluginTest.php
  app/code/Magento/Tax/etc/frontend/di.xml
  app/code/Magento/Theme/Model/Theme/Plugin/Registration.php
  app/code/Magento/Theme/Test/Unit/Model/Theme/Plugin/RegistrationTest.php
  app/code/Magento/Weee/Model/App/Action/ContextPlugin.php
  app/code/Magento/Weee/Test/Unit/App/Action/ContextPluginTest.php
  app/code/Magento/Weee/etc/frontend/di.xml
  dev/tests/integration/testsuite/Magento/Authorizenet/Controller/Adminhtml/Authorizenet/Directpost/Payment/PlaceTest.php
  dev/tests/integration/testsuite/Magento/Cms/Controller/Adminhtml/Wysiwyg/Images/DeleteFilesTest.php
  dev/tests/integration/testsuite/Magento/Cms/Controller/Adminhtml/Wysiwyg/Images/DeleteFolderTest.php
  dev/tests/integration/testsuite/Magento/Cms/Controller/Adminhtml/Wysiwyg/Images/NewFolderTest.php
  dev/tests/integration/testsuite/Magento/Cms/Controller/Adminhtml/Wysiwyg/Images/UploadTest.php
  dev/tests/integration/testsuite/Magento/Framework/App/ControllerActionTest.php
  dev/tests/integration/testsuite/Magento/Framework/App/TestStubs/InheritanceBasedBackendAction.php
  dev/tests/integration/testsuite/Magento/Framework/App/TestStubs/InheritanceBasedFrontendAction.php
  dev/tests/integration/testsuite/Magento/Framework/App/TestStubs/InterfaceOnlyBackendAction.php
  dev/tests/integration/testsuite/Magento/Framework/App/TestStubs/InterfaceOnlyFrontendAction.php
  dev/tests/integration/testsuite/Magento/Paypal/Controller/Billing/AgreementTest.php
  lib/internal/Magento/Framework/App/Action/Action.php
  lib/internal/Magento/Framework/App/Action/Plugin/ActionFlagNoDispatchPlugin.php
  lib/internal/Magento/Framework/App/Action/Plugin/EventDispatchPlugin.php
  lib/internal/Magento/Framework/App/Action/Plugin/LoadDesignPlugin.php
  lib/internal/Magento/Framework/App/ActionInterface.php
  lib/internal/Magento/Framework/App/Test/Unit/Action/ActionTest.php
  lib/internal/Magento/Framework/App/Test/Unit/Action/Plugin/DesignTest.php
  lib/internal/Magento/Framework/App/Test/Unit/Action/Plugin/LoadDesignPluginTest.php
Labels: Auto-Tests: Covered, Award: advanced, Award: category of expertise, Award: complex, Award: special achievement, Award: test coverage, Complex Review, Component: Backend, Component: Captcha, Component: Catalog, Component: Customer, Component: Store, Component: Tax, Component: Theme, Component: Weee, Partner: Mediotype, Progress: accept, Release Line: 2.4, partners-contribution

#27196 Remove @author annotation from Magento framework
  lib/internal/Magento/Framework/Component/ComponentRegistrar.php
  lib/internal/Magento/Framework/Component/ComponentRegistrarInterface.php
  lib/internal/Magento/Framework/Module/ModuleList/Loader.php
Labels: Auto-Tests: Not Required, Cleanup, Component: Component, Component: Module, Partner: Maginus, Progress: accept, Release Line: 2.4, partners-contribution

#27149 27027 added date format adjustment for 'validate-dob' rule
  app/code/Magento/Customer/Test/Mftf/ActionGroup/AssertAdminCustomerDateOfBirthValidationMessageActionGroup.xml
  app/code/Magento/Customer/Test/Mftf/Section/AdminCustomerAccountInformationSection.xml
  app/code/Magento/Customer/Test/Mftf/Test/AdminCheckDateOfBirthValidationForFranceDateFormatTest.xml
  app/code/Magento/Ui/view/base/web/js/lib/validation/rules.js
Labels: Area: Frontend, Auto-Tests: Covered, Award: MFTF test coverage, Award: bug fix, Component: Customer, Component: Ui, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#27138 Removed unnecessary tabindex property
  app/code/Magento/Ui/view/base/web/templates/grid/masonry.html
Labels: Area: Frontend, Auto-Tests: Not Required, Award: bug fix, Component: Ui, Partner: Zilker Technology, Progress: accept, Release Line: 2.4, partners-contribution

#27131 26758 improved cms page custom layout update logic
  app/code/Magento/Cms/Model/Page/CustomLayout/CustomLayoutManager.php
  dev/tests/integration/testsuite/Magento/Cms/Controller/PageTest.php
  dev/tests/integration/testsuite/Magento/Cms/Model/Page/CustomLayoutManagerTest.php
  dev/tests/integration/testsuite/Magento/Cms/_files/home_with_custom_handle.php
  dev/tests/integration/testsuite/Magento/Cms/_files/home_with_custom_handle_rollback.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: Cms, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#27084 Cleanup ObjectManager usage - Magento_CacheInvalidate
  app/code/Magento/CacheInvalidate/Observer/InvalidateVarnishObserver.php
  app/code/Magento/CacheInvalidate/Test/Unit/Observer/InvalidateVarnishObserverTest.php
Labels: Auto-Tests: Covered, Cleanup, Component: CacheInvalidate, Partner: Fast White Cat, Progress: accept, Release Line: 2.4, partners-contribution

#27083 Cleanup ObjectManager usage - Magento_AsynchronousOperations
  app/code/Magento/AsynchronousOperations/Model/BulkManagement.php
  app/code/Magento/AsynchronousOperations/Model/MassConsumer.php
  app/code/Magento/AsynchronousOperations/Model/MassSchedule.php
Labels: Auto-Tests: Not Required, Cleanup, Component: AsynchronousOperations, Partner: Fast White Cat, Progress: accept, Release Line: 2.4, partners-contribution

#27080 Cleanup ObjectManager usage - Magento_EncryptionKey
  app/code/Magento/EncryptionKey/Controller/Adminhtml/Crypt/Key/Index.php
  app/code/Magento/EncryptionKey/Setup/Patch/Data/SodiumChachaPatch.php
  app/code/Magento/EncryptionKey/etc/di.xml
Labels: Auto-Tests: Not Required, Cleanup, Component: EncryptionKey, Partner: Fast White Cat, Progress: accept, Release Line: 2.4, partners-contribution

#27082 Cleanup ObjectManager usage - Magento_Analytics
  app/code/Magento/Analytics/Block/Adminhtml/System/Config/CollectionTimeLabel.php
  app/code/Magento/Analytics/Test/Unit/Block/Adminhtml/System/Config/CollectionTimeLabelTest.php
Labels: Auto-Tests: Covered, Cleanup, Component: Analytics, Partner: Fast White Cat, Progress: accept, Release Line: 2.4, partners-contribution

#27026 Issue 27009: Fix error fire on catch when create new theme
  lib/internal/Magento/Framework/View/Page/Config/Renderer.php
Labels: Auto-Tests: Not Required, Award: bug fix, Component: View, Progress: accept, Release Line: 2.4

#27029 #26847: Added 'enterKey' event handler to prompt widget
  app/code/Magento/Cms/Test/Mftf/ActionGroup/ClickInsertEditImageTinyMCEButtonActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/ActionGroup/CreateImageFolderByEnterKeyActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/ActionGroup/DeleteFolderActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/ActionGroup/PressEscImageFolderActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/Section/TinyMCESection.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminCheckCreateFolderEscapeAndEnterHandlesForWYSIWYGBlockTest.xml
  app/code/Magento/Ui/view/base/web/js/modal/prompt.js
Labels: Area: Frontend, Auto-Tests: Covered, Award: MFTF test coverage, Award: bug fix, Award: category of expertise, Component: Cms, Component: Ui, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#27014 Fix #26992 Add new rating is active checkbox alignment issue
  app/design/adminhtml/Magento/backend/Magento_Catalog/web/css/source/_module.less
  app/design/adminhtml/Magento/backend/Magento_Customer/web/css/source/_module.less
  app/design/adminhtml/Magento/backend/Magento_Tax/web/css/source/_module.less
  app/design/adminhtml/Magento/backend/web/css/source/forms/_fields.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Award: bug fix, Partner: Ziffity, Progress: accept, Release Line: 2.4, partners-contribution

#26964 Cleanup ObjectManager usage - Magento_Elasticsearch
  app/code/Magento/Elasticsearch/Elasticsearch5/Model/Adapter/BatchDataMapper/CategoryFieldsProvider.php
  app/code/Magento/Elasticsearch/Elasticsearch5/Model/Adapter/DataMapper/ProductDataMapper.php
  app/code/Magento/Elasticsearch/Elasticsearch5/Model/Adapter/FieldMapper/ProductFieldMapper.php
  app/code/Magento/Elasticsearch/Elasticsearch5/SearchAdapter/Adapter.php
  app/code/Magento/Elasticsearch/Elasticsearch5/SearchAdapter/Query/Builder.php
  app/code/Magento/Elasticsearch/Model/Adapter/BatchDataMapper/CategoryFieldsProvider.php
  app/code/Magento/Elasticsearch/Model/Adapter/BatchDataMapper/PriceFieldsProvider.php
  app/code/Magento/Elasticsearch/Model/Adapter/Elasticsearch.php
  app/code/Magento/Elasticsearch/Model/Adapter/FieldMapper/Product/FieldProvider/DynamicField.php
  app/code/Magento/Elasticsearch/Model/Adapter/FieldMapper/Product/FieldProvider/FieldName/Resolver/CategoryName.php
  app/code/Magento/Elasticsearch/Model/Adapter/FieldMapper/Product/FieldProvider/FieldName/Resolver/Position.php
  app/code/Magento/Elasticsearch/Model/Adapter/FieldMapper/Product/FieldProvider/FieldName/Resolver/Price.php
  app/code/Magento/Elasticsearch/Model/Adapter/FieldMapper/Product/FieldProvider/StaticField.php
  app/code/Magento/Elasticsearch/Model/DataProvider/Suggestions.php
  app/code/Magento/Elasticsearch/SearchAdapter/Adapter.php
  app/code/Magento/Elasticsearch/SearchAdapter/Aggregation/Builder.php
  app/code/Magento/Elasticsearch/SearchAdapter/Filter/Builder/Term.php
  app/code/Magento/Elasticsearch/SearchAdapter/Query/Builder.php
  app/code/Magento/Elasticsearch/SearchAdapter/Query/Builder/Match.php
  app/code/Magento/Elasticsearch/SearchAdapter/Query/Preprocessor/Stopwords.php
Labels: Auto-Tests: Not Required, Component: Elasticsearch, Partner: Fast White Cat, Progress: accept, Release Line: 2.4, partners-contribution

#26939 ObjectManager cleanup - Remove usage from AdminNotification module
  app/code/Magento/AdminNotification/Block/System/Messages.php
  app/code/Magento/AdminNotification/Controller/Adminhtml/Notification/AjaxMarkAsRead.php
  app/code/Magento/AdminNotification/Controller/Adminhtml/Notification/MarkAsRead.php
  app/code/Magento/AdminNotification/Controller/Adminhtml/Notification/MassMarkAsRead.php
  app/code/Magento/AdminNotification/Controller/Adminhtml/Notification/MassRemove.php
  app/code/Magento/AdminNotification/Controller/Adminhtml/Notification/Remove.php
  dev/tests/integration/testsuite/Magento/AdminNotification/Controller/Adminhtml/Notification/MassMarkAsReadTest.php
  dev/tests/integration/testsuite/Magento/AdminNotification/Controller/Adminhtml/Notification/MassRemoveTest.php
Labels: Auto-Tests: Covered, Cleanup, Component: AdminNotification, Progress: accept, Release Line: 2.4

#26902 Fix #20309 - URL Rewrites redirect loop
  app/code/Magento/UrlRewrite/Controller/Router.php
  app/code/Magento/UrlRewrite/Model/Storage/DbStorage.php
  app/code/Magento/UrlRewrite/Test/Unit/Controller/RouterTest.php
  app/code/Magento/UrlRewrite/Test/Unit/Model/Storage/DbStorageTest.php
  dev/tests/integration/testsuite/Magento/UrlRewrite/Controller/UrlRewriteTest.php
  dev/tests/integration/testsuite/Magento/UrlRewrite/_files/url_rewrite.php
  dev/tests/integration/testsuite/Magento/UrlRewrite/_files/url_rewrite_rollback.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: UrlRewrite, Partner: Fast White Cat, Progress: accept, Release Line: 2.4, partners-contribution

#26649 table bottom color different then thead and tbody border color
  app/design/frontend/Magento/luma/Magento_Customer/web/css/source/_module.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Award: bug fix, Event: mm20in, Partner: Wagento, Progress: accept, Release Line: 2.4, partners-contribution

#26642 MAG-251090-26590: Fixed Customer registration multiple form submit
  app/code/Magento/Customer/view/frontend/templates/form/register.phtml
Labels: Area: Frontend, Auto-Tests: Not Required, Award: bug fix, Component: Customer, Event: mm20in, Progress: accept, Release Line: 2.4

#26563 magento/magento2#: Test Coverage. API functional tests. removeItemFromCart
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Customer/RemoveItemFromCartTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Guest/RemoveItemFromCartTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#25454 TinyMCE4 hard to input double byte characters on chrome
  lib/web/mage/adminhtml/wysiwyg/tiny_mce/tinymce4Adapter.js
Labels: Area: Lib/Frontend, Auto-Tests: Not Required, Award: bug fix, Partner: Veriteworks, Progress: accept, Release Line: 2.4, partners-contribution

#24878 Create missing directories in imageuploader tree if they don't alread…
  app/code/Magento/Cms/Helper/Wysiwyg/Images.php
  app/code/Magento/Cms/Test/Unit/Helper/Wysiwyg/ImagesTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: Cms, Progress: accept, Release Line: 2.4, Squashtoberfest 2019

#24743 fix issue 24735
  app/code/Magento/Catalog/view/frontend/web/template/product/image_with_borders.html
  app/design/frontend/Magento/blank/etc/view.xml
  app/design/frontend/Magento/luma/etc/view.xml
Labels: Area: Design/Frontend, Area: Frontend, Auto-Tests: Not Required, Award: bug fix, Component: Catalog, Progress: accept, Release Line: 2.4

#23742 Add Header (h1 - h6) tags to layout xml htmlTags Allowed types
  dev/tests/integration/testsuite/Magento/Framework/View/LayoutTest.php
  lib/internal/Magento/Framework/View/Layout/Generator/Container.php
  lib/internal/Magento/Framework/View/Layout/etc/elements.xsd
Labels: Auto-Tests: Covered, Award: advanced, Award: test coverage, Component: View, Progress: accept, Release Line: 2.4

#22442 Add support for char element to dto factory
  app/etc/di.xml
  dev/tests/setup-integration/_files/Magento/TestSetupDeclarationModule1/etc/db_schema.xml
  dev/tests/setup-integration/_files/Magento/TestSetupDeclarationModule1/fixture/declarative_installer/column_modification.php
  dev/tests/setup-integration/_files/Magento/TestSetupDeclarationModule1/fixture/declarative_installer/constraint_modification.php
  dev/tests/setup-integration/_files/Magento/TestSetupDeclarationModule1/fixture/dry_run_log.php
  dev/tests/setup-integration/_files/Magento/TestSetupDeclarationModule1/fixture/valid_xml_revision_1.php
  lib/internal/Magento/Framework/Setup/Declaration/Schema/Dto/Columns/StringBinary.php
  lib/internal/Magento/Framework/Setup/Declaration/Schema/etc/schema.xsd
  lib/internal/Magento/Framework/Setup/Declaration/Schema/etc/types/texts/char.xsd
  lib/internal/Magento/Framework/Setup/SchemaListenerDefinition/CharDefinition.php
Labels: Auto-Tests: Covered, Component: Setup, Progress: accept, Release Line: 2.4

#27179 improve Magento\Catalog\Model\ImageUploader error handler
  app/code/Magento/Catalog/Model/ImageUploader.php
Labels: Auto-Tests: Not Required, Component: Catalog, Progress: accept, Release Line: 2.4

#27145 Cleanup ObjectManager usage - Magento_WebapiAsync
  app/code/Magento/WebapiAsync/Model/Config.php
Labels: Auto-Tests: Not Required, Cleanup, Component: WebapiAsync, Partner: Fast White Cat, Progress: accept, Release Line: 2.4, partners-contribution

#26959 Correctly escape custom product image attributes
  app/code/Magento/Catalog/Block/Product/Image.php
  app/code/Magento/Catalog/Block/Product/ImageFactory.php
  app/code/Magento/Catalog/Test/Unit/Block/Product/ImageFactoryTest.php
  app/code/Magento/Catalog/view/frontend/templates/product/image.phtml
  app/code/Magento/Catalog/view/frontend/templates/product/image_with_borders.phtml
  dev/tests/integration/testsuite/Magento/Swatches/Block/Product/ListProductTest.php
Labels: Area: Frontend, Auto-Tests: Covered, Award: bug fix, Component: Catalog, Partner: XSARUS, Progress: accept, Release Line: 2.4

#26506 #26499 Always transliterate product url key
  app/code/Magento/Bundle/Test/Mftf/Test/AdminCreateAndEditBundleProductSettingsTest.xml
  app/code/Magento/CatalogUrlRewrite/Model/ProductUrlPathGenerator.php
  app/code/Magento/CatalogUrlRewrite/Setup/Patch/Data/UpdateUrlKeyForProducts.php
  app/code/Magento/CatalogUrlRewrite/Test/Unit/Model/ProductUrlPathGeneratorTest.php
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminCreateAndEditConfigurableProductSettingsTest.xml
  app/code/Magento/Downloadable/Test/Mftf/Test/AdminCreateAndEditDownloadableProductSettingsTest.xml
Labels: Auto-Tests: Covered, Component: Bundle, Component: CatalogUrlRewrite, Component: ConfigurableProduct, Component: Downloadable, Progress: accept, Release Line: 2.4

#25722 Magento#25669: fixed issue "health_check.php fails if any database cache engine configured"
  lib/internal/Magento/Framework/Cache/Backend/Database.php
  lib/internal/Magento/Framework/Lock/Backend/Cache.php
  lib/internal/Magento/Framework/Lock/Test/Unit/Backend/CacheTest.php
  pub/health_check.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: category of expertise, Component: Cache, Component: Lock, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#27284 Fix static test failures for class annotaions
  dev/tests/static/framework/Magento/Sniffs/Annotation/ClassAnnotationStructureSniff.php
  dev/tests/static/framework/tests/unit/testsuite/Magento/Sniffs/Annotation/ClassAnnotationStructureSniffTest.php
  dev/tests/static/framework/tests/unit/testsuite/Magento/Sniffs/Annotation/_files/AbstractClassAnnotationFixture.php
  dev/tests/static/framework/tests/unit/testsuite/Magento/Sniffs/Annotation/_files/ClassAnnotationFixture.php
  dev/tests/static/framework/tests/unit/testsuite/Magento/Sniffs/Annotation/_files/ClassAnnotationNoShortDescriptionFixture.php
  dev/tests/static/framework/tests/unit/testsuite/Magento/Sniffs/Annotation/_files/ClassAnnotationNoSpacingBetweenLinesFixture.php
  dev/tests/static/framework/tests/unit/testsuite/Magento/Sniffs/Annotation/_files/abstract_class_annotation_errors.txt
  dev/tests/static/framework/tests/unit/testsuite/Magento/Sniffs/Annotation/_files/class_annotation_errors.txt
  dev/tests/static/framework/tests/unit/testsuite/Magento/Sniffs/Annotation/_files/class_annotation_noshortdescription_errors.txt
  dev/tests/static/framework/tests/unit/testsuite/Magento/Sniffs/Annotation/_files/class_annotation_nospacingbetweenLines_errors.txt
Labels: Auto-Tests: Not Required, Progress: accept, Release Line: 2.4

#27281 TYPO: Fix annoying typo in Quantity word
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/ProductsQtyReturnAfterOrderCancelTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCorrectnessInvoicedItemInBundleProductTest.xml
Labels: Auto-Tests: Not Required, Cleanup, Component: ConfigurableProduct, Component: Sales, Partner: Mediotype, Progress: accept, Release Line: 2.4, partners-contribution

#27277 MFTF: Rename and rewrite Test that fake expired session
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AddSimpleProductToCartActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/StorefrontOpenProductEntityPageActionGroup.xml
  app/code/Magento/Checkout/Test/Mftf/ActionGroup/StorefrontAssertProductAddToCartErrorMessageActionGroup.xml
  app/code/Magento/Checkout/Test/Mftf/ActionGroup/StorefrontAssertProductAddToCartSuccessMessageActionGroup.xml
  app/code/Magento/Checkout/Test/Mftf/ActionGroup/StorefrontProductPageAddSimpleProductToCartActionGroup.xml
  app/code/Magento/Customer/Test/Mftf/ActionGroup/StorefrontFakeBrokenSessionActionGroup.xml
  app/code/Magento/Customer/Test/Mftf/Test/StorefrontAddProductToCartWithExpiredSessionTest.xml
  app/code/Magento/Customer/Test/Mftf/Test/_Deprecated_Test.xml
Labels: Auto-Tests: Covered, Award: MFTF test coverage, Award: category of expertise, Component: Catalog, Component: Checkout, Component: Customer, Partner: Mediotype, Progress: accept, Release Line: 2.4, partners-contribution

#27274 MFTF: Create Account tests (Success & Failure) with `extend`
  app/code/Magento/Customer/Test/Mftf/ActionGroup/SignUpNewUserFromStorefrontActionGroup.xml
  app/code/Magento/Customer/Test/Mftf/Test/StorefrontCreateCustomerTest.xml
  app/code/Magento/Customer/Test/Mftf/Test/StorefrontCreateExistingCustomerTest.xml
Labels: Auto-Tests: Covered, Award: MFTF test coverage, Award: category of expertise, Component: Customer, Partner: Mediotype, Progress: accept, Release Line: 2.4, partners-contribution

#27261 20472 added product list price modifier
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AssertAdminProductGridCellActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/CheckAdminProductGridColumnOptionActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/ClearFiltersAdminProductGridActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/ResetAdminProductGridColumnsActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/ToggleAdminProductGridColumnsDropdownActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/Data/CustomAttributeData.xml
  app/code/Magento/Catalog/Test/Mftf/Data/ProductData.xml
  app/code/Magento/Catalog/Test/Mftf/Section/AdminProductGridSection.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCheckProductListPriceAttributesTest.xml
  app/code/Magento/Catalog/Ui/DataProvider/Product/Modifier/PriceAttributes.php
  app/code/Magento/Catalog/etc/adminhtml/di.xml
  app/code/Magento/Msrp/Test/Mftf/Data/CustomAttributeData.xml
  app/code/Magento/Msrp/Test/Mftf/Data/ProductData.xml
  app/code/Magento/Msrp/Test/Mftf/Test/AdminCheckProductListPriceAttributesTest.xml
  app/code/Magento/Msrp/etc/adminhtml/di.xml
Labels: Auto-Tests: Covered, Award: MFTF test coverage, Award: bug fix, Award: category of expertise, Component: Catalog, Component: Msrp, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#27249 Update Frontend Development Workflow type's comment to be clearer
  app/code/Magento/Developer/etc/adminhtml/system.xml
  app/code/Magento/Developer/i18n/en_US.csv
Labels: Auto-Tests: Not Required, Component: Developer, Partner: Mediotype, Progress: accept, Release Line: 2.4, Technology Partner: Vertex, improvement, partners-contribution, tech-partners-contribution

#26784 [Forward Port PR-14344] Fix generating product URL rewrites for anchor categories
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminChangeSeoUrlKeyForSubCategoryWithoutRedirectActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/Data/CategoryData.xml
  app/code/Magento/CatalogUrlRewrite/Model/Product/AnchorUrlRewriteGenerator.php
  app/code/Magento/CatalogUrlRewrite/Test/Mftf/ActionGroup/AssertStorefrontProductRewriteUrlSubCategoryActionGroup.xml
  app/code/Magento/CatalogUrlRewrite/Test/Mftf/Data/GenerateCategoryProductUrlRewriteConfigData.xml
  app/code/Magento/CatalogUrlRewrite/Test/Mftf/Test/AdminRewriteProductWithTwoStoreTest.xml
  app/code/Magento/CatalogUrlRewrite/Test/Unit/Model/Product/AnchorUrlRewriteGeneratorTest.php
  dev/tests/integration/testsuite/Magento/CatalogUrlRewrite/Model/Product/AnchorUrlRewriteGeneratorTest.php
  dev/tests/integration/testsuite/Magento/CatalogUrlRewrite/_files/categories_with_stores.php
  dev/tests/integration/testsuite/Magento/CatalogUrlRewrite/_files/categories_with_stores_rollback.php
  dev/tests/integration/testsuite/Magento/CatalogUrlRewrite/_files/product_with_stores.php
  dev/tests/integration/testsuite/Magento/CatalogUrlRewrite/_files/product_with_stores_rollback.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: Catalog, Component: CatalogUrlRewrite, Progress: accept, Release Line: 2.4

#26746 In System/Export controlers use MessageManager instead of throwing exceptions
  app/code/Magento/ImportExport/Controller/Adminhtml/Export/File/Delete.php
  app/code/Magento/ImportExport/Controller/Adminhtml/Export/File/Download.php
  app/code/Magento/ImportExport/Test/Unit/Controller/Adminhtml/Export/File/DeleteTest.php
  app/code/Magento/ImportExport/Test/Unit/Controller/Adminhtml/Export/File/DownloadTest.php
  app/code/Magento/ImportExport/i18n/en_US.csv
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: ImportExport, Progress: accept, Release Line: 2.4

#26348 Fixed #26345 Reorder in Admin panel leads to report page in case of changed product custom option max characters
  app/code/Magento/Sales/Controller/Adminhtml/Order/Create/Reorder.php
  app/code/Magento/Sales/Test/Unit/Controller/Adminhtml/Order/Create/ReorderTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Community Insider: Cedcommerce, Component: Sales, Progress: accept, Release Line: 2.4, community-insider-contribution

#27187 26117: "Current user does not have an active cart" even when he actually has one
  app/code/Magento/QuoteGraphQl/Model/Cart/GetCartForUser.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Customer/GetCartTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Customer/MergeCartsTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Guest/GetCartTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: QuoteGraphQl, Progress: accept, Release Line: 2.4

#27170 26825 add all image roles for first product entity
  app/code/Magento/Catalog/Model/Product/Gallery/GalleryManagement.php
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminOpenProductImagesSectionActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AssertAdminProductImageRolesSelectedActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/Data/ProductAttributeMediaGalleryEntryData.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCheckMediaRolesForFirstAddedImageViaApiTest.xml
  app/code/Magento/Catalog/Test/Unit/Model/Product/Gallery/GalleryManagementTest.php
Labels: Auto-Tests: Covered, Award: MFTF test coverage, Award: bug fix, Component: Catalog, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#25733 Resolve Mass Delete Widget should have "Confirmation Modal"
  app/code/Magento/Widget/Test/Mftf/ActionGroup/AdminMassDeleteWidgetActionGroup.xml
  app/code/Magento/Widget/Test/Mftf/Data/WidgetData.xml
  app/code/Magento/Widget/Test/Mftf/Section/AdminWidgetsSection.xml
  app/code/Magento/Widget/Test/Mftf/Test/AdminContentWidgetsMassDeletesTest.xml
  app/code/Magento/Widget/i18n/en_US.csv
  app/code/Magento/Widget/view/adminhtml/layout/adminhtml_widget_instance_block.xml
Labels: Area: Frontend, Auto-Tests: Covered, Award: bug fix, Component: Widget, Progress: accept, Release Line: 2.4, Technology Partner: Magestore, tech-partners-contribution

#27266 MFTF: Enable Persistent Shopping Cart. Assert Options
  app/code/Magento/Backend/Test/Mftf/ActionGroup/AdminNavigateToPersistentShoppingCartSettingsActionGroup.xml
  app/code/Magento/Backend/Test/Mftf/ActionGroup/AssertAdminPersistentShoppingCartOptionsAvailableActionGroup.xml
  app/code/Magento/Backend/Test/Mftf/Page/AdminConfigurationPersistentShoppingCartPage.xml
  app/code/Magento/Backend/Test/Mftf/Test/AdminPersistentShoppingCartSettingsTest.xml
  app/code/Magento/Config/Test/Mftf/Section/AdminPersistentShoppingCartSection.xml
Labels: Auto-Tests: Covered, Award: MFTF test coverage, Component: Backend, Component: Config, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#27165 [feature] Display category filter item in layered navigation based on the system configuration from admin area
  app/code/Magento/Catalog/Model/Config/LayerCategoryConfig.php
  app/code/Magento/Catalog/Model/Layer/FilterList.php
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AssertStorefrontLayeredNavigationCategoryFilterNotVisibleActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AssertStorefrontLayeredNavigationCategoryFilterVisibleActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/Data/ConfigData.xml
  app/code/Magento/Catalog/Test/Mftf/Test/StorefrontCategoryPageWithCategoryFilterTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/StorefrontCategoryPageWithoutCategoryFilterTest.xml
  app/code/Magento/Catalog/Test/Unit/Model/Layer/FilterListTest.php
  app/code/Magento/Catalog/etc/adminhtml/system.xml
  app/code/Magento/Catalog/etc/config.xml
Labels: Auto-Tests: Covered, Award: MFTF test coverage, Award: advanced, Component: Catalog, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#27015 MC-26683: Removed get errors of cart allowing to add product to cart
  app/code/Magento/QuoteGraphQl/Model/Cart/AddProductsToCart.php
  app/code/Magento/QuoteGraphQl/Model/Resolver/CartItems.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Guest/AddSimpleProductToCartTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: QuoteGraphQl, Partner: Vaimo, Progress: accept, Release Line: 2.4, partners-contribution

#26987 Remove unused requirejs alias defined
  app/code/Magento/Theme/view/frontend/requirejs-config.js
Labels: Area: Frontend, Auto-Tests: Not Required, Award: bug fix, Component: Theme, Progress: accept, Release Line: 2.4

#26560 #26473: Improved logic for product image updating for configurable products
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminAssignImageBaseRoleActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/Data/ProductData.xml
  app/code/Magento/Catalog/Test/Mftf/Test/StorefrontConfigurableOptionsThumbImagesTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/StorefrontSelectedByQueryParamsConfigurableOptionsThumbImagesTest.xml
  app/code/Magento/ConfigurableProduct/view/frontend/web/js/configurable.js
  app/code/Magento/Swatches/Test/Mftf/ActionGroup/AdminUpdateAttributeInputTypeActionGroup.xml
  app/code/Magento/Swatches/Test/Mftf/Test/StorefrontConfigurableSwatchOptionsThumbImagesTest.xml
  app/code/Magento/Swatches/Test/Mftf/Test/StorefrontSelectedByQueryParamsConfigurableSwatchOptionsThumbImagesTest.xml
  app/code/Magento/Swatches/view/base/web/js/swatch-renderer.js
  lib/web/mage/gallery/gallery.js
Labels: Area: Frontend, Area: Lib/Frontend, Auto-Tests: Covered, Award: MFTF test coverage, Award: bug fix, Award: category of expertise, Award: special achievement, Component: Catalog, Component: ConfigurableProduct, Component: Swatches, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#25297 Add 'schedule status' column to admin indexer grid
  app/code/Magento/Indexer/Block/Backend/Grid/Column/Renderer/ScheduleStatus.php
  app/code/Magento/Indexer/Block/Backend/Grid/Column/Renderer/Scheduled.php
  app/code/Magento/Indexer/Block/Backend/Grid/Column/Renderer/Status.php
  app/code/Magento/Indexer/Block/Backend/Grid/Column/Renderer/Updated.php
  app/code/Magento/Indexer/Test/Mftf/Data/AdminIndexManagementGridData.xml
  app/code/Magento/Indexer/Test/Mftf/Section/AdminIndexManagementSection.xml
  app/code/Magento/Indexer/Test/Mftf/Test/AdminSystemIndexManagementGridChangesTest.xml
  app/code/Magento/Indexer/Test/Unit/Block/Backend/Grid/Column/Renderer/StatusTest.php
  app/code/Magento/Indexer/view/adminhtml/layout/indexer_indexer_list_grid.xml
Labels: Area: Frontend, Auto-Tests: Covered, Award: advanced, Award: category of expertise, Component: Indexer, Partner: Fisheye, Progress: accept, Release Line: 2.4, Squashtoberfest 2019, partners-contribution

#24479 22251 admin order email is now required 1
  app/code/Magento/Customer/Test/Mftf/Data/CustomerData.xml
  app/code/Magento/Customer/etc/adminhtml/system.xml
  app/code/Magento/Customer/etc/config.xml
  app/code/Magento/Sales/Block/Adminhtml/Order/Create/Form/Account.php
  app/code/Magento/Sales/Model/AdminOrder/Create.php
  app/code/Magento/Sales/Test/Mftf/ActionGroup/CheckRequiredFieldsNewOrderFormActionGroup.xml
  app/code/Magento/Sales/Test/Mftf/ActionGroup/VerifyCreatedOrderInformationWithGeneratedEmailActionGroup.xml
  app/code/Magento/Sales/Test/Mftf/Data/ConfigData.xml
  app/code/Magento/Sales/Test/Mftf/Section/AdminOrderFormAccountSection.xml
  app/code/Magento/Sales/Test/Mftf/Section/AdminOrderFormBillingAddressSection.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCreateOrderWithCustomerWithoutEmailTest.xml
  app/code/Magento/Sales/etc/adminhtml/system.xml
  app/code/Magento/Sales/etc/config.xml
  app/code/Magento/Sales/i18n/en_US.csv
Labels: Auto-Tests: Covered, Award: bug fix, Award: special achievement, Component: Customer, Component: Sales, Progress: accept, Release Line: 2.4

#27273 MFTF: Test isolation, consistent naming (backwards-compatible)
  app/code/Magento/Customer/Test/Mftf/Test/StorefrontResetCustomerPasswordFailedTest.xml
  app/code/Magento/Customer/Test/Mftf/Test/StorefrontResetCustomerPasswordSuccessTest.xml
  app/code/Magento/Customer/Test/Mftf/Test/_Deprecated_Test.xml
Labels: Auto-Tests: Covered, Award: bug fix, Award: category of expertise, Component: Customer, Partner: Mediotype, Progress: accept, Release Line: 2.4, partners-contribution

#27237 magento/magento2#26749: Saving CMS Page Title from REST web API makes content empty
  app/code/Magento/Cms/Model/PageRepository.php
  app/code/Magento/Cms/etc/di.xml
  dev/tests/api-functional/testsuite/Magento/Cms/Api/PageRepositoryTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: Cms, Progress: accept, Release Line: 2.4

#27215 Cleanup ObjectManager usage - Magento_Translation
  app/code/Magento/Translation/Model/FileManager.php
  app/code/Magento/Translation/Model/Inline/Parser.php
  app/code/Magento/Translation/Model/Json/PreProcessor.php
  app/code/Magento/Translation/Model/ResourceModel/StringUtils.php
  app/code/Magento/Translation/Model/ResourceModel/Translate.php
  app/code/Magento/Translation/Test/Unit/Model/Inline/ParserTest.php
Labels: Auto-Tests: Covered, Award: category of expertise, Component: Translation, Partner: Fast White Cat, Progress: accept, Release Line: 2.4, partners-contribution

#27125 #27124: Update wishlist image logic to match logic on wishlist page
  app/code/Magento/Wishlist/Block/Share/Email/Items.php
  app/code/Magento/Wishlist/view/frontend/templates/email/items.phtml
Labels: Area: Frontend, Auto-Tests: Not Required, Award: bug fix, Component: Wishlist, Partner: Blue Acorn, Progress: accept, Release Line: 2.4, partners-contribution

#26015 Remove media gallery assets metadata when a directory removed
  app/code/Magento/MediaGallery/Model/Asset/Command/DeleteByDirectoryPath.php
  app/code/Magento/MediaGallery/Plugin/Wysiwyg/Images/Storage.php
  app/code/Magento/MediaGallery/Test/Unit/Model/Asset/Command/DeleteByDirectoryPathTest.php
  app/code/Magento/MediaGallery/Test/Unit/Plugin/Images/StorageTest.php
  app/code/Magento/MediaGallery/etc/di.xml
  app/code/Magento/MediaGalleryApi/Model/Asset/Command/DeleteByDirectoryPathInterface.php
  lib/web/mage/adminhtml/browser.js
Labels: Area: Lib/Frontend, Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: MediaGallery, Component: MediaGalleryApi, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#25734 Experius 2.3 patch catalog flat
  app/code/Magento/Catalog/Model/Indexer/Product/Flat/Action/Eraser.php
  app/code/Magento/Catalog/Model/Indexer/Product/Flat/Action/Rows.php
  dev/tests/integration/testsuite/Magento/Catalog/Model/Indexer/Product/Flat/Action/RowsTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: Catalog, Partner: Experius, Progress: accept, Release Line: 2.4, partners-contribution

#23191 Refactor addlinks to own class take 3 (follows #21658)
  app/code/Magento/CatalogImportExport/Model/Import/Product.php
  app/code/Magento/CatalogImportExport/Model/Import/Product/LinkProcessor.php
  app/code/Magento/CatalogImportExport/Test/Unit/Model/Import/Product/LinkProcessorTest.php
  app/code/Magento/CatalogImportExport/etc/di.xml
Labels: Auto-Tests: Covered, Award: advanced, Award: test coverage, Component: CatalogImportExport, Progress: accept, Release Line: 2.4

#27336 fixed My account Address Book Additional Address Entries table issue #27335
  app/design/frontend/Magento/luma/Magento_Customer/web/css/source/_module.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Award: bug fix, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.4, partners-contribution

#27304 FIX #14080 Added improvements to Category repository (save method)
  app/code/Magento/Catalog/Model/CategoryRepository.php
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminAssertParentChildCategoryTreeElementsActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminExpandCategoryTreeActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminOpenCategoryPageActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AssertAdminCategoryLevelByParentCategoryLevelActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/Data/CategoryData.xml
  app/code/Magento/Catalog/Test/Mftf/Section/AdminCategorySidebarTreeSection.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCheckNewCategoryLevelAddedViaApiTest.xml
  app/code/Magento/Catalog/Test/Unit/Model/CategoryRepositoryTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: Catalog, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#27298 Implement ActionInterface for `cms/page/view`
  app/code/Magento/Cms/Controller/Page/View.php
  app/code/Magento/Cms/Helper/Page.php
  app/code/Magento/Cms/Test/Unit/Controller/Page/ViewTest.php
Labels: Auto-Tests: Covered, Component: Cms, Partner: Mediotype, Progress: accept, Release Line: 2.4, improvement, partners-contribution

#27263 #26708 Fix: ORDER BY has two similar conditions in the SQL query
  app/code/Magento/Catalog/Block/Product/ListProduct.php
  app/code/Magento/Catalog/Test/Unit/Block/Product/ListProductTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: Catalog, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#27214 Mark AbstractAccount as DEPRECATED for Magento_Customer controllers
  app/code/Magento/Customer/Controller/AbstractAccount.php
  app/code/Magento/Customer/Controller/Plugin/Account.php
  app/code/Magento/Customer/Test/Unit/Controller/Plugin/AccountTest.php
  app/code/Magento/Customer/etc/frontend/di.xml
  dev/tests/integration/testsuite/Magento/Customer/Controller/AuthenticationTest.php
Labels: Auto-Tests: Covered, Award: category of expertise, Award: test coverage, Component: Customer, Partner: Mediotype, Progress: accept, Release Line: 2.4, partners-contribution

#27116 Add Italy States
  app/code/Magento/Directory/Setup/Patch/Data/AddDataForItaly.php
  dev/tests/integration/testsuite/Magento/Directory/Model/RegionTest.php
Labels: Auto-Tests: Covered, Award: category of expertise, Component: Directory, Progress: accept, Release Line: 2.4

#26748 magento#26745 add method setAdditionalInformation to OrderPaymentInte…
  app/code/Magento/Sales/Api/Data/OrderPaymentInterface.php
Labels: Auto-Tests: Not Required, Award: bug fix, Component: Sales, Partner: Youwe, Progress: accept, Release Line: 2.4, partners-contribution

#27390 magento/magento2: fixes PHPDocs for module Magento_reports
  app/code/Magento/Reports/Model/ResourceModel/Product/Sold/Collection.php
Labels: Auto-Tests: Not Required, Cleanup, Component: Reports, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#27375 Updating link to Adobe CLA in contributing.md
  .github/CONTRIBUTING.md
Labels: Auto-Tests: Not Required, Cleanup, Progress: accept, Release Line: 2.4

#27353 Add xml declaration for catalog_widget_product_list.xml file
  app/code/Magento/CatalogWidget/view/frontend/layout/catalog_widget_product_list.xml
  app/code/Magento/Swatches/view/frontend/layout/catalog_widget_product_list.xml
Labels: Area: Frontend, Auto-Tests: Not Required, Cleanup, Component: CatalogWidget, Component: Swatches, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#27334 MFTF: Customer Subscribes To Newsletter Subscription On StoreFront
  app/code/Magento/Customer/Test/Mftf/ActionGroup/AssertStorefrontCustomerMessagesActionGroup.xml
  app/code/Magento/Customer/Test/Mftf/ActionGroup/StorefrontCustomerNavigateToNewsletterPageActionGroup.xml
  app/code/Magento/Customer/Test/Mftf/ActionGroup/StorefrontCustomerUpdateGeneralSubscriptionActionGroup.xml
  app/code/Magento/Customer/Test/Mftf/Page/StorefrontCustomerNewsletterManagePage.xml
  app/code/Magento/Customer/Test/Mftf/Section/StorefrontCustomerNewsletterSection.xml
  app/code/Magento/Customer/Test/Mftf/Test/StorefrontCustomerSubscribeToNewsletterTest.xml
Labels: Auto-Tests: Covered, Award: MFTF test coverage, Component: Customer, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#27319 Cleanup ObjectManager usage - Magento_Catalog ViewModel,Plugin
  app/code/Magento/Catalog/Plugin/Model/ResourceModel/Config.php
  app/code/Magento/Catalog/Test/Unit/Plugin/Model/ResourceModel/ConfigTest.php
  app/code/Magento/Catalog/Test/Unit/ViewModel/Product/BreadcrumbsTest.php
  app/code/Magento/Catalog/ViewModel/Product/Breadcrumbs.php
Labels: Auto-Tests: Covered, Component: Catalog, Partner: Fast White Cat, Progress: accept, Release Line: 2.4, partners-contribution

#27307 magento/magento2: Fixes for the schema cache.xsd
  dev/tests/static/testsuite/Magento/Test/Integrity/Magento/Framework/Cache/ConfigTest.php
  dev/tests/static/testsuite/Magento/Test/Integrity/Magento/Framework/Cache/_files/invalidCacheConfigXmlArray.php
  dev/tests/static/testsuite/Magento/Test/Integrity/Magento/Framework/Cache/_files/valid_cache_config.xml
  lib/internal/Magento/Framework/App/Cache/TypeList.php
  lib/internal/Magento/Framework/App/Test/Unit/Cache/TypeListTest.php
  lib/internal/Magento/Framework/Cache/Config/Reader.php
  lib/internal/Magento/Framework/Cache/Config/SchemaLocator.php
  lib/internal/Magento/Framework/Cache/Test/Unit/Config/ConverterTest.php
  lib/internal/Magento/Framework/Cache/Test/Unit/Config/_files/cache_config.php
  lib/internal/Magento/Framework/Cache/Test/Unit/Config/_files/cache_config.xml
  lib/internal/Magento/Framework/Cache/etc/cache.xsd
Labels: Auto-Tests: Covered, Award: bug fix, Award: special achievement, Award: test coverage, Component: App, Component: Cache, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#27276 Add "Admin" prefix to Test and ActionGroup
  app/code/Magento/Customer/Test/Mftf/ActionGroup/AdminGridCustomerGroupEditByCodeActionGroup.xml
  app/code/Magento/Customer/Test/Mftf/ActionGroup/AdminNavigateToCustomerGroupPageActionGroup.xml
  app/code/Magento/Customer/Test/Mftf/ActionGroup/_Deprecated_ActionGroup.xml
  app/code/Magento/Customer/Test/Mftf/Test/AdminVerifyDisabledCustomerGroupFieldTest.xml
  app/code/Magento/Customer/Test/Mftf/Test/_Deprecated_Test.xml
Labels: Auto-Tests: Covered, Component: Customer, Partner: Mediotype, Progress: accept, Release Line: 2.4, partners-contribution

#27000 MFTF FIX: Remove Customer by e-mail does not filter by e-mail
  app/code/Magento/Customer/Test/Mftf/ActionGroup/AdminDeleteCustomerActionGroup.xml
Labels: Auto-Tests: Covered, Award: bug fix, Component: Customer, Partner: Mediotype, Progress: accept, Release Line: 2.4, partners-contribution

#26538 Refactor datetime class
  lib/internal/Magento/Framework/Stdlib/DateTime/DateTime.php
  lib/internal/Magento/Framework/Stdlib/Test/Unit/DateTime/DateTimeTest.php
Labels: Auto-Tests: Covered, Component: Stdlib, Progress: accept, Release Line: 2.4, bugfix

#25664 magento/magento2#25540: Products are not displaying infront end after updating product via importing CSV.
  app/code/Magento/BundleImportExport/Model/Import/Product/Type/Bundle.php
  app/code/Magento/BundleImportExport/Test/Mftf/Test/UpdateBundleProductViaImportTest.xml
  dev/tests/acceptance/tests/_data/catalog_product_import_bundle.csv
Labels: Auto-Tests: Covered, Award: bug fix, Component: BundleImportExport, Progress: accept, Release Line: 2.4

#22011 magento/magento2#22010: Updates AbstractExtensibleObject and AbstractExtensibleModel annotations
  lib/internal/Magento/Framework/Api/AbstractExtensibleObject.php
  lib/internal/Magento/Framework/Model/AbstractExtensibleModel.php
Labels: Auto-Tests: Not Required, Award: bug fix, Component: Api, Component: Model, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#27378 MFTF: Refactor `amOnPage` for Admin product edit page
  app/code/Magento/Braintree/Test/Mftf/Test/CretateAdminOrderWithOnlinePaymentIncludingTaxAndDiscountTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminAddBundleProductToCartFromWishListPageTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontCheckBundleProductOptionTierPricesTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontVerifyDynamicBundleProductPricesForCombinationOfOptionsTest.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminProductPageOpenByIdActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/_Deprecated_ActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AddToCartCrossSellTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCheckCustomAttributeValuesAfterProductSaveTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCheckMediaRolesForFirstAddedImageViaApiTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCloneProductWithDuplicateUrlTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateNewAttributeFromProductTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminDeleteProductsImageInCaseOfMultipleStoresTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminFilterByNameByStoreViewOnProductGridTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminImportCustomizableOptionToProductWithSKUTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminMoveProductBetweenCategoriesTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminProductCategoryIndexerInUpdateOnScheduleModeTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminProductCustomURLKeyPreservedWhenAssignedToCategoryWithoutCustomURLKeyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminProductTypeSwitchingOnEditingTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminRemoveCustomOptionsFromProductTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminSimpleProductEditUiTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/StoreFrontSimpleProductWithSpecialAndTierDiscountPriceTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/StorefrontConfigurableOptionsThumbImagesTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/StorefrontSpecialPriceForDifferentTimezonesForWebsitesTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/VerifyCategoryProductAndProductCategoryPartialReindexTest.xml
  app/code/Magento/CatalogInventory/Test/Mftf/Test/AdminCreateProductWithZeroMaximumQtyAllowedInShoppingCartTest.xml
  app/code/Magento/CatalogRule/Test/Mftf/Test/AdminApplyCatalogRuleForConfigurableProductWithSpecialPricesTest.xml
  app/code/Magento/CatalogSearch/Test/Mftf/Test/SearchEntityResultsTest.xml
  app/code/Magento/CatalogSearch/Test/Mftf/Test/StorefrontQuickSearchConfigurableChildrenTest.xml
  app/code/Magento/CatalogUrlRewrite/Test/Mftf/Test/AdminUrlForProductRewrittenCorrectlyTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontProductNameMinicartOnCheckoutPageDifferentStoreViewsTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontUpdatePriceInShoppingCartAfterProductSaveTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminAddingNewOptionsWithImagesAndPricesToConfigurableProductTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminConfigurableProductCreateTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminConfigurableProductUpdateTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminProductTypeSwitchingOnEditingTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/ConfigurableProductPriceAdditionalStoreViewTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/NewProductsListWidgetConfigurableProductTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/NoOptionAvailableToConfigureDisabledProductTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/StorefrontShouldSeeOnlyConfigurableProductChildAssignedToSeparateCategoryTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/StorefrontVisibilityOfDuplicateProductTest.xml
  app/code/Magento/Downloadable/Test/Mftf/Test/AdminProductTypeSwitchingOnEditingTest.xml
  app/code/Magento/Downloadable/Test/Mftf/Test/VerifyDisableDownloadableProductSamplesAreNotAccessibleTest.xml
  app/code/Magento/Fedex/Test/Mftf/Test/AdminCreatingShippingLabelTest.xml
  app/code/Magento/Indexer/Test/Mftf/Test/AdminSystemIndexManagementGridChangesTest.xml
  app/code/Magento/LayeredNavigation/Test/Mftf/Test/ShopByButtonInMobileTest.xml
  app/code/Magento/Msrp/Test/Mftf/Test/StorefrontProductWithMapAssignedConfigProductIsCorrectTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCorrectnessInvoicedItemInBundleProductTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCreateOrderWithSimpleProductCustomOptionFileTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminProductInTheShoppingCartCouldBeReachedByAdminDuringOrderCreationWithMultiWebsiteConfigTest.xml
  app/code/Magento/Shipping/Test/Mftf/Test/AdminCreateOrderCustomStoreShippingMethodTableRatesTest.xml
  app/code/Magento/Swatches/Test/Mftf/Test/StorefrontImageColorWhenFilterByColorFilterTest.xml
  app/code/Magento/Swatches/Test/Mftf/Test/StorefrontSeeProductImagesMatchingProductSwatchesTest.xml
  app/code/Magento/Weee/Test/Mftf/Test/AdminFixedTaxValSavedForSpecificWebsiteTest.xml
  app/code/Magento/Weee/Test/Mftf/Test/StorefrontFPTTaxInformationInShoppingCartForCustomerPhysicalQuoteTest.xml
  app/code/Magento/Weee/Test/Mftf/Test/StorefrontFPTTaxInformationInShoppingCartForGuestPhysicalQuoteTest.xml
  app/code/Magento/Wishlist/Test/Mftf/Test/StorefrontDeleteBundleDynamicProductFromWishlistTest.xml
  app/code/Magento/Wishlist/Test/Mftf/Test/StorefrontMoveDynamicBundleProductFromShoppingCartToWishlistTest.xml
  app/code/Magento/Wishlist/Test/Mftf/Test/WishListWithDisabledProductTest.xml
Labels: Auto-Tests: Covered, Award: category of expertise, Component: Braintree, Component: Bundle, Component: Catalog, Component: CatalogInventory, Component: CatalogRule, Component: CatalogSearch, Component: CatalogUrlRewrite, Component: Checkout, Partner: Mediotype, Progress: accept, Release Line: 2.4, improvement, partners-contribution

#26055 [Fixed] - HTML Validation issue Replace Attribute with data-* attribute
  app/code/Magento/Catalog/Test/Mftf/Section/StorefrontCategorySidebarSection.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminBackorderAllowedAddProductToCartTest.xml
  app/code/Magento/Swatches/Test/Mftf/Section/StorefrontProductInfoMainSection.xml
  app/code/Magento/Swatches/Test/Mftf/Test/AdminCreateTextSwatchTest.xml
  app/code/Magento/Swatches/view/base/web/js/swatch-renderer.js
  app/code/Magento/Swatches/view/frontend/templates/product/layered/renderer.phtml
  dev/tests/functional/tests/app/Magento/Swatches/Test/Block/Product/ProductList/ProductItem.php
  dev/tests/functional/tests/app/Magento/Swatches/Test/Block/Product/ViewWithSwatches.php
  dev/tests/js/jasmine/tests/app/code/Magento/Swatches/view/frontend/web/js/swatch-renderer.test.js
Labels: Area: Frontend, Auto-Tests: Covered, Award: bug fix, Component: Catalog, Component: Swatches, Partner: Krish TechnoLabs, Progress: accept, Release Line: 2.4, partners-contribution

#27107 Resolved issue for Customer address is duplicated after setBillingAddressOnCart GraphQL mutation
  app/code/Magento/QuoteGraphQl/Model/Cart/SetBillingAddressOnCart.php
Labels: Auto-Tests: Not Covered, Award: bug fix, Component: QuoteGraphQl, Progress: needs update, Release Line: 2.4

#27004 magento/magento2#26742: graphql mutation setShippingMethodsOnCart get wrong data in available_shipping_methods.
  app/code/Magento/QuoteGraphQl/Model/Resolver/ShippingAddress/AvailableShippingMethods.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Customer/SetShippingMethodsOnCartTest.php
Labels: Component: QuoteGraphQl, Progress: pending review, Release Line: 2.4

#27412 Added improvements to category url key validation logic
  app/code/Magento/CatalogUrlRewrite/Observer/CategoryUrlPathAutogeneratorObserver.php
  app/code/Magento/CatalogUrlRewrite/i18n/en_US.csv
  dev/tests/integration/testsuite/Magento/Catalog/Controller/Adminhtml/CategoryTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: CatalogUrlRewrite, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#27393 Implement ActionInterface for /robots/index/index
  app/code/Magento/Robots/Controller/Index/Index.php
  app/code/Magento/Robots/Test/Unit/Controller/Index/IndexTest.php
Labels: Auto-Tests: Covered, Component: Robots, Partner: Fast White Cat, Progress: accept, Release Line: 2.4, partners-contribution

#27385 Cleanup ObjectManager usage - Magento_SendFriend
  app/code/Magento/SendFriend/Controller/Product/Sendmail.php
Labels: Auto-Tests: Not Required, Cleanup, Component: SendFriend, Partner: Fast White Cat, Progress: accept, Release Line: 2.4, partners-contribution

#27383 #27370 Internet explorer issue:Default billing/shipping address not showing
  app/code/Magento/Customer/view/adminhtml/web/template/default-address.html
Labels: Area: Frontend, Auto-Tests: Covered, Award: bug fix, Component: Customer, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution

#27384 Cleanup ObjectManager usage - Magento_Sitemap
  app/code/Magento/Sitemap/Block/Adminhtml/Grid/Renderer/Link.php
  app/code/Magento/Sitemap/Controller/Adminhtml/Sitemap/Delete.php
  app/code/Magento/Sitemap/Controller/Adminhtml/Sitemap/Generate.php
  app/code/Magento/Sitemap/Controller/Adminhtml/Sitemap/Save.php
  app/code/Magento/Sitemap/Model/Config/Backend/Robots.php
  app/code/Magento/Sitemap/Test/Unit/Model/Config/Backend/RobotsTest.php
Labels: Auto-Tests: Covered, Cleanup, Component: Sitemap, Partner: Fast White Cat, Progress: accept, Release Line: 2.4, partners-contribution

#27381 Implement ActionInterface for /captcha/refresh
  app/code/Magento/Captcha/Controller/Refresh/Index.php
  app/code/Magento/Captcha/Test/Mftf/Test/CaptchaFormsDisplayingTest.xml
  app/code/Magento/Captcha/Test/Mftf/Test/CaptchaWithDisabledGuestCheckoutTest.xml
  app/code/Magento/Captcha/Test/Unit/Controller/Refresh/IndexTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: Captcha, Partner: Mediotype, Progress: accept, Release Line: 2.4, improvement, partners-contribution

#27360 Move JS module initialization to separate tasks
  lib/web/mage/apply/main.js
  lib/web/mage/bootstrap.js
Labels: Area: Lib/Frontend, Auto-Tests: Not Required, Award: bug fix, Award: category of expertise, Partner: creativestyle, Progress: accept, Release Line: 2.4, partners-contribution

#27088 Fix Report date doesn't matching in configuration setting
  app/code/Magento/Reports/Block/Adminhtml/Config/Form/Field/YtdStart.php
  dev/tests/integration/testsuite/Magento/Reports/Block/Adminhtml/Config/Form/Field/YtdStartTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: Reports, Progress: accept, Release Line: 2.4

#22837 Short-term admin accounts #22833
  app/code/Magento/Analytics/Test/Mftf/Test/AdminConfigurationPermissionTest.xml
  app/code/Magento/Security/Api/Data/UserExpirationInterface.php
  app/code/Magento/Security/Model/Plugin/AdminUserForm.php
  app/code/Magento/Security/Model/Plugin/AuthSession.php
  app/code/Magento/Security/Model/Plugin/UserValidationRules.php
  app/code/Magento/Security/Model/ResourceModel/UserExpiration.php
  app/code/Magento/Security/Model/ResourceModel/UserExpiration/Collection.php
  app/code/Magento/Security/Model/UserExpiration.php
  app/code/Magento/Security/Model/UserExpiration/Validator.php
  app/code/Magento/Security/Model/UserExpirationManager.php
  app/code/Magento/Security/Observer/AdminUserAuthenticateBefore.php
  app/code/Magento/Security/Observer/AfterAdminUserSave.php
  app/code/Magento/Security/Test/Mftf/ActionGroup/AdminFillInUserWithExpirationActionGroup.xml
  app/code/Magento/Security/Test/Mftf/ActionGroup/AdminSaveUserInvalidExpirationActionGroup.xml
  app/code/Magento/Security/Test/Mftf/ActionGroup/AdminSaveUserSuccessActionGroup.xml
  app/code/Magento/Security/Test/Mftf/Section/AdminEditUserSection.xml
  app/code/Magento/Security/Test/Mftf/Section/AdminNewUserFormSection.xml
  app/code/Magento/Security/Test/Mftf/Test/AdminCreateNewUserWithInvalidExpirationTest.xml
  app/code/Magento/Security/Test/Mftf/Test/AdminCreateNewUserWithValidExpirationTest.xml
  app/code/Magento/Security/Test/Mftf/Test/AdminLoginAdminUserWithInvalidExpiration.xml
  app/code/Magento/Security/Test/Mftf/Test/AdminLoginAdminUserWithValidExpiration.xml
  app/code/Magento/Security/Test/Mftf/Test/AdminNavigateWhileUserExpiredTest.xml
  app/code/Magento/Security/Test/Unit/Model/Plugin/AuthSessionTest.php
  app/code/Magento/Security/Test/Unit/Model/Plugin/UserValidationRulesTest.php
  app/code/Magento/Security/Test/Unit/Model/UserExpiration/ValidatorTest.php
  app/code/Magento/Security/Test/Unit/Observer/AdminUserAuthenticateBeforeTest.php
  app/code/Magento/Security/Test/Unit/Observer/AfterAdminUserSaveTest.php
  app/code/Magento/Security/etc/adminhtml/di.xml
  app/code/Magento/Security/etc/crontab.xml
  app/code/Magento/Security/etc/db_schema.xml
  app/code/Magento/Security/etc/db_schema_whitelist.json
  app/code/Magento/Security/etc/di.xml
  app/code/Magento/Security/etc/events.xml
  app/code/Magento/Security/i18n/en_US.csv
  app/code/Magento/User/Test/Mftf/ActionGroup/AdminFillNewUserFormRequiredFieldsActionGroup.xml
  dev/tests/integration/testsuite/Magento/Integration/Model/AdminTokenServiceTest.php
  dev/tests/integration/testsuite/Magento/Security/Model/Plugin/AuthSessionTest.php
  dev/tests/integration/testsuite/Magento/Security/Model/ResourceModel/UserExpiration/CollectionTest.php
  dev/tests/integration/testsuite/Magento/Security/Model/UserExpirationManagerTest.php
  dev/tests/integration/testsuite/Magento/Security/Observer/AdminUserAuthenticateBeforeTest.php
  dev/tests/integration/testsuite/Magento/Security/Observer/AfterAdminUserSaveTest.php
  dev/tests/integration/testsuite/Magento/Security/_files/expired_users.php
Labels: Auto-Tests: Covered, Award: MFTF test coverage, Award: advanced, Award: category of expertise, Award: special achievement, Award: test coverage, Component: Analytics, Component: Security, Progress: accept, Release Line: 2.4

#26075 Fix #6310 - Changing products 'this item has weight' using 'Update Attributes' is not possible
  app/code/Magento/Catalog/Block/Adminhtml/Product/Edit/Action/Attribute/Tab/Attributes.php
  app/code/Magento/Catalog/Block/Adminhtml/Product/Helper/Form/Weight.php
  app/code/Magento/Catalog/Controller/Adminhtml/Product/Action/Attribute/Save.php
  app/code/Magento/Catalog/Model/ResourceModel/Product/Action.php
  app/code/Magento/Catalog/Test/Unit/Block/Adminhtml/Product/Helper/Form/WeightTest.php
  app/code/Magento/Catalog/Test/Unit/Model/ResourceModel/Product/ActionTest.php
  app/code/Magento/Catalog/view/adminhtml/templates/catalog/product/edit/action/attribute.phtml
  app/code/Magento/Catalog/view/adminhtml/web/js/product/weight-handler.js
  app/design/adminhtml/Magento/backend/Magento_Catalog/web/css/source/_module-old.less
  app/design/adminhtml/Magento/backend/Magento_Ui/web/css/source/_module-old.less
Labels: Area: Design/Frontend, Area: Frontend, Auto-Tests: Covered, Award: bug fix, Component: Catalog, Partner: Fast White Cat, Progress: accept, Release Line: 2.4, partners-contribution

#27388 {ASI} :- Image size is not passed to image-uploader when inserting an image from new media gallery
  app/code/Magento/MediaGallery/Model/Asset.php
  app/code/Magento/MediaGallery/Test/Unit/Model/DataExtractorTest.php
  app/code/Magento/MediaGallery/etc/db_schema.xml
  app/code/Magento/MediaGallery/etc/db_schema_whitelist.json
  app/code/Magento/MediaGalleryApi/Api/Data/AssetInterface.php
Labels: Auto-Tests: Covered, Component: MediaGallery, Component: MediaGalleryApi, Progress: accept, Release Line: 2.4

#26999 Fixed URL Rewrite addition/removal on product website add/remove
  app/code/Magento/CatalogUrlRewrite/Observer/ProductProcessUrlRewriteSavingObserver.php
  app/code/Magento/CatalogUrlRewrite/Observer/ProductToWebsiteChangeObserver.php
  app/code/Magento/CatalogUrlRewrite/Plugin/ProductProcessUrlRewriteRemovingPlugin.php
  app/code/Magento/CatalogUrlRewrite/Test/Mftf/Test/AdminCategoryWithRestrictedUrlKeyNotCreatedTest.xml
  app/code/Magento/CatalogUrlRewrite/Test/Mftf/Test/AdminUrlForProductRewrittenCorrectlyTest.xml
  app/code/Magento/CatalogUrlRewrite/Test/Mftf/Test/RewriteStoreLevelUrlKeyOfChildCategoryTest.xml
  app/code/Magento/CatalogUrlRewrite/Test/Mftf/Test/StorefrontCategoryAccessibleWhenSuffixIsNullTest.xml
  app/code/Magento/CatalogUrlRewrite/Test/Unit/Observer/ProductProcessUrlRewriteSavingObserverTest.php
  app/code/Magento/CatalogUrlRewrite/Test/Unit/Plugin/ProductProcessUrlRewriteRemovingPluginTest.php
  app/code/Magento/CatalogUrlRewrite/etc/adminhtml/events.xml
  app/code/Magento/CatalogUrlRewrite/etc/di.xml
  app/code/Magento/UrlRewrite/Model/Storage/DeleteEntitiesFromStores.php
  app/code/Magento/UrlRewrite/Test/Mftf/Test/AdminAutoUpdateURLRewriteWhenCategoryIsDeletedTest.xml
  app/code/Magento/UrlRewrite/Test/Mftf/Test/AdminCheckUrlRewritesInCatalogCategoriesAfterChangingUrlKeyForStoreViewAndMovingCategory2Test.xml
  app/code/Magento/UrlRewrite/Test/Mftf/Test/AdminCheckUrlRewritesInCatalogCategoriesAfterChangingUrlKeyForStoreViewAndMovingCategoryTest.xml
  app/code/Magento/UrlRewrite/Test/Mftf/Test/AdminCreateCategoryUrlRewriteAndAddNoRedirectTest.xml
  app/code/Magento/UrlRewrite/Test/Mftf/Test/AdminCreateCategoryUrlRewriteAndAddPermanentRedirectTest.xml
  app/code/Magento/UrlRewrite/Test/Mftf/Test/AdminCreateCategoryUrlRewriteAndAddTemporaryRedirectTest.xml
  app/code/Magento/UrlRewrite/Test/Mftf/Test/AdminCreateCustomCMSPageUrlRewriteAndAddPermanentRedirectTest.xml
  app/code/Magento/UrlRewrite/Test/Mftf/Test/AdminCreateCustomCMSPageUrlRewriteAndAddTemporaryRedirectTest.xml
  app/code/Magento/UrlRewrite/Test/Mftf/Test/AdminCreateCustomCategoryUrlRewriteAndAddPermanentRedirectTest.xml
  app/code/Magento/UrlRewrite/Test/Mftf/Test/AdminCreateCustomProductUrlRewriteAndAddTemporaryRedirectTest.xml
  app/code/Magento/UrlRewrite/Test/Mftf/Test/AdminCreateProductURLRewriteAndAddNoRedirectTest.xml
  app/code/Magento/UrlRewrite/Test/Mftf/Test/AdminCreateProductURLRewriteWithCategoryAndAddTemporaryRedirectTest.xml
  app/code/Magento/UrlRewrite/Test/Mftf/Test/AdminCreateProductUrLRewriteAndAddPermanentRedirectTest.xml
  app/code/Magento/UrlRewrite/Test/Mftf/Test/AdminCreateProductUrLRewriteAndAddTemporaryRedirectTest.xml
  app/code/Magento/UrlRewrite/Test/Mftf/Test/AdminDeleteCMSPageNoRedirectUrlRewriteTest.xml
  app/code/Magento/UrlRewrite/Test/Mftf/Test/AdminDeleteCMSPagePermanentRedirectUrlRewriteTest.xml
  app/code/Magento/UrlRewrite/Test/Mftf/Test/AdminDeleteCMSPageTemporaryRedirectUrlRewriteTest.xml
  app/code/Magento/UrlRewrite/Test/Mftf/Test/AdminDeleteCategoryUrlRewriteTest.xml
  app/code/Magento/UrlRewrite/Test/Mftf/Test/AdminDeleteCmsPageUrlRewriteWithNoRedirectsTest.xml
  app/code/Magento/UrlRewrite/Test/Mftf/Test/AdminDeleteCmsPageUrlRewriteWithPermanentRedirectTest.xml
  app/code/Magento/UrlRewrite/Test/Mftf/Test/AdminDeleteCmsPageUrlRewriteWithTemporaryRedirectTest.xml
  app/code/Magento/UrlRewrite/Test/Mftf/Test/AdminDeleteProductUrlRewriteTest.xml
  app/code/Magento/UrlRewrite/Test/Mftf/Test/AdminMarketingUrlRewritesNavigateMenuTest.xml
  app/code/Magento/UrlRewrite/Test/Mftf/Test/AdminUpdateCategoryUrlRewriteAndAddAspxRequestPathTest.xml
  app/code/Magento/UrlRewrite/Test/Mftf/Test/AdminUpdateCategoryUrlRewriteAndAddNoRedirectTest.xml
  app/code/Magento/UrlRewrite/Test/Mftf/Test/AdminUpdateCategoryUrlRewriteAndAddPermanentRedirectTest.xml
  app/code/Magento/UrlRewrite/Test/Mftf/Test/AdminUpdateCategoryUrlRewriteAndAddTemporaryRedirectTest.xml
  app/code/Magento/UrlRewrite/Test/Mftf/Test/AdminUpdateCmsPageRewriteEntityWithNoRedirectTest.xml
  app/code/Magento/UrlRewrite/Test/Mftf/Test/AdminUpdateCmsPageRewriteEntityWithPermanentReirectTest.xml
  app/code/Magento/UrlRewrite/Test/Mftf/Test/AdminUpdateCmsPageRewriteEntityWithTemporaryRedirectTest.xml
  app/code/Magento/UrlRewrite/Test/Mftf/Test/AdminUpdateCmsPageUrlRewriteAndAddNoRedirectTest.xml
  app/code/Magento/UrlRewrite/Test/Mftf/Test/AdminUpdateCmsPageUrlRewriteAndAddPermanentRedirectTest.xml
  app/code/Magento/UrlRewrite/Test/Mftf/Test/AdminUpdateCmsPageUrlRewriteAndAddTemporaryRedirectTest.xml
  app/code/Magento/UrlRewrite/Test/Mftf/Test/AdminUpdateProductUrlRewriteAndAddTemporaryRedirectTest.xml
  dev/tests/integration/testsuite/Magento/CatalogUrlRewrite/Model/ProductUrlRewriteTest.php
  dev/tests/integration/testsuite/Magento/CatalogUrlRewrite/Observer/ProductProcessUrlRewriteSavingObserverTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: complex, Award: test coverage, Component: CatalogUrlRewrite, Component: UrlRewrite, Progress: accept, Release Line: 2.4

#27371 [Admin] Do not allow HTML tags for the Product Attribute labels on save
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminFillProductAttributeDefaultStoreViewActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminNavigateToNewProductAttributePageActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminProductAttributePageSwitchTabActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminSaveProductAttributeActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AssertSeeProductAttributeValidationErrorOnManageLabelsTabActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AssertSeeProductAttributeValidationErrorOnPropertiesTabActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/Data/ProductAttributeData.xml
  app/code/Magento/Catalog/Test/Mftf/Page/AdminProductAttributeFormPage.xml
  app/code/Magento/Catalog/Test/Mftf/Section/AdminCreateProductAttributeSection/AttributePropertiesSection.xml
  app/code/Magento/Catalog/Test/Mftf/Section/AdminEditProductAttributesSection.xml
  app/code/Magento/Catalog/Test/Mftf/Section/AdminProductAttributeManageLabelsSection.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminProductAttributeLabelDontAllowHtmlTagsTest.xml
  app/code/Magento/Catalog/view/adminhtml/templates/catalog/product/attribute/labels.phtml
  app/code/Magento/Catalog/view/adminhtml/ui_component/product_attribute_add_form.xml
  app/code/Magento/Eav/Block/Adminhtml/Attribute/Edit/Main/AbstractMain.php
Labels: Area: Frontend, Auto-Tests: Covered, Award: MFTF test coverage, Component: Catalog, Component: Eav, Partner: Atwix, Progress: accept, Release Line: 2.4, partners-contribution
