Repository magento/magento2, pull requests merged in 2020-12, with the labels that each got.

#30957 magento/partners-magento2b2b#370: determine mftf coverage in the Company, CompanyCredit, CompanyPayment, CompanyShipping, & ConfigurableSharedCatalog Modules
  app/code/Magento/Catalog/Test/Mftf/Test/AdminMoveCategoryToAnotherPositionInCategoryTreeTest.xml
  app/code/Magento/Checkout/Test/Mftf/ActionGroup/StorefrontClickOrderLinkFromCheckoutSuccessPageActionGroup.xml
  app/code/Magento/Checkout/Test/Mftf/ActionGroup/StorefrontOpenCheckoutPageInCustomStoreActionGroup.xml
  app/code/Magento/Checkout/Test/Mftf/Page/StorefrontCustomStoreCheckoutPage.xml
  app/code/Magento/Checkout/Test/Mftf/Section/StorefrontCheckoutPaymentMethodSection.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StoreFrontFreeShippingRecalculationAfterCouponCodeAddedTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontDeleteSimpleProductFromMiniShoppingCartTest.xml
  app/code/Magento/Customer/Test/Mftf/ActionGroup/AdminOpenAccountInformationTabFromCustomerEditPageActionGroup.xml
  app/code/Magento/Customer/Test/Mftf/ActionGroup/AdminSetCustomerActiveViaGridActionGroup.xml
  app/code/Magento/Customer/Test/Mftf/ActionGroup/AdminSetCustomerInactiveViaGridActionGroup.xml
  app/code/Magento/Customer/Test/Mftf/ActionGroup/StorefrontCustomStoreCustomerLogoutActionGroup.xml
  app/code/Magento/Customer/Test/Mftf/ActionGroup/StorefrontCustomStoreLoginActionGroup.xml
  app/code/Magento/Customer/Test/Mftf/ActionGroup/StorefrontCustomStoreNavigateToCustomerOrdersHistoryPageActionGroup.xml
  app/code/Magento/Customer/Test/Mftf/ActionGroup/StorefrontGoToCustomerAddressesPageActionGroup.xml
  app/code/Magento/Customer/Test/Mftf/Page/StorefrontCustomStoreCustomerLogoutPage.xml
  app/code/Magento/Customer/Test/Mftf/Page/StorefrontCustomStoreCustomerSignInPage.xml
  app/code/Magento/Customer/Test/Mftf/Section/AdminCustomerGridMainActionsSection.xml
  app/code/Magento/Customer/Test/Mftf/Section/AdminCustomerGridSection.xml
  app/code/Magento/Customer/Test/Mftf/Section/StorefrontCustomerOrderSection.xml
  app/code/Magento/Sales/Test/Mftf/ActionGroup/AdminOpenOrderCommentsHistoryActionGroup.xml
  app/code/Magento/Sales/Test/Mftf/ActionGroup/AdminSubmitOrderActionGroup.xml
  app/code/Magento/Sales/Test/Mftf/ActionGroup/SubmitCreditMemoActionGroup.xml
  app/code/Magento/Sales/Test/Mftf/Page/StorefrontCustomStoreCustomerOrdersHistoryPage.xml
  app/code/Magento/Ui/view/base/web/js/grid/provider.js
Labels: Component: Checkout, Component: Customer, Component: Sales, Priority: P2, Progress: needs update, Release Line: 2.4, Severity: S2, project: B2B

#31047 Wrong date show in datepicker after saving a cart price rule, product special price date on administrator Dutch locale.
  app/code/Magento/Ui/view/base/web/js/form/element/date.js
  dev/tests/js/jasmine/tests/app/code/Magento/Ui/base/js/form/element/date.test.js
Labels: Area: Frontend, Component: Ui, Priority: P2, Progress: extended testing, QA: Added to Regression Scope, Release Line: 2.4

#30636 Fix issue with products GET request being cached despite category positions change
  app/code/Magento/CatalogGraphQl/Model/Resolver/Product/Identity.php
  app/code/Magento/CatalogGraphQl/Model/Resolver/Products.php
  dev/tests/integration/testsuite/Magento/GraphQlCache/Controller/Catalog/ProductsCacheTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: CatalogGraphQl, Event: MageCONF CD 2020, Priority: P1, Progress: ready for testing, Project: GraphQL, Release Line: 2.4, Severity: S3

#30694 [GraphQl] The fields that described below has been deprecated
  app/code/Magento/CatalogGraphQl/etc/schema.graphqls
  dev/tests/api-functional/testsuite/Magento/GraphQl/Bundle/BundleProductViewTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Catalog/CategoriesQuery/CategoryTreeTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Catalog/CategoryTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Catalog/ProductDeleteTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Catalog/ProductInMultipleStoresTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Catalog/ProductSearchTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Catalog/ProductViewTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Catalog/VirtualProductViewTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/ConfigurableProduct/ConfigurableProductViewTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/DownloadableProduct/DownloadableProductViewTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Framework/QueryComplexityLimiterTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/GroupedProduct/GroupedProductViewTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/GroupedProduct/ProductViewTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/PageCache/ProductInMultipleStoresCacheTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/RelatedProduct/GetRelatedProductsTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Tax/ProductViewTest.php
Labels: Auto-Tests: Covered, Award: category of expertise, Component: CatalogGraphQl, Partner: Atwix, Progress: ready for testing, Project: GraphQL, Release Line: 2.4, Severity: S3, partners-contribution

#31045 magento/partners-magento2b2b#244: Allow new billing address when addi…
  app/code/Magento/Checkout/Test/Mftf/ActionGroup/StorefrontClickUpdateAddressInCheckoutActionGroup.xml
  app/code/Magento/Checkout/Test/Mftf/ActionGroup/StorefrontSelectAddressInCheckoutAddressDropDownActionGroup.xml
  app/code/Magento/Checkout/Test/Mftf/ActionGroup/StorefrontSelectCustomerAddressOnPaymentStepInCheckoutActionGroup.xml
  app/code/Magento/Sales/Test/Mftf/Section/StorefrontOrderDetailsSection.xml
  app/code/Magento/Tax/Test/Mftf/ActionGroup/AdminGoToNewTaxRulePageActionGroup.xml
  app/code/Magento/Tax/Test/Mftf/ActionGroup/AdminSaveTaxRuleActionGroup.xml
Labels: Component: Checkout, Component: Sales, Component: Tax, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S2, project: B2B

#31101 501 mftf fails to rerun when storefront customer log out occurs after customer deletion
  app/code/Magento/Backend/Test/Mftf/Test/AdminExpireCustomerSessionTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/StorefrontPurchaseProductCustomOptionsDifferentStoreViewsTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/StorefrontPurchaseProductWithCustomOptionsTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/StorefrontPurchaseProductWithCustomOptionsWithLongValuesTitleTest.xml
  app/code/Magento/CatalogRule/Test/Mftf/Test/ApplyCatalogRuleForSimpleProductForNewCustomerGroupTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/DefaultBillingAddressShouldBeCheckedOnPaymentPageTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/OnePageCheckoutWithAllProductTypesTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontCustomerCheckoutTest/StorefrontCustomerCheckoutTest.xml
  app/code/Magento/LoginAsCustomer/Test/Mftf/Test/StorefrontLoginAsCustomerBannerPresentOnAllPagesInSessionTest.xml
  app/code/Magento/Persistent/Test/Mftf/Test/StorefrontVerifyThatInformationAboutViewingComparisonWishlistIsPersistedUnderLongTermCookieTest.xml
  app/code/Magento/Shipping/Test/Mftf/Test/StorefrontDisplayTableRatesShippingMethodForAETest.xml
  app/code/Magento/Swatches/Test/Mftf/Test/StorefrontCustomerCanChangeProductOptionsUsingSwatchesTest.xml
  app/code/Magento/Wishlist/Test/Mftf/Test/StorefrontAddMultipleStoreProductsToWishlistTest.xml
  app/code/Magento/Wishlist/Test/Mftf/Test/WishListWithDisabledProductTest.xml
Labels: Component: Backend, Component: Catalog, Component: CatalogRule, Component: Checkout, Component: LoginAsCustomer, Component: Persistent, Component: Shipping, Component: Swatches, Component: Wishlist, Progress: accept, Release Line: 2.4, project: B2B

#30953 set correct remaining available discount amount when applying fixed p…
  app/code/Magento/Checkout/Test/Mftf/Test/StoreFrontFreeShippingRecalculationAfterCouponCodeAddedTest.xml
  app/code/Magento/SalesRule/Model/Rule/Action/Discount/CartFixed.php
  app/code/Magento/SalesRule/Test/Mftf/Data/SalesRuleData.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/StorefrontAssertFixedCartDiscountAmountForBundleProductTest.xml
Labels: Auto-Tests: Covered, Award: bug fix, Component: Checkout, Component: SalesRule, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#31013 [MFTF] Adding AdminSetStockStatusActionGroup
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminSetStockStatusActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCheckConfigurableProductPriceWithOutOfStockChildProductTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateProductAttributeFromProductPageTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateProductAttributeRequiredTextFieldTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/NoOptionAvailableToConfigureDisabledProductTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/StorefrontVerifyConfigurableProductLayeredNavigationTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/StorefrontVisibilityOfDuplicateProductTest.xml
Labels: Auto-Tests: Covered, Component: Catalog, Component: ConfigurableProduct, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S2, partners-contribution

#31022 ISSUE-30265 - Fix product add / remove in Safari when creating an order in admin
  app/code/Magento/Catalog/view/adminhtml/templates/catalog/product/composite/configure.phtml
Labels: Area: Frontend, Auto-Tests: Not Required, Award: bug fix, Award: category of expertise, Component: Catalog, Partner: Blue Acorn iCi, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2, partners-contribution

#31079 [MFTF] Refactoring of AdminMassUpdateProductAttributesMissingRequiredFieldTest
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminCheckNameToggleOnProductsMassAttributeUpdateActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminCheckProductOnProductGridActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminClickSaveOnProductsMassAttributeUpdateActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminMassUpdateProductAttributesMissingRequiredFieldTest.xml
Labels: Auto-Tests: Covered, Component: Catalog, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S2, partners-contribution

#31151 Use magento coding standard 6
  composer.lock
Labels: Auto-Tests: Not Required, Priority: P1, Progress: accept, Release Line: 2.4

#30822 Fix iterate on null
  app/code/Magento/Shipping/Model/Config.php
  app/code/Magento/Shipping/Test/Unit/Model/ConfigTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: Shipping, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#30868 Fixed "Email Copy of Invoice", "Email Copy of Shipment" and "Email Copy of Creditmemo" Issues
  app/code/Magento/Sales/Controller/Adminhtml/Order/Creditmemo/Save.php
  app/code/Magento/Sales/Controller/Adminhtml/Order/Invoice/Save.php
  app/code/Magento/Sales/Test/Unit/Controller/Adminhtml/Order/Creditmemo/SaveTest.php
  app/code/Magento/Sales/Test/Unit/Controller/Adminhtml/Order/Invoice/SaveTest.php
  app/code/Magento/Shipping/Controller/Adminhtml/Order/Shipment/Save.php
  app/code/Magento/Shipping/Test/Unit/Controller/Adminhtml/Order/Shipment/SaveTest.php
  dev/tests/integration/testsuite/Magento/Sales/Controller/Adminhtml/Order/Invoice/AbstractInvoiceControllerTest.php
  dev/tests/integration/testsuite/Magento/Sales/Controller/Adminhtml/Order/Invoice/SaveTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: Sales, Component: Shipping, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#30910 Ensure that url suffix resolvers return strings to match function declaration
  app/code/Magento/CatalogUrlRewriteGraphQl/Model/Resolver/CategoryUrlSuffix.php
  app/code/Magento/CatalogUrlRewriteGraphQl/Model/Resolver/ProductUrlSuffix.php
  app/code/Magento/CatalogUrlRewriteGraphQl/Test/Unit/Model/Resolver/CategoryUrlSuffixTest.php
  app/code/Magento/CatalogUrlRewriteGraphQl/Test/Unit/Model/Resolver/ProductUrlSuffixTest.php
Labels: Auto-Tests: Covered, Component: CatalogUrlRewriteGraphQl, Partner: Aligent Consulting, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2, partners-contribution

#30477 Fix issue #30270 Product Reviews can not be sorted by Admin on the Product edit page
  app/code/Magento/Review/Ui/DataProvider/Product/ReviewDataProvider.php
  dev/tests/integration/testsuite/Magento/Review/Ui/DataProvider/Product/ReviewDataProviderTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: Review, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#30626 Handle exceptions thrown in child processes forked by ProcessManager
  app/code/Magento/Indexer/Model/ProcessManager.php
Labels: Auto-Tests: Not Required, Award: bug fix, Component: Indexer, Event: MageCONF CD 2020, Partner: Vaimo, Priority: P1, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S0, Severity: S3, partners-contribution

#27845 Allow customer to specify associated product qtys when adding grouped product to cart via RESTful API
  app/code/Magento/GroupedProduct/Api/Data/GroupedOptionsInterface.php
  app/code/Magento/GroupedProduct/Model/Quote/Item/CartItemProcessor.php
  app/code/Magento/GroupedProduct/Model/Quote/Item/GroupedOptions.php
  app/code/Magento/GroupedProduct/etc/di.xml
  app/code/Magento/GroupedProduct/etc/extension_attributes.xml
  dev/tests/api-functional/testsuite/Magento/Quote/Api/CartAddingItemsTest.php
Labels: Auto-Tests: Covered, Award: special achievement, Award: test coverage, Component: GroupedProduct, Partner: MRM Commerce, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2, partners-contribution

#28926 Fix for communication.xml Handlers merging processs
  app/etc/di.xml
  dev/tests/integration/testsuite/Magento/Framework/Communication/ConfigTest.php
  dev/tests/integration/testsuite/Magento/Framework/Communication/_files/valid_communication_expected.php
  dev/tests/integration/testsuite/Magento/Framework/Communication/_files/valid_communication_extra.xml
  dev/tests/integration/testsuite/Magento/Framework/Communication/_files/valid_communication_input.php
  dev/tests/static/testsuite/Magento/Test/Php/_files/phpstan/blacklist/common.txt
  lib/internal/Magento/Framework/Communication/Config/Reader/XmlReader.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: Communication, Partner: Blue Acorn iCi, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2, partners-contribution

#31110 MC-36779: Product still present in the Wish List after added to order
  app/code/Magento/Sales/Model/AdminOrder/Create.php
  app/code/Magento/Sales/Test/Mftf/Test/CreateOrderFromEditCustomerPageTest.xml
  app/code/Magento/Sales/view/adminhtml/web/order/create/scripts.js
  dev/tests/integration/testsuite/Magento/Sales/Controller/Adminhtml/Order/Create/LoadBlockTest.php
Labels: Component: Sales, Priority: P2, Progress: extended testing, Progress: ready for testing, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#31189 MC-39521: Random deadlocks during setting email sent flag
  app/code/Magento/Sales/Model/EmailSenderHandler.php
  app/code/Magento/Sales/Test/Unit/Model/EmailSenderHandlerTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: Sales, Priority: P1, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S1

#31055 MC-35717: Admin can not add a Product with a Customizable Option (File) to Order by SKU
  app/code/Magento/Catalog/Model/Product/Option/Type/File.php
  app/code/Magento/Catalog/Test/Mftf/Data/ProductData.xml
  app/code/Magento/Catalog/view/adminhtml/web/catalog/product/composite/configure.js
  app/code/Magento/Sales/Test/Mftf/Section/AdminOrderFormCustomOptionsSection.xml
  app/code/Magento/Sales/Test/Mftf/Section/AdminOrderFormItemsOrderedSection.xml
Labels: Area: Frontend, Auto-Tests: Covered, Component: Catalog, Priority: P2, Progress: testing in progress, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#31066 MC-37807: Link to a file of a Product with Customizable Option(File) is not available throughout a multishipping checkout process
  app/code/Magento/Multishipping/view/frontend/templates/checkout/item/default.phtml
  dev/tests/integration/testsuite/Magento/Multishipping/Block/Checkout/OverviewTest.php
Labels: Area: Frontend, Component: Multishipping, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#31093 MC-36383: [B2B] A Product with Customizable Option (File) can not be added from a Requisition List to the Shopping Cart
  app/code/Magento/Catalog/Model/Product/Option/Type/File.php
  dev/tests/integration/testsuite/Magento/Checkout/_files/customer_quote_with_items_simple_product_options.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: Catalog, Priority: P2, Progress: extended testing, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#31228 Removed usage of CliIndexerReindexActionGroup action group for Catalog module
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCheckOutOfStockProductIsVisibleInCategoryTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateCategoryWithAnchorFieldTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateInactiveFlatCategoryAndUpdateAsInactiveTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateInactiveFlatCategoryTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateInactiveInMenuFlatCategoryTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateProductAttributeFromProductPageTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateSimpleProductWithUnicodeTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateVirtualProductWithCustomOptionsSuiteAndImportOptionsTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateVirtualProductWithTierPriceTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminDeleteProductsImageInCaseOfMultipleStoresTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminImportCustomizableOptionToProductWithSKUTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminMoveAnchoredCategoryToDefaultCategoryTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminMoveCategoryAndCheckUrlRewritesTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminMoveCategoryFromParentAnchoredCategoryTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminProductCustomURLKeyPreservedWhenAssignedToCategoryWithoutCustomURLKeyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminRemoveImageAffectsAllScopesTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminSortingByWebsitesTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateFlatCategoryAndAddProductsTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateFlatCategoryIncludeInNavigationTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/StorefrontProductNameWithDoubleQuoteTest/StorefrontProductNameWithDoubleQuoteTest.xml
Labels: Auto-Tests: Covered, Award: category of expertise, Component: Catalog, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S2, partners-contribution

#31261 #31168 fix for customer which have more than two subscriptions
  app/code/Magento/Newsletter/Model/Plugin/CustomerPlugin.php
  app/code/Magento/Newsletter/etc/extension_attributes.xml
  dev/tests/integration/testsuite/Magento/Newsletter/Model/Plugin/PluginTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: Newsletter, Partner: Atwix, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2, partners-contribution

#31275 Declare optional argument after required.
  app/code/Magento/MediaGalleryUi/Ui/Component/Listing/Filters/Asset.php
Labels: Auto-Tests: Not Required, Award: bug fix, Component: MediaGalleryUi, Priority: P1, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#30881 ISSUE-30880 - Add CSP entry to allow google analytics ajax
  app/code/Magento/GoogleAdwords/etc/csp_whitelist.xml
Labels: Auto-Tests: Not Required, Component: GoogleAdwords, Partner: Blue Acorn iCi, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2, partners-contribution

#30986 [MFTF] Adding AdminFillAccountInformationOnCreateOrderPageActionGroup
  app/code/Magento/Sales/Test/Mftf/ActionGroup/AdminFillAccountInformationOnCreateOrderPageActionGroup.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminAvailabilityCreditMemoWithNoPaymentTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCreateOrderWithMinimumAmountEnabledTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminSubmitsOrderPaymentMethodValidationTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminSubmitsOrderWithAndWithoutEmailTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminSubmitsOrderWithAndWithoutFieldsValidationTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/AdminCheckingTaxReportGridTest.xml
Labels: Auto-Tests: Covered, Component: Sales, Component: Tax, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S2, partners-contribution

#30992 Issue 30286 - Fix widget layout update removal button to work for multiple layout updates
  app/code/Magento/Widget/Block/Adminhtml/Widget/Instance/Edit/Tab/Main/Layout.php
  app/code/Magento/Widget/Test/Mftf/ActionGroup/AdminCreateWidgetActionGroup.xml
  app/code/Magento/Widget/Test/Mftf/Section/AdminNewWidgetSection.xml
  app/code/Magento/Widget/view/adminhtml/templates/instance/edit/layout.phtml
Labels: Area: Frontend, Auto-Tests: Covered, Award: MFTF test coverage, Component: Widget, Partner: Blue Acorn iCi, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2, partners-contribution

#30996 Removed 'cache:flush' command from tests
  app/code/Magento/Catalog/Test/Mftf/Test/StorefrontOnlyXProductLeftForSimpleProductsTest.xml
  app/code/Magento/CatalogUrlRewrite/Test/Mftf/Test/AdminVerifyCheckboxIsDisabledCreatePermanentRedirectSetNoTest.xml
  app/code/Magento/LoginAsCustomer/Test/Mftf/Test/AdminLoginAsCustomerAddProductToWishlistTest.xml
  app/code/Magento/LoginAsCustomer/Test/Mftf/Test/AdminLoginAsCustomerAutoDetectionTest.xml
  app/code/Magento/LoginAsCustomer/Test/Mftf/Test/AdminLoginAsCustomerDirectlyToCustomWebsiteTest.xml
  app/code/Magento/LoginAsCustomer/Test/Mftf/Test/AdminLoginAsCustomerEditCustomersAddressTest.xml
  app/code/Magento/LoginAsCustomer/Test/Mftf/Test/AdminLoginAsCustomerLogNotShownIfLoginAsCustomerDisabledTest.xml
  app/code/Magento/LoginAsCustomer/Test/Mftf/Test/AdminLoginAsCustomerLoggingTest.xml
  app/code/Magento/LoginAsCustomer/Test/Mftf/Test/AdminLoginAsCustomerManualChooseFromOrderPageTest.xml
  app/code/Magento/LoginAsCustomer/Test/Mftf/Test/AdminLoginAsCustomerManualChooseTest.xml
  app/code/Magento/LoginAsCustomer/Test/Mftf/Test/AdminLoginAsCustomerMultishippingLoggingTest.xml
  app/code/Magento/LoginAsCustomer/Test/Mftf/Test/AdminLoginAsCustomerPlaceOrderTest.xml
  app/code/Magento/LoginAsCustomer/Test/Mftf/Test/AdminLoginAsCustomerReorderTest.xml
  app/code/Magento/LoginAsCustomer/Test/Mftf/Test/AdminLoginAsCustomerSubscribeToNewsletterTest.xml
  app/code/Magento/LoginAsCustomer/Test/Mftf/Test/AdminLoginAsCustomerUserLogoutTest.xml
  app/code/Magento/LoginAsCustomer/Test/Mftf/Test/AdminLoginAsCustomerUserSingleSessionTest.xml
  app/code/Magento/LoginAsCustomer/Test/Mftf/Test/AdminNoAccessToLoginAsCustomerButtonTest.xml
  app/code/Magento/LoginAsCustomer/Test/Mftf/Test/AdminNoAccessToLoginAsCustomerConfigurationTest.xml
  app/code/Magento/LoginAsCustomer/Test/Mftf/Test/AdminUINotShownIfLoginAsCustomerDisabledTest.xml
  app/code/Magento/LoginAsCustomer/Test/Mftf/Test/StorefrontLoginAsCustomerNotificationBannerTest.xml
Labels: Auto-Tests: Covered, Award: bug fix, Component: Catalog, Component: CatalogUrlRewrite, Component: LoginAsCustomer, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S2, Severity: S4, partners-contribution

#31016 [MFTF] Refactoring of AdminCreateOrderAddProductCheckboxTest
  app/code/Magento/Sales/Test/Mftf/ActionGroup/AddSimpleProductToOrderAndCheckCheckboxActionGroup.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCreateOrderAddProductCheckboxTest.xml
Labels: Auto-Tests: Covered, Component: Sales, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S2, partners-contribution

#31025 Removed 'indexer:reindex', 'cache:flush' and AdminReindexAndFlushCache
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontBundlePlaceOrderWithVirtualAndSimpleChildrenTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/StorefrontCheckNoAppearDefaultOptionConfigurableProductTest.xml
  app/code/Magento/CatalogRule/Test/Mftf/Test/AdminCreateCatalogPriceRuleTest/AdminCreateCatalogPriceRuleForCustomerGroupTest.xml
  app/code/Magento/CatalogRuleConfigurable/Test/Mftf/Test/AdminApplyCatalogRuleForConfigurableProductWithAssignedSimpleProducts2Test.xml
  app/code/Magento/CatalogRuleConfigurable/Test/Mftf/Test/AdminApplyCatalogRuleForConfigurableProductWithOptions2Test.xml
  app/code/Magento/CatalogUrlRewrite/Test/Mftf/Test/AdminVerifyCheckboxIsDisabledCreatePermanentRedirectSetNoTest.xml
  app/code/Magento/Downloadable/Test/Mftf/Test/StorefrontAccountDownloadableProductLinkAfterPartialRefundTest.xml
  app/code/Magento/Indexer/Test/Mftf/ActionGroup/AdminReindexAndFlushCacheActionGroup.xml
  app/code/Magento/Paypal/Test/Mftf/Test/StorefrontPaypalSmartButtonWithFranceMerchantCountryTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/StorefrontReorderAsGuestTest.xml
Labels: Auto-Tests: Covered, Award: category of expertise, Component: Bundle, Component: Catalog, Component: CatalogRule, Component: CatalogRuleConfigurable, Component: CatalogUrlRewrite, Component: Downloadable, Component: Indexer, Component: Paypal, Component: Sales, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S2, partners-contribution

#31098 Add INT types in some WHERE IN (?) expressions
  app/code/Magento/AdvancedPricingImportExport/Model/Export/AdvancedPricing.php
  app/code/Magento/Bundle/Model/ResourceModel/Selection.php
  app/code/Magento/Catalog/Model/Indexer/Product/Price/AbstractAction.php
  app/code/Magento/Catalog/Model/ResourceModel/Attribute.php
  app/code/Magento/Catalog/Model/ResourceModel/Category.php
  app/code/Magento/Catalog/Model/ResourceModel/Url.php
  app/code/Magento/CatalogGraphQl/DataProvider/AttributeQuery.php
  app/code/Magento/CatalogInventory/Model/Indexer/ProductPriceIndexFilter.php
  app/code/Magento/CatalogInventory/Model/Indexer/Stock/AbstractAction.php
  app/code/Magento/CatalogInventory/Model/ResourceModel/Indexer/Stock/DefaultStock.php
  app/code/Magento/CatalogInventory/Model/ResourceModel/Stock/Status.php
  app/code/Magento/CatalogInventory/Test/Unit/Model/Indexer/ProductPriceIndexFilterTest.php
  app/code/Magento/CatalogRule/Model/ResourceModel/Rule.php
  app/code/Magento/ConfigurableProduct/Model/ResourceModel/Indexer/Stock/Configurable.php
  app/code/Magento/ConfigurableProduct/Model/ResourceModel/Product/Type/Configurable.php
  app/code/Magento/GroupedProduct/Model/ResourceModel/Indexer/Stock/Grouped.php
  app/code/Magento/GroupedProduct/Model/ResourceModel/Product/Indexer/Price/Grouped.php
  app/code/Magento/ProductVideo/Model/ResourceModel/Video.php
  app/code/Magento/Reports/Model/ResourceModel/Customer/Collection.php
Labels: Auto-Tests: Not Required, Award: bug fix, Component: AdvancedPricingImportExport, Component: Bundle, Component: Catalog, Component: CatalogGraphQl, Component: CatalogInventory, Component: CatalogRule, Component: ConfigurableProduct, Component: GroupedProduct, Component: ProductVideo, Component: Reports, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S3

#31142 Removed redundant header issue in grid cells while adding grouped product items after changing attribute set
  app/code/Magento/GroupedProduct/Test/Mftf/ActionGroup/AdminAssertProductOnGroupedOptionGridActionGroup.xml
  app/code/Magento/GroupedProduct/Test/Mftf/Section/AdminGroupedProductOptionGridSection.xml
  app/code/Magento/GroupedProduct/Test/Mftf/Test/AdminCreateGroupedProductNonDefaultAttributeSetTest.xml
  app/code/Magento/GroupedProduct/Ui/DataProvider/Product/Form/Modifier/Grouped.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: GroupedProduct, Partner: Krish TechnoLabs, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#29991 Fix issue when can't remove layout update after add during new widget creation
  app/code/Magento/Widget/Test/Mftf/ActionGroup/AdminCreateWidgetWthoutLayoutActionGroup.xml
  app/code/Magento/Widget/Test/Mftf/ActionGroup/AdminWidgetAddLayoutUpdateActionGroup.xml
  app/code/Magento/Widget/Test/Mftf/ActionGroup/AdminWidgetDeleteLayoutUpdateActionGroup.xml
  app/code/Magento/Widget/Test/Mftf/Section/AdminNewWidgetSection.xml
  app/code/Magento/Widget/Test/Mftf/Test/AdminWidgetAddAndDeleteMultipleLayoutSectionsTest.xml
  lib/internal/Magento/Framework/View/Helper/SecureHtmlRenderer.php
Labels: Auto-Tests: Covered, Award: MFTF test coverage, Award: bug fix, Component: View, Component: Widget, Partner: Krish TechnoLabs, Priority: P1, Priority: P3, Progress: accept, Progress: testing in progress, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2, partners-contribution

#31097 [MFTF] Refactoring of ProductsQtyReturnAfterOrderCancelTest
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminCheckProductQtyAfterOrderCancellingTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/ProductsQtyReturnAfterOrderCancelTest.xml
  app/code/Magento/Quote/Test/Mftf/Data/CartItemData.xml
  app/code/Magento/Sales/Test/Mftf/ActionGroup/AdminInvoiceWithUpdatedProductQtyActionGroup.xml
Labels: Auto-Tests: Covered, Component: ConfigurableProduct, Component: Quote, Component: Sales, Partner: Atwix, Priority: P2, Progress: ready for testing, Release Line: 2.4, Severity: S3, partners-contribution

#31123 [MFTF] Refactoring of AdminMassOrdersCancelCompleteAndClosedTest
  app/code/Magento/Sales/Test/Mftf/Data/CreditMemoData.xml
  app/code/Magento/Sales/Test/Mftf/Data/InvoiceData.xml
  app/code/Magento/Sales/Test/Mftf/Data/ShipmentData.xml
  app/code/Magento/Sales/Test/Mftf/Metadata/CreditMemoMeta.xml
  app/code/Magento/Sales/Test/Mftf/Metadata/InvoiceMeta.xml
  app/code/Magento/Sales/Test/Mftf/Metadata/ShipmentMeta.xml
  app/code/Magento/Sales/Test/Mftf/Section/AdminOrdersGridSection.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminMassOrdersCancelClosedAndCompleteTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminMassOrdersCancelCompleteAndClosedTest.xml
Labels: Auto-Tests: Covered, Award: category of expertise, Component: Sales, Partner: Atwix, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#31128 Removed usage of CliIndexerReindexActionGroup action group
  app/code/Magento/Bundle/Test/Mftf/Test/AdminAssociateBundleProductToWebsitesTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminDeleteBundleDynamicPriceProductTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/MassEnableDisableBundleProductsTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontAddBundleProductWithZeroPriceToShoppingCartTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontCustomerSearchBundleProductsByKeywordsTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontSortBundleProductsByPriceTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontVerifyDynamicBundleProductPricesForCombinationOfOptionsTest.xml
  app/code/Magento/BundleImportExport/Test/Mftf/Test/UpdateBundleProductViaImportTest.xml
  app/code/Magento/CatalogUrlRewrite/Test/Mftf/Test/StorefrontCategoryUrlRewriteDifferentStoreTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminConfigurableProductLongSkuTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminCreateConfigurableProductWithImagesTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/EndToEndB2CLoggedInUserTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/StorefrontConfigurableProductChildSearchTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/StorefrontConfigurableProductViewTest/StorefrontConfigurableProductGridViewTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/StorefrontShouldSeeOnlyConfigurableProductChildAssignedToSeparateCategoryTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/StorefrontSortingByPriceForConfigurableWithCatalogRuleAppliedTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/StorefrontVerifyConfigurableProductLayeredNavigationTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/StorefrontVisibilityOfDuplicateProductTest.xml
Labels: Auto-Tests: Covered, Award: category of expertise, Component: Bundle, Component: BundleImportExport, Component: CatalogUrlRewrite, Component: ConfigurableProduct, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#31147 [MFTF] Refactoring of AdminApplyTierPriceToProductWithPercentageDiscountTest
  app/code/Magento/Catalog/Test/Mftf/Data/TierPriceData.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminApplyTierPriceToProductTest/AdminApplyTierPriceToProductWithPercentageDiscountTest.xml
Labels: Auto-Tests: Covered, Component: Catalog, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#31165 Invalid combination of tabs and spaces in phpstan.neon
  dev/tests/static/testsuite/Magento/Test/Php/_files/phpstan/phpstan.neon
Labels: Auto-Tests: Not Required, Cleanup, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S4, improvement

#31221 [MFTF] Refactoring of AdminUpdateSimpleProductWithRegularPriceInStockEnabledFlatTest
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminAssignTwoCategoriesToProductActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminFillMainProductFormActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AssertAdminManageStockOnEditPageActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AssertAdminProductInfoOnEditPageActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AssertAdminProductIsAssignedToCategoryActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AssertStorefrontProductStockStatusOnProductPageActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/Section/AdminProductFormSection/AdminProductFormSection.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockEnabledFlatCatalogTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockEnabledFlatTest.xml
Labels: Auto-Tests: Covered, Component: Catalog, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S2, partners-contribution

#31241 [MFTF] Adding AssertAdminProductIsAssignedToCategoryActionGroup
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AssertAdminProductIsAssignedToCategoryActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/Section/AdminProductFormSection/AdminProductFormSection.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductTieredPriceTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockNotVisibleIndividuallyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockVisibleInCatalogAndSearchTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockVisibleInCatalogOnlyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockVisibleInSearchOnlyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockWithCustomOptionsTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceOutOfStockTest.xml
Labels: Auto-Tests: Covered, Component: Catalog, Partner: Atwix, Priority: P2, Progress: ready for testing, Release Line: 2.4, Severity: S2, partners-contribution

#31243 [MFTF] Updating with OpenEditProductOnBackendActionGroup
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductNameToVerifyDataOverridingOnStoreViewLevelTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductPriceToVerifyDataOverridingOnStoreViewLevelTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductTieredPriceTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockDisabledProductTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockEnabledFlatTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockNotVisibleIndividuallyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockUnassignFromCategoryTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockVisibleInCatalogAndSearchTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockVisibleInCatalogOnlyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockVisibleInSearchOnlyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockWithCustomOptionsTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceOutOfStockTest.xml
Labels: Auto-Tests: Covered, Component: Catalog, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S2, partners-contribution

#30837 [MFTF] create AssertLinkActionGroup
  app/code/Magento/Backend/Test/Mftf/ActionGroup/AssertLinkActionGroup.xml
  app/code/Magento/Backend/Test/Mftf/Test/AdminPrivacyPolicyTest.xml
Labels: Auto-Tests: Covered, Component: Backend, Partner: Atwix, Priority: P2, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#31021 Fix wrong format error DHL shipping label
  app/code/Magento/Checkout/Test/Mftf/Test/AdminCheckConfigsChangesIsNotAffectedStartedCheckoutProcessTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontAddBundleDynamicProductToShoppingCartTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontAddOneBundleMultiSelectOptionToTheShoppingCartTest.xml
  app/code/Magento/Dhl/Model/Carrier.php
  dev/tests/integration/testsuite/Magento/Dhl/Model/CarrierTest.php
Labels: Auto-Tests: Covered, Component: Checkout, Component: Dhl, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#31053 remove clearing cache for integration tests
  dev/tests/api-functional/testsuite/Magento/GraphQl/Catalog/ProductSearchTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/CatalogUrlRewrite/UrlResolverTest.php
  dev/tests/integration/testsuite/Magento/Catalog/Controller/Adminhtml/ProductTest.php
  dev/tests/integration/testsuite/Magento/Catalog/Model/ConfigTest.php
  dev/tests/integration/testsuite/Magento/Catalog/Model/Product/Attribute/Source/CountryofmanufactureTest.php
  dev/tests/integration/testsuite/Magento/Catalog/Model/ResourceModel/Attribute/Entity/AttributeTest.php
  dev/tests/integration/testsuite/Magento/Catalog/Ui/DataProvider/Product/Form/Modifier/CategoriesTest.php
  dev/tests/integration/testsuite/Magento/Customer/Model/AddressMetadataTest.php
  dev/tests/integration/testsuite/Magento/Customer/Model/CustomerMetadataTest.php
  dev/tests/integration/testsuite/Magento/Directory/Block/DataTest.php
  dev/tests/integration/testsuite/Magento/Eav/Model/ConfigTest.php
  dev/tests/integration/testsuite/Magento/Eav/Model/Entity/Attribute/Frontend/DefaultFrontendTest.php
  dev/tests/integration/testsuite/Magento/Eav/Model/Entity/AttributeLoaderTest.php
  dev/tests/integration/testsuite/Magento/Framework/App/Config/InitialTest.php
  dev/tests/integration/testsuite/Magento/Framework/App/ObjectManager/ConfigLoaderTest.php
  dev/tests/integration/testsuite/Magento/Framework/App/Route/ConfigTest.php
  dev/tests/integration/testsuite/Magento/Framework/DB/Adapter/Pdo/MysqlTest.php
  dev/tests/integration/testsuite/Magento/Framework/Reflection/MethodsMapTest.php
  dev/tests/integration/testsuite/Magento/Framework/TranslateTest.php
  dev/tests/integration/testsuite/Magento/Framework/View/Element/UiComponent/Config/Provider/TemplateTest.php
  dev/tests/integration/testsuite/Magento/ProductAlert/Model/ObserverTest.php
  dev/tests/integration/testsuite/Magento/ReleaseNotification/Controller/Adminhtml/Dashboard/IndexTest.php
  dev/tests/integration/testsuite/Magento/Store/Model/StoreResolverTest.php
  dev/tests/integration/testsuite/Magento/Theme/Model/Theme/ThemeProviderTest.php
  dev/tests/integration/testsuite/Magento/Translation/Model/Js/PreProcessorTest.php
Labels: Auto-Tests: Covered, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S2, partners-contribution

#30634 Fix minisearch not appear when disable suggestions search
  app/code/Magento/Search/Test/Mftf/Section/StorefrontQuickSearchSection.xml
  app/code/Magento/Search/Test/Mftf/Test/StorefrontVerifySearchFieldVisibilityWhenSuggestionDisabledTest.xml
  app/code/Magento/Search/ViewModel/ConfigProvider.php
  app/code/Magento/Search/view/frontend/templates/form.mini.phtml
  app/code/Magento/Search/view/frontend/web/js/form-mini.js
Labels: Area: Frontend, Auto-Tests: Covered, Award: MFTF test coverage, Award: bug fix, Component: Search, Event: MageCONF CD 2020, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#28007 Cron cleanup repeatedly hits deadlocks on large environments where groups can overlap
  app/code/Magento/Cron/Model/DeadlockRetrier.php
  app/code/Magento/Cron/Model/ResourceModel/Schedule.php
  app/code/Magento/Cron/Observer/ProcessCronQueueObserver.php
  app/code/Magento/Cron/Test/Unit/Model/DeadlockRetrierTest.php
  app/code/Magento/Cron/Test/Unit/Observer/ProcessCronQueueObserverTest.php
  app/code/Magento/Cron/etc/db_schema.xml
  app/code/Magento/Cron/etc/db_schema_whitelist.json
Labels: Auto-Tests: Covered, Award: advanced, Award: bug fix, Award: category of expertise, Component: Cron, Priority: P1, Priority: P2, Progress: accept, Release Line: 2.4, Risk: high, Severity: S1, Severity: S2, Severity: S3

#31287 [MFTF] Adding AdminSelectAttributeSetOnEditProductPageActionGroup
  app/code/Magento/Bundle/Test/Mftf/Test/AdminAttributeSetSelectionTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminBasicBundleProductAttributesTest.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminSelectAttributeSetOnEditProductPageActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminChangeProductAttributeSetTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateAttributeSetEntityTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateProductCustomAttributeSetTest.xml
Labels: Auto-Tests: Covered, Component: Bundle, Component: Catalog, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S2, partners-contribution

#31099 [MFTF] Refactoring of AddOutOfStockProductToCompareListTest
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/StorefrontHoverProductOnCategoryPageActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AddOutOfStockProductToCompareListTest.xml
Labels: Component: Catalog, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#30410 Fatal error page occurs if use wrong shipment id ,invoice id ,creditmemo id passed in url
  app/code/Magento/Sales/Controller/Adminhtml/Order/Creditmemo/View.php
  app/code/Magento/Sales/Controller/Adminhtml/Order/CreditmemoLoader.php
  app/code/Magento/Sales/Controller/Adminhtml/Order/Invoice/View.php
  app/code/Magento/Sales/Test/Mftf/ActionGroup/AdminGoToCreditmemoViewActionGroup.xml
  app/code/Magento/Sales/Test/Mftf/Page/AdminCreditMemoViewPage.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminOpenCreditmemoViewPageWithWrongCreditmemoIdTest.xml
  app/code/Magento/Sales/Test/Unit/Controller/Adminhtml/Order/Creditmemo/ViewTest.php
  app/code/Magento/Sales/Test/Unit/Controller/Adminhtml/Order/Invoice/ViewTest.php
  app/code/Magento/Sales/i18n/en_US.csv
  app/code/Magento/Shipping/Controller/Adminhtml/Order/Shipment/View.php
  app/code/Magento/Shipping/Controller/Adminhtml/Order/ShipmentLoader.php
  app/code/Magento/Shipping/Test/Mftf/ActionGroup/AdminGoToShipmentViewActionGroup.xml
  app/code/Magento/Shipping/Test/Mftf/Page/AdminShipmentViewPage.xml
  app/code/Magento/Shipping/Test/Mftf/Test/AdminOpenShipmentViewPageWithWrongShipmentIdTest.xml
  app/code/Magento/Shipping/Test/Unit/Controller/Adminhtml/Order/Shipment/ViewTest.php
  app/code/Magento/Shipping/i18n/en_US.csv
Labels: Auto-Tests: Covered, Award: complex, Award: test coverage, Component: Sales, Component: Shipping, Event: dmcdindia2020, Partner: Cedcommerce, Priority: P1, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S0, partners-contribution

#31420 [MFTF] Updating with StorefrontHoverProductOnCategoryPageActionGroup
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontGoToDetailsPageWhenAddingToCartTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/AddressStateFieldForUKCustomerRemainOptionAfterRefreshTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/AddressStateFieldShouldNotAcceptJustIntegerValuesTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/NoErrorCartCheckoutForProductsDeletedFromMiniCartTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontCustomerCheckoutTest/StorefrontCustomerCheckoutTestWithMultipleAddressesAndTaxRatesTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontCustomerCheckoutTest/StorefrontCustomerCheckoutTestWithRestrictedCountriesForPaymentTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontGuestCheckoutTest/StorefrontGuestCheckoutTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontGuestCheckoutTest/StorefrontGuestCheckoutTestWithRestrictedCountriesForPaymentTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontVerifySecureURLRedirectCheckoutTest.xml
  app/code/Magento/Multishipping/Test/Mftf/Test/StorefrontVerifySecureURLRedirectMultishippingTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCreateInvoiceTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/CreditMemoTotalAfterShippingDiscountTest.xml
Labels: Component: Bundle, Component: Checkout, Component: Multishipping, Component: Sales, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S2, partners-contribution

#31433 Replace repetitive actions with Action Groups in AdminCheckConfigurableProductPriceWithDisabledChildProductTest
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCheckConfigurableProductPriceWithDisabledChildProductTest.xml
Labels: Auto-Tests: Covered, Component: Catalog, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S2, partners-contribution

#31157 Fix #30724 - Customer Account Edit controller action enforces Page Title to "Account Information"
  app/code/Magento/Customer/Controller/Account/Edit.php
  app/code/Magento/Customer/view/frontend/layout/customer_account_edit.xml
Labels: Area: Frontend, Auto-Tests: Not Required, Award: bug fix, Component: Customer, Partner: Fast White Cat, Priority: P2, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#31166 Adjust .editorconfig to correct the automatic formatting of db_schema_whitelist.json files
  .editorconfig
Labels: Auto-Tests: Not Required, Priority: P2, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S4, improvement

#31212 Fixed #31211
  app/code/Magento/Vault/i18n/en_US.csv
  app/code/Magento/Vault/view/frontend/templates/customer_account/credit_card.phtml
Labels: Area: Frontend, Auto-Tests: Not Required, Award: bug fix, Component: Vault, Priority: P2, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#30938 ISSUE-29690: Fixing issue when the images' sort was using ID instead of position field
  app/code/Magento/ConfigurableProduct/Block/Plugin/Product/Media/Gallery.php
  app/code/Magento/ConfigurableProduct/Test/Mftf/ActionGroup/StorefrontSelectSimpleProductOfConfigurableProductPageActionGroup.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminCreateConfigurableProductWithVideoAssociatedToVariantTest.xml
  app/code/Magento/ConfigurableProduct/Test/Unit/Block/Plugin/Product/Media/GalleryTest.php
Labels: Auto-Tests: Covered, Award: MFTF test coverage, Award: bug fix, Component: ConfigurableProduct, Partner: Blue Acorn iCi, Priority: P2, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2, help wanted, partners-contribution

#30959 Add regions for Albania,Denmark,Greece,Iceland,Portugal and Sweden
  app/code/Magento/Directory/Setup/Patch/Data/AddDataForAlbania.php
  app/code/Magento/Directory/Setup/Patch/Data/AddDataForDenmark.php
  app/code/Magento/Directory/Setup/Patch/Data/AddDataForGreece.php
  app/code/Magento/Directory/Setup/Patch/Data/AddDataForIceland.php
  app/code/Magento/Directory/Setup/Patch/Data/AddDataForPortugal.php
  app/code/Magento/Directory/Setup/Patch/Data/AddDataForSweden.php
  dev/tests/integration/testsuite/Magento/Directory/Model/RegionTest.php
Labels: Auto-Tests: Covered, Component: Directory, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#30990 Allow to generate big number of customer on galera cluster
  setup/src/Magento/Setup/Model/FixtureGenerator/CustomerGenerator.php
Labels: Auto-Tests: Not Required, Award: bug fix, Award: category of expertise, Component: Setup, Priority: P2, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#31352 MC-35725: Price range of a Bundle Product is displayed incorrectly in the case of options with tier price
  app/code/Magento/Bundle/Pricing/Price/BundleSelectionFactory.php
  dev/tests/integration/testsuite/Magento/Bundle/Pricing/Price/FinalPriceTest.php
  dev/tests/integration/testsuite/Magento/Bundle/_files/bundle_product_with_tier_price_selections.php
  dev/tests/integration/testsuite/Magento/Bundle/_files/bundle_product_with_tier_price_selections_rollback.php
  dev/tests/integration/testsuite/Magento/Catalog/_files/three_simple_products_with_tier_price.php
  dev/tests/integration/testsuite/Magento/Catalog/_files/three_simple_products_with_tier_price_rollback.php
Labels: Auto-Tests: Covered, Component: Bundle, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S2

#31368 MC-39718: Process Manager always exits successfully
  app/code/Magento/Indexer/Model/ProcessManager.php
  app/code/Magento/Indexer/Test/Unit/Model/ProcessManagerTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: Indexer, Priority: P1, Progress: accept, Release Line: 2.4, Severity: S1

#31397 Product import: Only the first additional image is validated.
  app/code/Magento/CatalogImportExport/Model/Import/Product/Validator/Media.php
  dev/tests/integration/testsuite/Magento/CatalogImportExport/Model/Import/ProductTest.php
  dev/tests/integration/testsuite/Magento/CatalogImportExport/Model/Import/_files/import_media.csv
  dev/tests/integration/testsuite/Magento/CatalogImportExport/Model/Import/_files/import_media_additional_images_storeview.csv
  dev/tests/integration/testsuite/Magento/CatalogImportExport/Model/Import/_files/import_media_additional_images_with_wrong_url.csv
  dev/tests/integration/testsuite/Magento/CatalogImportExport/Model/Import/_files/import_media_existing_images.csv
  dev/tests/integration/testsuite/Magento/CatalogImportExport/Model/Import/_files/import_media_hidden_images.csv
  dev/tests/integration/testsuite/Magento/CatalogImportExport/Model/Import/_files/products_to_import_with_non_existing_image.csv
Labels: Component: CatalogImportExport, Priority: P2, Progress: extended testing, Progress: ready for testing, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2
