Repository magento/magento2, pull requests merged in 2021-12, with the labels that each got.

#34730 Jquery Cookie library updated to v1.4.1
  lib/web/jquery/jquery.cookie.js
Labels: Area: Lib/Frontend, Progress: ready for testing, Release Line: 2.4, Auto-Tests: Not Required, Priority: P2, Project: Platform Health

#34504 Fixes for integration tests php81 compatibility
  app/code/Magento/Backend/view/adminhtml/templates/widget/form/renderer/fieldset.phtml
  app/code/Magento/Bundle/Block/Adminhtml/Catalog/Product/Edit/Tab/Bundle/Option/Search/Grid.php
  app/code/Magento/CatalogInventory/Observer/SaveInventoryDataObserver.php
  lib/internal/Magento/Framework/Filter/StripTags.php
Labels: partners-contribution, Partner: Atwix, Progress: ready for testing, Project: Platform Health

#34656 Fixed php 8.1 deprecations to pass Integration Tests - part 1
  app/code/Magento/Backend/Block/Widget/Grid/Column/Renderer/AbstractRenderer.php
  app/code/Magento/Catalog/Block/Product/ProductList/Toolbar.php
  app/code/Magento/Catalog/Controller/Category/View.php
  app/code/Magento/Catalog/Model/Product/Option.php
  app/code/Magento/Catalog/Model/Product/Option/Type/File/Validator.php
  app/code/Magento/Catalog/Test/Unit/Block/Product/ProductList/ToolbarTest.php
  app/code/Magento/Catalog/Test/Unit/Controller/Category/ViewTest.php
  app/code/Magento/CustomerImportExport/Model/Import/AbstractCustomer.php
  app/code/Magento/Dhl/Model/Carrier.php
  app/code/Magento/Eav/Model/Entity/Attribute/Source/Table.php
  app/code/Magento/Eav/Model/Entity/Increment/NumericValue.php
  app/code/Magento/Paypal/Model/Payflow/Service/Gateway.php
  app/code/Magento/Shipping/Model/Carrier/AbstractCarrierOnline.php
  app/code/Magento/Store/App/Response/Redirect.php
  app/code/Magento/Store/Model/Store.php
  lib/internal/Magento/Framework/Data/Form.php
Labels: partners-contribution, Partner: Atwix, Progress: ready for testing, Priority: P2, Project: Platform Health

#34681 Fixed php 8.1 deprecations to pass Integration Tests part -2
  app/code/Magento/Catalog/Helper/Product/View.php
  app/code/Magento/PageCache/Model/System/Config/Backend/Varnish.php
  app/code/Magento/ReleaseNotification/Model/Condition/CanViewNotification.php
  app/code/Magento/ReleaseNotification/Test/Unit/Model/Condition/CanViewNotificationTest.php
  app/code/Magento/Sales/Helper/Guest.php
  dev/tests/integration/testsuite/Magento/Backend/Block/Widget/Grid/Massaction/AdditionalTest.php
  dev/tests/integration/testsuite/Magento/Catalog/Helper/Product/ViewTest.php
  dev/tests/integration/testsuite/Magento/Framework/Image/Adapter/InterfaceTest.php
  dev/tests/integration/testsuite/Magento/Framework/Translate/InlineTest.php
  dev/tests/integration/testsuite/Magento/Integration/Block/Adminhtml/Integration/TokensTest.php
  dev/tests/integration/testsuite/Magento/Review/Block/Adminhtml/Edit/FormTest.php
  lib/internal/Magento/Framework/Image/Adapter/Gd2.php
  lib/internal/Magento/Framework/Image/Adapter/ImageMagick.php
  lib/internal/Magento/Framework/Serialize/Serializer/Json.php
  lib/internal/Magento/Framework/Serialize/Test/Unit/Serializer/JsonTest.php
  lib/internal/Magento/Framework/View/Element/AbstractBlock.php
  lib/internal/Magento/Framework/View/Model/Layout/Merge.php
Labels: Component: Catalog, Component: Sales, partners-contribution, Partner: Atwix, Component: PageCache, Component: ReleaseNotification, Progress: ready for testing, Component: DB, Component: View, Release Line: 2.4, Component: Filter, Component: Image, Priority: P2, Component: Serialize, Project: Platform Health

#34704 Fix Magento Unit Tests to be compatible with PHP 8.1
  app/code/Magento/Catalog/Test/Unit/Controller/Adminhtml/Product/Attribute/SaveTest.php
  app/code/Magento/Catalog/Test/Unit/Model/Category/FileInfoTest.php
  app/code/Magento/CatalogImportExport/Test/Unit/Model/Import/Product/ValidatorTest.php
  app/code/Magento/Customer/Model/Metadata/Form/Text.php
  app/code/Magento/Customer/Test/Unit/Block/Adminhtml/Edit/Tab/View/PersonalInfoTest.php
  app/code/Magento/Customer/Test/Unit/Model/Metadata/Form/FileTest.php
  app/code/Magento/Customer/Test/Unit/Model/Metadata/Form/MultiselectTest.php
  app/code/Magento/MediaStorage/Test/Unit/App/MediaTest.php
  app/code/Magento/Paypal/Test/Unit/Model/Api/NvpTest.php
  app/code/Magento/Rule/Test/Unit/Model/Condition/Product/AbstractProductTest.php
  app/code/Magento/Sitemap/Test/Unit/Model/SitemapTest.php
  app/code/Magento/Theme/Test/Unit/Model/Wysiwyg/StorageTest.php
  lib/internal/Magento/Framework/App/Test/Unit/MaintenanceModeTest.php
  lib/internal/Magento/Framework/Code/Test/Unit/Generator/EntityAbstractTest.php
  lib/internal/Magento/Framework/Code/Test/Unit/GeneratorTest.php
  lib/internal/Magento/Framework/View/Test/Unit/Asset/Bundle/ManagerTest.php
  lib/internal/Magento/Framework/View/Test/Unit/Element/Html/Link/CurrentTest.php
  lib/internal/Magento/Framework/View/Test/Unit/Element/UiComponent/ContextTest.php
  setup/src/Magento/Setup/Test/Unit/Fixtures/CartPriceRulesFixtureTest.php
Labels: partners-contribution, Partner: Atwix, Progress: ready for testing, Project: Platform Health

#34723 Fixed php 8.1 deprecations to pass Unit Tests
  app/code/Magento/Backend/Test/Unit/Block/Widget/Grid/Column/Renderer/CurrencyTest.php
  app/code/Magento/Bundle/Test/Unit/Model/Product/TypeTest.php
  app/code/Magento/Catalog/Test/Unit/Block/Widget/LinkTest.php
  app/code/Magento/Catalog/Test/Unit/Model/Category/Attribute/Backend/ImageTest.php
  app/code/Magento/Config/Test/Unit/Block/System/Config/Form/Field/Select/AllowspecificTest.php
  app/code/Magento/Customer/Test/Unit/Model/ResourceModel/GroupTest.php
  app/code/Magento/Usps/Model/Carrier.php
  app/code/Magento/Widget/Test/Unit/Block/Adminhtml/Widget/Catalog/Category/ChooserTest.php
  app/code/Magento/Wishlist/Test/Unit/Model/WishlistTest.php
  lib/internal/Magento/Framework/App/Response/Http.php
  lib/internal/Magento/Framework/Data/Test/Unit/Form/Element/EditablemultiselectTest.php
Labels: partners-contribution, Partner: Atwix, Progress: ready for testing, Project: Platform Health

#34757 Fix Magento Unit Tests to be compatible with PHP 8.1
  app/code/Magento/CatalogWidget/Test/Unit/Block/Product/Widget/ConditionsTest.php
  app/code/Magento/Fedex/Test/Unit/Model/CarrierTest.php
  app/code/Magento/ImportExport/Test/Unit/Model/ImportTest.php
  app/code/Magento/Reports/Test/Unit/Model/ResourceModel/Order/CollectionTest.php
  lib/internal/Magento/Framework/App/DeploymentConfig.php
  lib/internal/Magento/Framework/Data/Test/Unit/Form/Element/MultiselectTest.php
  lib/internal/Magento/Framework/Filesystem/Driver/File.php
  lib/internal/Magento/Framework/View/Test/Unit/Asset/RepositoryTest.php
Labels: Component: ImportExport, partners-contribution, Partner: Atwix, Component: CatalogWidget, Component: Reports, Component: Fedex, Progress: ready for testing, Component: Filesystem, Component: App, Component: Data, Component: View, Release Line: 2.4, Auto-Tests: Covered, Project: Platform Health

#34689 Fixes issues with PHP 8.1 compatibility found by WebApi tests - part 2
  app/code/Magento/Bundle/Pricing/Price/BundleSelectionPrice.php
  app/code/Magento/CatalogImportExport/Model/Import/Product/Type/AbstractType.php
  app/code/Magento/Cms/Model/Block.php
  app/code/Magento/Downloadable/Helper/Catalog/Product/Configuration.php
  app/code/Magento/GroupedProduct/Test/Unit/Pricing/Price/ConfiguredPriceTest.php
  app/code/Magento/Payment/Block/Info/Instructions.php
  app/code/Magento/Sales/Model/Order.php
  app/code/Magento/Sales/Test/Unit/Model/OrderTest.php
  lib/internal/Magento/Framework/Image/Adapter/Gd2.php
  lib/internal/Magento/Framework/Pricing/Price/AbstractPrice.php
  lib/internal/Magento/Framework/Search/Dynamic/Algorithm/Auto.php
  setup/src/Magento/Setup/Console/Command/GenerateFixturesCommand.php
  setup/src/Magento/Setup/Model/BatchInsert.php
Labels: partners-contribution, Partner: Atwix, Progress: ready for testing, Project: Platform Health

#34769 CE#34543: Update `laminas/laminas-code` composer dependency to the latest version
  composer.json
  composer.lock
  lib/internal/Magento/Framework/composer.json
Labels: partners-contribution, Partner: Atwix, Progress: ready for testing, Component: Composer, Release Line: 2.4, Priority: P2, Project: Platform Health

#34774 Fixed php 8.1 deprecations to pass Integration Tests
  app/code/Magento/Backend/view/adminhtml/templates/widget/grid/extended.phtml
  app/code/Magento/Catalog/view/frontend/templates/product/list.phtml
  app/code/Magento/Cms/Block/Adminhtml/Wysiwyg/Images/Tree.php
  app/code/Magento/Cron/Model/Schedule.php
  app/code/Magento/Integration/Block/Adminhtml/Widget/Grid/Column/Renderer/Name.php
  app/code/Magento/Tax/Model/Calculation/Rate.php
  dev/tests/integration/testsuite/Magento/Paypal/Model/Api/NvpTest.php
  dev/tests/integration/testsuite/Magento/Security/Model/Plugin/AuthSessionTest.php
  lib/internal/Magento/Framework/Stdlib/DateTime/Timezone.php
  setup/src/Magento/Setup/Console/Command/GenerateFixturesCommand.php
  setup/src/Magento/Setup/Module/Setup/SetupCache.php
Labels: Component: Setup, Component: Tax, Component: Catalog, Component: Cms, Area: Frontend, Component: Cron, partners-contribution, Partner: Atwix, Component: Backend, Component: Integration, Progress: ready for testing, Release Line: 2.4, Component: Stdlib, Project: Platform Health

#34671 Fix magento codebase for Integration Tests to be compatible with PHP 8.1 part 2
  app/code/Magento/Backend/view/adminhtml/templates/widget/tabs.phtml
  app/code/Magento/Catalog/Model/Indexer/Product/Flat/TableBuilder.php
  app/code/Magento/Catalog/Model/Product/Option/Type/Date.php
  app/code/Magento/Catalog/Model/Product/Option/Type/Text.php
  app/code/Magento/Catalog/Test/Unit/Ui/DataProvider/CatalogEavValidationRulesTest.php
  app/code/Magento/Catalog/Ui/DataProvider/CatalogEavValidationRules.php
  app/code/Magento/CatalogImportExport/Model/Import/Product/Option.php
  app/code/Magento/Checkout/view/frontend/templates/cart/coupon.phtml
  app/code/Magento/CustomerImportExport/Model/Import/Address.php
  app/code/Magento/OfflineShipping/Model/ResourceModel/Carrier/Tablerate/RateQuery.php
  app/code/Magento/Reports/Model/ResourceModel/Report/AbstractReport.php
  app/code/Magento/Tax/Model/Calculation/Rate.php
  app/code/Magento/Tax/Model/Calculation/RateRepository.php
  app/code/Magento/Tax/Model/Calculation/Rule/Validator.php
  dev/tests/integration/testsuite/Magento/Framework/MessageQueue/Topology/ConfigTest.php
Labels: partners-contribution, Partner: Atwix, Progress: ready for testing, Priority: P2, Project: Platform Health

#34767 Fix Magento Unit Tests to be compatible with PHP 8.1
  app/code/Magento/Contact/Controller/Index/Post.php
  app/code/Magento/Contact/Test/Unit/Controller/Index/PostTest.php
  app/code/Magento/MediaStorage/Test/Unit/App/MediaTest.php
  app/code/Magento/Reports/Test/Unit/Block/Adminhtml/Grid/Column/Renderer/CurrencyTest.php
  lib/internal/Magento/Framework/DB/Test/Unit/Adapter/Pdo/MysqlTest.php
Labels: Component: Customer, partners-contribution, Partner: Atwix, Component: CatalogImportExport, Component: MediaStorage, Component: Reports, Component: Downloadable, Progress: ready for testing, Component: DB, Release Line: 2.4, Project: Platform Health

#34484 Remove redundant COUNT() call for 1st page of results
  app/code/Magento/Theme/Plugin/Data/Collection.php
  app/code/Magento/Theme/Test/Unit/Plugin/CollectionTest.php
Labels: Award: test coverage, partners-contribution, Component: Theme, Progress: ready for testing, Release Line: 2.4, Auto-Tests: Covered, Priority: P1, Severity: S1, Partner: Blue Acorn iCi, Risk: low, Area: Performance

#33505 Prevent opcache invalidation on every request
  dev/tests/api-functional/testsuite/Magento/Downloadable/Api/SampleRepositoryTest.php
  lib/internal/Magento/Framework/App/DeploymentConfig/Reader.php
Labels: improvement, Progress: needs update, Award: bug fix, Award: category of expertise, Component: App, Release Line: 2.4, Auto-Tests: Not Required, Priority: P1, Triage: Performance

#34781 CE#34567: Fix deprecation issues found by integration tests
  app/code/Magento/CatalogImportExport/Model/Import/Product/Validator.php
  app/code/Magento/Customer/Block/Adminhtml/Edit/Tab/View/PersonalInfo.php
  app/code/Magento/Customer/Model/Options.php
  app/code/Magento/Dhl/Model/Carrier.php
  app/code/Magento/GoogleAnalytics/Block/Ga.php
  app/code/Magento/Payment/Model/Method/Cc.php
  app/code/Magento/Reports/Block/Adminhtml/Config/Form/Field/YtdStart.php
  app/code/Magento/Tax/Controller/Adminhtml/Rule/AjaxLoadRates.php
  app/code/Magento/User/Controller/Adminhtml/User/Role/SaveRole.php
  app/code/Magento/Widget/Block/Adminhtml/Widget/Options.php
Labels: Component: Tax, Component: Customer, Component: Payment, partners-contribution, Partner: Atwix, Component: User, Component: Widget, Component: GoogleAnalytics, Component: CatalogImportExport, Component: Reports, Component: Dhl, Award: category of expertise, Release Line: 2.4, Auto-Tests: Not Required, Progress: review, Priority: P2, Project: Platform Health

#34788 Updated composer dependencies
  app/code/Magento/Elasticsearch/composer.json
  app/code/Magento/Elasticsearch6/composer.json
  app/code/Magento/Elasticsearch7/composer.json
  composer.json
  composer.lock
Labels: Award: special achievement, partners-contribution, Partner: Atwix, Component: Elasticsearch, Award: category of expertise, Progress: ready for testing, Release Line: 2.4, Auto-Tests: Not Required, Priority: P2, Project: Platform Health

#34793 [WIP] fix deprecation warning on PHP 8.1
  lib/internal/Magento/Framework/Code/Reader/ArgumentsReader.php
Labels: partners-contribution, Partner: Atwix, Component: Code, Release Line: 2.4

#34616 Added fixes for FileUploader and consumers to compatibility with PHP 8.1
  app/code/Magento/Catalog/Controller/Adminhtml/Product/Gallery/Upload.php
  app/code/Magento/Catalog/Model/ImageUploader.php
  app/code/Magento/CatalogImportExport/Model/Import/Uploader.php
  app/code/Magento/Config/Model/Config/Backend/File.php
  app/code/Magento/Customer/Model/FileProcessor.php
  app/code/Magento/Downloadable/Helper/File.php
  app/code/Magento/Downloadable/Model/File/ContentUploader.php
  app/code/Magento/Downloadable/Test/Unit/Helper/FileTest.php
  app/code/Magento/ImportExport/Model/Import.php
  app/code/Magento/Theme/Model/Wysiwyg/Storage.php
  dev/tests/integration/testsuite/Magento/Downloadable/Model/File/ContentUploaderTest.php
Labels: partners-contribution, Partner: Atwix, Progress: review, Priority: P2, Project: Platform Health

#34808 Fix deprecation issues for PHP 8.1
  app/code/Magento/Reports/Controller/Adminhtml/Report/AbstractReport.php
  dev/tests/integration/testsuite/Magento/Catalog/Controller/Adminhtml/Product/Set/SaveTest.php
  dev/tests/integration/testsuite/Magento/Customer/Ui/Component/Listing/Address/DataProviderTest.php
  lib/internal/Magento/Framework/Stdlib/StringUtils.php
Labels: partners-contribution, Partner: Atwix, Component: Reports, Progress: ready for testing, Release Line: 2.4, Component: Stdlib, Priority: P2, Project: Platform Health

#34813 Fixed failed Integration Tests (Part 1)
  dev/tests/integration/testsuite/Magento/Framework/View/Element/TemplateTest.php
  dev/tests/integration/testsuite/Magento/Test/Integrity/Magento/Payment/MethodsTest.php
  dev/tests/integration/testsuite/Magento/Theme/Block/Html/FooterTest.php
Labels: partners-contribution, Partner: Atwix, Progress: review, Project: Platform Health

#34819 Fixed Mysql PDO Adapter for PHP 8.1 compatibility
  lib/internal/Magento/Framework/DB/Adapter/Pdo/Mysql.php
Labels: Component: ImportExport, partners-contribution, Partner: Atwix, Release Line: 2.4, Progress: pending review, Project: Platform Health

#34820 Fix missing name in layout issue
  app/code/Magento/CatalogRule/Block/Adminhtml/Promo/Catalog/Edit/Tab/Conditions.php
  app/code/Magento/SalesRule/Block/Adminhtml/Promo/Quote/Edit/Tab/Actions.php
  app/code/Magento/SalesRule/Block/Adminhtml/Promo/Quote/Edit/Tab/Conditions.php
Labels: Component: CatalogRule, partners-contribution, Partner: Atwix, Component: SalesRule, Progress: ready for testing, Release Line: 2.4, Priority: P2, Project: Platform Health

#34821 Fix deprecation issues on PHP 8.1 found by MFTF tests
  app/code/Magento/CatalogSearch/Model/ResourceModel/Fulltext/Collection.php
  app/code/Magento/Config/Console/Command/ConfigShowCommand.php
  app/code/Magento/GiftMessage/Model/GiftMessageManager.php
  app/code/Magento/GiftMessage/view/frontend/templates/inline.phtml
  app/code/Magento/OfflinePayments/Model/Banktransfer.php
  app/code/Magento/OfflinePayments/Model/Cashondelivery.php
Labels: Area: Frontend, Component: Config, partners-contribution, Partner: Atwix, Component: GiftMessage, Component: CatalogSearch, Component: OfflinePayments, Progress: ready for testing, Release Line: 2.4, Auto-Tests: Not Required, Priority: P2, Priority: P1, Project: Platform Health

#34827 Fixes failed tests for Data Object
  app/code/Magento/Backend/Block/Widget/Grid/Column/Renderer/AbstractRenderer.php
  app/code/Magento/Backend/Block/Widget/Grid/Column/Renderer/Currency.php
  lib/internal/Magento/Framework/View/Element/UiComponent/DataProvider/Document.php
Labels: partners-contribution, Partner: Atwix, Component: Backend, Progress: ready for testing, Release Line: 2.4, Project: Platform Health

#34839 Fixes for data object [PART 2]
  app/code/Magento/Backend/Block/Widget/Grid/Column/Renderer/Currency.php
  app/code/Magento/Backend/Block/Widget/Grid/Column/Renderer/Price.php
  lib/internal/Magento/Framework/DataObject.php
Labels: partners-contribution, Partner: Atwix, Component: Backend, Release Line: 2.4, Component: DataObject, Progress: pending review, Priority: P2, Priority: P1, Project: Platform Health
