Repository magento/magento2, pull requests merged in 2021-03, with the labels that each got.

#31998 MC-40777: Cannot save product in store view scope without Magento_Catalog::edit_product_design
  app/code/Magento/Catalog/Model/Product/Authorization.php
  dev/tests/integration/testsuite/Magento/Catalog/Model/Product/AuthorizationTest.php
  dev/tests/integration/testsuite/Magento/Catalog/_files/product_simple_with_design_attributes.php
  dev/tests/integration/testsuite/Magento/Catalog/_files/product_simple_with_design_attributes_rollback.php
Labels: Component: Catalog, Priority: P2, Progress: extended testing, Release Line: 2.4, Severity: S2

#32002 MC-23553: Invalid Template Strings when Translate Inline enabled
  app/code/Magento/Translation/Model/Inline/Parser.php
  app/code/Magento/Translation/Test/Unit/Model/Inline/ParserTest.php
  lib/internal/Magento/Framework/Escaper.php
  lib/internal/Magento/Framework/Test/Unit/EscaperTest.php
Labels: Component: Escaper, Component: Test, Component: Translation, Priority: P2, Progress: ready for testing, Release Line: 2.4, Severity: S4

#32217 Custom category layout update not affecting products.
  app/code/Magento/Catalog/Model/Design.php
  dev/tests/integration/testsuite/Magento/Catalog/Model/DesignTest.php
  lib/internal/Magento/Framework/View/Result/Page.php
Labels: Component: Catalog, Component: View, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S2

#32239 Email may not be sent if Magento has enabled asynchronous email sending on multiple websites.
  app/code/Magento/Sales/Model/Order/Email/Sender/CreditmemoSender.php
  app/code/Magento/Sales/Model/Order/Email/Sender/InvoiceSender.php
  app/code/Magento/Sales/Model/Order/Email/Sender/OrderSender.php
  app/code/Magento/Sales/Model/Order/Shipment/Sender/EmailSender.php
  dev/tests/integration/testsuite/Magento/Sales/Model/Order/Email/Sender/CreditmemoSenderTest.php
  dev/tests/integration/testsuite/Magento/Sales/Model/Order/Email/Sender/InvoiceSenderTest.php
  dev/tests/integration/testsuite/Magento/Sales/Model/Order/Email/Sender/OrderSenderTest.php
  dev/tests/integration/testsuite/Magento/Sales/Model/Order/Shipment/Sender/EmailSenderTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: Sales, Priority: P2, Progress: ready for testing, Release Line: 2.4, Severity: S2

#31861 fixed deprecated reflection method
  dev/tests/static/framework/Magento/CodeMessDetector/Rule/Design/CookieAndSessionMisuse.php
  dev/tests/static/framework/Magento/TestFramework/Integrity/Library/Injectable.php
  dev/tests/static/testsuite/Magento/Test/Integrity/PublicCodeTest.php
  lib/internal/Magento/Framework/Code/Generator/EntityAbstract.php
  lib/internal/Magento/Framework/Code/Reader/ArgumentsReader.php
  lib/internal/Magento/Framework/Code/Reader/ClassReader.php
  lib/internal/Magento/Framework/Code/Reader/SourceArgumentsReader.php
  lib/internal/Magento/Framework/Interception/Code/InterfaceValidator.php
  lib/internal/Magento/Framework/TestFramework/Unit/Helper/ObjectManager.php
  setup/src/Zend/Mvc/Controller/LazyControllerAbstractFactory.php
Labels: Auto-Tests: Not Required, Partner: Atwix, Progress: ready for testing, Project: PHP8

#31933 Do not send an ajax request if there no affected sections
  app/code/Magento/Customer/view/frontend/web/js/customer-data.js
  dev/tests/js/jasmine/tests/app/code/Magento/Customer/frontend/js/customer-data.test.js
Labels: Area: Frontend, Auto-Tests: Covered, Component: Customer, Priority: P1, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S1

#31953 Removed CliCacheFlushActionGroup usage for ConfigurableProduct module
  app/code/Magento/CatalogUrlRewrite/Test/Mftf/Test/AdminRewriteProductWithTwoStoreTest.xml
  app/code/Magento/CatalogUrlRewrite/Test/Mftf/Test/StorefrontCategoryAccessibleWhenSuffixIsNullTest.xml
  app/code/Magento/CatalogUrlRewrite/Test/Mftf/Test/StorefrontCategoryUrlRewriteDifferentStoreTest.xml
  app/code/Magento/Config/Test/Mftf/Test/CheckingCountryDropDownWithOneAllowedCountryTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminCreateConfigurableProductWithCreatingCategoryAndAttributeTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminCreateConfigurableProductWithDisabledChildrenProductsTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminCreateConfigurableProductWithThreeProductDisplayOutOfStockProductsTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminCreateConfigurableProductWithThreeProductDontDisplayOutOfStockProductsTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminCreateConfigurableProductWithTwoOptionsAssignedToCategoryTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminCreateConfigurableProductWithTwoOptionsWithoutAssignedToCategoryTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/EndToEndB2CLoggedInUserTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/StorefrontConfigurableProductChildSearchTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/StorefrontConfigurableProductViewTest/StorefrontConfigurableProductGridViewTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/StorefrontConfigurableProductViewTest/StorefrontConfigurableProductMSRPCovertTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/StorefrontVisibilityOfDuplicateProductTest.xml
  app/code/Magento/Contact/Test/Mftf/Test/StorefrontVerifySecureURLRedirectContactTest.xml
  app/code/Magento/Cookie/Test/Mftf/Test/StorefrontVerifySecureCookieTest.xml
  app/code/Magento/Cookie/Test/Mftf/Test/StorefrontVerifyUnsecureCookieTest.xml
Labels: Auto-Tests: Covered, Component: CatalogUrlRewrite, Component: Config, Component: ConfigurableProduct, Component: Contact, Component: Cookie, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S2, partners-contribution

#32009 REST API Product update url_key doesnt re-gerenate url_rewites when single store enabled
  app/code/Magento/Catalog/Model/Product.php
  app/code/Magento/Catalog/Test/Unit/Model/ProductTest.php
  dev/tests/api-functional/testsuite/Magento/Catalog/Api/ProductRepositoryInterfaceTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: Catalog, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#32078 Removed CliCacheFlushActionGroup usage for Customer module
  app/code/Magento/Checkout/Test/Mftf/Test/StoreFrontFreeShippingRecalculationAfterCouponCodeAddedTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StoreFrontFreeShippingRecalculationAfterCouponCodeAppliedTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontCheckSimpleProductCartItemDisplayWithDefaultLimitationTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontCheckVirtualProductCountDisplayWithCustomDisplayConfigurationTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontCheckoutDisabledBundleProductTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontCheckoutWithDifferentShippingAndBillingAddressAndProductWithTierPricesTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontCheckoutWithSpecialPriceProductsTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontDeleteConfigurableProductFromMiniShoppingCartTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontDeleteDownloadableProductFromMiniShoppingCartTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontGuestCheckoutUsingFreeShippingAndTaxesTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontVerifyGuestCheckoutUsingFreeShippingAndTaxesTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontVerifySecureURLRedirectCheckoutTest.xml
  app/code/Magento/CurrencySymbol/Test/Mftf/Test/AdminCurrencyConverterAPIConfigurationTest.xml
  app/code/Magento/Customer/Test/Mftf/Test/AdminCheckDefaultValueDisableAutoGroupChangeIsNoTest.xml
  app/code/Magento/Customer/Test/Mftf/Test/AdminCheckDefaultValueDisableAutoGroupChangeIsYesTest.xml
  app/code/Magento/Customer/Test/Mftf/Test/AdminCreateCustomerWithCustomGroupTest.xml
  app/code/Magento/Customer/Test/Mftf/Test/AdminResetCustomerPasswordTest.xml
  app/code/Magento/Customer/Test/Mftf/Test/AllowedCountriesRestrictionApplyOnBackendTest.xml
  app/code/Magento/Customer/Test/Mftf/Test/StorefrontClearAllCompareProductsTest.xml
  app/code/Magento/Customer/Test/Mftf/Test/StorefrontVerifySecureURLRedirectCustomerTest.xml
Labels: Auto-Tests: Not Required, Component: Checkout, Component: CurrencySymbol, Component: Customer, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S2, partners-contribution

#32082 Deleting disabled category forces category flat and catalog search re-indexed fully
  app/code/Magento/Catalog/Model/Category.php
  app/code/Magento/Catalog/Model/ResourceModel/Category.php
  app/code/Magento/CatalogSearch/Model/Indexer/Fulltext/Model/Plugin/Category.php
  dev/tests/integration/testsuite/Magento/Catalog/Model/Indexer/Category/ProductTest.php
  dev/tests/integration/testsuite/Magento/CatalogSearch/Model/Indexer/Fulltext/Model/Plugin/CategoryTest.php
Labels: Auto-Tests: Covered, Component: Catalog, Component: CatalogSearch, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#32187 [Sales] Fixed order address retriever for prevent populating data from shipping to billing
  app/code/Magento/Customer/Test/Mftf/Data/AddressData.xml
  app/code/Magento/Customer/Test/Mftf/Data/CustomerData.xml
  app/code/Magento/Customer/Test/Mftf/Data/RegionData.xml
  app/code/Magento/LoginAsCustomer/Test/Mftf/Page/AdminLoginAsCustomerLogPage.xml
  app/code/Magento/LoginAsCustomer/Test/Mftf/Page/AdminLoginAsCustomerLoginManualPage.xml
  app/code/Magento/LoginAsCustomer/Test/Mftf/Page/StorefrontLoginAsCustomerLoginProceedPage.xml
  app/code/Magento/Sales/Model/Order.php
  app/code/Magento/Sales/Test/Mftf/ActionGroup/AssertOrderAddressInformationActionGroup.xml
  app/code/Magento/Sales/Test/Mftf/ActionGroup/AssertOrderAddressWithStateInformationActionGroup.xml
  app/code/Magento/Sales/Test/Mftf/Test/StorefrontCreateOrderWithDifferentAddressesTest.xml
Labels: Auto-Tests: Covered, Award: bug fix, Component: Customer, Component: LoginAsCustomer, Component: Sales, Priority: P2, Progress: accept, Progress: testing in progress, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#32249 Magento_Backend store switcher: Use nowdoc instead of heredoc
  app/code/Magento/Backend/view/adminhtml/templates/store/switcher.phtml
Labels: Area: Frontend, Auto-Tests: Not Required, Award: bug fix, Component: Backend, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S2, improvement

#32299 Move test to correct folder
  dev/tests/integration/testsuite/Magento/Theme/Block/Html/Header/LogoTest.php
Labels: Auto-Tests: Covered, Priority: P1, Progress: accept, Release Line: 2.4

#31390 [MFTF] Coverage for the 30645 Customer Edit Issue when there is a newsletter queue associated with it
  app/code/Magento/Customer/Test/Mftf/Test/AdminEditCustomerWithAssociatedNewsletterQueueTest.xml
  app/code/Magento/Newsletter/Test/Mftf/ActionGroup/AdminCreateNewsletterTemplateActionGroup.xml
  app/code/Magento/Newsletter/Test/Mftf/ActionGroup/AdminQueueNewsletterActionGroup.xml
  app/code/Magento/Newsletter/Test/Mftf/Page/NewsletterTemplatePage/NewsletterTemplateFormPage.xml
  app/code/Magento/Newsletter/Test/Mftf/Section/AdminNewsletterGridMainActionsSection.xml
  app/code/Magento/Newsletter/Test/Mftf/Section/AdminNewsletterMainActionsSection.xml
  app/code/Magento/Newsletter/Test/Mftf/Section/NewsletterTemplateSection/BasicFieldNewsletterSection.xml
  app/code/Magento/Newsletter/Test/Mftf/Section/NewsletterTemplateSection/QueueInformationSection.xml
Labels: Auto-Tests: Covered, Component: Customer, Component: Newsletter, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S2, partners-contribution

#31395 [MFTF] Refactoring AdminCreateCreditMemoForOrderWithCashOnDeliveryTest
  app/code/Magento/Payment/Test/Mftf/Data/PaymentMethodData.xml
  app/code/Magento/Quote/Test/Mftf/Data/CustomerCartData.xml
  app/code/Magento/Sales/Test/Mftf/ActionGroup/AdminClickRefundOfflineOnCreditMemoDetailPageActionGroup.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCheckNewCreditMemoTotalsForFranceTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCreateCreditMemoForOrderWithCashOnDeliveryTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCreateCreditMemoWithCashOnDeliveryTest.xml
Labels: Auto-Tests: Covered, Component: Payment, Component: Quote, Component: Sales, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S2, partners-contribution

#31451 [MFTF] Refactoring AdminCheckDashboardWithChartsTest
  app/code/Magento/Backend/Test/Mftf/ActionGroup/AssertAdminDashboardDisplayedWithNoErrorsActionGroup.xml
  app/code/Magento/Backend/Test/Mftf/Test/AdminCheckDashboardWithChartsTest.xml
  app/code/Magento/Backend/Test/Mftf/Test/AdminDashboardWithChartsTest.xml
Labels: Auto-Tests: Covered, Component: Backend, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#31482 show or hide password widget created
  app/code/Magento/Customer/Test/Mftf/ActionGroup/AssertCustomerEditFormPasswordFieldActionGroup.xml
  app/code/Magento/Customer/Test/Mftf/ActionGroup/AssertLoginFormPasswordFieldActionGroup.xml
  app/code/Magento/Customer/Test/Mftf/ActionGroup/AssertRegistrationFormPasswordFieldActionGroup.xml
  app/code/Magento/Customer/Test/Mftf/ActionGroup/StorefrontCustomerEditFormClickShowPasswordActionGroup.xml
  app/code/Magento/Customer/Test/Mftf/ActionGroup/StorefrontFillChangePasswordFormActionGroup.xml
  app/code/Magento/Customer/Test/Mftf/ActionGroup/StorefrontLoginFormClickShowPasswordActionGroup.xml
  app/code/Magento/Customer/Test/Mftf/ActionGroup/StorefrontOpenCustomerChangePasswordPageActionGroup.xml
  app/code/Magento/Customer/Test/Mftf/ActionGroup/StorefrontRegistrationFormClickShowPasswordActionGroup.xml
  app/code/Magento/Customer/Test/Mftf/Section/StorefrontCustomerAccountInformationSection.xml
  app/code/Magento/Customer/Test/Mftf/Section/StorefrontCustomerCreateFormSection/StorefrontCustomerCreateFormSection.xml
  app/code/Magento/Customer/Test/Mftf/Section/StorefrontCustomerSignInFormSection/StorefrontCustomerSignInFormSection.xml
  app/code/Magento/Customer/Test/Mftf/Test/StorefrontChangePasswordFormShowPasswordTest.xml
  app/code/Magento/Customer/Test/Mftf/Test/StorefrontCreateCustomerFormShowPasswordTest.xml
  app/code/Magento/Customer/Test/Mftf/Test/StorefrontLoginFormShowPasswordTest.xml
  app/code/Magento/Customer/view/frontend/requirejs-config.js
  app/code/Magento/Customer/view/frontend/templates/form/edit.phtml
  app/code/Magento/Customer/view/frontend/templates/form/login.phtml
  app/code/Magento/Customer/view/frontend/templates/form/register.phtml
  app/code/Magento/Customer/view/frontend/templates/form/resetforgottenpassword.phtml
  app/code/Magento/Customer/view/frontend/web/js/show-password.js
  app/code/Magento/Customer/view/frontend/web/template/show-password.html
Labels: Area: Frontend, Auto-Tests: Covered, Component: Customer, Partner: Ziffity, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2, partners-contribution

#31645 Adding required custom options to simple product removes it from parent composite products without warning
  app/code/Magento/Catalog/Model/Product/Option/SaveHandler.php
  app/code/Magento/Catalog/Test/Unit/Model/Product/Option/SaveHandlerTest.php
  dev/tests/integration/testsuite/Magento/ConfigurableProduct/Model/Product/Type/ConfigurableTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: Catalog, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#31851 Removed CliIndexerReindexActionGroup action group usage for modules (mix)
  app/code/Magento/Elasticsearch/Test/Mftf/Suite/SearchEngineElasticsearchSuite.xml
  app/code/Magento/Elasticsearch/Test/Mftf/Test/StorefrontProductQuickSearchWithDecimalAttributeUsingElasticSearchTest.xml
  app/code/Magento/Elasticsearch6/Test/Mftf/Test/StorefrontElasticsearchSearchInvalidValueTest.xml
  app/code/Magento/LayeredNavigation/Test/Mftf/Test/ShopByButtonInMobileTest.xml
  app/code/Magento/LoginAsCustomer/Test/Mftf/Test/AdminUIShownIfLoginAsCustomerEnabledTest.xml
  app/code/Magento/LoginAsCustomer/Test/Mftf/Test/StorefrontLoginAsCustomerSeeSpecialPriceOnCategoryTest.xml
  app/code/Magento/Newsletter/Test/Mftf/Test/VerifySubscribedNewsletterDisplayedTest.xml
  app/code/Magento/UrlRewrite/Test/Mftf/Test/AdminCheckUrlRewritesInCatalogCategoriesAfterChangingUrlKeyForStoreViewAndMovingCategory2Test.xml
  app/code/Magento/UrlRewrite/Test/Mftf/Test/AdminProductCreateUrlRewriteForCustomStoreViewTest.xml
  app/code/Magento/Weee/Test/Mftf/Test/AdminFixedTaxValSavedForSpecificWebsiteTest.xml
  app/code/Magento/Wishlist/Test/Mftf/Test/StorefrontAddProductsToCartFromWishlistUsingSidebarTest.xml
  app/code/Magento/Wishlist/Test/Mftf/Test/StorefrontCheckOptionsConfigurableProductInWishlistTest.xml
  app/code/Magento/Wishlist/Test/Mftf/Test/StorefrontDeleteBundleFixedProductFromWishlistTest.xml
  app/code/Magento/Wishlist/Test/Mftf/Test/StorefrontDeleteConfigurableProductFromWishlistTest.xml
  app/code/Magento/Wishlist/Test/Mftf/Test/StorefrontMoveConfigurableProductFromShoppingCartToWishlistTest.xml
  app/code/Magento/Wishlist/Test/Mftf/Test/StorefrontRemoveProductsFromWishlistUsingSidebarTest.xml
  app/code/Magento/Wishlist/Test/Mftf/Test/StorefrontUpdateWishlistTest.xml
Labels: Component: Elasticsearch, Component: LayeredNavigation, Component: LoginAsCustomer, Component: Newsletter, Component: UrlRewrite, Component: Weee, Component: Wishlist, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, partners-contribution

#31886 Fix #30471 - Page layouts are hard-coded in Magento\Widget\Block\Adminhtml\Widget\Instance\Edit\Chooser\Container
  app/code/Magento/Widget/Block/Adminhtml/Widget/Instance/Edit/Chooser/Container.php
  app/code/Magento/Widget/Test/Unit/Block/Adminhtml/Widget/Instance/Edit/Chooser/AbstractContainerTest.php
  app/code/Magento/Widget/Test/Unit/Block/Adminhtml/Widget/Instance/Edit/Chooser/ContainerTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: Widget, Partner: Fast White Cat, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#30329 Resolve Login As Customer Log - Logged In must be DateRange Filter instead of Text filter, Date display wrong timezone issue30328
  app/code/Magento/LoginAsCustomer/Test/Mftf/ActionGroup/AdminLoginAsCustomerLogFilterDatePickerTodayActionGroup.xml
  app/code/Magento/LoginAsCustomer/Test/Mftf/Section/AdminLoginAsCustomerLogToolbarSection.xml
  app/code/Magento/LoginAsCustomer/Test/Mftf/Test/AdminLoginAsCustomerLoggingFilterTest.xml
  app/code/Magento/LoginAsCustomerLog/view/adminhtml/ui_component/login_as_customer_log_listing.xml
Labels: Area: Frontend, Auto-Tests: Covered, Award: bug fix, Component: LoginAsCustomer, Component: LoginAsCustomerLog, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, Technology Partner: Magestore, tech-partners-contribution

#30850 [MFTF] Refactoring of AdminConfigDefaultProductLayoutFromConfigurationSettingTest
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminExpandProductDesignSectionActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateSimpleProductTest/AdminConfigDefaultProductLayoutFromConfigurationSettingTest.xml
  app/code/Magento/Cms/Test/Mftf/ActionGroup/AdminSetProductLayoutSettingsActionGroup.xml
Labels: Auto-Tests: Covered, Component: Catalog, Component: Cms, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#32275 MC-34456: Related Products can not be added to the Shopping Cart from a Wish List
  app/code/Magento/Wishlist/Controller/Index/Cart.php
  dev/tests/integration/testsuite/Magento/Wishlist/Controller/Index/CartTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: Wishlist, Priority: P2, Progress: ready for testing, Release Line: 2.4, Severity: S2

#32301 Add to Cart broken on lists view with redirect to cart enabled.
  app/code/Magento/Catalog/Test/Mftf/Section/StorefrontProductCompareMainSection.xml
  app/code/Magento/Catalog/view/frontend/templates/product/compare/list.phtml
  app/code/Magento/Catalog/view/frontend/templates/product/list.phtml
  app/code/Magento/Checkout/Test/Mftf/ActionGroup/StorefrontAddSimpleProductToCartFromComparisonListActionGroup.xml
  app/code/Magento/Checkout/Test/Mftf/Data/CheckoutConfigData.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontAddSimpleProductToCartWithRedirectToShoppingCartTest.xml
Labels: Area: Frontend, Auto-Tests: Covered, Award: MFTF test coverage, Award: bug fix, Component: Catalog, Component: Checkout, Priority: P1, Progress: ready for testing, Release Line: 2.4, Severity: S1

#32259 On separate admin domain, reviews are not saved with correct store ID.
  app/code/Magento/Review/Block/Adminhtml/Edit/Form.php
  dev/tests/integration/testsuite/Magento/Review/Block/Adminhtml/Edit/FormTest.php
Labels: Component: Review, Priority: P1, Progress: ready for testing, Release Line: 2.4, Severity: S2

#32337 "laminas/laminas-mime" updated to ^2.8.0
  composer.json
  composer.lock
  lib/internal/Magento/Framework/composer.json
Labels: Auto-Tests: Not Required, Progress: ready for testing, Project: PHP8

#32314 laminas/laminas-view updated to ~2.12.0 #31784
  composer.json
  composer.lock
Labels: Auto-Tests: Not Required, Progress: ready for testing, Project: PHP8

#32340 "laminas/laminas-soap" updated to ^2.9.0
  composer.json
  composer.lock
Labels: Progress: ready for testing, Project: PHP8

#32251 MC-23989: Mini cart missing when you edit inline welcome message for guest and use special characters
  app/code/Magento/Customer/Test/Mftf/ActionGroup/AssertStorefrontCustomWelcomeMessageActionGroup.xml
  app/code/Magento/Theme/view/frontend/templates/html/header.phtml
  app/code/Magento/Translation/Test/Mftf/Data/TranslationData.xml
  app/code/Magento/Translation/Test/Mftf/Section/StorefrontPanelHeaderTranslationSection.xml
  app/code/Magento/Translation/Test/Mftf/Test/StorefrontInlineTranslationWithQuoteSymbolsTest.xml
Labels: Area: Frontend, Component: Theme, Priority: P1, Progress: ready for testing, Release Line: 2.4, Severity: S1

#32326 Some strings not translatable in M2.4.1
  lib/internal/Magento/Framework/App/FrontController.php
  lib/internal/Magento/Framework/App/Test/Unit/FrontControllerTest.php
Labels: Auto-Tests: Not Required, Award: bug fix, Component: App, Priority: P1, Progress: ready for testing, Release Line: 2.4, Severity: S2

#32363 \Error object not handled properly in numerous areas.
  app/code/Magento/Cms/Controller/Adminhtml/Page/Save.php
  app/code/Magento/Cms/Test/Unit/Controller/Adminhtml/Page/SaveTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: Cms, Priority: P2, Progress: ready for testing, Release Line: 2.4, Severity: S3

#31571 magento/magento2#31332:Implement the schema changes for Configurable …
  app/code/Magento/CatalogGraphQl/Model/Resolver/Products/DataProvider/ProductSearch.php
  app/code/Magento/ConfigurableProductGraphQl/Model/Formatter/Option.php
  app/code/Magento/ConfigurableProductGraphQl/Model/Formatter/OptionValue.php
  app/code/Magento/ConfigurableProductGraphQl/Model/Formatter/Variant.php
  app/code/Magento/ConfigurableProductGraphQl/Model/Options/DataProvider/Variant.php
  app/code/Magento/ConfigurableProductGraphQl/Model/Options/Metadata.php
  app/code/Magento/ConfigurableProductGraphQl/Model/Options/SelectionUidFormatter.php
  app/code/Magento/ConfigurableProductGraphQl/Model/Resolver/OptionsSelection.php
  app/code/Magento/ConfigurableProductGraphQl/Model/Resolver/OptionsSelectionMetadata.php
  app/code/Magento/ConfigurableProductGraphQl/composer.json
  app/code/Magento/ConfigurableProductGraphQl/etc/module.xml
  app/code/Magento/ConfigurableProductGraphQl/etc/schema.graphqls
  app/code/Magento/SwatchesGraphQl/etc/module.xml
  app/code/Magento/SwatchesGraphQl/etc/schema.graphqls
  dev/tests/api-functional/testsuite/Magento/GraphQl/ConfigurableProduct/AddConfigurableProductToCartSingleMutationTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/ConfigurableProduct/ConfigurableOptionsSelectionTest.php
  dev/tests/integration/testsuite/Magento/ConfigurableProduct/_files/configurable_products_with_two_attributes_combination.php
Labels: Component: CatalogGraphQl, Component: ConfigurableProductGraphQl, PAP, Priority: P1, Progress: review, Project: GraphQL, Release Line: 2.4

#32473 Update laminas feed to be PHP8 compatible
  composer.json
  composer.lock
Labels: Auto-Tests: Not Required, Partner: Monsoon, Progress: ready for testing, Project: PHP8, partners-contribution

#32436 31782 - Update laminas/laminas-log package
  composer.json
  composer.lock
Labels: Auto-Tests: Not Required, Partner: Atwix, Progress: ready for testing, Project: PHP8, partners-contribution

#32393 Shipping radio button reorder#30257
  app/code/Magento/Sales/view/adminhtml/templates/order/create/shipping/method/form.phtml
Labels: Area: Frontend, Auto-Tests: Not Required, Award: bug fix, Component: Sales, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#32462 Fix incorrect setting of the SameSite cookie param
  app/code/Magento/Cookie/view/base/web/js/jquery.storageapi.extended.js
  app/code/Magento/PageCache/view/frontend/web/js/form-key-provider.js
  lib/web/jquery/jquery.cookie.js
  lib/web/mage/adminhtml/tools.js
  lib/web/mage/cookies.js
Labels: Area: Frontend, Area: Lib/Frontend, Auto-Tests: Not Required, Component: Cookie, Component: PageCache, Priority: P1, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S1

#32398 Category content upload media minify#31633
  app/code/Magento/MediaGalleryUi/view/adminhtml/web/js/validation/validate-image-description.js
  app/code/Magento/MediaGalleryUi/view/adminhtml/web/js/validation/validate-image-title.js
Labels: Area: Frontend, Auto-Tests: Not Required, Award: bug fix, Component: MediaGalleryUi, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#31961 Removed CliCacheFlushActionGroup usage for Wishlist module
  app/code/Magento/Swatches/Test/Mftf/Test/AdminDisablingSwatchTooltipsTest.xml
  app/code/Magento/Swatches/Test/Mftf/Test/StorefrontImageColorWhenFilterByColorFilterTest.xml
  app/code/Magento/Translation/Test/Mftf/Test/StorefrontInlineTranslationOnCheckoutTest.xml
  app/code/Magento/UrlRewrite/Test/Mftf/Test/AdminCheckUrlRewritesCorrectlyGeneratedForMultipleStoreviewsDuringProductImportTest/AdminUrlRewriteMultipleStoreviewsProductImportWithConfigTurnedOffTest.xml
  app/code/Magento/UrlRewrite/Test/Mftf/Test/AdminGenerateUrlRewritesForProductInCategoriesSwitchOffTest.xml
  app/code/Magento/UrlRewrite/Test/Mftf/Test/AdminUrlRewritesForProductInAnchorCategoriesTest/AdminUrlRewritesForProductInAnchorCategoriesTestWithConfigurationTurnedOffTest.xml
  app/code/Magento/UrlRewrite/Test/Mftf/Test/AdminUrlRewritesForProductInAnchorCategoriesTest/AdminUrlRewritesForProductsWithConfigurationTurnedOffTest.xml
  app/code/Magento/Vault/Test/Mftf/Test/StorefrontVerifySecureURLRedirectVaultTest.xml
  app/code/Magento/Weee/Test/Mftf/Test/AdminFixedTaxValSavedForSpecificWebsiteTest.xml
  app/code/Magento/Wishlist/Test/Mftf/Test/StorefrontAddProductsToCartFromWishlistUsingSidebarTest.xml
  app/code/Magento/Wishlist/Test/Mftf/Test/StorefrontCheckOptionsConfigurableProductInWishlistTest.xml
  app/code/Magento/Wishlist/Test/Mftf/Test/StorefrontDeleteBundleFixedProductFromWishlistTest.xml
  app/code/Magento/Wishlist/Test/Mftf/Test/StorefrontDeleteConfigurableProductFromWishlistTest.xml
  app/code/Magento/Wishlist/Test/Mftf/Test/StorefrontMoveConfigurableProductFromShoppingCartToWishlistTest.xml
  app/code/Magento/Wishlist/Test/Mftf/Test/StorefrontRemoveProductsFromWishlistUsingSidebarTest.xml
  app/code/Magento/Wishlist/Test/Mftf/Test/StorefrontUpdateWishlistTest.xml
  app/code/Magento/Wishlist/Test/Mftf/Test/StorefrontVerifySecureURLRedirectWishlistTest.xml
Labels: Component: Swatches, Component: Translation, Component: UrlRewrite, Component: Vault, Component: Weee, Component: Wishlist, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, partners-contribution

#32186 Customers that have unsubscribed to the newsletter in the time span from when the queue was created and the actual sending of the newsletter still receive newsletters
  app/code/Magento/Newsletter/Model/Plugin/RemoveSubscriberFromQueue.php
  app/code/Magento/Newsletter/Model/RemoveSubscriberFromQueueLink.php
  app/code/Magento/Newsletter/Model/ResourceModel/Queue.php
  app/code/Magento/Newsletter/Model/Subscriber.php
  app/code/Magento/Newsletter/etc/di.xml
  dev/tests/integration/testsuite/Magento/Newsletter/Model/SubscriberTest.php
Labels: Auto-Tests: Covered, Component: Newsletter, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#32212 Magento_Authorization model Rules/Role calling a resource model function update, that is not exist in resource model(Rules/Role)
  app/code/Magento/Authorization/Model/Role.php
  dev/tests/static/testsuite/Magento/Test/Legacy/_files/obsolete_methods.php
Labels: Auto-Tests: Not Required, Award: bug fix, Component: Authorization, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#32273 `catalog_product_entity_media_gallery` not cleared when related products deleted.
  app/code/Magento/Catalog/Plugin/RemoveImagesFromGalleryAfterRemovingProduct.php
  app/code/Magento/Catalog/etc/di.xml
  dev/tests/integration/testsuite/Magento/Catalog/Model/ResourceModel/Product/GalleryTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: Catalog, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#32389 Update ListProduct.php
  app/code/Magento/Catalog/Block/Product/ListProduct.php
  app/code/Magento/Catalog/Test/Unit/Block/Product/ListProductTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: Catalog, Partner: AYKO, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2, partners-contribution

#30755 MC-38592 Fixed load regions for scope
  app/code/Magento/Config/Test/Mftf/Data/CountryOptionConfigData.xml
  app/code/Magento/Config/Test/Mftf/Metadata/SystemConfigCountriesMeta.xml
  app/code/Magento/Customer/Test/Mftf/Test/AdminPlaceOrderWhenCountryAllowedOnlyOnCurrentWebsiteScopeTest.xml
  app/code/Magento/Directory/Helper/Data.php
Labels: Auto-Tests: Covered, Component: Config, Component: Customer, Component: Directory, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#28973 Scheduled price rule time zone correction
  app/code/Magento/CatalogRule/Model/Indexer/IndexBuilder.php
  dev/tests/integration/testsuite/Magento/CatalogRule/Model/Indexer/IndexerBuilderTest.php
  dev/tests/integration/testsuite/Magento/CatalogRule/Model/Indexer/Product/PriceTest.php
  dev/tests/integration/testsuite/Magento/CatalogRule/_files/simple_product_with_catalog_rule_50_percent_off_tomorrow.php
  dev/tests/integration/testsuite/Magento/CatalogRule/_files/simple_product_with_catalog_rule_50_percent_off_tomorrow_rollback.php
Labels: Auto-Tests: Covered, Component: CatalogRule, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#32475 Simplify setup wizard: remove angular, combine all data on one page, etc
  setup/config/router.config.php
  setup/config/states.install.config.php
  setup/pub/angular-clickout/angular-clickout.js
  setup/pub/angular-clickout/angular-clickout.min.js
  setup/pub/angular-clickout/angular-clickout.min.js.map
  setup/pub/angular-ng-dialog/angular-ng-dialog.min.js
  setup/pub/angular-ng-storage/angular-ng-storage.min.js
  setup/pub/angular-sanitize/angular-sanitize.js
  setup/pub/angular-sanitize/angular-sanitize.min.js
  setup/pub/angular-sanitize/angular-sanitize.min.js.map
  setup/pub/angular-ui-bootstrap/angular-ui-bootstrap.min.js
  setup/pub/angular-ui-router/angular-ui-router.min.js
  setup/pub/angular/angular.js
  setup/pub/angular/angular.min.js
  setup/pub/angular/angular.min.js.map
  setup/pub/bootstrap/js/bootstrap.js
  setup/pub/bootstrap/js/bootstrap.min.js
  setup/pub/fonts/icons/icons.eot
  setup/pub/fonts/icons/icons.svg
  setup/pub/fonts/icons/icons.ttf
  setup/pub/fonts/icons/icons.woff
  setup/pub/fonts/icons/icons.woff2
  setup/pub/fonts/icons/selection.json
  setup/pub/fonts/opensans/bold/opensans-700.eot
  setup/pub/fonts/opensans/bold/opensans-700.svg
  setup/pub/fonts/opensans/bold/opensans-700.ttf
  setup/pub/fonts/opensans/bold/opensans-700.woff
  setup/pub/fonts/opensans/bold/opensans-700.woff2
  setup/pub/fonts/opensans/light/opensans-300.eot
  setup/pub/fonts/opensans/light/opensans-300.svg
  setup/pub/fonts/opensans/light/opensans-300.ttf
  setup/pub/fonts/opensans/light/opensans-300.woff
  setup/pub/fonts/opensans/light/opensans-300.woff2
  setup/pub/images/ajax-loader.gif
  setup/pub/images/arrows-bg.svg
  setup/pub/images/loader-1.gif
  setup/pub/images/loader-2.gif
  setup/pub/images/logo.svg
  setup/pub/images/magento-icon.svg
  setup/pub/magento/setup/app.js
  setup/pub/magento/setup/landing.js
  setup/pub/magento/setup/main.js
  setup/pub/magento/setup/view/pagination.html
  setup/pub/scripts/main.js
  setup/src/Magento/Setup/Controller/Index.php
  setup/src/Magento/Setup/Controller/Landing.php
  setup/src/Magento/Setup/Controller/License.php
  setup/src/Magento/Setup/Controller/Navigation.php
  setup/src/Magento/Setup/Model/Navigation.php
  setup/src/Magento/Setup/Module.php
  setup/src/Magento/Setup/Test/Unit/Controller/IndexTest.php
  setup/src/Magento/Setup/Test/Unit/Controller/LandingTest.php
  setup/src/Magento/Setup/Test/Unit/Controller/LicenseTest.php
  setup/src/Magento/Setup/Test/Unit/Controller/NavigationTest.php
  setup/src/Magento/Setup/Test/Unit/Model/NavigationTest.php
  setup/view/layout/layout.phtml
  setup/view/magento/setup/index.phtml
  setup/view/magento/setup/landing.phtml
  setup/view/magento/setup/license.phtml
  setup/view/magento/setup/navigation/menu.phtml
Labels: Auto-Tests: Covered, Award: category of expertise, Award: test coverage, Component: Setup, Partner: Monsoon, Progress: ready for testing, Project: PHP8, Release Line: 2.4, Severity: S3, partners-contribution

#32537 Update laminas-captcha to ^2.10 to be PHP8 compatible
  app/code/Magento/Captcha/composer.json
  composer.json
  composer.lock
Labels: Auto-Tests: Not Required, Award: category of expertise, Partner: Monsoon, Progress: ready for testing, Project: PHP8, partners-contribution

#32594 Bundle Items price after saving to 0.00 go back to default price value Bundle Product Edit.
  app/code/Magento/Bundle/Model/Product/LinksList.php
  app/code/Magento/Bundle/Test/Unit/Model/Product/LinksListTest.php
  dev/tests/api-functional/testsuite/Magento/Bundle/Api/ProductServiceTest.php
  dev/tests/integration/testsuite/Magento/Bundle/Model/Product/LinksListTest.php
  dev/tests/integration/testsuite/Magento/Bundle/_files/fixed_bundle_product_zero_price_option_selection.php
  dev/tests/integration/testsuite/Magento/Bundle/_files/fixed_bundle_product_zero_price_option_selection_rollback.php
Labels: Component: Bundle, Priority: P2, Progress: ready for testing, Release Line: 2.4

#32598 MC-40780: Moving category in hierarchy causes url_path to be incorrect when using different url keys in multiple storeviews
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminChangeSeoUrlKeyToDefaultValueWithoutRedirectActionGroup.xml
  app/code/Magento/CatalogUrlRewrite/Model/ResourceModel/Category/GetDefaultUrlKey.php
  app/code/Magento/CatalogUrlRewrite/Observer/CategoryUrlPathAutogeneratorObserver.php
  app/code/Magento/CatalogUrlRewrite/Test/Mftf/Test/StorefrontCheckCategoryUrlPathForCustomStoreAfterChangingHierarchyTest.xml
  app/code/Magento/CatalogUrlRewrite/Test/Unit/Observer/CategoryUrlPathAutogeneratorObserverTest.php
Labels: Component: CatalogUrlRewrite, Priority: P1, Progress: review, Release Line: 2.4, Severity: S2
