Repository magento/magento2, pull requests merged in 2021-11, with the labels that each got.

#34346 Replace repetitive actions with Action Groups in AdminSimpleSetEditRelatedProductsTest
  app/code/Magento/Catalog/Test/Mftf/Test/AdminSimpleSetEditRelatedProductsTest.xml
Labels: Progress: accept, Component: Catalog, partners-contribution, Partner: Atwix, Release Line: 2.4, Auto-Tests: Not Required, Priority: P2

#34399 Speedup DataObject->addData when used on an empty object
  lib/internal/Magento/Framework/DataObject.php
Labels: Progress: accept, Release Line: 2.4, Auto-Tests: Not Required, Component: DataObject, Priority: P1, Severity: S3, Area: Perf/Frontend, Risk: low

#33454 [MFTF] Check if Shipping Address added on Checkout is saved after Order is placed
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontCheckAddressAddedOnCheckoutIsSavedAfterOrderIsPlacedTest.xml
Labels: Progress: accept, Component: Checkout, partners-contribution, Partner: Atwix, Release Line: 2.4, Auto-Tests: Not Required, Priority: P2

#33999 [MFTF] AdminAddNewDefaultBillingShippingCustomerAddressTest refactoring
  app/code/Magento/Customer/Test/Mftf/ActionGroup/AdminAssertCustomerDefaultBillingAddressAgainstEntityActionGroup.xml
  app/code/Magento/Customer/Test/Mftf/ActionGroup/AdminAssertCustomerDefaultShippingAddressAgainstEntityActionGroup.xml
  app/code/Magento/Customer/Test/Mftf/ActionGroup/AdminAssertDefaultBillingAddressToggleIsOnOnAddUpdateAddressPageActionGroup.xml
  app/code/Magento/Customer/Test/Mftf/ActionGroup/AdminAssertDefaultShippingAddressToggleIsOnOnAddUpdateAddressPageActionGroup.xml
  app/code/Magento/Customer/Test/Mftf/ActionGroup/AdminClickAddNewAddressButtonActionGroup.xml
  app/code/Magento/Customer/Test/Mftf/ActionGroup/AdminClickDefaultBillingAddressToggleOnAddUpdateAddressPageActionGroup.xml
  app/code/Magento/Customer/Test/Mftf/ActionGroup/AdminClickDefaultShippingAddressToggleOnAddUpdateAddressPageActionGroup.xml
  app/code/Magento/Customer/Test/Mftf/ActionGroup/AdminClickEditLinkForDefaultBillingAddressActionGroup.xml
  app/code/Magento/Customer/Test/Mftf/ActionGroup/AdminFillAndSaveCustomerlAddressInformationActionGroup.xml
  app/code/Magento/Customer/Test/Mftf/Test/AdminAddNewDefaultBillingAndShippingCustomerAddressTest.xml
  app/code/Magento/Customer/Test/Mftf/Test/AdminAddNewDefaultBillingShippingCustomerAddressTest.xml
Labels: Progress: accept, Component: Customer, partners-contribution, Partner: Atwix, Release Line: 2.4, Auto-Tests: Not Required, Priority: P2

#34022 [MFTF] StorefrontCheckRefundGrandTotalActionGroup adding
  app/code/Magento/Sales/Test/Mftf/ActionGroup/StorefrontCheckRefundGrandTotalActionGroup.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCreateCreditMemoBankTransferPaymentTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCreateCreditMemoForOrderWithCashOnDeliveryTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCreateCreditMemoPartialRefundTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCreateCreditMemoWithCashOnDeliveryTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCreateCreditMemoWithPurchaseOrderTest.xml
Labels: Progress: accept, Component: Sales, partners-contribution, Partner: Atwix, Release Line: 2.4, Priority: P2

#34051 Replace repetitive actions with Action Groups in StorefrontConfigurableProductGridViewTest and StorefrontConfigurableProductListViewTest
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/StorefrontConfigurableProductViewTest/StorefrontConfigurableProductGridViewTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/StorefrontConfigurableProductViewTest/StorefrontConfigurableProductListViewTest.xml
Labels: Progress: accept, partners-contribution, Partner: Atwix, Component: ConfigurableProduct, Release Line: 2.4, Auto-Tests: Covered, Priority: P2, Severity: S3

#34075 Replace repetitive actions with Action Groups in AdminAddBundleItemsTest
  app/code/Magento/Bundle/Test/Mftf/Test/AdminAddBundleItemsTest.xml
Labels: Progress: accept, partners-contribution, Partner: Atwix, Component: Bundle, Release Line: 2.4, Auto-Tests: Covered, Priority: P2

#34076 Replace repetitive actions with Action Groups in AdminProductBundleCreationTest
  app/code/Magento/Bundle/Test/Mftf/Test/AdminProductBundleCreationTest.xml
Labels: Progress: accept, partners-contribution, Partner: Atwix, Component: Bundle, Release Line: 2.4, Auto-Tests: Not Required, Priority: P2

#34099 Replace repetitive actions with Action Groups in AdminEditRelatedBundleProductTest, EnableDisableBundleProductStatusTest, AdminMassDeleteBundleProductsTest
  app/code/Magento/Bundle/Test/Mftf/Test/AdminEditRelatedBundleProductTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminMassDeleteBundleProductsTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/EnableDisableBundleProductStatusTest.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/StorefrontAssertProductNameIsNotShownOnProductPageActionGroup.xml
Labels: Progress: accept, Component: Catalog, partners-contribution, Partner: Atwix, Component: Bundle, Release Line: 2.4, Auto-Tests: Covered, Priority: P2

#34110 Replace repetitive actions with Action Groups in AdminNavigateMultipleUpSellProductsTest
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/StorefrontAssertUpSellProductOnProductPageActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminNavigateMultipleUpSellProductsTest.xml
Labels: Progress: accept, Component: Catalog, partners-contribution, Partner: Atwix, Release Line: 2.4, Auto-Tests: Covered, Priority: P2

#34256 Replace repetitive actions with Action Groups in StorefrontProductNameWithDoubleQuoteTest
  app/code/Magento/Catalog/Test/Mftf/Test/StorefrontProductNameWithDoubleQuoteTest/StorefrontProductNameWithDoubleQuoteTest.xml
Labels: Progress: accept, Component: Catalog, partners-contribution, Partner: Atwix, Release Line: 2.4, Auto-Tests: Covered, Priority: P2

#34257 Replace repetitive actions with Action Groups in AdminConfigurableProductBulkDeleteTest
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminConfigurableProductDeleteTest/AdminConfigurableProductBulkDeleteTest.xml
Labels: Progress: accept, partners-contribution, Partner: Atwix, Component: ConfigurableProduct, Release Line: 2.4, Auto-Tests: Covered, Priority: P2

#32792 [MFTF] add StorefrontGiftMessageForOrderOnCheckoutCartPageTest
  app/code/Magento/GiftMessage/Test/Mftf/ActionGroup/AssertAdminGiftMessageForOrderActionGroup.xml
  app/code/Magento/GiftMessage/Test/Mftf/ActionGroup/AssertStorefrontGiftMessageOnCheckoutCartPageActionGroup.xml
  app/code/Magento/GiftMessage/Test/Mftf/ActionGroup/GuestGiftCheckoutFillingShippingSectionActionGroup.xml
  app/code/Magento/GiftMessage/Test/Mftf/ActionGroup/StorefrontFieldGiftMessageCartFormActionGroup.xml
  app/code/Magento/GiftMessage/Test/Mftf/Section/AdminOrderGiftSection.xml
  app/code/Magento/GiftMessage/Test/Mftf/Section/StorefrontOrderGiftSection.xml
  app/code/Magento/GiftMessage/Test/Mftf/Test/StorefrontGiftMessageForOrderOnCheckoutCartPageTest.xml
Labels: Progress: accept, partners-contribution, Partner: Atwix, Component: GiftMessage, Release Line: 2.4, Priority: P2

#33530 Removed CliCacheFlushActionGroup usage for CatalogSearch and other modules
  app/code/Magento/CatalogSearch/Test/Mftf/Test/AdvanceCatalogSearchSimpleProductTest/AdvanceCatalogSearchSimpleProductByDescriptionTest.xml
  app/code/Magento/CatalogSearch/Test/Mftf/Test/AdvanceCatalogSearchSimpleProductTest/AdvanceCatalogSearchSimpleProductByNameTest.xml
  app/code/Magento/CatalogSearch/Test/Mftf/Test/AdvanceCatalogSearchSimpleProductTest/AdvanceCatalogSearchSimpleProductByPriceTest.xml
  app/code/Magento/CatalogSearch/Test/Mftf/Test/AdvanceCatalogSearchSimpleProductTest/AdvanceCatalogSearchSimpleProductByShortDescriptionTest.xml
  app/code/Magento/CatalogSearch/Test/Mftf/Test/AdvanceCatalogSearchSimpleProductTest/AdvanceCatalogSearchSimpleProductBySkuTest.xml
  app/code/Magento/CatalogSearch/Test/Mftf/Test/SearchEntityResultsTest/QuickSearchAndAddToCartBundleDynamicTest.xml
  app/code/Magento/CatalogSearch/Test/Mftf/Test/SearchEntityResultsTest/QuickSearchAndAddToCartBundleFixedTest.xml
  app/code/Magento/CatalogSearch/Test/Mftf/Test/SearchEntityResultsTest/QuickSearchAndAddToCartConfigurableTest.xml
  app/code/Magento/CatalogSearch/Test/Mftf/Test/SearchEntityResultsTest/QuickSearchAndAddToCartDownloadableTest.xml
  app/code/Magento/CatalogSearch/Test/Mftf/Test/SearchEntityResultsTest/QuickSearchAndAddToCartGroupedTest.xml
  app/code/Magento/CatalogSearch/Test/Mftf/Test/SearchEntityResultsTest/QuickSearchAndAddToCartTest.xml
  app/code/Magento/CatalogSearch/Test/Mftf/Test/SearchEntityResultsTest/QuickSearchAndAddToCartVirtualTest.xml
  app/code/Magento/CatalogSearch/Test/Mftf/Test/SearchEntityResultsTest/QuickSearchEmptyResultsTest.xml
  app/code/Magento/CatalogSearch/Test/Mftf/Test/SearchEntityResultsTest/QuickSearchProductBySkuTest.xml
  app/code/Magento/CatalogSearch/Test/Mftf/Test/StorefrontAdvancedSearchEntitySimpleProductTest.xml
  app/code/Magento/CatalogSearch/Test/Mftf/Test/StorefrontUpdateSearchTermEntityTest.xml
  app/code/Magento/GroupedProduct/Test/Mftf/Test/AdvanceCatalogSearchGroupedProductTest/AdvanceCatalogSearchGroupedProductByDescriptionTest.xml
  app/code/Magento/GroupedProduct/Test/Mftf/Test/AdvanceCatalogSearchGroupedProductTest/AdvanceCatalogSearchGroupedProductByNameTest.xml
  app/code/Magento/GroupedProduct/Test/Mftf/Test/AdvanceCatalogSearchGroupedProductTest/AdvanceCatalogSearchGroupedProductByPriceTest.xml
  app/code/Magento/GroupedProduct/Test/Mftf/Test/AdvanceCatalogSearchGroupedProductTest/AdvanceCatalogSearchGroupedProductByShortDescriptionTest.xml
  app/code/Magento/GroupedProduct/Test/Mftf/Test/AdvanceCatalogSearchGroupedProductTest/AdvanceCatalogSearchGroupedProductBySkuTest.xml
  app/code/Magento/GroupedProduct/Test/Mftf/Test/StorefrontAdvanceCatalogSearchGroupedProductBySkuWithHyphenTest.xml
  app/code/Magento/Newsletter/Test/Mftf/Test/StorefrontVerifySecureURLRedirectNewsletterTest.xml
  app/code/Magento/Newsletter/Test/Mftf/Test/VerifySubscribedNewsletterDisplayedTest.xml
  app/code/Magento/Paypal/Test/Mftf/Test/StorefrontVerifySecureURLRedirectPaypalTest.xml
  app/code/Magento/Quote/Test/Mftf/Test/StorefrontGuestCheckoutDisabledProductTest.xml
  app/code/Magento/Review/Test/Mftf/Test/StorefrontVerifySecureURLRedirectReviewTest.xml
Labels: Progress: accept, partners-contribution, Partner: Atwix, Component: Paypal, Component: Quote, Component: Newsletter, Component: Review, Component: CatalogSearch, Component: GroupedProduct, Release Line: 2.4, Auto-Tests: Not Required, Priority: P2

#34418 Replace repetitive actions with Action Groups in AdminCreateInactiveInMenuFlatCategoryTest
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateInactiveInMenuFlatCategoryTest.xml
Labels: Progress: accept, Component: Catalog, partners-contribution, Partner: Atwix, Release Line: 2.4, Auto-Tests: Covered, Priority: P2

#34419 Replace repetitive actions with Action Groups in CreateProductAttributeEntityWithReservedKeysTest
  app/code/Magento/Catalog/Test/Mftf/Test/CreateProductAttributeEntityTest/CreateProductAttributeEntityWithReservedKeysTest.xml
Labels: Component: Catalog, partners-contribution, Partner: Atwix, Progress: ready for testing, Release Line: 2.4, Auto-Tests: Covered, Priority: P2

#34185 Guard Magento_Catalog JavaScript from lack of minicart
  app/code/Magento/Catalog/view/frontend/web/js/product/provider-compared.js
  app/code/Magento/Catalog/view/frontend/web/js/product/provider.js
  app/code/Magento/Catalog/view/frontend/web/js/product/storage/ids-storage-compare.js
  app/code/Magento/Catalog/view/frontend/web/js/product/view/provider.js
Labels: Progress: accept, Component: Catalog, Area: Frontend, partners-contribution, Release Line: 2.4, Partner: Fisheye, Priority: P2

#34298 Replace repetitive actions with Action Groups in AdminAddInStockProductToTheCartTest
  app/code/Magento/Catalog/Test/Mftf/Test/AdminAddInStockProductToTheCartTest.xml
Labels: Progress: accept, Component: Catalog, partners-contribution, Partner: Atwix, Release Line: 2.4, Auto-Tests: Covered, Priority: P2

#34302 Replace repetitive actions with Action Groups in AdminSimpleProductSetEditContentTest,AdminCreateAndEditSimpleProductSettingsTest, AdminCreateAndEditVirtualProductSettingsTest and AdminConfigurableProductBulkUpdateTest
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminFillInProductDescriptionActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminFillInProductShortDescriptionActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminOpenContentSectionOnProductPageActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AssertAdminProductShortDescriptionOnProductEditFormActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AssertStorefrontProductDescriptionActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AssertStorefrontShortProductDescriptionActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateAndEditSimpleProductSettingsTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateAndEditVirtualProductSettingsTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminSimpleProductSetEditContentTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminConfigurableProductUpdateTest/AdminConfigurableProductBulkUpdateTest.xml
Labels: Progress: accept, Component: Catalog, partners-contribution, Partner: Atwix, Component: ConfigurableProduct, Release Line: 2.4, Auto-Tests: Covered, Priority: P2

#34400 Replace repetitive actions with Action Groups in AdminConfigurableProductAddConfigurationTest, AdminConfigurableProductDisableAnOptionTest, AdminConfigurableProductRemoveAnOptionTest, AdminConfigurableProductRemoveConfigurationTest
  app/code/Magento/ConfigurableProduct/Test/Mftf/ActionGroup/AssertStorefrontProductAttributeOptionNotVisibleActionGroup.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminConfigurableProductUpdateTest/AdminConfigurableProductAddConfigurationTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminConfigurableProductUpdateTest/AdminConfigurableProductDisableAnOptionTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminConfigurableProductUpdateTest/AdminConfigurableProductRemoveAnOptionTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminConfigurableProductUpdateTest/AdminConfigurableProductRemoveConfigurationTest.xml
Labels: Progress: accept, partners-contribution, Partner: Atwix, Component: ConfigurableProduct, Release Line: 2.4, Auto-Tests: Covered, Priority: P2

#34410 Replace repetitive actions with Action Groups in AdminCreateDuplicateCategoryTest and AdminCreateDuplicateProductTest
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateDuplicateCategoryTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateDuplicateProductTest.xml
Labels: Component: Catalog, partners-contribution, Partner: Atwix, Progress: ready for testing, Release Line: 2.4, Auto-Tests: Not Required, Priority: P2

#33851 Fix accessibility errors on cart and checkout pages
  app/code/Magento/Checkout/Test/Mftf/Section/StorefrontProductCartGiftOptionSection.xml
  app/code/Magento/Checkout/view/frontend/layout/checkout_index_index.xml
  app/code/Magento/GiftMessage/Test/Mftf/Section/StorefrontCheckoutCartGiftMessageSection.xml
  app/code/Magento/GiftMessage/view/frontend/web/template/gift-message-form.html
  app/code/Magento/Ui/view/base/web/js/form/element/abstract.js
  app/code/Magento/Ui/view/frontend/web/templates/form/element/date.html
  app/code/Magento/Ui/view/frontend/web/templates/form/element/helper/tooltip.html
Labels: Progress: accept, Component: Checkout, Area: Frontend, Component: Ui, Component: GiftMessage, Release Line: 2.4, Auto-Tests: Not Required, Priority: P1

#34554 Added fixes for static tests found on platform health
  app/code/Magento/Backend/Block/Widget/Grid/Column.php
  app/code/Magento/Reports/Model/ResourceModel/Order/Collection.php
  app/code/Magento/Usps/Model/Carrier.php
Labels: partners-contribution, Partner: Atwix, Progress: ready for testing, Priority: P1, Project: Platform Health

#34529 MC-41887: Validation Messages - CustomerData messages not showing up
  app/code/Magento/Theme/Controller/Result/MessagePlugin.php
  app/code/Magento/Theme/Test/Unit/Controller/Result/MessagePluginTest.php
Labels: Progress: ready for testing

#34528 Optimize QuoteIdToMaskedQuoteId model and fix infinite loop
  app/code/Magento/Quote/Model/QuoteIdToMaskedQuoteId.php
  app/code/Magento/Quote/Model/ResourceModel/Quote.php
  app/code/Magento/Quote/Model/ResourceModel/Quote/QuoteIdMask.php
Labels: Progress: ready for testing

#34555 Upgraded phpstan dependency to 1.1
  composer.json
  composer.lock
  dev/tests/static/testsuite/Magento/Test/Php/_files/phpstan/phpstan.neon
Labels: Progress: ready for testing, Release Line: 2.4, Auto-Tests: Not Required, Priority: P1, Project: Platform Health

#34446 Fix php8.1 compatibility for unit tests
  app/code/Magento/Cron/Observer/ProcessCronQueueObserver.php
  app/code/Magento/ImportExport/Model/Import/AbstractEntity.php
  app/code/Magento/Swagger/Test/Unit/Block/IndexTest.php
  app/code/Magento/Theme/Test/Unit/Model/Design/Config/ValidatorTest.php
  app/code/Magento/Theme/Test/Unit/Model/Wysiwyg/StorageTest.php
Labels: partners-contribution, Partner: Atwix, Award: category of expertise, Progress: review, Project: Platform Health

#34152 [MFTF] StorefrontVerifyOrderShipmentForDecimalQuantityTest refactoring
  app/code/Magento/Customer/Test/Mftf/ActionGroup/StorefrontOpenOrderShipmentsTabByOrderIdActionGroup.xml
  app/code/Magento/Sales/Test/Mftf/Test/StorefrontVerifyOrderShipmentForDecimalQuantityTest.xml
Labels: Progress: accept, Component: Customer, Component: Sales, partners-contribution, Partner: Atwix, Release Line: 2.4, Priority: P2

#34290 Resolve height modal issue on iOS
  lib/web/css/source/components/_modals.less
Labels: Progress: accept, Area: Lib/Frontend, Release Line: 2.4, Auto-Tests: Not Required, Priority: P2, Severity: S3

#34423 Update Catalog Module README Content
  app/code/Magento/Catalog/README.md
Labels: Progress: accept, Component: Catalog, partners-contribution, Partner: Krish TechnoLabs, Release Line: 2.4, Priority: P2

#34442 Update Cms Module README Content
  app/code/Magento/Cms/README.md
Labels: Progress: accept, Component: Cms, partners-contribution, Partner: Krish TechnoLabs, Release Line: 2.4, Priority: P2

#34470 Replace repetitive actions with Action Groups in AdminCreateInactiveFlatCategoryTest and AdminUpdateFlatCategoryAndAddProductsTest
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateInactiveFlatCategoryTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateFlatCategoryAndAddProductsTest.xml
Labels: Progress: accept, Component: Catalog, partners-contribution, Partner: Atwix, Release Line: 2.4, Priority: P2

#34492 Replace repetitive actions with Action Groups in AdminUpdateFlatCategoryNameAndDescriptionTest
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateFlatCategoryNameAndDescriptionTest.xml
Labels: Progress: accept, Component: Catalog, partners-contribution, Partner: Atwix, Release Line: 2.4, Auto-Tests: Not Required, Priority: P2

#33468 33465 Varnish cache adding top menu category ids to all page cache tags
  app/code/Magento/PageCache/Model/App/CacheIdentifierPlugin.php
  app/code/Magento/PageCache/Model/App/FrontController/BuiltinPlugin.php
  app/code/Magento/PageCache/Model/App/FrontController/VarnishPlugin.php
  app/code/Magento/PageCache/Model/Config.php
  app/code/Magento/PageCache/Model/Controller/Result/BuiltinPlugin.php
  app/code/Magento/PageCache/Model/Controller/Result/VarnishPlugin.php
  app/code/Magento/PageCache/Observer/FlushAllCache.php
  app/code/Magento/PageCache/Observer/FlushCacheByTags.php
  app/code/Magento/PageCache/Observer/ProcessLayoutRenderElement.php
  app/code/Magento/PageCache/Test/Unit/Observer/ProcessLayoutRenderElementTest.php
Labels: Progress: accept, Award: bug fix, Component: PageCache, Release Line: 2.4, Auto-Tests: Covered, Priority: P2, Severity: S1

#33727 [MFTF] Adding AdminCheckOrderStatusInGridActionGroup
  app/code/Magento/Sales/Test/Mftf/ActionGroup/AdminCheckOrderStatusInGridActionGroup.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCancelTheCreatedOrderWithBankTransferPaymentMethodTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCancelTheCreatedOrderWithCashOnDeliveryPaymentMethodTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCancelTheCreatedOrderWithCheckMoneyOrderPaymentMethodTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCancelTheCreatedOrderWithPurchaseOrderPaymentMethodTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCancelTheCreatedOrderWithZeroSubtotalCheckoutTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminHoldCreatedOrderTest.xml
Labels: Progress: accept, Component: Sales, partners-contribution, Partner: Atwix, Release Line: 2.4, Auto-Tests: Covered, Priority: P2

#34114 Replace repetitive actions with Action Groups in AdminCreateCatalogPriceRuleForCustomerGroupTest
  app/code/Magento/CatalogRule/Test/Mftf/Test/AdminCreateCatalogPriceRuleTest/AdminCreateCatalogPriceRuleForCustomerGroupTest.xml
Labels: Progress: accept, Component: CatalogRule, partners-contribution, Partner: Atwix, Release Line: 2.4, Priority: P2

#32877 MFTF: Reset Admin Password With Enabled Captcha
  app/code/Magento/Captcha/Test/Mftf/ActionGroup/AdminFillCaptchaOnResetPasswordFormActionGroup.xml
  app/code/Magento/Captcha/Test/Mftf/ActionGroup/AssertCaptchaVisibleOnAdminResetPasswordFormActionGroup.xml
  app/code/Magento/Captcha/Test/Mftf/Data/CaptchaConfigData.xml
  app/code/Magento/Captcha/Test/Mftf/Section/AdminResetPasswordFormSection.xml
  app/code/Magento/Captcha/Test/Mftf/Test/AdminResetUserPasswordWithEnabledCaptchaTest.xml
Labels: Progress: accept, Component: Captcha, partners-contribution, Partner: Atwix, Release Line: 2.4, Auto-Tests: Covered, Priority: P2, Severity: S3

#34617 Fixed remaining failed Integration Tests for PHP 8.1. compatibility
  app/code/Magento/CatalogInventory/Model/StockStateProvider.php
  dev/tests/api-functional/testsuite/Magento/Webapi/WsdlGenerationFromDataObjectTest.php
Labels: partners-contribution, Partner: Atwix, Component: CatalogInventory, Release Line: 2.4, Progress: review, Priority: P1, Project: Platform Health

#34450 Fix php8.1 compatibility for unit tests part 2
  lib/internal/Magento/Framework/App/Test/Unit/StaticResourceTest.php
  lib/internal/Magento/Framework/App/Test/Unit/ViewTest.php
  lib/internal/Magento/Framework/Code/Generator/EntityAbstract.php
  lib/internal/Magento/Framework/HTTP/PhpEnvironment/RemoteAddress.php
  lib/internal/Magento/Framework/Mview/View/Changelog.php
  lib/internal/Magento/Framework/ObjectManager/Test/Unit/Config/ConfigTest.php
  lib/internal/Magento/Framework/Serialize/Test/Unit/Serializer/JsonHexTagTest.php
  setup/src/Magento/Setup/Fixtures/CartPriceRulesFixture.php
Labels: partners-contribution, Partner: Atwix, Progress: review, Project: Platform Health

#34575 Fixes for integration tests errors on PHP 8.1
  dev/tests/integration/testsuite/Magento/Framework/DB/Adapter/Pdo/MysqlTest.php
  lib/internal/Magento/Framework/DB/Adapter/Pdo/Mysql.php
Labels: partners-contribution, Partner: Atwix, Award: category of expertise, Progress: review, Priority: P2, Project: Platform Health

#34148 Fixed error DOT field with Portugal locale
  app/code/Magento/Customer/Block/Widget/Dob.php
Labels: Progress: accept, Component: Customer, Release Line: 2.4, Priority: P2

#34491 Replace repetitive actions with Action Groups in CatalogProductListWidgetOperatorsTest
  app/code/Magento/CatalogWidget/Test/Mftf/Test/CatalogProductListWidgetOperatorsTest.xml
Labels: Progress: accept, partners-contribution, Partner: Atwix, Component: CatalogWidget, Release Line: 2.4, Auto-Tests: Not Required, Priority: P2

#34522 Replace repetitive actions with Action Groups in AdminCheckInactiveAndNotIncludeInMenuCategoryAndSubcategoryIsNotVisibleInNavigationTest and AdminCheckInactiveCategoryAndSubcategoryIsNotVisibleInNavigationMenuTest
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCheckInactiveAndNotIncludeInMenuCategoryAndSubcategoryIsNotVisibleInNavigationTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCheckInactiveCategoryAndSubcategoryIsNotVisibleInNavigationMenuTest.xml
Labels: Progress: accept, Component: Catalog, partners-contribution, Partner: Atwix, Release Line: 2.4, Auto-Tests: Not Required, Priority: P2

#33369 Remove casting to int on increment ID which can be prefixed by a string
  app/code/Magento/Sales/view/frontend/templates/order/print/invoice.phtml
  dev/tests/integration/testsuite/Magento/Sales/Block/Order/PrintOrder/InvoiceTest.php
Labels: Progress: accept, Component: Sales, Area: Frontend, Award: test coverage, partners-contribution, Award: bug fix, Partner: TechDivision, Release Line: 2.4, Auto-Tests: Covered, Priority: P2, Severity: S2, Risk: low

#33487 Fix multiselect with a lot of options not saved to DB
  app/code/Magento/Catalog/Model/ResourceModel/Product/Indexer/Eav/Source.php
  app/code/Magento/Catalog/Setup/Patch/Data/UpdateMultiselectAttributesBackendTypes.php
  app/code/Magento/CatalogWidget/Model/Rule/Condition/Product.php
  app/code/Magento/Eav/Model/Entity/Attribute.php
  app/code/Magento/Eav/Model/ResourceModel/Entity/Attribute.php
  app/code/Magento/Eav/Test/Unit/Model/Entity/AttributeTest.php
  dev/tests/integration/framework/Magento/TestFramework/Eav/Model/Attribute/DataProvider/MultipleSelect.php
  dev/tests/integration/testsuite/Magento/Catalog/Model/ProductGettersTest.php
  dev/tests/integration/testsuite/Magento/Catalog/Model/ResourceModel/Product/Indexer/Eav/SourceTest.php
  dev/tests/integration/testsuite/Magento/Catalog/_files/multiselect_attribute.php
  dev/tests/integration/testsuite/Magento/Catalog/_files/multiselect_attribute_rollback.php
  dev/tests/integration/testsuite/Magento/Catalog/_files/multiselect_attribute_with_html.php
  dev/tests/integration/testsuite/Magento/Catalog/_files/multiselect_attribute_with_incorrect_values.php
  dev/tests/integration/testsuite/Magento/Catalog/_files/multiselect_attribute_with_source_model.php
  dev/tests/integration/testsuite/Magento/Catalog/_files/products_with_multiselect_attribute.php
  dev/tests/integration/testsuite/Magento/Elasticsearch/Model/Adapter/ElasticsearchTest.php
  dev/tests/integration/testsuite/Magento/Elasticsearch/_files/multiselect_attribute.php
  dev/tests/integration/testsuite/Magento/Framework/Search/_files/filterable_attribute.php
  dev/tests/integration/testsuite/Magento/Sales/_files/order_address_with_multi_attribute.php
Labels: Progress: accept, Component: Catalog, Component: Eav, Award: test coverage, Award: bug fix, Component: CatalogWidget, Release Line: 2.4, Auto-Tests: Covered, Priority: P2, Severity: S2

#33948 Fix Ui-Select (Multiselect) close button issues (cont.)
  app/design/adminhtml/Magento/backend/web/css/source/actions/_actions-multiselect.less
Labels: Progress: accept, Area: Design/Frontend, Release Line: 2.4, Auto-Tests: Covered, Priority: P2

#33998 Greatly improve performance by caching subsequent glob calls
  lib/internal/Magento/Framework/Filesystem/Glob.php
Labels: Progress: accept, Award: category of expertise, Component: Filesystem, Release Line: 2.4, Auto-Tests: Not Required, Priority: P1, Severity: S1, Area: Perf/Frontend, Area: Performance

#33324 Optimize QuoteIdToMaskedQuoteId model and fix infinite loop
  app/code/Magento/Quote/Model/QuoteIdToMaskedQuoteId.php
  app/code/Magento/Quote/Model/ResourceModel/Quote.php
  app/code/Magento/Quote/Model/ResourceModel/Quote/QuoteIdMask.php
Labels: Progress: accept, Component: Quote, Award: category of expertise, Release Line: 2.4, Auto-Tests: Covered, Priority: P2, Severity: S1, Triage: Performance

#34638 Fixes to launch Magento with PHP 8.1 - part 2
  lib/internal/Magento/Framework/Api/Search/Document.php
  lib/internal/Magento/Framework/App/Cache/Frontend/Pool.php
  lib/internal/Magento/Framework/App/RouterList.php
  lib/internal/Magento/Framework/Backup/Filesystem/Iterator/File.php
  lib/internal/Magento/Framework/Backup/Filesystem/Iterator/Filter.php
  lib/internal/Magento/Framework/Config/CompositeFileIterator.php
  lib/internal/Magento/Framework/Config/FileIterator.php
  lib/internal/Magento/Framework/Data/Collection.php
  lib/internal/Magento/Framework/Data/Form/Element/Collection.php
  lib/internal/Magento/Framework/Data/SearchResultIterator.php
  lib/internal/Magento/Framework/Data/Tree/Node/Collection.php
  lib/internal/Magento/Framework/DataObject.php
  lib/internal/Magento/Framework/Phrase.php
  lib/internal/Magento/Framework/Session/SaveHandler.php
  lib/internal/Magento/Framework/Session/SaveHandler/DbTable.php
  lib/internal/Magento/Framework/Session/SaveHandler/Native.php
  lib/internal/Magento/Framework/Session/SaveHandler/Redis.php
Labels: partners-contribution, Partner: Atwix, Progress: review, Priority: P1, Project: Platform Health

#34640 Fixes to launch Magento with PHP 8.1 - part 3
  lib/internal/Magento/Framework/DB/Query/BatchIterator.php
  lib/internal/Magento/Framework/DB/Query/BatchIteratorInterface.php
  lib/internal/Magento/Framework/DB/Query/BatchRangeIterator.php
  lib/internal/Magento/Framework/DB/Sql/Expression.php
  lib/internal/Magento/Framework/DB/Tree/NodeSet.php
  lib/internal/Magento/Framework/Filesystem/Filter/ExcludeFilter.php
  lib/internal/Magento/Framework/MessageQueue/Consumer/Config/ConsumerConfigItem/Handler/Iterator.php
  lib/internal/Magento/Framework/MessageQueue/Consumer/Config/ConsumerConfigItem/Iterator.php
  lib/internal/Magento/Framework/MessageQueue/Publisher/Config/PublisherConfigItem/Iterator.php
  lib/internal/Magento/Framework/MessageQueue/Topology/Config/ExchangeConfigItem/Binding/Iterator.php
  lib/internal/Magento/Framework/MessageQueue/Topology/Config/ExchangeConfigItem/Iterator.php
  lib/internal/Magento/Framework/MessageQueue/Topology/Config/QueueConfigItem/Iterator.php
  lib/internal/Magento/Framework/ObjectManager/TMap.php
  lib/internal/Magento/Framework/Pricing/Price/Collection.php
  lib/internal/Magento/Framework/Pricing/Price/Pool.php
  lib/internal/Magento/Framework/Search/Response/Aggregation.php
  lib/internal/Magento/Framework/Search/Response/QueryResponse.php
  lib/internal/Magento/Framework/Setup/Patch/PatchRegistry.php
  lib/internal/Magento/Framework/Simplexml/Element.php
  lib/internal/Magento/Framework/View/Asset/Merged.php
Labels: partners-contribution, Partner: Atwix, Progress: ready for testing, Priority: P1, Project: Platform Health

#34637 Fixes to launch Magento with PHP 8.1 - part 1
  app/code/Magento/Analytics/Model/ReportXml/ModuleIterator.php
  app/code/Magento/Analytics/ReportXml/Query.php
  app/code/Magento/Backend/Model/Menu.php
  app/code/Magento/Backend/Model/Menu/Filter/Iterator.php
  app/code/Magento/Backend/Model/Menu/Iterator.php
  app/code/Magento/Catalog/Model/ResourceModel/Product/Collection/ProductLimitation.php
  app/code/Magento/Config/Model/Config/Structure/Element/Iterator.php
  app/code/Magento/Customer/Model/Indexer/Source.php
  app/code/Magento/Customer/Ui/Component/MassAction/Group/Options.php
  app/code/Magento/ImportExport/Model/Import/AbstractSource.php
  app/code/Magento/ImportExport/Model/ResourceModel/Import/Data.php
  app/code/Magento/Shipping/Model/Simplexml/Element.php
  app/code/Magento/Ui/DataProvider/AbstractDataProvider.php
  app/code/Magento/Ui/Model/Export/SearchResultIterator.php
Labels: partners-contribution, Partner: Atwix, Progress: review, Priority: P1, Project: Platform Health

#34641 Fixes to launch Magento with PHP 8.1 - part 4
  app/code/Magento/Backend/App/DefaultPath.php
  app/code/Magento/Backend/view/adminhtml/templates/widget/tabshoriz.phtml
  app/code/Magento/Eav/Model/Entity/Type.php
  lib/internal/Magento/Framework/DB/Adapter/Pdo/Mysql.php
  lib/internal/Magento/Framework/DB/Ddl/Table.php
  lib/internal/Magento/Framework/Filesystem/Driver/File.php
  lib/internal/Magento/Framework/Filesystem/Test/Unit/Driver/FileTest.php
  lib/internal/Magento/Framework/Stdlib/DateTime.php
  lib/internal/Magento/Framework/Stdlib/DateTime/Timezone.php
  lib/internal/Magento/Framework/Url.php
Labels: partners-contribution, Partner: Atwix, Progress: ready for testing, Priority: P1, Project: Platform Health

#34724 Fix static tests issues that were delivered previously
  lib/internal/Magento/Framework/App/Cache/Frontend/Pool.php
  lib/internal/Magento/Framework/DB/Query/BatchIteratorInterface.php
  lib/internal/Magento/Framework/Data/Collection.php
  lib/internal/Magento/Framework/View/Asset/Merged.php
Labels: partners-contribution, Partner: Atwix, Progress: ready for testing, Project: Platform Health
