Repository magento/magento2, pull requests merged in 2021-08, with the labels that each got.

#33653 CE-33580: The Web Setup landing page has been covered with MFTF tests
  app/code/Magento/Backend/Test/Mftf/ActionGroup/WebSetup/GoToWebSetupPageActionGroup.xml
  app/code/Magento/Backend/Test/Mftf/ActionGroup/WebSetup/WebSetupShowLandingSectionActionGroup.xml
  app/code/Magento/Backend/Test/Mftf/ActionGroup/WebSetup/WebSetupShowLicenseSectionActionGroup.xml
  app/code/Magento/Backend/Test/Mftf/Page/WebSetup/WebSetupPage.xml
  app/code/Magento/Backend/Test/Mftf/Section/WebSetup/WebSetupPageLandingSection.xml
  app/code/Magento/Backend/Test/Mftf/Section/WebSetup/WebSetupPageLicenseSection.xml
  app/code/Magento/Backend/Test/Mftf/Test/WebSetup/WebSetupPageTest.xml
Labels: Award: MFTF test coverage, Partner: Atwix, Progress: ready for testing, Project: Platform Health, partners-contribution

#33570 Update requirejs to latest version
  dev/tests/js/jasmine/tests/app/code/Magento/Ui/base/js/lib/ko/bind/datepicker.test.js
  lib/web/requirejs/require.js
Labels: Auto-Tests: Covered, Priority: P1, Progress: ready for testing, Project: Platform Health

#31618 Update lessjs to v3.13.1
  lib/web/less/less.min.js
  package.json.sample
Labels: improvement, Area: Lib/Frontend, Progress: ready for testing, Auto-Tests: Not Required, Priority: P2, Severity: S3, Release Line: 2.5, Project: Platform Health

#33664 [TEST PR] DO NOT PROCESS
  README.md
Labels: Progress: ready for testing

#33723 Optimize QuoteIdToMaskedQuoteId model
  app/code/Magento/Quote/Model/QuoteIdToMaskedQuoteId.php
  app/code/Magento/Quote/Model/ResourceModel/Quote.php
  app/code/Magento/Quote/Model/ResourceModel/Quote/QuoteIdMask.php
Labels: Release Line: 2.3, Progress: ready for testing

#33728 TEST DO NOT TOUCH
  app/code/Magento/AwsS3/Test/Mftf/Test/AwsS3StorefrontPrintOrderGuestTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/CheckCheckoutSuccessPageTest/CheckCheckoutSuccessPageAsRegisterCustomerTest.xml
  app/code/Magento/QuoteGraphQl/Model/Cart/AddProductsToCart.php
  app/code/Magento/QuoteGraphQl/Model/Resolver/AddSimpleProductsToCart.php
  app/code/Magento/Sales/Test/Mftf/Test/StorefrontPrintOrderGuestTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/StorefrontRedirectToOrderHistoryTest.xml
Labels: Progress: needs update, partners-contribution, Partner: Atwix, Progress: review

#33771 Fixed flaky integration tests
  dev/tests/integration/testsuite/Magento/CatalogImportExport/Model/AbstractProductExportImportTestCase.php
  dev/tests/integration/testsuite/Magento/DownloadableImportExport/Model/DownloadableTest.php
Labels: Award: special achievement, partners-contribution, Partner: Atwix, Progress: ready for testing

#33699 Fix unit test warnings
  app/code/Magento/Customer/Test/Unit/Controller/Adminhtml/Group/SaveTest.php
  app/code/Magento/Customer/Test/Unit/Model/Plugin/SaveCustomerGroupExcludedWebsiteTest.php
  app/code/Magento/Customer/Test/Unit/Observer/CatalogRule/AddCustomerGroupExcludedWebsiteTest.php
  app/code/Magento/WeeeGraphQl/Test/Unit/Model/Resolver/FixedProductTaxResolverTest.php
  app/code/Magento/Wishlist/Test/Unit/Controller/Index/UpdateItemOptionsTest.php
  dev/tests/unit/phpunit.xml.dist
Labels: Progress: ready for testing, Priority: P2, Project: Platform Health

#33609 Update underscore to latest version
  app/code/Magento/Customer/view/frontend/web/js/customer-data.js
  app/code/Magento/Customer/view/frontend/web/js/section-config.js
  app/code/Magento/Ui/view/base/web/js/grid/columns/image-preview.js
  dev/tests/js/jasmine/tests/app/code/Magento/Customer/frontend/js/customer-data.test.js
  lib/web/mage/utils/main.js
  lib/web/underscore.js
  package.json.sample
Labels: Progress: ready for testing, Auto-Tests: Not Required, Priority: P2, Project: Platform Health

#33712 Fix typo js return type
  app/code/Magento/Ui/view/base/web/js/lib/view/utils/async.js
Labels: Cleanup, Progress: ready for testing, Auto-Tests: Not Required, Severity: S4, Risk: low, Project: Platform Health

#33735 Removing the jquery.hoverIntent JS library
  app/code/Magento/Theme/view/base/requirejs-config.js
  app/design/frontend/Magento/blank/etc/view.xml
  app/design/frontend/Magento/luma/etc/view.xml
  dev/tests/integration/testsuite/Magento/Deploy/_files/zoom1/etc/view.xml
  lib/web/jquery/jquery.hoverIntent.js
Labels: partners-contribution, Partner: Atwix, Progress: ready for testing, Priority: P2, Project: Platform Health

#33605 Upgrade laminas-code to 4.4.2
  composer.json
  composer.lock
  dev/tests/static/framework/Magento/TestFramework/Integrity/Library/Injectable.php
  dev/tests/static/framework/tests/unit/testsuite/Magento/Test/Integrity/Library/InjectableTest.php
  dev/tests/static/framework/tests/unit/testsuite/Magento/TestFramework/Integrity/Library/InjectableTest.php
  dev/tests/static/framework/tests/unit/testsuite/Magento/TestFramework/Integrity/Library/PhpParser/ParserFactoryTest.php
  dev/tests/static/framework/tests/unit/testsuite/Magento/TestFramework/Integrity/Library/PhpParser/StaticCallsTest.php
  dev/tests/static/framework/tests/unit/testsuite/Magento/TestFramework/Integrity/Library/PhpParser/ThrowsTest.php
  dev/tests/static/framework/tests/unit/testsuite/Magento/TestFramework/Integrity/Library/PhpParser/TokensTest.php
  dev/tests/static/framework/tests/unit/testsuite/Magento/TestFramework/Integrity/Library/PhpParser/UsesTest.php
  dev/tests/static/framework/tests/unit/testsuite/Magento/TestFramework/Integrity/Library/_files/DummyInjectableClass.php
  dev/tests/static/framework/tests/unit/testsuite/Magento/TestFramework/Utility/CodeCheckTest.php
  dev/tests/static/framework/tests/unit/testsuite/Magento/TestFramework/Utility/_files/class_name_in_namespace_and_variable_name.txt
  dev/tests/static/framework/tests/unit/testsuite/Magento/TestFramework/Utility/_files/create_new_instance.txt
  dev/tests/static/framework/tests/unit/testsuite/Magento/TestFramework/Utility/_files/create_new_instance2.txt
  dev/tests/static/framework/tests/unit/testsuite/Magento/TestFramework/Utility/_files/create_new_instance3.txt
  dev/tests/static/framework/tests/unit/testsuite/Magento/TestFramework/Utility/_files/extends.txt
  dev/tests/static/framework/tests/unit/testsuite/Magento/TestFramework/Utility/_files/extends2.txt
  dev/tests/static/framework/tests/unit/testsuite/Magento/TestFramework/Utility/_files/implements.txt
  dev/tests/static/framework/tests/unit/testsuite/Magento/TestFramework/Utility/_files/implements2.txt
  dev/tests/static/framework/tests/unit/testsuite/Magento/TestFramework/Utility/_files/use.txt
  dev/tests/static/framework/tests/unit/testsuite/Magento/TestFramework/Utility/_files/use2.txt
  dev/tests/static/testsuite/Magento/Test/Integrity/Library/DependencyTest.php
  dev/tests/static/testsuite/Magento/Test/Integrity/Magento/Framework/Api/ExtensibleInterfacesTest.php
  dev/tests/static/testsuite/Magento/Test/Integrity/PublicCodeTest.php
  lib/internal/Magento/Framework/Code/Generator/ClassGenerator.php
  lib/internal/Magento/Framework/Code/Generator/EntityAbstract.php
  lib/internal/Magento/Framework/Code/Test/Unit/Generator/ClassGeneratorTest.php
  lib/internal/Magento/Framework/Interception/Code/Generator/Interceptor.php
  lib/internal/Magento/Framework/Reflection/TypeProcessor.php
  lib/internal/Magento/Framework/composer.json
  setup/src/Magento/Setup/Module/Di/Code/Reader/FileClassScanner.php
  setup/src/Magento/Setup/Module/Di/Code/Reader/FileScanner.php
  setup/src/Magento/Setup/Test/Unit/Module/Di/Code/Reader/FileScannerTest.php
  setup/src/Magento/Setup/Test/Unit/Module/Di/Code/Reader/_files/TestClass.php
  setup/src/Magento/Setup/Test/Unit/Module/Di/Code/Reader/_files/classes.php
Labels: Award: complex, Award: test coverage, partners-contribution, Partner: Atwix, Award: category of expertise, Progress: ready for testing, Auto-Tests: Covered, Priority: P2, Project: Platform Health

#33621 Fix type error in ConfigureFedexDefaults.php (PHP 7.1 Compatibility)
  app/code/Magento/Fedex/Setup/Patch/Data/ConfigureFedexDefaults.php
Labels: Progress: accept, Component: Fedex, Release Line: 2.4, Auto-Tests: Not Required, Priority: P2, Severity: S2

#33098 Fix Ui-Select (Multiselect) close button issues
  app/design/adminhtml/Magento/backend/web/css/source/actions/_actions-multiselect.less
Labels: Progress: accept, Award: bug fix, Area: Design/Frontend, Release Line: 2.4, Auto-Tests: Not Required, Priority: P2, Severity: S3

#33130 Update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: Progress: accept, Release Line: 2.4, Priority: P2, Priority: P1, Severity: S3

#33202 Fix - 'frame-ancestors' does not support ''unsafe-inline'
  app/code/Magento/Csp/etc/config.xml
Labels: Progress: accept, Award: bug fix, Release Line: 2.4, Auto-Tests: Not Required, Component: Csp, Priority: P2

#33431 [MFTF] Add product to the Cart if Backorders are allowed on Product level and Product Qty<=0
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminSetBackordersOnProductAdvancedInventoryActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/Test/StorefrontAddProductWithBackordersAllowedOnProductLevelToCartTest.xml
  app/code/Magento/CatalogInventory/Test/Mftf/Section/AdminProductFormAdvancedInventorySection.xml
Labels: Progress: accept, Component: Catalog, partners-contribution, Partner: Atwix, Component: CatalogInventory, Release Line: 2.4, Auto-Tests: Covered, Priority: P2

#32818 Optimize loading of media gallery when editing a product
  app/code/Magento/Catalog/view/adminhtml/web/js/product-gallery.js
Labels: improvement, Progress: accept, Component: Catalog, Area: Frontend, Award: complex, Award: special achievement, Award: category of expertise, Release Line: 2.4, Auto-Tests: Not Required, Priority: P2, Severity: S3

#32891 Only add referrer param to login url if referrer is a GET request
  app/code/Magento/Customer/Model/Url.php
  dev/tests/integration/testsuite/Magento/Customer/Controller/Account/LoginPostTest.php
Labels: Progress: accept, Component: Customer, Award: test coverage, partners-contribution, Award: bug fix, Partner: Basecom, Release Line: 2.4, Auto-Tests: Covered, Priority: P2, QA: Added to Regression Scope

#33001 magento/magento2#32596: Category Update API resets available_sort_by to use config value.
  app/code/Magento/Catalog/Model/Category.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Catalog/CategoriesQuery/CategoryTreeTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Catalog/CategoryTest.php
  dev/tests/integration/testsuite/Magento/Catalog/Model/CategoryTest.php
Labels: Progress: accept, Component: Catalog, Award: bug fix, Award: category of expertise, Release Line: 2.4, Auto-Tests: Covered, Priority: P2

#32286 Restore UNIQUE_CHECKS mysql variable to its original value when done …
  lib/internal/Magento/Framework/Setup/Declaration/Schema/OperationsExecutor.php
  lib/internal/Magento/Framework/Setup/Test/Unit/Declaration/Schema/OperationsExecutorTest.php
Labels: Progress: accept, Component: Setup, Award: bug fix, Award: category of expertise, Release Line: 2.4, Auto-Tests: Not Covered, Priority: P1, Severity: S1

#30001 Fixed Issue #14633 Sub-admin role related issue in order view page in magento 2 admin
  app/code/Magento/Sales/Block/Adminhtml/Order/View/Tab/Creditmemos.php
  app/code/Magento/Sales/Block/Adminhtml/Order/View/Tab/Invoices.php
  app/code/Magento/Sales/Block/Adminhtml/Order/View/Tab/Shipments.php
  app/code/Magento/Sales/Test/Mftf/Test/AdminViewOrderUserWithRestrictedAccessTest.xml
Labels: Progress: accept, Component: Sales, partners-contribution, Award: bug fix, Release Line: 2.4, Auto-Tests: Covered, Partner: Monsoon, Priority: P2, Severity: S3, QA: Added to Regression Scope

#25279 Extend password reset token validity on password change page load
  app/code/Magento/Customer/Controller/Account/CreatePassword.php
  app/code/Magento/User/Controller/Adminhtml/Auth/ResetPassword.php
  dev/tests/integration/testsuite/Magento/Customer/Controller/CreatePasswordTest.php
  dev/tests/integration/testsuite/Magento/User/Controller/Adminhtml/AuthTest.php
Labels: Progress: accept, Component: Customer, Award: test coverage, partners-contribution, Award: bug fix, Component: User, Award: category of expertise, Release Line: 2.4, Partner: Fisheye, Auto-Tests: Covered, Squashtoberfest 2019, Priority: P3, Severity: S3, QA: Added to Regression Scope

#27212 resolved consistency error for merged indexer xml files
  lib/internal/Magento/Framework/Indexer/Test/Unit/_files/invalidIndexerXmlArray.php
  lib/internal/Magento/Framework/Indexer/Test/Unit/_files/valid_indexer.xml
  lib/internal/Magento/Framework/Indexer/etc/indexer_merged.xsd
Labels: Progress: accept, partners-contribution, Partner: Netz98, Component: Indexer, Release Line: 2.4, Auto-Tests: Covered, Priority: P3, Severity: S3, QA: Added to Regression Scope

#27575 Fix #24656: allow "group" attribute on referenceBlock layout XML element
  dev/tests/integration/testsuite/Magento/Test/Integrity/Modular/LayoutConfigFilesTest.php
  lib/internal/Magento/Framework/View/Layout/etc/elements.xsd
Labels: Progress: accept, Award: bug fix, community-insider-contribution, Component: View, Release Line: 2.4, Community Insider: Magecom, Auto-Tests: Covered, Event: Global-Contribution-Day, Priority: P3, Severity: S2

#33632 CE-33626: Refactoring the codebase to eliminate keyword "match" from code
  app/code/Magento/Elasticsearch/Elasticsearch5/SearchAdapter/Mapper.php
  app/code/Magento/Elasticsearch/SearchAdapter/Mapper.php
  app/code/Magento/Elasticsearch/SearchAdapter/Query/Builder/MatchQuery.php
  app/code/Magento/Elasticsearch/Test/Unit/SearchAdapter/MapperTest.php
  app/code/Magento/Elasticsearch/Test/Unit/SearchAdapter/Query/Builder/MatchQueryTest.php
  app/code/Magento/Elasticsearch/etc/di.xml
  dev/tests/static/framework/Magento/TestFramework/Dependency/Route/RouteMapper.php
  dev/tests/static/testsuite/Magento/Test/Legacy/_files/obsolete_classes.php
  lib/internal/Magento/Framework/App/Router/ActionList.php
  lib/internal/Magento/Framework/Search/Request/Mapper.php
  lib/internal/Magento/Framework/Search/Request/Query/MatchQuery.php
  lib/internal/Magento/Framework/Search/Test/Unit/Request/MapperTest.php
Labels: Award: special achievement, partners-contribution, Partner: Atwix, Progress: ready for testing, Priority: P2, Project: Platform Health

#30982 #30218 GraphQL returns null address if optional telephone is set as e…
  app/code/Magento/QuoteGraphQl/etc/schema.graphqls
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Customer/GetSpecifiedBillingAddressTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Customer/SetBillingAddressOnCartTest.php
  dev/tests/integration/testsuite/Magento/GraphQl/Quote/_files/set_new_billing_address_without_telephone.php
Labels: Progress: needs update, Award: test coverage, Release Line: 2.4, Component: QuoteGraphQl, Auto-Tests: Covered, Priority: P2, Severity: S2, Project: GraphQL

#33871 Update jQuery.validate library
  app/code/Magento/Catalog/view/frontend/web/product/view/validation.js
  app/code/Magento/Checkout/view/frontend/web/js/region-updater.js
  app/design/frontend/Magento/blank/Magento_CatalogSearch/web/css/source/_module.less
  app/design/frontend/Magento/blank/web/css/source/_forms.less
  app/design/frontend/Magento/luma/Magento_CatalogSearch/web/css/source/_module.less
  app/design/frontend/Magento/luma/web/css/source/_forms.less
  lib/web/css/source/lib/_forms.less
  lib/web/jquery/jquery.validate.js
Labels: partners-contribution, Partner: Atwix, Award: category of expertise, Progress: ready for testing, Auto-Tests: Not Required, Priority: P2, Project: Platform Health

#33912 Updating `ramsey/uuid`, `elasticsearch/elasticsearch` composer dependencies to the latest versions
  app/code/Magento/Elasticsearch/composer.json
  app/code/Magento/Elasticsearch6/composer.json
  app/code/Magento/Elasticsearch7/composer.json
  composer.json
  composer.lock
  lib/internal/Magento/Framework/composer.json
Labels: partners-contribution, Partner: Atwix, Progress: ready for testing, Priority: P2, Project: Platform Health

#33944 Added correct version of the `laminas/laminas-escaper` composer dependency
  composer.json
  composer.lock
  lib/internal/Magento/Framework/composer.json
Labels: partners-contribution, Partner: Atwix, Progress: ready for testing, Project: Platform Health

#33847 Updating `squizlabs/php_codesniffer` composer dependency to the latest version
  composer.json
  composer.lock
Labels: partners-contribution, Partner: Atwix, Component: Elasticsearch, Progress: ready for testing, Release Line: 2.4, Priority: P2, Project: Platform Health

#33858 32863: Updated webonyx/graphql-php to 14.9.0 version
  app/code/Magento/GraphQl/Controller/HttpRequestValidator/HttpVerbValidator.php
  app/code/Magento/GraphQl/composer.json
  app/code/Magento/GraphQlCache/Model/Plugin/Query/Resolver.php
  composer.json
  composer.lock
  dev/tests/api-functional/testsuite/Magento/GraphQl/VariablesSupportQueryTest.php
  dev/tests/integration/testsuite/Magento/GraphQlCache/Controller/Catalog/CategoriesWithProductsCacheTest.php
  lib/internal/Magento/Framework/GraphQl/Exception/ExceptionFormatter.php
  lib/internal/Magento/Framework/GraphQl/Query/QueryProcessor.php
  lib/internal/Magento/Framework/GraphQl/Query/Resolver/ValueFactory.php
  lib/internal/Magento/Framework/GraphQlSchemaStitching/GraphQlReader.php
  lib/internal/Magento/Framework/composer.json
Labels: partners-contribution, Partner: Atwix, Progress: ready for testing, Priority: P2, Project: Platform Health

#33932 33916: CE eliminated calls deprecated methods of the phpunit/phpunit
  app/code/Magento/Analytics/Test/Unit/Model/Connector/Http/Client/CurlTest.php
  app/code/Magento/Backup/Test/Unit/Model/Fs/CollectionTest.php
  app/code/Magento/Catalog/Test/Unit/Controller/Adminhtml/Category/SaveTest.php
  app/code/Magento/Catalog/Test/Unit/Model/Category/Attribute/Backend/SortbyTest.php
  app/code/Magento/Catalog/Test/Unit/Model/ResourceModel/Product/ActionTest.php
  app/code/Magento/CatalogSearch/Test/Unit/Model/ResourceModel/Fulltext/CollectionTest.php
  app/code/Magento/Customer/Test/Unit/Model/AccountManagementTest.php
  app/code/Magento/Customer/Test/Unit/Model/Metadata/Form/AbstractDataTest.php
  app/code/Magento/GroupedProduct/Test/Unit/Model/ProductTest.php
  app/code/Magento/ImportExport/Test/Unit/Model/Import/Source/ZipTest.php
  app/code/Magento/Paypal/Test/Unit/Controller/Express/ReturnActionTest.php
  app/code/Magento/Paypal/Test/Unit/Controller/Express/StartTest.php
  app/code/Magento/Review/Test/Unit/Model/ResourceModel/Review/Product/CollectionTest.php
  app/code/Magento/Sales/Test/Unit/Block/Reorder/SidebarTest.php
  dev/tests/integration/framework/Magento/TestFramework/TestCase/AbstractController.php
  dev/tests/integration/testsuite/Magento/Backend/Block/Widget/GridTest.php
  dev/tests/integration/testsuite/Magento/Framework/View/LayoutTest.php
  dev/tests/integration/testsuite/Magento/Reports/Block/Adminhtml/Config/Form/Field/YtdStartTest.php
  dev/tests/integration/testsuite/Magento/Test/Integrity/Modular/ResourcesConfigFilesTest.php
  dev/tests/integration/testsuite/Magento/UrlRewrite/Block/Catalog/Category/EditTest.php
  dev/tests/integration/testsuite/Magento/UrlRewrite/Block/Catalog/Product/EditTest.php
  dev/tests/integration/testsuite/Magento/UrlRewrite/Block/Cms/Page/EditTest.php
  dev/tests/integration/testsuite/Magento/Widget/Controller/Adminhtml/Widget/InstanceTest.php
  dev/tests/static/testsuite/Magento/Test/Legacy/PhtmlTemplateTest.php
  lib/internal/Magento/Framework/Profiler/Test/Unit/Driver/StandardTest.php
Labels: partners-contribution, Partner: Atwix, Award: category of expertise, Progress: ready for testing, Priority: P2, Project: Platform Health
