Repository magento/magento2, pull requests merged in 2021-06, with the labels that each got.

#32816 [32015]Marked Catalog*, Checkout, Cms, ConfigurableProduct interfaces as API
  app/code/Magento/CatalogGraphQl/DataProvider/Product/LayeredNavigation/LayerBuilderInterface.php
  app/code/Magento/CatalogGraphQl/Model/Resolver/Categories/DataProvider/Category/CollectionProcessorInterface.php
  app/code/Magento/CatalogGraphQl/Model/Resolver/Product/Price/ProviderInterface.php
  app/code/Magento/CatalogGraphQl/Model/Resolver/Products/DataProvider/Product/CollectionProcessorInterface.php
  app/code/Magento/CatalogGraphQl/Model/Resolver/Products/Query/ProductQueryInterface.php
  app/code/Magento/CatalogGraphQl/Model/Resolver/Products/SearchResult.php
  app/code/Magento/CatalogImportExport/Model/Export/ProductFilterInterface.php
  app/code/Magento/CatalogRule/Model/Indexer/IndexerTableSwapperInterface.php
  app/code/Magento/CatalogSearch/Model/Adapter/Aggregation/RequestCheckerInterface.php
  app/code/Magento/CatalogSearch/Model/Advanced/ProductCollectionPrepareStrategyInterface.php
  app/code/Magento/CatalogSearch/Model/ResourceModel/Fulltext/Collection/SearchCriteriaResolverInterface.php
  app/code/Magento/CatalogSearch/Model/ResourceModel/Fulltext/Collection/SearchResultApplierInterface.php
  app/code/Magento/CatalogSearch/Model/ResourceModel/Fulltext/Collection/TotalRecordsResolverInterface.php
  app/code/Magento/CatalogSearch/Model/Search/ItemCollectionProviderInterface.php
  app/code/Magento/CatalogUrlRewrite/Model/Map/DatabaseMapInterface.php
  app/code/Magento/CatalogUrlRewrite/Model/Map/HashMapInterface.php
  app/code/Magento/Checkout/Api/PaymentProcessingRateLimiterInterface.php
  app/code/Magento/Checkout/Controller/Express/RedirectLoginInterface.php
  app/code/Magento/Checkout/CustomerData/ItemPoolInterface.php
  app/code/Magento/CheckoutAgreements/Model/AgreementsProviderInterface.php
  app/code/Magento/Cms/Model/Page/CustomLayout/Data/CustomLayoutSelectedInterface.php
  app/code/Magento/Cms/Model/Page/CustomLayoutManagerInterface.php
  app/code/Magento/Cms/Model/Page/CustomLayoutRepositoryInterface.php
  app/code/Magento/Cms/Model/PageRepository/ValidatorInterface.php
  app/code/Magento/Cms/Ui/Component/AddFilterInterface.php
  app/code/Magento/ConfigurableProduct/Model/ResourceModel/Attribute/OptionSelectBuilderInterface.php
  lib/internal/Magento/Framework/Api/Search/AggregationInterface.php
Labels: Auto-Tests: Not Required, Award: category of expertise, Component: multiple, Partner: Atwix, Priority: P1, Progress: ready for testing, QA: Added to Regression Scope, Release Line: 2.4, partners-contribution

#32881 Upgrade to the latest matchMedia.js
  lib/web/matchMedia.js
Labels: Area: Lib/Frontend, Auto-Tests: Not Required, Priority: P1, Priority: P2, Priority: P3, Progress: ready for testing, Release Line: 2.4

#33103 Mark Exceptions as API
  app/code/Magento/Checkout/Api/Exception/PaymentProcessingRateLimitExceededException.php
  app/code/Magento/SalesRule/Api/Exception/CodeRequestLimitException.php
Labels: Partner: Atwix, Priority: P1, Progress: accept, Progress: ready for testing, partners-contribution

#33104 Mark interfaces as api cron deploy
  app/code/Magento/Cron/Model/DeadlockRetrierInterface.php
  app/code/Magento/Csp/Api/CspAwareActionInterface.php
  app/code/Magento/Csp/Api/CspRendererInterface.php
  app/code/Magento/Csp/Api/Data/ModeConfiguredInterface.php
  app/code/Magento/Csp/Api/Data/PolicyInterface.php
  app/code/Magento/Csp/Api/InlineUtilInterface.php
  app/code/Magento/Csp/Api/ModeConfigManagerInterface.php
  app/code/Magento/Csp/Api/PolicyCollectorInterface.php
  app/code/Magento/Csp/Api/PolicyRendererInterface.php
  app/code/Magento/Csp/Model/Collector/Config/PolicyReaderInterface.php
  app/code/Magento/Csp/Model/Collector/MergerInterface.php
  app/code/Magento/Csp/Model/Policy/SimplePolicyInterface.php
  app/code/Magento/Customer/Api/AccountDelegationInterface.php
  app/code/Magento/Customer/Api/SessionCleanerInterface.php
  app/code/Magento/Customer/Block/Address/Renderer/RendererInterface.php
  app/code/Magento/Customer/Controller/AccountInterface.php
  app/code/Magento/Customer/CustomerData/JsLayoutDataProviderPoolInterface.php
  app/code/Magento/Customer/CustomerData/SectionPoolInterface.php
  app/code/Magento/Customer/Model/Customer/Attribute/Source/GroupSourceLoggedInOnlyInterface.php
  app/code/Magento/Deploy/Collector/CollectorInterface.php
  app/code/Magento/Deploy/Console/Command/App/SensitiveConfigSet/CollectorInterface.php
  app/code/Magento/Deploy/Package/BundleInterface.php
  app/code/Magento/Deploy/Package/Package.php
  app/code/Magento/Deploy/Package/PackageFile.php
  app/code/Magento/Deploy/Package/Processor/ProcessorInterface.php
  app/code/Magento/Deploy/Source/SourceInterface.php
  app/code/Magento/Deploy/Strategy/StrategyInterface.php
Labels: Partner: Atwix, Priority: P1, Progress: accept, partners-contribution

#33177 32030 - Mark interfaces as api
  lib/internal/Magento/Framework/MessageQueue/BulkPublisherInterface.php
  lib/internal/Magento/Framework/MessageQueue/CallbackInvokerInterface.php
  lib/internal/Magento/Framework/MessageQueue/ConnectionTypeResolverInterface.php
  lib/internal/Magento/Framework/MessageQueue/Consumer/Config/ConsumerConfigItem/HandlerInterface.php
  lib/internal/Magento/Framework/MessageQueue/Consumer/Config/ConsumerConfigItemInterface.php
  lib/internal/Magento/Framework/MessageQueue/Consumer/Config/ReaderInterface.php
  lib/internal/Magento/Framework/MessageQueue/Consumer/Config/ValidatorInterface.php
  lib/internal/Magento/Framework/MessageQueue/Lock/ReaderInterface.php
  lib/internal/Magento/Framework/MessageQueue/Lock/WriterInterface.php
  lib/internal/Magento/Framework/MessageQueue/LockInterface.php
  lib/internal/Magento/Framework/MessageQueue/MergedMessageInterface.php
  lib/internal/Magento/Framework/MessageQueue/MergerInterface.php
  lib/internal/Magento/Framework/MessageQueue/MessageProcessorInterface.php
  lib/internal/Magento/Framework/MessageQueue/PoisonPill/PoisonPillCompareInterface.php
  lib/internal/Magento/Framework/MessageQueue/PoisonPill/PoisonPillPutInterface.php
  lib/internal/Magento/Framework/MessageQueue/PoisonPill/PoisonPillReadInterface.php
  lib/internal/Magento/Framework/MessageQueue/Publisher/Config/PublisherConfigItemInterface.php
  lib/internal/Magento/Framework/MessageQueue/Publisher/Config/PublisherConnectionInterface.php
  lib/internal/Magento/Framework/MessageQueue/Publisher/Config/ReaderInterface.php
  lib/internal/Magento/Framework/MessageQueue/Publisher/Config/ValidatorInterface.php
  lib/internal/Magento/Framework/MessageQueue/Topology/Config/ExchangeConfigItemInterface.php
  lib/internal/Magento/Framework/MessageQueue/Topology/Config/QueueConfigItemInterface.php
  lib/internal/Magento/Framework/MessageQueue/Topology/Config/ReaderInterface.php
  lib/internal/Magento/Framework/MessageQueue/Topology/Config/ValidatorInterface.php
Labels: Auto-Tests: Not Required, Priority: P1, Progress: accept, Project: API Changes

#33178 32021 - Mark interfaces as api
  app/code/Magento/ReleaseNotification/Model/ContentProviderInterface.php
  app/code/Magento/RemoteStorage/Driver/DriverFactoryInterface.php
  app/code/Magento/RemoteStorage/Driver/RemoteDriverInterface.php
  app/code/Magento/RemoteStorage/FilesystemInterface.php
  app/code/Magento/Sales/Api/OrderCustomerDelegateInterface.php
  app/code/Magento/Sales/Api/PaymentFailuresInterface.php
  app/code/Magento/Sales/Controller/AbstractController/OrderLoaderInterface.php
  app/code/Magento/Sales/Controller/AbstractController/OrderViewAuthorizationInterface.php
  app/code/Magento/Sales/Controller/OrderInterface.php
  app/code/Magento/Sales/Model/Order/Creditmemo/CreditmemoValidatorInterface.php
  app/code/Magento/Sales/Model/Order/Creditmemo/ItemCreationValidatorInterface.php
  app/code/Magento/Sales/Model/Order/Creditmemo/SenderInterface.php
  app/code/Magento/Sales/Model/Order/Email/Container/IdentityInterface.php
  app/code/Magento/Sales/Model/Order/Invoice/InvoiceValidatorInterface.php
  app/code/Magento/Sales/Model/Order/Invoice/SenderInterface.php
  app/code/Magento/Sales/Model/Order/OrderValidatorInterface.php
  app/code/Magento/Sales/Model/Order/Payment/State/CommandInterface.php
  app/code/Magento/Sales/Model/Order/Payment/Transaction/BuilderInterface.php
  app/code/Magento/Sales/Model/Order/Payment/Transaction/ManagerInterface.php
  app/code/Magento/Sales/Model/Order/Shipment/SenderInterface.php
  app/code/Magento/Sales/Model/Order/Shipment/ShipmentValidatorInterface.php
  app/code/Magento/Sales/Model/ResourceModel/Order/CollectionFactoryInterface.php
  app/code/Magento/Sales/Model/ResourceModel/Provider/NotSyncedDataProviderInterface.php
  app/code/Magento/Sales/Model/Spi/CreditmemoCommentResourceInterface.php
  app/code/Magento/Sales/Model/Spi/CreditmemoItemResourceInterface.php
  app/code/Magento/Sales/Model/Spi/CreditmemoResourceInterface.php
  app/code/Magento/Sales/Model/Spi/InvoiceCommentResourceInterface.php
  app/code/Magento/Sales/Model/Spi/InvoiceItemResourceInterface.php
  app/code/Magento/Sales/Model/Spi/InvoiceResourceInterface.php
  app/code/Magento/Sales/Model/Spi/OrderAddressResourceInterface.php
  app/code/Magento/Sales/Model/Spi/OrderItemResourceInterface.php
  app/code/Magento/Sales/Model/Spi/OrderPaymentResourceInterface.php
  app/code/Magento/Sales/Model/Spi/OrderResourceInterface.php
  app/code/Magento/Sales/Model/Spi/OrderStatusHistoryResourceInterface.php
  app/code/Magento/Sales/Model/Spi/ShipmentCommentResourceInterface.php
  app/code/Magento/Sales/Model/Spi/ShipmentItemResourceInterface.php
  app/code/Magento/Sales/Model/Spi/ShipmentResourceInterface.php
  app/code/Magento/Sales/Model/Spi/ShipmentTrackResourceInterface.php
  app/code/Magento/Sales/Model/Spi/TransactionResourceInterface.php
  app/code/Magento/Sales/Model/ValidatorInterface.php
  app/code/Magento/SalesGraphQl/Model/Shipment/Item/FormatterInterface.php
  app/code/Magento/SalesRule/Api/Data/DiscountDataInterface.php
  app/code/Magento/SalesRule/Api/Data/RuleDiscountInterface.php
  app/code/Magento/SalesRule/Model/Spi/CodeLimitManagerInterface.php
  app/code/Magento/SalesRule/Model/Spi/QuoteResetAppliedRulesInterface.php
  app/code/Magento/SalesRule/Model/Spi/RuleQuoteRecollectTotalsInterface.php
Labels: Auto-Tests: Not Required, Priority: P1, Progress: accept, Project: API Changes

#33179 32019 - Mark interfaces as api
  app/code/Magento/MediaContentApi/Api/GetAssetIdsByContentFieldInterface.php
  app/code/Magento/MediaContentApi/Api/UpdateContentAssetLinksInterface.php
  app/code/Magento/MediaContentApi/Model/GetAssetIdsByContentFieldInterface.php
  app/code/Magento/MediaContentApi/Model/SearchPatternConfigInterface.php
  app/code/Magento/MediaContentSynchronizationApi/Api/SynchronizeIdentitiesInterface.php
  app/code/Magento/MediaContentSynchronizationApi/Api/SynchronizeInterface.php
  app/code/Magento/MediaContentSynchronizationApi/Model/GetEntitiesInterface.php
  app/code/Magento/MediaGalleryApi/Api/SearchAssetsInterface.php
  app/code/Magento/MediaGalleryApi/Model/ExcludedPatternsConfigInterface.php
  app/code/Magento/MediaGalleryMetadataApi/Api/AddMetadataInterface.php
  app/code/Magento/MediaGalleryMetadataApi/Api/Data/MetadataInterface.php
  app/code/Magento/MediaGalleryMetadataApi/Api/ExtractMetadataInterface.php
  app/code/Magento/MediaGalleryMetadataApi/Model/FileInterface.php
  app/code/Magento/MediaGalleryMetadataApi/Model/ReadFileInterface.php
  app/code/Magento/MediaGalleryMetadataApi/Model/ReadMetadataInterface.php
  app/code/Magento/MediaGalleryMetadataApi/Model/SegmentInterface.php
  app/code/Magento/MediaGalleryMetadataApi/Model/WriteFileInterface.php
  app/code/Magento/MediaGalleryMetadataApi/Model/WriteMetadataInterface.php
  app/code/Magento/MediaGalleryRenditionsApi/Api/GenerateRenditionsInterface.php
  app/code/Magento/MediaGalleryRenditionsApi/Api/GetRenditionPathInterface.php
  app/code/Magento/MediaGallerySynchronizationApi/Api/SynchronizeFilesInterface.php
  app/code/Magento/MediaGallerySynchronizationApi/Api/SynchronizeInterface.php
  app/code/Magento/MediaGallerySynchronizationApi/Model/CreateAssetFromFileInterface.php
  app/code/Magento/MediaGallerySynchronizationApi/Model/FetchBatchesInterface.php
  app/code/Magento/MediaGallerySynchronizationApi/Model/ImportFilesInterface.php
  app/code/Magento/MediaGalleryUiApi/Api/ConfigInterface.php
Labels: Auto-Tests: Not Required, Priority: P1, Progress: accept, Project: API Changes

#33221 32054 api changes
  app/code/Magento/Customer/Controller/RegistryConstants.php
  app/code/Magento/Customer/Model/Context.php
  app/code/Magento/Sales/Model/ResourceModel/Order/Collection/Factory.php
  app/code/Magento/Sales/Model/ResourceModel/Order/CollectionFactory.php
  app/code/Magento/Shipping/Model/Carrier/CarrierInterface.php
  app/code/Magento/Ui/Component/Layout/Tabs/TabInterface.php
  app/code/Magento/Widget/Block/BlockInterface.php
  lib/internal/Magento/Framework/Api/AbstractSimpleObject.php
  lib/internal/Magento/Framework/App/Filesystem/DirectoryList.php
  lib/internal/Magento/Framework/App/Http/Context.php
  lib/internal/Magento/Framework/App/Response/Http/FileFactory.php
  lib/internal/Magento/Framework/Controller/Result/JsonFactory.php
  lib/internal/Magento/Framework/Controller/Result/Raw.php
  lib/internal/Magento/Framework/Data/FormFactory.php
  lib/internal/Magento/Framework/Filesystem/DirectoryList.php
  lib/internal/Magento/Framework/Logger/Handler/Base.php
  lib/internal/Magento/Framework/View/Element/Html/Select.php
  lib/internal/Magento/Framework/View/Element/UiComponent/ContextInterface.php
  lib/internal/Magento/Framework/View/Element/UiComponent/Control/ButtonProviderInterface.php
  lib/internal/Magento/Framework/View/Element/UiComponent/DataProvider/DataProvider.php
  lib/internal/Magento/Framework/View/Element/UiComponent/DataProvider/SearchResult.php
  lib/internal/Magento/Framework/View/LayoutFactory.php
Labels: Priority: P1, Progress: ready for testing, Project: API Changes

#33033 Admin interface locale breaks "Expiration date" field
  app/code/Magento/Security/Model/ResourceModel/UserExpiration.php
  app/code/Magento/Security/Model/UserExpiration/Validator.php
  app/code/Magento/Security/Test/Unit/Model/UserExpiration/ValidatorTest.php
  dev/tests/integration/testsuite/Magento/Security/Model/ResourceModel/UserExpirationTest.php
  dev/tests/integration/testsuite/Magento/Security/Model/UserExpiration/ValidatorTest.php
  lib/internal/Magento/Framework/Stdlib/DateTime/Timezone/LocalizedDateToUtcConverter.php
Labels: Auto-Tests: Not Covered, Component: Security, Component: Stdlib, Priority: P1, Progress: accept, Release Line: 2.4

#33043 32913 set url key for page before validation
  app/code/Magento/CmsUrlRewrite/Plugin/Cms/Model/PageRepository/ValidationCompositePlugin.php
  app/code/Magento/CmsUrlRewrite/etc/di.xml
Labels: Auto-Tests: Not Required, Component: CmsUrlRewrite, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, partners-contribution

#32620 Allow underscore in extended static files in theme
  dev/tests/integration/testsuite/Magento/Framework/App/Utility/FilesTest.php
  dev/tests/integration/testsuite/Magento/Framework/App/Utility/_files/design/frontend/Test/default/Module_Third_Party/web/css/source/_module.less
  dev/tests/integration/testsuite/Magento/Framework/App/Utility/_files/design/frontend/Test/default/registration.php
  dev/tests/integration/testsuite/Magento/Framework/App/Utility/_files/design/frontend/Test/default/theme.xml
  lib/internal/Magento/Framework/App/Utility/Files.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: App, Priority: P1, Progress: accept, Release Line: 2.4, Severity: S1

#32790 Prevent Category URL Rewrites generation when no Store Group assigned
  app/code/Magento/CatalogUrlRewrite/Model/Category/Plugin/Store/View.php
  app/code/Magento/CatalogUrlRewrite/Test/Unit/Model/Category/Plugin/Store/ViewTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: category of expertise, Component: CatalogUrlRewrite, Priority: P2, Progress: ready for testing, Release Line: 2.4, Severity: S2

#32947 Change HTTP Endpoint according to the USPS future release
  app/code/Magento/Usps/etc/config.xml
Labels: Auto-Tests: Not Required, Award: bug fix, Component: Usps, Partner: Atwix, Priority: P1, Progress: accept, Release Line: 2.4, Severity: S1, partners-contribution

#32973 Add missing index on "cms_block" table.
  app/code/Magento/Cms/etc/db_schema.xml
  app/code/Magento/Cms/etc/db_schema_whitelist.json
Labels: Auto-Tests: Not Required, Award: bug fix, Component: Cms, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S3

#31809 [ReadMe] updated readMe file for ImportExport-LayeredNavigation modules
  app/code/Magento/ImportExport/README.md
  app/code/Magento/Indexer/README.md
  app/code/Magento/InstantPurchase/README.md
  app/code/Magento/Integration/README.md
  app/code/Magento/LayeredNavigation/README.md
Labels: Auto-Tests: Not Required, Component: ImportExport, Component: Indexer, Component: InstantPurchase, Component: Integration, Component: LayeredNavigation, Partner: Atwix, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, partners-contribution

#31940 Fix js errors in customer data when component not initialized
  app/code/Magento/Customer/view/frontend/web/js/customer-data.js
Labels: Area: Frontend, Auto-Tests: Not Required, Award: bug fix, Award: category of expertise, Component: Customer, Priority: P2, Progress: accept, Release Line: 2.4, Risk: low, Severity: S3

#30885 Set correct parent transaction ID for Payflow delayed capture
  app/code/Magento/Paypal/Model/Payflow/Transparent.php
  app/code/Magento/Paypal/Test/Unit/Model/Payflow/TransparentTest.php
Labels: Auto-Tests: Covered, Component: Paypal, Priority: P1, Progress: accept, Release Line: 2.4, Severity: S1

#33248 Add close tag for some void elements
  app/code/Magento/Checkout/view/frontend/web/template/cart/shipping-estimation.html
  app/code/Magento/Ui/view/base/web/templates/dynamic-rows/cells/thumbnail.html
  app/code/Magento/Ui/view/base/web/templates/form/element/price.html
  app/code/Magento/Ui/view/base/web/templates/form/element/switcher.html
  app/code/Magento/Ui/view/base/web/templates/form/element/textarea.html
  app/code/Magento/Ui/view/base/web/templates/form/element/uploader/preview.html
  app/code/Magento/Ui/view/base/web/templates/grid/cells/multiselect.html
  app/code/Magento/Ui/view/base/web/templates/grid/cells/onoff.html
  app/code/Magento/Ui/view/base/web/templates/grid/columns/image-preview.html
  app/code/Magento/Ui/view/base/web/templates/grid/columns/multiselect.html
  app/code/Magento/Ui/view/base/web/templates/grid/columns/onoff.html
  app/code/Magento/Ui/view/base/web/templates/grid/controls/bookmarks/bookmarks.html
  app/code/Magento/Ui/view/base/web/templates/grid/controls/bookmarks/view.html
  app/code/Magento/Ui/view/base/web/templates/grid/filters/elements/ui-select-optgroup.html
  app/code/Magento/Ui/view/base/web/templates/grid/filters/elements/ui-select.html
Labels: Area: Frontend, Component: Checkout, Component: Ui, Priority: P3, Progress: ready for testing, Project: Platform Health, Release Line: 2.4

#33212 33208 Eliminate laminas/laminas-crypt composer dependency
  composer.json
  composer.lock
  lib/internal/Magento/Framework/Encryption/Helper/Security.php
  lib/internal/Magento/Framework/composer.json
Labels: Auto-Tests: Covered, Award: bug fix, Partner: Webjump, Priority: P1, Progress: ready for testing, Project: Platform Health, partners-contribution

#33224 #32332 : Fixed Replace usages of ReflectionParameter deprecated methods
  lib/internal/Magento/Framework/Code/Generator/EntityAbstract.php
  lib/internal/Magento/Framework/Code/Reader/SourceArgumentsReader.php
  lib/internal/Magento/Framework/Interception/Code/InterfaceValidator.php
  lib/internal/Magento/Framework/TestFramework/Unit/Helper/ObjectManager.php
Labels: Auto-Tests: Covered, Award: category of expertise, Priority: P1, Progress: ready for testing, Project: Platform Health

#33287 Prepare for jquery new version
  app/code/Magento/Backend/view/adminhtml/web/template/dynamic-rows/grid.html
  app/code/Magento/Theme/view/adminhtml/templates/tabs/css.phtml
  app/code/Magento/Theme/view/adminhtml/templates/tabs/js.phtml
Labels: Area: Frontend, Auto-Tests: Covered, Component: Backend, Component: Theme, Progress: ready for testing, Project: Platform Health, Release Line: 2.4

#33167 Adjustment stale-bot configuration with Severity Labels
  .github/stale.yml
Labels: Priority: P1, Progress: accept, Release Line: 2.4

#33169 Update README.md
  README.md
Labels: Auto-Tests: Not Required, Priority: P2, Progress: accept, Release Line: 2.4

#32640 Make sure all 301 url redirects get generated when importing more the…
  app/code/Magento/CatalogUrlRewrite/Observer/AfterImportDataObserver.php
  dev/tests/integration/testsuite/Magento/CatalogUrlRewrite/Model/ProductUrlRewriteTest.php
  dev/tests/integration/testsuite/Magento/CatalogUrlRewrite/_files/products_to_import_with_rewrites.csv
Labels: Auto-Tests: Covered, Award: bug fix, Component: CatalogUrlRewrite, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#32701 MFTF: Storefront customer product reviews in my account
  app/code/Magento/Customer/Test/Mftf/ActionGroup/StorefrontNavigateToMyProductReviewsPageActionGroup.xml
  app/code/Magento/Customer/Test/Mftf/Page/StorefrontCustomerProductReviewsPage.xml
  app/code/Magento/Review/Test/Mftf/ActionGroup/AssertStorefrontReviewAtProductReviewPageActionGroup.xml
  app/code/Magento/Review/Test/Mftf/Section/StorefrontMyProductReviewsSection.xml
  app/code/Magento/Review/Test/Mftf/Test/StorefrontVerifyProductReviewInCustomerAccountTest.xml
Labels: Auto-Tests: Covered, Component: Customer, Component: Review, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#32714 Replace repetitive actions with Action Groups in ProductsListWidgetTest
  app/code/Magento/Bundle/Test/Mftf/Test/NewProductsListWidgetBundleProductTest.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminSetProductAsNewDateActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/Test/NewProductsListWidgetSimpleProductTest.xml
  app/code/Magento/Cms/Test/Mftf/ActionGroup/AdminCmsPageSetUrlActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/ActionGroup/AdminExpandContentSectionActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/ActionGroup/AdminExpandSeoSectionActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/ActionGroup/AssertStorefrontProductIsShownOnCmsPageActionGroup.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/NewProductsListWidgetConfigurableProductTest.xml
  app/code/Magento/Downloadable/Test/Mftf/Test/NewProductsListWidgetDownloadableProductTest.xml
  app/code/Magento/GroupedProduct/Test/Mftf/Test/NewProductsListWidgetGroupedProductTest.xml
  app/code/Magento/Widget/Test/Mftf/ActionGroup/AdminInsertCatalogNewProductListWidgetForCmsPageContentSectionActionGroup.xml
  app/code/Magento/Widget/Test/Mftf/ActionGroup/AdminInsertCatalogProductsListWidgetForCmsPageContentSectionActionGroup.xml
  app/code/Magento/Widget/Test/Mftf/Section/AdminNewWidgetSection.xml
  app/code/Magento/Widget/Test/Mftf/Test/NewProductsListWidgetTest.xml
  app/code/Magento/Widget/Test/Mftf/Test/ProductsListWidgetTest.xml
Labels: Auto-Tests: Not Required, Component: Bundle, Component: Catalog, Component: Cms, Component: ConfigurableProduct, Component: Downloadable, Component: GroupedProduct, Component: Widget, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, partners-contribution

#32756 Load resizable jquery-ui chunk for knockout resizable binding only when actually used
  app/code/Magento/Ui/view/base/web/js/lib/knockout/bindings/resizable.js
Labels: Area: Frontend, Area: Perf/Frontend, Auto-Tests: Not Required, Award: bug fix, Component: Ui, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S2, improvement

#32772 MFTF: Update Admin User Password
  app/code/Magento/User/Test/Mftf/ActionGroup/AdminChangePasswordActionGroup.xml
  app/code/Magento/User/Test/Mftf/Data/UserData.xml
  app/code/Magento/User/Test/Mftf/Test/AdminUpdateUserPasswordTest.xml
Labels: Auto-Tests: Covered, Component: User, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#32902 #32760 fix order items missing in invoice email when invoice created …
  app/code/Magento/Sales/Model/Order/Invoice/Sender/EmailSender.php
  app/code/Magento/Sales/Test/Unit/Model/Order/Invoice/Sender/EmailSenderTest.php
  dev/tests/integration/testsuite/Magento/Sales/Model/Order/Invoice/Sender/EmailSenderTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: Sales, Partner: Atwix, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2, partners-contribution

#32931 MFTF: Applying Coupon Codes With Enabled Captcha
  app/code/Magento/Captcha/Test/Mftf/ActionGroup/AssertStorefrontCaptchaVisibleOnShoppingCartApplyCouponCodeFormActionGroup.xml
  app/code/Magento/Captcha/Test/Mftf/ActionGroup/StorefrontShoppingCartFillCaptchaFieldOnApplyDiscountFormActionGroup.xml
  app/code/Magento/Captcha/Test/Mftf/Data/CaptchaConfigData.xml
  app/code/Magento/Captcha/Test/Mftf/Section/StorefrontShoppingCartApplyDiscountCodeSection.xml
  app/code/Magento/Captcha/Test/Mftf/Test/StorefrontCaptchaOnApplyingCouponCodesFormsTest.xml
  app/code/Magento/SalesRule/Test/Mftf/ActionGroup/StorefrontShoppingCartClickApplyDiscountButtonActionGroup.xml
  app/code/Magento/SalesRule/Test/Mftf/ActionGroup/StorefrontShoppingCartFillCouponCodeFieldActionGroup.xml
Labels: Auto-Tests: Covered, Component: Captcha, Component: SalesRule, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#32936 MFTF: Change Customer Password With Enabled Captcha
  app/code/Magento/Captcha/Test/Mftf/ActionGroup/StorefrontCustomerChangePasswordWithCaptchaActionGroup.xml
  app/code/Magento/Captcha/Test/Mftf/Test/StorefrontCaptchaChangeCustomerPasswordTest.xml
  app/code/Magento/Customer/Test/Mftf/ActionGroup/StorefrontEditCustomerPasswordActionGroup.xml
Labels: Auto-Tests: Covered, Component: Captcha, Component: Customer, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#32959 magento/magento2#32309: IncosistentReferenceDefinition wrong check result
  dev/tests/setup-integration/_files/Magento/TestSetupDeclarationModule8/revisions/inconsistent_reference_type_definition/db_schema.xml
  dev/tests/setup-integration/testsuite/Magento/Setup/ValidationRulesTest.php
  lib/internal/Magento/Framework/Setup/Declaration/Schema/Declaration/ValidationRules/IncosistentReferenceDefinition.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: Setup, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4

#31791 Replace repetitive actions with Action Groups in AdminDeleteConfigurableChildProductsTest
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AssertStorefrontProductAttributeLabelVisibleActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminDeleteConfigurableChildProductsTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/ActionGroup/AssertStorefrontProductOptionsDropDownVisibleActionGroup.xml
Labels: Auto-Tests: Covered, Component: Catalog, Component: ConfigurableProduct, Partner: Atwix, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, partners-contribution

#32390 Move assign category ids to beforeToHtml instead inside load collection
  app/code/Magento/Catalog/Block/Product/ListProduct.php
  dev/tests/integration/testsuite/Magento/Catalog/Block/Product/ListTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: Catalog, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S2, Severity: S3

#29184 Always use canonical urls in the sitemap
  app/code/Magento/Sitemap/Model/ResourceModel/Catalog/Product.php
  app/code/Magento/Sitemap/Test/Mftf/ActionGroup/AdminMarketingSiteMapFillFormSaveAndGenerateActionGroup.xml
  app/code/Magento/Sitemap/Test/Mftf/ActionGroup/AdminSiteMapGridClickFirstRowLinkActionGroup.xml
  app/code/Magento/Sitemap/Test/Mftf/Section/AdminMarketingSiteMapGridSection.xml
  app/code/Magento/Sitemap/Test/Mftf/Test/StorefrontSitemapUseCanonicalUrlProductTest.xml
  app/code/Magento/UrlRewrite/etc/db_schema.xml
  app/code/Magento/UrlRewrite/etc/db_schema_whitelist.json
Labels: Component: Sitemap, Component: UrlRewrite, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S2
