Repository magento/magento2, pull requests merged in 2021-07, with the labels that each got.

#33402 Update colinmollenhour/credis to 1.12.1
  composer.json
  composer.lock
Labels: Auto-Tests: Not Required, Partner: Webjump, Priority: P2, Progress: ready for testing, Project: Platform Health, Severity: S3, partners-contribution

#33199 Set self closing tags for void elements
  dev/tests/integration/testsuite/Magento/Csp/CspUtilTest.php
  dev/tests/integration/testsuite/Magento/Csp/Helper/InlineUtilTest.php
  dev/tests/integration/testsuite/Magento/Framework/View/Helper/SecureHtmlRendererTemplateTest.php
  lib/internal/Magento/Framework/View/Helper/SecureHtmlRender/HtmlRenderer.php
  lib/internal/Magento/Framework/View/Test/Unit/Helper/SecureHtmlRenderer/HtmlRendererTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: View, Priority: P3, Progress: ready for testing, Project: Platform Health, Release Line: 2.4, Severity: S3

#33385 33206: Removed lib/web/es6-collections.js and replaced usages with native JS
  app/code/Magento/Ui/view/base/requirejs-config.js
  dev/tests/integration/testsuite/Magento/Framework/Composer/_files/testFromCreateProject/composer.lock
  dev/tests/integration/testsuite/Magento/Framework/Composer/_files/testSkeleton/composer.lock
  dev/tests/js/jasmine/tests/lib/es6-collections.test.js
  lib/web/es6-collections.js
Labels: Area: Frontend, Area: Lib/Frontend, Auto-Tests: Covered, Component: Ui, Partner: Atwix, Priority: P1, Progress: ready for testing, Project: Platform Health, Release Line: 2.4, partners-contribution

#33364 Updated colinmollenhour/cache-backend-redis to ^1.14
  composer.json
  composer.lock
Labels: Priority: P2, Progress: ready for testing, Project: Platform Health

#33107 Prepare jquery mobile work with new version jquery
  app/code/Magento/Theme/view/frontend/requirejs-config.js
  app/design/adminhtml/Magento/backend/etc/view.xml
  dev/tests/integration/testsuite/Magento/Framework/View/_files/static/expected/test.min.js
  dev/tests/integration/testsuite/Magento/Framework/View/_files/static/theme/web/js/test.js
  lib/web/jquery/jquery.mobile.custom.js
  lib/web/mage/menu.js
Labels: Area: Design/Frontend, Area: Frontend, Area: Lib/Frontend, Auto-Tests: Not Required, Award: bug fix, Component: Theme, Progress: ready for testing, Project: Platform Health, Release Line: 2.4, Severity: S2

#33410 Update code prepare for jquery new version
  app/code/Magento/AdminNotification/view/adminhtml/web/system/notification.js
  app/code/Magento/Catalog/view/adminhtml/web/catalog/product-attributes.js
  app/code/Magento/Catalog/view/frontend/web/js/list.js
  app/code/Magento/CatalogInventory/Block/Adminhtml/Form/Field/Stock.php
  app/code/Magento/Checkout/view/frontend/templates/cart/minicart.phtml
  app/code/Magento/Customer/view/adminhtml/web/edit/tab/js/addresses.js
  app/code/Magento/Integration/view/adminhtml/web/js/integration.js
  app/code/Magento/ProductVideo/view/adminhtml/web/js/get-video-information.js
  app/code/Magento/ProductVideo/view/frontend/web/js/load-player.js
  app/code/Magento/Swatches/view/adminhtml/web/js/form/element/swatch-visual.js
  app/code/Magento/Swatches/view/adminhtml/web/js/visual.js
  app/code/Magento/Ui/view/base/web/js/form/client.js
  app/code/Magento/Ui/view/base/web/js/form/components/insert-form.js
  app/code/Magento/Ui/view/base/web/js/grid/columns/thumbnail.js
  app/code/Magento/Ui/view/base/web/js/grid/filters/filters.js
  app/code/Magento/Ui/view/base/web/js/lib/knockout/bindings/i18n.js
  app/code/Magento/Ui/view/base/web/js/modal/modalToggle.js
  app/code/Magento/Ui/view/base/web/templates/dynamic-rows/templates/grid.html
  app/code/Magento/Variable/view/adminhtml/web/variables.js
  lib/web/fotorama/fotorama.js
  lib/web/mage/adminhtml/backup.js
  lib/web/mage/adminhtml/browser.js
  lib/web/mage/adminhtml/grid.js
  lib/web/mage/backend/bootstrap.js
  lib/web/mage/backend/editablemultiselect.js
  lib/web/mage/backend/floating-header.js
  lib/web/mage/backend/suggest.js
  lib/web/mage/dropdown.js
  lib/web/mage/utils/misc.js
Labels: Area: Frontend, Auto-Tests: Covered, Component: Catalog, Priority: P1, Progress: ready for testing, Project: Platform Health, Release Line: 2.4

#33476 32855: upgrade to the latest moment-timezone-with-data.js
  lib/web/moment-timezone-with-data.js
Labels: Auto-Tests: Not Required, Award: bug fix, Partner: Atwix, Priority: P2, Progress: ready for testing, Project: Platform Health, partners-contribution

#33480 Upgrade PrototypeJs from 1.7 to 1.7.3
  app/code/Magento/User/view/adminhtml/web/app-config.js
  lib/web/legacy-build.min.js
  lib/web/prototype/prototype-amd.js
  lib/web/prototype/prototype.js
Labels: Auto-Tests: Not Required, Award: bug fix, Partner: Atwix, Priority: P2, Progress: ready for testing, Project: Platform Health, partners-contribution

#33384 33207: Removed lib/web/MutationObserver.js and replaced usages with native JS MutationObserver
  app/code/Magento/Theme/view/base/requirejs-config.js
  app/code/Magento/Ui/view/base/requirejs-config.js
  dev/tests/integration/testsuite/Magento/Framework/Composer/_files/testFromCreateProject/composer.lock
  dev/tests/integration/testsuite/Magento/Framework/Composer/_files/testSkeleton/composer.lock
  lib/web/MutationObserver.js
Labels: Area: Frontend, Area: Lib/Frontend, Auto-Tests: Not Required, Component: Theme, Component: Ui, Partner: Atwix, Priority: P1, Progress: ready for testing, Project: Platform Health, Release Line: 2.4, partners-contribution

#33471 32854: Upgraded moment.js to the latest version 2.29.1
  lib/web/moment.js
Labels: Area: Lib/Frontend, Partner: Atwix, Priority: P2, Progress: ready for testing, Project: Platform Health, Release Line: 2.4, partners-contribution

#33474 32852: Removed lib/web/FormData.js
  app/code/Magento/Ui/view/base/requirejs-config.js
  dev/tests/integration/testsuite/Magento/Framework/Composer/_files/testFromCreateProject/composer.lock
  dev/tests/integration/testsuite/Magento/Framework/Composer/_files/testSkeleton/composer.lock
  lib/web/FormData.js
Labels: Auto-Tests: Not Required, Award: bug fix, Partner: Atwix, Priority: P2, Progress: ready for testing, Project: Platform Health, partners-contribution

#33485 32846: Remove modernizr library from lib
  app/code/Magento/Backend/view/adminhtml/templates/widget/form/renderer/fieldset.phtml
  app/code/Magento/Tax/Test/Mftf/Section/AdminTaxRuleFormSection.xml
  app/code/Magento/Theme/view/adminhtml/requirejs-config.js
  app/design/frontend/Magento/blank/etc/view.xml
  app/design/frontend/Magento/luma/etc/view.xml
  dev/tests/integration/testsuite/Magento/Deploy/_files/zoom1/etc/view.xml
  dev/tests/integration/testsuite/Magento/Framework/Composer/_files/testFromCreateProject/composer.lock
  dev/tests/integration/testsuite/Magento/Framework/Composer/_files/testSkeleton/composer.lock
  dev/tests/integration/testsuite/Magento/Setup/Model/_files/testSkeleton/composer.lock
  lib/web/jquery/jquery.details.js
  lib/web/modernizr/modernizr.2.0.6.js
  lib/web/modernizr/modernizr.details.js
  lib/web/modernizr/modernizr.js
Labels: Area: Frontend, Area: Lib/Frontend, Auto-Tests: Not Required, Partner: Atwix, Priority: P2, Progress: ready for testing, Project: Platform Health, partners-contribution

#33463 upgrade chartjs
  app/code/Magento/Backend/view/adminhtml/web/js/dashboard/chart.js
  app/code/Magento/Ui/view/base/requirejs-config.js
  app/design/frontend/Magento/blank/etc/view.xml
  app/design/frontend/Magento/luma/etc/view.xml
  lib/web/chartjs/Chart.min.js
  lib/web/chartjs/chartjs-adapter-moment.js
Labels: Partner: Atwix, Priority: P2, Progress: ready for testing, Project: Platform Health, partners-contribution

#33427 33194: Update Swagger UI to 3.51.1 version and configure security definitions
  app/code/Magento/Swagger/Test/Mftf/ActionGroup/StorefrontApplyAdminTokenOnSwaggerPageActionGroup.xml
  app/code/Magento/Swagger/Test/Mftf/ActionGroup/StorefrontSwaggerLogoutActionGroup.xml
  app/code/Magento/Swagger/Test/Mftf/Page/SwaggerPage.xml
  app/code/Magento/Swagger/Test/Mftf/Section/SwaggerAuthorizeSection.xml
  app/code/Magento/Swagger/Test/Mftf/Test/StorefrontMagentoApiSwaggerActionsExistTest.xml
  app/code/Magento/Swagger/view/frontend/layout/swagger_index_index.xml
  app/code/Magento/Swagger/view/frontend/templates/swagger-ui/index.phtml
  app/code/Magento/Swagger/view/frontend/web/swagger-ui/css/style.css
  app/code/Magento/Swagger/view/frontend/web/swagger-ui/css/swagger-ui.css
  app/code/Magento/Swagger/view/frontend/web/swagger-ui/js/lang/en.js
  app/code/Magento/Swagger/view/frontend/web/swagger-ui/js/lang/es.js
  app/code/Magento/Swagger/view/frontend/web/swagger-ui/js/lang/pt.js
  app/code/Magento/Swagger/view/frontend/web/swagger-ui/js/lang/ru.js
  app/code/Magento/Swagger/view/frontend/web/swagger-ui/js/lang/translator.js
  app/code/Magento/Swagger/view/frontend/web/swagger-ui/js/magento-swagger.js
  app/code/Magento/Swagger/view/frontend/web/swagger-ui/js/swagger-ui-bundle.min.js
  app/code/Magento/Swagger/view/frontend/web/swagger-ui/js/swagger-ui-standalone-preset.min.js
  app/code/Magento/Webapi/Model/Rest/Swagger.php
  app/code/Magento/Webapi/Test/Unit/Model/Rest/Swagger/GeneratorTest.php
  dev/tests/static/testsuite/Magento/Test/Js/_files/blacklist/magento.txt
Labels: Area: Frontend, Auto-Tests: Covered, Award: MFTF test coverage, Award: category of expertise, Component: Swagger, Component: Webapi, Partner: Atwix, Progress: ready for testing, Release Line: 2.4, partners-contribution

#33529 33337: eliminated laminas-i18n and laminas-filter dependency
  app/code/Magento/Checkout/Model/Cart/RequestQuantityProcessor.php
  composer.json
  composer.lock
Labels: Auto-Tests: Not Required, Partner: Atwix, Priority: P1, Progress: ready for testing, Project: Platform Health, partners-contribution

#33534 Removing the deprecated files with prototype usages
  app/code/Magento/Catalog/view/adminhtml/web/catalog/category/edit.js
  app/code/Magento/Theme/view/frontend/web/menu.js
Labels: Partner: Atwix, Priority: P2, Progress: ready for testing, Project: Platform Health, partners-contribution

#33524 33511: Updated phpmd/phpmd composer dependency to version 2.9.1
  composer.json
  composer.lock
Labels: Auto-Tests: Not Required, Partner: Atwix, Priority: P2, Progress: ready for testing, Project: Platform Health, partners-contribution

#33550 32848: Upgraded script.aculo.us to the latest version 1.9.0
  lib/web/legacy-build.min.js
  lib/web/scriptaculous/builder.js
  lib/web/scriptaculous/effects.js
Labels: Auto-Tests: Not Required, Partner: Atwix, Priority: P2, Progress: ready for testing, Project: Platform Health, partners-contribution

#33544 Removing the deprecated since 2.2.0 JS files
  app/code/Magento/Bundle/view/frontend/web/js/float.js
  app/code/Magento/Catalog/view/adminhtml/web/js/components/input-handle-required.js
  app/code/Magento/Catalog/view/adminhtml/web/js/components/multiselect-handle-required.js
  app/code/Magento/Catalog/view/adminhtml/web/js/components/product-status.js
  app/code/Magento/Catalog/view/adminhtml/web/js/components/select-handle-required.js
  app/code/Magento/Catalog/view/adminhtml/web/js/components/select-to-checkbox.js
  app/code/Magento/Catalog/view/frontend/web/js/zoom.js
  app/code/Magento/Checkout/view/frontend/web/js/view/beforePlaceOrder.js
  app/code/Magento/Checkout/view/frontend/web/js/view/review/actions.js
  app/code/Magento/Checkout/view/frontend/web/js/view/review/actions/default.js
  app/code/Magento/Customer/view/adminhtml/requirejs-config.js
  app/code/Magento/Customer/view/adminhtml/web/edit/tab/js/addresses.js
  app/code/Magento/GiftMessage/view/frontend/requirejs-config.js
  app/code/Magento/GiftMessage/view/frontend/web/js/extra-options.js
  app/code/Magento/Paypal/view/frontend/web/js/view/review/actions/iframe.js
  app/code/Magento/Persistent/view/frontend/web/js/view/remember-me.js
  app/code/Magento/Theme/view/base/requirejs-config.js
  app/code/Magento/Theme/view/frontend/requirejs-config.js
  app/code/Magento/Theme/view/frontend/web/js/truncate.js
  app/design/adminhtml/Magento/backend/etc/view.xml
  app/design/frontend/Magento/blank/etc/view.xml
  app/design/frontend/Magento/luma/etc/view.xml
  dev/tests/integration/testsuite/Magento/Deploy/_files/zoom1/etc/view.xml
  lib/web/lib/storage.js
  lib/web/mage/app/config.js
  lib/web/mage/dialog.js
  lib/web/mage/layout.js
  lib/web/mage/translate-inline-vde.js
  lib/web/mage/view/composite.js
  lib/web/mage/webapi.js
  lib/web/mage/zoom.js
Labels: Area: Frontend, Cleanup, Component: Backend, Component: Bundle, Component: Catalog, Component: Checkout, Component: Customer, Component: GiftMessage, Component: Paypal, Component: Persistent, Component: Swagger, Partner: Atwix, Priority: P2, Progress: ready for testing, Project: Platform Health, Release Line: 2.4, partners-contribution

#33541 33540: Removed paragonie/sodium_compat and declared ext-sodium composer dependency
  composer.json
  composer.lock
  lib/internal/Magento/Framework/composer.json
Labels: Partner: Ziffity, Priority: P2, Progress: ready for testing, Project: Platform Health, partners-contribution

#33561 Removing the unused CSS files
  app/code/Magento/Theme/view/frontend/web/css/tabs.css
  app/code/Magento/Theme/view/frontend/web/css/validate.css
  lib/web/mage/translate-inline-vde.css
Labels: Auto-Tests: Not Required, Partner: Atwix, Priority: P2, Progress: ready for testing, Project: Platform Health, partners-contribution

#33569 CE-33568: Update `phpmd/phpmd` to the latest version (2.10.2)
  composer.json
  composer.lock
Labels: Auto-Tests: Not Required, Partner: Atwix, Priority: P2, Progress: ready for testing, Project: Platform Health, partners-contribution

#33551 32866: Updated php-amqplib/php-amqplib to the latest version 3.0.0
  composer.json
  composer.lock
  lib/internal/Magento/Framework/Amqp/Queue.php
Labels: Partner: Atwix, Priority: P2, Progress: ready for testing, Project: Platform Health, partners-contribution

#33546 #33510: updated magento/composer version
  composer.json
  composer.lock
Labels: Auto-Tests: Not Required, Partner: Atwix, Priority: P2, Progress: ready for testing, Project: Platform Health, partners-contribution

#33545 #33506: updated elasticsearch/elasticsearch composer dependency
  composer.json
  composer.lock
Labels: Auto-Tests: Not Required, Partner: Atwix, Priority: P2, Progress: ready for testing, Project: Platform Health, partners-contribution

#33432 Resolve warnings in PHPMD execution Fixes #33430
  dev/tests/static/framework/Magento/CodeMessDetector/Rule/Design/AllPurposeAction.php
  dev/tests/static/framework/Magento/CodeMessDetector/Rule/Design/CookieAndSessionMisuse.php
Labels: Auto-Tests: Not Required, Award: bug fix, Priority: P2, Progress: ready for testing, Project: Platform Health, Risk: low, Severity: S3

#33397 33338: Remove usage of laminas\mvc from Setup Wizard page
  setup/config/module.config.php
  setup/config/router.config.php
  setup/index.php
  setup/src/Magento/Setup/Controller/Index.php
  setup/src/Magento/Setup/Module.php
  setup/src/Magento/Setup/Test/Unit/Controller/IndexTest.php
  setup/view/magento/setup/index.phtml
Labels: Auto-Tests: Not Covered, Component: Setup, Partner: Atwix, Priority: P1, Progress: ready for testing, Project: Platform Health, Release Line: 2.4, partners-contribution

#33497 Updated monolog/monolog to 2.3.1
  app/code/Magento/Developer/Model/Logger/Handler/Debug.php
  composer.json
  composer.lock
  dev/tests/integration/framework/Magento/TestFramework/ErrorLog/Logger.php
  lib/internal/Magento/Framework/Logger/Handler/Base.php
  lib/internal/Magento/Framework/Logger/Handler/System.php
  lib/internal/Magento/Framework/Logger/Monolog.php
  lib/internal/Magento/Framework/Logger/Test/Unit/Handler/BaseTest.php
  lib/internal/Magento/Framework/Logger/Test/Unit/Handler/SystemTest.php
  lib/internal/Magento/Framework/Logger/Test/Unit/MonologTest.php
  lib/internal/Magento/Framework/composer.json
Labels: Auto-Tests: Not Required, Award: category of expertise, Award: special achievement, Partner: Atwix, Priority: P2, Progress: ready for testing, Project: Platform Health, partners-contribution

#33587 32853: Upgraded legacy-build.min.js to the latest version
  lib/web/legacy-build.min.js
  lib/web/mage/adminhtml/tools.js
  lib/web/mage/adminhtml/varienLoader.js
  lib/web/prototype/window.js
  lib/web/varien/js.js
Labels: Partner: Atwix, Priority: P2, Progress: ready for testing, Project: Platform Health, partners-contribution

#33097 #33094 Renamed confusing store select labels - Login As Customer
  app/code/Magento/LoginAsCustomer/Test/Mftf/Section/AdminCustomerConfigSection.xml
  app/code/Magento/LoginAsCustomerAdminUi/Controller/Adminhtml/Login/Login.php
  app/code/Magento/LoginAsCustomerAdminUi/etc/adminhtml/system.xml
  app/code/Magento/LoginAsCustomerAdminUi/view/adminhtml/web/js/confirmation-popup.js
Labels: Area: Frontend, Auto-Tests: Covered, Component: LoginAsCustomer, Component: LoginAsCustomerAdminUi, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, partners-contribution

#33136 MFTF: Checkout With Minimum Order Amount Option Enabled Test
  app/code/Magento/Catalog/Test/Mftf/Data/ProductData.xml
  app/code/Magento/Checkout/Test/Mftf/ActionGroup/AssertStorefrontProceedToCheckoutButtonDisabledActionGroup.xml
  app/code/Magento/Checkout/Test/Mftf/Section/CheckoutCartSummarySection.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontCheckoutWithEnabledMinimumOrderAmountOptionTest.xml
  app/code/Magento/Sales/Test/Mftf/Data/SalesConfigData.xml
Labels: Auto-Tests: Not Required, Component: Catalog, Component: Checkout, Component: Sales, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, partners-contribution

#33163 Update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: Auto-Tests: Not Required, Cleanup, Priority: P2, Progress: accept, Release Line: 2.4

#33256 32977 Fixed text area for Customizable Options on the Checkout Cart Page
  app/code/Magento/Checkout/view/frontend/templates/cart/item/default.phtml
  dev/tests/integration/testsuite/Magento/Catalog/_files/product_simple_with_custom_option_text_area.php
  dev/tests/integration/testsuite/Magento/Checkout/Block/Cart/Item/RendererTest.php
  dev/tests/integration/testsuite/Magento/Checkout/_files/cart_with_simple_product_and_custom_option_text_area.php
Labels: Area: Frontend, Component: Checkout, Priority: P2, Progress: accept, Release Line: 2.4

#33341 MFTF: Print Packing Slips Without Created Shipment Test
  app/code/Magento/Sales/Test/Mftf/Test/AdminSalesPrintPackingSlipsWithoutCreatedShipmentTest.xml
Labels: Auto-Tests: Not Required, Component: Sales, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, partners-contribution

#33368 Fix overlap customer address edit text
  app/design/adminhtml/Magento/backend/Magento_Customer/web/css/source/_module.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Award: bug fix, Priority: P1, Progress: accept, Release Line: 2.4

#33452 magento/magento2#28239: resize command does not process hidden images
  app/code/Magento/MediaStorage/Console/Command/ImagesResizeCommand.php
  app/code/Magento/MediaStorage/Service/ImageResize.php
  app/code/Magento/MediaStorage/Test/Unit/Service/ImageResizeTest.php
Labels: Auto-Tests: Covered, Award: test coverage, Component: MediaStorage, Priority: P2, Progress: accept, Release Line: 2.4

#32927 Fix overlap display issue in cms page privacy theme luma
  app/design/frontend/Magento/luma/Magento_Theme/web/css/source/_module.less
Labels: Area: Design/Frontend, Auto-Tests: Not Required, Priority: P2, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#33088 32911 fixed product import with url key with spaces
  app/code/Magento/CatalogImportExport/Model/Import/Product.php
  dev/tests/integration/testsuite/Magento/Catalog/_files/product_simple_with_spaces_in_url_key.php
  dev/tests/integration/testsuite/Magento/Catalog/_files/product_simple_with_spaces_in_url_key_rollback.php
  dev/tests/integration/testsuite/Magento/CatalogImportExport/Model/Import/ProductTest/ProductUrlKeyTest.php
  dev/tests/integration/testsuite/Magento/CatalogImportExport/Model/Import/_files/products_to_import_with_spaces_in_url_keys.csv
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: CatalogImportExport, Partner: Atwix, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, partners-contribution

#31969 [ReadMe] updated readMe file for NewRelicReporting-OfflineShipping modules
  app/code/Magento/NewRelicReporting/README.md
  app/code/Magento/Newsletter/README.md
  app/code/Magento/NewsletterGraphQl/README.md
  app/code/Magento/OfflinePayments/README.md
  app/code/Magento/OfflineShipping/README.md
Labels: Component: NewRelicReporting, Component: Newsletter, Component: NewsletterGraphQl, Component: OfflinePayments, Component: OfflineShipping, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, partners-contribution

#28927 [vcl] don't set TTL to 0
  app/code/Magento/PageCache/etc/varnish4.vcl
  app/code/Magento/PageCache/etc/varnish5.vcl
  app/code/Magento/PageCache/etc/varnish6.vcl
Labels: Area: Perf/Frontend, Auto-Tests: Not Required, Award: bug fix, Award: category of expertise, Component: PageCache, Priority: P2, Progress: accept, Release Line: 2.4, Risk: low, Severity: S1, Triage: Dev.Experience

#33353 Fix incompatibility with laminas-escaper (2.7.1)
  lib/internal/Magento/Framework/Escaper.php
  lib/internal/Magento/Framework/Test/Unit/EscaperTest.php
  lib/internal/Magento/Framework/Url/RouteParamsResolver.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: special achievement, Award: test coverage, Component: Escaper, Component: Test, Priority: P1, Progress: ready for testing, Project: Platform Health, Release Line: 2.4, Severity: S1

#33624 CE-33574: The `laminas/laminas-escaper` composer dependency has been updated
  composer.lock
Labels: Partner: Atwix, Priority: P2, Progress: ready for testing, Project: Platform Health, partners-contribution

#33627 Update php-cs-fixer to 3.0.0
  .gitignore
  .php-cs-fixer.dist.php
  composer.json
  composer.lock
Labels: Partner: Atwix, Priority: P2, Progress: ready for testing, Project: Platform Health, partners-contribution
