Repository magento/magento2, pull requests merged in 2021-01, with the labels that each got.

#31422 MC-37385: Unexpected unchecking of "Append Comments" check-box
  app/code/Magento/Sales/Model/AdminOrder/Create.php
  dev/tests/integration/testsuite/Magento/Sales/Controller/Adminhtml/Order/Create/LoadBlockTest.php
Labels: Auto-Tests: Covered, Component: Sales, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#31455 MC-30127: Product Price is mismatch in invoice and invoice PDF magento for Bundle Product
  app/code/Magento/Bundle/Model/Sales/Order/Pdf/Items/Invoice.php
  app/code/Magento/Bundle/Test/Unit/Model/Sales/Order/Pdf/Items/InvoiceTest.php
  app/code/Magento/Bundle/Test/Unit/Model/Sales/Order/Pdf/Items/InvoiceTestProvider.php
Labels: Component: Bundle, Component: Downloadable, Component: Sales, Priority: P1, Progress: extended testing, Progress: testing in progress, QA: Added to Regression Scope, Release Line: 2.4, Severity: S1

#31472 Invoice for an order that contains only one configurable product is not generated correctly
  app/code/Magento/Sales/Model/Order/Invoice.php
  dev/tests/integration/testsuite/Magento/Sales/Model/Order/InvoiceTest.php
Labels: Component: Sales, Priority: P1, Progress: review, Release Line: 2.4, Severity: S1

#31480 MC-30104: When using MysqlMQ messages are always set to complete even if exception occurs
  app/code/Magento/MessageQueue/Model/ResourceModel/Lock.php
  dev/tests/integration/_files/Magento/TestModuleMysqlMq/Model/Processor.php
  dev/tests/integration/_files/Magento/TestModuleMysqlMq/etc/communication.xml
  dev/tests/integration/_files/Magento/TestModuleMysqlMq/etc/queue.xml
  dev/tests/integration/_files/Magento/TestModuleMysqlMq/etc/queue_consumer.xml
  dev/tests/integration/_files/Magento/TestModuleMysqlMq/etc/queue_publisher.xml
  dev/tests/integration/_files/Magento/TestModuleMysqlMq/etc/queue_topology.xml
  dev/tests/integration/testsuite/Magento/MessageQueue/Model/ConsumerTest.php
  dev/tests/integration/testsuite/Magento/MessageQueue/Model/ResourceModel/LockTest.php
Labels: Component: MessageQueue, Priority: P1, Progress: review, Release Line: 2.4, Severity: S1

#31492 MC-39470: issue with dynamicRows component
  app/code/Magento/Ui/view/base/web/js/dynamic-rows/dynamic-rows.js
  dev/tests/js/jasmine/tests/app/code/Magento/Ui/base/js/dynamic-rows/dynamic-rows.test.js
Labels: Area: Frontend, Component: Ui, Priority: P2, Progress: extended testing, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#31320 Removed CliIndexerReindexActionGroup action group usage for Catalog module
  app/code/Magento/Catalog/Test/Mftf/Test/AddOutOfStockProductToCompareListTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminAddInStockProductToTheCartTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCheckCustomAttributeValuesAfterProductSaveTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminSimpleProductImagesTest/AdminSimpleProductImagesTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateFlatCategoryNameAndDescriptionTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductTieredPriceTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockVisibleInCatalogAndSearchTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockVisibleInCatalogOnlyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/CheckTierPricingOfProductsTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/EndToEndB2CGuestUserTest/EndToEndB2CGuestUserTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/ProductAvailableAfterEnablingSubCategoriesTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/StoreFrontProductsDisplayUsingElasticSearchTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/StoreFrontRecentlyViewedAtStoreLevelTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/StoreFrontRecentlyViewedAtStoreViewLevelTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/StorefrontCheckDefaultNumberProductsToDisplayTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/StorefrontProductNameWithDoubleQuoteTest/StorefrontProductNameWithHTMLEntitiesTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/VerifyCategoryProductAndProductCategoryPartialReindexTest.xml
Labels: Auto-Tests: Covered, Award: category of expertise, Component: Catalog, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S2, partners-contribution

#31323 [MFTF] Adding AdminClickRefundOfflineOnNewMemoPageActionGroup
  app/code/Magento/Downloadable/Test/Mftf/Test/StorefrontAccountDownloadableProductLinkAfterPartialRefundTest.xml
  app/code/Magento/Sales/Test/Mftf/ActionGroup/AdminClickRefundOfflineOnNewMemoPageActionGroup.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCreateCreditMemoBankTransferPaymentTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCreateCreditMemoPartialRefundTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCreateCreditMemoWithPurchaseOrderTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/EndToEndB2CAdminTest.xml
Labels: Auto-Tests: Covered, Component: Downloadable, Component: Sales, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S2, partners-contribution

#31330 Update varnish 6 vcl config
  app/code/Magento/PageCache/etc/varnish6.vcl
Labels: Auto-Tests: Not Required, Component: PageCache, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#31334 Fix issue with logging each cookie as separate context
  lib/internal/Magento/Framework/Stdlib/Cookie/PhpCookieManager.php
  lib/internal/Magento/Framework/Stdlib/Test/Unit/Cookie/PhpCookieManagerTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: Stdlib, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#31371 [MFTF] Refactoring AdminSortingByWebsitesTest
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminChangeWebSiteAssignedToProductActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminSortProductsGridByActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminSortingByWebsitesTest.xml
Labels: Auto-Tests: Covered, Component: Catalog, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S2, partners-contribution

#31436 Updating with StorefrontSelectCustomizeAndAddToTheCartButtonActionGroup
  app/code/Magento/Checkout/Test/Mftf/Test/DeleteBundleDynamicProductFromShoppingCartTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/DeleteBundleFixedProductFromShoppingCartTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/OnePageCheckoutWithAllProductTypesTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontCheckoutDisabledBundleProductTest.xml
  app/code/Magento/InstantPurchase/Test/Mftf/Test/StorefrontInstantPurchaseFunctionalityNegativeScenarioTest.xml
  app/code/Magento/InstantPurchase/Test/Mftf/Test/StorefrontInstantPurchaseFunctionalityTest.xml
Labels: Auto-Tests: Covered, Component: Checkout, Component: InstantPurchase, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S2, partners-contribution

#31009 [MFTF]: Refactoring of AdminCreateInvoiceTest
  app/code/Magento/Sales/Test/Mftf/Test/AdminCreateInvoiceTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminInvoiceOrderTest.xml
Labels: Auto-Tests: Covered, Component: Sales, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S2, partners-contribution

#31057 [MFTF] Refactoring of AdminMassProductPriceUpdateTest
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminCheckProductOnProductGridActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminSetPriceForMassUpdateActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AssertAdminProductPriceUpdatedOnEditPageActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminMassProductPriceUpdateTest.xml
Labels: Auto-Tests: Covered, Component: Catalog, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S2, partners-contribution

#31162 Allow to load base64 encoded images and fonts
  app/code/Magento/Csp/etc/config.xml
  dev/tests/integration/testsuite/Magento/Csp/Model/Collector/ConfigCollectorTest.php
Labels: Auto-Tests: Covered, Component: Csp, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#31198 Issues 31197 - Loading wrong order tax info
  app/code/Magento/Sales/Block/Adminhtml/Order/Totals/Tax.php
  app/code/Magento/Sales/Test/Unit/Block/Adminhtml/Order/Totals/TaxTest.php
Labels: Auto-Tests: Covered, Component: Sales, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#30776 [MFTF] Add AssertStorefrontCartDiscountActionGroup
  app/code/Magento/Checkout/Test/Mftf/ActionGroup/AssertStorefrontCartDiscountActionGroup.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontGuestCheckoutWithCouponAndZeroSubtotalTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontUKCustomerCheckoutWithCouponTest.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/AdminCreateCartPriceRuleAndVerifyRuleConditionAndFreeShippingIsAppliedTest.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/AdminCreateCartPriceRuleEmptyFromDateTest.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/AdminCreateCartPriceRuleForCouponCodeTest.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/AdminCreateCartPriceRuleForGeneratedCouponTest.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/AdminCreateCartPriceRuleForMatchingSubtotalAndVerifyRuleConditionIsAppliedTest.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/AdminCreateCartPriceRuleWithMatchingCategoryAndVerifyRuleConditionIsAppliedTest.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/AdminCreateCartPriceRuleWithMatchingTotalWeightAndVerifyRuleConditionIsAppliedTest.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/StorefrontCartPriceRuleCountryTest.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/StorefrontCartPriceRulePostcodeTest.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/StorefrontCartPriceRuleQuantityTest.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/StorefrontCartPriceRuleStateTest.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/StorefrontCartPriceRuleSubtotalTest.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/StorefrontCartTotalValueWithFullDiscountUsingCartRuleTest.xml
Labels: Auto-Tests: Covered, Component: Checkout, Component: SalesRule, Partner: Atwix, Priority: P2, Priority: P3, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#31308 Fix ftp_nlist for empty folders returns false
  lib/internal/Magento/Framework/Filesystem/Io/Ftp.php
Labels: Auto-Tests: Not Required, Award: bug fix, Component: Filesystem, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S1

#31563 MC-38025: FPT disappears when switching back to the cart page
  app/code/Magento/Quote/Model/Quote/Address.php
  app/code/Magento/Weee/Model/Total/Quote/WeeeTax.php
  dev/tests/integration/testsuite/Magento/Weee/Model/Total/Quote/CalculateTest.php
  dev/tests/integration/testsuite/Magento/Weee/_files/quote_multishipping.php
  dev/tests/integration/testsuite/Magento/Weee/_files/quote_multishipping_rollback.php
Labels: Award: test coverage, Component: Quote, Component: Weee, Priority: P2, Progress: ready for testing, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#31452 [MFTF] Adding AdminClearFiltersOnGridActionGroup
  app/code/Magento/Backend/Test/Mftf/ActionGroup/AdminClearGridFiltersActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateTopCategoryUrlWithNoRedirectTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateTopCategoryUrlWithRedirectTest.xml
  app/code/Magento/Email/Test/Mftf/Test/AdminEmailTemplatePreviewTest.xml
  app/code/Magento/Email/Test/Mftf/Test/AdminEmailTemplatePreviewWithDirectivesTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/AdminCreateDefaultsTaxRuleTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/AdminCreateTaxRateAllPostCodesTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/AdminCreateTaxRateLargeRateTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/AdminCreateTaxRateSpecificPostcodeTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/AdminCreateTaxRateWiderZipCodeRangeTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/AdminCreateTaxRateZipCodeRangeTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/AdminCreateTaxRuleWithCustomerAndProductTaxClassTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/AdminCreateTaxRuleWithNewAndExistingTaxRateAndCustomerAndProductTaxClassTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/AdminCreateTaxRuleWithNewTaxClassesAndTaxRateTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/AdminCreateTaxRuleWithZipRangeTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/AdminDeleteTaxRuleTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/AdminUpdateDefaultTaxRuleTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/AdminUpdateTaxRuleWithCustomClassesTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/AdminUpdateTaxRuleWithFixedZipUtahTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/DeleteTaxRateEntityTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/Update01TaxRateEntityTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/Update100TaxRateEntityTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/Update1299TaxRateEntityTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/UpdateAnyRegionTaxRateEntityTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/UpdateDecimalTaxRateEntityTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/UpdateLargeTaxRateEntityTest.xml
Labels: Auto-Tests: Covered, Component: Backend, Component: Catalog, Component: Email, Component: Tax, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S2, partners-contribution

#31564 Removed CliIndexerReindexActionGroup action group usage for CatalogRule module
  app/code/Magento/CatalogRule/Test/Mftf/Test/AdminApplyCatalogPriceRuleByProductAttributeTest.xml
  app/code/Magento/CatalogRule/Test/Mftf/Test/AdminApplyCatalogRuleByCategoryTest.xml
  app/code/Magento/CatalogRule/Test/Mftf/Test/AdminApplyCatalogRuleForConfigurableProductWithSpecialPricesTest.xml
  app/code/Magento/CatalogRule/Test/Mftf/Test/AdminCreateCatalogPriceRuleTest/AdminCreateCatalogPriceRuleByPercentTest.xml
  app/code/Magento/CatalogRule/Test/Mftf/Test/AdminCreateCatalogPriceRuleTest/AdminCreateCatalogPriceRuleForCustomerGroupTest.xml
  app/code/Magento/CatalogRule/Test/Mftf/Test/AdminDeleteCatalogPriceRuleEntityTest/AdminDeleteCatalogPriceRuleEntityFromConfigurableProductTest.xml
  app/code/Magento/CatalogRule/Test/Mftf/Test/AdminDeleteCatalogPriceRuleEntityTest/AdminDeleteCatalogPriceRuleEntityFromSimpleProductTest.xml
  app/code/Magento/CatalogRule/Test/Mftf/Test/AdminDeleteCatalogPriceRuleTest.xml
  app/code/Magento/CatalogRule/Test/Mftf/Test/AdminEnableAttributeIsUndefinedCatalogPriceRuleTest.xml
  app/code/Magento/CatalogRule/Test/Mftf/Test/ApplyCatalogRuleForSimpleAndConfigurableProductTest.xml
  app/code/Magento/CatalogRule/Test/Mftf/Test/ApplyCatalogRuleForSimpleProductForNewCustomerGroupTest.xml
  app/code/Magento/CatalogRule/Test/Mftf/Test/CatalogPriceRuleAndCustomerGroupMembershipArePersistedUnderLongTermCookieTest.xml
  app/code/Magento/CatalogRule/Test/Mftf/Test/StorefrontInactiveCatalogRuleTest.xml
  app/code/Magento/Downloadable/Test/Mftf/Test/AdminCreateDownloadableProductWithDefaultSetLinksTest.xml
  app/code/Magento/Indexer/Test/Mftf/Test/AdminSystemIndexManagementGridChangesTest.xml
Labels: Auto-Tests: Covered, Component: CatalogRule, Component: Downloadable, Component: Indexer, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#31595 [MFTF] Adding AdminClickAddNewPageOnPagesGridActionGroup
  app/code/Magento/Catalog/Test/Mftf/Test/AdminRequiredFieldsHaveRequiredFieldIndicatorTest.xml
  app/code/Magento/Cms/Test/Mftf/ActionGroup/AdminClickAddNewPageOnPagesGridActionGroup.xml
  app/code/Magento/Cms/Test/Mftf/Test/VerifyTinyMCEv4IsNativeWYSIWYGOnCMSPageTest.xml
  app/code/Magento/Widget/Test/Mftf/Test/NewProductsListWidgetTest.xml
  app/code/Magento/Widget/Test/Mftf/Test/ProductsListWidgetTest.xml
Labels: Auto-Tests: Covered, Component: Catalog, Component: Cms, Component: Widget, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#31542 Add action items for stale bot comment
  .github/stale.yml
Labels: Auto-Tests: Not Required, Priority: P2, Progress: accept, Release Line: 2.4

#31629 Sorting by position on product search via REST API does not work.
  app/code/Magento/Catalog/Model/ProductRepository.php
  app/code/Magento/Catalog/Test/Unit/Model/ProductRepositoryTest.php
  dev/tests/api-functional/testsuite/Magento/Catalog/Api/ProductRepositoryInterfaceTest.php
  dev/tests/integration/testsuite/Magento/Catalog/_files/products_for_search.php
Labels: Auto-Tests: Covered, Award: bug fix, Cleanup, Component: Catalog, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Reproduced on 2.4.x, Severity: S2, bugfix

#31501 MC-30152: Bundle Product / Create / Price validation for dynamic price
  app/code/Magento/Bundle/Test/Mftf/ActionGroup/AdminToggleSwitchDynamicPriceOnProductEditPageActionGroup.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminBundleProductPriceValidationErrorDisappearedAfterSwitchToDynamicPriceTest.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminFillProductPriceFieldAndPressEnterOnProductEditPageActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AssertAdminNoValidationErrorForPriceFieldOnProductEditPageActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AssertAdminValidationErrorAppearedForPriceFieldOnProductEditPageActionGroup.xml
  app/code/Magento/Ui/view/base/web/js/lib/core/element/links.js
Labels: Area: Frontend, Auto-Tests: Covered, Award: bug fix, Component: Bundle, Component: Catalog, Component: Ui, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#31553 MC-23915: Wrong currency symbol in creditmemo_grid & sales_order_view > creditmemo grid for subtotal & Shipping and Handling fee
  app/code/Magento/Sales/Model/ResourceModel/Order/Creditmemo/Grid/Collection.php
  app/code/Magento/Sales/Model/ResourceModel/Order/Creditmemo/Order/Grid/Collection.php
  app/code/Magento/Sales/view/adminhtml/ui_component/sales_order_creditmemo_grid.xml
  app/code/Magento/Sales/view/adminhtml/ui_component/sales_order_view_creditmemo_grid.xml
  dev/tests/integration/testsuite/Magento/Sales/Model/ResourceModel/Order/Creditmemo/Grid/CollectionTest.php
  dev/tests/integration/testsuite/Magento/Sales/Model/ResourceModel/Order/Creditmemo/Order/Grid/CollectionTest.php
Labels: Area: Frontend, Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: Sales, Priority: P2, Progress: extended testing, QA: Added to Regression Scope, Release Line: 2.4

#31240 [MFTF] Refactoring of Search actions on Storefront
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/StorefrontAssertProductNameIsNotOnProductMainPageActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateProductAttributeFromProductPageTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateVirtualProductWithCustomOptionsSuiteAndImportOptionsTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateVirtualProductWithTierPriceTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductNameToVerifyDataOverridingOnStoreViewLevelTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductPriceToVerifyDataOverridingOnStoreViewLevelTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductTieredPriceTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockDisabledProductTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockNotVisibleIndividuallyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockVisibleInCatalogAndSearchTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockVisibleInCatalogOnlyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockVisibleInSearchOnlyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceOutOfStockTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithRegularPriceInStockVisibleInCategoryOnlyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithRegularPriceOutOfStockVisibleInCategoryOnlyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithRegularPriceOutOfStockVisibleInSearchOnlyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithSpecialPriceInStockVisibleInCategoryAndSearchTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithSpecialPriceOutOfStockVisibleInCategoryAndSearchTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithTierPriceInStockVisibleInCategoryOnlyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithTierPriceOutOfStockVisibleInCategoryAndSearchTest.xml
  app/code/Magento/CatalogSearch/Test/Mftf/Test/MinimalQueryLengthForCatalogSearchTest.xml
Labels: Auto-Tests: Covered, Component: Catalog, Component: CatalogSearch, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S2, partners-contribution

#31369 Updated wish list GraphQl read me file
  app/code/Magento/WebapiAsync/README.md
  app/code/Magento/WebapiSecurity/README.md
  app/code/Magento/Weee/README.md
  app/code/Magento/WeeeGraphQl/README.md
  app/code/Magento/Widget/README.md
  app/code/Magento/Wishlist/README.md
  app/code/Magento/WishlistAnalytics/README.md
  app/code/Magento/WishlistGraphQl/README.md
Labels: Component: WebapiAsync, Component: WebapiSecurity, Component: Weee, Component: WeeeGraphQl, Component: Widget, Component: Wishlist, Component: WishlistAnalytics, Component: WishlistGraphQl, Partner: EY, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#31418 [MFTF] Adding StorefrontGuestCheckoutProceedToPaymentStepActionGroup
  app/code/Magento/Checkout/Test/Mftf/ActionGroup/StorefrontGuestCheckoutProceedToPaymentStepActionGroup.xml
  app/code/Magento/Checkout/Test/Mftf/Test/AdminCheckConfigsChangesIsNotAffectedStartedCheckoutProcessTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/OnePageCheckoutAsCustomerUsingDefaultAddressTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/OnePageCheckoutAsCustomerUsingNonDefaultAddressTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/OnePageCheckoutAsCustomerUsingNonExistentCustomerGroupTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/OnePageCheckoutUsingSignInLinkTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/OnePageCheckoutWithAllProductTypesTest.xml
  app/code/Magento/Customer/Test/Mftf/Test/StorefrontCheckTaxAddingValidVATIdTest.xml
  app/code/Magento/Downloadable/Test/Mftf/Test/StorefrontAccountDownloadableProductLinkAfterPartialRefundTest.xml
Labels: Auto-Tests: Covered, Component: Checkout, Component: Customer, Component: Downloadable, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S2, partners-contribution

#31458 [MFTF] Refactoring CancelOrdersInOrderSalesReportTest
  app/code/Magento/Reports/Test/Mftf/ActionGroup/AdminGoToOrdersReportPageActionGroup.xml
  app/code/Magento/Reports/Test/Mftf/Test/AdminCanceledOrdersInOrderSalesReportTest.xml
  app/code/Magento/Reports/Test/Mftf/Test/CancelOrdersInOrderSalesReportTest.xml
  app/code/Magento/Sales/Test/Mftf/Data/CancelOrderData.xml
  app/code/Magento/Sales/Test/Mftf/Metadata/CancelOrderMeta.xml
Labels: Auto-Tests: Covered, Component: Reports, Component: Sales, Partner: Atwix, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#31487 [MFTF] Refactoring AdminOrdersReleaseInUnholdStatusTest
  app/code/Magento/Sales/Test/Mftf/Data/HoldOrderData.xml
  app/code/Magento/Sales/Test/Mftf/Metadata/HoldOrderMeta.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminOrdersReleaseInUnholdStatusTest.xml
Labels: Auto-Tests: Covered, Component: Sales, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#31321 Add missing "VAT Number" field to customer registration page
  app/code/Magento/Customer/Test/Mftf/Section/StorefrontCustomerDashboardAccountInformationSection/StorefrontCustomerAddressSection.xml
  app/code/Magento/Customer/view/frontend/templates/form/register.phtml
  app/code/Magento/Multishipping/Test/Mftf/Test/StoreFrontCheckVatIdAtAccountCreateWithMultishipmentTest.xml
Labels: Area: Frontend, Component: Customer, Component: Multishipping, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#31601 [MFTF] Updating with AdminClickInsertWidgetActionGroup
  app/code/Magento/CatalogWidget/Test/Mftf/Test/CatalogProductListCheckWidgetOrderTest.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminAddVariableToWYSIWYGBlockTest.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminAddWidgetToWYSIWYGBlockTest.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminAddWidgetToWYSIWYGWithCMSPageLinkTypeTest.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminAddWidgetToWYSIWYGWithCMSStaticBlockTypeTest.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminAddWidgetToWYSIWYGWithCatalogCategoryLinkTypeTest.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminAddWidgetToWYSIWYGWithCatalogProductLinkTypeTest.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminAddWidgetToWYSIWYGWithCatalogProductListTypeTest.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminAddWidgetToWYSIWYGWithRecentlyComparedProductsTypeTest.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminAddWidgetToWYSIWYGWithRecentlyViewedProductsTypeTest.xml
  app/code/Magento/Cms/Test/Mftf/Test/CheckOrderOfProdsInWidgetOnCMSPageTest.xml
  app/code/Magento/Cms/Test/Mftf/Test/VerifyTinyMCEv4IsNativeWYSIWYGOnBlockTest.xml
  app/code/Magento/Newsletter/Test/Mftf/Test/AdminAddWidgetToWYSIWYGNewsletterTest.xml
  app/code/Magento/Widget/Test/Mftf/Test/NewProductsListWidgetTest.xml
  app/code/Magento/Widget/Test/Mftf/Test/ProductsListWidgetTest.xml
Labels: Auto-Tests: Covered, Component: CatalogWidget, Component: Cms, Component: Newsletter, Component: Widget, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#31603 [MFTF] Adding AdminGoToOrderStatusPageActionGroup
  app/code/Magento/Sales/Test/Mftf/ActionGroup/AdminGoToOrderStatusPageActionGroup.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCreateOrderStatusDuplicatingCodeTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCreateOrderStatusDuplicatingLabelTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCreateOrderStatusTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminUnassignCustomOrderStatusTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AssignCustomOrderStatusNotVisibleOnStorefrontTest.xml
Labels: Auto-Tests: Covered, Component: Sales, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#31394 [MFTF] Refactoring AdminCheckingCreditMemoTotalsTest
  app/code/Magento/Sales/Test/Mftf/Test/AdminCheckingCreditMemoUpdateTotalsTest.xml
Labels: Auto-Tests: Not Required, Component: Sales, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S2, partners-contribution

#30950 Allow backend login without redirect
  app/code/Magento/Backend/App/Action/Plugin/Authentication.php
  app/code/Magento/Backend/Controller/Adminhtml/Auth/Login.php
  app/code/Magento/Security/Test/Mftf/Test/AdminNavigateWhileUserExpiredTest.xml
  app/code/Magento/User/Controller/Adminhtml/User/Save.php
Labels: Auto-Tests: Covered, Component: Backend, Component: Security, Component: User, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#31208 Changed Newsletter Enabled/Disable config settings by priority, store scope then default scope
  app/code/Magento/Customer/Block/Form/Register.php
  app/code/Magento/Newsletter/Test/Mftf/Test/StorefrontNewsletterSubscriptionDisabledForStoreViewAtRegistrationTest.xml
Labels: Auto-Tests: Covered, Award: bug fix, Component: Customer, Component: Newsletter, Partner: Krish TechnoLabs, Priority: P2, Progress: accept, Progress: testing in progress, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#31247 [MFTF] Refactoring of AdminUpdateSimpleProduct...Tests (asserting product details on Storefront)
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductTieredPriceTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockVisibleInCatalogAndSearchTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockVisibleInCatalogOnlyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockVisibleInSearchOnlyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockWithCustomOptionsTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceOutOfStockTest.xml
Labels: Auto-Tests: Covered, Component: Catalog, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S2, partners-contribution

#21857 #21853: Allow mview indexers to use different entity columns.
  lib/internal/Magento/Framework/Mview/Test/Unit/View/SubscriptionTest.php
  lib/internal/Magento/Framework/Mview/View/Subscription.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: category of expertise, Component: Mview, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, Triage: Dev.Experience

#31579 Update wikimedia/lessphp to v3
  composer.json
  composer.lock
  lib/internal/Magento/Framework/composer.json
Labels: Auto-Tests: Not Required, Award: bug fix, Award: category of expertise, Progress: ready for testing, Project: PHP8, Release Line: 2.4, Severity: S3

#30581 Allow higher versions of phpstan to be installed
  composer.json
  composer.lock
Labels: Auto-Tests: Not Required, Priority: P4, Progress: ready for testing, Project: PHP8, Release Line: 2.4, Severity: S4

#31646 Category image does not copy from catalog/tmp/category to catalog/category directory when saving category whilst using database storage method.
  app/code/Magento/Catalog/Model/ImageUploader.php
  dev/tests/integration/testsuite/Magento/Catalog/Model/ImageUploaderTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: Catalog, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#31060 MC-33499: Grid Filter not working for Scheduled Export when selected any kind of Entity Type
  app/code/Magento/AdvancedPricingImportExport/Controller/Adminhtml/Export/GetFilter.php
  app/code/Magento/ImportExport/Block/Adminhtml/Export/Filter.php
  app/code/Magento/ImportExport/Model/ResourceModel/Export/AttributeGridCollection.php
  app/code/Magento/ImportExport/Test/Mftf/ActionGroup/AdminExportAttributeGridFillColumnFilterFieldsAndApplyActionGroup.xml
  app/code/Magento/ImportExport/Test/Mftf/ActionGroup/AssertAdminExportFilterGridFirstRowContainsAttributeCodeActionGroup.xml
  app/code/Magento/ImportExport/Test/Mftf/Section/AdminExportAttributeSection.xml
Labels: Component: AdvancedPricingImportExport, Priority: P2, Progress: ready for testing, Release Line: 2.4, Severity: S2

#31772 pelago/emogrifier and friendsofphp/php-cs-fixer updated
  app/code/Magento/Email/Model/Template/Filter.php
  app/code/Magento/Email/Test/Unit/Model/Template/FilterTest.php
  app/code/Magento/Widget/Model/Template/Filter.php
  app/code/Magento/Widget/composer.json
  composer.json
  composer.lock
  dev/tests/integration/testsuite/Magento/Framework/Css/PreProcessor/Adapter/CssInlinerTest.php
  lib/internal/Magento/Framework/Css/PreProcessor/Adapter/CssInliner.php
Labels: Award: complex, Progress: ready for testing, Project: PHP8, Release Line: 2.4

#31592 Removed CliIndexerReindexActionGroup action group usage for CatalogSearch module
  app/code/Magento/CatalogSearch/Test/Mftf/Test/AdvanceCatalogSearchSimpleProductTest/AdvanceCatalogSearchSimpleProductByDescriptionTest.xml
  app/code/Magento/CatalogSearch/Test/Mftf/Test/AdvanceCatalogSearchSimpleProductTest/AdvanceCatalogSearchSimpleProductByNameTest.xml
  app/code/Magento/CatalogSearch/Test/Mftf/Test/AdvanceCatalogSearchSimpleProductTest/AdvanceCatalogSearchSimpleProductByPriceTest.xml
  app/code/Magento/CatalogSearch/Test/Mftf/Test/AdvanceCatalogSearchSimpleProductTest/AdvanceCatalogSearchSimpleProductByShortDescriptionTest.xml
  app/code/Magento/CatalogSearch/Test/Mftf/Test/AdvanceCatalogSearchSimpleProductTest/AdvanceCatalogSearchSimpleProductBySkuTest.xml
  app/code/Magento/CatalogSearch/Test/Mftf/Test/SearchEntityResultsTest/QuickSearchAndAddToCartBundleDynamicTest.xml
  app/code/Magento/CatalogSearch/Test/Mftf/Test/SearchEntityResultsTest/QuickSearchAndAddToCartBundleFixedTest.xml
  app/code/Magento/CatalogSearch/Test/Mftf/Test/SearchEntityResultsTest/QuickSearchAndAddToCartConfigurableTest.xml
  app/code/Magento/CatalogSearch/Test/Mftf/Test/SearchEntityResultsTest/QuickSearchAndAddToCartDownloadableTest.xml
  app/code/Magento/CatalogSearch/Test/Mftf/Test/SearchEntityResultsTest/QuickSearchAndAddToCartGroupedTest.xml
  app/code/Magento/CatalogSearch/Test/Mftf/Test/SearchEntityResultsTest/QuickSearchAndAddToCartTest.xml
  app/code/Magento/CatalogSearch/Test/Mftf/Test/SearchEntityResultsTest/QuickSearchAndAddToCartVirtualTest.xml
  app/code/Magento/CatalogSearch/Test/Mftf/Test/SearchEntityResultsTest/QuickSearchEmptyResultsTest.xml
  app/code/Magento/CatalogSearch/Test/Mftf/Test/SearchEntityResultsTest/QuickSearchProductBySkuTest.xml
  app/code/Magento/CatalogSearch/Test/Mftf/Test/StorefrontAdvancedSearchEntitySimpleProductTest.xml
  app/code/Magento/CatalogSearch/Test/Mftf/Test/StorefrontQuickSearchConfigurableChildrenTest.xml
  app/code/Magento/CatalogSearch/Test/Mftf/Test/StorefrontUpdateSearchTermEntityTest.xml
Labels: Auto-Tests: Covered, Component: CatalogSearch, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#31621 Allow configuration paths based on system.xml
  app/code/Magento/Config/Model/Config/PathValidator.php
  app/code/Magento/Config/Model/Config/Structure.php
  dev/tests/integration/testsuite/Magento/Config/Console/Command/ConfigSetCommandTest.php
  dev/tests/integration/testsuite/Magento/Config/_files/system.xml
Labels: Auto-Tests: Covered, Award: bug fix, Component: Config, Partner: Blue Acorn iCi, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2, Technology Partner: Vertex, partners-contribution, tech-partners-contribution

#31793 Fix some nested extends have been ignored at output
  app/design/frontend/Magento/blank/Magento_ProductVideo/web/css/source/_module.less
  app/design/frontend/Magento/blank/web/css/source/_sources.less
  app/design/frontend/Magento/blank/web/css/styles-l.less
  app/design/frontend/Magento/blank/web/css/styles-m.less
Labels: Area: Design/Frontend, Area: Lib/Frontend, Auto-Tests: Not Required, Award: bug fix, Award: category of expertise, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#31827 Refactoring StorefrontConfigurableProductBasicInfoTest
  app/code/Magento/ConfigurableProduct/Test/Mftf/ActionGroup/AssertStorefrontProductAttributeLabelVisibleActionGroup.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/ActionGroup/AssertStorefrontProductAttributeOptionVisibleActionGroup.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/StorefrontConfigurableProductDetailsTest/StorefrontConfigurableProductBasicInfoTest.xml
Labels: Auto-Tests: Covered, Component: ConfigurableProduct, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, partners-contribution

#31449 [MFTF] Updating with ClickPlaceOrderActionGroup
  app/code/Magento/Backend/Test/Mftf/Test/AdminDashboardWithChartsTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/StorefrontPurchaseProductWithCustomOptionsTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/StorefrontPurchaseProductWithCustomOptionsWithLongValuesTitleTest.xml
  app/code/Magento/CatalogInventory/Test/Mftf/Test/AssociatedProductToConfigurableOutOfStockTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/CheckCheckoutSuccessPageTest/CheckCheckoutSuccessPageAsGuestTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/CheckCheckoutSuccessPageTest/CheckCheckoutSuccessPageAsRegisterCustomerTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/OnePageCheckoutAsCustomerUsingNewAddressTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/OnePageCheckoutAsCustomerUsingNonDefaultAddressTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontCheckoutWithPurchaseOrderNumberTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontCustomerPlaceOrderWithNewAddressesThatWasEditedTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/ZeroSubtotalOrdersWithProcessingStatusTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/CreditMemoTotalAfterShippingDiscountTest.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/StorefrontAutoGeneratedCouponCodeTest.xml
Labels: Auto-Tests: Covered, Component: Backend, Component: Catalog, Component: CatalogInventory, Component: Checkout, Component: Sales, Component: SalesRule, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#31634 Removed CliIndexerReindexActionGroup action group usage for Checkout module
  app/code/Magento/Checkout/Test/Mftf/Test/AddressStateFieldShouldNotAcceptJustIntegerValuesTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/DeleteBundleDynamicProductFromShoppingCartTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/DeleteBundleFixedProductFromShoppingCartTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/EditShippingAddressOnePageCheckoutTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/NoErrorCartCheckoutForProductsDeletedFromMiniCartTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/OnePageCheckoutWithAllProductTypesTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StoreFrontAddProductWithAllTypesOfCustomOptionToTheShoppingCartWithoutAnySelectedOptionTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontAddBundleDynamicProductToShoppingCartWithDisableMiniCartSidebarTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontAddConfigurableProductToShoppingCartTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontAddDownloadableProductToShoppingCartTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontAddOneBundleMultiSelectOptionToTheShoppingCartTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontAddProductWithAllTypesOfCustomOptionToTheShoppingCartTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontAddTwoBundleMultiSelectOptionsToTheShoppingCartTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontCheckCartItemDisplayWhenMoreItemsAddedToTheCartThanDefaultDisplayLimitTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontCheckoutDisabledBundleProductTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontCheckoutWithSpecialPriceProductsTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontCustomerCheckoutTest/StorefrontCustomerCheckoutTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontCustomerCheckoutTest/StorefrontCustomerCheckoutTestWithMultipleAddressesAndTaxRatesTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontCustomerCheckoutTest/StorefrontCustomerCheckoutTestWithRestrictedCountriesForPaymentTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontDeleteBundleProductFromMiniShoppingCartTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontDeleteConfigurableProductFromMiniShoppingCartTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontDeleteDownloadableProductFromMiniShoppingCartTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontGuestCheckoutTest/StorefrontGuestCheckoutTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontGuestCheckoutTest/StorefrontGuestCheckoutTestWithRestrictedCountriesForPaymentTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontUpdatePriceInShoppingCartAfterProductSaveTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontVerifyGuestCheckoutUsingFreeShippingAndTaxesTest.xml
Labels: Auto-Tests: Covered, Award: category of expertise, Component: Checkout, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S2, partners-contribution

#31754 Remove usage of obsolete property $_isScopePrivate
  lib/internal/Magento/Framework/View/Element/AbstractBlock.php
Labels: Auto-Tests: Not Required, Component: View, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S3

#31158 Feature south america country regions
  app/code/Magento/Directory/Setup/Patch/Data/AddDataForArgentina.php
  app/code/Magento/Directory/Setup/Patch/Data/AddDataForBolivia.php
  app/code/Magento/Directory/Setup/Patch/Data/AddDataForChile.php
  app/code/Magento/Directory/Setup/Patch/Data/AddDataForEcuador.php
  app/code/Magento/Directory/Setup/Patch/Data/AddDataForGuyana.php
  app/code/Magento/Directory/Setup/Patch/Data/AddDataForParaguay.php
  app/code/Magento/Directory/Setup/Patch/Data/AddDataForPeru.php
  app/code/Magento/Directory/Setup/Patch/Data/AddDataForSuriname.php
  app/code/Magento/Directory/Setup/Patch/Data/AddDataForVenezuela.php
  dev/tests/integration/testsuite/Magento/Directory/Model/RegionTest.php
Labels: Auto-Tests: Covered, Component: Directory, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3
