Repository magento/magento2, pull requests merged in 2021-02, with the labels that each got.

#31797 Update laminas/laminas-validator dependency to PHP 8 compatible version
  composer.lock
Labels: Partner: Atwix, Progress: ready for testing, Project: PHP8, partners-contribution

#31800 Updated tedivm/jshrink dependency to PHP 8 compatible version
  composer.json
  composer.lock
  lib/internal/Magento/Framework/composer.json
Labels: Partner: Atwix, Progress: ready for testing, Project: PHP8, partners-contribution

#31856 Removed laminas/laminas-config from config.json
  composer.json
  composer.lock
Labels: Auto-Tests: Not Required, Progress: ready for testing, Project: PHP8

#31454 [MFTF] Adding AdminFillTaxIdentifierFilterOnTaxRateGridActionGroup
  app/code/Magento/Tax/Test/Mftf/ActionGroup/AdminFillTaxIdentifierFilterOnTaxRateGridActionGroup.xml
  app/code/Magento/Tax/Test/Mftf/Test/AdminCreateTaxRateAllPostCodesTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/AdminCreateTaxRateLargeRateTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/AdminCreateTaxRateSpecificPostcodeTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/AdminCreateTaxRateWiderZipCodeRangeTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/AdminCreateTaxRateZipCodeRangeTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/DeleteTaxRateEntityTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/Update01TaxRateEntityTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/Update100TaxRateEntityTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/Update1299TaxRateEntityTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/UpdateAnyRegionTaxRateEntityTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/UpdateDecimalTaxRateEntityTest.xml
  app/code/Magento/Tax/Test/Mftf/Test/UpdateLargeTaxRateEntityTest.xml
Labels: Auto-Tests: Covered, Component: Tax, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S2, partners-contribution

#31485 Fix delete special prices only for specified store
  app/code/Magento/Catalog/Model/Product/Price/SpecialPriceStorage.php
  app/code/Magento/Catalog/Model/ResourceModel/Product/Price/SpecialPrice.php
  dev/tests/api-functional/testsuite/Magento/Catalog/Api/SpecialPriceStorageTest.php
Labels: Auto-Tests: Covered, Component: Catalog, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#31488 [MFTF] Refactoring AdminValidateShippingTrackingNumberTest
  app/code/Magento/Shipping/Test/Mftf/Test/AdminValidateShippingTrackingNumberTest.xml
Labels: Auto-Tests: Covered, Component: Shipping, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#31502 [MFTF] Refactoring AdminPanelIsFrozenIfStorefrontIsOpenedViaCustomerViewTest
  app/code/Magento/Customer/Test/Mftf/ActionGroup/StorefrontClickPrintOrderLinkOnViewOrderPageActionGroup.xml
  app/code/Magento/Customer/Test/Mftf/ActionGroup/StorefrontClickViewOrderLinkOnMyOrdersPageActionGroup.xml
  app/code/Magento/Customer/Test/Mftf/Test/AdminPanelIsFrozenIfStorefrontIsOpenedViaCustomerViewTest.xml
Labels: Auto-Tests: Covered, Component: Customer, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#31510 [MFTF] Refactoring AdminMassOrdersHoldOnCompleteTest
  app/code/Magento/Sales/Test/Mftf/Test/AdminMassOrdersHoldOnCompleteTest.xml
Labels: Auto-Tests: Not Required, Component: Sales, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#31512 [MFTF] Refactoring AdminMassOrdersUpdateCancelPendingOrderTest
  app/code/Magento/Sales/Test/Mftf/Test/AdminMassOrdersUpdateCancelPendingOrderTest.xml
Labels: Auto-Tests: Covered, Component: Sales, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#31604 [MFTF] Adding AdminClickCreateNewStatusButtonOnOrderStatusPageActionGroup
  app/code/Magento/Sales/Test/Mftf/ActionGroup/AdminClickCreateNewStatusButtonOnOrderStatusPageActionGroup.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCreateOrderStatusDuplicatingCodeTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCreateOrderStatusDuplicatingLabelTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCreateOrderStatusTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminUnassignCustomOrderStatusTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AssignCustomOrderStatusNotVisibleOnStorefrontTest.xml
Labels: Auto-Tests: Covered, Component: Sales, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#31636 Moving array access for CAPTCHA _.isEmpty check
  app/code/Magento/Captcha/view/frontend/web/js/view/checkout/defaultCaptcha.js
Labels: Area: Frontend, Auto-Tests: Not Required, Award: bug fix, Component: Captcha, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#31776 Removed CliIndexerReindexActionGroup action group usage for Customer module
  app/code/Magento/Customer/Test/Mftf/Test/AdminCreateCustomerTest.xml
  app/code/Magento/Customer/Test/Mftf/Test/AdminDeleteCustomerAddressesFromTheGridTest.xml
  app/code/Magento/Customer/Test/Mftf/Test/AdminDeleteCustomerAddressesFromTheGridViaMassActionsTest.xml
  app/code/Magento/Customer/Test/Mftf/Test/AdminDeleteDefaultBillingCustomerAddressTest.xml
  app/code/Magento/Customer/Test/Mftf/Test/AdminResetCustomerPasswordTest.xml
  app/code/Magento/Customer/Test/Mftf/Test/AdminSearchCustomerAddressByKeywordTest.xml
  app/code/Magento/Customer/Test/Mftf/Test/AdminUpdateCustomerTest/AdminDeleteCustomerAddressTest.xml
  app/code/Magento/Customer/Test/Mftf/Test/AdminUpdateCustomerTest/AdminUpdateCustomerInfoFromDefaultToNonDefaultTest.xml
  app/code/Magento/Customer/Test/Mftf/Test/AllowedCountriesRestrictionApplyOnBackendTest.xml
  app/code/Magento/Customer/Test/Mftf/Test/StorefrontClearAllCompareProductsTest.xml
  app/code/Magento/Customer/Test/Mftf/Test/StorefrontCreateCustomerWithDateOfBirthTest.xml
  app/code/Magento/GroupedProduct/Test/Mftf/Test/AdminAssociateGroupedProductToWebsitesTest.xml
  app/code/Magento/GroupedProduct/Test/Mftf/Test/AdvanceCatalogSearchGroupedProductTest/AdvanceCatalogSearchGroupedProductByDescriptionTest.xml
  app/code/Magento/GroupedProduct/Test/Mftf/Test/AdvanceCatalogSearchGroupedProductTest/AdvanceCatalogSearchGroupedProductByNameTest.xml
  app/code/Magento/GroupedProduct/Test/Mftf/Test/AdvanceCatalogSearchGroupedProductTest/AdvanceCatalogSearchGroupedProductByPriceTest.xml
  app/code/Magento/GroupedProduct/Test/Mftf/Test/AdvanceCatalogSearchGroupedProductTest/AdvanceCatalogSearchGroupedProductByShortDescriptionTest.xml
  app/code/Magento/GroupedProduct/Test/Mftf/Test/AdvanceCatalogSearchGroupedProductTest/AdvanceCatalogSearchGroupedProductBySkuTest.xml
Labels: Auto-Tests: Covered, Component: Customer, Component: GroupedProduct, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, partners-contribution

#31788 Removed CliIndexerReindexActionGroup action group usage for Sales module
  app/code/Magento/Sales/Test/Mftf/Test/AdminCancelTheCreatedOrderWithCheckMoneyOrderPaymentMethodTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCancelTheCreatedOrderWithPurchaseOrderPaymentMethodTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCorrectnessInvoicedItemInBundleProductTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminReorderWithCatalogPriceRuleDiscountTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/CreateOrderFromEditCustomerPageTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/MoveRecentlyViewedBundleFixedProductOnOrderPageTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/StorefrontOrderPagerDisplayedTest.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/StorefrontCartTotalValueWithFullDiscountUsingCartRuleTest.xml
  app/code/Magento/Search/Test/Mftf/Test/StorefrontVerifySearchSuggestionByProductDescriptionTest.xml
  app/code/Magento/Search/Test/Mftf/Test/StorefrontVerifySearchSuggestionByProductNameTest.xml
  app/code/Magento/Search/Test/Mftf/Test/StorefrontVerifySearchSuggestionByProductShortDescriptionTest.xml
  app/code/Magento/Search/Test/Mftf/Test/StorefrontVerifySearchSuggestionByProductSkuTest.xml
  app/code/Magento/Store/Test/Mftf/Test/StorefrontCheckSortOrderStoreViewTest.xml
  app/code/Magento/Swatches/Test/Mftf/Test/StorefrontDisplayAllCharactersOnTextSwatchTest.xml
  app/code/Magento/Swatches/Test/Mftf/Test/StorefrontFilterByImageSwatchTest.xml
  app/code/Magento/Swatches/Test/Mftf/Test/StorefrontFilterByTextSwatchTest.xml
  app/code/Magento/Swatches/Test/Mftf/Test/StorefrontFilterByVisualSwatchTest.xml
  app/code/Magento/Swatches/Test/Mftf/Test/StorefrontImageColorWhenFilterByColorFilterTest.xml
Labels: Auto-Tests: Covered, Component: Sales, Component: SalesRule, Component: Search, Component: Store, Component: Swatches, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, partners-contribution

#30871 Update sortOrder load for async css plugin
  app/code/Magento/Theme/etc/frontend/di.xml
Labels: Auto-Tests: Not Required, Award: bug fix, Award: category of expertise, Component: Theme, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S1

#30883 Remove recursion in location of static files.
  nginx.conf.sample
Labels: Auto-Tests: Not Required, Award: bug fix, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2, Technology Partner: Amasty, tech-partners-contribution

#30943 FIX Perfomance Issue for Backend EDIT of CMS #30936
  app/code/Magento/Cms/Model/Page/DataProvider.php
  dev/tests/integration/testsuite/Magento/Cms/Model/Page/DataProviderTest.php
Labels: Auto-Tests: Covered, Component: Cms, Partner: TechDivision, Priority: P1, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S1, partners-contribution

#31299 fix reference layout cms_noroute_index core
  app/code/Magento/Cms/view/frontend/layout/cms_noroute_index.xml
Labels: Area: Frontend, Auto-Tests: Not Required, Cleanup, Component: Cms, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S4

#29804 Fixed Unable to apply data patch issue after upgrade in 2.4 #29365
  app/code/Magento/CatalogUrlRewrite/Setup/Patch/Data/UpdateUrlKeyForProducts.php
Labels: Auto-Tests: Not Required, Award: bug fix, Component: CatalogUrlRewrite, Partner: Krish TechnoLabs, Priority: P1, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S1, partners-contribution

#31850 MC-37657: A saved VAT Number is not displayed when placing an order by Admin on a Customer behalf
  app/code/Magento/Customer/Test/Mftf/Data/AddressData.xml
  app/code/Magento/Customer/Test/Mftf/Data/CustomerData.xml
  app/code/Magento/Sales/Test/Mftf/ActionGroup/AssertAdminBillingAddressFieldsOnOrderCreateFormActionGroup.xml
  app/code/Magento/Sales/Test/Mftf/Section/AdminOrderFormBillingAddressSection.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCheckingFieldsFilledFromDefaultBillingAddressCustomerInNewOrderTest.xml
  app/code/Magento/Sales/etc/fieldset.xml
Labels: Component: Customer, Component: Sales, Priority: P2, Progress: ready for testing, Release Line: 2.4, Severity: S3

#31867 MC-40588: Catalog price rule doesn't apply for products with undefined attribute value
  app/code/Magento/Catalog/Model/Api/SearchCriteria/CollectionProcessor/ConditionProcessor/ConditionBuilder/EavAttributeCondition.php
Labels: Component: Catalog, Priority: P2, Progress: ready for testing, Release Line: 2.4

#31892 MC-37941: There is no space between rating stars and a review text in the case of long rating name
  app/code/Magento/Review/view/frontend/templates/product/view/list.phtml
  app/design/frontend/Magento/luma/Magento_Review/web/css/source/_module.less
Labels: Area: Design/Frontend, Area: Frontend, Auto-Tests: Not Required, Component: Review, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S3

#31925 MC-40678: Cart page subtotal shows wrong when we back from multishipping
  app/code/Magento/Multishipping/Model/Cart/Controller/CartPlugin.php
  app/code/Magento/Multishipping/Test/Mftf/Test/StorefrontProcessMultishippingCheckoutWhenCartPageIsOpenedInAnotherTabTest.xml
Labels: Component: Multishipping, Priority: P1, Progress: ready for testing, Release Line: 2.4, Severity: S1

#31951 MC-36818: Related Products, added as Scheduled Changes, remain on the Product Page on the Storefront after the End Date of the update.
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/StorefrontAssertRelatedProductOnProductPageActionGroup.xml
Labels: Component: Catalog, Progress: pending review, Release Line: 2.4

#31957 MC-40702: Order currency is used instead of bas currency in the shipping label for form
  app/code/Magento/Shipping/Block/Adminhtml/Order/Packaging.php
  dev/tests/integration/testsuite/Magento/Shipping/Block/Adminhtml/Order/AddToPackageTest.php
  dev/tests/integration/testsuite/Magento/Shipping/_files/shipping_with_carrier_data_different_currency_code.php
  dev/tests/integration/testsuite/Magento/Shipping/_files/shipping_with_carrier_data_different_currency_code_rollback.php
Labels: Auto-Tests: Covered, Component: Shipping, Priority: P2, Progress: accept, Release Line: 2.4

#31989 MC-39784: Not able to save product after creating a future staging update with end date from the Downloadable Product page
  app/code/Magento/Downloadable/Model/Link/DeleteHandler.php
  app/code/Magento/Downloadable/Model/Link/ReadHandler.php
  app/code/Magento/Downloadable/Test/Mftf/ActionGroup/AssertStorefrontLinkOnDownloadableProductPageActionGroup.xml
  app/code/Magento/Downloadable/Test/Mftf/ActionGroup/AssertStorefrontNoLinkOnDownloadableProductPageActionGroup.xml
  app/code/Magento/Downloadable/Test/Mftf/Section/StorefrontDownloadableProductSection.xml
Labels: Component: Downloadable, Progress: ready for testing, Release Line: 2.4

#32008 MC-38226: Unexpected behavior on the PayPal express review page during loading
  app/code/Magento/Paypal/view/frontend/templates/express/review.phtml
  app/code/Magento/Paypal/view/frontend/web/js/order-review.js
Labels: Area: Frontend, Component: Paypal, Priority: P2, Progress: ready for testing, Release Line: 2.4, Severity: S2

#32012 MC-40271: Can't Proceed to Checkout from Shopping Cart page on Staging preview with Bundle product
  app/code/Magento/Checkout/view/frontend/templates/onepage/link.phtml
Labels: Area: Frontend, Component: Checkout, Progress: ready for testing, Release Line: 2.4

#31164 31075-added type to CustomizableDateValue for detect from one of three
  app/code/Magento/CatalogGraphQl/Model/Resolver/Product/CustomizableDateTypeOptionValue.php
  app/code/Magento/CatalogGraphQl/etc/schema.graphqls
  dev/tests/api-functional/testsuite/Magento/GraphQl/Catalog/Options/CustomizableOptionsTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: CatalogGraphQl, Priority: P2, Progress: ready for testing, Project: GraphQL, Release Line: 2.4

#31380 28573 wrong thumbnail
  app/code/Magento/ConfigurableProductGraphQl/Model/Resolver/ProductResolver.php
  app/code/Magento/ConfigurableProductGraphQl/Model/Resolver/SelectionMediaGallery.php
  app/code/Magento/ConfigurableProductGraphQl/Plugin/Product/Configuration/Item/ItemResolver.php
  app/code/Magento/ConfigurableProductGraphQl/etc/graphql/di.xml
  app/code/Magento/ConfigurableProductGraphQl/etc/schema.graphqls
  dev/tests/api-functional/testsuite/Magento/GraphQl/ConfigurableProduct/AddConfigurableProductToCartTest.php
Labels: Component: ConfigurableProductGraphQl, PAP, Priority: P1, Progress: ready for testing, Project: GraphQL, Release Line: 2.4

#31970 MC-40313: Eliminate plugins for ActionInterface in Framework
  app/code/Magento/Store/etc/di.xml
  dev/tests/integration/testsuite/Magento/Framework/App/ControllerActionTest.php
  dev/tests/integration/testsuite/Magento/Framework/App/FrontControllerEventsTest.php
  lib/internal/Magento/Framework/App/Action/Plugin/ActionFlagNoDispatchPlugin.php
  lib/internal/Magento/Framework/App/Action/Plugin/EventDispatchPlugin.php
  lib/internal/Magento/Framework/App/FrontController.php
  lib/internal/Magento/Framework/App/Test/Unit/FrontControllerTest.php
Labels: Component: App, Component: Store, Priority: P2, Progress: review, Release Line: 2.4

#32042 Schedule Design Update when edit product in backend seem not set properly
  app/code/Magento/Catalog/Model/Design.php
  dev/tests/integration/testsuite/Magento/Catalog/Model/DesignTest.php
  dev/tests/integration/testsuite/Magento/Catalog/_files/simple_product_with_custom_design.php
  dev/tests/integration/testsuite/Magento/Catalog/_files/simple_product_with_custom_design_rollback.php
Labels: Component: Catalog, Progress: ready for testing, Release Line: 2.4

#32107 MC-40013: Payment Methods radio-buttons disappear after a "Create New Order" page in Admin panel is reload
  app/code/Magento/Sales/Test/Mftf/ActionGroup/AssertAdminPaymentMethodRadioButtonExistsOnCreateOrderPageActionGroup.xml
  app/code/Magento/Sales/Test/Mftf/Section/AdminOrderFormPaymentSection.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCheckingPaymentMethodRadioButtonPresentAfterReloadOrderPageTest.xml
  app/code/Magento/Sales/view/adminhtml/templates/order/create/billing/method/form.phtml
Labels: Area: Frontend, Component: Sales, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S3

#32120 MC-40651: A Configuration of a Configurable Product is reset when editing it in the Wish List
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AssertStorefrontProductDropDownOptionValueActionGroup.xml
  app/code/Magento/Swatches/view/frontend/layout/wishlist_index_configure_type_configurable.xml
  app/code/Magento/Wishlist/Test/Mftf/ActionGroup/StorefrontCustomerUpdateWishlistItemActionGroup.xml
  app/code/Magento/Wishlist/Test/Mftf/Section/StorefrontCustomerWishlistProductSection.xml
  app/code/Magento/Wishlist/Test/Mftf/Test/StorefrontUpdateConfigurableProductAttributeOptionFromWishlistTest.xml
Labels: Area: Frontend, Component: Catalog, Component: Swatches, Component: Wishlist, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S2

#32136 MC-40850: Not able to save downloadable product with sample link after creating a future staging update with end date from the Downloadable Product page
  app/code/Magento/Downloadable/Model/Sample/DeleteHandler.php
  app/code/Magento/Downloadable/Model/Sample/ReadHandler.php
  app/code/Magento/Downloadable/Test/Mftf/ActionGroup/AssertStorefrontNoSampleOnDownloadableProductPageActionGroup.xml
  app/code/Magento/Downloadable/Test/Mftf/ActionGroup/AssertStorefrontSampleOnDownloadableProductPageActionGroup.xml
  app/code/Magento/Downloadable/Test/Mftf/Section/StorefrontDownloadableProductSection.xml
Labels: Component: Downloadable, Progress: ready for testing, Release Line: 2.4

#31815 Update UrlRewriteCollection.php
  app/code/Magento/UrlRewrite/Model/ResourceModel/UrlRewriteCollection.php
  app/code/Magento/UrlRewrite/Test/Unit/Model/ResourceModel/UrlRewriteCollectionTest.php
Labels: Auto-Tests: Covered, Component: UrlRewrite, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#31859 Removed CliCacheFlushActionGroup usage for CatalogRule
  app/code/Magento/Backend/Test/Mftf/Test/AdminLoginAfterChangeCookieDomainTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/MassEnableDisableBundleProductsTest.xml
  app/code/Magento/BundleImportExport/Test/Mftf/Test/UpdateBundleProductViaImportTest.xml
  app/code/Magento/CatalogRule/Test/Mftf/Test/AdminApplyCatalogRuleByCategoryTest.xml
  app/code/Magento/CatalogRule/Test/Mftf/Test/AdminApplyCatalogRuleForConfigurableProductWithSpecialPricesTest.xml
  app/code/Magento/CatalogRule/Test/Mftf/Test/AdminCreateCatalogPriceRuleTest/AdminCreateCatalogPriceRuleByPercentTest.xml
  app/code/Magento/CatalogRule/Test/Mftf/Test/AdminCreateCatalogPriceRuleTest/AdminCreateCatalogPriceRuleForCustomerGroupTest.xml
  app/code/Magento/CatalogRule/Test/Mftf/Test/AdminDeleteCatalogPriceRuleEntityTest/AdminDeleteCatalogPriceRuleEntityFromConfigurableProductTest.xml
  app/code/Magento/CatalogRule/Test/Mftf/Test/AdminDeleteCatalogPriceRuleEntityTest/AdminDeleteCatalogPriceRuleEntityFromSimpleProductTest.xml
  app/code/Magento/CatalogRule/Test/Mftf/Test/AdminDeleteCatalogPriceRuleTest.xml
  app/code/Magento/CatalogRule/Test/Mftf/Test/AdminEnableAttributeIsUndefinedCatalogPriceRuleTest.xml
  app/code/Magento/CatalogRule/Test/Mftf/Test/ApplyCatalogPriceRuleByProductAttributeTest.xml
  app/code/Magento/CatalogRule/Test/Mftf/Test/ApplyCatalogRuleForSimpleAndConfigurableProductTest.xml
  app/code/Magento/CatalogRule/Test/Mftf/Test/ApplyCatalogRuleForSimpleProductAndFixedMethodTest.xml
  app/code/Magento/CatalogRule/Test/Mftf/Test/ApplyCatalogRuleForSimpleProductWithCustomOptionsTest.xml
Labels: Auto-Tests: Covered, Component: Backend, Component: Bundle, Component: BundleImportExport, Component: CatalogRule, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S2, partners-contribution

#31864 Removed CliCacheFlushActionGroup usage for Catalog module
  app/code/Magento/Catalog/Test/Mftf/Test/AddOutOfStockProductToCompareListTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminAddInStockProductToTheCartTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateCategoryWithAnchorFieldTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateDropdownProductAttributeVisibleInStorefrontAdvancedSearchFormTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateInactiveFlatCategoryAndUpdateAsInactiveTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateInactiveFlatCategoryTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateInactiveInMenuFlatCategoryTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateMultipleSelectProductAttributeVisibleInStorefrontAdvancedSearchFormTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateSimpleProductWithDatetimeAttributeTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateSimpleProductWithUnicodeTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateVirtualProductWithCustomOptionsSuiteAndImportOptionsTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateVirtualProductWithTierPriceTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminDeleteProductsImageInCaseOfMultipleStoresTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminImportCustomizableOptionToProductWithSKUTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminMoveAnchoredCategoryToDefaultCategoryTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminMoveCategoryAndCheckUrlRewritesTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminProductCustomURLKeyPreservedWhenAssignedToCategoryWithoutCustomURLKeyTest.xml
Labels: Auto-Tests: Covered, Component: Catalog, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S2, partners-contribution

#31875 The country / region of mail sent from the admin panel is translated into the admin locale.
  app/code/Magento/Customer/Block/Address/Renderer/DefaultRenderer.php
  app/code/Magento/Sales/Model/Order/Address/Renderer.php
  app/code/Magento/Sales/Test/Unit/Model/Order/Address/RendererTest.php
  dev/tests/integration/testsuite/Magento/Sales/Model/Order/Address/RendererTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: Customer, Component: Sales, Priority: P2, Progress: accept, Progress: ready for testing, QA: Added to Regression Scope, Release Line: 2.4, Severity: S1

#31918 Replace repetitive actions with Action Groups in AdminDeleteGroupedProductTest
  app/code/Magento/CatalogSearch/Test/Mftf/ActionGroup/AssertStorefrontNoResultsMessageOnSearchPageActionGroup.xml
  app/code/Magento/CatalogSearch/Test/Mftf/ActionGroup/AssertStorefrontProductNotOnSearchPageActionGroup.xml
  app/code/Magento/GroupedProduct/Test/Mftf/Test/AdminDeleteGroupedProductTest.xml
Labels: Auto-Tests: Covered, Component: CatalogSearch, Component: GroupedProduct, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#31924 Removed CliCacheFlushActionGroup usage for Catalog module
  app/code/Magento/Catalog/Test/Mftf/Test/AdminRemoveImageAffectsAllScopesTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminSimpleProductImagesTest/AdminSimpleProductImagesTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminSortingByWebsitesTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateCategoryWithProductsTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateFlatCategoryAndAddProductsTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateFlatCategoryIncludeInNavigationTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateFlatCategoryNameAndDescriptionTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductTieredPriceTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/CheckTierPricingOfProductsTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/DisplayRefreshCacheAfterChangingCategoryPageLayoutTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/StoreFrontRecentlyViewedAtStoreLevelTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/StoreFrontRecentlyViewedAtStoreViewLevelTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/StorefrontCategoryPageWithCategoryFilterTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/StorefrontCategoryPageWithoutCategoryFilterTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/StorefrontCheckDefaultNumberProductsToDisplayTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/StorefrontForthLevelCategoryTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/StorefrontRememberCategoryPaginationTest.xml
Labels: Auto-Tests: Covered, Component: Catalog, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S2, partners-contribution

#31936 Removed CliCacheFlushActionGroup usage for Sales module
  app/code/Magento/Sales/Test/Mftf/Test/AdminAvailabilityCreditMemoWithNoPaymentTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCancelTheCreatedOrderWithCheckMoneyOrderPaymentMethodTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCancelTheCreatedOrderWithPurchaseOrderPaymentMethodTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminCreateOrderWithCustomerWithoutEmailTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminFreeShippingNotAvailableIfMinimumOrderAmountNotMatchOrderTotalTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/AdminReorderWithCatalogPriceRuleDiscountTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/CreateOrderFromEditCustomerPageTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/StorefrontOrderPagerDisplayedTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/StorefrontPrintOrderGuestTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/StorefrontVerifySecureURLRedirectSalesTest.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/StorefrontCartTotalValueWithFullDiscountUsingCartRuleTest.xml
  app/code/Magento/Search/Test/Mftf/Test/StorefrontVerifySearchSuggestionByControlButtonsTest.xml
  app/code/Magento/Search/Test/Mftf/Test/StorefrontVerifySearchSuggestionByProductDescriptionTest.xml
  app/code/Magento/Search/Test/Mftf/Test/StorefrontVerifySearchSuggestionByProductNameTest.xml
  app/code/Magento/Search/Test/Mftf/Test/StorefrontVerifySearchSuggestionByProductShortDescriptionTest.xml
  app/code/Magento/Search/Test/Mftf/Test/StorefrontVerifySearchSuggestionByProductSkuTest.xml
  app/code/Magento/Shipping/Test/Mftf/Test/AdminCreateOrderCustomStoreShippingMethodTableRatesTest.xml
  app/code/Magento/Store/Test/Mftf/Test/StorefrontCheckSortOrderStoreViewTest.xml
Labels: Auto-Tests: Covered, Component: Sales, Component: SalesRule, Component: Search, Component: Shipping, Component: Store, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#32071 Removed CliCacheFlushActionGroup usage for Checkout module
  app/code/Magento/Checkout/Test/Mftf/Test/AddressStateFieldShouldNotAcceptJustIntegerValuesTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/AdminCheckConfigsChangesIsNotAffectedStartedCheckoutProcessTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/EditShippingAddressOnePageCheckoutTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/NoErrorCartCheckoutForProductsDeletedFromMiniCartTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/ShoppingCartAndMiniShoppingCartPerCustomerTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StoreFrontCheckCustomerInfoCreatedByGuestTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontAddBundleDynamicProductToShoppingCartTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontAddBundleDynamicProductToShoppingCartWithDisableMiniCartSidebarTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontAddConfigurableProductToShoppingCartTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontAddDownloadableProductToShoppingCartTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontAddGroupedProductToShoppingCartTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontAddOneBundleMultiSelectOptionToTheShoppingCartTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontAddTwoBundleMultiSelectOptionsToTheShoppingCartTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontCheckCartAndSummaryBlockItemDisplayWithDefaultDisplayLimitationTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontCheckCartItemDisplayWhenMoreItemsAddedToTheCartThanDefaultDisplayLimitTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontCheckCartItemDisplayWithDefaultDisplayLimitAndDefaultTotalQuantityTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontCustomerCheckoutTest/StorefrontCustomerCheckoutTestWithMultipleAddressesAndTaxRatesTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontCustomerCheckoutTest/StorefrontCustomerCheckoutTestWithRestrictedCountriesForPaymentTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontGuestCheckoutTest/StorefrontGuestCheckoutTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/StorefrontGuestCheckoutTest/StorefrontGuestCheckoutTestWithRestrictedCountriesForPaymentTest.xml
Labels: Auto-Tests: Covered, Component: Checkout, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S2, partners-contribution

#32095 fixed creating admin Integrations
  app/code/Magento/Integration/Controller/Adminhtml/Integration/TokensExchange.php
  dev/tests/integration/testsuite/Magento/Integration/Controller/Adminhtml/Integration/TokensExchangeTest.php
  dev/tests/integration/testsuite/Magento/Integration/_files/integration_all_data.php
  dev/tests/integration/testsuite/Magento/Integration/_files/integration_all_data_rollback.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: Integration, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#31205 fix for ambigous column user_id in where clause
  app/code/Magento/User/Model/ResourceModel/User/Collection.php
  dev/tests/integration/testsuite/Magento/User/Model/ResourceModel/User/CollectionTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: User, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#31568 [MFTF] Updating with SaveCmsPageActionGroup
  app/code/Magento/Cms/Test/Mftf/Test/AdminAddImageToWYSIWYGCMSTest.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminAddVariableToWYSIWYGBlockTest.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminAddVariableToWYSIWYGCMSTest.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminAddWidgetToWYSIWYGBlockTest.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminAddWidgetToWYSIWYGWithCMSPageLinkTypeTest.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminAddWidgetToWYSIWYGWithCMSStaticBlockTypeTest.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminAddWidgetToWYSIWYGWithCatalogCategoryLinkTypeTest.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminAddWidgetToWYSIWYGWithCatalogProductLinkTypeTest.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminAddWidgetToWYSIWYGWithCatalogProductListTypeTest.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminAddWidgetToWYSIWYGWithRecentlyComparedProductsTypeTest.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminAddWidgetToWYSIWYGWithRecentlyViewedProductsTypeTest.xml
  app/code/Magento/Cms/Test/Mftf/Test/VerifyTinyMCEv4IsNativeWYSIWYGOnBlockTest.xml
  app/code/Magento/Cms/Test/Mftf/Test/VerifyTinyMCEv4IsNativeWYSIWYGOnCMSPageTest.xml
Labels: Auto-Tests: Covered, Component: Cms, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#31569 [MFTF] Updating with AdminOpenCMSPagesGridActionGroup
  app/code/Magento/Catalog/Test/Mftf/Test/AdminRequiredFieldsHaveRequiredFieldIndicatorTest.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminAddImageToWYSIWYGBlockTest.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminAddVariableToWYSIWYGBlockTest.xml
  app/code/Magento/Cms/Test/Mftf/Test/AdminAddWidgetToWYSIWYGBlockTest.xml
  app/code/Magento/Cms/Test/Mftf/Test/VerifyTinyMCEv4IsNativeWYSIWYGOnBlockTest.xml
  app/code/Magento/Cms/Test/Mftf/Test/VerifyTinyMCEv4IsNativeWYSIWYGOnCMSPageTest.xml
  app/code/Magento/Widget/Test/Mftf/Test/NewProductsListWidgetTest.xml
  app/code/Magento/Widget/Test/Mftf/Test/ProductsListWidgetTest.xml
Labels: Auto-Tests: Covered, Component: Catalog, Component: Cms, Component: Widget, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#31750 Bundle product: incorrect child item invoice_qty when dynamic price is set to false
  app/code/Magento/Sales/Model/Service/InvoiceService.php
  dev/tests/integration/testsuite/Magento/Sales/Controller/Adminhtml/Order/Invoice/SaveTest.php
  dev/tests/integration/testsuite/Magento/Sales/_files/order_with_bundle_dynamic_price_no.php
  dev/tests/integration/testsuite/Magento/Sales/_files/order_with_bundle_dynamic_price_no_rollback.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: Sales, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#27315 Fixes #12584 Bundle Item price cannot differ per website
  app/code/Magento/Bundle/Model/LinkManagement.php
  app/code/Magento/Bundle/Model/Option/SaveAction.php
  app/code/Magento/Bundle/Model/ResourceModel/Indexer/Price.php
  app/code/Magento/Bundle/Model/Selection.php
  app/code/Magento/Bundle/Test/Mftf/Data/BundleLinkData.xml
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontCheckBundleProductTwoWebsiteDifferentPriceOptionTest.xml
  app/code/Magento/Bundle/Test/Unit/Model/LinkManagementTest.php
  app/code/Magento/Bundle/etc/events.xml
  dev/tests/integration/testsuite/Magento/Bundle/Model/Product/DynamicBundlePriceCalculatorTest.php
  dev/tests/integration/testsuite/Magento/Bundle/Model/Product/DynamicBundlePriceCalculatorWithDimensionTest.php
Labels: Auto-Tests: Covered, Component: Bundle, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#31913 Suppress possible ASP tags usage warning
  app/code/Magento/Backend/view/adminhtml/templates/media/uploader.phtml
  app/code/Magento/Backend/view/adminhtml/templates/system/search.phtml
  app/code/Magento/Bundle/view/adminhtml/templates/product/edit/bundle/option.phtml
  app/code/Magento/Bundle/view/adminhtml/templates/product/edit/bundle/option/selection.phtml
  app/code/Magento/Bundle/view/frontend/templates/catalog/product/view/summary.phtml
  app/code/Magento/Catalog/view/adminhtml/templates/catalog/product/attribute/options.phtml
  app/code/Magento/Catalog/view/adminhtml/templates/catalog/product/edit/attribute_set.phtml
  app/code/Magento/Catalog/view/adminhtml/templates/catalog/product/edit/options/option.phtml
  app/code/Magento/Catalog/view/adminhtml/templates/catalog/product/edit/options/type/date.phtml
  app/code/Magento/Catalog/view/adminhtml/templates/catalog/product/edit/options/type/file.phtml
  app/code/Magento/Catalog/view/adminhtml/templates/catalog/product/edit/options/type/select.phtml
  app/code/Magento/Catalog/view/adminhtml/templates/catalog/product/edit/options/type/text.phtml
  app/code/Magento/Catalog/view/adminhtml/templates/catalog/product/helper/gallery.phtml
  app/code/Magento/Catalog/view/adminhtml/templates/product/edit/attribute/search.phtml
  app/code/Magento/Cms/view/adminhtml/templates/browser/content/uploader.phtml
  app/code/Magento/ConfigurableProduct/view/adminhtml/templates/catalog/product/edit/attribute/steps/bulk.phtml
  app/code/Magento/ConfigurableProduct/view/adminhtml/templates/catalog/product/edit/super/matrix.phtml
  app/code/Magento/ConfigurableProduct/view/base/templates/product/price/tier_price.phtml
  app/code/Magento/Downloadable/view/adminhtml/templates/product/edit/downloadable.phtml
  app/code/Magento/Downloadable/view/adminhtml/templates/product/edit/downloadable/links.phtml
  app/code/Magento/Downloadable/view/adminhtml/templates/product/edit/downloadable/samples.phtml
  app/code/Magento/GroupedProduct/view/adminhtml/templates/product/grouped/list.phtml
  app/code/Magento/ProductVideo/view/adminhtml/templates/helper/gallery.phtml
  app/code/Magento/ProductVideo/view/adminhtml/templates/product/edit/base_image.phtml
  app/code/Magento/SendFriend/view/frontend/templates/send.phtml
  app/code/Magento/Shipping/view/adminhtml/templates/order/tracking.phtml
  app/code/Magento/Swatches/view/adminhtml/templates/catalog/product/attribute/text.phtml
  app/code/Magento/Swatches/view/adminhtml/templates/catalog/product/attribute/visual.phtml
  app/code/Magento/Theme/view/adminhtml/templates/browser/content/uploader.phtml
  app/code/Magento/Theme/view/adminhtml/templates/tabs/fieldset/js.phtml
  app/code/Magento/Translation/view/adminhtml/templates/translate_inline.phtml
  app/code/Magento/Translation/view/frontend/templates/translate_inline.phtml
  app/code/Magento/Weee/view/adminhtml/templates/renderer/tax.phtml
  app/code/Magento/Wishlist/view/frontend/templates/view.phtml
Labels: Auto-Tests: Not Required, Priority: P2, Progress: ready for testing, Project: PHP8, Severity: S4
