Repository magento/magento2, pull requests merged in 2021-05, with the labels that each got.

#32101 Api framework graphql interfaces mark
  lib/internal/Magento/Framework/GraphQl/Config/ConfigElementFactoryInterface.php
  lib/internal/Magento/Framework/GraphQl/Config/ConfigElementInterface.php
  lib/internal/Magento/Framework/GraphQl/Config/Element/Field.php
  lib/internal/Magento/Framework/GraphQl/Config/Element/FieldInterface.php
  lib/internal/Magento/Framework/GraphQl/Config/Element/OutputFieldInterface.php
  lib/internal/Magento/Framework/GraphQl/Config/Element/TypeInterface.php
  lib/internal/Magento/Framework/GraphQl/Config/Element/UnionInterface.php
  lib/internal/Magento/Framework/GraphQl/ConfigInterface.php
  lib/internal/Magento/Framework/GraphQl/Query/ErrorHandlerInterface.php
  lib/internal/Magento/Framework/GraphQl/Query/Resolver/Argument/FieldEntityAttributesInterface.php
  lib/internal/Magento/Framework/GraphQl/Query/Resolver/Argument/SearchCriteria/ArgumentApplierInterface.php
  lib/internal/Magento/Framework/GraphQl/Query/Resolver/BatchRequestItemInterface.php
  lib/internal/Magento/Framework/GraphQl/Query/Resolver/BatchResolverInterface.php
  lib/internal/Magento/Framework/GraphQl/Query/Resolver/BatchResponse.php
  lib/internal/Magento/Framework/GraphQl/Query/Resolver/BatchServiceContractResolverInterface.php
  lib/internal/Magento/Framework/GraphQl/Query/Resolver/ContextInterface.php
  lib/internal/Magento/Framework/GraphQl/Query/Resolver/IdentityInterface.php
  lib/internal/Magento/Framework/GraphQl/Query/Resolver/ResolveRequestInterface.php
  lib/internal/Magento/Framework/GraphQl/Query/Resolver/TypeResolverInterface.php
  lib/internal/Magento/Framework/GraphQl/Query/Resolver/Value.php
  lib/internal/Magento/Framework/GraphQl/Query/ResolverInterface.php
  lib/internal/Magento/Framework/GraphQl/Schema.php
  lib/internal/Magento/Framework/GraphQl/Schema/SchemaGeneratorInterface.php
  lib/internal/Magento/Framework/GraphQl/Schema/Type/Entity/MapperInterface.php
  lib/internal/Magento/Framework/GraphQl/Schema/Type/Enum/DataMapperInterface.php
  lib/internal/Magento/Framework/GraphQl/Schema/Type/InputTypeInterface.php
  lib/internal/Magento/Framework/GraphQl/Schema/Type/Output/ElementMapper/FormatterInterface.php
  lib/internal/Magento/Framework/GraphQl/Schema/Type/OutputTypeInterface.php
  lib/internal/Magento/Framework/GraphQl/Schema/Type/ResolveInfo.php
  lib/internal/Magento/Framework/GraphQl/Schema/Type/WrappedTypeInterface.php
  lib/internal/Magento/Framework/GraphQl/Schema/TypeInterface.php
  lib/internal/Magento/Framework/GraphQlSchemaStitching/GraphQlReader/TypeMetaReaderInterface.php
Labels: Auto-Tests: Not Required, Component: GraphQL, Priority: P1, Progress: accept, Project: API Changes, QA: Added to Regression Scope, Release Line: 2.4

#32140 Mark Framework interfaces as API part 2
  lib/internal/Magento/Framework/App/CsrfAwareActionInterface.php
  lib/internal/Magento/Framework/App/DefaultPathInterface.php
  lib/internal/Magento/Framework/App/DeploymentConfig/ImporterInterface.php
  lib/internal/Magento/Framework/App/DeploymentConfig/ValidatorInterface.php
  lib/internal/Magento/Framework/App/DeploymentConfig/Writer/FormatterInterface.php
  lib/internal/Magento/Framework/App/DesignInterface.php
  lib/internal/Magento/Framework/App/EnvironmentInterface.php
  lib/internal/Magento/Framework/App/ExceptionHandlerInterface.php
  lib/internal/Magento/Framework/App/FeedFactoryInterface.php
  lib/internal/Magento/Framework/App/FeedInterface.php
  lib/internal/Magento/Framework/App/ObjectManager/ConfigWriterInterface.php
  lib/internal/Magento/Framework/App/PageCache/NotCacheableInterface.php
  lib/internal/Magento/Framework/App/Request/Http.php
  lib/internal/Magento/Framework/App/Request/InvalidRequestException.php
  lib/internal/Magento/Framework/App/Request/ValidatorInterface.php
  lib/internal/Magento/Framework/App/ResourceConnection/ConfigInterface.php
  lib/internal/Magento/Framework/App/ResourceConnection/ConnectionAdapterInterface.php
  lib/internal/Magento/Framework/App/Response/FileInterface.php
  lib/internal/Magento/Framework/App/Response/HeaderProvider/HeaderProviderInterface.php
  lib/internal/Magento/Framework/App/Response/Http.php
  lib/internal/Magento/Framework/App/Response/RedirectInterface.php
  lib/internal/Magento/Framework/App/Router/NoRouteHandlerInterface.php
  lib/internal/Magento/Framework/App/Router/PathConfigInterface.php
  lib/internal/Magento/Framework/App/RouterInterface.php
  lib/internal/Magento/Framework/App/RouterListInterface.php
  lib/internal/Magento/Framework/App/Rss/RssManagerInterface.php
  lib/internal/Magento/Framework/App/Rss/UrlBuilderInterface.php
  lib/internal/Magento/Framework/App/Scope/ValidatorInterface.php
  lib/internal/Magento/Framework/App/ScopeFallbackResolverInterface.php
  lib/internal/Magento/Framework/App/ScopeResolverInterface.php
  lib/internal/Magento/Framework/App/ScopeTreeProviderInterface.php
  lib/internal/Magento/Framework/App/ScopeValidatorInterface.php
  lib/internal/Magento/Framework/App/View/Asset/MaterializationStrategy/StrategyInterface.php
  lib/internal/Magento/Framework/App/View/Deployment/Version/StorageInterface.php
  lib/internal/Magento/Framework/Interception/ConfigInterface.php
Labels: Auto-Tests: Not Required, Component: App, Priority: P1, Progress: accept, Project: API Changes, QA: Added to Regression Scope, Release Line: 2.4

#30623 [GraphQL] Fixed exposing special price
  app/code/Magento/CatalogGraphQl/Model/Resolver/Product/SpecialPrice.php
  app/code/Magento/CatalogGraphQl/Model/Resolver/Products/DataProvider/Product/CollectionProcessor/RequiredColumnsProcessor.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Catalog/ProductPriceTest.php
  dev/tests/integration/testsuite/Magento/GraphQl/Catalog/_files/set_simple_product_special_price.php
  dev/tests/integration/testsuite/Magento/GraphQl/Catalog/_files/set_simple_product_special_price_future_date.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: CatalogGraphQl, Event: MageCONF CD 2020, Partner: Atwix, Priority: P2, Progress: accept, Project: GraphQL, Release Line: 2.4, partners-contribution

#33004 Customer address in admin order details like company name in not work website wise
  app/code/Magento/Sales/Model/Order/Address/Renderer.php
  app/code/Magento/Sales/Test/Unit/Model/Order/Address/RendererTest.php
  dev/tests/integration/testsuite/Magento/Sales/Model/Order/Address/RendererTest.php
  dev/tests/integration/testsuite/Magento/Sales/_files/address_data.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: Sales, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S2

#33058 Shipping method values becomes zero when apply a cart price rule in checkout
  app/code/Magento/Checkout/Test/Mftf/Section/CheckoutShippingMethodsSection.xml
  app/code/Magento/OfflineShipping/Model/Carrier/Flatrate.php
  app/code/Magento/OfflineShipping/Model/Carrier/Tablerate.php
  app/code/Magento/OfflineShipping/Model/SalesRule/Calculator.php
  app/code/Magento/SalesRule/Test/Mftf/ActionGroup/AdminCartPriceRuleFillCouponInfoActionGroup.xml
  app/code/Magento/SalesRule/Test/Mftf/ActionGroup/AdminCartPriceRuleFillShippingConditionActionGroup.xml
  app/code/Magento/Shipping/Test/Mftf/Test/StorefrontAssertShippingPricesPresentAfterApplyingCartRuleTest.xml
Labels: Component: Checkout, Component: OfflineShipping, Component: SalesRule, Component: Shipping, Priority: P2, Progress: ready for testing, Release Line: 2.4
