Repository magento/magento2, pull requests merged in 2021-04, with the labels that each got.

#32650 Unexpected behavior after changing the quantity on one line of the shipping address and clicking the Back button in the browser
  app/code/Magento/Multishipping/Test/Mftf/ActionGroup/AssertStorefrontMultishippingAddressAndItemActionGroup.xml
  app/code/Magento/Multishipping/Test/Mftf/ActionGroup/StorefrontChangeMultishippingItemQtyActionGroup.xml
  app/code/Magento/Multishipping/Test/Mftf/Section/MultishippingSection/MultishippingSection.xml
  app/code/Magento/Multishipping/Test/Mftf/Test/StorefrontMultishippingUpdateProductQtyTest.xml
  app/code/Magento/Multishipping/view/frontend/templates/checkout/addresses.phtml
Labels: Area: Frontend, Auto-Tests: Covered, Award: bug fix, Component: Multishipping, Priority: P2, Progress: ready for testing, Release Line: 2.4, Severity: S2

#32194 MC-40031: [UX] Configurations are not preserved on form reload when new configurable product creation fails
  app/code/Magento/Catalog/Controller/Adminhtml/Product/Validate.php
  app/code/Magento/CatalogUrlRewrite/Model/Product/Validator.php
  dev/tests/integration/testsuite/Magento/Catalog/Controller/Adminhtml/Product/ValidateTest.php
Labels: Component: Catalog, Component: CatalogUrlRewrite, Priority: P2, Progress: ready for testing, Release Line: 2.4, Severity: S2

#27012 Make sure temporary tables always get cleaned up, even on faillure
  app/code/Magento/CatalogRule/Model/Indexer/IndexerTableSwapper.php
Labels: Auto-Tests: Not Required, Award: bug fix, Component: CatalogRule, Priority: P3, Progress: ready for testing, Release Line: 2.4, Severity: S3

#32710 Updated colinmollenhour/php-redis-session-abstract to PHP 8 Compatible version
  composer.lock
Labels: Auto-Tests: Not Required, Priority: P1, Progress: ready for testing, Release Line: 2.4

#32610 Modified the PR template to include README.md update reqirement if necessary
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Auto-Tests: Not Required, Partner: MRM Commerce, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S4, partners-contribution

#32639 Fixes composer.lock file which does not contain web-token/jwt-framewo…
  composer.lock
Labels: Auto-Tests: Not Required, Priority: P0, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S1

#32646 MC-41439: 7.3 compatibility fix.
  app/code/Magento/GroupedImportExport/Plugin/CatalogImportExport/Model/StockItemImporter/UpdateGroupedProductStockStatusPlugin.php
Labels: Auto-Tests: Not Required, Component: GroupedImportExport, Priority: P0, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4

#32254 Removed caching subscription status from plugin
  app/code/Magento/Newsletter/Model/CustomerSubscriberCache.php
  app/code/Magento/Newsletter/Model/Plugin/CustomerPlugin.php
  app/code/Magento/Newsletter/Model/SubscriptionManager.php
  dev/tests/integration/testsuite/Magento/Newsletter/Controller/Manage/SaveTest.php
  dev/tests/integration/testsuite/Magento/Newsletter/Model/SubscriberTest.php
Labels: Auto-Tests: Covered, Component: Newsletter, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#32288 Replace repetitive actions with Action Groups in AdminCreateProductDuplicateUrlkeyTest
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminFillProductNameOnProductFormActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminFillProductQtyOnProductFormActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminFillProductSkuOnProductFormActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateProductDuplicateUrlkeyTest/AdminCreateProductDuplicateUrlkeyTest.xml
Labels: Auto-Tests: Not Required, Component: Catalog, Partner: Atwix, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#32298 Ensure string is returned when applying filter to email template
  app/code/Magento/Email/Model/Template/Filter.php
  app/code/Magento/Email/Test/Unit/Model/Template/FilterTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: Email, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#32400 Add WEBP + AVIF Support by default
  nginx.conf.sample
  pub/media/.htaccess
  pub/static/.htaccess
Labels: Auto-Tests: Not Required, Award: bug fix, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#32434 Seperate js out template to avoid render issue
  app/code/Magento/Backend/Block/Store/Switcher.php
  app/code/Magento/Backend/view/adminhtml/templates/store/switcher.phtml
  app/code/Magento/Backend/view/adminhtml/web/js/store-switcher.js
Labels: Area: Frontend, Auto-Tests: Covered, Component: Backend, Priority: P2, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#32448 Update README.md of Google_Analytics module
  app/code/Magento/GoogleOptimizer/README.md
Labels: Auto-Tests: Not Required, Component: GoogleOptimizer, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4

#32463 Replace repetitive actions with Action Groups in AdminConfigurableProductCreateTest
  app/code/Magento/ConfigurableProduct/Test/Mftf/ActionGroup/AssertAdminChildProductDataOnParentProductEditPageActionGroup.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Section/AdminProductFormConfigurationsSection/AdminProductFormConfigurationsSection.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminConfigurableProductCreateTest/AdminConfigurableProductCreateTest.xml
Labels: Auto-Tests: Covered, Component: ConfigurableProduct, Partner: Atwix, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, partners-contribution

#32467 Replace repetitive actions with Action Groups in AdminCreateSimpleProductNegativePriceTest
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateSimpleProductTest/AdminCreateSimpleProductNegativePriceTest.xml
Labels: Auto-Tests: Not Required, Component: Catalog, Partner: Atwix, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, partners-contribution

#32477 Replace repetitive actions with Action Groups in AdminCreateVirtualProductFillingRequiredFieldsOnlyTest
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateVirtualProductFillingRequiredFieldsOnlyTest.xml
Labels: Auto-Tests: Covered, Component: Catalog, Partner: Atwix, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, partners-contribution

#32498 Replace repetitive actions with Action Groups in AdminUpdateSimpleProductWithRegularPriceInStockNotVisibleIndividuallyTest
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockNotVisibleIndividuallyTest.xml
Labels: Auto-Tests: Not Required, Component: Catalog, Partner: Atwix, Priority: P2, Progress: accept, Progress: ready for testing, QA: Added to Regression Scope, Release Line: 2.4, partners-contribution

#32517 Removed CliCacheFlushActionGroup usage for Downloadable and other modules
  app/code/Magento/Downloadable/Test/Mftf/Test/AdminCreateDownloadableProductWithDefaultSetLinksTest.xml
  app/code/Magento/Downloadable/Test/Mftf/Test/StorefrontVerifySecureURLRedirectDownloadableTest.xml
  app/code/Magento/Elasticsearch/Test/Mftf/Suite/SearchEngineElasticsearchSuite.xml
  app/code/Magento/Elasticsearch/Test/Mftf/Test/StorefrontCheckAdvancedSearchOnElasticSearchTest.xml
  app/code/Magento/Elasticsearch6/Test/Mftf/Test/StorefrontElasticSearchForChineseLocaleTest.xml
  app/code/Magento/Elasticsearch6/Test/Mftf/Test/StorefrontElasticsearchSearchInvalidValueTest.xml
  app/code/Magento/Elasticsearch6/Test/Mftf/Test/StorefrontProductQuickSearchUsingElasticSearchTest.xml
  app/code/Magento/Fedex/Test/Mftf/Test/AdminCreatingShippingLabelTest.xml
  app/code/Magento/Indexer/Test/Mftf/Test/AdminSystemIndexManagementGridChangesTest.xml
  app/code/Magento/LayeredNavigation/Test/Mftf/Test/ShopByButtonInMobileTest.xml
  app/code/Magento/LoginAsCustomer/Test/Mftf/Test/StorefrontLoginAsCustomerBannerPresentOnAllPagesInSessionTest.xml
  app/code/Magento/LoginAsCustomer/Test/Mftf/Test/StorefrontLoginAsCustomerSeeSpecialPriceOnCategoryTest.xml
  app/code/Magento/LoginAsCustomer/Test/Mftf/Test/StorefrontLoginAsCustomerShoppingCartIsNotMergedWithGuestCartTest.xml
  app/code/Magento/Msrp/Test/Mftf/Test/StorefrontProductWithMapAssignedConfigProductIsCorrectTest.xml
  app/code/Magento/Multishipping/Test/Mftf/Test/StoreFrontCheckVatIdAtAccountCreateWithMultishipmentTest.xml
  app/code/Magento/Multishipping/Test/Mftf/Test/StorefrontVerifySecureURLRedirectMultishippingTest.xml
Labels: Auto-Tests: Not Required, Component: Downloadable, Component: Elasticsearch, Component: Fedex, Component: Indexer, Component: LayeredNavigation, Component: LoginAsCustomer, Component: Msrp, Component: Multishipping, Partner: Atwix, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, partners-contribution

#32524 Replace repetitive actions with Action Groups in AdminUpdateSimpleProductWithRegularPriceInStockDisabledProductTest
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockDisabledProductTest.xml
Labels: Auto-Tests: Covered, Component: Catalog, Partner: Atwix, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#32532 Make product SKU not null
  app/code/Magento/Catalog/etc/db_schema.xml
Labels: Auto-Tests: Not Required, Award: bug fix, Component: Catalog, Priority: P2, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#32612 Added missing web-token/jwt-framework dependency to magento/module-jwt-framework-adapter
  app/code/Magento/JwtFrameworkAdapter/composer.json
Labels: Auto-Tests: Not Required, Component: JwtFrameworkAdapter, Partner: MRM Commerce, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S4, partners-contribution

#31938 [ReadMe] updated readMe file for Magento_Msrp-Magento_MysqlMq modules
  app/code/Magento/Msrp/README.md
  app/code/Magento/MsrpConfigurableProduct/README.md
  app/code/Magento/MsrpGroupedProduct/README.md
  app/code/Magento/Multishipping/README.md
  app/code/Magento/MysqlMq/README.md
Labels: Auto-Tests: Not Required, Component: Msrp, Component: MsrpConfigurableProduct, Component: MsrpGroupedProduct, Component: Multishipping, Component: MysqlMq, Partner: Atwix, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, improvement, partners-contribution

#30695 Avoid binding magnifier events in duplicate on resize
  lib/web/magnifier/magnifier.js
Labels: Area: Lib/Frontend, Area: Perf/Frontend, Auto-Tests: Not Required, Award: bug fix, Award: category of expertise, Partner: Fisheye, Priority: P2, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, partners-contribution

#30823 Item resolvers should be optional
  app/code/Magento/Catalog/Model/Product/Configuration/Item/ItemResolverComposite.php
  app/code/Magento/Catalog/etc/di.xml
Labels: Auto-Tests: Not Required, Award: bug fix, Component: Catalog, Priority: P1, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, Triage: Dev.Experience

#31080 Add event listeners passive for fotorama lib improves lighthouse metrics
  lib/web/fotorama/fotorama.js
Labels: Area: Lib/Frontend, Area: Perf/Frontend, Auto-Tests: Not Required, Award: bug fix, Award: category of expertise, Priority: P2, Priority: P3, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3

#32069 Mark Framework Api interfaces #7
  lib/internal/Magento/Framework/Stdlib/DateTime/Timezone/LocalizedDateToUtcConverterInterface.php
  lib/internal/Magento/Framework/TestFramework/Unit/Autoloader/GeneratorInterface.php
  lib/internal/Magento/Framework/Translate/Inline/ProviderInterface.php
  lib/internal/Magento/Framework/TranslateInterface.php
  lib/internal/Magento/Framework/Url/ModifierInterface.php
  lib/internal/Magento/Framework/Url/RouteParamsPreprocessorInterface.php
  lib/internal/Magento/Framework/Validator/Constraint/OptionInterface.php
  lib/internal/Magento/Framework/Validator/HTML/AttributeValidatorInterface.php
  lib/internal/Magento/Framework/Validator/HTML/TagValidatorInterface.php
  lib/internal/Magento/Framework/Validator/HTML/WYSIWYGValidatorInterface.php
  lib/internal/Magento/Framework/View/Asset/ContentProcessorInterface.php
  lib/internal/Magento/Framework/View/Asset/ContextInterface.php
  lib/internal/Magento/Framework/View/Asset/LockerProcessInterface.php
  lib/internal/Magento/Framework/View/Asset/MergeStrategyInterface.php
  lib/internal/Magento/Framework/View/Asset/MergeableInterface.php
  lib/internal/Magento/Framework/View/Asset/PreProcessor/FilenameResolverInterface.php
  lib/internal/Magento/Framework/View/Design/Fallback/Rule/RuleInterface.php
  lib/internal/Magento/Framework/View/Design/FileResolution/Fallback/ResolverInterface.php
  lib/internal/Magento/Framework/View/Design/Theme/Customization/ConfigInterface.php
  lib/internal/Magento/Framework/View/Design/Theme/Customization/FileAssetInterface.php
  lib/internal/Magento/Framework/View/Design/Theme/Customization/FileInterface.php
  lib/internal/Magento/Framework/View/Design/Theme/CustomizationInterface.php
  lib/internal/Magento/Framework/View/Design/Theme/File/CollectionInterface.php
  lib/internal/Magento/Framework/View/Design/Theme/FileInterface.php
  lib/internal/Magento/Framework/View/Design/Theme/Image/PathInterface.php
  lib/internal/Magento/Framework/View/Design/Theme/ResolverInterface.php
  lib/internal/Magento/Framework/View/Design/Theme/ThemeProviderInterface.php
Labels: Auto-Tests: Not Required, Component: Stdlib, Component: TestFramework, Component: Translate, Component: TranslateInterface, Component: Url, Component: Validator, Component: View, Priority: P1, Progress: accept, Project: API Changes, QA: Added to Regression Scope, Release Line: 2.4

#32070 Mark Framework Api interfaces #8
  lib/internal/Magento/Framework/View/Element/ComponentVisibilityInterface.php
  lib/internal/Magento/Framework/View/Element/Message/InterpretationStrategyInterface.php
  lib/internal/Magento/Framework/View/Element/Message/Renderer/PoolInterface.php
  lib/internal/Magento/Framework/View/Element/Message/Renderer/RendererInterface.php
  lib/internal/Magento/Framework/View/Element/UiComponent/BlockWrapperInterface.php
  lib/internal/Magento/Framework/View/Element/UiComponent/Config/DomMergerInterface.php
  lib/internal/Magento/Framework/View/Element/UiComponent/Config/FileCollectorInterface.php
  lib/internal/Magento/Framework/View/Element/UiComponent/Config/UiReaderInterface.php
  lib/internal/Magento/Framework/View/Element/UiComponent/ContainerInterface.php
  lib/internal/Magento/Framework/View/Element/UiComponent/ContentType/ContentTypeInterface.php
  lib/internal/Magento/Framework/View/Element/UiComponent/ContextInterface.php
  lib/internal/Magento/Framework/View/Element/UiComponent/Control/ActionPoolInterface.php
  lib/internal/Magento/Framework/View/Element/UiComponent/Control/ButtonProviderInterface.php
  lib/internal/Magento/Framework/View/Element/UiComponent/Control/ControlInterface.php
  lib/internal/Magento/Framework/View/Element/UiComponent/DataProvider/FilterApplierInterface.php
  lib/internal/Magento/Framework/View/Element/UiComponent/DataSourceInterface.php
  lib/internal/Magento/Framework/View/Element/UiComponent/Factory/ComponentFactoryInterface.php
  lib/internal/Magento/Framework/View/Element/UiComponent/JsConfigInterface.php
  lib/internal/Magento/Framework/View/Element/UiComponent/LayoutInterface.php
  lib/internal/Magento/Framework/View/Element/UiComponent/ObserverInterface.php
  lib/internal/Magento/Framework/View/Element/UiComponent/PoolInterface.php
  lib/internal/Magento/Framework/View/Element/UiComponent/SubjectInterface.php
Labels: Auto-Tests: Not Required, Component: Authorization, Component: AwsS, Component: Backend, Component: Bundle, Priority: P1, Progress: ready for testing, Project: API Changes, QA: Added to Regression Scope, Release Line: 2.4

#32151 Mark Framework interfaces as API part 9
  lib/internal/Magento/Framework/View/File/FileList/CollateInterface.php
  lib/internal/Magento/Framework/View/Helper/SecureHtmlRender/EventHandlerData.php
  lib/internal/Magento/Framework/View/Helper/SecureHtmlRender/SecurityProcessorInterface.php
  lib/internal/Magento/Framework/View/Helper/SecureHtmlRender/TagData.php
  lib/internal/Magento/Framework/View/Layout/Argument/UpdaterInterface.php
  lib/internal/Magento/Framework/View/Layout/Condition/VisibilityConditionInterface.php
  lib/internal/Magento/Framework/View/Layout/GeneratorInterface.php
  lib/internal/Magento/Framework/View/Layout/LayoutCacheKeyInterface.php
  lib/internal/Magento/Framework/View/Layout/ProcessorInterface.php
  lib/internal/Magento/Framework/View/Layout/ReaderInterface.php
  lib/internal/Magento/Framework/View/Model/PageLayout/Config/BuilderInterface.php
  lib/internal/Magento/Framework/View/Page/Config/RendererInterface.php
  lib/internal/Magento/Framework/View/PageLayout/Config.php
  lib/internal/Magento/Framework/View/TemplateEngine/Xhtml/Compiler/AttributeInterface.php
  lib/internal/Magento/Framework/View/TemplateEngine/Xhtml/Compiler/CdataInterface.php
  lib/internal/Magento/Framework/View/TemplateEngine/Xhtml/Compiler/CommentInterface.php
  lib/internal/Magento/Framework/View/TemplateEngine/Xhtml/Compiler/Directive/DirectiveInterface.php
  lib/internal/Magento/Framework/View/TemplateEngine/Xhtml/Compiler/Element/ElementInterface.php
  lib/internal/Magento/Framework/View/TemplateEngine/Xhtml/Compiler/TextInterface.php
  lib/internal/Magento/Framework/View/TemplateEngine/Xhtml/ResultInterface.php
  lib/internal/Magento/Framework/View/TemplateEngineInterface.php
  lib/internal/Magento/Framework/View/Xsd/Media/TypeDataExtractorInterface.php
  lib/internal/Magento/Framework/Webapi/CustomAttribute/PreprocessorInterface.php
  lib/internal/Magento/Framework/Webapi/CustomAttribute/ServiceTypeListInterface.php
  lib/internal/Magento/Framework/Webapi/Rest/Request/DeserializerInterface.php
Labels: Auto-Tests: Not Required, Component: View, Component: Webapi, Priority: P1, Progress: accept, Project: API Changes, QA: Added to Regression Scope, Release Line: 2.4

#32152 Mark Various Modules interfaces as API
  app/code/Magento/Search/Model/SearchEngine/ValidatorInterface.php
  app/code/Magento/Search/Setup/InstallConfigInterface.php
  app/code/Magento/Security/Api/Data/UserExpirationInterface.php
  app/code/Magento/Shipping/Model/Carrier/Source/GenericInterface.php
  app/code/Magento/Store/Model/Config/Importer/Processor/ProcessorInterface.php
  app/code/Magento/Store/Model/StoreResolver/ReaderInterface.php
  app/code/Magento/Store/Model/StoreSwitcher/ContextInterface.php
  app/code/Magento/Store/Model/StoreSwitcher/RedirectDataInterface.php
  app/code/Magento/Store/Model/StoreSwitcher/RedirectDataPostprocessorInterface.php
  app/code/Magento/Store/Model/StoreSwitcher/RedirectDataPreprocessorInterface.php
  app/code/Magento/Store/Model/StoreSwitcher/RedirectDataSerializerInterface.php
  app/code/Magento/Store/Model/StoreSwitcherInterface.php
  app/code/Magento/Tax/Api/TaxAddressManagerInterface.php
  app/code/Magento/Tax/Model/System/Message/NotificationInterface.php
  app/code/Magento/Tax/Model/TaxClass/Type/TypeInterface.php
  app/code/Magento/Theme/Model/Design/Config/MetadataProviderInterface.php
  app/code/Magento/Theme/Model/Theme/StoreThemesResolverInterface.php
  app/code/Magento/Ui/Component/Form/Element/DataType/DataTypeInterface.php
  app/code/Magento/Ui/Component/Layout/Tabs/TabInterface.php
  app/code/Magento/Ui/Component/Wysiwyg/ConfigInterface.php
  app/code/Magento/Ui/Config/Argument/ParserInterface.php
  app/code/Magento/Ui/Config/ConverterInterface.php
  app/code/Magento/Ui/Controller/UiActionInterface.php
  app/code/Magento/Ui/DataProvider/AddFieldToCollectionInterface.php
  app/code/Magento/Ui/DataProvider/AddFilterToCollectionInterface.php
  app/code/Magento/Ui/DataProvider/Mapper/MapperInterface.php
  app/code/Magento/Ui/DataProvider/Modifier/PoolInterface.php
  app/code/Magento/Ui/Model/ColorPicker/ModeInterface.php
  app/code/Magento/Ui/Model/UrlInput/ConfigInterface.php
Labels: Auto-Tests: Not Required, Component: Search, Component: Security, Component: Shipping, Component: Store, Component: Tax, Component: Theme, Component: Ui, Priority: P1, Progress: accept, Project: API Changes, QA: Added to Regression Scope, Release Line: 2.4

#32156 Mark Framework Interfaces as API part 3
  lib/internal/Magento/Framework/Api/CriteriaInterface.php
  lib/internal/Magento/Framework/Async/CancelableDeferredInterface.php
  lib/internal/Magento/Framework/Async/DeferredInterface.php
  lib/internal/Magento/Framework/Autoload/AutoloaderInterface.php
  lib/internal/Magento/Framework/Backup/SourceFileInterface.php
  lib/internal/Magento/Framework/Cache/ConfigInterface.php
  lib/internal/Magento/Framework/Cache/StaleCacheNotifierInterface.php
  lib/internal/Magento/Framework/Code/Generator/CodeGeneratorInterface.php
  lib/internal/Magento/Framework/Code/Minifier/AdapterInterface.php
  lib/internal/Magento/Framework/Code/Reader/ClassReaderInterface.php
  lib/internal/Magento/Framework/Code/ValidatorInterface.php
  lib/internal/Magento/Framework/Component/ComponentRegistrarInterface.php
  lib/internal/Magento/Framework/Crontab/CrontabManagerInterface.php
  lib/internal/Magento/Framework/Crontab/TasksProviderInterface.php
  lib/internal/Magento/Framework/Css/PreProcessor/ErrorHandlerInterface.php
  lib/internal/Magento/Framework/DB/DataConverter/DataConverterInterface.php
  lib/internal/Magento/Framework/DB/LoggerInterface.php
  lib/internal/Magento/Framework/DB/MapperInterface.php
  lib/internal/Magento/Framework/DB/Query/BatchIteratorInterface.php
  lib/internal/Magento/Framework/DB/QueryInterface.php
  lib/internal/Magento/Framework/DB/Select/QueryModifierInterface.php
  lib/internal/Magento/Framework/DB/Select/RendererInterface.php
  lib/internal/Magento/Framework/DB/Sequence/SequenceInterface.php
  lib/internal/Magento/Framework/DB/Sql/ExpressionInterface.php
  lib/internal/Magento/Framework/Data/Collection/Db/FetchStrategyInterface.php
  lib/internal/Magento/Framework/Data/Collection/EntityFactoryInterface.php
  lib/internal/Magento/Framework/Data/CollectionDataSourceInterface.php
  lib/internal/Magento/Framework/Data/CollectionModifierInterface.php
  lib/internal/Magento/Framework/Data/SearchResultInterface.php
  lib/internal/Magento/Framework/Data/SearchResultProcessorInterface.php
  lib/internal/Magento/Framework/Data/ValueSourceInterface.php
  lib/internal/Magento/Framework/DataObject/IdentityGeneratorInterface.php
  lib/internal/Magento/Framework/DataObject/IdentityInterface.php
  lib/internal/Magento/Framework/DataObject/IdentityValidatorInterface.php
  lib/internal/Magento/Framework/DataObject/KeyValueObjectInterface.php
Labels: Auto-Tests: Not Required, Component: multiple, Priority: P1, Progress: accept, Project: API Changes, QA: Added to Regression Scope, Release Line: 2.4

#32659 Mark as api catalog interfaces 2.4
  app/code/Magento/Catalog/Block/Product/AwareInterface.php
  app/code/Magento/Catalog/Block/Product/ReviewRendererInterface.php
  app/code/Magento/Catalog/Controller/Adminhtml/Product/Initialization/Helper/HandlerInterface.php
  app/code/Magento/Catalog/Controller/Product/View/ViewInterface.php
  app/code/Magento/Catalog/Model/Attribute/LockValidatorInterface.php
  app/code/Magento/Catalog/Model/Config/Source/ProductPriceOptionsInterface.php
  app/code/Magento/Catalog/Model/Entity/Product/Attribute/Group/AttributeMapperInterface.php
  app/code/Magento/Catalog/Model/Indexer/Product/Flat/TableDataInterface.php
  app/code/Magento/Catalog/Model/Layer/CollectionFilterInterface.php
  app/code/Magento/Catalog/Model/Layer/FilterableAttributeListInterface.php
  app/code/Magento/Catalog/Model/Layer/ItemCollectionProviderInterface.php
  app/code/Magento/Catalog/Model/Layer/StateKeyInterface.php
  app/code/Magento/Catalog/Model/Product/Condition/ConditionInterface.php
  app/code/Magento/Catalog/Model/Product/Configuration/Item/Option/OptionInterface.php
  app/code/Magento/Catalog/Model/Product/Media/ConfigInterface.php
  app/code/Magento/Catalog/Model/Product/Pricing/Renderer/SalableResolverInterface.php
  app/code/Magento/Catalog/Model/ProductLink/CollectionProviderInterface.php
  app/code/Magento/Catalog/Model/ProductLink/Converter/ConverterInterface.php
  app/code/Magento/Catalog/Model/ProductLink/Data/ListCriteriaInterface.php
  app/code/Magento/Catalog/Model/ProductLink/Data/ListResultInterface.php
  app/code/Magento/Catalog/Model/ProductLink/MapProviderInterface.php
  app/code/Magento/Catalog/Model/ProductOptions/ConfigInterface.php
  app/code/Magento/Catalog/Model/ResourceModel/Product/Indexer/Price/IndexTableStructure.php
  app/code/Magento/Catalog/Model/ResourceModel/Product/Indexer/Price/PriceModifierInterface.php
  app/code/Magento/Catalog/Model/ResourceModel/Product/LinkedProductSelectBuilderInterface.php
  app/code/Magento/Catalog/Pricing/Price/ConfiguredPriceInterface.php
  app/code/Magento/Catalog/Pricing/Price/MinimalPriceCalculatorInterface.php
  app/code/Magento/Catalog/Pricing/Price/SpecialPriceInterface.php
  app/code/Magento/Catalog/Ui/DataProvider/Product/Form/Modifier/Eav/WysiwygConfigDataProcessorInterface.php
Labels: Auto-Tests: Not Required, Component: Catalog, Partner: Atwix, Priority: P1, Progress: accept, Project: API Changes, QA: Added to Regression Scope, Release Line: 2.4, partners-contribution

#32660 Mark interfaces as api url rewrite graphql wishlist 2.4
  app/code/Magento/UrlRewriteGraphQl/Model/Resolver/UrlRewrite/CustomUrlLocatorInterface.php
  app/code/Magento/User/Model/Spi/NotificationExceptionInterface.php
  app/code/Magento/User/Model/Spi/NotificatorInterface.php
  app/code/Magento/Vault/Block/Customer/IconInterface.php
  app/code/Magento/Webapi/Controller/Rest/RequestProcessorInterface.php
  app/code/Magento/Widget/Block/BlockInterface.php
  app/code/Magento/Wishlist/Controller/IndexInterface.php
  app/code/Magento/Wishlist/Controller/WishlistProviderInterface.php
  app/code/Magento/Wishlist/Model/AuthenticationStateInterface.php
  app/code/Magento/Wishlist/Model/ResourceModel/Item/Product/CollectionBuilderInterface.php
  app/code/Magento/Wishlist/Model/Wishlist/BuyRequest/BuyRequestDataProviderInterface.php
  app/code/Magento/Wishlist/Model/Wishlist/Data/WishlistItem.php
  lib/internal/Magento/Framework/Webapi/Rest/Request.php
Labels: Auto-Tests: Not Required, Component: UrlRewriteGraphQl, Component: User, Component: Vault, Component: Webapi, Component: Widget, Component: Wishlist, Partner: Atwix, Priority: P1, Progress: accept, Project: API Changes, QA: Added to Regression Scope, Release Line: 2.4, partners-contribution

#32661 Mark interfaces and clases as api factories 2.4
  app/code/Magento/Catalog/Block/Product/ImageFactory.php
  app/code/Magento/Catalog/Model/Product/Type/Price/Factory.php
  app/code/Magento/Config/Block/System/Config/Form/Field/Factory.php
  app/code/Magento/Config/Block/System/Config/Form/Fieldset/Factory.php
  app/code/Magento/Customer/Model/Metadata/FormFactory.php
  app/code/Magento/ImportExport/Model/Export/Factory.php
  app/code/Magento/Quote/Model/Quote/Address/RateCollectorInterfaceFactory.php
  app/code/Magento/Quote/Model/Quote/Address/TotalFactory.php
  app/code/Magento/Sales/Model/Order/CreditmemoFactory.php
  app/code/Magento/Sales/Model/ResourceModel/Order/Collection/Factory.php
  app/code/Magento/Ui/Component/Form/Fieldset/Factory.php
  lib/internal/Magento/Framework/Acl/AclResourceFactory.php
  lib/internal/Magento/Framework/AclFactory.php
  lib/internal/Magento/Framework/Amqp/ConfigFactory.php
  lib/internal/Magento/Framework/Api/ExtensionAttribute/JoinData.php
  lib/internal/Magento/Framework/Api/ExtensionAttribute/JoinDataInterfaceFactory.php
  lib/internal/Magento/Framework/Api/Search/DocumentFactory.php
  lib/internal/Magento/Framework/Api/Search/SearchCriteriaFactory.php
  lib/internal/Magento/Framework/App/Config/ValueFactory.php
  lib/internal/Magento/Framework/Config/Data/ConfigDataFactory.php
  lib/internal/Magento/Framework/Config/ViewFactory.php
  lib/internal/Magento/Framework/Controller/Result/JsonFactory.php
  lib/internal/Magento/Framework/DB/Adapter/Pdo/MysqlFactory.php
  lib/internal/Magento/Framework/DB/Ddl/TriggerFactory.php
  lib/internal/Magento/Framework/DB/LoggerInterface.php
  lib/internal/Magento/Framework/Data/FormFactory.php
  lib/internal/Magento/Framework/Data/Tree/NodeFactory.php
  lib/internal/Magento/Framework/Data/TreeFactory.php
  lib/internal/Magento/Framework/DataObject/Factory.php
  lib/internal/Magento/Framework/Event/ObserverFactory.php
  lib/internal/Magento/Framework/EventFactory.php
  lib/internal/Magento/Framework/File/UploaderFactory.php
  lib/internal/Magento/Framework/Filesystem/Directory/ReadFactory.php
  lib/internal/Magento/Framework/Mail/TransportInterfaceFactory.php
  lib/internal/Magento/Framework/Message/CollectionFactory.php
  lib/internal/Magento/Framework/Module/Setup/MigrationFactory.php
  lib/internal/Magento/Framework/Setup/Declaration/Schema/Diff/DiffFactory.php
  lib/internal/Magento/Framework/ValidatorFactory.php
  lib/internal/Magento/Framework/View/Asset/File/FallbackContextFactory.php
  lib/internal/Magento/Framework/View/Asset/FileFactory.php
  lib/internal/Magento/Framework/View/Layout/Generator/ContextFactory.php
  lib/internal/Magento/Framework/View/Layout/Reader/ContextFactory.php
  lib/internal/Magento/Framework/View/Page/ConfigFactory.php
Labels: Auto-Tests: Not Required, Component: multiple, Partner: Atwix, Priority: P1, Progress: accept, Project: API Changes, QA: Added to Regression Scope, Release Line: 2.4, partners-contribution

#32680 Mark classes and interfaces as API part 5
  lib/internal/Magento/Framework/App/Config/ValueInterface.php
  lib/internal/Magento/Framework/MessageQueue/ConsumerConfigurationInterface.php
  lib/internal/Magento/Framework/View/DesignInterface.php
  lib/internal/Magento/Framework/Webapi/CustomAttributeTypeLocatorInterface.php
Labels: Auto-Tests: Not Required, Component: App, Component: MessageQueue, Component: View, Component: Webapi, Priority: P1, Progress: accept, Project: API Changes, QA: Added to Regression Scope, Release Line: 2.4

#32681 Mark classes and interfaces as API part 6
  app/code/Magento/Catalog/Model/Config.php
  app/code/Magento/Catalog/Model/Layer/Filter/Item.php
  app/code/Magento/Checkout/Model/Type/Onepage.php
  app/code/Magento/Customer/Model/CustomerRegistry.php
  app/code/Magento/Quote/Setup/QuoteSetup.php
  app/code/Magento/Ui/Component/Control/Container.php
  lib/internal/Magento/Framework/Image/AdapterFactory.php
Labels: Auto-Tests: Not Required, Component: Catalog, Component: Checkout, Component: Customer, Component: Image, Component: Quote, Component: Ui, Priority: P1, Progress: accept, Project: API Changes, QA: Added to Regression Scope, Release Line: 2.4

#32682 Mark classes and interfaces as API part 4
  app/code/Magento/Cms/Model/Template/FilterProvider.php
  app/code/Magento/Customer/Controller/Adminhtml/Index.php
  app/code/Magento/Customer/Model/Url.php
  app/code/Magento/Sales/Model/Order/Email/Sender/InvoiceSender.php
  app/code/Magento/Sales/Model/Order/Email/Sender/OrderSender.php
  app/code/Magento/Sales/Model/Service/InvoiceService.php
  lib/internal/Magento/Framework/Convert/DataObject.php
  lib/internal/Magento/Framework/Data/Form/Element/Factory.php
  lib/internal/Magento/Framework/HTTP/Adapter/Curl.php
  lib/internal/Magento/Framework/UrlFactory.php
Labels: Auto-Tests: Not Required, Component: Cms, Component: Convert, Component: Customer, Component: Data, Component: HTTP, Component: Sales, Component: UrlFactory, Priority: P1, Progress: accept, Project: API Changes, QA: Added to Regression Scope, Release Line: 2.4

#32693 Catalog price rule indexer doesn't work properly with update on save mode
  app/code/Magento/CatalogRule/Model/Rule.php
  app/code/Magento/CatalogRule/Test/Unit/Model/RuleTest.php
  dev/tests/integration/testsuite/Magento/CatalogRule/Model/CatalogRuleRepositoryTest.php
Labels: Auto-Tests: Covered, Component: CatalogRule, Priority: P2, Progress: ready for testing, Release Line: 2.4

#32716 [2.3.x][REST] required configurable attributes should not be required value in configurable product.
  app/code/Magento/ConfigurableProduct/Plugin/Model/Attribute/Backend/AttributeValidation.php
  dev/tests/api-functional/testsuite/Magento/ConfigurableProduct/Api/ProductRepositoryTest.php
Labels: Component: ConfigurableProduct, Priority: P2, Progress: ready for testing, Release Line: 2.4, Severity: S2

#32742 Cannot add a custom elasticsearch field mapper to `Magento\Elasticsearch\Model\Adapter\FieldMapper\Product\FieldProvider\FieldName\Resolver\CompositeResolver`.
  app/code/Magento/Elasticsearch/etc/di.xml
  app/code/Magento/Elasticsearch6/etc/di.xml
  app/code/Magento/Elasticsearch7/etc/di.xml
Labels: Component: Elasticsearch, Priority: P2, Progress: ready for testing, Release Line: 2.4, Severity: S2

#32733 [32033][To 2.4-develop] Marked Framework Setup interfaces as API
  lib/internal/Magento/Framework/Setup/ConfigOptionsListInterface.php
  lib/internal/Magento/Framework/Setup/DataCacheInterface.php
  lib/internal/Magento/Framework/Setup/Declaration/Schema/DataSavior/DataSaviorInterface.php
  lib/internal/Magento/Framework/Setup/Declaration/Schema/DataSavior/DumpAccessorInterface.php
  lib/internal/Magento/Framework/Setup/Declaration/Schema/Db/DDLTriggerInterface.php
  lib/internal/Magento/Framework/Setup/Declaration/Schema/Db/DbDefinitionProcessorInterface.php
  lib/internal/Magento/Framework/Setup/Declaration/Schema/Db/DbSchemaReaderInterface.php
  lib/internal/Magento/Framework/Setup/Declaration/Schema/Db/DbSchemaWriterInterface.php
  lib/internal/Magento/Framework/Setup/Declaration/Schema/Db/StatementAggregator.php
  lib/internal/Magento/Framework/Setup/Declaration/Schema/Declaration/ValidationInterface.php
  lib/internal/Magento/Framework/Setup/Declaration/Schema/Diff/DiffInterface.php
  lib/internal/Magento/Framework/Setup/Declaration/Schema/Dto/Columns/ColumnDefaultAwareInterface.php
  lib/internal/Magento/Framework/Setup/Declaration/Schema/Dto/Columns/ColumnIdentityAwareInterface.php
  lib/internal/Magento/Framework/Setup/Declaration/Schema/Dto/Columns/ColumnNullableAwareInterface.php
  lib/internal/Magento/Framework/Setup/Declaration/Schema/Dto/Columns/ColumnUnsignedAwareInterface.php
  lib/internal/Magento/Framework/Setup/Declaration/Schema/Dto/ElementDiffAwareInterface.php
  lib/internal/Magento/Framework/Setup/Declaration/Schema/Dto/Factories/FactoryInterface.php
  lib/internal/Magento/Framework/Setup/Declaration/Schema/Dto/Schema.php
  lib/internal/Magento/Framework/Setup/Declaration/Schema/Dto/Table.php
  lib/internal/Magento/Framework/Setup/Declaration/Schema/Dto/TableElementInterface.php
  lib/internal/Magento/Framework/Setup/Declaration/Schema/ElementHistory.php
  lib/internal/Magento/Framework/Setup/Declaration/Schema/OperationInterface.php
  lib/internal/Magento/Framework/Setup/Declaration/Schema/SchemaConfigInterface.php
  lib/internal/Magento/Framework/Setup/Patch/DataPatchInterface.php
  lib/internal/Magento/Framework/Setup/Patch/DependentPatchInterface.php
  lib/internal/Magento/Framework/Setup/Patch/NonTransactionableInterface.php
  lib/internal/Magento/Framework/Setup/Patch/PatchInterface.php
  lib/internal/Magento/Framework/Setup/Patch/PatchRevertableInterface.php
  lib/internal/Magento/Framework/Setup/Patch/SchemaPatchInterface.php
  lib/internal/Magento/Framework/Setup/SampleData/InstallerInterface.php
  lib/internal/Magento/Framework/Setup/SampleData/StateInterface.php
  lib/internal/Magento/Framework/Setup/SchemaListenerDefinition/DefinitionConverterInterface.php
  lib/internal/Magento/Framework/Setup/SchemaListenerHandlers/SchemaListenerHandlerInterface.php
  lib/internal/Magento/Framework/Setup/UpToDateValidatorInterface.php
Labels: Component: Setup, Partner: Atwix, Priority: P1, Progress: accept, Project: API Changes, Release Line: 2.4, partners-contribution

#32726 [32017][To 2.4-develop] Marked Directory, Downloadable, Eav and Elasticsearch interfaces as API
  app/code/Magento/Directory/Model/Country/Postcode/ConfigInterface.php
  app/code/Magento/Directory/Model/Country/Postcode/ValidatorInterface.php
  app/code/Magento/Downloadable/Api/DomainManagerInterface.php
  app/code/Magento/Downloadable/Pricing/Price/LinkPriceInterface.php
  app/code/Magento/Eav/Model/Entity/Attribute/AttributeInterface.php
  app/code/Magento/Eav/Model/Entity/Attribute/Backend/BackendInterface.php
  app/code/Magento/Eav/Model/Entity/Attribute/Source/SpecificSourceInterface.php
  app/code/Magento/Eav/Model/Entity/Attribute/UniqueValidationInterface.php
  app/code/Magento/Eav/Model/Entity/AttributeLoaderInterface.php
  app/code/Magento/Eav/Model/Entity/Setup/PropertyMapperInterface.php
  app/code/Magento/Eav/Model/ResourceModel/Attribute/DefaultEntityAttributes/ProviderInterface.php
  app/code/Magento/Elasticsearch/Model/Adapter/FieldMapper/Product/AttributeAdapter.php
  app/code/Magento/Elasticsearch/Model/Adapter/FieldMapper/Product/FieldProvider/FieldIndex/ConverterInterface.php
  app/code/Magento/Elasticsearch/Model/Adapter/FieldMapper/Product/FieldProvider/FieldIndex/ResolverInterface.php
  app/code/Magento/Elasticsearch/Model/Adapter/FieldMapper/Product/FieldProvider/FieldName/ResolverInterface.php
  app/code/Magento/Elasticsearch/Model/Adapter/FieldMapper/Product/FieldProvider/FieldType/ResolverInterface.php
  app/code/Magento/Elasticsearch/Model/Adapter/FieldMapper/Product/FieldProviderInterface.php
  app/code/Magento/Elasticsearch/Model/Adapter/FieldsMappingPreprocessorInterface.php
  app/code/Magento/Elasticsearch/SearchAdapter/Query/ValueTransformerInterface.php
  app/code/Magento/Elasticsearch/SearchAdapter/QueryAwareInterface.php
Labels: Component: Directory, Component: Downloadable, Component: Eav, Component: Elasticsearch, Partner: Atwix, Priority: P1, Progress: accept, Progress: extended testing, Project: API Changes, QA: Added to Regression Scope, Release Line: 2.4, partners-contribution

#32727 [32018][To 2.4-develop] Marked GraphQl, ImportExport, Indexer, Integration and LoginAsCustomer interfaces as API
  app/code/Magento/GraphQl/Controller/HttpHeaderProcessorInterface.php
  app/code/Magento/GraphQl/Controller/HttpRequestValidatorInterface.php
  app/code/Magento/GraphQl/Model/Query/ContextInterface.php
  app/code/Magento/GraphQl/Model/Query/ContextParametersInterface.php
  app/code/Magento/GraphQl/Model/Query/ContextParametersProcessorInterface.php
  app/code/Magento/ImportExport/Api/Data/ExtendedExportInfoInterface.php
  app/code/Magento/ImportExport/Model/Report/ReportProcessorInterface.php
  app/code/Magento/Indexer/Model/DimensionModes.php
  app/code/Magento/Indexer/Model/ModeSwitcherInterface.php
  app/code/Magento/Indexer/Model/Source/DataInterface.php
  app/code/Magento/Integration/Model/Oauth/Token/RequestLog/ReaderInterface.php
  app/code/Magento/Integration/Model/Oauth/Token/RequestLog/WriterInterface.php
  app/code/Magento/LoginAsCustomerApi/Api/Data/IsLoginAsCustomerEnabledForCustomerResultInterface.php
  app/code/Magento/LoginAsCustomerApi/Api/GetLoggedAsCustomerAdminIdInterface.php
  app/code/Magento/LoginAsCustomerApi/Api/GetLoggedAsCustomerCustomerIdInterface.php
  app/code/Magento/LoginAsCustomerApi/Api/IsLoginAsCustomerEnabledForCustomerInterface.php
  app/code/Magento/LoginAsCustomerApi/Api/SetLoggedAsCustomerAdminIdInterface.php
  app/code/Magento/LoginAsCustomerApi/Api/SetLoggedAsCustomerCustomerIdInterface.php
  app/code/Magento/LoginAsCustomerAssistance/Api/ConfigInterface.php
  app/code/Magento/LoginAsCustomerAssistance/Api/IsAssistanceEnabledInterface.php
  app/code/Magento/LoginAsCustomerAssistance/Api/SetAssistanceInterface.php
  lib/internal/Magento/Framework/App/HttpRequestInterface.php
Labels: Component: App, Component: GraphQL, Component: ImportExport, Component: Indexer, Component: Integration, Component: LoginAsCustomerApi, Component: LoginAsCustomerAssistance, Partner: Atwix, Priority: P1, Progress: accept, Project: API Changes, Release Line: 2.4, partners-contribution

#32728 [32027][To 2.4-develop] Marked Framework interfaces as API part 4
  lib/internal/Magento/Framework/Encryption/Adapter/EncryptionAdapterInterface.php
  lib/internal/Magento/Framework/Event/ConfigInterface.php
  lib/internal/Magento/Framework/Event/InvokerInterface.php
  lib/internal/Magento/Framework/Event/ManagerInterface.php
  lib/internal/Magento/Framework/Exception/TemporaryStateExceptionInterface.php
  lib/internal/Magento/Framework/Filesystem/Directory/PathValidatorInterface.php
  lib/internal/Magento/Framework/Filesystem/DriverPoolInterface.php
  lib/internal/Magento/Framework/Filesystem/File/ReadInterface.php
  lib/internal/Magento/Framework/Filter/DirectiveProcessor/FilterInterface.php
  lib/internal/Magento/Framework/Filter/DirectiveProcessorInterface.php
  lib/internal/Magento/Framework/Filter/FactoryInterface.php
  lib/internal/Magento/Framework/Filter/FilterManager/ConfigInterface.php
  lib/internal/Magento/Framework/Filter/SimpleDirective/ProcessorInterface.php
  lib/internal/Magento/Framework/Filter/VariableResolverInterface.php
Labels: Component: Encryption, Component: Event, Component: Exception, Component: Filesystem, Component: Filter, Partner: Atwix, Priority: P1, Progress: accept, Project: API Changes, Release Line: 2.4, partners-contribution

#32732 [32032][To 2.4-develop] Marked framework interfaces as API part 6
  lib/internal/Magento/Framework/Profiler/Driver/Standard/OutputInterface.php
  lib/internal/Magento/Framework/Profiler/Driver/Standard/Stat.php
  lib/internal/Magento/Framework/Search/Adapter/Aggregation/AggregationResolverInterface.php
  lib/internal/Magento/Framework/Search/Adapter/OptionsInterface.php
  lib/internal/Magento/Framework/Search/Adapter/Preprocessor/PreprocessorInterface.php
  lib/internal/Magento/Framework/Search/AdapterInterface.php
  lib/internal/Magento/Framework/Search/Dynamic/Algorithm/AlgorithmInterface.php
  lib/internal/Magento/Framework/Search/Request/Aggregation/StatusInterface.php
  lib/internal/Magento/Framework/Search/Request/IndexScopeResolverInterface.php
  lib/internal/Magento/Framework/Search/ResponseInterface.php
  lib/internal/Magento/Framework/Search/SearchEngine/ConfigInterface.php
  lib/internal/Magento/Framework/Search/SearchEngineInterface.php
  lib/internal/Magento/Framework/Session/Config/ConfigInterface.php
  lib/internal/Magento/Framework/Session/SaveHandlerInterface.php
  lib/internal/Magento/Framework/Session/StorageInterface.php
  lib/internal/Magento/Framework/Session/ValidatorInterface.php
Labels: Component: Profiler, Component: Search, Component: Session, Partner: Atwix, Priority: P1, Progress: accept, Project: API Changes, Release Line: 2.4, partners-contribution

#32735 [32058][To 2.4-develop] Marked classes and interfaces as API part 3
  app/code/Magento/Catalog/Block/Adminhtml/Product/Edit/Button/Generic.php
  app/code/Magento/Checkout/Controller/Cart.php
  app/code/Magento/Customer/Setup/CustomerSetup.php
  app/code/Magento/Quote/Model/Quote/Item/CartItemOptionsProcessor.php
  app/code/Magento/Sales/Controller/Adminhtml/Order.php
  app/code/Magento/Sales/Model/Order/Pdf/Total/DefaultTotal.php
  lib/internal/Magento/Framework/Data/Form/Element/Image.php
Labels: Component: Catalog, Component: Checkout, Component: Customer, Component: Data, Component: Quote, Component: Sales, Partner: Atwix, Priority: P1, Progress: accept, Project: API Changes, Release Line: 2.4, partners-contribution

#32759 MFTF: Admin Unlock Admin User Via CLI Test
  app/code/Magento/User/Test/Mftf/ActionGroup/AdminUnlockAdminUserEntityViaCLIActionGroup.xml
  app/code/Magento/User/Test/Mftf/Test/AdminUnlockAdminUserEntityViaCLITest.xml
Labels: Auto-Tests: Covered, Component: User, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S3, partners-contribution

#32802 Load draggable and resizable jquery-ui chunks for dialog widget only if needed
  lib/web/jquery/ui-modules/dialog.js
Labels: Area: Lib/Frontend, Area: Perf/Frontend, Auto-Tests: Not Required, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S3, improvement

#32295 Replace repetitive actions with Action Groups in AdminCreateSimpleProductZeroPriceTest
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateSimpleProductTest/AdminCreateSimpleProductZeroPriceTest.xml
Labels: Auto-Tests: Covered, Component: Catalog, Partner: Atwix, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, partners-contribution

#32353 [32279][GraphQL] Fixed issue with tier price
  app/code/Magento/CatalogCustomerGraphQl/Model/Resolver/PriceTiers.php
  app/code/Magento/CatalogCustomerGraphQl/composer.json
  dev/tests/api-functional/testsuite/Magento/GraphQl/CatalogCustomer/PriceTiersTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Component: CatalogCustomerGraphQl, Partner: Atwix, Priority: P1, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S1, partners-contribution

#32356 [ReadMe] updated readMe file for Persistent-QuoteAnalitics
  app/code/Magento/Persistent/README.md
  app/code/Magento/ProductAlert/README.md
  app/code/Magento/ProductVideo/README.md
  app/code/Magento/Quote/README.md
  app/code/Magento/QuoteAnalytics/README.md
Labels: Component: Persistent, Component: ProductAlert, Component: ProductVideo, Component: Quote, Component: QuoteAnalytics, Partner: Atwix, Priority: P2, Progress: accept, Release Line: 2.4, partners-contribution

#32499 Fix missing video when advanced js bundling used
  app/code/Magento/ProductVideo/view/frontend/web/js/fotorama-add-video-events.js
Labels: Area: Frontend, Auto-Tests: Not Required, Award: bug fix, Component: ProductVideo, Priority: P2, Progress: accept, Release Line: 2.4

#32539 Replace repetitive actions with Action Groups in AdminUpdateSimpleProductWithRegularPriceInStockVisibleInCatalogOnlyTest
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockVisibleInCatalogOnlyTest.xml
Labels: Auto-Tests: Covered, Component: Catalog, Partner: Atwix, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, partners-contribution

#31985 Github #31984: fix for array offset bug during some 404s (PHP 7.4)
  app/code/Magento/CatalogUrlRewrite/Model/Storage/DynamicStorage.php
  app/code/Magento/CatalogUrlRewrite/Test/Unit/Model/Storage/DynamicStorageTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: CatalogUrlRewrite, Priority: P2, Progress: accept, Release Line: 2.4, Risk: low, Severity: S3

#32099 Admin login issue fix.
  app/code/Magento/Backend/App/Action/Plugin/Authentication.php
  app/code/Magento/Backend/Controller/Adminhtml/Auth/Login.php
  app/code/Magento/Backend/Test/Mftf/Data/AdminWebConfigData.xml
  app/code/Magento/Backend/Test/Mftf/Test/AdminLoginSuccessfulWithRewritesDisabledTest.xml
  app/code/Magento/Backend/Test/Unit/Controller/Adminhtml/Auth/LoginTest.php
Labels: Auto-Tests: Covered, Award: bug fix, Award: test coverage, Component: Backend, Priority: P1, Progress: accept, Release Line: 2.4

#32145 Catch php syntax errors (or other errors) in bin/magento and output the error instead of staying silent
  bin/magento
Labels: Auto-Tests: Not Required, Award: bug fix, Priority: P2, Progress: accept, QA: Added to Regression Scope, Release Line: 2.4, Severity: S2

#31296 Fix issue #24635: Use of undefined constant GLOB_BRACE in dependency …
  composer.json
  composer.lock
  dev/tests/api-functional/phpunit_graphql.xml.dist
  dev/tests/api-functional/phpunit_rest.xml.dist
  dev/tests/api-functional/phpunit_soap.xml.dist
  dev/tests/integration/framework/tests/unit/phpunit.xml.dist
  dev/tests/integration/phpunit.xml.dist
  dev/tests/setup-integration/framework/tests/unit/phpunit.xml.dist
  dev/tests/setup-integration/phpunit.xml.dist
  dev/tests/static/framework/tests/unit/phpunit.xml.dist
  dev/tests/static/phpunit-all.xml.dist
  dev/tests/static/phpunit.xml.dist
  dev/tests/unit/phpunit.xml.dist
Labels: Auto-Tests: Not Required, Award: bug fix, Priority: P1, Progress: accept, Release Line: 2.4, Severity: S3

#32755 Elasticsearch mappings cannot be changed
  app/code/Magento/Elasticsearch7/Model/Adapter/DynamicTemplates/IntegerMapper.php
  app/code/Magento/Elasticsearch7/Model/Adapter/DynamicTemplates/MapperInterface.php
  app/code/Magento/Elasticsearch7/Model/Adapter/DynamicTemplates/PositionMapper.php
  app/code/Magento/Elasticsearch7/Model/Adapter/DynamicTemplates/PriceMapper.php
  app/code/Magento/Elasticsearch7/Model/Adapter/DynamicTemplates/StringMapper.php
  app/code/Magento/Elasticsearch7/Model/Adapter/DynamicTemplatesProvider.php
  app/code/Magento/Elasticsearch7/Model/Client/Elasticsearch.php
  app/code/Magento/Elasticsearch7/Test/Unit/Model/Client/ElasticsearchTest.php
  app/code/Magento/Elasticsearch7/etc/di.xml
Labels: Component: Elasticsearch, Priority: P2, Progress: accept, Release Line: 2.4, Severity: S2
