Repository magento/magento2, pull requests merged in 2022-03, with the labels that each got.

#34995 #33586: fix php warning message at search advansed result and index pages
  app/code/Magento/CatalogSearch/Block/Advanced/Form.php
  app/code/Magento/CatalogSearch/Model/Advanced.php
  dev/tests/integration/testsuite/Magento/CatalogSearch/Controller/Advanced/IndexTest.php
  dev/tests/integration/testsuite/Magento/CatalogSearch/Controller/Advanced/ResultTest.php
Labels: Progress: accept, Award: test coverage, partners-contribution, Partner: Atwix, Component: CatalogSearch, Release Line: 2.4, Auto-Tests: Covered, Priority: P2, Severity: S3

#34370 Make the title of the "Show Password" checkbox translatable
  app/code/Magento/Customer/view/frontend/web/template/show-password.html
Labels: Progress: accept, Component: Customer, Area: Frontend, Award: bug fix, Release Line: 2.4, Auto-Tests: Not Required, Priority: P1, Severity: S3, Risk: low

#34701 Add core/app as deps in requirejs config
  app/code/Magento/Ui/view/frontend/requirejs-config.js
Labels: Progress: accept, Area: Frontend, Component: Ui, Release Line: 2.4, Auto-Tests: Not Required, Priority: P2, Severity: S2, Area: Perf/Frontend, Risk: low

#34791 Delete existing URL rewrite IDs in After Replace
  app/code/Magento/CatalogUrlRewrite/Model/ResourceModel/Category/Product.php
  dev/tests/integration/testsuite/Magento/CatalogUrlRewrite/Model/Category/Plugin/StorageTest.php
  dev/tests/integration/testsuite/Magento/CatalogUrlRewrite/_files/issue34210.csv
  dev/tests/integration/testsuite/Magento/CatalogUrlRewrite/_files/issue34210_structure.php
  dev/tests/integration/testsuite/Magento/CatalogUrlRewrite/_files/issue34210_structure_rollback.php
Labels: Progress: accept, Component: CatalogUrlRewrite, Award: advanced, Award: test coverage, Award: bug fix, Release Line: 2.4, Auto-Tests: Covered, Priority: P2, Severity: S2

#34069 Report cron error message where possible
  app/code/Magento/Cron/Observer/ProcessCronQueueObserver.php
  app/code/Magento/Cron/Test/Unit/Observer/ProcessCronQueueObserverTest.php
Labels: Progress: accept, Component: Cron, Award: test coverage, partners-contribution, Award: bug fix, Release Line: 2.4, Partner: Fisheye, Auto-Tests: Covered, Priority: P2, Severity: S3

#34360 Use the translated tax rate title if it exists in the applied_taxes g…
  app/code/Magento/QuoteGraphQl/Model/Resolver/CartPrices.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Customer/CartTotalsTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Guest/CartTotalsTest.php
  dev/tests/integration/testsuite/Magento/GraphQl/Tax/_files/tax_rule_for_region_with_translated_titles.php
  dev/tests/integration/testsuite/Magento/GraphQl/Tax/_files/tax_rule_for_region_with_translated_titles_rollback.php
Labels: Progress: accept, Award: test coverage, Award: bug fix, Award: category of expertise, Release Line: 2.4, Component: QuoteGraphQl, Auto-Tests: Covered, Priority: P2, Severity: S3

#31810 [ReadMe] updated readMe file for GraphQl-GroupedProductGraphQl modules
  app/code/Magento/GraphQl/README.md
  app/code/Magento/GraphQlCache/README.md
  app/code/Magento/GroupedCatalogInventory/README.md
  app/code/Magento/GroupedImportExport/README.md
  app/code/Magento/GroupedProduct/README.md
  app/code/Magento/GroupedProductGraphQl/README.md
Labels: partners-contribution, Partner: Atwix, Component: GroupedImportExport, Component: GroupedProduct, Component: GraphQL, Progress: ready for testing, Release Line: 2.4, Auto-Tests: Not Required, Priority: P2, Component: GroupedCatalogInventory, Component: GraphQlCache, Component: GroupedProductGraphQl

#31141 Added 'UnavailableQuantity' test case for updateCartItems mutation
  dev/tests/api-functional/testsuite/Magento/GraphQl/CatalogInventory/UpdateCartItemsTest.php
Labels: Progress: accept, partners-contribution, Partner: Atwix, Release Line: 2.4, Auto-Tests: Covered, Priority: P2, Priority: P1, Severity: S3, Severity: S1, Project: GraphQL
