Repository magento/magento2, pull requests merged in 2022-04, with the labels that each got.

#33536 [MFTF] CreateInvoiceAndCheckInvoiceOrderTest refactoring
  app/code/Magento/Sales/Test/Mftf/ActionGroup/AdminClickUpdateQtysButtonOnCreateInvoicePageActionGroup.xml
  app/code/Magento/Sales/Test/Mftf/ActionGroup/AdminFillInvoiceCommentsFieldOnCreateInvoicePageActionGroup.xml
  app/code/Magento/Sales/Test/Mftf/ActionGroup/AdminFillQtyToInvoiceOnCreateInvoicePageActionGroup.xml
  app/code/Magento/Sales/Test/Mftf/ActionGroup/AdminOpenInvoiceTabFromOrderPageActionGroup.xml
  app/code/Magento/Sales/Test/Mftf/ActionGroup/StorefrontOpenInvoiceTabActionGroup.xml
  app/code/Magento/Sales/Test/Mftf/Test/CreateInvoiceAndCheckInvoiceOrderTest.xml
  app/code/Magento/Ui/Test/Mftf/ActionGroup/AdminGridFilterFillFieldBySelectorActionGroup.xml
  app/code/Magento/Ui/Test/Mftf/Section/AdminDataGridFilterSection.xml
Labels: Progress: accept, Component: Sales, partners-contribution, Partner: Atwix, Component: Ui, Release Line: 2.4, Priority: P2

#34552 Replace repetitive actions with Action Groups in AdminCreateStoreViewTest
  app/code/Magento/Store/Test/Mftf/Test/AdminCreateStoreViewTest.xml
Labels: Progress: accept, partners-contribution, Partner: Atwix, Component: Store, Release Line: 2.4, Auto-Tests: Not Required, Priority: P2

#33342 MFTF: Newsletter Subscription With Enabled Need To Confirm Config
  app/code/Magento/Newsletter/Test/Mftf/Data/NewsletterConfigData.xml
  app/code/Magento/Newsletter/Test/Mftf/Test/StorefrontNewsletterSubscriptionWithEnabledNeedToConfirmConfigTest.xml
Labels: Progress: accept, partners-contribution, Partner: Atwix, Component: Newsletter, Release Line: 2.4, Priority: P2

#32293 Replace repetitive actions with Action Groups in AdminConfigurableProductChildrenOutOfStockTest
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateCustomProductAttributeWithDropdownFieldTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateProductAttributeFromProductPageTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateProductAttributeRequiredTextFieldTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateSimpleProductWithCountryOfManufactureAttributeSKUMaskTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateVirtualProductOutOfStockWithTierPriceTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateVirtualProductWithCustomOptionsSuiteAndImportOptionsTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateVirtualProductWithTierPriceTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateVirtualProductWithoutManageStockTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminEditTextEditorProductAttributeTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminMultipleWebsitesUseDefaultValuesTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductTieredPriceTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockDisabledProductTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockEnabledFlatTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockVisibleInCatalogAndSearchTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockVisibleInSearchOnlyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockWithCustomOptionsTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithRegularPriceInStockVisibleInCategoryOnlyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithRegularPriceInStockWithCustomOptionsVisibleInSearchOnlyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithSpecialPriceInStockVisibleInCategoryAndSearchTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithTierPriceInStockVisibleInCategoryOnlyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithTierPriceOutOfStockVisibleInCategoryAndSearchTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/EndToEndB2CAdminTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/NewProductsListWidgetVirtualProductTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/SaveProductWithCustomOptionsSecondWebsiteTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/VerifyTinyMCEIsNativeWYSIWYGOnProductTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminConfigurableProductOutOfStockTest/AdminConfigurableProductChildrenOutOfStockTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminConfigurableProductOutOfStockTest/AdminConfigurableProductOutOfStockAndDeleteCombinationTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/ProductsQtyReturnAfterOrderCancelTest.xml
  app/code/Magento/Swatches/Test/Mftf/Test/AdminCreateVisualSwatchTest.xml
  app/code/Magento/Swatches/Test/Mftf/Test/AdminDisablingSwatchTooltipsTest.xml
Labels: Progress: accept, Component: Catalog, partners-contribution, Partner: Atwix, Component: ConfigurableProduct, Component: Swatches, Release Line: 2.4, Auto-Tests: Not Required, Priority: P2

#30640 Removes incorrect csp_whitelist.xml files
  app/code/Magento/CatalogUrlRewrite/etc/csp_whitelist.xml
  app/code/Magento/LoginAsCustomerAdminUi/etc/csp_whitelist.xml
Labels: Progress: accept, Component: CatalogUrlRewrite, Cleanup, Release Line: 2.4, Auto-Tests: Not Required, Priority: P2, Severity: S3, Component: LoginAsCustomerAdminUi, Risk: low, Event: MageCONF CD 2020

#34862 Fixed exception logs for SendFriend for WebAPI tests
  app/code/Magento/SendFriend/Model/SendFriend.php
Labels: partners-contribution, Partner: Atwix, Component: SendFriend, Release Line: 2.4, Progress: pending review, Project: Platform Health

#32953 Exception are not translated to store scope
  app/code/Magento/GraphQl/Controller/GraphQl.php
  app/code/Magento/StoreGraphQl/Controller/HttpHeaderProcessor/StoreProcessor.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Catalog/ProductInMultipleStoresTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Catalog/ProductSearchWithTranslatedMessageTest.php
  dev/tests/integration/testsuite/Magento/Translation/_files/catalog_message_translate.php
  dev/tests/integration/testsuite/Magento/Translation/_files/catalog_message_translate_rollback.php
Labels: Progress: on hold, Component: GraphQL, Release Line: 2.4, Auto-Tests: Covered, Component: StoreGraphQl, Priority: P1, Severity: S1

#35109 Fix type definition mapper typo
  app/etc/di.xml
Labels: Progress: accept, Award: bug fix, Release Line: 2.4, Auto-Tests: Not Required, Priority: P1

#34943 Fix incorrect logo on order print page
  app/code/Magento/Sales/ViewModel/Header/LogoPathResolver.php
  dev/tests/integration/testsuite/Magento/Sales/Block/Order/PrintOrder/LogoTest.php
Labels: Progress: accept, Component: Sales, Release Line: 2.4, Auto-Tests: Covered, Severity: S2, Priority: P1

#32648 Newrelic api change
  app/code/Magento/NewRelicReporting/Console/Command/DeployMarker.php
  app/code/Magento/NewRelicReporting/Model/Apm/Deployments.php
  app/code/Magento/NewRelicReporting/Test/Unit/Model/Apm/DeploymentsTest.php
  app/code/Magento/NewRelicReporting/etc/config.xml
Labels: Progress: accept, Award: advanced, Award: test coverage, partners-contribution, Partner: Comwrap, Award: bug fix, Component: NewRelicReporting, Release Line: 2.4, Auto-Tests: Covered, Priority: P1

#33904 [Performance] Fix array_merge in a loop
  setup/src/Magento/Setup/Module/Di/App/Task/Operation/ApplicationCodeGenerator.php
  setup/src/Magento/Setup/Module/Di/App/Task/Operation/Interception.php
  setup/src/Magento/Setup/Module/Di/App/Task/Operation/InterceptionCache.php
Labels: Progress: accept, Component: Setup, Release Line: 2.4, Priority: P2

#32371 Base price storage website price mode
  app/code/Magento/Catalog/Model/Product/Price/BasePriceStorage.php
  dev/tests/api-functional/testsuite/Magento/Catalog/Api/ProductRepositoryPriceModeWebsiteChangePriceTest.php
  dev/tests/api-functional/testsuite/Magento/Catalog/Api/ProductTierPriceManagementTest.php
  dev/tests/api-functional/testsuite/Magento/Catalog/Api/SpecialPriceStorageTest.php
  dev/tests/api-functional/testsuite/Magento/Catalog/Api/TierPriceStorageTest.php
  dev/tests/integration/testsuite/Magento/Bundle/_files/order_with_bundle_shipped_separately.php
  dev/tests/integration/testsuite/Magento/Bundle/_files/order_with_bundle_shipped_together.php
  dev/tests/integration/testsuite/Magento/Bundle/_files/product.php
  dev/tests/integration/testsuite/Magento/Bundle/_files/product_with_multiple_options.php
  dev/tests/integration/testsuite/Magento/Bundle/_files/two_bundle_products_with_separate_shipping.php
Labels: Progress: accept, Component: Catalog, Award: test coverage, partners-contribution, Partner: Comwrap, Award: bug fix, Release Line: 2.4, Auto-Tests: Covered, Priority: P2, Priority: P1, Severity: S3

#35234 Upgrade PHPStan to version 1.5
  composer.json
  composer.lock
Labels: Progress: ready for testing, Release Line: 2.4, Priority: P1, Project: Platform Health
