Repository magento/magento2, pull requests merged in 2022-09, with the labels that each got.

#35640 Process trans Directives Nested in depend / if Directives
  dev/tests/integration/testsuite/Magento/Setup/Console/Command/_files/expectedPhrases.csv
  dev/tests/integration/testsuite/Magento/Setup/Console/Command/_files/phrases/test_mail_template.html
  setup/src/Magento/Setup/Module/I18n/Parser/Adapter/Html.php
Labels: Progress: pending review, Priority: P3

#29417 [GraphQl][GiftMessage] Add functionality for getting message for order item
  app/code/Magento/GiftMessageGraphQl/Model/Resolver/Order/GiftMessage.php
  app/code/Magento/GiftMessageGraphQl/Model/Resolver/Order/Item/GiftMessage.php
  app/code/Magento/GiftMessageGraphQl/etc/schema.graphqls
  dev/tests/api-functional/testsuite/Magento/GraphQl/GiftMessage/Order/GiftMessageTest.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/GiftMessage/Order/Item/GiftMessageTest.php
  dev/tests/integration/testsuite/Magento/GiftMessage/_files/customer/order_with_message.php
Labels: Progress: accept, Award: advanced, Award: test coverage, partners-contribution, Partner: Atwix, Award: category of expertise, Release Line: 2.4, Auto-Tests: Covered, Priority: P2, Severity: S3, Component: GiftMessageGraphQl, Project: GraphQL

#33411 33383 GraphQL: add new mutation 'deleteCustomer'
  app/code/Magento/CustomerGraphQl/Model/Customer/DeleteCustomer.php
  app/code/Magento/CustomerGraphQl/Model/Resolver/DeleteCustomer.php
  app/code/Magento/CustomerGraphQl/etc/schema.graphqls
  dev/tests/api-functional/testsuite/Magento/GraphQl/Customer/DeleteCustomerTest.php
Labels: Progress: accept, Award: test coverage, partners-contribution, Partner: Atwix, Award: bug fix, Release Line: 2.4, Auto-Tests: Covered, Component: CustomerGraphQl, Priority: P1, Project: GraphQL

#35631 Shipping Estimation: Prevent Quote Double Saving
  app/code/Magento/Checkout/Controller/Cart/EstimatePost.php
Labels: partners-contribution, Partner: Fisheye, Progress: pending review, Priority: P1

#35885 URLs should not contains reserved characters according to RFC 3986
  dev/tests/integration/testsuite/Magento/Framework/Url/Helper/DataTest.php
  dev/tests/integration/testsuite/Magento/Shipping/Helper/DataTest.php
  lib/internal/Magento/Framework/Url/Encoder.php
  lib/internal/Magento/Framework/Url/Test/Unit/EncoderTest.php
Labels: Progress: accept, Auto-Tests: Not Required, Priority: P2

#35940 Fix issue when login is not recorded for updated admin user
  app/code/Magento/User/Model/ResourceModel/User.php
Labels: Progress: pending review, Priority: P2

#36031 magento/magento2#34707: New Relic module does not complies with CSP
  app/code/Magento/NewRelicReporting/etc/csp_whitelist.xml
Labels: partners-contribution, Progress: ready for testing, Priority: P2, Partner: Perspective Studio

#35060 Fix for GitHub issue: #32177
  app/code/Magento/Checkout/Block/Checkout/LayoutProcessor.php
  app/code/Magento/Sales/Block/Adminhtml/Order/Create/Form/Address.php
Labels: Component: Checkout, Component: Sales, Release Line: 2.4, Progress: pending review, Priority: P2, Priority: P3
