Repository magento/magento2, pull requests merged in 2022-06, with the labels that each got.

#35344 Fix wrong path slider jquery widget
  app/code/Magento/Theme/view/base/requirejs-config.js
Labels: Progress: accept, Priority: P2

#35356 Show last login date/time on admin user grid
  app/code/Magento/User/view/adminhtml/layout/adminhtml_user_grid_block.xml
Labels: Progress: accept, partners-contribution, Partner: Fisheye, Auto-Tests: Not Required, Priority: P2, Type: Feature/Improvement

#35385 Fixed style issue for select in admin grid
  app/design/adminhtml/Magento/backend/Magento_Ui/web/css/source/module/_data-grid.less
Labels: Progress: accept, partners-contribution, Partner: Atwix, Priority: P2

#35421 Update MBI link in README.md
  app/code/Magento/Analytics/README.md
Labels: Progress: accept, partners-contribution, Partner: Atwix, Priority: P2

#35504 Use Correct Verb in Table Schema Definition Docs
  lib/internal/Magento/Framework/Setup/Declaration/Schema/etc/schema.xsd
Labels: Progress: accept, partners-contribution, Partner: Fisheye, Priority: P2

#35598 Correct typos and grammar in menu.xsd file.
  app/code/Magento/Backend/etc/menu.xsd
Labels: Progress: accept, Priority: P2

#35144 Updating Event Argument
  app/code/Magento/Sales/Model/Service/OrderService.php
Labels: Progress: accept, Component: Sales, Release Line: 2.4, Priority: P2

#35196 33590: Fix issue with email notification error
  app/code/Magento/Checkout/view/frontend/web/js/view/form/element/email.js
Labels: Progress: accept, Component: Checkout, Area: Frontend, Release Line: 2.4, Priority: P2

#35299 Use product type id instead of product id
  app/code/Magento/Catalog/Model/Product/Option/SaveHandler.php
Labels: Progress: accept, Priority: P2

#35349 catalogAddToCart moved to data-mage-init and product_sku option removed
  app/code/Magento/Catalog/view/frontend/templates/product/list.phtml
Labels: Progress: accept, Auto-Tests: Not Required, Priority: P2

#33409 33378 GraphQL: create an entry in 'customer_log' after generate customer token
  app/code/Magento/CustomerGraphQl/etc/graphql/events.xml
  dev/tests/api-functional/testsuite/Magento/GraphQl/Customer/GenerateCustomerTokenTest.php
Labels: Progress: accept, Award: test coverage, partners-contribution, Partner: Atwix, Award: bug fix, Release Line: 2.4, Auto-Tests: Covered, Component: CustomerGraphQl, Priority: P2, Severity: S3, Project: GraphQL

#33898 Fix Wrong ratings at second Catalog Product List at cms page widget #33867
  lib/internal/Magento/Framework/View/Helper/SecureHtmlRenderer.php
Labels: Progress: accept, partners-contribution, Award: bug fix, Component: View, Release Line: 2.4, Auto-Tests: Not Required, Partner: EY, Priority: P2

#34582 Update `indexer:reset` to call `$indexer->invalidate()`
  app/code/Magento/Indexer/Console/Command/IndexerResetStateCommand.php
  app/code/Magento/Indexer/Test/Unit/Console/Command/IndexerResetStateCommandTest.php
Labels: Progress: accept, partners-contribution, Partner: Ampersand, Component: Indexer, Release Line: 2.4, Priority: P2

#31322 magento/magento2#31206: Selected shipping method does not contain val…
  app/code/Magento/QuoteGraphQl/Model/Resolver/ShippingAddress/SelectedShippingMethod.php
  app/code/Magento/QuoteGraphQl/etc/schema.graphqls
  app/code/Magento/Tax/Model/Config.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Quote/Customer/GetSelectedShippingMethodTest.php
Labels: Progress: accept, Component: Tax, Release Line: 2.4, Component: QuoteGraphQl, Priority: P1, Project: GraphQL, PAP

#34272 Use tmp folder from Magento installation to prevent path collisions
  app/code/Magento/Analytics/Model/ExportDataHandler.php
  app/code/Magento/Analytics/Test/Unit/Model/ExportDataHandlerTest.php
Labels: Progress: accept, Award: bug fix, Component: Analytics, Release Line: 2.4, Auto-Tests: Covered, Priority: P1, Severity: S3, mmro-contribution-day2021

#31944 Change description of NewRelic configuration
  app/code/Magento/NewRelicReporting/etc/adminhtml/system.xml
Labels: Progress: accept, partners-contribution, Partner: Comwrap, Component: NewRelicReporting, Cleanup, Release Line: 2.4, Auto-Tests: Not Required, Priority: P2

#35355 Remove configuration options from useless scopes
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockUnassignFromCategoryTest.xml
Labels: partners-contribution, Progress: ready for testing, Partner: Fisheye, Priority: P2

#35439 Missing section when custom role is selected
  app/code/Magento/Webapi/etc/acl.xml
Labels: Progress: ready for testing, Priority: P2

#35608 Skip empty options even when the SkipCheckRequiredOption flag is true
  app/code/Magento/Catalog/Model/Product/Type/AbstractType.php
Labels: Progress: ready for testing, Priority: P2

#35040 [MFTF] Repetitive elements replaced by AdminOpenNewProductFormPageActionGroup
  app/code/Magento/Bundle/Test/Mftf/Test/AdminAttributeSetSelectionTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminBasicBundleProductAttributesTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminDeleteABundleProductTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminFilterProductListByBundleProductTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/BundleProductFixedPricingTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/BundleProductWithTierPriceInCartTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/BundleProductWithTierPriceWithFixedAndPercentOptionsInCartTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/CurrencyChangingBundleProductInCartTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/MassEnableDisableBundleProductsTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontBundleProductDetailsTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontBundleProductShownInCategoryListAndGridTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontGoToDetailsPageWhenAddingToCartTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminAssignProductAttributeToAttributeSetTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateProductCustomAttributeSetTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateVirtualProductWithTierPriceForGeneralGroupTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminEditTextEditorProductAttributeTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUnassignProductAttributeFromAttributeSetTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/CreateProductAttributeEntityTest/CreateProductAttributeEntityDateTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/CreateProductAttributeEntityTest/CreateProductAttributeEntityDropdownTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/CreateProductAttributeEntityTest/CreateProductAttributeEntityDropdownWithSingleQuoteTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/CreateProductAttributeEntityTest/CreateProductAttributeEntityMultiSelectTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/CreateProductAttributeEntityTest/CreateProductAttributeEntityPriceTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/CreateProductAttributeEntityTest/CreateProductAttributeEntityTextFieldTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/VerifyDefaultWYSIWYGToolbarOnProductTest/VerifyDefaultWYSIWYGToolbarOnProductTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/VerifyDefaultWYSIWYGToolbarOnProductTest/VerifydefaultcontrolsonproductshortdescriptionTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/VerifyTinyMCEIsNativeWYSIWYGOnProductTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminConfigurableProductLongSkuTest.xml
  app/code/Magento/Swatches/Test/Mftf/Test/AdminCreateImageSwatchTest.xml
  app/code/Magento/Weee/Test/Mftf/Test/StorefrontBundleWithTwoOptionsWithWeeeAddToCartTest.xml
Labels: Progress: accept, Component: Catalog, partners-contribution, Partner: Atwix, Component: Bundle, Component: ConfigurableProduct, Component: Swatches, Component: Weee, Release Line: 2.4, Priority: P2

#35075 Fix AWS S3 driver that removes the original image if destination path is the same in remove operation
  app/code/Magento/AwsS3/Driver/AwsS3.php
  app/code/Magento/AwsS3/Test/Unit/Driver/AwsS3Test.php
Labels: Release Line: 2.4, Progress: pending review, Priority: P2, Component: AwsS

#35099 [MFTF] Refactoring MoveRecentlyViewedConfigurableProductOnOrderPageTest
  app/code/Magento/Sales/Test/Mftf/Test/MoveRecentlyViewedConfigurableProductOnOrderPageTest.xml
Labels: Component: Sales, partners-contribution, Partner: Atwix, Release Line: 2.4, Progress: pending review, Priority: P2

#35118 Refactoring the test AdminUpdateSimpleProductWithRegularPriceInStockUnassignFromCategoryTest
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockUnassignFromCategoryTest.xml
Labels: Component: Catalog, partners-contribution, Partner: Atwix, Progress: ready for testing, Release Line: 2.4, Priority: P2

#33795 [33099] Set admin field as required while creating Visual Swatch attribute
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminCreateAttributeTextSwatchNthValueActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminCreateAttributeVisualSwatchNthValueActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/Data/ProductAttributeData.xml
  app/code/Magento/Catalog/Test/Mftf/Section/AdminCreateNewProductAttributeSection.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateProductAttributeTextSwatchFromProductPageTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateProductAttributeVisualSwatchFromProductPageTest.xml
  app/code/Magento/Swatches/view/adminhtml/ui_component/product_attribute_add_form.xml
Labels: Progress: accept, Component: Catalog, Area: Frontend, partners-contribution, Partner: Atwix, Award: bug fix, Component: Swatches, Release Line: 2.4, Auto-Tests: Covered, Priority: P2

#34558 Add loading lazy for also for ko templates
  app/code/Magento/Catalog/view/base/web/template/product/list/columns/image.html
  app/code/Magento/Catalog/view/base/web/template/product/list/columns/image_with_borders.html
  app/code/Magento/Catalog/view/frontend/web/template/product/image.html
  app/code/Magento/Catalog/view/frontend/web/template/product/image_with_borders.html
  app/code/Magento/Checkout/view/frontend/web/template/summary/item/details/thumbnail.html
  app/code/Magento/Ui/view/base/web/templates/dynamic-rows/cells/thumbnail.html
  app/code/Magento/Ui/view/base/web/templates/grid/cells/thumbnail.html
  app/code/Magento/Ui/view/base/web/templates/grid/cells/thumbnail/preview.html
Labels: Progress: accept, Component: Checkout, Component: Catalog, Area: Frontend, Component: Ui, Release Line: 2.4, Auto-Tests: Not Required, Priority: P2, Severity: S2, Area: Perf/Frontend, Risk: low
