Repository magento/magento2, pull requests merged in 2022-05, with the labels that each got.

#35157 BugFix: UPS return request address part address line for one line, mu…
  app/code/Magento/Ups/Model/Carrier.php
Labels: Progress: accept, Component: Ups, Release Line: 2.4, Priority: P2

#34883 34858: Adjust validation for upload ICO files
  app/code/Magento/MediaStorage/Model/File/Validator/Image.php
  lib/internal/Magento/Framework/Image/Adapter/ImageMagick.php
Labels: Progress: accept, partners-contribution, Partner: Atwix, Component: MediaStorage, Release Line: 2.4, Auto-Tests: Not Covered, Component: Image, Priority: P2

#32768 MC-41852: issue with product image cache
  app/code/Magento/Catalog/Test/Mftf/Data/ImageContentData.xml
  app/code/Magento/Catalog/Test/Mftf/Data/ProductData.xml
  app/code/Magento/Catalog/Test/Mftf/Test/StorefrontProductImageWithDotTest.xml
  app/code/Magento/MediaStorage/App/Media.php
  dev/tests/acceptance/tests/_data/m.agento-logo.png
Labels: Progress: accept, Component: Catalog, Component: MediaStorage, Release Line: 2.4, Auto-Tests: Covered, Priority: P2

#33277 Fix apply mage events due race condition
  lib/web/mage/mage.js
Labels: Progress: accept, Award: bug fix, Area: Lib/Frontend, Release Line: 2.4, Auto-Tests: Not Required, Priority: P2, Severity: S2, Severity: S1

#34953 Fix php warning on update item qty request from sidebar
  app/code/Magento/Checkout/Controller/Sidebar/UpdateItemQty.php
  app/code/Magento/Checkout/Test/Unit/Controller/Sidebar/UpdateItemQtyTest.php
Labels: Progress: accept, Component: Checkout, Award: test coverage, Award: bug fix, Release Line: 2.4, Auto-Tests: Covered, Priority: P2

#31822 31253 default store breadcrumbs returned for products which in both root categories
  app/code/Magento/Catalog/Model/Indexer/Category/Product/AbstractAction.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Catalog/Product/ProductCategoriesTest.php
  dev/tests/integration/testsuite/Magento/Catalog/_files/product_in_two_root_categories.php
  dev/tests/integration/testsuite/Magento/Catalog/_files/product_in_two_root_categories_rollback.php
Labels: Component: Catalog, Progress: on hold, Release Line: 2.4, Priority: P1, Project: GraphQL, PAP
