Repository magento/magento2, pull requests merged in 2022-02, with the labels that each got.

#34706 Fix incorrect php version check in bootstrap
  app/bootstrap.php
Labels: Progress: accept, Release Line: 2.4, Auto-Tests: Not Required, Priority: P2

#34116 Skip ProcessManagerTest w/o pcntl extension
  app/code/Magento/Indexer/Test/Unit/Model/ProcessManagerTest.php
Labels: Progress: accept, Component: Indexer, Release Line: 2.4, Priority: P2

#34140 Int|null variables must be integer or null
  app/code/Magento/Catalog/Model/ProductRepository.php
Labels: Progress: accept, Component: Catalog, Release Line: 2.4, Priority: P1

#34559 Tailwindui css layout support - colon is not accepted by the pattern
  lib/internal/Magento/Framework/View/Layout/etc/elements.xsd
Labels: Progress: accept, Issue: Confirmed, Award: bug fix, Component: View, Release Line: 2.4, Auto-Tests: Not Required, Priority: P2, Severity: S2, Risk: low

#34620 Add README file for CatalogUrlRewrite, update README file for Developer and Csp module
  app/code/Magento/CatalogUrlRewrite/README.md
  app/code/Magento/Csp/README.md
  app/code/Magento/Developer/README.md
Labels: Progress: accept, Component: CatalogUrlRewrite, partners-contribution, Component: Developer, Partner: Krish TechnoLabs, Release Line: 2.4, Component: Csp, Priority: P2

#34828 [MFTF] Replace repetitive actions to AdminClickSearchInGridActionGroup
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateSimpleProductWithDatetimeAttributeTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminMoveCategoryAndCheckUrlRewritesTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminMoveCategoryToAnotherPositionInCategoryTreeTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateCategoryWithInactiveIncludeInMenuTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminCheckValidatorConfigurableProductTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/StorefrontGalleryConfigurableProductWithSeveralAttributesPrependMediaTest.xml
  app/code/Magento/Review/Test/Mftf/Test/AdminValidateLastReviewDateForReviewsByProductsReportTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/EndToEndB2CAdminTest.xml
  app/code/Magento/Swatches/Test/Mftf/Test/StorefrontSwatchAttributeDisplayedInWidgetCMSTest.xml
  app/code/Magento/UrlRewrite/Test/Mftf/Test/AdminUrlRewritesForProductAfterImportTest.xml
Labels: Progress: accept, Component: Catalog, Component: Sales, partners-contribution, Partner: Atwix, Component: ConfigurableProduct, Component: Swatches, Component: UrlRewrite, Component: Review, Release Line: 2.4, Auto-Tests: Not Required, Priority: P2

#34874 Replace repetitive actions with Action Groups in AdminCreateCategoryWithAnchorFieldTest
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateCategoryWithAnchorFieldTest.xml
Labels: Progress: accept, Component: Catalog, partners-contribution, Partner: Atwix, Release Line: 2.4, Auto-Tests: Not Required, Priority: P2

#34913 [MFTF] Replace action to AdminAssertNoErrorMessageActionGroup
  app/code/Magento/Ui/Test/Mftf/Test/AdminGridFilterRemoveErrorMessageBeforeApplyFiltersTest.xml
Labels: Progress: accept, partners-contribution, Partner: Atwix, Component: Ui, Release Line: 2.4, Auto-Tests: Not Required, Priority: P2

#33372 MFTF: Shipping To Multiple Addresses If Maximum QTY Limit Was Reached
  app/code/Magento/Checkout/Test/Mftf/ActionGroup/StorefrontUpdateProductQTYOnShoppingCartPageActionGroup.xml
  app/code/Magento/Checkout/Test/Mftf/Section/CheckoutCartSummarySection.xml
  app/code/Magento/Multishipping/Test/Mftf/ActionGroup/AssertStorefrontMultiShippingOptionIsNotPresentOnShoppingCartPageActionGroup.xml
  app/code/Magento/Multishipping/Test/Mftf/ActionGroup/AssertStorefrontMultiShippingOptionIsPresentOnShoppingCartPageActionGroup.xml
  app/code/Magento/Multishipping/Test/Mftf/Data/MultishippingConfigData.xml
  app/code/Magento/Multishipping/Test/Mftf/Test/StorefrontCheckoutShippingToMultipleAddressesIfMaximumQtyLimitWasReachedTest.xml
Labels: Progress: accept, Component: Checkout, partners-contribution, Partner: Atwix, Component: Multishipping, Release Line: 2.4, Priority: P2

#33526 [MFTF] AdminAddBundleItemsTest refactoring
  app/code/Magento/Bundle/Test/Mftf/ActionGroup/AdminClickAddOptionOnBundleProductEditPageActionGroup.xml
  app/code/Magento/Bundle/Test/Mftf/ActionGroup/AdminClickAddProductToOptionByOptionIndexActionGroup.xml
  app/code/Magento/Bundle/Test/Mftf/ActionGroup/AdminFillBundleItemQtyActionGroup.xml
  app/code/Magento/Bundle/Test/Mftf/ActionGroup/AdminFillBundleOptionTitleActionGroup.xml
  app/code/Magento/Bundle/Test/Mftf/ActionGroup/AdminFillBundleOptionTypeActionGroup.xml
  app/code/Magento/Bundle/Test/Mftf/ActionGroup/AdminOpenCreateBundleProductPageActionGroup.xml
  app/code/Magento/Bundle/Test/Mftf/Section/AdminProductFormBundleSection.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminAddBundleItemsTest.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminCheckFirstCheckboxInAddProductsToOptionPanelGridActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminClickAddSelectedProductsOnAddProductsToOptionPanelActionGroup.xml
Labels: Progress: accept, Component: Catalog, partners-contribution, Partner: Atwix, Component: Bundle, Release Line: 2.4, Priority: P2

#33667 [MFTF] Refactoring StorefrontVerifyOrderHistoryCommentsTest
  app/code/Magento/Quote/Test/Mftf/Data/CustomerCartData.xml
  app/code/Magento/Sales/Test/Mftf/Test/StorefrontOrderCommentWithHTMLTagsDisplayTest.xml
  app/code/Magento/Sales/Test/Mftf/Test/StorefrontVerifyOrderHistoryCommentsTest.xml
Labels: Progress: accept, Component: Sales, partners-contribution, Partner: Atwix, Component: Quote, Release Line: 2.4, Auto-Tests: Covered, Priority: P2

#33700 [MFTF] Updating with AdminFillBundleItemQtyActionGroup
  app/code/Magento/Bundle/Test/Mftf/ActionGroup/AdminClickAddOptionOnBundleProductEditPageActionGroup.xml
  app/code/Magento/Bundle/Test/Mftf/ActionGroup/AdminClickAddProductToOptionByOptionIndexActionGroup.xml
  app/code/Magento/Bundle/Test/Mftf/ActionGroup/AdminFillBundleItemQtyActionGroup.xml
  app/code/Magento/Bundle/Test/Mftf/ActionGroup/AdminFillBundleOptionTitleActionGroup.xml
  app/code/Magento/Bundle/Test/Mftf/ActionGroup/AdminFillBundleOptionTypeActionGroup.xml
  app/code/Magento/Bundle/Test/Mftf/ActionGroup/AdminOpenCreateBundleProductPageActionGroup.xml
  app/code/Magento/Bundle/Test/Mftf/Section/AdminProductFormBundleSection.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminAddBundleItemsTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminAddDefaultImageBundleProductTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminDeleteABundleProductTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminFilterProductListByBundleProductTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminRemoveDefaultImageBundleProductTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/BundleProductFixedPricingTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/MassEnableDisableBundleProductsTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/NewProductsListWidgetBundleProductTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontAdminEditDataTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontBundleProductDetailsTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontBundleProductShownInCategoryListAndGridTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontEditBundleProductTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontGoToDetailsPageWhenAddingToCartTest.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminCheckFirstCheckboxInAddProductsToOptionPanelGridActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminClickAddSelectedProductsOnAddProductsToOptionPanelActionGroup.xml
Labels: Progress: accept, Component: Catalog, partners-contribution, Partner: Atwix, Component: Bundle, Release Line: 2.4, Priority: P2

#33701 [MFTF] Updating with AdminOpenCreateBundleProductPageActionGroup
  app/code/Magento/Bundle/Test/Mftf/ActionGroup/AdminClickAddOptionOnBundleProductEditPageActionGroup.xml
  app/code/Magento/Bundle/Test/Mftf/ActionGroup/AdminClickAddProductToOptionByOptionIndexActionGroup.xml
  app/code/Magento/Bundle/Test/Mftf/ActionGroup/AdminFillBundleItemQtyActionGroup.xml
  app/code/Magento/Bundle/Test/Mftf/ActionGroup/AdminFillBundleOptionTitleActionGroup.xml
  app/code/Magento/Bundle/Test/Mftf/ActionGroup/AdminFillBundleOptionTypeActionGroup.xml
  app/code/Magento/Bundle/Test/Mftf/ActionGroup/AdminOpenCreateBundleProductPageActionGroup.xml
  app/code/Magento/Bundle/Test/Mftf/Section/AdminProductFormBundleSection.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminAddBundleItemsTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminBasicBundleProductAttributesTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminDeleteABundleProductTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminFilterProductListByBundleProductTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/BundleProductFixedPricingTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/BundleProductWithTierPriceInCartTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/BundleProductWithTierPriceWithFixedAndPercentOptionsInCartTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/CurrencyChangingBundleProductInCartTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/MassEnableDisableBundleProductsTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontBundleProductDetailsTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontBundleProductShownInCategoryListAndGridTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontGoToDetailsPageWhenAddingToCartTest.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminCheckFirstCheckboxInAddProductsToOptionPanelGridActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminClickAddSelectedProductsOnAddProductsToOptionPanelActionGroup.xml
Labels: Progress: accept, Component: Catalog, partners-contribution, Partner: Atwix, Component: Bundle, Release Line: 2.4, Priority: P2

#33703 [MFTF] Updating with AdminCheckFirstCheckboxInAddProductsToOptionPanelGridActionGroup
  app/code/Magento/Bundle/Test/Mftf/ActionGroup/AdminClickAddOptionOnBundleProductEditPageActionGroup.xml
  app/code/Magento/Bundle/Test/Mftf/ActionGroup/AdminClickAddProductToOptionByOptionIndexActionGroup.xml
  app/code/Magento/Bundle/Test/Mftf/ActionGroup/AdminFillBundleItemQtyActionGroup.xml
  app/code/Magento/Bundle/Test/Mftf/ActionGroup/AdminFillBundleOptionTitleActionGroup.xml
  app/code/Magento/Bundle/Test/Mftf/ActionGroup/AdminFillBundleOptionTypeActionGroup.xml
  app/code/Magento/Bundle/Test/Mftf/ActionGroup/AdminOpenCreateBundleProductPageActionGroup.xml
  app/code/Magento/Bundle/Test/Mftf/Section/AdminProductFormBundleSection.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminAddBundleItemsTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminAddDefaultImageBundleProductTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminDeleteABundleProductTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminFilterProductListByBundleProductTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminRemoveDefaultImageBundleProductTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/BundleProductFixedPricingTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/EndToEndB2CAdminTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/MassEnableDisableBundleProductsTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/NewProductsListWidgetBundleProductTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontAdminEditDataTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontBundleProductDetailsTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontBundleProductShownInCategoryListAndGridTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontEditBundleProductTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/StorefrontGoToDetailsPageWhenAddingToCartTest.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminCheckFirstCheckboxInAddProductsToOptionPanelGridActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminClickAddSelectedProductsOnAddProductsToOptionPanelActionGroup.xml
Labels: Progress: accept, Component: Catalog, partners-contribution, Partner: Atwix, Component: Bundle, Release Line: 2.4, Priority: P2

#34249 [MFTF] MoveRecentlyViewedBundleFixedProductOnOrderPageTest refactoring
  app/code/Magento/Customer/Test/Mftf/ActionGroup/AdminClickCreateOrderOnEditCustomerPageActionGroup.xml
  app/code/Magento/Sales/Test/Mftf/ActionGroup/AdminAssertProductInItemsOrderedGridOnCreateOrderPageActionGroup.xml
  app/code/Magento/Sales/Test/Mftf/ActionGroup/AdminClickConfigureForRecentlyViewedProductActionGroup.xml
  app/code/Magento/Sales/Test/Mftf/ActionGroup/AdminClickOkOnConfigureProductSlidingModalActionGroup.xml
  app/code/Magento/Sales/Test/Mftf/ActionGroup/AdminSelectDropdownOptionOnConfigureProductSlidingModalActionGroup.xml
  app/code/Magento/Sales/Test/Mftf/Test/MoveRecentlyViewedBundleFixedProductOnOrderPageTest.xml
Labels: Progress: accept, Component: Customer, Component: Sales, partners-contribution, Partner: Atwix, Release Line: 2.4, Auto-Tests: Covered, Priority: P2

#34536 Replace repetitive actions with Action Groups in AdminUpdateStoreViewTest
  app/code/Magento/Store/Test/Mftf/Test/AdminUpdateStoreViewTest.xml
Labels: Progress: accept, partners-contribution, Partner: Atwix, Component: Store, Release Line: 2.4, Priority: P2

#34610 Replace repetitive actions with Action Groups in AdminCreateCategoryWithFiveNestingTest
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AdminClickAddSubcategoryButtonActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateCategoryWithFiveNestingTest.xml
Labels: Progress: accept, Component: Catalog, partners-contribution, Partner: Atwix, Release Line: 2.4, Auto-Tests: Covered, Priority: P2

#33325 MFTF: Disallow Guests Users To Write Product Reviews
  app/code/Magento/Catalog/Test/Mftf/Data/ConfigData.xml
  app/code/Magento/Catalog/Test/Mftf/Section/StorefrontProductReviewsSection.xml
  app/code/Magento/Review/Test/Mftf/ActionGroup/StorefrontAssertReviewFieldsAreAbsentActionGroup.xml
  app/code/Magento/Review/Test/Mftf/ActionGroup/StorefrontAssertReviewNotificationForNotLoggedInUsersActionGroup.xml
  app/code/Magento/Review/Test/Mftf/Test/StorefrontReviewDisallowGuestsToWriteReviewsTest.xml
Labels: Progress: accept, Component: Catalog, partners-contribution, Partner: Atwix, Component: Review, Award: MFTF test coverage, Release Line: 2.4, Auto-Tests: Not Required, Priority: P2

#33326 [MFTF] Refactoring use ActionGroup instead <see/> tag
  app/code/Magento/Bundle/Test/Mftf/Test/AdminDeleteBundleDynamicPriceProductTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminDeleteBundleDynamicProductTest.xml
  app/code/Magento/Bundle/Test/Mftf/Test/AdminDeleteBundleFixedProductTest.xml
  app/code/Magento/BundleImportExport/Test/Mftf/Test/AdminImportBundleProductTest.xml
  app/code/Magento/Catalog/Test/Mftf/ActionGroup/AssertStorefrontProductInfoMainProductNameActionGroup.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateCategoryWithProductsGridFilterTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateCustomProductAttributeWithDropdownFieldTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateProductAttributeFromProductPageTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateProductCustomAttributeSetTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateVirtualProductOutOfStockWithTierPriceTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateVirtualProductWithCustomOptionsSuiteAndImportOptionsTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminCreateVirtualProductWithoutManageStockTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminDeleteProductWithCustomOptionTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminDeleteVirtualProductTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminMoveAnchoredCategoryToDefaultCategoryTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminMoveCategoryFromParentAnchoredCategoryTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminMoveProductBetweenCategoriesTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateCategoryWithProductsTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateSimpleProductWithRegularPriceInStockEnabledFlatTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithRegularPriceInStockVisibleInCategoryOnlyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithRegularPriceInStockWithCustomOptionsVisibleInSearchOnlyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithRegularPriceOutOfStockVisibleInCategoryAndSearchTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithRegularPriceOutOfStockVisibleInCategoryOnlyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithRegularPriceOutOfStockVisibleInSearchOnlyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithSpecialPriceInStockVisibleInCategoryAndSearchTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithSpecialPriceOutOfStockVisibleInCategoryAndSearchTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithTierPriceInStockVisibleInCategoryOnlyTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/AdminUpdateVirtualProductWithTierPriceOutOfStockVisibleInCategoryAndSearchTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/StorefrontProductNameWithDoubleQuoteTest/StorefrontProductNameWithHTMLEntitiesTest.xml
  app/code/Magento/CatalogRule/Test/Mftf/Test/AdminDeleteCatalogPriceRuleTest.xml
  app/code/Magento/ConfigurableImportExport/Test/Mftf/Test/AdminImportSimpleAndConfigurableProductsWithAssignedImagesTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminConfigurableProductDeleteTest/AdminConfigurableProductDeleteTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminConfigurableProductLongSkuTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/AdminDeleteConfigurableProductTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/StorefrontConfigurableProductDetailsTest/StorefrontConfigurableProductCanAddToCartTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/StorefrontConfigurableProductDetailsTest/StorefrontConfigurableProductCantAddToCartTest.xml
  app/code/Magento/ConfigurableProduct/Test/Mftf/Test/StorefrontVisibilityOfDuplicateProductTest.xml
  app/code/Magento/Customer/Test/Mftf/Test/StorefrontCheckTaxAddingValidVATIdTest.xml
  app/code/Magento/Downloadable/Test/Mftf/Test/AdminCreateDownloadableProductWithManageStockTest.xml
  app/code/Magento/Downloadable/Test/Mftf/Test/AdminDeleteDownloadableProductTest.xml
  app/code/Magento/DownloadableImportExport/Test/Mftf/Test/AdminImportDownloadableProductsWithFileLinksTest.xml
  app/code/Magento/DownloadableImportExport/Test/Mftf/Test/AdminImportDownloadableProductsWithUrlLinksTest.xml
  app/code/Magento/GroupedImportExport/Test/Mftf/Test/AdminImportGroupedProductTest.xml
  app/code/Magento/ImportExport/Test/Mftf/Test/AdminURLKeyWorksWhenUpdatingProductThroughImportingCSVTest.xml
  app/code/Magento/Wishlist/Test/Mftf/Test/ConfigurableProductChildImageShouldBeShownOnWishListTest.xml
  app/code/Magento/Wishlist/Test/Mftf/Test/StorefrontAddMultipleStoreProductsToWishlistTest.xml
Labels: Progress: accept, Component: Catalog, Component: CatalogRule, partners-contribution, Partner: Atwix, Component: Bundle, Component: BundleImportExport, Release Line: 2.4, Priority: P2

#33688 [MFTF] Refactoring MoveLastOrderedSimpleProductOnOrderPageTest
  app/code/Magento/Sales/Test/Mftf/ActionGroup/AdminCheckLastOrderedProductOnCustomerEditPageActionGroup.xml
  app/code/Magento/Sales/Test/Mftf/ActionGroup/AdminClickCreateOrderButtonOnEditCustomerPageActionGroup.xml
  app/code/Magento/Sales/Test/Mftf/ActionGroup/AdminSeeProductInItemsOrderedGridOnCreateOrderPageActionGroup.xml
  app/code/Magento/Sales/Test/Mftf/Test/MoveLastOrderedSimpleProductOnOrderPageTest.xml
Labels: Progress: accept, Component: Sales, partners-contribution, Partner: Atwix, Release Line: 2.4, Priority: P2

#33793 [MFTF] ZeroSubtotalOrdersWithProcessingStatusTest refactoring
  app/code/Magento/Checkout/Test/Mftf/Test/AdminCheckZeroSubtotalOrderIsInProcessingStatusTest.xml
  app/code/Magento/Checkout/Test/Mftf/Test/ZeroSubtotalOrdersWithProcessingStatusTest.xml
Labels: Progress: accept, Component: Checkout, partners-contribution, Partner: Atwix, Release Line: 2.4, Priority: P2

#32758 MFTF: Unlock Admin User Entity Test
  app/code/Magento/User/Test/Mftf/ActionGroup/AdminFindUserOnLockedUsersGridActionGroup.xml
  app/code/Magento/User/Test/Mftf/ActionGroup/AdminUnlockAdminUserEntityOnGridActionGroup.xml
  app/code/Magento/User/Test/Mftf/Section/AdminLockedUsersGridSection.xml
  app/code/Magento/User/Test/Mftf/Test/AdminUnlockAdminUserEntityTest.xml
Labels: Progress: accept, partners-contribution, Partner: Atwix, Component: User, Release Line: 2.4, Priority: P2, Severity: S3
