Repository magento/magento2, pull requests merged in 2022-10, with the labels that each got.

#35986 Fixed Issue #35899: Filtering with out of stock products, limited only to products in…
  app/code/Magento/Elasticsearch/Model/ResourceModel/Fulltext/Collection/SearchResultApplier.php
Labels: Progress: pending review, Priority: P1, Priority: P0

#34992 #34991 GraphQL Bundle Options generates wrong DB request and result: …
  app/code/Magento/BundleGraphQl/Model/Resolver/Options/Collection.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Bundle/BundleProductViewTest.php
  dev/tests/integration/testsuite/Magento/Bundle/_files/bundle_product_with_sku_as_next_entity_id.php
  dev/tests/integration/testsuite/Magento/Bundle/_files/bundle_product_with_sku_as_next_entity_id_rollback.php
Labels: Progress: accept, Release Line: 2.4, Auto-Tests: Covered, Component: BundleGraphQl, Priority: P1

#25677 Fix for the Issue #25676 with method checkIsAllRequiredOptions for Bundle product
  app/code/Magento/Bundle/Model/Product/Type.php
  dev/tests/api-functional/testsuite/Magento/GraphQl/Bundle/AddBundleProductToCartTest.php
  dev/tests/integration/testsuite/Magento/Bundle/_files/product_with_multiple_options_multiselect_checkbox.php
  dev/tests/integration/testsuite/Magento/Bundle/_files/product_with_multiple_options_multiselect_checkbox_rollback.php
Labels: Progress: accept, partners-contribution, Partner: Atwix, Component: Bundle, Release Line: 2.4, Priority: P1, Project: GraphQL

#36147 Issue 33767: Product price updated using Manage Base Price API is not…
  app/code/Magento/Catalog/Model/Product/Price/BasePriceStorage.php
  app/code/Magento/Catalog/Test/Unit/Model/Product/Price/BasePriceStorageTest.php
Labels: Progress: accept, Award: bug fix, Auto-Tests: Covered, Priority: P1

#36180 Issue 35925: Internal Server Error in /V1/creditmemo/refund API Endpoint
  app/code/Magento/Sales/Model/Service/CreditmemoService.php
  app/code/Magento/Sales/Test/Unit/Model/Service/CreditmemoServiceTest.php
  app/code/Magento/Sales/i18n/en_US.csv
Labels: Progress: accept, Component: Sales, Auto-Tests: Covered, Priority: P2

#36198 Issue 35923: Internal Server Error in /V1/products/{sku}/links API En…
  app/code/Magento/Catalog/Model/ProductLink/Repository.php
  app/code/Magento/Catalog/Test/Unit/Model/ProductLink/RepositoryTest.php
  app/code/Magento/Catalog/i18n/en_US.csv
Labels: Progress: accept, Award: bug fix, Auto-Tests: Covered, Priority: P2

#36222 Issue 36207: Validation messages are duplicated on customer registrat…
  app/code/Magento/Customer/Test/Mftf/Test/StorefrontLoginFormCheckDuplicateValidateMessageTest.xml
  lib/web/jquery/jquery.validate.js
Labels: Progress: accept, Priority: P2, Severity: S4

#36224 Fix best practice "Asynchronous order data processing" for auto invoiced orders
  app/code/Magento/Sales/Model/Order/Invoice/Plugin/AddressUpdate.php
  app/code/Magento/Sales/Test/Unit/Model/Order/Invoice/Plugin/AddressUpdateTest.php
Labels: Progress: accept, partners-contribution, Partner: Ampersand, Priority: P1, Severity: S1, QA: Added to Regression Scope, Triage: Performance

#36229 Issue 35981: Cart Rule with product qty requirement does work
  app/code/Magento/SalesRule/Model/Rule/Condition/Product.php
  app/code/Magento/SalesRule/Model/Rule/Condition/Product/Combine.php
  app/code/Magento/SalesRule/Test/Unit/Model/Rule/Condition/Product/CombineTest.php
Labels: Progress: accept, Priority: P2

#36231 Issue 35964: Bundle options decimal qty is rendered as an integer par…
  app/code/Magento/Bundle/Block/Adminhtml/Sales/Order/Items/Renderer.php
  app/code/Magento/Bundle/Block/Adminhtml/Sales/Order/View/Items/Renderer.php
  app/code/Magento/Bundle/Block/Sales/Order/Items/Renderer.php
  app/code/Magento/Bundle/Model/Sales/Order/Pdf/Items/AbstractItems.php
  app/code/Magento/Bundle/Test/Unit/Block/Adminhtml/Sales/Order/Items/RendererTest.php
  app/code/Magento/Bundle/Test/Unit/Block/Adminhtml/Sales/Order/View/Items/RendererTest.php
  app/code/Magento/Bundle/Test/Unit/Block/Sales/Order/Items/RendererTest.php
  app/code/Magento/Bundle/Test/Unit/Model/Sales/Order/Pdf/Items/AbstractItemsTest.php
Labels: Progress: accept, Priority: P2, QA: Added to Regression Scope

#36253 Import - Allowed Error Count Fix For Zero Or Greater #36252
  app/code/Magento/ImportExport/Block/Adminhtml/Import/Edit/Form.php
Labels: Progress: accept, Priority: P2

#36304 Remove forbidden `@author` tag from import/export modules
  app/code/Magento/AdvancedPricingImportExport/Model/Export/AdvancedPricing.php
  app/code/Magento/CatalogImportExport/Model/Import/Proxy/Product.php
  app/code/Magento/CatalogImportExport/Model/Import/Proxy/Product/ResourceModel.php
  app/code/Magento/ImportExport/Block/Adminhtml/Export/Edit.php
  app/code/Magento/ImportExport/Block/Adminhtml/Export/Edit/Form.php
  app/code/Magento/ImportExport/Block/Adminhtml/History.php
  app/code/Magento/ImportExport/Block/Adminhtml/Import/Edit.php
  app/code/Magento/ImportExport/Block/Adminhtml/Import/Edit/Before.php
  app/code/Magento/ImportExport/Block/Adminhtml/Import/Edit/Form.php
  app/code/Magento/ImportExport/Model/AbstractModel.php
  app/code/Magento/ImportExport/Model/Import/Adapter.php
  app/code/Magento/TaxImportExport/Block/Adminhtml/Rate/Grid/Renderer/Country.php
Labels: Progress: accept, partners-contribution, Partner: Fisheye, Priority: P2

#36307 Issue 36299: Item Qty Goes Negative When Using The Down Arrow Keyboar…
  app/code/Magento/Checkout/view/frontend/templates/cart/item/default.phtml
  app/code/Magento/Checkout/view/frontend/web/template/minicart/item/default.html
Labels: Progress: accept, Priority: P2, Severity: S3

#35816 Fix email preview template cut off
  app/code/Magento/Email/view/adminhtml/templates/preview/iframeswitcher.phtml
Labels: Progress: accept, Priority: P2

#36061 Issue 36060: Can't place order for ordered qty less than 1 with guest…
  app/code/Magento/Checkout/Model/GuestPaymentInformationManagement.php
Labels: Progress: accept, Award: bug fix, Priority: P1

#36080 Issue 36073: Coupon codes export to Excel XML not working as expected
  app/code/Magento/Backend/Block/Widget/Grid/Extended.php
Labels: Progress: accept, Award: bug fix, Component: Backend, Auto-Tests: Not Required, Priority: P2, QA: Added to Regression Scope

#34884 Removing ie-class-fixer.js
  app/design/adminhtml/Magento/backend/web/js/theme.js
  app/design/frontend/Magento/blank/Magento_Theme/web/js/theme.js
  lib/web/mage/ie-class-fixer.js
Labels: Progress: accept, Area: Design/Frontend, Release Line: 2.4, Auto-Tests: Not Required, Priority: P2, Area: Perf/Frontend

#33892 Removed lonely <br> tags in payment.html template, when invisible captcha is enabled or completely disabled
  app/code/Magento/Checkout/view/frontend/web/template/payment.html
Labels: Component: Checkout, Area: Frontend, Area: Design/Frontend, Progress: ready for testing, Release Line: 2.4, Auto-Tests: Not Required, Severity: S4, Priority: P4, Risk: low

#34072 code cleanup: Remove impossible invoice condition
  app/code/Magento/Sales/Controller/Adminhtml/Order/Invoice/Save.php
Labels: Component: Sales, Cleanup, Progress: ready for testing, Release Line: 2.4, Auto-Tests: Not Required, Severity: S4, Priority: P4

#33742 Fix language in cookie_status.phtml
  app/code/Magento/Theme/view/frontend/templates/js/cookie_status.phtml
Labels: Area: Frontend, Component: Theme, Cleanup, Progress: ready for testing, Release Line: 2.4, Auto-Tests: Not Required, Severity: S3, Priority: P4, Type: Code Cleanup

#33859 Fix method signature
  lib/internal/Magento/Framework/HTTP/Client/Curl.php
Labels: Component: HTTP, Release Line: 2.4, Progress: review, Priority: P4

#33973 Updating App Emulation php docs
  app/code/Magento/Store/Model/App/Emulation.php
Labels: Component: Store, Cleanup, Progress: ready for testing, Release Line: 2.4, Auto-Tests: Not Required, Severity: S3, Priority: P4, Risk: low

#31794 [MFTF] Removing the Sales MFTF dependency by Paypal module
  app/code/Magento/Paypal/Test/Mftf/Data/AdminMenuData.xml
  app/code/Magento/Sales/Test/Mftf/Data/AdminMenuData.xml
Labels: Progress: accept, Component: Sales, partners-contribution, Partner: Atwix, Component: Paypal, Release Line: 2.4, Priority: P2, Severity: S2

#34891 Fix Image cache clean comment
  app/code/Magento/Backend/Controller/Adminhtml/Cache/CleanImages.php
Labels: Component: Backend, Release Line: 2.4, Progress: pending review, Priority: P4

#32979 PhpDoc @param $quote can accept null
  app/code/Magento/Payment/Model/MethodList.php
Labels: Component: Payment, partners-contribution, Progress: ready for testing, Release Line: 2.4, Auto-Tests: Not Required, Partner: MRM Commerce, Priority: P4

#32995 Remove unnecessary code in estimateTotals method
  app/code/Magento/Checkout/view/frontend/web/js/model/cart/totals-processor/default.js
Labels: Component: Checkout, Area: Frontend, Cleanup, Progress: ready for testing, Release Line: 2.4, Auto-Tests: Not Required, Severity: S4, Priority: P4

#33093 Issue 33081 - add missing price currency to advanced search
  app/code/Magento/CatalogSearch/view/frontend/templates/advanced/form.phtml
Labels: Area: Frontend, partners-contribution, Partner: Atwix, Component: CatalogSearch, Release Line: 2.4, Progress: pending review, Severity: S3, Priority: P4

#33148 Changed class description in auto generated patch
  app/code/Magento/MediaGalleryUi/Setup/Patch/Data/AddMediaGalleryPermissions.php
Labels: partners-contribution, Partner: Atwix, Progress: ready for testing, Release Line: 2.4, Auto-Tests: Not Required, Priority: P4, Component: MediaGalleryUi, Risk: low
