Repository magento/magento2, pull requests merged in 2022-07, with the labels that each got.

#35352 Passed value has correct type
  app/code/Magento/Backend/Model/Auth/Session.php
Labels: Progress: on hold, partners-contribution, Partner: Atwix, Priority: P1

#35567 magento/magento2#32464: Magento erroneously assums one category is parent of another based on category path
  app/code/Magento/Catalog/Model/CategoryManagement.php
  app/code/Magento/Catalog/Test/Unit/Model/CategoryManagementTest.php
Labels: Progress: accept, bugfix, partners-contribution, Auto-Tests: Covered, Priority: P2, Severity: S1, Partner: Perspective Studio

#35092 [MFTF] Repetitive elements replaced by AdminAssertCurrencyInOrderActionGroup
  app/code/Magento/CurrencySymbol/Test/Mftf/Test/AdminOrderRateDisplayWhenChooseThreeAllowedCurrenciesTest.xml
  app/code/Magento/CurrencySymbol/Test/Mftf/Test/AdminOrderRateDisplayedInOneLineTest.xml
  app/code/Magento/Paypal/Test/Mftf/Test/StorefrontPaypalSmartButtonWithFranceMerchantCountryTest.xml
Labels: partners-contribution, Partner: Atwix, Component: Paypal, Component: CurrencySymbol, Release Line: 2.4, Progress: pending review, Priority: P2

#32241 Add SMTP configuration + transport options
  app/code/Magento/Backend/etc/adminhtml/system.xml
  app/code/Magento/Email/Model/Config/Source/SmtpAuthType.php
  app/code/Magento/Email/Model/Config/Source/SmtpSslType.php
  app/code/Magento/Email/Model/Config/Source/SmtpTransportType.php
  app/code/Magento/Email/Model/Transport.php
  app/code/Magento/Email/etc/config.xml
Labels: Progress: accept, Component: Backend, Component: Email, Release Line: 2.4, Priority: P2, Severity: S2
