Repository magento/magento2, pull requests merged in 2023-02, with the labels that each got.

#36693 Internal server error on Category graphQl query for redirect code field
  app/code/Magento/CatalogGraphQl/Model/Resolver/Products/DataProvider/ExtractDataFromCategoryTree.php
Labels: Progress: accept, Auto-Tests: Not Covered, Priority: P1

#36663 fix: #14495 Allow custom varchar attributes for customer grid
  app/code/Magento/Customer/Test/Unit/Ui/Component/Listing/ColumnsTest.php
  app/code/Magento/Customer/Ui/Component/Listing/Columns.php
Labels: Progress: accept, Triage: Dev.Experience, Priority: P2

#35948 Integration Tests: `setup:install` command hangs when question provided
  dev/tests/integration/framework/Magento/TestFramework/Application.php
  dev/tests/integration/framework/tests/unit/testsuite/Magento/Test/ApplicationTest.php
Labels: Progress: accept, Auto-Tests: Not Required, Triage: Dev.Experience, Priority: P2, Severity: S2, Issue: needs update

#36414 Do not use store code in URLs when site is in single store mode
  app/code/Magento/Store/Model/Store.php
  dev/tests/integration/testsuite/Magento/Store/Model/StoreTest.php
Labels: Progress: accept, partners-contribution, Priority: P3, Partner: Elgentos, Project: Community Picked

#36452 Allow more htmlClasses
  lib/internal/Magento/Framework/View/Layout/etc/elements.xsd
Labels: Progress: accept, Triage: Dev.Experience, Priority: P2, Issue: needs update, Project: Community Picked

#34186 Set process title when running cron job
  app/code/Magento/Cron/Observer/ProcessCronQueueObserver.php
  app/code/Magento/Cron/Test/Unit/Observer/ProcessCronQueueObserverTest.php
Labels: Progress: accept, Component: Cron, partners-contribution, Release Line: 2.4, Partner: Fisheye, Triage: Dev.Experience, Priority: P2, Project: Community Picked

#34232 Fixed error message related to message queue topic not including the topic name
  lib/internal/Magento/Framework/MessageQueue/Test/Unit/Topology/Config/QueueConfigItem/DataMapperTest.php
  lib/internal/Magento/Framework/MessageQueue/Topology/Config/QueueConfigItem/DataMapper.php
Labels: Progress: accept, Component: MessageQueue, Release Line: 2.4, Auto-Tests: Covered, Triage: Dev.Experience, Priority: P3, Project: Community Picked

#31355 Refactor: Swatches Helper / Remove misleading aliases, refactor the class
  app/code/Magento/Swatches/Helper/Data.php
Labels: Progress: accept, partners-contribution, Component: Swatches, Cleanup, Release Line: 2.4, Auto-Tests: Not Required, Triage: Dev.Experience, Severity: S4, Priority: P4, Partner: Blue Acorn iCi, Project: Community Picked

#31360 Refactor of 'Around' plugins
  app/code/Magento/Bundle/Model/Plugin/PriceBackend.php
  app/code/Magento/ConfigurableProduct/Model/Plugin/PriceBackend.php
  app/code/Magento/Store/Url/Plugin/SecurityInfo.php
  app/code/Magento/Webapi/Model/Plugin/GuestAuthorization.php
  app/code/Magento/Widget/Model/ResourceModel/Layout/Plugin.php
Labels: Progress: accept, partners-contribution, Component: Webapi, Component: Bundle, Component: ConfigurableProduct, Component: Widget, Component: Store, Cleanup, Release Line: 2.4, Triage: Dev.Experience, Priority: P3, Severity: S3, Partner: Blue Acorn iCi, Project: Community Picked
