Repository magento/magento2, pull requests merged in 2024-02, with the labels that each got.

#38335 Put division calculations in less files in parentheses if they were not there alr…
  app/design/adminhtml/Magento/backend/Magento_Backend/web/css/source/module/_header.less
  app/design/adminhtml/Magento/backend/Magento_Backend/web/css/source/module/_menu.less
  app/design/adminhtml/Magento/backend/Magento_Backend/web/css/source/module/header/_headings-group.less
  app/design/adminhtml/Magento/backend/Magento_Backend/web/css/source/module/header/actions-group/_notifications.less
  app/design/adminhtml/Magento/backend/Magento_Backend/web/css/source/module/header/actions-group/_search.less
  app/design/adminhtml/Magento/backend/Magento_Backend/web/css/source/module/pages/_dashboard.less
  app/design/adminhtml/Magento/backend/Magento_ConfigurableProduct/web/css/source/module/components/navigation-bar/_navigation-bar.less
  app/design/adminhtml/Magento/backend/Magento_ConfigurableProduct/web/css/source/module/steps/_attribute-values.less
  app/design/adminhtml/Magento/backend/Magento_Marketplace/web/css/source/_module.less
  app/design/adminhtml/Magento/backend/Magento_ProductVideo/web/css/source/_module.less
  app/design/adminhtml/Magento/backend/Magento_Staging/web/css/source/module/_scheduled-changes.less
  app/design/adminhtml/Magento/backend/Magento_Ui/web/css/source/module/_masonry-grid.less
  app/design/adminhtml/Magento/backend/Magento_Ui/web/css/source/module/data-grid/data-grid-header/_data-grid-action-bookmarks.less
  app/design/adminhtml/Magento/backend/Magento_Ui/web/css/source/module/data-grid/data-grid-header/_data-grid-filters.less
  app/design/adminhtml/Magento/backend/web/app/setup/styles/less/components/_navigation-bar.less
  app/design/adminhtml/Magento/backend/web/app/setup/styles/less/components/tooltips/_tooltips.less
  app/design/adminhtml/Magento/backend/web/app/setup/styles/less/lib/_buttons.less
  app/design/adminhtml/Magento/backend/web/app/setup/styles/less/lib/forms/_selects.less
  app/design/adminhtml/Magento/backend/web/css/source/_actions.less
  app/design/adminhtml/Magento/backend/web/css/source/_grid.less
  app/design/adminhtml/Magento/backend/web/css/source/actions/_actions-multiselect.less
  app/design/adminhtml/Magento/backend/web/css/source/actions/_actions-split.less
  app/design/adminhtml/Magento/backend/web/css/source/components/_data-tooltip.less
  app/design/adminhtml/Magento/backend/web/css/source/components/_file-uploader.less
  app/design/adminhtml/Magento/backend/web/css/source/components/_modals_extend.less
  app/design/adminhtml/Magento/backend/web/css/source/components/_resizable-block.less
  app/design/adminhtml/Magento/backend/web/css/source/components/_slider.less
  app/design/adminhtml/Magento/backend/web/css/source/components/_spinner.less
  app/design/adminhtml/Magento/backend/web/css/source/components/_timeline.less
  app/design/adminhtml/Magento/backend/web/css/source/forms/_extends.less
  app/design/adminhtml/Magento/backend/web/css/source/forms/_temp.less
  app/design/adminhtml/Magento/backend/web/css/source/utilities/_actions.less
  app/design/adminhtml/Magento/backend/web/css/source/variables/_components.less
  app/design/adminhtml/Magento/backend/web/css/source/variables/_structure.less
  app/design/frontend/Magento/blank/Magento_Catalog/web/css/source/_widgets.less
  app/design/frontend/Magento/blank/Magento_Catalog/web/css/source/module/_listings.less
  app/design/frontend/Magento/blank/Magento_Checkout/web/css/source/module/checkout/_progress-bar.less
  app/design/frontend/Magento/blank/Magento_Checkout/web/css/source/module/checkout/_shipping.less
  app/design/frontend/Magento/blank/Magento_Sales/web/css/source/_module.less
  app/design/frontend/Magento/luma/Magento_Catalog/web/css/source/module/_listings.less
  app/design/frontend/Magento/luma/Magento_Checkout/web/css/source/module/_cart.less
  app/design/frontend/Magento/luma/Magento_Checkout/web/css/source/module/checkout/_progress-bar.less
  app/design/frontend/Magento/luma/Magento_Checkout/web/css/source/module/checkout/_shipping.less
  app/design/frontend/Magento/luma/Magento_Checkout/web/css/source/module/checkout/fields/_file-uploader.less
  app/design/frontend/Magento/luma/Magento_Rma/web/css/source/_module.less
  app/design/frontend/Magento/luma/Magento_Sales/web/css/source/_module.less
  dev/tests/static/testsuite/Magento/Test/Less/_files/blacklist/old.txt
  lib/web/css/source/components/_modals.less
  lib/web/css/source/lib/_forms.less
  lib/web/css/source/lib/_messages.less
  lib/web/css/source/lib/_tables.less
  lib/web/css/source/lib/_utilities.less
  lib/web/css/source/lib/variables/_forms.less
Labels: Award: bug fix, Award: category of expertise, Progress: ready for testing, Auto-Tests: Not Required, Triage: Dev.Experience, Priority: P2

#36331 Issue 36243: hide duplicate pictures when the product color is switched
  app/code/Magento/Swatches/view/base/web/js/swatch-renderer.js
Labels: Progress: pending review, Priority: P2

#38441 Also replace jquery/fileUploader with jquery/uppy in list of files to…
  app/design/frontend/Magento/blank/etc/view.xml
  app/design/frontend/Magento/luma/etc/view.xml
Labels: Progress: ready for testing, Priority: P2

#38052 Remove Varnish 4/5 support
  app/code/Magento/CacheInvalidate/Model/PurgeCache.php
  app/code/Magento/PageCache/Block/System/Config/Form/Field/Export/Varnish4.php
  app/code/Magento/PageCache/Block/System/Config/Form/Field/Export/Varnish5.php
  app/code/Magento/PageCache/Console/Command/GenerateVclCommand.php
  app/code/Magento/PageCache/Controller/Adminhtml/PageCache/ExportVarnishConfig.php
  app/code/Magento/PageCache/Model/Config.php
  app/code/Magento/PageCache/Model/Varnish/VclTemplateLocator.php
  app/code/Magento/PageCache/Test/Unit/Model/ConfigTest.php
  app/code/Magento/PageCache/etc/adminhtml/system.xml
  app/code/Magento/PageCache/etc/config.xml
  dev/tests/integration/testsuite/Magento/PageCache/Block/System/Config/Form/Field/ExportTest.php
  dev/tests/integration/testsuite/Magento/PageCache/Model/ConfigTest.php
Labels: Progress: accept, Triage: Dev.Experience, Priority: P2, Risk: low, Project: Community Picked

#38177 Fix incorrect PHP doc tag value in Magento\Reports\Block\Adminhtml\Shopcart\Product\Grid class
  app/code/Magento/Reports/Block/Adminhtml/Shopcart/Product/Grid.php
Labels: Progress: accept, Priority: P3, Type: Code Cleanup, Project: Community Picked

#38211 [vcl] don't manually interfere with compression
  app/code/Magento/PageCache/etc/varnish4.vcl
  app/code/Magento/PageCache/etc/varnish5.vcl
  app/code/Magento/PageCache/etc/varnish6.vcl
  dev/tests/varnish/compression.vtc
Labels: Progress: accept, Award: test coverage, Component: PageCache, Auto-Tests: Covered, Triage: Dev.Experience, Priority: P2, Project: Community Picked

#38272 Disable charts on dashboard by default
  app/code/Magento/Backend/etc/config.xml
Labels: Progress: accept, partners-contribution, Partner: Youwe, Priority: P2

#37553 Fixed issue create order page in admin - move items from shopping cart
  app/code/Magento/Sales/Model/AdminOrder/Create.php
  app/code/Magento/Sales/Test/Mftf/Test/AdminCreateOrderToVerifyMoveItemToOrderItemsAndBackToCartTest.xml
Labels: Progress: accept, Award: test coverage, partners-contribution, Priority: P2, Partner: Perspective Studio, Project: Community Picked

#36524 Don't cache private content in Varnish, only 200 and 404 responses. A…
  app/code/Magento/PageCache/etc/varnish4.vcl
  app/code/Magento/PageCache/etc/varnish5.vcl
  app/code/Magento/PageCache/etc/varnish6.vcl
  dev/tests/varnish/no-caching.vtc
Labels: Progress: accept, Component: PageCache, Auto-Tests: Covered, Triage: Dev.Experience, Priority: P3, Type: Bug Fix, Project: Community Picked

#36538 Add input-file argument to varnish:vcl:generate
  app/code/Magento/PageCache/Console/Command/GenerateVclCommand.php
  app/code/Magento/PageCache/Model/Varnish/VclGenerator.php
  app/code/Magento/PageCache/Model/Varnish/VclTemplateLocator.php
  app/code/Magento/PageCache/Model/VclGeneratorInterface.php
  app/code/Magento/PageCache/Model/VclTemplateLocatorInterface.php
  app/code/Magento/PageCache/Test/Unit/Console/Command/GenerateVclCommandInputOptionTest.php
  app/code/Magento/PageCache/Test/Unit/Model/Varnish/VclTemplateLocatorTest.php
Labels: Progress: accept, partners-contribution, Priority: P3, Partner: Elgentos, Project: Community Picked

#33375 33040 add is subscription enabled checking to new action controller
  app/code/Magento/Newsletter/Controller/Subscriber/NewAction.php
  dev/tests/integration/testsuite/Magento/Newsletter/Controller/Subscriber/NewActionTest.php
Labels: Progress: accept, partners-contribution, Partner: Atwix, Award: bug fix, Component: Newsletter, Release Line: 2.4, Auto-Tests: Covered, Priority: P3

#32455 Added attribute crossorigin to head.xsd for linkTypes
  lib/internal/Magento/Framework/View/Layout/etc/head.xsd
Labels: Progress: accept, Award: bug fix, Component: View, Release Line: 2.4, Auto-Tests: Not Required, Priority: P2, Severity: S3, Risk: low, Project: Community Picked

#31356 Bug Fix: Add missing return statement to admin usage enable controller
  app/code/Magento/AdminAnalytics/Controller/Adminhtml/Config/EnableAdminUsage.php
  app/code/Magento/AdminAnalytics/Test/Unit/Controller/Adminhtml/Config/EnableAdminUsageTest.php
Labels: Progress: accept, Award: test coverage, partners-contribution, Award: bug fix, Release Line: 2.4, Auto-Tests: Covered, Component: AdminAnalytics, Priority: P3, Severity: S3, Partner: Blue Acorn iCi

#28944 [vcl] Better debug
  app/code/Magento/PageCache/etc/varnish6.vcl
  dev/tests/varnish/README.md
  dev/tests/varnish/debug.vtc
Labels: Progress: accept, Award: test coverage, Component: PageCache, Award: category of expertise, Release Line: 2.4, Auto-Tests: Covered, Triage: Dev.Experience, Priority: P3, Severity: S3, Risk: low, Project: Community Picked

#37996 Multiple clicks in massaction dropdown generates multiple post request
  app/code/Magento/Ui/view/base/web/js/grid/massactions.js
Labels: Progress: accept, Priority: P2, Project: Community Picked

#38074 fix for #37957 issue (Image uploader does not work inside dynamic rows)
  lib/internal/Magento/Framework/File/Uploader.php
Labels: Progress: accept, partners-contribution, Triage: Dev.Experience, Priority: P2, Project: Community Picked, Partner: Perspective Team

#38129 Fix/styles priority media mobile mixin for extend file
  app/design/frontend/Magento/blank/web/css/styles-l.less
  app/design/frontend/Magento/blank/web/css/styles-m.less
Labels: Progress: accept, Award: bug fix, Award: category of expertise, Triage: Dev.Experience, Priority: P2, Project: Community Picked

#38215 Stop flushing fpc when not asked for
  app/code/Magento/Backend/Console/Command/CacheCleanCommand.php
  app/code/Magento/Backend/Console/Command/CacheFlushCommand.php
  app/code/Magento/Backend/Test/Unit/Console/Command/AbstractCacheManageCommandTest.php
  app/code/Magento/Backend/Test/Unit/Console/Command/CacheCleanCommandTest.php
  app/code/Magento/Backend/Test/Unit/Console/Command/CacheFlushCommandTest.php
Labels: Progress: accept, Triage: Dev.Experience, Priority: P2, Project: Community Picked

#38276 Fix already merged PR 37477 : After changing "foreach" to "for", the "return" broke the function logic
  app/code/Magento/Ui/view/base/web/js/lib/view/utils/dom-observer.js
Labels: Progress: accept, Priority: P2

#37511 Let background commands actually run in the background
  app/code/Magento/Bundle/Test/Mftf/Test/AdminBundleDynamicAttributesAfterMassUpdateTest.xml
  app/code/Magento/Catalog/Test/Mftf/Test/StorefrontVerifyProductAfterPartialReindexOnSeveralWebsitesTest.xml
  app/code/Magento/SalesRule/Test/Mftf/Test/StorefrontReuseCouponCodeAfterOrderCanceledTest.xml
  lib/internal/Magento/Framework/Shell/CommandRendererBackground.php
  lib/internal/Magento/Framework/Shell/Test/Unit/CommandRendererBackgroundTest.php
Labels: Progress: accept, partners-contribution, Award: category of expertise, Partner: Youwe, Triage: Dev.Experience, Priority: P2, Project: Community Picked
