Repository magento/magento2, pull requests merged in 2025-09, with the labels that each got.

#28761 magento/magento2#: GraphQl mutation. Additional test coverage for customer storeConfig settings.
  dev/tests/api-functional/testsuite/Magento/GraphQl/Customer/StoreConfigTest.php
Labels: partners-contribution, Partner: Atwix, Progress: ready for testing, Release Line: 2.4, Auto-Tests: Covered, Priority: P3, Severity: S3, Project: GraphQL

#31150 Remove duplicated variables from one of less files
  lib/web/css/source/lib/_pages.less
Labels: Area: Lib/Frontend, Cleanup, Progress: ready for testing, Release Line: 2.4, Auto-Tests: Not Required, Triage: Dev.Experience, Severity: S4, Priority: P4, Risk: low

#31862 Remove a duplicated <severity> tag from MFTF test AdminSetUpWatermarkForSwatchImageTest
  app/code/Magento/Swatches/Test/Mftf/Test/AdminSetUpWatermarkForSwatchImageTest.xml
Labels: Component: Swatches, Cleanup, Progress: ready for testing, Release Line: 2.4, Auto-Tests: Covered, Triage: Dev.Experience, Priority: P4, Risk: low

#38282 Internal Server Error in /V1/order/{orderId}/ship API Endpoint
  app/code/Magento/Webapi/Controller/Rest/SynchronousRequestProcessor.php
  dev/tests/api-functional/testsuite/Magento/Sales/Service/V1/ShipOrderTest.php
Labels: Priority: P2

#40110 Allow queue-specific configuration to exceed the default max-messages value
  app/code/Magento/MessageQueue/Model/Cron/ConsumersRunner.php
  app/code/Magento/MessageQueue/Test/Unit/Model/Cron/ConsumersRunnerTest.php
Labels: Progress: ready for testing, Triage: Dev.Experience, Priority: P2, Project: Community Picked

#39844 Small cleanup, removed duplicated keys from array
  app/code/Magento/OfflineShipping/Model/ResourceModel/Carrier/Tablerate/CSV/ColumnResolver.php
  app/code/Magento/OfflineShipping/Test/Unit/Model/ResourceModel/Carrier/Tablerate/CSV/ColumnResolverTest.php
Labels: Triage: Dev.Experience, Priority: P3, Project: Community Picked

#40065 Add Store Code to Urls should be Global
  app/code/Magento/Catalog/Test/Unit/Block/Widget/LinkTest.php
  app/code/Magento/Store/App/Request/StorePathInfoValidator.php
  app/code/Magento/Store/Model/Store.php
  app/code/Magento/Store/Test/Unit/App/Request/StorePathInfoValidatorTest.php
  app/code/Magento/Store/Test/Unit/Url/Plugin/RouteParamsResolverTest.php
  app/code/Magento/Store/Url/Plugin/RouteParamsResolver.php
  dev/tests/integration/testsuite/Magento/Store/Model/StoreTest.php
Labels: Triage: Dev.Experience, Priority: P3, Project: Community Picked
